[2020-07-01 08:50] dharmit opened #3467 "Operator Hub and experimental mode"
/kind discussion
/area service-operators

What's the plan with regard to Operator Hub and experimental mode? My understanding is that we're going to move devfile support from currently experimental to supported with odo v2 release. However, Operator Hub integration has been happening in experimental mode, and we're still working on it.

ping @kadel @girishramnani

[2020-07-01 08:56] dharmit commented on #2920
We are creating a link using the "Service Binding Operator". In a way we're creating a service from an Operator. Hence, it shows up under `odo service list`. Indeed, the `odo service list` command lists the services only. But in this case, the link is a service of type "Service Binding Request" provided by the Operator "Service Binding Operator". Does that help clear the confusion?

At the moment,

[2020-07-01 08:57] girishramnani commented on #3378
@amitkrout please observe that the tests are to be added in the odo-devfiles/registry

[2020-07-01 09:08] prietyc123 opened #3468 "Add --devfile flag for "odo delete" enhance UX"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported

**Output of `odo version`:**
master

## How did you run odo exactly?

[code]

## Actual behavior

`--devfile` not added for `odo delete --devfile devfile.yaml`

## Expected behavior

UX should also contain `--devfile` definition for `odo delete`

## Any logs, error output, etc?

[2020-07-01 09:17] anandrkskd opened #3469 "odo create --now doesn't deploy component on cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora
**Output of `odo version`:**
master
## How did you run odo exactly?

[code]

## Actual behavior
**--now** not working with `odo create  --downloadSource nodejs   --env VariableName=Value --env app=nodejstest --now --port 3000`
No components are deployed with this command, need to push explicitly with `odo push` .

[2020-07-01 09:18] mik-dass commented on #3307
I tried the above scenario and everything works me
[code]
Also the above script has some problems. `mkdir {1...9}` doesn't create folders named from 1 to 9, it creates a folder named {1...9}. Also the `sed` command in incorrect. The correct one is `sed -i "s/Hello/Hello 1/g" server.js`. Even after the fixes, watch normally for me.

[2020-07-01 09:32] sarveshtamba commented on #3454
[odo_test-generic_failures_ppc64le.txt](https://github.com/openshift/odo/files/4856927/odo_test-generic_failures_ppc64le.txt)
@amitkrout attaching the failure logs after running the test scripts.

[2020-07-01 09:44] kadel commented on #2930
/unassgin @amitkrout

[2020-07-01 09:45] kadel commented on #3469
/priority medium

[2020-07-01 09:48] kadel commented on #3468
/close
/trage unresolved

The `--devfile` flag was intentionally removed from all commands except `odo create`
Check description for https://github.com/openshift/odo/pull/3118 PR for more details

[2020-07-01 09:48] #3468 closed

[2020-07-01 09:49] kadel commented on #3468
/triage unresolved

[2020-07-01 09:50] kadel commented on #3467
OperatorHub integration should be finished and moved out of experimental for odo v2 release

[2020-07-01 09:51] kadel commented on #3465
/close
addressed in  #3459

[2020-07-01 09:52] #3465 closed

[2020-07-01 10:03] dharmit commented on #2780
@cdrage for now this issue doesn't look much relevant to me since we've already been working on adding docs. Closing this. Will open a new one if required.

/close

[2020-07-01 10:03] #2780 closed

[2020-07-01 10:04] dharmit commented on #2781
Agreed. However, the idea is to have an example that's more complex than what we have right now.

[2020-07-01 10:11] dharmit commented on #2791
Implemented by https://github.com/openshift/odo/pull/3186.

/close

[2020-07-01 10:12] #2791 closed

[2020-07-01 10:12] kadel commented on #3463
can you check how your Ingress looks? `kubectl get ing -o yaml` ?

[2020-07-01 10:15] dharmit commented on #3463
[code]
And here's the yaml
[code]

[2020-07-01 10:16] neeraj-laad commented on #3300
@kadel @dharmit The current proposal does allow deploying to another namespace, purely to keep it simple.
Would you want to add that to the current proposal?

Few things to consider:
- We will need to add namespace as an optional flag (default to dev namespace) - this should be simple to add.

- User will need to ensure that any service binding/linking info is accurate for the environment you are

[2020-07-01 10:17] anandrkskd opened #3470 "More documentation needed on "odo create" --downloadSource flag"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Doesn't show any error/ warning message when --git  and --downloadSource are used at once in `odo create` (no matter what the order is)

[code]
Informing the user that `--downloadSource` will be prioritized over `--git` for creating odo component if they use both flag at once.

## What is the relevance of it

[2020-07-01 10:21] kadel commented on #3463
What type of Ingress controller are you using?

[2020-07-01 10:26] dharmit commented on #3463
I don't know what you're asking about. I'm using minikube. Haven't touched anything since doing `minikube start`.
[code]

[2020-07-01 10:27] dharmit commented on #3463
Why do we see `80` in the `PORTS` field above? Is that OK? The app and devfile is all about `8080`

[2020-07-01 10:31] dharmit commented on #3467
Do you mean to have everything mentioned in Acceptance Criteria for #2613 to be finished for that?

[2020-07-01 11:08] mik-dass commented on #3463
@dharmit I have been trying to figure this out since a long time but have been unsuccessfully so far. I have tried the above steps but those didn't work for me as well.

[2020-07-01 11:15] amitkrout commented on #3378
@kadel @girishramnani i started few scripting steps, then thought let me check how you see the requirement and the solution.

1. We are planning to run each devfile registry test in our each odo pr run, for example when odo pr triggers we need to clone/download https://github.com/odo-devfiles/registry and verifies it through our test script with the flow mentioned in the description.

**OR**

2. S

[2020-07-01 11:46] kadel commented on #3467
yep

[2020-07-01 12:00] kadel commented on #3463
that might be a problem ;-)
What is the exact error that you are getting? Is it connection refused? Then you probably don't have ingress controller enable.
see  https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

That is the port for the ingress controller, which is usually 80 or 443 in the case of https.

`<ingress host>:80` points to <component Service>:8080`

[2020-07-01 12:02] girishramnani commented on #3467
We need operator hub out of experimentation mode

[2020-07-01 12:04] girishramnani commented on #3467
So, my thoughts were that we need operator hub outside of experimental mode. That doesn’t mean we want everything like - service to service linking, forbid self linking.
But the minimum set needs to be done

[2020-07-01 12:11] kadel commented on #2920
It does. But isn't this going to confuse odo users? We might try hide `ServiceBindingRequests` from the `odo service list` output.

It depends on how you define `odo link` command.

If help is going to say  `odo link <serviceName>` than the `odo service list` needs to contain correct NAME field

[code]

If help is going to say  `odo link <NAME>/<TYPE>` than the `odo service list` can have output a

[2020-07-01 12:18] kadel commented on #3470
- `downloadSource` is being renamed to `starter` https://github.com/openshift/odo/pull/3425
- this is not yet fully implemented. It will be handled in https://github.com/openshift/odo/issues/3263

I'm closing this one. If you have inputs on how this should be done you can add comments to https://github.com/openshift/odo/issues/3263

/close

[2020-07-01 12:18] #3470 closed

[2020-07-01 12:19] metacosm commented on #3385
This should be worked on as quickly as possible, in my opinion as it would help speed up the rest of the development.

[2020-07-01 12:20] kadel commented on #3467
https://github.com/openshift/odo/issues/2613 Is not about linking

[2020-07-01 12:21] dharmit commented on #3463
I see. One of the downsides of using OCP where Routes work OOTB. Enabling the ingres addon did the trick! URL loads fine.

[2020-07-01 12:24] dharmit commented on #3463
However, I still think that some kind of CLI docs are needed that a k8s user might find helpful. A separate small section indicating how it can be done for minikube along with this link that explains how to enable ingres addon.

WDYT @mik-dass @kadel @yangcao77 ?

[2020-07-01 12:26] kadel commented on #3456
that should be fixed as part of https://github.com/openshift/odo/issues/3378

tests should not depend on devfiles in odo-devfile/registry without a few expectations that are actually testing registry integration. The rest of the test should use devfile that are part of the testing scripts to minimalize external dependencies.

[2020-07-01 12:34] kadel commented on #3378
This should be another CI setup independent from `openshift/odo`. Those tests should run for PRs in  `odo-devfiles/registry`

The tests should use latest released odo binary.

[2020-07-01 12:43] kadel commented on #3463
Yes, this should be documented somewhere, but I'm not sure that the CLI help is a good place for this, odo documentation might be a better place

[2020-07-01 12:43] dharmit commented on #3467
And the only luxury that I've enjoyed so far in Experimental mode is not be bothered about supporting both Operator Hub and Service Catalog. Please note that it's not straightforward to support both at the same time.

I'm not saying that we can't do it. But it's a non-trivial task to take Operator Hub out of experimental mode and support it along with Service Catalog for devfile based components.

[2020-07-01 12:47] kadel commented on #3467
yes, from https://github.com/openshift/odo/issues/2613 :

Otherwise, odo user has only two options (use example as it is, or edit service CR yaml) to create service and non of it is a good experience

[2020-07-01 12:53] prietyc123 commented on #3446
Even I kind of feel lost with these flags. Not getting the exact purpose for this to be in odo.

[2020-07-01 13:09] kadel commented on #3446
Those flags are there so we should make sure that they work.

It doesn't have any effect odo do functionality or usability

[2020-07-01 13:10] amitkrout commented on #3378
@kadel For CI job configuration i need admin access to this repo https://github.com/odo-devfiles/registry. Can you please provide me the required access

[2020-07-01 13:19] prietyc123 commented on #3443
Everytime when I was trying to create component with `--devfile` flag hits the same failure.

[code]

Even I tried with existing devfile that we are using in our test:

[code]

[2020-07-01 13:27] dharmit commented on #3467
I do not deny that it's a bad user experience. But every CR has different set of parameters that it cares about. To get this to work, we need to provide a way for the user to know the parameters that are acceptable for the CR. So, something like:

[code]
Above command would list the possible parameters (likely from the `spec` field).

And then we accept each of these as a parameter. It's doable. T

[2020-07-01 13:36] girishramnani commented on #3469
@anandrkskd the logs say that the component was pushed, so whats the issue here?

[2020-07-01 13:58] anandrkskd commented on #3469
Components are not present on cluster until we do `odo push` ,  i think if we are using `--now` in `odo create` then it should not require `odo push`.

[2020-07-01 14:03] kadel commented on #3263
`starterProject` field is getting added to devfile v2 spec and schema here https://github.com/devfile/kubernetes-api/pull/

[2020-07-01 14:05] kadel commented on #3378
done

[2020-07-01 14:24] prietyc123 opened #3471 "Editing the file using "vim" editor leads to fail component push at syncing stage"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

## How did you run odo exactly?

Steps to reproduce:

1. `mkdir -p testbackend` and copy the project file from `tests/examples/source/devfiles/nodejs` to the create directory

[code]
2. `mkdir -p testfrontend` and do the same as in step 1
3. `odo create nodejs backend` and `odo

[2020-07-01 20:10] girishramnani opened #3472 "exec into the folder provided in the source mapping for better UX"
@johnmcollier things work as per the PR description. However, I have a concern that might be relevant for this PR or a different one or entirely irrelevant.

After a successful `odo push`, should the user be able to exec directly to the directory provided by `sourceMapping` field instead of being exec'd into `/projects`?

[code]

Of course, there could be a valid reason to not do so and I'm fine b

[2020-07-02 00:11] greg-pendlebury commented on #764
@mohammedzee1000 no they do not. I definitely have those set because they are what let `oc` work the first place. It is `odo` functions that then proceed to fail after `oc` logs in.

I have just retested and confirmed it isn't working using v1.0.0-beta5 (quite old), but I haven't upgraded since I've never seen movement on these issues. Do you think this has been resolved elsewhere?

[2020-07-02 00:19] greg-pendlebury commented on #764
FWIW, I just upgraded and tested v1.2.3 and it still doesn't support proxies (that I can see). `oc` works in this terminal (through `HTTP(S)_PROXY`) but not `odo`

[2020-07-02 01:17] dharmit commented on #3472
/area devfile
/area UX
/kind feature

[2020-07-02 02:43] #3333 closed

[2020-07-02 03:11] gorkem commented on #3076
Logically yes, `odo component create` can be used to create a subset of devfile components. However the issue is we do not plan to have a catalog of devfile components but complete devfiles so this would not work. Perhaps your original suggestion of synchronizing with the topology view is the implementable option.

[2020-07-02 04:17] mohammedzee1000 commented on #764
Well we do piggyback of client-go for all cluster activity. So the fact that it behaviour is really weird. @stlaz do you know anything about this?

[2020-07-02 05:17] #2220 closed

[2020-07-02 05:18] prietyc123 commented on #3471
ping @mik-dass

[2020-07-02 06:16] dharmit commented on #2920
Yes, I agree. It could confuse. The most epic situation would be when someone tries to link a component to an existing SBR. :joy:

Tangential question/discussion which we could cover in a dedicated issue:
- Currently, for Service Catalog based services, we do not list the links, AFAIK. How do we want the behaviour to be in case of Operator backed services?
- There's also https://github.com/redhat-

[2020-07-02 07:40] amitkrout commented on #3454
@sarveshtamba From the logs i found that the failure is happening due the build time timeout
[code]

We are tracking this issue(flake) in https://github.com/openshift/odo/issues/2877.

[2020-07-02 07:49] amitkrout commented on #3440
@girishramnani Few more inputs may be you need to address through your pr #3457

In regular mode
[code]
In experimental mode
[code]

In experimental mode odo watch takes ```component_name``` as an argument where as in regular mode there is no place for ```component_name```.

[2020-07-02 07:50] #3241 closed

[2020-07-02 07:55] mik-dass commented on #3471
I ran watch for two components in a parallel manner and don't pushed works fine for me.

Nodejs component
[code]
Openliberty component
[code]

[2020-07-02 08:12] adisky opened #3474 "odo url list fails for s2i components if experimental mode is enabled"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
[code]

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2020-07-02 08:19] mik-dass commented on #3471
Which editor are you using for making the changes? Are you running a script?
[code]
Looking the error log, I can see a swp file. Are you using  a vi based editor? If you are performing the changes manually, please try the above scenarios using VS Code.

[2020-07-02 08:53] prietyc123 commented on #3471
I was running the steps on VS Code itself.

[2020-07-02 09:53] mik-dass commented on #3471
Which nodejs repo are you using?

[2020-07-02 10:17] amitkrout opened #3476 "odo config view does not work for devfile/ devfile registry component"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
[code]

## Actual behavior
Throws error of missing component directory

## Expected behavior
Should list out the config settings

## Any logs, error output, etc?

[2020-07-02 10:19] amitkrout commented on #3378
Hit the issue https://github.com/openshift/odo/issues/3476 while i was applying the test flow through the script.

[2020-07-02 10:52] amitkrout opened #3477 "Application URL does not work for nodejs registry component"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
Route is not accessible

## Expected behavior
Route should be accessible

## Any logs, error output, etc?

[2020-07-02 10:53] amitkrout commented on #3378
Hit another issue while accessing the route - https://github.com/openshift/odo/issues/3477

[2020-07-02 11:12] prietyc123 commented on #3469
@anandrkskd Can you please also provide the pod logs. So that we can confirm it has been deployed to the cluster or not?

[2020-07-02 12:10] mik-dass commented on #3471
I think it's a problem with `odo push` not watch. The .swp file, created during the edit operation, gets deleted when the VI editor is closed during the syncing process. Thus the tar operation fails. I think this parallel watch scenario should work with vs code as no temporary file is created in the repo folder.

[2020-07-02 12:14] mik-dass commented on #3476
Config command is not supported for devfile components yet. https://github.com/openshift/odo/issues/2688

[2020-07-02 12:15] prietyc123 commented on #3471
Yes, I also performed the steps again and observed the same behaviour. As per the validation I did its the problem with `odo push` hence changing the title.

[2020-07-02 12:34] prietyc123 commented on #3471
Observations:

- Either do `odo push` or `odo watch`
- Edit the file like `vim test/test.js` in between the operation `odo push` or `odo watch`
- .swp file gets created
- Before or during syncing the component close the editor
- It will delete .swp file and tar operation fails.

[code]

[2020-07-02 12:47] amitkrout commented on #3476
/close

[2020-07-02 12:47] #3476 closed

[2020-07-02 13:03] mohammedzee1000 commented on #3276
Internal things are now functional. We will need to do full release before complete verification

[2020-07-02 15:15] sarveshtamba commented on #3454
@amitkrout is there any way we can by-pass or disable the failing/flaky tests till they are fixed and move onto the next set of tests?

[2020-07-02 15:58] dharmit commented on #2920
### Current status of this issue

`odo link` can be played with by pulling the code from [my branch here](https://github.com/dharmit/odo/tree/fix-2920). What it does is helps one connect an Operator backed service to a odo component. One can see the environment variables getting injected in the pod of the application. However, this is not of much use since the application itself doesn't succeed in

[2020-07-02 21:23] #3440 closed

[2020-07-02 22:59] girishramnani commented on #3151
Actually even with s2i components there were a certain conventions that needed to be followed like having a `npm start` script or the executable file for python was to be named `main.py`, so we need to have opinionated devfiles designed for specific reasons.

[2020-07-02 23:02] girishramnani commented on #3050
I can work on this, I am already adding labels for my odo component list command

[2020-07-02 23:13] gorkem opened #3479 "odo watch deletes all files"
/kind bug

## What versions of software are you using?

**Operating System:**
MacOS

**Output of `odo version`:**
built from source.
odo v1.2.3 (33a73e351)

## How did you run odo exactly?

I am using https://github.com/gorkem/odo-devfile/tree/master/python-example to do python debugging

[code]
Modify `app.py` and observe that build fails with missing `requirements.txt`.
I have opened a terminal

[2020-07-02 23:14] girishramnani commented on #3323
@mik-dass can we close this issue then?

[2020-07-02 23:16] girishramnani commented on #3303
I forgot why I created this, closing for now

[2020-07-02 23:16] #3303 closed

[2020-07-02 23:19] gorkem opened #3480 "odo watch always dismisses debug mode"
/kind bug

## What versions of software are you using?

**Operating System:**
MacOS

**Output of `odo version`:**
built from source.
odo v1.2.3 (33a73e351)

## How did you run odo exactly?

I am using https://github.com/gorkem/odo-devfile/tree/master/python-example to do python debugging

[code]
Modify `requirements.py` and observe the following output

[code]
Notice that on the marked line `odo`

[2020-07-02 23:20] girishramnani commented on #3215
@anandrkskd can you please work on this?

[2020-07-02 23:21] girishramnani commented on #3199
We have alot of times, I cannot keep track of them. We need to generalise this to a timeout that already exists - by renaming an existing timeout if need be

[2020-07-02 23:23] girishramnani commented on #3175
Any updates on this issue @cdrage @dharmit

[2020-07-02 23:27] girishramnani commented on #3095
Any update on this @dgolovin

[2020-07-02 23:32] girishramnani commented on #2999
Yeah this is something we need to have because ODO_EXPERIMENTAL would be used even after devfilev2 becomes GA

[2020-07-02 23:37] girishramnani commented on #2799
Would you be able to complete this for v2 @dharmit ?

[2020-07-02 23:40] girishramnani commented on #2722
@cdrage something that u could take a look at?

[2020-07-02 23:44] girishramnani commented on #2463
This issue is duplicate of many issues broken down with more information hence closing

[2020-07-02 23:44] #2463 closed

[2020-07-02 23:46] girishramnani commented on #1819
We have good watch tests already and there are issues related to improving intg tests which covers this if need be

[2020-07-02 23:46] #1819 closed

[2020-07-02 23:49] girishramnani commented on #1147
Assuming we are moving to devfile, should we consider this as feature? @kadel

[2020-07-02 23:59] girishramnani commented on #3480
I don’t think we have a odo watch —debug command
We should consider adding that as a feature

[2020-07-03 00:06] girishramnani commented on #3433
The commit 5ec8274 in #3291 resolved the issue.

[2020-07-03 00:06] #3433 closed

[2020-07-03 03:26] #3380 closed

[2020-07-03 04:27] zhengxiaomei123 opened #3481 "The default odo-init-image value to support multi-arch"
/kind feature

## Which functionality do you think we should add?
The default odo-init-image is "registry.access.redhat.com/openshiftdo/odo-init-image-rhel7:1.1.3" which is not supported by s390x arch.

[code]

To support s390x arch, we have to set env `ODO_BOOTSTRAPPER_IMAGE`.

## Why is this needed?
We should make the default odo-init-image to release the s390x or other non-x86 arch version on u

[2020-07-03 04:29] jichenjc commented on #3481
/area system-pz

[2020-07-03 04:30] zhengxiaomei123 commented on #3481
We found there has been offically built odo-init-image for s390x [here](https://quay.io/repository/multi-arch/openshiftdo-odo-init-image-rhel7).  We team can help build the odo-init-image for s390x arch, What we want is to relese this image to offical registry to be used default by user.

[2020-07-03 04:30] zhengxiaomei123 commented on #3481
/assign zhengxiaomei123

[2020-07-03 05:17] PanYaLian commented on #3481
I think the purpose is to have an official s390x arch odo-init-image in some public registry like "registry.access.redhat.com/openshiftdo/odo-init-image-rhel7:1.1.3", and for the defaultBootstrapperImage below, point to the different  odo-init-image based on the arch.
https://github.com/openshift/odo/blob/9a470629475bf6339dec637ee5ea8e326188a7fd/pkg/devfile/adapters/common/utils.go#L35

[2020-07-03 05:20] zhengxiaomei123 commented on #3481
/assign PanYaLian

[2020-07-03 05:59] dharmit commented on #2799
No, I don't think this would be possible to do for v2. 2.1.0 might be a good target for this.

[2020-07-03 06:04] #2935 closed

[2020-07-03 06:37] mik-dass commented on #3323
No two issues were described in the description. One now has a seperate issue now https://github.com/openshift/odo/issues/3354. The other, whether to skip some steps during watch, is up for debate.

[2020-07-03 06:41] mik-dass commented on #3479
This seems to happen due to a reployment during the watch phase. The push stages only pushes the modified files and the container now has missing files.

[2020-07-03 08:59] adisky commented on #3151
This can be closed now, resolved for v2 devfiles
https://github.com/odo-devfiles/registry/blob/master/devfiles/nodejs/devfile.yaml

Actually for v1 we are expecting a /app folder inside each nodejs app, thus failing for applications that does not have /app folder.
Resolved in new v2 file
https://github.com/elsony/devfile-registry/blob/master/devfiles/nodejs/devfile.yaml#L25

/close

[2020-07-03 08:59] #3151 closed

[2020-07-03 11:29] prietyc123 opened #3482 "Unable to up spring boot url running on 3.11 cluster on Windows"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Running `make test-cmd-service` on 3.11 cluster on windows. Then tried running with particular [spec](https://github.com/openshift/odo/blob/master/tests/integration/servicecatalog/cmd_service_test.go#L146) . Makes the spec as `FIt` and ran `gink

[2020-07-03 11:32] prietyc123 commented on #3289
Running test on windows 3.11 cluster:

- [x] make test-cmd-service  https://github.com/openshift/odo/issues/3482

[2020-07-03 13:57] cdrage opened #3484 "Devfile v2: No ClonePath integration tests"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

N/A

Just a reminder that there are no integration tests for ClonePath within the Devfile schema.

See: https://github.com/openshift/odo/blob/20f84de3ece0393bb957de3267824dabdc15dec4/pkg/sync/adapter_test.go#L80 for unit tests, but no actual integration test

[2020-07-03 13:57] #3107 closed

[2020-07-03 14:01] gorkem commented on #3479
I think that redeployment is also causing #3480. `watch`seems to be doing a needless deployment.  If I use `push --debug` in place of watch the redeployment would not happen. I think watch needs to become a bit smarter and pass the debug flag.

[2020-07-03 14:09] gorkem commented on #3479
Another variation of this bug is
[code]
modify devfile.yaml

[2020-07-03 14:13] cdrage opened #3485 "Devfile v2: Registry listing is showing an invalid URL"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

See below, the URL is actually invalid:

[code]

## Actual behavior

See above. Actual behaviour is an incorrect URL

## Expected behavior

The URL to be https://github.com/odo-devfiles/registry not the raw URL.

## Any logs, error output, etc?

N/A

[2020-07-03 14:19] gorkem commented on #3480
Watch seems to have a very simplistic implementation, it needs to become smarter.
1. It needs to become aware of the conditions that can make `ComponentAdapter.Push` to redeploy. Like modification of devfile and the debug flag so that it does a full resync.
2. In case of flags like `--debug` and an existing earlier push it should restore them when calling the `ComponentAdapter`. It is unexpected f

[2020-07-03 14:27] cdrage opened #3486 "Devfile v2: Implement events from schema"
/kind feature

## Which functionality do you think we should add?

TODO: To go more into detail later.

This is an issue to keep track on implementing the `events` from the Devfile schema:

https://devfile.github.io/devfile/_attachments/api-reference.html

## Why is this needed?

[2020-07-03 15:34] mik-dass commented on #3479
The redeployment is not causing #3480. That happens because the push, triggered by watch, always runs the default run command from the devfile or the one provided using the flags. We may need to implement a flag like `odo watch --debug` to run the debug command during pushes triggered by watch or come up with some other mechanism to make it smarter.

[2020-07-04 16:49] #3447 closed

[2020-07-05 00:10] #3036 closed

[2020-07-05 10:59] amitkrout commented on #3385
@metacosm This deserves a long description, so that we can analyze the requirement and ofcourse we need to check it (if complicated) with test platform team as our pr run is controlled by the prow bot.

Just want to understand, what is the motive here ? Test time optimization ? it won't help much because CI takes almost the same time for spinning up and running test against each version of cluster

[2020-07-06 01:56] jichenjc commented on #3469
I am having same issue by using latest
[code]

[code]

[2020-07-06 02:10] jichenjc commented on #3469
need handle at here
https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/create.go#L983

/assign

[2020-07-06 07:53] anandrkskd opened #3489 "Dosen't produce any error for unreachable custer"
/kind bug

## What versions of software are you using?

**Operating System:** supported(fedora)

**Output of `odo version`:** master

## How did you run odo exactly?
[code]

## Actual behaviour
Doesn't show any errors or cluster not reachable

## Expected behaviour
Should show an error if server is not reachable or similar message.

## Any logs, error output, etc?

N/A

[2020-07-06 08:03] prietyc123 opened #3490 "Sync "--build-command" and "--run-command" flag args with test code in example for better UX"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported

**Output of `odo version`:**
master

## How did you run odo exactly?

[code]

odo push
[code]

## Actual behavior

[code]

[code]

## Expected behavior

[code]

[code]

Used in test code ex - https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_watch_test.go#L93

## Any logs, erro

[2020-07-06 08:24] metacosm commented on #3385
The motivation is to move faster PRs faster from submitted to merged as well as reduce resources usage.

Right now, lots of time/resources is spent on running tests that are not needed: integration tests should only be run when a PR is approved and considered ready to be merged by reviewers. There is no point in running all the tests while the review process is not finished and only unit tests / s

[2020-07-06 10:22] sarveshtamba opened #3491 "odo project create throws error of connection refused on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-06 10:23] sarveshtamba commented on #3491
/area system-pz

[2020-07-06 10:23] sarveshtamba commented on #3491
@amitkrout ^^

[2020-07-06 11:00] prietyc123 opened #3492 "Application deletion not deleting services associated with it on windows 3.11 cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Running `make test-cmd-service` on windows 3.11 cluster. Also ran the steps manually.

Manual steps:

[code]

make test-cmd-service

[code]

## Actual behavior

`odo app delete app --project appdlt -f` does not delete the services associated wit

[2020-07-06 11:32] amitkrout commented on #3454
@sarveshtamba This flake comes when you push a component. In out test script you will find most of the test scenario has atleast a push command which is a key validation steps.

We have a ```--skip=REGEXP``` in ginkgo but using this will complete defeat the purpose of testing odo as it skips almost 90% of your total tests.

I would recommend wait until https://github.com/openshift/odo/pull/3232 is

[2020-07-06 11:58] amitkrout commented on #3307
Also the above script has some problems. mkdir {1...9} doesn't create folders named from 1 to 9, it creates a folder named {1...9}.

yes, you are right but it does not matter as i am able to reproduce the issue with this script.

sed command flag works differently on macOS on which i tested.

@mik-dass Its a flake, so try till reproduce it 😉

[2020-07-06 12:15] amitkrout commented on #3491
[code]

[2020-07-06 12:57] prietyc123 opened #3493 ""odo delete --app" should throw error for invalid app in devfile"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported

**Output of `odo version`:**
master

## How did you run odo exactly?

[code]

Tried with some more incorrect app name :

[code]

## Actual behavior

`$ odo delete --app incorrect-app` asking to delete devfile component though the app is incorrect.

## Expected behavior

`$ odo delete --app incorrect-app` it sh

[2020-07-06 13:02] mik-dass commented on #3307
I have tried multiple times, still couldn't.

[2020-07-06 13:09] mik-dass commented on #3493
`App` is not yet implemented for devfiles https://github.com/openshift/odo/issues/3402

[2020-07-06 13:47] prietyc123 commented on #3493
Great I was not aware of 😄

[2020-07-06 13:47] #3493 closed

[2020-07-06 14:00] prietyc123 commented on #3270
pr https://github.com/openshift/odo/pull/3462 is a fix for https://github.com/openshift/odo/issues/3270#issuecomment-651838728

[2020-07-06 14:25] GeekArthur commented on #3485
The design is that we divide the registry URL validation into two stages:
Early validation stage: Only validate registry URL basic format, happens when user adds registry URL
Validation stage: Validate registry URL accessibility, happens when user uses registry URL

That design is based on `yum-config-manager`, design proposal with details under this thread: https://github.com/openshift/odo/pull/2

[2020-07-06 14:37] GeekArthur commented on #3443
@prietyc123 The error message is self-explanatory, from the error message `Accepts between 0 and 1 arg when using existing devfile, received 2` we can clearly know if you `using existing devfile` odo can only **accept 0 or 1 arguments**, but in your command `odo create nodejs backend --devfile ./testbackend/devfile.yaml ` you input **3 arguments**

See Charlie's example above, if you check the usa

[2020-07-06 14:41] prietyc123 commented on #3490
only test code contains `odo watch --build-command="build" --run-command="run"` So closing the issue.

[2020-07-06 14:41] #3490 closed

[2020-07-06 14:44] amitkrout commented on #3307
It appears here again - https://github.com/openshift/odo/pull/3462#issuecomment-654250112

[2020-07-06 14:48] amitkrout commented on #3307
@mik-dass Can you try by adding more create, delete and replace text command in the same shell script. Again i am saying its a flake. Do not loose hope, i am sure you will be able to reproduce it in few more try.

[2020-07-06 14:50] EnriqueL8 commented on #3442
This was implemented as part of https://github.com/openshift/odo/issues/2582. This is a bug that was added when the devfile 2.0.0 parser was added: https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/create.go#L908. I correct this in PR: https://github.com/openshift/odo/pull/3100 -> https://github.com/openshift/odo/pull/3100/files#diff-58fe314b4e3f9120402717ab8c2b3049R871

[2020-07-06 15:28] jeffmaury commented on #764
For me odo supports proxy.
Here what I did:
- started CRC on my Windows laptop
- modified the Windows /hosts so that api.crc.testing is resolved to 127.0.0.1
- started tinyproxy using docker and modified the container hosts to that api.crc.testing is resolved to CRC IP
- set HTTPS_PROXY to localhost:8888
- with odo created a component, pushed it, added an URL and checked my microservices API works

[2020-07-06 16:04] johnmcollier opened #3494 "Make the sync directory more consistent"
Currently, odo uses the following logic for determining what folder to sync to:
1) If a single project is defined in the devfile, it syncs to `/projects/<projectName>`
2) If no projects are defined, or if there are multiple projects defined, it syncs to `/projects`
3) (Most recently) If the `sourceMapping` field is set, it syncs to the folder specified.

The logic for 1 and 2 were in place because

[2020-07-06 16:26] gorkem opened #3495 "forwarding more than one port"
/kind feature

## Which functionality do you think we should add?
I would like to be able to forward more than one remote port using `odo debug port-forward`. Today this is not possible because I can set only a single remote host. I think there should be an option to provide local and remote port directly to the port-forward command  `odo debug port-forward LOCAL:REMOTE` without the config paramet

[2020-07-06 17:50] gorkem commented on #2327
https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/python-django/devfile.yaml is probably a better starting point as it does also cover debug.

[2020-07-07 04:49] mik-dass commented on #3307
If you can reproduce it, please paste the verbose watch output.

Please update the script and add more commands.

[2020-07-07 04:51] mik-dass commented on #3307
I think it happens due to https://github.com/openshift/odo/issues/3479

[2020-07-07 04:57] mik-dass commented on #3438
This makes the issue same as https://github.com/openshift/odo/issues/3307

[2020-07-07 06:12] sarveshtamba opened #3497 "Component push throws error of "Waiting for component to start" on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-07 06:12] sarveshtamba commented on #3497
cc:- @amitkrout ^^

[2020-07-07 06:14] sarveshtamba commented on #3497
/area system-pz

[2020-07-07 06:18] anandrkskd opened #3498 "--ref/-r flag for odo create doesn't work"
/kind bug

## What versions of software are you using?

**Operating System:** Supported

**Output of `odo version`:** master

## How did you run odo exactly?
[code]

## Actual behavior
odo is creating components with current branch HEAD in case of commit as reference and for branch as reference its considering current branch.

## Expected behavior
odo should create componentes according to the ref

[2020-07-07 06:24] jichenjc commented on #3497
seems should not related to p/z arch ? looks like a config set failed?

[2020-07-07 06:51] dharmit commented on #2920
We need to decide how we would like to store this information in the `env.yaml` file.

Do we want to make it a part of `ComponentSettings` struct in `envinfo.go` file: https://github.com/openshift/odo/blob/b1d8462e7bce01e41e24e2e853d4203e32d91408/pkg/envinfo/envinfo.go#L18-L26

If yes, what pieces of information do we want to store? Here's a few that I can think of:
* Name of the secret created on

[2020-07-07 07:01] girishramnani commented on #2920
Is this an upstream issue? Like the pod shouldnt be recreated due to just injection of env variables.

[2020-07-07 07:06] dharmit commented on #2920
The deployment's definition changes as a result of the injection of environment variable. And hence the underlying pod's going to be recreated. It's more of design than an issue.

[2020-07-07 07:46] girishramnani commented on #2840
So if we think about this approach its like having a local mode where the application running outside of a container but even with that developers can link it with all the services running on cluster.
Also I see the value of the features the odo provide like operator hub when doing local development. And local here doesn't mean docker.
:+1: for this.

[2020-07-07 08:14] amitkrout commented on #3497
[code]
@jichenjc I am sure config set is correct. it looks similar to https://github.com/openshift/odo/issues/3454.

[2020-07-07 09:10] sarveshtamba commented on #3497
@amitkrout do you want me to check anything wrt config set?

[2020-07-07 09:57] prietyc123 opened #3499 "Json match throws error due to spec attribute mismatch on windows 3.11 cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Ran `make test-cmd-cmp` on windows 3.11 cluster

## Actual behavior

[code]

## Expected behavior

On windows `odo describe -o json --context <context>` should match

[code]

## Any logs, error output, etc?

[2020-07-07 10:05] sarveshtamba opened #3500 "Test failures while running `test-cmd-watch` test suite on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-07 10:32] prietyc123 opened #3501 "KUBECONFIG somehow reverted back to the original path in CI"
/kind bug

## What versions of software are you using?

**Operating System:**
supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Tests running on openshift repo verifies that https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/9431/rehearse-9431-periodic-ci-openshift-odo-master-v4.3-integration-e2e-periodic-steps/12

[2020-07-07 10:49] amitkrout commented on #3501
@prietyc123 Branch https://github.com/openshift/odo/tree/multistage has been created. You can experiment your stuff in no time.

[2020-07-07 11:01] amitkrout commented on #3497
@sarveshtamba Not required. From the log output i do not see anything weird w.r.t. config set.

[2020-07-07 11:21] sarveshtamba opened #3502 "Test failures while running `test-cmd-debug` test suite on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-07 11:22] sarveshtamba commented on #3500
/area system-pz

[2020-07-07 11:22] sarveshtamba commented on #3502
/area system-pz

[2020-07-07 11:22] sarveshtamba commented on #3500
cc:- @amitkrout ^^

[2020-07-07 11:22] sarveshtamba commented on #3502
cc:- @amitkrout ^^

[2020-07-07 11:57] kadel commented on #2688
The remote port should be still determined by `DEBUG_PORT` environment variable.
Odo should check `DEBUG_PORT` env variable in the container and use its value as a remote port.

The idea is that the environment variable will make it easy to configure port in debug command.
[code]

[2020-07-07 12:27] kadel commented on #3472
This is what I would as a user expect.

This should be defined in devfile spec because every tool should handle this the same way.

[2020-07-07 12:59] amitkrout commented on #2931
@kadel Yes we are blocked by https://github.com/kubernetes/test-infra/issues/18190. Prow does support notification on multiple slack namespace. Currently we have prow available for coreOS slack namespace, so the notification feature will not be supported for https://openshiftdo.slack.com namespace. Anyway we can track the feature request in the issue  https://github.com/kubernetes/test-infra/issue

[2020-07-07 14:16] kadel commented on #2857
We don't need this for odo 2.0

[2020-07-07 14:42] mik-dass commented on #2688
. Odo should check DEBUG_PORT env variable in the container and use its value as a remote port.

This needs to be well documented somewhere for users making the transition from s2i components.

[2020-07-07 16:50] gorkem commented on #2688
OK, so `debug port-forward` is only meant to work with DEBUG_PORT. It appears that I was doing a hackish thing to forward different ports. See also https://github.com/openshift/odo/issues/3495

[2020-07-07 19:42] cdrage opened #3507 "Remove nanoseconds from UX / UI when deploying"
/kind feature

## Which functionality do you think we should add?

See below:
[code]

When the spinner is so fast that it's nanoseconds, we should not output it *at all*

## Why is this needed?

Clean up the UX / UI.

[2020-07-07 19:44] cdrage opened #3508 "There should be terminal output when downloading a project using --starter"
/kind feature

## Which functionality do you think we should add?

When downloading a project using `--starter` we should output in the terminal / logging that the project has actually been downloaded.

For example:
[code]

Actually has no output that it's been downloaded. Ideally, it should look something like this:

[code]

## Why is this needed?

We should output what we have actually done / co

[2020-07-07 20:08] girishramnani commented on #3495
@gorkem you can set the local port different everytime by using ` odo debug port-forward --local-port <port>`
You might not need to worry about remote port being same because each component has its own network space which wont conflict with other component.
But yes, this feature is definitely needed to configure the remote port if need be

[2020-07-07 22:44] girishramnani commented on #2933
epics shouldn't be assigned `required-for-v2` labels

[2020-07-08 04:13] #3334 closed

[2020-07-08 04:55] prietyc123 commented on #3501
I was thinking to use `multistage` branch for covering all the issue related to https://github.com/openshift/odo/issues/3270 in one go and then use `master` branch fir final pr. But Sadly we can not do that with any branch other than `master`. I suspect it is due to openshift infra and how they are handling the other openshift tooling. However I tried using `multistage` branch but failed https://d

[2020-07-08 05:10] prietyc123 commented on #3501
I have observed that the `KUBECONFIG` is getting reverted sowhow to original kubeconfig before test execution itself. It is not the issue from `odo` side as I tried checking [here](https://github.com/openshift/odo/pull/3503/commits/3d770da2023ff6cc3d1350bf1cf263db63874e9a) before any `odo` command executes and found it changed https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_od

[2020-07-08 05:29] amitkrout commented on #3501
i am looking into it

[2020-07-08 06:48] zhengxiaomei123 commented on #3481
I got confirmation that images will be uploaded with manifests to registry so cluster should be able to pull correct image. The image is getting built as per results on the internal buildsystems . We will probably need to wait till they push an actual release to redhat registry to confirm without doubt. And then We will verify it .

[2020-07-08 07:32] zhengxiaomei123 commented on #3335
/area system-pz

[2020-07-08 07:42] kadel commented on #3501
/kind test

@prietyc123 Please attach kind/test label into the issues that are related to test infra test suite etc...

[2020-07-08 07:54] kadel commented on #2931
Can we at least setup notification for our channel in  coreos slack?

[2020-07-08 08:09] amitkrout commented on #3501
The scope of the exported variable lives within the shell script instance while calling the script through make, so it does not reflected in the current shell. For example
[code]

This need to be fixed through MAKEFILE itself

[2020-07-08 09:48] sarveshtamba opened #3510 "Project create throws error of "Timed out waiting for service to be ready" on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-08 09:49] sarveshtamba commented on #3510
/area system-pz

[2020-07-08 09:49] sarveshtamba commented on #3510
cc:- @amitkrout ^^

[2020-07-08 09:53] kadel opened #3511 "Automate documentation syncing to odo.dev"
The current process for updating documentation is quite confusing.
Especially when someone updates `docs/public` in master it is not apparent that there is manual process that needs to be followed in order to update those files in odo.dev webpage.

This needs to be automated so the only thing that is needed is just modifying the markdown or asciidoc files.

This could be done by Prow or Travis-CI

[2020-07-08 09:56] kadel commented on #3499
/kind test
/area testing

[2020-07-08 10:03] kadel commented on #3507
https://github.com/openshift/odo/issues/3375
/triage duplicate
/close

[2020-07-08 10:03] #3507 closed

[2020-07-08 10:03] prietyc123 commented on #3499
It seems it works properly on linux and macOS but the issue is coming with windows platform only, where the `"kind": "route"` attribute is missing in json match. So I was not sure about the issue where it belongs to testing or something else. I will provide more info on this issue and will change the current label accordingly.

[2020-07-08 10:05] kadel commented on #3477
This looks more like an issue with source code. What nodejs  example are you using?
I was not able to replicate this
/remove-priority high
/priority low
/remove-area registry

[2020-07-08 10:06] kadel commented on #3511
/area documentation

[2020-07-08 10:06] kadel commented on #3511
/kind documentation

[2020-07-08 10:07] kadel commented on #3508
/area UX

[2020-07-08 10:08] kadel commented on #3510
/kind test

[2020-07-08 10:08] kadel commented on #3502
/kind test

[2020-07-08 10:08] kadel commented on #3500
/kind test

[2020-07-08 10:16] kadel commented on #3501
You should be able to do something like this https://github.com/openshift/odo/blob/e367c334c2e6a15f584821c34af4659bb2658a30/Makefile#L35

[2020-07-08 10:19] prietyc123 commented on #3501
Me and Amit spend some time to get it done through the makefile. But we couldn't breakthrough it. Our plan was to export a `KUBECONFIG` globally available to the makefile, so that it captures the final kubeconfig in the current shell instance. For example we used the below `.PHONY` target for our testing.

[code]
Each time it was throwing runtime error of `*** commands commence before first target

[2020-07-08 10:38] sarveshtamba opened #3512 "Test failures while running `test-operator-hub` test suite on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-08 10:39] sarveshtamba commented on #3512
/area system-pz

[2020-07-08 10:39] sarveshtamba commented on #3512
cc:- @amitkrout ^^

[2020-07-08 10:46] prietyc123 commented on #3501
Yes, we explored this option as well but didn't find any luck. The steps we followed:

[code]

Running Test script:
 ``
$ cat scripts/test.sh
#!/bin/bash
set -x
export MYTESTPATH=/Users/pkumari/go/src/github.com/openshift/odo/auth/mytestpath
[code]
$ make configure-mytest-path
+ make configure-mytest-path
. ./scripts/test.sh
++ export MYTESTPATH=/Users/pkumari/go/src/github.com/openshift/odo/auth/

[2020-07-08 11:31] kadel commented on #3512
/area test

[2020-07-08 11:31] kadel commented on #3497
/kind test

[2020-07-08 11:32] kadel commented on #3484
/remove-kind bug
/kind test

[2020-07-08 11:37] kadel commented on #3485
@GeekArthur
This is completely unrelated to validation.

@cdrage
Devfile registry can by hosted using any httpd server.

`https://raw.githubusercontent.com/odo-devfiles/registry/master ` is the correct devfile registry URL, this is where the registry is. The way how devfile registry works is that that there is an `index.json` on predefined  path (<registry url>/devfiles/idnex.json)

 `https://gith

[2020-07-08 11:38] #3485 closed

[2020-07-08 11:38] kadel commented on #3485
/triage unresolved

[2020-07-08 11:40] kadel commented on #3486
this is going to be handled in https://github.com/openshift/odo/issues/2936
/close
/triage duplicate

[2020-07-08 11:40] #3486 closed

[2020-07-08 11:56] kadel commented on #3480
/priority high

[2020-07-08 12:04] kadel commented on #3479
This is combination of #3480 bug and of the fact that we are using `emptyDir` volume for storing project source in the container.
EmptyDir approach was chosen to make avoid dependency on `PersistentVolumeClaims`.

Even when #3480 gets fixed we will still have a similar problem like the one described here.

`odo watch` is also trying to handle the situation when devfile.yaml is changed.
So consider

[2020-07-08 12:06] #2728 closed

[2020-07-08 12:17] jgwest commented on #3402
## Goals

The goal of this issue is to implement the `odo app *`/`odo list` commands, for devfiles, in such as way as to reproduce the existing non-dev-file/s2i behaviour of these commands.

A non-goal of this issue is to implement [app-level linking of components](https://github.com/openshift/odo/issues/2920). However, the work done as part of THIS issue should not prevent implementation of app-l

[2020-07-08 12:51] kadel commented on #3474
/priority high
/area url

[2020-07-08 12:53] kadel commented on #3429
/close
/triage duplicate

Composite commands will be implemented in https://github.com/openshift/odo/issues/3338

[2020-07-08 12:53] #3429 closed

[2020-07-08 12:54] kadel commented on #3482
/area windows

[2020-07-08 12:55] kadel commented on #3328
this is issue in tests not odo
/kind test

[2020-07-08 12:58] kadel commented on #3489
this runs odo in interactive mode, the failure will happen after you go through tall the questsion

/priority low
/area UX

[2020-07-08 13:00] kadel commented on #3491
this look like an issue with the clutter or network

[2020-07-08 13:03] kadel commented on #3492
[code]
This output suggests that `odo` correctly deleted the service, but is taking a long time for the cluster to completely deprovision it.
This seems to be more a cluster issue than odo issue.
Can you check output of `oc get ClusterServiceClass/dh-postgresql-apb -o yaml`? I suspect that you will see errors in a status indicating why the service is not getting deleted

[2020-07-08 13:09] kadel commented on #3499
Couldn't it be just because the fields in JSON struct have a different order?

[2020-07-08 13:16] kadel commented on #3499
When JSON structs need to be matched it should be done using `MatchJson` (https://onsi.github.io/gomega/#matchjsonjson-interface)

So, Instead of `Expect(ACTUAL).To(Equal(EXPECTED))` it should be `Expect(ACTUAL).Should(MatchJSON(EXPECTED))`.
This needs to be fixed in other places also.

[2020-07-08 13:24] kadel commented on #3482
Can you provide more details?
It would be good to verify that the application is running. Can you get output of `odo log`?

[2020-07-08 13:28] sarveshtamba commented on #3491
@kadel do you suggest I check anything with the cluster or network at my end?

[2020-07-08 14:06] kadel commented on #3494
+1 with one exception. If `sourceMapping` is not set it should check for `PROJECTS_ROOT` env variable and use that, and only if the `PROJECTS_ROOT` is not set then use `/projects`

This is my understanding based on how it is defined here: https://github.com/devfile/kubernetes-api/blob/80da7f73abaf7572c2bfb5c6dd1c1a696d2380b1/pkg/apis/workspaces/v1alpha1/containerComponent.go#L42-L46

[2020-07-08 14:09] kadel commented on #3495
I think that @gorkem wants to have multiple port-forwards for the same component. Which is currently not possible because the remote ports is only controlled by env variable `DEBUG_PORT`

[2020-07-08 14:09] kadel commented on #3495
/priority Medium

[2020-07-08 14:11] kadel commented on #3498
the `-r` flag is only valid when using `--git` components.
We need to update help message to make this clear`

[2020-07-08 14:11] kadel commented on #3498
/area UX
/priority Medium

[2020-07-08 14:21] kadel commented on #3512
/kind test

[2020-07-08 15:07] sarveshtamba opened #3513 "Test failures while running `test-e2e-beta` test suite on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-08 15:37] mik-dass commented on #3439
This is caused because time.NewTicker() needs a positive integer instead of 0. @kadel Should we remove it from the help UI or find a workaround  like a for loop?

[2020-07-08 15:57] sarveshtamba commented on #3513
/area system-pz

[2020-07-08 15:58] sarveshtamba commented on #3513
cc:- @amitkrout ^^

[2020-07-08 16:35] kadel opened #3515 "Implement container endpoints from devfile v2 spec"
We need to implement the `endpoints` section from devfile v2 container definition.

### Acceptance criteria
 - [ ] `odo push`  against OpenShift should create resources based on described mappings with Route
 - [ ]  `odo push` against Kubernetes will create Services based on described mappings. If Ingress needs to be created we have problem with missing host information. In this case, odo should p

[2020-07-08 16:35] kadel commented on #3515
/priority high
/area devfile

[2020-07-08 16:41] girishramnani commented on #3495
Do we have a usecase for that?

[2020-07-08 18:44] cdrage opened #3517 "Update "Understanding odo" documentation to correspond to officially supported Devfiles"
/kind documentation

## What mistake did you find / what is missing in the documentation?

See:

https://odo.dev/docs/understanding-odo/#officially-supported-languages-and-corresponding-container-images

and the corresponding documentation "downstream"

https://github.com/openshift/openshift-docs/blob/ad655a7d0a3b69ab89f7516c593130a6ebbdbc43/cli_reference/developer_cli_odo/understanding-odo.adoc

[2020-07-08 19:06] maysunfaisal commented on #3015
Update:
Will skip on checklist `Refactor docker/utils/utils.go StartBootstrapSupervisordInitContainer() since it is very similar to docker/component/utils.go startComponent()` because looking at it startComponent() does so much than bootstrap func() like update containerConfig with ports and update hostConfig with ENV for commands.

I can see it being refactored with a func() that takes hostConfig

[2020-07-08 19:44] maysunfaisal commented on #3015
Update:
Checking off `sync/adapter.go SyncFiles() has a lot of variables, see if they can be cleaned up further nicely with a struct`

SyncFiles(syncParameters common.SyncParameters) is already cleaned up with structs:
[code]

Also checked that `pushParameters := syncParameters.PushParams` is used instead of the long qualified names to access push param struct properties

[2020-07-08 20:02] maysunfaisal opened #3518 "Clean up devfile exec package functions"
pkg/exec/devfile.go's `ExecuteDevfileRunActionWithoutRestart()`, `ExecuteDevfileDebugActionWithoutRestart` is ~95% similar to their non restart counterparts `ExecuteDevfileRunAction`, `ExecuteDevfileDebugAction`

To me it looks like a lot of redundant code and can be massively cleaned up by modifying the prev existing functions to handle non restarts.

Came across this when looking at ways to refa

[2020-07-08 20:02] maysunfaisal commented on #3015
Update:
`execDevfile()` could have been refactored between kube and docker adapter. But it looks like kube and docker implementations have diverged. Kube has debug and restart capability while docker does not.

I also noticed that we have `ExecuteDevfileRunActionWithoutRestart()`, `ExecuteDevfileDebugActionWithoutRestart` which is 95% the same as their non-restart counter parts. Not sure why these

[2020-07-08 20:02] #3015 closed

[2020-07-08 20:36] girishramnani opened #3520 "Clean up of Multiple devfile parsing in Push code"
Can we parse this devfile before and pass into the function? Because we seem to call it later at https://github.com/openshift/odo/blob/e28812a34d4a2443d1e816141c401e3562a5c6ae/pkg/odo/cli/component/devfile.go#L58. Maybe parse and pass into these functions?

_Originally posted by @mik-dass in https://github.com/openshift/odo/pull/3254_

[2020-07-08 20:44] girishramnani opened #3521 "JSON / machine output support for Devfile Components"
/kind user-story

This is a follow up issue for things that the older user story https://github.com/openshift/odo/issues/2835 didn't cover

## User Story
As a user I want to list components (openshift or kubernetes ) without creating a component in a directory. Also support for `--path` flag and json out for devfile v2 components.

## Acceptance Criteria
- [ ] It should list components (openshift

[2020-07-08 22:05] girishramnani commented on #3467
This issue is about discussion so removing the `required-for-v2` label

[2020-07-08 22:06] girishramnani commented on #3094
I can work on this

[2020-07-08 22:17] girishramnani commented on #3094
also by `odo preference list` u mean `odo preference view` right?

[2020-07-08 23:20] girishramnani commented on #3499
I can work on this

[2020-07-08 23:31] girishramnani commented on #3499
opened a PR, please confirm @prietyc123 that it resolves the error on windows

[2020-07-08 23:42] girishramnani commented on #3328
I can work on this

[2020-07-08 23:48] girishramnani commented on #3328
Opened a PR for this https://github.com/openshift/odo/pull/3524 @prietyc123 please verify its resolved the problem

[2020-07-08 23:58] girishramnani commented on #3498
I can work on this

[2020-07-09 00:02] girishramnani commented on #3498
opened a PR for this https://github.com/openshift/odo/pull/3525

[2020-07-09 00:04] girishramnani commented on #3484
@anandrkskd could you please work on this issue?

[2020-07-09 00:08] girishramnani commented on #3480
@kadel do you think we need this for odo v2?

[2020-07-09 00:53] gorkem commented on #3495
I have needed it to forward a jupyter notebook kernel and debug it.

[2020-07-09 03:42] prietyc123 commented on #3499
No, I have checked the JSON struct thoroughly and nowhere I found "kind": "route" attribute. So clearly its not order issue.

+1

[2020-07-09 03:54] amitkrout commented on #3501
@prietyc123 In make target once the child process starts through the ```.PHONY``` statement, its environment is completely its own. The children will have their own environment copies and can change those, but they have no impact on the parent.

So the suggested way you are looking for can not be implemented through passing variable in make target. But it can be doable through modifying few more s

[2020-07-09 03:57] prietyc123 commented on #3501
Hmm… Then i am pretty sure we have never tested our test script as a developer in prow CI. Let me confirm it through my debug pr https://github.com/openshift/odo/pull/3503.
Thanks @amitkrout for the input

[2020-07-09 04:30] amitkrout commented on #3501
Right, the child recipes can not be copied to the parent shell. i can see it locally too
[code]
[code]
[code]

[2020-07-09 05:04] amitkrout commented on #3512
[code]

@sarveshtamba You need to setup operator in ```./scripts/configure-installer-tests-cluster.sh``` otherwise it won't get the required resource.

For your reference you can check how it has been done - https://github.com/openshift/odo/blob/master/scripts/configure-installer-tests-cluster.sh#L56

[2020-07-09 05:27] prietyc123 commented on #3501
[code]
yup, we never tested our test script from a developer login - https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_odo/3503/pull-ci-openshift-odo-master-v4.3-integration-e2e/1281079863381331968/artifacts/integration-e2e/container-logs/test.log

[2020-07-09 05:39] #2707 closed

[2020-07-09 05:40] amitkrout commented on #3363
looks like a happy ending. So closing it
/close

[2020-07-09 05:40] #3363 closed

[2020-07-09 05:52] amitkrout commented on #3491
Probably it network glitch. @sarveshtamba How many times this issue has been hit ? is it the link test only you are only hitting the issue ?

[2020-07-09 05:54] prietyc123 commented on #3499
Even I found the same things happening with `make test-cmd-url` and tried running the steps manually on windows 3.11 cluster internal PSI.

[code]
But again the desired json still did not match in [cmd_url_test](https://github.com/openshift/odo/blob/master/tests/integration/cmd_url_test.go#L157) and with some more spec. Problem is same with "kind": "route" attribute.

[2020-07-09 05:56] prietyc123 commented on #3499
Let me check

[2020-07-09 06:05] amitkrout commented on #3500
[code]
Test it on latest master odo binary. It should work.
/close
Feel free to reopen if you hit it again

[2020-07-09 06:06] #3500 closed

[2020-07-09 06:11] amitkrout commented on #3502
Same failures are reported in #3491 and #3497.
/close

[2020-07-09 06:18] prietyc123 commented on #3499
Commented the outcome https://github.com/openshift/odo/pull/3523#issuecomment-655924628

[2020-07-09 06:20] jichenjc commented on #3508
/assign

[2020-07-09 06:27] amitkrout commented on #3510
Error from the log
[code]

[2020-07-09 06:32] amitkrout commented on #3513
same failures has been reported in #3454, #3491 and #3497
/close

[2020-07-09 06:33] #3513 closed

[2020-07-09 06:36] jichenjc commented on #3508
the proposed code will make output looks like

[code]

[2020-07-09 07:14] mik-dass commented on #3307
None of the attempts of mine have been successful so far. Push triggered by watch is never stuck for me after running the script. I have tried even by changing the sleep value in the script.

[2020-07-09 07:44] sarveshtamba commented on #3500
Works with latest master odo:-

[code]
Thanks!

[2020-07-09 07:55] amitkrout commented on #3501
@prietyc123 https://github.com/openshift/odo/pull/3503#issuecomment-655969275

[2020-07-09 08:02] kadel commented on #3289
Where we are on automating running our tests on windows?

[2020-07-09 08:07] prietyc123 opened #3527 ""odo url describe" doesn't describe the created URL on windows platform"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10, 3.11 cluster on PSI

**Output of `odo version`:**
master

## How did you run odo exactly?

Steps to reproduce:

[code]

3. Copy the [project dir of devfile nodejs](https://github.com/openshift/odo/tree/master/tests/examples/source/devfiles/nodejs/project) to the current working directory

[code]

## Actual behavio

[2020-07-09 09:33] #3144 closed

[2020-07-09 09:55] sarveshtamba opened #3530 "odp push throws error of watch channel was closed on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-09 09:56] boczkowska commented on #2773
Docs PR: https://github.com/openshift/openshift-docs/pull/23453

[2020-07-09 10:08] prietyc123 commented on #3288
Running test on windows 3.11 cluster:

- [x] make test-cmd-devfile-url https://github.com/openshift/odo/issues/3527

[2020-07-09 10:31] dharmit commented on #2773
@boczkowska Thanks for the PR! In the PR I see that you've mentioned four states of which the state `Locally Deleted` doesn't make sense to be kept under `odo list`.
* `odo list`/`odo component list` - the status info showed here is that of the component
* `odo storage list` - the status info showed here is that of the storage connected (if any) to the component
* `odo url list` - the status info

[2020-07-09 10:37] sarveshtamba opened #3531 "Test failures while running `test-cmd-storage` test suite on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-09 10:39] mohammedzee1000 commented on #3276
Now all that remains to do a full release.

Also I'm already working on a script that will act as entry point on internal testing

[2020-07-09 10:54] amitkrout commented on #3385
@metacosm  So basically we are looking for flow like

<img width="575" alt="Screen Shot 2020-07-09 at 4 20 49 PM" src="https://user-images.githubusercontent.com/19851115/87031133-44e70200-c200-11ea-9878-49d133282c13.png">

I need to check with platform team if this is possible with pre submit test type that we are using, otherwise we explore other possibilities.

[2020-07-09 10:58] prietyc123 opened #3532 ""odo url describe" doesn't state "Kind" of the url on windows platform"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10, 3.11 cluster on PSI

**Output of `odo version`:**
master

## How did you run odo exactly?

Ran the steps both on windows and macOS. But on windows its not stating the `Kind` field.

Steps to reproduce:

On windows:

[code]

3. Copy the [project dir of devfile nodejs](https://github.com/openshift/odo/tree/master/te

[2020-07-09 11:43] prietyc123 commented on #3428
Closing the issue on the basis of the comment.

[2020-07-09 11:43] #3428 closed

[2020-07-09 11:52] mohammedzee1000 commented on #3385
While it is highly unlikely that such a workflow will work. Better to confirm with test platform team
/cc @openshift/openshift-team-developer-productivity-test-platform

Assuming it does not, we could also look to split minimum tests (ut + int) into presubmit and have e2e or maybe even all run as post submit. Does so might also allow us to reliably increase the delay in periodic tests as well

Als

[2020-07-09 11:53] sarveshtamba commented on #3530
/area system-pz

[2020-07-09 11:53] sarveshtamba commented on #3531
/area system-pz

[2020-07-09 11:54] sarveshtamba commented on #3530
cc:- @amitkrout ^^

[2020-07-09 11:54] sarveshtamba commented on #3531
cc:- @amitkrout ^^

[2020-07-09 11:57] kadel commented on #3467
Do we need to keep this issue?

[2020-07-09 12:18] prietyc123 commented on #3532
It was happening basically due to oldest version of odo. Now it is working fine so closing this issue.

/close

[2020-07-09 12:18] #3532 closed

[2020-07-09 12:18] dharmit commented on #3467
No. I have clarity on what's needed. We need #2613 fully in for v2.

/close

[2020-07-09 12:18] #3467 closed

[2020-07-09 12:18] prietyc123 commented on #3527
https://github.com/openshift/odo/issues/3532#issuecomment-656093671

[2020-07-09 12:18] #3527 closed

[2020-07-09 12:21] prietyc123 commented on #3499
On latest master it works fine, so closing the issue.

/close

[2020-07-09 12:21] #3499 closed

[2020-07-09 12:35] amitkrout commented on #2931
Yes, this is doable. I will send a pr.

[2020-07-09 12:40] #3260 closed

[2020-07-09 13:01] alvaroaleman commented on #3385
No it is not possible to have tests that only get triggered after approval and are a merge requirement. I personally also don't think it makes sense, because you are wasting your reviewers time by having them review something for which CI can tell you that its not going to work.

[2020-07-09 13:15] mohammedzee1000 commented on #3385
Well I guess we are going with what I recommended then, splitting the tests across presubmit, postsubmit and periodic.

wdyt @alvaroaleman

[2020-07-09 13:41] kadel commented on #3482
what is exact version that you are using? (commit id)

[2020-07-09 13:48] prietyc123 opened #3534 "test-cmd-devfile-debug teardown steps throws error while deleting context on windows platform"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10, 3.11 cluster on PSI

**Output of `odo version`:**
master

## How did you run odo exactly?

Run `make test-cmd-devfile-debug` on windows 3.11 cluster PSI

## Actual behavior

[code]

## Expected behavior

Should send the websocket request on autoselected local port.

## Any logs, error output, etc?

[2020-07-09 14:03] alvaroaleman commented on #3385
Yeah, sounds like a good idea, you just need to make sure that someone looks at them and acts if there are failures, otherwise its pretty much useless

[2020-07-09 14:33] mik-dass commented on #3534
<*os.PathError | 0xc00007d800>: {
          Op: "remove",
          Path: "C:\\Users\\Admin\\AppData\\Local\\Temp\\521225239",
          Err: 0x20,
      }
      remove C:\Users\Admin\AppData\Local\Temp\521225239: The process cannot access the file because it is being used by another process.
  occurred
    remove C:\Users\Admin\AppData\Local\Temp\521225239: The process cannot access the file beca

[2020-07-09 14:40] amitkrout commented on #3534
Yes, it should be fixed through the test teardown step.

[2020-07-09 14:43] mik-dass commented on #3534
It maybe due to https://github.com/golang/go/issues/29093#issuecomment-444377050. Can you please try to run the script from cmd or powershell with VS Code closed?

[2020-07-09 14:45] amitkrout commented on #3534
Also on cygwin terminal too just to confirm the behavior

[2020-07-09 15:20] amitkrout commented on #3534
Hit the same issue on powershell and cygwin even after closing the vs-code editor.

[2020-07-09 16:12] johnmcollier commented on #3338
@kadel Based on our discussion on the odo contributor's call on Tuesday about composite run commands, @elsony and I chatted and we decided to scope this story down to just suppoorting composite build/init/test commands, rather than partially supporting non-long running composite commands.

We'll open up a separate story for suppoorting composite run commands (both long running and non-long running

[2020-07-09 16:38] gorkem commented on #3479
I did a quick PR #3536 because it was interrupting my work. Seems to fix at least what I observe. Don't know if it is the way that you would like to fix it though.

[2020-07-09 16:41] amitkrout commented on #3534
On windows you can not delete the directory while it being used by some other processes, for example deleting a directory which is oped through shell instances.

[2020-07-09 18:10] jgwest commented on #3435
/assign

[2020-07-09 18:27] metacosm commented on #3385
@alvaroaleman a review should not be contingent on test results so I don't see that as a waste of the reviewer's time. The converse is also true: it doesn't make sense to test something that will be changed because of reviews that's why, imo, only unit tests should always be run before a PR is approved.

[2020-07-09 18:33] alvaroaleman commented on #3385
Tests have little associated costs, humans have very high associated cost so running a couple more tests if that saves human time is always worth it. Happy for you if you have the capacity to do so many reviews, I rarely look at PRs that have failing tests.

It would be conceptionally very hard to add something like this to Prow and it opens up a nice set of failure modes (how to handle test failu

[2020-07-09 19:20] metacosm commented on #3385
While I agree with you in principle, that's just not true for odo. The integration tests take several hours to complete and are highly unreliable (lots of flakes) so if you're waiting for tests to pass to perform a review, you will never review anything… :)

I'm not saying that this should be added to Prow, just saying that the odo tests should be set up in such a way that only unit tests (which s

[2020-07-09 20:06] GeekArthur commented on #3401
From the `env.yaml` file loader in the source code, here is the list of fields that `odo env` can set/unset:
[code]

[2020-07-10 00:39] #2428 closed

[2020-07-10 00:54] #3534 closed

[2020-07-10 07:18] mohammedzee1000 commented on #3385
Nice little discussion there @metacosm @alvaroaleman. I will need to think about this before putting my points :)

However, there is another way we of splitting testing that could improve testing time while avoiding invisibility to an extent.

First, we should probably remove all but latest and latest-1 openshift clusters from pre submit with complete testing relegated to post submit and periodic.

[2020-07-10 07:45] sarveshtamba opened #3539 "Test failures while running `test-cmd-push` test suite on ppc64le"
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-07-10 07:56] sarveshtamba commented on #3539
/area system-pz

[2020-07-10 07:56] sarveshtamba commented on #3539
cc:- @amitkrout ^^

[2020-07-10 08:05] prietyc123 commented on #3367
Same issue I am facing with `--starter` while creating the component on windows. Including `--starter` in the issue heading.

Steps to reproduce:

[code]

[2020-07-10 09:07] kadel commented on #3484
/priority low

[2020-07-10 09:09] kadel commented on #3498
this is really low priority. We have a lot more pressing issues in "For Consideration" pile or labeled with required-for-v2

[2020-07-10 09:11] kadel commented on #3518
/kind code-refactoring

[2020-07-10 09:12] kadel commented on #3520
/kind code-refactoring

[2020-07-10 10:15] prietyc123 commented on #3256
Same failure I can seen while executing `make test-cmd-devfile-push` on windows PSI 3.11 cluster.

[code]

[2020-07-10 11:11] prietyc123 opened #3540 "test-cmd-devfile-log teardown steps throws error while accessing projectDir on windows platform"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Run `make test-cmd-devfile-log` on windows

## Actual behavior

[code]

## Expected behavior

We should handle the `C:\Users\Admin\AppData\Local\Temp\203208851\projectDir` smartly in the spec. As it is expected behaviour on windows.

## Any logs

[2020-07-10 12:14] kadel commented on #3540
/kind test
/area windowos

[2020-07-10 12:26] kadel commented on #3346
duplicate of https://github.com/openshift/odo/issues/3144
Support for this was recently merged in  https://github.com/openshift/odo/pull/3254

/triage duplicate
/close

[2020-07-10 12:26] #3346 closed

[2020-07-10 12:32] kadel opened #3542 "odo create --devfile ./devfile.yaml deletes current devfile"
If I run `odo create` with  `--devfile` flag that points to the devfile in current directory odo just replaces it with empty file :-( Which is pretty ugly, as it just destroyed my work :-(

The reason I would like to be able to run with `--devfile devfile.yaml` is that I want for odo to use my already existing devfile and also be able to provide custom odo component name.

[code]

Correct behavior

[2020-07-10 12:34] prietyc123 opened #3543 "Wrong namespace gets set in cmd-docker-devfile-url-pushtarget on windows platform"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10, 3.11 cluster PSI

**Output of `odo version`:**
master

## How did you run odo exactly?

Ran `make test-cmd-docker-devfile-url-pushtarget` on windows 3.11 cluster PSI

## Actual behavior

[code]

## Expected behavior

It should not try to set some unknown namespace.

## Any logs, error output, etc?

[2020-07-10 12:35] cdrage commented on #3543
I'd honestly just remove the test / rip it out since we're no longer supporting docker.

[2020-07-10 12:38] prietyc123 commented on #3543
I would say let this issue be there. If in future we try to support docker then we can consider this one otherwise just ignore.

[2020-07-10 12:41] #1946 closed

[2020-07-10 12:54] sarveshtamba commented on #3454
@amitkrout any timelines for resolving #2877 and #3232 ?

[2020-07-10 12:59] prietyc123 commented on #3288
I have covered all the issues related to windows for devfile tests. So closing this issue.

/close

[2020-07-10 12:59] #3288 closed

[2020-07-10 13:18] #3517 closed

[2020-07-10 13:27] prietyc123 commented on #3482
[code]

[2020-07-10 13:27] cdrage opened #3544 "Devfile v2: Breaking change. endpoints.configuration has been moved / removed"
/kind feature

## Which functionality do you think we should add?

`configuration` key under `endpoints` has been removed / moved.

See the current schema: https://devfile.github.io/devfile/_attachments/api-reference.html

For example:

[code]

`configuration` is no longer valid.

All keys under `configuration` has been moved one key **up**.

Thus the above example is now:

[code]

## Why is this

[2020-07-10 23:46] #3002 closed

[2020-07-11 04:17] #3355 closed

[2020-07-11 07:02] #3104 closed

[2020-07-11 11:23] #3354 closed

[2020-07-11 12:41] amitkrout commented on #1708
Right.
After the ```-w``` flag implementation in project create it works fine, i mean the test script can list the current project.

[2020-07-11 15:30] #3501 closed

[2020-07-11 20:08] #3396 closed

[2020-07-12 05:42] amitkrout commented on #3420
It has been fixed as part of pr https://github.com/openshift/odo/pull/3457. In CI the flake is now time out in watch ticker instead of culr error.

Reference - https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3462/pull-ci-openshift-odo-master-v4.3-integration-e2e/1280067878812389376#1:build-log.txt%3A648

/close

[2020-07-12 05:43] #3420 closed

[2020-07-12 12:34] amitkrout commented on #3307
I also spend some time to reproduce it. None of the time i hit the issue out of 6 try.

@mik-dass The same issue is hit in one of my pr. You can see the verbose log here at - https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3546/pull-ci-openshift-odo-master-v4.2-integration-e2e/1281939561458438144#1:build-log.txt%3A565

[2020-07-13 00:51] #2566 closed

[2020-07-13 00:51] #2590 closed

[2020-07-13 03:52] amitkrout commented on #3530
[code]

[2020-07-13 03:56] amitkrout commented on #3531
Same error reported in #3454

[2020-07-13 04:00] amitkrout commented on #3539
Same error has been reported in #3454, #3530 and #3497

[2020-07-13 04:08] mik-dass commented on #3307
[code]
This is a different error than the one reported here.

[2020-07-13 05:11] mohammedzee1000 commented on #764
This is really strange indeed. I got feedback from openshift team. `oc` also uses client-go and according to them,

[code]

[2020-07-13 05:13] mohammedzee1000 commented on #764
@greg-pendlebury maybe we need to check is something different in you env?

[2020-07-13 05:43] mohammedzee1000 commented on #3276
I think this task is done. CVP tests are a stretch goal, they are being worked on and we can use a separate issue to track that.

As I said, a full release is needed, but it should work as normal

[2020-07-13 07:06] amitkrout commented on #3307
@mik-dass Yes, but see the end result. It is exactly the same what i was reproduced locally. When i reproduced it for first time, similar error i was getting while curling the url and searching for the updated string. The new string was not updated because push stuck in between as i mentioned above and also attached the screen shoot for reference.

In CI we hit the same error but in a different wa

[2020-07-13 08:32] prietyc123 opened #3547 "odo push with --source and --config is failing more often on multi stage infrastructure"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running tests on openshift release repo pr https://github.com/openshift/release/pull/9431

## Actual behavior

[code]

## Expected behavior

It should get pushed.

## Any logs, error output, etc?

More info https://deck-ci.apps.ci.l2s4.p

[2020-07-13 08:34] kadel commented on #3547
How is this flake when it is failing CONSISTENTLY? :-)

[2020-07-13 08:36] kadel commented on #3547
This looks like more an issue with tests or infrastructure than odo
/remove-kind bug
/kind failing-test

[2020-07-13 08:38] prietyc123 commented on #3547
I have observed it failing consistently on 4.5 cluster but talking about other cluster sometimes it gets passed sometimes failed. But mostly passing on which you can see in pr https://github.com/openshift/release/pull/9431.

And this is the reason I am considering it flake though not sure what is happening around.

[2020-07-13 08:56] adisky commented on #3156
- [ ] Add command `odo utils migrate-to-devfile`
- [ ] Generate devfile.yaml
     - [ ]  convert s2i storage from local config to devfile volume
     - [ ] create devfile container component from s2i image details
     - [ ] convert s2i ports from local config to devfile endpoints
     - [ ] Add s2i env variables to container component
     - [ ] set build and run commands
     - [ ] add s2i compo

[2020-07-13 09:12] girishramnani commented on #3402
@jgwest there is an overlap with https://github.com/openshift/odo/pull/3505

[2020-07-13 09:23] kadel opened #3548 "Implement `hotReloadCapable` flags from devfile v2 spec"
https://github.com/devfile/kubernetes-api/issues/64

Let's implement support for `restartOnChange` field as defined in the above issue

/triage needs-information

[2020-07-13 09:41] amitkrout commented on #3385
First, we should probably remove all but latest and latest-1 openshift clusters from pre submit with complete testing relegated to post submit and periodic.

+1, this same ideas has been discussed in one of the weekly standup call for reducing the number of cluster and will use the same test type as it is.

@mohammedzee1000 But for pr testing post submit job is not the best fit IMO because it will

[2020-07-13 09:55] amitkrout commented on #3385
I am creating the task list

- [ ] Use only two cluster version (latest release and upcoming release) for pr validation
- [ ] Configure the rest supported cluster version for periodic run
- [ ] Split the test for pr validation. Run half of test on one cluster version and other half on other cluster.

[2020-07-13 10:48] sarveshtamba commented on #3510
@amitkrout is this also flaky test like #3454 ?

[2020-07-13 10:50] amitkrout commented on #3289
@kadel We are blocked right now - https://github.com/openshift/odo/issues/2540#issuecomment-636791166. There is a WIP pr https://github.com/openshift/release/pull/9431 to unblock it.

/close

[2020-07-13 10:50] #3289 closed

[2020-07-13 11:29] mik-dass commented on #3307
The new string was not updated maybe because of https://github.com/openshift/odo/issues/3479.

This makes it a completely different issue then the current one. Also in the above screenshots or logs it is not clear at all. We should open a new issue with the logs.

[2020-07-13 11:34] amitkrout commented on #3307
As i mentioned above I will try to reproduce it again with all the verbose log whenever i will get time.

[2020-07-13 11:42] mik-dass commented on #3307
Please till then close this issue and open a new issue later on as the error you mentioned in the above logs is completely different.

[2020-07-13 11:50] amitkrout commented on #3307
i can read it from here  https://github.com/openshift/odo/issues/3307#issuecomment-657347629 aswell.

So you need the same steps https://github.com/openshift/odo/issues/3307#issuecomment-649487799 in another issue with verbose log ?

[2020-07-13 11:56] mik-dass commented on #3307
Yes and the description of this issue is about `watch being stuck` which is not evident from the logs at all. This is a different error.

Yes. Or maybe just rename the title and description of the issue to match what's in the logs here https://github.com/openshift/odo/issues/3307#issuecomment-657215962.

[2020-07-13 12:12] amitkrout commented on #3307
Now i think i made a mistake by adding a similar failure for reference which is already filed. TBH now i am afraid of updating issue with reference that looks similar to it

[2020-07-13 12:12] #3307 closed

[2020-07-13 12:59] girishramnani opened #3550 "Move the devfile feature set out of the experimental mode"
/kind user-story

## User Story
As a  user I should be able to use the devfile features without having experimental mode enabled. The decision between devfile and s2i will be made based on which config file is present locally.

## Acceptance Criteria
- [ ] It should use devfile by default
- [ ] It should allow user to use devfile without experimental mode
- [ ] resolve broken tests
## Links
- Feat

[2020-07-13 13:03] GeekArthur commented on #3542
Duplicate of https://github.com/openshift/odo/issues/3452.

Temporary workaround:
You can run `odo create` in the current directory directly without using `--devfile` flag then odo can pick up the existing devfile in the current directory.

Permanent fix:
To fix this, we can just add validation code at the beginning of the file copy function https://github.com/openshift/odo/blob/master/pkg/util/ut

[2020-07-13 13:11] mohammedzee1000 commented on #764
Would you be willing to share the information about your env such as your env variables when you run the command etc. If you are scared that you will leak any dangerous information, then feel free to send it to my redhat email `moahmed@redhat.com`. You can encrypt it using my gpg [key](http://keys.gnupg.net/pks/lookup?search=mohammed.zee1000%40gmail.com&fingerprint=on&op=index)

[2020-07-13 14:58] girishramnani commented on #2785
so figured out from this https://github.com/openshift/console/pull/2580 that the `openapi/v2` exposes the `openapischema` as well.
But this only happens on openshift, but also k8s allows getting CRDs without any RBAC problem. so we have to use openapi swagger for openshift and CRD def for k8s.
the swagger - https://raw.githubusercontent.com/openshift/origin/master/api/swagger-spec/openshift-openap

[2020-07-13 15:03] girishramnani commented on #2785
reason we need different approach for k8s because CRD defs are not published to `openapi/v2` schema https://github.com/openshift/console/pull/2580/files#r320472178

[2020-07-13 18:53] #494 closed

[2020-07-13 18:53] #1823 closed

[2020-07-13 18:53] #1221 closed

[2020-07-13 18:53] #1377 closed

[2020-07-13 18:53] #1383 closed

[2020-07-13 18:53] #1549 closed

[2020-07-13 18:53] #1421 closed

[2020-07-13 19:51] BarDweller commented on #3296
I think this is due to..

https://github.com/openshift/odo/blob/4d69aab92593a148cf952ecaa0a1556ef43100fc/pkg/util/util.go#L903-L908

The code here is assuming that paths in zips are using platform local separators, which although _possible_ is a LOT less likely than them using forward slash (`/`) separators at all times. Apparently the zip spec itself requires this, but sadly it seems references t

[2020-07-13 23:19] GeekArthur opened #3553 "Configure travis CI and OpenShift CI to support testing features with secrets"
/kind feature

## Which functionality do you think we should add?
We need a mechanism to inject secrets into travis CI and OpenShift CI environment so that we can test features with secrets such as secure registry support feature https://github.com/openshift/odo/issues/2893.

Rough design:
Travis CI: We can follow this instruction https://docs.travis-ci.com/user/deployment/pages/#setting-the-githu

[2020-07-14 00:54] #926 closed

[2020-07-14 00:54] #1271 closed

[2020-07-14 00:54] #1720 closed

[2020-07-14 03:42] #3094 closed

[2020-07-14 06:00] mohammedzee1000 commented on #3553
Note, when we do this, we need to bear in mind the effect it will have on non-ci testing. This includes local testing as well where the secret might not be injected.

Please ensure the said tests can be skipped if env cannot be set / document how users can provide their own tokens.
Note: Whatever the case, the tests should be compulsory in CI as we will inject the envs there.

[2020-07-14 06:01] mohammedzee1000 commented on #3553
/area testing
/priority medium

[2020-07-14 06:30] amitkrout opened #3554 "Add test validation for machine readable output of odo preference view"
/kind bug

Test script (UTs and integration) verification of https://github.com/openshift/odo/pull/3522

[2020-07-14 08:01] girishramnani commented on #3480
I think the odo watch command can check for a running pod and use the same command used while push occurred. But I also want to consider a case where a user might want to run the debug command while doing watch? or can that be handled by the more general `--command=<command-name>` flag?

[2020-07-14 08:03] girishramnani commented on #3543
This is docker related, @elsony can you please take a look at it.

[2020-07-14 08:03] kadel commented on #3093
fixed
/close

[2020-07-14 08:03] #3093 closed

[2020-07-14 08:04] girishramnani commented on #3540
This is not important for v2 as its tests related.

[2020-07-14 08:14] girishramnani commented on #3299
Yeah I mean at this point, we dont think its important at all as a metric.

[2020-07-14 08:17] kadel commented on #3385
+1 I would even consider just using the latest release

-1 this makes me a little bit worried I would rather run a full test suite on each cluster.

There should be one additional point:
 - [ ] Clean up integrations tests - remove duplicated tests, optimize tests, minimalize external dependencies

[2020-07-14 08:45] prietyc123 commented on #3395
Not sure about why its not getting created but every time I got the same behaviour.

/assign @elsony

[2020-07-14 09:31] kadel opened #3558 "Release odo v2.0.0-alpha1"
Do 2.0.0-alpha1 release
 - [ ] devfile and operator hub integrations should be promoted out of the experimental mode ( https://github.com/openshift/odo/issues/3550)
 - [ ] release needs to be done I a way that it won't prevent us doing 2 release streams independently - one regular v1.x.x with devfile and operatorhub in experimental mode, and v2.x.x with devfile and operator hub out of experimental

[2020-07-14 09:38] dharmit opened #3559 "Is there a plan to add service link information to devfile instead of adding it to env.yaml?"
/kind discussion
/area devfile
/area service-operators

## Why is this needed?
This could help in keeping information required to create the container spec at one place instead of doing it separately as proposed in the PR #3557.

[2020-07-14 09:45] dharmit opened #3560 ""odo service list" should output Operator backed service as "<servicekind>/<servicename>""
/kind feature
/kind discussion
/area UX

Currently, we're listing services backed by Operators as below:
[code]

As proposed in #3557, if a user wants to connect to EtcdCluster named example, they need to do `odo link EtcdCluster/example`. For better UX, it would be helpful if we list the services as below instead:
[code]

_Originally posted by @dharmit in https://github.com/openshift/odo/issues/2

[2020-07-14 10:02] dharmit commented on #3560
I have opened a PR based on the discussion had in #2920. Completely open to suggestions/discussion if we would like to have different output format.

[2020-07-14 10:13] dharmit opened #3562 "Is there a plan to use a storage backend that would persist code between successive "odo push" executions?"
## Which functionality do you think we should add?
While working on #2920, we found that since we use `emptyDir` as backing storage volume, the k8s Deployment fails to come up after linking.

A bit about linking. Linking (`odo link`) creates a Service Binding Request (SBR) using the APIs provided by Service Binding Operator (SBO). A SBR creates a k8s Secret and injects this Secret's information in

[2020-07-14 10:15] dharmit commented on #3562
@johnmcollier I was told that you did some research on using a persistent backend for components.

@kadel the issue description is largely based on what you explained me when I was stuck while implementing `odo link`. If there's some mistake on my part in describing our discussion, let me know.

[2020-07-14 10:35] #3328 closed

[2020-07-14 10:55] kadel commented on #3554
/remove-kind bug
/kind testing
/area json

[2020-07-14 10:57] dharmit opened #3563 ""odo unlink" to unlink a devfile component from an Operator backed service"
There should be an unlink feature since it's a pretty basic requirement!

_Originally posted by @girishramnani in https://github.com/openshift/odo/pull/3557#issuecomment-658046911_

[2020-07-14 11:22] kadel commented on #3553
This works only for PR that was opened from branch in the main do repo. It won't work for forks. This restriction is there for security. Otherwise, anyone who can open PR could extract secrets.

[2020-07-14 11:23] kadel commented on #3553
You don't need secure secrets for testing. For testing, you can use some fake registry where it doesn't matter that secret gets leaked

[2020-07-14 11:28] prietyc123 commented on #3389
/kind test

[2020-07-14 11:48] prietyc123 commented on #3547
I observed till now that this is purely specific to 4.5 cluster. None of the time I have seen it passing on 4.5 and also did not get this failure on any of other cluster. Failure logs can been seen https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/pr-history/?org=openshift&repo=release&pr=9431

[2020-07-14 12:12] kadel commented on #3548
I've just opened PR to add those fields to devfile v2 spec https://github.com/devfile/kubernetes-api/pull/96

[2020-07-14 12:38] mohammedzee1000 commented on #3553
+1 to that. we should avoid unnecessary complication if we can

In fact, in this case we can say have a token with read-only access on a test registry. That way it won't matter if a billion people can get it

[2020-07-14 13:27] upLukeWeston opened #3565 "preStart lifecycle event support"
## User Story
As a stack creator, I want to be able to define commands that will be run before any containers have been initialized during `odo push` (preStart events), in the form of [Init Containers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/).

## Acceptance Criteria
- It should follow the specification as defined in [devfile/kubernetes-api#32](https://github.com/devfil

[2020-07-14 14:34] GeekArthur commented on #3553
Yes, that's a expected restriction for security.

[2020-07-14 14:54] upLukeWeston opened #3566 "preStop lifecycle event support"
## User Story
As a stack creator, I want to be able to define commands that will be executed before my component is deleted as a part of `odo delete` (preStop events)

## Acceptance Criteria
- It should follow the specification as defined in [devfile/kubernetes-api#32](https://github.com/devfile/kubernetes-api/issues/32) to support execution of the commands based on the events.
- `preStop` events

[2020-07-14 14:54] #2893 closed

[2020-07-14 15:02] GeekArthur commented on #3553
Currently the registry is GitHub-hosted registry, given GitHub only supports user-scoped token instead of repo-scoped token, so I don't think the scope of GitHub token supports read-only access.

I find some resource from OpenShift: https://www.openshift.com/blog/private-git-repositories-part-3-personal-access-tokens
[code]

Actually the current design of testing registry is fake registry, the pur

[2020-07-14 15:11] elsony commented on #2893
One thing to note that this item only covers secure devfile repo and download of the devfile. The support of the sample applications coming from a stack in a secured repo is not covered as part of this item.

[2020-07-14 15:45] GeekArthur commented on #2893
/remove-triage needs-information

[2020-07-14 15:45] GeekArthur commented on #2893
/triage ready

[2020-07-14 15:46] GeekArthur opened #3567 "Support downloading starter project from secure repository/host"
/kind user-story

## User Story
Currently odo already support secure registry (user story https://github.com/openshift/odo/issues/2893). Given that, as a user I want to download starter project from secure repository/host so that I can use odo to develop and deploy my secure starter project.

## Acceptance Criteria
- [ ] It should allow user to enter credential of the repository/host that stores t

[2020-07-14 15:47] GeekArthur commented on #2893
Issue is open to track support downloading starter project from secure repository/hosthttps://github.com/openshift/odo/issues/3567

[2020-07-14 15:52] johnmcollier commented on #3562
@dharmit Yah, our earlier "kdo" poc used persistent volumes instead of emptyDir volumes for components

[2020-07-14 17:32] johnmcollier opened #3568 "Support composite run commands in odo"
/kind user-story

## User Story
As a user, I want to run odo with devfiles that contain composite run (or debug) commands, which may contain one or multiple long-running commands.

https://github.com/openshift/odo/pull/3551 delivers support for composite non-run commands (i.e. build, init, etc), but composite run commands are not yet supported. This is because the current supervisord integration i

[2020-07-14 17:39] elsony opened #3569 "Add preStart, preStop and postStop lifecycle event support"
/kind user-story

## User Story
As a stack creator, I want to make use of the preStart, preStop and postStop events defined in the devfile 2.0.
Devfile 2.0 providers ability to execute commands based on lifecycle events.

Overall design of how to handle those lifecycle events is defined in https://github.com/openshift/odo/pull/3413.

## Acceptance Criteria
- [ ] It should follow the specification

[2020-07-14 17:48] elsony opened #3570 "Move devfile kube support out of experimental"
/kind user-story

## User Story
As a developer, I want to use the devfile support (kube scenario) by default without the need of turning on experimental mode.
NOTE: This item should not be merged until all items labeled `required-for-v2` have been completed.

## Acceptance Criteria
- [ ] Enable the devfile kube scenario by default without the need for tuning experimental mode on.
- [ ] Local docke

[2020-07-14 17:59] elsony opened #3571 "Devfile creation uses parent instead of copy of original devfile"
/kind user-story

## User Story
As a user, I want the devfile created during component create to refer to the original devfile using parent support instead of having a copy of the entire original devfile.

https://github.com/openshift/odo/issues/2919 introduced the parent support in devfile. This item is to make use of the parent support by default during devfile creation as part of the component

[2020-07-14 17:59] elsony commented on #3571
blocked by https://github.com/openshift/odo/issues/2919

[2020-07-14 18:00] #3560 closed

[2020-07-14 18:02] elsony commented on #3570
This is a dup of #3550

[2020-07-14 18:02] #3570 closed

[2020-07-14 18:05] elsony commented on #3550
Note:
1. This item is restricted to the Kube inner loop scenario only.
2. Local docker support should continue to require experimental set to true
3. odo deploy function should continue to require experimental set to true

[2020-07-14 18:06] elsony commented on #3550
/area devfile

[2020-07-14 18:17] cdrage commented on #3284
ping @girishramnani @kadel @dharmit should we discuss this a bit more before we merge the PR?

[2020-07-14 18:18] elsony opened #3574 "Download of starter project stored in a secure repo"
/kind user-story

## User Story
As a devfile creator, I want to store my starter project in a secured repo which is different from a secured devfile registry.

As part of https://github.com/openshift/odo/issues/2893, odo supports accessing a secured devfile registry.  That item only covers access to a secured devfile repo and also the download of the devfile stored in the same repo as the devfile

[2020-07-14 18:28] GeekArthur commented on #3574
Duplicate of https://github.com/openshift/odo/issues/3567, we may close 3567 and leave this one open since this one already triages to sprint 187.

[2020-07-15 05:31] jichenjc commented on #3474
I got same error

[code]

[2020-07-15 05:33] prietyc123 commented on #3270
Facing some weird behaviour of kubeconfig on openshift release repo. Issue tracked https://github.com/openshift/odo/issues/3501

[2020-07-15 05:38] jichenjc commented on #3474
@adisky is this because `url` is pushed so that whether it's devfile mode or s2i mode we should show it?

[2020-07-15 05:45] mohammedzee1000 commented on #3544
Acceptance Criteria:

- [ ] Update the devfile struct to use new format
- [ ] Update functions associated with the struct
- [ ] Verify and update any devfiles in our registries that need updating
- [ ] Update corresponding tests

[2020-07-15 06:09] kadel commented on #3284
@cdrage is there anything specific that you want to discuss?

[2020-07-15 07:21] mik-dass commented on #3480
I am not sure if we can get the info without saving it somewhere. This also might confuse users.

For debugging to work with watch, we also need port forwarding to be on.

- We can ask the user to start port forwarding when watch was triggered with `--debug` flag
OR
- We can start it (if not already running) and keep it running in the background during watch.

Yes we can check if the pod is curren

[2020-07-15 07:33] mik-dass commented on #3398
- `odo storage create` will only add the storage to the devfile.yaml and mount to all the containers
- `odo storage delete` will delete the given storage from the devfile.yaml and unmount from all the containers
- `odo storage list` will display the all the storage from the devfile and mention the size, current STATE etc of each storage by comparing with the cluster. (blocked because of #3407)

Th

[2020-07-15 07:49] metacosm commented on #3385
I would also add: investigate and fix or remove unstable tests (flakes) :)

[2020-07-15 08:43] adisky commented on #3548
@kadel little confused on `backgroud` flag, we determine the process has to be run in background by its kind (I believe kind is for this purpose), am i missing some motive behind adding the `background` flag?

[2020-07-15 09:15] upLukeWeston opened #3577 "postStop lifecycle event support"
## User Story
As a stack creator, I want to be able to define commands that will be executed after my component has been deleted as a part of `odo delete` (postStop events)

## Acceptance Criteria
- It should follow the specification as defined in [devfile/kubernetes-api#32](https://github.com/devfile/kubernetes-api/issues/32) to support execution of the commands based on the events.
- `postStop`

[2020-07-15 09:17] adisky commented on #2754
I think it is implemented by https://github.com/openshift/odo/pull/3083

[2020-07-15 09:37] prietyc123 commented on #3484
@cdrage Can you please provide the user acceptance scenario for this?

[2020-07-15 10:02] adisky opened #3578 "Move container image used in springboot devfile to some odo owned image repository"
The image we are using in java-springboot devfile is in @maysunfaisal 's personal image repository, it should be moved to some odo owned repository
https://github.com/odo-devfiles/registry/blob/master/devfiles/java-springboot/devfile.yaml#L12

[2020-07-15 10:07] adisky commented on #3542
since #3452 and this one similar we should close one.

[2020-07-15 10:29] adisky opened #3579 "Two devfile component deployed with same name, second component overrides the first one."
/kind discussion

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

## Actual behavior
If you try two create two devfile component with same, neither `odo push` nor `odo create` gives error.
e.g
* create a nodejs component
$ odo create nodejs unique
$ odo push
* create a springboot component with same name from a diff

[2020-07-15 10:57] adisky commented on #3578
Got image pull error whole day
[code]

[2020-07-15 11:25] #2857 closed

[2020-07-15 13:43] dharmit commented on #3378
Focus on Travis for now and get tests working on it. Focus on Prow later.

[2020-07-15 13:52] cdrage commented on #3484
Unsure what you mean by this. But essentially we just need tests for `ClonePath` as I guess the acceptance?

[2020-07-15 13:54] cdrage commented on #3284
@kadel Nope, just wanted to make sure that there is a clear consensus on getting this merged in since I didn't see any discussion.

But I think this command is great in order to test the commands

[2020-07-15 14:01] mohammedzee1000 commented on #3385
@amitkrout @kadel I did not mean that. I meant doing all the tests on every version but splitting them as instances like test1-4.5 runs 1 half and test2-4.5 runs second half for example

[2020-07-15 14:07] dharmit commented on #3398
Storage creation creates 5GiB volume by default. It needs to be fixed as a part of this issue so that other size is respected/considered.

[2020-07-15 14:16] kadel commented on #3480
We can save this information to env.yaml.
When `odo push --debug` is executed `runMode: debug` will be added to
`env.yaml`
When `odo push` is exectued `runMode: run` will be set in `env.yaml`

`odo watch` than can check the information from `env.yaml` to determine the correct mode.

This should be OK as `odo push` is the only way to switch between normal run a debug.

I would go with this option.

[2020-07-15 14:26] dharmit commented on #3548
Scope of this issue is only for `restartOnChange`. `background` will be handled separately.

[2020-07-15 14:27] kadel opened #3580 "Implement `background` flags from devfile v2 spec"
devfile/kubernetes-api#64

Let's implement support for `background` field as defined in the above issue

/triage needs-information

[2020-07-15 14:27] kadel commented on #3548
Opened separate issue for `background` https://github.com/openshift/odo/issues/3580

[2020-07-15 14:30] adisky commented on #3580
posting my question here, we could easily distinguish a command has to be run in foreground/background with
`kind`
kind: `build` `test`  : run in foreground
kind: `run` `debug` : run in background.
so i am not clear with the purpose of background flag.

[2020-07-15 14:30] johnmcollier opened #3581 "Support PROJECTS_ROOT env variable in odo"
/kind user-story

## User Story
As a user, I want to be able to configure the sync folder using the `$PROJECTS_ROOT` environment variable in my terminal, as per the Devfile 2.0 spec.

## Acceptance Criteria
- [ ] It should replace the existing `$CHE_PROJECTS_ROOT` variable used in Odo, and function the same.
- [ ] The sample odo devfiles in github.com/odo-devfiles should be updated accordingly
- [

[2020-07-15 14:30] johnmcollier commented on #3581
/assign

[2020-07-15 14:31] johnmcollier commented on #3581
As a side note, I'll be handling this with the other changes in https://github.com/openshift/odo/issues/3494, but thought I'd open a separate story since this change is not directly related to the changes in https://github.com/openshift/odo/issues/3494.

[2020-07-15 14:38] maysunfaisal commented on #3398
@dharmit storage size is going to be covered by https://github.com/openshift/odo/issues/3407
I will be putting up a PR today for it

[2020-07-15 15:04] neeraj-laad commented on #3569
@elsony There are separate issue for each of these events too.. Looks  @upLukeWeston created them while you had created a common one for this too.

We should close this or close the other three.

https://github.com/openshift/odo/issues/3565
https://github.com/openshift/odo/issues/3566
https://github.com/openshift/odo/issues/3577

[2020-07-15 15:27] neeraj-laad opened #3583 "Support Kubernetes build and deploy support in odo"
/kind feature

## Which functionality do you think we should add?
The following proposal adds support for building a container image and deploying it:
https://github.com/openshift/odo/blob/master/docs/proposals/odo-deploy.md

There is a PR open to supporting this capability on OpenShift: https://github.com/openshift/odo/pull/3478

We should add support for any Kubernetes as the target.  At a high

[2020-07-15 15:57] gorkem commented on #3480
So far I was not fan of `--debug` for `watch` but `watch` command is a blocking command and users always end up starting a new shell to do the debug. If `--debug` can initiate the port forwarding, the flag makes more sense.

[2020-07-15 19:17] GeekArthur commented on #3401
In this PR https://github.com/openshift/odo/pull/3075, we added some push parameters to the `env.yaml`, but I didn't find we call function `SetConfiguration` to set up those push parameters and use those push parameters for `odo push`.

![Screen Shot 2020-07-15 at 2 37 44 PM](https://user-images.githubusercontent.com/15131537/87584765-f9bf6a00-c6ab-11ea-877e-95319b88ee2a.png)

I don't think it's g

[2020-07-15 20:25] GeekArthur commented on #3401
[code]

Given all individual fields and nested struct fields above are the fields we can configure in `env.yaml`, so from CLI perspective the implementation could be:

For configuring individual field such as  `Name` and `Namespace` in `env.yaml`:
[code]

For configuring URL entry in `env.yaml`:
[code]

For configuring push parameters:
We need to wait for the decision in this comment https://githu

[2020-07-15 22:57] jgwest opened #3585 "Watch command should better handle file synchronization when push command is invoked before/after the watch"
The current behaviour of the watch command assumes that the state of the filesystem is synchronized with the state of the pod. This assumption is not correct, as this may not be true in all cases (depending on user behaviour and when push was invoked).

Likewise, the current behaviour of the push command assumes that the index data under `.odo` is synchronized with the state of the pod. This may n

[2020-07-15 22:58] jgwest commented on #3585
/assign
/area devfile

[2020-07-15 23:31] jgwest commented on #3371
Hey all, I will have a fix for this as part of https://github.com/openshift/odo/issues/3435

[2020-07-16 04:35] prietyc123 commented on #3270
I am observing cluster specific issue https://github.com/openshift/odo/issues/3547 and till now I can see it is purely specific to 4.5 cluster. None of the time I have seen it passing on 4.5 and also did not get this failure on any of other cluster. Failure logs can been seen https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/pr-history/?org=openshift&repo=release&pr=9431

[2020-07-16 07:21] fgiloux commented on #2617
+1. This would be very useful.

[2020-07-16 08:17] neeraj-laad commented on #3583
@sbose78 @wtam2018 @jaideepr97 - Lets keep all discussions on Kubernetes path for odo deploy here.

As @EnriqueL8 has mentioned, you can use some aspects fro mhttps://github.com/EnriqueL8/odo/tree/buildah_deploy. This was the work we had started.

We started looking at buildah first , but were not sure if we could use it without privileged access, were looking to make a switch to kaniko.

[2020-07-16 08:28] kadel commented on #3284
/remove-triage needs-information

[2020-07-16 09:26] neeraj-laad commented on #3296
/assign

[2020-07-16 09:39] amitkrout commented on #3385
@mohammedzee1000 do you mean we need two 4.5 cluster to in CI, right ?

[2020-07-16 09:42] mohammedzee1000 commented on #3385
Yes one running one half and other running second half.

Don't worry we will get some clusters back by not testing a version or 2.

While this may not balance things out, it will still be an overall win

[2020-07-16 10:14] metacosm commented on #3385
I still think that integration tests should only be run **after** the PR is approved by default, though it should be possibly to manually trigger such a run if needed on a case by case basis.

[2020-07-16 10:25] prietyc123 commented on #3385
IMO we should run the pr test on latest and upcoming releases of openshift because in case we hit any test failure on the upcoming release then it will be easy for us to fix it in PR level without waiting for periodic job to verify it. And ofcourse the PR should not break the latest release. So, These two cluster version we should consider in pr level.

As part of CI time is concerned I feel we sh

[2020-07-16 11:04] metacosm opened #3589 "`url create` should validate host format"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
odo v1.2.3 (9be483fb8)

## How did you run odo exactly?
`odo url create --host https://127.0.0.1:60104 --ingress`

## Actual behavior
URL was accepted

## Expected behavior
URL should report an error that the format is not appropriate similar to what happens during `push`

## Any logs,

[2020-07-16 11:05] prietyc123 commented on #3547
https://github.com/openshift/odo/blob/master/tests/integration/component.go#L506-L508

On 4.5 cluster(multistage) this closer function returns false all the time because it hits some error which is not equal to nil but the calling function `CheckCmdOpInRemoteCmpPod`

https://github.com/openshift/odo/blob/aa05fb4799d626897259931b75baef4af804293e/tests/helper/helper_oc.go#L144-L149

doesn't pass any

[2020-07-16 11:26] dharmit commented on #2785
How do I find the fields for the CRs provided by each CSV here? I tried searching for etcd but there doesn't seem to be any useful info here. Maybe I'm not looking at it correctly.

The way I have been looking at this is that Web Console gives us an option of "Edit Form" when we try to create a service from a CR. @kadel pointed to the same as well. The info on that page comes from the CSV's YAML w

[2020-07-16 11:33] dharmit commented on #2785
By "field" I mean the UI that we see on Web Console.

While mentioning this, I was thinking about interactive mode for service create. We need to study a few CSVs and the CRs they provide to be able to take either this or #2799 further.

[2020-07-16 11:48] groeges commented on #3583
Raising this comment as a potential change that might be needed when supporting Ingress on Kube (and/or OCP).

This was something we found when working on the `odo deploy` when attempting to use a deployment manifest that contained an Ingress, ie
[code]
The `spec.rules.host` seems to need to have a host value defined in order to correctly setup the remote URL.
The {{.COMPONENT_NAME}} and {{.NAMESP

[2020-07-16 12:06] mik-dass commented on #3480
But then we will have to add a flag or find a way to get the user desired local-port.

Let's just start with detecting the runMode after starting watch. Till we figure out the approach for local-port, we can simply show a info message, asking the user to start port-forwarding in a separate terminal. We can later start a port forwarding during watch too.

env.yaml

RunMode will be saved in the env.

[2020-07-16 13:46] #1708 closed

[2020-07-16 14:10] girishramnani commented on #3540
/assign anandrkskd

[2020-07-16 14:43] girishramnani commented on #2975
we are not going to add new features to docker/local workflow and hence closing this issue

[2020-07-16 14:43] #2975 closed

[2020-07-16 14:45] girishramnani commented on #2974
we are not going to add new features to docker/local workflow and hence closing this issue

[2020-07-16 14:45] #2974 closed

[2020-07-16 14:45] girishramnani commented on #2973
we are not going to add new features to docker/local workflow and hence closing this issue

[2020-07-16 14:45] #2973 closed

[2020-07-16 14:46] girishramnani commented on #2971
we are not going to add new features to docker/local workflow and hence closing this issue

[2020-07-16 14:46] #2971 closed

[2020-07-16 14:46] girishramnani commented on #2970
we are not going to add new features to docker/local workflow and hence closing this issue

[2020-07-16 14:46] #2970 closed

[2020-07-16 14:46] girishramnani commented on #2968
we are not going to add new features to docker/local workflow and hence closing this issue

[2020-07-16 14:46] #2968 closed

[2020-07-16 15:09] maysunfaisal commented on #3565
will check if we need this issue or it can be covered by https://github.com/openshift/odo/issues/3569 in a single sprint

[2020-07-16 15:09] maysunfaisal commented on #3566
will check if we need this issue or it can be covered by parent issue https://github.com/openshift/odo/issues/3569 in a single sprint

[2020-07-16 15:10] maysunfaisal commented on #3577
will check if we need this issue or it can be covered by parent issue https://github.com/openshift/odo/issues/3569 in a single sprint

[2020-07-16 15:33] maysunfaisal commented on #3494
I think we should also consider the possibility of `clonePath` in projects.. If we're going to eventually support this property, we should take it into consideration with this issue

https://devfile.github.io/devfile/_attachments/api-reference.html

[2020-07-16 15:43] metacosm commented on #3385
@prietyc123 Note that I'm **not** asking for integration tests to not run at all on PRs. I just think that there is no point in running said tests before a PR is approved because the code might (and, more often than not, does) change during the review process. What I'm asking is for integration tests to **only** run by default once the PR is approved (i.e. it has gone through the review process).

[2020-07-16 19:26] yangcao77 commented on #3515
This issue is blocked by: https://github.com/openshift/odo/issues/3544

[2020-07-16 19:29] yangcao77 commented on #3544
Have you started working on this issue?
I don't want to duplicate the work, if you have started, I will wait for this one to be completed before working on #3515, since that issue is blocked by this one.

[2020-07-16 19:29] GeekArthur commented on #3553
We already discuss this issue in today's status meeting, we don't need to test the scenario for secure registry, so close this issue.

[2020-07-16 19:29] #3553 closed

[2020-07-16 19:31] GeekArthur commented on #3401
Based on the discussion in today's status meeting we have a new plan for the following struct configurations that exist in the `env.yaml`

1. Generic fields configuration:
[code]
Use the following commands to configure:
[code]

2. URL struct fields configuration:
[code]
We don't need to implement this as we already have `odo url` command to configure URL struct fields

3. Push struct fields config

[2020-07-16 19:50] kadel commented on #3544
There is PR on the registry to remove configuration field. https://github.com/odo-devfiles/registry/pull/21
 This will  resolve the current problem until we have proper fix in #2515

[2020-07-16 19:57] jgwest commented on #3460
/assign

[2020-07-16 20:12] yangcao77 commented on #3544
@kadel Do you mean #3515?
So this one can be closed?

[2020-07-17 00:09] #3284 closed

[2020-07-17 05:27] #3452 closed

[2020-07-17 05:27] #3542 closed

[2020-07-17 06:08] amitkrout commented on #3454
#3232 has been merged. You can now over write the default timeout for git component, but it won't work for local component.

TBH there is no such time line to fix those platform specific flakes. Actually we do not have PZ system access and also our CI is not configured to run test on it, So it would be great if you guys start sending the patches to fix those as It is easy for you to verify the fix

[2020-07-17 09:07] dharmit opened #3594 "Change service creation syntax for Operator Hub backed service"
/kind feature
/area UX
/area service-operators

For creating a service from Operator Hub, user has to provide command like below:
[code]
Having a command like below makes it more user-friendly and consistent with the approach of creating services from Service Catalog:
[code]

[2020-07-17 09:12] dharmit opened #3595 "Move Operator Hub integration out of Experimental mode"
Currently, Operator Hub specific commands are working when Experimental mode is enabled. Move these out of Experimental mode and make sure these commands work in tandem with Service Catalog (when it's enabled).

/area service-operators
/area service
/assign

[2020-07-17 10:14] kadel commented on #3544
ah, wrong number, yes I meant #3515

Yes

[2020-07-17 13:12] jaideepr97 commented on #3583
@neeraj-laad @EnriqueL8 @groeges @sbose78 @wtam2018

Hey folks,
At the moment, we are leaning more towards going with Buildah as the first build strategy to support for the following reasons:

- RedHat has an officially supported image on registry.redhat.io whereas this is not the case for Kaniko
- If needed we can reach out to the Buildah team to request changes/features that align with our requi

[2020-07-17 13:42] prietyc123 commented on #3547
[code]
[code]
The test code reporting both stdout and stderr. In stderr It has been throttling out may be due to the excessive api call specific on 4.5 multistage test infra as per one of the testplatform communication. According the slack message poster, he just reduce the excessive API requests to make it work. I have no idea how the api call are handled in odo. Anyway i will enable the verbose

[2020-07-17 13:48] prietyc123 commented on #3270
Blocked on #3547 due to [comment](https://github.com/openshift/odo/issues/3547#issuecomment-660114118) . Completely new to me and I need to debug more for the solution.

[2020-07-17 14:36] metacosm opened #3599 "Use feature flags instead of experimental mode"
/kind feature

## Which functionality do you think we should add?
Experimental features should be activated based on a configuration file instead of hiding every experimental features under a single experimental flag.

## Why is this needed?
- Not all experimental features mature at the same speed making it difficult to manage all of them with a single flag
- Moving code out of the experimental st

[2020-07-17 15:51] sbose78 commented on #3583
+1

Note, there are few other places we are trying to get buildah unprivileged work
https://github.com/redhat-developer/build/issues/134#issuecomment-619494883

[2020-07-20 03:55] girishramnani commented on #3599
we had this discussion a while back and the conclusion was that experimental mode is a good solution for us because
- as all experimental mode features are under the same domain/wall (experimental), a developer gets to understand the impact their code is having on other experimental features giving them a headstart of resolving future integration problems.
- makes it error prone and confusing for

[2020-07-20 04:00] girishramnani opened #3602 "Making devfile package independent of odo with the possible goal of extracting it out as a separate project"
## Description
- Soon other projects like che would start implementing devfile related features. As a community we should reduce the duplication efforts and allow other teams to consume devfile implementation ( adapter and parser ).

## User Stories ( pending approval )
- Make devfile/parser independent of odo code base
- Make devfile/adapters and its coupled packages (clients) independent of odo

[2020-07-20 04:01] girishramnani commented on #3602
@kadel

[2020-07-20 04:02] girishramnani commented on #3602
Just so its clear to everyone - this is post odo v2 GA release

[2020-07-20 04:16] prietyc123 commented on #3385
Yes, I understand. The concern/flow https://github.com/openshift/odo/issues/3385#issuecomment-656058081 you were talking is one of the task of this issue and its resolution is not possible AFAIU from the above thread, however I will file pr for rest of the task as mentioned in the issue description.

I can find a thread in testplatform by @amitkrout asking the same question as per your latest comm

[2020-07-20 05:57] prietyc123 commented on #3547
Enabling the verbosity log could not help much. I believe I have given all the information regarding the failure. I need developer eyes to take it further with the info I have already provided.

Follow the steps To debug the failure:
1. First You need to dump your changes specific to this failure into odo repo
2. Go to https://github.com/openshift/release/pull/9431 and apply label /retest to check

[2020-07-20 06:10] prietyc123 commented on #3547
Got to know form a kubernetes article is less memory may causes throttling error. Checking with more requested memory.

[2020-07-20 06:37] mik-dass opened #3603 "URL tests creating projects for kubernetes on Travis"
/kind flake

## Actual behavior

All the URL tests fail for a Kubernetes cluster on Travis CI
[code]

## Expected behavior

[code]
shouldn't run on kubernetes cluster

[2020-07-20 07:22] adisky opened #3604 "Add a PreValidate function to generic CLI Run"
/kind discussion
/kind code-refactoring

## Description
We should add a`PreValidate` function to generic cli run, to validate flags, conflicting flags, basically validations that could be done before `Complete.` or context initialization
https://github.com/openshift/odo/blob/master/pkg/odo/genericclioptions/runnable.go#L14

e.g. checking component existence with path value
checking about config fl

[2020-07-20 07:25] prietyc123 commented on #3603
/assign @prietyc123

[2020-07-20 07:29] dharmit opened #3605 "Unit tests for Operator Hub integration"
We need more unit tests coverage for Operator Hub integration. At the time of opening this issue, the unit test coverage for `pkg/kclient/operators.go` is nil.

_Originally posted by @girishramnani in https://github.com/openshift/odo/pull/3564/files#r455591391_

/area service-operators
/area testing

[2020-07-20 07:31] dharmit commented on #3605
As far as I understand, I need to come up with a simple Operator to write the unit tests. I've tried doing so using [operator-sdk](https://docs.openshift.com/container-platform/4.5/operators/operator_sdk/osdk-getting-started.html#building-memcached-operator-using-osdk_osdk-getting-started) but it didn't work out. And due to shortage of time, I've not spent more time learning about it.

If there's

[2020-07-20 07:51] sarveshtamba opened #3607 "`make test` throws "Errorf format %w has unknown verb w" error on ppc64le with latest master"
I have pulled latest changes from master in my local ppc64le branch
`make bin` works fine, however `make test` throws this error which was not seen on ppc64le before the pull:-
[code]

[2020-07-20 07:51] sarveshtamba commented on #3607
/area system-pz

[2020-07-20 08:25] kadel commented on #2688
@girishramnani This issue is still labeled as "needs-information". Is there something that is still needed?

[2020-07-20 08:35] kadel commented on #3544
/close

[2020-07-20 08:35] #3544 closed

[2020-07-20 08:35] kadel commented on #3515
#3544 was closed

[2020-07-20 08:36] kadel commented on #3515
This issue will require updating  devfile json schema embedded in odo and updating the parsers structs.

[2020-07-20 09:03] neeraj-laad commented on #3583
Sounds good to me. Our preference was to start with `buildah` too. The only reason for switching from buildah to kaniko was need for privileged access. As long as we can solve that, this seems like a good plan.

[2020-07-20 09:05] neeraj-laad commented on #3583
@jaideepr97 I'm keen to hear about your plans on handling registry credentials. Have you started thinking about that yet?

[2020-07-20 09:18] prietyc123 commented on #3547
I also tried with increasing the resources https://github.com/openshift/release/pull/9431/commits/397964cbb6680964acc5c148c36c2deadf505d4d but it does not help. Overall we need follow https://github.com/openshift/odo/issues/3547#issuecomment-660114118 to proceed further on this. For which I need developer to look into this.

[2020-07-20 09:45] sarveshtamba commented on #3454
@amitkrout @girishramnani I have pulled latest changes from master in my local ppc64le branch, however now I am facing the following errors:-
[code]
Following are some of the common errors I consolidated from the test run:-
[code]
Attaching the spec failure log -

[2020-07-20 10:13] sarveshtamba commented on #3607
Ran `UNIT_TEST_ARGS=-v make test` and provided the specific failure log output below -
[make-test-failures.txt](https://github.com/openshift/odo/files/4946988/make-test-failures.txt)

[2020-07-20 10:18] adisky commented on #3263
Things need to be done to support starter projects.

[ ] schema update (After this one gets merged) devfile/kubernetes-api#92
[ ] if --starter flag is specified download the first project
[ ] user can specify starter project name `--starter <starter-project-name>`, downloads that project
[ ] should list the `starterProjects` in interactive mode and user should be able to pick one of them
[ ] start

[2020-07-20 10:21] adisky commented on #3263
@kadel @johnmcollier Most things we are already doing for `projects`, git cloning mechanism and file sync path needs to be changed.

I have a question what we need to do about projects then? how we could download them?

[2020-07-20 11:57] kadel commented on #3385
Not sure if we should care if odo is failing on OpenShift that is not released yet. It might be failing due to some issues in OpenShift, after all it is not stable OpenShift release, we won't be able to fix it and it will block our PR queue.

[2020-07-20 12:27] metacosm commented on #3385
I don't know the test infrastructure at all so maybe what I'm suggesting is indeed not feasible if, for example, the bot that handles lgtm/approve label is tied to the testing infrastructure. Otherwise, another option would be to have a bot specifically used to trigger tests based on different conditions. I have no idea how complex that would be to put in place, though…

[2020-07-20 12:41] kadel commented on #3263
this one is merged

[2020-07-20 13:29] amitkrout commented on #3385
This needs good amount of research. Lets plan it after v2

[2020-07-20 14:43] GeekArthur commented on #3604
I agree with this proposal as all the CLI arguments and flags validations should/could be done before `Complete` generic function. Currently we only have one `Validate` generic function and runs after `Complete` generic function according to the running sequence of generic functions in `GenericRun`.

[2020-07-20 15:20] jaideepr97 commented on #3583
@neeraj-laad  haven't gotten into the weeds yet, but the initial idea is that the ```--credentials``` flag in ```odo deploy``` would point to the location of the dockerconfig file with external registry credentials, and ```odo deploy``` could leverage that file to create a secret in the specified namespace before spinning up the builder pod
The Buildah container in the pod can then just access thi

[2020-07-20 15:57] neeraj-laad commented on #3583
@jaideepr97 you might want to assign this issue to yourself, so odo team knows this is coming from you.

[2020-07-20 16:20] jaideepr97 commented on #3583
@neeraj-laad will do, thanks for all your help!

[2020-07-20 16:59] sarveshtamba commented on #3454
Ran the `test-generic` test suite on `OCP 4.4` with latest changes from master branch(upto changes including `* master 62e2a825a Enabling verbose only for Integration test (#3598)`), only 1 failure is seen as below:-
[code]
Attaching the spec failure log -
[odo_test-generic_failures_ppc64le_ocp4.4.txt](https://github.com/openshift/odo/files/4949029/odo_test-generic_failures_ppc64le_ocp4.4.txt)

[2020-07-20 16:59] sarveshtamba commented on #3454
cc:- @amitkrout ^^

[2020-07-20 18:54] maysunfaisal commented on #2936
FYI there is a dup issue here for the remaining https://github.com/openshift/odo/issues/3569

[2020-07-20 21:41] sbose78 commented on #3583
/assign jaideepr97

@kadel

[2020-07-20 23:33] #2792 closed

[2020-07-20 23:33] #3603 closed

[2020-07-21 06:49] amitkrout commented on #3607
@sarveshtamba Which go version you are using ?

[2020-07-21 06:54] sarveshtamba commented on #3607
@amitkrout
[code]

[2020-07-21 07:02] amitkrout commented on #3607
@sarveshtamba In our CI we are using go version 1.13.x (https://github.com/openshift/odo/blob/master/.travis.yml#L12) infact our local dev environment runs on 1.13.* or more. Can you please update your go version to 1.13.* or more and give make test a try.

[2020-07-21 07:14] kadel commented on #2936
`postStart` was implemented and merged in https://github.com/openshift/odo/pull/3533

Separate user story was opened for the rest of the events (`preStart`, `preStop` and`postStop`) https://github.com/openshift/odo/issues/3569

/close

[2020-07-21 07:14] #2936 closed

[2020-07-21 08:12] #3406 closed

[2020-07-21 09:49] amitkrout opened #3609 "Project created with -w flag immediately is not shown in "odo project list -o json""
/kind flake

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
CI reference - https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/3587/pull-ci-openshift-odo-master-v4.2-integration-e2e/1285409549875941376#1:build-log.txt%3A94498

## Actual behavior
See the failure log

## Expe

[2020-07-21 09:50] amitkrout commented on #3609
If you have time and patience then try to reproduce it locally.

[2020-07-21 10:53] amitkrout opened #3610 "odo log -f terminates earlier"
/kind bug
/kind flake

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
This is hit in the CI. You can also reproduce it locally by running the spec (keep trying until you reproduce it)

Spec : https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_log_test.go#L51

CI failure

[2020-07-21 10:56] mik-dass commented on #3609
Duplicate of https://github.com/openshift/odo/issues/2117

[2020-07-21 10:57] amitkrout commented on #3609
/close

[2020-07-21 10:57] #3609 closed

[2020-07-21 10:57] amitkrout commented on #2117
/reopen

[2020-07-21 11:21] Preeticp commented on #3089
@kadel @girishramnani these docs should probably reside only in GH?

[2020-07-21 11:28] Preeticp commented on #3176
@cdrage we are also considering a restructuring of the docs to bring information on storage etc outside of unrelated assemblies. Please let us get that in too as part of this exercise, please. That would make it user friendly by making content easy to find.

[2020-07-21 11:59] Preeticp commented on #3372
We do use the clipboard button on https://docs.openshift.com/container-platform/4.4/cli_reference/developer_cli_odo/installing-odo.html so I assume this issue is relevant only to docs on odo.dev

[2020-07-21 12:22] l0rd commented on #3602
Thanks for sharing this. I have a couple of comments:
- I think that some the controller code is currently being developed [here](https://github.com/devfile/devworkspace-operator)
- Why not an operator rather than a library? It would make the contract more straightforward

cc @sleshchenko @davidfestal

[2020-07-21 13:02] sarveshtamba commented on #3607
@amitkrout tried with go v1.14.6 However facing the below issue with `make goget-tools` itself.
[code]

[2020-07-21 14:00] kadel commented on #3599
I completely agree with that. The current experimental mode was originally added only to include everything related to devfiles, and it was supposed to be removed once we fully move to devfile (in odo v2.0.0 release) But it got a little bit out of hand :-(

[2020-07-21 14:02] sbose78 commented on #3602
* The operator may or may not be present in the cluster, dev console & odo would be unable to rely on it.
* An operator paradigm typically deploys a "managed" workload, in this case, odo and dev console aren't looking for managed workloads.

[2020-07-21 14:04] sbose78 commented on #3602
Great point, Mario. We should organize and work on this with alignment to ensure:

* we design and agree on the API interfaces
* we avoid duplication of work :)

Let's use the devfile meeting tomorrow to get an initial working/collaboration style setup?

[2020-07-21 14:28] elsony commented on #3569
Closing off this one since the 3 events will be implemented separately via #3565, #3566 and #3577

[2020-07-21 14:28] #3569 closed

[2020-07-21 14:29] kadel commented on #3602
+1 to what everything that @sbose78  mentioned.
And I would add one more to this the library should be designed in a way that everything operating with devfiles including DevWorkspace operator can use it.

[2020-07-21 14:57] maysunfaisal commented on #3407
VolumeMount volumes are not implicitly added anymore. Schema definition has been updated - https://github.com/devfile/kubernetes-api/pull/101

[2020-07-21 15:21] l0rd commented on #3602
I understand your point. But dev console already depends on that operator to run the web terminal (devfile v2 based). Che will do the same. `odo` will consume the same dependency in a different way. Shouldn't we be consistent instead? How do we make sure that `odo` / che / dev console use the same version of the controller if we let run multiple instances on the same cluster (one embedded in `odo`

[2020-07-21 16:06] deboer-tim commented on #3372
Yes, this is just for odo.dev.

[2020-07-21 17:55] girishramnani commented on #3610
the one approach that will work here is to increase the timeout - maybe 5s to be safe?

[2020-07-21 17:57] girishramnani commented on #3610
we could do something super intelligent like check between each 0.5s that the buffer size of the command has increased or not, if it hasn't that means the `odo log -f` has reached the end but I mean for what gain? 2-3s?

[2020-07-21 18:02] yangcao77 commented on #3515
@kadel
Since `secure` for each `TargetPort` is defined in devfile endpoint, do we still need the `--secure` flag for url creation?

I think we can safely remove the flag, and just use the endpoint definition in devfile to avoid unnecessary validation for secure setting.

[2020-07-21 18:27] GeekArthur commented on #3372
Yes, there is no issue of https://docs.openshift.com/container-platform/4.4/cli_reference/developer_cli_odo/installing-odo.html, I mean we can use https://docs.openshift.com/container-platform/4.4/cli_reference/developer_cli_odo/installing-odo.html as an example to follow for odo.dev improvement work.

[2020-07-21 18:43] yangcao77 opened #3615 "url list and describe need update to display url defined in devfile endpoint entry"
/area devfile
/area url

After https://github.com/openshift/odo/issues/3515 is implemented, Ingress/Route can be created via devfile endpoint definition during odo push. We need to update the logic of `url list` and `url describe` to properly display the url defined in endpoint entry.

## Acceptance Criteria
- [ ] `url list` should display info of url defined in devfile endpoint entry, also should

[2020-07-21 18:45] yangcao77 commented on #3515
After thinking this deeper:
Since all the properties in Endpoint, other than ` Name` and `TargetPort`, are optional. Do we accept the scenario that all the optional properties are empty? And user use `url create` to set the values in env.yaml?
 i.e: in devfile
[code]
User run `odo url create --host 1.2.3.4.com --port 8080 --ingress --secure`

Now the env.yaml file contains
[code]

If we support th

[2020-07-21 19:39] GeekArthur commented on #2961
The default registry has been migrated to https://github.com/odo-devfiles/registry/, so close this one. We might need to migrate the registry to OCI-based registry in the future.

[2020-07-21 19:39] #2961 closed

[2020-07-21 19:55] #3547 closed

[2020-07-22 01:12] yangcao77 commented on #3515
After discussion with the team, we are now proposing remove `--secure` and `--path` from `url create`. If the path/secure is specified in the endpoint definition, we’ll just use it. So that we can avoid conflicts for these two settings.

`--port` in `url create` should match `TargetPort`  defined in devfile, if the port specified is not found in devfile, cli should prompt an error. (This is alread

[2020-07-22 03:54] sarveshtamba commented on #3497
Successfully executed ODO test suite 'test-cmd-pref-config' on Openshift 4.4 Cluster.
[odo_test-cmd-pref-config_ppc64le_ocp4.4.txt](https://github.com/openshift/odo/files/4957720/odo_test-cmd-pref-config_ppc64le_ocp4.4.txt)

[2020-07-22 03:57] sarveshtamba commented on #3491
Successfully executed ODO test suite 'test-cmd-link-unlink' on Openshift 4.4 Cluster.
[odo_test-cmd-link-unlink_ppc64le_ocp4.4.txt](https://github.com/openshift/odo/files/4957732/odo_test-cmd-link-unlink_ppc64le_ocp4.4.txt)

[2020-07-22 05:28] adisky commented on #3515
@yangcao77 I think we can remove these flags for devfile but `--secure` flag is being used for s2i components.

[2020-07-22 06:01] prietyc123 commented on #3385
The task associated with this issue:

- [x] Configure pr jobs with latest release version https://github.com/openshift/release/pull/10312

- [x] Configure the rest supported cluster version for periodic test (e2e) run https://github.com/openshift/release/pull/10312 https://github.com/openshift/release/pull/10346

Clean up integrations tests Individually - remove duplicated tests, minimize external

[2020-07-22 06:33] #3479 closed

[2020-07-22 06:38] jgwest commented on #3540
@anandrkskd FYI this may be fixed by this code in PR #3586:
https://github.com/openshift/odo/blob/4454101bff1adb11e91ca810d0714f86e592fa91/tests/helper/helper_filesystem.go#L27

(Watch had [the same problem on Windows](https://github.com/openshift/odo/issues/3371), and this PR includes the above fix for that)

[2020-07-22 06:53] sarveshtamba commented on #3512
This is not supported on Z for lack of executable format and removed from Z as well ( https://github.com/openshift/odo/commit/960a6d408af63543214070fa824a1282c1cbbcf5 ). Closing this issue for now, will revisit if required later.

[2020-07-22 06:53] #3512 closed

[2020-07-22 06:56] boczkowska commented on #3130
Updated the table of images in this PR: https://github.com/openshift/openshift-docs/pull/23984

[2020-07-22 09:12] zhengxiaomei123 commented on #3335
I got the bug info here https://bugzilla.redhat.com/show_bug.cgi?id=1771335
the problem described in this issue has be resolved in the advisory :https://access.redhat.com/errata/RHBA-2020:0062
BTW , I tested on OCP Z [4.5-nightly-build](https://mirror.openshift.com/pub/openshift-v4/s390x/clients/ocp-dev-preview/4.5.0-0.nightly-s390x-2020-07-10-214321/). I will close the issue.

[2020-07-22 09:15] prietyc123 commented on #3371
Ahh.. somehow we missed this comment and @anandrkskd was working on this. Anyway thanks for the change 👍

[2020-07-22 09:24] amitkrout commented on #3610
Refer - https://github.com/openshift/odo/pull/3613#issuecomment-662344950

[2020-07-22 09:25] prietyc123 commented on #3540
@anandrkskd Can you please verify the change on windows. If it works.

[2020-07-22 09:28] anandrkskd commented on #3540
Yes,  I have checked the changes in PR #3586 and got to know this will fix this issue also.

[2020-07-22 09:37] #3589 closed

[2020-07-22 10:07] girishramnani commented on #3579
but this is a concious decision that you as a user are making, so isn't this acceptable?

[2020-07-22 10:09] prietyc123 commented on #3540
@jgwest Can you please add this issue also as a fix in pr #3586

[2020-07-22 10:09] kadel commented on #3602
No, the biggest reason is that  `odo` users won't have privileges to deploy operators.

Also, making operator hard requirements for odo would be a big shift in odo philosophy and architecture it would mean a full rewrite.
@gorkem What is your take on this?

[2020-07-22 10:10] girishramnani commented on #3578
I agree that we need to move from personal image registries but the reason for that is so that we can productise them ( control changes to them ).
Not sure if being in mayson's personal registry would give you this image pull error?

[2020-07-22 10:21] adisky commented on #3578
I thought maysun might restricted access to his repo :smile:, I just wanted to point here with personal repositories if you get any error you cannot check the reason behind it. I get image pull error from quay also but then you get the status it is down

[2020-07-22 10:22] l0rd commented on #3602
You are right. I don't think it's a good idea. But ideally, if the devworkspace operator is running on the cluster, I think `odo` should be able to leverage it.

[2020-07-22 10:23] adisky commented on #3579
i am not sure about the behavior here, but shouldn't `odo create` should give error if you try to create component with same name?

[2020-07-22 10:30] girishramnani commented on #3579
Yeah I suppose so

[2020-07-22 10:31] adisky commented on #3579
got your point we are doing same in s2i, I did not found any harm with this behavior.
/close

[2020-07-22 10:31] sarveshtamba commented on #3454
@amitkrout Does the above error look to be related to #3232?

[2020-07-22 10:31] #3579 closed

[2020-07-22 12:28] metacosm commented on #3602
Theoretically speaking, the operator could/should use the library this issue is discussing… :)

[2020-07-22 13:27] maysunfaisal commented on #3578
AFAIK my dockerhub springboot image is not restricted.

I can give you the dockerfiles to build and push to a registry of your choosing, or you can just pull my image, tag and push to the registry of your choosing 🤔

[2020-07-22 13:35] adisky commented on #3578
said in sarcasm :), it might be some network problem at my end, this error just caught my attention to the issue.

[2020-07-22 13:38] #2835 closed

[2020-07-22 13:38] #3050 closed

[2020-07-22 13:58] yangcao77 commented on #3515
@adisky Sorry to bring the confusion. What I meant was remove those flags only if `experimental` mode is on.

[2020-07-22 14:16] maysunfaisal opened #3621 "Cleanup devfile v1 adapter code"
We've achieved feature parity with devfile v1, when postStart feature from devfile v2 was merged in master.

We should look to clean up devfile v1 code since they will no longer be used

/kind cleanup
/area devfile

[2020-07-22 14:25] kadel commented on #3385
As far as I know prow doesn't support that. We would have to write our own plugin to achieve that.

[2020-07-22 15:09] stevekuznetsov commented on #3385
Writing a custom Prow plugin should be pretty simple, you can listen to the events on PRs you care about and comment with `/test <name>` to trigger things. The PRs will sit around, requiring tests that have not yet run, until that happens, though.

[2020-07-22 18:13] maysunfaisal commented on #3565
Had discussion about this on Jul 21'st odo contributors meeting https://docs.google.com/document/d/127JAIs5NJze9W5yVOpULgnD-2HXuGZu1x6_LXGd8keY

To summarize,
[code]

[2020-07-22 18:13] maysunfaisal commented on #3577
Had discussion about this on Jul 21'st odo contributors meeting https://docs.google.com/document/d/127JAIs5NJze9W5yVOpULgnD-2HXuGZu1x6_LXGd8keY

To summarize,
[code]

[2020-07-22 18:30] mhdawson commented on #3130
Thanks

[2020-07-22 18:30] #3130 closed

[2020-07-22 19:55] ranakan19 commented on #3602
During our devfile F2F last week, there was a proposal to separate out the devfile package from odo into a separate go library. After a short PoC of separating devfile, we did a demo in today's call of our weekly devfile 2.0 continuation discussion, below are the updates:

1. About devfile-parser : this library is a golang module that projects could use to generate kubernetes objects equivalent to

[2020-07-23 04:29] #3338 closed

[2020-07-23 08:20] #2919 closed

[2020-07-23 10:47] Shraddhak22 commented on #3583
@neeraj-laad @EnriqueL8 ,

Hello Folks,
After further discussion with team and research on buildah unprivileged build, we have decided to go ahead with,

 1.  Buildah strategy driven by BuildConfig on OpenShift clusters.
 2.  Kaniko dockerfile strategy for Kubernetes
Please let us know your thoughts.

cc @sbose78 @wtam2018 @jaideepr97 @reginapizza @ranakan19

[2020-07-23 11:49] #2920 closed

[2020-07-23 14:17] #3480 closed

[2020-07-23 15:06] prietyc123 commented on #3270
Multistage pr https://github.com/openshift/release/pull/9431 already merge. So closing this issue.

/close

[2020-07-23 15:06] #3270 closed

[2020-07-23 16:01] elsony commented on #2725
@cdrage  Does this item includes the update of the CLI reference doc: https://docs.openshift.com/container-platform/4.5/cli_reference/developer_cli_odo/odo-cli-reference.html ?

[2020-07-23 16:18] cdrage commented on #3550
I'm implementing Devfile by default in time for the August 4th Alpha release without the experimental mode enabled. There are  commands that are not implemented such as:

- storage
- link
- unlink
- update
- describe

How do you think we should hide this in the UX / UI when Devfile is by default? What if a user wants to deploy / edit an S2I deployment? Should I just update the help usage to say (F

[2020-07-23 17:16] kadel commented on #3550
odo storage is WIP in https://github.com/openshift/odo/issues/3398

component->service was implemented in https://github.com/openshift/odo/pull/3557
component->component link is planned in https://github.com/openshift/odo/issues/3423 (This probably won't be implemented in time for 2.0)

ping @dharmit

planned for this sprint https://github.com/openshift/odo/issues/3563

this command should be depr

[2020-07-23 17:59] maysunfaisal opened #3632 "odo should validate postStart events before using them"
/kind bug

## What versions of software are you using?

**Operating System:** Mac

**Output of `odo version`:** master

## How did you run odo exactly?
odo push

## Actual behavior
odo panicked when i put an invalid command in the postStart event:

[code]

## Expected behavior
it should err out if a postStart event is not a valid command

/area devfile
/assign

[2020-07-23 18:00] maysunfaisal commented on #3632
I can work on this with my preStop issue #3566

[2020-07-23 19:28] #2063 closed

[2020-07-24 04:51] dharmit commented on #3550
Indeed, this is not a priority for 2.0.

Intend to open a PR soon now that #3557 is in.

I thought that I opened an issue about this, but I can't find it :-/

#2688?

[2020-07-24 05:48] amitkrout commented on #3385
I don't know the test infrastructure at all so maybe what I'm suggesting is indeed not feasible if, for example, the bot that handles lgtm/approve label is tied to the testing infrastructure. Otherwise, another option would be to have a bot specifically used to trigger tests based on different conditions. I have no idea how complex that would be to put in place, though…

As far as I know prow does

[2020-07-24 07:16] kadel commented on #3550
That is one part of that. But I was convinced that I explicitly wrote a user story about deprecating `odo update`. But It looks like I did  not :-/

[2020-07-24 08:19] #2876 closed

[2020-07-24 09:36] adisky opened #3638 "Update the parent devfile tests"
## Description
Parent devfile tests using open liberty devfile from an older commit, which contains `configuration`  that has been removed with new schema. Tests cannot be updated to current version of open liberty devfile as there are some issues with it that needs to be investigated.

https://raw.githubusercontent.com/odo-devfiles/registry/f56180b89556ee2945a355ac0dcf3428d3ab35c7/devfiles/java-o

[2020-07-24 09:47] adisky commented on #3638
cc @mik-dass

[2020-07-24 09:55] prietyc123 opened #3639 "unable to start or create Service for component with "odo push --build-command""
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running test on travis CI.

## Actual behavior

[code]

## Expected behavior

"odo push --build-command" should start the component during validation

## Any logs, error output, etc?

[2020-07-24 11:53] dharmit commented on #3562
@kadel @johnmcollier out of curiosity, why did we go with `emptyDir` if there was an implementation using persistent volumes? IIRC, earlier implementation of s2i based components also had persistent volumes.

[2020-07-24 11:54] mik-dass commented on #3638
I would try to get the middle layer in the odo repo in a seperate PR and will try to convert all the tests for parent to use a nodejs repo as I was facing issues with the open liberty devfile on the registry. @amitkrout WDYT?

[2020-07-24 11:55] #3407 closed

[2020-07-24 12:06] sarveshtamba commented on #3510
Successfully executed ODO test suite 'test-cmd-project' on Openshift 4.4 Cluster.
Attaching spec log file for test run.
[odo_test-cmd-project_ppc64le_ocp4.4.txt](https://github.com/openshift/odo/files/4971820/odo_test-cmd-project_ppc64le_ocp4.4.txt)

[2020-07-24 12:06] #3510 closed

[2020-07-24 12:07] sarveshtamba commented on #3530
Successfully executed ODO test suite 'test-cmd-app' on Openshift 4.4 Cluster.
Attaching spec log file for test run.
[odo_test-cmd-app_ppc64le_ocp4.4.txt](https://github.com/openshift/odo/files/4971825/odo_test-cmd-app_ppc64le_ocp4.4.txt)

[2020-07-24 12:32] prietyc123 opened #3640 "configuring Private registry login secret for travis CI"
/kind feature

## Which functionality do you think we should add?

Create a secret to test images resides under private registry like registry.redhat.io on travis CI.

Suggestion: The way it should be done is
Steps needs to be added:
[code]

Note : `ENV_VAR_UN` and `

## Why is this needed?

We are currently testing the private registry images on multi-stage prow which is only for 4.* cluster. It

[2020-07-24 13:35] amitkrout commented on #3639
Similar failure - https://travis-ci.com/github/openshift/odo/jobs/364609348#L538

[2020-07-24 14:23] dudash commented on #2623
/lifecycle frozen

[2020-07-24 14:41] cdrage commented on #3176
Not a problem! When the docs are written @Preeticp we can sync them to the directory. Unfortunately we have to do it manually for now.

[2020-07-24 15:01] johnmcollier commented on #3562
@dharmit I don't fully remember the reasons but I believe we had a few concerns around mandating persistent volumes for all components:
- Concerns around volume attach times on some cloud providers (e.g. on IBM Cloud, volume provision and attach can be over 2 minutes)

[2020-07-24 15:04] johnmcollier commented on #3562
@dharmit I don't fully remember the reasons why but I believe we had a couple concerns around mandating persistent volumes for all components:
- Concerns around volume attach times on some cloud providers (e.g. on IBM Cloud, volume provision and attach can be over 2 minutes)
- Wanted users be able to run Odo without volumes if desired, especially if dynamic provisioning of volumes isn't available

[2020-07-24 15:42] mik-dass opened #3641 "push doesn't delete volumes when removed from devfile"
/kind bug

## What versions of software are you using?

master

## How did you run odo exactly?

- create a odo component
- modify the devfile by adding a storage and mounting it to a component
- execute `odo push`
- check PVC list `kubectl get pvc`
- modify the devfile by unmounting the storage and removing it
- execute `odo push`
- check PVC list `kubectl get pvc`.

The deleted PVC is still pres

[2020-07-24 16:31] prietyc123 commented on #3639
I have observed similar failure occurring frequently on the prs.

One of the pr facing the same issue #3635

[code]

[2020-07-24 17:44] prietyc123 commented on #3639
Not sure why everytime `--build-command` throwing error.

[code]
One more occurence in pr #3635

[2020-07-24 18:46] cdrage commented on #2725
@elsony Ideally we would have all documentation "here" and then sync "downstream" to the OpenShift docs. But yes, we would like to update that document.

[2020-07-25 02:57] #3508 closed

[2020-07-27 04:03] jichenjc commented on #3375
275970ns = 275970/1000000000 = 0.00027597 sec
do we really want to update to this format?

[2020-07-27 07:03] jgwest commented on #2815
This appears to now work as expected, run against a `java-springboot` devfile with a single ingress URL:
[code]

[2020-07-27 07:24] jgwest commented on #3461
@maysunfaisal Do you have an example devfile that recreates the problem, and are you still able to recreate it? The log you posted looks more like a network connection disconnect then a timeout (note that the k8s client watch API does NOT automatically re-establish a connection on connection failure)

[2020-07-27 08:35] dev-gaur commented on #2812
@amitkrout there are already devfile specific examples included in UX for `odo create -h` and `odo push -h` .

for create :
https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/create.go#L127

for push :
https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/push.go#L37

[2020-07-27 08:54] amitkrout commented on #2812
Right, then why is not being reflect the in the UX. Will check it again, may me it has been updated through some pr.

[2020-07-27 10:59] kadel commented on #3639
Have you been able to reproduce this outside our CI environment?
All the error images look like network related

[2020-07-27 11:40] #2537 closed

[2020-07-27 12:08] kadel opened #3644 "implement odo describe for devfile"
`odo describe` should work with the devfile component including the JSON output.

The output format should be same for both types of components.

/priority high
/area devfile

[2020-07-27 12:08] kadel commented on #3550
opened https://github.com/openshift/odo/issues/3644 to cover `odo describe`

[2020-07-27 12:40] kadel commented on #2899
/assign

[2020-07-27 14:39] cdrage opened #3646 "Update understanding odo document to have information relevant to s2i"
/kind documentation

## What mistake did you find / what is missing in the documentation?

There is no documentation on S2I on the understanding odo document: https://github.com/openshift/odo/blob/master/docs/public/understanding-odo.adoc

Need to add openshift / s2i relevant information from https://docs.openshift.com/online/starter/cli_reference/openshift_developer_cli/understanding-odo.html to

[2020-07-27 15:18] deboer-tim commented on #3375
Yeah, I agree that's no better, and I should have shown equivalent times.

My main point is that the output text is for humans, and anything with too many digits or too much precision is hard to read or meaningless. If timings really are that small, then IMHO it'd be better to say '0s', use ms ('0.28ms'),or just use '<0.01s'.

[2020-07-27 18:39] cdrage commented on #3550
I have a proposal. Implementing https://github.com/openshift/odo/pull/3634 has been very difficult with rebasing as well as  https://github.com/openshift/odo/pull/3545 being added.

One major UX / UI concern is with regards to the `--help` output.

With Devfile being the default and `--s2i` being added as an extra paramter to `odo create` it's creating an issue where `--help` is overwhelming to th

[2020-07-27 18:54] cdrage commented on #3550
## Problem 1, IsExperimentalModeEnabled is embedded in our code heavily

Another thing to note too. Our "IsExperimentalModeEnabled" code is heavily embedded in our code. If I were to make Devfile default (taking it out of experimental mode) it would cause a lot of refactoring. You can already see this in my current code here: https://github.com/openshift/odo/pull/3634 where I've had to refactor `u

[2020-07-28 06:12] amitkrout commented on #3639
Tried thrice and none of the time i hit the issue locally

[2020-07-28 06:28] amitkrout commented on #3359
[code]
It does not work because odo does not use go mod package management.

However the new feature in go version 1.4.* can fetch the specific tag version like ```go get github.com/onsi/ginkgo@<tag>``` but our CI environment comprises go version 1.13.*. I have raised a concern via https://github.com/onsi/ginkgo/issues/707 to know how ginkgo binary is built and published.

[2020-07-28 06:29] amitkrout commented on #3361
[code]
It does not work because odo does not use go mod package management.

However the new feature in go version 1.4.* can fetch the specific tag version like ```go get github.com/onsi/ginkgo@<tag>``` but our CI environment comprises go version 1.13.*. I have raised a concern via https://github.com/onsi/ginkgo/issues/707 to know how ginkgo binary is built and published.

[2020-07-28 08:15] amitkrout commented on #2931
I have done the changes through the pr https://github.com/openshift/release/pull/10191 to send the periodic job notification to channel ```odo-notifications``` that i configured with.
[code]
but did not work as expected. No notification sent to ```#odo-notifications``` along with all periodic job fails with error - https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_release

[2020-07-28 08:35] amitkrout commented on #3454
@sarveshtamba Yes, you can overwrite the preference ```BuildTimeout``` to a bigger value (default: 300s) in a worst case scenario. For example on slow resources.
[code]
Ideally the occurrence is pretty less in the environment we test but yes some times it happens due to some transient glitch which takes more time than usual time.

[2020-07-28 08:54] adisky commented on #3550
@cdrage
The first reference in oc client was added there https://github.com/openshift/odo/pull/3265, we can solve this at cli layer  with `--s2i` flag, so it could be removed.
Not sure about other places, i agree it is a cumbersome task.
If we are going with preference option then we do not need `--s2i` flag either.

[2020-07-28 09:31] girishramnani commented on #3550
After having a long discussion with tomas and we trying to verified if **s2i** components work in experimental mode correctly or not.
So the TLDR of the outcome was - we propose a two fold solution.
- remove all the `IsExperimental()` to `IsDevfile()` which can check in the context if there is a devfile.yaml present.
- for everything that does `listing` of anything or doesn't **depend** on context

[2020-07-28 12:53] sarveshtamba commented on #3454
@amitkrout tried increasing the BuildTimeout to 3000, still the test fails.

[2020-07-28 15:06] GeekArthur commented on #3574
The design proposal of the code flow:
We add the new flag (eg. `--starter-token`) for `odo create` to let user pass in the token for only downloading start project. Then from odo perspective, odo should check the `--starter-token` firstly to use for downloading start project, if the `--starter-token` is not set, odo should do:
- If the registry is secure registry, odo uses the secure registry toke

[2020-07-28 17:38] elsony commented on #2889
Unassign since this one is related to the spring stack which the runtime team will be providing.

[2020-07-28 18:44] elsony commented on #3550
What about the help?  Even if we implement those, what is the plan for the help. We should probably establish a pattern for showing help text that make it clear on what applies to s2i, devfile and both. e.g.:
1. when nothing particular specified, it applies to both
2. s2i specific things has `(s2i)`
3. devfile specific things has `(devfile)`
I just picked s2i and devfile instead something like `(s

[2020-07-28 20:24] maysunfaisal commented on #3565
Ran into a few issues during implementation of `preStart`. Raised a few points for discussion here https://github.com/devfile/kubernetes-api/issues/105

[2020-07-28 20:40] GeekArthur commented on #3574
/remove-triage needs-information

[2020-07-28 20:40] GeekArthur commented on #3574
/triage ready

[2020-07-29 06:13] amitkrout commented on #3639
@kadel Recently most of our periodic and few pr test failing at same spec - https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_push_test.go#L557. This time same spec hit with a different error in periodic job.

[code]

Details:
Periodic job - https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.5-integration-e2e-periodic/1288

[2020-07-29 08:32] amitkrout opened #3652 "devbuild fails because path ${CHE_PROJECTS_ROOT}/nodejs-starter not found"
/kind bug

## What versions of software are you using?

**Operating System:**
CI
**Output of `odo version`:**
master
## How did you run odo exactly?
Hit in ci https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_push_test.go#L686. Not yet tested locally

## Actual behavior
[code]

## Expected behavior
Should pass. May be ```${CHE_PROJECTS_ROOT}``` is not the right env

[2020-07-29 08:36] amitkrout commented on #3652
@kadel Our periodic and pr test started failing at spec - https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_push_test.go#L686.

[code]

Details:
Periodic job - https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.5-integration-e2e-periodic/1288263134854778880#1:build-log.txt%3A1034
Pr job - https://prow.ci.openshift.org/view

[2020-07-29 09:16] amitkrout commented on #3652
Hitting the same failure locally too.
[code]

[2020-07-29 09:45] jgwest commented on #3652
I can reproduce as well, and it's reproducible on the initial commit that introduced the test and changes:
https://github.com/openshift/odo/commit/5644c53fb8f8b63dd2c21c3fe002d7a6ffdf53a0

[2020-07-29 09:57] amitkrout commented on #3652
I am closing the issue as pr https://github.com/openshift/odo/pull/3627 is handling the parent test failure. Once the pr is in then rest pr just need a rebase.

[2020-07-29 09:57] #3652 closed

[2020-07-29 11:02] kadel commented on #3439
setting it to 0 is a perfectly valid option.
If needed we can just add special case for `0` in the code.

[2020-07-29 11:27] mohammedzee1000 commented on #3378
After discussion with @amitkrout Here is what I propose:

Every devfile directory will contain a file `test.sh` as entry point to testing containing the odo commands to run as part of testing and a directory `example`, containing an example app to be used for testing in the test.sh script for eg

[code]
In travis script, we will

1. Setup openshift cluster
1. Fetch latest odo binary from https://m

[2020-07-29 11:47] amitkrout commented on #3378
@mohammedzee1000 Actually i was doing over engineering. This looks cool to me 👍

[2020-07-29 14:55] #3180 closed

[2020-07-29 15:06] maysunfaisal opened #3655 "Validate lifecycle event commands to a valid container component"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

odo should validate event commands and make sure that it maps to a valid component. For example, odo does not validate this on `postStart`:

[code]

/area devfile
/assign

[2020-07-29 17:03] maysunfaisal opened #3656 "Validate comp cmd's child cmd to a valid container component"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

Consider this devfile:
[code]

the composite command `mycompevent`'s  `myPostStart` maps to an invalid container component `tools22` with o/p:
[code]

This should be validated. Also remember to check if this holds true for event validation with composite command(subject to https://gi

[2020-07-29 22:12] johnmcollier commented on #3656
/assign

[2020-07-29 22:21] johnmcollier commented on #3655
It seems there's no validation occurring for event commands. If I modify your sample to point to a non existent command, I get this panic:
[code]

[2020-07-29 22:30] johnmcollier commented on #3656
Looks like we're not calling `validateCommand` on a composite command's child commands. Easy fix.

[2020-07-29 23:26] maysunfaisal commented on #3655
covered by https://github.com/openshift/odo/issues/3632

[2020-07-30 01:48] #3446 closed

[2020-07-30 04:45] adisky commented on #3263
@kadel currently we are doing source syncing as
if `SourceMapping` is set in a container component, we are syncing it there.
if `SourceMapping` is not set we are syncing to
- `/projects`
- `/projects/project-name` (This option needs to be removed for starter projects)
- `/projects/clone-path` (what about this one?)

I am little confused here about `clonePath`

[2020-07-30 04:54] adisky commented on #3263
@johnmcollier @kadel for asking about starter projects in interactive, the devfile is downloaded first then parsed then we can list starter projects, it looks like this
[code]
Is this fine?

[2020-07-30 09:15] sarveshtamba commented on #3449
Issue seems to have been resolved by setting the correct path variables, can be closed out for now, will reopen again if required.

[2020-07-30 10:06] jichenjc opened #3659 "Add Json output format support for registry list command"
/kind feature

## Which functionality do you think we should add?

support `odo registry list -o json`

## Why is this needed?

[2020-07-30 11:14] kadel commented on #3515
Most of the options from evn.yaml should move to devfile.yaml.
The only thing that will need to stay in env.yaml is `host` `kind` and `name` to match configuration from `env.yaml` to endpoint from `devfile.yaml`

[2020-07-30 11:16] kadel commented on #3615
/priority high

[2020-07-30 13:18] kadel commented on #3585
odo currently assumes that it is executed after `odo push`.
Could be this solved by adding some documentation that explains this?
Another solution might be to simply invoke `odo push` at the beginning of `odo watch` execution. But this will create problems when you modify files while the initial "push" is running. We will have to make sure that the filesystem watching starts right at the beginning

[2020-07-30 13:57] davivcgarcia commented on #2952
Do we have any feedback on this?

[2020-07-30 13:58] davivcgarcia commented on #2952
/remove-lifecycle stale

[2020-07-30 14:06] kadel commented on #2952
We don't control or maintain builder images that are used with odo. The user will see whatever images they have on the cluster.

There is a list of images that odo shows as supported, because we have tests for those images, to ensure that they work.

[2020-07-30 14:14] johnmcollier commented on #3655
@maysunfaisal Wouldn't #3632 cover this issue then? Since `validateCommand` checks that the command points to a valid component:

https://github.com/openshift/odo/blob/c89c1ab1d730fb8495f91ce6ea0ed7ff8f784711/pkg/devfile/adapters/common/command.go#L164

[2020-07-30 14:25] cdrage opened #3661 "Remove --devfile parameter from non `odo create` commands."
/kind feature

## Which functionality do you think we should add?

See discussion: https://openshiftdo.slack.com/archives/CQK6HE78S/p1596118006155100

We have 4 locations where `--devfile` is used outside of `odo create`. `--devfile` should not be located on these commands:

- odo exec
- odo url delete
- odo debug port-forward
- odo debug info

## Why is this needed?

There is no need to pass in `

[2020-07-30 14:26] maysunfaisal commented on #3655
@johnmcollier I was talking about your comment here https://github.com/openshift/odo/issues/3655#issuecomment-665960602 which is covered by #3632

which happens when i mention an invalid command in preStart/postStop/etc.

validateCommand() just takes a command and checks if that command is valid. #3632 checks if the events mentioned in preStop/postStart/etc correspond to a valid command in a devfi

[2020-07-30 14:38] davivcgarcia commented on #2952
Got it! Thanks.

[2020-07-30 14:38] #2952 closed

[2020-07-30 14:45] johnmcollier commented on #3263
@adisky Looks good to me

[2020-07-30 14:45] GeekArthur commented on #3661
Other than removing all the `--devfile` in all existing commands except `odo create`, we should also document or send internal notice to let folks know DON’T ADD `--devfile` to ANY NEW COMMANDS, for example the `--devfile` of `odo exec` is from this PR https://github.com/openshift/odo/pull/3083 which is 2 weeks ago. Otherwise we may in a loop where keep removing and keep adding the `--devfile`

An

[2020-07-30 14:59] kadel commented on #3263
@adisky `sourceMapping` has no relationship to starterProject.

starterProject should simply be downloaded into the current directory. If `clonePath` path is specified it the starter project should be downloaded into that directory.

If starterProject contains `clonePath: frontend`
Than `odo create --starter` should download start project source into `./frontend`

[2020-07-30 19:26] yangcao77 opened #3663 "UDP support for devfile component services and URLs"
/area devfile
/area url

After #3515 is implemented, Service/Ingress/Route can be created via devfile endpoint definition during odo push.
The endpoint entry contains `protocol`, which would use either `TCP` or `UDP` as connection type.

Since services of clusterIP type cannot support both TCP and UDP in a single service, we need to update our currently logic to support UDP connection.

## Accepta

[2020-07-30 23:27] #3156 closed

[2020-07-31 00:05] dgolovin opened #3664 "Add `--now` option support for storage `delete` and `create` command to be consistent with other commands"
/kind feature

## Which functionality do you think we should add?
`odo storage create --now`

`odo storage delete --now`

## Why is this needed?
For consistency with other commands
* odo create
* odo url create
* odo url delete

[2020-07-31 05:11] dharmit commented on #3595
On minishift:
[code]
On CRC:
[code]

@kadel @girishramnani I'm thinking about adding a check for something like `IsCSVSupported`. If it is, we assume that user's working with Operators since the cluster has got the required API resource. If not, we assume that it's 3.x and support Service Catalog instead. WDYT?

[2020-07-31 05:57] amitkrout opened #3667 "Command "odo create nodejs" hit timeout exceeded issue while downloading the raw nodejs/devfile.yaml githubusercontent"
/kind flake

## What versions of software are you using?

**Operating System:**
CI
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior

[code]

## Expected behavior
Should not throw error.

## Any logs, error output, etc?
vhttps://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.3-integration-e2e-periodic/1288897181482

[2020-07-31 06:17] adisky commented on #3263
@kadel We cannot have different syncing mechanism for `starterProjects` and `local source code`, as `odo push` does not know what it is syncing, it syncs everything from local context dir.

[2020-07-31 06:45] kadel commented on #3263
`odo push` should not do anything with `starterProject`.
The only time when you use `startProject` is with `odo create`

[2020-07-31 06:50] dgolovin opened #3668 "odo v1.2.4 tar.gz binaries for macOS and windows have wrong format"
/kind bug

odo-darwin-amd64.tar.gz and odo-windows-amd64.tar.gz have similar structure

![image](https://user-images.githubusercontent.com/620330/89007742-300d0400-d2be-11ea-8800-0e50436c13b8.png)

![image](https://user-images.githubusercontent.com/620330/89007821-559a0d80-d2be-11ea-8d52-c3329ff4a63f.png)

but a tar file inside is not a tarball, but executable binary file.

If you do these steps f

[2020-07-31 07:27] adisky commented on #3263
as discussed with @kadel on bjns, for `starterProjects` and innerloop scenerios, `clonePath` specifies the local directory(relative to context dir) in which the `starterProject` should be downloaded, it is meant to be specify the download dir not syncing dir to container. It would be useful in scenarios when we download multiple projects.

[2020-07-31 07:50] dgolovin commented on #3668
Error is:
[code]

[2020-07-31 08:20] girishramnani commented on #2800
as of now - we dont need special integration tests for quarkus as we have tests in the devfile registry for these

[2020-07-31 08:20] #2800 closed

[2020-07-31 09:37] amitkrout commented on #3454
@sarveshtamba Can you please try that only scenario. For example

```ginkgo -focus=<It spec description> tests/integration/```

If it fails consistently then don't run clean up steps in the teardown steps and share the pod status ```oc get pods``` and the pod logs and ```oc get dc -o yaml```

[2020-07-31 11:01] zhengxiaomei123 opened #3670 "Ask for images work on s390x arch"
/kind bug

## What versions of software are you using?

**Operating System:**
 Red Hat Enterprise Linux 8.1 (Ootpa

**Output of `odo version`:**
odo v1.2.4 (b3cf59550)
Server: https://api.ocp.openstack:6443
Kubernetes: v1.18.3+6025c28
## How did you run odo exactly?
Enable odo CI on s390x platform

## Actual behavior
./scripts/openshiftci-presubmit-all-tests.sh

## Expected behavior
All the test p

[2020-07-31 11:03] zhengxiaomei123 commented on #3670
/area testing

[2020-07-31 11:11] zhengxiaomei123 opened #3671 "odo devfile push command integration tests (make test-integration-devfile) not work on IBM Z/P"
/kind feature

## Which functionality do you think we should add?
We are working on odo CI enablement for Z/P. For `make test-integration-devfile` , most of the tests failed because of error `exec format error`. The images defined in devfiles.yaml is only for amd64.

## Why is this needed?
To enable the tests on IBM P/Z, the default images defined in devfiles.yaml should support s390x or ppcl64le.

[2020-07-31 11:12] zhengxiaomei123 commented on #3671
/area system-pz

[2020-07-31 11:13] zhengxiaomei123 commented on #3671
/area testing

[2020-07-31 11:13] kadel commented on #3595
+1 makes sense

[2020-07-31 11:15] jichenjc commented on #3670
@zhengxiaomei123 there is no centos on z at all.. so apparently need code change
can you paste the link of the code so that it will be easier to know the code comes from?

[2020-07-31 11:21] dharmit commented on #3595
Just being explicit since I missed mentioning in previous comment - this would mean that even if user installs service catalog on 4.x, we'll not try to support it. Installing service catalog is possible up to 4.4. 4.5 onwards, it's neither documented, nor do the commands provided in 4.4 docs work to set it up.

So it's like:
1. If user's running 3.x, support only Service Catalog
2. If user's runni

[2020-07-31 11:22] zhengxiaomei123 opened #3672 "odo service create from operator hub feature failed on IBM Z and P"
/kind feature

## Which functionality do you think we should add?
We are working on odo CI enablement for Z/P. For make test-operator-hub , most of the tests failed because of error exec format error.
## Why is this needed?
To enable the tests on IBM P/Z, the default images used for operator-hub should support s390x or ppcl64le.

[2020-07-31 11:22] zhengxiaomei123 commented on #3672
/area system-pz

[2020-07-31 11:22] zhengxiaomei123 commented on #3672
/area testing

[2020-07-31 11:26] kadel commented on #3664
/priority medium

[2020-07-31 11:32] kadel commented on #3672
This is not something that we control. This needs to be solved on the Operators side.  Operators listed in the operator hub will have to have support for P/Z.
Cluster administrator will have to ensure that the Operator hub lists only services that support the given architecture.

/close

[2020-07-31 11:55] kadel commented on #3668
/priority high
/area release-eng
/cc @cdrage

[2020-07-31 13:05] cdrage commented on #3550
Ping @dharmit @girishramnani @kadel

See below for commands that have been tested. There are *a lot* left out. But below can at least get the basic functionality of alpha out.

# Files that have been modified / default switches to Devfile:

List of commands confirmed working (with `odo create nodejs --starter` in the directory):

- [X] odo create
- [X] odo delete
- [X] odo exec

- [x] odo log
- [x

[2020-07-31 13:10] dharmit commented on #3550
For `odo service` and `odo link`/`odo unlink` commands, I'll be doing it as a part of #3595. These commands are more concerned with the cluster's capability of support resources of type `ClusterServiceVersion` than anything specific to devfile.

[2020-07-31 13:39] kadel commented on #3595
What about Kubernetes? I could have cluter with both enabled Service Catalog and OperatorHub

[2020-07-31 13:55] dharmit commented on #3595
That would again fall into the category of `IsCSVSupported`. If yes, we assume the user's working with Operators.

Do we have any idea about how widely service catalog might be used in conjunction with k8s?

[2020-07-31 14:02] kadel commented on #3595
I think that with Kubernetes ServiceCatlog is used much more than the
Operator hub.
But I don't have any numbers to prove this, it is just my hunch.

On Fri, 31 Jul 2020 at 15:55, Dharmit Shah <notifications@github.com> wrote:

[2020-07-31 14:12] kadel commented on #2623
Yes, sorry about not following up on that.
This is definitely something that we want to get to.
Now we are finishing our transition to using Devfiles as a common format to describe the development environment. We will look into this right after we finish this transition

[2020-07-31 21:16] atgreen commented on #3035
/lifecycle frozen

[2020-08-01 03:03] amitkrout opened #3678 "Include periodic job flakes to odo test statistics"
/kind feature

## Which functionality do you think we should add?

Currently odo test statistics [1] captures only pr job flakes. To get more odo flake capture coverage around the multiple OCP tests (periodic job) [2] we need to include periodic status in [1].

[1] https://gist.github.com/jgwest/5b28687514970ae6baa5942ee82d5755
[2] https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/?type=periodic&j

[2020-08-01 03:18] amitkrout commented on #3678
We just need to add a new column that captures the periodic job OCP version and logs.

| Failure Score*  | Failures | Test Name | Last Seen | PR List and Logs | Periodic OCP version and logs |
| ------------- | ------------- | ------------- | ------------- | ------------- | ------------- |
| Content Cell  | Content Cell  | Content Cell  | Content Cell  | Content Cell  | Content Cell  |

[2020-08-01 03:18] amitkrout commented on #3678
ping @jgwest @kadel @girishramnani

[2020-08-02 06:00] amitkrout commented on #3454
Same flake hit on none ppc64le architecture - https://github.com/openshift/odo/issues/2877

[2020-08-02 13:04] #3667 closed

[2020-08-03 06:28] zhengxiaomei123 commented on #3670
@jichenjc
[nodejs-10-centos7:latest](https://github.com/openshift/odo/blob/56f860b361e2595b31fc14a09fa0e07263841705/tests/e2escenarios/e2e_images_test.go#L105)
[nodejs-12-centos7:latest](https://github.com/openshift/odo/blob/56f860b361e2595b31fc14a09fa0e07263841705/tests/e2escenarios/e2e_images_test.go#L110)
[rhoar-nodejs/nodejs-10](https://github.com/openshift/odo/blob/56f860b361e2595b31fc14a09fa

[2020-08-03 06:31] mohammedzee1000 commented on #3668
Issue verified

**Tarballs from mirror.openshift.com:**

[code]

Tarballs generated through odo scripts:

[code]

Confirming that the mess up happening during the signing process. Will contact relevant red hat internal teams to correct the same

[2020-08-03 06:33] zhengxiaomei123 commented on #3670
I think these tests are aim to verify `odo supported images ` , the registry is not important. So Can I request the PR to replaces these above images from other registry? If it is aim to verify the specific image from the specific registry, I think it is meaningless to test those images only for x86 arch. Is my understanding right?

[2020-08-03 06:43] jichenjc commented on #3670
@zhengxiaomei123 the supported statement might prove here:
https://github.com/openshift/odo  (Table 1. Supported container images )

for our platform, we can either use our own image to replace for s390x arch or skip the test..

[2020-08-03 08:05] kadel commented on #1147
this is no longer relevant as odo is moving from using s2i to Devfiles
/close

[2020-08-03 08:05] #1147 closed

[2020-08-03 08:10] kadel commented on #3678
@amitkrout feel free to fork https://github.com/jgwest/odo-tools/ and add necessary changes.

Not sure where @jgwest has this currently running. But we should have it running somewhere "public and more transparent". It might be a good idea to migrate this into OpenShift Prow as a periodic job.

[2020-08-03 08:19] amitkrout commented on #3540
Yes, I have checked the changes in PR #3586 and got to know this will fix this issue also.
/close

[2020-08-03 08:21] amitkrout commented on #3540
PR #3586 is not yet merged

[2020-08-03 08:25] kadel commented on #3035
@atgreen How should output look like? I guess that just listing license names won't make sense.

Maybe something like:
[code]

Or it would be safer to list full licenses for every library?
Is it ok to just the list libraries that we use directly or should we also include nested dependencies? It might become a huge list if we do that.

[2020-08-03 11:03] anandrkskd opened #3680 "Wrong command present in odo documentation(#creating a Node.js application with odo)"
/kind documentation

## What mistake did you find / what is missing in the documentation?
In the following [documentation](https://odo.dev/docs/creating-a-single-component-application-with-odo/#creating-a-nodejs-application-with-odo), command to create dir and change to the directory is wrong as shown below.
![image](https://user-images.githubusercontent.com/34443651/89175399-54f6c500-d5a5-11ea-89

[2020-08-03 13:13] #3494 closed

[2020-08-03 16:14] prietyc123 opened #3683 "Unable to install bundler for Ruby image while "odo push" on 4.6 cluster"
/kind bug
/area testing

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Enabled 4.6 cluster for odo test on periodic jobs leads component build error. PR - https://github.com/openshift/release/pull/10346

## Actual behavior

[code]

## Expected behavior

Component build should run successfully

[2020-08-03 16:33] prietyc123 commented on #3540
/unassign @anandrkskd

[2020-08-03 20:08] #2614 closed

[2020-08-04 06:20] mohammedzee1000 commented on #3668
Updated tarballs have been synced with basic verification hat I could do. Can you check from your end
@dgolovin
cc @amitkrout

[2020-08-04 06:32] prietyc123 opened #3684 "Failed to get devfile.yaml from registry url"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running on prow periodic jobs

## Actual behavior

[code]

## Expected behavior

Seems network error but frequent occurrence has been seen.

## Any logs, error output, etc?

more details : https://prow.ci.openshift.org/view/gs/origin-ci-

[2020-08-04 08:47] prietyc123 commented on #3385
@stevekuznetsov @amitkrout @mohammedzee1000 Can you please share the Prow plugin documentation.

[2020-08-04 08:52] amitkrout commented on #3361
[code]
Hitting the failure due the flag ```GOFLAGS="-mod=vendor”```. This will be fixed just by overwriting it for example

[code]

Tomorrow I will fix it and open the pr https://github.com/openshift/odo/pull/3657 for review.

[2020-08-04 08:54] amitkrout commented on #3378
As per the last discussion with @kadel, steps to be followed

- [ ] Setup travis env
- [ ] Run oc cluster up
- [ ] Download latest release odo binary
- [ ] Create a shell script which will iterate over the devfile registry - https://github.com/odo-devfiles/registry/tree/master/devfiles with the mentioned e2e flow

[2020-08-04 08:57] amitkrout commented on #3337
I will send the pr after alpha or beta release to avoid painful rebase effort. As the test contains all the test file changes so it will be really painful for me each time after a new feature test script goes into master. cc_ @kadel @girishramnani

[2020-08-04 08:58] prietyc123 commented on #3683
Though we do not support ruby app, but this is blocking us in enabling 4.6 cluster for periodic jobs as mentioned in the description of the issue. However we need upcoming cluster to be running on periodic job for OPENSHIFT 4.6 feature_freeze Testing.

So keeping this issue in the current sprint.

[2020-08-04 08:59] prietyc123 commented on #3683
/kind bug

[2020-08-04 09:33] metacosm opened #3685 "Test command integration tests fail for docker adapter"
/kind bug

## What versions of software are you using?

**Operating System:** macOS 10.15.6

**Output of `odo version`:** odo v1.2.4 (516383426)

## How did you run odo exactly?
`ginkgo tests/integration/devfile/docker/` and executing the same commands manually. Note that the corresponding tests pass for the kubernetes adapter: https://github.com/openshift/odo/runs/942000996

## Actual behavior
Th

[2020-08-04 09:34] kadel commented on #3385
This was done in #2931 👍

To be honest I don't think that this part is that important right now.
**Our biggest problem is test stability**.
We need to invest some time in fixing flaky tests!
I have a feeling that we are just figuring out new ways how to avoid properly fixing our tests.

/priority low
/remove-priority high

[2020-08-04 09:42] metacosm opened #3686 "docker integration tests fail to properly clean up after themselves"
/kind bug

## What versions of software are you using?

**Operating System:** macOS 10.15.6

**Output of `odo version`:** odo v1.2.4 (516383426)

## How did you run odo exactly?

Run the docker integration tests: `ginkgo tests/integration/devfile/docker/`

## Actual behavior
After the tests are finished `docker volume ls` still shows lots of volumes that were created for test purposes.

## Expecte

[2020-08-04 09:57] prietyc123 opened #3687 "Update test guidelines and link it to the pr template"
/kind feature

## Which functionality do you think we should add?

Add a field  in the pr template that will document the process of how to avoid duplicate test.

## Why is this needed?

It helps contributor to get a quick reference of our test guidelines. It will provide benefits like: know if the pr has any duplicate test script or not and many more.

[2020-08-04 12:12] girishramnani commented on #2688
I would have a PR for review in a day. Quite close to getting it done. 1 small thing that I have already done but just wanted to confirm - can someone have a devfile which isn't called `devfile.yaml`?

[2020-08-04 12:22] #3656 closed

[2020-08-04 12:26] girishramnani commented on #2688
Also `--now` flag for config might be a follow up PR

[2020-08-04 12:39] mohammedzee1000 commented on #3276
Migration complete, furthur testing will need using cpaas, which can be tracked seperately

[2020-08-04 13:06] mohammedzee1000 commented on #3276
Once we can do a full release using the new route, lets close this

[2020-08-04 14:11] #2612 closed

[2020-08-04 14:19] adisky commented on #2939
As per the latest schema from here https://github.com/devfile/kubernetes-api/blob/master/pkg/apis/workspaces/v1alpha1/containerComponent.go

only `endpoint` and `dedicatedPod` not implemented for odo.

issue for endpoint implementation: https://github.com/openshift/odo/issues/3515

[2020-08-04 16:15] prietyc123 commented on #3385
Executing only the latest version of openshift CI in the PR and rest in periodic jobs are done with this issue itself PR - openshift/release#10312 and openshift/release#10346

[2020-08-04 16:27] prietyc123 commented on #2540
As we are now moved to multistage test infra you should be able to get the environment variable such as `PULL_SECRET_PATH` needed for this issue. Unblocking the issue.

[2020-08-04 18:16] elsony opened #3692 "Display starter project list for odo catalog list components"
/kind user-story

## User Story
As a user, I want to see the list of starter project that I can create when viewing the component list by calling `odo catalog list components`.

In https://github.com/openshift/odo/issues/3005#issuecomment-623913169, one of the things that has been discussed is showing the list of available starter projects of a given component when doing catalog list on components

[2020-08-04 18:26] elsony opened #3693 "Order of odo registry list entries does not match with the actual order being used by the tools"
/kind bug

## What versions of software are you using?
v1.2.4

**Operating System:**
mac

**Output of `odo version`:**
odo v1.2.4 (a40fbd34e)

## How did you run odo exactly?
To reproduce:
1. `odo registry add eyrepo https://github.com/elsony/odo-devfiles-registry-version `
2. `odo registry list`
The display is:
[code]

## Actual behavior
Notice that the newly added eyrepo is below the DefaultDevf

[2020-08-04 18:53] elsony commented on #3340
@groeges devfile 2.0 support is currently in the driver. Can you retry to see if you can still reproduce the problem?

[2020-08-04 19:52] elsony commented on #3581
This one is done on Sprint 187

[2020-08-04 19:52] #3581 closed

[2020-08-04 20:15] maysunfaisal opened #3698 "Odo fails when devfile component container name is really long"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

Kube has a resource name limit of 63 characters. Currently, we do not check if the devfile container component name is less than 63 characters before using it:
[code]

Opened a new issue because it requires some code refactoring that impacts some features that rely on the name match.

[2020-08-04 20:23] maysunfaisal commented on #3698
One suggestion would be to use it as a map `map[string]corev1.Container`, rather than an array of containers `[]corev1.Container` where the map key is the actual devfile container component name. That way it makes less of an impact with the existing code.

[2020-08-04 23:21] jgwest commented on #3461
/assign

[2020-08-04 23:22] jgwest commented on #3661
/assign

[2020-08-05 02:13] #2511 closed

[2020-08-05 04:38] #2899 closed

[2020-08-05 04:39] prietyc123 opened #3699 "starting container process caused "read init-p: connection reset by peer""
/kind bug

## What versions of software are you using?

**Operating System:**
All Supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running tests on CI

## Actual behavior

[code]

## Expected behavior

Seems container limit issue.
Problem reference : https://github.com/opencontainers/runc/issues/1914

## Any logs, error output, etc?

More detailed logs : https://pro

[2020-08-05 07:36] amitkrout commented on #2540
https://github.com/openshift/odo/issues/2019 will be fixed as part of this issue.

[2020-08-05 09:15] amitkrout opened #3700 "glide update failed to retrieve a list of dependencies"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
glide update

## Actual behavior
[code]

## Expected behavior
Dependencies should be updated

## Any logs, error output, etc?

[2020-08-05 09:17] amitkrout commented on #3700
blocking pr https://github.com/openshift/odo/pull/3657

[2020-08-05 09:17] amitkrout commented on #3700
ping @girishramnani

[2020-08-05 12:06] mohammedzee1000 commented on #764
Based on email communication:

It looks like it works fine for @greg-pendlebury with `http_proxy` and `https_proxy` when he did it in an environment where a second path existed to reach the cluster via his internet connection.

The environment where he faced the problem was basically `airgapped` wtth proxy being the only way to reach the cluster. We will likely need to account for this

[2020-08-05 12:36] girishramnani commented on #3639
closing this issue as it seems to be network related

[2020-08-05 12:36] #3639 closed

[2020-08-05 12:51] girishramnani opened #3701 "devfile with additional configuration for endpoints fails validation"
/kind bug

## What versions of software are you using?

**Operating System:**
MacOS

**Output of `odo version`:** master

## How did you run odo exactly?
I have a devfile which looks like this
[code]

now due to having `configuration` for endpoint
[code]

Everything fails

[code]
## Actual behavior
Validation fails
[code]

## Expected behavior
Should pass

## Any logs, error output, etc?