[2020-08-05 12:59] adisky commented on #3701
the new devfle schema does not have `configuration`, https://github.com/openshift/odo/blob/master/pkg/devfile/parser/data/2.0.0/types.go#L154

[2020-08-05 13:45] maysunfaisal opened #3703 "Move devfile command validation to validate pkg"
This is a code refactor issue.

Currently the devfile commands are validated in command.go during `odo push`. However, other features of devfile requires the usage of devfile commands like lifecycle events and since they dont require the usage of `odo push`, they're validated outside in validate pkg.

We should make the command validation uniform and move it out from only `odo push` to the validat

[2020-08-05 13:54] girishramnani opened #3704 "odo storage list should list all volumes from devfile components"
/kind user-story

## User Story
As a developer, I want to list the storage defined for the component so that I can have an idea about the storage which are defined for the component.

## Acceptance Criteria
- [x] It should list the storage with proper states on `odo storage list`.
- [x] It should have json output.

## Links
- Feature Request:
- Related issue:

/kind user-story

[2020-08-05 14:14] #3443 closed

[2020-08-05 14:16] sarveshtamba commented on #3454
Upgraded OCP cluster to OCP4.5 and re-ran the flaky test suite `test-generic`, the test passed consistently for 3-4 times. Closing this issue for now, will reopen if similar issue is encountered again in future.
Attaching is the log of the spec run.
[odo_test-generic_success_ppc64le_ocp4.5.txt](https://github.com/openshift/odo/files/5028962/odo_test-generic_success_ppc64le_ocp4.5.txt)

[2020-08-05 14:25] kadel commented on #3558
closing this one as alpaha was released
/close

[2020-08-05 14:25] #3558 closed

[2020-08-05 14:46] elsony commented on #2725
@cdrage For the CLI reference https://odo.dev/docs/odo-cli-reference, can we add:
1. the usage of the `--starter` flag for starter project creation to the reference on the create command https://odo.dev/docs/odo-cli-reference/#create?
2. the `odo test` command reference (https://github.com/openshift/odo/issues/3284) that we have added in Sprint 187?

[2020-08-05 15:06] GeekArthur commented on #3686
/assign

[2020-08-05 15:59] elsony commented on #2754
@maysunfaisal  No, I don't think this is the same as the init command. This one is meant to execute commands that are defined in a devfile. It does not necessary to be something run at the start of the container.

@adisky Feature #3083 is different from this item. #3083 provide a convenient way for someone to execute command on the running runtime container without exec into the container itself.

[2020-08-05 16:03] cdrage commented on #2725
I agree that we should add this to the CLI reference.

I agree too. If you can open up a PR on this that'd be great.

Unfortunately the way we have it right now (converting from markdown to asciidoc), I'd be unable to add a copy button :(. But I'll look into it!

[2020-08-05 18:25] cdrage commented on #3550
New update: Alpha release has gone out! https://github.com/openshift/odo/releases/tag/v2.0.0-alpha

I'm updating https://github.com/openshift/odo/issues/3550#issuecomment-667109411 to note what works and what does *not* work.

[2020-08-05 21:19] girishramnani commented on #3701
gotcha, I was using an older master

[2020-08-05 21:19] #3701 closed

[2020-08-05 21:22] girishramnani commented on #2939
most of the work on this is done and whatever is left is not relavent for v2.

[2020-08-05 21:32] girishramnani commented on #3481
@zhengxiaomei123 I think we have a registry release recently can you please verify and close this issue if its resolved?

[2020-08-05 21:35] girishramnani commented on #3441
co-related issue https://github.com/openshift/odo/issues/3451

[2020-08-05 22:24] gorkem commented on #3126
FYI https://github.com/eclipse/che/pull/17537

[2020-08-06 01:40] zhengxiaomei123 commented on #3481
@girishramnani Yes. I will do ASAP.

[2020-08-06 02:49] #3684 closed

[2020-08-06 03:48] #3481 closed

[2020-08-06 03:51] zhengxiaomei123 commented on #3670
`nodejs-10` and `nodejs-12` for OCP on s390 is available in the RH Registry.
https://catalog.redhat.com/software/containers/ubi8/nodejs-12/5d3fff015a13461f5fb8635a?architecture=s390x&container-tabs=overview
https://catalog.redhat.com/software/containers/ubi8/nodejs-10/5c839aa3d70cc51dd4c425d9?architecture=s390x&container-tabs=gti
https://catalog.redhat.com/software/containers/rhel8/nodejs-10/5ba1f

[2020-08-06 03:54] zhengxiaomei123 commented on #3335
Reopen this issue to add testcases releated to pull-secret error for upstream CI of s390x.

[2020-08-06 03:58] jichenjc commented on #3670
@zhengxiaomei123 but that's UBI, correct?  if so we need update doc to indicate what's really available and point to correct link

[2020-08-06 06:12] #3403 closed

[2020-08-06 08:48] zhengxiaomei123 commented on #3670
@amitkrout Since the odo-init-image has supported multi-arch platform, I think there should not be images which only for one x86 platform, Is it OK to replace the [nodejs-12-centos7:latest](https://github.com/openshift/odo/blob/56f860b361e2595b31fc14a09fa0e07263841705/tests/e2escenarios/e2e_images_test.go#L110) with [ubi8/nodejs-12](https://catalog.redhat.com/software/containers/ubi8/nodejs-12/5d3

[2020-08-06 08:50] zhengxiaomei123 commented on #3670
I think we can add those images to doc.

[2020-08-06 09:07] mik-dass commented on #3704
The list function will be similar to `ListStorageWithState` and the `list` functions in the storage package.

But our current machine readable storage struct only accepts a single mount path but for a devfile, a storage (volume) can be mounted to different paths in different containers. We will need to come up with a design to display this to the user.

We can simply display all the mount paths wi

[2020-08-06 09:12] mik-dass commented on #2815
With the current master, it works as expected
[code]
/close

[2020-08-06 09:12] #2815 closed

[2020-08-06 09:26] mik-dass commented on #3474
#3690 seems to fix this
[code]

[2020-08-06 09:50] amitkrout commented on #3670
TBH i am not sure about the image part. @girishramnani @mohammedzee1000 PTAL

[2020-08-06 09:52] anandrkskd opened #3707 "Wrong command present in multicomponent-application documentation ( odo.dev )"
/kind documentation

## What mistake did you find / what is missing in the documentation?
Minor mistakes in documentation,
- [Documentation](https://odo.dev/docs/creating-a-multicomponent-application-with-odo/#deploying-the-front-end-component)
  command in bellow image need to be change with `git clone https://github.com/openshift/nodejs-ex frontend`
  ![image](https://user-images.githubuserconte

[2020-08-06 10:36] girishramnani opened #3708 "Remove the name from envinfo and add componentType"
/kind user-story

## User Story
There is alot of confusion around `metadata.name` field present in the devfile. Some think its the component type and some think its the component name. so to resolve this confusion the user now should be allowed to set `componentType` in the envinfo. This field would also be automatically populated when a devfile is created.
Along with introducing `componentType` w

[2020-08-06 12:33] prietyc123 commented on #3683
Raised a PR #3706 which will remove the Ruby image test and unblock 4.6 cluster test run. So once it get merged I will remove this issue from the current sprint as it will be of low priority and not required for v2.

[2020-08-06 12:39] prietyc123 commented on #3337
I have gone through the PR #3221 and observed we have to commonalise BeforeEach() and AfterEach() tests steps for devfile and regular tests. Also All the test needs to be changed accordingly.

[2020-08-06 12:42] mohammedzee1000 commented on #764
I have been trying to setup things on our internal openstack instance, where we already have an openshift cluster to try this out myself, but I have been hitting issues so far

What I am looking to setup (explain is representational):

### Proxy node
 - Network
   - n1=shared network that can access outside world
   - n2=private network
 - squid proxy setup to allow all requests

### Test Node
 -

[2020-08-06 13:00] kadel commented on #3126
/triage ready
/priority medium

[2020-08-06 13:12] girishramnani commented on #3638
we need to change openliberty to nodejs/maven-java test

[2020-08-06 13:16] girishramnani commented on #3474
the #3690 seems to only list the ingress url when used with devfile

[2020-08-06 13:32] girishramnani commented on #3578
we need to update the examples of springboot present in odo repo as well

[2020-08-06 13:35] mcouliba commented on #2601
Any update?

[2020-08-06 13:51] dev-gaur commented on #3377
#### Tentative Debug commands for all the 4 Java variants

1. for quarkus, ```mvn quarkus:dev```

2. for openLiberty, ```mvn liberty:dev```

3. for generic java-maven type and 4. spring-boot type

Something like this command should work.
[code]

[2020-08-06 14:29] #3566 closed

[2020-08-06 14:29] #3632 closed

[2020-08-06 14:29] #3655 closed

[2020-08-06 14:48] girishramnani commented on #3663
blocked on https://github.com/openshift/odo/issues/3515

[2020-08-06 16:51] metacosm opened #3709 "odo should provide more contextual information as to what it's doing"
/kind feature

## Which functionality do you think we should add?
Since odo does a lot of things on the user's behalf, it would be nice if it could provide more details as to what it's doing so that the user could check that it's indeed what they intended and/or learn more about what odo does. For example, `odo push` should state in its output where it pushed the code, so that users can keep track

[2020-08-06 17:51] #3659 closed

[2020-08-06 19:18] yangcao77 opened #3710 "Support creating multiple URLs with the same TargetPort"
/kind user-story
/area url
/area devfile

## User Story
As a user I want to create multiple URLs with the same port,  so that I have different `path` defined using different ingresses/routes for the same port, and I can create one http URL and another https URL using the same port as well.

## Acceptance Criteria
- [ ] modify the current validation on devfile TargetPort to allow multiple identical

[2020-08-06 19:22] metacosm opened #3711 "odo log is unusable for multi container components"
/kind bug

## What versions of software are you using?

**Operating System:** macOS 10.15.6

**Output of `odo version`:** odo v1.2.5 (6e3fb90ef)

## How did you run odo exactly?
odo create java-springboot
odo push
odo log

## Actual behavior
[code]
Based on that output, I assume I need to provide more information so I try:
[code]
`odo log --help` makes no mention of container name… so I'm not sure

[2020-08-06 20:27] #2369 closed

[2020-08-06 20:28] #2575 closed

[2020-08-06 22:48] #3296 closed

[2020-08-06 22:49] #3439 closed

[2020-08-07 02:17] #3518 closed

[2020-08-07 03:35] mik-dass commented on #3710
It is currently possible to create URLs with the same port.

[code]
It doesn't work for devfile endpoints and gives validation error. We need to change that.

[2020-08-07 05:55] prietyc123 opened #3713 "Skip s2i items check on "odo catalog list components -o json" for kubernetes cluster"
/kind bug

## What versions of software are you using?

**Operating System:**

All supported

**Output of `odo version`:**

master

## How did you run odo exactly?

Running `odo catalog list components -o json` on kubernetes cluster failing the test.

## Actual behavior

[code]

## Expected behavior

`s2iItems` should be check only for openshift cluster here - https://github.com/openshift/odo/blob

[2020-08-07 06:23] prietyc123 opened #3714 "Invalid login configuration on docker"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running `odo create` on CI

## Actual behavior

[code]

## Expected behavior

It should create the component

## Any logs, error output, etc?

[2020-08-07 07:26] kadel commented on #2931
This is not done.
The test is still falling, there not a single run where would all periodic jobs succeded.

[2020-08-07 07:27] metacosm commented on #2889
I agree with @elsony, this is not an odo issue but rather an issue with the specified devfile which doesn't properly report an error code when running its commands. That should be addressed at the devfile level, not at the odo one.

[2020-08-07 08:20] #1623 closed

[2020-08-07 08:55] mohammedzee1000 commented on #3670
I think this should be ok so long as they are redhat supported. Still it is better if we can get confirmation from inside about these images
@hhorak is part of software collections. whyt?

[2020-08-07 08:56] mohammedzee1000 commented on #3670
also @kadel @girishramnani wdyt

[2020-08-07 09:01] kadel commented on #3670
It would be interesting what images people using s390x typically use.

I don't think that it makes sense to have the same set of images for both x86 and s390x.
We can drastically reduce the number of tests that we do on s390x to just bare minimum

[2020-08-07 09:05] zhengxiaomei123 commented on #3670
The images are all about `nodejs` and `test-e2e-images`.  Nodejs is the offical supported in Odo. The tests are running to test these offical nodejs images. It's not s390x specific.

[2020-08-07 09:05] kadel commented on #3714
/remove-kind bug
/kind failing-test
/area local

[2020-08-07 10:56] mik-dass opened #3718 "Move URLs from env to devfile"
/kind feature

## Which functionality do you think we should add?

- [ ] `odo url create` should create endpoint entries into the devfile instead of creating URLs in the env file.
- [ ] https://github.com/openshift/odo/pull/3665 will remove the secure flag temporarily. It should be restored and the attribute should be stored against the endpoint parameter `secure`
- [ ] should provide option to se

[2020-08-07 11:17] kadel commented on #3718
Some information will still need to be stored in `env.yaml`. Not all information can be stored in devfile. `host` and `kind` will still need to be in env.yaml.
This means that URL information will be divided into two parts. Generic, and environment specific. Generic will be in devfile.yaml env specific in env.yaml.
Odo will need a reliable way to pair endpoints information from devfile.yaml to add

[2020-08-07 12:10] kadel commented on #3615
There is a related issue https://github.com/openshift/odo/issues/3718.

It might be better to address https://github.com/openshift/odo/issues/3718 before this one

[2020-08-07 12:18] mik-dass commented on #3718
I think we can use the URL name as the endpoint name. We can match the names and get rest of the info from the env yaml.

[2020-08-07 13:10] kadel commented on #2601
/remove-lifecycle stale
/lifecycle frozen

odo is starting to use Devfile as a definition of the environment.

Mounting configMaps will have to be supported by Devfiles - https://devfile.github.io/devfile/index.html

This is a valid use case that odo and Devfile should support

[2020-08-07 14:00] prietyc123 commented on #3714
I can reproduce the error locally too.

[code]

Observations:

1. When it get `.kube` file it runs fine. It seems each time it is looking for push target `kube` instead of `docker`. Though we have set the push target to `docker`.

2. As we are not doing `oc cluster up` anywhere here - https://github.com/openshift/odo/blob/master/.travis.yml#L166-L178 it is not getting .kube and thats leads to the

[2020-08-07 14:31] kadel commented on #2019
/remove-status blocked
#3270 was merged

[2020-08-07 15:17] kadel commented on #3610
/assign

[2020-08-07 17:48] kadel commented on #3714
/remove-kind failing-test
/priority high
/kind bug

[2020-08-07 18:23] yangcao77 commented on #3718
We cannot use the exact endpoint name as the URL name.

For example, I have two nodejs devfile components, and currently the endpoint is defined as
[code]
It won't allow me to push the second project, because route/ingress name `3000-tcp` already exist in the current namespace

Suggest to use `<endpoint name>-<component name>` as the URL name.

OR we can use endpoint name as URL name, but append t

[2020-08-08 20:26] #2573 closed

[2020-08-08 20:26] #2686 closed

[2020-08-09 11:24] #3713 closed

[2020-08-09 16:58] gorkem opened #3724 "Continuous testing"
/kind feature

## Which functionality do you think we should add?
Add a testing mode to `odo` so that it can run the tests continuously.  This is a combination of `watch` and `test` functionality however the tests should be run on a separate container and should no block the developer's edit/push loop.  When the continuous testing is enabled there should be a second copy of the test component that

[2020-08-10 01:41] gorkem commented on #3578
Can we use images supported by runtimes team? @metacosm any suggestions ?

[2020-08-10 02:49] zhengxiaomei123 commented on #3672
[code]

[2020-08-10 02:50] zhengxiaomei123 commented on #3672
./odo catalog list services
Operators available in the cluster
[code]

[2020-08-10 02:50] zhengxiaomei123 commented on #3672
[code]

[2020-08-10 02:52] zhengxiaomei123 commented on #3672
I want to confirm that EtcdCluster service can be created from etcdoperator.v0.9.4-clusterwide operator.

[2020-08-10 02:52] zhengxiaomei123 commented on #3672
/open

[2020-08-10 02:53] zhengxiaomei123 commented on #3672
/Open

[2020-08-10 04:10] zhengxiaomei123 opened #3725 "odo documents changes for IBM P/Z platform"
/kind documentation

## Which functionality do you think we should add?
Since we have add IBM P/Z support for odo , The documents for user need to add some instructions for using odo on IBM P/Z.

## Why is this needed?

[2020-08-10 04:10] zhengxiaomei123 commented on #3725
/area system-pz

[2020-08-10 04:10] zhengxiaomei123 commented on #3725
/area doc

[2020-08-10 04:14] zhengxiaomei123 commented on #3672
/reopen

[2020-08-10 05:53] amitkrout commented on #2256
https://github.com/openshift/odo/issues/2256#issuecomment-558949843

@prietyc123 I can see the pending task here. So reopen it.

[2020-08-10 05:55] amitkrout commented on #1845
This requires a revisit

[2020-08-10 06:02] amitkrout commented on #3578
@adisky Can you please link the image repository

[2020-08-10 08:43] kadel commented on #3711
/priority high
/area component

[2020-08-10 08:58] mohammedzee1000 commented on #764
Ok I have a setup

[code]

[2020-08-10 11:17] kadel commented on #3704
That should work

[2020-08-10 13:14] johnmcollier opened #3729 "clonePath should be supported in odo"
/kind user-story

## User Story
As a user, I want to be able to use a project's `clonePath` setting to determine where my project(s) get synced on the remote containers. If no `clonePath` field is set, it should use the project's name as the clonePath, as per the devfile schema.

## Acceptance Criteria
- [ ] It should sync the user's source code to the setting of `clonePath` if set for a project
-

[2020-08-10 13:16] johnmcollier commented on #3729
How should we handle that last case? Where there isn't a clear value that we can set `clonePath` to?

[2020-08-10 19:14] yangcao77 commented on #3710
To support this,  we want wait for  https://github.com/openshift/odo/issues/3718 to be done first, to move url settings into to devfile.yaml. Also:

- different containers should not have same Targetport. In kubernetes the containers in same port share single network namespace, so two containers cannot listen to same port, in same pod.

- within a single container, multiple endpoints have same por

[2020-08-10 22:28] amitkrout opened #3731 "Failed to create devfile component because of connection reset by peer"
/kind flake

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
Fails

## Expected behavior
Should not flake out

## Any logs, error output, etc?
[code]

[2020-08-11 04:43] prietyc123 commented on #3610
One more occurence - https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_release/10346/rehearse-10346-periodic-ci-openshift-odo-master-v4.6-integration-e2e-periodic/1292828790027718656#1:build-log.txt%3A748

[2020-08-11 05:14] mohammedzee1000 commented on #3668
@dgolovin again, do the resynced artifacts look good? If so we can close this

[2020-08-11 07:05] amitkrout commented on #3610
Latest update - https://github.com/openshift/odo/pull/3613#issuecomment-664295219

[2020-08-11 07:09] amitkrout commented on #3668
@mohammedzee1000 I will check and update from mirror and locally too.

[2020-08-11 07:56] girishramnani commented on #2467
This issue is quite huge as we can observe the https://github.com/openshift/odo/issues?q=is%3Aopen+is%3Aissue+label%3Aarea%2Fdevfile
but currently features that are essential to have feature parity that are left are https://github.com/openshift/odo/issues?q=is%3Aopen+is%3Aissue+label%3Arequired-for-v2+label%3Aarea%2Fdevfile

Now mostly all of them have people assigned to them (except 1) and many h

[2020-08-11 07:58] girishramnani commented on #2327
we can create a python devfile based on what gorkem has mentioned and add that to the registry to make this easy to use

[2020-08-11 08:13] girishramnani commented on #3423
also consider the idea of linking a devfile component with an s2i component?

[2020-08-11 08:17] girishramnani opened #3734 "Add linked component/service information in odo describe for devfile component and operator services"
/kind user-story

## User Story
As a user I want to see the components and services linked to my current component So that I can verify that the secrets were added correctly.

## Acceptance Criteria
- [ ] It should show the linked components information in the `odo describe` output
- [ ] It should show the linked services information in the `odo describe` output
- [ ] ~~should work with both catal

[2020-08-11 08:19] girishramnani commented on #3734
Blocked on https://github.com/openshift/odo/issues/3644

[2020-08-11 08:21] girishramnani commented on #2812
any update on this @amitkrout

[2020-08-11 08:30] girishramnani commented on #2161
We have a more updated Epic for this and hence removing this from the milestone in the interest of https://github.com/openshift/odo/issues/2613

[2020-08-11 08:31] #2161 closed

[2020-08-11 08:39] adisky commented on #3578
as discussed with @maysunfaisal he used custom images to showcase devfile capability to have separate build and run containers.
@girishramnani  suggested to use image from `che` repository as we do not want to maintain our images. Devfile ability we can show in docs and demo.
I feel we need atleast one devfile with multiple containers for testing purpose to catch errors like these https://github.c

[2020-08-11 08:48] amitkrout commented on #2812
checking

[2020-08-11 09:30] amitkrout commented on #2812
On master, i can see the missing devfile examples. It has been fix through some other pr i guess.

[2020-08-11 09:30] #2812 closed

[2020-08-11 10:10] prietyc123 opened #3736 "odo watch try to remove non-existent file"
/kind flake

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running test on CI

## Actual behavior

[code]

## Expected behavior

Watch over the files should run successfully.

## Any logs, error output, etc?

Detailed log - https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/open

[2020-08-11 10:47] zhengxiaomei123 commented on #3670
@kadel @mohammedzee1000 To seperate images for s390x and x86, I would like to create one different context and run all the spec that needs to be skipped on s390x and apply condition
if runtime.GOARCH == "s390x" {
				Skip("Skipping test because there is no supported builder image for s390x.")
			}

in ginkgo built-in tear down steps JustBeforeEach. I think it a good solution and will request the P

[2020-08-11 11:44] sspeiche commented on #2777
What work is left in blogs? I have been reviewing new blog posts from developers.redhat.com/blog and updated the internal FAQ on naming usage.

[2020-08-11 12:10] dev-gaur opened #3738 "Devfile mode: the run command process isn't killed, before starting the debug command process, if 'restart' attribute is set as false"
Pre requisite knowledge :

the **restart** attribute, as illustrated [here](https://github.com/odo-devfiles/registry/blob/78f685b7476791d9e45a0c9d6bbb8398b93d0216/devfiles/java-quarkus/devfile.yaml#L36)  , enables (when set as true) or disbles (when set as false) the retriggering of a project's build cycle inside the deployed container when `odo push` is used and newly added or edited files are pu

[2020-08-11 13:26] Preeticp commented on #2777
Struck down the Blogs part in the list, post our discussion. If the odo part, such as man pages and code have also been updated to odo, then we can close this issue.

[2020-08-11 14:41] prietyc123 opened #3741 "No resource found in "oc get csv -n openshift-operators" on 4.6 cluster"
/area service
/area service-operators

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Run `make configure-installer-tests-cluster` on 4.6 locally as well as on CI.

## Actual behavior

[code]

## Expected behavior

Operators are getting created but somehow no resource found in openshift-operato

[2020-08-11 14:52] prietyc123 commented on #3741
I tried running the steps manually but still I can find the same failure on 4.6 cluster.

[code]

Openshift feature_freeze for 4.6 cluster has to be done, so considering this as high priority.

priority/high

[2020-08-11 17:05] amitkrout commented on #3736
Another hit - https://github.com/openshift/odo/pull/3733

[2020-08-11 17:44] elsony commented on #3615
Blocked by #3718

[2020-08-11 18:02] jgwest commented on #3402
I believe there is still overlap between this issue and https://github.com/openshift/odo/issues/3521

[2020-08-11 18:10] amitkrout commented on #3741
We are using the subscription for ```mongodb-enterprise```, ```etcd``` and ```service-binding-operator```. The problem is in the subscription installation itself which is not working on 4.6 cluster i mean it stuck in between the installation. The status goes inactive for ```mongodb-enterprise``` installation through cli.

etcd installation through console (stuck in between the installation). I cap

[2020-08-11 19:53] dev-gaur commented on #3377
Blocked on #3740

[2020-08-11 23:47] #3335 closed

[2020-08-12 05:17] amitkrout commented on #3335
@zhengxiaomei123 In 4.5 we have cluster-scoped secrets and is used globally. Before that every namespace had to have a secrets for all registries that will be used in the namespace. if your test needs to pull something from registry.redhat.io, it should have a secret for this registry. The pull secret from the installer should live in the openshift-config namespace as secret/pull-secret, if you wa

[2020-08-12 05:22] amitkrout commented on #3667
[code]

[2020-08-12 06:01] mik-dass commented on #3718
OR we can use endpoint name as URL name, but append the component name at the end when creating route/ingress

OK but we need to make sure that the original name is shown back to the user during `odo url list`.

The command `odo url create` should only create the endpoint in the first container to avoid confusion.

[2020-08-12 06:25] zhengxiaomei123 commented on #3335
This is coincident with what I tested. Thanks for your confirmation.

[2020-08-12 09:00] jichenjc commented on #3725
@zhengxiaomei123 can we list all the potential items
such as images and other potential things ?Thanks

[2020-08-12 09:02] mohammedzee1000 opened #3745 "Upgrade internal PSI clusters 4.3 -> 4.5"
We should upgrade the PSI 4x cluster to version 4.5
/kind feature
/area testing
/priority medium

[2020-08-12 09:06] jichenjc commented on #3672
@zhengxiaomei123 which case failed? sorry, I didn't see error in your screen shoot...

[2020-08-12 09:10] zhengxiaomei123 commented on #3670
@amitkrout When testing the ubi8/nodejs-10 and ubi8/nodejs-12 and rhel8/nodejs-10 and rhel8/nodejs-12 for `test-e2e-images` case, I also go the error which you mentioned on #3307 and #3420 . It's here always. But for ubi7/nodejs-10 and ubi7/nodejs-12, the case passed and the error is not here.
The full log I pasted here: https://tpaste.us/WRv0

[2020-08-12 09:18] hhorak commented on #3670
I can confirm that these images are supported by Red Hat on s390x as well.

[2020-08-12 10:22] zhengxiaomei123 commented on #3672
I pasted the log here:
[code]

[2020-08-12 10:27] amitkrout commented on #2931
Yes, its due to platform issue and known flakes. One major periodic blocker blocker is being worked on pr https://github.com/openshift/odo/pull/3737.

[2020-08-12 11:22] kadel commented on #3718
/priority high

[2020-08-12 12:44] kadel opened #3747 "ALPHA: unable to list components from default devfile registry"
using odo alpha1
[code]

Trying to run odo as a first time user. So I deleted `~/.odo`
[code]

Now when I try to list components from registry I get an error as no registry is configured.
If there is no registry configured in `preference.yaml` odo should automatically use our public default registry `github.com/odo-devfiles/registry`

[code]

/kind bug
/area registry
/priority high

[2020-08-12 12:57] mohammedzee1000 commented on #3670
@amitkrout @kadel  can we then consider adding these images to our testing without removing existing ones.

They can be put under a separate test group if needed

[2020-08-12 13:08] mik-dass commented on #3704
We can have two list output
- one with containers mentioned for the above mentioned case
- one with no containers mentioned (for the general case)

The json output will be the same in both the cases

[2020-08-12 13:43] amitkrout commented on #3736
Same occurrence - https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/3616/pull-ci-openshift-odo-master-v4.5-integration-e2e/1293471773882322944#1:build-log.txt%3A891

[2020-08-12 14:19] johnmcollier commented on #3747
Similar to this, when there's no preferences file, `odo registry list` panics:
[code]

[2020-08-12 14:48] johnmcollier commented on #3747
The commit here: https://github.com/johnmcollier/odo/commit/274acb72db1fb3ac4ec06104dae639856d6602f2 fixes things for me

Believe @cdrage was gonna pull it into his PR https://github.com/openshift/odo/pull/3705

[2020-08-12 14:51] cdrage opened #3749 "Document on converting s2i to devfile"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Need documentation on how to convert from s2i to devfile

## What is the relevance of it?

Missing

@adisky

[2020-08-12 15:36] #3401 closed

[2020-08-12 17:40] johnmcollier opened #3750 "Help text gets printed twice for invalid odo commands"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

## How did you run odo exactly?
`odo <some-fake-command>`

## Actual behavior
[code]

[2020-08-12 18:05] mohammedzee1000 commented on #3745
I have destroyed old cluster. Have been facing issues with 4.5

Should hopefully have something end of week

[2020-08-12 18:45] johnmcollier commented on #3718
@mik-dass What about adding a flag to allow users to specify the container?

I'm not sure how I feel about always creating the endpoint in the first container, because it limits the user's ability to add endpoints to multiple containers (without re-ordering their devfile manually)

[2020-08-12 18:51] yangcao77 commented on #3718
This issue has dependency on
https://github.com/openshift/odo/pull/3702 - APIs to modify devfile entry
https://github.com/openshift/odo/pull/3665 - url creation using devfile endpoint entry

[2020-08-12 19:17] yangcao77 commented on #3718
devfile parsing generate an array to store endpoint entries, the order is not guaranteed. Propose to make `--container` a required flag if devfile contains more than one containers.

[2020-08-12 21:21] johnmcollier commented on #3692
Ran into a slight issue with this:

Currently `odo catalog list components` only downloads the index.json from a registry and retrieves the metadata from it, it does *not* download each devfile. However the index.json does not contain any information about starter projects.

So, if we want to include the list of starter projects in the output of `odo catalog list components`, we would to either:
1

[2020-08-12 21:22] johnmcollier commented on #3692
Ran into a slight issue with this:

Currently `odo catalog list components` only downloads the index.json from a registry and retrieves the metadata from it, it does *not* download each devfile. However the index.json does not contain any information about starter projects.

So, if we want to include the list of starter projects in the output of `odo catalog list components`, we would to either:
1

[2020-08-13 01:49] zhengxiaomei123 commented on #3670
@mohammedzee1000 Yes, I created a new separate context to involes those images for x86 not removing them in PR # 3744.

[2020-08-13 03:38] #3741 closed

[2020-08-13 05:57] mohammedzee1000 commented on #3745
Openshift 4.5.5 cluster is up in PSI.
/close

[2020-08-13 05:58] #3745 closed

[2020-08-13 07:33] kadel commented on #3692
I would go with 2 as well.
Index.json in the registry would be a good fit for this.
And more importantly, we already have problems with doing too many requests to GitHub.

[2020-08-13 09:51] kadel commented on #3718
I'm not sure about that. The problem that I have with `--container` is that there is no way to list containers with `odo` from the command line. So we are forcing the user to read devfile.yaml.

I agree that there are legitime uses for `--container` but I don't want to complicated users' life if we don't have to. If there is no container with `dedicatedPod` it won't matter where the endpoint is de

[2020-08-13 12:12] #3738 closed

[2020-08-13 12:46] mohammedzee1000 commented on #2959
It looks to me like this problem was fixed already in all the places.
`os.getcwd()` is now only used when context="", but that should probably be handled while reading context, value. Will sent pr for that shortly

[2020-08-13 13:39] kadel commented on #3578
If it is just for testing purposes it doesn't have to be in odo devfile registry, we can just include devfile in our testing directory.

Yes, ideally we should reuse existing images. But if for some reason we can't or don't want to we can build our own, that is ok. But we just need to be aware of the maintenance cost.

If we need a repo for examples it should be in `odo-devfile` Github organizatio

[2020-08-13 14:31] deboer-tim commented on #3375
Just watched a live demo and noticed this again. The ns are a bit distracting, my preference would be to decide the minimum granularity (IMHO 1ms would be fine, but could be 0.1ms too) and then just use '<' if it's less than that (e.g. '<1ms').

i.e. just change:
   return fmt.Sprintf("%dns", timeElapsed.Nanoseconds())
to:
   return "<1ms"

[2020-08-13 15:12] amitkrout commented on #3736
Same occurrence in 4.3 periodic job - https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.3-integration-e2e-periodic/1293880054232649728#1:build-log.txt%3A1143

[2020-08-13 15:12] amitkrout commented on #3736
ping @girishramnani @kadel

[2020-08-13 15:42] maysunfaisal commented on #3661
/assign

[2020-08-13 17:43] #3515 closed

[2020-08-13 18:59] johnmcollier commented on #3692
Okay, so this issue will deliver two sets of changes:
1) Update the index.json generator in github.com/odo-devfiles/registry to add the list of projects in each devfile to the index.json
2) Update odo to retrieve the projects from the index.json

[2020-08-13 19:22] maysunfaisal commented on #3577
Moving this back to pipeline `To do` since there is a discussion going on about preStart event here in https://github.com/devfile/api/issues/105 and may probably affect postStop

[2020-08-13 20:46] #1085 closed

[2020-08-14 06:21] zhengxiaomei123 commented on #3725
- [ ] ReadMe :Officially supported languages and corresponding container images

[2020-08-15 08:52] #2456 closed

[2020-08-15 09:17] amitkrout opened #3753 "etcd operator tests fails on 4.4 cluster periodic job"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

## Actual behavior
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.4-integration-e2e-periodic/1294514240794660864#1:build-log.txt%3A714

## Expected behavior

## Any logs, error output, etc?
[code]

[2020-08-15 10:13] amitkrout commented on #3753
Able to reproduce it locally.

<img width="1128" alt="Screen Shot 2020-08-15 at 3 39 32 PM" src="https://user-images.githubusercontent.com/19851115/90310310-0551bb00-df0e-11ea-87bb-4c0c7ca1d281.png">

[2020-08-15 14:13] amitkrout opened #3754 "Push fails to sync files to the component"
/kind bug
/kind flake

## What versions of software are you using?

**Operating System:**
cluster version
**Output of `odo version`:**
master
## How did you run odo exactly?
These are CI flakes coming from scenarios of debug test and cmp app

[code]

## Actual behavior
Failing

## Expected behavior
Push should go through

## Any logs, error output, etc?
[code]

[2020-08-15 15:35] amitkrout commented on #2088
I am easily able to reproduce it but the error what CI is hitting is completely different.

To reproduce it locally you just need to set the KUBECONFIG to some unknown path then try odo command. For example
[code]

But in CI both travis and prow the the error is different
[code]
[code]

Right now each spec in the test suite is referring to the correct KUBECONFIG path. I am not sure if this is happ

[2020-08-15 19:01] prietyc123 commented on #3449
/close

[2020-08-15 19:01] #3449 closed

[2020-08-15 19:16] prietyc123 commented on #3359
@amitkrout Did you looked into https://github.com/onsi/ginkgo/issues/707#issuecomment-665179337 if it works for us.

[2020-08-15 20:50] prietyc123 commented on #3753
@amitkrout I tested it locally on 4.4 cluster but all specs passed for me.

[code]

[2020-08-16 07:12] amitkrout commented on #3753
@prietyc123 Which cluster version you used ? The config file we use in CI for cluster version is an ephemeral OpenShift Release, for example 4.4.0-0.ci builds.

May be mongodb operator is broken in the latest openshift 4.4.0-0.ci build.

[2020-08-16 07:15] amitkrout commented on #3753
etcd operator is broken on 4.3 periodic job - https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.3-integration-e2e-periodic/1294786046050963456#1:build-log.txt%3A769

[2020-08-16 09:47] amitkrout opened #3755 "UTs fails within env folder"
/kind flake

## What versions of software are you using?

**Operating System:**
Windows, Linux

**Output of `odo version`:**
master

## How did you run odo exactly?
make test

## Actual behavior
Observed in travis CI
[code]
## Expected behavior
No such flake should appear

## Any logs, error output, etc?

[2020-08-16 14:17] amitkrout commented on #3753
I have verified all the three operators against the latest stable release version of 4.2, 4.3, 4.4 and 4.5 without any issue. I have created a pr https://github.com/openshift/release/pull/11013 to run odo test on the latest stable released version now onward.

Moreover we should run our test on the sable server version instead of latest ci or nightly build. Ofcourse for unreleased server version l

[2020-08-17 04:19] zhengxiaomei123 opened #3756 "'make test-coverage' failed on s390x platform"
/kind bug

## What versions of software are you using?

**Operating System:**
Red Hat Enterprise Linux 8.2 (Ootpa)
**Output of `odo version`:**
odo v1.2.5 (0246cf66c)
Server: https://api.ocp43b.rhocp.boe:6443
Kubernetes: v1.18.3+012b3ec
## How did you run odo exactly?
locally
## Actual behavior
make test-coverage

## Expected behavior
passed

## Any logs, error output, etc?
./scripts/generate-cove

[2020-08-17 04:19] zhengxiaomei123 commented on #3756
/area system-pz

[2020-08-17 05:25] prietyc123 commented on #3755
@amitkrout I can see this flake on linux too

[code]

[2020-08-17 06:09] zhengxiaomei123 opened #3757 "odo integration and e2e tests failed for 2.0-alpha on s390x"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2020-08-17 06:10] zhengxiaomei123 commented on #3757
/area system-pz

[2020-08-17 06:11] zhengxiaomei123 commented on #3757
/lable required-for-v2

[2020-08-17 08:26] kadel commented on #3548
PR https://github.com/devfile/api/pull/96 got merged

Please note that the field was renamed to `hotReloadCapable`

/remove-status blocked

[2020-08-17 09:39] adisky commented on #3578
@kadel che used java maven image for spring boot devfile https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-web-spring/devfile.yaml#L20, I am thinking to update our springboot devfile in registry with the same image  `quay.io/eclipse/che-java11-maven:nightly`.

For test purpose we can have a multiple containers devfile using the same image as build and run container?

[2020-08-17 12:27] zhengxiaomei123 commented on #3757
@girishramnani Hi , I am confused that why the lable `System-PZ` is removed. Thanks.

[2020-08-17 12:29] zhengxiaomei123 commented on #3756
The race detector is currently not supported on s390x . I will add the arch check for this script and disable the '-race' flag on s390x architecture.

[2020-08-17 13:31] kadel commented on #3578
Not sure how much that would make sense.
I don't think we need multi-container devfile in the registry just for sake of having it.

If wee need multi-container devfile for our test suite it should be a special devfile that is in odo repo together with other test fixtures.

[2020-08-17 13:36] mik-dass opened #3759 "Add support for overriding composite commands"
/kind bug

## Which functionality do you think we should add?

The overrideCommands function https://github.com/openshift/odo/blob/06922bbc8d9bf1b8bd6049cdc9bdb600523cee67/pkg/devfile/parser/types.go#L63 doesn't support composite commands.

## Why is this needed?

The function should support patching composite commands.

[2020-08-17 13:59] kadel commented on #1509
this is still valid

/remove-lifecycle rotten
/lifecycle frozen

[2020-08-17 14:37] adisky commented on #3578
sorry, i have not explained clearly.
I meant the same having a multicontainers devfile in our odo repo for test suite.

[2020-08-17 15:06] mik-dass commented on #3755
It is failing sometimes on mac too.

[2020-08-17 16:01] mik-dass opened #3761 "Add documentation of storage commands for devfile components"
/kind documentation

## What is the relevance of it?

We need documentation of storage commands for devfile components once the PRs are merged.

- [ ] `odo storage create`
- [ ] `odo storage delete`
- [ ] `odo storage list`

[2020-08-17 17:34] #3641 closed

[2020-08-17 19:32] maysunfaisal commented on #3703
/assign

[2020-08-17 20:30] GeekArthur commented on #3693
I find we need more changes as we concurrently retrieve devfile index file from different registries after the performance PR is merged, so the original registry priority structure is broken, but I already figure out a new data structure + algorithm to fix that, I can open a PR soon to ensure:
- Registry has priority (Latest added registry has the highest priority)
- Display order is correct + sti

[2020-08-18 01:18] #3371 closed

[2020-08-18 01:18] #3435 closed

[2020-08-18 01:18] #3540 closed

[2020-08-18 01:18] #3585 closed

[2020-08-18 05:10] anandrkskd commented on #3754
I am able to reproduce it locally
[code]

[2020-08-18 06:07] dgolovin opened #3766 "Starting from odo v1.2.1 describe command does not include info about linked components"
/kind bug
## What versions of software are you using?

**Operating System:** windows

**Output of `odo version`:** odo v1.2.5 (0aeec48e4)

## How did you run odo exactly?

[code]

## Actual behavior

[code]
** No linked components reported in human/machine readable output **

## Expected behavior
The same as it was in odo v1.2.0
[code]

[2020-08-18 06:33] prietyc123 commented on #3755
Hitting same on prow unit test https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/3763/pull-ci-openshift-odo-master-unit/1295594035787862016#1:build-log.txt%3A104

[2020-08-18 06:34] prietyc123 commented on #3755
As it is failing on all the supported platform, modifying the issue title

[2020-08-18 07:06] amitkrout opened #3767 "context flag does not work with devfile url create"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
## Actual behavior
[code]

## Expected behavior
Should create the URL

## Any logs, error output, etc?

[2020-08-18 07:11] prietyc123 opened #3768 "--ignore flag does not ignore the changed file *.md and perform successful push"
/kind failing-test
/area testing

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running test on CI

Test Script contains these steps:

[code]

## Actual behavior

[code]

## Expected behavior

`odo push --context context/nodejs-ex --ignore *.md` should not build the component because the chang

[2020-08-18 07:26] #3638 closed

[2020-08-18 09:14] dev-gaur opened #3769 "Devfile mode: 'odo push' skips the build command"
whenever I try the `odo push` , the `build` command in the devfile isn't triggered, only the `run` command is triggered again.

How to verify the bug :

For a java project, try normal `odo push` and you can observe that changes won't be reflected in your running app. But if you run the build command ( `mvn package` ) on your setup to compile your fat jar before `odo push` , then the changes are re

[2020-08-18 09:16] zhengxiaomei123 commented on #3671
The DefaultDevfileRegistryURL is "https://github.com/odo-devfiles/registry". The devfiles for java-sprintboot is "https://github.com/odo-devfiles/registry/blob/master/devfiles/java-springboot/devfile.yaml" . The container image in this devfile.yaml is `maysunfaisal/springbootbuild` ,which only support x86.

[2020-08-18 09:19] zhengxiaomei123 commented on #3671
Same problem for java-quarkus , the container image used in [DefaultDevfileRegistryURL](https://github.com/odo-devfiles/registry/blob/master/devfiles/java-quarkus/devfile.yaml) is `quay.io/eclipse/che-quarkus:nightly` ,which only support x86.

[2020-08-18 09:20] zhengxiaomei123 commented on #3671
Same problem for java-quarkus , the container image used in [DefaultDevfileRegistryURL](https://github.com/odo-devfiles/registry/blob/master/devfiles/java-maven/devfile.yaml) is `quay.io/eclipse/che-java11-maven:nightly`,which only support x86.

[2020-08-18 09:44] zhengxiaomei123 commented on #3725
Hi @cdrage , I check all the doc of odo and list all the  required changes for documents of odo in above comments. What's your advice? If it is ok, I will request the PR to update these docs (There has been 2 PRs to update the first and second changes). Thanks.

[2020-08-18 11:59] adisky commented on #3769
@dev-gaur  I have checked on latest master with springboot devfile, if there are changes `odo push` picking up the changes and running build command, it is not skipping. Please mention exact steps you are following in bug description

[2020-08-18 12:12] kadel commented on #3747
fixed in alpha-2 release
/close

[2020-08-18 12:13] #3747 closed

[2020-08-18 12:38] amitkrout opened #3771 "ingress url does hit for component nodejs in devfile registry"
/kind bug

## What versions of software are you using?

**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
[code]

## Expected behavior
Should hit the URL

## Any logs, error output, etc?

[2020-08-18 13:07] kadel commented on #3771
this can never work unless you own `asdf.com` domain and you have it properly  configured, I assume that this is not the case

/triage invalid-bug
/close

[2020-08-18 13:07] #3771 closed

[2020-08-18 13:09] girishramnani commented on #3771
you closed it @kadel while we were going through this in cabal 🙂

[2020-08-18 13:12] kadel commented on #3771
Feel free to reopen If I missed someting

[2020-08-18 13:13] girishramnani commented on #3463
co-related to this https://github.com/openshift/odo/issues/3771

[2020-08-18 13:14] girishramnani commented on #3769
this is currently not happening again so could be a one-off, we are verifying it again just in case

[2020-08-18 13:17] girishramnani commented on #3768
after odo push - we are just changing readme and adding it to ignore, but even then a push happens

[2020-08-18 13:21] #3670 closed

[2020-08-18 13:21] #3755 closed

[2020-08-18 13:26] #3753 closed

[2020-08-18 15:46] johnmcollier opened #3775 "Allow users to toggle between ephemeral and persistent volumes for devfiles"
/kind user-story
/area devfile

## User Story
Currently, odo uses an ephemeral emptyDir volume to store the synced project source code in the remote container of a devfile component. There's some use cases however where this is not ideal, such as when the pod needs to be restarted for whatever reason (env update, linking, etc), and then the source code needs to be re-synced. Additionally, to suppo

[2020-08-18 15:46] johnmcollier commented on #3562
We discussed this on today's call, we decided on minimally supporting a toggle to enable users to switch between ephemeral emptyDir volumes and PersistentVolumes. We didn't decide on a default however.

https://github.com/openshift/odo/issues/3775

[2020-08-18 17:35] elsony commented on #3718
Blocked by PR #3702

[2020-08-18 17:36] johnmcollier commented on #3692
This issue is blocked on https://github.com/openshift/odo/issues/3263 and https://github.com/odo-devfiles/registry/pull/29

[2020-08-18 17:39] elsony commented on #3577
Need to wait for the devfile-api issue.

[2020-08-18 17:46] johnmcollier opened #3778 "'odo create' should properly validate devfiles"
/kind bug
/area devfile

It seems when a user runs `odo create`, it doesn't actually validate the content of a devfile:

[code]

Validation instead occurs during `odo push`:
[code]

`odo create` should be validating the devfiles as part of the `Validating devfile component` step.

[2020-08-18 18:43] johnmcollier opened #3779 "Unable to list devfile components in catalog if no Kube config exists"
I downloaded the alpha-2 (note this affects master too) release of odo on a fresh VM with no Kube config downloaded yet, but hit errors telling me to log in when I tried to list the devfiles in the catalog. I was able to reproduce on my laptop by moving the `~/.kube` folder and running `odo catalog list components`:

[code]

We should be able to list devfiles in the devfile registries without a Ku

[2020-08-18 19:25] #3610 closed

[2020-08-19 05:07] priyankakhetawat commented on #1119
while doing odo push gvg error at waiting for component to start
deploymentconfig=nodejs-nodejs-ex-fhfc-app while doing odo push,

[2020-08-19 05:08] priyankakhetawat commented on #647
while doing odo push gvg error at waiting for component to start
deploymentconfig=nodejs-nodejs-ex-fhfc-app while doing odo push,

[2020-08-19 06:40] mik-dass commented on #3718
#3702 - APIs to modify devfile entry

@yangcao77 Why is this blocked by #3702 ?

[2020-08-19 08:18] sarveshtamba commented on #3607
@amitkrout any more inputs on this one?

[2020-08-19 08:35] kadel opened #3781 "$PROJECT_SOURCE env variable"
/kind user-story

## User Story
As a Devfile author, I always want to know the exact location of the project source code So that I can execute commands in a current diretory

## Acceptance Criteria
- [ ] `${PROJECT_SOURCE}` env variable should be available in every container of the component so it can be used in `commandLine` or `workingDir` fields inside Devfiles
- [ ] `${PROJECT_SOURCE}` should

[2020-08-19 08:35] kadel commented on #3729
/priority high

[2020-08-19 09:15] girishramnani opened #3782 "Devfile 2.0 support followup"
So this epic is about follow up to https://github.com/openshift/odo/issues/2467 and is related to on hardening devfile support

## User stores

// TODO

[2020-08-19 09:15] dev-gaur commented on #3769
sorry for the false alarm. I must have skipped a step of odo workflow, when I observed this behaviour.

[2020-08-19 09:15] #3769 closed

[2020-08-19 09:17] dev-gaur commented on #3769
though we should try that the execution of the build command should also be logged... as supervisord log... for consistency's sake

[2020-08-19 09:17] girishramnani commented on #2467
the feature parity so far is attained and we have another epic https://github.com/openshift/odo/issues/3782 for follow up for devfile support.
Closing this issue as the AC is achieved.

[2020-08-19 09:17] #2467 closed

[2020-08-19 09:19] dev-gaur opened #3783 "Architecture documentation needs an update"
I observed that we have edited/updated/trimmed the docs to keep the Devfile mode in focus singularly at  https://odo.dev/

But the architecture of odo  document here still describe the architecture used in S2I mode. https://odo.dev/docs/odo-architecture/

we should update this to describe the devfile mode architecture which is slightly different than the s2i one.

[2020-08-19 12:25] sarveshtamba commented on #3454
@amitkrout Facing the following issues in `test-generic` test suite:-
[code]

Attaching the detailed spec failure log -
[odo_test-generic_failures_ppc64le_1.txt](https://github.com/openshift/odo/files/5096348/odo_test-generic_failures_ppc64le_1.txt)

[2020-08-19 14:13] adisky opened #3784 "Devfile run command not started if `odo push` is run after `odo push --debug`"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
[code]

$ odo push
[code]

if you check the logs, debug command is running not the run command
[code]

## Actual behavior
odo push should run the run command not debug command

## Expected behavior
odo push should stop the debug command and start run command,

[2020-08-19 14:22] priyankakhetawat commented on #2244
getting while odo push
X  Waiting for component to start [4m]
 X  waited 4m0s but couldn't find running pod matching selector: 'deploymentconfig=frontend-app'

[2020-08-19 14:48] cdrage opened #3786 "Add errors.Wrapf to portions of the code that using json.Unmarshal"
/kind feature

## Which functionality do you think we should add?

I am running into issues like below:
[code]

Where the error output is ambiguous. As a user, the error output is not very good. As a developer, its hard to find what part of the code is actually causing the issue.

Throughout our code we are using `json.Unmarshal` but with no error wrapping to indicate what part of the code is caus

[2020-08-19 16:55] sarveshtamba commented on #3491
@amitkrout Facing the following issues in `test-cmd-link-unlink` test suite:-
[code]

Attaching the detailed spec failure log -
[odo_test-cmd-link-unlink_failures_ppc64le_1.txt](https://github.com/openshift/odo/files/5097996/odo_test-cmd-link-unlink_failures_ppc64le_1.txt)

[2020-08-19 18:46] #3263 closed

[2020-08-20 01:16] jichenjc commented on #3757
@zhengxiaomei123 how about paste the error info here about what's wrong?

[2020-08-20 01:30] jichenjc commented on #3750
I met same issue with latest code ...

[2020-08-20 02:19] dev-gaur opened #3789 "Devfile Mode: 'odo app list' doesn't display app name"
/kind bug

**Output of `odo version`:**

[code]

## How did you run odo exactly?
`odo app list` in devfile mode.

## Actual behavior

`odo app list` should display app name in devfile mode.

## Expected behavior
```There are no applications deployed in the project 'maven-poc'```

## Any logs, error output, etc?

![Screenshot from 2020-08-20 07-42-58](https://user-images.githubusercontent.com/75510

[2020-08-20 03:12] #3756 closed

[2020-08-20 06:30] girishramnani opened #3791 "We should validate config params for devfile"
We should validate memory limit, not specifically here may be during `odo push`, if memory limit specified in wrong format like `756g`, `odo config set` `odo push` `k8s api`silently ignores that, and component gets pushed successfully without applying limits.

_Originally posted by @adisky in https://github.com/openshift/odo/pull/3702_

[2020-08-20 06:37] sarveshtamba commented on #3502
@amitkrout Facing the following issues in `test-cmd-debug` test suite:-
[code]
Attaching the detailed spec failure log -
[odo_test-cmd-debug_failures_ppc64le_1.txt](https://github.com/openshift/odo/files/5101110/odo_test-cmd-debug_failures_ppc64le_1.txt)

[2020-08-20 06:38] girishramnani commented on #3789
@dev-gaur because `odo app` is still not implemented for devfile mode
https://github.com/openshift/odo/issues/3402

[2020-08-20 06:38] #3789 closed

[2020-08-20 07:50] adisky opened #3794 "API version and schema version tests should be migrated to devfileV2"
/kind cleanup

https://github.com/openshift/odo/blob/master/pkg/devfile/parser/context/apiVersion_test.go
https://github.com/openshift/odo/blob/master/pkg/devfile/parser/context/schema_test.go

[2020-08-20 07:50] sarveshtamba commented on #3497
@amitkrout Facing the following issues in `test-cmd-pref-config` test suite:-
[code]

Attaching the detailed spec failure log -
[odo_test-cmd-pref-config_failures_ppc64le_1.txt](https://github.com/openshift/odo/files/5101462/odo_test-cmd-pref-config_failures_ppc64le_1.txt)

[2020-08-20 08:56] amitkrout opened #3796 "Run integration/e2e test validation part of odo release"
/kind feature

## Which functionality do you think we should add?
Right now we are not verifying the odo bits just after building it in our internal system (brew build). So need to attach the integration test step to make sure the the bits works fine without manual intervention.

The release process will be done in 3 steps.
1. brew build
2. integration test
3. Publish (Only if integration test is

[2020-08-20 08:58] amitkrout commented on #3796
ping @mohammedzee1000 @anandrkskd

[2020-08-20 09:30] kadel commented on #3361
why is this blocked?

[2020-08-20 09:47] amitkrout opened #3797 "Binary component create fails if path is relative and includes ../"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
[code]
## Expected behavior
Should pass

## Any logs, error output, etc?

[2020-08-20 09:49] amitkrout commented on #3797
Failing on macOS while running the test script.

[2020-08-20 09:54] sarveshtamba commented on #3502
/reopen

[2020-08-20 09:59] sarveshtamba commented on #3530
@amitkrout Facing the following issues in `test-cmd-app` test suite:-
[code]
Attaching the detailed spec failure log -
[odo_test-cmd-app_failures_ppc64le_1.txt](https://github.com/openshift/odo/files/5102162/odo_test-cmd-app_failures_ppc64le_1.txt)

[2020-08-20 10:04] kadel commented on #2327
/assign

[2020-08-20 10:06] #3687 closed

[2020-08-20 10:06] #3621 closed

[2020-08-20 10:07] kadel commented on #2327
added in https://github.com/odo-devfiles/registry/pull/36

[2020-08-20 10:17] sarveshtamba commented on #3531
@amitkrout Facing the following issues in `test-cmd-storage` test suite:-
[code]
Attaching the detailed spec failure log -
[odo_test-cmd-storage_failures_ppc64le_1.txt](https://github.com/openshift/odo/files/5102265/odo_test-cmd-storage_failures_ppc64le_1.txt)

[2020-08-20 10:20] sarveshtamba commented on #3531
/reopen

[2020-08-20 10:22] amitkrout commented on #3378
Validation steps remaining
[code]
Ping @anandrkskd

[2020-08-20 10:24] mohammedzee1000 commented on #3668
@dgolovin @amitkrout can you verify please

[2020-08-20 10:42] amitkrout commented on #3361
https://github.com/openshift/odo/issues/3700

[2020-08-20 10:44] amitkrout commented on #3361
I am un assigning myself here as it blocked by #3700. And i am not actively working on this too since couple of weeks.

[2020-08-20 10:48] mohammedzee1000 commented on #3767
This does not seem to be happening to v2.0.0-alpha-2 atleast

[code]

[2020-08-20 11:06] mohammedzee1000 commented on #3767
Also verified with 1.2.5
[code]

[2020-08-20 11:10] adisky opened #3798 "Implement `project` for devfile"
/kind feature

## Which functionality do you think we should add?
Implement project from devfile schema https://github.com/devfile/api/blob/master/schemas/devfile.json#L3402
with the implementation of `starterProjects`, we are silently ignoring the `projects` field in devfile now.

Implementation Details:
TBD

## Why is this needed?

[2020-08-20 11:13] mohammedzee1000 commented on #3767
On master

[code]

[2020-08-20 11:13] mohammedzee1000 commented on #3767
Unable to reproduce on Fedora

[2020-08-20 11:43] mohammedzee1000 commented on #3767
/triage needs-info

[2020-08-20 11:45] mohammedzee1000 commented on #3767
It looks like it might be os related. Can you check with the same versions i tested on your OS and also report the OS on which this happened?
/triage needs-information

[2020-08-20 12:41] kadel commented on #3700
can you try cleaning glide cache first? `glide cc`
This resolved  this issue for me

You should always run `glide update --strip-vendor` or better `make vendor-update`

[2020-08-20 13:05] mohammedzee1000 commented on #3668
I have done what verification I could. I see no complaints. If this is still a problem, please reopen
/close

[2020-08-20 13:05] #3668 closed

[2020-08-20 14:19] mik-dass commented on #3398
Storage `create` and `delete` have been implemented with https://github.com/openshift/odo/pull/3626
Storage `list` is being tracked here https://github.com/openshift/odo/issues/3704
/close

[2020-08-20 14:19] #3398 closed

[2020-08-20 14:30] maysunfaisal opened #3801 "Clean up context in devfile integration tests"
Currently most of the devfile integration tests that use context flag `--context`, change to the context directory in `BeforeEach` even though we're using the full path in `--context`

Ideally, we should not switch to the context directory when using `--context`. Clean up all devfile integration tests for the flag.

/area devfile
/kind cleanup

[2020-08-20 15:12] #2745 closed

[2020-08-20 19:20] #3725 closed

[2020-08-20 19:56] amitkrout commented on #2540
Latest update on the issue - https://github.com/openshift/odo/issues/2540#issuecomment-618401118

[2020-08-20 20:07] amitkrout commented on #2931
The test is still falling, there not a single run where would all periodic jobs succeded.

The jobs are failing due to platform issue or flakes. However we have few successful job run

<img width="694" alt="Screen Shot 2020-08-21 at 1 34 59 AM" src="https://user-images.githubusercontent.com/19851115/90820154-91207880-e34e-11ea-9fde-344d26dddfbe.png">

[2020-08-20 20:07] amitkrout commented on #2931
/close

[2020-08-20 20:07] #2931 closed

[2020-08-20 20:21] amitkrout commented on #2019
[code]

I tried it. Seems it's working but there are consistent ```/retest``` trigger is happening. AFAIU /retest will only rerun Prow's failed jobs, so there are no actual unnecessary retests

[2020-08-20 20:23] amitkrout commented on #2540
https://github.com/openshift/odo/issues/2019#issuecomment-677883378

[2020-08-20 21:54] ajm01 opened #3803 "Pods are terminated and new pods started on initial odo link and every subsequent odo push"
/kind bug

## What versions of software are you using?

**Operating System:**
Red Hat Enterprise Linux Server 7.6 (Maipo)
Kernel: Linux 3.10.0-1062.12.1.el7.x86_64

**Output of `odo version`:**
[root@slobbed-inf jpa]# odo version
odo v1.2.5 (8b6a698)

Server: https://api.slobbed.os.fyre.ibm.com:6443
Kubernetes: v1.16.2

## How did you run odo exactly?
odo link ServiceBindingRequest/example-service

[2020-08-20 23:30] #3460 closed

[2020-08-20 23:30] #3474 closed

[2020-08-20 23:30] #3766 closed

[2020-08-21 05:44] zhengxiaomei123 commented on #3757
[code]

[2020-08-21 06:04] prietyc123 commented on #3492
Hits the same failure on travis CI.

[code]

[2020-08-21 06:07] girishramnani commented on #3750
I will take a look at this issue

[2020-08-21 06:17] girishramnani commented on #1444
as of now - we dont need special integration tests for quarkus as we have tests in the devfile registry for these

[2020-08-21 06:20] girishramnani commented on #1444
also all the relevant documents have been updated.

[2020-08-21 06:20] #1444 closed

[2020-08-21 06:22] prietyc123 commented on #3122
Similar kind of issue hits again with route creation on PR #3763

[code]

[2020-08-21 06:23] girishramnani commented on #3707
resolved by #3795

[2020-08-21 06:23] #3707 closed

[2020-08-21 06:27] girishramnani commented on #3781
so wouldn't this be blocked on https://github.com/openshift/odo/issues/3729 @kadel ?

[2020-08-21 06:48] girishramnani commented on #2963
I haven't observed this error recently hence closing.
Also we have caching in place for odo so less interactions happens then before https://github.com/openshift/odo/pull/3681.

[2020-08-21 06:48] #2963 closed

[2020-08-21 06:49] girishramnani commented on #3138
@amitkrout have we considered disconnected cluster environment for devfile?

[2020-08-21 07:19] amitkrout opened #3807 "Upload ginkgo --debug log output to CI artifacts"
/kind feature

## Which functionality do you think we should add?
Currently ginkgo --debug logs are not uploaded to CI artifacts. For parallel test node run debug log provides more verbose information per node in a separate file.

## Why is this needed?
It will help to find test node specific failure and ofcourse the test failure in prow CI env.

[2020-08-21 07:23] kadel commented on #3138
/priority high

[2020-08-21 07:31] mik-dass commented on #3122
[code]
this seems to be a problem with the URL code. It is creating the route in a different namespace.

[2020-08-21 08:09] kadel commented on #3781
not sure, it could but it also might not :-) It depends how it is handled in odo codebase.

[2020-08-21 08:18] kadel commented on #2019
@amitkrout not sure I understand :-(
So if you configure branch protection for the master branch to make Travis-CI tests required it works or Prow ends in endless `/retest` loop?

[2020-08-21 08:27] amitkrout commented on #2019
So if you configure branch protection for the master branch to make Travis-CI tests required it works. Prow ends in endless /retest loop?

yes, is works. Prow sense the travis failure but prow goes into endless /retest loop even after the successful prow CI run. Prow bot merges the pr only when travis job goes green after a job restart.

[2020-08-21 10:25] adisky opened #3809 "odo log -f tests are flaky"
kind/flake
kind/failing-tests

# Description
odo log -f test fails sometimes. Tests are commented for now

[code]

[2020-08-21 11:28] dharmit opened #3810 "Documentation for Operator Hub integration in v2"
/kind documentation
/area service-operators

## What is missing in the documentation?
Need to add more documentation describing Operator Hub integration in odo v2.

## What is the relevance of it?
Required for users to be able to use the features we added.

[2020-08-21 14:47] metacosm opened #3811 "odo create should not require cluster access to function"
/kind bug

## What versions of software are you using?

**Operating System:** macOS 10.15.6

**Output of `odo version`:** odo v1.2.5 (927826e8d)

## How did you run odo exactly?
`odo create java-quarkus` without being connected to a cluster

## Actual behavior
[code]

## Expected behavior
odo should create my component without issue. I should be able to work with odo without a cluster up to the mo

[2020-08-21 15:02] metacosm opened #3812 "When using a devfile with multiple starter projects, odo should ask the user which one to use"
/kind feature

## Which functionality do you think we should add?
Currently when there are multiple starter projects, odo automatically selects the first it finds when creating a component with `--starter`.

## Why is this needed?
It's not currently possible to download a starter project after a component has been created and it's not trivial to figure out which starter projects exist before the c

[2020-08-23 03:57] amitkrout opened #3815 "Release readiness status for v2.0.0"
/kind user-story

## User Story
As a user I want to know the status of v2.0.0 release that covers

- [x] Matrix on Blocker / TestBlocker / AutomationBlocker / Bugs
- [x] Test automation status
- [x] Defect Metrics (Defect Backlog, Defects Arrival, Defects Regression, Defects Resolution, Defects Reopen, Defects Verification, Defect Rejected)
- [x] Test platform coverage

## Acceptance Criteria
- [x

[2020-08-23 04:09] amitkrout opened #3816 "Known issues cleanup and update for v2"
/kind user-story

## User Story
As a i want to know what are the known issues for v2 releases reported here in bugzilla - https://bugzilla.redhat.com/buglist.cgi?component=rhodo&list_id=11305616&product=Red%20Hat%20odo%20for%20OpenShift%20Container%20Platform

## Acceptance Criteria
- [ ] KIs list should be cleaned up and updated for v2

## Links
- Feature Request: NA
- Related issue:

/kind user-

[2020-08-23 04:29] amitkrout opened #3817 "Doc verification for v2"
/kind user-story

## User Story
As a user i should not get any incorrect steps in https://odo.dev/ and https://docs.openshift.com/container-platform/4.5/cli_reference/developer_cli_odo/understanding-odo.html

## Acceptance Criteria
- [ ] https://odo.dev/ and https://docs.openshift.com/container-platform/4.5/cli_reference/developer_cli_odo/understanding-odo.html should not contain any incorrect or

[2020-08-24 05:50] zhengxiaomei123 commented on #3757
Hi @girishramnani ,I am confused that why the lable `required-for-v2` is removed. Thanks.

[2020-08-24 06:53] prietyc123 commented on #3791
@girishramnani Are we considering this for devfile v2 because it seems quite important to me. Whatever feature we say is there with odo, IMO we should cover all the cases which validates it.

[2020-08-24 07:03] mik-dass opened #3819 "odo watch goes into infinite push loop if ignore flag is used"
/kind bug

## How did you run odo exactly?

- `odo watch --ignore run.sh`
- Create any `.js` file

## Actual behavior

[code]

## Expected behavior

It should only push the require changes.

[2020-08-24 07:07] mik-dass commented on #3819
This happens as `--ignore` flag overrides the .gitignore/.odoignore ignores. The `odo watch` writes to the `odo-file-index.json` during the first push. Now `odo-file-index.json` becomes the changed file, gets pushed, the new data is written in the index and this keeps getting repeated.

[2020-08-24 07:09] #2019 closed

[2020-08-24 07:50] adisky commented on #3812
@metacosm odo slips into interactive mode only when no parameters/arguments specified, only `odo create`  would start interactive mode. for non-interactive mode there is a issue of displaying `starter projects` with `odo catalog list components` so the user would know before creating a component what starter projects it has https://github.com/openshift/odo/issues/3692

[2020-08-24 08:11] prietyc123 commented on #3227
Again we are hitting this issue very frequently. I can see it as blocker for devfile v2 as hitting on all the prs

[code]

[2020-08-24 08:56] jichenjc commented on #3757
@zhengxiaomei123 this is very generic test...

maybe you want to check
1) whether oc with such API call works
2) what's the error on the version call and provider further info here
[code]

[2020-08-24 10:07] prietyc123 commented on #3819
@mik-dass Did you also verified it with `odo push --ignore` . I feel this might be something similar to https://github.com/openshift/odo/issues/3768

[2020-08-24 10:08] prietyc123 commented on #3768
Test script run :

[code]

[2020-08-24 11:02] mik-dass commented on #3819
This is similar to #3768 but it is a issue with `odo watch` not `odo push` and is not exactly the same issue. Even if we make `--ignore` flag work with `watch`, it won't resolve the issue described. We need to add default ignore values even when some values are provided by the user.

[2020-08-24 11:33] #3750 closed

[2020-08-24 11:49] kadel opened #3822 "Update Devfiles and odo to work with breaking changes in devfile spec"
There are breaking changes coming into Devfile v2 schema before freezing schema for a stable release.

Change is discussed in: https://github.com/devfile/api/issues/102
PR addressing this in Devfile schema: https://github.com/devfile/api/pull/122

While is being worked on we can actually start implementing required changes on odo side.

[Devfile JSON schema that is included in](https://github.com/

[2020-08-24 12:28] prietyc123 opened #3823 "Refactor json output match through out the test script"
/kind code-refactoring

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

## Actual behavior

As part of json match is concern it looks pretty weird when we match the whole json (size of a paragraph). If we have a better json parser test script will also look clean and good.

## Expected behavior

[2020-08-24 12:51] mohammedzee1000 commented on #764
Unable to reproduce. Seems like a env specific problem.

If you still face this problem, please reopen
/close

[2020-08-24 12:51] #764 closed

[2020-08-24 13:06] amitkrout commented on #2540
#2019 has been fixed through https://github.com/openshift/release/pull/11166

[2020-08-24 13:07] amitkrout commented on #2540
Task list

- [ ] Create a prow job - openshift/release#10942
- [ ]  Install travis cli in the test container - #3732
- [ ]  Use github token to login into odo travis job
- [ ]  Pick the travis build number where we have mac and windows jobs are running
- [ ]  Trigger the travis job with the 4.* cluster login information

[2020-08-24 13:12] #3276 closed

[2020-08-24 13:35] girishramnani commented on #2959
`getComponentName` we need to remove this function

[2020-08-24 13:40] girishramnani commented on #2889
There is a PR for this which might resolve this https://github.com/openshift/odo/pull/3799

[2020-08-24 13:49] girishramnani opened #3824 "Allow using odo inside a firewall"
/kind bug

https://bugzilla.redhat.com/show_bug.cgi?id=1871160

[2020-08-24 14:17] girishramnani commented on #3708
we are going to have a name in both places now.

[2020-08-24 14:17] #3708 closed

[2020-08-24 14:23] girishramnani commented on #3227
lets verify this locally on windows

[2020-08-24 15:36] metacosm commented on #3692
Is this really needed considering `odo catalog describe component <component name>` already does this?

[2020-08-24 16:48] #3554 closed

[2020-08-24 17:08] yangcao77 commented on #3122
My guess is, it's an issue with the test code.  I took a brief look at the push code for devfile components

It seems like no matter from
https://github.com/openshift/odo/blob/eaf7dded3efa0c81539ba10a28622313fab4b77c/pkg/odo/cli/component/push.go#L108-L111
Or  https://github.com/openshift/odo/blob/eaf7dded3efa0c81539ba10a28622313fab4b77c/pkg/odo/cli/component/push.go#L138-L144

the namespace is se

[2020-08-24 21:46] dgolovin opened #3827 "Devfile component names are not present in 'odo catalog list components' output"
/kind bug

## What versions of software are you using?

**Operating System: Windows 10**

**Output of `odo version`:  2.0.0-alpha2**

## How did you run odo exactly?

```odo catalog list components```

## Actual behavior

[code]

[code]

[2020-08-25 07:23] mik-dass commented on #3122
:+1: I feel this will resolve the issue as the storage test script isn't using the project flag during component creation.

[2020-08-25 08:49] girishramnani commented on #3781
Prioritise this #3729

[2020-08-25 08:49] girishramnani commented on #3781
$PROJECT_SOURCE is required for using parent without this env varibale parent devfiles are unusable, but we are not using it anywhere yet

[2020-08-25 08:49] girishramnani commented on #3781
so it would be ok to implement it after GA

[2020-08-25 10:03] adisky commented on #3827
@dgolovin  you need to update devfile registry  it should be `https://github.com/odo-devfiles/registry ` .

[2020-08-25 10:43] kadel opened #3828 "Flags that are not common for both s2i and devfile components should have this information in description"
/kind user-story

## User Story
As a user, I want to know what flags I can use with my component So that I don't use the wrong flag.
For example, If I have s2i component I can't use `--debug-command` or `--run-command` the flag help message should tell me that.

## Acceptance Criteria
- [ ] Description for all s2i specific flags should end with "(only for s2i components)"
- [ ] Description for all

[2020-08-25 10:56] adisky commented on #3729
as discussed with @kadel local source code should be synced to
if project is present and clonePath is set
`$PROJECT_ROOT/project.clonePath`
if project is present and clonePath is not set
`$PROJECT_ROOT/project.Name`
if project is not present
`$PROJECT_ROOT`

[2020-08-25 11:05] amitkrout commented on #3767
[code]

I am able to reproduce it on macOS. @mohammedzee1000 Can you please execute the steps what exactly i am executing.

Surprisingly when i try @mohammedzee1000's steps i hit a weird error on macOS host

[code]

[2020-08-25 11:07] amitkrout commented on #3767
@prietyc123 Can you please try the same step on your mac host just for cross verification.

[2020-08-25 11:22] #3563 closed

[2020-08-25 11:24] mohammedzee1000 commented on #3767
Looks like mac problem

[code]

[2020-08-25 11:25] kadel commented on #3692
I would say that we don't need this anymore. `odo catalog describe component <component name>` should be enough.
I don't see real use-case when I would need to see all starter projects from all devfile components in the registry.

[2020-08-25 11:31] kadel commented on #3811
+1 odo should not require a cluster if it is not needed for a given action

There is no reason why `odo create` should not work without a cluster.

[2020-08-25 11:32] amitkrout commented on #3767
%!(EXTRA string=odo)

@mohammedzee1000 @girishramnani Does url create requires an existing namespace in the cluster ?

[2020-08-25 11:35] mohammedzee1000 commented on #3767
Why should it do anything on the cluster? I though that was pushes job, someone is stealing jobs

[2020-08-25 12:06] prietyc123 commented on #3767
Even I have followed the same steps that zeeshan has followed and I am able to create the url successfully

[code]

[2020-08-25 12:37] prietyc123 commented on #3767
But yes, I am able to reproduce it using steps mentioned in description.

[code]
I have also tried creating the component under project directory. But sadly failed there also.
[code]

[2020-08-25 12:49] dev-gaur opened #3829 "logging error/irregularities"
/kind bug

![image (4)](https://user-images.githubusercontent.com/7551036/91175823-fd103180-e6fe-11ea-808a-c1b8a43564ef.png)

that last   ` %!(EXTRA string=odo) ` shouldn't be visible to the user.

[2020-08-25 12:51] dev-gaur opened #3830 "minor logging improvement suggestion"
/kind feature

## Which functionality do you think we should add?

We should log the term "project" when using odo against an openshift cluster and "namespace" in other cases (kubernetes).

## Why is this needed?

To stick to the terminology of respective environments.

[2020-08-25 15:03] kadel commented on #2931
Are we tracking those issues somewhere?
There was not a day where would all periodic jobs were successful.

In the current state, periodic jobs are of no help :(

[2020-08-25 15:09] kadel opened #3831 "Fix Periodic jobs"
Currently, Periodic jobs are all failing. From time to time, one of the successes but that is quite rare :-/
And as far as I know, we are not investigating those errors :-(

This means that we can't rely on those jobs and we don't have any tests that are verifying odo on different openshift versions.

**Goal:**
Get periodic jobs into the state when each day each test passes at least once.

/area t

[2020-08-25 15:46] prietyc123 commented on #3731
Hitting same failure most frequently on the prs. Recently observed on https://github.com/openshift/odo/pull/3814 and https://github.com/openshift/odo/pull/3763

[code]

[2020-08-25 15:56] prietyc123 commented on #3731
One more occurence for pr https://github.com/openshift/odo/pull/3785

[2020-08-25 16:09] prietyc123 commented on #3731
Count of more than 10+ for `odo devfile push command tests Verify devfile push works` has been observed here - https://gist.github.com/kadel/2570427b9113ea0bb546f45723b7a643

[2020-08-25 17:28] dgolovin commented on #3827
@adisky we figured that out with @kadel. That is happening when I use some experimental versions before using latest one. It might be because the ~/.odo/preference.yaml is already there and has wrong registries in it. It should be probably fixed on odo side, by checking that the values in that file are correct for specific version of odo.

[2020-08-26 02:03] zhengxiaomei123 opened #3833 "Remove container image from personal repo in RH openshift document"
/kind documentation

## What mistake did you find / what is missing in the documentation?
 The container image `bucharestgold/centos7-s2i-nodejs `has not been offically supported by odo because there is no `bucharestgold/centos7-s2i-nodejs` in upstream README.doc . The `bucharestgold/centos7-s2i-nodejs` exists in RH openshift  document and plan to delete it .
## What is the relevance of it?
https:

[2020-08-26 06:32] mohammedzee1000 commented on #3469
Verified that now flag is not implemented for devfile

## odo build: master

### Without experimental (old style)

[code]

### With experimental

[code]

[2020-08-26 07:32] prietyc123 opened #3834 "Consecutive service link/unlink doesn't work properly on CI"
/kind bug

## What versions of software are you using?

**Operating System:**
CI setup

**Output of `odo version`:**
master

## How did you run odo exactly?

Steps https://github.com/openshift/odo/blob/master/tests/integration/operatorhub/cmd_service_test.go#L410-L451 .
It is blocking our periodic job https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/?type=periodic&job=periodic-*odo* to execute th

[2020-08-26 07:33] prietyc123 commented on #3834
ping @dharmit

[2020-08-26 07:35] amitkrout commented on #3834
Tried locally three times and none of the times i am able to reproduce it. May be in the CI link and unlink works bit slow causing such race condition.

[2020-08-26 07:39] mohammedzee1000 commented on #3469
Ok, got this working

[code]
Sending PR shortly i.e after adding some tests

[2020-08-26 08:01] jichenjc commented on #3833
why open an issue against RHEL official doc? seems this is the place to open bugs for upstream?

[2020-08-26 08:02] mohammedzee1000 commented on #3469
/remove-kind bug
/kind feature

[2020-08-26 08:15] prietyc123 commented on #3469
It seems `--downloadSource` has been depricated. Instead of this we can use `--starter string[="devfile-starter-project-name"]   Download a project specified in the devfile`

[2020-08-26 08:36] mohammedzee1000 commented on #3469
I am not using --downloadSource anyway?

[2020-08-26 08:38] mohammedzee1000 commented on #3469
@prietyc123 should this not be its own issue?

[2020-08-26 08:38] zhengxiaomei123 commented on #3833
@jichenjc make sure that this gets solved. requested by @cdrage .

[2020-08-26 09:09] dharmit commented on #3834
Unlink was added in #3561. Since the PR got merged only after clearing the CI checks, I'm sceptical about this being an issue with the code.

This sounds more plausible. Since `odo link` and `odo unlink` require `odo push` for the underlying deployment to actually take effect, I'm adding `helper.CmdShouldPass("odo", "push")` in the test. This should provide more than enough time between the calls.

[2020-08-26 09:19] prietyc123 commented on #2777
@boczkowska @girishramnani Is this the final doc related issues list or we are expecting to consider some more?

[2020-08-26 09:21] dharmit commented on #3834
From the conversation so far, I don't think this issue is a bug in the code. Removing the label.

[2020-08-26 09:46] kadel opened #3838 "component is left in broken state after redeployment of the pod"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
▶ odo version
odo v1.2.5 (552aad7ea)

## How did you run odo exactly?
[code]

## Expected behavior
source code should be present in container and my application  should be running after `odo push`

## Any logs, error output, etc?

build command while running `odo push` fails because th

[2020-08-26 09:46] prietyc123 commented on #3834
TBH I got confused with the statement. There are two contradictory statement
- We are doing `odo push` for changes to reflect
or
- Providing time interval between the calls
@dharmit Can you please clarify these two points.

[2020-08-26 09:52] dharmit commented on #3834
For the sake of testing, we don't actually need to do `odo push` for the underlying component's "Deployment" on OCP to reflect the true state. This is because we're relying on odo's behaviour based on `.odo/env/env.yaml` for things being tested. However, since we're facing the problem you've mentioned in the issue, adding some timeout between the calls should help.

[2020-08-26 10:27] jichenjc commented on #3829
https://github.com/openshift/odo/pull/3839

[2020-08-26 10:37] #2688 closed

[2020-08-26 11:51] mohammedzee1000 commented on #2959
I figured this out while working on the now flag issue. Created local branch and have started looking at it

[2020-08-26 12:06] mik-dass commented on #3838
The problem is in the sync code. After the storage is mounted, the pod is restarted and source code files are lost.

[2020-08-26 12:21] kadel opened #3840 "odo debug port-forward uses wrong port"
/kind bug

## How did you run odo exactly?

Have devfile with debug command that defines env variable for debug port in debug command like this
[code]

Running
[code]

## Actual behavior

Using port 5858 for port forwarding

## Expected behavior
It should use 5959, because that is where the debugger is listening based on `DEBUG_PORT` env variable

## Any logs, error output, etc?

/priority medium

[2020-08-26 12:22] mik-dass opened #3841 "odo watch redeploys component during first push"
/kind bug

## How did you run odo exactly?

`odo push`
`odo watch`

## Actual behavior

The component is redeployed during the first push triggered by watch.

## Expected behavior

The component shouldn't be redeployed.

## Any logs, error output, etc?

[code]

[2020-08-26 12:24] mik-dass commented on #3841
Due to the issue mentioned here https://github.com/openshift/odo/issues/3838#issuecomment-680838286, this causes the component to break too.

[2020-08-26 12:25] dev-gaur commented on #3841
I think when this redeployment happens, the build command is skipped... and then the run command crashes... (coz build needs to run inside a fresh container)

![image](https://user-images.githubusercontent.com/7551036/91303148-37dc9d00-e7c5-11ea-8db6-337e97201400.png)

[2020-08-26 12:28] prietyc123 commented on #3469
@mohammedzee1000 As I can see in description the component was created using `--downloadSource`. So just in case I wanted to point it out that we are not using this anymore.

But yes as far as `--now` flag is concerned, we really need to implement this for devfile too. Does that make sense.

[2020-08-26 12:29] mohammedzee1000 commented on #3469
Ok

[2020-08-26 12:31] mik-dass commented on #3841
The build is not skipped, `npm install` just doesn't fail when package.json is not present. This is something @kadel found out today.

[2020-08-26 12:48] mohammedzee1000 opened #3842 "odo registry list causes panic if preference has not been setup"
/kind bug

## What versions of software are you using?
Master

**Operating System:**
Fedora 31

**Output of `odo version`:**
[code]

## How did you run odo exactly?

[code]

## Actual behavior

[code]

## Expected behavior

The preference should be initialized

## Any logs, error output, etc?
see above

[2020-08-26 12:48] mohammedzee1000 commented on #3842
/priority medium

[2020-08-26 13:16] #2822 closed

[2020-08-26 13:17] kadel commented on #3736
are we able to reproduce this outside of our tests?

[2020-08-26 13:18] kadel commented on #3498
fixed in #3525
/close

[2020-08-26 13:18] #3498 closed

[2020-08-26 13:21] kadel commented on #2823
/remove-lifecycle rotten
/lifecycle frozen

[2020-08-26 13:22] kadel commented on #2662
I haven't had this issue in a while.
Was this fixed?

[2020-08-26 13:24] kadel commented on #3683
reason for this that the ruby version in s2i image was incompatible with the example source code

/clsoe

[2020-08-26 13:24] kadel commented on #3683
/close

[2020-08-26 13:25] #3683 closed

[2020-08-26 13:49] adisky commented on #3838
is it related with this https://github.com/openshift/odo/pull/3409??

[2020-08-26 14:07] johnmcollier commented on #3692
I'm fine with that

@elsony Any concerns closing this out in favour of the functionality that already exists in `odo catalog describe component <component name>`?

[2020-08-26 14:14] johnmcollier commented on #3842
Seems to be the same panic as in https://github.com/openshift/odo/issues/3747#issuecomment-672900015

The solution for the alpha branch/release was to do always make sure we properly initialize the registry in the preferences file https://github.com/johnmcollier/odo/commit/274acb72db1fb3ac4ec06104dae639856d6602f2

But, should we even be allowing the `odo registry` commands to run if experimental m

[2020-08-26 14:49] mik-dass commented on #3838
I don't think so, that bug was causing the redeployment. Here the issue is about the syncing after a redeployment not being handled by the sync adapter.

[2020-08-26 14:57] mohammedzee1000 commented on #3842
I ran it with experimental mode enabled. Note: once I did `odo registry add default blah` or tried creating etc, it worked fine.

Also, the issue here is panic. Something we ideally SHOULD NOT have, if we can prevent it, maybe gracefully exit if you are not initializing preference

[2020-08-26 15:05] johnmcollier commented on #3842
I'm guessing you're setting experimental mode via the `ODO_EXPERIMENTAL` variable? (Otherwise, `odo preference set experimental true` would initialize the preferences file)

Agreed that we shouldn't have the panic, and so backporting https://github.com/johnmcollier/odo/commit/274acb72db1fb3ac4ec06104dae639856d6602f2 should fix things

[2020-08-26 15:59] amitkrout commented on #3815
Doc shared. Please have a look

[2020-08-26 17:10] johnmcollier commented on #3842
I can work on this

/assign

[2020-08-26 18:31] cdrage commented on #3842
Just an FYI. I do have it in this PR as well: https://github.com/openshift/odo/pull/3705

Unsure if the current test failures I'm facing are because of this issue or not. But going to do a quick /retest and will report back.

[2020-08-26 19:27] prietyc123 commented on #3840
@kadel You mean 5859 according to

[code]
right?

[2020-08-26 20:07] Shraddhak22 opened #3846 "Support non dockerfile build for "odo deploy""
/kind feature
## Which functionality do you think we should add?

The following proposal adds support for building a container image and deploying it:
https://github.com/openshift/odo/blob/master/docs/proposals/odo-deploy.md

There is a PR open to support this capability on OpenShift: https://github.com/openshift/odo/pull/3478

This feature will involve,
- Accept s2i component from devfile 2.1.0
-

[2020-08-26 20:11] prietyc123 commented on #3530
@sarveshtamba `test-cmd-app` test suit is failing due to

[code]
which has already tracked with our existing issue https://github.com/openshift/odo/issues/3754

[2020-08-26 20:15] prietyc123 commented on #3754
multiarch team is also facing the same issue https://github.com/openshift/odo/issues/3530#issuecomment-681098317

[2020-08-26 20:24] prietyc123 commented on #3502
Failure here is with port-forward
[code]
@kadel Not sure this is happening due to the wrong port-forward that you mentioned here - https://github.com/openshift/odo/issues/3840 . Can you please look into this.

[2020-08-26 20:27] prietyc123 commented on #3497
Its again the same issue that has been reported with `test-cmd-app` https://github.com/openshift/odo/issues/3530#issuecomment-681098317

[2020-08-26 20:31] prietyc123 commented on #3454
@sarveshtamba most of the issues reported by you here -

[code]
has same issue dealing with syncing file in `odo push` which is already tracked https://github.com/openshift/odo/issues/3754   . Here also I see the same.

[2020-08-27 01:30] johnmcollier opened #3847 "odo doesn't properly re-sync all files if a new deployment is created on 'odo push'"
/kind bug
/area devfile

I'm seeing an issue on master with `odo push` when we re-sync the files of a project after a component restart (such as from changing the env in the devfile). The push will succeed and it will say the source code synced fine, but if I exec into the container (or look at its logs), I'll see that only the devfile (and whatever files were changed locally or created as part of

[2020-08-27 01:35] johnmcollier commented on #3847
Marking this as high priority since sync is pretty much broken if a container needs to be recreated, and that this is a regression from v1.2.5 (which properly detected when/when not to do a full sync)

/priority high

[2020-08-27 01:39] johnmcollier commented on #3847
Closing as a dupe of https://github.com/openshift/odo/issues/3838

[2020-08-27 01:40] #3847 closed

[2020-08-27 01:46] johnmcollier commented on #3838
I'm hitting this issue too, without using `odo storage`.

It seems syncing is entirely broken whenever a component is restarted on a push (with or without the `-f` flag). Additionally, if you do `odo delete` followed by `odo push`, sync will not sync everything over either.

It seems odo is no longer determining when it needs to bypass the `odo-file-index.json` file (such as when a component is re

[2020-08-27 04:20] sarveshtamba commented on #3754
@prietyc123
1.) Is this issue seen across all platforms including x86_64?
2.) Any timelines for resolving this, since this is kind of a blocker for ppc64le progress?

[2020-08-27 04:21] sarveshtamba commented on #3840
@prietyc123
1.) Is this issue seen across all platforms including x86_64?
2.) Any timelines for resolving this, since this is kind of a blocker for ppc64le progress?

[2020-08-27 06:25] sarveshtamba commented on #3539
Facing the following issues in `test-cmd-push` test suite:-
[code]

Attaching the detailed spec failure log -
[odo_test-cmd-push_failures_ppc64le_1.txt](https://github.com/openshift/odo/files/5134446/odo_test-cmd-push_failures_ppc64le_1.txt)

@prietyc123 another candidate for https://github.com/openshift/odo/issues/3754

[2020-08-27 06:25] sarveshtamba commented on #3539
/reopen

[2020-08-27 07:27] mik-dass commented on #3822
In the current master based on the Goland find tool

For the common types:
The composite's ID field has 57 usages(8 reads, 49 writes)
The exec's ID field has 180 usages (11 reads, 169 writes)
The container's NAME field has usages 103 usages (27 reads, 79 writes)

The exec and composite commands in the TestDevfileData struct will have to be written in a more simple way and use the general common co

[2020-08-27 07:57] amitkrout commented on #3491
We hit similar issue in prow CI too - https://github.com/openshift/odo/issues/3754

[2020-08-27 07:58] mik-dass commented on #3840
@kadel Currently port-forward uses the DEBUG_PORT value from the env.yaml for devfile components. Should we remove  `odo env set DebugPort <value>`? Or in such a case, prioritize the devfile command defined one? Also what should `odo` do if the DEBUG_PORT is defined in the env field for the component container in the devfile?

[2020-08-27 08:03] amitkrout commented on #3530
i am closing this as the failure is tracked in #3754
/close

[2020-08-27 08:03] #3530 closed

[2020-08-27 08:29] amitkrout commented on #3497
Same issue we have been hitting in prow CI too - https://github.com/openshift/odo/issues/3754

[2020-08-27 08:39] amitkrout commented on #3502
[code]

@prietyc123 Port forward is happening in the right port but the connection has been refused while requesting for http://localhost:46097. I have never seen this in our prow CI.

[2020-08-27 09:08] kadel commented on #3718
this PR was merged

/remove-status blocked

[2020-08-27 09:27] kadel commented on #3615
Wouldn't this be covered in https://github.com/openshift/odo/issues/3718 ?

[2020-08-27 10:05] amitkrout commented on #3531
other than https://github.com/openshift/odo/issues/3754 here hitting a new failure which we have never seen on prow CI

[code]

[2020-08-27 10:54] amitkrout commented on #3767
@mohammedzee1000 Have you tried the steps i mentioned here at - https://github.com/openshift/odo/issues/3767#issuecomment-679958186.

[2020-08-27 10:54] prietyc123 commented on #3227
I ran it more than 20 times on windows but none of the time I was able to reproduce this issue locally.

[code]

[2020-08-27 11:49] mik-dass commented on #3718
@yangcao77 It might be a better idea to handle to handle `list and describe` in a different PR. I can see an existing issue https://github.com/openshift/odo/issues/3615 for them. Once the URLs are moved, somebody can pick up one of them and finish it in parallel. This will break our existing tests but we can comment them out for now.

[2020-08-27 12:06] savonarola27 opened #3850 "On macOS odo on crc return "net/http: TLS handshake timeout""
/kind bug

## What versions of software are you using?

**Operating System: macOS Catalina (10.15.6)**

**Output of `odo version`: odo v1.2.5 (0aeec48e4)**

## How did you run odo exactly?
After started crc (1.15) oc login is ok but "odo login" return the following error:
[code]

## Actual behavior
net/http: TLS handshake timeout

## Expected behavior
Login to the OCP cluster

## Any logs, error o

[2020-08-27 12:16] amitkrout commented on #3824
I have aws account to start a cluster however setting up cluster behind a firewall could be a challenge.

Firewall prereq- https://docs.openshift.com/container-platform/4.5/installing/install_config/configuring-firewall.html

[2020-08-27 12:47] anandrkskd commented on #3797
I have tested the above test on linux and was not able to reproduce error, Thus it is macOS specific error, and will require access to mac environment.

[2020-08-27 12:53] anandrkskd commented on #3378
- Test need to be run for specific devfile ie. java-maven, java-quarkus, nodejs.
- To check if the connection to debugger is possible or not can be done by replicating the integration test for devfile_debug_test in bash script.

[2020-08-27 12:56] amitkrout commented on #3138
I can use flexy job to spinup restricted cluster.

For setting up the cluster to run odo test - https://docs.openshift.com/container-platform/4.5/cli_reference/developer_cli_odo/using_odo_in_a_restricted_environment/about-odo-in-a-restricted-environment.html

To allow devfile registry i can put registry URL into the whitelist of the proxy configuration. This needs followup with with openshift QE e

[2020-08-27 13:11] elsony commented on #3784
/area devfile

[2020-08-27 13:14] girishramnani commented on #3816
Ideally this should the list https://github.com/openshift/odo/issues?q=is%3Aissue+is%3Aopen+label%3Akind%2Fbug+no%3Aproject+no%3Aassignee

[2020-08-27 13:17] mik-dass commented on #3227
It seems to be using the cached version. You need to use `-count=1` for the watch test.

[2020-08-27 13:25] kadel commented on #3497
https://github.com/openshift/odo/pull/3851 should make it easy to see the reason for this failure

[2020-08-27 13:29] kadel commented on #3840
@sarveshtamba  problems described in  #3502 are not related to this.

[2020-08-27 13:30] girishramnani commented on #2784
the old service catalog also doesn't have json output

[2020-08-27 13:30] kadel commented on #3840
I thought that  `odo env set DebugPort <value>`  sets local port not the remote port in container.

[2020-08-27 13:38] sarveshtamba commented on #3502
Seeing this frequently - almost every time I run this test suite.

[2020-08-27 13:48] girishramnani commented on #3819
this issue is blocked on https://github.com/openshift/odo/issues/3841

[2020-08-27 13:56] yangcao77 commented on #3615
Yes. This one will be covered in the same PR of #3718.

[2020-08-27 14:20] girishramnani opened #3852 "Downstream release of the odo cli"

[2020-08-27 14:26] metacosm opened #3853 "zip starter projects should not require URLs ending with .zip"
/kind bug

## What versions of software are you using?

**Operating System:** macOS 10.15.6

**Output of `odo version`:** odo v1.2.5 (0780a6bbf)

## How did you run odo exactly?
`odo create --devfile ../devfile.yaml --starter=foo` with a devfile I created explicitly to have several starter zip projects

## Actual behavior
 ✗  Invalid zip url: <url that doesn't end with .zip>

## Expected behavior

[2020-08-27 14:43] mik-dass commented on #3840
I checked again and `odo env set DebugPort <value>` sets the value of the remote port.
[code]

[2020-08-27 15:05] prietyc123 commented on #3754
Yes, we are hitting this flake on our CI setup as well as locally(x86_64). If I am including  your failure logs then I would say yes its failing across all the platforms.

TBH the failure we are hitting is not so frequent. That is why we didn't consider this issue in our current sprint plan due to some other priority v2 tasks. Ofcourse we will consider this as an adhoc issue if the appearance incr

[2020-08-27 16:09] sarveshtamba commented on #3754
@prietyc123 Thanks for the details. Confirmed that this issue is seen for Z platform as well apart from P and x86_64.

[2020-08-27 18:23] elsony commented on #3692
The main concern that I have is the out of the box experience.  I consider the component creation with starter is part of the out of the box user experience since it is most likely one of the first things that a new odo user (first time) will do.  The current usage flow will be user does `odo catalog list components` to find out the list of components. If the user wants to create a component with

[2020-08-27 19:22] cdrage commented on #3680
Thanks @anandrkskd I've opened up a PR here: https://github.com/openshift/openshift-docs/pull/25090

[2020-08-27 20:12] yangcao77 commented on #3718
I have this issue and #3615 implemented already, but I'm still working on unit tests and integration tests for it.
In case you want to review the PR beforehand, I have created a draft PR:
https://github.com/openshift/odo/pull/3857
@mik-dass @girishramnani @kadel

[2020-08-27 21:38] #2490 closed

[2020-08-27 21:38] #2604 closed

[2020-08-27 21:38] #2607 closed

[2020-08-27 21:38] #2611 closed

[2020-08-28 00:18] #3834 closed

[2020-08-28 00:33] jgwest commented on #3838
Confirmed this is due to https://github.com/openshift/odo/pull/3619 ... removing the index-removal code was intentional, but it looks like it regresses the 'sync after new pod' scenario as seen on this issue.

### In light of this issue, the correct behaviour for this logic should be:

#### If force push is specified, and a new pod depoyed:
- Delete the index, so everything is retransferred to the

[2020-08-28 00:36] jgwest commented on #3838
Assigning to myself since I introduced the behaviour (FYI @mik-dass , who is the current assignee)

/assign

[2020-08-28 00:37] jgwest commented on #3838
/unassign @mik-dass

[2020-08-28 02:06] jgwest commented on #3841
/assign

[2020-08-28 06:48] metacosm commented on #3692
@elsony I understand the concern. However, as a user the proposed solution of showing the list of starter projects in the component list is not very useful to me as I have no idea what these starters might be. Personally, I'd list the components and then use `describe` on the ones I might be interested in. `describe` should then properly describe the offered starters.
Actually, from a user's persp

[2020-08-28 08:40] kadel commented on #3754
This is quite a weird issue.
Existence of `/tmp/src` is encured by [s2i-setup](https://github.com/openshift/odo-init-image/blob/master/s2i-setup#L22).
This script is executed when starting the container via `-pre` hook for `go-init`.
[code]
The only reason for this that I can think of is that `s2i-setup` fails for some reason but `go-init` continues

[2020-08-28 10:49] #3841 closed

[2020-08-28 12:39] kadel opened #3862 "breaking change in project definition: update odo to match updated devfile schema"
Change in devfile schema was recently merged that changes how project location is specified.

This effects both `projects` and `starterProjects` fields

https://github.com/devfile/api/pull/120

old format that is no longer valid
[code]

New format:
[code]

/priority high

[2020-08-28 13:08] prietyc123 opened #3863 "Unable to create java-spring-boot component"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

## How did you run odo exactly?

Following doc https://odo.dev/docs/deploying-a-devfile-using-odo/ as part of issue https://github.com/openshift/odo/issues/3817

Steps to reproduce:
[code]
Also verified with `--starter` flag

[code]
odo version:
[code]
## Actual behavior

## Ex

[2020-08-28 13:14] prietyc123 commented on #3863
Also I tried creating nodejs component with `--starter` flag
[code]
Not sure why I am getting `No project found in devfile component.` Could anyone please help me understand whether its expected 😕

[2020-08-28 13:40] prietyc123 commented on #3817
@girishramnani @kadel @boczkowska @cdrage Our `odo.dev` doc for devfile - https://odo.dev/docs/deploying-a-devfile-using-odo/ still says devfile needs experimental to be enabled. Could you please confirm the status on this.

[2020-08-28 13:53] prietyc123 commented on #3817
@cdrage @boczkowska I think devfile reference doc - https://odo.dev/file-reference/ also needs to be updated wrt to devfile properties. Could you please have a look and correct me if I am wrong.

[2020-08-28 14:30] #3853 closed

[2020-08-28 18:16] cdrage commented on #3463
https://github.com/openshift/odo/pull/3858 will close this issue!

[2020-08-28 18:52] girishramnani commented on #3595
Charlie might have an overlap with you on this @dharmit

[2020-08-28 18:55] #3463 closed

[2020-08-28 21:26] kadel commented on #3862
/assign

[2020-08-28 22:36] #3829 closed

[2020-08-29 02:04] #2959 closed

[2020-08-29 09:49] prietyc123 opened #3868 "Update devfile "odo.dev" doc"
/kind documentation

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Verifying devfile doc https://odo.dev/docs/deploying-a-devfile-using-odo/ manually

## Actual behavior

Jotting out the fields that needs to get modified.

## Expected behavior

The doc should meet proper devfile command and be

[2020-08-29 09:53] prietyc123 commented on #3868
List the content of the directory still pointing to the older format files like `app`

![image](https://user-images.githubusercontent.com/51620925/91634084-474d2780-ea0b-11ea-8b1c-0516a4af50e3.png)

This is how we are now with nodejs devfile
[code]

[2020-08-29 09:54] prietyc123 commented on #3868
When are we planning to remove devfile Experimental from doc https://github.com/openshift/odo/issues/3817#issuecomment-682581351

[2020-08-29 10:29] #3548 closed

[2020-08-29 10:29] #3784 closed

[2020-08-29 21:44] #1680 closed

[2020-08-29 21:44] #2534 closed

[2020-08-30 21:48] #2691 closed

[2020-08-30 21:48] #2709 closed

[2020-08-31 03:49] #2805 closed

[2020-08-31 05:24] prietyc123 opened #3869 "Remove technology preview feature for debug command"
/kind documentation

## What mistake did you find / what is missing in the documentation?

AFAIK debug command is no more tech preview feature for 2.0 release. Please update https://odo.dev/docs/debugging-applications-in-odo/ accordingly

## What is the relevance of it?

Remove tech preview for debug feature.

[2020-08-31 05:34] prietyc123 commented on #3869
@kadel Correct me if I am wrong

[2020-08-31 05:43] sarveshtamba commented on #3754
@kadel I am encountering this sync issue on ppc64le quite frequently, in fact on every run of the test suites.
@amitkrout @prietyc123

[2020-08-31 06:09] prietyc123 opened #3870 "odo cli reference doc still pointing to old reference examples"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Examples for https://odo.dev/docs/odo-cli-reference/ still pointing to old one. Like

![image](https://user-images.githubusercontent.com/51620925/91687955-851e8d00-eb7e-11ea-8e21-38b789cf65b6.png)

and some more will be mentioned in the comment.

## What is the relevance of it?

[2020-08-31 06:22] sarveshtamba commented on #3454
@prietyc123
[code]
has same issue dealing with syncing file in odo push which is already tracked #3754 . Here also I see the same.

[2020-08-31 06:38] prietyc123 commented on #3870
Its need to get updated all over https://odo.dev/docs/odo-cli-reference/ examples like config, create, debug etc.

[2020-08-31 06:45] prietyc123 opened #3871 "Add debug examples for "odo debug -h""
/kind documentation

## What mistake did you find / what is missing in the documentation?

No examples added in `odo debug -h` also its still referred as tech preview.

[code]

## What is the relevance of it?

For better UX

[2020-08-31 06:51] prietyc123 commented on #3831
Almost everytime we are hitting platform issue on periodic job (4.2, 4.3 and 4.4 cluster).

[code]
Already reported to the `4 dev triage` team. Will update the failure reason soon.

[2020-08-31 10:52] amitkrout commented on #3824
Copy and pasting @kadel comment from bugzila
[code]

[2020-08-31 11:46] #3704 closed

[2020-08-31 12:37] amitkrout commented on #3138
Problem with creating disconnected cluster. Error - ```pending - jenkin is about to shut down```

poked in forum-auto

[2020-08-31 12:42] amitkrout commented on #3824
@girishramnani What is the ask in the issue ?

To reproduce the issue does not add value as this is expected. So do you want to verify odo functionality after adding the registry.access.redhat.com to the firewall whitelist ?

[2020-08-31 13:58] sarveshtamba commented on #3754
@prietyc123 Is anyone having a look at this issue?

[2020-08-31 15:51] #2227 closed

[2020-08-31 19:41] cdrage commented on #3863
Ummmm... isn't it suppose to be `java-springboot` not `java-spring-boot`? We changed the registry a while ago to remove the dashes.

My test:

[code]

[2020-08-31 19:46] cdrage commented on #3731
@kadel and I had a small discussion regarding this about a week ago.

I have a feeling that this is Travis CI related cutting our connection / bandwidth / closing the connection for some reason while reaching an arbitrary limit.

@kadel thoughts?

[2020-08-31 21:54] #3661 closed

[2020-09-01 05:00] #3838 closed

[2020-09-01 05:52] zhengxiaomei123 commented on #3757
[code]

[2020-09-01 05:58] zhengxiaomei123 commented on #3757
The reason is `reOdoVersion := regexp.MustCompile(`^odo\s*v[0-9]+.[0-9]+.[0-9]+(?:-\w+)?\s*\(\w+\)`)`

[2020-09-01 06:17] zhengxiaomei123 commented on #3757
The right regex should be `^odo\s*v[0-9]+\.[0-9]+\.[0-9]+(\-\w+)*\s*\(\w+\)`

[2020-09-01 06:48] prietyc123 commented on #3831
Added few more debug logs in the discussion thread in test platform channel regarding our periodic job failure.
Analysis information:
[code]
As the jobs are running on 4.3 cluster but somehow 4.5 upi-installer has been reported in the log which looks weird to me.

Now this issue has been fixed through https://github.com/openshift/release/pull/11447

Good news is that our periodic jobs are now pass

[2020-09-01 06:52] prietyc123 commented on #3831
We have one more platform failure but that is not consistent. I need to follow up on this with test platform folks.

[2020-09-01 08:37] #3693 closed

[2020-09-01 11:37] kadel commented on #3731
Yes, I suspect that there might be something going wrong with the system which causes minishift (or parts of the cluster) to crash.

For example, it could be OOM (Out Of Memory) Killer. We can easily detect by checking `free -m` and `dmesg` commands output. Just append those commands to `script`s in `.travis.yaml`

[2020-09-01 11:50] NissesSenap opened #3875 "Short alias in CLI"
/kind feature

## Which functionality do you think we should add?
Add short aliases for CLI commands. Currently I have to type `odo list` I would like to be able to type `odo ls`

## Why is this needed?
Currently the CLI is forcing the developers to be very verbose when typing commands which takes time.
I have given a example above with list vs ls.
There is probably more "standard" aliases that co

[2020-09-01 12:30] kadel commented on #3875
Hi, @NissesSenap to save some typing you can also use autocompletion, this is much more useful than aliases.
If you execute  `source <(odo utils terminal bash)` (or  `source <(odo utils terminal zsh)` if you use ZSH) you will be able to do `odo li<tab>`. Autocompletion should also work for flags. To make it persistent you add the command to your `.bashrc` `.zshrc`.

[2020-09-01 12:35] NissesSenap commented on #3875
Thanks for the tip @kadel I have done this and as you say it saves some time but I guess me and most developers today is used of doing "ls" or "get" when you want a list of things within kubernetes.

I haven't had time to look at the odo code but I assume it uses a cli framework like cobra or something similar so adding aliases shouldn't be a super big feature but my two cents is that it will make

[2020-09-01 13:16] sarveshtamba commented on #3754
@kadel Could this issue be related to one of the below changes:-
https://github.com/openshift/odo/pull/3662
https://github.com/openshift/odo/pull/3619
https://github.com/openshift/odo/pull/3586

[2020-09-01 15:12] johnmcollier commented on #3863
@prietyc123 Can you run `odo registry list`? As @cdrage mentioned, we renamed the devfile a while back to `java-springboot`, and the error that you're getting from that and as well as from your node devfile, suggests it's pointing to the old, v1 devfile registries.

That being said, the docs _do_ reference `java-spring-boot` still, so that should be updated.

[2020-09-01 15:14] johnmcollier commented on #3842
Decided to close my PR in favour of https://github.com/openshift/odo/pull/3705, which has the same change in there

[2020-09-01 17:46] prietyc123 commented on #3863
@cdrage @johnmcollier Yes I am able to create the component with `java-springboot` which clearly means docs pointing to the old reference. Removing the regression level.

[2020-09-01 17:48] johnmcollier commented on #3863
I did the rename of the stacks, so I can tackle this

/assign

[2020-09-01 17:56] cdrage commented on #2831
Hey @amitkrout can you describe the issue a bit more? Confused what you mean by matrix doc. We already have the table on: https://odo.dev/docs/understanding-odo/ and I am updating the README here: #3877

[2020-09-01 17:57] cdrage commented on #3089
Hey @maysunfaisal bit confused regarding this. I have updated all documentation on the `odo.dev` site to reflect that it's Kubernetes / OpenShift agnostic, so you can deploy on either one.

Do you mean RBAC roles or anything else we need to apply?

[2020-09-01 17:58] cdrage commented on #3127
I have added this here: https://odo.dev/file-reference/ in order to edit / update the Devfile.

[2020-09-01 17:58] #3127 closed

[2020-09-01 17:59] cdrage commented on #3215
https://github.com/openshift/openshift-docs/pull/23982 has been merged. Closing.

[2020-09-01 17:59] #3215 closed

[2020-09-01 18:09] cdrage commented on #3869
@prietyc123 I have updated the upstream documentation here: https://github.com/openshift/openshift-docs/pull/25165

[2020-09-01 18:11] cdrage commented on #3868
@prietyc123 Can you open a PR for this?

[2020-09-01 18:11] cdrage commented on #3680
This has been fixed.

[2020-09-01 18:11] #3680 closed

[2020-09-01 18:16] cdrage commented on #2722
Hi Raguks, it is documented in `odo login --help`.

See below:

[code]

If you have used `oc`, `odo login` is a direct copy-and-paste from `oc login`. We actually simply wrap around the `oc` command using their library.

I am closing this as I believe we have amply documentation detailing this.

[2020-09-01 18:16] #2722 closed

[2020-09-01 18:17] #2725 closed

[2020-09-01 18:17] cdrage commented on #3646
Closing this as we are moving to Devfile and thus all documentation on Devfile is on https://odo.dev already and s2i on docs.openshift.com

[2020-09-01 18:17] #3646 closed

[2020-09-02 05:40] prietyc123 opened #3878 "Developer CLI odo doc needs update"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Understanding odo:
- pointing to the wrong container image https://docs.openshift.com/container-platform/4.5/cli_reference/developer_cli_odo/understanding-odo.html#odo-supported-languages-and-images
- odo catalog list components old output
latest output:
[code]
more doc change will be added in the comment.
#

[2020-09-02 06:52] kadel commented on #3875
Yes, we use Cobra, aliases are not a problem. We are actually already doing it.
In reality `odo list` is already an alias for `odo component list` :-)

We will look into making commands a little bit shorter and use common shortcuts that people are used to.

[2020-09-02 08:02] prietyc123 opened #3879 ""odo nodejs create --port <>" creates component with invalid port"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

[code]

## Actual behavior

It creates component for invalid port also.

## Expected behavior

Suggestion : It would be great if we provide some hints like what could be possible port in the error message

## Any logs, error output, etc?

[2020-09-02 08:18] prietyc123 opened #3880 "Unable to run "odo service create" interactive mode"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

[code]

## Actual behavior

Interactive mode for `odo service create` does not work

## Expected behavior

It should work like https://docs.openshift.com/container-platform/4.5/cli_reference/developer_cli_odo/creating-an-application-with

[2020-09-02 08:32] adisky commented on #3794
It is  already covered by this PR https://github.com/openshift/odo/pull/3867/files#diff-7f35ec4e6a21608494408b99bc228981

[2020-09-02 08:50] anandrkskd commented on #3794
But I see https://github.com/openshift/odo/blob/master/pkg/devfile/parser/context/apiVersion_test.go is not changed/updated in the above PR, is it not required?

[2020-09-02 08:56] adisky commented on #3794
I haven't checked thoroughly, yes these tests should be migrated to devfile v2

[2020-09-02 10:01] prietyc123 commented on #3878
Commands and links which needs to get removed/replaced:

- odo architecture still pointing to old one https://docs.openshift.com/container-platform/4.5/cli_reference/developer_cli_odo/odo-architecture.html

- Deploying frontend nodejs component listing unknown files. It should be
[code]

- `odo list` source type does not match with the output https://docs.openshift.com/container-platform/4.5/cli_r

[2020-09-02 10:08] prietyc123 commented on #3878
ping @cdrage @boczkowska

[2020-09-02 10:24] dharmit commented on #3880
It's not running because we've not implemented it yet. #2799 will add support for interactive mode with Operator backed services.

However, if the experimental mode is enabled, you should be seeing below error message and not what you're seeing:
[code]

[2020-09-02 10:31] girishramnani commented on #3700
now this is not relavent anymore because of this https://github.com/openshift/odo/pull/3866

[2020-09-02 10:35] girishramnani commented on #3607
we are switching to `go mod` once this is https://github.com/openshift/odo/pull/3866 merged

[2020-09-02 10:35] sarveshtamba commented on #3754
Tried the following in `pkg/sync/sync.go` where function `recursiveTar` gets executed:-
- Introduced Sleep for a few seconds to make sure there is no race condition during creation of the destination base directory - `/tmp/src`. This did not work.
- Introduced code to create the destination base directory if it doesn't exist using golang `MkdirAll`. This too did not work.

Let me know if there is

[2020-09-02 10:41] sarveshtamba commented on #3607
Sure, will hold on until #3866 is merged. Thanks for the input.

[2020-09-02 10:43] prietyc123 opened #3882 "Breaking component create without exposing port"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS, win10

**Output of `odo version`:**
master

## How did you run odo exactly?

[code]

## Actual behavior

Not able to create component without port flag.

## Expected behavior

component should get created.

## Any logs, error output, etc?

[2020-09-02 10:46] amitkrout commented on #3882
I can observe the same issue on linux platform too

[2020-09-02 10:49] amitkrout commented on #3882
[code]

[2020-09-02 11:02] prietyc123 commented on #3868
@cdrage I am very sorry actually I have other portion of the doc to verify as well as need to research on periodic failure. Most importantly we are currently dealing with `operator hub` stability issue on 4.6 ocp cluster and some more test related failure to fix.

[2020-09-02 11:05] prietyc123 commented on #3852
@girishramnani @mohammedzee1000 Can you please provide the detailed description.

[2020-09-02 11:18] prietyc123 commented on #3700
/close

[2020-09-02 11:18] #3700 closed

[2020-09-02 12:17] prietyc123 commented on #3882
Verifying pr https://github.com/openshift/odo/pull/3705 on windows and hitting the same failure with regular commands

[2020-09-02 12:18] kadel commented on #3361
/remove-status blocked

#3700 has been resolved so this is no longer blocked

[2020-09-02 13:48] girishramnani commented on #3882
this might be the image stream
[code]

[2020-09-02 13:58] prietyc123 commented on #3882
[code]

[2020-09-02 14:28] prietyc123 commented on #3882
And interestingly I am not able to produce it on 4.5 cluster

[code]
So not sure it is cluster specific or what 🙁

[2020-09-02 17:05] #3565 closed

[2020-09-02 22:20] johnmcollier commented on #3692
So, I'm wondering if we can close out this issue? If there's a strong need for starter projects in `odo catalog list components` in the future, I guess we can reopen this in the future

On the topic of interactive mode, `odo create`'s interactive mode already supports multiple starter projects. I created a devfile with two starter projects in it and added it to my own devfile registry to test:
<im

[2020-09-02 22:20] maysunfaisal opened #3886 "odo allows devfile commands with duplicate ids"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
odo push

## Actual behavior
odo push proceeds

## Expected behavior
odo push should error out on command validation

## Any logs, error output, etc?

this is my devfile.yaml example:
[code]

validation does not catch this:

1. duplicate commands `install` re

[2020-09-03 05:16] adisky opened #3887 "Make the `odo.dev` front page documentation simpler"
/kind documentation

## What mistake did you find / what is missing in the documentation?
The front page document should focused with `deploying applications with odo` or say `Easy way deploying application on Kubernetes cluster using odo`.

e.g This page https://odo.dev/docs/deploying-a-devfile-using-odo/ could be referenced as  `deploying app using odo`

on the front page if we focus on `devfile

[2020-09-03 10:15] prietyc123 commented on #3817
Updated all the issues till now with the doc

[code]

[2020-09-03 10:59] NissesSenap opened #3889 "odo starter project unable to download behind proxy"
/kind bug

Trying to use the starter project feature but is unable to do so while being behind a proxy.

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
odo version
odo v1.2.6 (55c074e97)

Server: https://api.sb.se.mydomain:6443
Kubernetes: v1.18.3+002a51f

## How did you run odo exactly?

export no_proxy=mydomain
export http_proxy=http://servicepro

[2020-09-03 11:49] #2585 closed

[2020-09-03 13:23] johnmcollier commented on #3778
I can do this

/assign

[2020-09-03 14:42] sarveshtamba opened #3891 "odo `make` commands fail on ppc64le after latest changes."
Facing the following errors on ppc64le after pulling the latest changes on master:-
[code]

[2020-09-03 14:43] sarveshtamba commented on #3891
/area system-pz

[2020-09-03 15:46] sarveshtamba commented on #3891
[code]

[2020-09-03 15:52] elsony commented on #3692
@johnmcollier I am ok to close this one

[2020-09-03 15:54] johnmcollier commented on #3692
Closing out, let's re-open this if there's a strong desire for this issue again in the future

[2020-09-03 15:54] #3692 closed

[2020-09-03 16:02] cdrage opened #3892 "Specifying a name does not matter when using odo delete"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** master :+1:

## How did you run odo exactly?

[code]

## Actual behavior

It does not matter what you specify to `odo delete` it will delete whatever is in your current folder...

## Expected behavior

To fail when passing in something random such as `odo delete alksjdalksjdklasd -f`

[2020-09-03 16:09] cdrage opened #3893 "Default URL does not propagate to `.odo/env/env.yaml` and you cannot delete it."
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** master

## How did you run odo exactly?

See this GIST: https://gist.github.com/cdrage/62a6c6184c827ce834cbb920e0e8a848

Essentially the following below:

[code]

## Actual behavior

Unable to delete the actual URL that's pushed

## Expected behavior

Expected behavior is that we would

[2020-09-03 16:12] cdrage opened #3894 "Using a non-existent directory does not fail"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** Master

## How did you run odo exactly?

See below:

[code]

## Actual behavior

We fail saying that the current directory does not represent a component

However.. the directory does not exist at all.

## Expected behavior

I expect better log output saying that directory does not exi

[2020-09-03 19:24] johnmcollier commented on #3892
This one's gonna be a little messy to fix 😕 - looking over the delete code, there's lots of assumptions that we have access to both the devfile and envinfo file when deleting a component

[2020-09-04 04:03] #2194 closed

[2020-09-04 04:14] #3863 closed

[2020-09-04 04:27] sarveshtamba commented on #3891
Tried with a clean build by cloning latest master afresh on ppc64le and go version `go1.13.15 linux/ppc64le`.
`make goget-tools`  and `make bin` fail as below:-
[code]

This error is seen after pulling latest changes after merging PR # https://github.com/openshift/odo/pull/3866

[2020-09-04 05:21] sarveshtamba commented on #3891
Tried using `go1.12.13` - `make goget-tools` still fails while `make bin` works on a clean master branch.
[code]

[2020-09-04 05:36] sarveshtamba commented on #3891
cc:- @kadel ^^

[2020-09-04 09:38] sarveshtamba commented on #3891
Tried changes in this PR https://github.com/openshift/odo/pull/3895
`make goget-tools` and `make bin` both work, `make test` fails as per https://github.com/openshift/odo/issues/3607
[code]

[2020-09-04 09:45] sarveshtamba commented on #3891
Using go version `go1.13.15 linux/ppc64le`, `make goget-tools` appears to succeed, but `make bin` fails
[code]
Tried the command `go mod tidy; go mod vendor`, no success.

As per @kadel "hmm, this is strange. it should not happen. we are not seeing this in any other systems I'm in middle of something. I'll check this later"

[2020-09-04 10:01] amitkrout commented on #3797
This is seems to be a test script failure. I am not able to reproduce it locally. In the script --context is not pointing to the correct relative context path

[code]

[2020-09-04 12:03] amitkrout opened #3897 "odo debug serial tests script panic out"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS
**Output of `odo version`:**
2.0 alpha branch
## How did you run odo exactly?
$ ginkgo $(GINKGO_FLAGS_SERIAL) -focus="odo debug command serial tests" tests/integration/debug/

## Actual behavior
panic out
[code]

## Expected behavior
Should not panic out

## Any logs, error output, etc?

[2020-09-04 12:05] amitkrout commented on #3897
$ go version
go version go1.13.7 darwin/amd64

[2020-09-04 12:41] boczkowska commented on #2831
I've added some general docs on the Experimental mode here, including the table: https://github.com/openshift/openshift-docs/pull/25098
Is it still relevant?

[2020-09-04 13:15] #3161 closed

[2020-09-04 13:57] scottkurz opened #3899 "The `odo test` command doesn't give enough feedback, by default; odo test exit status"
/kind bug

(This is a minor suggestion, not really a true "bug").

## What versions of software are you using?

**Operating System:**  Win10, Linux

**Output of `odo version`:** 1.2.6

## How did you run odo exactly?

A sequence like:

1.  `odo create java-openliberty --starter`
2. `odo test`

## Actual behavior

$ odo test

Executing devfile test command for component dd3win10
 -  Executing test

[2020-09-04 14:44] amitkrout commented on #3754
Periodic job hit the same flake on daily basis. @kadel @girishramnani Can you please increase the priority and share sprint bandwidth to work on it.

https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.2-integration-e2e-periodic/1301761945631723520#1:build-log.txt%3A582

[2020-09-04 14:49] mik-dass commented on #3899
Currently we have `--show-log` to get the logs of the test run but the error status/code is not propagated.
You want `odo test` to show the logs by default without logs and also propagate the exit status/code?

[2020-09-04 14:53] amitkrout commented on #3754
Failure matrix report for same error - https://search.ci.openshift.org/?search=stderr%3A+tar%3A+%2Ftmp%2Fsrc%3A+Cannot+open%3A+No+such+file+or+directory&maxAge=168h&context=0&type=build-log&name=&maxMatches=5&maxBytes=20971520&groupBy=job

[2020-09-04 16:57] scottkurz commented on #3899
@mik-dass  - yes, that was my suggestion.  Thanks

[2020-09-04 19:02] GeekArthur commented on #3451
@mik-dass We do have the URL validation function here: https://github.com/openshift/odo/blob/master/pkg/util/util.go#L1139, it uses `url.Parse` package to implement the basic URL format validation which is similar to use `url.ParseRequestURI` as both of the packages are used to parse and get the essential components of the URL for analysis. The original design of the basic URL format validation is

[2020-09-04 20:11] #3469 closed

[2020-09-04 23:28] dgolovin opened #3901 "`odo list -o json` does not list devfile components, but 'odo list' does"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:**  v2.0.0-alpha-2 (00d408ece)

## How did you run odo exactly?

[code]

## Actual behavior

No nodejs-ex component in json output compared to normal output

## Expected behavior

Both outputs reports the same components

## Any logs, error output, etc?
N/A

[2020-09-04 23:53] dgolovin opened #3902 "odo describe --context option is ignored when current directory is a devfile based component"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** 2.0.0 built from master with pr odo describe for devfile component applied

## How did you run odo exactly?
[code]

## Actual behavior

-- context option ignored when current component is devfile, --context works fine for s2i components

## Expected behavior

Should describe component

[2020-09-05 11:00] #3007 closed

[2020-09-05 16:09] #2825 closed

[2020-09-06 05:02] prietyc123 commented on #3880
We already have an existing issue for this https://github.com/openshift/odo/issues/2799 . Closing this issue.

/close

[2020-09-06 05:02] #3880 closed

[2020-09-06 06:56] amitkrout commented on #3454
Hit the same flake on our CI platform with more verbose information

[code]

Details log - https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.5-integration-e2e-periodic/1302396272367374336#1:build-log.txt%3A799

This flake is no more specific to Syetem-pz

[2020-09-06 08:13] amitkrout commented on #3454
one more hit - https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.3-integration-e2e-periodic/1302486854787928064#1:build-log.txt%3A949

[2020-09-07 04:26] sarveshtamba commented on #3891
/reopen

[2020-09-07 04:29] sarveshtamba commented on #3891
Using go version `go1.13.15 linux/ppc64le`, with latest master, `make goget-tools` appears to succeed, but `make bin` still fails on ppc64le:

[code]
@kadel please have a look.

[2020-09-07 05:28] prietyc123 commented on #3155
AFAIK `odo delete` deletes everything from the cluster even `devfile.yaml`. But yes it won't delete `devfile.yaml` locally.

[2020-09-07 06:03] amitkrout commented on #3731
```oc cluster up``` is used to spinup a openshift cluster in travis environment. For kubernetes cluster minikube is used.

Will check it through a pr

[2020-09-07 06:14] zhengxiaomei123 commented on #3757
Because the odo CI on OCP/Z for alpha is passed now. I will close this issue and then reopen If there are new failed cases again in future.

[2020-09-07 06:14] #3757 closed

[2020-09-07 06:53] sarveshtamba opened #3905 "Unexpected EOF during watch stream event decoding, watch channel was closed."
Facing the following issue on ppc64le while running the odo test suites:-
[code]

Attached is the error log -
[EOF_watchstream_ppc64le.txt](https://github.com/openshift/odo/files/5181466/EOF_watchstream_ppc64le.txt)

[2020-09-07 07:02] amitkrout commented on #3824
I have pinged the original reporter in bugzila to check it form their end with the suggestion - https://github.com/openshift/odo/issues/3824#issuecomment-683707339

[2020-09-07 08:13] amitkrout commented on #3905
@sarveshtamba Have you tried the same scenario manually on such platform ?

[2020-09-07 08:16] sarveshtamba commented on #3905
No, however this works fine on another OCP 4.5 cluster. Want to confirm if this is a flaky scenario or if this is observed on any other platforms?

[2020-09-07 08:23] amitkrout commented on #3905
I did not get it. Can you please explain what do you mean by another OCP 4.5 cluster ? i guess it works against 4.5 cluster but fails on rest cluster version

I have never seen it on amd64 images i mean in our CI environment and locally too.

[2020-09-07 08:27] sarveshtamba commented on #3905
I have tried running the same test suites on 2 different OCP 4.5 clusters. In one cluster I don't see these EOF errors, while in the other I see these EOF errors, hence want to confirm if this is a flaky issue or is it local setup issue?

[2020-09-07 08:53] prietyc123 commented on #3882
This is specifically hitting on 4.6 cluster with s2i images. However I tried creating `nodejs` application on openshift
[code]
and it got succeeded. IMO if the port is not exposed we should handle it in a way that default port gets exposed explicitly. This is currently a blocker for enabling 4.6 cluster running on periodic jobs https://github.com/openshift/release/pull/10346 . Also considering the

[2020-09-07 10:28] prietyc123 commented on #3461
@maysunfaisal we already have same issue reported here - https://github.com/openshift/odo/issues/3256 . So closing this issue. Feel free to open if you find any difference.

/close

[2020-09-07 10:28] #3461 closed

[2020-09-07 10:47] prietyc123 commented on #3256
Frequently hitting for operatorhub `odo push`
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.5-integration-e2e-periodic/1302849237171572736#1:build-log.txt%3A1378

[2020-09-07 10:58] prietyc123 commented on #2889
We are hitting build failure with successful push on periodic jobs for java-springboot.

[code]
More details - https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.3-integration-e2e-periodic/1302758652611923968#1:build-log.txt%3A1941

[2020-09-07 12:21] zhengxiaomei123 commented on #3671
#3578

[2020-09-08 05:48] amitkrout commented on #3882
its a blocker for enabling test on 4.6 cluster

[2020-09-08 06:09] mohammedzee1000 commented on #3882
But the container has exposed ports

https://github.com/sclorg/s2i-nodejs-container/blob/master/12/Dockerfile.rhel8#L6

[2020-09-08 06:12] prietyc123 commented on #3256
Hitting this for operator hub `odo push` more frequently. Here https://gist.github.com/jgwest/5b28687514970ae6baa5942ee82d5755 I can see 28 occurence of this issue which seems a critical flake to me. I tried reproducing this locally with number of executions but failed, However I have opened a pr https://github.com/openshift/odo/pull/3906 to get detailed information on deployment rolled out.

From

[2020-09-08 06:12] prietyc123 commented on #3256
/priority high

[2020-09-08 06:49] amitkrout commented on #3882
I was playing around the issue to get more failure info and found something that may help to narrow down the debug area.

Observation (tested on master build):

It works when Experimental mode is enable that is it works for devfile component but for s2i component it does not work
[code]

[2020-09-08 09:47] amitkrout commented on #3815
Document has been reviewed.
/close

[2020-09-08 09:47] #3815 closed

[2020-09-08 09:51] prietyc123 commented on #3817
Verified all the doc and updated the issue https://github.com/openshift/odo/issues/3817#issuecomment-686393123

/close

[2020-09-08 09:51] #3817 closed

[2020-09-08 11:44] sarveshtamba commented on #3754
@kadel @girishramnani @amitkrout Can you please look into this? This is blocking any further progress for ODO on PowerPC.

[2020-09-08 14:51] metacosm commented on #3767
I can reproduce it and I don't think it's OS-related. The issue is that the `Complete` function for `url create` checks if we're dealing with a devfile without taking the `context` flag into account so it's looking for a devfile in the current directory and not finding any decides to create a context for an s2i component and since there's no local config in the target directory, it fails as expect

[2020-09-08 18:47] yangcao77 opened #3910 "converting s2i items to devfile items does not set the Endpoint's name properly"
/kind bug
/area devfile
/area url

Converting s2i items to devfile items does not set the Endpoint's name properly.

## How did you run odo exactly?

run `odo url create url1 --port 8080` for a s2i item
and run `odo utils convert-to-devfile`

## Actual behavior
the endpoint created in devfile is named `port-8080`

## Expected behavior
expect to use the urlName defined during url creation

## Any l

[2020-09-08 19:48] maysunfaisal opened #3911 "Clean up error wrapping"
- Looks like with moving up the go version, error wrapping functionality has changed a bit. For example, you can't return `errors.Wrap(err, "unable to parse devfile")` from odo. It has to be `fmt.Errorf("unable to parse the devfile %s, with error: %s", o.DevfilePath, err)`. Otherwise you may lose all the error context wrapping from the child funcs.

- I have also noticed that sometimes we have way

[2020-09-08 19:54] johnmcollier commented on #3911
FWIW, I posted a similar message on slack here: https://openshiftdo.slack.com/archives/CQK6HE78S/p1599268565141800, as did Jingfu https://openshiftdo.slack.com/archives/CQK6HE78S/p1588964792403000. A lot of our error wrapping is being ignored because `util.LogErrorAndExit` only returns the cause of the error, rather than the error itself.

So from some past conversations, we _do_ want to limit the

[2020-09-08 19:57] maysunfaisal commented on #3911
looks like we both encountered it while working with devfile parsing

[2020-09-08 20:37] #3862 closed

[2020-09-09 00:04] PanYaLian opened #3913 "installing odo documents changes for IBM Z platform"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Here is the link for installing odo, https://odo.dev/docs/installing-odo/, and I think it is from https://github.com/openshift/odo/blob/master/docs/public/installing-odo.adoc. since we have add IBM Z support for odo, we hope to update the doc to include  some instructions for installing odo on IBM Z

## What

[2020-09-09 00:04] PanYaLian commented on #3913
/area system-pz

[2020-09-09 01:36] jichenjc commented on #3913
@PanYaLian can we be more specific on what we hope to change and what's the proposal etc if you have ?

[2020-09-09 02:04] PanYaLian commented on #3913
just like what we did on odo 1.2.5 for Z,  add the following content for installing odo on Linux on IBM Z and LinuxONE
@zhengxiaomei123  you mentioned in https://github.com/openshift/odo/issues/3725#issuecomment-673909339 that it is not required since "the v2.0.0-alpha of odo is not available for s390x, tips are required for user." Now we have already pass CI test on odo 2.0 -alpha,  do we need to

[2020-09-09 06:45] adisky commented on #3911
agreed with both the concerns, at some places it is redundant and at some places nothing, logged similar kind of issue long back
https://github.com/openshift/odo/issues/2709

[2020-09-09 09:30] kadel commented on #3901
This should be addressed in https://github.com/openshift/odo/issues/3521

[2020-09-09 09:36] prietyc123 opened #3915 ""remotes" property under starterProjects conflicts the devfile"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Steps:

[code]

## Actual behavior

Parent devfile triggers `https://raw.githubusercontent.com/odo-devfiles/registry/master/devfiles/nodejs/devfile.yaml` devfile.yaml file which has `remotes` property under `starterProjects.0.git` . It s

[2020-09-09 09:48] adisky commented on #3915
@prietyc123 can you add link to the failure here? Mostly it could me solved by rebasing the PR's.

[2020-09-09 09:52] prietyc123 commented on #3915
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/3906/pull-ci-openshift-odo-master-v4.5-integration-e2e/1303387080759447552#1:build-log.txt%3A1006

[2020-09-09 09:53] prietyc123 commented on #3915
@adisky I have also rebased my pr lets see how it works. Thanks.

[2020-09-09 09:56] adisky commented on #3915
I tries, not reproducible locally on latest master,  PR needs rebase.

[2020-09-09 09:59] prietyc123 commented on #3915
Ah Yes I tried this again on the latest master and it works. Thanks @adisky

/close

[2020-09-09 09:59] #3915 closed

[2020-09-09 11:26] #3901 closed

[2020-09-09 11:30] scottkurz opened #3918 "`odo push` with alternate --run-command should push complete file set upon new pod creation"
/kind bug

## What versions of software are you using?

**Operating System:** Win10

**Output of `odo version`:**   This is close to 1.2.6, with https://github.com/openshift/odo/pull/3478 built in

## How did you run odo exactly?

Roughly the workflow is:

1. $ odo create java-openliberty --starter
2. $ odo push
3.  <edit a .java file>
4. $ odo push --run-command run-test-off

I say "roughly" beca

[2020-09-09 11:43] scottkurz opened #3919 "Help for `odo push -f` should explain that the full set of project source is pushed to the container"
/kind documentation

## What mistake did you find / what is missing in the documentation?

The `odo help push` output shows:

but this omits the important fact that the entire project is pushed/synced to the appropriate container, as opposed to the default behavior in which only the files odo has detected as changed are pushed.

I think this is a moderately intutitive analogue to say `git push -f`

[2020-09-09 11:44] #3615 closed

[2020-09-09 11:44] #3718 closed

[2020-09-09 12:24] johnmcollier commented on #3886
I can do this

/assign

[2020-09-09 12:25] johnmcollier commented on #3811
Same for `odo catalog list components` https://github.com/openshift/odo/issues/3779

[2020-09-09 13:05] amitkrout opened #3921 "odo push unable to create namespace on the fly"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
$ odo push --context ../testcontext/
Validation
 ✓  Validating the devfile [117912ns]
Creating Kubernetes resources for component nodejs
 ✗  Failed to start component with name nodejs. Error: Failed to create the comp

[2020-09-09 13:45] amitkrout commented on #3921
Similar error is observed with URL creation too
[code]

[2020-09-09 13:54] johnmcollier commented on #3919
@scottkurz How about something like: ` Use force-build flag to re-sync and force-build the component`?

[2020-09-09 14:45] scottkurz commented on #3919
@johnmcollier  - maybe just a bit more explicit?
`Use force-build flag to re-sync and force-build the entire component (not just changed files)` ?

[2020-09-09 14:55] johnmcollier commented on #3919
@scottkurz I'm not crazy about the `(not just changed files)` part, what about
[code]

[2020-09-09 15:14] johnmcollier commented on #3918
I can't reproduce @scottkurz 😕

Can you check to see if the branch of odo you're using has the fix from #3838 in it? This sounds similar to the bug that it fixed. Basically, we weren't detecting that the component pod had restarted and that the source code needed to be re-synced. It looks like a similar thing is happening here.

Because we're changing the run command, the run command env var in th

[2020-09-09 17:43] johnmcollier opened #3923 "`odo url create` shouldn't require a port if only one port exists in the devfile"
/kind bug
/area devfile

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

## How did you run odo exactly?
`odo url create --host <ingress-domain>`

## Actual behavior
`odo url create --host <ingress-domain>` without the `--port` flag fails:
[code]

## Expected behavior
odo detects that there's only one port in the devfile and saves me f

[2020-09-09 19:19] scottkurz commented on #3919
That's fine.. I have to admit though I'm a bit ignorant about what the "force-build" part of this means.   Does this signify doing something beyond re-synching the entire source code?   Wouldn't it build anyway on a push ?

[2020-09-09 19:21] scottkurz commented on #3918
Guessing not based on the dates.  I'll wait and try this on the beta release.  Thanks.

[2020-09-09 19:32] maysunfaisal opened #3924 "Cleanup odo create validation headers and spinners for devfile"
Looks like `odo create` does two validations -
- ValidateK8sResourceName in Validate()
- ParseFromDataAndValidate in Run()->devfileRun()

So if there is an actual devfile validation error when validating the components/commands/events in ParseFromDataAndValidate, it says validation passed from ValidateK8sResourceName and then outputs the ParseFromDataAndValidate error:
[code]

We should be precise

[2020-09-09 19:35] maysunfaisal commented on #3923
Yeah I found this weird too. But if you dont want to use an ingress, you can just do odo push, and you will have a route that you can use from the default single port in the devfile.

[2020-09-09 19:38] maysunfaisal commented on #3921
Not sure if this a regression, I dont remember odo push creating namespaces before. 🤔

[2020-09-09 19:40] mik-dass commented on #3822
Closed by https://github.com/openshift/odo/pull/3872
/close

[2020-09-09 19:40] #3822 closed

[2020-09-09 19:45] mik-dass opened #3925 "Update docs according to schema changes in the command and component struct"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Changes due to https://github.com/openshift/odo/pull/3872

[2020-09-09 20:05] johnmcollier commented on #3923
@maysunfaisal I was on generic Kube, so had to use an ingress 😉

[2020-09-09 20:06] johnmcollier commented on #3919
Probably `re-build the component` is better than `force-build the component` I'm thinking. `force-build` is really just re-syncing everything and re-building, the build itself is no different

[2020-09-09 20:09] johnmcollier commented on #3924
As a side note, we should probably also show more than _just_ the validation header. For example, `  ✓  Creating a devfile component from devfile path` really doesn't belong under `Validation`

[2020-09-09 22:07] elsony commented on #3919
If the behaviour is re-sync everything and rebuild, I agree `re-build` is better than `force-build`.  The other term that we can consider is `clean-build`

[2020-09-09 22:08] elsony commented on #3923
Even if you are using ingress, the user shouldn't need to specify a port if there is only one exposed port. It sounds like a regression since we used to be able to do that in the past.

[2020-09-10 00:13] pyrobit commented on #2456
/reopen

[2020-09-10 00:24] pyrobit commented on #2456
This issue still needs a handy solution. I am struggling a lot to deploy with yarn. Did not find anysample config.yaml to properly set the yarn as main package manager and build steps for the app to properly work.
Nowadays developing with typescript it becomes really challenging to set up a deploy in openshift.

[2020-09-10 05:29] sarveshtamba commented on #3891
Any updates on this one? Currently building odo on Power using go version `go1.12.13 linux/ppc64le`
This is blocking any further progress for ODO on PowerPC using go version `go1.13.15 linux/ppc64le`

[2020-09-10 07:31] mik-dass opened #3929 "Switching from run to debug mode shows no build but build occurs"
/kind bug

## How did you run odo exactly?

- odo create nodejs
- odo push
- odo push --debug

## Actual behavior

Message says `No file changes detected, skipping build` but build gets triggered.

## Expected behavior

The message shouldn't say `skipping build`

## Any logs, error output, etc?

[code]

[2020-09-10 09:30] prietyc123 commented on #3831
Fixed frequent periodic failure on operatorhub https://github.com/openshift/odo/issues/3256#issuecomment-688640953 with pr  https://github.com/openshift/release/pull/11695

Now I feel we are in a state where each day each test passes at least once on periodic jobs. Achieving our described goals, So closing this issue.

/close

[2020-09-10 09:30] #3831 closed

[2020-09-10 09:33] prietyc123 commented on #3816
Till date I have documented all the high priority known issues in Bugzilla. So considering it as done.

/close

[2020-09-10 09:33] #3816 closed

[2020-09-10 12:29] johnmcollier commented on #3919
/assign

[2020-09-10 12:37] johnmcollier commented on #3819
With #3841 resolved now, it seems like we'd just need to make sure that `.odo/odo-file-index.json` is always added to the ignore list when `--ignore` is passed in.

Since we already add `.odo/odo-file-index.json` to the git ignore by default, it makes sense that we add it to whatever list of ignored files as well.

[2020-09-10 13:15] yangcao77 commented on #3698
/assign

[2020-09-10 13:19] mik-dass commented on #3819
Yes, we just need to add the `.odo/odo-file-index.json` to the ignore list when the `--ignore` flag is used.

[2020-09-10 13:28] mohammedzee1000 commented on #3852
As this is downstream, i cannot give out too much

But basically, we are almost done with this

There is a <redacted> ticket up in the release pipeline which is waiting on QE approval (docs is already done). Once this is done, we can push it to redhat cdn.

Documentation is being updated accordingly in internal release repo.

[2020-09-10 15:54] elsony commented on #3300
Removing need-information label since the design proposal has been merged: https://github.com/openshift/odo/pull/3368

[2020-09-10 17:00] kadel commented on #3831
🎉 This is great. Thank you @prietyc123

[2020-09-10 18:14] scottkurz commented on #2191
Interested in this.  Not sure if I have authority to do this but am going to try :)

/remove-lifecycle rotten

[2020-09-10 19:16] cdrage opened #3932 "Beta release: Operator Hub does NOT work & tests are disabled (tracking issue)"
/kind bug

## Beta information / tracking information

This is an open issue to track that Operator Hub / services do NOT work in the current beta.

Everything else should work as intended.

- [ ] Operator Hub tests are currently DISABLED in this commit in the `beta` branch: https://github.com/openshift/odo/commit/59cc5d2508b9e98bee93cba288d2a313b600cf16
- [ ] Operator Hub does NOT work, however h

[2020-09-10 22:07] #3550 closed

[2020-09-11 01:33] johnmcollier opened #3933 "Re-enable support for the sparseCheckoutDir field in devfiles"
/kind bug
/area devfile
/area regression

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

## How did you run odo exactly?
`odo create java-openliberty --starter`

## Actual behavior
When cloning a starter project with the `sparseCheckoutDir` field set, `odo create --starter` now clones the entire source code repo specified in the start

[2020-09-11 07:44] sarveshtamba opened #3934 ""unknown flag: --s2i" while running odo test suite 'test-generic' on ppc64le"
I pulled the latest odo master branch and ran the odo test suite 'test-generic' on ppc64le. Facing the following issue:-
[code]

[2020-09-11 07:46] sarveshtamba commented on #3934
/area system-pz

[2020-09-11 08:04] sarveshtamba commented on #3934
Seems to have been introduced after changes in https://github.com/openshift/odo/pull/3705/
@cdrage @johnmcollier ^^

[2020-09-11 08:17] adisky commented on #3933
it has been discussed here https://github.com/openshift/odo/pull/3867#discussion_r483576554

[2020-09-11 08:36] prietyc123 commented on #3934
@sarveshtamba I ran the same step on latest master and couldn't find the error.

[code]
Can you please check odo version once and confirm.

[2020-09-11 08:38] prietyc123 commented on #3934
Did you build the master binary then ran the test suite against it?

[2020-09-11 08:41] prietyc123 commented on #3824
As per @kadel comment I can see that its a documentation changes needs to be done. And ofcourse as per the above thread I can see we have to verify the suggested change in our test environment as well. So changing the label brom bug to area testing and need doc.

/remove bug
/area testing
/documentation

[2020-09-11 08:43] sarveshtamba commented on #3934
@prietyc123 Yes this is the master binary. Standalone command works fine.
[code]

[2020-09-11 11:58] #3578 closed

[2020-09-11 12:25] dharmit commented on #3932
I have opened PR https://github.com/openshift/odo/pull/3937 which is basically the work I did in PR #3883 rebased on top of beta branch.

Before opening the PR, I manually verified on CRC box running OpenShift 4.5 that the tests in `tests/integration/operatorhub` directory and `tests/integration/cmd_link_unlink_test.go` file cleared.

I have uncommented the Operator Hub tests as well.

[2020-09-11 13:31] cdrage commented on #3887
You're correct. We should be agnostic and focus on deploying an application and not focus on Devfile. Essentially, we use Devfile under the hood and we can edit it to our liking. But we shouldn't focus on it :+1:

[2020-09-11 15:47] jeffmaury opened #3940 "default registry not initialized when user already has a preference.yaml file"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10Pro

**Output of `odo version`:**
`odo v2.0.0-beta-1 (c19e1f390)`

## How did you run odo exactly?
`odo catalog list components`

## Actual behavior
No Devfile components reported

## Expected behavior
Devfile components should be reported.

## Any logs, error output, etc?

So if there is no `preference.yaml` file t

[2020-09-11 16:27] GeekArthur commented on #3940
We used to support the case where user already had `preference.yaml`. This is a migration issue after the `make the devfile to be the default deployment mechanism` PR (https://github.com/openshift/odo/pull/3705) gets merged 18 hours ago. The problem is here https://github.com/openshift/odo/pull/3705/files#diff-5f21db40ee2e66f00f206912f4dddc2fL231-L239, we shouldn't move that code block as it is us

[2020-09-11 18:24] maysunfaisal commented on #3892
@johnmcollier whats wrong with that? if devfile context is always defined by the current dir or `--context` flag

[2020-09-11 18:28] johnmcollier commented on #3892
@maysunfaisal It's moreso that if we want to be able to delete a devfile component by name, we need to be able delete it without being in component's context folder.

[2020-09-11 18:35] maysunfaisal commented on #3892
But

1. isnt that the point of having the `--context` flag? so that we can delete from anywhere using this flag
2. all odo commands require you to point to the component dir, so why should delete be any different?
3. I just tried your example for s2i, I cant do that from any dir. It requires a component in the current dir or requires the `--context` flag:
[code]
4. There can be only one component

[2020-09-11 18:36] johnmcollier commented on #3933
Thanks @adisky. I'll go update the issue title since its disabling was deliberate

In that case I think we need to do two things:
1) Update the `java-openliberty` devfile to not rely on the `sparseCheckoutDir`
2) (in the future) Re-introduce support for the `sparseCheckoutDir`

Have we looked at how Che handles the `sparseCheckoutDir` field? Maybe they have a better approach than what we were doin

[2020-09-11 19:07] elsony commented on #3933
Disabling that will be a problem with the openliberty stack. @scottkurz @ajm01 This means that the liberty starter scenario will not work out of the box as before until this problem is fixed.

[2020-09-11 19:16] johnmcollier commented on #3892
1. Yes and no. But if you've got multiple apps deployed on a cluster, across multiple apps (once https://github.com/openshift/odo/issues/3402 is in), having to find the context folder for the app you want to delete can be a real nuisance.

2. `odo delete`'s help text does allow you to specify a name for a component:
[code]

3. So, I just tried on master, and had no issues deleting a s2i component

[2020-09-11 19:17] maysunfaisal commented on #3819
/assign

[2020-09-11 19:24] johnmcollier commented on #3933
+1 on updating the devfile to workaround it for now. From Tomas' comment on the PR, it sounds like we weren't handling `sparseCheckoutDir` in a good way, so until we find a good way to get it working, we should make sure the java-openliberty stack is fixed.

If it may take a while to re-introduce the `sparseCheckoutDir` functionality, we may also want to consider adding a warning message to `odo c

[2020-09-11 19:44] maysunfaisal commented on #3892
@johnmcollier ok i see your point. Yeah you needed the `-app` flag. However, how is `odo delete` from any other commands. Shouldn't other odo commands also have this benefit?

[2020-09-11 19:48] johnmcollier commented on #3892
@maysunfaisal That's a good question. Since we don't need to point to the context / component folder for `odo delete` (everything it does is server-side), it probably wasn't made required. Since most of the other odo commands _do_ require access to the component folder (like `odo url create`), that's why it's not really consistent.

[2020-09-11 19:53] elsony commented on #3892
Are we going to have problems on supporting `odo delete` with `--all` on a random directory given that we don't have access to the component folder to clean up the files, e.g.  .odo/env/env.yaml

[2020-09-11 20:00] johnmcollier commented on #3892
@elsony I went and checked to see what `odo delete --all` did for s2i when outside of the component. I thought it would throw an error, but it surprisingly didn't:
[code]

However, the config files were not deleted so it really just silently failed.

I think if there isn't a way to get `--all` to work with `odo delete <name> --app <app>`, then we should throw a validation error when `--all` is use

[2020-09-11 20:09] elsony commented on #3892
I have the same concern as @maysunfaisal to make `odo delete` behave differently than other commands.  All other commands needs to either set the context or run under the component directory.  If we block the `--all`, we are yet introducing another inconsistent behaviour that `--all` only support when you are running under the component directory.

For the `--app`, we may be still be able to get t

[2020-09-11 20:15] johnmcollier commented on #3892
So I have two reasons for wanting to be able to delete a component by name, and not relying solely on the component folder:
1) If I've got multiple components deployed on a cluster, and I'm not sure _which_ folder belongs to the component folder I have to delete, I don't have to find the component folder first to delete the component. I can just do `odo delete <comp> --app <app>` and I'm good to g

[2020-09-11 20:34] elsony commented on #3892
#1 I don't think multiple app/component makes a difference. A single component has the same problem as the multiple case.

ok, I can see user case for #2 where I lost my original folder and wanted to delete the component.  I am fine to support that for devfile type components.  However, the described scenario is restricted to `--app` which I don't think we should have that limitation. We should im

[2020-09-11 20:38] johnmcollier commented on #3892
Sorry, for #1 let me clarify - I meant scenarios where we may have multiple components on your machine (and even more if there's multiple components in multiple apps), being able to delete without having to find component folder first would save time / avoid a nuisance.

But I agree, the better use case is #2 where the folder is lost or not accessible. I'm surprised actually that `--app` is requir

[2020-09-11 21:10] elsony commented on #3923
While I am playing around with the beta1 driver, I find the previous behaviour that don't require a port to be specified is much easier to use. Currently, someone new to the devfile support will need to know where to look for the port number in the devfile.yaml even for starter applications.  Our out of the box experience shouldn't require the user to understand the devfile.yaml on day 1 operation

[2020-09-11 21:25] maysunfaisal commented on #3819
I also needed to add `.git` because if my component dir is a git project then it may potentially build more than once or get stuck in an infinite loop:
[code]

[2020-09-11 21:25] yangcao77 commented on #3698
This issue is a little bit tricky. We have 2 options:
1. check the container name in `odo push` validation, to show error before the actual execution.
2. trim down the container name provided, to ~50 chars, and append 5-10 random chars at the end to ensure uniqueness

I talked with @maysunfaisal , he prefers to go for Option2. However, if we want to trim down the container name and create another

[2020-09-11 21:30] maysunfaisal commented on #3698
Thats why I opened a new issue for this because we have code in devfile that relies on container name matching and it affects a lot of code.

[2020-09-11 22:09] elsony commented on #3698
Out of the 2 options, I prefer #2 but there will be a lot of code change.  If we implement #2 then we should just create a function for the name generation and all places referring to container name will need to call that. Having said that, if we want to keep things simple, we can have option 3.
3. Do component name sanitization during component creation. We'll limit the number of chars allowed fo

[2020-09-11 22:15] #3869 closed

[2020-09-11 22:22] scottkurz commented on #3933
@johnmcollier @elsony  - How would you suggest enabling the ability to have multiple starters?

It would be easy enough to switch to a new repository with a single starter and nothing else, but we intended to offer:

Can each individual starter get its own relevant config in the devfile?

(I tried it quick on something close to the odo2 beta and it always checks out the repo root no matter what th

[2020-09-11 23:06] yangcao77 commented on #3698
Do you mean do we validation on all resources during component creation? e.g. component name provided,  container name in the devfile, endpoint name in the devfile, etc?

[2020-09-12 10:20] prietyc123 opened #3943 "Java component build execution requires pom.xml"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

[code]
devfile.yaml
[code]
## Actual behavior

## Expected behavior

Component should get created but here it seems pom.xml file does not exists in the current path.

## Any logs, error output, etc?

Manually executed on odo version
[cod

[2020-09-14 00:46] scottkurz commented on #3918
Seems fixed on the odo v2.0.0-beta-1.

[2020-09-14 00:46] #3918 closed

[2020-09-14 04:35] sarveshtamba commented on #3891
Figured out both go versions - 1.12.x(previously used for odo on ppc64le) and 1.13.x(used by x86/Z including in travis jobs) have issues when used for odo on Power. After trying out a few versions, latest `go version 1.15.2` works well with odo on Power and no make related issues are seen. Closing this issue for now.

[2020-09-14 04:35] #3891 closed

[2020-09-14 04:36] sarveshtamba commented on #3934
Resolved with #3891 , closing this for now.

[2020-09-14 04:36] #3934 closed

[2020-09-14 04:36] sarveshtamba commented on #3607
Resolved with #3891 , closing this for now.

[2020-09-14 04:36] #3607 closed

[2020-09-14 05:33] mohammedzee1000 commented on #3852
The ticket is now ready for push to redhat cdns, pinged and waiting internal <redacted> team member to ship it

[2020-09-14 05:40] mohammedzee1000 opened #3944 "Odo release automation"
This is tracking issue see https://issues.redhat.com/browse/ODO-38 for details

[2020-09-14 06:27] zhengxiaomei123 commented on #3671
The container images used in the default devfile registry of odo doesn't support P and Z. Actually, the images used in default devfile registry is from personal repo and quay.io/eclipse repo. The images also don't support multi-arch. I think the images used in odo should change to use RH offically built images or RH offically registry (registry.access.redhat.com/) like S2I which support multi-arch

[2020-09-14 06:56] sarveshtamba opened #3945 "Test failures while running `test-integration` and `test-e2e-all` test suite on ppc64le"
Some of odo `test-integration` fail with the below error on ppc64le:-
[code]
Trying to investigate this further, any leads would be helpful.

Also facing issues in `test-e2e-all` as attached.

Attaching is detailed spec failure -
[odo_17-FAILURE_Z_PR_3716_3744-Integration_with_P_3m5w.txt](https://github.com/openshift/odo/files/5216576/odo_17-FAILURE_Z_PR_3716_3744-Integration_with_P_3m5w.txt)
[odo

[2020-09-14 07:03] sarveshtamba commented on #3945
/area system-pz

[2020-09-14 08:16] amitkrout commented on #3943
ping @girishramnani @kadel

[2020-09-14 08:17] amitkrout commented on #3943
Failing on both PR and Periodic job

[2020-09-14 08:26] kadel opened #3947 "rename odo env variable namespace to project"
We are using "project" everywhere else in odo. We even have `odo project` command.

`odo env` should follow the same terminology

[2020-09-14 08:29] kadel commented on #3943
Do we know why is this failing?
I'm not able to reproduce it :-/

[2020-09-14 08:53] kadel opened #3948 "rename --namespace flag in odo push to --project"
Rename --namespace flag in `odo push` to --project to make it consistent with the rest of odo.
For example, we have `odo create  --project`

/priority high

[2020-09-14 09:13] mohammedzee1000 commented on #3852
the ticket is now shipped live on redhat cdn
/close

[2020-09-14 09:14] #3852 closed

[2020-09-14 09:18] adisky commented on #2889
with the new springboot devfile it is fixed
[code]

[2020-09-14 09:18] #2889 closed

[2020-09-14 11:31] kadel commented on #3754
/remove-priority medium
/priority high

[2020-09-14 11:46] sarveshtamba commented on #3905
https://access.redhat.com/solutions/2092671

[2020-09-14 11:49] girishramnani commented on #3842
closeing this issue then as #3705 got merge @johnmcollier

[2020-09-14 11:49] #3842 closed

[2020-09-14 11:56] #3943 closed

[2020-09-14 12:03] amitkrout commented on #3824
I have gone through some reference video on how to configure firewall for aws account and whitelisting part as per the comment https://github.com/openshift/odo/issues/3824#issuecomment-690960220 but could not try it.

So i am keeping it for next sprint.

[2020-09-14 12:16] amitkrout commented on #3138
Steps are followed-

- [ ] Create a disconnected cluster
- [ ] Login to the mirror registry
- [ ] Mirror odo-init image
- [ ] Overwrite init image using environment var ODO_BOOTSTRAPPER_IMAGE
- [ ] Allow registry URL in the proxy
- [ ] mirror regisrry images
- [ ] Run devfile test

[2020-09-14 12:46] sarveshtamba commented on #3754
With the update in go version to latest v1.15.2 as per #3891, I was able to build odo successfully, the frequency of hitting this Sync  files related error has come down significantly. This is no longer a blocker.

[2020-09-14 13:24] johnmcollier commented on #3923
So, this is actually a worse bug than I thought, it seems exposing an app is entirely broken on Kube.

This is because when running `odo url create` for a port that's already in the devfile, causes a second entry for that port to be added, rather than the existing entry being modified.

Before:
[code]

After:
[code]

This causes two bad side effects:
1) The pod always gets restarted on the subsequ

[2020-09-14 13:31] johnmcollier commented on #3948
Looking over the code, both `--project` and `--namespace` are valid flags in `odo push`, so seems we just need to do some clean up and remove the code that handles the `--namespace` flag

[2020-09-14 13:34] girishramnani commented on #3893
seems like #3857 resolved it

[2020-09-14 13:34] #3893 closed

[2020-09-14 13:52] #3378 closed

[2020-09-14 16:26] GeekArthur commented on #3698
@elsony @yangcao77 We already had the util function to validate the kube resource name here: https://github.com/openshift/odo/blob/master/pkg/util/util.go#L1047, it should include the validation of all kube resource name requirements (eg. number of chars, supporting chars, etc). The easiest way could be calling the util function to validate the kube resource name before generating the kube resourc

[2020-09-14 18:12] johnmcollier commented on #3933
@scottkurz So, devfiles can have multiple starter projects and your syntax (`--starter <name>`) is correct. For example:
[code]

If `sparseCheckoutDir` were working in odo right now, `odo create --starter second-starter` would checkout the `test` folder from https://github.com/johnmcollier/nodejs-ex.git and `odo create --starter nodejs-starter` would checkout the entire repo.

[2020-09-14 19:37] yangcao77 commented on #3698
Thanks Jingfu! I'm using that function to validate the resource name.

I think the problem for this issue is we want to validate and show error before execute any operations, which saves resources and time. Validate right before resource creation also works, but it takes more effort/ did more actions for a failure case than do it inside `validate()` function of `odo push`.

[2020-09-14 20:26] metacosm commented on #3947
I understand the will to make things consistent. However, doesn't that go against the idea of making odo more k8s-native as opposed to OpenShift-centric? If anything, wouldn't it make more sense (though, of course, that's a much bigger endeavor) to rename everything project-related to namespace?

[2020-09-14 21:11] elsony commented on #3698
Those checks are relatively quick since it is just using static rules based on the names. Therefore, if we do those validations as part of the devfile validation, then we should have all cases covered.  We are calling devfile validation on both component creation as well as before the push so both scenarios should be covered.

[2020-09-14 21:34] elsony commented on #3933
@scottkurz Just to be clear, to work around the current problem of sparseCheckoutDir not supported yet. You can still have multiple starter projects. For those different starter projects, you either:
1. put the starter code under different repos and reference the starter projects using different repo
2. put them under different branches of the same repo and use the revision in checkoutFrom to cont

[2020-09-15 04:44] #2328 closed

[2020-09-15 07:11] #3940 closed

[2020-09-15 07:21] zhengxiaomei123 commented on #3671
@rgarg1 Is there any plan to support devfiles container image in RH offical registry? Thanks.

[2020-09-15 07:23] prietyc123 opened #3952 "Beta testing on windows and macOS"
/kind user-story
/area testing

## User Story
As a QE I want to run test scripts on windows and macOS host successfully

## Acceptance Criteria
- [x] Test scripts should pass on macOS
- [x] Test scripts should pass on windows

[2020-09-15 07:30] PanYaLian commented on #3671
@mohammedzee1000 Hope to get your comments, whether or when it is possible to replace container image in devfiles to support P and Z. Thanks

[2020-09-15 11:34] amitkrout commented on #3897
Unable to reproduce it on [beta-1](https://github.com/openshift/odo/releases/tag/v2.0.0-beta-1) bits
/close

[2020-09-15 11:34] #3897 closed

[2020-09-15 12:21] kadel commented on #3933
@johnmcollier, As far as I know, they don't handle that, as they don't have v2 support and this was not in v1 :-/
One solution for this could be to just clone the whole repo to a temporary directory and then copy just `sparseCheckoutDir`. This would work for `starterProject` but not for `project` as in that case, the directory should stay as a cloned git repo. And from what I read about sparse che

[2020-09-15 12:36] scottkurz commented on #3923
It seems like @johnmcollier made the same point I was going to make, that the **components[0].container.endpoints[0]**
should be updated to add the "exposure: public" pair, etc., rather than adding a new endpoint.   (I'm just restating since the original problem seemed a little different).

As one more point, let me note that the command:  `odo url create --port 9080` deletes the two entries (whic

[2020-09-15 13:33] mohammedzee1000 opened #3953 "Setup periodic testing on internal openstack"
We need to setup odo periodic tests on internal openstack

[2020-09-15 13:41] kadel commented on #3933
`revision` is not fully implemented yet :-(

The only way how we can fix it right now is to go with option 1 (separate repo)

[2020-09-15 14:33] #3729 closed

[2020-09-15 14:33] #3868 closed

[2020-09-15 14:37] johnmcollier opened #3955 "Determine if we want to keep Docker support in experimental mode, or disable it"
~As discussed on today's odo contributor's call, for the time-being, let's hardcode the `pushtarget` preference in odo to Kube, and don't allow it to be set to `Docker`~

The Docker support in odo is currently not being developed, and is not feature-equivalent with a number of v2 odo features that are available when using Kube/OpenShift. We should determine if we can safely disable it or if there'

[2020-09-15 15:18] cdrage commented on #2777
With the exception of https://github.com/openshift/odo/issues/3749 I have addressed all above concerns with regards to Kubernetes references on our home page.

As discussed with DV, we went through (most) of the documentation with regards to OpenShift references and ensured that it says Kubernetes (first) and then OpenShift.

[2020-09-15 15:23] kadel commented on #3947
I view it similarly as what we do with url. We have `odo url` as an abstraction for Ingress and Routes. So here I look at the project not as OpenShift project, but as a generic project term that has nothing to do with OpenShift projects, but it is more abstraction on top of Kubernetes Namespaces and OpenShift projects.

[2020-09-15 15:26] kadel commented on #3955
A few people expressed a desire to keep Docker in experimental mode until we have a clear view of all implications

[2020-09-15 19:25] yangcao77 commented on #3923
should be updated to add the "exposure: public" pair, etc., rather than adding a new endpoint. (I'm just restating since the original problem description seemed a little different).

I don't think this is a valid approach. We use the endpoint name as the URL name, which is suppose to be unique. Creating a new url with a new name should not affect any existing URLs, even they are using the same por

[2020-09-15 19:30] maysunfaisal opened #3961 "Handle edge case when index file is commented in .gitignore"
/kind bug

**Output of `odo version`:** master

- comment out `#.odo/odo-file-index.json` in `.gitignore`
- run odo push

When running file indexer during `odo push`,  odo does not add the index file to the .gitignore file because it just looks for string `.odo/odo-file-index.json`. Is this expected behaviour when user explicitly comments out the index file `.odo/odo-file-index.json`?

I discovere

[2020-09-15 20:06] johnmcollier commented on #3923
should be updated to add the "exposure: public" pair, etc., rather than adding a new endpoint. (I'm just restating since the original problem description seemed a little different).

So, I understand the reasoning for this approach (being able to expose both secure and non-secure URLs on the same port), but if we `odo url create` or `odo url create --port <port>` for a port that's already in the d

[2020-09-15 20:33] maysunfaisal commented on #3961
PR https://github.com/openshift/odo/pull/3942 to fix this issue

[2020-09-15 21:59] elsony commented on #3933
@scottkurz ^^ We only have option 1 for the time being.

[2020-09-16 00:36] yangcao77 commented on #3923
My question is, what if there are multiple existing endpoint using the same port already? Then which one should I update when there is no url name specified?

 ✓  Waiting for component to start [10ms]
 ⚠  Unable to create ingress, missing host information for Endpoint http-3000, please check instructions on URL creation (refer `odo url create --help`)

You are seeing two endpoint sharing the same

[2020-09-16 02:56] johnmcollier commented on #3923
If no URL name is specified and there's multiple endpoints in a devfiles using the same port, then I think we should just throw an error.

But I think that's the problem here. By not updating the existing endpoint entry when we try to create a URL for that port, we're creating a scenario that's confusing to users on Kube. It makes it seem like URL creation failed on successive pushes and that the

[2020-09-16 04:37] #3451 closed

[2020-09-16 05:55] dharmit commented on #3953
Can we also try to run our regular integration tests on that cluster? Mentioning it here since we discussed this in Cabal and no one seemed to object to the idea.

[2020-09-16 07:45] kadel commented on #3377
this was resolved, it is not blocked anymore

[2020-09-16 09:12] #3595 closed

[2020-09-16 10:21] sarveshtamba commented on #3754
Any updates on this one? Started seeing this issue again.

[2020-09-16 10:55] dharmit opened #3965 ""odo link" doesn't link a devfile component with a service catalog backed service"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
1. Created & pushed a nodejs component
1. Started a service on minishift from Service Catalog
1. Tried creating a link between the two.

## Actual behavior
Fails with below message:
[code]

## Expected behavior
It should link the two

/area component
/kind bu

[2020-09-16 10:58] dharmit commented on #3965
I have pushed a fix for this to [my branch](https://github.com//dharmit/odo/tree/fix-3965). The catch here is that component's URL fails to load after doing `odo link`. And if we do `odo push`, the link information gets deleted. Not spending more time on this since it's "3.x + devfile".

Would make sense to spend more cycles if there are users looking for this.

[2020-09-16 11:14] kadel commented on #3754
@sarveshtamba because your previous comment where you mentioned that this is no longer blocker, we decreased the priority of this issue. None is currently looking into this

[2020-09-16 12:23] girishramnani commented on #2972
we need to decide on docker support

[2020-09-16 12:26] girishramnani commented on #1236
is this something we would like to consider @sspeiche

[2020-09-16 13:48] girishramnani commented on #2638
we need to decide if we need to remove `odo url describe` or implement both

[2020-09-16 13:50] scottkurz opened #3968 "odo rewrite should preserve "unknown" properties of 'metadata' (and other optional properties?) per devfile schema"
/kind bug

Per devfile spec schema:
https://devfile.github.io/devfile/_attachments/api-reference.html

the 'metadata' properties are optional.

Currently, in 2.0.0-beta-1, the "unknown" properties will be lost during the rewrite that happens, for example, in `odo url create ...`

## What versions of software are you using?

**Operating System:**  Win 10

**Output of `odo version`:**  2.0.0-beta-1

[2020-09-16 14:04] johnmcollier commented on #3778
Blocked til https://github.com/openshift/odo/pull/3912 is merged

[2020-09-16 14:05] johnmcollier commented on #3886
Blocked til https://github.com/openshift/odo/pull/3908 is merged

[2020-09-16 14:59] johnmcollier commented on #3759
/assign

[2020-09-16 17:01] mohammedzee1000 commented on #3953
We can definitely run them, but we have the same problem that we had with container pipeline service, we cannot communicate.  So no webhooks from GitHub. Girish said he will try to chase that down on the side and I will also look into options.

Not having webhooks also means we cannot do stuff like block merge etc

Right now, the only option is polling, even then logs will not be available to thos

[2020-09-16 18:07] amitkrout commented on #3952
verified [beta-2](https://github.com/openshift/odo/releases/tag/v2.0.0-beta-1) bit on macOS host with one symlink issue - https://github.com/openshift/odo/issues/3797.

[2020-09-16 19:18] cdrage opened #3970 "Update installation page to include instructions for VSCode / IDE's"
/kind documentation

## What mistake did you find / what is missing in the documentation?

There is zero documentation on how to install odo on an IDE

## What is the relevance of it?

We should be updating: https://odo.dev/docs/installing-odo/ with instructions on how to install to the IDE.

[2020-09-16 19:20] cdrage opened #3971 "Update debugging page on how to debug via application + IDEs"
/kind documentation

## What mistake did you find / what is missing in the documentation?

There are no instructions on how to debug via the IDE. We should add some material / instructions on how to do so.

## What is the relevance of it?

No IDE references / how to properly debug.

[2020-09-16 20:12] #3778 closed

[2020-09-16 20:12] #3925 closed

[2020-09-17 05:13] dharmit opened #3973 "Make "odo link" compatible with the breaking changes introduced by Service Binding Operator"
## Which functionality do you think we should add?
The Service Binding Operator project introduced breaking changes in https://github.com/redhat-developer/service-binding-operator/pull/608 which will cause the "odo link" between a component and an Operator backed service to fail. odo is not compatible with the breaking changes introduced in the Operator.

## Why is this needed?
It is needed to mak

[2020-09-17 08:24] #3703 closed

[2020-09-17 08:24] #3819 closed

[2020-09-17 08:24] #3961 closed

[2020-09-17 08:24] #3919 closed

[2020-09-17 09:05] sarveshtamba commented on #3454
@amitkrout any updates on this one and #2877 ?

[2020-09-17 09:08] dev-gaur commented on #3933
From what I could infer from the above discussion,

`sparseCheckoutDir` is being replaced by the `subDir` property. And the `subDir` property would try to comply with how git sparse checkout works ( https://github.blog/2020-01-17-bring-your-monorepo-down-to-size-with-sparse-checkout/ )

@kadel @girishramnani @johnmcollier @elsony  can you reassure on this? please correct me if I'm wrong.

[2020-09-17 09:12] dev-gaur commented on #3377
All the devfiles have been amended with debug command. E2E scenarios remain.

[2020-09-17 09:52] kadel commented on #3933
yes to first part no to second part :-)
It will be renamed to `subDir` because it won't comply with how git sparse checkout works.

[2020-09-17 10:08] dev-gaur commented on #3933
Some more clarity now after a discussion with @kadel .. `subDir` property would simply clone the specified sub-directory on the project's base directory path.

Waiting on https://github.com/devfile/api/pull/129 before moving ahead with this.

[2020-09-17 10:30] girishramnani commented on #3767
This has been resolved by https://github.com/openshift/odo/pull/3857

[2020-09-17 10:30] #3767 closed

[2020-09-17 11:13] amitkrout commented on #3454
TBH no progress so far even we are hitting it on prow CI too. I am adding it to the current spring planning to see some progress on this flake.

[2020-09-17 11:16] dharmit commented on #3965
@girishramnani unassigned myself from this based on our discussion.

[2020-09-17 11:17] amitkrout commented on #2877
once a while we are hitting this issue on prow CI. So i am adding it to the current sprint planning to see some progress on this flake.

[2020-09-17 11:57] #3711 closed

[2020-09-17 11:57] #3749 closed

[2020-09-17 11:57] #3882 closed

[2020-09-17 13:04] mohammedzee1000 commented on #3953
I have setup a periodic job poc that tests unit tests and build binary on fedora 31 in PSI.
Next target:
 - add rest of tests
 - add win and mac

[2020-09-17 13:50] girishramnani commented on #2638
as per discussion with @mohitsuman - the `list` commands for url and storage are enough. we need to remove the `odo url describe` to remove any confusion

[2020-09-17 13:54] kadel commented on #2877
@amitkrout
there have been some additional logs added recently to help debug this, can you link to logs or jobs where this happened more recently?

[2020-09-17 15:43] cdrage commented on #2777
https://github.com/openshift/odo/issues/3749 has been merged and has also been merged to add the document to the website.

We can safely close this issue now!

[2020-09-17 15:43] #2777 closed

[2020-09-17 16:53] #2834 closed

[2020-09-17 16:53] #2867 closed

[2020-09-17 16:53] #2878 closed

[2020-09-17 16:53] #2887 closed

[2020-09-17 18:33] elsony commented on #3911
Given the scope of the change, this item is going to be a post v2 GA item to avoid introducing potential instability to the GA code.

[2020-09-17 18:57] maysunfaisal commented on #3781
I had a question regarding a use case and wanted to see how we should respond to it. Consider the situation:

### devfile snippet:
[code]

### explanation:
When a user overwrites `PROJECT_SOURCE` via devfile env. That would mean it would take precedence over a component container's  `sourceMapping` and project's `clonePath` and we would need to overwrite the container's volume mount path to this c

[2020-09-17 19:37] johnmcollier commented on #3781
@maysunfaisal So, here are my thoughts:

I actually don't think we should allow `$PROJECT_SOURCE` to be customized by the user for two reasons:
* [As per the schema](https://github.com/devfile/api/blob/master/deploy/crds/workspace.devfile.io_devworkspaces_crd.yaml#L218), its value directly depends on the value of `$PROJECT_ROOT`, so it doesn't make sense for the two to be completely different valu

[2020-09-17 20:09] elsony commented on #3781
+1 on no point for user to override the $PROJECT_SOURCE. By doing that, the user is introducing inconsistent configuration within the devfile. Source mapping and the clone path decide where to do sync code and while $PROJECT_SOURCE give you the final value on where you can find the source. If you override $PROJECT_SOURCE to a different value, the config basically say clone my source to one locatio

[2020-09-17 22:54] #2703 closed

[2020-09-18 04:07] zhengxiaomei123 commented on #3671
Hi @yselkowitz , Is there any plan to support devfile container images for multi-arch ? The images are `quay.io/eclipse/che-quarkus:nightly` and `quay.io/eclipse/che-java11-maven:nightly` and so on in repo `quay.io/eclipse/` .  Those images are required by odo using devfiles to create applications. Thanks.

[2020-09-18 06:56] prietyc123 opened #3980 "Enable service catalog on minikube using PSI cluster"
Running service catalog tests on 3.11 PSI cluster requires service catalog to be enabled.
https://issues.redhat.com/browse/ODO-40

[2020-09-18 07:05] adisky commented on #3910
#3930 resolves this

[2020-09-18 07:05] #3910 closed

[2020-09-18 08:23] amitkrout commented on #3953
As per our last bjn call i am adding @prietyc123 to work on setting up mac and Wnidows host. We got a mac mini server and @prietyc123 is following up that front to set it up in bangalore lab from odo side. Also new windows host will  be pre and post configured with certain requirement to test run.

[2020-09-18 08:51] rgarg1 commented on #3671
@mohammedzee1000 @kadel For your visibility.

[2020-09-18 10:55] #2700 closed

[2020-09-18 11:45] prietyc123 opened #3983 "make goget-tools fails due to go mod dependency"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Failure on CI

[code]
I have also verified it locally and hitting the same failure.

## Actual behavior

It seems like issue is in vendor file github.com/openshift/library-go@v0.0.0-20200407165825-2e79bd232e72 which has some dependency.

[2020-09-18 12:27] #3970 closed

[2020-09-18 13:20] kadel commented on #3983
fix in  https://github.com/openshift/odo/pull/3984

[2020-09-18 15:08] sarveshtamba opened #3986 "Need `--env` flag for odo create without `--s2i` flag"
Saw the following error while running odo test suites using --env flag to set http_proxy and https_proxy variables:
[code]
Expected result: `--env` flag for odo create should be allowed without `--s2i` flag

[2020-09-18 15:10] sarveshtamba commented on #3986
/area system-pz

[2020-09-18 15:11] sarveshtamba commented on #3986
@amitkrout please have a look and resolve as appropriate.

[2020-09-18 15:30] prietyc123 commented on #3953
Tasks need to be done for periodic jobs:

- [ ] Set up the machine with minimal configuration
     - [x] fedora
     - [ ] Windows
     - [ ] macOS
- [ ] Run unit tests
     - [x] fedora
     - [ ] Windows
     - [ ] macOS
- [ ] Run integration and e2e tests
     - [ ] fedora
     - [ ] Windows
     - [ ] macOS

[2020-09-18 17:16] #3983 closed

[2020-09-18 18:44] yangcao77 commented on #3968
/assign

[2020-09-18 21:21] #2638 closed

[2020-09-19 05:50] #3948 closed

[2020-09-19 05:50] #3947 closed

[2020-09-19 05:50] #3871 closed

[2020-09-19 09:27] #3923 closed

[2020-09-19 13:31] #3644 closed

[2020-09-19 18:52] #3794 closed

[2020-09-19 23:01] #2285 closed

[2020-09-20 23:05] #2616 closed

[2020-09-20 23:05] #2866 closed

[2020-09-20 23:05] #2979 closed

[2020-09-21 03:48] jichenjc commented on #3986
looks like this is not a p/z issue ...
which test are you running?

from https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/create.go#L299
looks like provide --env but no --s2i flag ... maybe add a `--s2i` to the test cases?

[2020-09-21 04:28] sarveshtamba commented on #3986
@jichenjc yes you are right, this is not a p/z issue, will try to remove the `system-pz` flag.
Thanks, I will try your suggestion of adding `--s2i`.

[2020-09-21 04:31] sarveshtamba commented on #3986
/remove-area system-pz

[2020-09-21 05:52] dharmit opened #3992 ""odo link -h" shows same message for 3.x & 4.x clusters"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `masater`

## How did you run odo exactly?
`odo link -h` on 3.x & 4.x clusters

## Actual behavior
It shows the same help message for both cluster types

## Expected behavior
It should show Service Catalog specific message for 3.x cluster and Operator Hub specific message fro 4.x cluster

/area ser

[2020-09-21 05:56] sarveshtamba commented on #3945
Was able to resolve this using `--env HTTP_PROXY=http://192.168.25.225:3128 --env HTTPS_PROXY=http://192.168.25.225:3128` while executing odo create

[2020-09-21 05:56] #3945 closed

[2020-09-21 07:29] prietyc123 opened #3994 "Openshift 4.6 code freeze interoperability testing"
/area testing
/priority high

Run odo master test on 4.6 cluster and report with logs.
Details : https://issues.redhat.com/browse/LPINTEROP-1273

[2020-09-21 07:59] girishramnani opened #3995 "more tests for odo list"
/kind user-story

## User Story
As a ... I want to ... So that ...

## Acceptance Criteria
- [ ] It should ....
- [ ] It should ....

## Links
- Feature Request:
- Related issue:

/kind user-story

[2020-09-21 09:50] dharmit commented on #3423
If an end-user comes with this request, we can consider adding the support. But since we plan to move away from s2i components, adding this feature doesn't help add much value presently.

[2020-09-21 09:54] dharmit commented on #3562
Since using persistent volumes would help solve more than just `odo link`, I would request we make persistent volumes default.

[2020-09-21 10:57] sarveshtamba commented on #3905
This appears to be a OCP cluster specific issue, not encountering this on another OCP cluster. Closing this for now, will re-open if required.

[2020-09-21 11:40] #3992 closed

[2020-09-21 12:51] cdrage commented on #3887
I've update the main website @adisky to be more neutral / avoid over-using "Devfile" in the titles / descriptions.

I'm closing this issue. Please re-open if there are any further changes you'd like.

[2020-09-21 12:51] #3887 closed

[2020-09-21 14:30] prietyc123 commented on #3953
We have setup a windows vm with high end configuration, installed the pre-req. But facing few challenges like:
- ssh to windows (Releng-key failed to provide password less auth on windows. Though we have work around by passing password in the database, but need to figure out the long term solution)
- Jenkins build trigger errors out as makefile and gcc path does not reflect on cygwin (Although all

[2020-09-21 14:41] mohammedzee1000 commented on #3953
I have successfully installed gcc, now, but in process of investigation, broke cygwin.

Now we know that cygwin, which is pre-installed should not be touched, instead, install mingw separately which provides gcc (apparently mingw is not installed correctly in cygwin)

By contradicting behaviour, we mean $PATH set in WIndows Environment Variables are not being taken in cygwin, which shows up with i

[2020-09-21 14:47] prietyc123 commented on #3986
@sarveshtamba I tried `odo create` command with `--s2i` and `--env`. It works fine for me.

[code]
Closing this issue. Please feel free to open it if you still face the issue.

/close

[2020-09-21 15:11] sarveshtamba commented on #3986
@prietyc123 We need `--env` flag for `odo create` **without** `--s2i` flag.
[code]
/reopen

[2020-09-21 15:11] sarveshtamba commented on #3986
/reopen

[2020-09-21 19:13] maysunfaisal opened #4004 "devfile volume component size bug"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

## How did you run odo exactly?
odo push

## Actual behavior
[code]

## Expected behavior
I should be able to define a vol component without a size since its not mandatory. But how is this possible with the new devfile schema where `name` is on the same level as `volume`? 🤔

[code]

[2020-09-21 19:20] maysunfaisal commented on #4004
I can skip the size with an empty string, not sure how I feel about that. But probably thats the only option?
[code]

[2020-09-21 19:26] maysunfaisal opened #4005 "component volumeMount path validation error"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

## How did you run odo exactly?
odo push

## Actual behavior
[code]

## Expected behavior
should default as per https://github.com/openshift/odo/blob/master/docs/file-reference/index.md#volumemountsobject?

## Any logs, error output, etc?

This was my devfile:
[code]

I am not sure i

[2020-09-21 19:35] johnmcollier commented on #4004
You can also skip with empty `{}` e.g.:
[code]

[2020-09-21 19:48] johnmcollier commented on #3955
Discussed on a call last week. We'll keep it in for now, behind experimental mode and re-evaluate it in the future if needed.

Gonna close out this issue for now, feel free to re-open when this comes up again in the future

[2020-09-21 19:48] #3955 closed

[2020-09-22 03:52] sarveshtamba commented on #3491
Will track this common issue in #3454 .

[2020-09-22 03:52] #3491 closed

[2020-09-22 03:53] sarveshtamba commented on #3497
Will track this common issue in #3454 .

[2020-09-22 03:53] #3497 closed

[2020-09-22 03:54] sarveshtamba commented on #3530
Will track this common issue in #3454 .

[2020-09-22 03:55] sarveshtamba commented on #3531
Will track this common issue in #3454 .

[2020-09-22 03:56] #3531 closed

[2020-09-22 03:57] sarveshtamba commented on #3539
Will track this common issue in #3454 .

[2020-09-22 03:57] #3539 closed

[2020-09-22 06:49] dharmit opened #4008 ""odo link" help message should not check for ClusterServiceVersion support"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
`odo link -h` checks for backing cluster's ability to support ClusterServiceVersion and prints help message accordingly. This compels a connection with the cluster at the time of doing `odo create` which we're trying to address in #3811 via #3825. More discus

[2020-09-22 07:15] dharmit opened #4009 "Print environment variables added to then component when it is linked with an Operator backed service"
## Which functionality do you think we should add?
When connecting to a service backed by Service Catalog using `odo link`, odo prints the environment variables injected into the component as a result of the linking process. But it doesn't print these when linking with an Operator backed service

## Why is this needed?
It is needed because it helps the developer understand what environment variabl

[2020-09-22 07:35] dharmit opened #4011 ""odo link -h" output is too long to comprehend"
At the moment, `odo link -h` output is very long. We should consider reducing the number of scenarios/examples in the output to make it more understandable for an end-user.

A command's help message should not become a substitute for documentation. Detailed scenarios should be covered in documentation.

/kind cleanup
/area service-operators
/area component