[2020-03-10 16:19] kadel commented on #2285
Now when we have an `env.yaml`  where odo stores environment-specific configurations
 (https://github.com/openshift/odo/pull/2636)

We could do what is  described in  https://github.com/openshift/odo/issues/2684

Users will have the option, they can just always use the current namespace as defined in `KUBECONFIG`, or set it in `env.yaml` using `odo config set` to make sure that they always use the

[2020-03-10 17:24] johnmcollier opened #2697 "CheckForExistence in helper_oc.go only checks for routes"
I was poking through the integration test code and saw that `CheckForExistence` in `test/helper/helper_oc.go` doesn't actually work as intended:
https://github.com/openshift/odo/blob/9b3c652fdf9b155273c06909165fa5dc48d9e858/tests/helper/helper_oc.go#L434-L439

It hardcodes the resource type to `routes` rather than the resource type that was passed in, so all of these checks in `test/integration/co

[2020-03-10 17:49] #2539 closed

[2020-03-10 20:36] rajivnathan commented on #2661
Spoke to John about this, he mentioned his sync PR may resolve this so I'll try to reproduce this once https://github.com/openshift/odo/pull/2681 is in to see if it's still an issue.

[2020-03-10 23:23] #2452 closed

[2020-03-11 03:45] jichenjc opened #2700 "[question] CI running environment"
[kind/Feature]

## Which functionality do you think we should add?
currently the CI travis is running with openshift v3.11 image hosted
https://hub.docker.com/r/openshift/origin/tags

do we plan to move to openshift4 in the near future ?
[code]

## Why is this needed?

[2020-03-11 05:42] mohammedzee1000 commented on #2540
That would depend on if we can get something that can talk to both sides, like a public Jenkins that can talk to internal resources, for instance

[2020-03-11 06:42] mik-dass opened #2701 "Debug using devfile v2"
## User Story
As a developer I want to debug my component so that I can resolve bugs and use it for other cases.

## Acceptance Criteria
- [ ] It should have a command to start the component in debug mode
- [ ] It should port-forward the given port or auto select a default one
- [ ] It should have a command to turn off debug mode for the component

## Links
- Feature Request:
- Related issue:

/ki

[2020-03-11 07:31] amitkrout commented on #2700
@jichenjc We have already configure our CI for 4.* cluster, but these 4.* cluster are not running on travis instances. We are using openshift prow for spinning up 4.* cluster on aws instances and then running out test against that cluster. Here is the job configuration location - https://github.com/openshift/release/tree/master/ci-operator/config/openshift/odo

So each pr is tested on 3.11 (travis

[2020-03-11 07:38] jichenjc commented on #2700
thanks for the info ,this is very helpful to me :)

close this issue~

[2020-03-11 08:32] adisky commented on #2689
It is failing here https://github.com/openshift/odo/blob/master/pkg/odo/genericclioptions/context.go#L363, if `component name` is specified and not present in cluster it throws error. Error is thrown here considering component name specified here does not exist in current project/application, but there could be a case component is `not pushed`,  we can list this from local config, provided  specif

[2020-03-11 08:36] kadel commented on #2514
@amitkrout What is status on this?

[2020-03-11 08:36] mik-dass commented on #2663
The problem is that there is no code in the `/tmp/src` folder due to changes in the recent builder images. Looking at the logs
[code]
something in the assemble script in the builder, tries to move files from the `/tmp/src` folder and since it's empty, it errors out.

[2020-03-11 08:37] kadel commented on #2478
@amitkrout What is status on this?

[2020-03-11 08:42] mik-dass commented on #2639
Due to https://github.com/openshift/odo/issues/2663#issuecomment-597507977, the `/tmp/src` folder is empty. Thus the test scenario fails because we are using hard coded values in the test script https://github.com/openshift/odo/blob/1edac87c8524ff83e49ba3c2bf4f04fcdc0b5968/tests/integration/cmd_push_test.go#L288 We need to change them and replace them with env vars.

[2020-03-11 09:06] #2461 closed

[2020-03-11 09:20] mik-dass commented on #2664
On 4.4 even `oc` doesn't work properly. @amitkrout and me started a port-forwarding session and pinged http://localhost:5858 and it failed with the same errors as above.
[code]

[2020-03-11 10:20] amitkrout commented on #2664
@girishramnani So it seems the problem itself lies in the upstream. May we need to create an upstream issue to track it, But before that can you cross verify from your end once.

[2020-03-11 10:32] kadel commented on #2669
I would probably put `adapters` to `pkg/adapters`.

[2020-03-11 10:57] adisky commented on #2682
We are adding `ownerReference`  of `DeploymentConfig` to the `s2idata PVC` https://github.com/openshift/odo/blob/master/pkg/occlient/occlient.go#L3067
So when user requests to delete a component, `DeploymentConfig` gets deleted immediately,  and `s2idata PVC` is deleted by Kubernetes Garbage Collector, so there is little delay in deletion of PVC.

We can control the behavior of GarbageCollector in

[2020-03-11 11:29] kadel commented on #2688
Yes, and this stays as it is.

Nope ;-)

What Elson is proposing is just for when the devfile is used (ODO_EXPERIMETNAL=true).
For `LocalConfig` (s2i builder image-based components ) odo will still use `.odo/config.yaml`

[2020-03-11 11:50] girishramnani commented on #2696
it seems the `--project` is also not shown in the equivalent command when provided

[2020-03-11 11:59] adisky opened #2703 "Add proposal for odo integration with pipelines"
Add proposal for pipeline support in odo.

## Acceptance Criteria
- [ ] It should describe the overall architecture for integrating pipelines with odo.
- [ ] It should describe the implementation plan.
- [ ] It should list Use Cases.

## Links
- Feature Request: #1238
- Related issue:

[2020-03-11 12:05] girishramnani commented on #2691
I tried creating a mongodb ephemeral using the console and the secret created was as expected
![image](https://user-images.githubusercontent.com/6551988/76415120-a4521400-63be-11ea-9200-2f91823a3f8c.png)

[2020-03-11 12:18] girishramnani commented on #2691
The reason why Veer was getting different secrets is because there are two kinds of mongo services in the service catalog -
1 - `dh-mongodb-apb `
2 - `mongodb-persistent `

[2020-03-11 12:20] girishramnani commented on #2691
and also the secrets are already mapped as per the template
![image](https://user-images.githubusercontent.com/6551988/76416265-be8cf180-63c0-11ea-880d-75b8f176f2fe.png)

[2020-03-11 12:28] girishramnani commented on #2603
we need to resolve these issues https://github.com/openshift/odo/issues?q=is%3Aissue+is%3Aopen+label%3Anext-oc-version before we could add nodejs:12 as supported image

[2020-03-11 12:48] amitkrout opened #2704 "Disable CI run only for doc changes pr"
## User Story
As a contributor i can send odo dev doc pr. I would expect CI should not run for doc as we are not building doc as part of CI run.

## Acceptance Criteria
Doc pr should merge without involving the test run

- [x] Travis CI - https://github.com/openshift/odo/pull/2757 (partially solving the purpose - It just documented the steps, it does not enforce it)

- [ ] Prow

## Links
- Feature

[2020-03-11 12:58] rajivnathan commented on #2654
@maysunfaisal and I have done some investigation on a solution with nohup vs supervisord. We found that a lot of what we'd want to do with nohup is already handled nicely by supervisord. The initial apprehension about using supervisord was around whether it would work with a wide variety of container images but I was able to use it on a plain alpine container which is pretty bare bones so I'm less

[2020-03-11 13:08] girishramnani commented on #2514
This issue https://github.com/openshift/odo/issues/2513 was the outcome.

[2020-03-11 13:08] #2514 closed

[2020-03-11 13:14] girishramnani commented on #2478
Issue https://github.com/openshift/odo/issues/2513 was opened as an outcome of this issue

[2020-03-11 13:14] #2478 closed

[2020-03-11 13:14] mohammedzee1000 commented on #2642
This seems to b very common with nodejs apps, I could move to test all now flag with python apps but that will only mitigate the problem, not fix it

[2020-03-11 13:15] mohammedzee1000 commented on #2642
@kadel ^

[2020-03-11 13:20] kanchwala-yusuf commented on #2669
@kadel, @rajivnathan :
Currently, the devfile parser related stuff is spread across multiple packages (_viz._ `parser`, `versions`). I was wondering if it would make sense to move all the devfile parser related packages into a single package `pkg/devfile/parser`.

And I would suggest to keep all the devfile related packages within `pkg/devfile` to keep the devfile related functionality at one plac

[2020-03-11 13:35] kadel commented on #2664
No this has nothing to do with upstream.

Checking how nodejs is run in "nodejs:latest" you can see that it is not run in "debug mode"
[code]

The reason is that nodejs:latest is not recognized as a supported component in 4.4 cluster. So it is not executed in debug mode.

[code]

[2020-03-11 13:40] mohammedzee1000 commented on #2540
It might be possible to use API v3 calls to set env for specific build. If we can get this information, we could potentially avoid the loops

[2020-03-11 13:43] kadel commented on #2646
I'm able to reproduce this every time
[code]

[2020-03-11 14:00] mohammedzee1000 commented on #2540
Note @amitkrout will be doing the work :)

[2020-03-11 14:08] mohammedzee1000 commented on #2704
For Travis https://docs.travis-ci.com/user/customizing-the-build/#skipping-a-build maybe?

[2020-03-11 14:12] kadel commented on #2688
Yes, but only for devfile components. This is what Elson is proposing.

I've added 4 more acceptance criteria that should make this clearer.

But I'm not convinced that this is a good approach.

@elsony Do you think that it makes sense to store env variables in the environment-specific config file? Shouldn't be all env variables captured in devfile.yaml?

The way I see it `odo config set --env key

[2020-03-11 15:02] mohammedzee1000 commented on #2573
Will do

[2020-03-11 15:46] #2472 closed

[2020-03-11 17:01] kadel commented on #2684
Let me turn this into user story
## User Story
- as odo user I want to use my own namespace and not the namespace. (If I `git clone` repository with devfile.yaml I should not be forced to use namespace that is defined in devfile.yaml)
- as odo user that works on two separate components in different projects, I don't want to be forced to always switch namespaces using kubectl or oc. Odo should reme

[2020-03-11 17:51] elsony commented on #2688
I don't think we should store any true environment specific config in the devfile.yaml. It will make the devfile not portable and users can't check that into team repository.  Having said that, there are some env setting that fits into the devfile, e.g. a devfile writer can have some containers rely on some env variable to change the behaviour of the build. Strictly speaking, that's part of the st

[2020-03-11 19:38] rajivnathan opened #2705 "Determine how odo should handle multiple projects in a devfile"
## User Story

As a user, I want to be able to use a devfile that has multiple projects defined because devfiles allow this. Need to determine how odo should handle multiple projects in a devfile.

This follows from the discussion here: https://github.com/openshift/odo/pull/2681#issuecomment-597783079

## Acceptance Criteria
- [ ] When a single project is defined the source should be synced to `/p

[2020-03-11 19:39] johnmcollier commented on #2705
@rajivnathan Maybe we want this to be a user story?

[2020-03-11 22:36] johnmcollier opened #2706 "[Devfile] odo catalog can't list components on non-OpenShift clusters"
/kind bug

## What versions of software are you using?
odo from master

**Operating System:**
macOS

## How did you run odo exactly?
1. Started Minikube
2. Enabled experimental mode
3. Ran `odo catalog list components`

odo reported the following error:
[code]

Now, this is happening since I'm not running on OpenShift and thus there are no imagestreams that can be retrieved. Since odo2 and its dev

[2020-03-11 23:29] johnmcollier commented on #2706
This one's a little tricky:
- With experimental mode enabled, we can list both "odo classic" image stream components from OpenShift **and** devfile components,
- **But** we can only use devfile components when doing an `odo push` with experimental mode enabled.

So I think we've got at least a couple options:
1) Remove the error check from https://github.com/openshift/odo/blob/master/pkg/odo/cli/c

[2020-03-11 23:38] dgolovin opened #2707 "'odo catalog list components -o json' does not have `imageStreamRef` in json output after update from v1.0.x to v1.1.0"
/kind bug
## How did you run odo exactly?
`odo catalog list components -o json`
imageStreamRef

## Actual behavior
`odo catalog list components -o json` for v1.0.x prints json with `imageStreamRef` attribute for every component. It is, I guess, copy of imageStream resource manifest.
`odo catalog list components -o json` for v1.1.0 does not have ``imageStreamRef` anymore. That is backward compatibi

[2020-03-12 07:17] girishramnani commented on #2534
I have done some progress on this but then got busy with other issues. will pick this up soon

[2020-03-12 07:18] girishramnani commented on #2693
This is currently expected behavior as we don't want to delete user defined pvcs when user deletes the component.

[2020-03-12 07:19] girishramnani commented on #2693
so this is not a bug

[2020-03-12 07:45] adisky opened #2709 "Redundant error wrapping at many places in odo"
/kind code-refactoring

## How did you run odo exactly?
We have redundant error wrapping at various places in odo, e.g. while creating storage we are wrapping error in both `occlient` and `storage` package. I think wrapping error is not required in client packages, it could be done on the layers above. Returning bare errors from client packages would help in checking error codes/status.

https://g

[2020-03-12 07:51] mohammedzee1000 commented on #2540
I feel short team we should start with travis + prow and then once we have 4x cluster and the Jenkins story figured out (optionally DNS as well) then we can move it all to PSI

[2020-03-12 09:16] kadel commented on #2607
/triage needs-more-information

[2020-03-12 10:56] adisky opened #2710 "`odo delete` is not deleting user created storage"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
odo component has following storage.

[code]
When `odo delete` command is run, it gives message of deleting storage but it is not actually deleting it.
[code]

## Actual behavior
What should be the behavior of odo when `odo delete` command is run.  It should

[2020-03-12 13:08] kadel commented on #2707
/priority high

[2020-03-12 13:31] adisky commented on #2710
From the Integration tests[1] it is evident that we want to delete user pvc with `odo delete`
[1 ]https://github.com/openshift/odo/blob/master/tests/integration/component.go#L834.

The above tests is also missed to catch that pvc is not deleted
cc @girishramnani  as discussed on slack we should go with option2, I am not sure how to proceed for `odo push` after that.

[2020-03-12 14:06] boczkowska commented on #2513
The docs PR has been approved and merged - https://github.com/openshift/openshift-docs/pull/20227

[2020-03-12 14:09] amitkrout commented on #2189
/close
Doc merged in upstream - https://github.com/openshift/openshift-docs/pull/20227

[2020-03-12 14:09] #2189 closed

[2020-03-12 14:09] amitkrout commented on #2513
/close
Doc merged in upstream - https://github.com/openshift/openshift-docs/pull/20227

[2020-03-12 14:09] #2513 closed

[2020-03-12 14:42] #2697 closed

[2020-03-12 15:27] girishramnani commented on #2635
we need to consider how we would handle conflicting devfiles ( having same named devfiles ) in different devfile registries.

[2020-03-12 16:03] GeekArthur commented on #2635
Yes, I think the rough design would be in our metadata we can append devfile registry information to devfile to address this, so should be something like:

[code]

[2020-03-12 18:08] girishramnani commented on #2635
That would resolve the conflict while storing them, but how would be decide which one the user wants? Would the user provide the whole <registry>/<devfile> Combination or would we select the registry which was added first?

[2020-03-12 18:20] GeekArthur commented on #2635
That conflict problem can be resolved by our original draft design here: https://github.com/openshift/odo/issues/2608#issuecomment-586915551, which the current workspace/environment only sticks to one registry via preference/environment configuration (TBD).

[2020-03-12 18:34] johnmcollier opened #2716 "Make `odo push` more unit testable"
/area testing
/area devfile
/assign

As it is right now, the `ExecCMDInContainer` function in both `occlient` and `kclient` isn't easily unit testable with the mock kube client API used in the tests. This makes it difficult to also unit test the functions that require execing into a container, especially for odo push and file syncing.

There's a potential solution identified in https://github.com/

[2020-03-12 19:35] GeekArthur commented on #2706
/assign

[2020-03-12 19:40] elsony commented on #2684
Based on the design discussion, we are using --project instead of --namespace for the command to make it consistent with the odo s2i scenario.  The value that we store in the env.yaml will continue to use namespace since the eventual goal is to turn the command later to use --namespace in the future.

[2020-03-12 23:15] johnmcollier opened #2717 "Devfile sync and exec support for local docker containers"
## User Story
As a user, I want to be able to sync my code changes to a Docker container running locally on my laptop. Once my code changes are synced, odo should build the source and run the application. Subsequent `odo push`'s should only sync the changed files (and remove the deleted files), then proceed to rebuild and re-run the application.

(As discussed with @elsony and team, we're breaking

[2020-03-12 23:49] #2473 closed

[2020-03-13 09:45] adisky commented on #2693
It same as https://github.com/openshift/odo/issues/2710

[2020-03-13 09:48] adisky commented on #2693
if it is expected behavior than `odo push` after `odo delete` would fail and we need to handle this in some other way.

[2020-03-13 14:00] elsony commented on #2672
Updating the command name to `devLocalnit` to clarify that command is going to run on user's local file system instead of on Kube.

[2020-03-13 14:02] elsony commented on #2582
Based on the Sprint plan discussion, we need to figure out a better name than `--createResource` to clarify that the creation/cloning of resource is on the local file system instead of creating Kube resources.

[2020-03-13 14:36] kadel commented on #2654
I guess that this most cases it will be 2 step operation (build, run) so there should probably be 2 falls (- `--run-command`, --build-command`)

Not sure that I understand this :-/

+1

Otherwise, this looks good.
Let me know if you need any help, as this is almost the same as what I implemented for "legacy components" in one of the first odo versions.

Maybe dumb idea, but I was also thinking if

[2020-03-13 14:36] kadel commented on #2654
I guess that this most cases it will be 2 step operation (build, run) so there should probably be 2 falls (- `--run-command`, --build-command`)

Not sure that I understand this :-/

+1

Otherwise, this looks good.
Let me know if you need any help, as this is almost the same as what I implemented for "legacy components" in one of the first odo versions.

Maybe dumb idea, but I was also thinking if

[2020-03-13 14:43] #2683 closed

[2020-03-13 15:03] cdrage commented on #2608
Hi @GeekArthur

To be honest, I'd like to still show unsupported, so we could potentially get outside support on improving those languages as well as showing what _perhaps_ will be supported in the future.

That's just my opinon though.

I'm going to assign this issue to you for now (unassign myself) as you've been doing an amazing job at this. Makes sense for you to take over!

[2020-03-13 15:22] cdrage opened #2719 "Simplifying URL parameters and not using camelCase (ex. tlsSecret being tls-secret)"
[kind/Feature]

## Which functionality do you think we should add?

I'm a bit late to the party, but I saw https://github.com/openshift/odo/pull/2636 be merged in a while ago.

Compared to all of our other parameters, (`--max-memory`, `--min-memory`, `--min-cpu`, etc.), the commands for URL are unconvential with the use of camel-case.

Other tools such as `oc` and `kubectl` do *not* use camelCase

[2020-03-13 15:33] cdrage commented on #2719
Ping @yunjiang29 @kadel

[2020-03-13 15:36] GeekArthur commented on #2608
@cdrage Sure, no problem! I can take this one. Personally both ways (show unsupported and doesn't show unsupported) are good for me since seems like they both have legit reasons. From the last discussion, currently by default devfile component doesn't show unsupported but s2i component show unsupported. I will leave as it is until we have further design and use this issue to just format the output

[2020-03-13 15:42] cdrage opened #2721 "ClusterHost is an incorrect parameter / term for url creation"
/kind feature

## Which functionality do you think we should add?

`--clusterHost` should be `--host` for `odo url create`.

## Why is this needed?

ClusterHost parameter for url creation is an incorrect parameter term.

The term **Cluster Host** in kubectl and oc is confusing because Cluster Host actually means Kubernetes / OpenShift "host".

It is confusing because we are specifying a domain nam

[2020-03-13 15:43] cdrage commented on #2719
Ping @yangcao77 @kadel @GeekArthur

[2020-03-13 15:43] cdrage commented on #2721
Ping @yangcao77 @kadel @GeekArthur

[2020-03-13 15:53] cdrage commented on #2285
Ah, I had forgotten we'd implemented the new `env.yaml` file.

In that case, the `env.yaml` could be set for the application via `odo config` (as what @kadel said).

Thus @kadel 's solution above works well. Unless supplied via config or by parameter, it would always use whatever has been set by default in KUBECONFIG.

What do you think @sspeiche

[2020-03-13 16:02] yangcao77 commented on #2719
/assign

[2020-03-13 16:02] yangcao77 commented on #2719
/area devfile

[2020-03-13 16:03] yangcao77 commented on #2721
/assign
/area devfile

[2020-03-13 16:38] kadel commented on #2688
Agreed, ingress domain, namespace are good examples of environment-specific configs. But environment variables are not environment-specific. Env variables are highly specific to a given application, they should be part of the application configuration, and as such, it should be captured in devfile.yaml, most of the application depend on the right env variables being set.

Agreed, devfile is much m

[2020-03-13 16:59] sspeiche commented on #2285
What @kadel outlines makes sense to me.

[2020-03-13 17:50] raguks opened #2722 "How do I login to remote openshift like in oc"
How do I login to remote openshift like in oc? May be this is assumed but took me a while to figure out.

This did not seem to be documented anywhere.
[code]
Doc here:
https://docs.openshift.com/dedicated/4/cli_reference/openshift_developer_cli/understanding-odo.html

[2020-03-16 08:25] kadel commented on #2722
/kind docs

It is mentioned in all our examples - https://docs.openshift.com/dedicated/4/cli_reference/openshift_developer_cli/creating-a-single-component-application-with-odo.html

Or in CLI reference page https://docs.openshift.com/dedicated/4/cli_reference/openshift_developer_cli/odo-cli-reference.html#login

Do you suggest that we create some special page to describe login?

[2020-03-16 10:32] dharmit opened #2723 "Instantiate an operator backed service using yaml file"
## User Story
As a user I want to edit the example (`alm-example`) used to spin up an operator backed service. This is required because:
- `alm-examples` used by odo to spin up an operator backed service are not always 100% functional in that, they contain template data which can't actually spin up a service.
- I'd like to change certain parameters in the CR before spinning up an actual service

#

[2020-03-16 11:42] mik-dass commented on #2570
https://github.com/openshift/odo/pull/2692 only solved the flake for windows.

[2020-03-16 13:09] kadel commented on #2392
I tried to multiple times using cluster running on AWS, and also using CRC. So far no luck in trying to reproduce this :-/
@dgolovin or @amitkrout  If you can reproduce this can you please share the output of the following command?
[code]

[2020-03-16 15:19] kadel commented on #1085
/reopen
/remove-lifecycle rotten

[2020-03-16 18:36] cdrage opened #2725 "Add significantly more documentation on Devfile v2 / website update / Kubernetes integration"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Although we are in the middle of implementing Devfile, we should have ample documentation on how to get started with Devfile as well as a general "hello world" example.

More is outlined in the Google doc below:

Update / add comments here!

https://docs.google.com/document/d/1k-T4tlcb2Lx21hyhJYWormga5a-Imfm

[2020-03-16 19:30] rajivnathan commented on #2654
@kadel

So we are not going to worry about executing any other commands in the devfile? ie. only build and run?

The first part of that is if the devfile creator specifically set a command for the component then that is meant to be the entrypoint for that container so we should not use `go-init` as the entrypoint otherwise there is no way for them to override the entrypoint for the container?

The

[2020-03-16 23:33] #2553 closed

[2020-03-17 10:31] #2696 closed

[2020-03-17 10:45] adisky commented on #2710
as discussed with @kadel we need to delete user created pvc with `odo delete` , as it was an input from odo users and to keep it simple..lets currently delete pvc with `odo delete`.

[2020-03-17 10:47] girishramnani commented on #2710
You can add owner reference to the pvc and that should get deleted if dc is deleted

[2020-03-17 10:54] dharmit commented on #2710
It's already there in PVC since we merged #2125.

[2020-03-17 11:05] boczkowska commented on #2563
@girishramnani .NET is not an officially supported component, right?
We can have it as a KI with a workaround, for example, but I wonder if we should document non-supported components at all. Let me know what you think.

[2020-03-17 11:09] girishramnani commented on #2563
I was also under the same confusion and I think KI with a workaround would work for now.

[2020-03-17 11:24] boczkowska commented on #2563
@girishramnani great. I'll add it to the KIs for the 4.4 release.
Thanks for bringing this to my attention.

[2020-03-17 11:36] sspeiche commented on #2468
This will be supported with devfile support for Kubernetes Deployments and Ingress. Need to add support for OpenShift Routes and DeploymentConfig.

[2020-03-17 12:21] dharmit commented on #2419
/remove-lifecycle stale

We still intend to work on this. It's just not a priority right now.

[2020-03-17 12:22] dharmit commented on #2207
/remove-lifecycle stale

[2020-03-17 12:22] adisky commented on #2710
No ownerReference being passed here :)
https://github.com/openshift/odo/blob/master/pkg/occlient/volumes.go#L16

[2020-03-17 12:47] sspeiche commented on #2327
This should be based on devfile support

[2020-03-17 13:15] dharmit commented on #2710
Umm, are you looking at the right place? I see two calls to `CreatePVC` function in `occlient.go` file and they both have `ownerReference`.

1. https://github.com/openshift/odo/blob/e170ddee351452f1b208d66364c62900a6571d0c/pkg/occlient/occlient.go#L1199

2. https://github.com/openshift/odo/blob/e170ddee351452f1b208d66364c62900a6571d0c/pkg/occlient/occlient.go#L1576

[2020-03-17 13:16] kadel opened #2727 "Add option to create Route instead of Ingress"
/kind user-story

## User Story
As an OpenShift and odo user, I want to create Route instead of k8s Ingress  So that benefit from some of the Route's additional features,  because my organization is using only Routes.

## Acceptance Criteria
- [ ] `odo push` should detect the cluster type and create a route instead of ingress for devfile components on openshift clusters.
- [ ] `odo push` should cr

[2020-03-17 13:17] kadel commented on #2727
This information should be saved in `env.yaml` as whatever to use Route or Ingress is environment-specific setting.

[2020-03-17 13:26] adisky commented on #2710
While `odo push` storage is created from here, and it is not passing `ownerRef`
https://github.com/openshift/odo/blob/2faf28420a64a238f1661560a01335c401cc32b6/pkg/storage/storage.go#L48

[2020-03-17 17:59] johnmcollier commented on #2673
This can be closed out - looks like my PR didn't close it when it was merged

[2020-03-17 17:59] #2673 closed

[2020-03-17 21:49] girishramnani opened #2728 "index file should be created/updated after the files are synced with the pod"
/kind bug

## What versions of software are you using?

**Operating System:** fedora 30

**Output of `odo version`:** `master`

## How did you run odo exactly?
- `odo create nodejs hello`
- `npm init --yes`
- `odo push` which I terminated using `Ctrl + C` in between when odo was waiting for component to start.

[code]
Now the issue here is that the `odo-index-file.json` gets created at the `Checki

[2020-03-17 23:09] #2244 closed

[2020-03-18 04:41] mik-dass commented on #2663
Looking into the assemble and run scripts for nodejs 10 and nodejs 12, they seem to be completely identical https://github.com/sclorg/s2i-nodejs-container/commit/f4fc901c317217a2329cc5fd5668c18128d0adf1. The files were only renamed.

[2020-03-18 06:14] mik-dass commented on #2607
As per discussion with @kadel , here services doesn't mean anything related to service catalog. It means kubernetes services https://kubernetes.io/docs/concepts/services-networking/service/. But our service command list services from the service catalog, do we need to create a new command or should we display such services in the same table?

[2020-03-18 06:15] mik-dass commented on #2591
@elsony @kadel @girishramnani Should this command delete the env folder and the devfile itself?

[2020-03-18 07:00] prietyc123 commented on #2641
@kadel I ran the test yesterday and today also in a loops but now I am not getting this error. Although I will be running it again and will update further.

[2020-03-18 07:26] mohammedzee1000 commented on #1871
I have registered domain `psiodo.net` on aws route53. Waiting on registration to be complete before I setup the permanent cluster

[2020-03-18 07:26] mohammedzee1000 commented on #1871
@kadel ^

[2020-03-18 07:28] mohammedzee1000 commented on #1871
@ppitonak but you still got to register for a year :(

[2020-03-18 08:03] mik-dass commented on #2663
Looking into the /usr/libexec/s2i/assemble scripts of a nodejs component for 3.11 and 4.4

3.11
[code]

4.4
[code]

[2020-03-18 08:51] kadel commented on #2664
@girishramnani  @amitkrout this has the highest priority, where we are with this?

[2020-03-18 08:53] kadel commented on #2603
no, we need to resolve this first! Some of the issues will go away when nodejs images are marked as resolved.

We need to add nodejs images into supported images and test what issues will be fixed!

[2020-03-18 08:54] kadel commented on #2663
This whole issue might be just due to the fact that nodejs image is doesn't show as supported image https://github.com/openshift/odo/issues/2603

[2020-03-18 09:38] mik-dass commented on #2663
Yes I am getting a similar feeling about this.

[2020-03-18 12:29] mohitsuman opened #2730 "Add componentType in odo list output"
/kind feature

## Which functionality do you think we should add?
`odo list -o json` should mention the specific componentType associated with that component.
e.g. `'type': 'git'`

## Why is this needed?

With the change mentioned with this PR https://github.com/openshift/odo/pull/2674 , it removes `Source` tag from the output.
The adapters workflow was using this tag to figure out the component T

[2020-03-18 13:59] rajivnathan commented on #2662
@cdrage I was wondering why I couldn't reproduce it but others could. We figured out that it has to do with ordering of things in the deployment spec when there is more than a single item in an array. In my case I had a devfile with only a single volume but others were reproducing the problem with devfiles that had two volumes.

For example, I cannot reproduce this problem with this devfile:
[code

[2020-03-18 14:09] rajivnathan commented on #2661
@kadel has found a nice solution to this problem. He has a PR incoming so I'll unassign myself.

[2020-03-18 14:27] kadel commented on #2661
/assign

[2020-03-18 16:12] raguks commented on #2722
odo documentation does not state how to specify which openshift cluster to login to. I guessed I could specify the url (odo login url). Once I specified the url of the openshift server odo login by default connects to that sever (I cant repro what happened when I tried odo login because of this default server thing). What is the format of the openshift url ? Shouldnt we document these?

Specifying

[2020-03-18 17:39] yangcao77 commented on #2721
The host we want user to specify is the cluster host, not the entire domain.
If the domain we want is `example.domain.com`, then the command should be
`odo url create example --clusterHost domain.com`

[2020-03-18 21:50] cdrage commented on #2721
"Cluster Host" is a different definition as "host" or ingress. "Cluster Host" is also not used at all within Kubernetes / OpenShift YAML.

If you want to define an ingress domain, it should just be `host` similar to Kubernetes / OpenShift YAML definitions.

I agree to switching it to just `--host`.

[2020-03-19 04:30] prietyc123 commented on #2630
This is getting affected on windows due to https://github.com/openshift/odo/issues/2586

[2020-03-19 04:32] prietyc123 commented on #2586
https://github.com/openshift/odo/issues/2630#issuecomment-600982744

/close

[2020-03-19 04:32] #2586 closed

[2020-03-19 05:52] dgolovin commented on #2111
@kadel  This issues seems to be fixed in v1.1.0, because #2605 is fixed.

[2020-03-19 07:53] girishramnani commented on #2647
this seems to be resolved via this PR https://github.com/openshift/odo/pull/2729 @amitkrout . Can you please confirm?

[2020-03-19 07:55] girishramnani commented on #2640
this seems to resolved via https://github.com/openshift/odo/pull/2729

[2020-03-19 07:55] girishramnani commented on #2640
can you please confirm @amitkrout

[2020-03-19 07:58] girishramnani commented on #2664
@amitkrout This seems to resolved by https://github.com/openshift/odo/pull/2729, can you please confirm?

[2020-03-19 07:59] girishramnani commented on #2642
any updates on this @mohammedzee1000 ?

[2020-03-19 08:14] prietyc123 commented on #2630
testingutil and ui is uses a pseudo terminal https://github.com/openshift/odo/blob/master/pkg/testingutil/survey_ui.go#L75 and which is executed by library ```github.com/Netflix/go-expect ``` not supported on windows. AFAIF there is no similar library which supports  ```github.com/Netflix/go-expect ``` though we have an alternate way of doing this. We can replace ```github.com/kr/pty``` with ```gi

[2020-03-19 09:07] girishramnani commented on #2591
I would suggest we follow the same process of delete the cluster side resources on `odo delete` and `odo delete --all` should delete local resources like `devfile` and the env folder

[2020-03-19 09:10] kadel commented on #2591
yes for env folder, that should be deleted with `odo delete --all`.
 Not so sure about devfile :-( devfile.yaml could be created by something else than odo, and in that case, user won't expect that it will get deleted by odo command.

[2020-03-19 09:15] girishramnani commented on #2591
well then lets keep devfile in its place and if someone requests for it be removed we can add a follow up PR

[2020-03-19 11:03] amitkrout commented on #2664
Yes, you are right. I have test the your pr #2729 against 4.4 cluster for debug test.

[2020-03-19 11:22] amitkrout commented on #2647
@girishramnani I have test the your pr #2729 against 4.4 cluster for debug test and the above reported scenario went fine.

[2020-03-19 15:46] #2284 closed

[2020-03-19 18:52] GeekArthur opened #2734 "Integrate odo create with odo push"
/kind feature

## Which functionality do you think we should add?
Currently `odo push` still uses project source directory name as component name, `odo push` needs to get the component name from `env.yaml` (user can specify the component name by running `odo create` and the component name metadata can be stored in `env.yaml`) once this PR https://github.com/openshift/odo/pull/2699 merges in, so th

[2020-03-19 18:55] GeekArthur commented on #2734
/area devfile

[2020-03-20 03:30] jichenjc commented on #2707
v1.0.2 from https://mirror.openshift.com/pub/openshift-v4/clients/odo/v1.0.2/
[code]

latest code , compiled version
[code]

[2020-03-20 03:41] jichenjc commented on #2707
https://github.com/openshift/odo/pull/2133 is the one might do the change..

[2020-03-20 04:03] jichenjc commented on #2707
commit 234c8608f5917df41fcfbd04974561f766b59b0b
Author: Girish Ramnani <girishramnani95@gmail.com>
Date:   Fri Dec 13 14:15:12 2019 +0530

    remove ImageStreamRef from machine readable output (#2451)

this is the PR...

let me know I can help to do the change as it's pretty simple
@dgolovin

[2020-03-20 11:18] girishramnani commented on #2707
I removed this imageStreamRef for a reason, it wasn't ever supposed to show up in machine readable output. Lets directly provide the information needed here instead of the whole `imageStreamRef`

[2020-03-20 11:24] girishramnani commented on #2707
I would suggest to discuss with @dgolovin to understand how they were using the `imageStreamRef` and only provide the fields that were necessary for detecting the debugger.

[2020-03-20 15:43] kadel opened #2740 "`odo catalog list components` should work without cluster"
It should be possible to list devfile components even if odo is not connected to the cluster

[code]

Instead of failing, odo can just show a warning that it can't connect to the cluster, and show just devfile components.

/kind bug
/priority low
/area devfile
/area catalog

[2020-03-20 17:41] johnmcollier commented on #2740
@GeekArthur Your work for https://github.com/openshift/odo/issues/2706 should fix this right?

[2020-03-20 18:06] GeekArthur commented on #2740
@johnmcollier Yes, this issue is duplicate issue of https://github.com/openshift/odo/issues/2706, and @kadel 's suggestion is same as my fix plan, we all good for this 🚀

[2020-03-20 18:07] johnmcollier commented on #2740
One thing that I would add to this issue, is if `PushTarget` is set to Docker, maybe omit the message about not being able to connect to the cluster?

[2020-03-20 18:15] GeekArthur commented on #2740
This is a comment from another issue

If that's still the case, we can only list devfile components when we turn on Experimental flag since `odo push` with experimental mode currently only supports devfile components, that would make the devfile support features more consistent and avoid the generic error of connecting to the cluster including https://github.com/openshift/odo/issues/2740#issuecomm

[2020-03-20 18:18] GeekArthur commented on #2740
/assign

[2020-03-20 20:22] rajivnathan opened #2741 "Projects are not synced to the devfile clonePath"
/kind bug
/area devfile

## What versions of software are you using?
Using odo experimental support for devfiles by building from source

## Description of the problem
Devfile sync doesn't currently handle the `clonePath` field that's used by some devfiles. eg. https://github.com/eclipse/che-devfile-registry/blob/5a41b4b0c85893a6ee99059fcceab35b8a71780c/devfiles/go/devfile.yaml#L11

## Actual beha

[2020-03-20 20:25] johnmcollier commented on #2741
/assign

This should be an easy one to fix, we'll adapt how we handle syncing when a project is defined in the devfile:
- If `clonePath` is set, we'll sync to `/projects/<clonePath>`
- If `clonePath` is not set, we'll sync to `/projects/<projectName>`, as before.

[2020-03-21 09:11] amitkrout commented on #2640
@girishramnani Yup, it is fixed on 4.4 cluster but the pr #2729 that include this fix fails on 3.11 cluster https://github.com/openshift/odo/pull/2729#issuecomment-601120502

[2020-03-21 17:33] rajivnathan commented on #2741
There also seems to be a `sparseCheckoutDir` property. See https://github.com/eclipse/che-devfile-registry/blob/5a41b4b0c85893a6ee99059fcceab35b8a71780c/devfiles/quarkus/devfile.yaml#L11

There are more properties for `source`, see https://github.com/redhat-developer/devfile/blob/master/docs/devfile.md#projects

[2020-03-22 05:07] amitkrout opened #2742 "PR merge shows wrong CI status in odo github dashboard"
/kind bug

## What versions of software are you using?

**Operating System:**
NA
**Output of `odo version`:**
NA
## How did you run odo exactly?
NA

## Actual behavior
Attaching screenshoot for easy understanding.

<img width="1115" alt="Screen Shot 2020-03-22 at 10 09 24 AM" src="https://user-images.githubusercontent.com/19851115/77242672-d23d2100-6c26-11ea-817e-907c133a58f8.png">

Dashboard show

[2020-03-23 03:56] jichenjc commented on #2707
@dgolovin could you please help to provide some additional info based on the request above? thanks a lot

[2020-03-23 04:02] jichenjc commented on #2730
I have the following , looks like the type is kept? or misunderstand the question above? Thanks
[code]

[2020-03-23 04:19] jichenjc commented on #2728
I can take a look :)

[2020-03-23 08:30] mik-dass opened #2743 "odo push for devfile fails with container is not created"
/kind bug

## How did you run odo exactly?

- normal `odo push` with a devfile
- oc delete deployments nodejs-ex && odo push

## Actual behavior

[mrinaldas@localhost nodejs-ex]$ odo push
 •  Push devfile component nodejs-ex  ...
 ✓  Checking files for pushing [37ms]
 ✓  Waiting for component to start [584ms]
 ✗  Syncing files to the component [17s]
 ✗  Failed to start component with name nodejs-e

[2020-03-23 09:58] mik-dass opened #2744 "context support for odo push"
/kind feature

### User Story

As a user, I want to trigger ODO commands from outside the source code directory using the context flag.

### Acceptance criteria

- [ ] ODO push for devfiles should support context and should work outside of the component directory e.g `odo push --devfile test/devfile.yaml --context source-dir/`

## Why is this needed?

The user won't have to switch directories to p

[2020-03-23 10:09] bigkevmcd opened #2745 "Support external executable plugins"
/kind feature

## Which functionality do you think we should add?

Being able to execute an external executable as a pseudo plugin, similar to `kubectl`.

## Why is this needed?

We're prototyping extensions to `odo` which may or may not land in odo, rather than having to get these merged to `odo`, then it'd be nice if we could distribute them and have users test them out.

We can do this with our

[2020-03-23 14:12] johnmcollier commented on #2741
As discussed on Slack, we won't need `sparseCheckoutDir` for file syncing, as it just determines _which_ folder in the Git repo to pull down.

We will need it however for template/resource creation, so I've added it as an item in https://github.com/openshift/odo/issues/2582

[2020-03-23 14:59] kadel opened #2748 "push failed with devfile without endpoinds"
[code]
[code]

/kind bug
/priority high
/area devfile

[2020-03-23 14:59] kadel commented on #2748
ping @yangcao77

[2020-03-23 15:02] johnmcollier commented on #2748
I'm wondering... maybe if no endpoint is specified in the devfile, we should:
- Allow the user to specify a port during `odo create`
- Default to some default value otherwise (and warn the user?)

Thoughts?

[2020-03-23 15:46] elsony commented on #2591
+1 on keeping the devfile. I'd consider the devfile to be part of the user resource after it has been created.  Therefore, we'll never delete that even on a `odo delete all`.

[2020-03-23 19:11] johnmcollier commented on #2743
This looks to be the same error that @adisky reported on Slack, @mik-dass if you pull down Tomas' branch from https://github.com/openshift/odo/pull/2731 are you able to reproduce?

I'm wondering too, if you run `kubectl get deployments`, does a deployment exist? And what's the status of any pods that get created too?

[2020-03-23 19:41] #2175 closed

[2020-03-24 05:36] mik-dass commented on #2710
I recently raised a PR which was supposed to update owner references for storage https://github.com/openshift/odo/pull/2533. The problem is in the function `updateStorageOwnerReference` where I updated the owner references to the outdated PVC instead of the latest one. I will send a fix asap.

/assign

[2020-03-24 06:05] adisky commented on #2710
@mik-dass Thanks!!

[2020-03-24 08:03] amitkrout commented on #2642
Another occurrence - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2739/pull-ci-openshift-odo-master-v4.3-integration-e2e-benchmark/1289#1:build-log.txt%3A375

@mohammedzee1000 Can you please take this as high priority as CI pain is increasing day by day for such flakes.

[2020-03-24 08:40] dharmit commented on #2642
Faced this couple of times on #2739 :cry:

[2020-03-24 12:31] kadel opened #2752 "devfile integration tests should run against Kubernetes cluster"
Everything related to devfiles should work with Kubernetes as well as OpenShift clusters.

Integration tests need to be executed against Kubernetes as well as OpenShift cluster

/area devfile
/kind test
/area testing
/priority high

[2020-03-24 12:32] kadel commented on #2748
I don't think that we need to do any of this. Devfile without endpoint is perfectly valid devfile, not every application need to have ports exposed.

[2020-03-24 14:11] johnmcollier commented on #2752
@kadel I've been thinking about the same. As a stopgap, I was thinking about bringing up Minikube in Travis, and running the devfile tests against it.

[2020-03-24 15:16] cdrage commented on #2392
Hey @dgolovin and @amitkrout https://github.com/openshift/odo/pull/2627 has been merged in to try and help with regards to outputting more information with regards to what is actually causing the issue.

Do you mind @dgolovin using the latest master build and letting us know when you get the issue again what the errors say?

[2020-03-24 17:33] cdrage commented on #2662
@rajivnathan I can't seem to replicate it even with an extra volume with one of the components..

See my below `devfile.yaml`:

[code]

And when I run it:

[code]

This is against the latest master.

[2020-03-24 17:43] yangcao77 commented on #2748
/assign

[2020-03-24 19:53] rajivnathan opened #2754 "Execute devfile commands other than build and run"
/kind user-story

## User Story
As a user I want to execute commands present in the devfile.

With odo push you can specify `--build-command` and `--run-command` but in some cases another command may be required. For example https://github.com/eclipse/che-devfile-registry/blob/b473b5309c57cc2e7ae098691a6b18e23de7b6fc/devfiles/java-mysql/devfile.yaml#L84

One way we can accomplish this is to create

[2020-03-24 20:00] #2113 closed

[2020-03-25 02:47] #2661 closed

[2020-03-25 08:30] dharmit commented on #2642
Hit this again today on same PR 2739: https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2739/pull-ci-openshift-odo-master-v4.2-integration-e2e-benchmark/1294. But on 4.2 instead of 4.3 earlier.

[2020-03-25 11:45] #2578 closed

[2020-03-25 13:40] rajivnathan commented on #2654
I've tried the execute PR with a few modified devfiles from the che-devfile-registry. Here is the summary:

# Devfiles status

Devfile | Status | Notes
--- | --- | ---
go | :x: | [notes](#go)
java-gradle | :x: | [notes](#java-gradle)
java-maven | :white_check_mark: |
java-mongo |  | need to revisit once service PR is in
java-mysql | :x: | [notes](#java-mysql)
java-web-spring | :x: | maven build is

[2020-03-25 15:43] sbose78 commented on #2617
I'll update this to have the details of  'gitops day 2 Add Application' .

[2020-03-25 15:53] amitkrout commented on #2641
The same failure first time hit in java:8 component too against 4.1 cluster - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2755/pull-ci-openshift-odo-master-v4.1-integration-e2e-benchmark/1301#1:build-log.txt%3A885

Tried locally twice and none of the time i hit the issue. Now i am going to send a pr to get atleast few info like ```oc get pod, oc get dc, oc

[2020-03-25 16:02] bbrowning opened #2756 "Add `odo deploy` command for initial transition from inner to outer loop"
/kind feature

## Which functionality do you think we should add?

Today odo helps a developer with their inner loop workflow. Once the developer is ready to deploy that application, they need to go outside of odo to make that happen. I propose odo have an `odo deploy` command to allow an initial transition from inner loop to outer loop.

The result of an `odo deploy` command should be the compone

[2020-03-25 16:03] cdrage commented on #2285
@GeekArthur is currently implementing https://github.com/openshift/odo/issues/2684 which overlaps in work. So at the moment, we will wait until https://github.com/openshift/odo/pull/2699 is merged in and then we can work on this issue.

[2020-03-25 16:41] cdrage commented on #1095
I'm going to close this since we just download the .exe anyways :)

[2020-03-25 16:41] #1095 closed

[2020-03-25 16:55] cdrage commented on #1806
I think this is pretty much covered in the developer docs now, so I'm closing this.

[2020-03-25 16:55] #1806 closed

[2020-03-25 16:56] cdrage commented on #1298
We use `-v` in the tests now that indicate how long it takes per test. Closing.

[2020-03-25 16:56] #1298 closed

[2020-03-25 17:11] rajivnathan commented on #2662
@cdrage I just tried with the latest from master and I can still reproduce it. It's easy to miss and you may not be able to reproduce it consistently but here's how you can verify you're hitting it:

1. Run push with more verbose logs: `odo push -v 4`
2. If you see the following output then you're hitting the problem:
`I0325 13:00:56.132616   95345 deployments.go:81] Waiting for deployment spec up

[2020-03-25 23:02] GeekArthur opened #2761 "Odo url should support both devfile and s2i components"
/kind bug

## What versions of software are you using?

**Operating System:**
[code]

**Output of `odo version`:**
[code]

## Bug description
Here is the output from our OpenShift CI integration tests
[code]
From the output we can clearly see the `odo url create --port 8080` doesn't work if creating s2i component with experimental mode is enabled. By design when experimental mode is enabled we sho

[2020-03-26 05:15] mik-dass commented on #2743
#2731 seems to have resolved the issue. Thanks.

/close

[2020-03-26 05:15] #2743 closed

[2020-03-26 08:36] mik-dass opened #2765 "Scenario `should delete the service(s) in the application as well` is failing on CI"
/kind bug

[code]
https://travis-ci.com/github/openshift/odo/jobs/303606481#L745

[2020-03-26 08:49] amitkrout commented on #2765
@mik-dass Can you please refer the CI link ?

[2020-03-26 08:59] mik-dass commented on #2765
added in the description

[2020-03-26 09:03] kadel commented on #2588
Any updates on this? I still see it in almost every PR.

[2020-03-26 17:12] kadel commented on #2741
It looks a bit weird, but I don't think that we can't do much better than this as we currently don't support multiple projects in devfile anyway

so +1

[2020-03-26 17:14] kadel commented on #2741
This actually doesn't look right. I think that if the `clonePath` is set you should use it as it is.
It should be `/<clonePath>`  not `/projects/<clonePath>`

[2020-03-26 18:43] sspeiche commented on #2756
This is the "same" related to this discussion https://github.com/openshift/odo/issues/1229

[2020-03-26 19:47] #2557 closed

[2020-03-26 19:47] #2684 closed

[2020-03-27 00:39] #2740 closed

[2020-03-27 00:39] #2706 closed

[2020-03-27 03:12] #1045 closed

[2020-03-27 05:29] amitkrout commented on #2641
Ahh...
Finally got the problem. I think the issue is with watch function pointing to another context dir (Due to the race condition in parallel run).

Will send the PR today itself

[2020-03-27 07:53] #2608 closed

[2020-03-27 11:09] kadel commented on #2752
+1
`minikube start --vm-driver=none` should work well on Travis.

[2020-03-27 11:13] kadel commented on #2752
The tricky part will be nicely structuring our tests as we want to keep testing also on OpenShift.

We have 2 groups of tests:
- tests that need to be executed with both Kubernetes and OpenShift (everything around devfile, except when Route is involved)
- tests that can be executed only with OpenShift cluster (legacy s2i components, and devfile component when Route is created)

[2020-03-27 11:22] kadel commented on #2707
what is the harm in including it in the output?

[2020-03-27 13:21] girishramnani commented on #2707
It has too much information which is not needed and is making the output unnecessarily large. I would suggest to find out what is actually needed and only show that

[2020-03-27 13:22] girishramnani commented on #2707
I assume the json output is our API, shouldn’t api be clean and not bloated with information which is not necessary.

[2020-03-27 13:57] #2765 closed

[2020-03-27 15:53] rajivnathan opened #2769 "Devfile odo push should use --project instead of --namespace"
/kind bug
/area devfile

## Description

`odo create` uses the `--project` option to specify a project/namespace but `odo push` uses `--namespace`. Push should be updated to use `--project` as previously agreed upon.

[2020-03-27 15:53] johnmcollier commented on #2769
/assign

[2020-03-27 18:06] elsony commented on #2591
@mik-dass This items has been marked for review but the corresponding PR #2763 is still marked as WIP.  Do you think this story will be able to make Sprint 181?

[2020-03-27 18:25] GeekArthur commented on #2734
/assign

[2020-03-27 18:27] elsony commented on #2727
What happens if someone specifies `odo url create --openshift` but their target context is not OpenShift, should it fail when doing `odo push`?

[2020-03-27 19:07] #2741 closed

[2020-03-28 10:01] #2609 closed

[2020-03-29 10:55] amitkrout commented on #2570
@mik-dass it seems the flake on mac (travis CI) appears more frequently, even i can now reproduce it locally on my mac setup.

occurrence -  https://travis-ci.com/github/openshift/odo/jobs/307573205#L210

[2020-03-30 04:01] mik-dass commented on #2591
Yes it's ready for review. Once the CI is green, I will remove the WIP status.

[2020-03-30 04:07] mik-dass commented on #2570
I don't have a mac system with me nor a VM. So there is nothing I can do from my side :)

[2020-03-30 09:09] boczkowska opened #2773 "Document all states of the component"
/kind documentation

## What mistake did you find / what is missing in the documentation?
Add documentation about the states of the component

## What is the relevance of it?
More discussion here: https://github.com/openshift/odo/pull/2690#pullrequestreview-383544630

[2020-03-30 09:27] girishramnani commented on #333
yeah we are moving away from RHOAR and we have a PR which removes them from supported list https://github.com/openshift/odo/pull/2729

[2020-03-30 09:27] #333 closed

[2020-03-30 12:44] girishramnani commented on #2728
@jichenjc you can ping me on public odo slack and I will assign you the issues you like. Only then please start working on them.

[2020-03-30 12:47] jichenjc commented on #2728
sorry, I didn't notice this rule
I will follow this next time, for this issue, if you have other ways already, let me know then I will drop my one, thanks a lot and sorry for inconvenience @girishramnani

[2020-03-30 12:48] EnriqueL8 commented on #2582
@upLukeWeston and I added some notes on this issue [here](https://docs.google.com/document/d/1vTWDRV4sfJPn_O3DNDZPd7O4ZXCRjVeXKjsYZuziPkE/edit?usp=sharing)
FYI: @johnmcollier @elsony

[2020-03-30 12:50] kadel commented on #2693
I'm actually starting to incline towards deleting the pvcs. As a user I would expect that it gets deleted when I delete the component.

Originally we were thinking that we wouldn't delete the storage as we had a mechanism to unmount storage from one component and mount it to another one, but that functionality was dropped, so now it actually makes sense to delete pvcs, as they have no use after th

[2020-03-30 12:59] kadel commented on #2769
We need to be a little bit careful about this.
It will be a big breaking change!
It needs to be coordinated with https://github.com/redhat-developer/intellij-openshift-connector and https://github.com/redhat-developer/vscode-openshift-tools (cc: @dgolovin and @jeffmaury )

Some kind of slow depreciation might be good here.

For example, in the first stage, we could just hide `--project` from help

[2020-03-30 13:04] kadel commented on #2727
Yes, it should fail

[2020-03-30 13:06] mohammedzee1000 commented on #1871
We have clusters now for 4.3.9 and 3.11 with was route53 dns
The last thing is to fix the swift quota but that is not a blocker for this issue.

[2020-03-30 13:07] kadel commented on #2333
/lifecycle frozen

[2020-03-30 13:10] kadel commented on #2744
This needs to be converted into user story

[2020-03-30 13:12] kadel commented on #2761
TODO for me: Add more information
/triage needs-information

[2020-03-30 13:15] kadel commented on #2742
This looks like a duplicate.

see https://github.com/openshift/odo/issues/2019

[2020-03-30 13:16] kadel commented on #2744
/area devfile
/area push

[2020-03-30 13:18] kadel commented on #2705
/triage needs-information

[2020-03-30 13:38] girishramnani commented on #2588
duplicate of this issue https://github.com/openshift/odo/issues/2570

[2020-03-30 13:38] #2588 closed

[2020-03-30 13:50] girishramnani commented on #2534
we need to figure out this issue for the devfile workflow

[2020-03-30 13:57] girishramnani commented on #1871
Ac of this issue is satisfied so closing this

[2020-03-30 13:57] #1871 closed

[2020-03-30 14:02] cdrage commented on #2662
Hey @rajivnathan both @kadel and I are still unable to reproduce it. Are you sure you're trying this against the latest master?

[2020-03-30 14:02] girishramnani commented on #2680
@jichenjc are you working this issue?

[2020-03-30 14:33] girishramnani commented on #2756
We are planning a proposal issue which would break this epic down https://github.com/openshift/odo/issues/2703

[2020-03-30 15:48] GeekArthur commented on #2761
@kadel The bug is `odo url create --port 8080` fails with experimental mode enabled given user uses `odo create` to create a s2i component beforehand. This issue should be fixed by PR #2762.
FYI @yangcao77

[2020-03-30 15:54] #2710 closed

[2020-03-30 19:51] rajivnathan commented on #2769
@kadel IIRC what was previously discussed was to just support `--project` and add support for `--namespace` later which is what this issue's description was saying. Although, I may not have worded it that well. :) Supporting both is also fine but just wanted to clarify I was not suggesting we switch to use --namespace.

[2020-03-31 01:24] dgolovin opened #2775 "'odo url list'/'odo url list -o json' does not include information to distinguish secure and not secure URLs"
/kind bug

## What versions of software are you using?

**Operating System:**
Windows 10
**Output of `odo version`:**
odo v1.1.1 (02fbd3d08)

## How did you run odo exactly?
I have a local component not pushed to the cluster with two urls. One is secured and another is not.

## Actual behavior
[code]

## Expected behavior
There should be information to distinguish, secured and not secured URLs.

#

[2020-03-31 01:29] dgolovin opened #2776 "'odo describe' fails for component with two URLs with 'panic: runtime error: index out of range' error"
/kind bug

## What versions of software are you using?

**Operating System:**
Windows 10
**Output of `odo version`:**
odo v1.1.1 (02fbd3d08)

## How did you run odo exactly?
Not pushed git component with two URLs.

## Actual behavior
[code]

## Expected behavior
Prints out two urls.

## Any logs, error output, etc?
N/A

[2020-03-31 01:35] sspeiche opened #2777 "Update all materials (readme, help messages, docs) to focus more on Kubernetes"
`odo` is evolving past its 1.0 scope to be rooted on Kubernetes and also support OpenShift. Therefore we need to update various messaging to improve on this.

There are many places where the old tag line "OpenShift Do" exists.

Proposed changes from:
   `OpenShift Do - Fast, iterative OpenShift development`
to:
   `odo - Fast, iterative Developer-focused CLI for Kubernetes & OpenShift`

These chan

[2020-03-31 03:09] dgolovin opened #2778 "'odo describe' does not include 'not pushed' URLs into output"
/kind bug

## What versions of software are you using?

**Operating System:**
Windows 10
**Output of `odo version`:**
odo v1.1.1 (02fbd3d08)

## How did you run odo exactly?
1. Created odo git nodejs component
2. Added two urls
3. Pushed to the cluster
4. `odo describe` prints out both URLs
5. `odo url create url3`

## Actual behavior
`odo describe` still prints the same info as at step (4) no url

[2020-03-31 03:19] jichenjc commented on #2680
no, this is something I need some help or want to know whether someone has simliar output to me by using hostPath..., maybe it's invalid due to hostPath for PV/PVC，but need some guide here.. thanks

[2020-03-31 06:04] dharmit opened #2779 "Create documentation for odo & Operator Hub integration"
/kind documentation

## What mistake did you find / what is missing in the documentation?
There has to be ongoing documentation of Operator Hub integration task that's going on. This documentation should document the behaviour with both OpenShift and Kubernetes clusters.

## What is the relevance of it?
This is relevant for the new users who want to give a try to the experimental features that wil

[2020-03-31 06:07] dharmit opened #2780 "Restructure the documentation in odo repository"
/kind documentation

## What mistake did you find / what is missing in the documentation?
As we add more documentation to help users get comfortable with using odo for both OpenShift & Kubernetes clusters, we need to restructure the documentation that we have right now under `docs/` directory.

## What is the relevance of it?
This is to make specific user documentation easier to find and consume.

[2020-03-31 07:10] dharmit opened #2781 "Showcase odo's ability to develop non-trivial applications"
/kind documentation

## What mistake did you find / what is missing in the documentation?
So far, odo documentation talks mostly about simple getting started applications. These are just starter applications and do nothing to demonstrate odo ability to help develop non-trivial micro-services architecture based projects/applications.

Documentation explaining how to spin up and link something like

[2020-03-31 07:20] #2639 closed

[2020-03-31 07:50] mik-dass opened #2782 "Warning message gets printed multiple times"
/kind bug

## How did you run odo exactly?

`odo push`

## Actual behavior

[code]
`Waiting for component to start [⚠ WARNING x5: BackOff, use `-v` for more inf ◓  ` gets printed again and again.

## Expected behavior

`Waiting for component to start [⚠ WARNING x5: BackOff, use `-v` for more inf ` to be printed once

[2020-03-31 11:31] dharmit opened #2784 "Instantiate operator backed service and output JSON data"
/kind user-story

## User Story
As a user (Adapters) I want to instantiate an operator backed service and get the feedback/output from odo in JSON format so that it can be presented to end-user in a simple form

## Acceptance Criteria
- [ ] `odo service create <operator/CR> -o json` should provide the output/feedback in JSON format.
- [ ] `odo service describe <service-name>` to describe service i

[2020-03-31 13:22] dharmit opened #2785 "Provide parameters to create service backed by operators"
/kind user-story

## User Story
As a user I want to be able to pass parameters to service creation command (`odo service create`) when creating an operator backed service so that I can spin up the service quickly and exactly as I need the various configurations to be setup.

## Acceptance Criteria
- [ ] `odo service create <operator-name> --crd <crd-name> -p param1=value1 -p param2=value2` should

[2020-03-31 14:08] cdrage commented on #2782
@mik-dass Is your terminal really small? This is what may be causing the issue.. I may have to shorten the info / output)

[2020-03-31 15:14] yangcao77 opened #2787 "Add url state in describe and list for odo2 devfile support"
/kind feature

## Which functionality do you think we should add?
Currently devfile URL(ingress) `describe` and `list`  are missing the state
[code]

Url state should be added and displayed as what odo url (routes) does.

[2020-03-31 15:17] yangcao77 commented on #2787
/area devfile

[2020-03-31 16:25] kadel commented on #2635
Example of how this could work

[code]

[2020-03-31 16:36] GeekArthur commented on #2635
**NEW DESIGN** summary based on today's discussion.

Requirements:
- User can
   - view devfile registry in the devfile registry list
   - add devfile registry to the devfile registry list
   - remove devfile registry from the devfile registry list
- Dynamically support multiple devfile registries together
- Handle name conflict (eg. same devfile component name in different devfile registries) pro

[2020-03-31 17:07] GeekArthur commented on #2285
@cdrage FYI, #2699 is merged, so this issue won't be blocked 🚀

[2020-03-31 17:33] cdrage commented on #2285
@kadel
When implementing the two cases, `odo` retrieves what project to use from `.odo/config.yaml`. before pushing.

What you are proposing essentially moves `Project: <project>` from `.odo/config.yaml`, or in this case since `env.yaml` has been implemented, we'd essentially simply *REMOVE* `Project` from LocalConfig / `.odo/config.yaml`.

Is this correct?

[2020-03-31 17:38] cdrage commented on #2662
Since @rajivnathan is no longer working on this, can anyone else confirm that you've had the same issue?

Ping: @GeekArthur @yangcao77

[2020-03-31 18:14] GeekArthur commented on #2662
@cdrage I can give a try to see if I can reproduce this issue on my environment.

[2020-03-31 18:22] cdrage commented on #2780
Hey @dharmit do you mind outlining what specifically needs to be organized?

Do you mean, having user-facing docs within the GitHub repo as well as the site (essentially, a central repository for all docs, rather than hunting through https://github.com/openshift/docs)

[2020-03-31 18:23] cdrage commented on #2781
We do have documentation on this :) using multiple components  as well as a database:

https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/creating-an-application-with-a-database.html

[2020-03-31 18:24] cdrage commented on #2688
Hi @elsony I've assigned this to you. I think you've already implemented some of the user stories / criteria for this? Could you go through and see what could be checkmarked off?

[2020-03-31 18:52] yangcao77 commented on #2580
/assign

[2020-03-31 18:52] GeekArthur opened #2789 "odo create support existing devfile.yaml"
/kind user-story
/area devfile

## User Story
As a user I want to use my own devfile.yaml instead of using the devfile.yaml from devfile registry, so we come up with a new design for supporting existing devfile.yaml

odo create always creates env.yaml

If devfile.yaml is not present
Case 1: `odo create <component type>` -> Download devfile from devfile egistry ✅
Case 2: `odo create` -> ~Throw erro

[2020-03-31 18:52] GeekArthur commented on #2789
/assign

[2020-03-31 18:54] jgwest commented on #2581
/assign

[2020-03-31 18:56] GeekArthur commented on #2662
@cdrage FYI, I couldn't reproduce this issue, it works for me 👍

[2020-03-31 18:59] GeekArthur commented on #2734
@yangcao77 's PR can fix this issue.

[2020-03-31 23:33] yangcao77 commented on #2662
I couldn't reproduce this neither:
[code]

[2020-03-31 23:35] yangcao77 commented on #2662
Is this the issue that the volumes order change causes rebuild?
ping @maysunfaisal and @johnmcollier

[2020-04-01 00:51] #2748 closed

[2020-04-01 04:42] dharmit opened #2790 "odo should list services created from operator"
/kind user-story

## User Story
As a user I want to list the services created using operators

## Acceptance Criteria
- [x] `odo service list` should list the services created using operator (#3069)
- [ ] `odo service list -o json` should give JSON output of the services created using operator (#3186)

## Links
- Feature Request: #2613

/kind user-story

[2020-04-01 04:44] dharmit opened #2791 "JSON output for operator backed services in the cluster"
/kind user-story

## User Story
As a user I want to get JSON formatted list of services started in the cluster.

## Acceptance Criteria
- [ ] `odo service list -o json` should list operator backed services in JSON format

## Links
- Feature Request: #2613
- Related issue: #2790

/kind user-story

[2020-04-01 04:52] dharmit commented on #2613
@kadel @girishramnani last two points talk about `odo service describe` command. But we don't have that command in the workflow right now. Do we mean `odo service list -o json`?

[2020-04-01 06:08] dharmit opened #2792 "odo should be able to delete operator backed services"
/kind user-story

## User Story
As a user I want to be able to delete operator backed services that I might have created earlier.

## Acceptance Criteria
- [ ] `odo service delete <service-name>` should work for operator backed services.

## Links
- Feature Request: #2613

/kind user-story

[2020-04-01 06:16] dgolovin opened #2793 "'odo storage delete <storage-name>' inconsistent with url delete command"
/kind bug

## What versions of software are you using?

**Operating System:**
Windows 10 Pro
**Output of `odo version`:**
v1.1.1 release

## How did you run odo exactly?
'odo storage delete <storage-name>'

## Actual behavior
Deletes storage in cluster right away, no push required.

## Expected behavior
'odo storage delete <storage-name>'  acts the same way as 'odo url delete' where you have to pu

[2020-04-01 08:16] adisky commented on #2789
- `odo create <component>` -> Throw errors and tell user to delete the existing devfile.yaml then run `odo create <component>` again
- `odo create` -> Use the existing devfile.yaml

Little confused for `case2` if `devfile.yaml` is present shouldn't it straightforwardly create the component or have explicit warning/interactive mode?

IIUC you are using the existing devfile in second run of `odo cre

[2020-04-01 09:25] mik-dass commented on #2782
yes on a wider terminal, the duplication seems to be gone.

[2020-04-01 09:50] girishramnani commented on #2613
we decided to do `describe` after the instantiation was done as that instantiation was a more "critical" piece.

[2020-04-01 10:09] girishramnani commented on #2619
we have all the methods to output operators as part of work done in this PR https://github.com/openshift/odo/pull/2593/files#diff-5e27f5585eee6d00b3adcddf59b96261R67-R75

so in terms of implementation I have to -
- [ ] build the json output of the csvs
- [ ] handle `EXPERIMENTAL_MODE` in json output

So the struct of `ClusterServiceVersionList` looks like this
[code]

Where each Item has a `Spec`

[2020-04-01 10:10] dharmit commented on #2613
It's not about when to do it. I understand that it's not essential right now. I'm pointing to there being no `odo service describe` in the first place.

[2020-04-01 10:27] upLukeWeston commented on #2672
/assign

[2020-04-01 10:32] girishramnani commented on #2616
assuming `config.yaml` here means the `env.yaml` in the devfile workflow.

As I remember `env.yaml` will not be checked into a repository by the user, which means a change in size of PVC will not be persisted between users and would be considered environment specific attribute.

[2020-04-01 11:31] mohammedzee1000 commented on #2309
https://github.com/openshift/odo/pull/2532

[2020-04-01 12:45] girishramnani commented on #1680
remove-lifecycle stale.

[2020-04-01 12:45] girishramnani commented on #1680
/remove-lifecycle stale

[2020-04-01 13:18] adisky commented on #2680
@jichenjc could you please mention exact `odo`steps how you are trying to run.

[2020-04-01 13:25] kadel commented on #2616
+1

[2020-04-01 13:28] mik-dass commented on #2570
also I get this error on CI too

[code]

[2020-04-01 13:29] kadel commented on #2769
Oh sorry, I didn't read the description carefully and assumed that this is about switching from `--project` to `--namespace`

Yes, for now, let's just use `--project` everywhere to be consistent.

We can figure out later what to do with namespace

[2020-04-01 13:29] girishramnani commented on #2616
I can already see envInfo struct here https://github.com/openshift/odo/blob/ad6c2cd700ff35ca03b0fe8665ce14e07034b0f9/pkg/envinfo/envinfo.go
so the idea here would be add a `componentPVCSize` or something here.

[2020-04-01 13:30] girishramnani commented on #2616
we already have an issue which allows `odo config` to change/configure values in the `env.yaml`

[2020-04-01 14:11] adisky commented on #1444
Rough outline:
Quarkus Support

Dependent Devfile PR's
Devfile exec PR needs to merged
Devfile delete PR needs to be merged

Quarkus dev file needs to be modified for odo
https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/quarkus/devfile.yaml

Manual Local Testing of quarkus deployment with modified devfile
Integrations tests for quarkus in odo

[2020-04-01 14:12] dharmit opened #2794 "Change messaging when listing operators installed in the cluster"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
[code]

## Actual behavior
Message displayed by the command says: `Operators available through Operator Hub`

## Expected behavior
Since this lists the `ClusterServiceVersions` in the current namespace which could be installed through Operator Hub

[2020-04-01 14:13] cdrage commented on #1444
@adisky We should have multiple issues as well as an outline of what needs to be done.

- Criteria that needs to be completed
- List of PR's / Issues that need to be merged in before adding Quarkus Support
- Maybe even a proposal document
- Changes to be made upstream (https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/quarkus/devfile.yaml)

[2020-04-01 14:15] mohammedzee1000 opened #2795 "Prune cluster regularly to avoid shortage of resources in PSI"
Our clusters on PSI should be pruned regularly in order ensure we do not have shortage of resources

Acceptance
 -  [ ] Script should regularly prune cluster to ensure continued availability of resources ideally with least impact on usability, as pruning can affect currently deploying stuff

References:
- https://docs.openshift.com/container-platform/4.3/applications/pruning-objects.html
- https:/

[2020-04-01 14:17] adisky commented on #1444
@cdrage for the format, I would convert this into user story, so that it will cover all aspects.

[2020-04-01 14:46] GeekArthur commented on #2789
@adisky

Yes, that's right, we should directly use `devfile.yaml` if `devfile.yaml` is present in user's workspace directory, and we don't need second run of `odo create`, all `odo create` operation should be finished in one run. I think I should format the cases more readable for better understanding 😄. I already updated the issue description.

Generally speaking, if user's workspace directory do

[2020-04-01 14:59] GeekArthur opened #2796 "odo create support both --project and --namespace"
/kind bug

## What versions of software are you using?

**Operating System:**
[code]

**Output of `odo version`:**
[code]

## Expected behavior
Currently `odo create` do support `--namespace` but it doesn't work properly. `odo create` should support both `--project` (for OpenShift user) and `--namespace` (for k8s user) when experimental flag enabled, and the priority of `--namespace` should be hig

[2020-04-01 14:59] GeekArthur commented on #2796
/assign

[2020-04-01 15:25] upLukeWeston commented on #2672
@enriquel8 and I added some notes on this issue [here](https://docs.google.com/document/d/1jHLorJVelFWCdCNnawWqkHlUmOGSAJd_mtcJymmmKvc/edit).

[2020-04-01 18:53] dgolovin commented on #2707
@jichenjc on IDE side we need an info to decide what programming language is used for the component development. When we know the language we can for example connect language specific debugger to the component deployed in a cluster. Image name does not give us that information, because it could be anything. Instead IDE analyses image builder tags and try to detect the language for specific compone

[2020-04-01 19:59] cdrage commented on #2688
Alright, I've started work on this, here's my TODO list (for my own reference too):

**When experimental mode is enabled, the following must happen against `env.yaml`:
- [ ] `odo config set --env key=value`
- [ ] `odo config set --env key=value` but override if key already exists
- [ ] `odo config unset --env key`
- [ ] `odo config view`

**Other scenarios:**
- [ ] If `.odo/env.yaml` does not exis

[2020-04-02 05:05] mik-dass commented on #2761
@GeekArthur So the steps to reproduce this are
[code]
Are these the right steps?

[2020-04-02 06:05] prietyc123 commented on #2752
We have raised a concern in test-platform whether we can get a kubernetes cluster using openshift CI/prow. However I have gone through some of the documents to setup the kubernetes cluster on travis CI.
There are certain configuration w.r.t Kubernetes which needs to be taken care like writing some bash script to start minikube for example : https://github.com/bitnami/kubernetes-travis/tree/minimal

[2020-04-02 06:06] adisky commented on #2693
Resolved with this PR https://github.com/openshift/odo/pull/2750
/close

[2020-04-02 06:06] #2693 closed

[2020-04-02 06:36] dharmit opened #2799 "Interactive mode for creating operator backed service"
/kind user-story

## User Story
As a user I want to interactively create an operator backed service so that I can provide the value to various parameters.

## Acceptance Criteria
- [ ] `odo service create` command, which already takes you to interactive mode to start services based on Service Catalog, should also allow users to interactively create services from operators

## Links
- Feature Reque

[2020-04-02 07:00] adisky commented on #2680
I tried to reproduce this, java component gets deployed successfully on my cluster.
[code]

[2020-04-02 07:24] adisky opened #2800 "odo support for quarkus"
/kind user-story

## User Story
Quarkus is a full-stack, Kubernetes-native Java framework, As a user i want run applications based on Quarkus with odo.

## Acceptance Criteria
- [x] odo workflow should work well with quarkus apps
`odo create` `odo push`  `odo delete` `odo url create`, accessing application from given url.
- [x] `odo catalog list components` should list down quarkus as supported ap

[2020-04-02 07:26] adisky commented on #2800
Dependent PR's
https://github.com/openshift/odo/pull/2763
https://github.com/openshift/odo/pull/2735
https://github.com/openshift/odo/pull/2762

[2020-04-02 07:39] adisky commented on #2789
@GeekArthur Thanls understood now!!

[2020-04-02 07:57] jichenjc commented on #2707
@girishramnani  some info above for the reason, I think it's more related to `tags` or `language` things..thanks

[2020-04-02 07:59] jichenjc commented on #2680
As discussed in slack additional info :

1) I only saw this error in hostPath PV/PVC, switch to NFS solved the problem
2) the test is related to nodejs
3) https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/creating-a-single-component-application-with-odo.html is the doc I used I think it's pretty simple..
4) I can't reproduce this now due to switch to NFS, ever

[2020-04-02 09:44] mik-dass commented on #2701
I managed to get debug working with a devfile for a nodejs component.

Using https://github.com/openshift/odo/pull/2735, I changed the devrun command to what we are using in the `odo-init` image https://github.com/openshift/odo-init-image/blob/d64042928158c8d975b690ac9df28731c2ddd28b/language-scripts/nodejs/dev-run#L71. Then I triggered port forwarding using `oc` and used the normal vscode steps t

[2020-04-02 09:45] amitkrout commented on #2570
No worries @mik-dass. I use mac for my day to day test activities. Now onward i am taking the whole ownership of this issue and yes i need your help over bjn, so assigning the issue to you along with me.

[2020-04-02 10:26] girishramnani commented on #2800
Quarkus has a nice remote development mode, do we wanna verify/implement that?

[2020-04-02 10:56] dharmit opened #2801 "Assign labels to service spun up from an operator"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
`odo service create etcdoperator.v0.9.4 --crd EtcdCluster` to create operator backed service in the experimental mode.

## Actual behavior
Service is spun up but the result OpenShift objects don't have labels like the ones when a service (`ServiceInstance`) i

[2020-04-02 11:41] kadel commented on #2723
What will be the command?
Are you thinking about something like `odo service create -f etcd.yaml` ? Or some other approach?

[2020-04-02 11:42] kadel commented on #2727
blocked don what?

[2020-04-02 11:56] mik-dass commented on #2727
blocked on #2762

`odo url create --openshift` sounds better to me as we are planning to move towards devfile completely later on.

[2020-04-02 12:04] girishramnani commented on #2619
@dgolovin can you please confirm the json output you require for operators? currently its going to be a list of `name` of the operator and `CRDS` ( this being a list of CRD )

[2020-04-02 12:07] girishramnani commented on #2701
in my opinion, this would work similar to current components where certain images support debug and other dont, we can decide on a name of the step like you mentioned `devdebug` here and then check which of the devfiles from the registry have this step defined. Based on this we show the `Supported` and `Unsupported` devfiles.

[2020-04-02 12:25] girishramnani commented on #2691
we cannot work on this until we have https://github.com/openshift/odo/issues/2534

[2020-04-02 12:37] dharmit commented on #2635
Idea of listing devfiles from multiple registries seems a bit counter-intuitive to me as a user. IMO, when user does `odo catalog list components`, they could be shown the devfiles from the currently enabled registry. But showing them devfiles from multiple registries could confuse the users.

Also, thinking of this from the IDE plugin point of view, I think it would make things simple for the end

[2020-04-02 12:37] girishramnani commented on #2688
so is any of the AC actually completed @cdrage?

[2020-04-02 12:40] adisky commented on #2800
Thanks for letting me now about this, yes I can implement that but should we make it part of this user story(i considered basic cases here) or log a separate issue??

[2020-04-02 12:43] girishramnani commented on #2730
@jichenjc are you planning to work on this?

[2020-04-02 12:44] girishramnani commented on #2730
If not, I would like to work on this.

[2020-04-02 12:47] jichenjc commented on #2730
yes, please, I didn't plan to work on this , above are just questions to make sure understand this
thanks for asking this @girishramnani

[2020-04-02 12:55] kadel commented on #2688
I think that `odo config` will need much bigger overhaul :-(

Currently, odo supports the following parameters

- Application - Application is the name of application the component needs to be part of
- CPU - The minimum and maximum CPU a component can consume
- DebugPort - The port on which the debugger will listen on the component
- Ignore - Consider the .odoignore file for push and watch
- MaxC

[2020-04-02 12:55] girishramnani commented on #2730
@mohitsuman currently the json output looks like this

( for a single component present in an application )
[code]
now the issue is that we already have a `type` which corresponds to the component type i.e. `nodejs`, `java` etc.

To introduce the `git`,`local` or `binary` information in the json output we can consider

- `source_type`
- `source`

[2020-04-02 12:57] girishramnani commented on #2730
In terms of implementation we already have `sourceType` present as an annotation here https://github.com/openshift/odo/blob/2a56a67dc45e9ca5559a6cc243fda0e294b48e79/pkg/component/component.go#L1015.
Its just matter of exposing it for `--all` and current application scenerio.

I would also consider changing the standard output ( non-json one ) to have the sourceType information for consistency.

[2020-04-02 13:14] girishramnani commented on #2361
I dont see this happening now, so closing this issue. if it fails then it can be repoened

[2020-04-02 13:14] #2361 closed

[2020-04-02 13:55] dharmit commented on #2174
/remove-lifecycle stale

[2020-04-02 13:58] dharmit commented on #2253
This issue still persists. I get below message when not logged into an OpenShift cluster:
[code]
/remove-lifecycle stale

[2020-04-02 13:58] dharmit commented on #2322
/remove-lifecycle stale

[2020-04-02 14:00] dharmit commented on #2464
@kadel @girishramnani I think we're in consensus to not do admin activities like installing operators using odo. Should we close this?

[2020-04-02 14:00] girishramnani commented on #2752
I would suggest to start on travis and not consider having a kubernetes cluster on openshift.

[2020-04-02 14:20] ajm01 opened #2803 "Executing run command fails with connect: connection refused"
/kind bug

## What versions of software are you using?

**Operating System:**
Linux

**Output of `odo version`:**
odo v1.1.1 (032caa7)

## How did you run odo exactly?
 ./odo push -f -v 4 --show-log --build-command="Builder" --run-command="Run"

## Actual behavior
during the run command:
[code]

## Expected behavior
after removing the 'tail' command from the run component in the dev file:
[code]

[2020-04-02 14:49] yangcao77 opened #2804 "Support --now flag in url delete for devfile component"
/kind feature

## Which functionality do you think we should add?
`--now` flag is currently implement in `url create` in PR: https://github.com/openshift/odo/pull/2762
However, it is still missing in `url delete`

If the now flag in provided in `url delete`, it should execute devfile push.

## Why is this needed?
As suggested by https://github.com/openshift/odo/pull/2762#issuecomment-607715223, cr

[2020-04-02 14:53] yangcao77 commented on #2804
/area devfile

[2020-04-02 17:03] amitkrout commented on #2752
@prietyc123 refer https://minikube.sigs.k8s.io/docs/start/linux/ for how to install minikube on travis (Ubuntu VM). While installing make sure that you are using ```--vm-driver=none``` . if travis does not support configuration for --vm-driver=none (However there is an open issue https://github.com/kubernetes/minikube/issues/2704) then use  ``--vm-driver=docker``` in your travis configuration scri

[2020-04-02 17:25] Preeticp commented on #2227
@cdrage can we close this issue? Docs for this have been added through the PR linked by Yana above.

[2020-04-02 17:36] Preeticp commented on #1605
@dharmit we have addressed this issue via this PR: https://github.com/openshift/openshift-docs/pull/20106 please let us know if we can close this issue?

[2020-04-02 17:47] Preeticp commented on #2353
@kadel we have added a link to the Installing service catalog section through this PR: https://github.com/openshift/openshift-docs/pull/20106, is that enough for this issue? Can we close it?

[2020-04-02 17:53] Preeticp commented on #2183
@dharmit documentation on the debug feature was covered through this PR: https://github.com/openshift/openshift-docs/pull/19750 can you confirm if we can close this issue, please?

[2020-04-02 17:57] Preeticp commented on #2179
Hi @RickJWagner, do you think the docs here: https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/odo-architecture.html help resolve this issue? If yes, can we close this issue? Thank you.

[2020-04-02 18:06] maysunfaisal commented on #2803
/area devfile

[2020-04-02 18:38] RickJWagner commented on #2179
Hi @Preeticp,
(With apologies to @cdrage, I missed the 10 Feb inquiry).
Yes, thank you for these docs improvements.  This goes a long way to explaining what Odo is doing.  Thank you, thank you, thank you.
I'll close this issue tracker.

[2020-04-02 18:38] #2179 closed

[2020-04-02 18:40] girishramnani commented on #2227
@Preeticp as per the issue description, it would be nice to have an actual example of using debug via the cli or vscode (screenshot/gif). Like a process of going through the debug mode using an actual application?
I cannot see that in the PR above, so can we please add that?

[2020-04-02 18:42] girishramnani commented on #2174
Is this issue still happening @dharmit ?

[2020-04-02 18:43] girishramnani commented on #843
We are aware of this limitation
/lifecycle frozen

[2020-04-02 18:44] girishramnani commented on #1674
We are aware of this limitation and we will revisit this soon.
/lifecycle frozen

[2020-04-02 18:45] girishramnani commented on #1907
We are aware of this issue and we will revisit it soon
/lifecycle frozen

[2020-04-02 18:46] girishramnani commented on #1952
we will revisit this issue soon
/lifecycle frozen

[2020-04-02 18:47] girishramnani commented on #1955
@amitkrout are we still facing this error?

[2020-04-02 18:48] girishramnani commented on #2131
@amitkrout do we still have this error

[2020-04-02 18:50] girishramnani commented on #2154
/remove-lifecycle stale

[2020-04-02 20:20] maysunfaisal opened #2805 "experimental odo create should be the only command to handle devfile flag"
/kind feature

## Which functionality do you think we should add?
- [ ] odo create should be the only odo command to take devfile flag(currently odo push does it)
- [ ] `odo create component <name>` should pull down devfile from a registry to project root and `odo create component --devfile=./somepath/devfile` should copy the devfile from the specified flag to project root
- [ ] all odo commands s

[2020-04-02 20:20] maysunfaisal commented on #2805
/area devfile

[2020-04-02 22:20] GeekArthur commented on #2635
We should consider support the secured devfile registry, we may do some research to check if there are some go packages that support https with self-signed certificate.

[2020-04-02 22:27] GeekArthur commented on #2761
@mik-dass Yup, that's right steps, or even more simple
[code]
Because currently devfile component doesn't support python, you can create s2i python component directly with experimental mode enabled to save one step to switch experimental mode

[2020-04-02 22:39] GeekArthur commented on #2635
@dharmit I bring the multiple registries support topic up in our this week's contributors meeting, from @kadel 's point of view, we should support that since Che support that as well, which means user can enable multiple registries and view/create component from multiple registries. I agree it's a little bit complicated from use case perspective, but it does provide more flexibility for user.

[2020-04-02 22:49] maysunfaisal opened #2807 "odo push deletes project files after making a change to devfile"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

## How did you run odo exactly?

I noticed this when writing integration tests for devfile exec and confirmed this on the master branch without any of the exec code. Also seeing this with the integration test suite on the master branch.

- `odo set experimental true`
- `odo push`
- c

[2020-04-02 22:57] johnmcollier commented on #2807
This is because we're using an emptyDir volume to store the project source and the pod that it's mounted to is going down, thus taking down the emptyDir volume to.

Solution is to probably compare the resource versions of the component's pod before and after we attempt updates to it, if they're different it means the pod was recreated and we need to do a full sync. We could even just look at the p

[2020-04-02 23:02] johnmcollier commented on #2807
/assign

[2020-04-03 00:45] anshulvermapatel commented on #2803
I can work on this one, can someone assign me to this issue.

[2020-04-03 01:14] #2794 closed

[2020-04-03 04:35] prietyc123 commented on #2752
Yes, As OpenShift CI does not support such functionality (Got confirmation form test platform team), so as per the above discussion the only way left behind is travis CI.

[2020-04-03 05:08] dharmit commented on #2727
I feel that many users won't have detailed idea about kubernetes using ingress and OpenShift using routes. I understand that a few users use OpenShift only as a Kubernetes and would like to use ingress instead of routes. But does that comprise majority of the odo users that use OpenShift? I doubt that.

I think we should do something like this:
* odo should automagically create ingress if working

[2020-04-03 05:52] dharmit commented on #2635
IMO, the flexibility is not worth it if it makes things complex for the end-user. We can still support a dynamic devfile registry by letting user specify registry of their choice on CLI: `odo catalog list components --registry <my-other-registry>`. But when a user does `odo catalog list components` without the `--registry` flag, they should be provided with list of devfiles from the registry confi

[2020-04-03 05:59] yangcao77 opened #2808 "Missing owner reference in ingress created for devfile component"
/kind bug

owner reference is missing in ingress spec; therefore when deleting the deployment, the ingress still remains.

Details in : https://github.com/openshift/odo/pull/2762#issuecomment-608243209

[2020-04-03 06:00] yangcao77 commented on #2808
/area devfile

[2020-04-03 07:53] adisky commented on #2727
I agree with dharmit, `odo url create --openshit` does not sounds good to me :),   for the third point, if there are users requesting Ingress on Openshift or we get request in future then only we should support ingress on openshift.

IMHO, if autodetection of openshift/k8s cluster is complicated, then this information could be set as configuration by user, either locally or globally. I think we sh

[2020-04-03 08:05] mik-dass commented on #2727
odo should automagically create ingress if working on kubernetes cluster
odo should automagically create route if working on OpenShift cluster
If user wants to create ingress on OpenShift cluster, they have to specify that with a flag

I agree with this part :+1: But I will leave the decision up to what majority of our customers want.

[2020-04-03 08:40] Preeticp commented on #2179
You are most welcome @RickJWagner. Just wanted to add, your feedback is greatly appreciated, it helps make our docs better.

[2020-04-03 09:43] dharmit commented on #2723
#2810 addresses the first part of this issue's acceptance criteria.

[2020-04-03 09:46] kadel commented on #2727
This makes sense. Let's do this.

[2020-04-03 09:46] dharmit commented on #2723
@kadel I'm thinking of making user specify the operator name and crd name as is the case right now, and specify file name after that. Something like:
[code]
This long command will help us do some validation so that a user doesn't erroneously or purposefully try to create something else by doing `odo service create -f etcd.yaml`. They could create something else if we don't keep any validation beca

[2020-04-03 09:53] kadel commented on #2723
Not sure about that. The commands above looks way too long and complicated :-( It is also full of duplicate values, everything that is specified is also in the yaml file :-(

We can still do some validation even without forcing users to provide duplicated parameters.

Would it be possible to simply parse the yaml file, get `Kind` and check if it matches one of the `CRD`s provided by already instal

[2020-04-03 10:26] mik-dass commented on #2727
@kadel @girishramnani Should we use something like using the version output to check if it's a kubernetes or openshift cluster?

[2020-04-03 10:29] mik-dass commented on #2701
OK. Maybe we can inform the user that he can add a devdebug step manually in the devfile. Also we can ask the user he wants to manually add a devdebug step. If he says yes, we can just add a devdebug basic template in devfile.

[2020-04-03 10:53] dharmit commented on #2723
Yes. That sounds doable. Agree with your points about long and complicated. Let's go with it.

Just one clarification however. The `odo service create` command will accept a path to some yaml file only when experimental mode is enabled.

[2020-04-03 11:52] dharmit commented on #1605
@Preeticp thanks for fixing this. Good to close!

/close

[2020-04-03 11:53] #1605 closed

[2020-04-03 12:24] dharmit commented on #2183
Looks good to me. Thanks for addressing this @boczkowska & @Preeticp !

[2020-04-03 12:24] #2183 closed

[2020-04-03 13:44] kadel commented on #2803
/area push
/priority high

/assign @anshulvermapatel

[2020-04-03 15:14] GeekArthur commented on #2635
@dharmit I rethink this design, actually I don't think display components with their registries via `odo catalog list components` is complex for user, it's really helpful for user because they know all the devfiles they can use from one output page instead of always check which registry they have then use `--registry` to display or check which registry they have and enable the registry then use `w

[2020-04-03 16:53] rajivnathan commented on #2662
@yangcao77 That's correct, I was able to see the order of the volumes in the pod spec change *sometimes* and that causes the redeploy to occur. Another way to check that it's happening is to run `kubectl get rs -w` to watch for any ReplicaSet changes. If a redeploy occurs you will see new events during the push.

@cdrage @kadel Since I was the only one who was able to reproduce it, I investigated

[2020-04-03 23:45] #2654 closed

[2020-04-04 06:06] #2657 closed

[2020-04-04 06:06] #2719 closed

[2020-04-04 06:06] #2721 closed

[2020-04-04 09:12] amitkrout opened #2812 "Examples are missing for devfile UX when experimental is enabled"
/kind feature

## Which functionality do you think we should add?
Talkative examples for experimental feature for example devfile UX when experimental is enabled.

## Why is this needed?
Because it is missing in UX and ofcourse for better user experience.

What is missing : devfile command example is missing in the example section when experimental is enabled.

1.
[code]
2.
[code]

[2020-04-04 13:28] amitkrout opened #2813 "Experimental destroys regular odo component create command"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
## Actual behavior
All the component configuration found the the same dir from where i launches the command
[code]
Why these configuration files are created for regular odo component create command ?

## Expected behavior
Component shoul

[2020-04-05 09:15] amitkrout commented on #2194
For devfile - https://github.com/openshift/odo/pull/2798#pullrequestreview-387797505

[2020-04-05 09:16] amitkrout commented on #2194
/cancel stale

[2020-04-05 09:16] amitkrout commented on #2194
/remove-lifecycle stale

[2020-04-05 20:18] Pachareepongsri753 opened #2814 "สำรวจ"
/kind feature

## Which functionality do you think we should add?

## Why is this needed?

[2020-04-06 04:30] mik-dass commented on #2814
/close

[2020-04-06 04:31] #2814 closed

[2020-04-06 04:45] amitkrout commented on #2813
ping @girishramnani @kadel

It seems like we are exposing experimental feature putting original feature at risk. AFAIK experimental feature is some functionality/feature added to the original product to get more feedback from the user side and ofcoures there is a trade-off if it breaks but it should never have bad impact on the original product functionality/feature.

[2020-04-06 05:08] dharmit commented on #653
@Preeticp I think we can add my responses in above comment to the docs. For example, in the docs section that talks about how to change the application name of current component, we can add that it can also be used to deploy same component to multiple applications. It's mostly the `odo config` that would need some update to the docs.

But, I'm not sure how important this exercise would be at this

[2020-04-06 06:01] dharmit commented on #2813
I think there's some confusion here (I'm referring to the above quoted statement and the section `How did you run odo exactly?`). What you've done is:
1. Created a component using experimental mode
2. Tried to push it without experimental mode

But, it is expected that when you create a component with experimental mode enabled, you should be pushing it with experimental mode enabled as well. This

[2020-04-06 06:31] Preeticp commented on #653
For docs, devfile support will be top priority. If this issue becomes redundant once devfile support is in, and since no users have asked for this information yet, IMHO, we could close this issue.

[2020-04-06 07:07] mik-dass opened #2815 "Fix `odo url list` json output for ingress"
/kind bug

[code]
`"apiVersion": "udo.udo.io/v1alpha"` is incorrect and also the item is of kind of `ingress` which a user might not understand

[2020-04-06 07:36] mik-dass opened #2816 "make test fails with experimental mode on"
/kind bug

Turn on experimental mode on and run make test

## Actual behavior

[code]

## Expected behavior

unit tests should pass without failure

[2020-04-06 07:44] amitkrout commented on #2816
@mik-dass Thanks for the issue.
Yup, i can see the same failure

[2020-04-06 07:53] amitkrout commented on #2813
$ ODO_EXPERIMENTAL=true odo push

@dharmit Don't you think you are missing ```--context``` flag here while pushing. Ideally it would be ```$ ODO_EXPERIMENTAL=true odo push --context ../tests/examples/source/nodejs/```, isn't it ?

[2020-04-06 08:03] dharmit commented on #2813
Yes, that's right. But using `--context` correctly, without enabling experimental mode, in this particular case won't yield to successful push since the component was created using experimental mode.

[2020-04-06 12:20] mohammedzee1000 commented on #2795
I have a funtional script. I am battle testing it before making it a corn job

[2020-04-06 14:06] maysunfaisal opened #2818 "Cover Devfile Exec and Storage Integration Tests"
/kind user-story

## User Story
This issue tracks integration tests for devfile storage and exec since the original user story issue did not cover the integration tests(linked below).

## Acceptance Criteria
- [ ] It should have devfile storage integration tests
- [ ] It should have devfile exec integration tests

## Links
- Feature Request:
- Related issue: https://github.com/openshift/odo/issues

[2020-04-06 14:06] maysunfaisal commented on #2818
/assign

[2020-04-06 14:07] maysunfaisal opened #2819 "Add devfile command flags to odo watch"
/kind user-story

[EDITED] (Check Edit history for previous User Story Acceptance Criteria)

## User Story
We discussed when working on the PR https://github.com/openshift/odo/pull/3075, that saving commands for push flags, was not the way to go.

So, we've introduced flags `build-command`, `run-command` for odo watch

## Acceptance Criteria
- [ ] odo watch should be able to execute with `build-co

[2020-04-06 14:11] maysunfaisal opened #2820 "odo devfile push's run process should depend on devfile odo.restart"
/kind user-story

## User Story
Devfile's odo push's restart should depend on `odo.restart: "false"` in the devfile.

## Acceptance Criteria
- [ ] It should check for the attribute in the devfile when push is executed
- [ ] Make sure odo restart is in the devfile schema 1.0 and 2.0

## Links
- Feature Request:
- Related issue: https://github.com/openshift/odo/issues/2654

/kind user-story
/area de

[2020-04-06 15:28] GeekArthur commented on #2812
/area devfile

[2020-04-06 15:48] GeekArthur commented on #2812
Expected implementations
- [ ] Add `odo create` examples for devfile component to the help page
- [ ] Remove `--namespace` flag usage when experimental mode is disabled

[2020-04-06 15:53] #2603 closed

[2020-04-06 15:53] #2640 closed

[2020-04-06 15:53] #2647 closed

[2020-04-06 15:53] #2663 closed

[2020-04-06 15:53] #2664 closed

[2020-04-06 16:03] kadel opened #2822 "unable to push devfile, if there is no .odo"
I have a project that contains devfile.yaml but no `.odo`.

The `.odo` directory should not be required!

[code]

- [x] User story covering required changes in `odo push` command - https://github.com/openshift/odo/issues/3144

/area devfile
/priority high
/area component

[2020-04-06 16:32] kadel opened #2823 "check if namespace/project exist"
`odo push` should check that the project or namespace exist and fail with nice error explaining what should user do to fix it (create namespace/project)

[code]

This is still problem in v3 for both odo dev and odo deploy

/kind bug
/priority medium
/area devfile

[2020-04-06 16:33] GeekArthur commented on #2813
@amitkrout Regarding `It seems like we are exposing experimental feature putting original feature at risk`, I think it can be boiled down to the question "How does devfile component and s2i component live together properly?" and the question is not only about `odo create`, it's about all the corresponding commands such as `odo create`, `odo push`, `odo url`, etc.

Let me briefly explain the design

[2020-04-06 16:33] GeekArthur commented on #2813
/assign

[2020-04-06 16:34] GeekArthur commented on #2812
/assign

[2020-04-06 16:38] GeekArthur opened #2824 ""--context" support for odo create"
/kind user-story

## User Story
As a user, I want to create devfile component from outside the source code directory using the context flag.

## Acceptance Criteria
- [ ] `odo create` for devfiles should support context and should work outside of the component directory (eg `odo create nodejs --context source-dir/`)

## Links
- Related issue: https://github.com/openshift/odo/issues/2813

/kind use

[2020-04-06 16:38] GeekArthur commented on #2824
/assign

[2020-04-06 16:44] kadel opened #2825 "PVCs should be created before Deployment"
if the devfile definition contains volume

[code]

PVC should be created before Deployment to speed up the deployment process.
If Deployment is created before PVC, the first Pod creation fails with the temporary error `persistentvolumeclaim "m2-backend-bwdu" not found` and it has to retry.
If the PVC is created first then everything happens on the first try.

/area devfile
/priority medium

[2020-04-06 16:52] GeekArthur commented on #2813
@amitkrout Probably you already test other scenario, please let me know, if all tests are good for s2i components this issue should be a feature/user story instead of bug

[2020-04-06 17:01] johnmcollier opened #2826 "Panic if invalid component name is entered during `odo create`"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

## How did you run odo exactly?
I was trying to pull down the open liberty devfile and use it with a sample project. When I ran `odo create openliberty`, I got the following error:
[code]

But if I run `odo create openLiberty`, everything runs fine:
[code]

/area devfile

[2020-04-06 17:09] johnmcollier opened #2827 "No spinner on wait for deployment rollout"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

## How did you run odo exactly?
When odo waits for the deployment rollout as part of `odo push`, a spinner doesn't get created, so the user just sees this while they wait for the Deployment to finish rolling out:
[code]

rather than
[code]

Additionally, when the deployment rol

[2020-04-06 17:16] cdrage commented on #2662
Thank you @rajivnathan ! https://github.com/openshift/odo/pull/2735 is merged now :)

[2020-04-06 18:29] cdrage commented on #2646
Well, this is interesting.. Because I'm unable to reproduce this at all:

[code]

And this is using the standard `https://github.com/openshift/nodejs-ex` application.

I'm going to try the Java build next I guess!

[2020-04-06 19:24] cdrage commented on #2782
@mik-dass Yup. That's normal. It's the terminal doing it's thing with regards to the spinner.

I do realize that the warning message is actually quite long, I'm going to push a PR to reduce the size to hopefully we don't have this occur again on smaller terminals.

[2020-04-06 21:24] johnmcollier commented on #2826
Found the cause of the bug, when `experimental` is set to true, we're returning a partially created CLI context:

https://github.com/openshift/odo/blob/master/pkg/odo/genericclioptions/context.go#L418-L432

[2020-04-06 23:22] jgwest opened #2828 "Unsafe data race in ExecuteCommand in exec.go"
/kind bug

In `ExecuteCommand(...)` of `pkg/exec/exec.go` ([link](https://github.com/openshift/odo/blob/master/pkg/exec/exec.go#L39)), if an error occurs when executing a command within a container, the `cmdOutput += fmt.Sprintln(line)` may write to `cmdOutput` at the same point that the `log.ErrorF(...)` is reading from it.

Introduced with [this commit](https://github.com/openshift/odo/commit/56

[2020-04-06 23:57] #2807 closed

[2020-04-07 03:26] mik-dass commented on #2782
OK :+1:

[2020-04-07 04:45] mik-dass commented on #2761
But currently while creating a python component with experimental mode enabled, it panics.

[code]

[2020-04-07 05:47] mik-dass commented on #2761
#2762 seems to have fixed this issue. Can you please check and close this issue if already resolved.

[2020-04-07 06:45] dharmit commented on #2813
@amitkrout I'm removing the `priority/critical` label from this since the behaviour exhibited is expected.

[2020-04-07 11:24] amitkrout opened #2831 "Add proper doc for devfile and s2i config matrix"
/kind documentation

## What mistake did you find / what is missing in the documentation?
Missing config file matrix doc for devfile and s2i component - https://github.com/openshift/odo/pull/2598#issuecomment-585680436
Also comment link https://github.com/openshift/odo/issues/2813#issuecomment-609901433 would be helpful as it explains the above link.

## What is the relevance of it?
Helpful to und

[2020-04-07 11:30] amitkrout commented on #2813
@GeekArthur Thanks for a lovely description https://github.com/openshift/odo/issues/2813#issuecomment-609901433. I have created an issue #2831 to document those vital piece of information.

I have tested only two scenarios and need to cover few more scenario. Then accordingly i will update the label for sure.

[2020-04-07 11:44] dharmit opened #2832 "Document use of "odo url create" for devfile in CLI and docs"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
Tried `odo url create` for a component based on DevFile.
[code]

## Actual behavior
 Command failed asking me to provide a value for `host`. But there's no example for how this can be done in `odo url create -h` or in the docs.

## Expected behavio

[2020-04-07 11:52] mik-dass commented on #2701
After some discussion with @kadel , we have decided to name the step `debug` or `debugrun` in the devfile. And instead of having a dedicated command, we will start the debug mode when the user executes `odo push --debug`.

 The user can also declare a env variable in the devfile to trigger debug mode.

@girishramnani @elsony WDYT?

[2020-04-07 11:56] mik-dass opened #2833 "Test ingress URL in devfile test suite"
/kind bug

Currently the URL test scenarios in https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_url_test.go don't test the created ingress URL. We should test that the URL is working just like our s2i tests.

[2020-04-07 12:10] dharmit commented on #2174
This now works as expected.

[2020-04-07 12:10] #2174 closed

[2020-04-07 13:22] cdrage opened #2834 "Official component maintainers and responsibilities"
Assign responsibilities for each component support with backup people.

Ex: Operator Hub -> Dharmit

[2020-04-07 14:30] cdrage commented on #2701
After today's cabal, this LGTM and makes sense. If a user wants their application to initially run in debug mode, it makes sense to pass in `--debug` to `odo push`.

[2020-04-07 14:40] maysunfaisal commented on #2808
The secrets would also need to be deleted along with the ingress:

[code]

[2020-04-07 14:50] elsony commented on #2701
Yes, sounds good to me.

[2020-04-07 15:16] johnmcollier opened #2835 "Support listing devfile v2 components in odo"
/kind user-story
/area devfile

## User Story
As a user, I want to be able to list the running devfile components on my system (Either Kube cluster or Docker) and see which devfile they belong to, using `odo list`.

## Acceptance Criteria
- [x] `odo list` should be able to list all of the running devfile components in a given namespace
- [x] `odo list` should specify which devfile each component i

[2020-04-07 16:36] cdrage commented on #2105
I've refactored this as much as I could :+1: I think we can close this for now.

[2020-04-07 16:36] #2105 closed

[2020-04-07 16:38] kadel commented on #2285
Not really it still should be possible to store project in `env.yaml` (or `config.yaml`) when the user executes `odo config set project project2`. But that should be optional.

By default, the project won't be set there and the default project as specified in `KUBECONFIG` will be used (this is "Case 1" as I described in my previous comment)

Optionally the user can do `odo config set project mypro

[2020-04-07 16:39] GeekArthur commented on #2761
@mik-dass I am pretty sure this use case `creating a python component with experimental mode enabled` works before, #2762 is merged, seems like it fixes this issue but cause the regression of failing to create s2i component with experimental mode enabled

[2020-04-07 16:48] GeekArthur commented on #2826
I am pretty sure the use case `creating s2i component with experimental mode enabled` works before, the root cause this PR #2762 causes the regression as it modifies the context creation function that is used by s2i component. With that changes, currently If user wants to create s2i component with experimental mode enabled, it goes to devfile context code path instead of s2i context code path. We

[2020-04-07 16:54] GeekArthur commented on #2826
FWIW, we call the context creation function here https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/create.go#L396 during `odo create`

[2020-04-07 16:57] GeekArthur commented on #2761
We should verify this issue until the regression has been fixed.

[2020-04-07 17:58] yangcao77 commented on #2808
@maysunfaisal The tls secrets need to be deleted during `odo delete`, not `odo url delete`. Since we are sharing the same tlssecret for all secured URLs within the same component.

[2020-04-07 18:14] maysunfaisal commented on #2808
Okay, let me rephrase -
shouldn't ingress and secret both be deleted during `odo delete`? Correct me if I am wrong, `odo url delete` currently deletes only the envinfo which is correct and matches `odo url create` since it creates envinfo..

[2020-04-07 18:16] cdrage commented on #2106
/lifecycle frozen

[2020-04-07 18:18] cdrage commented on #1102
/lifecycle frozen

I'll do a review of all commands (eventually).

I've assigned this to myself.

[2020-04-07 18:20] cdrage commented on #1105
/lifecycle frozen

IMO we should (eventually) implement this into `odo debug` subset of commands.

[2020-04-07 18:23] yangcao77 commented on #2808
yes. they should be both deleted during `odo delete`.
I guess what you mean is the owner reference should also be added to the tls-secrent? So that it can be deleted during `odo delete`.
But `odo url delete` followed with `odo push`, would not delete tls-secert, it only deletes ingress. So it's not be deleted "along with ingress", it's be deleted  "along with deploy"

[2020-04-07 18:29] maysunfaisal commented on #2808
@yangcao77 so; `odo url create` creates url envinfo and `odo url delete` will remove url envinfo  and ingress? because ingress is created during `odo push`?

[2020-04-07 18:33] yangcao77 commented on #2808
@maysunfaisal `odo url delete` will remove url envinfo.
And `odo push` would create/delete the ingress based on the difference between existing ingresses, and ingresses in envinfo.

[2020-04-07 18:33] cdrage commented on #2285
That's what's confusing.... `odo config set project project2 is already implemented. Same as pushing when you're setting `odo config set project project2`.

This all appears in `.config.yaml`. So what needs to be implemented here then?

[code]

[2020-04-07 18:33] yangcao77 commented on #2808
/assign

[2020-04-07 19:00] cdrage commented on #2646
Looks like I'm able to reproduce it (sometimes).

For my notes:

Commands ran:

[code]

Here is the output specifically from `odo update`:

[code]

[2020-04-07 19:05] maysunfaisal commented on #2808
@yangcao77 in that case what happens when i do `odo create`, `odo url create`, `odo push` and `odo delete`?

The ingress would be left behind, since i am not doing `odo url delete` and `odo push` again to remove the ingress.. 🤔

[2020-04-07 19:13] yangcao77 commented on #2808
@maysunfaisal `odo delete` would delete all ingresses and secrets belongs to that component. Since they are bonded to the same deployment.
And the ingress and tls-secret is currently left behind because owner reference is missing.
This is what the issue for.

[2020-04-07 20:24] #2309 closed

[2020-04-07 20:24] #2630 closed

[2020-04-07 20:24] #2796 closed

[2020-04-07 20:37] gorkem opened #2840 "Local development with Telepresence"
/kind feature

## User Story
As a developer I want to be able to debug part of my application locally So that I can take advantage of the tools that are locally available to me.

Developers should be able to setup a component to be run locally and have the traffic from the remote cluster to the local instance and proxy back the traffic to the remote service.

## Links
- https://www.telepresence.io

[2020-04-08 02:12] #2591 closed

[2020-04-08 07:52] mik-dass commented on #2761
using https://github.com/openshift/odo/pull/2839, I tried the above steps again and it seems the issue has been fixed by #2762 . Can you please verify it?

[code]

[2020-04-08 09:12] kadel commented on #2727
/remove-status blocked
/remove-triage needs-information

@mik-dass Can you please summarize our discussion here in the issue?

[2020-04-08 09:24] mik-dass commented on #2727
We will be using the server version of the cluster to detect if the cluster is openshift or kubernetes.

@kadel @girishramnani Where will be put the details in case the component is created from a devfile but the cluster is a openshift one? LocalConfig or Env.yaml? I would like to put it in env.yaml file

[2020-04-08 09:26] kadel commented on #2727
LocalConfig should never be involved with devfile components. LocalConfig should not even exist.

[2020-04-08 09:27] mik-dass commented on #2727
Sounds good to me :+1:

[2020-04-08 09:30] kadel commented on #2635
How can be self-signed considered secured?

[2020-04-08 10:10] kadel commented on #2635
I see your point but I think that it will limit the usefulness of the devfile registries.
Usually, I'm not a big fan of analogies myself but bear with me: I look at the devfile registry as a software repository. Would you be ok if in your Fedora system you could use just one yum repository at a time?

[2020-04-08 11:06] dharmit commented on #653
I believe most of the points raised by @jorgemoralespou are already taken care of at implementation level. However, since we're moving to DevFiles, we can skip the documentation.

Closing the issue.

[2020-04-08 11:06] #653 closed

[2020-04-08 11:08] prietyc123 opened #2846 "odo project create fails for devfile feature on kubernetes cluster"
/kind bug
/area testing

## What versions of software are you using?

**Operating System:**
Linux

**Output of `odo version`:**
master

## How did you run odo exactly?
Running devfile test script on travis through pr https://github.com/openshift/odo/pull/2809

## Actual behavior
Test Script fails while creating odo project ```odo project create```

## Expected behavior
Test Script should create th

[2020-04-08 11:29] prietyc123 commented on #2846
I am blocked as the test scripts are failing on travis ci configured with Kubernetes cluster.

[code]
Even after moving the experimental flag in `BeforeEach` for ex :
[code]
gives the same failure. Logs are :
[code]

For detailed info:  https://travis-ci.com/github/openshift/odo/jobs/316819721

Ping @girishramnani @johnmcollier @GeekArthur

[2020-04-08 12:00] dharmit opened #2847 "Code seems to do something different than what's commented"
/kind bug

Code comment at: https://github.com/openshift/odo/blob/00262d842955b1d5d9d1f6461b8e5ef41393b7e1/pkg/component/component.go#L891-L900
talks about extracting labels but it doesn't look like the block following it is actually extracting them.

[2020-04-08 12:13] dharmit commented on #2773
Various possible states for the component:
|State|Meaning|
|------|------------|
|Pushed| Component has been pushed to the remote cluster |
|Not Pushed| Component exists on local disk but has not been pushed to the remote cluster |
|Unknown| Component state could not be determined. Most likely because user is not logged in to the cluster |

@kadel @girishramnani @adisky does above sound good to yo

[2020-04-08 12:15] kadel commented on #2570
another occurrence https://travis-ci.com/github/openshift/odo/jobs/316815602

I see it quite often (multiple times per day) :-(

[2020-04-08 12:22] kadel commented on #2835
Currently `odo list` filters the component based on the application (using `app` or `app.kubernetes.io/part-of` label).  Would we want to do the same?

Each component belongs to the application, and if you do `odo list` it lists components in the current application.

[2020-04-08 12:23] kadel commented on #2834
👍 The responsibilities should be captured in `OWNERS` file.
Whoever is responsible for a given component should become an approver for the component.

[2020-04-08 12:24] kadel commented on #2833
/kind test
/remove-kind bug
/priority high
/area url
/area devfile

[2020-04-08 12:26] kadel commented on #2847
/remove-kind bug
/kind code-refactoring

[2020-04-08 12:28] kadel commented on #2828
ping @cdrage

[2020-04-08 12:29] kadel commented on #2825
/kind feature

[2020-04-08 12:48] kadel commented on #2820
We can easily use `attributes` in devfile 1.0 for this.

In the devfile it would look like this:
[code]

Odo checks for `restart` field in attributes for `devRun` command and if it is `true` it woun't try to restart the run process.
Odo should always try to start it (`supervisord ctl start devrun`) just to make sure that it is running, as the process might fail due to some error, than the user wil

[2020-04-08 13:31] kadel opened #2848 "odo log for devfile components"
/kind user-story

## User Story
As a user, I want to see logs of a running application So that I can check if my application is running properly

## Acceptance Criteria
- [ ] `odo log` command should show the stdout of the "devRun" process, similarly how it does for s2i based components

/kind user-story
/area devfile
/priority medium

[2020-04-08 15:09] GeekArthur commented on #2635
Yeah, sorry for the confusion, that comment is just to let us keep in mind we should support secured registry, self-signed is just a start and we can use that for testing purpose for the timing being, finally we should support and test CA certificate for sure.

[2020-04-08 15:44] GeekArthur commented on #2846
@prietyc123 AFAIK, the experimental flag shouldn't affect the namespace/project level command like `odo project`, it only affects component level commands (eg. `odo component`, `odo push`). Also I think moving the experimental flag from `It` statement to `BeforeEach` only changes the order of executing the experimental flag setup, it won't affect the actual project creation. The running flow shoul

[2020-04-08 16:27] #2669 closed

[2020-04-08 16:40] kadel commented on #2846
From the odo perspective, we need to rethink how we are going to handle projects vs namespace.

The original idea was to use terminology in odo that is independent of
OpenShift or Kubernetes. We could still use the project everywhere in
the odo. The original expectation was that the odo user doesn't know
anything about Kubernetes or OpenShift so the project might actually
make more sense then name

[2020-04-08 17:16] johnmcollier commented on #2848
Could we expand this to also retrieve the build logs from the `devBuild` process? When I was running through the end-end scenario today, there were a couple times I thought it'd be handy to have the build logs on hand 🙂

[2020-04-08 18:49] maysunfaisal commented on #2848
yep, I think this would be really nice to have for both build and run commands tbh. I have stack creators ask me a couple of times how they could view their command outputs

[2020-04-08 18:59] johnmcollier opened #2849 "Create docker volumes based off of volumes in devfile"
/kind user-story

## User Story
As a user, I want the volumes defined in my devfile to correspond to Docker volumes and get mounted in to the containers that require them

## Acceptance Criteria
- [ ] It should create docker volumes based on the volumes defined in my devfile
- [ ] It should share docker volumes where needed (multiple containers specifying the same volume)

## Links
- Feature Reque

[2020-04-08 19:31] yangcao77 commented on #2622
The pr has been merged. Can we close this issue?

[2020-04-08 19:31] yangcao77 commented on #2592
The pr has been merged. Can we close this issue?

[2020-04-08 19:41] GeekArthur opened #2850 ""odo create" supports for dowloading devfile compoent template"
/kind user-story

## User Story
As a user I want to use the template that is compatible with the devfile I specify during `odo create [component type]` so that I don't need to bring my own template and I can start working on the component development based on the provided template.

## Acceptance Criteria
- [ ] Read the template location directly from devfile and use that template location to down

[2020-04-08 20:18] jgwest opened #2851 "Invalid ANSI colouring on Windows when doing devfile push"
/kind bug

When doing a dev file push with master-built  ODO on Windows 10, the `Push devfile component` text is outputted with ANSI control characters that render incorrectly on Windows (Command Prompt). All other ODO output is fine.

![image](https://user-images.githubusercontent.com/7594762/78829142-d487d500-79b3-11ea-809d-dc22a96ca66b.png)

It appears to be because the devfile component text o

[2020-04-08 21:22] #2782 closed

[2020-04-08 21:22] #2826 closed

[2020-04-08 22:27] johnmcollier commented on #2850
@GeekArthur This seems like a dupe of https://github.com/openshift/odo/issues/2582?

[2020-04-08 23:09] johnmcollier opened #2852 "odo url create/delete output always references OpenShift clusters"
/kind bug
/area devfile
/priority low

When running `odo url create` or `odo url delete` against a devfile component, odo shows the following output, even if running against a non-OpenShift cluster:
[code]

and
[code]

[2020-04-09 05:47] dharmit commented on #2832
Setting high priority on this one because creation of URL is pretty important to access the component deployed on the cluster.

/label priority/high

[2020-04-09 05:59] dharmit commented on #2832
ping @kadel @elsony

[2020-04-09 06:15] jichenjc opened #2853 "odo create nodejs-10-rhel7 crashed"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

compiled version

commit cef105be1d519754bde6a5f3cc2b8cc23c49f774
Author: Mrinal Das <mrinald7@gmail.com>
Date:   Wed Apr 8 07:42:00 2020 +0530

## How did you run odo exactly?

run this command with devfile flag=true and got following error

`Updated: I guess I found the root cause, will w

[2020-04-09 06:16] prietyc123 commented on #2846
Thanks a lot GeekArthur
May be in travis I am getting the flake due minikube version. In travis I am setting up minikube 0.25 for running devfile test against kubernetes cluster. Would you please let me know which minikube version you are using for your local testing ?
In the mean time I will test the same scenario locally against minikuke 0.25 locally just to confirm if its flake in CI.

[2020-04-09 06:17] jichenjc commented on #2853
[code]

[2020-04-09 06:20] dharmit commented on #2642
@mohammedzee1000 https://github.com/openshift/odo/pull/2841#issuecomment-611351264

[2020-04-09 08:10] adisky commented on #2853
same as https://github.com/openshift/odo/issues/2826

[2020-04-09 08:23] dharmit commented on #2835
As for the possible state of the component, please refer https://github.com/openshift/odo/issues/2773#issuecomment-610922457.

[2020-04-09 08:38] dharmit commented on #2824
I don't see `--devfile` flag for `odo craete` in current `master` branch. Are we proposing to add both `devfile` and `context` flags in this story?

[2020-04-09 09:03] adisky commented on #2853
/close

[2020-04-09 09:04] #2853 closed

[2020-04-09 09:41] #2444 closed

[2020-04-09 10:04] mohammedzee1000 opened #2855 "Release odo 1.1.2"
Release odo cli v1.1.2

https://bugzilla.redhat.com/show_bug.cgi?id=1822545

[2020-04-09 11:02] dharmit commented on #2635
Nope, I'd not like it if my Fedora system had only one registry. But I think the scenario we have resembles more with listing/searching container images from a container registry than listing rpms from a repo.

Going with multiple devfile registries just feels counter intuitive to me. And it's very likely that it's just me. It also asks for the code to consider various scenarios. And not to forget

[2020-04-09 11:35] mik-dass opened #2857 "odo exec command"
/kind user-story

## User Story
As a developer I want to execute commands in the pod so that I can debug my application and do other stuff.

## Acceptance Criteria
- [ ] It should have a `exec` command to execute a command inside the pod

## Links
- Feature Request:
- Related issue:

/kind user-story

[2020-04-09 11:46] kadel commented on #2852
We should start using just "cluster" no Kubernetes or OpenShift to make our life easier and avoid any confusions

[2020-04-09 11:50] kadel commented on #2848
We used to always show build output, but it was really noisy and most people don't care about the output if the build was successful.

If the build process fails (at least with s2i components) it dumps stdout and stderr of the build process.
Or you can use `odo push --show-log` to always show build logs.

[2020-04-09 12:34] kadel opened #2858 "odo should automatically create url for previewUrl"
/kind user-story

## User Story
As a user I want to just run `odo push` after cloning project with devfile.yaml in the project root and have the project running and accessible in the cluster, without executing any other command.

## Acceptance Criteria
- [ ] `odo push` should automatically create URL for any [`previewUrl`](https://github.com/redhat-developer/devfile/blob/master/docs/devfile.md#pre

[2020-04-09 13:20] dharmit commented on #2481
We've got a user story covering this on #2792

[2020-04-09 13:20] #2481 closed

[2020-04-09 13:28] mohammedzee1000 commented on #2855
https://github.com/openshift/odo/pull/2856

[2020-04-09 13:52] kadel commented on #2832
this is a side-effect of the fact that `odo url create` creates only Ingress. Ingress requires host to be specified not like Route that can determine host automatically on the cluster based on router controller configuration.

Route support should be added back as part of https://github.com/openshift/odo/issues/2727

I think that this is more a documentation issue than bug.

[2020-04-09 13:55] dharmit commented on #2832
I am running a CRC VM on my laptop and I've tried to do:
[code]
It creates a URL without any error, I push it as well. But the application is not accessible on the URL thus created. Maybe it's the ingres vs. route thing as you mentioned @kadel.

I didn't add it as documentation because that might have got the docs team looking into this which is not what we need right now. :smile:

[2020-04-09 13:56] kadel commented on #2832
@dharmit you should use just `--host apps-crc.testing`

[2020-04-09 13:56] kadel commented on #2832
The flag actually doesn't specify full host for Ingress, but rather base domain, the actually host will be `<url name>.<--host value>`

[2020-04-09 14:39] adisky opened #2859 "`odo push` failing for devfile with invalid container name"
/kind bug

we are passing *action.Component here at the place of `container name`
https://github.com/openshift/odo/blob/04c5e50957482a2014125bde64783f326d25f5e2/pkg/devfile/adapters/kubernetes/component/adapter.go#L457

As i could check from devfile.yaml, component is `tools` here, which is taken as `container name`
https://github.com/elsony/devfile-registry/blob/master/devfiles/maven/devfile.yaml

[2020-04-09 14:51] boczkowska commented on #2832
@dharmit I actually almost started to update the CLI reference doc. :D Tag/ping me if this will need an update in the docs on the website.

[2020-04-09 14:53] GeekArthur commented on #2824
@dharmit I just update the description to remove `--devfile` to avoid confusion. Currently `odo create` doesn't support both `--devifle` and `--context`, we will use separate issue to cover `--devfile` support.

[2020-04-09 15:04] kadel commented on #2392
@girishramnani
what is this blocked on?

[2020-04-09 15:05] kadel commented on #2570
Any progress on this?

This is a high priority, flakes are slowing us down a lot!

[2020-04-09 15:09] GeekArthur commented on #2846
@prietyc123 I didn't use minikube, but yeah that could be the reason, and manually test the scenario locally should be very helpful.

[2020-04-09 15:19] GeekArthur commented on #2850
@johnmcollier Yeah, essentially they are talking about the same thing, but for the time being we can leave this issue open to keep the rough design, then we can use one issue to track until we finalize the design. Thanks for pointing this out.

[2020-04-09 15:23] GeekArthur commented on #2582
FYI, this issue https://github.com/openshift/odo/issues/2850 description includes the rough design for template support, we can discuss and finalize the design later then just use one issue for tracking purpose.

[2020-04-09 15:38] maysunfaisal commented on #2833
Just as an FYI, to whoever picks this issue up, we would need to figure out the ingress domain/host for working on this issue i.e.; if the test is run on CI what is the ingress domain, if the test is run outside CI what is the ingress domain

odo non-experimental url create just required a port for route but odo experimental requires a port and a host(valid if you want to test endpoint) for ingres

[2020-04-09 15:46] johnmcollier commented on #2852
/assign

[2020-04-09 18:09] cdrage commented on #2828
Thanks @jgwest I have a feeling how I can fix this.

Do you have any commands that could help replicate the race condition?

[2020-04-09 19:44] johnmcollier commented on #2858
I'm in favour of option #2 for Kube:
- If a preview URL is set in the devfile, and the user hasn't already run `odo url create ...`, then we tell them to run it after `odo push` completes.

What about also adding `--host` and `--port` flags to `odo push`? Then the user could specify them during their first odo push, if they wish.

[2020-04-09 20:31] GeekArthur opened #2862 ""--devfile" support for odo create"
/kind user-story

## User Story
As a user I want to use my own devfile instead of the devfile from registry, to achieve that I can use `--devfile` to specify my own devfile location

## Acceptance Criteria
1. Features
- [x] It should download/copy devfile from the specific location to user's working directory
- [x] --devfile flag value should support both http(s) path and file system path
- [x] Re

[2020-04-09 20:31] GeekArthur commented on #2862
/area devfile

[2020-04-09 20:59] GeekArthur commented on #2635
We have discussed about a new command design today for dynamic registry support, so currently we have two designs

Design 1:
[code]

Design 2:
[code]

IMO, Design 1 is more readable and clear to user but it introduces many new arguments and makes the command more complicated. Design 2 is more centralized and consistent with the existing `odo preference` but it can cause uncertainty to user so that

[2020-04-10 08:38] jichenjc opened #2863 "weird -q param for project"
/kind bug

## What versions of software are you using?
master build code 5ab3fd979ee9dfb84ef14e12ebeedfba7ef34f06

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

the -q is weird,
[code]

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2020-04-10 08:38] jichenjc commented on #2863
I think we should remove `-q, --short   If true, display only the project name`

[2020-04-10 08:52] jichenjc opened #2865 "[question] is this a supported scenario in using devfile?"
/kind feature

## Which functionality do you think we should add?
I modified image in the devfile to registry.access.redhat.com/rhscl/nodejs-10-rhel7
and I try to push, seems it report wrong as the npm is not found while I can find the pods is running and I can run the docker image by using `sh` and run `npm` as well,
so change image to different name is supported?

[code]

## Why is this needed?

[2020-04-10 09:13] kadel opened #2866 "unable to create URL on GKE"
When trying to create URL (`odo url create`) on GKE (Google Kubernetes Engine) in the default configuration. Ingress doesn't get created due to the following error:

`error while evaluating the ingress spec: service "default/backend" is type "ClusterIP", expected "NodePort" or "LoadBalancer"`

It looks like we might need to add support for specifying different Service types than just `ClusterIP`.

[2020-04-11 06:17] amitkrout opened #2867 "Add UTs for cli packages"
/kind feature

## Which functionality do you think we should add?
Add missing UTs in cli packages

There are few UTs are validated against the cli packages. For example

https://github.com/openshift/odo/blob/master/pkg/odo/cli/service/create_test.go
https://github.com/openshift/odo/blob/master/pkg/odo/cli/service/service_test.go
https://github.com/openshift/odo/blob/master/pkg/odo/cli/storage/stor

[2020-04-11 06:22] amitkrout commented on #2867
ping @girishramnani

Let's discuss on what packages of cli should need UTs to be covered, then the sub task will be generated.

[2020-04-12 17:42] amitkrout opened #2868 "Catalog list components fails to list out custom component in inactive namespace"
/kind bug

## What versions of software are you using?

**Operating System:**
All Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

[2020-04-13 05:31] zhengxiaomei123 commented on #2700
@amitkrout Hi, I am working on the CI enablement for odo on OCP/s390x.  I found in your CI pipeline, there is 'Setting up pipeline imagestream for the test' job. Could you please show us the imagestream needed ? Thanks.

[2020-04-13 06:55] prietyc123 commented on #2846
IMO it is the known issue that ```odo project create``` won't work on minikube as stated by tomas in https://github.com/openshift/odo/issues/2846#issuecomment-611064771 .

@GeekArthur Can you please elaborate how you are testing manually ? Are you running the scripts on kubernetes cluster? Because I think first we need to handle projects vs namespace from odo prospective then only we can proceed f

[2020-04-13 07:33] jichenjc commented on #2865
use PATH=/opt/rh/rh-nodejs10/root/usr/bin/ npm install
instead npm install

fixed the problem

[2020-04-13 07:33] #2865 closed

[2020-04-13 07:42] mik-dass commented on #2570
No

Since this test passes on Linux and windows, let's skip it for mac OS for now. WDYT?

[2020-04-13 08:37] #2642 closed

[2020-04-13 10:15] jichenjc opened #2874 "odo crash after storage deleted"
/kind bug

**Output of `odo version`:**

[code]

## How did you run odo exactly?

have 2 storage previously, and delete them successful
after that, push lead to crash and every command from then on will
have error on `unable to get PVC mystor-app-pvc`
[code]
## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2020-04-13 11:02] adisky commented on #2859
/close

[2020-04-13 11:02] #2859 closed

[2020-04-13 13:27] johnmcollier commented on #2866
+1 How do we want to handle this? Add support for specifying type of service that's created by odo? And / or allow annotations to be specified during `odo create url`?

@kadel FWIW, I haven't had any issues on GKE with the nginx ingress controller and odo (I used https://hub.helm.sh/charts/nginx/nginx-ingress). That being said, I haven't tried any of the HTTPS support with ingresses and I suspect

[2020-04-13 15:30] GeekArthur commented on #2846
@prietyc123 You are right, please ignore my previous testing as I think the fresh k8s cluster shouldn't have `projectrequests.project.openshift.io` API group for project creation. I agree this is known issue and we should handle the project vs namespace properly as Tomas suggests.

[2020-04-14 01:52] zhengxiaomei123 opened #2876 "CICD support for IBM Z"
/kind feature
## Which functionality do you think we should add?
In order to setup CI for 4.* cluster of s390x arch, The imagestreams for s390x arch need to be imported firstly. There is 'Setting up pipeline imagestream for the test' job in CI for 4.* cluster of x86 [arch.](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_odo/2759/pull-ci-openshift-odo-master-v4.2-integration-e

[2020-04-14 06:00] #2808 closed

[2020-04-14 06:17] prietyc123 opened #2877 "component push throws error of waited 4m0s but couldn't find running pod matching selector"
/kind flake

## What versions of software are you using?

**Operating System:**
All Supported

**Output of `odo version`:**
master

## How did you run odo exactly?
```odo push --context context``` on OpenShift ci.

## Actual behavior
Throwing error as:
[code]

## Expected behavior
It should push the component successfully into the deployment.

## Any logs, error output, etc?

[code]
For more detai

[2020-04-14 06:45] prietyc123 opened #2878 "project delete stuck with -o json flag"
/kind flake

## What versions of software are you using?

**Operating System:**
All Supported

**Output of `odo version`:**
master

## How did you run odo exactly?
```odo project delete projectName -o json```

## Actual behavior

[code]

## Expected behavior
It should delete project successfully and show output in json format.

## Any logs, error output, etc?

[code]

More inputs : https://travis-

[2020-04-14 07:36] girishramnani commented on #2863
/assign jichenjc

[2020-04-14 07:44] girishramnani opened #2879 "v4 log delete events when used --wait flag for debugging purposes"
Gotcha, maybe an idea would be to just v4 log those events for debugging purposes?

_Originally posted by @girishramnani in https://github.com/openshift/odo/pull/2732/files_

[2020-04-14 07:47] girishramnani commented on #2563
@boczkowska can we link that docs PR here?

[2020-04-14 09:12] boczkowska commented on #2563
@girishramnani docs PR: https://github.com/openshift/openshift-docs/pull/20957

[2020-04-14 09:33] kadel commented on #2858
+1

I was thinking about that.
But I'm afraid that it would get too complicated. For example, there might be multiple `previewUrl`s in a devfile. Plus I would like to be a little bit careful with adding flags to `odo push` as it could get quickly out of the hands.
Much better is to have `--now` flag in most of the commands. When used it will execute `push` action automatically.  For example, you c

[2020-04-14 10:05] kadel commented on #2570
Let's try to fix it. I don't think that skipping tests is a good idea.

[2020-04-14 11:52] adisky commented on #2835
IMO, for devfiles `odo list` should list components from cluster only in the current namespace, `odo describe` should describe component in the current context folder from cluster/local config both. Keeping `odo list` to list down components from cluster would keep it simple and easy to understand.

[2020-04-14 12:45] kadel commented on #2570
occurrence: https://travis-ci.com/github/openshift/odo/jobs/317396190

[2020-04-14 12:49] #2682 closed

[2020-04-14 13:03] mohammedzee1000 commented on #2778
Sorry for late update, issue has been reproduced. You do not need a lot of URLs to reproduce this. If one URL is pushed, any further non pushed URLs are ignored

Working on fixing it

[2020-04-14 14:01] prietyc123 commented on #2752
- [x] Setup Kubernetes cluster on travis CI and handle odo project create on Kubernetes and Openshift
- [x] devfile integration tests run on kubernetes cluster using travis CI

[2020-04-14 14:01] prietyc123 commented on #2752
- [ ] Setup Kubernetes cluster on travis CI and handle odo project create on Kubernetes and Openshift
- [ ] devfile integration tests run on kubernetes cluster using travis CI

[2020-04-14 14:34] GeekArthur commented on #2635
We discussed the commands design in today's contributor call, here is the latest commands design:

[code]

[2020-04-14 19:11] #1077 closed

[2020-04-14 19:23] #2775 closed

[2020-04-14 23:05] jgwest commented on #2828
Hey @cdrage , no special commands needed, just enable` -race` in the Go build to enable data race detection, and uncomment these lines:
[code]
([link](https://github.com/openshift/odo/blob/aa410cfcf0e4c809eda1e3fd92230744316f7792/pkg/exec/exec.go#L43))

This will print the data race message listed in the issue body.

[2020-04-14 23:09] jgwest commented on #2828
The fix I had in my head looked like this: wrapping string read/write in a mutex.
[code]

[2020-04-14 23:18] #2832 closed

[2020-04-15 02:35] #2852 closed

[2020-04-15 06:58] jichenjc opened #2883 "watch command doesn't honor the project or component"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
master
## How did you run odo exactly?

no dummy exist for both component or app , but still able to run this command
we should report error

[root@xyimgr77 ftq]# ./odo watch dummy
Waiting for something to change in /root/ftq
^C
[root@xyimgr77 ftq]# ./odo watch --app dummy
Waiting for someth

[2020-04-15 06:58] jichenjc commented on #2883
I can work on this if agree this is a bug

[2020-04-15 07:17] jichenjc commented on #2700
reopen due to 3.11 question need some help on this

[2020-04-15 09:52] kadel commented on #2876
/area testing
/area Z

[2020-04-15 10:04] kadel commented on #2876
I don't think that those are related to odo.

The only ImageStreams that are required for odo e2e integration tests are s2i builders for [sample apps](https://github.com/openshift/odo/tree/master/tests/examples/source) used in e2e tests.

And those are only required for "old" s2i based components, which I hope we will be able to depreciate soon.

Everything around Devfiles is not going to require

[2020-04-15 10:05] kadel commented on #2878
/area testing

[2020-04-15 10:11] jichenjc commented on #2876
thanks for the confirm, @zhengxiaomei123 will have further comments
just to confirm, is devfile ready then s2i method (current way ) will be deprecated or both will sit there for some time? Thanks

[2020-04-15 10:23] prietyc123 commented on #2641
Still I can observe the same issue on prow : https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2809/pull-ci-openshift-odo-master-v4.2-integration-e2e-benchmark/1857#1:build-log.txt%3A722

[2020-04-15 10:24] amitkrout commented on #2641
@prietyc123 Thanks for reporting it. Will take a look.

[2020-04-15 11:29] kadel commented on #2570
https://travis-ci.com/github/openshift/odo/jobs/317396190

[2020-04-15 11:36] kadel commented on #2822
ping @GeekArthur

[2020-04-15 11:39] kadel commented on #2876
When devfile is ready, we will switch odo to use devfiles by default. s2i method will be still there, but it will be marked for dedication. We want to give current users some time to transition existing projects to a new format (devfile).

[2020-04-15 11:41] prietyc123 opened #2887 "Watch channel closed waiting for component to start on 4.4 cluster"
/kind flake

## What versions of software are you using?

**Operating System:**
All Supported

**Output of `odo version`:**
master

## How did you run odo exactly?

```odo push --context context```

## Actual behavior

[code]

## Expected behavior
It should push the changes into deployment config successfully.

## Any logs, error output, etc?

[code]
Logs reference : https://prow.svc.ci.openshift.

[2020-04-15 11:53] prietyc123 opened #2888 "Invalid devfile component create fails for devfile feature on kubernetes cluster"
/kind bug
/area devfile

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?
```odo create fakeComponentName```

## Actual behavior

[code]

## Expected behavior

It should reflect ```"fake-component" not found```

## Any logs, error output, etc?

Logs can be found in more detail : https://travis-ci.

[2020-04-15 11:56] #2818 closed

[2020-04-15 12:00] jichenjc commented on #2876
ok, got it , thanks a lot for the info

[2020-04-15 12:01] prietyc123 commented on #2888
I am not sure why ```get imagestreams.image.openshift.io fake-component``` is getting invoked here, as out of 8 specs 7 got passed on kubernetes cluster. If you will see in the logs :  https://travis-ci.com/github/openshift/odo/jobs/319523643.
It's getting crashed on line no : https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_create_test.go#L120

Ping @kadel @giris

[2020-04-15 12:08] adisky opened #2889 "odo push gets succeded even if Devfile build command fails"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
[code]

## Actual behavior
build command failed inside the container, still odo shows it as successfull
[code]
## Expected behavior
odo push, should show some info about failed devbuild, devrun command.

## Any logs, error output, etc?

[2020-04-15 12:57] adisky commented on #2888
@prietyc123 if component name is not found in supported devfiles, it searches for the given component in S2I based supported components, AFAIK we are not supporting S2I based components on kubernetes, so we should add a check in code if the cluster is kubernetes then odo should not search for S2I based components.

[2020-04-15 12:59] elsony commented on #2672
Given that the scope of this item is now restricted to init within the container, I am changing to the acceptance criteria to the command `devInit` instead of `devLocalInit`

[2020-04-15 13:04] prietyc123 commented on #2888
@adisky Thanks it make sense 👍. I will try to do that and update the outcome.

[2020-04-15 14:12] amitkrout opened #2890 "Flakey test observed in devfile describing urls"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_url_test.go#L154

[2020-04-15 14:19] amitkrout commented on #2878
Reported 19 times as populated in last two weeks flake report - https://gist.github.com/kadel/2570427b9113ea0bb546f45723b7a643

<img width="891" alt="Screen Shot 2020-04-15 at 7 47 09 PM" src="https://user-images.githubusercontent.com/19851115/79348128-34e9ba00-7f52-11ea-9b60-47a757a74bec.png">

[2020-04-15 14:47] amitkrout opened #2891 "Flakey test observed in devfile list url after push"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_url_test.go#L48

[2020-04-15 14:50] amitkrout opened #2892 "Flakey test observed in devfile list url in machine readable json format"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_url_test.go#L85

[2020-04-15 15:08] GeekArthur commented on #2822
@yangcao77 Can you explain this to @kadel as this error handling is from your url PR #2762 ?

[2020-04-15 15:35] mik-dass commented on #2570
On linux
[code]
Increasing the parallel nodes on the watch test to 5 seems to result in 3 `Failed getting details of the changed file` cases instead of 1 case

[2020-04-15 15:44] yangcao77 commented on #2822
`.odo` folder is required for devfile component.
Same as odo1 component, odo2 component requires `odo create` before other commands being executed.
`odo create` would save the component's namespace and also component's name into the `env.yaml` file under `.odo/env/`.
Any resources creation actions would need those information.

[2020-04-15 16:28] kadel commented on #1509
/remove-lifecycle stale

this is still an issue, I just run integrations tests and after everything was done there were 2 projects left on the cluster that ware created by tests.

[2020-04-15 18:02] johnmcollier opened #2893 "Support secured devfile registries / index.jsons in odo"
/kind user-story
/area devfile

## User Story
Currently, odo supports devfile registries that are running behind publicly signed certificates and don't require any authentication. As a user, I want to be able to use odo with devfile registries / index.jsons that may be behind self-signed certs and/or require authentication, via a username/password or personal access token.

## Acceptance Criteria

[2020-04-16 02:59] dgolovin commented on #2619
@girishramnani I would love to confirm it, if you have something to try it out. I assume that creating services from operators is similar to creating services form svcat, is it not?

[2020-04-16 05:56] dgolovin commented on #2815
@mik-dass IMO If odo going to print different jsons for different kinds of urls we are going to be in trouble on IDE side.
Right now we are expecting this kind of output
[code]

Note the 'kind' attribute for item. It is 'url', not 'Route'.  We relay on this structure if it changes for url objects created with 'odo create url name --ingress` IDE wont work correctly when new version of odo is releas

[2020-04-16 06:43] prietyc123 commented on #2888
@adisky I am not confident to fix the backend code atm. Can you please have a look and get a quick fix if possible?

[2020-04-16 06:44] prietyc123 commented on #2888
@adisky I am not confident to fix the backend code atm. Can you please have a look and get a quick fix if possible?

[2020-04-16 08:50] kadel opened #2897 "setup odo.dev homepage for odo"
- create basic starting homepage for odo (someone from OSAS might be able to help us with the design)
- publish odo docs to the website

[2020-04-16 08:54] #2846 closed

[2020-04-16 09:02] amitkrout commented on #2088
Recent occurrence - https://travis-ci.com/github/openshift/odo/jobs/319873569

[2020-04-16 09:02] amitkrout commented on #2088
/remove-lifecycle stale

[2020-04-16 09:04] amitkrout commented on #2088
Total we have 8 occurrence till date since the issue has been created.

[2020-04-16 09:44] kadel opened #2898 "migrate odo docs from openshift/docs repo to ./docs"
- Copy OpenShift documentation from https://github.com/openshift/openshift-docs/tree/master/cli_reference/openshift_developer_cli to https://github.com/openshift/odo/tree/master/docs

- clean it up so it can be used to generate documentation that we can place to odo.dev site (#2897)
- create a script that will sync documentation from our repo to  https://github.com/openshift/openshift-docs/tree/ma

[2020-04-16 10:36] kadel opened #2899 "odo project on Kubernetes"
/kind user-story

## User Story
As an odo user, I want to be able to use `odo project *` commands regardless of what type of the cluster I'm using (Kubernetes or OpenShift`

## Acceptance Criteria
- [x] `odo project create` should create Namespace if odo is connected to Kubernetes cluster, and Project if connected to OpenShift
- [x] `odo project delete` should delete Namespace if odo is connected

[2020-04-16 10:42] kadel opened #2900 "odo log for devfile components"
/kind user-story

## User Story
As a user I want to be able to use `odo log` command with devfile components

## Acceptance Criteria
- [ ] `odo log` should work with a component that was created from devfile

## Links

/kind user-story
/area log
/area kubernetes
/priority medium

[2020-04-16 10:44] kadel commented on #2900
/close
/triage duplicate
duplicate of https://github.com/openshift/odo/issues/2848

[2020-04-16 10:44] #2900 closed

[2020-04-16 10:44] kadel commented on #2855
done https://github.com/openshift/odo/releases/tag/v1.1.2
/close

[2020-04-16 10:45] #2855 closed

[2020-04-16 10:53] kadel commented on #2592
/close

[2020-04-16 10:54] #2592 closed

[2020-04-16 11:12] kadel commented on #2835
/priority high

[2020-04-16 12:08] kadel commented on #2890
@amitkrout what is the failure? Can you please provide failure logs or links to failed runs?

This is not enough information.
/triage needs-information

[2020-04-16 12:08] kadel commented on #2892
@amitkrout what is the failure? Can you please provide failure logs or links to failed runs?

This is not enough information.
/triage needs-information

[2020-04-16 12:09] kadel commented on #2891
@amitkrout what is the failure? Can you please provide failure logs or links to failed runs?

This is not enough information.
/triage needs-information

[2020-04-16 12:18] kadel commented on #2893
Self-signed certificates are insecure. By default, odo needs to fail if self-signed or otherwise invalid or untrusted certificate is used.
If there is a need to support self-signed certificates, we need to make it optional and odo needs to  always show a big warning that the certificate is self-signed or not checked.

we should define how devfile registry will look like first. Is it going to be al

[2020-04-16 13:04] kadel commented on #2898
/remove-triage needs-information

[2020-04-16 13:26] EnriqueL8 commented on #2672
This command will be run as part of `odo push` instead of `odo create` as originally scoped.

[2020-04-16 13:51] mohammedzee1000 commented on #2778
Ok i think i got it working. 'I' would not call it a clean solution, but it works. Guess we will need a lot more cleanup.  Pushing PR though

[code]

[2020-04-16 13:52] mohammedzee1000 commented on #2778
@dgolovin ^

[2020-04-16 14:26] kadel commented on #2897
/remove triage/needs-information

[2020-04-16 14:34] deboer-tim commented on #2893
I agreed that self-signed certs are by definition insecure and should fail by default, but I do hit them regularly enough in dev systems. IMHO there should be an option to accept them, e.g. similar to "curl --insecure".

I also agree we should discuss where/how the registry can be hosted, and what the client requirements are. This should be a discussion along with other devfile registry clients so

[2020-04-16 15:04] kadel commented on #2820
/priority high

[2020-04-16 15:15] kadel commented on #2822
That should not be the case. Otherwise, we are defeating the whole purpose of the devfile.yaml.
devfile is supposed to describe the environment where the application can run.

If I already have a devfile.yaml `.odo/env/`. should not be required to get the application running.
All values in `.odo/env/` should have sensible defaults or autodetected.
- For component name we can use directory name.
-

[2020-04-16 15:28] kadel commented on #2285
`odo config set project` is not implemented for devfile components.

`odo component create` always stores project in config.yaml and the same for `env.yaml`
That is the problem. It should do that only if you do `odo component create --project`. If you don't use `--project` flag it should not set Namespace/project in `config.ymal` or `env.yaml`

this is the problem:
[code]

If a component was not c

[2020-04-16 15:30] kadel commented on #2622
/close

[2020-04-16 15:31] kadel commented on #2470
All the tasks linked in this issue are done

/close

[2020-04-16 15:32] #2470 closed

[2020-04-16 15:34] kadel commented on #2579
I don't think all this was implemented in #2806
/reopen

[2020-04-16 15:59] yangcao77 commented on #2822
Namespace is not a required parameter, but is expected to save in env.yaml file. If we always use the currently active namespace and do not have a static namespace for the component,  it would cause errors. (We've seen that error in our PR build, because the tests run in parallel, and the namespace switches.)
We want user to run `odo create` before any other commands, so we can assume a `devfile`

[2020-04-16 16:36] johnmcollier opened #2908 "[Devfile] Panic when running url unit tests with experimental mode on"
/kind bug
/area devfile
/kind test

When I run the unit tests for odo on macOS with `experimental` set to true in the preferences, the url unit tests fail with a panic:
[code]

And with experimental mode off, it's fine:
[code]

It's hard to tell if this could be encountered outside of a test scenario since we haven't seen it or in the integration tests, but given the panic is occurring outside of

[2020-04-16 17:20] kadel opened #2910 "test all devfile in default odo registry"
We should make sure that all defiles that are in the default odo registry are valid and working.

This should be archived by automated tests that will verify that all devfiles in registry work with the current odo version.

We don't have to test all devfiles with every PR, it can be a nightly job.

[2020-04-16 17:20] kadel commented on #2910
/area testing
/area devfile
/priority medium

[2020-04-16 21:23] dgolovin commented on #2778
Human readable version LGTM. How '-o json' would look like?

[2020-04-16 23:07] jgwest commented on #2848
@johnmcollier  At least for the machine readable case (eg Odo called by IDEs, projects like Codewind turbine container, etc) the build log output would be covered by the work described on https://github.com/openshift/odo/issues/2550 via a command like `odo push -o=json` (referred to as `odo push --events` in the comments  on 2550)

[2020-04-17 00:25] mohammedzee1000 commented on #2778
Like I said, that will need a bit more work.
Infact it's not just urls, we completely ignore local config information once a component is found on the cluster

For now, I will focus on urls, but the component description needs a lot more cleanup. Should open a separate issue for that.

@girishramnani @kadel ^

[2020-04-17 03:14] zhengxiaomei123 commented on #2876
@kadel Thanks for your reply. I think the question is that those s2i builders are not all available on s390x arch. Is there any guide or way to build those s2i builder images or only can be built by RedHat team?
Besides, When devfile is ready, will the e2e and integration tests switch to ues devfiles by default? If so, I think there will be much changes on e2e integration tests codes.

[2020-04-17 03:30] mik-dass commented on #2908
duplicate of https://github.com/openshift/odo/issues/2816

/close

[2020-04-17 03:30] #2908 closed

[2020-04-17 06:45] amitkrout commented on #2088
Count 9 - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2880/pull-ci-openshift-odo-master-v4.2-integration-e2e-benchmark/1959

Hit the similar issue but this time in component create level. Previously we were hitting the issue at push level.

The cluster server it logins is ````api.ci-op-0v6lz496-18180.origin-ci-int-aws.dev.rhcloud.com:6443``` but sometimes i

[2020-04-17 06:49] mohammedzee1000 opened #2912 "Standardise component description to give complete information"
/kind feature

## Which functionality do you think we should add?
Currently, the component description comes from cluster, if it is on cluster, otherwise, we take it from localconfig. We should actually use localconfig as a primary struct and then merge in information from cluster.

We should also change how we detect how a component is pushed as the creation of new objects post push still show a

[2020-04-17 06:50] mohammedzee1000 commented on #2912
#2778

[2020-04-17 08:06] #2789 closed

[2020-04-17 09:36] kadel commented on #2285
We need to resolve discussion in https://github.com/openshift/odo/issues/2822 before we do these changes
/status blocked

[2020-04-17 12:48] kadel commented on #2822
You could still optionally run  `odo create --project myproject` to set the namespace in `env.yaml`. But by default, it won't be set.
Otherwise, it feels a little bit weird if you do this:
[code]
But maybe it is just me and we can solve it with some clear messaging like adding output to `odo create` that it will explain that the namespace was "permanently" and also explicitly saying in the `odo pu

[2020-04-17 14:18] johnmcollier commented on #2889
@adisky To run the script when inside the container, you need to run it from the directory of the project source in the container, basically `cd /projects/springbootproject && /artifacts/bin/build-container-full.sh`

That being said, you did find a bug in the devfile exec code. It seems that's it catching build failures.

To test this, I caused maven to fail in two ways:
1) Syntax error in a .java

[2020-04-17 14:21] adisky commented on #2889
i got why build is failing inside the container, just wanted to point it is not detected by odo.

[2020-04-17 14:30] johnmcollier commented on #2889
It looks like this may be an issue with the spring boot stack? Its build and run scripts aren't detecting failures and aren't exiting properly, so the odo exec code can't catch that.

If I force a failure in the script (like an `exit 1` at the end of the script), odo catches that properly.

[2020-04-17 15:43] gorkem opened #2914 "Update failure"
/kind bug

I have tried to update my odo version using the recommended `curl` command on `odo version` command and it failed with the below messages.

**Output of `odo version`:**
[code]

[2020-04-17 19:06] Preeticp commented on #2328
/remove-lifecycle stale

[2020-04-17 21:47] GeekArthur commented on #2824
/assign

[2020-04-17 23:44] elsony opened #2918 "Devfile 2.0 parser"
/kind user-story

## User Story
Add devfile parser support to read devfiles that users the devfile 2.0 specification. Details of devfile 2.0 specification can be found under:
https://github.com/che-incubator/devworkspace-api/issues/15

Devfile schema link: TBD

## Acceptance Criteria
- [x] It should detect the version of devfile based on the apiVersion in devfile to decide if devfile 1.0 parser or

[2020-04-17 23:53] elsony opened #2919 "Add parent support (devfile 2.0) to devfile"
/kind user-story

## User Story
As a devfile developer, I would like use the new devfile 2.0 support to set the parent of a devfile (https://github.com/che-incubator/devworkspace-api/issues/25)

## Acceptance Criteria
- [ ] If a devfile has the `parent` specified, load the devfile and the parent to generate a merged devfile to be used by odo
- [ ] Support the merge model defined by the devfile 2.0

[2020-04-17 23:56] elsony opened #2920 "Support link command for devfile"
/kind user-story

## User Story
As a user, I want to use the `link` command to link a service to a given component

## Acceptance Criteria
- [ ] the `link` command should behave the same as the existing `link` s2i style command
- [ ] check and disallow self linking of components

## Links
- Related issue:

/kind user-story
/area devfile

[2020-04-18 08:28] #2730 closed

[2020-04-18 20:16] maysunfaisal commented on #2849
Some things I noticed in master branch:
- when creating component for the first time, any volumes - project/devfile/supervisord should be checked if present for reuse, rather than creating a new volume with the same labels
- when updating component a component, if more than a single volume with the same labels are found, error out. I noticed that when i have two volumes with the same labels, conta

[2020-04-19 06:24] amitkrout commented on #2892
@kadel This issue is based on the report https://gist.github.com/kadel/2570427b9113ea0bb546f45723b7a643. Even i was not sure about reason, so i tried it locally 2 times and none of the time i could reproduce it. For now the best way to get the failure log is to wait for CI failure in the same spec.

[2020-04-19 06:25] amitkrout commented on #2891
This issue is based on the report https://gist.github.com/kadel/2570427b9113ea0bb546f45723b7a643. Even i was not sure about reason, so i tried it locally couple of times and none of the time i could reproduce it. For now the best way to get the failure log is to wait for CI failure in the same spec.

[2020-04-19 06:26] amitkrout commented on #2890
This issue is based on the report https://gist.github.com/kadel/2570427b9113ea0bb546f45723b7a643. Even i was not sure about reason, so i tried it locally couple of times and none of the time i could reproduce it. For now the best way to get the failure log is to wait for CI failure in the same spec.

[2020-04-19 06:53] amitkrout opened #2923 "Flakey test found in odo devfile push whiling using pushtarget as docker"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
https://github.com/openshift/odo/blob/master/tests/integration/devfile/docker/cmd_docker_devfile_push_test.go#L45

[2020-04-19 06:55] amitkrout commented on #2923
This issue is based on the report https://gist.github.com/kadel/2570427b9113ea0bb546f45723b7a643. Even i was not sure about reason, so i tried it locally and unable to reproduce it. For now the best way to get the failure log is to wait for CI failure in the same spec.

[2020-04-19 10:03] amitkrout opened #2924 "[FLAKE] List operators installed in the namespace"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
https://github.com/openshift/odo/blob/master/tests/integration/operatorhub/cmd_service_test.go#L26

[2020-04-19 10:04] amitkrout commented on #2924
Unable to reproduce it locally. Team, please paste the failure log if you find the same failure in CI

[2020-04-20 03:33] girishramnani commented on #2619
So I went with a different approach then initially decided, now the `operators` actually hold all the information provided by the server. This was done because the services also hold everything. So this keeps everything uniform.

[2020-04-20 05:39] prietyc123 opened #2928 "devfile odo push failed to start component on kubernetes cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Steps to reproduce:

1. Create single node kubernetes cluster using **minikube [0.25.2](https://github.com/kubernetes/minikube/releases/tag/v0.25.2)**
2. Enable experimental mode
3. git clone https://github.com/che-samples/web-nodejs-sam

[2020-04-20 05:49] prietyc123 commented on #2752
#2913 is blocked and issue has been covered in https://github.com/openshift/odo/issues/2928

Issue has been shortly explained in https://github.com/openshift/odo/pull/2913#issuecomment-616324950

[2020-04-20 06:03] prietyc123 commented on #2752
#2884 is also blocked. Refer comment : https://github.com/openshift/odo/pull/2884#issuecomment-614655325

[2020-04-20 06:37] prietyc123 commented on #2928
ping @girishramnani @GeekArthur

[2020-04-20 06:53] prietyc123 opened #2929 "[FLAKE] Timeout Error in getting openshift pod"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

```oc get pods etcdPod -o template=\"{{.status.phase}}\" -n ci-operator-hub-project```

## Actual behavior

[code]

## Expected behavior

It should exit the process.

## Any logs, error output, etc?

https://prow.svc.ci.openshift.org/vie

[2020-04-20 07:15] girishramnani commented on #2883
/assign jichenjc

[2020-04-20 07:55] girishramnani commented on #2617
@sbose78  If you could share maybe just a break down whats done and whats left so I can plan for this issue/milestone.

[2020-04-20 07:57] girishramnani commented on #2777
@Preeticp if you can please break down this epic into small parts and attach them here so we can have an itemised view on the epic's progress.

[2020-04-20 08:01] girishramnani commented on #2928
assigning this to @elsony, please feel free to assign this to your team.

[2020-04-20 08:18] kadel commented on #2352
/remove-lifecycle rotten
/lifecycle frozen

[2020-04-20 08:24] Preeticp commented on #2777
@girishramnani here's the doc issue that tracks this Epic: https://issues.redhat.com/browse/RHDEVDOCS-1823, do let us know if it needs any modifications.

[2020-04-20 08:59] kadel commented on #2920
`odo link` command currently doesn't work as we want to. For s2i style components, it creates a link, but the link information is not recorded in `config.yaml`. This means that the user needs to create the service again each time he pushes the new component or after the component relation. This is not user-friendly as user needs to create it each time, and he/she needs to know the type of services

[2020-04-20 08:59] kadel commented on #2920
/triage needs-information

[2020-04-20 09:21] girishramnani commented on #2537
any update on this @prietyc123 ?

[2020-04-20 09:25] girishramnani commented on #2887
were you able to reproduce this locally @prietyc123 ?

[2020-04-20 09:28] girishramnani commented on #2874
will be fixed by this PR https://github.com/openshift/odo/pull/2881

[2020-04-20 09:28] girishramnani commented on #2874
Current issue is duplicate of https://github.com/openshift/odo/issues/2646

[2020-04-20 09:30] amitkrout commented on #2700
@zhengxiaomei123 Thanks for the question.
TBH i could not get it when you mentioned ```there is 'Setting up pipeline imagestream for the test' job```, so can you please add some more reference from where/how you find it. Then it would be easy for me to answer your query

[2020-04-20 09:41] girishramnani commented on #2840
I think telepresence uses a totally opposite method then what odo provides.

odo tries to bring the user closer to the deployed service on cluster by making the inner loop faster.

telepresence and tools like https://github.com/eko/monday bring the cluster resources closer to the local application.

So I am not sure how we can support this approach with odo.

[2020-04-20 09:48] girishramnani commented on #2777
Actually I was hoping for a list of issues (assuming this cannot be done in a single sprint)

[2020-04-20 10:47] prietyc123 opened #2930 "Manually try multiple openshift and devfile scenarios those are missing in the test script"
/kind user-story

## User Story

Try different and complex scenarios of odo locally and gather wherever odo fails.
E.g.
- add a port, add storage, remove existing storage and then push. ( both using openshift and devfile )
- Create operator service and catalog service together and confirm working and UX.

## Acceptance Criteria
- [ ] Each tested scenario needs to be documented, even the passing on

[2020-04-20 10:50] prietyc123 commented on #2930
This is a basic draft of the issue. I will keep formatting and updating it till the planning part two

[2020-04-20 11:05] amitkrout opened #2931 "Run periodic job on OpenShift CI"
/kind feature

## Which functionality do you think we should add?
Currently we have high volume of test running for each pr which consumes almost 3hrs. So the plan here is to distribute the test in different types run. For example in nightly run all the test script will run periodically on master branch over a period of time which we should not bother about. The pr test will be validated against i

[2020-04-20 11:26] amitkrout commented on #2540
TBH no major movement i did in the current sprint except playing around the travis cli just to figure out the pattern.

The most important part currently i need to check is to figure out how we are going to get a github token/travis token into hands of prow. That is why i moved the state from ready to needs-information.

ping @mohammedzee1000

[2020-04-20 11:45] #2827 closed

[2020-04-20 11:53] adisky commented on #2888
The error is generating from here
https://github.com/openshift/odo/blob/6740e5177ae11db734f7d3d303c4f689015e3b91/pkg/odo/cli/component/create.go#L601
I think we need some way to not execute S2I related codes on kubernetes cluster, We need to detect the cluster type first and we should not initialize the openshift client if it is k8s cluster, and add a check at each s2I related code.
https://github

[2020-04-20 12:01] adisky commented on #2800
Devfile under review https://github.com/elsony/devfile-registry/pull/11
Also Depends on https://github.com/openshift/odo/issues/2820

[2020-04-20 12:06] kadel commented on #2924
This is probably one instance of this https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2885/pull-ci-openshift-odo-master-v4.3-integration-e2e-benchmark/2105

[2020-04-20 12:07] kadel commented on #2924
/assgin @dharmit
/priority high

[2020-04-20 12:10] mik-dass commented on #2924
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2885/pull-ci-openshift-odo-master-v4.3-integration-e2e-benchmark/2105#1:build-log.txt%3A443 @amitkrout is this related?

[2020-04-20 12:11] kadel commented on #2931
/remove-area release-eng
/triage needs-informion

What kind of jobs or test will run nightly?

[2020-04-20 12:12] mik-dass commented on #2924
[code]
/retest

[2020-04-20 12:17] kadel commented on #2928
@prietyc123 I don't understand this at all :-(
Is this bug in odo or failing test?

The commands that you have in `How did you run odo exactly?` don't make much sense :-( For example `odo create` is using different `namespace` than `odo push`

[2020-04-20 12:19] amitkrout commented on #2924
It is not the same issue. I checked the report https://gist.github.com/kadel/2570427b9113ea0bb546f45723b7a643 where the same failure has been reported only once. Then this will be the second hit, i mean failure count 2.

<img width="1002" alt="Screen Shot 2020-04-20 at 5 46 04 PM" src="https://user-images.githubusercontent.com/19851115/79750767-23782780-832f-11ea-98c8-15d6de5d3e72.png">

I am will

[2020-04-20 12:19] kadel commented on #2930
/area test

[2020-04-20 12:20] kadel commented on #2929
/remove-kind bug

[2020-04-20 12:23] kadel commented on #2923
/remove-kind bug

[2020-04-20 12:25] kadel commented on #2914
/remove-area component

[2020-04-20 12:32] kadel commented on #2891
No need to wait to get the failure log!!
You can easily search logs history for this failure
https://search.svc.ci.openshift.org/?search=should+list+url+after+push&maxAge=336h&context=1&type=build-log&name=pull-ci-openshift-odo-master-&maxMatches=5&maxBytes=20971520&groupBy=job

[2020-04-20 12:33] kadel commented on #2890
no need to wait for it to happen just use https://search.svc.ci.openshift.org/ to search through logs

[2020-04-20 12:34] kadel commented on #2897
/remove-triage needs-information

[2020-04-20 12:43] amitkrout opened #2932 "QECI best practices"
/kind user-story

## User Story
// Copy paste

The QE dept has a number of systems and tooling that were developed in a silo, meaning that they were developed by/for a specific QE team or set of teams without considering the needs of the other teams that have similar requirements. This caused a large duplication of effort as multiple teams are developing very similar feature sets without knowing i

[2020-04-20 12:46] adisky commented on #2680
@jichenjc as you mentioned this issue is same as #1623, Please try using the project other than `default`, I have also faced similar error recently, I changed the project it is solved.

As per the comments here https://github.com/openshift/odo/issues/1623#issuecomment-484406735, Its mostly related to some security context related settings with the default project.

[2020-04-20 12:53] jichenjc commented on #2680
um... I think I switched to default project
anyway , maybe I remembered a wrong thing, thanks for the reminder

[2020-04-20 12:53] #2680 closed

[2020-04-20 12:59] kadel commented on #2932
/triage needs-information

Why we need this?
How it will help odo?

[2020-04-20 13:02] adisky commented on #2928
@prietyc123 I recently tried nodejs devfile on kubernetes cluster, it is working well. Not Sure what is breaking here.

[2020-04-20 13:14] kadel commented on #2815
Url should be an abstraction on top Route and Ingress.

The output of `odo url list -o json` should NOT be list of Ingress or Route. It needs to be a list of our own  `Url` type (Kind)

[2020-04-20 13:14] kadel commented on #2815
/priority high

[2020-04-20 13:14] kadel commented on #2815
/area json-output

[2020-04-20 13:16] kadel commented on #2928
/triage needs-information

[2020-04-20 13:16] girishramnani commented on #2416
closing this due to inactivity.

[2020-04-20 13:16] #2416 closed

[2020-04-20 13:17] prietyc123 commented on #2928
I think this is bug in odo with respect to kubernetes cluster.

[2020-04-20 13:25] mohammedzee1000 commented on #2778
FYI as a quick fixI could just output the localconfiginfo regardless while picking up status of cluster for son output But  like i said it does not solve underlying problem

[2020-04-20 13:35] mohammedzee1000 commented on #2795
We have functional script now in internal repositories
/close

[2020-04-20 13:35] #2795 closed

[2020-04-20 13:54] yangcao77 commented on #2890
This issue has been fixed in this PR: https://github.com/openshift/odo/pull/2762
And the reason why this is happening is described here: https://github.com/openshift/odo/pull/2762#issuecomment-608642267

I've never seen this test failed after this PR has been merged.
Same for #2891  and #2892
We can close these three issues.

[2020-04-20 14:10] dharmit commented on #2932
QECI? Did you mean QWERTY best practices?

[2020-04-20 14:20] nickboldt commented on #2416
I meant the oc binary.

[2020-04-20 14:46] #2024 closed

[2020-04-20 15:04] GeekArthur commented on #2928
Given @adisky can't reproduce this issue, @prietyc123 can you manually try the scenario on your k8s cluster with V styling logging enabled then check what exactly the errors are from the logs?

Also FWIW, we will remove `--namespace` flag and always use `--project` for both s2i component and devfile component once this PR https://github.com/openshift/odo/pull/2909 merges in.

[2020-04-20 16:30] #2863 closed

[2020-04-20 17:12] mik-dass commented on #2416
We don't use the OC binary anymore in ODO. We have moved to client-go long back. We even updated client-go to release-4.1 recently https://github.com/openshift/odo/blob/18f9f3b33404b5a2d5f662f9dd494128c41d093f/glide.yaml#L17

[2020-04-20 18:05] elsony commented on #2919
@kadel I think your team has done some POC work on this before. Do you have the link to code of that POC?

[2020-04-20 18:14] elsony commented on #2850
Closing this one since this is a dup of #2582 . Design info can be found on that item.

[2020-04-20 18:14] #2850 closed

[2020-04-20 18:52] elsony opened #2933 "Support Devfile 2.0 format on devfile components"
Add support to devfile 2.0 format when reading the devfile.yaml. Details of the devfile 2.0 support can be found in https://github.com/che-incubator/devworkspace-api/issues/15.

This item includes:
MVP:
- [x] Devfile 2.0 parser (#2918)
- [x] devfile v2 support for odo push (k8s and OpenShift) (#3140)
- [x] Specify the source mapping path for component containers (#2935)
- [x] Container initializat

[2020-04-20 19:11] yangcao77 opened #2934 "URL list and describe for devfile local support"
/area devfile

`odo url list` and `odo url describe` for local docker containers should works the same as kube cases.

[code]
The port should display the internal port.
The name is defined as `local-<componentName>-<portNumber>`
URL should be `https://127.0.0.1:<exposedPort>`.
State should indicated if the url config has been pushed or not(is only in local env.yaml file, need to push to get reflec

[2020-04-20 19:11] yangcao77 commented on #2934
/assign

[2020-04-20 19:11] yangcao77 commented on #2934
/kind feature

[2020-04-20 20:12] elsony commented on #2892
This issue has been fixed in this PR: #2762

[2020-04-20 20:13] elsony commented on #2891
This issue has been fixed in this PR: #2762

[2020-04-20 20:23] elsony commented on #2851
/area devfile

[2020-04-20 21:02] elsony opened #2935 "Specify the source mapping path for component containers"
/kind user-story

## User Story
As a stack creator, I want to customize the source mapping path on the containers defined in the devfile.

## Acceptance Criteria
- [ ] It should support consuming source mapping path defined in the corresponding devfile 2.0 item: https://github.com/che-incubator/devworkspace-api/issues/17

## Links
- Related issue: https://github.com/che-incubator/devworkspace-api/

[2020-04-20 21:09] elsony opened #2936 "Container initiailization support"
/kind user-story

## User Story
As a stack creator, I want to initialize my the container that I defined in the devfile 2.0.
Devfile 2.0 providers ability to execute commands based on lifecycle events.

## Acceptance Criteria
- [ ] It should follow the specification as defined in https://github.com/che-incubator/devworkspace-api/issues/32 to support execution of the commands based on the events.

[2020-04-20 21:23] elsony opened #2937 "Specific working directory defined in the command"
/kind user-story

## User Story
As a stack creator, I want to specify the working directory in a command in the devfile so that the command is executed in the given working directory in the container.

## Acceptance Criteria
- [ ] It should support the workingDir definition as specified to the devfile 2.0 spec: https://github.com/che-incubator/devworkspace-api/issues/22

## Links
- Related issue:

[2020-04-20 21:31] elsony opened #2938 "Support group in devfile commands (application lifecycle)"
/kind user-story

## User Story
As a stack creator, I want to define the group that a given command in a devfile belongs to so that odo know what default command to when it build, run, test and debug.

## Acceptance Criteria
- [ ] It should follow the corresponding settings specified in the devfile 2.0 specification: https://github.com/che-incubator/devworkspace-api/issues/27
- [ ] It should suppo

[2020-04-20 21:35] elsony opened #2939 "Support container component type in devfile 2.0"
/kind user-story

## User Story
As a stack creator, I want to use the new container component type in a devfile 2.0 to define the image used by a given component so that my command can execute is the given container.

## Acceptance Criteria
- [ ] It should follow the specification as defined in https://github.com/che-incubator/devworkspace-api/issues/8 to define the container component in devfile

[2020-04-21 00:04] johnmcollier commented on #2923
The docker tests don’t run on the OpenShift CI (where that report generates the list of flakes), have we seen any failures on Travis?

[2020-04-21 04:48] zhengxiaomei123 commented on #2700
@amitkrout  I got the information here [https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_odo/2759/pull-ci-openshift-odo-master-v4.2-integration-e2e-benchmark/1364/build-log.txt](build-log) . Thanks. As you mentioned above, there are default imagestreams or s2i builder image for 3.* cluster? What's about the 4.* cluster? I found there some code to import image for test, the url

[2020-04-21 06:58] amitkrout opened #2943 "Test flake comming due no check is added for operator (etcd) responsiveness"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
[code]
etcd operator does not come up properly or failed to install after apply it through ```oc create...``` command. For example
[code]
That is why etcd operator is not listed in the catalog list.

## Expected behav

[2020-04-21 06:59] amitkrout commented on #2924
Issue created -https://github.com/openshift/odo/issues/2943

[2020-04-21 07:01] dharmit commented on #2924
I've assigned that issue to me but how is it different from this one? They both are talking about the same thing.

[2020-04-21 08:50] amitkrout commented on #2943
I think the failure reason is as described in issue description but in a different step - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2942/pull-ci-openshift-odo-master-v4.4-integration-e2e-benchmark/205#1:build-log.txt%3A451

[2020-04-21 09:17] amitkrout commented on #2924
May be you are right. This issue has been created based on the report https://gist.github.com/kadel/2570427b9113ea0bb546f45723b7a643 where we had atleast the flake info without logs. Moreover i do not see any other reason for failure except the reason i created #2943. So i am making it as a duplicate of #2943

[2020-04-21 09:17] amitkrout commented on #2924
duplicate of #2943

[2020-04-21 09:17] #2924 closed

[2020-04-21 11:09] amitkrout commented on #2877
similar error with little bit twist - https://github.com/openshift/odo/pull/2942#issuecomment-617111589

[2020-04-21 12:23] kadel commented on #2932
So the output of this will be documented describing odo QE workflow?

[2020-04-21 13:04] kadel commented on #2111
/close

[2020-04-21 13:06] #2111 closed

[2020-04-21 15:17] kadel commented on #2890
@yangcao77 thank you.
Closing this
/close

[2020-04-21 15:17] kadel commented on #2892
/close

[2020-04-21 15:17] #2890 closed

[2020-04-21 15:18] #2892 closed

[2020-04-21 15:21] kadel commented on #2923
Yep, this doesn't make sense /close

I'll check my script it might show up in the list due to some infra errors.

[2020-04-21 15:21] #2923 closed

[2020-04-21 20:27] elsony commented on #2891
/close

[2020-04-21 20:28] #2891 closed

[2020-04-21 21:18] davivcgarcia opened #2952 "Supported container images should be based on UBI"
/kind feature

## Which functionality do you think we should add?

The supported default images for ODO should be UBI-based, and not CentOS or RHEL/RHSCL.

## Why is this needed?

The images based on RHEL/RHSCL are protected by Red Hat's term of use and cannot be used without subscriptions. Images based on UBI would simplify the QA and allow reuse of ODO with broader community.

[2020-04-22 07:22] mik-dass commented on #2858
Much better is to have --now flag in most of the commands. When used it will execute push action automatically.

+1

@kadel @girishramnani Should we save this previewURL in the env.yaml file before push? Also what if the previewURL port is not exposed by the component? Should we fail or ignore?

[2020-04-22 07:24] amitkrout commented on #2932
Follow the internal mail thread ```QECI best practices onboarding``` for more details

[2020-04-22 07:27] mik-dass commented on #2857
The exec function is already written here https://github.com/openshift/odo/blob/cf1d69743f6242f5fab1858ad3dadd42bd6ca7a3/pkg/exec/exec.go#L19
I think we can use this for the exec command too.

[2020-04-22 09:08] girishramnani commented on #2899
Some of the commands above should have wait flag which we would need to implement, assuming the same way - by watching for events.

[2020-04-22 09:11] girishramnani commented on #2899
I can confirm that deleting a project is async in nature but not sure if creation is too.

[2020-04-22 09:18] girishramnani commented on #2835
Do we need to implement the —all flag and —path flag to support compatibility for vscode?
That would definitely increase the complexity and we need to consider a situation where there are components in path which are deployed on kube using devfile and s2i on openshift.

[2020-04-22 09:27] girishramnani commented on #2778
It doesn’t, can you please describe the problem with an example?

[2020-04-22 09:43] dharmit opened #2953 "Travis failures in "generic login, component command integration tests""
I observed below flake on Travis in **generic login, component command integration tests**

[code]
/kind flake

_Originally posted by @dharmit in https://github.com/openshift/odo/pull/2944#issuecomment-617552849_

[2020-04-22 09:45] dharmit opened #2954 "Travis failures in "devfile catalog, watch command integration tests on kubernetes cluster""
I observed following Travis flake in **devfile catalog, watch command integration tests on kubernetes cluster** test.
[code]
/kind flake
_Originally posted by @dharmit in https://github.com/openshift/odo/pull/2944#issuecomment-617552849_

[2020-04-22 09:45] adisky commented on #2835
Not sure about the `--path` flag but the flag `--all-apps`  lists ` List all components from all applications for the current set project`.
The first question is do we want to have `app` concept for devfiles?

[2020-04-22 09:48] dharmit opened #2955 "Multiple Travis failures for "service, link, component sub-commands command integration" tests"
I saw multiple Travis failures for **service, link, component sub-commands command integration tests**.

**First occurrence**
This failure happened because even after 1 minute of doing `odo app delete`, the underlying service in that app was not deleted. I'm not sure if we can add timeout for a longer period. But I've not seen this fail in the past.
[code]
**Second occurrence**
Doesn't look relate

[2020-04-22 09:55] dharmit commented on #2953
Some more errors unrelated to the underlying PR. Saw this in #2901
[code]

[2020-04-22 09:56] dharmit commented on #2954
More error unrelated to the underlying PR. Saw this in #2901.
[code]

[2020-04-22 09:57] Preeticp commented on #2777
Updated description with links to sub-tasks in the documentation epic. Also added an entry for Blogs in the checklist, please delete it if this is not within the scope of this issue.

[2020-04-22 10:03] dharmit opened #2956 "Travis failures in "watch, storage, app, project, push, devfile catalog, devfile create, devfile push, devfile delete command integration" tests"
I'm seeing Travis failures in **watch, storage, app, project, push, devfile catalog, devfile create, devfile push, devfile delete command integration tests**:

[code]
/kind flake
_Originally posted by @dharmit in https://github.com/openshift/odo/pull/2901#issuecomment-617681139_

[2020-04-22 10:04] mik-dass commented on #2956
I have seen this error locally too.

[2020-04-22 10:08] dharmit commented on #2956
@mik-dass I'm wondering if this is a flake or an error in tests.

[2020-04-22 10:13] dharmit commented on #2955
Hitting `odo app delete` (First occurrence in original issue description) issue again:
[code]

[2020-04-22 10:30] amitkrout commented on #2956
@mik-dass Its a git request failure, right - ```✗  Get https://raw.githubusercontent.com/elsony/devfile-registry/master/devfiles/springBoot/devfile.yaml: net/http: request canceled (Client.Timeout exceeded while awaiting headers)```

When you started seeing this ? i mean after the test node increased to 4 ?

[2020-04-22 10:53] dharmit commented on #2955
A different error this time. Fails to build the maven project for #2944
[code]

[2020-04-22 11:00] mohammedzee1000 commented on #2778
https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/describe.go#L63-L74

If you see this condition, component description is taken from localconfig, only if it is not pushed, otherwise, we get the description from the cluster.

The way we detect if a component is pushed is by checking if the DC is present in the cluster.
https://github.com/openshift/odo/blob/master/pkg/component/com

[2020-04-22 11:03] dharmit commented on #2822
Can we make `odo push` smart enough to check if `.odo/env/env.yaml` is present in the directory? If it's not present but `devfile.yaml` is present, can `odo push` automagically create `.odo/env/env.yaml` with some well-informed defaults?

By well-informed defaults I mean:
- it should use project/namespace which is currently set in the `KUBECONFIG`.
- it should create a component name based on `pwd

[2020-04-22 11:04] #2849 closed

[2020-04-22 11:07] girishramnani commented on #2778
I would suggest for now show url from both places, de duplicated.
Later we can think of diffing the cluster state vs local state and show ”Unpushed local changes" which considers all other things

[2020-04-22 11:09] mohammedzee1000 commented on #2778
I have already fixed url for normal describe on PR and am considering displaying localconfig component for json output.

And yea, this will not fix root cause though so I have opened an issue for that.

This is how it looks by the way, without the fix

[code]

[2020-04-22 11:13] girishramnani commented on #2778
I would suggest to Follow the same solution For both human output and json output even if that means some changes to the json output

[2020-04-22 11:47] mohammedzee1000 commented on #2778
We will likely need to have a new struct that is given to the end-user to represent complete state, which combines information in the local struct as well as the cluster.

For now, I will keep it as a copy of the component description with exception of that will contain extra fields for URL (basically URLs will go from list of strings to a dict of dicts to show information that can be fetched from

[2020-04-22 11:48] girishramnani commented on #2822
One aspect about env.yaml is that, it’s a file is used for cluster specific information. My first question would be, that would this file be a mandate for each user?
Now that might be the case but as there are things in the env.yaml that would later End up in devfile. When we reach that state, we cannot rely on env.yaml for smart push.

[2020-04-22 12:08] girishramnani commented on #2835
we dont have the `app` concept for devfiles, that is one thing we need to address as part of this PR as well. might be a good idea to add that as part of the AC.

[2020-04-22 12:18] girishramnani commented on #2835
- we would be able to fetch all the components by going over all the deployments ( maybe using a label selector ) searching for `component` label https://github.com/openshift/odo/blob/master/pkg/devfile/adapters/kubernetes/component/adapter.go#L199, might also be a good idea to have `managed-by` label in place like we used to have for openshift components.
- change the odo list output to have `clu