[2020-12-02 05:44] adisky commented on #4270
checked the code, we are checking against endpoint name, before default creating against `odo push`

@dharmit you have updated the port but have you changed endpoint name?

[2020-12-02 05:56] dharmit commented on #4270
Yes. I changed the port number as well the endpoint name. I just did `sed -i s/3000/8080/' devfile.yaml` on the default devfile that `odo create` pulls for me.

[2020-12-02 06:02] adisky commented on #4270
hmm, then something is broken here :|

[2020-12-02 06:42] prietyc123 commented on #4253
AFAIK PSI is already overloaded with the test execution running on ocp 4.* clusters with multiple platform and we are in need of more resources. IIRC we intentionally removed 3.11 cluster on PSI due to insufficiency of resources and moving travis to PSI will be even worse I think. IMO choosing PSI would be nice if we have ample of resources and that would definitely take some time. More importantl

[2020-12-02 06:48] prietyc123 commented on #3754
Most of our periodic jobs failing due to issue https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.3-integration-e2e-periodic/1333923955882332160#1:build-log.txt%3A746

[2020-12-02 08:31] mohammedzee1000 commented on #4269
Yes, we are blocked in the release pipeline atm. They will be available shortly. I have an explicit warning that official binaries will be made available

[2020-12-02 09:06] #3389 closed

[2020-12-02 09:06] #4235 closed

[2020-12-02 09:51] dharmit opened #4273 "Get rid of references to experimental mode in the documentation"
/kind documentation

## What mistake did you find / what is missing in the documentation?
While scrolling through [OCP 4.6 docs](https://docs.openshift.com/container-platform/4.6/cli_reference/developer_cli_odo/odo-cli-reference.html#preference), I found references to enable experimental mode. However, nothing in odo is currently in experimental mode. We need to get rid of these references.

## Wh

[2020-12-02 09:53] dharmit commented on #4273
@boczkowska honest question since I don't know who could be best placed to address/fix this - is this something you need help with from odo team or is this something docs folks can look into?

[2020-12-02 13:10] dharmit commented on #3973
@kadel @girishramnani @mik-dass @adisky

While working on this, I decided against doing this because maintaining backward compatibility, IMO, should be upon the tooling. For example, while adding support for devfile, odo took necessary steps to still support users working with s2i. Plus, as far as SBO is concerned, we're working with alpha and beta versions (correct me if I'm wrong.)

So it didn't

[2020-12-02 14:41] NissesSenap commented on #3889
In the end i solved this by adding my company specific settings.xml to the same folder and overwriting some values in the devfile to use. Thus it was able to download it from my internal artifactory.
It's not a bug but, there is a big lack of documentation.

[2020-12-02 15:24] girishramnani commented on #4210
I think as there is no devfile present - the user cannot move forward in anyway, one solution I feel is allowing the user to override the `env/env.yaml` when user does `odo create nodejs`.

[2020-12-02 15:46] girishramnani commented on #4136
It seems now this error has been resolved @dgolovin please confirm
[code]

[2020-12-02 15:51] mohitsuman commented on #4136
Checking with @sbouchet Please confirm the scenario with IntelliJ ?

[2020-12-02 17:06] deboer-tim opened #4276 "Ignore Che devfile v1"
/kind bug

## What versions of software are you using?

**Operating System:**
Mac OS Catalina

**Output of `odo version`:**
odo v2.0.1 (a9fff7d)

## Actual behavior
If there is a devfile in a project, odo uses it; if there's no devfile then we revert to s2i. However, Che/CRW support devfile v1 and there are lots of sample projects out there that have a v1 devfile in them. If you try to use these w

[2020-12-02 17:31] kadel commented on #4262
You mean saving `UserCreatedDevfile: true` in `.odo/env.yml` right? That should work, we can go with this.

But we need to think about backward compatibility. If someone has an existing devfile component odo should not error out.
So I assume that the default value for `UserCreatedDevfile` is going to be `false`.

[2020-12-02 17:40] dgolovin commented on #4262
That is a good catch, for old project created with previous odo version devfile.yaml should be treated as `user provided` and should not be deleted.
I personally would be fine if defvile.yaml is just not being deleted with `odo delete -all`.

[2020-12-02 18:55] rnapoles-rh commented on #4222
@prietyc123 @anandrkskd do you have any feedback?

[2020-12-02 21:53] dgolovin commented on #4136
@girishramnani

It works for me with odo 2.0.1

[2020-12-03 04:46] dharmit commented on #4262
Nitpicking here maybe. `odo delete --all` asks for a confirmation before touching devfile anyway:
[code]
If `odo delete --all` is what you use, I don't think there's any issue to be fixed.

[2020-12-03 06:02] prietyc123 opened #4277 "Test compilation fails on "vet" check with ginkgo"
/kind failing-test
/area testing

## What versions of software are you using?

**Operating System:**
win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Trying to execute the test locally on windows
[code]

## Actual behavior

Whenever we execute the tests, it fails on compilation saying
[code]

## Expected behavior

Tests should not throw such compilation error.

## Any l

[2020-12-03 06:21] adisky commented on #4276
How we will determine if the devfilev1 present in the project repo is from Che/CRW project or from some other project?
or we want to apply this behavior always?

Secondly the s2i component name is to be specified during odo create or s2i component needs to be detected by from devfile v1?

[2020-12-03 06:36] jeffmaury commented on #4262
Solution that requires interactive mode is not compatible with IDE integrations

[2020-12-03 06:48] mohammedzee1000 opened #4278 "Docker rate limit issue being hit on clusters without docker pull secret in PSI"
Error:

[code]

[2020-12-03 06:52] mohammedzee1000 commented on #4278
Possible fixes:
 - Use registry.centos.org for acquiring the CentOS images, instead of docker.io (recommended)
 - Configure an authenticated docker pull secret on internal clusters (this includes a robot account)

nodejs-10-centos7 is already available in r.c.o https://github.com/CentOS/container-index/blob/master/index.d/centos.yaml#L989-L999 and I have a PR to add nodejs-14-centos7 to the index

[2020-12-03 07:26] prietyc123 opened #4279 "jUnit reports misleading test success status"
/area testing

## What versions of software are you using?

**Operating System:**
all supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Tests are running on CI.

## Actual behavior

Even though CI fails on platform issue jUnit shows up 99% success test case. Details: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4177/pull-ci-openshif

[2020-12-03 08:19] prietyc123 commented on #4278
@mohammedzee1000 AFAIK using r.c.o would limit the access of images, rather If we want to be generalized with docker/external images why not onboard with `app-sre` team. We just need to use mirror mechanism from docker to quay.io and for onboarding the project create `app.yaml` in their services repo with the yamls.

[code]

The `$ref` file content would then be:

[code]
For more details we can pi

[2020-12-03 08:29] kadel commented on #4276
Where the Devfile comes from is not important. This behavior should be for all Devfile v1 no matter where they come from.

In this situation, odo should behave as there is no devfile. s2i component name can be autodetected or specified by the user.

[2020-12-03 08:30] prietyc123 opened #4280 "Enable 4.7 cluster on periodic jobs"
/kind user-story
/area testing

## User Story
As a user I want to run periodic jobs on 4.7 cluster

## Acceptance Criteria
- [ ] Fixing the blockers (if any) for enabling 4.7 cluster on Periodic jobs
        - https://github.com/openshift/odo/issues/4303
- [ ] Jobs should run successfully on 4.7 ocp cluster.

## Links
- Feature Request: NA
- Related issue: NA

/kind user-story

[2020-12-03 08:35] adisky commented on #4276
Got it its about ignoring `devfile.yaml` when its version is 1.0.0, odo should consider that no devfile.yaml is present and proceed in the usual way.

[2020-12-03 08:40] sbouchet commented on #4136
working on  it.

[2020-12-03 08:43] kadel opened #4281 "use Devfiles for s2i components"
Use devfile.yml for s2i components instead of LocalConfig.yaml

# Motivation

Odo has two types of components, Devfile and s2i. Currently, each component type has its own separate code path. This means that each command needs to understand how to do the action for Devfile and also for s2i. Technically it is possible to create a Devfile that will mimic what odo is doing with s2i. We already have th

[2020-12-03 08:51] kadel commented on #4276
@deboer-tim

I'm not sure that this is a good idea.

If understand correctly what you are proposing is automatically falling back to using s2i.
I'm afraid that this will be confusing for users.
Imagine this.
[code]

[code]

The problem is that the flow is the same, but the result is completely different, for example, they won't be able to use Kubernetes in the first case (with s2i component).

**T

[2020-12-03 08:55] girishramnani commented on #4262
Agreed

[2020-12-03 08:58] prietyc123 commented on #4223
As we have completed the pre-onboarding tasks, I am trying to collect all the details required for onboarding in collaboration with interop team. Initially we have some unknown and these has been discussed in [odo-interop-onboarding](https://docs.google.com/document/d/1iV3Hwkc5_Rwijdl5hIh-5eL20JZguVdcZcFyWlQ1Mf8/edit) and https://projects.engineering.redhat.com/browse/INTEROP-2699 . Once we are go

[2020-12-03 09:05] adisky commented on #4276
if we implement #4281 and consider this then odo will ignore devfileV1 and generate a devfileV2 considering it as S2I component.

[2020-12-03 09:06] dharmit commented on #4278
@prietyc123 can you elaborate this? Do you have any example?

[2020-12-03 09:30] sbouchet commented on #4136
Seems also to work with 2.0.1. will make a PR and check tests results on our side.

[2020-12-03 09:39] dharmit commented on #4276
The way I see it, we're discussing how to move backwards instead of moving forwards when we plan to fallback on s2i. I'm also surprised that we didn't have #4281 around already because I remember us discussing this a bunch of times!

How can these projects move to Devfile v2? How can we help? Probably not by code, I'm afraid. I'm assuming it's on their roadmap to move to Devfile v2.

My concern is

[2020-12-03 10:26] girishramnani commented on #4240
so the conclusion with the adapter team was that
- `odo catalog describe service -o json` would provide the json schema from the CRD definition if the user is signed in as admin, if the user isn't signed in as admin we provide the alm-example and also a flag `notAdmin` allowing the adapter to "suggest the user to add the role they need to see CRD for better experience"

- also `odo service create`

[2020-12-03 10:27] girishramnani commented on #4240
we need to find a way to convert openAPIv3schema to jsonSchema

[2020-12-03 10:27] boczkowska commented on #4130
@dharmit let's just copy what we have in downstream :D

[2020-12-03 10:57] kadel commented on #4240
How would this work? The parameters for constructing CustomResource can be quite complex. Take this for example https://github.com/mongodb/mongodb-enterprise-kubernetes/blob/dfb75dbaff7848ac42fffb55bc3b5063c702f690/helm_chart/crds/mongodb.mongodb.com.yaml#L36-L573

I guess we will need some kind of convention to create a mapping between command line parameters and CustomResource structure that is

[2020-12-03 11:02] prietyc123 commented on #4222
@rnapoles-rh I did 1st round of review and commented out my concerns. Could you please have a look.

[2020-12-03 11:15] prietyc123 commented on #4278
AFAIK `registry.centos.org` only supports centos and rhel images and my point is what about the images which are not available on r.c.o . Also this issue is related to docker, I would prefer solving the docker problem instead of migrating to other org. If mirroring solves this, we will be open for all the images on dockerhub.

[2020-12-03 11:18] boczkowska commented on #4273
@dharmit I'll pick it up.

[2020-12-03 11:33] kadel commented on #4262
I would argue that it needs to be the other way around.
The assumption is that most people will have devfile created by odo.

Also with @girishramnani proposal `UserCreatedDevfile` means that user-provided devfile (it was not created by odo).

`UserCreatedDevfile: true` - odo doesn't delete devfile
`UserCreatedDevfile: false` - odo deletes devfile.

Default is false.

That is not going to work, as

[2020-12-03 11:39] kadel commented on #4262
It should be like this:

`UserCreatedDevfile: true` will be set in only in the following scenarios:
 - `odo create --devfile devfile.yml`
 - `odo push` only if `.odo/env.yml` doesn't exists yet.

Note that `odo create --devfile /some/path/devfile.yml` will **NOT** set  `UserCreatedDevfile: true`.
This is because this command is the same odo would download devfile from the devfile registry.
The dev

[2020-12-03 11:40] mohammedzee1000 commented on #4278
But that is the point, we dont need to test against `all` images. We only need to validate supported ones. RHEL. CentOS and UBI

RHEL and UBI images will be available in redhat registry. Its only the CentOS ones we cannot get there, hence Docker.

So r.c.o is the CentOS registry, which btw now runs on AWS. I dont think we even need to consider docker images at this point. When we need to, we can d

[2020-12-03 12:07] girishramnani commented on #4240
its easy to deal with json schema as per what denis and jeff mentioned to me

[2020-12-03 12:43] dharmit commented on #4130
While I would love it if that was going to suffice, I'm afraid that on odo.dev we need to provide more info to users to work with Operators. But I think that the warning you've added in your PR is a good thing and my PR #4274 could make use of it.

[2020-12-03 12:47] #4130 closed

[2020-12-03 13:06] kadel commented on #4210
This should work.

It would be interesting to know how this situation can happen.

@dgolovin, how did you get it into this state? There should be no way to create this situation with odo.

[2020-12-03 14:09] dharmit opened #4284 "Move from using master branch to main branch"
We should move odo project to using `main` branch instead of the `master` branch that it's currently using.

[2020-12-03 14:55] dharmit commented on #4284
@mohammedzee1000 can you PTAL at this issue? Changing branch name might affect the scripts you're working on or already have for the CI/tests.

[2020-12-03 15:38] sarveshtamba opened #4285 "`test-integration-devfile` test suite fails on Power"
`test-integration-devfile` test suite fails on Power:-
[code]
Using the following devfiles registry - https://github.com/odo-devfiles/registry/compare/master...sarveshtamba:master?diff=unified (https://github.com/sarveshtamba/registry)

Attached is the detailed log.
[make-test-integration-devfile_7_errors_new-Colo.txt](https://github.com/openshift/odo/files/5637106/make-test-integration-devfile_7_

[2020-12-03 15:45] maysunfaisal commented on #4276
IMO from a customer's POV, it would be neat if all the Openshift products aligned, so in that world odo would somehow say devfile v1 is not supported but we can convert it for you to devfile v2, much like the option odo has for convering s2i to devfile v2. But the other argument is, odo started with devfile v2 so its also fair to say, odo will not support devfile v1 at all and err out with a msg a

[2020-12-03 16:07] girishramnani commented on #4136
closing as it seems the issue has been resolved

[2020-12-03 16:07] #4136 closed

[2020-12-03 17:13] sbouchet commented on #4136
yes, ok to close :)

[2020-12-03 17:26] kadel commented on #4240
Conversion is a little bit worrying for me. I bet that there is a reason why it is in OpenAPI and not JSON Schema.
It would be much better if we can use OpenAPI Schema from start to end and completely avoid conversion to JSON Schema.

@dgolovin @jeffmaury How big a problem it would be for you to work with OpenAPI Schema?

[2020-12-03 21:46] dgolovin commented on #4210
@kadel I probably did it outside of odo, by deleting devfile.yaml form file browser, but did not see `.odo` folder because it was hidden. Behaviour should be ether overwriting .odo/env/env.yaml in case of something missing to detect component or recognizing component with invalid configuration, but it should be consistent throughout all commands.

[2020-12-04 01:24] dharmit commented on #4115
@mik-dass you've done a great job of separating the code into different files especially at `occlient` and `kclient` level. I think you had something for `url` package that was more interface-y. Are you planning to open a PR for it?

@girishramnani you mentioned that you were going to work on the `config` part of `context` package. However, I don't think @adisky will be working further on `context

[2020-12-04 01:27] dharmit commented on #4115
Either this has to be done on a high priority or completely dropped. We can't keep dragging refactoring task into sprints if it's not making sense to anyone to work upon. Can't keep just @mik-dass working on it all the time.

@kadel @girishramnani @adisky

/priority high

[2020-12-04 02:05] dharmit commented on #4031
Lowering the priority since this doesn't seem to be an annoyance to anyone. Or no one has said so yet on this issue, AFAICS.

/remove-priority high
/priority medium

[2020-12-04 02:14] dharmit commented on #4036
@prietyc123

Are the periodic jobs still failing on this? Or did things get fixed with #4016 getting closed?

@dgolovin

Is this still a problem? Is it blocking VS Code plugin team? I'm asking this because I'm not seeing much activity on this issue and am inclined to lower its priority if it's not an annoyance to anyone. Plus, we're very low on bandwidth currently and need to focus on things that

[2020-12-04 02:17] dharmit commented on #3924
/good-first-issue

[2020-12-04 02:26] dharmit commented on #4159
We're waiting on some movement on https://github.com/devfile/api/issues/216 for this to be able to move further. The code for this needs to go into library and not in odo.

[2020-12-04 02:27] dharmit commented on #2877
I'm reducing the priority on this one since we're already working on #3256 and decided to focus on that one first.

/remove-priority high
/priority medium

[2020-12-04 02:30] dharmit commented on #4160
This will not be possible to do before #4159 which is in turn dependent on https://github.com/devfile/api/issues/216.

[2020-12-04 02:31] dharmit commented on #4232
@mik-dass can you move this on the board please?

[2020-12-04 02:32] dharmit commented on #4233
Can't move this before addressing #4242 because the code is tonnes of `if..else` blocks to differentiate between Service Catalog, Operator Hub, s2i and Devfile. It's a maintenance mess as well development mess currently. :confused:

[2020-12-04 02:47] dharmit commented on #4242
/priorit high

[2020-12-04 02:51] dharmit commented on #2540
@mohammedzee1000 how long do you think before get #4063 in? Only then we can start working on this, right?

[2020-12-04 02:57] dharmit commented on #2615
@girishramnani Does this issue still need any more information? I see everything around this being discussed on #4240.

[2020-12-04 03:09] dharmit commented on #4240
From what I have seen, "alm-examples" are filled with placeholder data. Fields under the `spec` are not going to be able to help us provide a meaningful output to the user. For example, below are two alm-examples - one for EtcdCluster and one for ServiceBinding - how do you suggest we use this in `odo catalog desribe service`?

[code]

[code]
Here the alm-example of ServiceBinding is making a bunc

[2020-12-04 03:24] dharmit commented on #4172
This would be handled as a part of #4242.

[2020-12-04 04:45] dharmit commented on #4093
@mik-dass can you move this into the issue description and check off the ones you have already got merged? Add a note to those that have a PR open. Just want to get an idea about its status before we consider it for the next sprint.

And, if all the resources have been taken care, feel free to close this!

[2020-12-04 04:50] dharmit commented on #4200
@kadel is this something that we would want to see on odo.dev as well or is this more relevant for downstream docs?

[2020-12-04 04:59] dharmit commented on #3892
How is this coming along?

[2020-12-04 05:01] dharmit commented on #4095
The PR's merged. Closing this.

@burrsutter, please re-open the issue if there's anything amiss.

/close

[2020-12-04 05:01] #4095 closed

[2020-12-04 05:09] dharmit commented on #4253
Based on the discussion we had on stand-up call, I think we're good to use PSI hardware for these tests. We need to bring up minikube & minishift using containers instead of bringing them up as VMs. Breaking this down into two issues. Let's start by focussing on minikube since it boots fast and we really need to get k8s tests back ASAP.

[2020-12-04 05:11] dharmit opened #4287 "Use PSI for running Kubernetes tests"
Kubernetes tests that were earlier working on Travis need to run on PSI infrastructure.

### Acceptance Critera
- [ ] Kubernetes test results for every PR

### Scope of the issue
https://github.com/openshift/odo/issues/4287#issuecomment-752359444
https://github.com/openshift/odo/issues/4287#issuecomment-754408501

/area testing
/priority high
/assign @mohammedzee1000

[2020-12-04 05:12] dharmit commented on #4287
@prietyc123 @kadel please add any more acceptance critera or detail to the issue that I might have missed.

[2020-12-04 05:13] dharmit opened #4288 "Use PSI for running OpenShift 3.x tests"
OpenShift 3.11 tests that were earlier working on Travis need to run on PSI infrastructure. This is mainly required to test Service Catalog.

/area testing
/priority high

Work pending for Sprint 198:
The required scrips are pending review in PR https://github.com/openshift/odo/pull/4406. Once merged the corrsponding Jenkins job will be enabled to complete the setup for first run.

**Acceptance cr

[2020-12-04 05:18] dharmit commented on #4288
If we manage to address #4242 elegantly (that is, odo code becoming more clear and maintainable w.r.t supporting multiple service backends - Svc Cat and Operator Hub), we can simply run the Service Catalog tests on minikube as proposed in #4287. All we will then have to do is [bring up Svc Cat on minikube ](https://svc-cat.io/docs/install/).

IMO, that's what we should target. I don't see any othe

[2020-12-04 05:28] sarveshtamba commented on #4285
Tried looking at the following issue:-
[code]

[code]
Should there be a wait or sleep before this line -https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_push_test.go#L662 ?

[2020-12-04 06:29] mohammedzee1000 commented on #4269
@jorgemoralespou sync complete http://mirror.openshift.com/pub/openshift-v4/clients/odo/v2.0.2/
/close

[2020-12-04 06:30] #4269 closed

[2020-12-04 06:32] prietyc123 commented on #4285
@sarveshtamba I have gone through the logs and found push is failing on
[code]
and team is already working on resolving issue https://github.com/openshift/odo/issues/3256

[2020-12-04 06:42] sarveshtamba commented on #4285
@prietyc123 this error is affecting only one failed test. Any thoughts on the others like the one in `https://github.com/openshift/odo/issues/4285#issuecomment-738573656` ?

[2020-12-04 07:11] mik-dass commented on #4093
I have checked off the resources which are done.

[2020-12-04 07:17] mik-dass commented on #4232
Done.

[2020-12-04 07:28] girishramnani commented on #4210
Understood moving forward on the approach I have mentioned above

[2020-12-04 07:28] mik-dass commented on #4115
The PR https://github.com/openshift/odo/pull/4185 was an concept. I clean it up and it will be ready for review.

[2020-12-04 08:16] prietyc123 commented on #4036
No, It has been closed via https://github.com/openshift/odo/pull/4070 . I think we were facing the issue due to unsupported images. So closing this issue. @dgolovin please feel free to open this, if you still face the issue.

[2020-12-04 08:16] #4036 closed

[2020-12-04 09:06] sbouchet commented on #4233
CC @dgolovin

[2020-12-04 09:51] kadel commented on #4240
@dharmit I think that the idea was that in the case user doesn't have access to OpenAPIV3Schema we can leverage the fact that it is natural for IDEs to work with files. So they can just show users the example that they can edit themself. Not ideal, but it is at least something. This is also what OCP Web console is doing.

[2020-12-04 11:40] prietyc123 opened #4289 "Update ci-reference test doc"
/kind documentation

## What mistake did you find / what is missing in the documentation?

ci-reference doc https://github.com/openshift/odo/blob/master/docs/dev/ci-reference.adoc does not have details about about tests on CI. Like what are the test run on travis, prow ...

## What is the relevance of it?

[2020-12-04 11:41] zhengxiaomei123 opened #4290 "How to use other Devfiles which is hardcode on tests/examples/source/devfiles directory"
/kind bug

## What versions of software are you using?

**Operating System:**
Rhel 8.2
**Output of `odo version`:**
odo v2.0.2 (bf6b1b4c3)
## How did you run odo exactly?
nightly CI

## Actual behavior
For integrating devfiles related integration and e2e tests on nightly CI for IBM Z&Power, we need to change the devfiles used in tests. One way is to use other secure devfiles registry on GitHub rep

[2020-12-04 11:41] zhengxiaomei123 commented on #4290
/area system-PZ

[2020-12-04 16:22] deboer-tim commented on #4276
Yeah, I want to be clear I agree we should not try to support devfile v1 in odo. I also agree that supporting s2i via devfile v2 in #4281 and getting to one codepath sounds very appealing.

Which makes this case pretty difficult. For the next few months until Che moves to devfile v2 + many more months for users to upgrade, there will be projects with devfile v1. Trying to interpret these as v2 in

[2020-12-04 16:33] kadel commented on #4276
One quick solution to all those problems could be to create a new naming convention for Devfile v2 (`devfile2.yaml`) so both versions can coexist. But this might create other problems.

Otherwise, it is either what @deboer-tim is proposing here or #4281. But we can't do both.

[2020-12-04 16:39] kadel commented on #4276
Now when I think about it there might be a solution, but it will involve a little more coding.

If you call `odo create` on a directory with existing `devfile.yaml` and odo detects that it is Devfile v1, it will create Devfile v2 in a file with a different name, like for example `devfile2.yaml` and save flag to `.odo/env/env.yaml` that it needs to look for `devfile2.yaml` and not `devfile.yml`.
Ev

[2020-12-04 19:23] deboer-tim commented on #4276
Over time other tools will support devfiles too (even Che itself) and they won't want to find the location via .odo folder. We could create a generic place to store the path, but that's not really better than just picking a different filename. I agree this could cause other problems...

Argh, maybe there's no good interim solution here? What about a hidden flag or temporary experimental setting th

[2020-12-07 07:48] prietyc123 commented on #4278
As we are all aware about ocp 4.6 image change configuration and likewise we might need to add some more images as supported and TBH we don't know whether it will be under r.c.o or not. So considering it for now makes sense to me but I would say for long run we can definitely look upon mirroring the external images into `quay.io`.

[2020-12-07 09:19] dharmit commented on #4093
So now we're supposed to make changes that we discussed in #4057? I remember you were working on url package to make it more interface-y. Are you planning to open a PR for it or have you abondoned that code?

For things in "odo service" and "odo catalog list services", I intend to address those via #4242.

[2020-12-07 09:21] dharmit commented on #4199
@mohammedzee1000 can you please update the issue with its current status? The PR associated with it has already gone in. Have all the items mentioned in the issue description been taken care of?

[2020-12-07 10:58] mik-dass commented on #4093
Yes, the client related changes discussed in #4057.

I need to clean it up as a part of https://github.com/openshift/odo/issues/4115.

[2020-12-07 12:05] mohammedzee1000 commented on #4199
I am working on the 2nd phase of this issue. The 3rd part, which is platform-specific stuff, I am expecting the alt arch teams to handle it.

[2020-12-07 12:18] #4232 closed

[2020-12-07 12:35] mohammedzee1000 commented on #4199
https://github.com/openshift/odo/pull/4292

[2020-12-07 17:58] #3973 closed

[2020-12-07 22:52] #4257 closed

[2020-12-07 23:32] gorkem commented on #3724
/remove-lifecycle rotten

[2020-12-08 05:45] mohammedzee1000 commented on #4284
https://stevenmortimer.com/5-steps-to-change-github-default-branch-from-master-to-main/
I think shis should help

[2020-12-08 06:38] adisky commented on #4081
Summarizing

- [ ] Unify Context functions to one function -> NewContext()
      It will also include detection of s2i or devfile component in context and return context accordingly.
_We need to think about this one if we are going to implement https://github.com/openshift/odo/issues/4281, as redirecting the s2i path to devfile the context might be the same for both._

- [x] Segregate functions in

[2020-12-08 10:36] sarveshtamba commented on #4285
/area system-pz

[2020-12-08 10:37] sarveshtamba commented on #4241
Closing this in favour of https://github.com/openshift/odo/issues/4285

[2020-12-08 10:37] #4241 closed

[2020-12-08 12:47] dharmit commented on #4221
Moving this to Sprint 194 since I couldn't manage to fix it in this sprint. :(

[2020-12-08 15:28] deboer-tim commented on #3495
+1 to this. I think we should even discuss if HTTP port should be automatically forwarded, and at a minimum should be easier/less parameters to configure since we already know the port number.

Routes 'just work' on OpenShift, but installing ingress on Kind/Minikube and figuring out the host is non-trivial for the average user. Forwarding the HTTP port is much simpler for these users to get starte

[2020-12-08 22:37] dgolovin opened #4295 "`odo push -h` documentation is inconsistent with behaviour --project"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** odo v2.0.2 (585fd6dc5)

## How did you run odo exactly?

[code]

## Actual behavior

`odo push` without `--project prname` is always pushing to project configured in component's settings

## Expected behavior

As documentation says odo should push to the same project as 'odo project ge

[2020-12-09 00:56] rnapoles-rh commented on #4220
@dharmit what do we use https://github.com/openshift/odo-init-image for ?

[2020-12-09 04:02] #3108 closed

[2020-12-09 07:20] dgolovin commented on #4144
@girishramnani this is still replicable in 2.0.2

[2020-12-09 07:57] dharmit commented on #4220
I was hoping no one would ever ask me this question because I _probably_ don't completely understand it. But let me take a stab at it.

odo spins up init containers to set up the environment before starting the actual component. And it's the odo init image that's used to do this set up job. We have more info about the tasks in the [docs here](https://odo.dev/docs/odo-architecture/#init-containers)

[2020-12-09 09:02] kadel commented on #4266
@gorkem , I would argue that it is correct to set resource limits without taking the cluster into account. Limits should be set based on the application requirements. Yes, it could lead to a situation where the given devfile can't be deployed to the cluster because it simply can't fit the namespace LimitRange. But I would say this is correct, as in this situation application might not be stable.

[2020-12-09 09:45] adisky commented on #2754
still valid issue
/remove-lifecycle rotten

[2020-12-09 09:57] adisky commented on #3122
not actively working on this, removing my assignment
/unassign @adisky

[2020-12-09 10:02] #2485 closed

[2020-12-09 10:49] dharmit opened #4298 "Refactoring odo in small chunks"
## What are we doing?
For Sprint 194, we will work on refactoring odo code in small chunks. What this means is that we will try to:
1. remove functions or code that's repeating across packages/layers but doing (almost) the same thing
1. break large function that's doing multiple things into smaller functions that are easier to read and understand
1. add more comments to the code to make it simpler

[2020-12-09 12:54] kadel commented on #4276
In this case, it would be up to the users to replace  `devfile.yml` with `devfile2.yaml` once all the tools they are using support Devfile v2. I know that it is not ideal.

This is already there. `odo create --s2i` will force s2i component even if there is a devfile.
But that will still prevent us from implementing #4281 :-(

[2020-12-09 13:10] dharmit commented on #4298
@kadel @mik-dass @adisky let me know if anything about issue description needs to be changed.

[2020-12-09 13:24] dharmit opened #4299 "Update documentation to use Service Binding Operator on operatorhub.io"
/kind documentation

## What mistake did you find / what is missing in the documentation?
Service Binding Operator is now available via operatorhub.io. Update the documentation to use that.

## What is the relevance of it?
We needed to be able to install SBO through operatorhub.io since some time. It's available now so odo documentation needs to be updated to use that instead of SBO v0.3.0 and its

[2020-12-09 13:48] mohammedzee1000 commented on #4284
Another thing we can consider is using github actions https://github.com/marketplace/actions/default-branch-migration altho this will need us to enable it first. This will apparently also handle updating the PRs.

One thing that is unclear is how PRs will be affected if we go manual route

[2020-12-09 13:52] mohammedzee1000 commented on #4284
Scope:

- [ ] Create main branch based on master
- [ ] Update PRs to be against main
- [ ] Delete master branch (not sure how this will affect existing releases, probably not)

[2020-12-09 14:17] mohammedzee1000 commented on #4287
@prietyc123 is going to try the following steps manually:
 1. Create openstack vm
 2. Install minishift on it
 3. Run some tests

Once we have manually achieved this, it is trivial to script it out
Also, will need to give robot account access to openstack for automation purposes

[2020-12-09 14:49] dharmit commented on #3256
@sarveshtamba can you try to see if you can still reproduce this issue? I'm asking because @mik-dass's #4283 has gone in which should provide more logs. So if you face this issue, please share logs from the time of failure.

[2020-12-09 15:08] kadel commented on #4144
Sadly this is not included in 2.0.2.
We had some issues with the release process. It took exceptionally long to push released artifacts :-( 2.0.2 was build from source code before this was merged.
We are currently working on the next release 2.0.3 and that should include this fix.

[2020-12-09 15:09] kadel commented on #4287
can we configure Jenkins to do this for us?

[2020-12-09 15:16] kadel commented on #4253
How do you know that the ocp 4.x cluser is overloaded? I'm using it almost every day, and haven't noticed any problems.
Do we have any metrics suggesting that it is getting overloaded?
on PSI we are using about 3/4 of resources, we still have a lot to spare

[2020-12-09 15:30] mohammedzee1000 commented on #4287
That would be the final goal, a script in jenkins

[2020-12-09 16:05] #3097 closed

[2020-12-09 16:05] #3114 closed

[2020-12-09 17:00] kadel commented on #4220
We don't know if this is failing just on odo-init-image because travis tests are not running on odo repo for over a month due to a quota change on Travis side :-(

[2020-12-09 17:02] sarveshtamba commented on #4228
Supporting single vs multi arch images in a stack - https://github.com/devfile/api/issues/244

[2020-12-09 20:24] deboer-tim commented on #4276
After a few other discussions I've suggested we avoid this situation, by essentially sticking on an older pre-devfile odo build for a few months until Che can update to devfile 2. This isn't ideal (and if we get confirmation I'm sorry for the hassle), but it would mean that we can ignore this situation and focus on #4281 and what odo needs w/o distraction.

[2020-12-09 22:04] #3111 closed

[2020-12-09 22:04] #3131 closed

[2020-12-09 23:06] rnapoles-rh commented on #4277
Tried on a local windows 10 box with minishift and tests start executing after running
`> ginkgo .\tests\integration\`
Next step is to reinstall ginkgo in the CI win10 env.

[2020-12-10 04:05] #2998 closed

[2020-12-10 07:29] mohammedzee1000 commented on #4284
The first step in this is to prep the PR that will go into openshift/release so it can be merged as early as possible once the main branch is ready.

The second step to this is to enact a soft freeze on merging PRs, soft because it does not mean we can stop the merge of PRs already in the merge queue by automation, but to prevent more PRs from going into the queue.

The third step, after a reasona

[2020-12-10 07:29] mohammedzee1000 commented on #4284
cc @dharmit @kadel ^ wdyt?

[2020-12-10 09:24] adisky commented on #4046
@deboer-tim mentioned odo seems to hang when cluster is unreachable, even for error cases like `The current directory does not represent an odo component`, I tried considering `odo push` command as a base case

- case-1 : `odo push`, cluster is reachable
It works fine, no hang

- case-2: `odo push`, cluster not reachable, no local config data/devfile present in the folder
odo hangs for quite a whi

[2020-12-10 09:24] kadel commented on #4284
@mohammedzee1000 It might be a good idea to create a testing repo in your own namespace (or use your odo fork) and test this process first (of course without prow updates)

[2020-12-10 09:43] adisky commented on #4046
Around 12 secs delay i got on my system witj `IsCSVSupported` call
[code]

[2020-12-10 10:06] #3135 closed

[2020-12-10 10:16] #3350 closed

[2020-12-10 11:03] adisky commented on #4046
odo link, unlink and odo service commands using `IsCSVSupported` during command initialization, it is easier to move for link/unlink command but with `odo service` commands we are using to differentiate help and flags.
https://github.com/openshift/odo/blob/master/pkg/odo/cli/service/create.go#L524

[2020-12-10 11:16] prietyc123 commented on #3256
@dharmit We are hitting this issue more often on periodic jobs https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.4-integration-e2e-periodic/1336913685016219648#1:build-log.txt%3A1393 and this time I think we got something helpful. Deployment is getting rolled out while pushing the created services in operator hub.

[code]

[2020-12-10 11:31] dharmit commented on #4046
This sucks. And it's a piece that I added. :disappointed:

We faced a similar issue earlier https://github.com/openshift/odo/pull/3825#issuecomment-694866119. This check for CSV support is my mistake. We were earlier working with the understanding that if the user is working on a cluster that supports Operators, we will not show anything related to Service Catalog in the help output. That assumpti

[2020-12-10 11:49] dharmit commented on #3731
Lowering the priority since we're not using Travis any more.

/remove-priority high
/priority low

[2020-12-10 12:06] dharmit commented on #3256
It's failing because it can't find the Secret that should have been created when we do `odo link EtcdCluster/example`. Doing `odo link` creates a Secret with the name `<component-name>-<cr-name>-<cr-instance-name>` on the cluster.

This Secret fails to get created when something's wrong with Service Binding Operator installation. So far, whenever I have seen cases where a Secret failed to get crea

[2020-12-10 12:12] dharmit opened #4301 "Failing "odo link" tests are blocking CI system"
/kind bug
/area linking

odo doesn't fail if at the time of doing `odo link <cr-name>/<cr-instance-name>`, it fails to create a Secret on the cluster. Creation of this Secret is a task performed by Service Binding Operator. But if odo doesn't fail when such a Secret doesn't get created, it can cause user confusion as well as CI issues as we're seeing in our environment.

_Originally posted by @dha

[2020-12-10 12:28] prietyc123 commented on #3256
Might be I am understanding it in wrong way but AFAIU if `odo catalog list services` listing out the created operators, doesn't that mean the operator phase is in "Succeeded" state 😕 I can see the operators
https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.4-integration-e2e-periodic/1336913685016219648#1:build-log.txt%3A853 .

[2020-12-10 12:39] dharmit commented on #3256
You're understanding it absolutely correctly. That's exactly why I mentioned:

What's happening is that creation of a service (a link is an operand/service) using SBO is succeeding (if that was failing, odo would have thrown an error). What we need to add in odo code is a check that confirms the existence of the Secret that would have been created by SBO. If it's not there, `odo link` should fail,

[2020-12-10 12:53] anandrkskd commented on #4289
ci-reference doc does not contain information regarding

- [ ] the test that are running on CI, e.g : under travisCI we run test for kubernetes,
- [ ] Test workflow/diagram of CI.

[2020-12-10 13:00] anandrkskd commented on #2704
We can use run_if_changed, info about   run_if_changed provided in [doc](https://docs.ci.openshift.org/docs/how-tos/contributing-openshift-release/#tolerated-changes-to-generated-jobs).

For Prow we need use regex similar to provied [here](https://github.com/openshift/release/blob/master/ci-operator/jobs/openshift/machine-api-operator/openshift-machine-api-operator-master-presubmits.yaml#L595).

[2020-12-10 13:20] mohammedzee1000 commented on #4284
Tried it on https://github.com/mohammedzee1000/test-repo

1. Created repo with `main` as default branch
2. Added some commit to `main`
3. Created PR branch, pushed a commit and raised PR https://github.com/mohammedzee1000/test-repo/pull/1
4. Created another branch `newdefault`, based on `main`
5. Added extra commit to `newdefault`
6. Updated PR https://github.com/mohammedzee1000/test-repo/pull/1 t

[2020-12-10 13:25] rnapoles-rh commented on #4277
I tried on the PSI windows VM where the problem was reported. I restarted the VM and I was able to execute the tests. I did not get the compilation error. I will try to run the tests again and if all goes well I will close it.

I noticed that the gingko version we have installed is alder that the one defined in the Makefile. I will open another issue to make sure we upgrade the ginkgo version in a

[2020-12-10 13:29] adisky commented on #4046
We decided to remove `IsCSVSupported ` call during command initialization, we will update the help message with all the options available.

[2020-12-10 14:06] dharmit commented on #4279
Can we also make sure to figure out what will be required/changing as move the integration tests to PSI instead of its current state?

[2020-12-10 14:32] dharmit commented on #4239
https://github.com/openshift/odo/pull/3739

[2020-12-10 14:39] dharmit commented on #4220
https://github.com/openshift/odo-init-image/blob/master/.travis.yml#L34

[2020-12-10 15:06] rnapoles-rh commented on #4277
Tried again on the VM where we were getting the compilation failure and test were executed as expected:
[code]
Closing

[2020-12-10 15:06] #4277 closed

[2020-12-10 18:39] sympatheticmoose commented on #4276
So here I don't understand what I'm doing wrong... but I cannot get that to work - as shown below
<img width="717" alt="Screenshot 2020-12-10 at 18 37 18" src="https://user-images.githubusercontent.com/19860021/101815127-fcb56e00-3b16-11eb-9e08-7be9be21d45f.png">

[2020-12-10 22:09] #2316 closed

[2020-12-10 22:09] #2858 closed

[2020-12-11 05:04] dgolovin opened #4302 "`odo describe` does not work when cluster is not accessible or user is logged out"
/kind bug

odo version is 2.0.2.

Was working in previous release until this line was added.
https://github.com/openshift/odo/blob/1cb28b2f07b878a699843daffe01bfe5a8159686/pkg/component/component_full_description.go#L154

When not connected returns the error below after delay:
[code]

When not logged in it returns error below:

[code]

When line above modified to continue in case of error as

[cod

[2020-12-11 06:31] prietyc123 opened #4303 "Add ubi/nodejs-14 image as Supported"
/kind user-story

## User Story
As a user I want to execute odo on ocp 4.7 with latest nodejs image

## Acceptance Criteria
- [ ] latest nodejs image on 4.7 should supported in odo
- [ ] Tests should run successfully on 4.7

## Links
- Feature Request: NA
- Related issue: https://github.com/openshift/odo/issues/4280

/kind user-story

[2020-12-11 06:36] prietyc123 commented on #4303
Latest nodejs image on ocp 4.7 is

$ oc -n openshift get is nodejs -o yaml
[code]

[2020-12-11 06:37] prietyc123 commented on #4280
It s blocked on https://github.com/openshift/odo/issues/4303

[2020-12-11 08:56] kadel commented on #4280
Can you please link blocker issues here?

[2020-12-11 10:09] #3110 closed

[2020-12-11 11:04] niconosenzo commented on #2847
@dharmit I would like to have some fun working on it :).

[2020-12-11 11:34] prietyc123 commented on #4220
@kadel I think this is only on odo-init-image because we merged image bumping pr https://github.com/openshift/odo-init-image/pull/71 on 30th July and till that time this was the consistence failure on odo-init-image. However travis tests are not running on odo repo from almost one month. Earlier to that tests were running fine on odo repo. So, this is clearly an issue from odo-init-repo and I have

[2020-12-11 11:59] mik-dass commented on #2847
Done 👍

[2020-12-11 14:16] sbouchet commented on #4144
verified that issue is fixed in 2.0.3 with redhat-developer/intellij-openshift-connector#251

[2020-12-12 16:14] #3212 closed

[2020-12-12 16:14] #3214 closed

[2020-12-13 03:44] gorkem opened #4305 "devfile validation fails if folder name is not valid"
/kind bug

## What versions of software are you using?

**Operating System:**
MacOs

**Output of `odo version`:**

odo 2.0.3

## How did you run odo exactly?

odo push

## Actual behavior
When I run odo push on a folder with devfile. devfile validation fails with the following.
the _staticHTML_ is the name of the folder and I never set a component name.
I think odo is setting the component name fr

[2020-12-13 04:16] #3234 closed

[2020-12-13 22:19] #3244 closed

[2020-12-14 12:08] prietyc123 commented on #4290
@zhengxiaomei123 I have gone through the devfile examples and observed nodejs devfiles uses multi arch supported images https://github.com/openshift/odo/blob/master/tests/examples/source/devfiles/nodejs/devfile.yaml#L12 , So didn't find any difficulties there. However yes, there are some `quay.io` [java images](https://github.com/openshift/odo/blob/master/tests/examples/source/devfiles/springboot/

[2020-12-14 15:03] kadel commented on #4276
@sympatheticmoose You are not doing anything wrong.
Sadly I didn't realize this before :-( The current behavior is that `odo push` prefers devfile.yaml over old s2i based components (detected by the presence of `.odo/config.yaml`), no matter of Devfile version.

This is something that we will have to change. Logic shoudl be:
 -  if there is  `.odo/config.yaml` and `./devfile.yaml` has apiVersion 1

[2020-12-14 15:44] sarveshtamba commented on #4290
@prietyc123 we will need multi arch images for ppc64le too.

[2020-12-14 16:04] kadel commented on #4305
Yes, that is what is happening here :-(

odo needs to convert the directory name into the always valid component name.
odo needs to do the following  cleanup before using value as a component name:
 1. convert to lowercase
 2. remove all non-alphanumeric characters except `-`
 4. if it is all numeric values, prepend it with `x`
 3. remove all leading and trailing non-alphanumeric characters (becau

[2020-12-14 16:16] tetchel opened #4308 "Broken link in Releases page"
/kind bug

![image](https://user-images.githubusercontent.com/8888438/102105823-da18a300-3dfd-11eb-8f52-42e77b2a044d.png)

[The latest release page](https://github.com/openshift/odo/releases/tag/v2.0.3) links to https://docs.openshift.com/container-platform/4.6/cli_reference/openshift_developer_cli/installing-odo.html which does not exist.

[2020-12-14 16:21] kadel opened #4309 "Confusing message about default project."
[code]

This is a really confusing message for both Kubernetes and OpenShift users

### Kubernetes
For minikube or any other Kubernetes users this message provides no value. It doesn't matter if they are using the `default` project or not.
#### Solution
Add a condition that will check if the cluster supports `Project` resource. If not, the warning should not be displayed even if the `default` proj

[2020-12-14 16:26] kadel commented on #4308
It looks like OpenShift Docs slightly changed URL in the latest release.
The correct link is now
https://docs.openshift.com/container-platform/4.6/cli_reference/developer_cli_odo/installing-odo.html

I've fixed the link in our release notes.

Thank you @tetchel for reporting this.

/close

[2020-12-14 16:26] #4308 closed

[2020-12-14 18:25] deboer-tim commented on #4276
Surprisingly, sympathetic moose is not the Canadian in this thread! :)

@kadel, David and I had a chat and agreed to drop this request. We'll leave the version of odo (via the Connector extension) back-levelled until Che can adopt devfile 2. That will avoid this issue and the need to do any temporary settings or workarounds, as well as the potential usability issues you noted above (https://github

[2020-12-14 18:25] #4276 closed

[2020-12-15 04:24] #3273 closed

[2020-12-15 06:38] #4299 closed

[2020-12-15 07:10] zhengxiaomei123 commented on #4290
@prietyc123 Thanks. The generic library function sounds great. Do you have any examples to create a generic library function?

[2020-12-15 07:17] zhengxiaomei123 commented on #3671
same issue with https://github.com/devfile/api/issues/244

[2020-12-15 09:21] mohitsuman commented on #4262
So this basically means if the devfile is in the root of the workspace, it will set `UserCreatedDevfile: true` after `odo create` ?

Does all Che workspaces follow this convention to have devfile in the root scope. Just want to get it confirmed ?

@kadel @deboer-tim

[2020-12-15 13:31] deboer-tim commented on #4262
FWIW, I'm not a fan of solutions that save info on one file in another file. IMHO that leaves open other problems when the two get out of sync, e.g. when working in a team with multiple changesets; when one gets checked into git and not the other; etc. I'd lean towards just not deleting the devfile - but I don't know the background or other reasons for this behaviour so I'll defer to the odo team.

[2020-12-15 16:26] #3169 closed

[2020-12-16 09:42] #2847 closed

[2020-12-16 10:28] #3277 closed

[2020-12-16 10:51] prietyc123 commented on #4290
TBH, I don't find such examples in the helper file till now. But the idea is check the component, if it is java then use the devfiles according to the arch.

[2020-12-16 13:31] #4221 closed

[2020-12-16 14:45] dharmit opened #4313 "Make "checkConflictingFlags" function part of "Runnable" interface"
Currently, `checkConflictingFlags` function is defined in `genericclioptions` package and is called once every time any command is executed. It takes care of ensuring the `--context` flag is not provided with `--app` and/or `--project` flags for any of the command. https://github.com/openshift/odo/blob/7d3341dcdabad37a7efa9a2cf7657fb5841dea54/pkg/odo/genericclioptions/runnable.go#L34-L37

However,

[2020-12-16 17:45] niconosenzo commented on #3924
I would like to have a look at this one if you don't mind :).

[2020-12-16 18:40] #4046 closed

[2020-12-17 07:04] dharmit opened #4314 "Automate build and release of "odo-init" image"
We need to automate the build and release process for ["odo-init" image](https://github.com/openshift/odo-init-image/).

/area release-eng

[2020-12-17 07:08] dharmit opened #4315 "Move odo-init image tests to IBM Cloud"
Currently, odo-init image tests are blocked on Travis and it's preventing PRs from getting merged. We need to move these tests to PSI along with moving our integration tests, unit tests and Kubernetes tests on PSI.

/area testing
/area infra

[2020-12-18 06:53] #4062 closed

[2020-12-18 07:19] mohammedzee1000 commented on #4284
@dharmit @kadel I was thinking doing the migration today afternoon as there will be less activity today.

What do you guys think?

[2020-12-18 16:05] maysunfaisal opened #4318 "odo should only create containers being used by devfile commands"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

## How did you run odo exactly?
odo push with two components in a devfile, where only one component is being used by the command. For example, consider this devfile:
[code]

`runtime` is the only component used by the command, whereas `buildguidance` is not. However, odo creates a re

[2020-12-18 21:29] rnapoles-rh opened #4319 "cmd_devfile_storage_test.go fails in PSI environment"
/kind bug

## What versions of software are you using?

**Operating System:**
MacOS Catalina 10.15.7 and Big Sur 11.0.1

**Output of `odo version`:**
odo v2.0.0 (6fbb9d9bf)
Kubernetes: v1.18.3+5302882

## How did you run odo exactly?
Executed cmd_devfile_storage_test.go integration test as follows:
ginkgo -randomizeAllSpecs -slowSpecThreshold=120 -timeout 7200s -nodes=1 -focus="odo devfile storage

[2020-12-18 22:04] rnapoles-rh commented on #3823
The cmd_devfile_storage_test.go test fails in PSI environment, however it runs OK on Prow. Issue #4319 tracks this problem.

[2020-12-18 22:37] #3317 closed

[2020-12-20 04:42] #3345 closed

[2020-12-20 04:42] #3347 closed

[2020-12-20 12:06] #3364 closed

[2020-12-21 03:50] sarveshtamba commented on #3986
/remove-lifecycle stale

[2020-12-21 05:00] #3381 closed

[2020-12-21 08:56] dharmit opened #4321 ""odo create --now" should display user friendly error when using "default" project"
## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
[code]
## How did you run odo exactly?
1. `odo create nodejs --s2i --now`
2. `odo create nodejs --now`

## Actual behavior
1. Error message for s2i component
[code]
2. Error message for devfile component
[code]

## Expected behavior
odo should print a more sensible message when the underlying user does

[2020-12-21 10:47] #3388 closed

[2020-12-21 12:15] dharmit commented on #4318
Since the user doesn't want `buildguidance` container to spin up from the example devfile you've shared, in what scenario would having such a container in the devfile make sense? IMO, if they don't want the container to spin up, they should not specify it in the devfile, no? Or is it something that would be helpful for other tools like, for example, Che?

[2020-12-21 18:36] #3823 closed

[2020-12-22 04:49] #3410 closed

[2020-12-22 16:52] #3424 closed

[2020-12-22 22:51] #3430 closed

[2020-12-23 04:52] #2550 closed

[2020-12-23 10:53] #3456 closed

[2020-12-23 11:23] maxandersen commented on #3811
Still an issue. Could.someone add frozen ?

[2020-12-23 22:54] #3175 closed

[2020-12-23 22:54] #3471 closed

[2020-12-24 06:16] prietyc123 opened #4326 "Implement containerize local test environment"
/kind user-story
/area testing

## User Story
As a user I want to replicate prow CI test environment locally.

## Acceptance Criteria
- [ ] It should provide a containerize local test environment
- [ ] We should be able to replicate prow CI test environment locally

## Links
- Feature Request: NA
- Related issue: NA

/kind user-story

[2020-12-24 06:37] dharmit opened #4327 "View, set and unset "Ephemeral" using "odo preference" commands"
## Which functionality do you think we should add?
PR https://github.com/openshift/odo/pull/4316 adds feature to ensure that odo uses a PVC by default for storing the source code on remote k8s/ocp cluster. The way this happens is by referring the value of `Ephemeral` in odo's preference file (`~/.odo/preference.yaml`).

However, odo doesn't correctly view, set or unset this setting in the preferen

[2020-12-24 10:03] #3775 closed

[2020-12-24 11:38] anandrkskd commented on #4279
The above failure for the test was occurred due to taste was not able to complete under 4 hours, test platform team confirmed it was not a problem from there side and the test result where probably of the test that were able to pass before the test hit time-out.

[2020-12-24 11:43] dharmit commented on #3562
Closing since this was addressed by #4316

/close

[2020-12-24 11:43] #3562 closed

[2020-12-24 11:52] dharmit commented on #3580
@kadel is this still relevant?

[2020-12-24 11:53] dharmit commented on #4327
Well this got addressed already in #4316

/close

[2020-12-24 11:53] #4327 closed

[2020-12-24 11:57] dharmit commented on #3840
@mik-dass @kadel is this still important for us to address?

[2020-12-24 13:09] sarveshtamba commented on #3840
/remove-lifecycle stale

[2020-12-24 22:58] #3477 closed

[2020-12-24 22:58] #3489 closed

[2020-12-25 17:01] #3076 closed

[2020-12-25 17:01] #3520 closed

[2020-12-25 17:01] #2153 closed

[2020-12-25 17:01] #2306 closed

[2020-12-25 17:01] #2929 closed

[2020-12-25 17:01] #3014 closed

[2020-12-25 17:01] #3225 closed

[2020-12-25 23:02] #2910 closed

[2020-12-25 23:02] #3320 closed

[2020-12-25 23:02] #3482 closed

[2020-12-25 23:02] #3286 closed

[2020-12-26 17:04] #3299 closed

[2020-12-27 05:07] #3484 closed

[2020-12-27 17:09] #3571 closed

[2020-12-28 06:03] #2704 closed

[2020-12-28 06:44] dharmit commented on #4279
Tests running for 4 hours is a problem. How can we reduce this run time?

[2020-12-28 07:01] anandrkskd commented on #4279
AFAIR @prietyc123 worked on a [PR](https://github.com/openshift/odo/pull/4047) few sprints back to re-factor and remove any duplication of codes, I am not sure if the intent of the PR was to reduce the runtime or not, and I guess the movement of reducing integration test and adding more unit test was also going to be helpful.

[2020-12-28 07:25] dharmit commented on #4279
Nope, that's something the devs should be doing. @prietyc123 just showed the way.

:+1:

[2020-12-28 07:26] dharmit commented on #4279
So is there anything pending on this issue? Or should we close it? How can we accurately figure out in future (till the tasks you pointed out in https://github.com/openshift/odo/issues/4279#issuecomment-751605483 get addressed) that misleading success status is actually due to the tests taking too long to complete?

[2020-12-28 07:46] mohammedzee1000 opened #4328 "Optimise PSI tests by splitting the tests"
This is dependent on https://github.com/openshift/odo/issues/4056
- [x] Split run script into setup + run. This will require minor updates to ci-firewall codebase
- [x] Create new send queues corresponding th jenkins jobs in rabbit mq
- [x] Create more jenkins jobs for each split we want to do for eg 1 for unit and 1 for int and e2e
- [ ] Split run_all_tests accordingly

[2020-12-28 07:47] mohammedzee1000 commented on #4056
This issue will be followed up by https://github.com/openshift/odo/issues/4328

[2020-12-28 08:47] dharmit commented on #4290
@prietyc123 is there anything here that we can help with from our side? This can be fixed either by having the same images available on quay.io for multi arch or a function (or some extra code), right?

@zhengxiaomei123 thinking out loud here - for the function part, I think you can make use of `runtime.GOARCH` and make a decision based on that. And we can discuss if the code can remain in the odo

[2020-12-28 09:11] dharmit commented on #4278
@mohammedzee1000 @prietyc123 let's have a discussion on this in cabal once everyone's back from the holidays and then decide what needs to be done about this issue.

[2020-12-28 09:23] dharmit commented on #4301
Picking this up for Sprint 195 since I'm observing these show up often for periodic jobs.

[2020-12-28 09:35] anandrkskd commented on #4279
As  much as I understand, the success status are for test which were able to complete before the time-out occurred, and we miss understood this situation as misleading success status.

Or in simple words we can say CI failed due to time-out, but was able to post the result of test that were able execute.

[2020-12-28 10:02] dharmit commented on #4301
What's interesting is that this test hasn't failed remotely as often on the integration tests as it has failed in periodic e2e tests. Before I make any change in odo code w.r.t this issue, I'd prefer we have more information about the cause for such erratic beahviour.

@prietyc123 @mohammedzee1000 can you folks shed any light on why we're seeing this mostly in periodic tests only?

[2020-12-28 10:07] dharmit commented on #3754
@prietyc123 these days, I guess, periodic jobs have a new favourite as far as reason for failure is concerned https://github.com/openshift/odo/issues/4301#issuecomment-751646668 :wink:

@sarveshtamba, apologies for not having made any substantial progress on this. Since I have not seen this being mentioned as a cause of PR CI failure for quite some time now, I'm wondering if it's still something t

[2020-12-28 11:57] girishramnani commented on #4125
A long term solution is needed here or else we would be changing devfiles in future whenever this occurs

solution -

[2020-12-28 11:59] girishramnani commented on #4125
Also this solution would be a breaking change - would break existing components

[2020-12-28 13:55] dharmit commented on #4125
Can you share the issue number please?

[2020-12-28 14:02] dharmit commented on #4125
Moving this out of this sprint for time being since the discussion and inputs need to come in from different teams involved in this.

[2020-12-28 23:14] #3602 closed

[2020-12-29 05:15] #3583 closed

[2020-12-29 07:02] dharmit opened #4330 ""odo url create" asks for port when devfile exposes two ports but a container exposes only one port"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:**
[code]

## How did you run odo exactly?
1. Used below devfile.yaml from #4318:
[code]
1. Did `odo create nodejs --devfile devfile.yaml`
2. Tried to create URL with `--container` flag.

## Actual behavior
[code]

## Expected behavior
Both `runtime` and `buildguidance` containers in the devfile expos

[2020-12-29 08:34] tmicheli opened #4331 "Add support for customizing the storage class used by odo through the devfile."
/kind feature

## Which functionality do you think we should add?

Make it possible to configure the storage class that is used to provide persistent storage for containers through odo/devfile.

## Why is this needed?

In some cluster setups the default storage class can not be used to provide persistent storage for containers created through odo. This can have multiple reasons, e.g. the default s

[2020-12-29 10:30] girishramnani commented on #3359
it seems this was already done when we moved to gomod
https://github.com/openshift/odo/blob/9200a7f99c2627c64d8ea2145aecf3ea2868d244/Makefile#L101

[2020-12-29 10:30] #3359 closed

[2020-12-29 10:32] girishramnani commented on #3361
It seems this was done when we moved to go mod
https://github.com/openshift/odo/blob/9200a7f99c2627c64d8ea2145aecf3ea2868d244/Makefile#L109

[2020-12-29 10:32] #3361 closed

[2020-12-29 11:06] girishramnani commented on #4326
I am not sure what `provide a containerize local test environment` means?

[2020-12-29 11:26] girishramnani commented on #4313
I would suggest making it more generic - like `PreFlightChecks` because on many occasion we have validations that we want to do even before running the complete function
e.g.
- checking if the envfile exists without devfile to `force` and override
- we even have validations in complete function because there are some more values derived from them

[2020-12-29 11:42] girishramnani commented on #2801
probably build the labels struct and use https://github.com/imdario/mergo to merge with original labels? or thats too much?

[2020-12-29 13:28] girishramnani commented on #4305
I can take a look at this

[2020-12-29 13:51] dharmit commented on #4314
@mohammedzee1000 to research this and list down things that need to be done from our side.

/assign @mohammedzee1000

[2020-12-29 23:17] #3640 closed

[2020-12-29 23:17] #3176 closed

[2020-12-30 06:39] dharmit commented on #4298
In Sprint 194, as a part of this issue, I started stepping through the code to understand where we can make improvements. I ended up creating:
* PR 4322
* PR 4323
* Issue #4313

And to the best of my knowledge, @mik-dass opened PR 4311.

In Sprint 195, I intend to continue stepping through the code as much as I can. AFAIK, @mik-dass is going to open a PR to refactor storage bits once PR 4311 is me

[2020-12-30 07:30] mohammedzee1000 commented on #4287
So the scope of this issue will be:

- [ ] Get our internal Jenkins robot account access to our internal PSI project
- [ ] Create a script that
  - Provisions a VM on PSI.
  - ssh into that machine, and provision minikube VM using podman (preferable) using https://minikube.sigs.k8s.io/docs/drivers/podman/  or docker if unavoidable using  https://minikube.sigs.k8s.io/docs/drivers/docker/
  - Run th

[2020-12-30 09:33] prietyc123 commented on #4287
I was able to successfully install openstack client. Followed doc - https://docs.openstack.org/mitaka/cli-reference/common/cli_install_openstack_command_line_clients.html
Tried creating fedora vm using CLI command
[code]
But it is throwing error
[code]
I am trying to find out the root cause of the failure.

[2020-12-30 09:43] mohammedzee1000 commented on #4287
It says it right there. No more IPs. can you try a different network like `_3` instead of `_2`

[2020-12-30 11:58] sarveshtamba commented on #3754
@dharmit yes still facing this issues on on of our environments:-
[code]

[2020-12-30 12:19] prietyc123 commented on #4301
This is really a weird behaviour and more interestingly we are hitting it on PSI as well https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4063/pull-ci-openshift-odo-master-v4.6-integration-e2e/1344158957064687616#1:build-log.txt%3A1371 . Kind of blocker for POC pr https://github.com/openshift/odo/pull/4063

I think if we want to get more info on this then the only wa

[2020-12-30 12:33] dharmit commented on #2801
Two points that I think need discussion for this issue:
1. `odo service create` for Operator backed services doesn't require a context right now. Adding labels would mean that it's executed only from a valid component directory.
    1. Most likely we want to go down this path but so far it hasn't been a trouble to not have labels on Operator backed services either.
    1. Is it just about staying

[2020-12-30 13:08] prietyc123 commented on #4326
@girishramnani Basically our CI test environment runs on a container. IMO its better to open an option to use the same CI container images locally, as they provide the same test environment as the final CI validation.
Currently developer/tester runs local test on their host machine which may require some changes on their host machine to run odo test. In containerize local env we will provide a con

[2020-12-30 13:10] dharmit commented on #4301
Can we have access to the system that's hosting the tests when we hit this failure? That would be much more helpful for me to troubleshoot the problem. cc @mohammedzee1000 (for PSI).

[2020-12-30 13:18] sarveshtamba commented on #3502
/remove-lifecycle rotten

[2020-12-30 13:23] dharmit commented on #4326
Really? I think it runs on an OpenShift cluster that's running in VMs on a cloud. Same for PSI - it will still be running in VMs on PSI, no? Or are you talking about the tests themselves being called from inside some container? I'm not aware if that's the case either.

I use CRC. Most of the devs use CRC or minikube instead of running OpenShift/k8s directly on host machine.

And where will the Ope

[2020-12-30 13:41] prietyc123 commented on #4326
Absolutely, the cluster runs somewhere in ASW cloud (CI provided cluster) and in PSI its on a VM. But from the test container https://github.com/openshift/odo/blob/master/openshift-ci/build-root/Dockerfile we are launching reconfiguration and test script. I want to bring this test container locally and provide the same configuration to launch odo test.

Even I uses CRC sometime. My intention is to

[2020-12-30 13:47] mohammedzee1000 commented on #4314
We need to update the configurations in an internal repo and face down any issues that we face along the way. It is sort of a separate schema in its own right, so the main challenge will be to learn the new config schema and work alongside Red Hay IT

[2020-12-30 14:25] girishramnani commented on #4309
I can work on this

[2020-12-30 14:30] girishramnani commented on #4326
I mean I understand that problem but currently its not a big problem as odo doesn't do a lot of damage to local machine when running the tests but
if you want to have a local test env then write a .devcontainer https://code.visualstudio.com/docs/remote/containers

[2020-12-30 14:31] girishramnani commented on #4326
would be a good thing for new devs?

[2020-12-30 17:21] #4210 closed

[2020-12-31 06:17] dharmit commented on #3302
This still matters to us. We need to figure out a way to pack the `gh-pages` branch or just the part that's served when we do `jeyll serve` into a tar and make it available as a release artifact.

/area infra

[2020-12-31 07:31] valaparthvi opened #4335 "`odo status` explicitly asks for `--flag` and `-o json` flags even though they are required by default"
/kind bug

## What versions of software are you using?

**Operating System:** Fedora 32

**Output of `odo version`:**

odo v2.0.3 (9ae754023)

Server: https://192.168.42.152:8443
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?
[code]

Ignore the _tmp_ in the above block, it just points to the directory I ran the commands from.

## Actual behavior
The command does not run without `--fo

[2020-12-31 09:50] prietyc123 commented on #4326
It's not only for damage done to local machine but also it has advantage like getting the same test env like openshift CI provides. Moreover we can verify complain like it fails on CI but passes locally and certainly this indirectly reduces load on CI as this is verified locally before sending the pr. But still it will be a developer/tester choice to use this option.
TBH now I have information on

[2020-12-31 12:51] prietyc123 commented on #4326
.devcontainer vs-code extension uses docker in the backend to spinner the containerize environment. My plan is also to do the same thing but not by using any tool extension. I will use the default tool set that we are using for building and testing the binary. For example - Docker and make.
I need to create a docker file having minimum build dependency with mounted odo local directory root path. T

[2020-12-31 12:57] prietyc123 commented on #4326
Task associated with this issue:

- [ ] Create a docker file ( Like https://github.com/openshift/odo/blob/master/openshift-ci/build-root/Dockerfile )
- [ ] Create a docker mount point with the local odo directory
- [ ] Write the make target (include running the docker file)

[2021-01-01 11:27] #2617 closed

[2021-01-02 17:32] #3427 closed

[2021-01-03 05:34] #3441 closed

[2021-01-03 16:13] deboer-tim commented on #4051
/lifecycle frozen

[2021-01-03 23:37] #3709 closed

[2021-01-04 07:07] jeffmaury commented on #4042
/remove-lifecycle stale

[2021-01-04 07:46] dharmit opened #4340 "Move "GetComponentContext" to a util package"
* In `pkg/odo/cli/url`, we are calling this method which is in `pkg/odo/cli/component`.
* `URLCreateOptions` and `PushOptions` are used interchangeably (as I can see, `GetComponentContext` is in the method set of `PushOptions` struct).
* Also, this function gets the value which can be used in other CLI packages as well.

It seems like this function belongs to some kind of util package, or other to

[2021-01-04 10:43] sympatheticmoose opened #4342 "Incorrect error message relating to default project"
/kind bug

Not severe. Just a bit of a gotcha which I keep hitting since I often run odo pointing at docker-desktop, but frequently kill docker when not in use. Partly relates to https://github.com/openshift/odo/issues/4309

## What versions of software are you using?

**Operating System:** macOS

**Output of `odo version`:** odo v2.0.3 (9ae754023)

## How did you run odo exactly?
kube context set

[2021-01-04 10:52] kadel commented on #3754
We see the same error in periodic job tests.

https://search.ci.openshift.org/?search=Command+%27tar+xf+-+-C+%2Ftmp%2Fsrc%27+in+container+failed.&maxAge=336h&context=1&type=all&name=odo-master&maxMatches=5&maxBytes=20971520&groupBy=job

[2021-01-04 12:32] dharmit commented on #4060
While I'm not facing the problem you have described, I'm quite sure that the URL character limit is not 15 but 64 characters. However, I'll need to dig the code a bit to find that, and I think it's not mentioned in the docs either. I tried the steps you've mentioned on current latest master:
[code]

[2021-01-04 13:24] mik-dass commented on #4060
Here's the function which seems to do the truncation https://github.com/openshift/odo/blob/e6be2586f5824bade91599f24686def26b53f1ee/pkg/url/url.go#L1043

and here's the usage during `Push()`
https://github.com/openshift/odo/blob/e6be2586f5824bade91599f24686def26b53f1ee/pkg/url/url.go#L883

[2021-01-04 15:52] yangcao77 commented on #4060
@dahorak The URL name limit is 64 chars in odo, but when creating ingress/route, it calls `getValidURLName`, which @mik-dass has mentioned. It is required to limit the URL name to be less than 15, because it is limited by K8s
[code]

The way how odo currently handles it is, odo takes 63 chars URL name, but only takes the front 15 chars upon ingress/route creation; which would cause issue if there

[2021-01-04 23:41] #3664 closed

[2021-01-05 05:35] prietyc123 commented on #4287
Scope of the issue mentioned in https://github.com/openshift/odo/issues/4287#issuecomment-752359444 also includes manual verification of scenarios like

- [ ] Provisions VM on OpenStack with ssh key login
- [ ] Install minikube inside the created VM
- [ ] Run tests manually

[2021-01-05 06:16] dharmit commented on #4060
Makes sense. But `odo url list` should print correct/consistent information. The way it currently works is that `.odo/env/env.yaml` contains the URL name that has to be used for deletion while `odo url list` shows the truncated/trimmed name. If `odo url list` could show the name that has to be used for deletion, that would help users better. @sympatheticmoose WDYT?

I think we should ensure that o

[2021-01-05 08:52] zhengxiaomei123 opened #4343 "The added private registry will be covered during the integration tests"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
the latest version
## How did you run odo exactly?
odo registry add IBMDevfilesRegistry https://github.com/zhengxiaomei123/devfile-registry --token xxxx

## Actual behavior
 The registry is not changed.

## Expected behavior

The private registry can be used for devfiles related deployments.

[2021-01-05 08:52] zhengxiaomei123 commented on #4343
/area system-PZ

[2021-01-05 09:55] kadel commented on #4060
I agree with @sympatheticmoose. There is no real reason for truncating names to 15.
DNS allows a maximum of 63 characters between dots and a maximum total length of 253 characters.

@yangcao77

What part of k8s has limit of 15 characters? Kubernetes resource names are limited to 63 chars.

Current behavior doesn't make sense to me.

[code]

[2021-01-05 10:03] kadel commented on #4060
## What needs to change:
### Stop truncating name to 15 chars.
The only truncating that we can consider should be 63 characters limit. And that one shoudl be probably enforced by Devfile schema.

### Consistent naming
- Ingress/Route label `odo.openshift.io/url-name` needs to match  `Url.Name` in `env.yaml`.
- `odo url list` should take url names from `odo.openshift.io/url-name` label (if it is no

[2021-01-05 12:14] sarveshtamba commented on #3754
@kadel, any thoughts on this? I have tried to debug this but not much success.

[2021-01-05 12:20] dharmit commented on #4301
The above explanation (in the issue description) is based on initial observation. After logging into a cluster where we are seeing this issue repeatedly as a part of PR #4063, I observed that the test spec is filled with a lot of checks. https://github.com/openshift/odo/blob/e6be2586f5824bade91599f24686def26b53f1ee/tests/integration/operatorhub/cmd_service_test.go#L410

The check where things are

[2021-01-05 12:21] dharmit commented on #4301
@mohammedzee1000 @prietyc123 I'm going to open a PR that separates the edge case check mentioned in https://github.com/openshift/odo/issues/4301#issuecomment-754602214 into a separate spec. I think it should help fix the issue.

[2021-01-05 13:20] kadel commented on #4326
/priority low

[2021-01-05 18:05] rnapoles-rh commented on #4220
I ran corresponding test suite locally against 3.11 (minishift) and it fails. Then ran it agains 4.5.2 in PSI and it passes. @prietyc123 I guess that means it is an actual bug on 3.11, not only on odo-init-image, correct?
This are the results on 3.11 for

[2021-01-05 20:38] johnmcollier opened #4346 "Update import paths for github.com/devfile/api to github.com/devfile/api/v2"
We've recently updated the module path for the [github.com/devfile/api](https://github.com/devfile/api) Go module to now be `github.com/devfile/api/v2`, to enable us to release tagged versions of the Go module that match the Devfile schema's version (e.g. module version v2.0.0 for a 2.0.0 schema version). Some discussion on why this was needed can be found [here](https://github.com/golang/go/wiki/

[2021-01-06 07:29] zhengxiaomei123 commented on #4343
odo registry list
NAME                    URL                                                     SECURE
IBMDevfilesRegistry     https://github.com/zhengxiaomei123/devfile-registry     Yes
We can add it but after running the integration tests, the registry is changed to default registry .

[2021-01-06 08:13] dharmit opened #4347 "Recurring CI failures while trying to verify support for nodejs images"
CI's failing quite frequently while trying to verify support for nodejs-10 & nodejs-12 images.

* nodejs-10 image
[code]
* nodejs-12 image
[code]
Logs can be found on test failure dashboard: https://gist.github.com/jgwest/5b28687514970ae6baa5942ee82d5755.

/kind failing-test
/priority high

[2021-01-06 10:58] kadel commented on #4220
The problem is actually in the test setup.
The tests were failing only on odo-init-image repo and not on odo repo because travis.yaml in  odo-init-image repo was missing `make configure-supported-311-is` which adds the newer supported image to 3.11 clusters.

This PR is fixing it https://github.com/openshift/odo-init-image/pull/77

[2021-01-06 13:21] kadel commented on #3126
/reopen
/lifecycle frozen
/remove-lifecycle rotten

This is still valid
https://github.com/devfile/api/issues/61

[2021-01-06 14:05] prietyc123 commented on #4287
Created fedora 32 VM on openstack
[code]

Installing minikube using none driver inside fedora 32 VM with pre-req docker container environment. As fedora 32 doesn't support docker, we need to revert back to `v1` cgroups. Steps to revert to v1 cgroups:
[code]
**Docker installation**
Install docker as per doc https://docs.docker.com/engine/install/fedora/
[code]

**Minikube installation using bare me

[2021-01-06 14:13] rnapoles-rh commented on #4220
@kadel then I will close this one once openshift/odo-init-image#77 is closed

[2021-01-06 14:25] prietyc123 commented on #4347
@dharmit I tried looking into the issue and it seems particular to the nodejs centos image because it works fine for other nodejs images. Steps I run locally:

[code]
Creating/deleting and modifying the file within the context directory while odo watch
[code]
Content pushed to Environment variable dir
[code]
I ran the entire steps for `registry.access.redhat.com/rhoar-nodejs/nodejs-10:latest` imag

[2021-01-06 14:49] kadel commented on #3502
/remove-lifecycle rotten
/lifecycle frozen

[2021-01-06 16:11] kadel commented on #4346
/priority high
/area dependency
/kind task

[2021-01-06 16:12] kadel commented on #4096
/remove-lifecycle stale
/lifecycle frozen

[2021-01-06 16:36] kadel commented on #4342
The plan is to stop checking the cluster on `odo create` (https://github.com/openshift/odo/issues/4096).
`odo create` should work even if the cluster is not running,There is no real reason why the cluster should be required for `odo create`.
The cluster connection should be required only once odo needs to perform or fetch information from cluster.

[2021-01-07 03:40] dharmit commented on #4195
Fixed by https://github.com/openshift/odo/pull/4274

/close

[2021-01-07 03:40] #4195 closed

[2021-01-07 06:32] prietyc123 commented on #4347
According to my recent observation I suspect when we start assemble script it cleans up the sources from destination dir while moving it to working directory in `centos/nodejs-10-centos7` case. And as non of the checks satisfy the condition https://github.com/openshift/odo-init-image/blob/master/assemble-and-restart#L70-L72 , it is not able to copy the source from backup. Hence we don't see the co

[2021-01-07 07:45] sarveshtamba commented on #4347
I am also seeing similar error on Power:-

[code]

Attaching the detailed log -
[scripts_openshiftci-presubmit-all-tests_4347.log](https://github.com/openshift/odo/files/5780214/scripts_openshiftci-presubmit-all-tests_4347.log)

[2021-01-07 11:51] #1845 closed

[2021-01-07 11:51] #2256 closed

[2021-01-07 11:51] #2652 closed

[2021-01-07 12:39] sarveshtamba commented on #3754
cc @dharmit

[2021-01-07 12:41] mohammedzee1000 commented on #4287
@prietyc123 I think its better to use `systemctl enable --now kubelet.service` to ensure service starts, if its not started for any reason. Other that that, I can second this

[2021-01-07 13:04] kadel commented on #3754
Debugging is quite tricky as I'm not able to reproduce it :-(, but it is clearly happening under some circumstances but so far I was not able to figure out when this happens :-(

@sarveshtamba How often do you get this error?

[2021-01-07 14:12] sarveshtamba commented on #3754
@kadel, I see this quite frequently on one of our clusters. Would you like to take a look at anything from my end?

[2021-01-08 03:26] gorkem opened #4350 "Confusing message when login fails"
/kind bug

Confusing message _challenger chose not to retry the request_  when login fails due to incorrect credentials

## What versions of software are you using?

**Operating System:**
Windows

**Output of `odo version`:**
odo v2.0.3 (9ae754023)

[code]

[2021-01-08 05:53] #3710 closed

[2021-01-08 06:56] prietyc123 opened #4351 "Validate test script against a ocp+proxy setup environment"
/kind user-story
/area testing

## User Story
As a user I want to run odo test script inside a cluster which has proxy setup

## Acceptance Criteria
- [ ] odo test should run successfully under such scenario

## Scope Of Issue:
Verify the steps manually
- [ ] Create a flexy job (ocp+proxy)
- [ ] Configure the cluster using the make target (make configure-installer....)
- [ ] Run the test script

#

[2021-01-08 23:55] #3663 closed

[2021-01-09 23:59] #2879 closed

[2021-01-11 06:53] girishramnani commented on #4262
taking this on priority

[2021-01-11 09:54] #4305 closed

[2021-01-11 11:50] girishramnani commented on #4262
PR is up for this @dgolovin @jeffmaury https://github.com/openshift/odo/pull/4353 - need to write tests but else its functional if you want to test it

[2021-01-11 11:52] girishramnani opened #4354 "Odo create on the same directory works when run multiple times"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
Odo create on the same directory works when run multiple times.

## Actual behavior
[code]

## Expected behavior
[code]

## Any logs, error output, etc?
It even works with giberish component type
[code]

[2021-01-11 12:03] girishramnani commented on #4262
sample output
[code]

[2021-01-11 12:52] anandrkskd opened #4355 "odo push fails"
/kind bug

## What versions of software are you using?

**Operating System:**  fedora

**Output of `odo version`:**   odo v2.0.3 (9c129a3c7)

## How did you run odo exactly?
[code]

## Actual behavior
odo failed to push
Creating url with release binary(2.0.3) and push with master also fails

## Expected behavior
`odo push` pass without failure

## Any logs, error output, etc?
[code]

[2021-01-11 13:00] zhengxiaomei123 commented on #4351
Hi @prietyc123 , We did some validation on disconnected env before. About the proxy environment, Is there any difference or special requirements ? Thanks.

[2021-01-11 13:03] zhengxiaomei123 commented on #4228
For integrating devfiles related integration and e2e tests on nightly CI for IBM Z&Power, we need to change the devfiles used in tests. One way is to use other secure devfiles registry on GitHub repo . But there are still some subset of tests are hardcoded with devfiles for x86 . Those devfiles are put on tests/examples/source/devfiles directory. The solution is [#4290](https://github.com/openshif

[2021-01-11 13:04] zhengxiaomei123 commented on #4228
There are some java images on quay.io not support multi-arch. Open the issue here: https://github.com/eclipse/che/issues/18610

[2021-01-11 13:07] zhengxiaomei123 commented on #3671
Since the issue have been solved with the private registry . I would like to close this issue and move the discussion to
Duplicate of #4228

[2021-01-11 13:07] #3671 closed

[2021-01-11 13:11] zhengxiaomei123 commented on #4343
The private devfiles registry could be added successfully and use it to run integration tests for devfiles feature. But there are some test cases which will add DefaultDevfileRegistry back which will cause the later tests failure. For example:
[code]

[2021-01-11 14:57] #4013 closed

[2021-01-11 15:33] deboer-tim commented on #4354
Is this a regression? On 2.0.1 I get this error:
[code]
And when I try gibberish I get:
[code]

[2021-01-12 03:31] rnapoles-rh opened #4356 "Expand E2E test case coverage - Creating multicomponent applications with odo"
/kind user-story

## User Story
Create end-to-end scenario to cover creation of multicomponent applications

## Acceptance Criteria
- [ ] At least two components are created and linked
- [ ] for this story will cover s2i components as linking devfile components is not supported at this time (as per Dharmit's comment below)

/kind user-story

[2021-01-12 05:45] zhengxiaomei123 commented on #4228
There would be a new Devfile Registry (https://github.com/devfile/registry) based on OCI images to use it as DefaultDevfileRegistry instead of the current registry hosted on Github (odo-devfiles/registry).

[2021-01-12 05:46] zhengxiaomei123 commented on #4228
In order to support multi-arch , a couple of things need to happen for the new Devfile Registry(in order):

1. https://github.com/devfile/api/issues/239 devfile spec/library
2. https://github.com/devfile/api/issues/244 in devfile spec/library
3. Tools like odo may need changes to implement that: https://github.com/devfile/api/issues/244
4. The stack in the registry needs to be updated to support i

[2021-01-12 06:51] zhengxiaomei123 commented on #4228
The temporary solution for Z&P: Setting up a secure registry with multi-arch images in devfiles. Those images are published publicly on regsitry.redhat.io .To access this registry , the redhat login is required. For OCP user, it is ok. For people who use odo even with plain Kubernetes, it is not working.

[2021-01-12 06:51] dharmit commented on #4301
@prietyc123 @mohammedzee1000 PTAL https://github.com/openshift/odo/pull/4338#issuecomment-758446436.

I won't be surprised if the problem we were tracking in this issue is still a troublemaker for #4063 and other places (like periodic jobs.)

[2021-01-12 07:52] dharmit commented on #4356
If this means using `odo link` to link two devfile components, I'm afraid it's not implmented yet. It's being tracked in #3423 which is waiting on #4159 which is blocked on https://github.com/devfile/api/issues/216.

Hopefully I'm wrong. :crossed_fingers:

[2021-01-12 09:58] girishramnani commented on #4262
Tests added

[2021-01-12 10:00] girishramnani commented on #4354
seems so

[2021-01-12 10:00] girishramnani commented on #4354
maybe try 2.0.3 @deboer-tim ?

[2021-01-12 10:03] girishramnani commented on #4354
This should also not happen it should fail with `this directory alread contains a component`

[2021-01-12 10:40] ehsavoie opened #4357 "Watch mode doesn't support debug command"
/kind feature

## Which functionality do you think we should add?
**odo watch** should be able to use debug kind commands
so the **'--debug'** flag and **'debug-command'** parameter should be added to the **odo watch** command

## Why is this needed?
Currently when doing *odo watch* you can't specify the debug command to use. Specifying the command as *run-command* is not working so we don't have

[2021-01-12 10:46] kadel commented on #4357
/priority high

[2021-01-12 10:57] anandrkskd commented on #4354
Not able to reproduce it on 2.0.3

[code]
running it for 2nd time it gives this error

[code]

[2021-01-12 19:39] rnapoles-rh commented on #4356
I am starting with s2i components which I tried to link manually and works as expected Thanks for pointing out that devfile components linking is not implemented yet. I will create the corresponding tests when supported.

[2021-01-13 00:11] #2088 closed

[2021-01-13 06:49] dharmit commented on #4356
We're not going to have an explicit s2i component once #4281 is addressed. And, AFAIK, @girishramnani has already started working on it.

What we'll have after that is addressed is odo automagically creating devfile.yaml for the user when they do `odo create --s2i`. So I'm not sure how much value will be added if we try to expand test scenarios for `odo link` between s2i components.

[2021-01-13 13:39] mik-dass commented on #4357
Currently if the component was pushed in debug mode, `odo watch` will also run in debug mode
[code]

[2021-01-13 15:51] prietyc123 commented on #4301
Also hitting the issue more on CI. Recently observed https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4317/pull-ci-openshift-odo-master-v4.6-integration-e2e/1349188058104205312#1:build-log.txt%3A1091
I think expectation of the issue has not been met. So, reopening the issue.

[2021-01-13 21:52] rnapoles-rh commented on #4356
@dharmit thanks for pointing that. Closing it base on your input.

[2021-01-13 21:52] #4356 closed

[2021-01-14 11:46] kadel commented on #4357
what if you need to specify a custom debug command? like `odo push --debug-command my-other-debug`?

[2021-01-14 12:32] #4220 closed

[2021-01-14 12:34] rnapoles-rh commented on #4220
closing as https://github.com/openshift/odo-init-image/pull/77 fixes it

[2021-01-14 18:58] maysunfaisal commented on #4318
@dharmit I dont think we want to restrict a devfile for a specific tool like Odo/Console/Che etc. A user can have as many containers as they please to be used by the subset of tools, if not all. But I think it also makes sense for Odo to consume devfile data that is required for its usage and in this case, just spin up containers specified by the commands rather than looping thru the devfile conta

[2021-01-14 19:02] maysunfaisal opened #4361 "Use validations as specified by devfile library & api"
Currently the devfile generic validations are in pkg https://github.com/openshift/odo/tree/master/pkg/devfile/validate/generic. Once the issue https://github.com/devfile/api/issues/151 to consolidate validations in devfile api is done, odo should switch to that version instead of maintaining the generic pkg copy.

[2021-01-14 19:05] maysunfaisal commented on #4187
@kadel @dharmit FYI, this issue will be need to be addressed when odo switches validation to devfile library and api as per https://github.com/openshift/odo/issues/4361

There is currently an open PR to  consolidate validations in https://github.com/devfile/api/pull/301

[2021-01-15 06:36] mik-dass opened #4362 ""Waiting for component to start" gets printed multiple times"
/kind bug

## What versions of software are you using?

**Operating System:** Fedora

**Output of `odo version`:** master

## How did you run odo exactly?

`odo push -f`

## Actual behavior

Due to #4358

[code]
`Waiting for component to start` gets printed multiple times as both `WaitForDeploymentRollout` and `WaitAndGetPodWithEvents` start a new spinner with the same message in most cases.

## E

[2021-01-15 06:47] dharmit commented on #4362
Seems like a good first issue to me. WDYT @mik-dass?

[2021-01-15 07:38] mik-dass commented on #4362
We need to remove the spinners from most of the client and also fix some bugs in the adapter code.

[2021-01-15 07:55] dharmit commented on #3782
@girishramnani can you please add more details to this issue? It's an epic added to 2.1 but is almost empty in terms of what needs to be done.

[2021-01-15 08:51] sbouchet commented on #4135
Still present in odo 2.0.3

[2021-01-15 09:21] kadel opened #4363 "build command should be optional"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
devfile without default build command

[code]

## Expected behavior
Odo should not fail in this case. default build command should be optional.
In that case, should simply skip the build step. There are valid use cases for this. For example, some of the inter

[2021-01-15 11:46] rnapoles-rh opened #4364 "Integration tests failing on PSI"
/kind bug

## What versions of software are you using?

**Operating System:**
MacOS

**Output of `odo version`:**
odo v2.0.3 (9ae754023)

Server: https://api.testocp4x.psiodo.net:6443
Kubernetes: v1.18.3+5302882

## How did you run odo exactly?
make test-integration
when logged in to PSI cluster: https://api.testocp4x.psiodo.net:6443
with user:  developer

## Actual behavior
Following tests failed

[2021-01-15 12:26] helio-frota opened #4365 "Build error when trying to build a node.js native addon"
## What versions of software are you using?

**Operating System:**
Ubuntu 20.04
**Output of `odo version`:**
odo v2.0.3 (9ae754023)
## How did you run odo exactly?
odo push

## Actual behavior
[code]

## Expected behavior
To build the native addons for node.js

## Any logs, error output, etc?
Logs above :+1:

Example used: https://github.com/helio-frota/odo-nodejs-native-addon

[2021-01-15 13:43] #4262 closed

[2021-01-15 15:19] dharmit commented on #4314
@mohammedzee1000 do we have everything that we need from the IT on this? What are the next steps to automate this?

[2021-01-15 17:42] ehsavoie opened #4367 ".gitignore is ignored when using a subDir"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 33

**Output of `odo version`:**
odo v2.0.3 (9ae754023)

Server: https://api.sandbox.x8i5.p1.openshiftapps.com:6443
Kubernetes: v1.19.0+7070803

## How did you run odo exactly?
odo create java-wildfly --starter=microprofile-config
Configuration of starter project

  - name: microprofile-config
    description: Wil

[2021-01-17 18:27] #3392 closed

[2021-01-17 18:27] #3796 closed

[2021-01-17 18:27] #3798 closed

[2021-01-18 03:03] dharmit commented on #4278
@mohammedzee1000 @prietyc123 does this one need to be moved to next sprint? Can one of you please summarize the conclusion we have on this issue?

[2021-01-18 06:44] dharmit commented on #4278
Is moving to quay.io our conclusion? I'm asking this after reading https://github.com/openshift/odo/pull/4063#issuecomment-759288638.

[2021-01-18 07:11] prietyc123 commented on #4287
To avoid whole `grubby` installation we can use `Fedora 30` openstack vm.

[2021-01-18 07:31] dharmit commented on #4287
It's EOL (https://fedoraproject.org/wiki/End_of_life). We should avoid using EOL tooling, IMO.

[2021-01-18 07:38] dharmit commented on #3801
Doesn't look like we addressed this. Reopining the issue.

[2021-01-18 07:41] dharmit commented on #3798
@mik-dass is this something that we should re-open and work on?

[2021-01-18 07:47] dharmit commented on #3786
/reopen
/good-first-issue

[2021-01-18 07:51] dharmit commented on #3980
We could try to run Service Catalog tests on k8s (minikube) because that's where we mainly expect odo users to use it. I get it that it's available on 3.11 as well. But more users of the Service Catalog would be on k8s than on OCP 3.11.

WDYT @kadel?

/remove-lifecycle rotten

[2021-01-18 07:58] mik-dass commented on #3798
The refactoring would be covered in https://github.com/openshift/odo/issues/4115

[2021-01-18 08:00] mik-dass commented on #3798
I think projects in the devfile will be used by the `odo deploy` command in future.

[2021-01-18 09:51] anandrkskd commented on #4328
Once ths PR #4063 is merged, We can start working on this issue.

1st objective of AC is half completed as as minor update to CI-firewall codebase is already done, the part which is left is dividing the [run script](https://github.com/openshift/odo/blob/3524e62d1d66cf95313d655c46d19134c5c4db4a/scripts/run_all_tests.sh) into two scripts `setup` and `run` script.

2nd objective of AC requires creati

[2021-01-18 10:03] girishramnani commented on #4363
I can probably look into this?

[2021-01-18 10:08] girishramnani commented on #4335
I can work on this

[2021-01-18 10:13] kadel commented on #4318
@maysunfaisal What would be a use case for defining a container component, but then not using it? Wouldn't this go against what is defined in Devfile?

On the other hand, I can think of use cases where the user would want those containers present.
For example, I want to have a "debug" container ready so I can execute into it (using Che terminal or `odo exec`) and debug my running application. We c

[2021-01-18 11:13] prietyc123 commented on #4278
It is blocker for #4063 and we are considering PSI for our CI test. So Yes, this should be our high priority task.

As per our discussion in cabal, yes we should consider moving to`quay.io` because we neither have `centos7` namespace nor older version of `centos` image on r.c.o

[2021-01-18 11:15] dharmit commented on #4309
/unassign @girishramnani

/good-first-issue

[2021-01-18 11:22] dharmit commented on #3801
/good-first-issue

[2021-01-18 11:35] dharmit commented on #4197
The request here sounds like ["Startup Probe"](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes) to me. Correct me if I'm wrong.

[2021-01-18 11:38] dharmit commented on #4281
@girishramnani you might want to consider #4201 while working on this. Basically, `odo create --s2i` with `--env` should not break if we were to keep compatibility with `odo create` from v1.

[2021-01-18 11:43] dharmit commented on #4174
Can you please share a command that you tried but failed to execute?

Might be a silly question but what's a PSP? What kind of setup are you using?

[2021-01-18 12:30] #3492 closed

[2021-01-18 12:30] #3807 closed

[2021-01-18 12:37] dharmit commented on #4328
Can you point to an issue or PR that addressed this?

When does this need to be created? After moving to PSI or before?

[2021-01-18 12:39] kadel commented on #4365
This looks like "a problem" with the image used in the devfile.yaml for building the application.

The image in Devfile needs to have Python installed, the one that is currently used in https://github.com/helio-frota/odo-nodejs-native-addon/blob/0f9ea367785206e635b2aad5392bd5da3b852d9b/devfile.yaml#L15 doesn't have that.

[2021-01-18 12:43] kadel commented on #3811
Not sure what happened, but this is till a problem that needs to be fixed.

[2021-01-18 12:46] kadel commented on #4362
/priority medium

[2021-01-18 12:53] dharmit opened #4368 "Proposal for Helm integration with odo"
Document a proposal for integrating Helm and odo. This is limited to `odo link` command only. This is a part of the epic #4236.

/area linking
/assign @kadel

[2021-01-18 13:02] kadel commented on #3782
/remove-lifecycle rotten
/lifecycle frozen

[2021-01-18 13:11] girishramnani commented on #4354
I would like to work on this

[2021-01-18 13:12] girishramnani commented on #4302
I can work on this bug for this sprint

[2021-01-18 13:13] girishramnani commented on #4112
I can work on this for upcoming sprint

[2021-01-18 13:18] girishramnani commented on #4363
should we also warn with message if there are multiple build commands present but non is set as `default`

[2021-01-18 13:18] girishramnani commented on #4363
we shouldn't show the warning if there are no `build` commands specified as they would become optional

[2021-01-18 13:26] anandrkskd commented on #4328
working on this issue will start once the POC [PR](https://github.com/openshift/odo/pull/4063) is merged.

[2021-01-18 14:17] helio-frota commented on #4365
Ok, I understand a bit the situation. Just created this issue to have some opinion/response on that. thanks.
I'm going to close this issue because this is not an odo bug.

[2021-01-18 14:17] #4365 closed

[2021-01-18 15:26] kadel commented on #4363
yes, it makes sense to show a warning. Multiple build commands with no default is a perfectly valid scenario. But it might also a case that someone simply forgot to set default. Showing warning makes a lot of sense.

+1

[2021-01-18 16:42] jorgemoralespou commented on #4174
This was more than 2 months ago so I can not reproduce it anymore since I don't use odo anymore.

The command I tried probably was:

`odo create java ... && odo push`

A PSP is a PodSecurityPolicy. It's kind of an SCC but from Kubernetes (https://kubernetes.io/docs/concepts/policy/pod-security-policy/) I was using a Kubernetes cluster provisioned on a public cloud but not a managed Kubernetes.

PS

[2021-01-18 18:32] #3442 closed

[2021-01-18 18:32] #3809 closed

[2021-01-18 20:22] gorkem commented on #4104
/remove-lifecycle stale

[2021-01-18 21:59] gorkem commented on #4331
Cluster specific information should not be on devfile but odo preferences/config is probably the right place for it.

[2021-01-19 06:17] dharmit commented on #4361
@kadel I see you added this for consideration in Sprint 196, but I don't think we can start working on this before the issue https://github.com/devfile/api/issues/151 mentioned in the description is addressed. Also, as mentioned in https://github.com/devfile/api/issues/151#issuecomment-718811587, wouldn't we require a list (doc?) of validations that need to be moved out of odo?

[2021-01-19 07:07] #4347 closed

[2021-01-19 07:53] dharmit commented on #4354
I'm seeing this when I execute same `odo create` command with component name successive times:
[code]

[2021-01-19 10:57] mohammedzee1000 commented on #4287
![image](https://user-images.githubusercontent.com/8547729/105025159-f9e15d80-5a72-11eb-8b2c-ef729010ea79.png)

I will be handling the one time set up and @prietyc123 will handle every run piece. This will also give @prietyc123 experience with how to work with our jenkins and how the entire system works

[2021-01-19 11:05] anandrkskd opened #4370 "odo create fails to download files in assigned --context for odo create --starter"
/kind bug

## What versions of software are you using?

**Operating System:** fedora

**Output of `odo version`:** odo v2.0.3 (e110bcbcf)

## How did you run odo exactly?
Running command from a non empty directory
[code]

## Actual behavior

For above command Files are downloaded in Current working directory instead of `--context` specified in the exam.
[code]

## Expected behavior
Is to download

[2021-01-19 11:15] sarveshtamba commented on #4347
I am still seeing the error as below:-

https://gist.github.com/sarveshtamba/575daec2a6e821884faafbb7971c58c5

[2021-01-19 11:28] mohammedzee1000 commented on #4314
No, I have gone through the docs and we already have the repo. I think its time to start writing up the configuration

My goal right now will be to setup the base pipeline. Automated testing will have to be added later as we will have to configure  CPaaS jenkins and PSI jenkins to work together

[2021-01-19 11:56] girishramnani commented on #4370
I can work on this

[2021-01-19 12:57] dharmit opened #4371 "Document the support for PersistentVolumeClaim to store component code"
/kind documentation
/area storage

## What mistake did you find / what is missing in the documentation?
We don't have documentation for using the preference `Ephemeral` that we added in #3775.

## What is the relevance of it?
Users now have the ability to toggle between using either `emptyDir` (Ephemeral) or `PersistentVolume` backed storages. However, it's not documented clearly.

## Additional n

[2021-01-19 13:03] girishramnani commented on #2615
alot has changed since creation on this issue - my idea here is to create the proposal for #4240 and then that would change alot of things like this issues and some other like this and then work in each. ( dont worry this wont take long )

[2021-01-19 13:48] maysunfaisal commented on #4361
@dharmit the validation has been refactored in https://github.com/openshift/odo/tree/master/pkg/devfile/validate/generic which contains generic validation not specific to odo. These have been moved out to the doc https://github.com/devfile/api/blob/master/pkg/validation/validation-rule.md (covers all validations on top of those moved out from the generic pkg in odo) and implemented in the PR https

[2021-01-19 17:01] Preeticp opened #4372 "Condense odo devfile doc to mention only odo relevant content, generic content to reside in devfile docs"
/kind documentation

Based on discussions between DV, Elson and Tim in the Sprint review call for track 2, it was recommended that all generic DevFile content in this doc: https://odo.dev/file-reference/ should move to the devfile docs and the odo docs must reference the devfile docs and link to the devfile spec. If there's anything odo-specific we can leave it on odo.dev, but we need to redirect

[2021-01-19 17:12] kadel commented on #4135
/priority high
/remove-priority medium

[2021-01-19 18:36] #3385 closed

[2021-01-20 06:42] mik-dass commented on #4357
We currently can push with a custom debug command `odo push --debug-command my-other-debug` and `odo watch` will use the given debug command.

[2021-01-20 06:48] mik-dass commented on #4357
Here's a older discussion regarding the flag https://github.com/openshift/odo/issues/3480

[2021-01-20 06:57] dharmit commented on #3133
This still matters to us and is likely among the basic requirements to improve the overall code quality.

/reopen

/good-first-issue

/remove-lifecycle rotten

[2021-01-20 07:30] mohammedzee1000 opened #4373 "Validate and fix platform specific stuff in configure installer scripts as needed"
Followup for #4199
cc @sarveshtamba

[2021-01-20 07:30] mohammedzee1000 commented on #4373
/priority medium

[2021-01-20 07:31] mohammedzee1000 commented on #4199
Closing as what needs to be done from our side is done
/close

[2021-01-20 07:31] #4199 closed

[2021-01-20 08:20] sarveshtamba commented on #4373
@zhengxiaomei123 please have a look at this one, currently we are trying to resolve cluster issues on Power platform.

[2021-01-20 08:58] kadel commented on #4240
Let's completely skip the interactive part for now. The interactive mode won't be usable by plugins. If we have non-interactive flow then we can easily add interactive mode later.

[2021-01-20 09:32] dharmit commented on #4242
Scope of work for refactoring **`odo service create`**:
1. We will decide between using Operator Hub or Service Catalog backend by looking at the arguments passed.
[code]
1. We need an interface that would have methods to create a service.
1. I will be modifying the struct `ServiceCreateOptions` to use this interface. https://github.com/openshift/odo/blob/5544b25ec083506393090faad5b4205126e4f675/p

[2021-01-20 10:21] zhengxiaomei123 commented on #4373
@mohammedzee1000 @sarveshtamba Thanks very much.

[2021-01-20 10:30] kadel commented on #4357
I see. But from the user's point of view, this is a little bit confusing.
If you want to change `run` or `build` command for `odo watch` you do `odo watch --run-command --build-command`.
But if you want to change `debug` command you have to do first `odo push --debug-command` and than run `odo watch`.

Running `odo push --run-command run2  --build-command build` and then `odo watch` results in `wa

[2021-01-20 10:49] dharmit commented on #4357
Above all, we need more documentation to avoid confusion. Let's not simply rely on `odo push -h` and/or `odo watch -h`. I'd go one step further and request a documentation based on how things are right now. As far as I can see, there's no doc explaining how to use `--run-command` and `--build-command` in the repo. Correct me if I'm wrong.

Can you point what's confusing? I'm asking because the sam

[2021-01-20 11:37] ehsavoie commented on #4357
As a user, I got confused by the fact that you can provide 'run-command' and 'build-command' with 'watch' but not 'debug-command'. So I was wondering how to debug with 'watch' on. The steps to debug on the odo website were useful, but they don't cover the watch mode.

[2021-01-20 12:30] mik-dass commented on #4357
My bad, `odo watch` doesn't use the previous used debug command during `odo push` and thus we should add `--debug-command` to `odo watch` for a unified experience.

But according to the discussion https://github.com/openshift/odo/issues/3480 we decided against adding `--debug` flag to `odo watch`. Currently `odo watch` runs in debug mode if the component was pushed using `odo push --debug`.

[2021-01-20 13:42] kadel commented on #4187
odo currently doesn't support `apply` commands. This means that do can't currently support `preStart` event.
A temporary solution until we have `apply` support in odo is not to support `preStart` event. So odo will error out in case of devfile with `preStart`

[2021-01-21 06:05] #4279 closed

[2021-01-21 06:42] dharmit commented on #4203
@kadel is this about being able to instantiate a service from an Operator installed in a different namespace?

[2021-01-21 07:24] faysou commented on #2353
I think this issue is still up to date, if I run "odo catalog list services", no service like a database is available when using CRC, which is what is used when learning. Instead I have to install operators, which is much harder than the intended use of odo which is to simplify development experience (especially for a beginner).

[2021-01-21 07:27] dharmit opened #4376 ""odo catalog list services" fails on minishift"
/kind bug

## What versions of software are you using?

**Operating System:** Fedora

**Output of `odo version`:** `master`

## How did you run odo exactly?
* Enabled Service Catalog on minishift.
* Executed `odo catalog list services`

## Actual behavior
[code]

## Expected behavior
odo should have ignored unavailability of CSVs (or Operators) on minishift and shown services available through Ser

[2021-01-21 07:29] dharmit commented on #4376
This bug is likely a result of my PR #4338 going in. We could have caught the problem if tests on minishift were running. This answers my own question about the importance of #4288.

[2021-01-21 08:30] faysou commented on #4242
@dharmit I'm looking forward to be able to add a postgres db with odo for local development in CRC. It seems no service is available when using CRC, except ones added though an operator, but this makes things harder, I've been spending a few hours on adding one of the postgres operators available and making it work in odo but still didn't manage to.

[2021-01-21 08:34] kadel commented on #2353
You are right, this is still valid at it should not been closed.

/reopen
/remove-lifecycle rotten
/remove-lifecycle rotten
/priority high

[2021-01-21 08:43] kadel commented on #2801
Why we would need that? We just want to make sure that CRD has the labels that we want. It is just about adding a new key and value to`map[string]string` or am I missing something?

We should maybe ask why we need odo specific labels on Operator CRD. If our target is to make odo work with any Operator backed service, even those created outside odo (I'm assuming that answer is yes). Then we probabl

[2021-01-21 09:35] dharmit commented on #2353
I'm assuming that you're talking about steps in https://github.com/openshift/odo/issues/2353#issuecomment-550964471. Latest version of CRC is based on OpenShift 4.6. Whereas, as we can see in the [official OpenShift documentation](https://docs.openshift.com/container-platform/4.4/applications/service_brokers/installing-service-catalog.html), Service Catalog is not supported beyond OpenShift 4.4.

[2021-01-21 12:15] dharmit commented on #2801
The answer to making odo work with services created outside odo is definitely yes. Because that's how we're going to work with Helm backed services - those aren't going to be created using odo. Even with Operator Hub, it makes sense to make sure that odo works with services started using say OpenShift Web Console. In fact, it might be easier to create services using Web Console till we get around

[2021-01-21 12:42] #3791 closed

[2021-01-21 12:59] dharmit commented on #3098
Still reproducible on latest master
[code]

[2021-01-21 13:41] dharmit commented on #4281
Also consider `odo link` with Service Catalog breaking since this works only between s2i component & SC backed service.

[2021-01-21 13:45] dharmit commented on #4281
Need https://github.com/openshift/odo/pull/4369 to go in first, right @girishramnani ?

[2021-01-21 14:25] dharmit commented on #4288
[code]
This is ALL you need to enable Service Catalog on a Minishift VM.

[2021-01-21 18:12] niconosenzo commented on #4309
@dharmit I would like to work on this if you don't mind.

[2021-01-22 04:54] prietyc123 opened #4379 "Verify automation process to run windows tests on PSI"
/kind user-story

## User Story
As a QE I want to analyse/research on the process to run windows tests using PSI

## Acceptance Criteria
- [x] Manually verify the flow to automate the process
- [x] Resolve the blockers, if any

## Links
- Feature Request: NA
- Related issue: https://github.com/openshift/odo/issues/2540

/kind user-story

[2021-01-22 05:25] prietyc123 commented on #3754
@anandrkskd Issue https://github.com/openshift/odo/issues/4355 looks quite similar to this one. Could you please try to reproduce it locally and provide us more content. Assigning this to you to get more info on this.

[2021-01-22 06:34] dharmit commented on #4309
/assign @niconosenzo

Nicolas, it's yours. Make sure to take a look at solution proposed by @kadel and ask us questions if anything's confusing. As for checking if the `project` resource is supported, we already have a function in odo code: https://github.com/openshift/odo/blob/474bfd6a30274a8e86691e9e3aa8f200bfb921cb/pkg/occlient/projects.go#L209-L212

[2021-01-22 08:30] mik-dass opened #4382 "Unit test failure when env KUBERNETES=true"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

[code]

## Actual behavior

[code]

## Expected behavior

`make test` should pass.

[2021-01-22 10:42] prietyc123 opened #4383 "odo push fails on psi minikube"
/kind bug

What versions of software are you using?
Operating System:

Output of odo version:

## How did you run odo exactly?

[code]

## Actual behavior

[code]

## Expected behavior

`odo push` should pass.

## Any logs, error output, etc?

Verified manually.

[2021-01-22 10:43] prietyc123 commented on #4287
We are facing issue on psi minikube https://github.com/openshift/odo/issues/4383

[2021-01-22 10:55] prietyc123 commented on #4287
Blocked due to https://github.com/openshift/odo/issues/4383 , However I will try to analyse and get more info on failures.

[2021-01-22 12:13] prietyc123 commented on #4383
I tried looking into the pod details and pod is not getting scheduled due to

[code]
@girishramnani @dharmit Could please have a look.

[2021-01-22 14:42] niconosenzo commented on #4309
@dharmit @kadel

[code]
This code is currently lacking of user-kind verification, it will fail and exit if "default" project is being used,  is there any preferred way to check if it's a kubernetes or Openshift User?

[2021-01-22 17:58] jeffmaury commented on #4383
I had this error once in Minikube. This is caused by errors in storage-provisioner pod. Went back to a normal situation once I killed that pod.

[2021-01-22 18:17] jeffmaury opened #4385 "Add language and tags to odo catalog list components (devfile)"
/kind feature

## Which functionality do you think we should add?

Add **language** and **tags** information to the output of `odo catalog list components` for devfile components

## Why is this needed?

As part of the adapters team, in order to easily bootstrap a component, we are working on a tool that can extract the main language, the build tool and the framework from a source tree. Given that

[2021-01-22 18:46] #3828 closed

[2021-01-22 18:46] #3830 closed

[2021-01-23 03:01] dgolovin opened #4386 "odo v2.0.4 has invalid 'zip' format for windows tar.gz archive"
/kind bug

## What versions of software are you using?

**Output of `odo version`:** 2.0.4

[code]

[2021-01-23 12:49] #3323 closed

[2021-01-23 18:57] #3736 closed

[2021-01-24 00:51] #3846 closed

[2021-01-24 12:53] #2930 closed

[2021-01-24 12:53] #2964 closed

[2021-01-24 18:54] #2662 closed

[2021-01-24 18:54] #3850 closed

[2021-01-25 05:12] prietyc123 commented on #4383
I have upgraded minikube version to
[code]
and it works fine now.

[2021-01-25 05:12] #4383 closed

[2021-01-25 10:36] mcouliba opened #4387 "`odo login` overwrites the current active project/namespace"
/kind bug

## What versions of software are you using?

**Operating System:**

MacosX

**Output of `odo version`:**

odo v2.0.4 (ffb7d79aa)

## How did you run odo exactly?

`odo login`
`odo project create my-project`
`odo project get`
`odo login`
`odo project get`

## Actual behavior

The outcome of the last `odo project get` is the first project listed by `odo project list` command.

## Expected

[2021-01-25 13:30] jeffmaury commented on #3070
/remove-lifecycle stale

[2021-01-25 15:06] #4072 closed

[2021-01-25 15:06] rnapoles-rh commented on #4072
Looks fixed now.

[2021-01-25 16:52] deboer-tim commented on #4108
/lifecycle frozen

[2021-01-25 20:10] rnapoles-rh commented on #4288
Create image:
`openstack server create --flavor m1.large --image Fedora-Cloud-Base-32 --nic net-id=provider_net_shared_3 --security-group default --security-group all-open --key-name releng-pub-key odo-fedora-minishift`

ssh to the image using the releng-key:
`ssh -i ~/psi/PSI/lib/common/releng-key fedora@<ip_address>`

Had problems to ssh:
[code]

Resolved by changing permissions to the local pri

[2021-01-25 20:39] rnapoles-rh commented on #4288
Error starting minishift:
[code]

[2021-01-25 21:15] dgolovin commented on #4386
@kadel @jeffmaury this is not issue for vscode-openshift-connector, but for IntelliJ plug-in it could be an issue because it downloads odo at runtime. lt will fail when unpacking zip archive as a tag.gz (gzip) archive.

It should be named odo-windows-amd64.exe.zip or file format should be changed to real tar.gz archive.

[2021-01-25 21:16] dgolovin commented on #4386
CC: @sbouchet

[2021-01-26 02:13] scottkurz commented on #4367
This seems like it could get complicated, unless there is a library function somewhere that odo could use to implement this logic.

The odo tool would have to "merge" the containing directories' .gitignore(s) with the .gitignore in the **subDir** and then write out the resulting merged value.

E.g. if the parent **.gitignore** contained:  `a/b/c`  it would have to merge an entry:  `b/c` with the .

[2021-01-26 02:44] scottkurz opened #4389 "odo doesn't honor directory .gitignore entries like `/target`"
/kind bug

## What versions of software are you using?

**Operating System:**  Win 10

**Output of `odo version`:**
odo v2.0.4 (5544b25ec)
Kubernetes: v1.18.3+47c0e71

## How did you run odo exactly?
1. git clone git@github.com:scottkurz/multi-module-devfile.git
2. mvn install    # populate 'target' subdirs on host system
3. odo push -v 7

## Actual behavior

You can see ./war/target* , ./ear/targ

[2021-01-26 12:21] rnapoles-rh commented on #4288
[code]

Checking on it

[2021-01-26 14:24] rnapoles-rh commented on #4288
To setup virtualization env:

[code]

[2021-01-26 14:33] rnapoles-rh commented on #4288
[code]

[2021-01-26 15:33] deboer-tim commented on #4118
/remove-lifecycle stale

[2021-01-26 15:34] deboer-tim commented on #4037
/lifecycle frozen

[2021-01-26 15:57] rnapoles-rh commented on #4288
sudo virsh net-start default
sudo virsh net-autostart default
minishift delete
rm -RF .minishift
minishift start
-- Starting profile 'minishift'
-- Check if deprecated options are used ... OK
-- Checking if https://github.com is reachable ... OK
-- Checking if requested OpenShift version 'v3.11.0' is valid ... OK
-- Checking if requested OpenShift version 'v3.11.0' is supported ... OK
-- Checking

[2021-01-26 16:07] rnapoles-rh commented on #4288
As per https://www.docker.com/increase-rate-limits:
_On November 20, 2020, rate limits anonymous and free authenticated use of Docker Hub went into effect. Anonymous and Free Docker Hub users are limited to 100 and 200 container image pull requests per six hours.

If you are affected by these changes you will receive this error message:
ERROR: toomanyrequests: Too Many Requests.
OR
You have reache

[2021-01-26 18:08] rnapoles-rh commented on #4288
Trying a bit later:

[code]

[2021-01-26 21:00] rnapoles-rh commented on #4288
after a while it gets operational

[code]

[2021-01-26 21:21] rnapoles-rh commented on #4288
[code]

[2021-01-27 11:08] #4385 closed

[2021-01-27 12:36] mik-dass opened #4392 "odo push fails for certain url names"
/kind bug

## What versions of software are you using?

**Output of `odo version`:** master

## How did you run odo exactly?

[code]

## Actual behavior

[code]

## Expected behavior

`odo push` doesn't fail.

The problem is https://github.com/openshift/odo/blob/3d70bc6e8c03a0f59ea920e3532572c77f6ce7c0/pkg/url/url.go#L1045 doesn't trim the URL name properly i.e `nodejs-project-` which is not valid

[2021-01-27 15:52] yangcao77 opened #4393 "Odo test samples and resgirties need to match id/name pattern defined in devfile 2.0 schema"
The official devfile 2.0 schema has been released: https://github.com/devfile/api/blob/2.0.x/schemas/latest/devfile.json

Odo should updates it's current test samples and registries to match the id/name pattern defined in devfile 2.0 schema.

[code]

In addition, for existing projects contains invalid Id/Name in the devfile which used to work in previous Odo releases, might think of displaying an

[2021-01-27 15:52] yangcao77 commented on #4393
/area devfile

[2021-01-28 08:17] prietyc123 commented on #4287
Steps I verified once we have the customised image created the VM:

[code]
It works as expected.

[2021-01-28 12:08] dharmit commented on #4389
IIUC, it's `.odoignore` file that needs to have the entry for `target/` for odo to ignore it. Can you please verify if odo still pushes/copies the files after you add an entry to `.odoignore`?

[2021-01-28 12:19] dharmit commented on #4389
This is what I'm observing at my end:
[code]

[2021-01-28 12:32] dharmit commented on #3850
@savonarola27 is this issue still showing up for you with latest odo and latest CRC?

[2021-01-28 12:33] dharmit commented on #3511
/lifecycle frozen

[2021-01-28 12:33] dharmit commented on #4255
Dupe of #3511

/close

[2021-01-28 12:34] #4255 closed

[2021-01-28 12:35] dharmit commented on #3580
/reopen

/lifecycle frozen

[2021-01-28 12:52] mohammedzee1000 commented on #4386
My guess now is the mess up happened during signing

[2021-01-28 13:00] mohammedzee1000 commented on #4386
Yes, can confirm this is an issue with signing scripts. That is all I can say. Have informed relevant teams about the issue.

[2021-01-28 13:25] mik-dass commented on #4389
Yes the path in `.gitignore` or `.odoignore` should be the full path like `ear/target/` etc.

[2021-01-28 13:51] anandrkskd commented on #4379
So the scope of this issue will be:

- [ ] Create a windows friendly
  - setup script
  - run script
- [ ] A prow job for windows
- [ ] send queues corresponding the jenkins jobs in rabbit mq
- [ ] Create jenkins job for windows

[2021-01-28 14:15] dharmit commented on #4309
I'm lost about why the "user" thing matters here. I think the idea is to check if the user's running k8s cluster in backend or an OCP cluster. And the way to do that would be to check if `Project` is supported.

As far as user is concerned, we don't bother much about it.

Please let me know if I'm missing something w.r.t your question.

[2021-01-28 20:17] savonarola27 commented on #3850
The issue is no more present with odo v2.0.4 and crc v1.21.0

[2021-01-29 02:37] scottkurz commented on #4389
I think it's confusing to accept `.gitignore` in place of `.odoignore` but to interpret it differently.

It seems like .odoignore can use:

for the use case I have in mind, but note this does NOT work equivalently in Git for .gitignore.

Perhaps projects with nested directories are in the minority.

I wonder though if it would be worth investigating alternatives to simply use the gitignore format

[2021-01-29 07:18] #4303 closed

[2021-01-29 07:27] dharmit commented on #4389
One way to think of it is:
* `.gitignore` is for stuff you'd like to be ignored by git commands.
* `.odoignore` is for stuff you'd like to be ignored by odo commands.

Inventing a different ignore file for odo was done deliberately. Checkout #1036 for more discussion/commentary around this. However, the behaviour you've described is a bug if we consider @kadel's comment about following the approac

[2021-01-29 07:32] dharmit commented on #3850
@savonarola27 thanks for checking and letting us know, and apologies for this not getting looked by the team ever since you opened the issue.

[2021-01-29 07:40] savonarola27 commented on #3850
No problem. Excuse me but in the meantime I have not used the program anymore so I do not check for the problem.

[2021-01-29 10:06] dharmit commented on #4208
What I can't wrap my head around is that how will odo know that some resource on the cluster (here a `ServiceBinding`) needs to be deleted. Here's the flow we're looking for:
1. `odo link` will store the manifest of a `ServiceBinding` in devfile.yaml
2. `odo push` will create the `ServiceBinding` on the cluster if one doesn't exist already.
3. `odo unlink` will remove the manifest of the `ServiceB

[2021-01-29 11:04] niconosenzo commented on #4309
Sorry that's what I meant. So, IsProjectSupported() would be fairly enough for that means, correct ? If so, I will submit the patch code.

[2021-01-29 12:07] dharmit commented on #4309
Yes, `IsProjectSupported` should be good for starters. Once you have a patch, let's see if that suffices. I think it should. :+1:

[2021-01-29 12:08] dharmit commented on #3423
/lifecycle frozen

[2021-01-29 12:09] dharmit commented on #2613
/lifecycle frozen

[2021-01-29 12:40] scottkurz commented on #4389
Yeah, I haven't really used `.npmignore` but the [doc](https://docs.npmjs.com/cli/v6/using-npm/developers#keeping-files-out-of-your-package) seems to say it follows the same syntax, with the addition of a list of special values, some of which are always ignored, some never ignored.

Sounds like we're agreeing then since you said this looks like a bug.

[2021-01-29 12:41] mik-dass commented on #4389
Works fine for me. I have a `.gitignore` and not a `.odoignore`.

[code]

[2021-01-29 12:53] scottkurz commented on #4389
My point though is that this should be treated as a bug, because, from your example, a .gitignore including:

would cause git to ignore `python-file/filesJunk/xor.py`  but odo will NOT ignore this content, and would push that into the container.

[2021-01-29 12:56] mik-dass commented on #4389
The `.gitingore` and `.odoignore` pattern matching behavior isn't supposed to match `.npmignore`. They both should follow the same behavior as `.gitignore`.

[2021-01-29 13:00] mik-dass commented on #4389
The logs in https://github.com/openshift/odo/issues/4389#issuecomment-769782902 shows that `python-file/filesJunk/xor.py` is ignored by `odo` and is not pushed.

[code]

[2021-01-29 13:05] niconosenzo commented on #4340
@dharmit If this is ok for you, I may have a look and discuss some ideas before submitting any change.

[2021-01-29 13:09] scottkurz commented on #4389
But my point is simply that with this .gitignore,

the file: `python-file/filesJunk/xor.py` will be ignored by Git and not ignored by odo.

[2021-01-29 13:47] mik-dass commented on #4389
OK so you mean only `filesJunk/`. That doesn't work with odo currently as it uses simple blob matching. We need to check if libraries like `https://github.com/monochromegane/go-gitignore` can handle such cases.

[2021-01-29 13:47] prietyc123 commented on #4280
Fixed via https://github.com/openshift/release/pull/14234

[2021-01-29 13:47] #4280 closed

[2021-01-29 13:49] prietyc123 commented on #4223
We have successfully onboarded to interoperability. So closing this issue.

[2021-01-29 13:49] #4223 closed

[2021-01-29 14:26] rnapoles-rh commented on #4288
All tests for test-cmd-service. Analyzing to resolve failures

[code]

[2021-01-29 16:08] maysunfaisal opened #4397 "Refactor Devfile Volumes for devfile/library"
The volume specific code and logic are the only remaining pieces of odo code that is remaining to be refactored and moved out to devfile/library so that all the devfile consumers may use it. This was marked as a [second pass](https://docs.google.com/document/d/1ffLi37fM7LAjRK5SXAw-yVNwr9GchFYy_e_5VD-FOZc/edit?skip_itp2_check=true&pli=1#heading=h.v1ex47x85625) and needs be moved out.

These functio

[2021-01-30 01:14] #3089 closed

[2021-01-30 13:16] #3875 closed

[2021-01-30 13:16] #3879 closed

[2021-02-01 09:02] anandrkskd commented on #3754
The above issue cannot be reproduce locally with latest on OCP 4.6/4.5 as faced by @sarveshtamba on one of the cluster before, after creating a storage class the issue is not faced on the cluster. This issue may have raised due to absence of default storage class.

[2021-02-01 09:22] dharmit commented on #3027
/lifecycle frozen

[2021-02-01 09:24] dharmit commented on #3894
/reopen

/good-first-issue

[2021-02-01 11:12] dharmit commented on #4340
@niconosenzo absolutely! Discussing before coding is always welcome! If you'd like to work on this, feel free to assign it to yourself.

[2021-02-01 12:34] dharmit commented on #4376
/reopen

Reopening this since me & @girishramnani are seeing this on 3.11:
[code]

I'm seeing this on a minishift where I have not enabled Service Catalog or anything else using `minishift openshift component add`.

[2021-02-01 13:21] niconosenzo commented on #4340
/assign

[2021-02-01 19:27] mik-dass commented on #3227
@prietyc123 Since we no longer test on Travis CI, I think we can close this.

[2021-02-01 19:39] sspeiche opened #4400 "spring-petclinic never working on dev sandbox"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
2.0.4

## How did you run odo exactly?
odo push

## Actual behavior
Everything started but app not working, route failed to resolve not errors in log

## Expected behavior
Importing from Git it compiles and deploys fine.

## Any logs, error output, etc?
No errors from push

Repo: https://git

[2021-02-02 10:58] dharmit commented on #4346
/good-first-issue

[2021-02-02 12:07] kadel commented on #4400
After running the following steps I got an error from the application `Caused by: java.net.UnknownHostException: mysql: Name or service not known`
It looks like
[code]

the devfile.yaml contains the following  env variable
[code]
I guess the application tries to connect to  MySQL instance at `mysql` hostname. Services are not deployed automatically by odo.  You will have to create MySQL instance u

[2021-02-02 12:29] kadel commented on #4400
I was able to get it working with mysql-ephemeral OpenShift tamplete deployed from Developer Catalog.
And updating the environment variables in Devfile

[code]

[2021-02-02 12:33] kadel commented on #4400
The other option to make this work is to remove `SPRING_PROFILES_ACTIVE` env variable from Devfile. This will make springboot to use an embedded H2 in-memory database so no external database will be required.

[2021-02-02 12:38] sspeiche commented on #4400
Thanks @kadel, I'm not sure why I wasn't getting anything out of the logs...I'll try again.

[2021-02-02 12:56] kadel commented on #4400
I was able to get logs from `odo log`. Let me know if it is not working for you. There might be some problem that caused odo to not be able to get logs.

[2021-02-02 14:09] dharmit commented on #4191
/lifecycle frozen

[2021-02-02 14:48] mik-dass opened #4402 "Decide on a method to name resources like PVCs"
We need to decide the pvc name and other similar resource names that will be created during resource creation e.g

PVC : for s2i components is storage name + app name but for devfile components, it is storage name +  component name + random 4 letters. The later might lead to more API calls but the former might break things if the naming logic changes.

[2021-02-02 22:17] rnapoles-rh commented on #4288
Tests are now passing on PSI minishift:
[code]

[2021-02-02 23:50] scottkurz commented on #3803
On odo v2.0.4, I'm still seeing this.   That is, I do:

1. odo push # initial
2. odo link  #  To a service created via this operator: https://operatorhub.io/operator/postgresql-operator-dev4devs-com
3. odo push # Expect a new pod here
4. Make trivial source change
5. odo push #  I see a whole new pod, which I shouldn't

I can gather some more logs if it helps, but since @dharmit had said this was

[2021-02-03 06:59] dharmit commented on #3803
This is a problem on odo side but, tbh, I have not dug into this because...

We're working on changing the experience with `odo link` (#4208) and other service commands like `odo service create`, `odo service delete` (#4159 & #4160). I expect this bug to get addressed along with #4208.

/remove-priority low
/priority medium

[2021-02-03 07:36] dharmit commented on #4192
/lifecycle frozen

[2021-02-03 09:37] dharmit opened #4404 "Remove docker specific code from certain packages"
In odo contributors' call dated [12 Jan 2021](https://docs.google.com/document/d/1M7iakRFuyHm2E8M6iLKMebX8bhcpIyQitiLglG1xPUI/edit#heading=h.xnbmwfrajz1s), it was discussed and agreed upon to remove docker specific code from certain packages.

/kind cleanup
/kind discussion
/area local

[2021-02-03 09:38] dharmit commented on #4404
ping @kadel @mik-dass can we please list the places where we need to remove this code from? I'm hoping we could make this into a `/good-first-issue`.

[2021-02-03 10:38] dharmit commented on #4387
Marking closed since the PR is merged.

/close

[2021-02-03 10:38] #4387 closed

[2021-02-03 11:19] dharmit commented on #3924
Closed by #4325

/close

[2021-02-03 11:19] #3924 closed

[2021-02-03 11:51] prietyc123 commented on #4288
@rnapoles-rh I tried replicating the steps you mentioned above but `minishift start` fails on
[code]
Might be I am doing something silly and end up with rate limit. Could please summarise e2e process/step in a single comment.

[2021-02-03 12:24] kadel commented on #4404
If I remember correctly this is about removing `pkg/devfile/adapters/docker` and `pkg/lclient` packages.

[2021-02-03 12:43] deboer-tim commented on #4079
/lifecycle frozen

[2021-02-03 13:23] mik-dass commented on #4404
Yes and also the CLI packages where we are checking the condition `pushTarget=docker` needs to be cleaned too.

[2021-02-03 15:28] mik-dass commented on #4082
Starter project for java-maven has been added recently https://github.com/odo-devfiles/registry/blob/51d1360a97f094a9e0b77b8976ccd25bbf571274/devfiles/java-maven/devfile.yaml#L6

[2021-02-03 15:28] #4082 closed

[2021-02-03 23:28] rnapoles-rh commented on #4288
Steps to setup OpenStack Linux VM:
[code]
Steps to run tests (scripts/minishift-all-tests.sh):
[code]

[2021-02-04 07:21] dharmit commented on #4094
/lifecycle frozen

[2021-02-04 10:56] #4357 closed

[2021-02-04 12:03] kadel commented on #3811
Currently `odo create` saves project/namespace name into `env.yaml`. We need to defer this to a later stage (`odo push`).

Acceptance criteria:
-  [ ] `odo create` is not doing anything with the cluster it should not even read anything from `KUBECONFIG`. It needs to work even without Kubernetes client configuration.
-[ ] If the user runs just `odo create` **without**  specifying component name or

[2021-02-04 12:57] slemeur commented on #3811
Thanks @kadel !

[2021-02-04 13:35] #3155 closed

[2021-02-05 03:42] dharmit commented on #4357
@ehsavoie can you PTAL if `odo watch` with debug support looks more clear than it did earlier? Also, if you face any issues/confusion while following the docs (CLI docs or those on [odo.dev](https://odo.dev) website), please open an issue to let us know.

[2021-02-05 06:10] anandrkskd opened #4408 "Verify automation process to run macOS tests on PSI"
/kind user-story

## User Story
As a QE I want to analyse/research and automate macOS test on PSI.

## Acceptance Criteria
- [ ] Mention the steps needed for automation
- [ ] Automate the process of test

## Links
- Feature Request: N/A
- Related issue: #2540

/kind user-story

[2021-02-05 07:19] dharmit commented on #4204
/lifecycle frozen

[2021-02-05 07:51] prietyc123 opened #4409 "Set up disconnected env on psi"
/kind user-story

## User Story
As a QE I want disconnected cluster set up on psi to reduce dependency on openshift qe flexy job env and full access control over env.

## Acceptance Criteria
- [ ] Analyse the approach involved in the process
- [ ] Create our own flow or Use flexy job script/template (depends on analysis) to set up the environment
- [ ] Resolve blockers
- [ ] Should be able run tes

[2021-02-05 08:28] prietyc123 commented on #4409
@mohammedzee1000 Could you please verify the acceptance criteria and feel free to add in case i skipped any other criteria.

[2021-02-05 09:20] prietyc123 commented on #4222
@rnapoles-rh I think test strategy doc are in place. Should we close this?

[2021-02-05 10:23] prietyc123 commented on #4162
@rnapoles-rh It seems now we have starter project for java maven as well https://github.com/odo-devfiles/registry/blob/master/devfiles/java-maven/devfile.yaml

[2021-02-05 10:29] prietyc123 commented on #4290
AFAIU, no.

Yes, and I have created one issue on their repo https://github.com/eclipse/che/issues/18610

[2021-02-05 10:37] prietyc123 commented on #3980
Enabling service catalog on 3.11 would be addressed in #4288. As far as Service Catalog tests on k8s (minikube) is concerned, yes we can work on it once we close #4287 . As this issue is left out with minikibe service catalog implementation, changing issue title.

[2021-02-05 12:42] rnapoles-rh commented on #4222
I delivered a walkthrough of the strategy and integrated all feedback. Although the strategy is a living document, the required work to get it defined is complete so I am closing this.

[2021-02-05 12:42] #4222 closed

[2021-02-05 14:55] kadel commented on #4409
/priority low

This is an ultra-low priority right now. Currently, we don't have any stable testing environment. To me, it doesn't make sense to start with something as complex as running our own disconnected cluster if we don't even have our current tests running on PSI cluster.

[2021-02-05 16:04] #4187 closed

[2021-02-05 18:02] ehsavoie commented on #4357
I will take a look next week

[2021-02-07 01:45] #3921 closed

[2021-02-07 13:47] #3699 closed

[2021-02-07 23:11] rnapoles-rh commented on #4288
I am having problems to get minishift started:
`Could not set oc CLI context for 'minishift' profile: Error during setting 'minishift' as active profile: The specified path to the kube config '/home/fedora/.minishift/machines/minishift_kubeconfig' does not exist
`

[2021-02-07 23:15] rnapoles-rh opened #4410 "Configure Jenkins to run tests on PSI / minishift"
OpenShift 3.11 tests that were earlier working on Travis need to run on PSI infrastructure. This is mainly required to test Service Catalog.

/area testing
/priority high
/kind feature

## Acceptance Criteria
- [x] Create Jenkins job to run tests on PSI / minishift
- [x] Create configure-openstack-minishift-vm.sh to create VM if it need to be rebuilt
- [x] Create amqp.ci.topic.minishift.send
- [x]

[2021-02-08 07:57] prietyc123 commented on #3754
TBH I am not sure if this issue was initially hit due to storage class because it was observed on CI. AFAIU we don't have such storage problem with our existing CI. @anandrkskd I think this needs root cause analysis and then fixed.

[2021-02-08 08:46] prietyc123 commented on #3754
similar occurrence in periodic jobs https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.7-integration-e2e-periodic/1358656920155590656#1:build-log.txt%3A639

[2021-02-08 09:58] anandrkskd opened #4412 "Automate integration and unit test for windows on PSI"
/kind user-story

## User Story
As a QE I want to automate both integration and unit test on Windows.

## Acceptance Criteria
- [ ] Automate the test for Windows.
- [ ] Resolve the blockers, if any.

## Links
- Feature Request: N/A
- Related issue: https://github.com/openshift/odo/issues/4379 , #2540

/kind user-story

[2021-02-08 10:03] anandrkskd commented on #4412
/kind area/testing
/kind area/windows

List of acceptance criteria
https://github.com/openshift/odo/issues/4379#issuecomment-769066687

[2021-02-08 10:05] anandrkskd commented on #4412
/area testing
/area windows

List of acceptance criteria
https://github.com/openshift/odo/issues/4379#issuecomment-769066687

[2021-02-08 10:08] #4379 closed

[2021-02-08 11:08] dharmit commented on #4105
/lifecycle frozen
/area storage

[2021-02-08 12:01] dharmit commented on #4346
This will most likely get addressed as a part of what I'm doing on #4160 to add CRD to devfile when user does `odo service create`.

[2021-02-08 12:50] kadel commented on #4236
Started putting together how this should work and how it can be implemented.

https://github.com/openshift/odo/pull/4413

It looks like there might be some blockers. Need to investigate further.

[2021-02-08 13:11] dharmit commented on #4298
/close

[2021-02-08 13:12] #4298 closed

[2021-02-08 13:13] dharmit commented on #3811
/assign @mik-dass

[2021-02-08 13:26] mohammedzee1000 commented on #4314
This is almost done. Hammering out some chinks. Should be done in 2 more days from today max

[2021-02-08 13:29] mohammedzee1000 commented on #4056
As thinks stand test flakes are becoming painful

Therefore to unblock the PR (not fixing), after discussing with @kadel, I am moving to create an optional job for now to run the poc code. see https://github.com/openshift/release/pull/15630

Once this merges ill update the name of script as per the above PR (placeholder has already been added via https://github.com/openshift/odo/pull/4411)

[2021-02-08 13:40] rnapoles-rh commented on #4288
Created an issue https://github.com/openshift/odo/issues/4410 to track work for Jenkins configuration for running tests on PSI minishift

[2021-02-08 13:46] prietyc123 opened #4414 "Build minikube job CI on odo pr"
/kind user-story

## User Story
As a Dev/Qe I want to run prs on minikube and get the logs in a job

## Acceptance Criteria
- [ ] odo should have minikube CI build running on prs
## Links
- Feature Request: NA
- Related issue: https://github.com/openshift/odo/issues/4287

/kind user-story

[2021-02-08 20:23] #4056 closed

[2021-02-09 09:21] dharmit commented on #2618
/lifecycle frozen

[2021-02-09 10:32] dharmit commented on #4160
### Scope of this issue for Sprint 197

Focussing on second acceptance criteria -  `odo service create` should store service definition in devfile as kubernetes component (ServiceInstance for SericeCatalog or CR for operator backed service)

- Store alm example of a CR into devfile.
- Store ServiceInstance info into devfile (still not sure about how to fetch this.)
- Involves updating dependency t

[2021-02-09 11:00] kadel commented on #3138
/reopen

It looks like no testing was done for Java devfile components.

[2021-02-09 11:36] dharmit commented on #4376
Opened PR https://github.com/openshift/odo/pull/4420 so not adding a scope of this issue in Sprint 197.

[2021-02-09 12:48] prietyc123 commented on #3256
Constantly observing this on PSI fedora VM
[code]

[2021-02-09 12:59] boczkowska commented on #4273
The only place where experimental is mentioned is in the CLI reference: https://docs.openshift.com/container-platform/4.6/cli_reference/developer_cli_odo/odo-cli-reference.html#preference
I believe I removed it everywhere else, so the issue can be closed

[2021-02-09 13:05] mik-dass commented on #4340
URLCreateOptions and PushOptions are used interchangeably (as I can see, GetComponentContext is in the method set of PushOptions struct).

We are using the GetComponentContext() in other packages like cli for URL etc to trigger the push logic for the now flag in other packages.

https://github.com/openshift/odo/blob/e7664393988c11683588232b50e944484fbea999/pkg/odo/cli/url/create.go#L189

The fix w

[2021-02-09 13:24] mik-dass commented on #3811
We should use the component type as the name and the default app name and record it in the env.yaml as they don't require any cluster access.

[2021-02-09 14:31] prietyc123 opened #4421 "Increase unit tests using Gomock"
/kind user-story

## User Story
As a Dev/Qe I want to assure most of our code are being tested to increase quality of the product

## Acceptance Criteria
- [ ] Unit test refactoring
- [ ] It should cover at least 60% of the code.

## Links
- Feature Request: NA
- Related issue: https://github.com/openshift/odo/issues/4076

/kind user-story

[2021-02-09 14:34] prietyc123 commented on #4076
Closing this issue via https://github.com/openshift/odo/pull/4110 and extending the refactoring part in https://github.com/openshift/odo/issues/4421

/close

[2021-02-09 14:35] #4076 closed

[2021-02-09 14:42] prietyc123 commented on #4414
Scope of the issue:
- [ ] Create a config file for minikube with rabbit mq credential mounted.

[2021-02-09 14:47] girishramnani opened #4422 "Two `validation` logs when using odo create --s2i"
/kind bug

## What versions of software are you using?

**Operating System:** Mac OS

**Output of `odo version`:**
[code]

## How did you run odo exactly?
[code]

## Actual behavior
[code]

## Expected behavior
One Validation blocks
[code]

## Any logs, error output, etc?

[2021-02-09 14:59] girishramnani commented on #4281
Just so its documented - I dont think `--now` flag works for devfile so I am not gonna worry about it for now

[2021-02-09 15:59] girishramnani commented on #4281
Also this issue will break all s2i components - no existing s2i components would work.

[2021-02-09 16:15] kadel commented on #4281
I forgot to mention that in the issue :-(. This can't break existing s2i components without any warning.
We either have to find a way to convert existing s2i components or keep the s2i code there for some time and display a depreciation warning and then after a few releases remove it.

[2021-02-09 16:18] kadel commented on #3101
/remove-lifecycle stale

[2021-02-09 16:27] kadel commented on #3811
The reason that included this is that I would like to make sure that if someone does just `odo create java-maven --starter` without any odo specific flags they get just devfile.yaml and the starter project source code without any odo specific stuff.
Users might not even use odo beyond `odo create`. They might be doing the whole interloop locally or use Che or another tool for the rest of their wor

[2021-02-09 16:41] girishramnani commented on #4281
we can do a Y stream release to signify such a huge breaking change @kadel

[2021-02-09 16:57] girishramnani commented on #4281
We can deprecate s2i components using an early PR that goes in the week’s release and then this PR can be released in later version

[2021-02-10 00:57] rnapoles-rh commented on #4288
Left to be done:
[ ] Fine tune the minishift-all-tests.sh script

[2021-02-10 06:50] anandrkskd commented on #4301
we are hitting this issue on [PSI CI jobs](https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4419/pull-ci-openshift-odo-master-v4.6-e2e-4x-psi/1359127862388461568) for [PR](https://github.com/openshift/odo/pull/4419) and periodic jobs.
- https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.4-integration-e2e-periodic/13592004897

[2021-02-10 06:55] mik-dass commented on #3811
But, in the current state, the other commands like URL create, Storage create etc would stop working without the env.yaml along with the devfile.yaml.

[2021-02-10 07:32] mik-dass commented on #4363
`validateCommandsForGroup()` https://github.com/openshift/odo/blob/ede98da442cdfdd8691a9b7ba4b3421f5507bb33/pkg/devfile/adapters/common/command.go#L70 should return a error type which would be handled and ignored if the error is of `no default type` by `GetBuildCommand()` https://github.com/openshift/odo/blob/ede98da442cdfdd8691a9b7ba4b3421f5507bb33/pkg/devfile/adapters/common/command.go#L167

[2021-02-10 07:35] mik-dass commented on #4060
https://github.com/devfile/api/issues/287 is closed now. We should pull the changes and remove the function `getValidURLName()`

[2021-02-10 08:04] dharmit commented on #3811
Probably thinking too much ahead of what we're discussing here. But here goes.

I'm assuming that the user decides to use odo for rest of the inner loop tasks instead of moving to use Che or something else.

I don't think odo has a check to prevent multiple components from being assigned the same name. This could be a problem if the user does `odo create nodejs` in two different dirs. Thisp proble

[2021-02-10 08:11] kadel commented on #4281
Y stream should not break backward compatibility.

that is too quick.

BTW the original idea for this PR was to just make sure that new components will be all based on Devfile.
But the existing components, even old s2i based on LocalConfig should work as they currently do.

Removal of LocalConfig components would happen later.

[2021-02-10 08:15] kadel commented on #4422
/priority low

[2021-02-10 08:40] kadel commented on #3811
If this is true then we already have this problem.  `env.yaml` is never added into git repo. What if someone clones the repository with devfile.yaml and runs `odo url create`? This needs to work.

There is no reason why the command should fail if `env.yaml` doesn't exist. If it needs to store some information then it should create it doesn't exist.

[2021-02-10 09:02] kadel opened #4424 "commands should not require env.yaml file to exist"
Based on the discussion in https://github.com/openshift/odo/issues/3811#issuecomment-776539757

## User Story
- As a user
- I want to be able to run any odo command on a directory that I just cloned
- So that start working with odo without worrying about running `odo create` or `odo push` first

### example
[code]

[code]

## Acceptance Criteria
- [ ] It should do possible to run any odo command s

[2021-02-10 09:24] dharmit commented on #4273
/close

[2021-02-10 09:24] #4273 closed

[2021-02-10 10:02] anandrkskd commented on #4408
Below are some steps needed to be done to move Tests on macOS :
**Automation steps **

- [ ] Divide setup & run script, make changes if required to be mac friendly
- [ ] create 2 prow job configuration
  - [ ] unit test
  - [ ] e2e test
- [ ] create 2 jenkins job
  - [ ] unit test
  - [ ] e2e test
- [ ] 2 amqp send queue
  - [ ] unit test
  - [ ] e2e test
- [ ] Configure each Jenkins job according

[2021-02-10 11:47] dharmit commented on #4301
This issue is happening because of failure in finding a pod that belongs to the components. Exact place where it's failing is https://github.com/openshift/odo/blob/ede98da442cdfdd8691a9b7ba4b3421f5507bb33/pkg/devfile/adapters/kubernetes/component/adapter.go#L118

[2021-02-10 11:48] dharmit commented on #4301
When I looked into the system, pod failed to come up:
[code]
The reason for failure from Events:
[code]

[2021-02-10 12:11] dharmit commented on #4301
My understanding right now is as follows.

* We first link (`odo link`) a component to a service (here `EtcdCluster/example`) and do `odo push`. `odo link` creates an instance of ServiceBinding which creates a Kubernetes secret that stores info about the service that has to be injected into the component.

* The way this info gets injected is that the Secret is injected through `envFrom` into the

[2021-02-10 12:55] prietyc123 commented on #3980
Steps needs to be verified and implemented:
- [ ] Install helm
- [ ] kubernetes configuration file needs to be installed https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/
- [ ] Helm repository setup
- [ ] Install service catalog
- [ ] Run operator hub tests on it successfully, Resolve blockers if any
- [ ] Create a custom image and modify jenkins confi

[2021-02-10 12:59] valaparthvi commented on #4370
Was this working before @anandrkskd?

[2021-02-10 13:17] kadel commented on #4160
what about `odo service create --from-file`? CR defined in the file should also be saved in Devfile

[2021-02-10 13:22] anandrkskd commented on #4370
This is a new scenario that I tried and failed.

[2021-02-10 14:19] dharmit commented on #3138
@prietyc123 to test and document Java components on disconnected cluster just like she did earlier for nodejs components.

[2021-02-10 14:43] valaparthvi commented on #4370
@dharmit Can we move this to Sprint 197?

[2021-02-10 16:17] #4309 closed

[2021-02-10 16:37] jeffmaury opened #4426 "odo project create -w does not wait enough for the project to be available"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10Pro

**Output of `odo version`:**
odo v2.0.4 (5544b25ec)

## How did you run odo exactly?
`odo project create project -w && odo project list`

## Actual behavior
New project is not listed

## Expected behavior
New project should be listed

## Any logs, error output, etc?

[code]

[2021-02-11 05:23] girishramnani commented on #4426
We have faced this issue multiple times and multiple developers from odo have gone over this error but if I remember correctly  we never found a solution,
There was a question also posted upstream about this.

Let me find some relevant issues and PRs to confirm this

[2021-02-11 08:12] dharmit commented on #4135
This bug still exists.

Stepping through the code, I found that the `Exists` function searches only for a `DeploymentConfig` (s2i type components) but not for `Deployment` (devfile components): https://github.com/openshift/odo/blob/b9a3b1463d74f29088aa5625bf01b17fd7ffcbb4/pkg/component/component.go#L1448-L1456

I think, searching the cluster for `Deployment` should do the trick. We already had a f

[2021-02-11 09:28] dharmit commented on #4301
FWIW, it did help to add some sleep. I've opened #4428 which should hopefully fix this! :crossed_fingers:

[2021-02-11 10:38] girishramnani commented on #4281
I cannot see that on the issue description before you updated it yesterday.

[2021-02-11 10:43] girishramnani commented on #4281
As part of the PR I have completed the 1st AC but as I have removed all s2i code so I need to reverse that

- [ ] if user has existing LocalConfig s2i component it still needs to work
- [ ] We're going to need to make changes to odo create -h as well.
- [ ] Finally, we're going to need to update docs that end on odo.dev site as well.

[2021-02-11 11:14] jeffmaury opened #4429 "Inconsistent behavior of odo list when working with S2I components and convert them them to devfile"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10Pro

**Output of `odo version`:**
`odo v2.0.4 (5544b25ec)`

## How did you run odo exactly?
[code]

Then only the devfile component is shown

If I run:
[code]

## Actual behavior

Only 1 component listed in certain cases

## Expected behavior

Should list 2 components

## Any logs, error output, etc?

[2021-02-11 11:26] dharmit commented on #4370
Moved.

[2021-02-11 11:59] dharmit commented on #3811
And why do we need the AppName in the env.yaml? Why can't we defer that to `odo push` as well?

[2021-02-11 12:34] kadel commented on #3811
I tried to reduce it to the bare minimum to solve the `odo create` problem. And then do the rest in https://github.com/openshift/odo/issues/4424

I'm not sure if we can defer `AppName` to push. But I did some tests with `Name` and this one we can't defer to later, because `odo url create` would produce an invalid URL name. My thought process was that if we can't remove `Name` than we shouldn't eve

[2021-02-11 13:55] deboer-tim commented on #4060
This URL defect may be the same underlying issue: #4218. After fixing please test that and close if it is fixed.

[2021-02-11 14:03] dharmit commented on #4105
/assign @mohammedzee1000

[2021-02-11 14:18] mik-dass commented on #4060
Yes this defect is causing #4218 .

[2021-02-11 17:21] #2939 closed

[2021-02-11 21:39] #4162 closed

[2021-02-12 14:01] ajm01 opened #4431 "Exception encountered when running odo link on minikube"
/kind bug

## What versions of software are you using?

**Operating System:**
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.5 LTS
Release:	18.04
Codename:	bionic

Kubernetes v1.20.2 on Docker 20.10.2

**Output of `odo version`:**
odo v2.0.4 (5544b25ec)

## How did you run odo exactly?
After listing an available service:
[code]

I then attempted  to link to that service:
`root@unwisest1:~/odopro

[2021-02-12 16:18] deboer-tim commented on #4218
/remove-lifecycle stale

[2021-02-12 16:18] deboer-tim commented on #4219
/remove-lifecycle stale

[2021-02-12 17:58] yangcao77 commented on #4361
After this PR (https://github.com/devfile/library/pull/61) has been merged, Odo can pull in latest devfile/library and devfile/api, start consuming validator from devfile/library.
the validation has been called in `ParseAndValidate` already, so Odo should just remove `validate.ValidateDevfileData` after every call to `ParseAndValidate`
For example:
https://github.com/openshift/odo/blob/adaa1b44e8d

[2021-02-12 21:57] langdon opened #4432 "export as helm chart(s)"
/kind feature

## Which functionality do you think we should add?
I would love to be able to take an existing project/namespace and export it as a helm chart.

## Why is this needed?

* nothing equiv exists and it would help migrations
* learning something new (like how to write helm charts) is easier when the "example" is based on something you know (like my project)

The reason for the "(s)" is

[2021-02-15 08:36] #4370 closed

[2021-02-15 10:00] valaparthvi commented on #3801
I would like to work on this.
/assign me

[2021-02-15 10:01] valaparthvi commented on #3801
/assign valaparthvi

[2021-02-15 10:10] valaparthvi commented on #3801
Currently the following devfile integration tests need this cleanup -
[code]

[2021-02-15 10:33] boczkowska commented on #4116
@kadel @dharmit do I understand correctly that this one is blocked by https://github.com/openshift/odo/pull/4413 since most operators use Helm?
I've tried to test it myself and I don't think I made it work with any of the operators in the Operator Catalogue now. =\ Is there a way around it?

There's a draft PR for it https://github.com/openshift/openshift-docs/pull/28738 with placeholder values fo

[2021-02-15 12:42] boczkowska commented on #4371
@dharmit I've created a draft here, PTAL https://github.com/openshift/openshift-docs/pull/29492

[2021-02-15 12:50] boczkowska commented on #4069
The CRC documentation has been updated, so this issue can be closed: https://access.redhat.com/documentation/en-us/red_hat_codeready_containers/1.22/html-single/getting_started_guide/index#deploying-sample-application-with-odo_gsg

[2021-02-15 12:50] #4069 closed

[2021-02-15 13:06] boczkowska commented on #4184
This has been fixed.

[2021-02-15 13:06] #4184 closed

[2021-02-15 14:40] kadel commented on #4116
Nope, this is not blocked. Helm is just another way to package applications on Kubernetes. It is unrelated to operators and this issue.

The experience with the Operator catalog is broken in odo right now :-/ Not broken in the sense that it is not working. There are prerequisites that odo doesn't docuemnt.

[2021-02-15 14:44] kadel commented on #4156
/remove-lifecycle stale
/lifecycle frozen

[2021-02-15 16:47] #4363 closed

[2021-02-15 21:17] ryanj opened #4435 "As a user, I need guidance on how to add devfiles to existing apps (`--dry-run -o yaml`)"
/kind user-story

## User Story
As a developer and/or team lead, I want to make it easier for team members to get started with devfiles by adding a valid `devfile.yaml` to any existing repo.

## Acceptance Criteria
- [ ] Running `odo create nodejs frontend --dry-run -o yaml` should skip creation of the `frontend` component, AND print a fresh devfile to standard out
- [ ] Running `odo create nodejs

[2021-02-15 23:43] burrsutter commented on #4116
We have moved the demo to this location as it has become one of the primary ways we show off "developer experience" https://github.com/redhat-developer-demos/spring-petclinic

[2021-02-16 10:22] valaparthvi opened #4437 "Devfile deletion does not respect context"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 32

**Output of `odo version`:**
odo v2.0.5 (2180507a4)

## How did you run odo exactly?
![Screenshot from 2021-02-16 15-49-43](https://user-images.githubusercontent.com/11015077/108049805-c04e4300-706e-11eb-9878-0686333fc653.png)

## Actual behavior
Listing directory elements -
![Screenshot from 2021-02-16 15-50-

[2021-02-16 10:52] girishramnani commented on #1236
Hello,
I had a quick chat with praveen to understand how they implemented telemetry in crc.

The tools used were
- segment.com
- https://www.woopra.com
- golang library for segmentio

So a gist of it - segmentio is where the telemetry is sent - then woopra has good visualisation built on top of it. We need to ask for access for both of these tools from @gorkem.

Now we need to implement telemetry

[2021-02-16 10:57] girishramnani commented on #1236
Also just so its clear we cannot capture any personally identifiable information which means we probably need to clean up the data we capture before sending

[2021-02-16 11:39] kadel commented on #4426
If I remember @mik-dass found a solution for original problem after talking to OpenShift guys.
This was supposed to solve this problem https://github.com/openshift/odo/blob/2180507a4850dfac98559cc94aa9d55441007c0b/pkg/project/project.go#L50
It looks like it is not that reliable as we thought.

[2021-02-16 12:02] kadel commented on #4432
👍 This would be a nice feature.

Problem is that currently, odo can't produce images that could be used in Helm Charts :-(

Devfile v2 will need to be able to describe the image build process (currently it is just describing the application build). This is currently being discussed and designed in https://github.com/devfile/api/issues/51

Once we have a runnable image we can look into generating H

[2021-02-16 12:23] dharmit commented on #4435
@ryanj thanks for describing the requirements/criteria so clearly.

I think what you're looking for should be addressed to a good extent when #4436 gets merged. That PR is about not requiring cluster access to create a component. What it will do is only create devfile.yaml in your `pwd`. The creation of a component on the k8s/ocp cluster happens when the user runs `odo push`.

[2021-02-16 12:36] sspeiche commented on #1236
Here's the policy around what we collect and not https://developers.redhat.com/article/tool-data-collection

[2021-02-16 12:36] mik-dass commented on #4426
As mentioned in https://github.com/openshift/odo/pull/2330#issuecomment-578611401, the fix wasn't reliable as back then the namespace creation as an object was synchronous upon the request but provisioning the resources inside that project was asynchronous - like serviceaccount, serviceaccount tokens (secrets) etc was asynchronous. But since it did reduced the number of occurrences, we decided to

[2021-02-16 13:21] girishramnani commented on #1236
we should have a metric to detect users directly using odo vs people using vscode adapter / che

[2021-02-16 14:04] dharmit commented on #3372
/remove-lifecycle stale

[2021-02-16 14:04] dharmit commented on #2799
/lifecycle frozen

[2021-02-16 14:28] valaparthvi commented on #4437
Looks like a duplicate of - #4135

[2021-02-16 16:09] kadel commented on #4236
I've looked into doing linking using Service Binding Operator. The outcome of my research is that it is not possible to construct ServiceBinding in a way that would allow linking to Helm Chart.

On problem is that there is no standard way how Helm Charts are exposing information about how to connect to the provided service. One way to approach this could be assuming that any `Service` and `Secret`

[2021-02-16 18:02] girishramnani commented on #4281
also `--git` will no longer be supported as devfile doesn't support that

[2021-02-16 18:17] girishramnani commented on #4281
a huge blocker - when I am trying to add ports to a `nodejs` component generated using `--s2i` - I get this error
[code]

[2021-02-16 18:24] girishramnani commented on #4281
we have no json output for devfile based odo create?

[code]
using current master branch

this is gonna break odo create --s2i conversion compatibility

[2021-02-17 01:51] dharmit commented on #3779
/lifecycle frozen

@kadel would this make sense to have after #4436 goes in?
@mik-dass do you think it would be easy for someone to take a cue from the work you have done on #4436? Asking because if that's the case, I'd prefer adding `/good-first-issue` to this.

[2021-02-17 02:37] dharmit commented on #2785
/lifecycle frozen

[2021-02-17 03:34] dharmit commented on #2784
Closing this for now since we've not had support for this since v1 and there's not much in terms of request to add this for v2. Please reopen this if you would like us to consider this.

/close

[2021-02-17 03:46] dharmit opened #4439 "odo CI shoud not run "v4.6-e2e-4x-psi" check for Docs PRs"
Documentation PRs are going through "v4.6-e2e-4x-psi" test even though `skip-ci` is mentioned. I think that we don't have to provide `skip-ci` any more for the CI to skip other checks. We need to make changes to ensure that "v4.6-e2e-4x-psi" and subsequent tests on PSI for 4.7 and so on do not get executed either.

/area testing

[2021-02-17 03:46] dharmit commented on #4439
@anandrkskd can you help with this?

[2021-02-17 03:47] dharmit commented on #4439
One such reference of CI running for docs PR is https://github.com/openshift/odo/pull/4434.

[2021-02-17 05:16] anandrkskd commented on #4439
yes, we don't need to mention `skip-ci` to skip running tests on cluster. I guess the other tests also executed because the current regex only skips any docs related change under `/docs` dir.
And we have not added that on our PSI tests, I will make sure my PR will adds that and skips the tests.

[2021-02-17 07:19] mik-dass commented on #3779
Yes, I think it would be easier once #4436 is merged.

[2021-02-17 09:51] kadel commented on #4281
Isn't this just because there are no `endpoints` in generated devfile?
If there are no endpoints than it is correct that `odo url create` errors out. But `odo url create --port 8080` should work.

For every port in `LocalConfig` there should be `endpoint` in the devfile.

We will have to add json output.

Theoretically, this could be implemented. Devfile should have everything that we need for thi

[2021-02-17 09:57] girishramnani commented on #4281
It works, actually —url in odo create isn’t being respected by the converter

[2021-02-17 10:33] maxandersen opened #4440 "exec permissions not preserved in starters"
/kind bug

`odo create java-quarkus --starter`

the resulting files like `mvnw` does not have execute permission set.

Is that a bug in odo or somehow something we can fix/mark in the devfile/starter ?

[2021-02-17 12:23] maxandersen opened #4441 "odo push after create from starter result in che edit source open up but project is not from that repo"
/kind bug

## What versions of software are you using?

**Operating System:**
osx

**Output of `odo version`:**
odo v2.0.4 (5544b25ec)

Server: https://api.sandbox.x8i5.p1.openshiftapps.com:6443
Kubernetes: v1.19.0+1833054

## How did you run odo exactly?

odo create java-quarkus --starter
odo push

## Actual behavior

after push in devconsole is a link to che which clones source from quarkus-quic

[2021-02-17 12:38] kadel commented on #4440
This needs to be fixed in the starter project source code.

[2021-02-17 12:51] dharmit opened #4442 "Be explicit about "odo project" set of commands running against a cluster"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
Ran set of `odo project` commands:
* `odo project create -h`
* `odo project delete -h`
* `odo project set -h`

## Actual behavior
None of the help messages clearly indicate that they will be run against a kubernetes cluster.

## Expected behavior
Help message

[2021-02-17 13:18] mik-dass commented on #4060
This requires https://github.com/openshift/odo/issues/4346 to be completed first.

[2021-02-17 14:46] girishramnani opened #4443 "Json output for odo create in devfile flow"
The JSON output of odo create -o json command should have the same structure as odo create --s2i --o json

Prerequisite for #4281.

Json output needs to have a proper state https://github.com/openshift/odo/issues/4492

[2021-02-17 14:46] kadel commented on #3779
yes

[2021-02-17 14:53] kadel commented on #4443
The JSON output of `odo create -o json` command should have the same structure as `odo create --s2i --o json`
[code]

[2021-02-17 17:40] ryanj commented on #4435
Thanks @dharmit

I'll see if I can test the new build

I forgot to mention that `kubectl` and `oc` both avoid making any other writes when the `--dry-run` flag is used.  For odo, this flag would likely bypass creation or updates for devfile.yaml, config.yaml, env.yaml, .gitignore, or any files under `.odo/`.

The flag is designed to provide a repeatable, no-op simulation that only writes to the st

[2021-02-18 03:43] gorkem opened #4444 "odo service list is fixed on running on default namespace"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

odo v2.0.4 (5544b25ec)
Kubernetes: v1.19.0+1833054

## How did you run odo exactly?

odo service list seems to run on the "default" namespace no matter what is the currently active project.
Here is the output I have when running against crc 1.22.0

[code]

[2021-02-18 05:05] dharmit commented on #4135
@kadel Like you mentioned last week, this is indeed not as simple as I thought it was. It seems to me that at the time of devfile integration, we missed adding support for this scenario.

From odo's perspective, this is more like a feature than a bug. While from users' perspective, this is a bug that's breaking backward compatibility.

[2021-02-18 05:55] dharmit commented on #4435
@kadel can you please share your thoughts on the `--dry-run` request here from @ryanj?

[2021-02-18 06:50] dharmit commented on #4431
@ajm01 I tried to reproduce this on both CRC and minikube. I followed below steps:

* On CRC, the Operator was available through the Operator Hub interface. On minikube, I installed it from the [Operator's page on operatorhub.io](https://operatorhub.io/operator/postgresql-operator-dev4devs-com) website.
* I started the service with the command: `odo service create postgresql-operator.v0.1.1/Databa

[2021-02-18 09:40] junawaneshivani opened #4445 "Openjdk e2e test failure on power"
/kind bug

I have been using below steps for building and running e2e tests on power. There are 3 openjdk e2e test failures with similar error (failed to match a string returned by java application). Is there a way to fix this test ? How can I debug this further ?

[code]

Below is the final summary of test execution..
[code]

Test failure logs
[code]

[2021-02-18 09:41] sarveshtamba commented on #4445
/area system-PZ

[2021-02-18 10:00] mik-dass commented on #4346
This is a breaking change and many apis have changed in the latest version of the library. Thus a lot of our code base need to change including many unit tests.

[2021-02-18 11:35] boczkowska commented on #4116
Shall we document these prerequisites or leave the docs till the procedure is "smooth"?
From what I understand this is one of the most common user-stories for odo users, even documentation with "workarounds" can be helpful.

[2021-02-18 12:45] dharmit opened #4447 "odo should handle errors in a better way"
/kind bug
/area UX

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master (2.0.4)

## How did you run odo exactly?
When not logged into or connected with the cluster, I tried to run `odo delete`, `odo list`, `odo project` commands. None of the commands except `odo list` indicated that I was unauthorized to run the commands because I was not log

[2021-02-18 12:54] #3995 closed

[2021-02-18 20:51] ajm01 commented on #4431
Thanks Dharmit -

Based on your success, I got myself a clean linux vm and tried this again from the beginning, but I continue to hit the exception on the new machine as well. I don't know what might be broken in my process, but still cannot get link to work against minikube on linux:

[code]

[2021-02-19 01:27] ryanj opened #4448 "Feature: Set port config while creating initial devfile"
/kind feature

## Which functionality do you think we should add?

It would be really nice to have a `--port` option for `odo create` that would allow users to modify and/or extend the catalog devfile examples.  This currently works for `--s2i`, but is not yet available for devfiles.

## Why is this needed?
The default nodejs devfile example (from the registry catalog) binds to 3000 by default. Th

[2021-02-19 06:20] dharmit commented on #4448
@girishramnani this is exactly what you were talking about yesterday.

[2021-02-19 07:07] dgolovin opened #4449 "`odo test` should have subcommand to list available tests to run with `--test-command`"
/kind feature

## Which functionality do you think we should add?

`odo test` run default test and in case there are many test commands 'odo test --test-command <test-command-name can>`  command can be used. In this case user have to go and find it in devfile. For IDE's it means parsing devfile and looking for commands in test group if I understand that correctly.

Would be good if `odo test` woul

[2021-02-19 09:31] sarveshtamba commented on #4445
CC:- @dharmit @kadel

[2021-02-19 14:34] kadel commented on #4435
I like `--dry-run`, it makes sense and I can see it being quite useful.

[2021-02-19 14:36] kadel commented on #4116
@boczkowska as you mention this is one of the most common user-stories. And especially because it is currently not as "smooth" as we would like we need to have good documentation including all necessary workarounds.

[2021-02-19 14:38] kadel commented on #4445
ping @prietyc123

[2021-02-19 16:24] kadel commented on #4431
@dharmit  I didn't try to reproduce this but I think that the Go panic trace provides enough information to know what is happening.

It is panicking on this line
https://github.com/openshift/odo/blob/5544b25ec083506393090faad5b4205126e4f675/pkg/odo/cli/component/common_link.go#L138
and from the error panic message, you see that the `deploymentSelfLinkSplit` array has length 1, but in the code you

[2021-02-19 20:30] ajm01 commented on #4431
Hi

Based on Tomas' comments I went forward and downgraded my kubernetes to 1.19.x and indeed I can confirm that my scenario on minikube (using docker as the driver as i had been doing) does now work with odo link - I am able to create the link using odo:

[code]

[2021-02-19 23:05] ajm01 commented on #4431
The sample application is now working fully on minikube with kubernetes v1.19.8

I have documented the current process here:
https://github.com/ajm01/application-stack-samples/blob/minikube-readme/jpa/README-minikube.md

[2021-02-20 19:11] dgolovin commented on #4156
@kadel works for me now. I do not know is something was changed though in python images since I have problems with it. Feel free to close this issue.

[2021-02-22 08:00] dharmit opened #4451 ""odo delete -a" with "--app" & "--project" flags deletes the component under cwd/pwd"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `odo v2.0.5 (2180507a4)`

## How did you run odo exactly?
Tried to delete component named `node` using the command `odo delete node --app app --project myproject -af` from the component directory of `node-todo` component.

## Actual behavior
odo deletes the `node-todo` component instead

[2021-02-22 08:02] dharmit commented on #4135
A few things to note about this problem.

1. Right now, odo relies on the existence of `devfile.yaml` to deduce that the underlying component is a devfile component. If it can't find the file in `pwd` (that is, from the location where the `odo delete` is executed), odo assumes that it's an s2i component and thus runs the set of actions required to delete the s2i component.

    If we remove the ch

[2021-02-22 08:03] dharmit commented on #4451
As I mentioned on https://github.com/openshift/odo/issues/4135#issuecomment-783174485, I think we should have a validation that prohibits the user from passing `-a`/`--all` flag when they're trying to delete a component from a directory other than the component's own directory. So, a user can't pass `--all` flag if they have passed `--app` and `--project`.

AFAIK,  `--app` and `--project` both mus

[2021-02-22 09:11] #4156 closed

[2021-02-22 12:54] dharmit commented on #4431
@kadel thanks for helping me out there. I hadn't looked at it from this POV. I guess this also means we will have to modify odo before the issue faced by Andrew becomes a widespread problem for odo users.

@ajm01 thanks for sharing the doc! I followed it and made a few changes so that a user can use more odo commands wherever possible and less kubectl commands as a result. PTAL [this forked README

[2021-02-22 12:59] dharmit commented on #4116
@kadel @boczkowska I made some changes to a doc that was being prepared by @ajm01 for Java OpenLiberty + PostgreSQL. Would it make sense to add this to odo.dev (minikube based example) as an example of Java+DB? [Link to doc](https://github.com/dharmit/application-stack-samples/blob/minikube-readme/jpa/README-minikube.md).

I can make changes to make it more suitable for odo.dev site.

[2021-02-22 13:09] deboer-tim commented on #4107
/remove-lifecycle rotten

[2021-02-22 14:11] ajm01 commented on #4431
@dharmit - I looked it over, looks good to me - thanks for streamlining the database creation process using odo and the --dryrun flag.  You can send me a PR and I will add it in. I will fix up some of the broken image links etc after i get your version merged.

[2021-02-22 14:19] kadel commented on #4135
no, we should not wait for it. Even after #4281 us implemented you will have to deal with DeploymentConfig. That PR will make it impossible to create new LocalConfig based components, but users might still have an existing LocalConfig s2i components that they did not converted to devfiles.

[2021-02-22 14:55] kadel commented on #4451
This is actually correct behavior. From odo points of view, this is is what you are telling it to do.
But this behavior might be confusing for users.

Nope, you can use just one. For example in a directory with `nodejs ` component deployed into `app ` application in `test1 ` project.
If you run  `odo delete --project test2` odo will try to delete component `nodejs ` in `app `application in `test2

[2021-02-22 14:56] kadel commented on #4135
This could work.

[2021-02-22 15:26] kadel commented on #4431
yes, we need to fix it

[2021-02-22 19:51] #4346 closed

[2021-02-23 05:57] dharmit commented on #3026
/lifecycle frozen

[2021-02-23 05:59] dharmit commented on #4107
/lifecycle frozen

[2021-02-23 06:47] jeffmaury commented on #4244
/remove-lifecycle stale

[2021-02-23 07:09] valaparthvi commented on #4135
I was debugging it and at first look it seemed simple to me, if the right devfile is not being deleted, it must not be taking in account the right path.
[pkg/odo/cli/component/delete.go::DevFileRun](https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/delete.go#L273), while performing the deletion, it doesn't really take context into account,
[code]
If we were to change `DevfilePath`

[2021-02-23 07:21] valaparthvi commented on #4135
My bad, the problem in account still exists, it still has problem checking the status of component.

[2021-02-23 08:02] dharmit opened #4453 "Document odo installation instructions via "yum""
/kind documentation

## What mistake did you find / what is missing in the documentation?
odo can be installed on a RHEL system using `yum install`. We need to document it for users of RHEL and explore if the same can be documented for Fedora and CentOS users.

## What is the relevance of it?
Relevant for the users of rpm ecosystem.

[2021-02-23 11:09] valaparthvi commented on #4135
It seems to me that if we implement something like `odo describe <component_name> --app <app_name> --project <project_name>` for the delete command it would at least fix the problem of component deletion from a non-component dir, if not devfiles and odo env.
For `--all` flag and all the other delete related flags, we could discuss all the valid and invalid commands like @kadel mentioned in #4451.

[2021-02-23 13:14] kadel opened #4454 "Failing tests on PSI - Failed Error: ImagePullBackOff"
I'm noticing a lot of failing runs due to `  Error: ImagePullBackOff ` on PSI.

https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4450/pull-ci-openshift-odo-master-v4.6-e2e-4x-psi/1362767243833774080
[code]

[2021-02-23 13:32] kadel commented on #1236
Let's start with just basic metrics we can always add more later.

What information we should send from start:
 - odo version
 - OS information
 -  name of the command that gets executed and if possible its return code
 - error messages
 - when user executes `odo push` we should send an event containing information if the cluster supports `Project` (to detect if it is OpenShift or not)

Later we c

[2021-02-23 13:40] dharmit commented on #4454
@mohammedzee1000 can you help here?

[2021-02-23 13:41] valaparthvi opened #4455 "odo push fails to fetch package for python related components"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 32

**Output of `odo version`:**
odo v2.0.5 (2180507a4)

## How did you run odo exactly?
Used minikube.
Create a new directory and run the following from it -
[code]

## Actual behavior
[code]

## Expected behavior
Should be able to fetch django from pypi and execute a successful odo push. Even with this failure,

[2021-02-23 13:51] dharmit commented on #4455
Works for me. I'm on minishift:
[code]

[2021-02-23 17:46] jkeam commented on #4455
Looks like you're having connectivity problems with pip trying to download your dependencies (`Failed to establish a new connection`):

[code]

Are you using a proxy?  Is your minikube installed and configured correctly?

[2021-02-24 01:05] rnapoles-rh commented on #4364
There was a remaining issue with cmd_push_test.go that was resolved by PR https://github.com/openshift/odo/pull/4394
no issues pending:
$ ginkgo -randomizeAllSpecs -slowSpecThreshold=120 -timeout 7200s -nodes=1 -focus="odo push command tests" tests/integrationRunning Suite: Integration Suite
================================
Random Seed: 1614127113 - Will randomize all specs
Will run 18 of 176 spec

[2021-02-24 01:05] #4364 closed

[2021-02-24 09:09] #4060 closed

[2021-02-24 09:14] #4392 closed

[2021-02-24 09:36] prietyc123 commented on #3138
Steps followed for devfile java testing on disconnected vm-

- [x] Create a disconnected cluster
- [x] Login to the disconnected env
- [x] Allow required URLs in the proxy (quay.io, registry.access.redhat.com, apache.org, quayio-production-s3.s3.amazonaws.com)
- [x] added the proxy in the devfile as an env var and pass the same  proxy to the mvn command
- [x] Run devfile java test

devfile:
[code]

[2021-02-24 09:42] kadel commented on #3138
@prietyc123 Why is proxy information set twice? Once in env variable and then again as a parameter for maven command?

[2021-02-24 11:31] kadel commented on #4454
I think that QEs should start getting more involved in investigating errors like this.

[2021-02-24 11:32] prietyc123 commented on #3138
oops, my bad.

devfile should looks like.

[code]

[2021-02-24 11:39] boczkowska commented on #4116
@dharmit thanks, this looks like it can even be used for downstream documentation too (obv, for OpenShift clusters), I'll test it today, and if all works as expected and update my PR in OCP repo accordingly.
I can create a PR for upstream/odo.dev also, while I'm at it.

[2021-02-24 11:44] dharmit commented on #4116
There's a [separate doc for OCP](https://github.com/ajm01/application-stack-samples/blob/minikube-readme/jpa/README.md) on the repo I cloned from.

That would be very helpful. However, on odo.dev, we usually to put up steps that can be performed on minikube. The doc I linked earlier in https://github.com/openshift/odo/issues/4116#issuecomment-783355802 can be used for it.

Let me know if it's fine

[2021-02-24 12:46] valaparthvi opened #4457 "Add a better error message when setting invalid preference value"
/kind bug

## What versions of software are you using?
odo v2.0.5 (7edfe0a2a)

**Operating System:**
Fedora 33

**Output of `odo version`:**
odo v2.0.5 (7edfe0a2a)

Server: https://192.168.42.50:8443
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?
[code]

## Actual behavior
[code]

## Expected behavior
[code]

## Any logs, error output, etc?

[2021-02-24 12:47] valaparthvi commented on #4457
/good-first-issue

[2021-02-24 12:57] kadel opened #4458 "Failing tests on PSI - timeout on internal image regsitry"
I'm seeing a lot of test failing due to errors while pulling an image from OpenShift internal registry

[code]

[code]

[2021-02-24 13:06] kadel opened #4459 "Stabilize tests on PSI"
Our current tests that are executed against PSI are quite unstable.
The whole purpose of running tests on PSI was to make it more stable and faster than Prow tests.

The last successful run that I can see was a week ago. It failed 32 times in a row.

https://prow.ci.openshift.org/job-history/gs/origin-ci-test/pr-logs/directory/pull-ci-openshift-odo-master-v4.6-e2e-4x-psi?buildId=

A few reasons fo

[2021-02-24 16:38] #4376 closed

[2021-02-25 07:14] prietyc123 commented on #4439
I think it will get fixed once we add doc check in `v4.6-e2e-4x-psi` job. PR https://github.com/openshift/release/pull/16274 should fix this as well.

[2021-02-25 07:19] anandrkskd commented on #4439
I have added the required change for this issue on my recent PR as well :( I think we should have a conversation on this @prietyc123

[2021-02-25 07:52] zhengxiaomei123 commented on #4343
close this issue since it be resoved.

[2021-02-25 07:53] #4343 closed

[2021-02-25 09:56] dharmit opened #4461 "Remove "experimental" from odo preferences"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master (2.0.5)

## How did you run odo exactly?
`odo preference view`
`odo preference set -h`

## Actual behavior
odo preferences mention `Experimental` mode that was added during the run up to v2 release

## Expected behavior
`Experimental` mode is not being used any more. So odo should remove it.

[2021-02-25 11:06] #3811 closed

[2021-02-25 13:20] #4050 closed

[2021-02-25 13:52] valaparthvi commented on #4457
On a related note: https://github.com/openshift/odo/issues/4447

[2021-02-25 14:05] valaparthvi opened #4462 "Track telemetry implementation for odo"
/kind feature
/priority high

## Acceptance Criteria
For first pass -
- [x] 1. Allow user to enable/disable telemetry (#4456)
- [x] 2. Prompt users to set their preference for telemetry (#4482)
- [x] 3. Collect information such as - (#4482)
     - - [x] 3.1. OS information
     - - [ ] 3.2. ~RAM, CPU size, number of cores~(we do not need this information.)
     - - [x] 3.3. Odo version
     - - [x

[2021-02-25 15:33] kadel commented on #4462
This looks like a good start.

Just one note. Don't forget about correctly handling `anonymousId`  (using existing or generating new if needed) as described in Telemetry Guidence document.
You can check how CRC is doing it https://github.com/code-ready/crc/blob/194965b96b3c2f8ed534da1b8bfaeb2e43790612/pkg/crc/segment/segment.go#L117-L135

[2021-02-25 18:57] deboer-tim commented on #4462
Ditto, looks like good coverage. It's implied but the timing/error is really logging every command run with success/failure and time.

I don't recall if odo failure messages sometimes include user info like id or paths. If not then you can just send those (or you can send reason codes like "ran out of space" or "network error") and avoid having to sanitize.

[2021-02-25 19:21] #3911 closed

[2021-02-25 19:21] #4052 closed

[2021-02-26 19:24] #3686 closed

[2021-02-26 19:24] #3714 closed

[2021-02-26 19:24] #4027 closed

[2021-02-26 19:24] #3395 closed

[2021-02-26 19:24] #3543 closed

[2021-02-26 19:24] #3685 closed

[2021-02-27 13:26] #4018 closed

[2021-02-27 17:29] jeffmaury opened #4463 "odo catalog component describe should allow registry parameter"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10Pro

**Output of `odo version`:**
`odo v2.0.5 (e8030b19a)`

## How did you run odo exactly?
`odo catalog component describe`

## Actual behavior
Component from first registry is displayed ?

## Expected behavior
We should be able to specifiy the registry to lookup

## Any logs, error output, etc?

[2021-02-28 13:30] #2831 closed

[2021-02-28 23:46] deboer-tim commented on #2840
/remove-lifecycle stale

[2021-03-01 02:58] dharmit commented on #4160
Managed to figure this out. For a devfile based component, when the user tries to create a Service Catalog backed service, the info gets added to `devfile.yaml`:

[code]

However, for an s2i based component, this won't work till we have addressed #4281 so that a `devfile.yaml` is created for `odo create --s2i`.

[2021-03-01 02:59] dharmit commented on #4160
This is currently blocked on https://github.com/devfile/api/issues/306.

[2021-03-01 03:02] dharmit commented on #4175
/lifecycle frozen

[2021-03-01 09:17] dharmit commented on #4463
@jeffmaury I'm marking this as a feature instead of a bug since it's something that never existed. Ideally we should have thought of this at the time of v2 release, but evidently we missed that.

[2021-03-01 09:45] prietyc123 commented on #4287
Issues we are facing while minikube implementation on jenkins:

- **Connection timeout while ssh into the vm**
Although PSI Fedora vm are in running state, I think few configurations are not fully setup. For temporary solution we are adding 20 sec sleep into the configuration script. For long run solution we are planning to add a loop for ssh timeout into ci-firewall repo.

- **minikube start with

[2021-03-01 10:18] #4289 closed

[2021-03-01 10:24] girishramnani commented on #4112
one thing i understand here is that - this behavior is expected but we need to change it hence - we should make this into a feature.
And about resolving this, i would suggest we follow the same approach we did for s2i where the component name was set as `Project-App-name-<random-string>` and we used label selectors to find all the kube resources, currently we depend on names too much if I remember

[2021-03-01 10:26] girishramnani commented on #4335
seems like a simple fix, but cli doc change could be interesting

[2021-03-01 11:15] prietyc123 commented on #4445
@junawaneshivani could you please point me to the full test log.

[2021-03-01 13:21] rnapoles-rh commented on #4288
Splitting scripts: execution, clean up, setup
Reorganizing to prep VM after cleanup and check if VM is stable (testing the script that verifies stability)

[2021-03-01 13:32] kadel commented on #4462
I would say that we don't need this at the beginning. Let's keep the initial telemetry simple and small. We can always add more later.

[2021-03-01 13:37] valaparthvi commented on #4462
Of course. I added them as a placeholder so that I don't forget to discuss them.

[2021-03-01 14:13] dharmit commented on #4463
@jeffmaury on a call today, @kadel mentioned that registry implementation is up for some change. So I have removed this one from consideration for upcoming sprint.

@kadel if there's an issue on devfile repo, can you please link it here so that we can look into this request when it's done?

/priority medium

[2021-03-01 14:18] dharmit commented on #3678
@anandrkskd what's the update on this? Do we have a dashboard for this yet?

[2021-03-01 14:20] dharmit commented on #4093
@kadel @mik-dass do you think this issue should be closed?

[2021-03-01 14:21] dharmit commented on #3256
#4454

[2021-03-01 14:46] mik-dass commented on #4093
Yes, I think we can close this issue.

[2021-03-01 15:49] kadel opened #4467 "tests are not cleaning up projects/namespaces."
Integrations and e2e tests are not properly cleaning up project/namespaces.
Currently, there are 77 projects with random 10 letter name (those are created by our integration tests)

[code]
The above issue is tracked with [issue 4502](https://github.com/openshift/odo/issues/4502)

On top of that, we have 90 projects starting with `odo-pr-build`
[code]

Most of those project are older than 1 day (`k

[2021-03-01 15:49] kadel commented on #4467
/cc @prietyc123 @mohammedzee1000

[2021-03-01 22:52] jkupferer commented on #3312
After updating to odo v2.0.5 I have unfortunately found that my previous work-around is now broken. When I patch the deployment to specify serviceAccountName the next `odo push` now resets it back to `default` while providing no mechanism to adjust this behavior that I can find.

Please implement the capability to control the service account soon.

[2021-03-02 03:58] jsoref opened #4468 "Incorrect comment"
#2660 changed this code in a way that invalidated the comment:
https://github.com/openshift/odo/blob/5bc676219c69fcf14965ccb61de6efcca55c1872/pkg/util/file_indexer.go#L292-L293

This was a correct comment:
https://github.com/openshift/odo/blob/704aa26414075520f5beb1d87d84a7d0137d56b1/pkg/util/file_indexer.go#L276-L277
see https://golang.org/pkg/os/#Create

The changed comment is no longer correct.

[2021-03-02 05:47] anandrkskd commented on #3678
The PR needs to be merged, the code is there. or I can create one similar dashboard

[2021-03-02 06:56] dharmit commented on #3678
Create one that you can change later without relying on anyone else. That would help us better.

[2021-03-02 07:04] #4093 closed

[2021-03-02 07:15] anandrkskd commented on #3678
Understood, Will create one ASAP

[2021-03-02 10:29] wtrocki opened #4469 "ODO link should allow developers to create link as file"
/kind documentation

Most of the extensions like quarkus will require service binding to be spec compliant (use file structure to mount values). When working with ODO it is not clear/easy/documented.

Technically custom sbo can be passed but entire concept of linking as file is not well documented.
Having simple parameter or documentation to support as file would support entire story of service bi

[2021-03-02 10:52] wtrocki commented on #4236
I would like to jump on the issue with slight different variation.

Currently, ODO recognizes services as `Operator Backend Backends` which are basically CR + deployments.
Service Binding Operator abstracts from that model and will allow to bind any CR - even the one that doesn't have particular deployment.

When considering adding helm it will be good to see if ODO can provide flexible way to def

[2021-03-02 11:29] dharmit commented on #4437
I think the same. Also, I don't think we have ever thought of a component inside a component scenario like the one you have tried here.

Since you have reopened this, I'm wondering if you feel that it's not a dupe of #4135.

[2021-03-02 11:42] valaparthvi commented on #4437
I reopened it because of #4451 which covers cases on similar line but it didn't take `--context` into account. I guess it does turn out to be a duplicate of either 4451 or 4135 in one way or another. I'll close it for now.

[2021-03-02 11:42] #4437 closed

[2021-03-02 11:52] prietyc123 opened #4470 "Required job configuration for pr"
/kind user-story

## User Story
As a Dev/QE I want to handle branch level protection for required job configuration on openshift release repo.

## Acceptance Criteria
- [ ] Required job configuration should be handled automatically from prow infra
- [ ] It should not need manual configuration to be set on odo repo

## Links
- Feature Request: NA
- Related issue: NA

/kind user-story

[2021-03-02 13:15] mohammedzee1000 opened #4473 "Setup monitoring and reporting for clusters in PSI"
We need monitor PSI clusters so we can catch issues early

[2021-03-02 13:25] girishramnani commented on #4281
These 3 bugs/pre-req founds so far

- Already have a PR open for json output for `odo create`
- [ ] `no ports given` for converted nodejs components need to be fixed
- [ ] bypass conversion of s2i to devfile when user provides `--git` as devfile doesn't support and we dont intend to right now ( maybe in the future )

[2021-03-02 13:31] girishramnani commented on #4354
there should be an error but its the wrong kind

[2021-03-02 13:50] valaparthvi commented on #4457
cc: @girishramnani