[2018-10-29 15:36] kadel commented on #869
Yes, my idea is to query it from inside the container.

It should be possible to get to labels via `ImageStreamImage` object in OpenShift. Similarly to how we already detect ports exposed by image (https://github.com/redhat-developer/odo/blob/2e6e6beed60f19275d09d07d8b749861620ea920/pkg/occlient/occlient.go#L337)

I think that this should be part of  [assemble-and-restart](https://github.com/redha

[2018-10-29 15:37] kadel commented on #869
If we can count on`STI_SCRIPTS_PATH` env variable.  I know that some images are using it but s2i documentation just mentions the label :-(

[2018-10-29 15:44] jorgemoralespou commented on #883
You need to use the wildfly branch, as I said on mattermost.

- `master` branch is `springboot` app. Binary is located at `target/wildwest-1.0.jar`
- `wildfly` branch is `wildfly` app. Binary is located at `target/ROOT.war`

[2018-10-29 15:45] jorgemoralespou commented on #890
@LalatenduMohanty @praveenkumar can you help @kadel or anyone on this project to set this up? You have it working

[2018-10-29 15:48] jorgemoralespou commented on #869
@bparees what should be the best way for us to know what are the scripts being invoked by s2i?

[2018-10-29 16:07] bparees commented on #869
the image label is the appropriate way, the env variables are deprecated.

but of course if the user supplied override scripts either by passing an arg or by providing them in their repo, those would be run instead.  So you would need to be aware of that possibility also.

What exactly are you trying to do that you need this information?

[2018-10-29 16:12] geoand commented on #869
Cool, I'll check that out

[2018-10-29 16:40] jorgemoralespou commented on #869
@bparees the supervisor that is injected in the container will eventually call `assemble` and/or `run` scripts when so instructed from the command line.
This is a pod (currently from a supported s2i image) that is always running and that when `odo push` happens, it will call those 2 scripts to update the application.

AFAIK the first thing we check is that if there is a .s2i folder co-located with

[2018-10-29 16:50] jorgemoralespou commented on #882
Agreed with @metacosm and @cdrage.

Now, I see that we can import a s2i builder, for which it would do:
- import the image, creating the imagestream
- add the builder tags annotation to the appropriate istag (to one tag, all tags?)
Worth considering what would be the proper syntax.
- Would we import a specific tag? Any tag?
- How would we manage the secret needed to access secure registries?
- Wha

[2018-10-29 16:56] jorgemoralespou commented on #880
@geoand I've seen that you created the issue and then created a PR, but TBH the issue does provide very little information on what is the problem and how you're going to approach the solution, so seems that you went ahead with an implementation before getting any consensus.

I haven't looked into it, and I'm sure it's really good, but I'm raising this topic as I would think that it's better to spe

[2018-10-29 17:08] geoand commented on #880
@jorgemoralespou I apologize if I broke the standard process here!

The issue was brought up in the some of the odo discussions we had on BlueJeans last week but I admit that could have done a better done at defining the issue.

The PR itself doesn't change much of the functionality that the user sees, but it instead provides the building blocks to make subsequent improvements to the service catal

[2018-10-29 17:11] #788 closed

[2018-10-29 17:12] cdrage commented on #840
@syamgk The PR raised looks good to me, seems like that'd fix the issue :+1:

[2018-10-29 18:38] jorgemoralespou commented on #880
@geoand there's no "norm". It's just that it's easier to discuss on issues than on PRs. So, if you look into the PR, it says it's been discussed here:

So, either one looks at code to figure out how you've solved the thing, or waits until is merged to see the experience. Remember we do not all understand go ;-)

And also I think @kadel raised a good point with the naming used for Mandatory/optiona

[2018-10-29 18:40] jorgemoralespou opened #891 "Support logs and log as command"
## What should odo do differently? Which functionality do you think we should change?

Coming from other tools one would sometimes type `log` or `logs`, being the latter not supported. This enhancement is to allow both words to work.

## What are you trying to do?
Make user experience easier by not failing on a common problem.

[2018-10-29 18:59] geoand commented on #880
Thanks for the clarification @jorgemoralespou.

I will update the issue with more information and also implement the change
proposed by @kadel

On Mon, Oct 29, 2018, 20:42 Jorge Morales Pou <notifications@github.com>
wrote:

[2018-10-29 20:52] geoand commented on #880
@jorgemoralespou I updated the issue description, hopefully it's better now :)
I also updated the output with the suggestion made by @kadel

[2018-10-29 20:54] geoand commented on #840
Makes sense to me as well @syamgk

[2018-10-30 05:21] u5surf commented on #888
@metacosm I fix them https://github.com/u5surf/odo/commit/dad10591ef2b637ab29fb8a7e38cb823adb0f9eb

[2018-10-30 10:23] anmolbabu opened #896 "Add resource utilization stats to odo describe commands"
[kind/Feature]

## Which functionality do you think we should add?

Odo should provide resource utilization information(to start with, the memory, cpu and storage utilizations) as most of the times, these statistics help a developer to find/troubleshoot issues relating to his apps not functioning as expected due to resource constraints being exceeded... In future, we(Odo) can leverage this informa

[2018-10-30 10:46] syamgk commented on #890
spoke to lala
they have build artifacts published on appveyor and centos CI
I think appveyor is good enough for us since we can cross compile for three architectures.

eg from minishift build: https://ci.appveyor.com/project/budhrg/minishift/builds/19821615/artifacts

I'm proceeding with configuring appveyor for odo

[2018-10-30 11:55] surajnarwade commented on #656
Closing as #683 is merged

[2018-10-30 11:55] #656 closed

[2018-10-30 12:11] surajnarwade commented on #678
closing this since we do have documentation and e2e tests regarding service catalog related commands

[2018-10-30 12:11] #678 closed

[2018-10-30 12:21] surajnarwade commented on #891
from `oc log` output:

[code]

[2018-10-30 12:39] surajnarwade commented on #842
I tried following steps and works well for me,

[code]

odo version is:

[code]

@yohanswanepoel , can you please try once and let us know the issue

[2018-10-30 12:46] jorgemoralespou commented on #891
@surajnarwade what we're trying to do here is to make it user friendly, so IMHO supporting both notations is helpful, even if oc deprecates one of the options.

[2018-10-30 12:58] #617 closed

[2018-10-30 13:00] kadel commented on #891
I would prefer to have just one command for everything. It can get quite confusing if you have one thing that can be done using multiple commands :-(

To be honest I'm also having problems with `odo log` maybe we should rename it to `odo logs`

[2018-10-30 16:48] metacosm commented on #76
@kadel have you been able to make a determination on whether to have a mixed mode or not? Also, do we have a decision on whether to go with `survey` or `promptui`?

[2018-10-30 17:00] metacosm commented on #891
I don't like having 2 different commands for the same thing, though commands can have aliases… On `log` vs `logs`, I think we should stick with what is consistent, i.e. keep everything singular.

[2018-10-30 17:22] #880 closed

[2018-10-30 18:21] cdrage opened #899 "Specifying a branch with --git"
We should add the feature to be able to specify a specific branch from the Git directory when deploying.

For example:

[code]

[2018-10-30 20:15] metacosm commented on #899
-1 for me. This is best left to `git` itself. `odo` is already becoming quite large in scope and should stay as focused as possible around its core features.

[2018-10-31 06:09] surajnarwade commented on #891
@jorgemoralespou , can you give some example, where user might have to face this situation ?

[2018-10-31 06:11] surajnarwade commented on #854
Hey @tmds , I am trying to create an app with dotnet, I got this error,

[code]

can you please help me with this ?

[2018-10-31 08:32] surajnarwade commented on #888
Closing since #897 is merged :smile:

[2018-10-31 08:32] #888 closed

[2018-10-31 08:38] surajnarwade commented on #861
working fine for me though :sweat_smile:

[code]

@mik-dass , can you please check once again

[2018-10-31 08:39] surajnarwade commented on #840
Closing since https://github.com/redhat-developer/odo-supervisord-image/pull/2 and  #901 is merged now :tada:

[2018-10-31 08:39] #840 closed

[2018-10-31 08:40] tmds commented on #854
What OS are you using? What version of OpenSSL do you have? Try installing OpenSSL 1.1 package or OpenSSL 1.0-compat package.

CC @omajid

[2018-10-31 08:50] mik-dass commented on #861
@surajnarwade It's a flaky issue. It occurs rarely. I even gave a quick look over the code and it seems fine to me. I guess it's the API which has the problem.

[2018-10-31 08:55] surajnarwade commented on #722
thanks @jorgemoralespou  and @sspeiche for answers :smile:

[2018-10-31 09:01] surajnarwade commented on #647
@jorgemoralespou , @dgolovin is it still the issue ? or can we close this ?

[2018-10-31 09:06] surajnarwade commented on #578
Closing this since we can link service to the component and there are other issues to track this work:
#760 and #652

[2018-10-31 09:06] #578 closed

[2018-10-31 09:10] surajnarwade commented on #101
I assume this issue is moreover about code refactoring and reorganization and which is being tracked here actively: https://github.com/redhat-developer/odo/issues/785

Closing this issue as duplicate.

Feel free to reopen :smiley:

[2018-10-31 09:10] #101 closed

[2018-10-31 09:17] surajnarwade commented on #192
Closing as #656 is merged, we now can list components from application provided with flag

[2018-10-31 09:17] #192 closed

[2018-10-31 09:20] surajnarwade commented on #193
@jorgemoralespou , I didn't understand this, can you please elaborate what is `type` or a `filter` in our case?

[2018-10-31 09:32] surajnarwade commented on #159
Now you can list applications from other projects as well with `--project` flag

[code]

and if it not specified, it will list application from current project,

[code]

Closing this issue :+1:

[2018-10-31 09:32] #159 closed

[2018-10-31 09:42] surajnarwade commented on #157
@jorgemoralespou @cdrage , we already have `--force`, `-f` for forcefully deletion,  we just need to support `if cascading delete includes storage, should again ask for removal confirmation`

[2018-10-31 10:29] surajnarwade commented on #854
@tmds , I am using `fedora 28`

[code]

[2018-10-31 10:30] surajnarwade commented on #861
@mik-dass , so it's not in scope of odo then, let's close this one, feel free to reopen if you find this again :+1:

[2018-10-31 10:30] #861 closed

[2018-10-31 11:32] geoand commented on #869
I indeed see that we can access the docker image labels from the go code in the same way the we access the exposed ports, cool stuff!

Is there an easy way such information could be accessed via `oc` commands?

[2018-10-31 11:35] jorgemoralespou commented on #891
Aliases means that the user needs to tweak the user experience for him. The user experience should be already tweaked for him.

There are some commands where it might make sense to accept singular and plural, as this is one of the cases.

Even if oc have deprecated this, just think that they support po, pod and pods, bc, buildconfig and buildconfigs , dc, deploymentconfig and deploymentconfigs, ..

[2018-10-31 11:36] jorgemoralespou commented on #799
@surajnarwade

Yes. We should have only origin (if it exists)

Then, we should do nothing

[2018-10-31 11:37] jorgemoralespou commented on #647
I don't have it anymore

[2018-10-31 11:41] tmds commented on #854
Probably it will work when you install the OpenSSL 1.0 compat package.

[2018-10-31 11:49] jorgemoralespou commented on #193
@surajnarwade It should filter based on the type of component, which is the what you choose when you create that component.

If you do `odo create wildfly ...` the type would be `wildfly`.

The signature for this query should be consistent, so maybe change `--type` to something that matches, or use something like `--filter` or `--search`.

Additionally, when we wrote this use case, there were no s

[2018-10-31 12:04] jorgemoralespou commented on #899
This is part of it's core features, and we should be able to create applications the same way `oc new-app` does, although I would not think this is a priority, I agree this should be supported.

@cdrage in case of --git based components, I think we will eventually need to support:
- branches
- context-directories/path
- git repository credentials (This will probably need to be generated)

The thir

[2018-10-31 12:06] jorgemoralespou commented on #899
@metacosm why this is part of `odo` core features is because once the developer has finished the iterative development cycle, he can configure that component to be based on git, and hence go through the natural s2i build cycle.

But, we need to understand how would a developer work. Maybe he would just delete the application/component once he's done.

[2018-10-31 12:41] kadel opened #902 "Add completions using new Completion architecture"
New completion architecture that uses `posener/complete` was added in
https://github.com/redhat-developer/odo/pull/893

It is nicely documented  https://github.com/redhat-developer/odo/blob/master/docs/completion-architecture.md

Currently it works only for `odo service create`.

TODO:
  - [x] Suggesting for application name `odo app delete`, `odo app describe`, `odo app`, `odo app set` + every co

[2018-10-31 12:43] metacosm commented on #902
It also works for `odo service delete` actually. And there's a bug I need to fix because right now the commands register their associated completion handlers using their names resulting in collisions.

[2018-10-31 12:46] kadel commented on #902
@metacosm Is it possible to start working on adding completion for other commands or it will create too many collisions with your work for #871?

[2018-10-31 12:47] metacosm opened #903 "Improper completions"
[kind/bug]

## What versions of software are you using?

Operating System :
macOS 10.14

Output of `odo version` :
current master

## How did you run odo exactly?

`odo create <tab>` results in completion showing service classes from catalog

## Expected behavior

No completion (or default generated name)

## Actual behavior

Improper completions

## Steps to reproduce the behavior
See above

## A

[2018-10-31 12:49] metacosm commented on #902
@kadel I think that it should be OK with this new architecture because the files more or less now follow what should happen after #871.

[2018-10-31 12:49] mik-dass commented on #902
@kadel I would like to pick this up

[2018-10-31 12:49] metacosm commented on #902
Also started working on #903.

[2018-10-31 12:52] kadel commented on #902
@mik-dass OK, lets do it one entity at a time. Pick one of the entities:  component, app, project, storage, url and make sure that it suggesting works for it.

[2018-10-31 12:53] metacosm commented on #902
@mik-dass let me know if you need help and/or you think the doc could be improved.

[2018-10-31 12:58] mik-dass commented on #902
@kadel I would pick component for the start since now component names are very big and pain to delete :) @metacosm Thanks :+1:

[2018-10-31 13:54] kadel commented on #445
that is correct behavior. The counter will be restarted after storage is added. But if any additional restarts after storage was added will keep counter value.

@surajnarwade @mik-dass is there a way to detect that the s2i image is using a special directory to store artifacts? Maybe some label?

[2018-10-31 13:56] geoand commented on #445
Relates to the discussion in 869 perhaps

[2018-10-31 14:20] metacosm commented on #902
@mik-dass note that #904 has changed some things, most notably the fact that you now *need* to register completion handlers *after* the command has been inserted in the command hierarchy, something to remember as if you don't do that, the app will exit on registration once #904 is merged.

[2018-10-31 14:38] kadel commented on #899
I guess this depends on what approach we choose.
Right now we are assuming that git components will be used to deploy the application after the development is done.
If we continue this direction than it makes sense to add support for branches, paths, credentials etc...

BTW: Adding support for choosing a branch is going to be easy, something like adding 4 lines.

I think that there should be somet

[2018-10-31 14:40] #903 closed

[2018-10-31 15:15] jeffmaury commented on #873
odo create --local returns 0
odo create --git returns 1
So should the semantic of rc is:

- =>0: OK
- <0: failure ?

[2018-10-31 16:06] omajid commented on #854
@surajnarwade You should `dnf install compat-openssl10` on Fedora 28.

[2018-10-31 16:35] mik-dass commented on #902
@metacosm Looks like #904 is in. Will have a look at the new changes. Thanks :+1:

[2018-10-31 17:04] tmds commented on #854
@omajid why doesn't that come as a dependency of dotnet?

[2018-10-31 17:57] cdrage opened #905 "Open a browser window when using `odo url create --open`"
Often I'm using `odo url create` and then having to click on the link to open the link.

Should we add a `--open` parameter to automatically open the link via the user's default browser?

[2018-10-31 18:39] jorgemoralespou opened #907 "add memory flags to component creation"
[kind/Feature]

## Which functionality do you think we should add?

We need to add a flag to `odo create` to be able to establish the memory the runtime container will have. Some applications are memory hungry and in some environments the defaults that are assigned when nothing is specified do not work.

I would think we should add, at a minimum a flag for memory, whether it's `memory` or `mem` th

[2018-10-31 18:41] jorgemoralespou opened #908 "add cpu flags to component create"
[kind/Feature]

## Which functionality do you think we should add?

We need to add a flag to `odo create` to be able to establish the cpu the runtime container will have. Some applications are cpu hungry and in some environments the defaults that are assigned when nothing is specified do not work.

I would think we should add, at a minimum a flag for `cpu` that should set request and limits for th

[2018-10-31 20:53] cdrage opened #911 "Feature: Adding a form of "progress bar" or "circle" when using odo push"
We should have some form of a progress bar / spinning circle when using `odo push`.

At the moment, it looks like the console has "frozen" as it's stuck on waiting for a Pod. Having a form of progress bar / circle would alleviate the task.

[2018-10-31 20:57] cdrage opened #912 "Overhaul of documentation in preparation of demo's / future releases."
We should re-vamp the documentation so it's a bit more streamlined. Here are a few TODO's on my list.

I'll label this issue as an EPIC.

- [x] Streamline README.md, reducing the information we currently have.
- [ ] Add more documentation on services
- [ ] Add examples on how to link a service(s) to component(s)
- [x] Examples on how to "import" a database into Odo (MySQL, MariaDB, etc.)

And a fe

[2018-10-31 21:40] omajid commented on #854
@tmds It does come as a dependency if you use the copr packages:

[code]

[2018-10-31 21:44] metacosm opened #913 "Better key generation for completion handler registrations"
[kind/Enhancement]

## What should odo do differently? Which functionality do you think we should change?
Completion handler key generation is currently too restrictive because it requires that handlers are registered after the command hierarchy is completely built which won't work with work done for #871. It is also error-prone and non-intuitive.

## What are you trying to do?
A better key genera

[2018-11-01 09:58] #913 closed

[2018-11-01 11:06] kadel commented on #785
agree, but let's do one step at a time. This big refactoring are slowing us down :-(

[2018-11-01 11:08] #780 closed

[2018-11-01 13:31] kadel commented on #911
We can't create a progress bar :-(. There is no way to know how long push will take.

There already is an issue about improving messaging for `odo push` https://github.com/redhat-developer/odo/issues/829

[2018-11-01 13:31] kadel commented on #911
@cdrage can we close this issue as there already is #829 ?

[2018-11-01 14:05] #905 closed

[2018-11-01 14:51] cdrage commented on #911
Yup. I'll close this!

I thought about including a "circle" when using `odo push` instead.

[2018-11-01 14:51] #911 closed

[2018-11-01 15:08] cdrage opened #915 "Feature request: Improving logging / UX / UI"
Many other CLI tools incorporate spinners / progress bars / colours and "clean" formatting into their tools.

I request that we add:
- [x] Coloured output
- [x] Unified formatting (outside of glog, use only glog for debugging like what we are doing now), however, add more concise output.
- [x] Spinner / loading (issue here: https://github.com/redhat-developer/odo/issues/829)

[2018-11-01 16:39] #770 closed

[2018-11-01 16:41] kadel commented on #647
I go this error even with the new implementation.

[2018-11-01 16:47] kadel opened #916 "`odo create nodejs --local .` fails"
[kind/bug]

## What versions of software are you using?

Operating System :

Output of `odo version` :

## How did you run odo exactly?
[code]
## Expected behavior

the same as when `odo create nodejs` is run

## Actual behavior

[code]

## Steps to reproduce the behavior

[code]

## Any logs, error output, etc?

## Do you have any idea what may have caused this?

## Do you have an idea how to sol

[2018-11-01 16:56] kadel commented on #873
0 is OK, everything other than that is an error, that is standard Linux way. I believe that this is POSIX standard. 1 is usually considered as a general error

http://tldp.org/LDP/abs/html/exitcodes.html
https://www.gnu.org/software/libc/manual/html_node/Exit-Status.html

I just tested `odo create` with`--git` and `--local`, `odo create --git` returns 0 if run was successful and 1 if failed. the s

[2018-11-01 17:21] anmolbabu opened #918 "Automated workflows with Odo"
[kind/Feature]

## Which functionality do you think we should add?

I as a developer of an application, should have a way to describe how and what my deployment is composed of how the different parts of my deployment are exposed, configured, interact etc.. And Odo exposes a command that reads this deployment description(should be very simple compared to what kubernetes/oc already provides) and the

[2018-11-01 18:55] #852 closed

[2018-11-02 06:52] dgolovin commented on #872
[code]

Note `https://192.168.42.33:8443/version/openshift?timeout=32s 404 Not Found in 0 milliseconds` line in output.

[2018-11-02 07:49] surajnarwade commented on #647
@kadel , can you post the examples you used and logs ?

[2018-11-02 09:58] kadel commented on #445
@geoand yes, the same mechanism could be used here.
The question is if there is such label that will help us to find the right directory.

@surajnarwade @mik-dass have you find something?

[2018-11-02 10:22] geoand commented on #445
@kadel I would need to dig further, but from the quick checks I did, there did seem to be proper `s2i` labels we could utilize

[2018-11-02 11:02] kadel commented on #445
It looks like there is `com.redhat.deployments-dir` label that points to that dir.

[2018-11-02 11:07] geoand commented on #445
I am pretty sure that if we go down the go binary route, we will be able to make supervisord work seamlessly with s2i in a maintainable manner (much more than the bash scripts that test for the presence directories :P )

[2018-11-02 11:08] kadel commented on #869
@jorgemoralespou correct. and after checking for `.s2i`,  we look for `/usr/libexec/s2i/assemble` and `/usr/local/s2i/assemble`, if assemble is elswere it fails.

[2018-11-02 11:10] kadel commented on #869
@geoand

Not sure but I think it should be possible. But that would mean that we have to add oc binary to the image.

I belive that this is the best way. This will make the script more complicated, and mantaining it as bash script will be painfull.

[2018-11-02 11:12] geoand commented on #869
@kadel, the more I think about it, the more I agree with creating a binary from some simple go code :)

[2018-11-02 11:13] surajnarwade commented on #445
@kadel , we already discussed about this label: `com.redhat.deployments-dir`

[2018-11-02 11:14] kadel commented on #647
will do once it happens again

[2018-11-02 11:34] kadel commented on #872
it looks like the `version/openshift` api endpoint was removed in 3.11.
This kind of make sense as they are switching  everything to api groups

[code]

yes, I think that would be the safest way to do it.

[2018-11-02 11:36] kadel commented on #445
this label is not label in imagestream but container (docker) image label

[2018-11-02 11:42] surajnarwade commented on #918
@anmolbabu , can you give an example here ? how this feature/flow should look like

[2018-11-02 11:43] syamgk commented on #890
closing since all the tasks associated with it are finished and its live now

[2018-11-02 11:43] #890 closed

[2018-11-02 11:43] surajnarwade commented on #912
cc @jankleinert

[2018-11-02 11:49] surajnarwade commented on #834
@jeffmaury , `kubectl` has something similar which returns only client version (without talking to server)

[code]

are you talking about something similar ?

[2018-11-02 12:37] kadel opened #919 "Timeouts for component unit testes on on appveyor"
https://ci.appveyor.com/project/odo-bot/odo

There are too many timeouts for component unit test on appveyor.
I suspect that this might be caused by #820. @anmolbabu  can you check it?
If you login to appveyor using your github, you should have permissions to restart jobs etcc...

[code]

[2018-11-02 13:33] anmolbabu commented on #919
It seems the issue is randomly occurring because, I just triggered a appveyor build and it passed as in https://ci.appveyor.com/project/anmolbabu/odo it also passed on the PR itself

[2018-11-02 15:05] jeffmaury commented on #834
Yes the idea is for a tooling based on odo to check if the odo has the correct required version so no need to call the server

[2018-11-02 19:15] jankleinert commented on #912
I'm happy to contribute to this in whatever way is most helpful. I think we also need to talk about the watch command more in the docs.

[2018-11-05 07:34] mik-dass commented on #869
@anmolbabu Why is this issue closed? The fix #924 isn't in yet nor is https://github.com/redhat-developer/odo-supervisord-image/pull/3

[2018-11-05 07:47] anmolbabu commented on #869
@mik-dass I am not sure how it got closed I'll reopen it right away

[2018-11-05 09:23] kadel commented on #869
it got closed because of your commit message ;-)

[2018-11-05 09:30] anmolbabu commented on #869
Oh :)

[2018-11-05 11:28] jorgemoralespou opened #926 "`odo catalog list/search` revamp"
[kind/Feature]

## Which functionality do you think we should add?
We should remove from the `odo catalog list/search xxx` signature the need to specify service or component. We need `odo` to be smart enough and show both, and additionally add to the signature of list a way to filter (narrow down the list of results) based on type and name, while search should search in most/all of the possible me

[2018-11-05 13:36] #332 closed

[2018-11-05 14:10] kadel commented on #647
[code]
[code]

[2018-11-05 15:16] cdrage commented on #647
I keep getting the above issue in my PR here: https://github.com/redhat-developer/odo/pull/848

I keep running into this false-positive..

[2018-11-05 16:01] cdrage commented on #347
I feel as though we've improved in terms of error messages since I last re-opened this issue. I'm going to close this for now :+1:

[2018-11-05 16:01] #347 closed

[2018-11-05 16:12] jorgemoralespou opened #927 "java component does not work on pod restarts"
[kind/bug]

## What versions of software are you using?

Version, latest from repository at time of writing.
[code]

## How did you run odo exactly?
[code]

You should see now a map in the browser, which is the app.

Restart the pod. Scale it to 0 and scale it back to 1.

[code]

## Expected behavior

You should still see the map once the application restarts

## Actual behavior

The application i

[2018-11-05 16:16] cdrage commented on #776
UPDATE:

Volumes are actually already tested within e2e testing here: https://github.com/redhat-developer/odo/blob/master/tests/e2e/e2e_test.go#L901

[2018-11-05 16:18] cdrage commented on #776
Closing!

[2018-11-05 16:18] #776 closed

[2018-11-05 16:21] cdrage commented on #603
Looks like this has been re-enabled :+1:

[2018-11-05 16:21] #603 closed

[2018-11-05 16:33] #771 closed

[2018-11-05 16:34] cdrage commented on #864
Closing this as old code has been removed #866

[2018-11-05 16:34] #864 closed

[2018-11-05 16:34] jorgemoralespou opened #928 "odo link don't understand --component flag"
[kind/bug]

## What versions of software are you using?

Operating System : macOS 10.14

Output of `odo version` :
[code]

## How did you run odo exactly?

[code]

[2018-11-05 16:34] jorgemoralespou commented on #928
cc/ @geoand

[2018-11-05 16:41] jorgemoralespou opened #929 "Implement unlink command"
[kind/Feature]

## Which functionality do you think we should add?
Provide `odo unlink` command for unlinking components from another component/services.

Subtask of https://github.com/redhat-developer/odo/issues/171

cc/ @geoand

[2018-11-05 16:41] geoand commented on #171
#856 makes link work by injecting a secret into the DC

[2018-11-05 16:42] geoand commented on #929
Thanks @jorgemoralespou

I will fix this immediately after #856 is merged

[2018-11-05 17:30] jorgemoralespou commented on #843
@geoand I have tried to create 2 services of the same type, and the second one is not provisioned:

[code]

The name of the resources created are dependant on a parameter called DATABASE_SERVICE_NAME, so if I do create the service with this parameter and different value, I can deploy both services:

[code]

@geoand This service name is part of the template and it's not uniform amongst services cre

[2018-11-05 17:33] geoand commented on #843
Ah yes, this issue 😎

I remember looking into this a little but not coming up with an easy fix.
We will have to investigate futher

[2018-11-05 18:34] jorgemoralespou commented on #843
Easy tests.

Create a new project and application:
[code]

Create a service:
[code]

- The first secret is the one with the provided parameters to the servicebroker via the command line, hence empty.
- The second one, `mongodb` is the created secret with the default parameters provided from the template to the service broker by the TSB.
- The third one, `database` is created by the ServiceBinding

[2018-11-05 20:16] geoand commented on #843
Thanks for the analysis @jorgemoralespou!

[2018-11-06 05:59] anmolbabu commented on #869
Changed the size to `M` from `L` as it turned out way smaller from my previous estimate
I know I am bad at estimation ;) specially when the thing is alien to me :P

[2018-11-06 06:02] geoand commented on #869
@anmolbabu let me know if I can help out at all :)

[2018-11-06 06:04] anmolbabu commented on #869
@geoand Yes I am sure there might still be things that I might be missing so could you please review https://github.com/redhat-developer/odo/pull/924 and https://github.com/redhat-developer/odo-supervisord-image/pull/3 meanwhile I'll fix the tests

[2018-11-06 06:05] geoand commented on #869
@anmolbabu Will do :)

[2018-11-06 06:11] anmolbabu commented on #869
Yo!! Thanks a double ton @geoand

[2018-11-06 08:57] metacosm opened #933 "Use curl instead of wget in e2e tests."
[kind/Enhancement]
## What should odo do differently? Which functionality do you think we should change?
Use `curl` instead of `wget` in end to end tests.

## What are you trying to do?

`wget` is not installed by default on macOS which means that the tests require an installation step first.

[2018-11-06 09:58] kadel commented on #647
@cdrage can you try to debug it?  I'm getting in only once in a while :-(

[2018-11-06 10:46] kadel opened #937 "Suggestions for application name"
parrent: #902

 Suggestions for application name:
 -  `odo app delete`
 - `odo app describe`,
 -  `odo app`
 - `odo app set`
 -  every command that has `--app` flag

[2018-11-06 10:47] kadel opened #938 "Suggestions for URL name"
parrent: #902

- `odo url delete`

[2018-11-06 10:49] kadel opened #939 "Suggestions for component names"
parrent: #902

Suggesting component names:
 -  `odo delete`
 -  `odo component`
 - `odo component set`
 - `odo link`
 -  `odo push`
 -  `odo watch`
 -  + every command that has `--compnent`` flag

[2018-11-06 10:50] kadel opened #940 "Suggestions for project names"
parrent: #902

Suggesting project names
 -`odo project delete`
 - + every command that has `--project` flag

[2018-11-06 10:51] kadel opened #941 "Suggestions for storage names"
Suggesting storage names:
 - `odo storage delete`
 -  `odo storage mount`
 -  `odo storage unmount`

[2018-11-06 16:52] cdrage opened #943 "Add Pod TimeOut configurator to `odo utils config` / fix current e2e tests"
So I figured out what's happening with tests currently failing. Essentially:

1. We run the tests
2. The tests take wayyyy too long since we're maxing out TravisCI
3. Depending on TravisCI's workload / bandwidth / internet it may or my not fail.

To fix:
As per this error: https://travis-ci.org/redhat-developer/odo/jobs/450912699#L815

The fix is actually to *increase* the PodTimeout:

https://git

[2018-11-06 18:35] mik-dass commented on #940
@kadel I want to work on this as #939 will need this to be completed first

[2018-11-07 10:21] kadel commented on #943
OK, it makes sense to have this configurable, but lets call this option as something that is more user-friendly.  How about `pushTimout`?

[2018-11-07 10:21] kadel commented on #940
why #939 needs this?

[2018-11-07 10:31] #835 closed

[2018-11-07 12:36] #872 closed

[2018-11-07 16:32] cmoulliard commented on #647
I also observe this problem randomly ;-)
Scenario tested : https://github.com/snowdrop/snowdrop-cloud-devex/blob/master/examples/persistence-service-catalog.md
[code]

[2018-11-07 16:34] cmoulliard commented on #647
Is it because we try to upload all the content of the target folder and not only the file defined as binary with the `odo create` command ....

[2018-11-07 17:56] #652 closed

[2018-11-07 20:45] metacosm opened #948 "Use kube client timeout instead of performing timeout in odo?"
[kind/Enhancement]

## What should odo do differently? Which functionality do you think we should change?
Kube client can be configured with a timeout. Since the odo client relies on the kube client, it would make sense to use the kube timeout instead of managing timeouts ourselves?

## What are you trying to do?
Using kube client timeout would allow us to remove the custom timeout management code

[2018-11-08 08:34] geoand commented on #708
I think that #924 will make this redundant since the labels of the docker images will be utilized to extract this exact configuration

[2018-11-08 09:16] kadel commented on #943
After this is implemented, we can remove what has been done in #943

[2018-11-08 09:32] cmoulliard opened #950 "odo push all the target directory content and not the binary file"
## What versions of software are you using?

Operating System : macos

Output of `odo version` : odo v0.0.14 (618c6d3)

## How did you run odo exactly?

When we create a component to push a binary file using this command `odo create redhat-openjdk18-openshift:1.4 my-spring-boot --binary ./target/my-spring-boot-0.0.1-SNAPSHOT.jar` and next we do a `odo push`, then the content of the target director

[2018-11-08 09:51] geoand commented on #950
@cmoulliard I can confirm this issue exists even from the latest `master`. Although the behavior is not correct, it does not cause an problem. The Java s2i image is still perfectly capable of running the jar in the `/deployments` directory.
We should definitely look into fixing this based on your investigation, but I think we can live with it for the moment :)

[2018-11-08 11:39] geoand commented on #899
+1 from me

[2018-11-08 11:43] jorgemoralespou commented on #950
@geond I disagree. We need to change this so that push only pushes the binary that is provided. It affects speed and can potentially affect behavior if there are multiple jar files in the target folder.

[2018-11-08 11:54] geoand commented on #950
@jorgemoralespou OK :)

[2018-11-08 12:36] kadel opened #952 "Move e2e tests to ci.centos.org"
We are starting to have quite a few issues with our e2e tests. They are slow and there is a lot of timeouts.

As a first step, let's move all our existing e2e tests from travis-ci to ci.centos.org.

[2018-11-08 12:38] kadel commented on #927
closing this as a duplicate of #445

[2018-11-08 12:38] #927 closed

[2018-11-08 12:45] kadel commented on #926
How should `odo catalog list` output look like?
There should still be an option to filter just services/components something like `odo catalog list --services` and `odo catalog list --components` and default would be everything (the same flags for the search)

There might be different columns for each type, so we should probably display them in two separate tables.
Maybe somehting like this?
[code

[2018-11-08 12:51] kadel commented on #891
It doesn't because those are not commands, but arguments for commands 😬

[2018-11-08 12:54] kadel commented on #647
this can't be a root cause. This happens even with component that has been created as `odo create --local`

[2018-11-08 15:09] cdrage commented on #784
@kadel @jorgemoralespou @cmoulliard

Am I correct in saying that we are blocked on https://github.com/redhat-developer/odo/issues/785 before proceeding / implementing the machine-readable output for Odo?

[2018-11-08 15:12] metacosm commented on #950
@geoand pick it up, man! :)

[2018-11-08 15:17] cdrage opened #953 "Getting rid of `odo create` and instead use `odo component create`"
I feel as though we should refactor the way that we are using commands as the scope of the project becomes *much* larger.

We should follow a `odo <component> <action>` for all commands. For example: `odo create` should just be `odo component create`.

It doesn't make sense to prioritize components over services / storage / etc and not follow the common conventions.

It does however make sense to

[2018-11-08 15:19] jorgemoralespou commented on #800
Proposal was merged

[2018-11-08 15:19] #800 closed

[2018-11-08 15:30] jorgemoralespou commented on #953
Reading the complete issue, where you're referring just to how the documentation shows, I'm ok with that.

[2018-11-08 15:42] cdrage commented on #953
@jorgemoralespou Yeah, I'm talking with regards to the documentation.

With the documentation, should we instead prioritize / change the documentation to show `odo component create` and *still* keep the alias?

[2018-11-08 15:44] metacosm commented on #953
I agree. If it was up to me, as stated in #779, I'd remove the aliases altogether ;)

[2018-11-08 15:46] geoand commented on #950
I am looking into this and although I have identified the problem I don't expect to have a fix anytime soon, basically because this is the first time that I am looking into go and kubernetes related IO code :)

[2018-11-08 16:50] geoand commented on #950
I created a [fix](https://github.com/redhat-developer/odo/pull/954) that I think works (tested it a few different scenarios and it works).
Please give it a try :)

[2018-11-08 17:05] jorgemoralespou commented on #926
Yes, I think that given the different output for every command, we need to show both as separate outputs, like what you get when you do `oc get pods,svc`

Also, I think there should be one option to narrow down results, and then there should be an option to filter the results, by default by name, and additionally by other fields:

Default filter on name:
[code]

Filter on another field.
[code]

[2018-11-08 17:07] jorgemoralespou commented on #953
-1 to remove the aliases.

[2018-11-08 18:15] mik-dass opened #955 "No new line in odo app describe"
No new line in `odo app describe` error message when there is no active application
[code]

[2018-11-08 18:41] cdrage commented on #829
I've taken this up and pushed it to https://github.com/redhat-developer/odo/pull/917

[2018-11-09 09:05] #777 closed

[2018-11-09 11:02] geoand commented on #854
@kadel @jorgemoralespou Do we have an initial issue where the design and or differences between `--local` and `--binary` we discussed?

[2018-11-09 14:07] kadel opened #960 "New suggestion system broke path suggestion in bash/zsh"
[kind/bug]

If I run `odo create wildfly --local ./<tab>`  I don't get path suggestions :(

[2018-11-09 18:12] mik-dass commented on #960
@kadel Added a quick PR for this. But the PR currently doesn't work for `~` and `../` but it does work for `/` and other normal situations

[2018-11-10 10:33] geoand commented on #854
@jorgemoralespou Thanks!

As someone you has never used `dotnet` but that is somewhat familiar with `odo`, I would expect to just use `--local` instead of binary, so I agree that the issue could perhaps be addressed with better documentation

[2018-11-10 12:40] tmds commented on #854
I don't understand why the behavior for binary isn't changed when the argument is a folder. It wouldn't break anything.
As I said before, I'm not sure why the tool distinguished between local and binary. Maybe we can remove binary? Then there is no confusion on what option to use.

[2018-11-12 08:37] #955 closed

[2018-11-12 09:03] #869 closed

[2018-11-12 09:28] surajnarwade commented on #834
closing this since #935  is merged

[2018-11-12 09:28] #834 closed

[2018-11-12 09:52] jorgemoralespou commented on #854
Basically we want to keep the notion of when you're pushing something that has already been locally built vs something that needs to be built in the container.
This will allow us in the future to support different images than s2i images, which are the only thing we can support ATM.

This means that until this is fixed, you need to use `--local ./bin/Release/netcoreapp2.1/publish` and will achieve

[2018-11-12 09:58] geoand commented on #854
@jorgemoralespou I agree that makes a lot of sense.

I do think however that this support will require a fair amount of more work that what was put into #954 :)

[2018-11-12 10:11] tmds commented on #854
It shouldn't be much work to make binary for a directory use the same implementation as local.
That will bring the expected odo UX also for .NET Core developers.

Improving performance for uploading directories can be considered a separate issue (independent of .NET Core).

[2018-11-12 10:13] geoand commented on #854
@tmds Agreed that it shouldn't be _too_ much work, but it will definitely be more than I put into the PR I linked :)

[2018-11-12 10:17] metacosm commented on #854
Maybe `--local` should be renamed to `--source` and make `--binary` work with directories, because `--local` doesn't really convey much information about what it's about…

[2018-11-12 11:37] jorgemoralespou commented on #854
@metacosm But also `--source` could be interpreted as can provide any url that accepts source code, which can be a local file system or a remote git repository.

Many terms could be ambiguous and selecting one over the other will be difficult. But in any case, I think it's something we can challenge, whether `--local` should be changed to something more clearly understood.

@jankleinert @gshipley

[2018-11-12 12:04] syamgk commented on #952
As the step 1. https://wiki.centos.org/QaWiki/CI/GettingStarted#head-e22a33cdce4ad83057616201c437c0bf9097c05e

created request add odo to ci.centos.org here https://bugs.centos.org/view.php?id=15460

[2018-11-12 12:19] surajnarwade commented on #937
since #934 is merged, closing this

[2018-11-12 12:19] #937 closed

[2018-11-12 13:43] kadel commented on #928
fixed in #932

[2018-11-12 13:43] #928 closed

[2018-11-12 13:46] kadel commented on #193
closing in favor of https://github.com/redhat-developer/odo/issues/926

[2018-11-12 13:46] #193 closed

[2018-11-12 15:14] jorgemoralespou commented on #854
@mhausenblas, it would only for local source, hence the question. For git based source, there's --git, as this flag changes the behavior of the interactive development pod.

[2018-11-12 15:34] mhausenblas commented on #854
Sorry for not being clear @jorgemoralespou I meant `--source` for both local and Git source. KISS.

[2018-11-12 16:18] kadel commented on #960
Reopening this, as #962 was supposed to fix this only partially.  But I couldn't every even that :-(

[2018-11-12 16:35] #933 closed

[2018-11-12 16:57] kadel commented on #883
I've just verified that both are working when openjdk image is used instead of wildfly

[2018-11-12 16:57] #883 closed

[2018-11-13 05:18] surajnarwade opened #965 "odo login should check insecure-skip-tls-verify from kubeconfig"
[kind/bug]

## What versions of software are you using?

Operating System :

Output of `odo version` :

## How did you run odo exactly?

## Expected behavior

## Actual behavior

if certificate is self signed, odo login asks for verification even insecure-skip-tls-verify: true has been specified in ~.kube/config (oc honors this field)

## Steps to reproduce the behavior

## Any logs, error output,

[2018-11-13 05:45] GrahamDumpleton opened #966 "odo watch should ignore files it can't find"
[kind/bug]

## What versions of software are you using?

0.0.14

Operating System :

CentOS

Output of `odo version` :

[code]

## How did you run odo exactly?

Am using watch behaviour by running:

[code]

The problem is that if a temporary file is created, which is then deleted before odo processes the file, odo will raise an error and exit rather than ignore the file.

[code]

This can occur wh

[2018-11-13 07:30] #828 closed

[2018-11-13 10:00] #846 closed

[2018-11-13 11:58] kadel commented on #598
there is a test related to this issue https://github.com/redhat-developer/odo/blob/0ee8c4ed778181dce21b5d9b8a898338573611b8/pkg/occlient/occlient_test.go#L1906

It is probably still valid, but need a little bit of investigation

[2018-11-13 13:03] metacosm opened #968 "Further refactor code base to use Context object"
[kind/Enhancement]

## What should odo do differently? Which functionality do you think we should change?
Nothing externally… :)
However, with the inclusion of a `Context` object to track the runtime state of the application after a command is parsed, it would make sense to:

- [ ] Remove `occlient.Client.Namespace` and replace it by `genericclioptions.Context.Project` to make sure these two don't

[2018-11-13 13:22] girishramnani commented on #899
if we add support for branching, shouldn't we consider specific commits or tags?. usually the approach I have seen is something like this  `https://example.com/vpc.git?ref=v1.2.0` where ref supports tags, branches and commits.

[2018-11-13 14:08] metacosm commented on #899
+1 if we add this feature, this should work with an arbitrary ref, not just branches

[2018-11-14 07:35] surajnarwade commented on #555
Closing since #826 and #699 is merged :tada:

[2018-11-14 07:35] #555 closed

[2018-11-14 08:03] surajnarwade commented on #842
I tried again an worked well for me, closing this.

@yohanswanepoel , if you faced problem again, feel free to repoen

[2018-11-14 08:03] #842 closed

[2018-11-14 08:05] surajnarwade commented on #166
closing this since we now have `--app`  flag

[2018-11-14 08:05] #166 closed

[2018-11-14 08:15] surajnarwade commented on #167
Closing since, Now odo has this functionality,

[code]

[2018-11-14 08:15] #167 closed

[2018-11-14 11:15] kadel commented on #784
Would it make sense to use Kubernets objects syntax for machine-readable output?

Examples:
[code]
[code]

`odo create` if successful would also return the description of the component that was created
`odo list` would return list of component objects

What do you think @jorgemoralespou @cmoulliard @sspeiche?
@dgolovin is this something that you could work with?

How would be handle errors? It wou

[2018-11-14 11:22] kadel commented on #628
This should be implemented  similarly to https://github.com/redhat-developer/odo/issues/846

[2018-11-14 12:42] kadel commented on #926
Would it make sense to have `odo catalog list --search java` instead of `odo catalog list --filter java`?

I also think that we could get rid of `odo catalog search` completely as it would be essentially the same as `odo catalog list --search java`

[2018-11-14 12:55] kadel commented on #926
We have the following columns for components:
- name
- project
- tags

 and for services:
- name
- plans

that means that `--filter` could look like this:
 - `project=myprojec` - list only components in given project
 - `tags=v1` - list only components with given tag
 - `name=java` or just `java` - list components and services with given name
- `plans=default` - list only services with given plans

[2018-11-14 12:58] kadel commented on #899
agree it should be universal and take any ref.

Is `?ref` something that is standard or used anywhere else?

[2018-11-14 13:02] girishramnani commented on #550
I can pick this up

[2018-11-14 13:18] kadel commented on #445
@mik-dass  - will work on odo/client side
@surajnarwade  - initContainer / cluster side

[2018-11-14 13:18] geoand commented on #445
I'll be happy to assist with this one should anyone need it

[2018-11-14 13:37] jankleinert opened #978 "Provide a more clear error message for odo login when authentication fails"
[kind/Enhancement]

First of all, I'm very excited to see the new support for login and logout directly supported in odo!

When using odo login, if you enter an incorrect password, you get the following output:

[code]

It may not be clear to users that that message means login failed due to authorization issues. Could the message be clarified to be something more like what oc login displays, wher

[2018-11-14 13:42] #950 closed

[2018-11-14 13:42] geoand commented on #950
Fixed in: 7379c138

[2018-11-14 13:44] kadel commented on #907
lets address this after #908

[2018-11-14 13:48] cdrage commented on #453
PR here: https://github.com/redhat-developer/odo/pull/942 closes this issue.

[2018-11-14 13:48] #453 closed

[2018-11-14 19:20] dgolovin opened #982 "Latest release v0.0.15 is missing `odo-darvin-amd64.gz` and `odo-linux-amd64.gz` files"
[kind/bug]

SHA256_SUM file mentions those files, but they are not available for download.

[2018-11-14 20:42] cdrage commented on #982
@dgolovin Just updated! Seems that our last release broke Travis and it didn't completely finish uploading.

I've uploaded both!

[2018-11-14 20:42] #982 closed

[2018-11-14 20:44] metacosm opened #984 "Context is not properly initialized during completion"
[kind/bug]

## What versions of software are you using?

Operating System : irrelevant

Output of `odo version` : 0.0.15

## How did you run odo exactly?
Trying to use context values in a completion handler doesn't lead to the expected results (i.e. flags aren't taken into account)

## Expected behavior
Context should be properly initialized so that completion handlers can adapt their suggestions

[2018-11-14 20:47] metacosm commented on #984
Fix has been tested locally but would benefit from code provided by #959

[2018-11-15 07:36] syamgk commented on #628
so this means If `-w` flag is present then show the logs and block the shell. on
`odo create python --git https://github.com/openshift/django-ex.git`
other wise exit the command without showing the msg `Component 'xxxxxx' was created and port xxxx/TCP was opened` ?
@kadel @jorgemoralespou

[2018-11-15 09:34] #940 closed

[2018-11-15 10:38] kadel commented on #628
yes

I think that this is realted to #830.  That is something that we will add later.

[2018-11-15 10:48] kadel commented on #511
This was fixed thanks to #622  and #924

[2018-11-15 10:48] #511 closed

[2018-11-15 11:05] jorgemoralespou commented on #784
@kadel I would think this more of a `--dry-run` command rather than the machine readable output.

For machine readable output I think we would need to provide the same type of output for every action but in different format, which means, that if you currently get as output of `odo create ...` something like this:

[code]

In yaml output would be:
[code]

Or something similar :-D

[2018-11-15 11:13] jorgemoralespou commented on #926
@kadel, yes to every comment in your previous comments.

Last comment I could agree with you. Not sure yet if we're getting the right experience on catalog about components and services, and not sure we should even use the catalog for components. I would need also to think it through.

Adding my team. cc/ @gshipley @marekjelen @jankleinert @grahamdumpleton @ryanj @joshix @mhausenblas
Can you guys

[2018-11-15 11:18] jorgemoralespou commented on #899
I would rather add flags, that can easily be interpreted/completed by the interactive mode that add complex syntax.
Eventually, this would translate to a buildConfig in Openshift (https://docs.openshift.com/container-platform/3.9/dev_guide/builds/build_inputs.html#source-code), and they use `ref` as the internal name, but use `#` in the git notation to separate the value, which I've always found w

[2018-11-15 11:20] jorgemoralespou commented on #907
@kadel I would prefer reverse order, this one before #908. Memory is a bigger constrain to the deployments than cpu.

[2018-11-15 11:45] anmolbabu commented on #907
Based on priority, since @geoand is busy with other priority items, we(@anmolbabu and @geoand ) mutually agreed to swap the issues amongst us and hence I am reflecting the same here on the respective issues

[2018-11-15 13:07] mik-dass commented on #960
@kadel @anmolbabu It might be a better idea to fix it upstream. WDYT?

[2018-11-15 13:29] kadel opened #988 "odo watch doesn't propagate file deletions"
When I'm running `odo watch` on a directory and a file gets deleted, `odo watch` should also delete that file from the pod.
Currently, it doesn't do that, instead of that it just tries to push the nonexisting file.

It means that if I deleted a file from my source code, I have to run `odo push` to make sure that remote source code is the same as the local one

[2018-11-15 13:42] #984 closed

[2018-11-15 14:39] cdrage commented on #915
So coloured output = Having a bit of colors with regards to erroring / information / success.

With regards to unified formatting, I was going more in the lines of using a more formatted way, the example here #829 shows what I mean with `odo create`.

[2018-11-15 16:10] kadel opened #989 "odo watch - stop triggering push for non existing files"
If file gets created and deleted inside the delay interval `odo watch` still tries to push changes to the pod, even though there is no file to push.

You can see that if you run `odo watch` and then try to execute `touch tmp; rm tmp`.

[2018-11-15 22:27] jeffmaury opened #992 "odo login seems to erase .kube/config"
[kind/bug]

## What versions of software are you using?

Operating System : Win10 Pro

Output of `odo version` :
[code]

## How did you run odo exactly?

`odo login api.rh-us-east-1.openshift.com --token=`

## Expected behavior
Previous contexts in `.kube/config` should be preserved

## Actual behavior
odo seems to erase the `.kube/config` file and a single cluster/context is then present

## Step

[2018-11-16 06:44] kadel commented on #992
verified. This is not good. @surajnarwade

[2018-11-16 07:00] kadel commented on #899
I don't have anything against flags.
I expected that you will be against it :-D as you always prefer options that require less typing :-)

Let's use `--ref` flag. It will allow us to use one flag for tag/branch/commit hash.

We could also add separate flags `--branch`, `--tag`, `--commit` but that would be just 3 flags that do exactly the same thing.

[2018-11-16 07:13] girishramnani commented on #899
+1 on that

On Fri, 16 Nov 2018, 12:30 Tomas Kral <notifications@github.com wrote:

[2018-11-16 07:46] syamgk opened #994 "odo update cmd imporvement adding wait flag"
[kind/Enhancement]

## What should odo do differently? Which functionality do you think we should change?

`$ odo update`
can have an option to choose between
-  prevent from following the logs and unblock the shell than waiting for the build to finish
-  blocking the shell and streaming the build logs
## What are you trying to do?

doing `odo update` and its taking a while(till the build to finis

[2018-11-16 08:36] syamgk opened #995 "fix `odo update` cmd without specifying component name"
[kind/bug]

## What versions of software are you using?

Operating System : Linux 4.16.0-2-amd64 : Debian x86_64 GNU/Linux

Output of `odo version` : $ odo version
odo v0.0.15 (2f7ed497)

## How did you run odo exactly?

using odo cli i was running the below cmd
`odo update --git https://github.com/openshift/nodejs-ex.git`

## Expected behavior

it should pic the current component if the component

[2018-11-16 09:31] girishramnani commented on #550
Resolved this issue using https://github.com/redhat-developer/odo/pull/996

[2018-11-16 09:56] #938 closed

[2018-11-16 10:06] surajnarwade commented on #992
@kadel fixed the bug in #997

[2018-11-16 10:06] mik-dass commented on #816
@kadel Done

[2018-11-16 10:13] surajnarwade opened #998 "`odo component list` should error out"
[kind/bug]

## Expected behavior

[code]

## Actual behavior

[code]

[2018-11-16 10:14] surajnarwade commented on #978
@jankleinert , that is completely handled by `openshift`, we don't have control over it

[2018-11-16 10:52] kadel commented on #998
this is tricky, as `odo component <name>` is there to switch active component and someone could create a component that is named `list`

[2018-11-16 11:15] geoand commented on #952
@syamgk Do you have any idea how long it takes to get approved for ci.centos?

I am asking because if this is going to take a long time, perhaps it makes sense to also explore other options (like Semaphore or CircleCI)

[2018-11-16 11:15] geoand commented on #952
@syamgk Do you have any idea how long it takes to get approved for ci.centos?

I am asking because if this is going to take a long time, perhaps it makes sense to also explore other options (like Semaphore or CircleCI)

[2018-11-16 12:55] kadel commented on #998
this is related to #953  and #779

[2018-11-16 13:01] kadel commented on #793
I'm going to close this.
If the user wants to ignore editor temporary files he/she can run `odo watch --ignore ".*\.swp"`.
After #800 there will be an option to save this to the configuration file.

`odo watch` currently doesn't' fail if there is a file that was deleted before `odo watch` tries to copy files to the pod. And there is a  ticket for further improvement -  https://github.com/redhat-de

[2018-11-16 13:03] #793 closed

[2018-11-16 13:13] jorgemoralespou commented on #899
This is a corner case. I like less going in common scenarios. Else, supported via flags. How many times a developer will use this flag? That's usually the question.

So, +1 to `--ref` and prior documentation that it supports branch and tag names.

[2018-11-16 17:39] cdrage commented on #899
The `--ref`, `--branch`, `--tag` and `--commit` flags all LGTM.

@girishramnani Want to proceed with the implementation?

[2018-11-17 05:31] girishramnani commented on #899
Sure.

On Fri, 16 Nov 2018, 23:09 Charlie Drage <notifications@github.com wrote:

[2018-11-17 10:38] anmolbabu commented on #960
Seems to work for me as below:

[code]

[2018-11-17 16:47] girishramnani commented on #550
@kadel this issue can be closed now

[2018-11-17 17:53] anmolbabu commented on #550
@girishramnani Normally in your commit msg or as a comment on your PR before its merge you can say fixes #<issue no> by which the issue is automatically closed when the PR is merged. I can close this issue for you

[2018-11-17 17:53] #550 closed

[2018-11-19 07:14] jeffmaury opened #1003 "Invalid login message"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
odo version

When no kube config file exists, the following message is displayed:

[code]

I think it should be `odo login` instead

## Why is this needed?

For a better user experience

[2018-11-19 08:29] kadel commented on #899
Ok, let's just add one flag -  `--ref`. Documentation should explain that this can be used for any git reference (branch, tag, commit).

[2018-11-19 08:30] anmolbabu commented on #960
Ideally, looking at their current code, I doubt posener/complete would work well on windows at the moment :disappointed:

[2018-11-19 09:36] girishramnani opened #1004 "Support for running e2e tests on an existing project"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
A flag or env variable to run e2e tests on a existing project instead of creating new one.

## Why is this needed?
This could help us test custom component types in the future and run e2e tests on clusters which do not have component types the tests expect ( wildfly is not present in our open platform oc cluster )

[2018-11-19 09:46] mik-dass commented on #960
@anmolbabu I will try to check on windows if I find a suitable machine

[2018-11-19 13:34] kadel opened #1007 "Suggesting component type in odo create command"
When I type `odo create` and hit tab, I should get suggestions/autocompletion for components types (`odo catalog list components`). This should include versions/tags.

[2018-11-19 14:14] kadel opened #1008 "e2e test for odo update is failing randomly"
[code]

[2018-11-19 17:11] cdrage opened #1009 "Incorrect help for `odo component`"
Help says:

[code]

However, the command does not work:

[code]

[2018-11-20 03:03] #1003 closed

[2018-11-20 06:28] #992 closed, assigned to surajnarwade

[2018-11-20 09:48] mohitsuman opened #1010 "Incorrect SHA256 checksum for odo cli v0.0.15"
## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: v0.0.15

## Bug
We need to download odo cli for vscode. The SHA256 is incorrect for `odo-darwin-amd64.gz`.

[2018-11-20 10:12] kadel opened #1011 "odo config - Default ignore list for odo watch"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
One of the things that should be configurable using   #800 ( https://github.com/redhat-developer/odo/blob/master/docs/proposals/odo-config-file.md ) should be a list of the filters for `odo watch --ignore`.

There should be some default filters, that are always ignored if the user doesn't specify something else.

##

[2018-11-20 10:13] kadel commented on #1011
Implemented this after https://github.com/redhat-developer/odo/blob/master/docs/proposals/odo-config-file.md

[2018-11-20 10:14] kadel commented on #793
@jorgemoralespou good point. I've created https://github.com/redhat-developer/odo/issues/1011

[2018-11-20 10:16] kadel commented on #1011
I think that we should keep default ignore list as slim as possible.
If we try to put everything that we can think of there, it will just lead to confusions.

I would start with something that all users would need and that is `.git`.
I don't think that it makes sense to add there editor specific files.

[2018-11-20 13:00] mik-dass opened #1012 "File completion for update command"
File completion support like `create` command

[2018-11-20 13:02] apupier opened #1014 "Support Multi-components from a single github repository"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

I guess most of the commands are affected

## Why is this needed?

Most used Fuse booster is designed this way https://github.com/jboss-fuse/fuse-springboot-circuit-breaker-booster and it seems a regular way of packaging several components with tight lifecycle.

currently I have this kind of error

[code]

[2018-11-20 13:22] apupier commented on #1014
if trying to call on parent folder:
[code]

[2018-11-20 13:35] #995 closed

[2018-11-20 14:07] jrichter1 commented on #1010
I've just checked and it looks like 'odo-linux-amd64.gz' still doesn't check out with its value in SHA256_SUM

[2018-11-20 14:11] jrichter1 commented on #1010
There still seems to be an error with the linux pack

SHA_256SUM file:
ee74b8a301245b98fce94954739df10cf0fbf1220a1167d2614205393d63c01b odo-linux-amd64.gz

sha256sum odo-linux-amd64.gz:
09693d23a3b803dc0a6a530a41e85778b6e33fa9a668a63513f7e98935f074b2  odo-linux-amd64.gz

[2018-11-20 14:55] kadel commented on #1008
full verbose output
[code]

[2018-11-20 15:08] kadel commented on #1008
The error is probably coused because we are doing two updates to DC in sequance.

once here
https://github.com/redhat-developer/odo/blob/19643bf79a3d8fdc2489411dd42d25bed05c5d5d/pkg/component/component.go#L575
and righ after that again
 https://github.com/redhat-developer/odo/blob/19643bf79a3d8fdc2489411dd42d25bed05c5d5d/pkg/component/component.go#L581

this is not good

[2018-11-20 15:57] kadel commented on #1008
This needs to be fixed in the code. We should need only one update api for DeploymentConfig!

[2018-11-20 16:45] apupier opened #1016 "Error message for a missing component was clearer in 0.14 than in 0.15"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows
- Output of `odo version`:

[code]

## How did you run odo exactly?

from command-line

## Actual behavior

odo push --local c:\ws\workingDirectoryForTest\fuse-rest-http-booster
Pushing changes to component:
unable to get component source

## Expected behavior

something more explicit like in odo 0.14:

odo push --

[2018-11-20 20:05] jankleinert opened #1017 "odo login returns incorrect help message when user has no projects"
[kind/bug]

## What versions of software are you using?
- Operating System: macos 10.14
- Output of `odo version`:
odo v0.0.15 (29a07286)

Server: [REMOVED]
OpenShift: v3.11.16
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?
odo login -u user1 -p [REMOVED]

## Actual behavior
odo new-project is not a valid command

[code]
## Expected behavior

[code]

## Any logs, error output, etc?

[2018-11-20 20:12] cdrage commented on #1010
@jrichter1 @mohitsuman

I've gone ahead and double-checked everything! Each and every file and updated the release.

[2018-11-20 20:48] dgolovin commented on #647
I still can replicate this issue on windows. Most of the time it works after `read/write on closed pipe` printed to stdout, but sometimes it fails right after it.

[2018-11-20 23:25] cdrage opened #1019 "Update release documentation."
Just ne minor thing to update the documentation:

 - In the release, TravisCI will set the release BACK to draft. Make sure you put it back to release

I'll push a PR for this soon.

[2018-11-20 23:28] #1019 closed, assigned to cdrage

[2018-11-21 07:09] surajnarwade commented on #1017
Hey @jankleinert , thanks for raising this issue. Unfortunately, We don't have control over what text we print  after login, because openshift takes care of it.
Now to tackle this solution, what we can do is, create alias `odo new-project` for `odo project create`.
WDYT @kadel @cdrage ?

[2018-11-21 08:32] kadel commented on #1017
This is a side effect of how we implemented the `odo login` :-(
We don't control the message as it comes from the openshift code.

The only option, if we don't want to reimplement login ourselves is to add `odo new-project` alias. This alias should be hidden from the `--help`, as this is only placed where it will be used.

@surajnarwade I remember that we discussed this a while back, I thought tha

[2018-11-21 08:43] #1012 closed

[2018-11-21 12:32] jankleinert commented on #1017
Does the entire message come from openshift? It has 'odo' in the message text, so are you already doing some kind of search/replace on text you get back from openshift? I 100% realize I don't know how this all works, so this may not be possible,  but could we do something similar with the new-project part of that string?

I worry that if we make an alias for new-project that it's still confusing s

[2018-11-21 14:32] apupier opened #1024 "Support out of the box springboot application"
[kind/Feature]

## Which functionality do you think we should add?

Currently, SpringBoot applications are not supported out of the box. This kind of modification is required https://github.com/snowdrop/spring-boot-http-booster/blob/a5b271f3bf1356d5e46b75ef7d463ea7d462c1a9/pom.xml#L194 .

The issue is that by default there are 2 jars generated and copied to the java s2i image. Only the uberjar nee

[2018-11-21 14:34] geoand commented on #1024
Although I am not an s2i expert, I am strongly in favor of the first proposed solution and would be willing to work on it.

Also cc @kadel to get his perspective as well :)

[2018-11-21 14:36] geoand commented on #1024
Let's also keep in mind that although this manifests itself OOTB with Spring Boot, it affects any Maven project that produces multiple jars (either by explicit configuration or lack of changing the defaults)

[2018-11-21 14:47] kadel commented on #1008
The ideal approach here would be to get the DC, do all required modifications on the Go struct level, and then call openshift api with Update. Or something like that ;-)

[2018-11-21 14:49] geoand commented on #1008
Understood! I'll look into it :)

[2018-11-21 15:14] kadel opened #1025 "gzip artifacts that are uploaded to appveyor"
Artifacts that are uploaded to Appveyor should be gzipped to save space.
We are already over the limit of the space available.
gziped odo binary has around 12M, not compressed is around 45M, this will help a lot

[2018-11-21 15:14] kadel commented on #1025
@syamgk do you think it will be possible?

[2018-11-21 19:35] cdrage commented on #779
@kadel

Should we go ahead with this implementation?

I see that we've opened up https://github.com/redhat-developer/odo/issues/998 which is another issue related to these semantics.

[2018-11-22 00:08] GrahamDumpleton opened #1028 "When running odo version, should report server details if when not logged in."
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Reporting by ``odo version``.

It doesn't provide server version details when RBAC doesn't permit access.

[code]

At the same time, ``oc`` and ``kubectl`` have no issues.

[code]

## Why is this needed?

Would be good to see it be consistent and that it can work like ``oc`` and ``kubectl``.

It could be a notable i

[2018-11-22 04:02] syamgk commented on #1028
This was fixed in https://github.com/redhat-developer/odo/commit/16b54740bd62dfeab53c98400fa0fcd149d8d32f

I can see you are on Odo version  v0.0.14
this fix came out on v0.0.15

[2018-11-22 05:03] GrahamDumpleton commented on #1028
Oh crap. I was supposed to be using the latest. I must have stuffed things up when I was changing the build for this image which was bundling ``odo``. Thanks.

[2018-11-22 05:19] GrahamDumpleton commented on #1028
Reopening this issue. The variation I am testing isn't fixed in 0.0.15.

[code]

[2018-11-22 07:37] syamgk commented on #1028
It seems its working for me,
it will be helpful if you can you share the log of `odo version -v 9`?

[2018-11-22 07:46] GrahamDumpleton commented on #1028
Seems to die because doesn't have explicit port specified, which it should be able to infer from fact ``https`` is used.

[code]

[2018-11-22 07:46] kadel commented on #483
this will be one of the topics for f2f

[2018-11-22 07:51] GrahamDumpleton commented on #1028
Note that the twist in this is that is after having set up a custom context. Doing that as doing this inside of a container in OpenShift.

[code]

If I add the port, then it doesn't fail in the same way, but still doesn't give server version because it doesn't then like is a self signed certificate.

[code]

It should default the port to 443 if ``https`` is used. And for getting server version, it

[2018-11-22 07:53] GrahamDumpleton commented on #1028
Or should say, should honour the certificate authority from the context in this case.

Even then, for ``oc version``, it perhaps shouldn't grumble about self signed certificate either.

[2018-11-22 07:56] GrahamDumpleton commented on #1028
Ignore comments about certificate authority, it is just the port, and potentially self signed certificate, that is the issue. In the latest test didn't set up the arguments properly to have certificate authority set on the cluster context.

[2018-11-22 08:00] GrahamDumpleton commented on #1028
I am going to add the port when setting the context in my stuff. Will at least get around the issue. Still feel that ``odo`` should default the port to 443 if is ``https`` though and not get confused.

[2018-11-22 08:04] kadel commented on #634
@surajnarwade
This can happens for example if you import images from somewhere else.
You can also easily reproduce this if you enable xpass addon for minishift (most of the images there are without latest tag)

[2018-11-22 08:12] kadel commented on #1028
You are right that is bug, odo should do that.

We didn't notice this before because if you use `oc login` or `odo login` than the port in kubeconfig gets automatically populated even if you don't specify it in your command (`oc login https://mycluster.com` will add `server: https://mycluster.com:443` to kubeconfig)

[2018-11-22 08:59] kadel commented on #1017
Sadly the whole message comes from  openshift :-(
Lucky for us it is cleverly implemented to autodetect the command name, this is why you can see `odo` and not `oc`. (https://github.com/openshift/origin/blob/c236a874abc06c08b1253b5a1db6cc7a87442a3a/pkg/oc/lib/errors/login.go#L61 https://github.com/openshift/origin/blob/02d8ae1ed77da9fea9e3deb7fecade8bf3117445/pkg/oc/cli/login/loginoptions.go#L301)

[2018-11-22 09:03] #919 closed

[2018-11-22 12:15] syamgk commented on #1025
fixed on #1029

[2018-11-22 12:15] #1025 closed

[2018-11-22 13:47] geoand commented on #1024
We need to make one correction based on a chat that @apupier and I had:

A Spring Boot application created from start.spring.io **will** work with odo, since the default behavior of the spring boot maven plugin is to add the `.original` suffix to the code-only jar.
However there seems to be fairly widespread use of the `classifier` "trick" (see: https://github.com/jboss-fuse/fuse-rest-http-booster

[2018-11-22 14:40] #1008 closed

[2018-11-22 15:04] metacosm commented on #785
Actually, this is not finished: #1002 only deals with moving classes to their proper spot, there is still much to do to accomplish the complete refactoring.

[2018-11-22 15:30] kadel opened #1031 "odo fails when automaticaly generated component name is too long"
[code]

this is also related to long application names as DeploymetConfig name contains both app name and component name

[2018-11-22 15:35] cdrage opened #1032 "Add regression tests against multiple versions of OpenShift"
Within our (hopefully new) CI system, we should have:

 - Multiple tests against different versions of OpenShift (3.11, 3.10, 3.9, etc.)
 - Backwards compatibility tests against older versions of Odo. For example, launching a component with 0.0.15 CLI, upgrading to 0.0.16 and then continuing to use Odo.

[2018-11-22 15:44] kadel opened #1033 "two utils packages"
Do something with the two packages that has the same name

- `"github.com/redhat-developer/odo/pkg/util"`
- `"github.com/redhat-developer/odo/pkg/odo/util"`

how about renaming `github.com/redhat-developer/odo/pkg/odo/util` to `github.com/redhat-developer/odo/pkg/odo/cmdutils`?

[2018-11-22 16:31] geoand commented on #1024
@jorgemoralespou If I am not mistaken, an executable jar will always have the `Main-Class` entry in it's `META-INF/MANIFEST.MF` file.
So would it not be possible to check the existence of that entry in the jars files, and if there is only one that contains such an entry s2i could use it?

[2018-11-22 21:04] metacosm commented on #1033
I agree that these two packages need to be examined and possibly merged…

[2018-11-23 07:01] geoand commented on #1024
In such cases of course such a strategy wouldn't work and the scripts could just fall back to what they do now.

What I am proposing is simply an optimization for the common case, that the build of a project produces both an uberjar and a regular jar.

[2018-11-23 08:54] girishramnani commented on #899
blocked until https://github.com/redhat-developer/odo/pull/991 gets merged

[2018-11-23 09:44] apupier opened #1035 "Support hot-reload of SpringBoot based applications"
[kind/Feature]

currently using the java s2i image registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift and odo watch, there is a rebuild of the image, so we have an "automatic redeployment" which can take several seconds/minutes to occur. it would be better if when modifying java classes, the Java class is hot reloaded.

some discussions on the subject https://issues.jboss.org/browse/

[2018-11-23 09:51] jorgemoralespou opened #1036 "Support for .odoignore file"
[kind/Feature]

## Which functionality do you think we should add?
We need to support having an `.odoignore` file in the code directory so that when the users do `odo watch` and `odo push` these files are not monitored or pushed to the server.

Initially the creation and management of this file should be manual, but once #803 is done, the initial configuration for this file should come from global

[2018-11-23 09:55] jorgemoralespou commented on #1035
This is something we should do in the future as part of optimizing the configuration for the runtimes.
There's a huge dependency, at least, with #803 for this.

[2018-11-23 09:59] jorgemoralespou commented on #1036
The list of default ignored files is tracked in #1011

[2018-11-23 10:02] girishramnani commented on #1004
there are some tests which test interactions related to `project` so we cannot confine all the tests under one  project

[2018-11-23 10:03] jorgemoralespou commented on #1024
IMHO this is a corner case to regular development, so I 👎 to implement this logic in s2i.
From the 3 options laid out by @apupier I would think we need the last 2:
In case of binary build: `have odo copying only the uberjar in case of springboot project`
In case of source build: `have odo setting an environment variable to specify which jar to launch`

[2018-11-23 10:07] #887 closed

[2018-11-23 10:11] geoand commented on #1024
@jorgemoralespou You have much more context than I do so what you describe sounds good to me :)

The options you describe however mean that `odo` will need some extra logic to understand the project type. Do we have some kind of proposal for adding such functionality?

[2018-11-23 11:17] kadel commented on #816
@mik-dass  can you please check out list that we have covered from your list?

[2018-11-23 11:32] geoand commented on #907
Now that this has been implemented I will go ahead and work on #908

[2018-11-23 11:56] kadel commented on #779
with what? @cdrage can you please write a summary of what you propose?

[2018-11-23 12:07] kadel commented on #784
Yep, that was my idea, the only difference is that I would omit `result: success`, as you haave this information also in form of exit code. And adding more info to the yaml structure, to contain full info about the component that was just created. I was thinking about using Kubernetes resource format because it has standard basic strucutre and versioning.

[2018-11-23 12:10] #760 closed

[2018-11-23 12:47] surajnarwade opened #1037 "`make install` is failing"
[code]

[2018-11-23 13:06] mik-dass commented on #816
@kadel You mean ticking the covered functions? Already done. Only one function is covered :D

[2018-11-23 13:42] kadel commented on #816
yes, thank you :-)

[2018-11-23 14:09] kadel commented on #1037
fix is in https://github.com/redhat-developer/odo/pull/1038

[2018-11-23 14:38] kadel commented on #703
@cdrage is this still issue?

[2018-11-23 14:40] kadel commented on #1009
it should say `odo component set frontend`

[2018-11-23 14:42] #908 closed

[2018-11-23 14:42] #1037 closed

[2018-11-23 14:44] geoand commented on #899
#991 has been merged

[2018-11-23 16:05] cdrage commented on #779
With the above comments, I'd like to implement this via this approach:

 - Move `odo create` commands to `odo component create` as well as other commands (`odo list`) in order to have it consistent with other commands for `odo`.
 - Add aliases for the current commands, for example, `odo create` will link to `odo component create`
 - Change documentation to reflect that we prefer `odo component cre

[2018-11-23 16:37] geoand commented on #1032
This makes me wonder, what is minimum supported version of Openshift? Do we have that in the docs?

[2018-11-23 16:57] cdrage commented on #703
Nope, our recent Java implementation changes have fixed the issue. Just tested it with both :+1:
Closing!

[2018-11-23 16:57] #703 closed

[2018-11-23 16:58] geoand commented on #1024
If/when we have all the necessary pieces in place, I would be glad to work on this

[2018-11-26 06:07] surajnarwade commented on #965
Closing this since issue is being resolved

[2018-11-26 06:07] #965 closed

[2018-11-26 07:59] surajnarwade opened #1040 "Multiple URL creation fails for same component"
[kind/bug]

## What versions of software are you using?
- Operating System: Linux :heart:
- Output of `odo version`:

`odo v0.0.16 (HEAD)`

## How did you run odo exactly?
[code]

## Actual behavior

[code]

## Expected behavior

[code]

## Any logs, error output, etc?

[2018-11-26 08:50] kadel commented on #445
reopening as odo main repository has not been updated with new image yet

[2018-11-26 09:01] kadel commented on #1040
you can create two URLs for the same component, you  just have to specify names for the url

The following should work:
[code]

We should make sure that port number is part of the url name when creating url with the automatically generated name (url name is not specified by the user).

[code]

[2018-11-26 09:21] kadel commented on #779
@jorgemoralespou what do you think? Does it make sense to have short aliases but refer to full command in our documentation?

[2018-11-26 09:58] #916 closed

[2018-11-26 10:01] #445 closed

[2018-11-26 10:02] girishramnani commented on #899
@cdrage shouldn't we consider the update scenerio as well e.g. ` odo update --git https://github.com/openshift/nodejs-ex.git --ref v0.0.1` ?

[2018-11-26 10:48] kadel commented on #445
🎉

[2018-11-26 12:03] surajnarwade commented on #784
while working on https://github.com/redhat-developer/odo/issues/853, I was thinking about this issue as well, so I modified as follows:

* Output of `odo describe` which can be modified easily:

[code]

* `component describe` struct looks like this:

[code]

* for machine readable output, we can just marshal this struct into json and we can do something like:

[code]

WDYT @kadel  @jorgemoralespou

[2018-11-26 12:45] jorgemoralespou commented on #784
@surajnarwade to me looks ok, but only one thing. I would not have the result in Capitalized, but rather camelCase, as I think that seems to be the standard.

e.g.
[code]

[code]

[2018-11-26 12:48] jorgemoralespou commented on #779
Yes, I think I commented that I agree somewhere else. https://github.com/redhat-developer/odo/issues/953#issuecomment-437037247

[2018-11-26 12:49] surajnarwade commented on #784
@jorgemoralespou , this was just POC, I will add camelCasing. I am wondering, is it okay to have default output as YAML (as mentioned)

[2018-11-26 12:52] jorgemoralespou commented on #784
@surajnarwade what do you mean by default as yaml? Default should be `text`. What we have agreed is human readable text. These other machine readable outputs should only happen if you provide a `-o` (or whatever is defined) flag.

[2018-11-26 12:52] kadel commented on #953
Closing this as a duplicate of #779. This is just splitting the same discussion to two places. Lets continue this in #779

[2018-11-26 12:52] #953 closed

[2018-11-26 12:53] kadel commented on #779
ah, yes. Sorry, I forgot about that one :-(

[2018-11-26 12:58] kadel commented on #784
Default output should be something that is human readable, and it is easy to "parse" by just looking at it.

It can be something that resembles yaml. But it shouldn't be strictly yaml. Good visualization is the key factor.

[2018-11-26 13:04] kadel commented on #784
@surajnarwade

Your examples look a bit too verbose for "normal" output

for example here:
[code]

I think that somehting like this is much better as normal output
[code]

You don't have to dump all the information for storage,urls etc..... just important bits There are other commands to do that.

[2018-11-26 13:08] surajnarwade commented on #784
cool, I agree to the point @kadel @jorgemoralespou , thanks for the feedback

[2018-11-26 13:14] kadel commented on #1032
currently it is 3.9 https://github.com/redhat-developer/odo#requirements

[2018-11-26 13:16] geoand commented on #1032
Thanks!

On Mon, Nov 26, 2018, 15:15 Tomas Kral <notifications@github.com wrote:

[2018-11-26 13:17] kadel opened #1044 "remove oc requirements from docs"
[kind/Documentation]

## What did you find missing in the documentation?

readme, getting started guide and other documents are still refereing to `oc` or make use of `oc login`

This is not true anymore as with #555 user shoudn't need to use `oc` for anything

We need to update docs to reflect that.

[2018-11-26 20:21] cdrage commented on #899
@girishramnani Yes, we'll need to update this for `odo update` as well.

[2018-11-26 20:59] cdrage opened #1045 "Tests for odo --help"
We should add tests for `odo --help` and `odo -h`

There's been a few PR's where we've modified help commands / CLI but `odo --help` isn't tested and thus we don't realize it's stopped working until much later.

[2018-11-27 08:49] geoand opened #1047 "Execution of cli-doc results in a panic when no args are supplied"
[kind/bug]

## What versions of software are you using?
- Operating System: Linux
- Output of `odo version`: odo v0.0.16 (HEAD)

## How did you run odo exactly?

go run cmd/cli-doc/cli-doc.go

## Actual behavior

[code]

## Expected behavior

I expected to see a help message on how to use the `cli-doc`

[2018-11-27 09:54] #1047 closed

[2018-11-27 10:44] #966 closed

[2018-11-27 11:35] geoand commented on #1040
We actually do something similar with secrets: https://github.com/redhat-developer/odo/blob/79925b638963bf072515ea6ad533b48c7efdc1b0/pkg/occlient/occlient.go#L766

When we link components, we add the port number to the secret name and also add an annotation which can be used when searching for the secrets

[2018-11-27 13:10] mik-dass commented on #1040
But what if all the ports have been used by the urls and the user is trying to create a new url without name?

[2018-11-28 07:31] geoand commented on #1040
FWIW, for the secrets we also always add it (but of course secrets don't normally show up in odo, they are an implementation details)

[2018-11-28 09:17] kadel commented on #401
travis-ci added windows guests https://blog.travis-ci.com/2018-10-11-windows-early-release
we should investigate and try to use to to run e2e on windows

[2018-11-28 09:18] kadel commented on #401
It would be great to create one uniform e2e test that can run on all three platforms

[2018-11-28 10:39] kadel commented on #76
I've tested both `survey` and `promptui` on windows.

I have one issue with `promptui` on windows. When selecting something from the list the arrows keys don't work. I had to use the `vi` keys `j` and `k` to move up and down.

I haven't had this issue with `survey`.

Tested with regular `cmd.exe` terminal on Windows 10 inside VirtualBox on MacBook.

[2018-11-28 10:41] kadel commented on #1040
I would always add it to make it consistent.

[2018-11-29 06:49] #1044 closed

[2018-11-29 12:45] mohitsuman opened #1052 "self linking of the component should not be there using odo link"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: odo v0.0.16 (82968cb0)

## How did you run odo exactly?
Running odo from the binary.

## Actual behavior
If I do `odo link` on the component and pass the same component name in the --component parameter, it works.

e.g.   odo link nodejs --component nodejs

## Expected behavior

We should h

[2018-11-29 14:59] #853 closed

[2018-11-29 16:40] #785 closed

[2018-11-30 07:19] anmolbabu opened #1054 "Python component push consistently fails to update source after the first successful push"
[kind/bug]

## What versions of software are you using?
- Operating System: `Fedora 29`
- Output of `odo version`:
[code]
## How did you run odo exactly?
1. `odo create python --local . -v 4` on cloned https://github.com/OpenShiftDemos/os-sample-python
2. `odo push -v 4`
3. Made some changes to source cloned locally
4. `odo push -v 4`

## Actual behavior
`odo push` 2nd time fails for python compon

[2018-11-30 09:19] geoand commented on #1054
This looks like a problem with the supervisord image

[2018-11-30 09:21] geoand commented on #1052
Hi @mohitsuman

This indeed should not be possible, but I am curious to what led you to executing such a command?
Where you just trying to brake stuff or was something in the command  names or help not clear?

Thanks

[2018-11-30 09:32] geoand commented on #1054
@anmolbabu Actually I think this might be a corner case... Have you tried moving the project to another directory and using that?

When I tried it, it worked for me

[2018-11-30 09:41] geoand commented on #1054
The funny thing is that with the application we have in the source e2e tests, I cannot reproduce the error. I think that the `.s2i` directory is causing the problems :P

[2018-11-30 09:42] geoand commented on #1054
So I would say that we need to fix the supervisord to take this into account and also add a test case in source e2e to test this

[2018-11-30 10:03] geoand commented on #1054
The error seems to occur when `mv /tmp/src/* ./` is executed in the Python builder image's `/usr/libexec/s2i/assemble` script is invoked.

To my non-s2i expert eye, it seems like a bug in the Python s2i builder image. @surajnarwade do you have any more insights about this perhaps?

[2018-11-30 10:15] mohitsuman commented on #1052
Hi @geoand ,

We are working on OpenShift extension which uses odo under the hood. Now in the VSCode UI, when the user is given a list of components to link, it can be have the same component in the list and running the `odo link` succeeded into that.

We for now are handling this condition on UI and not showing the same component in the list to select, but it reminded us that `odo link` should al

[2018-11-30 10:18] geoand commented on #1052
@mohitsuman Thanks for the insight!

[2018-11-30 16:36] jorgemoralespou commented on #691
I think that current scope for `odo` is not to architect applications or be used for the outer cycle, but mostly only for the inner cycle, which means that you would not move applications from a cluster to a different cluster using odo. This will probably change in the future, but I would think that's long term goal.

Also, .kube/odo file will change when configuration proposal get implemented.

A

[2018-11-30 17:38] cdrage opened #1058 "Show build progress with odo push"
This was missed in PR #983

A flag such as --progress or --show should be added to `odo push` to show the current build progress of a component.

[2018-12-03 10:53] kadel opened #1060 ".odo config directory"
Add `.odo` config directory to keep all configuration related to the component with the component.

Proposal:
https://github.com/redhat-developer/odo/blob/master/docs/proposals/odo-config-file.md

[2018-12-03 13:21] kadel opened #1062 "Create structs for machine readable output"
related to https://github.com/redhat-developer/odo/issues/784

Define how the output will look like before starting with implementation.

The first stage should be showing it on json/yaml examples, and then defining go structs that are going to represent the output.

[2018-12-03 13:32] kadel commented on #1060
This is related to #600. We need to figure out all the information that needs to be stored in .odo so we can implement #600.

[2018-12-03 13:38] girishramnani commented on #784
we can also consider a `-filter "{{ .URLs }}"` similar to json paths in kuberenetes

[2018-12-03 13:52] kadel commented on #998
Closing this as it will be solved as #779

[2018-12-03 13:52] #998 closed

[2018-12-03 13:59] kadel commented on #829
closed in #917

[2018-12-03 13:59] #829 closed

[2018-12-03 14:09] kadel commented on #1058
flag could be something like `--show-log`

[2018-12-03 14:16] kadel commented on #1032
blocked on #952

[2018-12-03 14:21] cdrage commented on #862
This is a good example: https://github.com/redhat-developer/odo/pull/1059

[2018-12-03 14:31] cdrage opened #1063 "Add spinner for service create"
Quick issue, we should add spinners / logging for service create

[2018-12-03 14:45] kadel opened #1064 "autocompletion for `odo link`"
`odo link` should have autocompletion for both services and components

When I do `odo link <tab>` it should suggest me list of components and services that I have deployed. And that I can link component to.

[2018-12-03 14:49] kadel commented on #1063
I'm not sure if it makes sense to have a spinner for `service create`. It is not waiting for service to be created.

[code]

[code]

[2018-12-03 16:32] jorgemoralespou commented on #902
@kadel as previously we had `odo utils completion bash` for completion and the process to install bash completion has completelly changed (see https://github.com/redhat-developer/odo/blob/master/docs/completion-architecture.md#enabling--disabling-completion), we need to properly document this in the main help (currently in help it says `--complete` while in the linked doc says `-complete, but both

[2018-12-03 16:36] jorgemoralespou commented on #1058
+1 to `--show-log` as it's more intuitive. Completion do the trick to typing difference.

[2018-12-03 16:39] kadel commented on #902
Yep, I don't like it either. I would prefer to move it back to `odo utils`, we already have the  PS1 (`odo utils terminal`), those two should be together

[2018-12-03 16:41] jorgemoralespou commented on #1017
We need to know from `oc/kubectl` cli developers whether changing the behavior there is simple, and if the shift they are going to go though to move all these commands to plugins would provide a way to customize this behavior.

Addinc @soltysh and @juanvallejo for their insights.

[2018-12-03 16:53] geoand commented on #1063
I had a PR that added the wait flag but I think we closed it because it was very out of date.
That said I can easily create a new one and a spinner to it.
What do you think?

[2018-12-03 17:20] kadel opened #1066 "Detect that component has not been build yet"
[kind/Feature]

In the situation when a component is newly created and it doesn't have any source yet, supervisorD is restarting application over and over again. This creates a lot of ugly error messages.

It doesn't make sense to keep trying to start it if there is no application has been build yet.

odo should detect that the component has not been deployed, and prevent supevisorD from trying to

[2018-12-03 21:06] jorgemoralespou commented on #1063
I think it makes sense, but @kadel is the master :-D

[2018-12-03 21:10] geoand commented on #1063
Just give me the word @kadel and I will get on it 😁

[2018-12-03 21:39] jorgemoralespou commented on #1017
@soltysh so, in the path to move these commands to plugins there is no intent on changing some of this behavior?

@simo5 gave us hope (https://github.com/redhat-developer/odo/issues/555#issuecomment-420811773) in that in a not too distant future code would be more reusable. What @kadel explained is that currently is not.

What I'm asking here is if it code will eventually be more reusable, and if

[2018-12-03 21:45] jorgemoralespou commented on #1017
@kadel, can we just not "eat" the message we get back from `oc` when it's called? Is it directly outputting the message to stdout?
Can we not provide a streams implementation on the call to oc.login so that where can later strip that message, for the time being?

[2018-12-03 21:47] jorgemoralespou commented on #1066
This is one of the things that our own supervisor process, instead of a generic one, could potentially manage easily. We need to keep in mind that sooner or later, we'll need our own supervisor with a proper API to manage all these specific lifecycle events.

[2018-12-04 01:00] dgolovin opened #1070 "odo binary components fails to run when created from windows machine"
[kind/bug]

## What versions of software are you using?
- Operating System: windows 10 pro
- Output of `odo version`:  0.0.17

## How did you run odo exactly?

odo create redhat-openjdk18-openshift:1.4 backend1 --binary c:\Temp\Wild-West-Backend\target\wildwest-1.0.jar --app app2 --project myproject
odo push

## Actual behavior

in pods log
[code]

`/deployments/' folder content
[code]

[2018-12-04 07:55] dgolovin opened #1072 "odo commands output with colored text looks bad on Windows in cmd and powershell"
## What versions of software are you using?
- Operating System: Windows 10 Pro
- Output of `odo version`: 0.0.17 built locally from master

## How did you run odo exactly?
In windows cmd or powershell

## Actual behavior
Special sympols are printed instead of bullets and colored check marks.
![image](https://user-images.githubusercontent.com/620330/49426561-c984bb00-f755-11e8-9ef4-0fb641d5de78.png

[2018-12-04 08:00] geoand commented on #1064
@kadel I will pick this up and start working on it

[2018-12-04 13:21] jorgemoralespou commented on #600
There's (at least) 3 type of Java applications directory structure (that I have identified), and we need to make sure what level of support are we going to provide to each with this functionality. These typologies are identified based on my knowledge of maven. I guess that gradle will be similar.

1. single git repository per component
1. single git repository with an aggregator (multi-module) pro

[2018-12-04 15:12] kadel opened #1076 "supervisorD is leaving zombie processes"
restarting httpd via supervisor leaves zombie processes behind

[code]

[2018-12-04 15:32] metacosm opened #1077 "Add documented reusable, dummy OpenShift objects for testing purposes"
[kind/Enhancement]
## Which functionality do you think we should update/improve?
Not functionality related as this targets ease of testing: it would be neat to have a set of documented dummy OpenShift objects that can be reused across tests so that the bar to add new tests is lowered.

## Why is this needed?
Make testing easier / more fun!

[2018-12-04 15:44] cdrage opened #1078 "Change to uniform OK / Checkmarks"
Instead of mixing OK / ERR and checkmarks / X's we should have uniformed output.

For example:

Current:
[code]

Future:

[code]

[2018-12-04 16:13] cdrage commented on #1072
@dgolovin @kadel

Hey all,

So looks like the spinner actually works within Windows, the problem is the colouring..

https://github.com/fatih/color has been deprecated / unmaintained and colour support was never added for Windows.

I'm going to investigate a different library or just remove it all-together.

[2018-12-04 16:39] jorgemoralespou commented on #600
@kadel, it wouldn't work if you build in the component, as when you push it would only push that directory and not the root one, which has the pom.xml that is referenced in the subproj1/pom.xml as parent.
This is the case referenced in https://github.com/redhat-developer/odo/issues/1014

In order to work, you need to push from `myproj`.

[2018-12-04 17:18] kadel commented on #1076
I can see this also with nodejs

``
16  1716 ?        Ss   17:17   0:00 /bin/sh
1000160+ 18513  0.0  0.0  51704  1692 ?        R+   17:17   0:00  \_ ps afxu
1000160+     1  0.4  0.2 360060  9244 ?        Ssl  17:08   0:02 /var/lib/supervisord/bin/supervisord -c /var/lib/supervisord/conf/supervisor.conf
1000160+ 18275  0.8  0.0      0     0 ?        Z    17:17   0:00 [npm] <defunct>
1000160+ 18299

[2018-12-04 20:36] metacosm commented on #76
@kadel should we go ahead with `survey` then?

[2018-12-04 21:36] metacosm commented on #1072
Wondering if we're going to run in the same issue with the interactive mode… We might want to investigate: https://github.com/mattn/go-colorable

[2018-12-04 23:06] kadel opened #1084 "odo version should not error out when it can't connect to cluster"
[code]

exit code should be 0 and we should hide message about openshift cluster

[2018-12-04 23:07] kadel commented on #1084
closing as duplicate to https://github.com/redhat-developer/odo/issues/1028

[2018-12-04 23:07] #1084 closed

[2018-12-04 23:20] kadel commented on #1028
part with default ports will be fixed in #1030

but we still need to address the issue with the exit code

`odo version` should not exit with error code when it can't connect to cluster, and the error message should be probably hidden

[2018-12-05 07:36] geoand commented on #1024
@jorgemoralespou @kadel Do we have any larger issue/epic in place about providing odo the capability to recognize the type of project it's being used on and perform specific actions according to the project?

[2018-12-05 07:37] geoand commented on #1072
@metacosm I have created a VirtualBox VM on my machine that I am guessing I can use to test the interactive mode PR and see if it fails or. What would you like me to test?

[2018-12-05 08:34] jorgemoralespou commented on #1024
No, we don't, and actually is a good issue to write. OpenShift oc CLI does some recognition. Not sure if it's on the client side though. They were looking into a specific library from GitHub for such recognition. We should probably get their feedback on this.
@geoand do you want to write the issue?

[2018-12-05 08:38] geoand commented on #1024
@jorgemoralespou Sure thing! I will create the issue and add some java specific cases that could be useful but I will need the teams help in filling out more use cases from other environments

[2018-12-05 09:02] geoand opened #1085 "Give odo the ability to understand the type of project it is being used for and use that information to provide a more seamless experience"
[kind/Feature]

## Which functionality do you think we should add?

In it's current form, odo does not have any insights into the type of project it's being used for. All it knows (because the user supplied this information) is the s2i builder image that should be used to deploy the project on Openshift.

## Why is this needed?

Although the current situation ensures that odo can potentially work

[2018-12-05 09:30] kadel commented on #600
If this is not that common, It might be better to say that this is a structure that odo doesn't support. As we discussed this before, odo can't support everything.

[2018-12-05 09:34] kadel opened #1086 "odo --help shouldn't exit with error code"
[code]

exit code should be 0

[2018-12-05 09:58] kadel commented on #1060
@jorgemoralespou

Quick question about `<app-dir>/.odo/odo-config.local` vs `<app-dir>/.odo/odo-config`

Do I understand it correctly that
 -  `<app-dir>/.odo/odo-config.local`  will have stuff related to components, it's name, memory, cpu limits etc.....
 - `<app-dir>/.odo/odo-config`  will be just a local version of a global config `$HOME/.odo/odo-config`, so config for odo itself, like ignore l

[2018-12-05 09:59] #1078 closed

[2018-12-05 10:00] kadel commented on #1060
We could start with implementing `<app-dir>/.odo/odo-config.local`.
if `odo create ....` is run, it will automatically create a new .odo directory (if it doesn't exist) and save all flags that were used in the command to `odo-config.local` file.

if `.odo/odo-config.local` `odo create` should read its content and use values that are there for flags that were not specified.

[2018-12-05 11:37] mik-dass opened #1087 "Creating structs and related functions for Odo entities"
Odo entities should be represented as structs and they should have related functions like CREATE, DELETE, GET, LIST. This will help in machine readable output and also help in reducing the number of parameters passed to functions.

I would like to work on it and will create a simple sample PR for discussing design patterns

[2018-12-05 11:43] geoand opened #1088 "Remove multiple calls to API server in the component package"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Currently the are functions in `component` that repeatedly contact the API server just to pull out some very small piece of information. See for example `component.Update`.
This is bad for performance, could in some unlikely scenarios create race conditions but I would argue the most important thing is that it liter

[2018-12-05 11:52] #1064 closed

[2018-12-05 12:35] metacosm commented on #1085
How would this materialize at the UI level, though?

[2018-12-05 12:41] geoand commented on #1085
For what I have in mind, most things would be done behind the scenes (like setting environment variables to drive s2i).

One UI/UX change I can think of is that if odo knows what project it's working with, it can perhaps deduce the appropriate s2i image builder

[2018-12-05 12:42] metacosm commented on #1085
That's also kind of what I am thinking, however, how would `odo` know the type of project it deals with? Would we have a set of heuristics to detect it?

[2018-12-05 12:45] geoand commented on #1085
@jorgemoralespou mentioned that the `oc` team might have done something similar.
If nothing ready exists, then yes we would have to develop some heuristics

[2018-12-05 12:52] syamgk commented on #952
we got ci.centos.org account as of today!
am working on configuring it

[2018-12-05 13:18] metacosm opened #1089 "Improve user-facing documentation for completion"
[kind/Documentation]

## What did you find missing in the documentation?
Enabling and disabling completion is not very well documented from a user perspective. We should make it more obvious what is needed as well as how things work.

## What is the relevance of it?
Improves user friendliness.

[2018-12-05 13:23] kadel opened #1090 "Check updates on SupervisorD project"

[2018-12-05 13:34] kadel commented on #1031
we should also check for unsupported characters in directory names

[2018-12-05 13:43] girishramnani opened #1091 "Interrupting odo doesn't reset the terminal colors"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora
- Output of `odo version`:
[code]

## How did you run odo exactly?
`./odo create ruby --git https://github.com/girishramnani/ruby-ex.git --ref develop -v 4`

## Actual behavior
![screenshot](https://user-images.githubusercontent.com/6551988/49517267-c73f6f80-f8c1-11e8-91c0-575386b35c18.png)

## Expected behavior
The

[2018-12-05 13:46] jorgemoralespou commented on #600
@kadel, agree. And for the time being I would think this is ok. This is definitely not a pattern followed by  greenfield applications. Currently it can be found on many repositories in Github in many of the "quickstarts" for our projects (fuse, wildfly,...).
We should definitely document that it's only supported if you build locally and how it could be supported, and limitations, as once a project

[2018-12-05 14:12] cdrage commented on #1072
@metacosm Yeah, I was looking at https://github.com/mattn/go-colorable

If we add a function that detects Windows and switches the standard `os.Stdout` it'll work :+1:

[2018-12-05 14:15] kadel opened #1092 "local .odo config file"
We could start with implementing `<app-dir>/.odo/odo-config`.

`odo utils config set componentType 2Gi  ` will save memory value to `<app-dir>/.odo/odo-config`
`odo utils config set componentType 2Gi --global ` will save memory value to `$HOME/.odo/odo-config`

similarly:
 -  min-memory
 - max-memory
 -  min-cpu
 -  max-cpu
 - cpu
 -  ignore (for push and watch)
 - **component type (builder image)

[2018-12-05 14:15] kadel commented on #1060
converted the above to new issue https://github.com/redhat-developer/odo/issues/1092

[2018-12-05 14:17] kadel commented on #1092
lets do builder image first

[2018-12-05 14:33] #939 closed

[2018-12-05 15:48] jorgemoralespou commented on #76
@metacosm updating the issue with what we discussed on today's planning call. Yes, `survey` is the framework selected.

[2018-12-05 15:52] geoand commented on #1031
@kadel Are you still experiencing this with the latest changes to master? If so, against what openshift version?

Because I tried both OKD 3.10 and 3.11 and couldn't reproduce it

[2018-12-05 16:53] metacosm commented on #1086
Exiting with `2` code seems to be pretty standard for go tools when invoking help command.

[2018-12-05 17:41] kadel opened #1094 "Unlink service that was deleted"
After service gets deleted odo should "unlink" it from all services that link to it.

This requires to have "odo unlink" capability first #929

[2018-12-05 18:17] jorgemoralespou commented on #1085
@geoand the library they looked at was https://github.com/github/linguist

[2018-12-05 18:21] geoand commented on #1085
Thanks @jorgemoralespou!

[2018-12-05 18:30] kadel commented on #1076
might be related to https://github.com/ochinchina/supervisord/issues/60

[2018-12-05 18:37] jorgemoralespou commented on #1085
But the problem is that even if you know a repo has a pom.xml, you won't know what is the most appropriate image to use. What if there are many similar images that knows how to build java (maven) (e.g. java, fabric8-s2i, java-s2i, wildfly, eap,....)?

To the main topic of the issue, I did write some comments here: https://github.com/redhat-developer/odo/issues/600#issuecomment-444097323

[2018-12-05 18:59] cdrage opened #1095 "Add Odo to Chocolatey"
I'm just setting up a Windows VM and Chocolatey makes installation *so much easier*.

We used Chocolatey on another one of our projects. Let's use it with Odo to make the developer experience much better!

https://chocolatey.org

We've had previous issues opened regarding this:
 - https://github.com/redhat-developer/odo/issues/70
 - https://github.com/redhat-developer/odo/issues/145

Both of which

[2018-12-05 20:34] kadel opened #1099 "odo watch pushes files to the wrong directory"
a good way to reproduce this is with  https://github.com/openshift/nodejs-ex

[code]
now  change something in views/index.html

after watch triggers, refresh you won't see your changes in the webpage

The reason is that if you check `/opt/opt-root/src/` you will see that `index.html` is there instead of `/opt/opt-root/src/views`  where it should be. Basically, it ignores where the file is and alwa

[2018-12-05 20:51] kadel commented on #1076
I've quick fix:
 https://github.com/redhat-developer/odo-supervisord-image/tree/fix-zombie-problem
https://github.com/kadel/odo/tree/fix-zombie-problem

The problem is that we run supevisorD as pid1, pid1 should be also responsible for cleaning ophraned process, but supervisorD doesn't do that. Running https://github.com/Yelp/dumb-init  as pid1 solves that problem.

[2018-12-06 07:33] geoand commented on #1085
@jorgemoralespou I was thinking that we could include even deeper support, meaning that we could inspect the pom and make decisions based on that.
The way I see it, it would be great for runtime/framework experts to have the ability to encode their knowledge in odo making the developer experience as smooth as possible for users. In the case of maven, we might encode knowledge of Maven itself (like

[2018-12-06 07:51] kadel commented on #1099
This might be nodejs specific. I wasn't able to reproduce this with java

[2018-12-06 07:55] geoand commented on #1099
I just tried it with Java and was not able to reproduce it either

[2018-12-06 07:56] geoand commented on #1095
I'm learning new things everyday :P

[2018-12-06 07:57] geoand commented on #929
I will start work on this soon, I admit I had forgot about it :)

[2018-12-06 07:59] kadel commented on #1099
Starting to think  that using `io.openshift.s2i.destination` was not a good idea :-( we might go back to pushing files directly to `/opt/app-root/src`

[2018-12-06 08:01] geoand commented on #1099
We have more e2e tests now, so if we do that we should be able to see if anything breaks.
Should perhaps add watch e2e tests as well?

[2018-12-06 08:02] geoand commented on #1099
Maybe this is just a bug in the NodeJS s2i image that we should work around?

[2018-12-06 08:03] anmolbabu commented on #1099
Yeah I tend to agree with @geoand with may be a bug on nodejs s2i image repo

[2018-12-06 08:04] geoand commented on #896
Sorry but I sort of forgot what we are supposed to do with this :(

Can you please provide more information @anmolbabu @kadel ?

Thanks and sorry again!

[2018-12-06 08:10] anmolbabu commented on #896
@geoand If I remember correctly, the idea was to add a command like `odo component status <component_name>` may be even with project and app flags that will give information about the component like the memory, cpu and storage utilizations(current usage vs total provisioned for the component pod, which can be helpful in debugging component code for its developer) and also the status of the compone

[2018-12-06 08:12] geoand commented on #896
Thanks @anmolbabu !

Where would that component utilization information come from?

[2018-12-06 08:14] anmolbabu commented on #896
@geoand I think those stats should/may be available via some monitoring api that the openshift exposes..
We just need to find which one ;) I believe it should be available somewhere in the openshift console the monitoring tab if I remember correctly.. we probably need to reverse engineer it to find the api

[2018-12-06 08:16] geoand commented on #896
That makes sense, thanks @anmolbabu!

@jorgemoralespou Do you have any pointers about were to look for the monitoring API?

[2018-12-06 08:20] kadel commented on #1099
not really, as we are not copying the whole application, but only a single files, that is something that s2i was never designed to do

I supsect that if you try python image, you will see the same problem.
I also think that we haven't this problem before we started using this label.

Both are just my working theroies that I haven't verifed yet and I'm not sure if I get change to try it today :-(

[2018-12-06 08:22] anmolbabu commented on #1099
@kadel I'll try it post lunch

[2018-12-06 08:40] syamgk commented on #1031
@geoand i'm able to reproduce it
[code]

here in this case the directory name starts with `_` which is `_tmpro`

[2018-12-06 08:51] geoand commented on #929
Adding `size/L` since I'm also going to refactor link as part of this to include the new command organization pioneered in the `service` module

[2018-12-06 08:57] geoand commented on #1031
@syamgk Thanks! I haven't tried the underscore part yet, but I am also curious about the length constraint. I am thinking that it might no longer be an issue since I can't reproduce that problem

[2018-12-06 09:47] metacosm opened #1102 "Complete UI review"
[kind/Enhancement]
## Which functionality do you think we should update/improve?
While the UI has improved, there are still lots of inconsistency between how different commands output results.

## Why is this needed?
The UI should be consistent.

[2018-12-06 09:57] metacosm opened #1103 "Should push not do anything if there aren't any local changes?"
[kind/Feature]
## Which functionality do you think we should add?
`push` should not do anything and return immediately if there are no local changes.

## Why is this needed?
Not needed but would be nice! :)

[2018-12-06 09:59] geoand commented on #1063
Actually it seems like I had added the `--wait` flag for service linking, but not for service create. I can do that in the similar fashion if we think it makes sense

[2018-12-06 10:01] metacosm commented on #1085
I don't think that `linguist` will indeed be enough, and we might need to be able to provide `odo` extensions with a documented SPI so that people can indeed add their own framework / runtime detection tool and trigger appropriate actions.

[2018-12-06 10:08] metacosm opened #1104 "Suggest a valid input for commands which require such an input"
[kind/Feature]

## Which functionality do you think we should add?
For commands that require a user input, it would be nice to have a valid input automatically generated on pressing `tab` (i.e. using the completion mechanism) so that users can know what would be generated and have the opportunity to change it (and be lazy as well!). Might be difficult to implement without completely switching to f

[2018-12-06 10:21] geoand commented on #1085
@metacosm my thoughts exactly!

[2018-12-06 10:21] mik-dass commented on #1087
@kadel I have raised a WIP PR for the project code refactoring #1101 Please have a look and let's decide on a pattern to follow for other components

[2018-12-06 10:21] geoand commented on #1085
@metacosm Perhaps this would be interesting also in the context of odo plugins...

[2018-12-06 10:37] metacosm opened #1105 "Add odo ssh command"
[kind/Feature]

## Which functionality do you think we should add?
`odo ssh` command would allow a user to directly log into the currently active (or the appropriate one based on `component`, `application` and `project` flags) pod to be able to examine its state without having to first hunt it down.

## Why is this needed?
Not needed but would be nice for `odo` to help user diagnose issues / check

[2018-12-06 13:33] kadel commented on #1031
To reproduce this you have to first make sure that there are no applications.

[code]

[code]

[2018-12-06 13:39] geoand commented on #1031
Thanks @kadel !

[2018-12-06 14:04] #899 closed

[2018-12-06 21:40] jorgemoralespou commented on #647
@kadel seems as @jankleinert and @sspeiche are having issues pushing to node apps, which affects them and kubecon demos.

[2018-12-06 21:57] jankleinert commented on #647
I was having this issue yesterday evening with 0.0.17 pretty consistently. It was in my katacoda environment. My binary java component would always push fine, but my nodejs one was failing on push most of the time. It would fail on the Building Component step.

The katacoda environment is having unrelated issues today, so I can't confirm if it's still a problem there until that gets resolved. I'll

[2018-12-06 22:07] jankleinert commented on #647
I was able to get into the katacoda environment. With odo latest I can still reproduce the push issue. Here's the output:

[code]

Let me know what info, if anything, you need to help investigate.

[2018-12-06 22:13] sspeiche commented on #647
I see the issue on local Minishift 1.48 running OpenShift 3.11 with the Wild-West-Frontend and nodejs
[code]

[2018-12-07 06:27] amitkrout opened #1109 "Install completion fails on windows terminal like powershell and command prompt"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10
- Output of `odo version`:
[code]

## How did you run odo exactly?
Steps tp reproduce:
1. Use release version of [ODO-v0.0.17](https://github.com/redhat-developer/odo/releases/download/v0.0.17/odo-windows-amd64.exe) windows bit
2. Open terminal ```Powershell``` or ```command prompt```
3. Run ```odo-windows-amd64.exe

[2018-12-07 06:56] amitkrout opened #1111 "Improve UX of odo version output"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
[code]
I am concern about the last line ```the server has asked for the client to provide credentials``` of the output, rest LGTM. I could imagine beginning of the line should start with caps letter that is ```The server has asked for the client to provide credentials```.

## Why is this needed?
Just to improve user

[2018-12-07 07:15] surajnarwade commented on #1062
as per #1110,

* odo describe
[code]

* odo app describe

[code]

* odo url list

[code]

Looks good ? @kadel  @dgolovin @mohitsuman @cdrage ?

[2018-12-07 08:02] metacosm commented on #1109
Completion is currently only supported on `bash`, `zsh` or `fish` shells. No surprise here that it doesn't work on `powershell` or `cmd`.

[2018-12-07 09:35] geoand commented on #1094
This should be pretty easy to do once #1107 is in (which I am hoping will happens soon), so I am adding it to this sprint

[2018-12-07 09:54] kadel commented on #647
when I run it without silent flag i get this:
[code]

[2018-12-07 10:01] #1040 closed

[2018-12-07 10:10] jorgemoralespou commented on #647
So, this one seems a dependency issue, right?
One would have been able to verify this by bidding locally and pushing the
binary? How would that work with the nodejs application? What should one
provide as value for --binary?

[2018-12-07 11:52] kadel commented on #647
I don't think that you can do this with nodejs application.

This is error in the dependency installation process.

Ideally, you should see the full error in the log, but problem is that nodejs s2i assemble script runs `npm install` in silent mode, so if it fails you don't know why :-(

[2018-12-07 12:08] kadel commented on #1099
@anmolbabu  have you been able to determine why this affects python and nodejs but not java based images?

[2018-12-07 12:32] kadel commented on #1099
@jorgemoralespou @jankleinert @sspeiche  Please be aware of this bug, when you are demoing nodejs apps. `odo push` works but `odo watch` can break the app if you edit file that is subdirectory and not in the root folder of the project :-(

[2018-12-07 13:03] kadel commented on #1062
as discussed here https://github.com/redhat-developer/odo/issues/784#issuecomment-438627275 can we use Kubernetes object basic strucutre?
Fields like Kind and structs versioning would be great to make this future proof

[2018-12-07 13:17] kadel commented on #1028
reopening this as we also need https://github.com/redhat-developer/odo/pull/1030 to fix all issues described here

[2018-12-07 14:07] kadel commented on #1099
@geoand Is it possible that this was introduced with changes in https://github.com/redhat-developer/odo/pull/954 ?

[2018-12-07 14:12] kadel commented on #1086
I just tried a few go tools and every time it returns 0 for help.
Note that `go` (as a compiler) doesn't have a `-h` flag, but it has `odo help`, and that also returns 0

2 is returned when you run the command with nonexisting flag. It that case the help is shown and it returns 2

[2018-12-07 14:14] geoand commented on #1099
It can't exclude the possibility, but that change should only affect cases were a single non-directory file is specified. When the file is a directory, the old behavior should still be present

[2018-12-07 14:20] kadel commented on #1099
This is actually why I was starting to look at those changes. This is exactly this situation. Only one single file is being transferred  and it hits this part of the code https://github.com/redhat-developer/odo/pull/954/files#diff-6025e9b620e9321c03c11bf29e5c4dbdR2497

I still haven't figure out what is happening there with all the paths, but my current suspission is that the problem is somewhere

[2018-12-07 14:22] geoand commented on #1099
I see what you mean...
However it strikes me as odd that this is not problem in Java

[2018-12-07 14:22] geoand commented on #1099
I will test it again and make sure

[2018-12-07 14:36] geoand commented on #1099
Actually I may be seeing this as well with Java, I still need to check

[2018-12-07 14:56] jankleinert commented on #647
I think I've found the dependency problem:
1095 error 404 Not Found: har-validator@5.1.2
That version got unpublished for some reason.

I'm not sure which dependency is resulting in this problem, since we don't explicitly include it, but I'll put ^5.1.3 in our package.json and that should fix it for now at least. I'll update here once that's done and I've verified it works.

[2018-12-07 15:22] jankleinert commented on #647
Okay, that solved the problem for Wild-West-Frontend. The repo is updated. Thanks everyone for helping with this. It didn't even occur to me to go into the pod and check the npm logs - I'll remember that for next time.

[2018-12-07 16:00] #1086 closed

[2018-12-07 18:47] kadel opened #1117 "watch on binary component does't work correctly"
It looks like that for binary components only the first chagne is correctly deteted. Anything after that is not :-(

[code]

[2018-12-07 19:53] ryanj commented on #647
thanks for the quick fix on the missing dependency issue, @jankleinert!

[2018-12-10 03:34] GrahamDumpleton commented on #1054
FWIW, this is probably unrelated to the specific image. I have seen similar issue with ``nodejs``, but where it occurs when using ``oc watch``. More likely to do with persistent volume write through.

Example from ``nodejs`` image:

[code]

[2018-12-10 08:00] geoand commented on #1117
Very weird... Let me check this

[2018-12-10 08:22] girishramnani commented on #1092
@kadel should I consider a file lock for managing the config file? just in case if two people try to update the file at once. But this could give us annoying errors in case where the locks stay held.

[2018-12-10 08:22] geoand commented on #1117
@kadel I think I reproduce the problem.
It seems like watch is crashing, I see am seeing:
[code]

Unfortunately #1114 doesn't fix the issue either

[2018-12-10 08:33] geoand commented on #1117
The problem with this is that I can't seem to reproduce it all the time :thinking:

[2018-12-10 08:35] geoand commented on #1104
Which types of input do you have in mind @metacosm ?

[2018-12-10 08:36] geoand commented on #1103
How would odo know if there are any local changes since the last push?

[2018-12-10 08:44] mik-dass commented on #1036
@kadel How will be handle multiple .gitignore files in sub folders? And will .odoignore support multiple files in sub folders?

[2018-12-10 09:44] metacosm commented on #1111
I believe that this has already been addressed in #1100. Could you please check again?

[2018-12-10 09:45] metacosm commented on #1104
@geoand service / app / component names for example.

[2018-12-10 09:47] metacosm commented on #1103
Timestamp comparison? Not sure that it would indeed be worth the effort…

[2018-12-10 09:48] geoand commented on #1104
@metacosm I see, thanks!

[2018-12-10 09:48] geoand commented on #1103
Sounds like a nice to have, but I am worried about that it could create problems for us :)

[2018-12-10 10:53] amitkrout commented on #1111
@metacosm Sure, will check it on master.

[2018-12-10 12:11] #929 closed

[2018-12-10 12:44] #1076 closed

[2018-12-10 12:56] amitkrout commented on #1111
I am not able to get the same report message ```the server has asked for the client to provide credentials``` however i can see the same piece of [error message](https://github.com/redhat-developer/odo/blob/master/vendor/k8s.io/apimachinery/pkg/api/errors/errors.go#L350) is available in master which comes from the vendor side. I guess this is not in our control to update default message in vendor

[2018-12-10 13:12] metacosm commented on #1111
@amitkrout #1100 is exactly about this: `odo version` should not display any error message when `odo` cannot connect to the OpenShift cluster for any reason.

[2018-12-10 14:00] geoand commented on #76
I have been playing with the interactive mode PR and although it's awesome, I think we are sort of limiting ourselves.
I believe that interactive should be our default mode where you provide as much help as possible to developers whenever possible.
For example with the current situation, `odo service create dh-postgresql-apb` would fail because the user is expected to set a plan. Such a condition

[2018-12-10 14:42] geoand commented on #1117
Another peculiar thing is that we never see the failure when doing `odo push`.
That get's me thinking that we have perhaps some sort of race condition that occurs between `mvn package` (which creates the jar) and `odo watch` (which watches for changes to that jar)

[2018-12-10 14:46] #1089 closed

[2018-12-10 15:15] amitkrout opened #1118 "Add link to command completion index in getting-started.md file"
[kind/Documentation]

## What did you find missing in the documentation?
Like a major feature is is not hyperlinked as other functionality

## What is the relevence of it?
I believe command completion for odo is a great feature and this should be highlighted in getting-started.md file like other major feature. For example

[code]
It helps the user to find command completion feature and easily navi

[2018-12-10 15:17] amitkrout commented on #1118
@cdrage @metacosm Is this make sense ?

[2018-12-10 15:44] jorgemoralespou commented on #1105
Agreed. Not sure if ssh would be better than rsh, but feature should exist. This command exists in `oc`

[2018-12-10 16:00] jorgemoralespou commented on #1092
@girishramnani

How can 2 people modify a local (to the laptop) file at the same time?

No migration plan required.

[2018-12-10 16:37] jorgemoralespou commented on #1117
Can this be related to the broken pipe behavior seen in other issues (like https://github.com/redhat-developer/odo/issues/647)?

[2018-12-10 16:44] geoand commented on #1117
I can't be certain, but this seems different

[2018-12-10 16:55] metacosm commented on #1118
Yes, indeed, I missed that. You're welcome to open a PR, @amitkrout.

[2018-12-10 19:54] lholmquist opened #1119 "Failed to push component - Node.js"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora 29
- Output of `odo version`:

[code]

## How did you run odo exactly?

I was following the "deploy an application using ODO" section on the readme, but instead of using the nodejs-ex example, i used one of the RHOAR Node.js Starter Applicaitons, https://github.com/nodeshift-starters/nodejs-rest-http, which is just

[2018-12-11 03:48] kadel commented on #1119
this looks like the same error in #647

[2018-12-11 03:49] kadel commented on #1117
I think that this is a different issue.

[2018-12-11 04:00] kadel commented on #1117
This is one of our biggest technical debts :-(
@amitkrout could help us get started. Ideally,  we should collectively do it.

[2018-12-11 05:57] amitkrout opened #1121 "Integration test coverage for watch on binary component"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Integration test

## Why is this needed?
This is a follow up issue of #1117. Adding this test coverage helps to catch the regression for  watch on binary component

[2018-12-11 06:00] amitkrout commented on #1117
@amitkrout could help us get started. Ideally, we should collectively do it.

Yup i understand. I am new to ```GinkGo``` test frame work, so cannot not provide you the best suggestion atm as i am still understanding how this framework work. However this frame work looks similar to my previous project test frame work ```Godog```, so won't take much time to familiar with ```GinkGo```

Already we hav

[2018-12-11 07:07] geoand commented on #1117
@amitkrout I think that the basic tests for watch shouldn't too tricky to write. What we will definitely need is a way to stop the watch (which I am guessing will be done via `kill`).
The scenarios to test will probably be pretty similar to the ones we already test with push

[2018-12-11 07:14] anmolbabu commented on #1117
@geoand @amitkrout There are basic tests already that I added(including to start watch as a process and then terminate it gracefully post completion of tests) it only needs to be now enhanced to not just look at whether the changes as expected are also observed from logs(as currently) but also create a url and verify the change in rest api(intially it was not added bcoz the nodejs-ex that we use c

[2018-12-11 07:21] geoand commented on #1117
@anmolbabu I wasn't aware of that test, :+1:

Is there any specific reason why the test is not written in way that emulates how an external user/program would use watch?
I mean something like:
* `odo watch`
* sed a file (or in some cases is mv to ensure that a single file will be changed)
* ensure everything is OK (probably using the URL as you mentioned in the comment)
* repeat whatever else
* ki

[2018-12-11 07:36] geoand commented on #1117
Also I would love to have the watch e2e tests in their own file so they can be tested independently of the cmp tests (which are many :) )

[2018-12-11 07:36] anmolbabu commented on #1117
@geoand the above is the behaviour currently but the only difference is that we(I :P) are not doing a change that we can notice from the api exposed(because of reason in https://github.com/redhat-developer/odo/issues/1117#issuecomment-446096743)

[2018-12-11 07:37] anmolbabu commented on #1117
I agree...

[2018-12-11 07:45] geoand commented on #1117
I guess what I'm trying to say is that, although the implementation is impressive, it is testing things that matter somewhat, but aren't true indicators of success (like you have mentioned as well).
Another thing is that I believe that if we use simple shell commands in the e2e tests (like is done currently in other tests), it will be a lot clearer what has been tested and what has not - not menti

[2018-12-11 07:52] anmolbabu commented on #1117
Did you mean the `sed` like command usage instead of the current file open and write ?
I agree (may be bcoz they are more closer to real world case :) )...

No issues :) and I think the framework is used even by UT

[2018-12-11 08:08] geoand commented on #1117
comment deleted by accident :(

[2018-12-11 08:31] anmolbabu commented on #1099
@amitkrout As discussed on chat feel free to cover even this issue via e2e tests

Pointers: https://github.com/redhat-developer/odo/pull/820 and https://github.com/redhat-developer/odo/pull/975

Possible improvements:
1. Move watch tests to a separate file(with a new ginko target and hence independently testable) with more coverage of more scenarios
2. Trigger file modifications via simple shell c

[2018-12-11 08:39] geoand commented on #1099
I agree :100: with @anmolbabu

[2018-12-11 09:19] anmolbabu commented on #988
I have a few observations as under(please note they relate to watch at the moment):
1. Watch detects delete
2. Along with pushing updates, the detected deletes should be deleted for each of the following:
    a. deployments-dir
    b. backup dir -- odo maintained
    c. destination dir
3. Normal build flow
Deletions will be in-effect on component pod
Verified the above steps for:
a. Nodejs

[2018-12-11 09:24] amitkrout commented on #1099
@anmolbabu Cool!!! Thanks for the pointers

[2018-12-11 10:10] geoand commented on #843
I tried this again and I am indeed seeing the same problem.
The interesting thing however is that the same problem does not exist when using postgresql from the openshift ansible broker.

For example the following scenario works:

[code]

yields:

[code]

[2018-12-11 11:50] surajnarwade commented on #1062
Future Proof output structure:

* `odo describe`

[code]

* `odo app describe`

[code]

* `odo list`

[code]

@kadel , @jorgemoralespou , @cdrage @cmoulliard , does this look good :question:
I am still working on it though

[2018-12-11 12:08] #1118 closed

[2018-12-11 13:15] lholmquist commented on #1119
using the kvm driver.

So after reading that other issues comments, i saw what Jan said about how she had to fix the dependecies because something was missing. Looks like travis is erroring on the repo i was using because of a similar issue.  I'm going to remove the package-lock.json and try again once my minishift comes back up

[2018-12-11 15:41] #1031 closed

[2018-12-11 18:56] cdrage commented on #1062
That looks great. Although it does look VERY similar to a Kubernetes operator!

We should follow by example similar to this process: https://itnext.io/building-an-operator-for-kubernetes-with-the-sample-controller-b4204be9ad56

With regards to your "list" example @surajnarwade it looks like metadata is blank, is that intentional?

[2018-12-11 19:51] kadel opened #1128 "odo url open"
open a browser with the url

similar to `odo url create --open`

[2018-12-12 05:19] girishramnani commented on #1092
so we can just document if people want to manually rename the config files.

[2018-12-12 05:40] amitkrout opened #1129 "Use regular expression for string operation in testsuite"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
string operation like sed, awk should be replaced with inbuilt go package ```re```.

## Why is this needed?

Just to make sure the testsuite should run on all the platforms.

[2018-12-12 06:30] surajnarwade commented on #1062
@cdrage , as per https://github.com/redhat-developer/odo/issues/784#issuecomment-438627275 we want this output to look like CRDs so that we when we implement operator in future, it will help us

For list, I followed `kubectl get pods -o json` and it was empty too

[2018-12-12 07:14] jorgemoralespou commented on #1062
@surajnarwade if you followed pod, then in the metadata you will find at least name and a list of labels, which we do have.
componentName should be replaced by metadata.name

[2018-12-12 08:21] geoand commented on #1119
Seems like another reason why we need something like: #1085

[2018-12-12 13:33] mik-dass commented on #76
Once you provide even a single argument or flag you would be in the normal batch mode.
That means that if you run something like odo service create mysql-persistent -p MYSQL_DATABASE=mydb and you are missing required arguments it fails.

@kadel @metacosm I believe it might help to run a mixture. If the user misses a required parameter(s), it would be better to ask him for them, because if he doesn

[2018-12-12 13:44] geoand commented on #76
@mik-dass That's what I propose as well. Currently the interactive mode is limited in what it can provide. Only if you embrace it fully will we unlock it's potential

[2018-12-12 14:12] mik-dass commented on #76
Agreed :+1: Otherwise it will be limited in use just as you said.

[2018-12-12 14:30] jorgemoralespou commented on #843
IMHO this is a flaw from the template service broker implementation that we can not easily fix.

I would probably start a discussion with the devexp team, who owns the template-service-broker to see if there's a way to fix this on their side. Else, we need to have checks on the code, which is very cumbersome, and not sure if it would get this type of problem.

[2018-12-12 14:32] geoand commented on #843
Thanks @jorgemoralespou , your input on this is very much appreciated!

[2018-12-12 14:34] jorgemoralespou commented on #1062
@surajnarwade didn't noticed Charlie was only referring to List. In any case:
- there's missing labels everywhere, and these are critical
- componentName should probably changed to name, as component is already implied by the type, and should be moved to the metadata, so: s/spec.componentName/metadata.name

[2018-12-12 14:49] jorgemoralespou commented on #843
maybe involve @bparees

Hey, Ben, quick recap of the issue:
When we instantiate services from the service catalog, the name of the service/dc ...can be provided if the service is provisioned by the automationbroker but when it's provisioned by the TSB it needs to be provided via a parameter (usually templates use a parameter for the service names).
This causes that if we programmatically instantia

[2018-12-12 14:52] jorgemoralespou commented on #1092
@girishramnani Not only document the config file name change but also format. I would document users that for upgrade scenarios, one would need to start from scratch. In any case, this is most likely what the workflow users should follow. Remember, currently odo is only for iterative development. Non iterative (inner looped) applications should not be tracked in odo configuration files (even curre

[2018-12-12 14:56] jorgemoralespou commented on #1119
@lholmquist We will support .odoignore https://github.com/redhat-developer/odo/issues/1036 that will give you a means to prevent this issue.

We don't know much about node.js so any advice in what should be prevented from being pushed to the server would help us.

[2018-12-12 14:58] bparees commented on #843
The TSB is owned by the service catalog/broker team lead by @jwmatthews so i'd start with him.

But the short answer would probably be to change the templates to use generated parameter values (the template feature).  That would give you likely unique (but not guaranteed unique) names for things without you having to pass a parameter value on instantiation.

If you don't control the templates in q

[2018-12-12 15:00] lholmquist commented on #1119
I think that is a good first step. by using the .odoignore,  but if node.js is to be a first class citizen(which i would like to see for obvious reasons :) ), then it might make more sense to build some node.js specific ignores(to be defined) into the tool.

[2018-12-12 15:11] metacosm opened #1130 "Validate provided parameters in service create."
[kind/Enhancement]
## Which functionality do you think we should update/improve?
Currently parameters provided as options to the command are not validated. We should validate them before trying to create the service.

## Why is this needed?
Improved UX.

[2018-12-12 15:12] jorgemoralespou commented on #1119
That is the idea. After the foundations are set, we would probably look into more intelligence as @geoand mentions

[2018-12-12 15:16] jorgemoralespou commented on #843
@bparees We don't control the templates, as this would be anything provided by the catalog in any deployment.

As I see it, any possible solution would eventually require to modify the templates.

Thanks.

[2018-12-12 15:17] jorgemoralespou commented on #1130
How can you know the type the parameters do support?

[2018-12-12 15:21] lholmquist commented on #1119
@jorgemoralespou cool beans.  Thanks for the info

[2018-12-12 15:30] amitkrout opened #1131 "Write command runner for oc and odo in test package"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
The current implementation of running command in the [test suite](https://github.com/redhat-developer/odo/blob/master/tests/e2e/e2e.go#L17) looks premature. Moreover this testsuite won’t work in windows environment. So creating a generic command runner for both would be helpful

## Why is this needed?
To run testsuit

[2018-12-12 15:32] metacosm opened #1132 "Add a debug make target"
[kind/Enhancement]
## Which functionality do you think we should update/improve?
Add a make debug target that removes the `-w` flag so that debuggers can be attached to a running `odo`.

## Why is this needed?
Not needed but useful while developing on `odo`.

[2018-12-12 15:53] metacosm commented on #76
@jorgemoralespou I believe the tool should be made as smart as possible to make it as easy as possible for our users. If that means having more complex code on our side, so be it. Regarding the interactive mode kicking in in automation scenarios, I believe that would represent a scripting error in any case because it would mean that the automation tool is missing parameters anyway… We could, of co

[2018-12-12 15:58] jorgemoralespou commented on #76
@metacosm but the problem is that in automatic scenarios one should error out immediately and not wait for user input until it times out. Which by the way, will eventually timeout, not?

I agree on making the tool as smart as possible by complicating the code, but I wouldn't trade off making this for having many of the missing required functionality. Only if it would be easy to implement I would t

[2018-12-12 15:58] cdrage commented on #1062
I believe that each output *must* or should always have information under metadata pertaining to Odo. I think we should follow examples from: https://itnext.io/building-an-operator-for-kubernetes-with-the-sample-controller-b4204be9ad56

[2018-12-12 15:59] metacosm commented on #1130
Using the same mechanism used by the interactive mode.

[2018-12-12 17:12] cdrage commented on #862
Notes for myself, using this: https://github.com/sclorg/nodejs-ex  with the example at the bottom with regards to connecting to a database is a good start.

[2018-12-12 23:17] kadel commented on #1062
application structure shouldn't contain a whole component definition, it should just reference a component name or some other unique identification that can be used to obtain whole component definition

[2018-12-13 11:01] jwmatthews commented on #843
@jorgemoralespou my initial thoughts are that this would be best addressed via the templates.  The Template Service Broker is in maintenance as leveraging Operators is the path forward we are investing in.

If you have some ideas of how we could solve your problem in the TSB, happy to discuss and see if we can include, but I'm not seeing a straight forward solution at this point.

cc @johnkim76 @e

[2018-12-13 16:16] #1009 closed

[2018-12-13 16:31] jorgemoralespou commented on #843
@jwmatthews the only way I can think of is by adding an annotation to the templates that the servicecatalog would know how to manage, like we do for some other things (https://github.com/openshift/library/blob/master/official/sso/templates/sso72-https.json#L16-L18) but that would require to modify every template :-(

And whilst operators will become a thing (in the future), templates will still be

[2018-12-13 18:36] cdrage commented on #1128
I'm assuming this will open the default url for that component?

Since `odo url list` is for *all* components.

[2018-12-13 19:04] cdrage opened #1136 "Use tab writer for listing components"
We should be using tab writer here:
https://github.com/redhat-developer/odo/blob/master/pkg/odo/cli/application/application.go#L293

Similar to how it's implemented above here:
https://github.com/redhat-developer/odo/blob/master/pkg/odo/cli/application/application.go#L199

[2018-12-13 20:08] cdrage commented on #1105
@jorgemoralespou @metacosm

The command exists in `oc` but let's hope that we can access this through the OpenShift golang library.

[2018-12-14 05:50] amitkrout opened #1138 "Use variable through test terminal to run independent test feature"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Make a generic  ```PHONY``` statement which can handle any test feature individually just by passing through variable name like ```ODO_TEST_FEATURE```. For example pass the variable in the terminal like
[code]
and in the Makefile only one ```.PHONY``` can handle whatever the argument we passed.
[code]

## Why is this

[2018-12-14 11:07] amitkrout commented on #1016
@apupier Could you please have look https://github.com/redhat-developer/odo/pull/1139#discussion_r241714074

Is this make sense to you ?

[2018-12-14 11:14] amitkrout commented on #1016
@girishramnani @mik-dass ^

[2018-12-14 12:12] apupier commented on #1016
yes, having the explanation why it is failing and how to "fix" it is better.

[2018-12-14 12:57] jorgemoralespou commented on #1036
.odoignore should be honored when doing `odo push` and `odo watch`

[2018-12-14 13:04] mik-dass commented on #1036
Agreed. @kadel WDYT?

[2018-12-14 13:09] jorgemoralespou opened #1140 "Better log management"
[kind/Enhancement]
## Which functionality do you think we should update/improve?
It would be great if we could manage build and run output log, and more interestingly, if we could have them numbered per build/run.

## Why is this needed?
When working on a component, after several iterations, every time you follow the logs one lose the track of if the log output is for the build step or the run ste

[2018-12-14 13:17] jorgemoralespou commented on #1140
Or, if this is not easily done, it would be good to clear the log before every build/run, so that in the scenario of multiple iterations, tailing the log is not a PITA.

[2018-12-17 08:01] geoand commented on #896
@kadel @jorgemoralespou any idea were the monitoring APIs are?

Thanks!

[2018-12-17 13:50] jorgemoralespou opened #1141 "Change deployment strategy to Recreate"
[kind/Enhancement]
## Which functionality do you think we should update/improve?
We need to provide a way to configure odo's generated deployments to have a nodeselector (or similar) so that they are always scheduled to the same node, or else, to configure pods with `Recreate` strategy instead of `Rollout` so that they can work in cloud deployments where only block storage is available.

## Why is

[2018-12-17 13:54] jorgemoralespou commented on #1141
Tested that `Recreate` strategy is easiest to support and works ok.

[2018-12-17 14:31] kadel commented on #1141
nodeselector is not a good way to approach this.
If we use nodeselector  to pin pod to a specific node and that node goes down, the pod becomes unschedulable.

+1 We should change this

[2018-12-17 14:40] kadel commented on #1119
It depends on what you have in your cluster.

If you are running openshift origin/OKD than it is probably  SCL one

[2018-12-17 14:43] kadel commented on #1117
Do we have any indications what could be root cause of this issue?

[2018-12-17 14:44] lholmquist commented on #1119
how would i go about specifying my app to use the Rhoar node version?

[2018-12-17 14:45] geoand commented on #1117
My best guess is that there is a race condition between maven creating the jar and odo watching for changes to it

[2018-12-17 14:47] kadel commented on #1105
It shouldn't be a problem to implement this. It is just executing `/bin/bash` or other shell and redirecting input and output to local console. It should be pretty similar to what we already do for copying files.

[2018-12-17 15:57] kadel opened #1142 "Refactor CLI code to follow kubectl/oc practices"
Original issue: Refactor CLI code to follow kubectl/oc practices #785 and PR #871  just laid down basic structure and refactored `odo service` command. But the rest of the commands are not following this principes.

Update the following commands to follow the same principles as #871
- [x]  application #1188
- [x] catalog #1189
- [x] component #1190
- [x] project #1191
- [x] storage #1192
- [x] url

[2018-12-17 16:32] jorgemoralespou commented on #1141
I agree that `Recreate`is better, but in any case, would be good if configurable (one config is available). For now would just go with Recreate.

[2018-12-17 18:14] cdrage opened #1144 "The use-case of `--wait` and having it enabled by default with `odo service create`"
This is just to spur discussion, but whenever we push a component, by default, Odo will "wait" and the spinner will spin until it's completed.

This is not the case however with `odo service create`. Instead, we output:

[code]

This is completely different than `odo create` or `odo push`.

I believe we should unify / have similar interactions with both commands.

My suggestions:

 - By default, w

[2018-12-17 18:23] geoand commented on #1144
Currently we have a wait flag on odo link (which is off by default).

I think the reason we didn't add wait to odo service create was that it
could take a long time without being an actual blocker in itself for the
user (since having a service on it's own probably won't be of much use to
odo users).
Link is the actual blocker and that's where I prefer we made odo wait by
default.

What do you all

[2018-12-17 23:20] sherl0cks opened #1145 "Listing Services from The Catalog Fails"
[kind/bug]

## What versions of software are you using?
- Operating System: fedora 29
- Output of `odo version`: odo v0.0.17 (HEAD)

## How did you run odo exactly?
`odo catalog list services --v 10`

## Actual behavior
[code]

## Expected behavior
A list of the services available to me. I can see that the service catalog is enabled as I can use it from the web console.

## Any logs, error output,

[2018-12-17 23:58] sherl0cks commented on #1145
This appears environment specific, closing.

[2018-12-17 23:58] #1145 closed

[2018-12-18 11:10] jorgemoralespou commented on #1119
okd as well as ocp, in latest releases, should already have the RHOAR images available, although probably at different version levels.

You can check in github.com/openshift/library  the imagestreams that get installed with OKD and with OCP, and then you should be able to know what tags are the RHOAR ones.

In [OCP](https://github.com/openshift/library/blob/master/official/nodejs/imagestreams/node

[2018-12-18 11:17] jorgemoralespou commented on #896
@geoand Not sure what this would be.
To get metrics in OpenShift you need the metrics capability deployed. In OCP 4 this is implemented with Prometheus, but in OCP 3.x changes from hawkular to Prometheus, so not sure what's the stable to to get these.

I've seen these APIs, in the OCP 4 cluster, not sure how to use them though:
[code]

We should probably ask someone from OpenShift team, but again,

[2018-12-18 11:31] jorgemoralespou commented on #896
In OCP 4:

There's a prometheus deployed by default (via the monitoring/Prometheus operator) that provides the cluster wide prometheus. To get the details for this Prom server:
[code]

This means that you can use the internal service URL to access this server:
[code]

To this instance, you can do Prometheus calls like the following PROMQL:
[code]

You can do some testing on the Prometheus Dashboar

[2018-12-18 11:34] geoand commented on #896
Thanks @jorgemoralespou !

[2018-12-18 13:08] #1016 closed

[2018-12-18 13:21] jorgemoralespou opened #1147 "Support .s2i/environment files"
[kind/Enhancement]
## Which functionality do you think we should update/improve?
s2i has the ability to provide along with the source an .s2i/environment file that will be read prior to the build (assemble) and run phase.
We need `odo` to mimic the behavior so that the developer can add that file to their source code and then it will be read.

## Why is this needed?
So that a user can easily alter

[2018-12-18 16:36] cdrage opened #1148 "ktemplates is ignoring `\n`"
See PR: https://github.com/redhat-developer/odo/pull/1143

When using `ktemplates`, it is ignoring any newlines or `\n` at the end of the string. We shouldn't ignore this as some spacing is required for each example / description when using `odo --help`.

[2018-12-18 20:51] jorgemoralespou opened #1149 "Support link to a component in create"
[kind/Enhancement]
## Which functionality do you think we should update/improve?
Linking to a component is an action that in many cases is known beforehand, and could be performed as part of the creation step. e.g:

[code]

We can explore simplifying the notation using something like:
[code]

Using a colon to separate the port from the service name is a know a pattern to every developer.

*NOTE*:

[2018-12-18 21:13] sherl0cks opened #1150 "odo login is much slower than oc login"
[kind/bug]

## What versions of software are you using?
- Operating System: fedora 29
- Output of `odo version`: `odo v0.0.17 (HEAD)`

## How did you run odo exactly?
`odo login <my cluster>`

## Actual behavior
20 seconds before login prompt took place

## Expected behavior
< 1 second like `oc login`

## Any logs, error output, etc?

oc
[code]

odo
[code]

[2018-12-18 21:20] jorgemoralespou commented on #1150
@sherl0cks can you paste the same log when you use same cluster with `oc`?

In this logs, what I see is that the response from the server is the one taking 10 seconds, so it doesn't really look as if it's odo related?

What cluster is this? minishift/online/cloud?

[2018-12-18 21:39] sherl0cks opened #1151 "odo cannot connect to cluster after login"
[kind/bug]

## What versions of software are you using?
- Operating System: fedora 29
- Output of `odo version`: `odo v0.0.17 (HEAD)`

## How did you run odo exactly?
see logs

## Actual behavior
`odo` cannot connect to cluster. seems it is truncating `https://` from the server url

## Expected behavior
odo can talk to the server...

## Any logs, error output, etc?

odo
[code]

oc
[code]

[2018-12-18 21:44] sherl0cks commented on #1151
~/.kube/config looks identical (apart from tokens) regardless of whether `oc` or `odo` creates it

[2018-12-18 21:50] jorgemoralespou commented on #1144
@cdrage I can show you many services that takes minutes to deploy :-( so I'm against having the CLI waiting for the service to be created. Think that it's way different deploying a service implemented as a template than as an APB. Also, think that in many cases, the real provisioning action happens asynchronously, so even if the broker/catalog tells you it's done, it's not, and that's dependant on

[2018-12-18 21:54] sherl0cks commented on #1151
Bummer - was getting ready to build a demo with `odo`. looks like I need to do it with `oc`. I updated my `oc` to latest version (matching server) and nothing. Is there state outside of ~/.kube that I can clear?

[2018-12-18 21:54] jorgemoralespou commented on #1151
Can you test this one (and the other issue) with latest binary from master (https://dl.bintray.com/odo/odo/latest/)

[2018-12-18 22:40] sherl0cks commented on #1151
New binary does not solve the issue I have. Using minishift does seem to solve the issue. I struggle to think the problem is my cluster though - it works fine with `oc`.

[2018-12-18 22:42] sherl0cks commented on #1151
Looks like the issues are resolved. It was not the new client (as I did see some issues) right after switching. Perhaps some weird transient issues. I also test with minishift and things are back to normal. Sorry for noise.

[2018-12-18 22:43] #1151 closed

[2018-12-18 22:43] sherl0cks commented on #1150
Looks like the issues are resolved. It was not the new client (as I did see some issues) right after switching. Perhaps some weird transient issues. I also test with minishift and things are back to normal. Sorry for noise.

[2018-12-18 22:43] #1150 closed

[2018-12-18 23:36] sherl0cks opened #1152 "Support Context Dir Like oc new-app"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
`oc create --git` needs a` --context-dir` flag like we have in  `oc new-app`

## Why is this needed?
Allows one to create build configs that build from a subdirectory, so we can use repos like https://github.com/jboss-openshift/openshift-quickstarts

[2018-12-19 08:49] surajnarwade commented on #1062
@kadel , \since `kubectl get pods -o json` gives list with whole pod defination that's why I added
But I will make it just a list

[2018-12-19 15:38] girishramnani commented on #1092
No blockers for now, was going through the .kube/odo related code. Will
open a PR tomorrow

On Wed, 19 Dec 2018, 20:59 Tomas Kral <notifications@github.com wrote:

[2018-12-19 17:11] sherl0cks opened #1155 "Refactor Examples Into A Directory"
[kind/Documentation]

## What did you find missing in the documentation?
Let's refactor (examples.md)[examples.md] into `components.md` and place it under a larger directory of examples. This could include docs for #862

## What is the relevence of it?
Provides structure to grow the docs.

[2018-12-19 19:05] cdrage opened #1156 "No services being listed"
Seems really odd.. but I'm unable to get any services, despite the databases being shown in the OpenShift GUI.

[code]

Using Minishift command:
[code]

Attached is a screenshot of the OpenShift UI.
![screenshot from 2018-12-19 14-03-03](https://user-images.githubusercontent.com/6422176/50242007-1512a800-0397-11e9-9023-e88f9ff818e5.png)

[2018-12-20 11:51] amitkrout opened #1159 "Include test coverage for checking component name before pushing"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Integration test coverage

## Why is this needed?
Follow up issue of #1139

[2018-12-20 17:00] kadel opened #1160 "misleading error message if there is no project"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

## How did you run odo exactly?

when there is no project
[code]

## Actual behavior
[code]

## Expected behavior
show a message about no existing project or automatically creating one

## Any logs, error output, etc?

[2018-12-21 06:50] geoand commented on #1156
@cdrage have you tried using svcat to see what you get?

[2018-12-21 09:54] kadel commented on #1156
I think that you don't have a service catalog deployed in your cluster. Sometimes it can take time to start.

Even if web console says "Browse Catalog" it doesn't mean that items that you see there are from ServiceCatalog. Catalog in web console also includes regular OpenShift templates.

[2018-12-21 09:55] girishramnani commented on #1092
Currently the odo config can be broken into two parts -
1) OdoSettings
2) ActiveApplications
When we move to the `global` and `local` config files, the `ActiveApplications`  as per my understanding shouldn't be part of the local config as it holds active applications for all components

So essentially both the settings mentioned above will be part of the global config file and only the parameters

[2018-12-21 09:57] geoand commented on #1156
if you do `svcat get brokers` you'll be able to see which brokers are running if any

[2018-12-21 10:02] amitkrout opened #1163 "Use proper wait logic instead of sleep for a specific time"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
time.Sleep() in test suite need to be improved. We need to think/implement some kind of retry logic like in a specific interval of time ```(let 1s)``` keep hitting the command for some try ```(let 10 times)```. If it returns ```0 ```or expected ```stdout``` then well and good else report timeout with error as ```comm

[2018-12-21 12:15] mohammedzee1000 opened #1164 "Missing documents for what senarios are being tested"
[kind/Documentation]

## What did you find missing in the documentation?

There is no document that provides a broad overview of what is being tested, and to what extent it is being tested. What i mean by this is a document that lists:

1. The test scenarios of odo that are being tested

1. Against which environments, are each of the scenarios tested in?

1. Against which versions of OpenShift are

[2018-12-21 13:41] surajnarwade commented on #1062
*
[code]

*
[code]

*
[code]

*
[code]

@kadel  I tried to reduce the output as per your suggestions

[2018-12-21 14:06] geoand commented on #1156
I must have closed this by accident... Sorry about that...

[2018-12-21 14:06] cdrage commented on #1156
@kadel I left the Minishift running for over 2 hours but it still hadn't provisioned despite passing in the command line parameters. I'll do a simple `minishift delete` and up again and see what happens :+1:

[2018-12-21 15:01] cdrage opened #1165 "Remove sleep from e2e_test.go"
Seems we still have this implemented: https://github.com/redhat-developer/odo/blob/master/tests/e2e/e2e_test.go#L215

We should create a function to grep / wait for project to appear with `oc` and then continue, rather than relying on sleep.

[2018-12-21 15:17] amitkrout commented on #1165
@cdrage I have already created this issue #1163. Please do reply if the suggestion provided by me make sense to you

[2018-12-21 15:23] amitkrout commented on #1163
@cdrage's suggestion copying from https://github.com/redhat-developer/odo/issues/1165#issue-393488259

We should create a function to grep / wait for project to appear with oc and then continue, rather than relying on sleep.

[2018-12-21 18:33] kadel commented on #1062
If we want to follow Kubernetes struct `List` needs to contain the whole objects see this as an example https://github.com/kubernetes/kubernetes/blob/master/hack/testdata/list.yaml

[code]

[2018-12-21 18:41] kadel commented on #1062
You are still including the whole component description in the application.

In the Application object you should just point to the component, not have the whole definitino of the component there.
[code]

Component holds most of the info:
[code]
Notice that storage just points to storage name nothing more, the same for url.
We should consider if maybe Components shouldn't contain also `application

[2018-12-24 07:08] mohammedzee1000 commented on #874
871 appears to be merged. I believe this issue is unblocked?

[2018-12-24 10:46] amitkrout commented on #1164
1. The test scenarios of odo that are being tested

Yes, the test scenario are documented but not in that impressive way (Mixture of context and implementation in same file). Unlike other gherkin supported test frame work, ```GinkGo``` does not support in that way where we have doc file in one place ```(.feature file)``` and backend implementation in another file ```(.go file)```. Even there is no

[2018-12-24 11:02] surajnarwade commented on #1062
As you suggested,

[code]

but, this `URL` and `Storage`, do you expect this output for `odo url list` & `odo storage list` ?

[2018-12-24 14:05] mohammedzee1000 opened #1167 "Get odo tests as part of OpenShift testgrid"
[kind/Feature]

## Which functionality do you think we should add?

As odo is an OpenShift tool, it would be nice to get odo tested, as part of OpenShift's own tests. This means that whenever tests run for OpenShift, odo should get validated for it as well.

### Refer Links

Kubernetes Prow: https://github.com/kubernetes/test-infra
Kubernetes Test Grid: https://k8s-testgrid.appspot.com/
Kubernetes

[2018-12-24 14:06] mohammedzee1000 commented on #1167
Depends on https://github.com/redhat-developer/odo/issues/1164

[2018-12-26 05:09] amitkrout commented on #1167
Cool stuff !!!

[2019-01-02 08:43] girishramnani opened #1169 "TestGetDefaultAppName is not cleaning up the folder created while testing"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:
[code]

## How did you run odo exactly?
`go test -v -timeout 30s github.com/redhat-developer/odo/pkg/application -run TestGetDefaultAppName`

## Actual behavior
The test config folders are still present
[code]

## Expected behavior
the test config folder created i.e.`~/.kube<prefix>` should be re

[2019-01-02 14:49] kadel commented on #1017
@syamgk It looks like we might be able to "eat" the message as Jorge suggested.

Check this out https://github.com/redhat-developer/odo/blob/c3c906ffe2e3a394833962a51e682863a31d4a36/pkg/auth/login.go#L25

[2019-01-02 16:57] jorgemoralespou commented on #1017
We should probably open a PR for oc to fix the fact that is using fmt.Sprintf directly. Then, in the near future, we might be able to "eat" the message with oc 4.0 :-D

[2019-01-02 17:01] jorgemoralespou commented on #1156
@cdrage that one is provided by the template-service-broker as it's a template.

[2019-01-02 18:09] jorgemoralespou opened #1170 "Support for GB, gb, Gb, Gi, gi, GI, MB, mb, Mb, Mi, MI, mi for memory and fail gracefully"
[kind/bug]

## What versions of software are you using?
- Operating System:
mac os X 10.14.2
- Output of `odo version`:
odo v0.0.17 (78a050bc)

## How did you run odo exactly?
[code]

## Actual behavior
[code]

## Expected behavior
App creation OK, or graceful error stating the supported format for memory argument qualifier.

[2019-01-03 05:08] #1132 closed

[2019-01-03 13:14] girishramnani commented on #1170
@jorgemoralespou could you try `odo create java backend --binary target/wildwest-1.0.jar --memory 1G --cpu 1`?

[2019-01-03 14:01] syamgk commented on #952
did a mocking by creating a test branch and the results can be found here : https://ci.centos.org/job/odo/job/cico-test/16/

[2019-01-03 16:03] jorgemoralespou commented on #1170
That one works.

Maybe clarify what's supported in the help, and just fail gracefully if the format is not supported. Also, do the check of supported valid arguments before any other checks.
[code]

[2019-01-03 20:44] metacosm commented on #76
Regarding the timeout feature, there's a feature request for `survey`: https://github.com/AlecAivazis/survey/issues/159

[2019-01-04 10:05] #1028 closed

[2019-01-04 10:11] metacosm commented on #76
Seems like most people who try the interactive mode are surprised by the lack of interactivity when some parameters are provided. I really think we should implement a maximally interactive tool and provide a flag to force it to "batch" mode instead of the current behavior. What do you think, @kadel @jorgemoralespou? Could we at least settle this discussion once and for all (and document it) since

[2019-01-04 10:17] geoand commented on #76
As for the scenarios where absolutely no interactivity should ever be present, we could easily use a `-b` flag like maven does for example

[2019-01-04 11:34] kadel commented on #76
I still find the mixed mode confusing, and unnecessarily complicated. I would much more prefer full interactive or no interactive at all, but nothing in between.

-  `odo service create` - interactive mode
- `odo service create mysql` - non-interactive mode, with all default values

If you run just a root command, you end up in interactive mode, as soon as you add argument or flag, you are in non-

[2019-01-04 12:36] metacosm commented on #76
@kadel the problem is that pretty much everyone but you expected a mixed mode when providing only some values based on the comments on the PR… and I think the tool would be more useful that way. Don't you think a flag to trigger a completely non-interactive mode would be a proper solution?

The problem with the scenario you describe above is that in many instances you will need to run the command

[2019-01-04 12:43] metacosm opened #1171 "Suggestions for `odo service create` parameters"
[kind/Feature]

`odo` should provide completion for parameter values when doing `odo service create <service class> -p[tab]`. Completion should be based on the specified service class and complete as `-p<param name>=`.

[2019-01-04 17:59] metacosm opened #1173 "`odo` extension architecture"
[kind/Feature]

## Which functionality do you think we should add?
Adding an extension mechanism for `odo` would allow interested third-parties to extend the tool to suit their own needs without needing features to be added to `odo` itself. Extensions would work as plugins that would be dynamically loaded when the tool starts and communicate with `odo` via an event system over an event bus to be a

[2019-01-04 18:01] metacosm commented on #1142
When will this be worked on?

[2019-01-06 05:56] jorgemoralespou commented on #76
I agree with @metacosm as when I was crying a service I didn't know what
parameters to provide but I knew what service I wanted to create.
I would at least hope for a flag that triggers interactive in this case:

[code]

So at least I can get the interactive help for those parameters I'm not
sure about.

[2019-01-06 14:10] sspeiche opened #1174 "Improve link error message with --port usage"
[kind/bug]

## Actual behavior
`odo link backend --component frontend`
 ✗  Multiple secrets exist for component backend.
Please select one of the following ports: '8080,8443,8778'

## Expected behavior
I would have expected instruction on how to specify the ports, such as:

Please select one of the following ports: '8080,8443,8778' by supplying the `--port` option and rerun the command.

[2019-01-07 08:11] metacosm commented on #76
I'd argue that the interactive mode should be the default (less typing, less cognitive load). It doesn't hurt script creators to add one flag so I think the "burden" of enabling/disabling the interactive mode should be on people wanting to automate, not on people interacting (pun intended) with the tool directly.

[2019-01-07 13:20] cmoulliard commented on #1062
I propose to start the process to integrate what you did with Application k8s App and Component CRD. Make sense @surajnarwade @kadel

[2019-01-07 15:30] cmoulliard commented on #1062
Seems good to me. We adopted this convention too for the Component CRD :
- camel case name
- list defined using plural forms: envs, ...
- list name named using lowercases

[2019-01-07 15:35] cmoulliard commented on #1062
Do you plan to have an Application Operator ? @kadel

[2019-01-07 15:37] cmoulliard commented on #1062
I don't think that it makes sense to have a URI CRD, part of the API.

[2019-01-08 04:11] mohammedzee1000 commented on #1167
@stevekuznetsov what would be your thoughts on this? This is being discussed  but i would love to know how possible is this and who would i have to talk to for more information?

[2019-01-08 06:16] amitkrout opened #1177 "odo login fails"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`:
[code]

## How did you run odo exactly?
Followed the doc - https://docs.google.com/document/d/1f6Jt896cAFOuQmTrBtpR_pbc0Bvq1Yn2ysSgudu5QwA/edit#
[code]
## Actual behavior
[code]

## Expected behavior
Should login

## Any logs, error output, etc?

[2019-01-08 06:20] amitkrout commented on #1177
I am able to login. Unfortunately i was using wrong username. So closing the issue

[2019-01-08 06:20] #1177 closed

[2019-01-08 06:46] dgolovin commented on #1062
@surajnarwade Did you mean '_$ odo app describe nodejs-ex-wjgk -o **yaml**_'?
Are you going to support json output too?

[2019-01-08 08:48] ALRubinger opened #1178 "Be More Tolerant of Network Timeouts"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
So I went to use `odo` to connect to an OpenShift cluster on another continent.  Here's what happened:

[code]

Cool!  Now let's make an app.

[code]

Allright; so we've hit a connection timeout.  But the problem is in the messaging; this could be improved.  I suggest the following fixes to the error message:

1) Cha

[2019-01-08 09:05] jorgemoralespou commented on #76
@metacosm we have decided we should probably validate the user experience that makes more sense.
I'll do a due diligence with my team in the meantime

[2019-01-08 09:38] cdrage commented on #1178
More notes / suggestions:

- If the connection is taking more than 3 seconds / too longer to connect to OpenShift, we should use a spinner or at least indicate to the user that the connection is delayed and taking a while...

[2019-01-08 09:42] cdrage opened #1179 "Templates for integration tests"
Ping @amitkrout

Let's add some templates for integration tests....

Here's my current vim shortcut:

[code]

[2019-01-08 14:08] girishramnani opened #1180 "Odo catalog list and search shows hidden services and components"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:
[code]

## How did you run odo exactly?
`odo catalog list components`
`odo catalog list services`

## Actual behavior
Shows all components and services

## Expected behavior
Shouldn't show services and components that are "hidden"

## Any logs, error output, etc?

[2019-01-08 14:18] geoand commented on #1180
@girishramnani if you need any help with this ( which you probably won't :) ), don't hesitate to ask

[2019-01-08 21:33] stevekuznetsov commented on #1167
Totally. We have [this doc](https://docs.google.com/document/d/1SQ_qlkcplqhe8h6ONXdgBr7YUVbs4oRSj4ISl3gpLW4/edit#) that tries to lay out onboarding info

[2019-01-09 03:49] surajnarwade commented on #1062
@dgolovin , we can support both, you tell us :smiley: , what do you want :smile_cat:

[2019-01-09 05:01] cdrage opened #1183 "RUN_ALL_SERVICE_TESTS is undocumented and barely used."
For some reason we have this:

https://github.com/redhat-developer/odo/blob/78a050bcf771aedeba9778e8b762c026eff7dbba/tests/e2e/service_test.go#L37

We don't use it in Travis CI, nor is there any documentation.

I believe we should remove this and run all the service tests by default. The reasoning is that running the tests locally it should automatically run ALL the tests as it won't be 100% the s

[2019-01-09 05:20] cdrage opened #1184 "We should output information with regards to odo service create and how to use it"
For example:

 1. We run the `odo service create` command.
 2. Afterwards, we should list what ENV variables are available, how to actually link the components as well as any other information that is available for `odo service create`

[2019-01-09 06:13] amitkrout commented on #1183
Good catch!!!

Context ```odo service create with a spring boot application``` is never executed in travis-ci with each pr we send. Probably it was intentional just to reduce test time cost or might be something else. IMO lets keep it for each pr so that the service operation will also be tested on that template too.

I am in the favor of keeping the env ```RUN_ALL_SERVICE_TESTS``` so that we can

[2019-01-09 08:36] cdrage opened #1185 "Multiple users working on the same Odo project"
I see certain scenarios in the future causing an issue with multiple-users working on the same Odo project.

1. When you use context-switching (future feature), wouldn't each local directory be different for each user? For example, I would change to /home/foobar/nodejs, but another user would use /home/myuser/nodejs, if, for example, the second user tried to use the project, Odo will try to search

[2019-01-09 10:46] cdrage opened #1186 "INFO output on how to use odo url create after push"
For example:

1. When we do `odo create` we output do `odo push` to continue
2. When we do `odo push`, nothing else appears.

We should add:

`To access your pushed project, run 'odo url create'`

[2019-01-09 10:50] cdrage opened #1187 "Update logging documentation"
https://openshiftdo.org/logging/

The current documentation is incorrect for erroring. We do not use glog for erroring, we should provide examples that functions must provide `err` return as errors are handled more upstream (within `cmd/` files)

[2019-01-10 05:42] girishramnani commented on #1180
this PR resolves services part https://github.com/redhat-developer/odo/pull/1181

[2019-01-10 08:10] #874 closed

[2019-01-10 10:54] metacosm commented on #1173
Golang issue regarding Windows support: https://github.com/golang/go/issues/19282

[2019-01-10 12:31] jorgemoralespou commented on #76
My whole OpenShift Advocate team voted to support @kadel (they were 6)

[2019-01-10 13:48] metacosm commented on #76
That's surprising. What was the rationale?

[2019-01-10 15:09] jorgemoralespou commented on #76
The argument was that it was more intuitive.
I'm tagging them here:
@marekjelen, @jankleinert, @gshipley, @grahamdumpleton, @mhausenblas, @ryanj, @joshix

[2019-01-10 18:04] marekjelen commented on #76
I presented one point to Jorge

* should only be used on temrinal commands when no arguments were passed

the second reason would be that

* should not be replacing general help, but should be there help in cases, where the flow otherwise would be way too complex for the end user

[2019-01-11 07:39] geoand commented on #1183
I can provide info on why we have this :)

The reason I don't want to run that test, is that it will take forever to finish. And it will take forever to finish because Spring Boot applications has a large number of dependencies making s2i take a long time to complete.

I'm all for changing things, but IMO this should not be run as part of a standard PR build

[2019-01-11 07:40] mohammedzee1000 commented on #1167
@stevekuznetsov thanks. Sorry was in f2f. Going through the doc. This looks pretty dope.
One thing i did not find in the doc though is against what environments do the tests get run. It it just linux or other target platforms also included?

[2019-01-11 09:54] metacosm commented on #76
@marekjelen that makes sense, however, in the specific `service create` instance, the help won't really help you as it will not list any of the parameters you will need to create a service, just give you the syntax. The flow without full interactive mode is: figure out which class you want, then which plan for that class, then figure out which parameters exist for that class/plan and which are req

[2019-01-11 09:55] metacosm commented on #76
But like I said before, having a less interactive mode is easier to implement. However, it makes for an inferior tool, in my opinion, as a tool should always try to help as much as possible (without becoming nagging, of course).

[2019-01-11 10:06] amitkrout commented on #1180
Resolved via #1181

[2019-01-11 14:13] metacosm commented on #76
How was the problem presented, though? Because discussing with people, it seems that we don't all have the same assumptions regarding what an interactive mode means. Did they actually try to create a service instance with non-default values?

[2019-01-11 15:38] stevekuznetsov commented on #1167
Tests are scheduled as `Pod`s on an OpenShift cluster, which is running linux x86.

[2019-01-11 15:38] stevekuznetsov commented on #1167
You can choose your distro by choosing a different image for the container, of course.

[2019-01-13 23:33] kadel opened #1188 "Refactor application command to follow complete-validate-run pattern"
more info in #1142

[2019-01-13 23:35] kadel opened #1189 "Refactor catalog command to follow complete-validate-run pattern"
more info in #1142

[2019-01-13 23:35] kadel opened #1190 "Refactor component command to follow complete-validate-run pattern"
more info in #1142

[2019-01-13 23:35] kadel opened #1191 "Refactor project command to follow complete-validate-run pattern"
more info in #1142

[2019-01-13 23:35] kadel opened #1192 "Refactor storage command to follow complete-validate-run pattern"
more info in #1142

[2019-01-13 23:35] kadel opened #1193 "Refactor url command to follow complete-validate-run pattern"
more info in #1142

[2019-01-13 23:35] kadel opened #1194 "Refactor utils command to follow complete-validate-run pattern"
more info in #1142

[2019-01-13 23:35] kadel opened #1195 "Refactor version command to follow complete-validate-run pattern"
more info in #1142

[2019-01-13 23:47] kadel commented on #76
I would say let's start with what is easier to implement.
We will get more people using it and we will get more feedback and than we can update accordingly.

It is better to start with something simple, and than add features to it based on feedback.

[2019-01-14 06:37] amitkrout commented on #952
Cool!!!
@syamgk Only UT are running in the ci. Can you please start adding the integration test to it. Please let me know if you need any help to address those test in CI.

[2019-01-14 08:05] geoand commented on #1171
@metacosm Have you done any work on this? If not, I can pick it up

[2019-01-14 13:06] #1094 closed

[2019-01-14 13:14] kadel commented on #1185
related to https://github.com/redhat-developer/odo/issues/600

[2019-01-14 13:15] surajnarwade commented on #1187
cc @anmolbabu

ref link: https://github.com/redhat-developer/odo/pull/1123

[2019-01-14 13:36] kadel commented on #1147
This might be also related to https://github.com/redhat-developer/odo/issues/1060

[2019-01-14 18:45] jorgemoralespou commented on #1185
I don't think doing "inner loop" with multiple users makes sense, but definitely having 2 users trying to push to the same pod could happen if the second imports the component created by the first, else, he would not even see it.

Adding some mechanism to prevent multiple users to push to the same component could make sense, but definitely this would make more sense as documentation/best practices

[2019-01-14 18:50] jorgemoralespou commented on #1186
Or even add that output to `odo create` in the form of:

[code]

This could be complemented with a list of tips that would randomly show, so we show the user how to use the tool. This could be disabled via a setting.

[2019-01-14 18:50] jorgemoralespou commented on #1186
I just realized this is not related to the issue, but came to my mind as I read the issue. If you think it's a nice feature, we could add it as an issue of itself (for future).

[2019-01-14 20:14] jorgemoralespou commented on #1066
AFAIK this is a config in the supervisord that should be changed on first push.
We can set on the [image](https://github.com/redhat-developer/odo-supervisord-image/blob/master/supervisor.conf) `autostart` as false, and then the command that is run when we push code can change it (not sure if a reload is needed, though.

[2019-01-14 20:29] jorgemoralespou opened #1197 "Create/get URL for service"
[kind/Feature]
## Which functionality do you think we should add?
A service that has been created might not provide a URL. Even more, it might have provided a URL but there is no way from odo to know which URL this is.

It would be nice to:
- create a url for a service
  - on creation time `odo service create ...... --create-url
  - after the fact `odo url create --service <SERVICE>`
- list urls f

[2019-01-14 20:31] jorgemoralespou commented on #1197
Might require some discussions with the service-catalog people to know if there's a way to provide labels/annotations to the catalog to pass to the broker and if the broker would be able to apply this.

[2019-01-14 20:39] jorgemoralespou opened #1198 "odo update does not update a component's configuration"
Currently `odo update` can only change the mode strategy (binary/local/git). Update command should be able to update a component's configuration, moreover when config file #1092 is there.

I should be able to do:

[code]

This should only be able to change component configuration, but not component type.

[2019-01-14 20:40] jorgemoralespou opened #1199 ""odo update -h" shows erroneously the command intent"
[kind/bug]
[code]

Per the command seems that update:
- can only update the source path of a component (misleading)

Related to https://github.com/redhat-developer/odo/issues/1198

[2019-01-14 20:46] jorgemoralespou opened #1200 "odo link wrong output"
[kind/bug]
When there are several ports to link to, `odo link` shows a message that says `Multiple secrets exist for component`

[code]

It should say something like:
[code]

[2019-01-14 20:51] jorgemoralespou opened #1201 "linking doesn't check if a component is already linked"
[kind/bug]
A component should not be bound to another component multiple times. In case that needs to happen, a prefix/mapping needs to be provided, as otherwise the same variables will be injected with different values.

We need to detect if that is the case (a component is already linked) and provide guidance to the user:

[code]

[2019-01-14 20:53] jorgemoralespou opened #1202 "odo describe don't show if the current component is linked"
[kind/bug]
If we link our current component, when we describe it, we don't see that there's already a link.

[code]

[2019-01-14 21:07] jorgemoralespou opened #1203 "services don't show as part of an application"
[kind/bug]
`odo app describe` don't show services as part of an application:

[code]

[2019-01-14 21:32] cdrage commented on #1156
@geoand Similar to Andrew's extensive Minishift issues, this was just another one! Closing. Deleting and re-creating minishift deleted the issue I had.

[2019-01-14 21:32] #1156 closed

[2019-01-14 21:43] geoand commented on #1156
Good to know!

[2019-01-16 01:02] syamgk commented on #952
the remaining part is adding webhoooks pointing to https://ci.centos.org/github-webhook/ for PR events and configuring e2e tests

[2019-01-16 04:42] amitkrout commented on #1185
For me it's hard time to understand properly the concept of ```inner loop``` and ```outer loop```. Would you please refer some doc that describes the concept in details.

[2019-01-16 05:14] amitkrout commented on #952
Thanks for the update!!!
I can see a big exception of ```java.lang.Exception: Method POST required``` thrown in [1]. Any  reason behind it ?

[1] https://ci.centos.org/github-webhook/.

[2019-01-16 05:26] amitkrout opened #1205 "Update test suite function runCmd to handle stderr"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
```func runCmd()``` in test suite

## Why is this needed?
Right now in test suite function ```runCmd``` doesn't handle/capture the reported error.

[2019-01-16 05:34] amitkrout commented on #1179
Thanks for sharing your thoughts over test template

My thoughts on integration test template is some short of protocol for writing test
For example -
[code]

And this need to be documented in concern doc file for reference

@cdrage Is this same you are expecting ?, if not please share the thoughts in details

[2019-01-16 11:53] girishramnani commented on #1180
Actually @amitkrout only the services part of this issue was resolved by #1181, hidden components are still showing

[2019-01-16 12:07] amitkrout commented on #1180
My bad..
Thanks for reopening it.

[2019-01-16 13:07] cdrage commented on #600
Blocked by #1092 at the moment

[2019-01-16 13:12] cdrage commented on #1017
Solution: Temporary solution would be adding an alias

[2019-01-16 13:12] cdrage commented on #1017
I've unassigned @syamgk temporarily if anyone else wants to pick this up.

[2019-01-16 13:20] girishramnani commented on #1198
@cdrage @tkral can we add this to sprint 161

[2019-01-16 13:41] cdrage commented on #647
Hey @jorgemoralespou are you still able to re-produce this?

We will put the on-hold label on here for now until we can find a way to reproduce it.

[2019-01-16 19:05] cdrage commented on #1179
@amitkrout not really, I was thinking of providing examples so it's easier to write the tests too. The problem is that "Fake Client" within Kubernetes and OpenShift is terribly confusing, hence why I provide my vim template.

But yes, having certain protocols for what comprises of a test would be essential too.

[2019-01-17 11:32] metacosm opened #1206 "Figure out why interactive mode test does not work"
See https://github.com/redhat-developer/odo/pull/857#discussion_r248634783

[2019-01-17 11:34] amitkrout commented on #1206
Cool!!!
@metacosm Thanks, I will be happy to take this in the next sprint plan

[2019-01-17 15:43] kadel commented on #1198
@girishramnani  @anmolbabu
can you please define how new update command will look like before you jump into implementation?

[2019-01-17 15:46] kadel commented on #1072
@cdrage Can you please estimate size for this task and add size label?

[2019-01-17 15:46] kadel commented on #1087
@mik-dass  Can you please estimate size for this task and add size label?

[2019-01-17 15:48] kadel commented on #1205
@amitkrout Can you please estimate size for this task and add size label? You can find more info about labels https://github.com/redhat-developer/odo/wiki/Issue-labeling-system#size

[2019-01-17 15:49] kadel commented on #1121
@amitkrout Can you please estimate size for this task and add size label? You can find more info about labels https://github.com/redhat-developer/odo/wiki/Issue-labeling-system#size

[2019-01-17 15:49] kadel commented on #1117
@anmolbabu Can you please estimate size for this task and add size label? You can find more info about labels https://github.com/redhat-developer/odo/wiki/Issue-labeling-system#size

[2019-01-18 05:05] amitkrout commented on #1205
@kadel Thanks for the link. I suppose to set the size when the issue was first created but certainly could not do it because i was not so confident on size labels ;)

[2019-01-18 05:16] anmolbabu commented on #1117
sure @kadel

[2019-01-18 05:17] anmolbabu commented on #1117
Ideally it could be `S` but at the moment I am not very sure what or where the fix should be so since the fix is not very obvious to me, I'll assign it `M` anyway I can always scale it down to `S` if found small at any later point in time

[2019-01-18 05:21] anmolbabu commented on #1121
@amitkrout Yes considering that the infra(all utility methods required for this along with samples) is in place for it It may be `S` to me bcoz I am used to this e2e framework in odo but it might be `M` until you get used to odo e2e tests. But importantly, please note that this will be blocked by progress on https://github.com/redhat-developer/odo/issues/1117

[2019-01-18 06:40] amitkrout commented on #1121
Right, Any guesstimated time for fix of #1117 ?

[2019-01-18 08:06] anmolbabu commented on #1117
Fortunately enough, this seems to be fixed by my PR at https://github.com/redhat-developer/odo/pull/1125 and https://github.com/redhat-developer/odo-supervisord-image/pull/10

[2019-01-18 08:07] anmolbabu commented on #1117
I'll add some tests just to be sure even they are ensured to be fixed for all runtimes

[2019-01-18 08:12] anmolbabu commented on #1121
@amitkrout I anyway need to be sure #1117 is fixed as part of existing PRs @ https://github.com/redhat-developer/odo-supervisord-image/pull/10 and https://github.com/redhat-developer/odo/pull/1125... bcoz as part of manual testing I see it fixed so if you don't mind I can pick this back up only if you are ok with it

[2019-01-18 08:46] metacosm opened #1212 "service create completion shouldn't offer service class again if it has already been completed"
[kind/bug]

## What versions of software are you using?
- Operating System: `Darwin Kernel Version 18.2.0: Mon Nov 12 20:24:46 PST 2018; root:xnu-4903.231.4~2/RELEASE_X86_64`
- Output of `odo version`:
[code]

## How did you run odo exactly?
`odo service create mysql-ephemeral <tab>`

## Actual behavior
`odo` offers the list of available service classes

## Expected behavior
`odo` should either no

[2019-01-18 09:05] jorgemoralespou commented on #1212
@metacosm Is `mysql-ephemeral` taken as service class or taken as the name for the service you want to create?

I think that having arguments that are not flags might confuse us in the future, so probably we need to convert all these methods:

from:
[code]

to:
[code]

And have just one single positional argument which will prevent this confusion.

@kadel your thoughts?

[2019-01-18 09:15] jorgemoralespou opened #1213 "URL length is not checked"
[kind/bug]
## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`:  odo v0.0.17 (78a050bc)

## How did you run odo exactly?

[code]

## Actual behavior
The URL that is created is:
`frontend-nodejs-lmus-frontend-jwzy-intro-workshop-ffdba71e1aac11e9b95c.apps.osevg-cbc0.openshiftworkshop.com` in my environment.

First segment, the one created based on applicat

[2019-01-18 09:51] anmolbabu commented on #1117
Done. The PRs https://github.com/redhat-developer/odo-supervisord-image/pull/10 and https://github.com/redhat-developer/odo/pull/1125 now fix this with tests added

[2019-01-18 09:55] metacosm commented on #844
Nevermind. I probably use `oc` by mistake.

[2019-01-18 09:55] #844 closed

[2019-01-18 10:53] mohammedzee1000 commented on #1017
Looking at two options here:

1. Adding it to Aliases parameter of cobra command. This instantly fixes the required case, and it also does not appear in the docs but means user will be able to do `$ odo new-project blah` for all `$ odo project blah`
1. Adding a new command specifically for `$ odo new-project create` which triggers same process as` $ odo project create`. This should ensure only `$

[2019-01-18 11:48] geoand commented on #1017
I would go with the alias.

[2019-01-18 11:49] mohammedzee1000 commented on #1017
I have successfully implemented both. The first option involves one liner change and the second one, a few.

[2019-01-18 11:51] geoand commented on #1017
I'm probably not the most qualified to answer, but for the alias would be the most natural

[2019-01-18 12:01] mohammedzee1000 commented on #1017
Commits are present for both. so PTAL

[2019-01-18 12:08] geoand commented on #1017
Both seem simple enough, so I'm fine with whichever :)

[2019-01-18 14:56] metacosm commented on #1017
I'd go with the alias as well since the other option duplicates code.

[2019-01-21 07:37] mik-dass commented on #1087
I have assigned a M size to it

[2019-01-21 08:38] #1174 closed

[2019-01-21 12:08] jorgemoralespou commented on #647
@cdrage haven't had this for a long while

[2019-01-21 12:20] jorgemoralespou commented on #1185
@amitkrout in short:

- __inner loop__: When you're developing the app and before the code is ready for "productization", which typically means, before you push it to git. The tasks that you typically do are: code, build, deploy, test, code changes, build, push, code, build, push, test,.... Also you would do debug and possibly unit tests.
- __outer loop__: When the code is in Git, and everything t

[2019-01-21 13:41] syamgk commented on #952
Its an endpoint which is expecting POST request and when you are accessing it from browser its doing a GET request, hence the error
[code]

[2019-01-21 14:40] #1054 closed

[2019-01-21 17:30] jorgemoralespou opened #1220 "odo catalog list component shows hidden builders"
[kind/bug]
## What versions of software are you using?
- Output of `odo version`: odo v0.0.17 (78a050bc)

## How did you run odo exactly?

[code]
## Actual behavior
Show all imagestreams that have a builder tags.

## Expected behavior
Show only builder images that don't have the `hidden tag`

[2019-01-21 18:38] cdrage commented on #647
@jorgemoralespou Could you close this issue?

[2019-01-21 18:43] #647 closed

[2019-01-21 22:52] jorgemoralespou opened #1221 "When setting memory and cpu, config needs also to be applied to initContainers"
[kind/bug]
Container default request and limits LimitRange applies to every container created.
If you have a LimitRange that sets default container memory of 1 GB but you create your component with 512MB with `odo` it will still compute as a 1GB pod, as the memory the pod needs to run is the highest of the memories of the container and the initContainers.

Memory and cpu settings need to be applie

[2019-01-22 08:48] #1171 closed

[2019-01-22 11:05] kadel commented on #1052
Shouldn't odo check that user is not doing something stupid on invalid?
I think that self-linking should be something that odo should catch and error out.

Of course, it has to be smart enough to recognize that you are linking to a different component with the same name and allow that.

[2019-01-22 11:06] geoand commented on #1052
I agree that odo should try and prevent things that don't make sense

[2019-01-22 14:58] geoand commented on #1220
Is this a duplicate of #1180 ?

@girishramnani If you aren't working on it, I can certainly pick it up

[2019-01-22 15:09] jorgemoralespou commented on #1220
@geoand In fact. I thought that was only about services. Since it also covers components, I'll close this one.

[2019-01-22 15:09] #1220 closed

[2019-01-23 09:19] syamgk commented on #952
- [ ] configure e2e tests on ci.co

- [ ] adding webhooks from odo repo to ci.co

- [ ] sending pr to master with .cico.pipeline(which is currently residing in cico-test branch)

[2019-01-23 12:04] #1099 closed

[2019-01-23 12:06] anmolbabu commented on #1121
PR(https://github.com/redhat-developer/odo/pull/1125) to fix this is merged now so closing this issue

[2019-01-23 12:06] #1121 closed

[2019-01-23 12:07] anmolbabu commented on #1117
The PRs to fix this have been merged... Hence closing this issue

[2019-01-23 12:07] #1117 closed

[2019-01-23 12:08] anmolbabu commented on #988
The PR(https://github.com/redhat-developer/odo/pull/1125) to fix this has been merged...
Hence closing this issue

[2019-01-23 12:08] #988 closed

[2019-01-23 12:42] #1141 closed

[2019-01-23 14:35] geoand opened #1225 "Add unit tests for the completion handlers that don't have them"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

We should include unit tests for the completion handlers that currently lack them: like the app completion handler

## Why is this needed?

Since the new completion architecture allows us to write the completion handlers in go, it makes sense to test this code as we would any other piece of odo