[2021-03-02 14:45] kadel commented on #4197
I don't think that this is what we want. Startup Probe will result in killing the Pod. This is not what we want here.

[2021-03-02 15:08] wtrocki commented on #3973
@dharmit SBO is still not GA (means in 0.x) so they can introduce breaking changes and tooling should simply update for it. Supporting both options in CLI is very very simple so not sure why this is actually closed.

SBO had couple of major bugs fixed recently and not doing update practically means that entire odo link can be removed since it will be using unsupported versions of operator that can

[2021-03-02 15:22] dharmit commented on #3973
We understand that, and hence we updated odo to use the latest version of SBO then. SBO has recently (in past couple of days) come up with a newer version (0..5.0 IIRC), and we will update odo to use that.

It was closed because we updated odo to use newer APIs as you might see it here https://github.com/openshift/odo/issues/3973#event-.

I think I answered that already, but we don't see an option

[2021-03-02 15:24] wtrocki commented on #3973
Ok. Thank you so much for clarification. That was my intention

[2021-03-02 15:37] deboer-tim commented on #4217
/remove-lifecycle stale

Happened again when I try to go to 2.0.4.

[2021-03-03 00:06] dgolovin opened #4474 "`odo catalog describe component nodejs -o json` returns incorrect json if same name used for component in two+ different registries"
/kind bug

## What versions of software are you using?

**Operating System: Linux**

**Output of `odo version`: 2.0.5**

## How did you run odo exactly?

`odo reqistry add  test https://github.com/odo-devfiles/registry`
`odo catalog describe nodejs -o json`

## Actual behavior

[code]

## Expected behavior

* At least correct json output
* Registry information for every component's json object

##

[2021-03-03 07:32] mik-dass commented on #4361
We need to replace the use of the functions in https://github.com/openshift/odo/tree/master/pkg/devfile/validate/generic  to the functions in the devfile api's https://github.com/devfile/api/tree/master/pkg/validation

[2021-03-03 07:47] prietyc123 opened #4475 "context flag doesn't work properly for component create using --starter flag"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

[code]
However when I tried the same step with changing the directory to `./testdis/` and run
[code]
It works fine.

## Actual behavior

## Expected behavior
When we use `--context` flag, I thing `cd` should not require for creating the

[2021-03-03 08:18] maxandersen commented on #4440
okey, submitted https://github.com/odo-devfiles/quarkus-ex/pull/1

[2021-03-03 09:51] kadel commented on #4440
/close
 odo-devfiles/quarkus-ex#1

[2021-03-03 09:51] #4440 closed

[2021-03-03 09:53] kadel commented on #3423
With correct annotations on odo created `Deployments` we should be able to create a ServiceBinding between two odo components https://github.com/redhat-developer/service-binding-operator/blob/master/docs/User_Guide.md#binding-metadata-in-annotations

[2021-03-03 10:04] mik-dass commented on #3132
Yes devfile components do use `.odoignore`.

[2021-03-03 10:38] maxandersen opened #4476 "odo create should not ask if i want a starter when it cant create one"
/kind bug

i run odo create in an already existing quarkus project and the following happens 👍
[code]

if odo cant create a starter when files exists why even ask the user ?

could it just skip that question for this case?

[2021-03-03 10:43] maxandersen opened #4477 "odo status is not being nice"
/kind bug

[code]

why tell me to use --follow when i need more ? and if needed why not make it default?

[2021-03-03 10:52] dharmit commented on #4477
Possibly a dupe of #4335.

[2021-03-03 11:58] anandrkskd commented on #4459
Issues related to Failing test on PSI:
- component push throws error of waited 4m0s but couldn't find running pod matching selector https://github.com/openshift/odo/issues/2877

[2021-03-03 12:13] rnapoles-rh commented on #4239
From research:
Travis is not running on https://github.com/odo-devfiles/registry and therefore any breaking changes will not be caught.
We need to onboard OpenShift CI to move away from travis.
Will need to follow the following to get onboarded:

- https://github.com/openshift/release
- https://docs.ci.openshift.org/docs/how-tos/onboarding-a-new-component/
 then we need to validate any PRs in the

[2021-03-03 13:20] rnapoles-rh commented on #4454
I ran the failing test locally against the PSI cluster and it passes:
[code]

Looking at [Stabilize tests on PSI #4459](https://github.com/openshift/odo/issues/4459) to try to identify the root cause.

[2021-03-03 13:24] maxandersen commented on #4440
still an issue.

using zip with https://code.quarkus.io/d?s=98e.Bqi.tqK.Svz&cn=test
it fails with odo but unzip of it works fine.

[2021-03-03 13:43] #3894 closed

[2021-03-03 13:53] rnapoles-rh commented on #4459
For [failing tests on PSI - Failed Error: ImagePullBackOff #4454](https://github.com/openshift/odo/issues/4454) I ran it locally agains the PSI cluster and it passed. Debugging to try to figure out why this is unstable

[2021-03-03 14:49] dharmit opened #4479 "Document how to use "odo env" command and what not to expect from "odo config" command"
/kind documentation
/good-first-issue

## What mistake did you find / what is missing in the documentation?
For s2i components, the right way to change a component's project/namespace was `odo config set project <project-name>`
For devfile components, the right way to do the same is to use `odo env set project <project-name>`.

We need to clearly document the purpose and use cases of `odo config`

[2021-03-03 14:51] dharmit commented on #4479
@kadel @girishramnani would it be right to consider this issue blocked on #4281? I'm asking this because I think that till we don't address that issue, we will have `.odo/config.yaml` for some cases and `.odo/env/env.yaml` for other cases. Once we have addressed #4281, we would not be relying on `.odo/config.yaml` for anything, right? And that's when it becomes unambiguous to document `odo env` an

[2021-03-03 15:33] maysunfaisal commented on #4361
@mik-dass You dont have to call the individual funcs in devfile/api. If you're using the latest devfile/library this is already covered by the func here https://github.com/devfile/library/blob/master/pkg/devfile/parse.go#L52-L67

[2021-03-03 16:45] kadel opened #4480 "Update ServiceBinding API group"
New SBO operator was released.  https://github.com/redhat-developer/service-binding-operator/releases/tag/v0.5.0

This version introduced breaking change. https://github.com/redhat-developer/service-binding-operator/pull/865

Odo needs to be updated to use a new API group to make it compatible with the latest released SBO.

SBO doesn't get that much usage, and most people will use the latest versi

[2021-03-03 20:03] dgolovin commented on #4474
@kadel this is really a blocker for plugins, because we can do nothing to workaround this. This issue means our Registry browser would work only in case there is only one registry configured. There should be a way ether to identify component type from list above belongs to specific registry or describe command should have an option to describe component from specific registry.

What we can do is s

[2021-03-03 22:47] maxandersen commented on #4477
yes, definitely a dupe. closing

[2021-03-03 22:47] #4477 closed

[2021-03-03 22:52] maxandersen opened #4481 "list available starters instead of saying user is wrong"
/kind bug

## What versions of software are you using?

**Operating System:**
osx

**Output of `odo version`:**
odo v2.0.6 (4f140f98f)

Server: https://api.sandbox.x8i5.p1.openshiftapps.com:6443
Kubernetes: v1.19.0+1833054

## How did you run odo exactly?

`odo create --devfile ../registry/devfiles/java-quarkus/devfile.yaml --starter=getting-started-codequarkus`

## Actual behavior

complains with

[2021-03-04 04:55] anandrkskd commented on #4458
I ran the failing test locally against the PSI cluster and it passes successfully.

[2021-03-04 05:34] anandrkskd commented on #4412
Below are some steps needed to be done to move Tests on windows PSI for sprint 198:
- [ ] Fix gcc library issue on windows
- [ ] Run Unit test

[2021-03-04 07:57] prietyc123 commented on #4439
This has been done by pr https://github.com/openshift/release/pull/16274

[2021-03-04 08:02] valaparthvi commented on #4457
Scope of this issue:
- Fix preference related error messages for now.
- The error returned by `pkg-preference::SetConfiguration` is wrapped along with the Go syntax error which is not parsed like it should be by `LogErrorAndExit`. If we either change the way errors are wrapped in SetConfiguration or the way they're parsed in `LogErrorAndExit` we can fix this issue.

Extract from preference::SetCon

[2021-03-04 08:06] prietyc123 commented on #4467
@kadel I think it is cluster specific because I tried running running whole test suite 2-3 times and captures the logs into a file, despite of test failures I didn't find garbage projects left over.

[code]
Test logs:
[log3.txt](https://github.com/openshift/odo/files/6081803/log3.txt)
[log4.txt](https://github.com/openshift/odo/files/6081804/log4.txt)

Further I will try researching on PSI cluster

[2021-03-04 08:31] valaparthvi commented on #4462
`alias AC=Acceptance Criteria`

Scope  of this issue for Sprint 198 -
- Get https://github.com/openshift/odo/pull/4456 merged so that AC#1 can be marked as done.
- Work on getting AC#3.4,4,5 this sprint, if time permits then on the rest of AC#3.
- For AC#5 I have segment code in place(see [PR4482](https://github.com/openshift/odo/pull/4482)) but I am still struggling to send data to segment becaus

[2021-03-04 09:01] kadel commented on #4481
There is an option to list the starter projects - `odo catalog describe component java-quarkus`.
But I completely agree with you. It would be much better if the user doesn't have to run another command (especially this log).
Odo should list available starter projects as part of the error message.

[2021-03-04 10:27] prietyc123 opened #4485 "odo cli builds produces odo-windows-amd64.exe.tar.gz binary"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
v2.0.6

## How did you run odo exactly?
Verifying odo cli release SHA256_SUM and rpm builds binary

## Actual behavior
odo cli binary has `odo-windows-amd64.exe.tar.gz` extension, however there is no SHASUM available for the same.

## Expected behavior
It should not produce `odo-window

[2021-03-04 10:47] mik-dass commented on #4361
Thanks @maysunfaisal :+1:

We will need replace the generic library call here https://github.com/openshift/odo/blob/2f7f4a090674e404467f0295bd5ceb8acdd528c6/pkg/devfile/validate/validate.go#L21 to the devfile api one.

We will also need to find ways to handle/ignore errors like https://github.com/openshift/odo/blob/2f7f4a090674e404467f0295bd5ceb8acdd528c6/pkg/devfile/adapters/common/command.go#L76

[2021-03-04 10:57] mik-dass commented on #3132
We should also find a way to save the info in the env.yaml instead of using the `artifacts` flag during every push.

[2021-03-04 11:15] dharmit commented on #4112
That would still not solve the problem if user specifies the name on the CLI, no? Or would it? Shoult id?

[2021-03-04 11:15] mik-dass commented on #4197
During the phase where odo executes run or debug command ( ✓ Executing debug command "npm run debug" [1s]) odo should valid one second to verify that after the program is started is still running. This time should be configurable using a preference option.

We can execute `supervisord ctl status` and check if the current program is in the running state or not. If not in running state, we will need

[2021-03-04 11:21] anandrkskd commented on #4315
scope of this issue can be divided into either or
If we want to implement test on 3.11 cluster as it is for now on the repo using travis we will need
Either
- [ ] add odo-init-image in release repo and Create prow job
- [ ] Create sendqueue and exchange (may require to add a secret for amqp server)
- [ ] Create a vm with 3.11 will be similar to #4288
- [ ] create nodessh file for same
- [ ] Script

[2021-03-04 11:36] dharmit commented on #4315
I'm not sure why we would want to test on 3.11 cluster. Why not test it on latest 4.x cluster?

Also, how were we doing this in the past? Since odo is supposed to work on both 3.x and 4.x, should we run tests on both cluster types?

I really don't mean to overdo this than what's required.

@kadel @mohammedzee1000 wdyt?

[2021-03-04 12:19] dharmit commented on #4160
What's done so far (#4465):
* `odo service create` adds CRD (Operators) and ServiceInstance (Service Catalog) yaml into `devfile.yaml`.
* Library has been updated from v1 to v2 by Mrinal

What's pending (scope of this issue for Sprint 198):

- [ ] Remove CRD and ServiceInstance yaml from `devfile.yaml` when user does `odo service delete`. This can be done only after https://github.com/devfile/libr

[2021-03-04 13:01] dharmit commented on #4135
There was no tangible progress on this one in the last sprint. What I understood is that I grossly underestimated the scope of this problem. Things that need to be done:

- [ ] Need to remove the usage of `util.CheckPathExists(DevfilePath)` from all places in `odo delete` code. This function is currently used to determine if we're using a devfile component or s2i component.
Instead, we will rely o

[2021-03-04 13:45] #4074 closed

[2021-03-04 14:09] #4480 closed

[2021-03-04 15:39] kandarpamalipeddi commented on #4445
We tried on the latest code and these tests are working fine on Power.
I guess we can close this issue.

[2021-03-04 16:51] #4445 closed

[2021-03-04 16:52] dharmit commented on #4233
/lifecycle frozen

[2021-03-04 19:46] #3300 closed

[2021-03-05 08:08] kadel commented on #4197
examle how this could look like for normal output:

[code]

[2021-03-05 19:14] girishramnani opened #4488 "Use of embedded library from golang library to bundle registry devfiles?"
/kind feature
# TODO

https://golang.org/pkg/embed/

[2021-03-06 13:52] #4091 closed

[2021-03-07 19:57] #4023 closed

[2021-03-08 01:58] #4102 closed

[2021-03-08 04:03] girishramnani commented on #4112
it would because then the name would be `project-app-<user-provided-name>-<random-string>`
e.g. project - `blah`
app - `app`
component name - `hello`
then final name used would be `blah-app-hello-Hsdvgf` and we would have label selectors to get this component.

[2021-03-08 05:56] dharmit commented on #3724
/lifecycle frozen

[2021-03-08 06:37] dharmit commented on #4237
/lifecycle frozen

We might still use Service Binding for this but without the Operator. The Service Binding team plans to make the tool available as a library so that users who don't have the Service Binding Operator installed can still use the `odo link` feature.

[2021-03-08 08:49] valaparthvi commented on #4457
Regarding our earlier confusion with `errors.Wrapf`, I played with it for a bit and [here is the result of it](https://play.golang.org/p/Tmw4fc1vnFL).

Wrapf does nothing but wrap the custom message that we pass to it with the syntactical error that Go generates.

[2021-03-08 10:07] #4488 closed

[2021-03-08 10:42] dharmit opened #4490 "Disable periodic jobs for all versions except "latest' and "latest - 1""
Currently, odo periodic jobs are running for the OCP versions 4.2 through 4.7. However, only the latest (4.7) and one version older than that are supported from features point of view. As of opening this issue:
* 4.7 is the latest and fully supported issue
* 4.6 is also fully supported
* 4.5 is in maintenance mode and release of 4.8 will cause its EOL

When 4.8 is released, 4.6 will enter maintena

[2021-03-08 13:18] girishramnani opened #4492 "Currently we don't show the urls and storages if the cluster is not accessible - we should show them with unknown state"
/kind feature

Link - https://github.com/openshift/odo/pull/4472#discussion_r587362266

[2021-03-08 14:19] kadel commented on #1236
/reopen
this is not done yet

[2021-03-08 14:21] kadel commented on #4462
/reopen
only the first item was done

[2021-03-08 14:22] kadel commented on #4205
still a problem
/lifecycle rotten
/remove-lifecycle stale

On Sat, 6 Mar 2021 at 20:53, OpenShift Bot <notifications@github.com> wrote:

[2021-03-08 14:23] kadel commented on #4205
/remove-lifecycle rotten

[2021-03-08 15:35] scottkurz opened #4493 "odo url create should try to use an existing endpoint in the devfile rather than creating a new one"
/kind bug
you using?

**Operating System:**   Windows/Linux

**Output of `odo version`:**  odo v2.0.6 (2f7f4a090)

## How did you run odo exactly?

 Basically following instructions:  https://odo.dev/docs/deploying-a-devfile-using-odo/#deploying-an-open-liberty-application-to-an-openshift--kubernetes-cluster

### Steps
1.  Start from a minikube+ingress cluster ctx
2.  git clone https://github.com/

[2021-03-08 18:59] awisniew90 opened #4494 "Allow option to specify image pull policy for component container image"
/kind feature

## Which functionality do you think we should add?

Odo should allow users to specify an image pull policy for a component's container image.

## Why is this needed?

Using local images for components is particularly necessary when testing out stack image changes. Without being able to change the image pull policy, a local image cannot be used.

[2021-03-08 19:00] awisniew90 commented on #4494
Related to: https://github.com/devfile/api/issues/89

[2021-03-08 21:55] scottkurz commented on #4114
/remove-lifecycle rotten

@girishramnani  @kadel  this is perhaps a minor annoyance but IMHO any tool that pollutes your git repo with unexpected changes can be pretty annoying.

Couldn't we just have odo write:

OR

Is there any content within .odo/  that we're trying NOT to ignore?
https://github.com/openshift/odo/issues/3386

If I take a project with an existing .gitignore or .odoignore and bri

[2021-03-09 06:37] valaparthvi commented on #4475
It seems to be working fine for me -
[code]
odo version - odo v2.0.7 (f0d881d7f)
OS: Fedora 32

[2021-03-09 06:59] girishramnani commented on #4112
this would be a bit complicated but would align with how components are name in s2i and also in future if we change the naming mechanism, this approach would be reslilient as we are using label selectors to get the name

[2021-03-09 07:23] girishramnani commented on #4302
blocked on https://github.com/openshift/odo/pull/4496

[2021-03-09 07:24] girishramnani commented on #4302
and on this as well https://github.com/openshift/odo/pull/4472

[2021-03-09 08:09] kadel commented on #4335
no the only reason why its done like this is that while this was implemented the json output was a priority and there was no need for normal output.

The correct way how this should be fixed is to implement normal output for this command and make `-o` optional.
The same for `--follow`. Non follow mode should be implemented and this flag should be made optional.

[2021-03-09 08:26] kadel commented on #4112
Are you talking about the abstract component name or how odo names Kubernetes components?

In other words, If I would run `odo list`  I would see `user-provided-name` or `project-app-<user-provided-name>-<random-string>`

I thought that we are talking about the component names here. I'm not sure if it makes sense to solve this.
If a user creates two-component with the same name in the same applica

[2021-03-09 09:17] girishramnani commented on #4335
now that increases the scope and makes this a feature instead of a bug @kadel

[2021-03-09 09:19] girishramnani commented on #4335
also can we scope out the work and behavior of
- [X] ~~`odo status --follow -o json`~~
- [ ] `odo status`
- [ ] `odo status --follow`
- [ ] `odo status -o json`

[2021-03-09 09:34] kadel commented on #4335
this was never a bug. It is wrongly labeled

[2021-03-09 09:53] kadel commented on #4463
After discussing this with @jeffmaury and understanding more about this issue I think that we can safely implement this as it shouldn't change with the new registry implementation.

The problem is this:
When I add my own registry to odo
[code]
and my-registry has the devfile with the same name as the default odo registry, I won't be able to run `odo catalog describes component` on devfile from def

[2021-03-09 09:55] kadel commented on #4302
/priority high

[2021-03-09 10:28] dharmit commented on #4112
Thinking purely from `odo link` perspective.

We have earlier demonstrated an example of linking multiple components with each other. This was the famous Wild West frontend and backend components. In this example, component names were pretty simple - `backend` and `frontend`. So linking experience was also simple - `odo link frontend` or `odo link backend`.

If we create a component name the way i

[2021-03-09 11:12] valaparthvi opened #4499 "Wrong examples in the preference help"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 32

**Output of `odo version`:**
odo v2.0.7 (f0d881d7f)

## How did you run odo exactly?
`odo preference -h`

## Actual behavior
[code]
## Expected behavior
[code]

## Any logs, error output, etc?

[2021-03-09 11:44] #4354 closed

[2021-03-09 11:48] girishramnani opened #4500 "Remove docker/local mode related code from odo"
We have a lot of docker -> local scenerio code present which isn't used anywhere. So we should remove it.

## Acceptance Criteria

- [ ] If there are any references to Docker support in the code, remove it. Few PRs have already been merged (scroll below to see which PRs) for this, so Docker references should be minimal or nil.
- [ ] Remove blocked status on #4461.

[2021-03-09 12:18] kadel commented on #4112
This would be done only if users don't specify component names. In the Wild West example that you mentioned every component was explicitly named.

Using this might be a little bit overkill, but something like what we do for s2i might make more sense. `<component type>-<current directory name>-<4 random letters>`

[2021-03-09 12:24] girishramnani commented on #4302
was able to create a PR based off https://github.com/openshift/odo/pull/4472 so have a working PR but we cannot merge it until 4472 isn't done.
But no active work is needed from my end hence moving this to review

[2021-03-09 12:28] girishramnani commented on #4481
should we also consider jumping into interactive mode so the user can select the starter if they were not able type it correctly?

[2021-03-09 13:51] rnapoles-rh opened #4502 "Some Integration and e2e tests are not properly cleaning up project/namespaces after test execution"
/kind bug

## What versions of software are you using?

**Operating System:**
Any

**Output of `odo version`:**

## How did you run odo exactly?
The problem is seen on test triggered by PRs, and when triggered manually

## Actual behavior
Some tests clean up the projects/namespaces that were created for execution, but not all of them

## Expected behavior
All tests (no matter what test type) must

[2021-03-09 18:58] #4457 closed

[2021-03-09 18:58] #4499 closed

[2021-03-10 07:55] #4443 closed

[2021-03-10 08:42] girishramnani commented on #4112
works

[2021-03-10 09:17] dharmit commented on #4112
But this comment suggest otherwise https://github.com/openshift/odo/issues/4112#issuecomment-792446146.

What I understood is that `odo create nodejs frontend` will lead to a component named `myproject-app-frontend-Hsdvgf`.

Correct me if my understanding's wrong.

[2021-03-10 11:30] kadel commented on #4112
Yes, that is what was suggested in that comment. But we should not do this. If the user specifies a component name odo needs to create the component with that name.

[2021-03-10 11:54] kadel commented on #4493
This actually makes a lot of sense. We should do something with this. The current behavior is not good.

[2021-03-10 12:57] kadel commented on #4481
nope, that would make it harder to build scripts around odo. If the user provides an invalid starter it odo needs to error out and return non zero return code.

[2021-03-10 13:55] dharmit opened #4503 "Enable periodic jobs for "latest+1""
#4490

/area testing

[2021-03-10 13:57] dharmit commented on #4490
For 4.5, disable Operator Hub tests completely due to SBO breaking changes.

[2021-03-10 14:26] rnapoles-rh commented on #4502
I manually ran all tests listed in the Makefile and none of them left projects behind. I will try a different approach.

[2021-03-10 16:27] kadel opened #4504 "Use official devfile registry"
The New Official Devfile registry is running at https://registry.devfile.io/
Devfiles served by the registry are at https://github.com/devfile/registry

Odo should deprecate and stop using https://github.com/odo-devfiles/registry and use over one instead.

The new registry has a different API, so all commands and function operating on the registry will have to be updated

/priority high
/area regi

[2021-03-10 16:36] kadel commented on #4474
What should be correct output?

[2021-03-10 16:41] kadel commented on #4474
Ok, I see it now. It is missing `,` in between structs

[2021-03-10 16:43] GeekArthur commented on #4504
Related issue from devfile service side: https://github.com/devfile/api/issues/367

[2021-03-10 17:39] kadel commented on #4474
@dgolovin Would output like this work for you?
Note that I have changed the structure a little bit.

[code]

[2021-03-11 05:02] prietyc123 commented on #4502
@rnapoles-rh Isn't this issue same as https://github.com/openshift/odo/issues/4467 . Putting two QE effort on the same issue doesn't make sense, I guess.

[2021-03-11 05:13] anandrkskd commented on #4315
As per cabal discussion we will use PSI cluster to test on odo-init-image repo. And will use Openshift built-in container image registry to store PR build image and use the built-in container image registry to perform tests.

[2021-03-11 05:24] anandrkskd commented on #4458
As per discussed on cabal call, we are not facing this issue on PSI now. This issue may be caused due to network instability faced by the infrastructure.
Closing this issue for now.
/close

[2021-03-11 05:24] #4458 closed

[2021-03-11 12:12] rnapoles-rh commented on #4502
@prietyc123  Yesterday during cabal it was agreed that there could be two different causes for project being left behind:
- some test not cleaning properly after execution
- PSI jobs failing to complete and the cleanup job will not get executed
This new issue will take care of the first one.

[2021-03-11 12:14] wtrocki opened #4505 "odo link should support providing name of the SBO object"
ServiceBindingOperator plans to use file-based mounted bindings.
This will mean that name of the service binding objects should be easy to control.

This way odo can be used the same way as service binding objects - creating paths that are expected by devs.

CC @petemuir @sbose78

[2021-03-11 12:47] kadel commented on #4505
@wtrocki I'm lost :/ Can you point me to some documentation or an example?

[2021-03-11 12:57] wtrocki commented on #4505
Odo link will create SBO object with `metadata.name` that cannot be specified by end user.

See: https://github.com/redhat-developer/service-binding-operator/issues/893

[2021-03-11 14:29] kadel opened #4507 "REGRESSION: odo create is not working without cluster"
In the current master
[code]

odo create doesn't work without a cluster connection
[code]

When using the latest release v2.0.7 it works as it should.
[code]

I suspect that it might because some of the changes in
https://github.com/openshift/odo/pull/4472

/kind bug
/priority critical

[2021-03-11 15:57] kadel commented on #4505
Can we change that? Will also discuss the same with OpenShift console team.

That should not be a problem. We could allow users to optionally set a name. It could look like this `odo link Database/database --name  mybinding`

[2021-03-11 16:05] wtrocki commented on #4505
@kadel no problem. I'm trying to aggregate all those requirements in the ecosystem first and prioritize them. Already checked the code and see that this will be trivial to add so I can either do it myself after some time or someone from odo core team can pick that up. Thank you.

[2021-03-12 10:05] #4116 closed

[2021-03-13 00:42] joshuawilson opened #4510 "Fails due to KUBECONIG location"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 33

**Output of `odo version`:**
2.0.4

## How did you run odo exactly?
Trying to use s2i on Openshift VSCode ext

## Actual behavior
`odo list --app foo --project josh -ojson`

returns:
[code]

I found this is because I have my KUBECONFIG set in an env var and it is not in `~/.kube/config`. When I changed to that

[2021-03-15 07:09] valaparthvi commented on #4455
I think my system's minikube might be at a fault here. I ran the same thing from another machine and it worked. Closing this issue.

[2021-03-15 07:09] #4455 closed

[2021-03-15 14:04] prietyc123 commented on #4490
PR https://github.com/openshift/release/pull/16813 will disable unsupported periodic jobs. Plan is to run periodic jobs on all the ocp supported version 4.5, 4.6 and 4.7, also the upcoming version 4.8 . Yes, ofcourse 4.5 will break until 4.8 GA comes out, but thats ok it will only fail for SBO.

[2021-03-15 14:05] prietyc123 commented on #4503
PR https://github.com/openshift/release/pull/16813 will fix this.

[2021-03-16 05:33] prietyc123 commented on #4503
I will handle it in another pr because there are some failures observed while enabling 4.8 jobs https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_release/16813/rehearse-16813-periodic-ci-openshift-odo-master-v4.8-integration-e2e-periodic/1371461371509608448#1:build-log.txt%3A1322 . It needs dedicated time of individual. So moving it to next sprint.

[2021-03-16 07:42] #4361 closed

[2021-03-16 08:06] valaparthvi commented on #4172
@dharmit is it okay to add the lifecycle/active label here? I see you have been working on the related issue #4242, so this issue is definitely not stale.

[2021-03-16 09:04] kadel commented on #4510
We are using `KUBECONFIG` a lot in our tests and on my local system I also have `KUBECONFIG` set to a different path than `.kube/config`.

Did you run `odo` command in your "normal" terminal or it was in VSCode integrated terminal?

If you run odo with verbose logging `-v 10` you should where the kube config is loaded from.

[code]

[2021-03-16 09:08] kadel commented on #4500
/priority low
/kind cleanup

[2021-03-16 09:19] kadel commented on #4485
/close
it looks like this was resolved in the last release https://mirror.openshift.com/pub/openshift-v4/clients/odo/v2.0.7/ there is no .tar.gz for windows binary, only zip

[2021-03-16 09:19] #4485 closed

[2021-03-16 09:25] kadel commented on #4475
working for me as well (using 6a7359747)
/close

@prietyc123 If this is still an issue for you feel free to reopen.
To help with the reproduction and investigation please try to paste the actual `odo version` output or specify what git revision you were using. Saying just `master` makes it impossible to find what you were running.

[2021-03-16 09:26] #4475 closed

[2021-03-16 09:37] kadel commented on #4461
/status blocked

Docker support is currently experimetnal, before we  can remove it from preference we need to decide on its fate.
https://github.com/openshift/odo/issues/4500

[2021-03-16 09:40] kadel commented on #4463
@jeffmaury
Wouldn't implementing this https://github.com/openshift/odo/issues/4474#issuecomment-795797599 also solve your problem.

If there are multiple components with the same name, it still prints them both, but now the JSON output has the registry name.

[2021-03-16 09:59] kadel opened #4515 "Upgrade PSI OCP cluster to latest stable OCP version"
We should keep our PSI cluster updated to the latest stable version.

Currently, the cluster is running on 4.5 but it should be on 4.7.

/kind testing
/priority high

[2021-03-16 10:06] kadel commented on #4453
/priority low

[2021-03-16 10:07] kadel commented on #4449
/priority low

[2021-03-16 10:08] kadel commented on #4451
/priority high

[2021-03-16 10:51] dharmit commented on #2353
@kadel any suggestions?

[2021-03-16 10:56] prietyc123 commented on #4287
Hitting file permission issue on kubernetes job https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4512/pu[…]-master-psi-kubernetes-integration-e2e/1371511255918972928

[2021-03-16 11:01] #4507 closed

[2021-03-16 11:06] girishramnani commented on #3782
This is not relavent anymore

[2021-03-16 11:06] #3782 closed

[2021-03-16 11:08] girishramnani commented on #4146
not relavant anymore

[2021-03-16 11:08] #4146 closed

[2021-03-16 11:19] girishramnani opened #4517 "convert cmd helpers to new CmdRunner"
/kind feature

## Which functionality do you think we should add?
Currently we have alot of functions in https://github.com/openshift/odo/blob/master/tests/helper/helper_run.go which can be de-duplicated ( they have a lot of common code ). There is some code already that does that using https://github.com/openshift/odo/blob/master/tests/helper/helper_cmd_wrapper.go

The ideal target functions woul

[2021-03-16 11:20] girishramnani commented on #4517
The tests should also use the newer CmdRunner so changes to the tests should also be scoped here

[2021-03-16 11:27] dharmit commented on #4115
Closing this since we already refactored url and storage packages and we can reference that for further refactoring, if any.

/close

[2021-03-16 11:27] #4115 closed

[2021-03-16 11:50] #4490 closed

[2021-03-16 12:04] jeffmaury commented on #4463
Yes

[2021-03-16 12:04] girishramnani commented on #4112
please note this is a change that needs to be notified to adapter folks

[2021-03-16 12:52] girishramnani commented on #4504
is this the OCI registry with devfile as an manifest type?

[2021-03-16 12:57] joshuawilson commented on #4510
I ran it in both vscode and standard terminal.
If I have kubeconfig in both locations it works. But if it is missing from `.kube/config` I got that error.

[2021-03-16 13:45] dharmit commented on #4172
@jdob I understand that this issue is for cli help message. So my response is tangential. Can you see if a recently added piece of documentation helps you with java+database example - https://odo.dev/docs/deploying-java-app-with-database/?

@valaparthvi it's

/lifecycle frozen

[2021-03-16 14:12] kadel commented on #4504
yes, but OCI registry is just an implementation detail. There is an HTTP REST interface. odo and other tools will interface just with that.

[2021-03-16 14:22] #4470 closed

[2021-03-16 15:10] #4463 closed

[2021-03-16 15:10] #4474 closed

[2021-03-16 21:00] keddyliu opened #4520 "Better support for nginx applications"
/kind feature

## Which functionality do you think we should add?
Currently, I can create and deploy a simple nginx application onto OpenShift by running the following:
`git clone https://github.com/sclorg/nginx-ex.git`
`cd nginx-ex`
`odo create nginx --s2i --git https://github.com/sclorg/nginx-ex.git`
`odo url create --port 8080`
`odo push`

and undeploy the application with the following:
`odo d

[2021-03-17 06:43] prietyc123 commented on #4287
It has been closed accidently via https://github.com/openshift/odo/pull/4516

[2021-03-17 08:46] prietyc123 commented on #3980
Working on https://github.com/openshift/odo/issues/4287 to get fixed first. Then jump into add ons.

[2021-03-17 08:48] prietyc123 commented on #4414
Closed via https://github.com/openshift/release/pull/15451

[2021-03-17 08:48] #4414 closed

[2021-03-17 08:50] #4439 closed

[2021-03-17 08:52] prietyc123 commented on #3138
@kadel It would be great if you verify devfile https://github.com/openshift/odo/issues/3138#issuecomment-785013402 and whole java verification process https://github.com/openshift/odo/issues/3138#issuecomment-784943301 , close this issue if it looks good to you.

[2021-03-17 11:04] girishramnani commented on #4442
A help message like - `this command directly performs actions on the cluster and doesn't require a push`?

[2021-03-17 11:23] dharmit commented on #4442
Yeah that would do.

[2021-03-17 11:24] kadel commented on #3138
not sure how I can verify it. If you tested this and it worked we are ok.

[2021-03-17 11:33] kadel commented on #4125
the devfile spec was updated https://github.com/devfile/api/issues/201 `Name` and `Id` need to follow the same rules ad k8s names

[2021-03-17 12:07] prietyc123 opened #4522 "Execute ci firewall tests on master for release repo pr"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Currently we are fetching prs from odo repo which results release repo jobs to fail.

[code]
PR https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_release/16852/rehearse-16852-pull-ci-openshift-odo-master-psi-kub

[2021-03-17 12:24] prietyc123 opened #4523 "ci-firewall --setupscript and --runscript should take script parameter arg"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Executing ci-firewall request with argument in `--setupscript ` and `--runscript` doesn't accept the arg

[code]

## Actual behavior

## Expected behavior

ci-firewall should run the script with parameter.

## Any logs, error output, etc

[2021-03-17 12:33] dharmit commented on #3138
Does it add value to document the steps and put them up on https://odo.dev?

[2021-03-17 12:36] dharmit commented on #4253
/remove-lifecycle stale

@rnapoles-rh @prietyc123 please close this one when the issues related to it are done.

[2021-03-17 21:04] scottkurz commented on #4318
@kadel - probably this would be a separate issue but to be able to use `odo exec` for that type of debug it would also be nice to support `kubectl exec` options like:

* odo exec -it -- /bin/bash
* odo exec -c debug-container  --it -- /bin/bash

[2021-03-18 07:30] #4302 closed

[2021-03-18 09:39] kandarpamalipeddi commented on #4351
**Following are some of the changes implemented in ODO to make it work for PowerVS cluster (Proxy enabled cluster):**

PowerVS is proxy based cluster.

Initially, we used to set the `HTTP_PROXY` and `HTTPS_PROXY` variables with odo create command.

[code]

We observed that, odo doesn't allow `--env` flag with `--starter`. Hence starter projects failed to execute.

We added changes, to run `odo con

[2021-03-18 09:55] #4112 closed

[2021-03-18 11:21] dharmit commented on #4523
@mohammedzee1000 what do you think we need to do here? This looks like something that needs to be fixed on ci-firewall side. Correct me if I am wrong.

[2021-03-18 11:34] anandrkskd commented on #3678
The [dashboard](https://gist.github.com/anandrkskd/102d08389c61e7f7293570bf38205d3b) is up, we can close the issue now.
/close

[2021-03-18 11:34] #3678 closed

[2021-03-18 11:38] girishramnani opened #4527 "odo delete doesn’t take in account of context when deleting devfile.yaml"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`: odo master

## How did you run odo exactly?

## Actual behavior
[code]
folder content
[code]

## Expected behavior
devfile should be deleted

## Any logs, error output, etc?

[2021-03-18 11:41] girishramnani commented on #4527
working on this

[2021-03-18 12:14] girishramnani opened #4529 "PushTimeout preference is not being valued for devfiles"
/kind bug

## What versions of software are you using?

**Operating System:** MacOS

**Output of `odo version`:** odo master

## Expected behavior
For devfile if you set `odo preference set PushTimeout <seconds>` and then try to push a component - it won't timeout after those seconds. but this works for s2i components.

[2021-03-18 12:15] girishramnani commented on #4529
just so its known - I found this as part of my half day of “exploring odo’s limits”

[2021-03-18 13:27] girishramnani commented on #4192
The most initial step would be to show external deployments in `odo list`, we also need to understand what kind of annotations/ labels those deployments would have that we can use - deployments done using webconsole could have some information in their labels about the kind of component that deployment is?

[2021-03-18 16:54] #4290 closed

[2021-03-18 18:17] rnapoles-rh commented on #4454
I ran the e2escenarios against PSI and all passed as expected
[code]
Closing the issue based on this.

[2021-03-18 18:17] #4454 closed

[2021-03-19 09:59] prietyc123 opened #4532 "Migrate csb jenkins to ocp 4.6 cluster"
/kind user-story

## User Story
As a QE I want to run jenkins as ocp 4.6 inspite of 3.11 to reduce failures on jenkins side

## Acceptance Criteria
- [ ] Initial research on migration part.
- [ ] Resolving failures and meet the expectation to Onboard on ocp 4.6

## Links
- Feature Request: NA
- Related issue: https://issues.redhat.com/browse/ODO-46

/kind user-story

[2021-03-19 10:09] prietyc123 commented on #3138
Yes I tested it and it worked fine.

Yes, we need to document it as part of https://github.com/openshift/odo/issues/4200 issue . So closing this one.

[2021-03-19 10:09] #3138 closed

[2021-03-19 12:16] rnapoles-rh commented on #4459
Closing as the related 2 issues. We will keep an eye on stability and reopen if needed once the required scripts for CI are merged

[2021-03-19 12:16] #4459 closed

[2021-03-19 14:06] #4502 closed

[2021-03-19 16:36] wtrocki commented on #4505
/assign @wtrocki

[2021-03-19 16:53] wtrocki opened #4533 "Add ability to reflect service binding type (secret vs filesystem)"
Service binding (odo link) offers ability to connect using bindingAsFile (creates filesystem based on secret) or link as environment variables.

It is crucial for usability to reflect that in odo.

See also
https://github.com/openshift/odo/issues/4505

[2021-03-19 16:53] wtrocki commented on #4533
/assign @wtrocki

[2021-03-19 17:35] wtrocki opened #4534 "[Discussion] Update version of the ServiceBinding operator from 0.3.0 to 0.5.0"
SBO as dependency is used to build Binding CR, but current version is 0.5.0.
It will be good to update it to latest version to support bindAsFiles flag.

This blocks:

https://github.com/openshift/odo/issues/4533

[2021-03-19 17:35] wtrocki commented on #4534
/assign @wtrocki

This might be controversial but I will see if can bump package

[2021-03-19 18:49] dgolovin opened #4536 "`odo catalog list components` does not work without kubeconfig"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:**  odo v2.0.7 (f6a819c8a)

## How did you run odo exactly?

[code]

## Actual behavior

[code]

## Expected behavior

Should print out components for configured registries. That would help devs who never ever worked with any of k8s related tools and do not have kubeconfig yet.

## Any lo

[2021-03-22 05:50] prietyc123 opened #4537 "Failed to decode zlib stream in s2i assemble script"
/kind failing-test

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running component push on CI

## Actual behavior

[code]

## Expected behavior

odo push should run successfully

## Any logs, error output, etc?

Details: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-op

[2021-03-22 07:55] dharmit commented on #4160
@kadel PR #4465 implements the items discussed in https://github.com/openshift/odo/issues/4160#issuecomment-790577742 and https://github.com/openshift/odo/issues/4160#issuecomment-775838428. It's in review and I need to make a few changes to it for it to get merged.

But overall, this issue has wider scope. For Sprint 199, what would you think we should cover in the scope?

There's one question th

[2021-03-22 11:31] prietyc123 commented on #4287
Successful job run is blocked on https://github.com/openshift/odo/issues/4523 . However we have a debug pr https://github.com/openshift/odo/pull/4538 opened as a work around.

[2021-03-22 13:17] mohammedzee1000 commented on #4314
Next release should let us know if pipeline is ready

[2021-03-22 13:19] rnapoles-rh commented on #4410
Opened https://gitlab.cee.redhat.com/openshiftdo/psi-jenkins/-/merge_requests/10 to create corresponding json file

[2021-03-22 13:19] rnapoles-rh commented on #4410
Looks like we have to update key for all JSON files

[2021-03-22 13:24] rnapoles-rh commented on #4467
With PR https://github.com/openshift/odo/pull/4509 we will use not fully random project names, this will provide some light if we see projects left behind

[2021-03-22 13:27] rnapoles-rh commented on #4288
Blocked by #4523.

[2021-03-22 13:33] dharmit commented on #3132
Please update the issue as discussed on the triage call. @kadel

[2021-03-22 14:03] valaparthvi opened #4540 "Fix typos with preference unit test and make errors better"
/kind cleanup

## What versions of software are you using?
odo v2.0.7 (f9252cfc3)

**Operating System:**
Fedora 32

**Output of `odo version`:**
odo v2.0.7 (f9252cfc3)

## How did you run odo exactly?
`odo preference set experimental asdf`

## Actual behavior
[code]

## Expected behavior
[code]
Add quotes to make it more readable.
## Any logs, error output, etc?

[2021-03-22 14:57] #4442 closed

[2021-03-23 06:21] dharmit commented on #4431
Reproducible on 4.8. Makes case for having https://github.com/openshift/odo/issues/4503 stronger!
[code]

[2021-03-23 11:56] kadel opened #4543 "allow linking using ServiceBinding without ServiceBindingOperator"
## Goal
For developer to be able to link components and applications without the service binding operator having to be installed (self-service)

## Acceptance Criteria
- [ ] `odo link <service-name>` should work without having Service Binding Operator installed
- [ ] `odo link <component-name>` should work without having Service Binding Operator installed
- [ ] `odo unlink` should work correctly w

[2021-03-23 11:57] #4540 closed

[2021-03-23 12:12] kadel commented on #3132
- [Background - how to do remote dev with quarkus](#sec-1)
  - [How remote devmode works](#sec-1-1)
  - [How to do Quarkus dev mode in current odo (****hacky**** and ****slow****)](#sec-1-2)
- [How to better support remote dev flow in odo](#sec-2)

# Background - how to do remote dev with quarkus<a id="sec-1"></a>

Quarkus has a [remote development mode](https://quarkus.io/guides/maven-tooling#rem

[2021-03-23 12:40] dharmit commented on #4527
Moving to Sprint 199 since this won't get closed till the PR #4518 (which also covers other things, IIUC) gets merged.

[2021-03-23 13:30] kadel commented on #4160
A complete picture of how this should work at the end.

- `odo service create` - adds Operator Backed Service CR to devfile.yaml as a `kubernetes` component.
- `odo push` reads the content of the devfile and creates its representation on the cluster. Every Kubernetes resource created from the devfile needs to be labeled at least with the following labels: `app.kubernetes.io/instance`, `app.kuberne

[2021-03-23 16:49] rnapoles-rh commented on #4239
Removing from sprint 199 for now. I will get back to this once PSI is stable for openshift/odo PRs

[2021-03-23 16:59] rnapoles-rh commented on #4410
Due to issue #4523 we have to separate minikube and minishift from a single script. Requires:

- [ ] adjust Jenkins script
- [ ] Create json file suing latest releng-key
- [ ] Test all pieces together (Jenkins, scripts in openshift/release repo, scripts in openshift/odo repo, gitlab.cee.redhat.com/openshiftdo/psi-jenkins/ repo

[2021-03-23 17:02] rnapoles-rh commented on #4288
Due to issue #4523 we have to separate minikube and minishift from a single script. Direct dependency with #4288
Requires:
- [ ] adjust Jenkins script
- [ ] Create json file suing latest releng-key
- [ ] Test all pieces together (Jenkins, scripts in openshift/release repo, scripts in openshift/odo repo, and gitlab.cee.redhat.com/openshiftdo/psi-jenkins/ repo)

[2021-03-23 20:44] sspeiche opened #4544 "Align labels with dev console"
/kind feature

As a developer, I'd like to ensure that applications/component I construct with `odo` or other clients like OpenShift Dev Console so that I can get a consistent view of my application/components.

For example, odo doesn't always set the git repo URL when it could know it. It would be helpful to populate the link/annotation that drive the experience and some capabilities.

See Dev Co

[2021-03-23 20:44] sspeiche commented on #4544
FYI @serenamarie125

[2021-03-24 05:18] prietyc123 commented on #4515
Tasks needs to be done:

- [ ] Install aws cli
- [ ] Follow before provisioning steps, for creating openstack secure.yaml https://gitlab.cee.redhat.com/openshiftdo/PSI/-/tree/master#before-provisioning
- [ ] Follow the steps in https://gitlab.cee.redhat.com/openshiftdo/PSI/-/blob/master/ocp-4x-cluster/README.md for creating/updating the new version of ocp.

[2021-03-24 05:25] #4142 closed

[2021-03-24 05:37] prietyc123 opened #4545 "odo debug fails on address already in use"
/kind failing-test

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Tests are running as periodic jobs on prow

## Actual behavior

[code]

## Expected behavior

Not sure if the address is being used by different component or there is problem in the image itself. Debug should always have a uniqu

[2021-03-24 06:08] dharmit commented on #4372
@boczkowska have we been able to move this forward?

@deboer-tim I remember you asked Devfile team to see if they can host an interface like that of https://odo.dev/file-reference/ on the devfile website. Are they planning to do so?

[2021-03-24 09:04] girishramnani commented on #4240
Found this article that underlines how the form is built in the web console - but still the access limitations say https://www.openshift.com/blog/openshift-4-2-declarative-dynamic-ui-for-your-operator

[2021-03-24 09:12] girishramnani commented on #4240
On further exploration - this is the form https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx in web console

[2021-03-24 09:15] girishramnani commented on #4240
It seems the frontend team is directly using https://github.com/rjsf-team/react-jsonschema-form and they are getting the jsonschema from the cluster, trying to search if I can get json schema as well.

[2021-03-24 10:21] anandrkskd commented on #4315
As per Sprint 198 I was able to understand we will require to give permissions to access to use OpenShift image registry to the OpenShift user which is used for CI purposes, I have created Prow configuration for the tests.

To accomplish this task we need write a script that will create a project and push the image on OpenShift internal image registry and then will be used by the tests. For cleanu

[2021-03-24 10:28] anandrkskd commented on #4315
Acceptance Criteria for sprint 199:
- [ ] Setup existing 4.x cluster to use internal registry for tests
- [ ] Create sendqueue and exchange
- [ ] Configure existing Linux vm for test
- [ ] Create Jenkins Jobs for tests
- [ ] Scripts to execute the test and cleanup

[2021-03-24 11:09] prietyc123 opened #4547 "index pack fails git cloning on ci-firewall"
/kind bug

Issue: https://github.com/mohammedzee1000/ci-firewall/issues/10

[2021-03-24 12:15] girishramnani commented on #2615
## Current scoped work

We were able to figure out how a `non-admin` user was able to still see the form. Its based on `spec.customresourcedefinitions` present in the ClusterServiceVersion.
Now this CRD def is different then whats provided by the `CustomResourceDefinition` ( it has less information ) but as we dont have access to `CustomResourceDefinition` kind as a normal user we cannot use it, s

[2021-03-24 12:44] girishramnani commented on #2615
@dgolovin Please validate the json output part - we might add `parameters : [ ...` to just keep the top level of the json a map but the output structure would stay the same.

[2021-03-24 12:47] prietyc123 opened #4548 "ci-firewall nodesshfile not working as expected"
/kind bug

https://github.com/mohammedzee1000/ci-firewall/issues/11

[2021-03-24 12:53] prietyc123 commented on #4287
Most frequently ran into issue https://github.com/openshift/odo/issues/4548 on PSI jobs 🙁 Also I suspect the customised image `fedora-minikube-bootstrapper-v1` is broken, as it complains about `minikube command not found`. I guess we need to create new customised image and check the behaviour of the pr.

[2021-03-24 12:55] anandrkskd commented on #4408
Jobs on MacOS are failing while tests are executed using script due to
- unable to find go
- unable to resolve github
- failing to download OC, and more network related issue

Need to check why tests are getting triggered, when it is not involved in the release repo.

[2021-03-24 12:58] girishramnani commented on #2615
Also do we wanna do autocomplete? we would need to do some caching for a usable autocomplete as the api call would be slow.

[2021-03-24 13:24] anandrkskd commented on #4412
Windows Jobs on jenkins are failing due to
- scripts,
- Golang related issue `cannot install, GOBIN must be an absolute path` but its already set .
Need to check why tests are getting triggered, when it is not involved in the release repo, same as macos jobs.

[2021-03-24 13:25] dharmit commented on #4160
So `odo push` should be smart to check for this states and do relevant actions every time, right? Now consider this scenario:
* I have two components having their own component directories. Let's call them c1 and c2.
* I created a service called s1 from c1's dir. odo makes an entry in devfile. Subsequent `odo push` from c1's dir creates the service s1 on cluster.
* Now I need to do something with

[2021-03-24 14:18] kadel commented on #2615
I would go with tabular.

I would keep the original ordering. It looks like it follows some logical ordering.

We can check  autocomplete later. Not a high priority now.

[2021-03-24 14:21] #4197 closed

[2021-03-24 16:31] kadel commented on #4160
no it won't. If you did `odo push` from `c2` dir won't touch `s1` service, because that belongs to `c1`, odo know that from labels.

[2021-03-24 17:28] #4147 closed

[2021-03-24 17:28] #3768 closed

[2021-03-25 03:17] dgolovin opened #4550 "`odo list --app appName --project projectName` confusing components with the same name in different applications"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** 2.0.7

## How did you run odo exactly?

Create nodejs devfile component in demo application

[code]
[code]
[code]
[code]
[code]

## Actual behavior

odo list does not see app/nodejs component anymore

[code]
But list app1/nodejs without issues

[code]
Running odo delete for component i

[2021-03-25 05:48] valaparthvi commented on #3801
Scope of this issue for sprint 199 -
[ ] 1. Fix the tests mentioned in https://github.com/openshift/odo/issues/3801#issuecomment-779113525. Some of the tests are a quick fix, some might require a little more work.
[ ] 2. Identify any other tests that might need cleanup.

_Might be a 3-day task._

[2021-03-25 05:53] valaparthvi commented on #4462
Scope of this issue for Sprint 199 -
[ ] 1. Merge #4482
[ ] 2. Add Cluster type information
[ ] 3. Analyze what more data needs to go in and add them.

[2021-03-25 06:12] valaparthvi commented on #4451
Scope of this issue for Sprint 199 -
1. Play with `odo delete` and note observations.

_I think 2 days(including buffer) would be enough for this issue._

[2021-03-25 08:00] mik-dass commented on #3132
- [ ] Use the annotation `"dev.odo.push.file:target/quarkus-app/quarkus-run.jar": "target/quarkus-app/quarkus-run.jar"` to push only the required files to the given location. A devfile can also contain multiple such annotations.
- [ ] If the build command exists, we should ignore the annotations and proceed with the normal build mechanism.

[2021-03-25 08:14] mohammedzee1000 commented on #4523
https://gist.github.com/mohammedzee1000/c8aa9264e6d09852239418eb45d5df9c looks like the problem may not be on co-firewall side after all. @prietyc123 can you verify, so we know if we need to close this or investigate a different angle

[2021-03-25 08:14] mik-dass commented on #4493
@kadel @scottkurz What will be the behavior if the cloned devfile has multiple endpoints in a minikube setup? Should the first `url create` command update one of them and keep the others or delete the rest as well?

[2021-03-25 09:06] dharmit commented on #4160
Considering the same example that I gave in https://github.com/openshift/odo/issues/4160#issuecomment-805817724, should `odo service list` show all services across all components in the namespace or should it only list the services matching the label of a component?

If we go with the former, we could keep `odo service list` runnable from any directory on the system. Also, should `odo link` allow

[2021-03-25 10:34] dharmit commented on #4281
Are we going to have `odo create --s2i --port` get converted into a devfile with #4518? Or is that scoped for other time?

[2021-03-25 10:57] dharmit commented on #2801
Labels should not get stored in the devfile. `odo push` should assign label based on component on the fly.

[2021-03-25 11:44] #4523 closed

[2021-03-25 12:26] dharmit commented on #4431
Currently, we're fetching a deployment from the cluster using https://github.com/openshift/odo/blob/45d4098e3884918de9edca5d148c0be8a34dafa5/pkg/odo/cli/component/common_link.go#L123

I tried looking at things like `deployment.GetObjectKind().GroupVersionKind()`, `deployment.APIVersion`, but couldn't find the information anywhere.

Then I thought that we are trying to link a `Deployment` with a se

[2021-03-25 12:47] deboer-tim commented on #4160
Well that's a lot of questions :). Let me give answering them a try:

All, because you might want to link to a service you just created within the component, or you might want to link to an 'external' service or one that already exists on the cluster.

I think that's a very good goal that we should try to keep. The labels should still tell us if some of them are part of a component, and we can sho

[2021-03-25 13:16] dharmit commented on #3132
Can we also document the annotation and an example of how to do this entire thing on odo.dev?

[2021-03-25 15:32] kadel opened #4553 "Implement server side apply"
since k8s 1.16 there is a server-side apply https://kubernetes.io/docs/reference/using-api/server-side-apply/

Odo currently needs complex logic to handle updates of existing resources when running `odo push`.
Taking advantage of server-side apply we could reduce a lot of logic that odo currently has that is quite error-prone.

This problem is especially noticeable in the way how odo handles updat

[2021-03-26 09:32] dharmit commented on #4462
I'm interested in this information since I want to understand if how wilde OCP 3.11 is used.

Other than that, I'm also interested in knowing if users use Service Catalog. I'm not sure how/if this information can be fetched. One way could be by looking at the `odo service create` commands being executed. Other way could be to see if the cluster in question has API objects [mentioned here](https://

[2021-03-26 09:37] kadel opened #4555 "Werror while downloading git starter project with "main" as a default branch"
When downloading starter the project from git repo that uses `main` as a default branch.

` ✗  couldn't find remote ref "refs/heads/master"`

[2021-03-26 10:51] dharmit commented on #4493
Do we know for sure that we're not hitting the behaviour reported/discussed in #4270? I'm asking because the warning message @scottkurz is seeing here is being reported even when things work just fine. I saw this message quite recently when working with minikube + ingress.

@mik-dass this sounds along the lines of what I was saying on the call yesterday - if endpoint `ep1` already exists for the p

[2021-03-26 10:54] dharmit commented on #4493
Do you mean multiple endpoints for same port+protocol combination? Unless someone has manually put this information in a devfile, should the library even allow such multiple endpoints in devfile.yaml? Is it valid from devfile schema point of view?

[2021-03-26 11:15] valaparthvi opened #4556 "Delete more than one project at once"
/kind feature

## Which functionality do you think we should add?
Delete more than one project at once either.

1. Delete a list of projects separated by space.
[code]
2. Delete projects matching a pattern.
[code]

## Why is this needed?
It is just annoying when I want to delete more than one project and I can only delete 1 at a time.

[2021-03-26 11:50] valaparthvi commented on #4462
@dharmit @girishramnani Can I get a pointer on this one?

[2021-03-26 11:59] wtrocki opened #4559 "Update documentation for ServiceBindingOperator 0.6.0"
/kind documentation

New version of the service binding operator was released that brings significant amount of fixes.
Documentation should recommend this version to be installed etc.

There is no breaking API so changes in the code are unlikely.

https://operatorhub.io/operator/service-binding-operator

[2021-03-26 13:09] deboer-tim commented on #4462
I've said it before, but once we have basic telemetry for each command we should go ahead and 'ship it'. There are some obvious other things we can add, but this is incremental and we'll think of others later/as we review telemetry. The top things I think I'd want to know are:
- The kind of project used (i.e. name of parent devfile or s2i).
- The kind of cluster they're connecting to (i.e. Kind vs

[2021-03-26 14:42] dharmit commented on #4559
I gave a quick try to SBO 0.6.0 on minikube. `odo push` after doing `odo link` failed for me with:
[code]
I'll give this more time next week. But my initial hunch is that once #4554 helps us get rid of the dependency on the Secret name, we should be in a better position.

[2021-03-26 15:33] wtrocki commented on #4559
@kadel Secret problem that exists in my PR also popping up in the latest release as seen.
We are going to use this release in Sandbox. While ODO is not being used in our workshops etc. still anyone using ODO will get failures.

As for how to make this happen. My take is that ODO tries to do too much and relies on the internal parts of the Service Binding Operator implementation - things like inter

[2021-03-26 15:44] wtrocki commented on #4559
Related issue #4469

[2021-03-26 17:35] #4145 closed

[2021-03-26 20:33] deboer-tim commented on #3375
/remove-lifecycle rotten

[2021-03-26 22:22] deboer-tim commented on #4372
They plan to do something similar, but it might take a different form and is not currently being worked. If it's 'blocking' removing parts of the odo doc that should go to devfile.io I'd talk to @elsony directly about contributing it there or when someone else would get to it.

[2021-03-26 23:38] #3568 closed

[2021-03-28 23:46] #3783 closed

[2021-03-29 10:29] dharmit commented on #4372
It's not really a blocker for anything on odo side. But would it make sense to put this on one of the milestones for devfile team? As far as odo is concerned, I think we need to try and improve the overall docs site, not just devfile file reference part of it.

[2021-03-29 12:04] mohammedzee1000 opened #4562 "Unit tests are failing in brew while rpm build."
/kind bug

**Operating System:**
Fedora 32, rhel 8

**Output of `odo version`:** v2.0.8

## How did you run odo exactly?
rpm build on brew

## Actual behavior
Build fails on unit tests

## Expected behavior
Unit tests hould pass and rest of rpm build should happen correctly

## Any logs, error output, etc?
[code]
Reach out on kube slack for brew build link

[2021-03-29 13:07] dharmit commented on #4160
If we add the `MANAGED BY` column to `odo service list`, I think it'll be possible to know from anywhere that s1 belongs to component c1.

I'm assuming that `MANAGED BY` indicates an odo component here and not a tool (odo/ODC/CRW.) That's different from what @kadel suggested in `MANAGED BY` (more around which tool manages it rather than which odo component.)

Makes sene. We'll need to make docs cl

[2021-03-29 13:12] dharmit commented on #4160
Scope for next pass on this issue:
- [ ] Get #4465 merged!
- [ ] `odo push` should invisibly set labels to the component - "invisibly" means label info won't be stored in devfile because same devfile can be used by other tools (ODC/CRW) and each tool should assign labels of their own.
- [ ] `odo push` should create the service on the cluster instead of `odo service create` doing it right now.
  -

[2021-03-29 17:46] #3454 closed

[2021-03-30 06:00] prietyc123 commented on #4301
@dharmit still I can observe the same failure 🙁 on periodic jobs.
[code]
Log details: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.6-integration-e2e-periodic/1376685658797510656#1:build-log.txt%3A1593

Note: Its not ocp version specific as I can also observe it on 4.7

[2021-03-30 06:07] dharmit commented on #4301
@prietyc123 thanks for the info! I expect this to get fixed with #4554 wherein we stop looking for an assumed secret name. The assumption was valid till SBO changed the nomenclature for Secret.

[2021-03-30 07:57] mohammedzee1000 commented on #4562
/remove-kind bug
/kind failing-test

[2021-03-30 07:58] valaparthvi commented on #3801
How do we want to go about this? Do we want to remove the `--context` flag wherever it is not used to test the context or remove the `Chdir` in `BeforeEach` and modify all tests to work with the changes? I am not sure if doing either affects the test coverage.

@dharmit @girishramnani @mik-dass thoughts?

[2021-03-30 08:03] mik-dass commented on #3801
We should remove the Chdir in BeforeEach wherever possible as that would help us figure out if the context flag works for the command properly or not.

[2021-03-30 11:41] valaparthvi commented on #4462
Consenting to Telemetry makes odo significantly slower. Currently, 2 messages are sent to Segment, 1) Identify - that contains system information and, 2) Track - that contains information about the executed command.

To mend this @kadel and I discussed a few solutions, which I am listing here -
1) Tomas suggested that the reason this is slow is that it takes time to open the client and close it, t

[2021-03-30 12:24] valaparthvi commented on #4462
@kadel The first implementation mentioned here https://github.com/openshift/odo/issues/4462#issuecomment-810152058 when implemented with _BatchSize=1 and Interval=1Millisecond_ seems to be working fine with long running commands such `odo create` or `odo push`, but it still has the same delay with fast commands such as `odo preference view` or `odo config view`. IMO it's perhaps still better than

[2021-03-30 12:28] dharmit commented on #4462
Thinking out loud - can we fork a new process that sends the information after odo is done executing its stuff?

[2021-03-30 12:29] valaparthvi commented on #4462
Yeah, that is what Tomas suggested.

[2021-03-30 13:03] deboer-tim commented on #4462
Other teams spawn background threads for telemetry so that it doesn't block the foreground action. I agree that's not really feasible for cli tools because you don't want to be done the operation and then not get control back because it is still waiting for the message to be sent.

Spawning a secondary process to send each message might work, but that sounds pretty heavyweight. Is it hard to cache

[2021-03-30 13:11] mik-dass opened #4566 "odo create fails with invalid cached json value of the registry index"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

[code]

## Actual behavior

[code]

## Expected behavior

`odo create nodejs` should pass.

## Any logs, error output, etc?

The http cache value is invalid.

[code]
Removing the cache value fixes it. Occurrence on the CI https://prow.ci.openshift.org/view/g

[2021-03-30 13:20] kadel commented on #4553
Experimental implementation at https://github.com/kadel/odo/tree/ssa

[2021-03-31 00:00] jbpratt opened #4568 "Telemetery should be disabled for CI tests"
/kind bug

## What versions of software are you using?

**Output of `odo version`:**
[code]
## How did you run odo exactly?
`./openshiftci-presubmit-all-tests.sh > output.txt`

## Actual behavior
Telemetery prompt stalled tests

## Any logs, error output, etc?
[code]

<details>

[code]
</details>

Hi, I was running a test after making some changes and caught this latest update. The telemetry promp

[2021-03-31 05:23] prietyc123 commented on #4522
I did some initial level of analysis and found we are not handling stderr `[ssh:Fedora 32] Executing command [git fetch origin pull/17283/head:pr17283]
[ssh:Fedora 32] fatal: couldn't find remote ref pull/17283/head` in function
https://github.com/mohammedzee1000/ci-firewall/blob/main/pkg/worker/worker.go#L146-L194 which leaves it with success and nil error msg and executes furthur. I think we nee

[2021-03-31 08:18] kadel commented on #4462
I just realized something.
We need to carefully consider how we structure events.

Currently, we use the odo command name (like `odo create` or `odo push`) as an event/action identifier. If I understand how Woopra structures data correctly, each Action can have its own schema. In my mind, I see Actions as database tables. And each time you send and event with the same Action identifier you create

[2021-03-31 11:09] kadel commented on #4281
it should be part of the initial work. Some components won't work without `--port support`

[2021-03-31 11:17] kadel commented on #4568
/priority high

[2021-03-31 11:28] kadel opened #4570 "`odo dev` and `odo deploy` should display binding connection information"
## User Story
- As a developer linking to a service
- I want to know what connection information link made available
- So that I can easily configure my app without searching for this information somewhere else.

## Acceptance Criteria
- [ ] when `odo dev` or `odo deploy` creates a "link" (ServiceBinding) it should display what env variables or file pahts (in case of `--bindAsFiles`) were made ava

[2021-03-31 11:54] dharmit commented on #4570
#4009

[2021-03-31 12:06] kadel commented on #4570
ah, I knew that I saw this already somewhere, but I was not able to find it.

are you ok if I close #4009 in favor of this one? It has more information.

[2021-03-31 12:16] dharmit commented on #4009
Closing in favour of #4570

/close

[2021-03-31 12:16] #4009 closed

[2021-03-31 13:49] fbricon opened #4571 "Telemetry should use userId instead of anonymousId"
/kind bug

## How did you run odo exactly?
I haven't run anything

## Actual behavior
Telemetry events sent to segment currently use the `anonymousId` event property.

## Expected behavior
Telemetry events should actually use `userId` (see https://github.com/redhat-developer/vscode-redhat-telemetry/blob/main/src/services/reporter.ts#L28) instead, so they can be properly tracked in Woopra.
This is

[2021-03-31 16:53] kadel commented on #4568
found the problem.
This is actually not related to tests not disabling telemetry, but the shell script executing tests uses  odo to log in  https://github.com/openshift/odo/blob/master/scripts/openshiftci-presubmit-all-tests.sh#L31

This call should be replaced with `oc`, and the same needs to be done in other shell scripts executing tests

[2021-03-31 17:05] jbpratt commented on #4568
@kadel awesome, thanks for catching this, I made a wrong assumption about that login command. I can open a PR in a just bit with replacements of `odo login` -> `oc login`.

[2021-04-01 05:26] dgolovin opened #4574 "odo env view doesn't print out application name, but odo env view -o json does"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** v2.0.7 (f6a819c8a)

## How did you run odo exactly?
[code]

[code]

[code]
## Actual behavior
[code]

## Expected behavior
[code]

## Any logs, error output, etc?

N/A

[2021-04-01 05:38] dgolovin opened #4575 "Options to override current cluster/context/user to allow to work with multiple clusters without switching current context"
/kind feature

## Which functionality do you think we should add?

As a tool developer I want to be able to  show multiple cluster in OpenShif Application Explorer view, but odo only works with current context from kubeconfig. It should allow to override current context and go directly to specific cluster/context without requirement always go through login first.

## Why is this needed?

To build

[2021-04-01 06:05] prietyc123 commented on #4301
Closed via https://github.com/openshift/odo/pull/4554

[2021-04-01 06:05] #4301 closed

[2021-04-01 08:42] #4568 closed

[2021-04-01 08:59] prietyc123 opened #4577 "Separate out tests to avoid running s2i command on minikube"
/kind failing-test

## What versions of software are you using?

**Operating System:**
fedora 32

**Output of `odo version`:**
master

## How did you run odo exactly?

Running test on kubernetes cluster fedora vm

## Actual behavior

[code]
Tests failing on https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_create_test.go#L195

Console log:
[code]
## Expected behavi

[2021-04-01 09:00] prietyc123 commented on #4287
There is one test related issue on kubernetes https://github.com/openshift/odo/issues/4577 working on this one.

[2021-04-01 10:08] dharmit commented on #4453
@mohammedzee1000 can you help here? Do we know which copr/yum repo to enable to install odo on Fedora/RHEL?

[2021-04-01 10:58] kadel commented on #4574
/priority medium

[2021-04-01 10:58] kadel commented on #4571
/priority medium

[2021-04-01 10:59] kadel commented on #4566
/priority high

[2021-04-01 10:59] kadel commented on #4575
/priority low

[2021-04-01 11:00] kadel commented on #4577
/priority high

[2021-04-01 11:03] kadel opened #4579 "disable constantly failing tests"
It is starting to get quite annoying. We should remove those tests until they are fixed and there is at least chance for them to succeed

- ci/prow/psi-kubernetes-integration-e2e
- ci/prow/psi-minishift-integration-e2e
- ci/prow/psi-openshift-integration-e2e

/area testing
/kind failing-test
/priority high

/cc @prietyc123

[2021-04-01 11:45] prietyc123 commented on #4287
We are getting false logs for PSI jobs on PRs everytime. For ex https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4578/pull-ci-openshift-odo-master-psi-kubernetes-integration-e2e/1377582757776986112#1:build-log.txt%3A32 I don't see any jobs running for build no. 990 🙁
I think there is something wrong on jenkins front, that we need to look into.

[2021-04-01 12:28] valaparthvi commented on #4462
So, what if we have let all the other actions be as they are, but upload an action called `cmd.error` in case of an error?

[2021-04-01 12:28] #4562 closed

[2021-04-01 12:30] dharmit commented on #3944
/reopen

Corresponding issue on issues.redhat.com still open and we still need this.

[2021-04-01 13:04] mohammedzee1000 opened #4582 "Handoff ci-firewall and psi stuff to qe folk"
Hand off

[2021-04-01 13:04] mohammedzee1000 commented on #4582
Had some discussions with qe folk including 2 walkthroughs

[2021-04-01 13:06] mohammedzee1000 opened #4583 "Integrate klog with ci-firewall for easier debugging"
Levelled logs should allow easier debugging of issues

[2021-04-01 13:07] mohammedzee1000 opened #4584 "ci-firewall handle issues due to jenkins jobs queus"

[2021-04-01 13:22] valaparthvi commented on #4462
#4580 attempts at fixing this.

[2021-04-01 15:12] #4431 closed

[2021-04-01 15:59] jbpratt commented on #4568
Interop's testing is up and running! Thank you @kadel for the help!

[2021-04-01 18:59] ajm01 commented on #4570
This looks good to me, exactly the information I am looking for from a successful odo link.

[2021-04-02 02:38] #4571 closed

[2021-04-02 18:02] #4186 closed

[2021-04-03 00:03] #3227 closed

[2021-04-05 06:11] #3062 closed

[2021-04-05 06:13] mohammedzee1000 commented on #4522
As we discussed, it is not that stderr is not captured, rather stdout and stderr is combined into single-stream using `io.MultiReader` for logging purpose. Instead, success or fail is returned and used to determine if next command is to be skipped.

What I would recommend is updating the below code, such that
 - failure of fetching pr does not result in skipping of code. Basically, we ignore the s

[2021-04-05 06:14] mohammedzee1000 commented on #4522
https://github.com/mohammedzee1000/ci-firewall/blob/686a62dbce1391859373f7e4c7fd10e8b383715d/pkg/worker/worker.go#L247-L263

[2021-04-05 08:51] mohammedzee1000 commented on #4584
tracking issue https://github.com/mohammedzee1000/ci-firewall/issues/14

[2021-04-05 08:53] mohammedzee1000 commented on #4583
Integration PR https://github.com/mohammedzee1000/ci-firewall/pull/13 merged.
Any futher improvements can happen as is and need not be tracked here

[2021-04-05 08:53] #4583 closed

[2021-04-05 09:00] mohammedzee1000 commented on #4582
Completed progress so far
- Had a discussion with QE folk related to the ci-firewall code base
- Added QE as collaborators on ci-firewall repo

On-going:
- helping QE as needed with their issues/pr
- Helping QE get more familiar with how to provision openshift clusters on PSI

Todo:
 - Ensure QE has full know-how about PSi stuff
 - Grant Qe collaborator on internal repos

[2021-04-05 13:23] #4503 closed

[2021-04-05 16:20] jeffmaury commented on #4042
/remove-lifecycle stale

[2021-04-05 17:19] #4577 closed

[2021-04-05 18:13] #4201 closed

[2021-04-06 00:14] serenamarie125 commented on #4192
@kadel Are the goal and acceptance criteria defined enough to provide an estimate?  If so, could we get one added please?

[2021-04-06 04:19] dharmit commented on #4570
How does odo decide which env vars it should print when doing linking? Since we're moving to using SBO for every link operation, I think it would make sense to print this based on the annotations in the service/component being linked.

Thoughts?

[2021-04-06 05:58] #4559 closed

[2021-04-06 07:23] mohammedzee1000 commented on #4105
I am currently walking through `url create` and `storage create` and will get back with my findings shortly

[2021-04-06 08:11] prietyc123 commented on #4200
@dharmit @kadel I am not sure if we need to add disconnected related doc in `odo.dev` or more likely it should added here https://docs.openshift.com/container-platform/4.4/cli_reference/developer_cli_odo/using_odo_in_a_restricted_environment/about-odo-in-a-restricted-environment.html
Could you please clarify.

[2021-04-06 08:16] valaparthvi commented on #4462
Rescoping the issue this sprint -
- [x]  Merge #4482
- [ ] Make segment upload asynchronous and faster
- [x] Sanitize the data coming into Segment (this is more of an ongoing thing)

[2021-04-06 08:21] mohammedzee1000 commented on #4584
Tracking issue closed, reopen if seen again

[2021-04-06 08:21] #4584 closed

[2021-04-06 11:01] valaparthvi commented on #4462
Requoting from https://github.com/openshift/odo/pull/4565#issuecomment-814029219

In most cases, we will only send one message to Segment, and if BatchSize is 1, it will take the same time as it is taking now. I am going to revert the changes now. I think the one option we have right now is doing something with the process.

[2021-04-06 11:42] serenamarie125 commented on #4372
Work needs to be done on devfile.io before this can be accomplished.  Then odo.dev needs to be cleaned up appropriately.

[2021-04-06 11:50] serenamarie125 opened #4589 "Initial adoption of devfile 2.1"
## Which functionality do you think we should add?
Initial adoption of devfile 2.1, including adding support for any relevant new attributes

### Acceptance Criteria
- [x] Adopt the Devfile 2.1 library and react to any breaking changes. (#4769)
- [ ] Top level attribute def (issue 239) - Devfiles using global attributes in parent or local devfile must work.

## JIRA Epic Tracking
[ODO-60]( https:/

[2021-04-06 11:51] deboer-tim commented on #4589
Support should include adding support for any relevant new attributes.

[2021-04-06 12:02] serenamarie125 opened #4590 "Link via ServiceBindingRequest, part 2"
## Description
As a developer, I would like to be able to easily inject my source component with the config/secrets/envvars needed to invoke a backing application, so I can focus on may application code instead of configuring application connections.

## Acceptance criteria
* User can issue link command and then push changes, when pushed it will be determined that the components are compatible for

[2021-04-06 12:04] serenamarie125 commented on #4590
@dharmit @kadel  could you add story points?  Thank you

[2021-04-06 12:07] serenamarie125 opened #4591 "Instantiate and manage services through Operator, part 2"
## User Story
As a user, I want to create a new instance of my database or another service managed by operators So that I can use it (link it) with my application

## Acceptance Criteria
- [ ] `odo service create -o json` create a new instance of an operator in my project, and output information about the created operator in JSON format (the output should have the same info as `odo service describ

[2021-04-06 12:08] serenamarie125 commented on #4591
@kadel @dharmit please update with story points, thanks!

[2021-04-06 12:18] valaparthvi commented on #4462
/reopen

[2021-04-06 12:59] dharmit commented on #4200
IMO it should be at both places. But it's docs.openshift.com that focusses more on OpenShift related docs. odo.dev is mostly agnostic about k8s or OCP.

[2021-04-06 15:15] scottkurz commented on #4123
/remove-lifecycle rotten

[2021-04-06 20:30] rnapoles-rh commented on #4515
Installed aws client:
[code]
Configured aws using `aws configure`

ran `source openstack-bot-auth.sh`

Added the releng-key to keyring:
[code]
[code]
Got the latest RHCOS image:
[code]
Created the image:
[code]
Setting the pull secret:
I could not login to https://cloud.redhat.com/
I got:
`More Red Hat user accounts match entered email address. Use your Red Hat Login ID please. Contact Customer Se

[2021-04-07 05:50] prietyc123 commented on #4200
And that's how we were doing it so far. I would suggest lets add it `docs.openshift.com` first then further we will focus on such stuffs to be added on odo.dev.

ping @boczkowska

[2021-04-07 06:32] dharmit commented on #4200
Why? What's the reasoning behind this suggestion?

[2021-04-07 07:13] mohammedzee1000 commented on #4105
Ok, from what I have read, this might be a little bit more complicated than anticipated.
It is easy enough to add a flag for the container with cobra, and even ensure it gets assigned to LocalStorage

Like so
[code]
But doing so is not enough. The creation of the storage happens on

https://github.com/openshift/odo/blob/ba7161940c735caffaa9bd49e731dd15b8e9a61f/pkg/odo/cli/storage/create.go#L80

Th

[2021-04-07 08:25] kadel opened #4592 "Ingress in extensions/v1beta1 is depricated in 1.14+"
on kubernetes v1.19.7

[code]

Odo should start creating `Ingres` in `networking.k8s.io` API group if it is available.

[2021-04-07 08:29] kadel commented on #4579
ping @prietyc123

[2021-04-07 08:31] kadel commented on #4570
after creating ServiceBinding SBO create Secret. You can read information from ServiceBinding status to check if the Secret was already created and its name. Then odo can just read that print Secret keys

[2021-04-07 08:40] mohammedzee1000 commented on #4105
Ok, from what I have read, this might be a little bit more complicated than anticipated.
It is easy enough to add a flag for the container with cobra, and even ensure it gets assigned to LocalStorage

Like so
[code]
But doing so is not enough. The creation of the storage happens on

https://github.com/openshift/odo/blob/ba7161940c735caffaa9bd49e731dd15b8e9a61f/pkg/odo/cli/storage/create.go#L80

Th

[2021-04-07 08:45] mohammedzee1000 commented on #4105
Also, what happens if i want to add it to multiple ocntainers like mount the same volume to 2/3 containers in devfile?

[2021-04-07 08:46] mik-dass commented on #4105
We can add a check to make sure the container is not nil or empty and throw an error before calling the library's function.

[2021-04-07 08:46] kadel commented on #4105
Volume in Devfile is just one type of component. You can use `AddComponents`.  `AddVolume` function was removed in favor of `AddComponents` in https://github.com/devfile/library/pull/65.

[2021-04-07 08:47] mohammedzee1000 commented on #4105
What if i want to mount storage on all containers then?

[2021-04-07 08:53] mik-dass commented on #4105
If empty we can mount on all the containers. Not sure about multiple containers but `odo url create` currently doesn't support a list of containers. We can accept a list in case of storage creation. @kadel WDYT?

[2021-04-07 08:54] mohammedzee1000 commented on #4105
I guess that would work. But should this not be done in devfile library than in odo code? as this will mean adding volume mount and global component together will be present only in odo code, basically resulting in divergence in the expected behavior of how devfiles are updated

[2021-04-07 08:56] mohammedzee1000 commented on #4105
I guess we can do that. Again change in devfile side will be needed to volume mount add function

[2021-04-07 08:57] mohammedzee1000 commented on #4105
I guess I can start by PRs to devfile library here, although the final step will be upgrading to newer version of library

[2021-04-07 09:41] girishramnani opened #4593 "odo delete --wait doesn't wait for the resources to be terminated for devfile based components"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
Created a nodejs component
- added url
- added storage
- ran `odo delete -w -f`

## Actual behavior
odo delete exited immediately and I could see resources still in terminating state
[code]

## Expected behavior
odo delete -w would wait for termination of res

[2021-04-07 09:45] kadel commented on #4105
library already have everything that you need. To create a new volume you can use ` AddComponents` to mount the volume to existing g container you use `UpdateComponent` and modify or add `volumeMounts` field in container definition.

[2021-04-07 09:54] mohammedzee1000 commented on #4105
In the version that is curr

In the version that is currently vendored into odo? or in master

[2021-04-07 09:58] girishramnani opened #4594 "--now flag for odo config set --env not supported for devfiles"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2021-04-07 10:02] girishramnani commented on #4281
its supported now @dharmit

[2021-04-07 10:05] girishramnani commented on #4281
Currently a converted s2i component would already have a url defined even if the original s2i component didn't have one, this was done to keep the behavior consistent between s2i and devfile cmps, as a new devfile component creates the url without a user doing "odo url create"

[2021-04-07 10:45] kadel commented on #4594
/priority low

[2021-04-07 10:45] kadel commented on #4593
/priority low

[2021-04-07 11:00] kadel commented on #4594
Test had to be commented out because of this in https://github.com/openshift/odo/pull/4518/files#diff-f55d1dcfa285f4e2e11df9fce169ec0b4256649e7a7c67ab11e33ed667d6dc8fR317
After this is implemented the test needs to be uncommented.

[2021-04-07 11:01] kadel commented on #4529
Test had to be commented out because of this in https://github.com/openshift/odo/pull/4518/files#diff-959d7173037ca057614f19d5dec825f383d808739d9d930933a6d6203405d203R33
After this is implemented the test needs to be uncommented.

[2021-04-07 11:10] kadel commented on #4593
Test was commented out due to this in https://github.com/openshift/odo/pull/4518/files#diff-a66e004f045a81bb439831d545e16504af39186cce80fe777a29c6314f2bdbeeR666
After this is fixed the test should be uncommented.

[2021-04-07 11:22] valaparthvi opened #4596 "Notify about an invalid component name while creating the component"
/kind bug

## What versions of software are you using?
odo v2.0.8 (ba7161940)
**Operating System:**
Fedora 32
**Output of `odo version`:**
odo v2.0.8 (ba7161940)
## How did you run odo exactly?
ClusterType: minikube
[code]

## Actual behavior
Notifies about invalid component name while pushing.

## Expected behavior
Should notify about the component name while creating the component.

## Any logs,

[2021-04-07 11:37] valaparthvi commented on #4451
**tldr;**
1. `odo delete` does not respect `--context` when it comes to deleting `devfile.yaml`.
2. `odo delete` does not respect `--app` or `--project` when it comes to deleting the component, it only takes into account the component present in the cwd.

---
Consider the following setup -
`tuxDir` with component `tuxComp` belonging to app  `tuxApp` and project `tuxProject`.
`chuckDir` with compon

[2021-04-07 12:08] kadel commented on #4543
I've done a small POC based on the changes introduced in https://github.com/redhat-developer/service-binding-operator/pull/919

Thanks to the changes in that PR it is possible to easily create binding without an operator.
https://github.com/kadel/odo/blob/f87c8aa3acc3908d093fa5ef8d3f57cd27036295/pkg/odo/cli/component/common_link.go#L322-L334

[code]

[2021-04-07 12:35] girishramnani opened #4597 "odo delete <comp> --project <project> doesn't work without a context flag for devfiles"
/kind bug

## What versions of software are you using?

**Operating System:** MacOS

**Output of `odo version`:** master

## How did you run odo exactly?
I created a component
[code]
then I confirmed it works with describe and url check

but when I tried to delete it outside a context dir as it doesn’t know that its an s2i or devfile it tried to delete the DC and fails

[code]
## Actual behavior

[2021-04-07 12:36] dharmit commented on #4597
/close

likely duplicte of https://github.com/openshift/odo/issues/4451. Reopen if it's not a dupe.

[2021-04-07 12:36] #4597 closed

[2021-04-07 12:38] mohammedzee1000 commented on #4105
ok il call this bit a success:

[code]
Now to address comments on PR

[2021-04-07 12:41] #4596 closed

[2021-04-08 03:40] prietyc123 commented on #4200
Adding disconnected testing steps in odo.dev looks like a separate task/discussion because disconnected things are only tested on downstream OpenShift Kubernetes distribution that is on OCP. AFAIU for odo.dev comprises the generic documentation that is helpful for both OCP and K8S. So we can add the documentation here at - https://docs.openshift.com/container-platform/4.4/cli_reference/developer_c

[2021-04-08 07:13] prietyc123 commented on #4548
Should be fixed via https://github.com/mohammedzee1000/ci-firewall/pull/17

[2021-04-08 08:08] prietyc123 commented on #4200
I discussed with @boczkowska for ocp documentation and it seems she will soon open pr for the same. @boczkowska do let me know if you have any doubts, I will be happy to address those 🙂

[2021-04-08 08:30] prietyc123 opened #4598 "Revert java:8 tests to use default ocp image"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Default java:8 ocp images `registry.redhat.io/redhat-openjdk-18/openjdk18-openshift:latest` are failed to import. Currently we are using specific version `1.8` to run the tests. We will revert back once https://bugzilla.redhat.com/show_b

[2021-04-08 09:02] prietyc123 commented on #4522
PR https://github.com/mohammedzee1000/ci-firewall/pull/16 closed this issue.

[2021-04-08 09:02] #4522 closed

[2021-04-08 11:47] rnapoles-rh commented on #4467
Blocked by 4.5 cluster not functional. I will get back to this once #4515 is resolved

[2021-04-08 12:57] anandrkskd commented on #4412
The above failures are resolved, As the previous PSI cluster was 4.5, tests were failing for operatorhub tests and some service related test. Until the new 4.7 cluster is online, I will test it on local for 4.7 for my PR if the tests are failing or passing.

[2021-04-08 13:05] rnapoles-rh commented on #4410
Jenkins job configuration is complete and triggers tests as expected in the target platform and VM

[2021-04-08 13:05] #4410 closed

[2021-04-08 13:53] #4598 closed

[2021-04-09 00:24] #4196 closed

[2021-04-09 09:26] prietyc123 opened #4603 "vm configuration delay leads ssh to fail"
/kind flake

issue: https://github.com/mohammedzee1000/ci-firewall/issues/19

[2021-04-09 09:37] prietyc123 opened #4604 "Readable PSI logs on prs"
/kind feature

issue: https://github.com/mohammedzee1000/ci-firewall/issues/20

[2021-04-09 10:25] mohammedzee1000 commented on #4582
@rnapoles-rh is currently working on provisioning newer ocp cluster on psi. This should help ensure at least one other person is amiliar with the process, and the issues that may crop up

[2021-04-09 12:29] #3415 closed

[2021-04-09 12:29] #3472 closed

[2021-04-09 12:29] #2207 closed

[2021-04-09 13:49] valaparthvi commented on #4462
We have decided to give a shot to the second idea mentioned here https://github.com/openshift/odo/issues/4462#issuecomment-810152058, i.e. Creating a background process that will send the data to Segment after odo finishes execution.

I had a discussion regarding this with @kadel and based on his suggestions, this is how I am planning to approach this -
1. Create a new odo command for `telemetry`

[2021-04-09 15:29] kadel commented on #4462
I would maybe consider passing data to stdin as json instead of using flags. This makes future extensions easier.

We can just marshall the `analytics.Track`  that gets currently passed to  `c.SegmentClient.Enqueue` to  JSON and instead of calling `Enqueue` we would execute `odo telemetry` and send this JSON to its stdin

[code]

`odo telemetry` command will just marshall received JSON to `analyti

[2021-04-10 18:31] #2716 closed

[2021-04-12 06:00] prietyc123 opened #4606 "Resolve failures on PSI infra to unblock PR tests Run"
/kind user-story
/area testing

## User Story
As a user I want to run pr test successfully on linux psi Infra

## Acceptance Criteria
- [ ] Analyse the test failures on openshift linux psi env
- [ ] Fix the issue and get a green job on prs

## Links
- Feature Request: NA
- Related issue: NA

/kind user-story

[2021-04-12 06:14] #3801 closed

[2021-04-12 06:15] mik-dass commented on #4493
This issue seems to be about removing the unusable URLs from the devfile or updating the existing ones with the new info.

There is no such limitation mention in the schema so I think it is a valid.

[2021-04-12 06:23] prietyc123 commented on #4287
kubernetes jobs fails on
[code]

[2021-04-12 07:08] dharmit opened #4607 "Calls to "WriteYamlDevfile" functoin need to be re-considered"
Calls to `WriteYamlDevfile` function are happening in the business logic at many places:

* Code changes introducted by https://github.com/openshift/odo/pull/4465.
* https://github.com/openshift/odo/blob/ba7161940c735caffaa9bd49e731dd15b8e9a61f/pkg/envinfo/url.go#L319-L333
* https://github.com/openshift/odo/blob/ba7161940c735caffaa9bd49e731dd15b8e9a61f/pkg/envinfo/url.go#L335-L360
* https://github

[2021-04-12 08:05] dharmit commented on #4462
Is the `odo telemetry` command supposed to be executed by a user? If no, does it make sense to expose it as a command?

[2021-04-12 08:12] valaparthvi commented on #4462
It's not, that is why it is going to be a hidden command.

[2021-04-12 09:10] prietyc123 commented on #4287
I tested the same scenario locally with the same minikube version that psi has:

[code]

Ran test as well:
[code]

[2021-04-12 09:15] prietyc123 commented on #4287
@kadel @mik-dass I am confused if we are passing project as `default`, how `odo push` fails on namespace mismatch 🙁 . However the same test passes locally. Could you please share your thoughts on this.

[2021-04-12 09:43] #3672 closed

[2021-04-12 10:25] prietyc123 commented on #4287
@kadel @mik-dass I tried the entire step manually on PSI and its failing. Not only the tests but also manually code executions are failing.

[code]

[2021-04-12 10:40] prietyc123 opened #4609 "odo push fails on "namespace mismatch" for the component created with default project"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 32 on minikube PSI

**Output of `odo version`:**
master

## How did you run odo exactly?

Executing test on psi vm

[code]

## Actual behavior

[code]

## Expected behavior

`odo push` should pass for the component created with `default` project as well

## Any logs, error output, etc?

More logs: https://prow.ci.

[2021-04-12 10:40] prietyc123 commented on #4287
Blocked on issue https://github.com/openshift/odo/issues/4609

[2021-04-12 10:49] kadel commented on #4287
Is it possible that something is misconfigured on PSI minikube instance if this is passing everywhere else?

[2021-04-12 10:53] prietyc123 commented on #4287
I don't think so because `odo push` works fine but it fails only if we create component with default project. Not sure if we need to do some additional configuration for `default` project component.

[2021-04-12 10:54] kadel commented on #4287
ok, I'm able to reproduce this localy

[2021-04-12 11:20] dharmit commented on #4462
Then why are we adding it as a separate command and not as a function that gets called as and when needed. If it's needed for most (all?) commands then we can even add it to the `Runnable` interface - https://github.com/openshift/odo/issues/4313.

[2021-04-12 11:36] rnapoles-rh commented on #4288
Getting

[2021-04-12 11:43] rnapoles-rh commented on #4467
When running tests locally in minishift I noticed a lot of project left behind despite they claim to be deleted:
[code]
If I run oc projects after the tests completed I can see that cmd-push-test138dem is listed

[2021-04-12 11:56] mohammedzee1000 commented on #4105
The test seems to be failing on a push. This does flake when i just run the test against a cluster bot cluster. But I am unsure what is causing the problem.

Maybe I missed some changes needed in push code?

[2021-04-12 12:05] kadel commented on #4462
I don't understand what you mean.
We need to send telemetry in a separate background process. As far as I know, you can't just call function and make it a separate process.

[2021-04-12 12:09] dharmit commented on #4315
Something more relevant for Sprint 201.

[2021-04-12 12:19] dharmit commented on #4517
@anandrkskd do you have bandwidth to look at this in Sprint 200 or should we move it to 201?

[2021-04-12 12:52] valaparthvi commented on #4462
Scope of the issue for Sprint 200 -
- [] 1. Make telemetry asynchronous
- [] 2. Figure what devfile are users using - java, nodejs, quarkus, maven?

[2021-04-12 12:55] valaparthvi commented on #4451
Scope of the issue for Sprint 200 -
- [ ] 1. Add missing integration test cases
- [ ] 2. Test with `--wait` command and add integration tests if not added.

[2021-04-12 13:01] dharmit commented on #4192
Labels to be referred to for different tools - https://github.com/gorkem/app-labels/blob/master/labels-annotation-for-openshift.adoc

[2021-04-12 23:59] scottkurz commented on #4493
I admit I haven't used components exposing multiple endpoints yet.

But from the help text in `odo help url create`:

it seems you would need to pass the port as an argument, so instead of:

I'd have to do

and perhaps if there are two endpoints both with the same port it would be an error?     (That also implies that it is an error to add a second endpoint with the same targetPort, which also sup

[2021-04-13 01:08] #4609 closed

[2021-04-13 09:32] kadel commented on #4606
User's don't care about PRs or tests. odo developers do.

But even odo developer should not need to run tests on PSI Infra. This needs to be automated. Tests should be run automatically for for every open PR.

[2021-04-13 11:37] kadel commented on #4493
I've tried this with
[code]
And I see original behavior as reported in the issue description.

**My take on this is:**

**Case 1:**
If devfile has only one endpoint and the user runs `odo url create` without specifying port. Odo should assume that the user wants to add or override information for the existing URL.
Example:
if  devfile contains
[code]
running `odo url create --host example.com` wil

[2021-04-13 12:16] dharmit commented on #4123
@scottkurz seems like you wanted to reopn this as well.

/reopen

[2021-04-13 14:44] kadel opened #4612 "broken odo link"
[code]

using SBO  0.7.0

[code]

/priority critical

[2021-04-13 15:00] kadel commented on #4612
/assign

It is an issue with SBO 0.7.0.
Default for `bindAsFiles` changed from `false` to `true`. Currently, odo can't handle `bindAsFiles: true`. To properly support this ti will require #4553

The fix, for now, is to make odo set  `bindAsFiles: false`.

[2021-04-14 05:15] anandrkskd commented on #4517
As discussed on QE-Dev sync, we decided to completely focus on the PSI test, so I would say we should move issue to sprint 201

[2021-04-14 05:49] prietyc123 commented on #4606
yes.

Scope of the issue:
- Run tests on jenkins for linux env with PSI
- Collect all the failures on psi linux env.
- Create related issues
- Analyse the failure
- Fix the issue one by one

[2021-04-14 06:57] dharmit commented on #4462
My thought was to fork/create a new process for the telemetry stuff in such a way that the logic/code that needs to be executed is run totally independent and in the background. By "independent" I mean that it's not dependent on odo binary in any way except that at the end of running an odo command (`odo push`, `odo url create`, etc.) odo would trigger this code to run in a separate process on the

[2021-04-14 07:56] prietyc123 commented on #4287
As part of Sprint 200,

- [ ] 3 consecutive successful test run on jenkins.
- [ ] Enable minikube jobs on pr

[2021-04-14 08:41] mohammedzee1000 commented on #4603
This is a openstack delay issue

Adding retry loop for cases where executor itself fails (ssh failure is regarded as that). This will not cover cases where command itself fails.

See a linked issue in ci-firewall for more details

[2021-04-14 10:31] #4287 closed

[2021-04-14 11:07] dharmit opened #4614 "Update odo to use newer version of SBO"
/kind dependency-change

We need to update odo to use the newest version of Service Binding Operator once they release a stable version. This might also involve updating odo to require go 1.15 instead of current 1.13.

[2021-04-14 11:24] mohammedzee1000 commented on #4603
linked PR has been merged. What remains is making new release of ci-firewall and deploying it

[2021-04-14 11:45] girishramnani opened #4615 "odo env set DebugPort doesn't work for converted devfile"
/kind bug

## What versions of software are you using?

**Operating System:** MacOS

**Output of `odo version`:**

## How did you run odo exactly?
The reason this is not working for an s2i converted devfile because there is not dedicated `debug` command present for s2i converted devfiles and hence the `DebugPort` in env is not respected.

## Any logs, error output, etc?

[2021-04-14 12:05] #4579 closed

[2021-04-14 12:15] valaparthvi opened #4616 "Enhance devfile delete integration test suite"
/kind task

## Which functionality do you think we should add?
Add more integration tests for devfile delete feature.
Relevant scenarios to be covered - https://github.com/openshift/odo/issues/4451#issuecomment-814843523

## Why is this needed?
We discovered a few scenarios related to deleting components with `--app`, `--project`, and `--context` flags that are not yet covered by integration tests

[2021-04-14 12:23] girishramnani opened #4617 "only test those s2i images that are supported and cleanup some irrelavent ones"
Supported images

[code]

[2021-04-14 12:24] girishramnani commented on #4617
any maybe python as that is also used alot

[2021-04-14 12:28] girishramnani commented on #4617
and we shouldn't test same nodejs version images for different OSes
[code]
In innerloop I don't think a developer would care about the underlying OS

[2021-04-14 12:34] girishramnani commented on #4615
added a workaround for now https://github.com/openshift/odo/pull/4518#discussion_r613205859

[2021-04-14 12:35] girishramnani commented on #4615
uncomment the workaround once this issue is fixed

[2021-04-14 14:07] girishramnani commented on #4281
removing all duplicate tests that are present in devfile and s2i both - Criteria of removal is to exactly match the title of the test and instructions in the tests

Current situation - 10 integration tests failing, 12 e2e tests failing.
Fixed 5 today, more underday.

[2021-04-14 14:20] girishramnani opened #4618 "Add a test in devfile to confirm only modified tests are push"
Add a test similar to https://github.com/openshift/odo/pull/4518/files#diff-959d7173037ca057614f19d5dec825f383d808739d9d930933a6d6203405d203L273-L306
for devfile.

[2021-04-14 15:05] girishramnani commented on #4281
Currently I cannot debug e2e tests because they are timing out on prow.

[2021-04-14 15:08] girishramnani commented on #4574
I can quickly get this done

[2021-04-14 15:15] girishramnani commented on #4574
PR - https://github.com/openshift/odo/pull/4619

[2021-04-14 15:27] girishramnani commented on #4566
We might not be able to find cause of this so maybe - we can invalidate the cache if its invalid and get a fresh response?

[2021-04-14 18:24] johnmcollier opened #4620 "`odo create --starter <project-name>` doesn't work"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

## How did you run odo exactly?
`odo create java-wildfly --starter microprofile-health`

## Actual behavior
Odo says that since no starter project was specified, it's downloading the first starter project by default, even though I did specify a starter project name:

[code]

##

[2021-04-14 18:26] johnmcollier commented on #4620
Of note, if I use interactive mode, I can download the other starter projects fine, it's only the flag that appears to be broken

[2021-04-14 18:39] #4620 closed

[2021-04-14 18:39] johnmcollier commented on #4620
Turns out the required synttax is `--starter=projectName` and not `--starter projectName`

[2021-04-14 20:54] girishramnani opened #4621 "converted devfiles directly creates a url for you"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
Currently as there is no equivalent of "ports" in devfile world when an s2i component is converted to a devfile component the ports described by the s2i image are converted to urls. This is a breaking change and can create issues when the s2i component name i

[2021-04-14 20:56] girishramnani commented on #4621
A solution for this problem is implementing support for `exposure: none` kind urls in devfile which are present on the devfile as a reference and only get created when someone change their exposure to `public`.

Currently if a `exposure: none` url is present in the devfile it doesn't list you the url and also doesn't let you create one.

[code]

[2021-04-15 05:55] kadel commented on #4617
the biggest difference is that RHEL images will be used by OCP users, they won't use CentOS.
On the other hand OKD, users will use CentoOS based images.

[2021-04-15 05:58] zhengxiaomei123 commented on #3672
Hi @kadel , We built the etcd operator ourselves to support the operator hub tests. We don't publish the image upsteam. Instead , we use patch locally in our CI to use the image we built. I would like to get your confirmation if it is ok. Thanks.

[2021-04-15 05:59] kadel commented on #4621
this needs to be fixed as well. It could be related to https://github.com/openshift/odo/issues/4493 and solution described in https://github.com/openshift/odo/issues/4493#issuecomment-818667275 should fix this.

[2021-04-15 06:00] kadel commented on #4621
we need to make sure that the component name lenght doesn't affect this.

[2021-04-15 06:08] #4612 closed

[2021-04-15 07:28] girishramnani opened #4623 "converted wildfly and dotnet application error out with permission denied"
/kind bug

## What versions of software are you using?

**Operating System:** MacOS

**Output of `odo version`:**

## How did you run odo exactly?
`"odo", "create", "--s2i", "wildfly", "wildfly-app"`
"odo", "create", "--s2i", "dotnet:2.0"

## Actual behavior
[code]

[code]

## Expected behavior
Component should be working

- [ ] Persistent volumes should be mounted into `/opt/app-root` and in `$DE

[2021-04-15 07:29] girishramnani commented on #4623
A test in the code has been comment out due to this error, once fixed uncomment the test
PR - https://github.com/openshift/odo/pull/4518

[2021-04-15 09:02] girishramnani commented on #4553
are you planning to work on this or just on the POC @kadel ?

[2021-04-15 09:03] girishramnani commented on #4368
Lets keep this on the size for now. We need a fix from SBO side to support helm.

[2021-04-15 09:04] girishramnani commented on #4284
Why is this high priority? Its just a branch name, does it affect us in any way?

[2021-04-15 10:35] #4574 closed

[2021-04-15 10:42] valaparthvi commented on #4462
I don't understand, how is this going to help us with the problem at hand?

[2021-04-15 11:30] dharmit commented on #4462
It's not directly related. It could be one way to implement things. But there can be another way.

Anyway, I had a chat with @kadel and it seems like I was interpreted as being trying to force to use the approach that I thought of.

As I said in my previous comment - I don't know if the idea I shared was technically possible for our use case.

I reiterate that I don't mean that the idea I had is t

[2021-04-15 12:18] kadel commented on #4553
I'll work on this. POC that I did is already like  80% of the work needed

[2021-04-15 12:30] girishramnani commented on #4566
currently as per the discussion in planning - this issue is not reproducible and hence if it doesn't occur again or isn't reproducible then I can close it

[2021-04-15 12:34] girishramnani commented on #4621
The scope of this issue is to make sure the url length doesn't go over 63 chars. Now the length of the url is dependent on the cluster's url so either I keep check the cluster url's length and reduce the url length based on that or just make an educated guess that url length shouldn't be more then 15 chars (example) and the "random chars" show up in the beginning.

Earlier scope was to add `exposu

[2021-04-15 12:53] valaparthvi commented on #4462
Making telemetry asynchronous to odo **tldr;**

The data collection and the uploading process start right before the command logic is run. The library itself sends data asynchronously, so the program can continue its normal execution, while the library does its thing. But, when the program is done running the command logic first, and the library is still in the process of sending the data, the pro

[2021-04-15 12:56] girishramnani commented on #4281
Fixed all the tests but gingko is timing out, I tried to reproduce this timeout but it didn’t happen so thinking about other ways to fix this

[2021-04-15 13:11] dharmit commented on #4288
For the issue of pulling images from docker.io, can you PTAL if `minishift image cache-config` command can help? I _think_ it will cache the image on the host so that images don't need to be pulled again when someone does `minishift delete` and then `minishift start`.

But I could be wrong.

[2021-04-15 14:41] kadel opened #4626 "Inconsistency between `odo registry` output and `preference.yaml`"
https://github.com/openshift/odo/pull/4525/ introduced support for the new OCI registry and a migration path to it.

Problem is that it also creates inconsistency between what `odo registry list` shows and what is in `preference.yaml`.

Ideally, odo should change the preference file as well and store the new registry URL there.

[code]

[code]

[2021-04-15 17:29] johnmcollier commented on #4623
FWIW, I hit the same permission denied error with the `java-wildfly` devfile that's in odo-devfiles/registry

[2021-04-15 20:22] maysunfaisal commented on #4397
This issue refactors and cleans up the odo code before migrating to devfile/library. The devfile/library issue to track is https://github.com/devfile/api/issues/181

[2021-04-15 21:11] girishramnani commented on #4281
Some questions asked so far
https://github.com/openshift/odo/pull/4518#issuecomment-820731449

[2021-04-16 04:47] dharmit commented on #4462
/reopen

@valaparthvi *maybe*, `Fixes part of #issue number` would not automatically close the issue.

[2021-04-16 05:07] dharmit commented on #4626
What I'm seeing is:
[code]

The inconsistency I see there is that `odo registry list` shows only https://registry.devfile.io while `preference.yaml` has https://raw.githubusercontent.com/odo-devfiles/registry/master.

[2021-04-16 06:27] prietyc123 opened #4631 "Integrate codecov.io in odo OpenShift CI job"
/kind user-story

## User Story
As a odo team we want to integrate codecov.io with CI So that we can measure unit test coverage on prs.

## Acceptance Criteria
- [ ] We should see codecov comment on pr with unit test coverage percentage

## Links
- Feature Request: NA
- Related issue: NA

/kind user-story

[2021-04-16 06:58] valaparthvi commented on #4462
@dharmit I did add `partly` to my `Fixes #issue` part of the PR, but it doesn't work, it almost always closes the issue. I guess I'll try with `maybe` next time.

And about your comment https://github.com/openshift/odo/issues/4462#issuecomment-820351517, of course, I didn't think you were being hell-bent or forceful, I'm sorry if I implied that in some way.
I understand what you are suggesting, bu

[2021-04-16 07:21] #4616 closed

[2021-04-16 08:11] valaparthvi commented on #4462
There is a suggestion that came up on the channel where I had posted our async problem, which said we could run a long-running process that listens to a socket, instead of a background process. I am not sure how I would go about it, but I figured it might spark an idea for someone here.

Excerpt -

I wouldn't worry too much about users stumbling across the option you use to activate the background

[2021-04-16 10:53] mohammedzee1000 opened #4635 "Mount volume to more than 1 container in multi container setup"
/kind feature

## Which functionality do you think we should add?
When creating storage, I should be to specify multiple containers on which to mount the storage.

## Why is this needed?
I might need the same storage to be available to more than one container in devfile, but not all of them

[2021-04-16 10:53] mohammedzee1000 commented on #4105
Followup issue: https://github.com/openshift/odo/issues/4635

[2021-04-16 10:54] dharmit commented on #4462
No strong opinion myself. Fine by whatever works best for you folks @kadel @valaparthvi.

[2021-04-19 02:17] dharmit commented on #4331
/remove-lifecycle stale

[2021-04-19 06:45] #3324 closed

[2021-04-19 09:05] maxandersen commented on #3132
I think you would need more than just single file copying.
something like, `"dev.odo.push.file:target/quarkus-app/*": "target/quarkus-app/"`

also, are deletes handled ? like if a file is no longer there is the remote one removed ?

[2021-04-19 12:01] mik-dass commented on #3132
something like, "dev.odo.push.file:target/quarkus-app/*": "target/quarkus-app/"

Multiple remote attributes and folder based attributes will be supported.

Yes, deletion of files and removal of files upon removal of corresponding remote attributes will be supported. Here's the WIP PR https://github.com/openshift/odo/pull/4588. All the scenarios can be tested against the current state of the PR and

[2021-04-19 12:17] prietyc123 commented on #4606
Issues facing on PSI:

[code]
This is the most frequently failures on PSI, tracked in https://github.com/openshift/odo/issues/3256

[2021-04-19 13:04] mohammedzee1000 commented on #3905
/lifecycle frozen

[2021-04-19 15:30] jorgemoralespou commented on #4174
/lifecycle frozen

[2021-04-19 16:53] johnmcollier opened #4639 "Odo integration tests should use staging devfile registry (registry.stage.devfile.io)"
With https://github.com/openshift/odo/pull/4525 now merged, Odo now supports the new community devfile registry at https://registry.devfile.io, and uses it by default.

While most Odo integration tests don't directly use the registry for testing, there are a few other integration tests that do:
- `odo catalog` tests
- `odo create --registry` tests
- `odo registry` tests

A few of us on devfile ser

[2021-04-19 16:59] maxandersen commented on #3132
But how do you specify the target dir? They won't necessarily match inside the container?

[2021-04-19 18:10] mik-dass commented on #3132
The format of this attribute is dev.odo.push.file:<local file path>:<remote file path> where `remote file path` is the target directory inside the source code folder in the container.

Yes the local path and the remote path might not match.

[2021-04-19 18:27] johnmcollier commented on #4639
I just want to clarify too, this is **not** something that necessarily needs to be done urgently or soon - we're still a ways away from implementing telemetry on the devfile registry, and the extra load that the tests are creating on the registry is useful for us as we monitor load in this transition period.

But it is something that will need to be done _once_ we implement telemetry

[2021-04-19 20:22] scottkurz commented on #4104
/remove-lifecycle stale

[2021-04-20 07:36] dharmit commented on #4160
I'm considering adding the code to create service right before https://github.com/openshift/odo/blob/16946d4068f30f1e51cecc64877e535338b043b2/pkg/devfile/adapters/kubernetes/component/adapter.go#L175-L178

Thinking along these lines because there's a call to the function `WaitForDeploymentRollout`. And I'm taking it literally as a function that will wait for something to complete.

@kadel @mik-das

[2021-04-20 08:49] mik-dass commented on #4493
Currently the default path value seems to be `/` for odo URLs but devfile doesn't have any default value for path. Should we remove it? Or should we treat the empty path to be `/`?

[2021-04-20 09:02] prietyc123 commented on #4532
Tasks needs to be done:

- [ ] Going through doc https://docs.engineering.redhat.com/display/CentralCI/On-boarding+request
- [ ] Understand the whole migration process following https://docs.engineering.redhat.com/display/CentralCI/User+documentation
- [ ] Collect the required data
[code]
- [ ] File a ticket with details
- [ ] Follow up with the central ci tools members
- [ ] Verify the jenkins ur

[2021-04-20 09:10] kadel commented on #4493
Based on how URL works empty path and `/` should mean the same thing.

[2021-04-20 11:14] valaparthvi commented on #4593
@kadel Which test?

[2021-04-20 12:04] mik-dass commented on #4550
This is because both the deployment are called `nodejs` and thus the second one overwrites the first one. This is related to https://github.com/openshift/odo/issues/4402

[2021-04-20 12:17] mik-dass commented on #4566
I was able to reproduce it today but the behavior is quite random.

[2021-04-20 12:40] deboer-tim opened #4640 "Support for new features in devfile 2.1"
/kind feature
### Goal
Feature #4589 will be used to adopt the devfile 2.1 library, react to any breaking changes, and do any urgent new features in order to support devfiles created with 2.1 that are almost equivalent to current 2.0 devfiles. This feature will be used to add support for all other new features and complete 2.1.

The Devfile 2.1 spec (https://github.com/devfile/api/milestone/4) has

[2021-04-20 14:21] kadel commented on #4593
`should delete the component and the owned resources with wait flag`
it is in tests/integration/component.go it will go in with https://github.com/openshift/odo/pull/4518

[2021-04-20 14:26] kadel commented on #4593
tests/integration/components.go
`// It("should delete the component and the owned resources with wait flag", func() {`
it will go in with https://github.com/openshift/odo/pull/4518

[2021-04-20 15:45] mik-dass commented on #4550
We can start renaming all resources to `component_name-app_name` but since certain resources like service allows maximum of 63 characters, we might need to truncate both and join but even that won't be free of collisions.

[2021-04-20 16:13] #4422 closed

[2021-04-20 16:13] #4527 closed

[2021-04-20 18:10] girishramnani commented on #4281
Need to add help and update docs

[2021-04-21 02:03] #4105 closed

[2021-04-21 07:11] mohammedzee1000 commented on #4592
Beginning investigation into this

[2021-04-21 07:15] mik-dass commented on #4550
@kadel @dgolovin But this approach would break backwards compatibility.

[2021-04-21 07:24] mik-dass commented on #4493
But should we write the default value `/` to the devfile like we do currently or leave it with empty value?

[2021-04-21 07:46] prietyc123 opened #4643 "Release readiness status for v2.2.0"
/kind user-story

## User Story
As a user I want to know the status of v2.2.0 release that covers

- [ ] Matrix on Blocker / TestBlocker / AutomationBlocker / Bugs
- [ ] Test automation status
- [ ] Defect Metrics (Defect Backlog, Defects Arrival, Defects Regression, Defects Resolution, Defects Reopen, Defects Verification, Defect Rejected)
- [ ] Test platform coverage

## Acceptance Criteria
- [

[2021-04-21 07:52] prietyc123 opened #4644 "Known issues cleanup and update for v2.2.0 in Bugzilla"
/kind user-story

## User Story
As a User i want to know what are the known issues for v2.2.0 release reported in bugzilla - https://bugzilla.redhat.com/buglist.cgi?component=odo&product=OpenShift%20Developer%20Tools%20and%20Services&resolution=---

## Acceptance Criteria
- [ ] KIs list should be cleaned up and updated for v2.2.0

## Links
- Feature Request: NA
- Related issue: NA

/kind user-stor

[2021-04-21 07:57] prietyc123 opened #4645 "Doc verification for v2.2.0"
/kind user-story

## User Story
As a user I should not get any incorrect odo steps/flows in https://odo.dev/ and https://docs.openshift.com/container-platform/4.7/cli_reference/developer_cli_odo/understanding-odo.html

## Acceptance Criteria
- [ ] https://odo.dev/ and https://docs.openshift.com/container-platform/4.7/cli_reference/developer_cli_odo/understanding-odo.html should not contain any inc

[2021-04-21 08:11] kadel commented on #4550
It can't. It needs to be implemented it in a way that doesn't break existing components.

I can see two options for how to do this.
The first is to stop relying on names altogether and use just label selectors.
The second one is leveraging the fact that each k8s resource created by odo has a label with the odo version that was used to create the resource. We should be able to use it to determine n

[2021-04-21 08:26] kadel commented on #4493
Empty if path was not specified. If it was specified (even in case someone put `/`) it should have the correct value.

`odo url create`  - no `path` in endpoint
`odo url create --path /asfd` - endpoint should have  `path: /asfd`
`odo url create --path /` - endpoint should have  `path: /`

[2021-04-21 09:16] mohammedzee1000 commented on #4603
We have done all we can over here. Any further persistence is outside our control

[2021-04-21 09:16] #4603 closed

[2021-04-21 09:20] mohammedzee1000 commented on #4582
@rnapoles-rh has successfully provisioned a cluster and @prietyc123 has been working on jenkins migration which should help her gain familiarity with the casc setup of csb jenkins on openshift

[2021-04-21 10:21] elizabethlumban opened #4646 "Failed To Update Config To Component Deployed odo push"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
odo v1.2.0
oc version:
Server Version: 4.5.35

## How did you run odo exactly?
I followed the instructions from this website

https://docs.openshift.com/container-platform/4.7/cli_reference/developer_cli_odo/creating_and_deploying_applications_with_odo/creating-a-multicomponent-application-w

[2021-04-21 10:26] boczkowska commented on #4645
@prietyc123 release Notes for downstream docs https://github.com/openshift/openshift-docs/pull/31737 PTAL and verify.
The preview: https://deploy-preview-31737--osdocs.netlify.app/openshift-enterprise/latest/cli_reference/developer_cli_odo/odo-release-notes.html
This contains the changes for 2.1 and 2.2 releases combined since there were not separate docs for 2.1.

The Bugzilla issues (https://git

[2021-04-21 10:53] girishramnani commented on #4281
But I went through the odo.dev docs, there are 20 pages of doc and nearly no mention of —s2i.

We need 2-3 paragraphs explaining —git, —binary and other 2 issues.

And the demo video needs to change.
Will share more of my findings

[2021-04-21 10:54] mik-dass commented on #4493
OK then we would need to change the current behavior of defaulting the value to `/` and saving it in the devfile.

[2021-04-21 12:19] rnapoles-rh opened #4649 "Automate generation of Release Readiness document"
/kind user-story

## User Story
As a Quality Engineer I want to get an automated Release Readiness document So that it requires minimal effort to get it available.

## Acceptance Criteria
- [x] Complete the [Data Driven Release Basics Program training](https://start.learning.redhat.com/catalog/learning-path/159)
- [x] Complete the [Product Quality Index (PQI) Basics Program training ](https://star

[2021-04-21 12:36] elizabethlumban commented on #4646
I updated my odo to this version odo v2.1.0 (8479050f6) I still got the same error :(

Thanks in advance for your help

[2021-04-21 12:51] dharmit commented on #4646
@elizabethlumban we recently made a bunch of changes to the `odo create --s2i` command in #4518. Can you please update to use the latest master branch of odo and see if it helps?

[2021-04-21 14:26] mik-dass commented on #4493
@kadel @scottkurz Please check if https://github.com/openshift/odo/pull/4567 satisfies your requirements. One concern is that this behavior can end up overwriting endpoint values set by other tools or set manually.

[2021-04-21 14:39] mik-dass commented on #4550
My concern is that we would need to list the resources first and that can be slower than a get call.

[2021-04-22 00:15] elizabethlumban commented on #4646
hi @dharmit  would you be able to provide the steps on how to use the latest master branch of odo?

Thank you for the quick reply

[2021-04-22 07:01] prietyc123 commented on #4532
I was trying to verify the new jenkins url and the console. Console with project name `jenkins-csb-devtoolsodo` is not accessible, it seems the access has not been given to `devtools-odo`. Following up with the ci tool members on this.

[code]

[2021-04-22 07:08] dharmit commented on #4646
You'll need to clone the code to your system and build the binary.
[code]
Doing this will generate `odo` binary in your current working directory. You can then copy it to a location that's in your system's `$PATH` and use the odo binary.

[2021-04-22 07:18] prietyc123 commented on #4532
As per ci-tools member, the group has been given access but problem is that this group is un-synced with OCP4. Already created a ticket on service now and following up on that.

[2021-04-22 07:32] dharmit opened #4651 "Run Opreator integration tests on Kubernetes cluster in CI"
/kind user-story

## User Story
As an odo developer I want to run Operator integration tests on a Kubernetes cluster so that the functionality is tested for both OpenShift and Kubernetes.

## Acceptance Criteria
- [ ] Install the Operators on Kubernetes. For OpenShift cluster, we run the [setup-operators.sh](https://github.com/openshift/odo/blob/66935fca219dd8ceee25ad4639f5b07ac4d58c86/scripts/con

[2021-04-22 07:36] dharmit commented on #4651
If we're using minikube in the CI, we can do this by running `minikube addons enable olm`. However, this uses old images for enabling OLM, and we would need to make sure to use newer images by running `minikube addons enable olm --images`. More infromation can be found at https://github.com/kubernetes/minikube/pull/10769#pullrequestreview-609180386 and https://github.com/kubernetes/minikube/issues

[2021-04-22 07:45] anandrkskd commented on #4408
Running e2e & integration tests on Jenkins fails due to n/w bandwidth issue as it is not able to download `oc` binary within timeout of 210 seconds, As discussed with Tomas we will use a pre-downloaded oc binary for the e2e test.

[2021-04-22 07:48] kadel commented on #4651
olm addon is horrible, we should avoid it. Using offial installation method from operatorhub.io is much better
`$ curl -sL https://github.com/operator-framework/operator-lifecycle-manager/releases/download/v0.17.0/install.sh | bash -s v0.17.0`

[2021-04-22 07:56] anandrkskd commented on #4412
For e2e test:
- There are some tests that are failing because of `4min timeout`,  some test are failing due to `Could not get the latest release information in time. Never mind, exiting gracefully :)`
For unit test:
- added a new make target for unit test that will not using `-race` flag

[2021-04-22 08:26] dharmit commented on #4011
/remove-lifecycle rotten

[2021-04-22 08:28] dharmit commented on #4328
/remove-lifecycle stale

[2021-04-22 08:29] dharmit commented on #3786
/remove-lifecycle stale

[2021-04-22 08:29] dharmit commented on #3965
/remove-lifecycle rotten

[2021-04-22 08:31] dharmit commented on #4368
"on the size"? What does that mean?

SBO already has support for using it as a library, IIUC. @kadel played with it as well. Or maybe he played with the PR that enables it.

[2021-04-22 08:34] dharmit commented on #4515
@rnapoles-rh We managed to get a 4.7 cluster up on PSI, right? Is there anything pending on this one?

[2021-04-22 08:34] dharmit commented on #4517
Indeed. But IIRC, your issues were blocked on having an OCP 4.7 cluster on PSI first. So I thought that you might have some spare bandwidth to look into this. However, I guess @rnapoles-rh has got that running as a part of #4515.

[2021-04-22 09:10] mohammedzee1000 commented on #4592
I think I figured out where the change needs to happen. But one thing I still have not found out is how to check if the cluster supports the new `networking.k8s.io/v1` ingress. Any ideas @kadel? One way i can think of is checking the Kubernetes version but I am not sure it will be a dependable way or not

[2021-04-22 09:30] dharmit commented on #4592
The [Ingress documentation page](https://kubernetes.io/docs/concepts/services-networking/ingress/) says this at the top:
[code]
I assume that it means that it's out of beta and available as stable feature since kubernetes v1.19.

Recent minikube and CRC versions are at least at kubernetes v1.19 AFAIK. Mapping it to OpenShift is made simpler by [this article on RH Customer Portal](https://access.re

[2021-04-22 09:47] mohammedzee1000 commented on #4592
So do we drop v1beta ingress entirely and not have detection  logic to use v1beta if n/w.k8s.io/v1/ingress does not exist or do we want to keep supporting v1beta ingress for a bit longer?

[2021-04-22 09:48] mohammedzee1000 commented on #4592
As far as supported of n and n-1 goes 4.7 and 4.6 map to 1.20 and 1.19 respectively

[2021-04-22 10:08] dharmit commented on #2784
/reopen

Reopening based on conversation with @kadel. We want to have this feature for operator backed services. This would make all the `create` commands of odo more consistent.

[2021-04-22 10:15] dharmit commented on #2784
This output should contain the Kubernetes Inlined component YAML but converted into JSON. And it should be in the spec. We need to decorate it with `apiVersion: odo.dev/v1`, `kind: Service`, etc. which is odo specific API output.

This should have similar output as above.

[2021-04-22 10:18] dharmit commented on #4591
This command is applicable only for a service that's already created using `odo service create` (maybe even pushed to the cluster using `odo push`.) So we already have the spec of the service. We only need to print the spec in a pretty way.

[2021-04-22 10:33] dharmit commented on #4591
@serenamarie125 pointed it to 4 and added one more item to acceptance criteria - #4160.

[2021-04-22 10:39] valaparthvi commented on #4451
`--wait` command is broken.
[code]

[code]

This seems to be related to #4593.

[2021-04-22 10:47] mohammedzee1000 commented on #4592
Also, from what I have researched, Ingress is available under networking/v1beta till 1.19 and moved into v1 in 1.19+
Currently, we are using k8s api 0.17.1 from what I can make out from go.mod (require and replace).

So for now, we can use networking.k8s.io/v1beta/ingress. If we want to use 1 from v1/ingress, we will have to bump version
But that brings its own complications

[2021-04-22 11:11] mohammedzee1000 commented on #4592
I feel the simplest solution, for now, would be to move to networking.k8s.io/v1beta1 ingress.
Of course we could also upgrade out client, but that will involve some fighting with go mod

[2021-04-22 11:18] kadel commented on #4592
The client will be upgraded as part of https://github.com/openshift/odo/pull/4648

We could detect what cluster supports. If it has `networking.k8s.io/v1` use it, if not check for `networking.k8s.io/v1beta` if not check for extensions/v1beta1

[2021-04-22 11:31] mohammedzee1000 commented on #4592
So what do we want to do now?
 1. Hold this issue until your pr goes in as you are already done fighting with go.mod
 2. Replicate your changes in my own pr and proceed further (investigation on how to detect what is available and what is not)
 3. Go with v1beta implementation for now and worry about v1 later

[2021-04-22 11:35] mohammedzee1000 commented on #4592
@kadel ^

[2021-04-22 12:38] rnapoles-rh commented on #4515
Cluster is now up and running, the documentation is updated with additional details and the prepare_cluster_config.sh script was updated with additional validations and feedback.
https://gitlab.cee.redhat.com/openshiftdo/PSI/-/merge_requests/59/

[2021-04-22 12:38] #4515 closed

[2021-04-22 12:41] rnapoles-rh commented on #4288
Exploring `minishift image cache-config` and the use of local registry mirror

[2021-04-22 12:45] kadel commented on #4592
Ingress in networking/v1beta is even in the current version that we already vendor. So you can start with that.

Detect what cluster supports. If it has networking.k8s.io/v1beta  use it if not check for extensions/v1beta1 and use that.
Once  #4648 is you can just extend that with networking/v1 in separate PR  or in add it into the one that you open, depending which one will be merged first

[2021-04-22 12:53] prietyc123 commented on #4606
Pods are not getting up for the services on PSI

[code]
As we don't see any failures on prow jobs, considering its only failing on PSI. However I need to debug it locally.

[2021-04-22 13:07] scottkurz commented on #4104
This seems to have been fixed as of at least v2.0.7

[2021-04-22 13:07] #4104 closed

[2021-04-22 13:10] dharmit commented on #4592
I'd forgotten to add this to Sprint 200.

[2021-04-22 13:18] dharmit commented on #4462
I don't know the exact way to figure it out but OpenShift supports `project` resource while vanilla k8s doesn't. We already have a function in odo code to check for project resource.

[2021-04-22 15:20] GeekArthur commented on #4504
All the PRs for OCI-based registry migration are merged, close this issue.

[2021-04-22 15:20] #4504 closed

[2021-04-23 00:51] #4216 closed

[2021-04-23 07:38] prietyc123 commented on #4467
@rnapoles-rh If I understand it correctly, projects might not be getting cleaned even after performing cleanup steps in `AfterEach`. Object might have stuck in  `Terminating` state and waiting on finalizer. If this is the case, only thing we can think of for QE progress is removing it forcefully. Recently I was going through some related documents and found some workaround to remove finalizer thin

[2021-04-23 07:41] prietyc123 commented on #4467
@rnapoles-rh If I understand it correctly, projects might not be getting cleaned even after performing cleanup steps in `AfterEach`. Object might have stuck in  `Terminating` state and waiting on finalizer. If this is the case, only thing we can think of for QE progress is removing it forcefully. Recently I was going through some related documents and found some workaround to remove finalizer thin

[2021-04-23 08:01] kadel commented on #4467
Before we start with a workaround let's try to understand why is this happening.
If the project is not deleted even after it is marked  for deletion it meant that there have to be some resources left in that project that is waiting for something (pvc cleanup, finalizers etc...) If we try to understand the problem first we might be able to fix it properly instead of just implementing a workaround t

[2021-04-23 08:05] kadel commented on #4462
definitely command. We need to find a way how to hide it from `--help`

[2021-04-23 08:29] valaparthvi commented on #4462
It's done. And fixing cobra command annotation hid it from `--help`.

[2021-04-23 10:53] valaparthvi opened #4654 "Help doc for preference is buggy"
/kind bug

## What versions of software are you using?
**Operating System:**
Fedora 32

**Output of `odo version`:**
odo v2.1.0 (40a90e175)
Server: https://192.168.42.43:8443
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?
[code]

## Actual behavior
`odo preference --help`
[code]

`odo preference unset --help`
[code]
## Expected behavior
There should be no `BADINDEX` error.

## Any lo

[2021-04-23 11:41] elizabethlumban commented on #4646
hi @dharmit - I've followed the following steps but unfortunately, I still got the same error message.

[2021-04-23 12:11] kadel opened #4655 "odo should not show PVC in terminating state"
[code]

in this scenario odo should not show any storage, as they are all in terminating state.

/kind bug
/priority low

[2021-04-24 18:53] #4256 closed

[2021-04-25 00:53] #2253 closed

[2021-04-25 00:53] #2833 closed

[2021-04-26 06:10] jeffmaury commented on #3070
/remove-lifecycle stale

[2021-04-26 07:12] prietyc123 commented on #4532
Blocked due to https://github.com/openshift/odo/issues/4532#issuecomment-824603536

[2021-04-26 08:26] prietyc123 commented on #4606
This particular scenario has been removed via https://github.com/openshift/odo/pull/4650

[2021-04-26 09:38] girishramnani commented on #4566
so then should I implement what I have mentioned?

[2021-04-26 09:50] mik-dass commented on #4566
Sounds good to me, @kadel wdyt?

[2021-04-26 11:59] mohammedzee1000 commented on #4284
Branch created, configs pushed. All that remains is waiting for things to stabilize/fix anything if needed.
Also ci-firewall needs to switch the main branch for which, the pr is up.

[2021-04-26 12:24] kadel commented on #4566
I liked this idea. Could we maybe try it?

[2021-04-26 13:50] boczkowska commented on #4200
@prietyc123 PTAL at the PR https://github.com/openshift/openshift-docs/pull/31914

There is one roadblock though - support doesn't generally allow us to publish docs with URLs that link to upstream repos/images etc/. Is it possible to move example apps to `redhat-developers` for example and use a Maven image that is hosted on registry.access.redhat.com? If not, we can try putting a huge warning ab

[2021-04-27 07:27] prietyc123 commented on #4606
I can see lots of failure on operator hub due to pod status `Init:0/1`

[2021-04-27 07:33] prietyc123 commented on #4606
odo push fails on psi cluster, might be due to unavailability of the replicasets

[code]

[2021-04-27 07:39] kadel commented on #4606
you need to check why is this happening. You should be able to see this in Pod events.

Most often Pod can't download images (or it is taking to long) or PVC can't be created.

[2021-04-27 07:39] dharmit commented on #4200
If you folks need to fork something under the `redhat-developer` namespace on GH, I can help.

[2021-04-27 07:40] prietyc123 commented on #4606
[code]

[2021-04-27 07:42] dharmit commented on #4284
@mohammedzee1000 do you think we can consider this as Done?

[2021-04-27 07:42] prietyc123 commented on #4606
Issue https://github.com/openshift/odo/issues/2877 has also been observed on psi.

[code]

[2021-04-27 07:53] kadel commented on #4284
the last step should be deleting `master` branch, or renaming it to something like `backup-master` fi we want to be extra safe
Than we can close this

[2021-04-27 07:55] kadel commented on #4200
problem is that devfiles that odo is currently using are not productized, they are upstream.
This is a problem that needs to be solved on devfile and devfile registry side

[2021-04-27 08:16] valaparthvi commented on #4192
I would like to work on this one. I can research and hopefully get somewhere with the implementation in the upcoming sprint.
/assign valaparthvi

[2021-04-27 09:19] girishramnani commented on #4566
ok, moving forward on this

[2021-04-27 10:03] elizabethlumban commented on #4646
hi, I just tried to perform odo push again today and I would like to share the following logs. I hope this would help. thanks

[odopush_26Apr2021.txt](https://github.com/openshift/odo/files/6383685/odopush_26Apr2021.txt)

[2021-04-27 10:45] kadel commented on #4621
based on the devfile spec, endpoint name has to be  "string (up to 63 chars) and must match ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$ "
when odo generates new endpoint it needs to make sure that the name is valid

[2021-04-27 11:33] mohammedzee1000 commented on #2877
/remove-lifecycle rotten

[2021-04-27 12:15] scottkurz commented on #4493
@mik-dass could you mention more what scenario were you concerned about overwriting values with?

If we needed to, I wonder if it'd help to have a new `odo url update` subcommand to distinguish btw. new vs. existing endpoints.  But I think of 'url' as an odo construct rather than a devfile construct so `create` seems appropriate to me, and I think Tomas' breakdown:  https://github.com/openshift/od

[2021-04-27 12:15] girishramnani commented on #4621
but thats not the only thing, should we reduce its size if overall url becomes too large? like max at 20 chars?

[2021-04-27 13:17] dharmit commented on #4646
@elizabethlumban I just tried to follow the steps mentioned in the doc you've linked. And `odo push` worked for me for both the backend and frontend component. I need to look closely at the logs you've shared but did you add execute below steps before creating the components:
[code]

[2021-04-27 14:40] dharmit commented on #4646
Error message in the logs shared in https://github.com/openshift/odo/issues/4646#issuecomment-827483476:
[code]

[2021-04-27 14:43] dharmit commented on #4646
Looking at the error message, it looks to me like the pod's not getting scheduled since there's no persistent volume to which pod's persistent volume claim can be bound:
[code]

@kadel @mik-dass can you confirm if I'm looking at this correctly?

[2021-04-28 07:34] dharmit opened #4664 "Define the structure of docs on odo.dev"
/kind documentation

## What mistake did you find / what is missing in the documentation?
Currently, the docs on odo.dev are quite haphazard. As a user just starting with odo, it is confusing and misleading at places. It is outdated at places as well.

## What is the relevance of it?
Keeping docs updated is relevant from the users' perspective as that's likely the most preferred way to understand

[2021-04-28 07:52] kadel commented on #4646
yes, it it looks like something is wrong with volumes on the cluster

[2021-04-28 08:09] elizabethlumban commented on #4646
hi @dharmit - I did follow all the steps listed here, the login and making sure im on the right project and the steps under deploying backend component

https://docs.openshift.com/container-platform/4.7/cli_reference/developer_cli_odo/creating_and_deploying_applications_with_odo/creating-a-multicomponent-application-with-odo.html

[2021-04-28 09:03] dharmit commented on #4646
@elizabethlumban this is not about just following the steps on the guide you have linked. This looks like an issue about lack of persistent volumes in the cluster you're working on.

* What's the OpenShift cluster setup like?
  * Is it a minishift or CRC or something deployed in your organization?
* What's the output of `oc get pvc`?

[2021-04-28 09:08] #4654 closed

[2021-04-28 09:43] mik-dass commented on #4493
I meant if the user edits the devfile manually and triggers `odo url create`, we might end up overriding his changes.
[code]
This might end up overwriting his changes.

Though after a discussion with @kadel , we decided not to worry about such scenarios for now.

[2021-04-28 10:15] girishramnani opened #4666 "Show deprecation warning when someone tries to use a github based registry"
/kind user-story

## User Story
As we have oci based registry support now, we should consider eventually removing github based registry support for devfile.

## Acceptance Criteria
- [ ] It should show a deprecation warning when someone tries to use github based registry.

## Links
- Related Epic (mandatory):

/kind user-story

[2021-04-28 10:32] girishramnani commented on #4566
Currently it seems odo code doesn't handle oci registry downloads because that part is moved to the devfile library.
We still have github based registry support which is still present in odo which I have added fix for https://github.com/openshift/odo/pull/4660

[2021-04-28 10:41] dharmit commented on #4666
As far as I can see, GH based registry doesn't show up in `odo registry list` output anyway https://github.com/openshift/odo/issues/4626#issuecomment-820908807.

Where/when should this warning be shown exactly?

[2021-04-28 10:42] girishramnani commented on #4666
Ok so I need suggestion on when to show this warning, when someone tries to add github based registry?,
Or when they list all registries and we see a github one
Or at odo create we find the devfile from github registry?

[2021-04-28 10:47] dharmit commented on #4666
I think it makes sense when the user's doing this.

As a user, I don't even see the GH based registry so if odo says that I'm using GH based registry, I'm going to be confused why odo's even talking about a registry that doesn't exist in `odo registry list` output. No?

[2021-04-28 10:53] kadel commented on #4666
I would put it into multiple places
- when someone tries to download something from github registry - this means during `odo create`
- when someone tries to add github based registry - `odo registry add` command
- when someone runs `odo registry list` and at least one registry is github based

[2021-04-28 10:57] dharmit commented on #4626
@kadel how does this work? I don't see GH registry in `odo registry list` wheras `registry.devfile.io` doesn't show up in `~/.odo/preference.yaml`.

So, is `registry.devfile.io` hardcoded into odo now? [Reference change in PR](https://github.com/openshift/odo/pull/4525/files#diff-b06dc75681a3774abe338a10f514344004828c789ccddd30800c3a6b98973f29R83).

How can "we" (as in through some PR) change this

[2021-04-28 11:00] dharmit commented on #4666
Why should we stop a user from adding a GH based registry if they want to?

Why? What if an org has a registry on GH? Just having it on GH would make it invalid?

PS: My questions are genuine ones because I don't understand how this works. There's no pun intended.

[2021-04-28 12:22] kadel commented on #4493
this is ok
`odo url create` is a command that can edit devfiles. Users running this should be expected that devfiles will be modified.

[2021-04-28 13:02] kadel commented on #4626
If DefaultDevfileRegistry in the preference file is not the new registry.devfile.io it changes it to it.
So the rest of the code is using the new address.
But it does this only "in-memory"  without actually updating preference file.

https://github.com/GeekArthur/odo-fork/blob/b70166c2ea85cd74c01cb2835cec79e8dbfbd676/pkg/preference/preference.go#L271-L279

odo should update the preference file ins

[2021-04-28 13:08] girishramnani commented on #4666
We wont stop them, we would just show a deprecation warning. And well because we want to promote oci based registry, as GH based registry would be removed if we are adding the warning

[2021-04-28 13:10] kadel commented on #4666
yes :+1:

[2021-04-28 13:14] dharmit commented on #4666
I think you folks are talking about one specific GH based registry and my question is more around - is odo not going to support "any" GH based registry?

[2021-04-28 13:16] girishramnani commented on #4666
no we are talking about GH based registry as a feature. We wont support them as a whole.

[2021-04-28 13:17] kadel commented on #4666
Yes, odo should NOT support any GH-based registries, because no other tool will ever support that.

[2021-04-28 13:18] girishramnani commented on #4666
I added "a" in the title so its clear that its not "the" GH registry its all **Github based registries** because are deprecating the feature.

[2021-04-28 13:19] dharmit commented on #4666
I wasn't aware of https://github.com/devfile/registry-operator and hence asked the questions I asked. I still have some confusion but I think the PR might clear my doubts.

[2021-04-28 13:19] girishramnani commented on #4666
So we are on-board with add the warning?

[2021-04-28 13:20] dharmit commented on #4666
Sure.

[2021-04-28 13:21] girishramnani commented on #4666
Currently this would be the approach - adding it at multiple places.

[2021-04-28 13:21] girishramnani commented on #4666
Assigning to myself, will pick up in the next sprint.

[2021-04-28 13:38] girishramnani commented on #4621
I could be wrong here but endpoint name would include the cluster url? or its just the name?

[2021-04-28 13:40] girishramnani commented on #4621
I still dont have an action item on this,

- should I just the url name be as is? then we can just close this issue.
- should I trim it if it goes beyond a certain characters [ max - 30 chars ] ? - also there is an issue with triming it from right side as the sufix is the random string - which means if I trim it too much we might have conflicting url name. ( as the random string might get trimed )

[2021-04-28 14:16] kadel commented on #4621
from the original descrption:

Creating urls for ports is ok.
It is not ok to create url that has an invalid name.

This is a situation that you need to prevent:

[code]

[2021-04-28 17:30] zplewis commented on #69
How about now? It's been three years since this last post.

[2021-04-29 07:35] #4548 closed

[2021-04-29 07:47] prietyc123 opened #4668 "PSI 4.7 cluster stability"
/kind bug
/kind failing-test

## What versions of software are you using?

**Operating System:**
All supported on PSI

**Output of `odo version`:**
Main

## How did you run odo exactly?

Running tests on psi env using psi cluster to login into ocp

## Actual behavior

We are facing lots of network issue on the new psi cluster which results into failing tests mentioned in #4606

Frequent restart be

[2021-04-29 08:46] girishramnani commented on #4621
Would this approach work^ so that a url doesn’t go over 20 or 30 characters?

[2021-04-29 09:43] kadel commented on #4621
url name (endpoint name) can be up to 63 characters, why would you limit it to just 20?

Problem is that it generates Ingres/Route with a host that is too long.

[2021-04-29 09:45] girishramnani commented on #4621
I have implemented an approach similar to what devfile does in this https://github.com/openshift/odo/pull/4670
Please take a look

[2021-04-29 09:47] girishramnani commented on #4281
Current plan -
I am writing a page in odo.dev titled “breaking changes in odo 2.2”
Explaining my —s2i change. I wasn’t sure where to document this so this seemed like the best option

[2021-04-29 10:13] girishramnani commented on #2615
I had a question how to distinguish if the user is asking for service catalog service or an operator.
Should I assume if its of the format `<operator>/<CR>` i.e. `strimzi-cluster-operator.v0.21.1/Kafka` then its operator CR?

[2021-04-29 10:16] girishramnani commented on #2615
Also if a user provide just `odo catalog describe service <operator-name>` then should I show all `CRs` under it?
If so then we need to find a better way to distinguish if a user is asking for operators backed services or service catalog services

[2021-04-29 10:59] rnapoles-rh commented on #4288
I was able to manually pull all images required by minishift and add them to the cache:
Issues starting minishift:

[2021-04-29 11:18] kadel commented on #2615
yes

if it is operator based service it should always be specified as operator/cr

[2021-04-29 12:57] mohammedzee1000 commented on #4284
The tests are stable and all open prs are against `main` so I can say. that the analysis is complete. I will send pr tomorrow to delete test configs for master branch followed by renaming `master` to `backup-master`

[2021-04-29 13:30] dharmit commented on #4532
Jenkins part of this issue is working. VMs take a long time to spin up on PSI.

[2021-04-29 13:40] dharmit commented on #4208
/remove-lifecycle stale

[2021-04-29 13:41] kadel commented on #69
@zplewis There is a Homebrew Tap with odo
https://github.com/kadel/homebrew-odo/

I'm also working on adding it to core homebrew, but we need to find a suitable name as there already is another package with odo name https://formulae.brew.sh/formula/odo

[2021-04-29 13:42] zplewis commented on #69
How about openshift-odo?

Z. Patrick Lewis
ETL and Reporting Developer
Information Technology Services
P: 919-537-3746 | ***@***.***
ITS-Manning | UNC-Chapel Hill | Campus Box 3420 | Chapel Hill, NC 27599
________________________________
From: Tomas Kral ***@***.***>
Sent: Thursday, April 29, 2021 9:41:40 AM
To: openshift/odo ***@***.***>
Cc: Lewis, Patrick ***@***.***>; Mention ***@***.***>
Subje

[2021-04-29 14:51] kadel commented on #69
we don't want to use openshift in the name anymore. So we will probably go  with odo-dev or odo-cli

[2021-04-29 14:53] zplewis commented on #69
That works! Thanks for working on this and being responsive in your replies. I look forward to when this is added to core homebrew.

[2021-04-29 15:28] #4655 closed

[2021-04-29 20:59] scottkurz opened #4673 "Add function to odo create to create a child/extension of a given devfile registry entry (as parent)"
/kind user-story

## User Story
As an app developer and user/consumer of a stack devfile (e.g. java-openliberty) I want odo to create a devfile in my project working directory that is a thin or sparse "child" extension of the devfile in the registry, which it will refer to as a "parent".

It could even be useful to offer a choice, e.g.:
* odo create java-openliberty                              #

[2021-04-30 06:00] dgolovin opened #4674 "odo does not recognize incorrect subcommands when used with options"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** 2.1.0

## How did you run odo exactly?

`odo create1 nodejs --context ~`

## Actual behavior

It complains about --context instead of wrong command
[code]

## Expected behavior

[code]

## Any logs, error output, etc?

N/A

[2021-04-30 06:32] prietyc123 opened #4675 "Configure a long running VM for minikube"
Kubernetes tests configure on fly vms for each and every prs on PSI infrastructure. We want to run it on a long running cluster to avoid creating VMs everytime.

## Acceptance Criteria
- [ ] Long running minikube VM on PSI
- [ ] Kubernetes Tests for every pr

/area testing
/priority high

[2021-04-30 07:06] #4532 closed

[2021-04-30 07:15] prietyc123 commented on #4200
Reviewed 🙂

[2021-04-30 10:00] dharmit commented on #4389
/remove-lifecycle stale
/priority low

@kadel please change the priority if it looks incorrect to you.

[2021-04-30 11:02] #4566 closed

[2021-04-30 13:42] prietyc123 commented on #4675
We should try increasing `--retryloopcount` to may be 7 and observe ssh behavior. For Now its low priority.

/priority low

[2021-04-30 13:57] kadel opened #4678 "failing tests on ocp 3.11"
Folowing two scenarios from  `▶ make test-integration-devfile `
are failing on ocp 3.11

[code]

[2021-05-01 06:03] elizabethlumban commented on #4646
hi, the ocp cluster is deployed in the organization, I've attached the latest logs and the results of the oc get pv and oc get pvc logs.
[logs01May2021.txt](https://github.com/openshift/odo/files/6408976/logs01May2021.txt)
[pv_pvc.txt](https://github.com/openshift/odo/files/6408977/pv_pvc.txt)

[2021-05-01 06:56] #3312 closed

[2021-05-01 12:56] #3944 closed

[2021-05-02 00:56] #3889 closed

[2021-05-03 05:38] anandrkskd opened #4680 "Operatorhub test fails on windows due to incompatible path"
/kind failing-test
/area testing

## What versions of software are you using?

**Operating System:** Windows

## How did you run odo exactly?
`make  test-operator-hub`

## Actual behavior
The test is failing as it doesn't uses windows friendly path in the test.

## Expected behavior
Test should pass without any error on windows.

## Any logs, error output, etc?
[code]

[2021-05-03 06:37] mik-dass commented on #3132
Since we want to support both files and folder, the name of the attribute has been changed to `dev.odo.push.path`.

[2021-05-03 07:09] dharmit commented on #4680
/good-first-issue

[2021-05-03 07:12] dharmit commented on #4192
If for any reason this URL fails to redirect, the repo now lives under - https://github.com/redhat-developer/app-labels.

[2021-05-03 10:55] dharmit commented on #4397
@maysunfaisal do you want this to be tracked via a Sprint board of odo project? I'm fine by whatever you would prefer. I'm asking because Sprint 200 is nearing closure and I was wondering if you would want to move this to 201.

[2021-05-03 11:12] girishramnani commented on #4618
this was already done as part of #4518

[2021-05-03 11:12] #4618 closed

[2021-05-03 11:38] girishramnani commented on #4281
Docs https://github.com/openshift/odo/pull/4683

[2021-05-03 11:45] dharmit commented on #4591
Moved #2785 from "good to have" to "Acceptance Criteria' since it is immediate next step after `odo catalog describe service`.

[2021-05-03 11:48] anandrkskd commented on #4412
failures faced in Windows tests:
1. Under TestIntegration  `should build when a file and a folder is renamed in the directory`
[code]
2. under TestDevfiles , should only extract the specified path in the subDir field
[code]
3. under TestDevfiles , should successfully create the devfile component and show json output for a unreachable cluster
[code]
4. https://github.com/openshift/odo/pull/4658#iss

[2021-05-03 11:52] mohammedzee1000 commented on #4284
Anand has raised the PR for deleting test configs for `master` branch https://github.com/openshift/release/pull/18248
Once this goes in il complete the rename

[2021-05-03 11:57] dharmit commented on #4192
Does this look related - https://github.com/openshift/odo/issues/4544?

@kadel @serenamarie125

[2021-05-03 12:11] rnapoles-rh commented on #4288
Went back to standard minishift due to the CDK (3.11) issues.

[2021-05-03 12:16] mohammedzee1000 commented on #4284
PR merged. `master` branch renamed to `master-backup`
The last step is to remove the branch protection rules for the master branch. @kadel @dharmit @girishramnani one of you needs to do this.
Once its done, we can close this issue

[2021-05-03 12:18] rnapoles-rh commented on #4467
Adding code in AfterEach to track each passing/failing test, including project name to assist in analysis.

[2021-05-03 12:46] kadel commented on #4192
#4544 is about the other direction - WebConsole showing things created by odo.

This current issue #4192 is about odo showing things created in WebConsole.

Most of the things for  #4544 are already there. One things that might be left is to make sure that every odo component has label or annotation that includes source repo url

[2021-05-03 12:57] #3390 closed

[2021-05-03 13:01] dharmit commented on #4615
Workaround for this is documented in #4683.

[2021-05-03 13:06] dharmit commented on #4666
/priority high

[2021-05-03 13:19] scottkurz commented on #4159
@kadel @dharmit  - I'm noticing the recent updates like #4656 to support kubernetes-typed components focus on support operator-backed services.

I'm curious if a use case like Tomas's naked Mongo Pod described here:  https://github.com/openshift/odo/issues/4159#issuecomment-723113667
is still considered a valid use case.

On the one-hand, I can see how using an operator would be more powerful for

[2021-05-03 13:26] mohammedzee1000 commented on #4330
/remove-lifecycle rotten

[2021-05-03 14:02] mik-dass commented on #4205
@kadel I can't reproduce it anymore
[code]
https://github.com/openshift/odo/pull/4446 might have fixed it.

[2021-05-03 15:50] maysunfaisal commented on #4397
@dharmit this issue is done, there was a typo and the PR didnt close the issue

[2021-05-03 15:50] #4397 closed

[2021-05-04 06:05] prietyc123 commented on #4675
Sometimes Build of instance fails on `aborted: Failed to allocate the network(s), not rescheduling`. In this scenario even increasing `--retryloopcount` won't help as its completely psi issue. I am going to create one ticket and do a follow up on that. Now I feel it would be great idea to have long running VM until psi vm creation issue gets fixed.
@kadel @mohammedzee1000 WDYT?

[2021-05-04 07:22] dharmit commented on #3803
/remove-lifecycle stale

[2021-05-04 07:27] valaparthvi commented on #4462
Scope of the issue for sprint 201 -
[ ] - Merge #4462
[ ] - Add Cluster type to collected data
[ ] - Add Cluster ID to collected data
[ ] - Add documentation for odo telemetry

[2021-05-04 07:34] dharmit commented on #4159
@scottkurz I'll try to answer that but will rely on @kadel to validate my response.

At a high level, odo is currently not focussing on the users who would modify devfile by hands. That is, if someone's editing it manually and not interacting with it via odo, there's no guarantee that things would work.

Having said that, we do understand that for architects or Devfile authors like you, Andy and o

[2021-05-04 08:16] kadel commented on #4159
Not really. Odo uses Devfile v2. And as such, it needs to be able to correctly interpret any valid devfile.
It is perfectly valid odo use-case to write devfiles "by-hand" and use just `odo push`.
The thing that we are not focusing on and it will always be out of the scope for odo is providing a command to modify every aspect and field in devfile. Odo devfile editing capabilities will be always lim

[2021-05-04 08:18] kadel commented on #4675
+1 on long-running VMs and never going back :-)

[2021-05-04 08:29] prietyc123 commented on #4675
/priority high

[2021-05-04 09:31] kadel commented on #4205
@mik-dass, you are right, I can't reproduce this anymore. It looks like this got really fixed somewhere.

[2021-05-04 09:31] #4205 closed

[2021-05-04 09:39] #4281 closed

[2021-05-04 12:38] scottkurz opened #4685 "Support using built-in resource types for inlined Kubernetes-typed components"
/kind bug

## What versions of software are you using?

**Operating System:** Win10, Linux

**Output of `odo version`:** odo v2.1.0 (8479050f6)

## How did you run odo exactly?

Well, I'm not saying I had a compelling business or technical case for doing this, but just to understand the technology, I tried adding some buit-in type defs as inlined kubernetes-typed components, like this:

[code]

(N

[2021-05-04 12:39] scottkurz commented on #4159
OK.. I opened https://github.com/openshift/odo/issues/4685  to follow-up on this use case.

Let me just note again I'm not saying this is particularly important to the set of top Open Liberty use cases.   I just view it as a test case understanding the full devfile vision.

[2021-05-04 13:49] girishramnani commented on #4685
This is interesting. would this show up in `odo list`?
I like this feature but how would this integrate with other commands?

[2021-05-04 14:57] kadel commented on #4685
No odo won't be showing this.
Odo should just create this, or delete it if gets removed from devfile.yaml

[2021-05-04 17:16] kadel opened #4687 "odo catalog list components fails with non existing kubeconfig"
[code]

/kind bug
/priority medium

[2021-05-04 18:58] girishramnani commented on #2785
## Scope for this sprint

TLDR - Allow user to use the information from `odo catalog describe service <operator>` to provide parameters when creating ( adding to devfile ) an operand `odo service create <operator> <name> -p <param>=<value>`.

### Implementation details

So taking an example of `PgCluster`
[code]

Next step is to allow user to set these values using `odo service create`.

The Accep

[2021-05-05 04:21] #2615 closed

[2021-05-05 05:11] girishramnani commented on #2785
Planning to use https://github.com/tidwall/sjson to build the json structure based on the input.
sjson is really powerful and might allow use to leverage more of its syntax in the future. We can link its syntax rules in odo.

[2021-05-05 05:54] anandrkskd commented on #4517
scope of this issue is:
- Add below functions ( Required logic are already in helper functions )
    - ShouldRunAndTerminate
    - ShouldFail
    - ShouldFailWithRetry
    - ShouldRunWithTimeout
- Replace the helper functions with above Runner functions
- Remove all the helper function that will be replaced from [helper_run.go](https://github.com/openshift/odo/blob/master/tests/helper/helper_run.g

[2021-05-05 05:56] valaparthvi opened #4688 "List components created by sources other than odo"
/kind user-story

## User Story
As a user, I want to be able to see components created by other tools such as ODC(and using labels as stated by the guideline [here](https://github.com/redhat-developer/app-labels).) when I list components with odo.  So that it will be easier for me to move from a project that started on the developer console or any other tool to odo.

## Acceptance Criteria
- [ ] I

[2021-05-05 06:14] valaparthvi commented on #4451
Scope for sprint 201 -
- [ ] Merge #4641
- [ ] Fix [this](https://github.com/openshift/odo/pull/4641/files#diff-8462e58763e4f95e797185b6557e5a8608ec2bf2ce7744c06f94d53f48db4d10R189 ) - deleting the correct devfile.yaml if `--context` flag is passed.

[2021-05-05 06:28] prietyc123 commented on #4675
Scope of the issue:
- [ ] Provisions VM on OpenStack with ssh key login
- [ ] Gathers the IP acquired by VM and generates a ssh node list (https://github.com/mohammedzee1000/ci-firewall#sshnodefile)
- [ ] configure minikube pre setup inside the created VM as mentioned https://github.com/openshift/odo/issues/4287#issuecomment-755316954
- [ ] Customise script https://github.com/openshift/odo/blob/ma

[2021-05-05 08:52] mohammedzee1000 commented on #4666
I believe this is pretty straightforward at this point. Provide deprecation warning the 3 commands as @kadel said. I guess the only problematic part would be detecting if a registry is git-based. For now, I will go with simple approach, checking if `git` is present in URL

Acceptance:

- [ ] Create a function that prints registry deprecation warning if called.
- [ ] Create function for the `Regist

[2021-05-05 09:38] girishramnani commented on #4688
I was thinking about this and a brain dump -

- what kind of tables should we look for to map the deployment on cluster to cluster related fields?
- Also if you find something that’s deployed using helm, it would have helm related fields? Should we leverage those? Also then wouldn’t this be in Helm territory (the helm epic)
- Should there be a separate flag in odo list to apply this feature? Else

[2021-05-05 10:01] kadel opened #4690 "Use `ServiceBinding` types instead of `unstructured.Unstructured`"
To work around issues with a new  [service binding operator](https://github.com/redhat-developer/service-binding-operator) version we had to use `unstructured.Unstructured` for `ServiceBinding` (https://github.com/openshift/odo/pull/4613) instead of using `ServiceBiding` struct types.

After #4648 is merged can move back to using `ServiceBinding` type.
This will make it easier to manage data in `S

[2021-05-05 10:01] kadel commented on #4690
/area service-binding
/priority medium

[2021-05-05 10:41] anandrkskd commented on #4408
scope for sprint 201:
- fix operatorhub tests and e2e tests

[2021-05-05 10:47] anandrkskd commented on #4412
scope for sprint 201:
- fix operatorhub tests, e2e tests and failures on https://github.com/openshift/odo/issues/4412#issuecomment-831208815

[2021-05-05 10:55] mohammedzee1000 commented on #4593
Based on my investigation, I have found that:

while the wait flag is respected for deletion during s2itun
https://github.com/openshift/odo/blob/1900fc15735fa6ac68e4a3b8ca456e2adea6b786/pkg/odo/cli/component/delete.go#L186

it is not respected anywhere at all for devfilerun

https://github.com/openshift/odo/blob/1900fc15735fa6ac68e4a3b8ca456e2adea6b786/pkg/odo/cli/component/delete.go#L225-L308

Ba

[2021-05-05 10:59] mohammedzee1000 commented on #4593
Acceptance:

- [ ] Change Adapter Interface `Delete` function ot accept 3rd parameter, wait of type bool
- [ ] Apply respective updates to implementors (though only Kubernetes adapter will get to respect the wait value for now)
- [ ] Update Delete function in kubernetes adapter to use `err = a.Client.GetKubeClient().Delete(labels, waitflag)` instead of `DeleteDeployment`
- [ ] Add test(s) to ensur

[2021-05-05 11:23] kadel opened #4693 "Custom link names and bindAsFiles option for SB"
/kind user-story

## User Story
As an odo user, I want to be able to control if linking information is provided as env variables or as files.
As an odo user, I want to be able to customize the name of the file when linking information is provided in file.

## Acceptance Criteria
- [x] It should be possible to optionally specify `ServiceBinding` name that is created when `odo link` is called. (exam

[2021-05-05 11:25] kadel commented on #3423
Why it should create a Secret? Secret presence is not required for binding. The secret will be created by SBO.

[2021-05-05 11:25] anandrkskd commented on #4680
The above test case is failing due to path used in the test is not  windows friendly and can be resolved using a windows friendly path.

scope of this issue:
- add windows friendly path in the above failing test

[2021-05-05 11:26] mik-dass commented on #4550
We need to change all get operations to list operations similar to https://github.com/openshift/odo/blob/2c1cef43737b932fdf1b5ea0b85af3415e6b9435/pkg/kclient/pods.go#L195 for

- [ ] deployments
- [ ] routes
- [ ] ingress
- [ ] services (will require trimming)
- [ ] PVCs

We also need to fix the uni tests which will be broken due to the changes.

[2021-05-05 11:27] rnapoles-rh commented on #4288
Found this [minishift issue](https://github.com/minishift/minishift/issues/3132#issuecomment-594352963) where people were able to resolve this issue with fedora31. I will try on a fedora31 PSI VM

[2021-05-05 11:28] kadel commented on #4533
I've created a user story that covers this issue. https://github.com/openshift/odo/issues/4693

[2021-05-05 11:29] kadel commented on #4505
I've created user story to cover this issue https://github.com/openshift/odo/issues/4693

[2021-05-05 11:29] kadel commented on #4690
This issue requires https://github.com/openshift/odo/pull/4648 to be merged first.

[2021-05-05 11:29] kadel commented on #4693
This issue requires https://github.com/openshift/odo/pull/4648 to be merged first.

[2021-05-05 11:31] wtrocki commented on #4693
CC @pedjak @slemuir

[2021-05-05 12:45] prietyc123 commented on #4606
[code]

[2021-05-05 12:47] kadel commented on #4606
can you please try to add this command to the test after `oc get pods` is executed?

`oc describe pods -n cmd-service-test137ude`

[2021-05-05 13:00] kadel opened #4694 "create new command helper functions"
parent issue: https://github.com/openshift/odo/issues/4517

scope of this issue is:
- Add below functions ( Required logic are already in helper functions )
    - ShouldRunAndTerminate
    - ShouldFail
    - ShouldFailWithRetry
    - ShouldRunWithTimeout

_Originally posted by @anandrkskd in https://github.com/openshift/odo/issues/4517#issuecomment-832431141_

[2021-05-05 13:08] valaparthvi commented on #4688
I am not sure I understand. Can you elaborate?

For now, I think we are just going to focus on the dev console, but I guess it would be nice to keep things compatible with other tools. Also, it is given that the components created on other tools use the labels as mentioned in the [guideline](https://github.com/gorkem/app-labels/blob/master/labels-annotation-for-openshift.adoc).

For now, I would l

[2021-05-05 13:11] valaparthvi commented on #4688
Scope of the issue for Sprint 201 -
Acceptance Criteria as mentioned in the issue.

[2021-05-06 06:41] zhengxiaomei123 commented on #4228
keep this issue open to wait for the support of devfiles registry for multi-arch.

[2021-05-06 06:55] kadel commented on #4693
This is to ensure compatibility with the current `odo link` behavior.

[2021-05-06 07:08] kadel commented on #4688
@valaparthvi Can you please outline how the `odo list` output would look like?
One important aspect that we need to communicate to users is that components created by other tools (like webconsole) are going to be in "read-only" mode. Users will be able to see them, but they won't be able to execute commands like `odo push` against them.

[2021-05-06 07:58] dharmit commented on #4160
Scope of this issue for Sprint 201:
- [ ] `odo service list` should show output like below from the component directory of `component-1`:
[code]
- [ ] `odo service delete` should delete the service only from devfile.yaml; `odo push` should delete the service from the cluster.
- [ ] Tests

I'll defer documentation till we have properly defined structure via #4664.

[2021-05-06 08:21] girishramnani commented on #4687
If I complete my tasks for the sprint, I would like to work on this issue

[2021-05-06 08:42] girishramnani commented on #4125
so then this is a non-issue now? or we need to update the devfile library to close this issue? @kadel ?

[2021-05-06 09:10] girishramnani commented on #4125
Added to sprint just so we can discuss if we need to close this issue

[2021-05-06 10:22] mohammedzee1000 commented on #4330
Ok so here is what my research says.

The problem starts from url validation here

https://github.com/openshift/odo/blob/caafb901e17b75590e47384daad6e5c1f097e377/pkg/odo/cli/url/create.go#L126

Which through the localconfigprovider interface, leads to

https://github.com/openshift/odo/blob/caafb901e17b75590e47384daad6e5c1f097e377/pkg/envinfo/url.go#L44-L110

In this function, we have below

https:

[2021-05-06 10:25] mohammedzee1000 commented on #4330
So the scope will be

- [ ] Modify the localconfigProvider `GetPorts` so that container name can be passed
- [ ] Ensure envinfo  `GetPorts` respects container name
- [ ] Deal with fallouts of interface change
- [ ] Fix tests as needed

[2021-05-06 10:49] dharmit commented on #4664
Scope for Sprint 201:
- [ ] Prepare a doc that describes the desired structure/flow of docs on odo.dev

I'll be working with people across various devtools projects to get this done.

[2021-05-06 11:43] dharmit commented on #2785
Not in the first pass.

[2021-05-06 13:00] dharmit commented on #4690
/assign @feloy

[2021-05-06 14:59] kevprice83 commented on #2191
I would love to see this added as well. Creating routes with tls options is a standard workflow in my team but currently to configure passthrough we have to go and modify the route after that fact. Reverting to `oc` in the meantime makes the process easier until `odo` supports this.

/reopen

[2021-05-07 12:27] prietyc123 commented on #4606
Pod is in initialisation state due to `ImagePullBackOff` and `pull rate limit` is causing this.
[code]

[2021-05-07 12:30] prietyc123 commented on #4606
@kadel @dharmit Could you please share your thoughts on possible solution for https://github.com/openshift/odo/issues/4606#issuecomment-834330866
[code]
Note: This is specifically failing on psi.

[2021-05-07 13:01] #4031 closed

[2021-05-07 16:00] johnmcollier opened #4703 "Archive odo-devfiles/registry"
Corresponding devfile/api issue: https://github.com/devfile/api/issues/391

Now that odo v2.2.0 is now released, and the [registry.devfile.io](https://registry.devfile.io) is now used instead of the [odo-devfiles/registry](https://github.com/odo-devfiles/registry) repository, the [odo-devfiles/registry](https://github.com/odo-devfiles/registry) repository should be archived and marked as read-only

[2021-05-07 19:02] #4285 closed

[2021-05-08 07:02] #4295 closed

[2021-05-08 19:02] #2754 closed

[2021-05-08 19:02] #3122 closed

[2021-05-09 01:02] #3892 closed

[2021-05-10 01:03] #3731 closed

[2021-05-10 07:45] girishramnani commented on #4125
So the idea here is that we need to validate if the current version of api ( currently in odo ) enforces the validation mentioned in https://github.com/devfile/api/issues/201 - if so then we can close this issue or else
the scope of this issue would be upgrade to the latest version of api

[2021-05-10 07:49] girishramnani commented on #4125
so to confirm this I created a nodejs devfile and changed the endpoint to look like this
[code]
which is invalid.

And when I tried to push this devfile it failed

[code]

Now its not the most descriptive of errors but does enforce the validation. Should I consider this to complete the AC of this issue @kadel or we wanna enhance something here?

[2021-05-10 08:38] girishramnani commented on #4125
Confirmed that this should close the issue

[2021-05-10 08:38] #4125 closed

[2021-05-10 08:48] #4621 closed

[2021-05-10 08:57] girishramnani commented on #2618
We have completed all ACs on this epic. Hence closing

[2021-05-10 08:57] #2618 closed

[2021-05-10 08:58] #2613 closed

[2021-05-10 13:00] valaparthvi commented on #4192
@kadel What labels should I take into account? Only the REC ones or all of them?

[2021-05-10 13:25] kadel commented on #4192
all that are set on the resource

You should check how the application created by the developer console is labeled

I was imagining output along those lines

[code]

The "Other components running on the cluster:" is basically list of all Deployments  in a given namespace.
value for `APP` column is from `app.kubernetes.io/part-of`
`NAME` - `app.kubernetes.io/instance`
`TYPE` - `app.kubernetes.io/na

[2021-05-10 14:37] valaparthvi commented on #4192
Yup, I was planning on going with that instead of the one I proposed earlier, this one just seems simpler, easier, and more readable.

Thinking Out Loud -
1. The output you suggested covers components from all the apps.
2. When you say Deployments, do you mean DeploymentConfigs as well?

[2021-05-10 15:13] kadel opened #4710 "Unable to create url on kubernetes (minikube)"
[code]

[code]
[code]
[code]
[code]

/kind bug
/priority high

[2021-05-11 00:48] #3132 closed

[2021-05-11 02:38] csantanapr opened #4711 "odo UX friction log"
/kind bug

So I keep hearing folks telling me to give odo a try, to recommended to enterprise customers I consult and help with their modernization projects.

So after a while, I wanted to give odo 2 another try. And I feel the UX for first-time users is not meeting expectations.
Maybe I have different expectations and odo is intended to be for expert users and not novice users.

I'm more than hap

[2021-05-11 07:44] feloy commented on #4693
`odo unlink` will need to know the name of the ServiceBinding to delete it. Should the user pass the `--name` option again during the `unlink` command, or should `odo` save this name somewhere, so it can reference it when running `unlink`?

Looking at the file .odo/env/env.yaml, I understand the name is already stored there. Is it right?

[2021-05-11 10:28] prietyc123 commented on #4606
`Java-openliberty` devfile images are also failing due docker rate limit issue.
[code]
Seems we are testing more on devfile images rather than odo [here](https://github.com/openshift/odo/blob/main/tests/e2escenarios/e2e_devfile_test.go#L67-L81) , so IMO we can remove the test for the images which use `docker.io` . Note: I am only talking wrt` e2e-devfile-test`

[2021-05-11 11:36] kadel commented on #2191
Why wouldn't this be doable for Kubernetes?

What would be the extra information that needs to be defined in Devfile?

[2021-05-11 12:31] kadel commented on #4208
/priority high

[2021-05-11 12:35] kadel commented on #4693
odo link will store `ServiceBinding` in a devfile (#4208). `odo unlink` should be able to extract the name from there.

But there could be multiple links. You are right `odo unlink` will need `--name`, but only if there are multiple links. If there is only one link odo should be able to get the name from devfile.

[2021-05-11 15:20] johnmcollier commented on #4703
@kadel Thanks Tomas, I've merged your PR.

[2021-05-11 16:56] kadel commented on #4703
repo is archived.

/close

[2021-05-11 16:57] #4703 closed, assigned to kadel

[2021-05-12 07:15] dharmit commented on #4693
Even if a component's linked to multiple components/services, it will have only one link to a particular component/service. A link name is unique and hence doing `odo unlink <service-name>` (which unlinks the component under `pwd` from the `<service-name>`) should unlink the component and the service. I think providing the name of the link won't be required.

[2021-05-12 10:46] kadel commented on #4424
this is still valid

/remove-lifecycle stale
/lifecycle frozen

/priority medium

[2021-05-12 10:55] kadel commented on #4192
That was a mistake.
It should work as it does with odo components.
`odo list` - list components form current project and application (based on the context directory)
`odo list --all-apps`  - list components from all apps, from the current project
`odo list --all-apps --project myproject` - list components form all apps from `myproject` namespace
`odo list --project myproject` - list components fro

[2021-05-12 10:59] boczkowska commented on #4453
The PR for yum installation https://github.com/openshift/openshift-docs/pull/32298

[2021-05-12 13:18] scottkurz opened #4719 "Minikube ingress doc for setting up pull secret mentions 'kube-system' NS but pods in 'ingress-nginx' NS"
/kind documentation

I was hitting the pull rate limit enabling the ingress addon so followed the doc here:
https://odo.dev/docs/installing-and-configuring-minikube-environment/#adding-a-pull-secret-to-ingress-accounts

[code]
This doc is helpful and correct.. except that it refers to the **kube-system** namespace/context.      This had no impact and then I noticed the ingress pods where being cre

[2021-05-12 19:27] #4493 closed

[2021-05-14 09:30] dharmit commented on #2781
Few non-trivial examples that we could try making work with odo:
* https://github.com/Emergency-Response-Demo/findmyrelative-frontend
* https://github.com/GoogleCloudPlatform/microservices-demo

[2021-05-14 11:37] valaparthvi commented on #4462
Rescoping this issue for sprint 201-
- [ ] Merge #4662
- [ ] Add documentation for odo telemetry

[2021-05-14 13:21] kadel commented on #4710
It looks like this was something on my system.
Using the same minikube version and the same k8s version, but the different system and suddenly everything works.
/close

[2021-05-14 13:21] #4710 closed

[2021-05-15 14:05] prietyc123 commented on #4606
Issues found so far are all PSI related but not platform specific. So I think we should change the title of the issue to better define the scope.

[2021-05-15 14:12] prietyc123 commented on #4278
This issue has become blocker for PSI test implementation on platform like windows, macOS and Linux. More details https://github.com/openshift/odo/issues/4606

[2021-05-17 03:45] dharmit commented on #4646
@elizabethlumban the problem is that there are no PVs available to claim in your setup. The `m2-java-maven-uikp` is in `Pending` state since it can't find a Persistent Storage to bind to. All the PVs I see in the `oc get pv` output are already bound to some PVC. You'll have to ask the cluster admin to provide a PV that can be used for your task.

[2021-05-17 06:43] boczkowska commented on #4372
Blocked on the devfile side by https://github.com/devfile/api/issues/312

[2021-05-17 10:31] prietyc123 opened #4726 "go checksum mismatch on minikube"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 32 (running minikube)

**Output of `odo version`:**
main

## How did you run odo exactly?

[code]

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

Minikube job running on psi has this issue https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4722/pull-ci-opens

[2021-05-17 11:54] prietyc123 commented on #4278
Scope of the issue:
- [x] Create free docker account
- [x] Go through doc https://docs.openshift.com/container-platform/4.1/openshift_images/managing_images/using-image-pull-secrets.html
- [ ] Configure secrets for docker credential on PSI cluster
- [ ] Pull secrets and login into account, so that every instance of PSI use that account to download the images from `docker.io`
- [ ] Ensure docker ra

[2021-05-17 12:21] mohammedzee1000 commented on #4330
I am working on this locally. Will post a WIP pr once i have code in respectable shape

[2021-05-17 12:22] prietyc123 commented on #4726
Switching to long running VM https://github.com/openshift/odo/issues/4675#issuecomment-832445271 resolves the issue https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4658/pull-ci-openshift-odo-main-psi-kubernetes-integration-e2e/1394254608859140096

/close

[2021-05-17 12:58] anandrkskd opened #4727 "odo create fails with Access Denied on windows when used with --starter and existing devfile"
/kind bug
/area windows

## What versions of software are you using?

**Operating System:** windows 10

**Output of `odo version`:** master

## How did you run odo exactly?
`$ odo create ahsdlk --project qwerty --starter`

## Actual behavior
### Manually
[code]

## Expected behavior
odo create should pass without any error while having a devfile in current directory in windows

## Any logs, error

[2021-05-17 13:03] prietyc123 commented on #4675
Closing this issue as the acceptance criteria has been met.

/close

[2021-05-17 13:03] #4675 closed

[2021-05-17 13:41] jeffmaury commented on #4429
/remove-lifecycle stale

[2021-05-17 17:05] #4553 closed

[2021-05-17 18:22] girishramnani commented on #4693
@feloy if you are working on this then please assign it to yourself

[2021-05-17 19:51] girishramnani commented on #2785
so I am able to set values in the spec and also store the cr in devfile but I dont think we can go with all string approach
[code]

[2021-05-17 19:58] girishramnani commented on #2785
so it seems there are certain parameters that are required
[code]

but these dont show in description

[code]

We need to re-consider the source of description

[2021-05-17 19:58] girishramnani commented on #2785
operator `strimzi-cluster-operator.v0.23.0/Kafka `

[2021-05-18 07:09] #4319 closed

[2021-05-18 07:17] girishramnani commented on #2785
Or we only allow certain kinds of operators?

[2021-05-18 07:21] prietyc123 opened #4728 "etcd services pods error out due to PodInitialization on 4.8 ocp cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
main

## How did you run odo exactly?

[code]

## Actual behavior

etcd services pods are not initialised.

## Expected behavior

## Any logs, error output, etc?
details: https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-main-v4.8-integration-e

[2021-05-18 07:24] girishramnani commented on #2785
Or I can parse the alm examples and build a hybrid description.
And then use alm examples as the base layer with default in the first iteration?

[2021-05-18 07:40] prietyc123 commented on #4728
I tried debugging it locally but didn't find valid reason of the failure.

My observations so far:

[code]

[2021-05-18 07:44] kadel commented on #2785
if user specifies integer we should use integer.
For example. If user sets `-p spec.kafka.replicas 1` it should be set as an integer. If the user specifies `-p spec.kafka.replicas "1"` it should be set as a string.

[2021-05-18 07:48] kadel commented on #2785
Are there other places where we can get that information?

How would we decide what kind of operators we allow?

How common is it for operators to have alm examples? If I remember correctly most of the operators don't have that.

But I don't think that this is that big of a problem right now. Yes, the user experience won't be great. But it looks like at least we can show users what are the require

[2021-05-18 07:59] girishramnani commented on #2785
I have seen them in many community operators but I am suggesting that we use them when we have them in combination with spec descriptors.

[2021-05-18 08:00] kadel commented on #2785
lets to that in the next iterations as an improvement of this feature.

[2021-05-18 08:01] kadel commented on #2785
This is not really a blocker for the first iteration of this feature. The experience doesn't have to be ideal from the beginning. We can figure out later how to show the required parameters in advance.

[2021-05-18 09:00] prietyc123 commented on #4728
Initcontainer stuck in running state and not getting excited

[code]

[2021-05-18 09:29] mohammedzee1000 commented on #4666
We need this going in before this release so users get ample notice so marking as release blocker

[2021-05-18 14:29] kadel commented on #2785
I just realized that this would require that the whole CR gets validated during `odo service create` .
Can we do that?
Even if we can do that it needs to be "optional" check. As `odo service create needs to work even if user is not connected to the cluster.

[2021-05-19 10:25] rnapoles-rh commented on #4649
Researching how to integrate GitHub and google sheets for tracking defect metrics

[2021-05-19 10:32] rnapoles-rh commented on #4649
Requested creation of Polarion project.

[2021-05-19 10:39] #4690 closed

[2021-05-19 13:02] #4666 closed

[2021-05-19 19:57] gorkem commented on #4444
/remove-lifecycle stale

[2021-05-20 07:08] valaparthvi commented on #4462
/reopen #4662 only fixed a part of this issue.

[2021-05-20 07:09] valaparthvi commented on #4462
/open

[2021-05-20 10:34] mohammedzee1000 opened #4733 "odo delete with wait flag tests are flaky"
/kind flaky-test
/priority High

[2021-05-20 10:35] mohammedzee1000 commented on #4733
First occurrence I saw was in https://github.com/openshift/odo/pull/4732

[2021-05-20 11:21] mohammedzee1000 opened #4734 "Remove [skip ci] from PR template"
[skip ci] is a travis specific label for skipping ci runs there on some PRs. We no longer use travis for CI and therefore no longer have a need for it.
Prow, which we now use entirely, uses regex matching for changed files to know if only docs files were changed which is very different.
We probably should allow ci skip for prs unless it is docs only anyway.

[2021-05-20 13:12] #3986 closed

[2021-05-20 16:34] kadel opened #4737 "port names should match endpoint names"
Assuming that devfile containers have following endpoints
[code]

The k8s Service that gets generated for odo should have matching port names

Current situation:
[code]

/priority high
/kind bug

[2021-05-20 17:02] kadel commented on #3423
each Service generated for odo devfile component should have annotations like this:
[code]

`backend` in this example is name of the odo component. It should match what is already in `app.kubernetes.io/name` label.

than the `odo link` command should create link between frontend and backend component
[code]

The resulting `ServiceBinding` should look like this
[code]

This will expose env variable

[2021-05-20 19:13] #4321 closed

[2021-05-21 07:01] dharmit commented on #4284
I've removed the branch protection rule for `master-backup`.

/close

[2021-05-21 07:01] #4284 closed

[2021-05-21 07:45] #4680 closed

[2021-05-21 09:02] prietyc123 opened #4739 "Apply ocp secrets to every namespace in tests"
/kind user-story
/area testing

## Acceptance Criteria
- [ ] every random project created during test should have access to the secrets

[2021-05-21 09:12] prietyc123 commented on #4278
/close

[2021-05-21 09:12] #4278 closed

[2021-05-21 09:17] anandrkskd commented on #4412
Tests on Windows is failing due to
- https://github.com/openshift/odo/issues/2877 / https://github.com/openshift/odo/issues/3256
   These are flakes, number of flakes was reduced if we are increasing the build timeout.
- https://github.com/openshift/odo/issues/4727

[2021-05-21 09:36] dharmit commented on #4614
Fixed by #4713.

/close

[2021-05-21 09:36] #4614 closed

[2021-05-21 10:12] anandrkskd commented on #4408
Tests on mac is failing due to
- https://github.com/openshift/odo/issues/2877 / https://github.com/openshift/odo/issues/3256
   These are flakes, number of flakes was reduced if we are increasing the build timeout.
- https://github.com/openshift/odo/issues/4727

[2021-05-21 13:58] kadel commented on #4435
/remove-lifecycle stale
/lifecycle frozen
still valid

On Thu, 20 May 2021 at 21:37, OpenShift Bot ***@***.***>
wrote:

[2021-05-22 06:19] girishramnani commented on #2785
But odo service create doesn't work without cluster even before this change and I dont think it can because we need to download the `alm` examples from the cluster. also the CSV from the cluster gets downloaded and validated on `odo service create`

Build on odo main branch
[code]

[2021-05-24 01:14] #3840 closed

[2021-05-24 01:14] #4035 closed

[2021-05-24 05:38] prietyc123 commented on #4606
`odo push` fails due to https://github.com/openshift/odo/issues/2877 and https://github.com/openshift/odo/issues/3256 on PSI.

[2021-05-24 07:40] prietyc123 opened #4741 "Improve tests readability and spec clean up"
We have currently a messy tests spec which pretty hard to analyze multiple test spec description quickly in the same test file because the implementation of the spec happens in the same file. As a user, he or she will be pretty happy to see the test spec description in the very next line. For example
[code]
Advantages:
1. Our test will get an index page like a book having an index
2. Test Readabil

[2021-05-24 08:13] girishramnani commented on #2785
I tried doing this and
`"1"` is actually gets interpolated by bash and the application directly just gets `1`, the only way I was able to send `"1"` is when I did `spec.kafka.replicas '"1"'` and that is not good ux.
So I was thinking if I try to parse these values like in order of
- try to parse as an integer, if that fails then assume string.

And if a user wants to specify an integer that gets s

[2021-05-24 09:44] girishramnani commented on #2785
So the current approach is in two parts
- we do the optimistic type checking mentioned in the comment above but with more types, we will check ( and this is in order )
    - try to parse as integer, if it goes through then we assume it as an integer
    - try to parse as a float and if it goes through the we assume the value as float
    - then everything else becomes string.
    - note - booleans

[2021-05-24 11:11] kadel opened #4745 "every PR should have "kind/*" label"
Configure Prow so merge bot doesn't merge PR if they don't have at least one `kind` label

[2021-05-24 12:02] girishramnani commented on #2785
found something super interesting. we can fetch the openapiv3 schema of a crd without admin mode.

<cluster>/kubernetes/openapi/v2
But its a 15MB file which holds swagger doc for the while cluster

[2021-05-24 12:09] dharmit commented on #4651
@prietyc123 are you interested in picking this one up for Sprint 202?

[2021-05-24 12:13] #4330 closed

[2021-05-24 12:14] girishramnani commented on #2785
this is the whole schema https://gist.github.com/girishramnani/f29949d5cb8c6547102776437e05ac19

[2021-05-24 13:14] dharmit commented on #4645
Closing since we have 2.2 out.

/close

[2021-05-24 13:14] dharmit commented on #4644
Closing since we have 2.2 out.

/close

[2021-05-24 13:14] #4645 closed

[2021-05-24 13:14] #4644 closed

[2021-05-24 13:15] dharmit commented on #4643
@prietyc123 do we still want to keep this one arond ?

[2021-05-25 05:43] prietyc123 commented on #3256
Constant failure on PSI
[code]

[2021-05-25 08:25] kadel opened #4747 "fix RPMDiff issues"
There are two RPMDiff tests that are currently failing and need to be weived each release

https://bugzilla.redhat.com/show_bug.cgi?id=1901853
[code]

[code]

[2021-05-25 09:59] mik-dass commented on #4737
The service port naming is done here https://github.com/devfile/library/blob/5d88bd3c1220097161ef07d78c9fe7605be24ab7/pkg/devfile/generator/utils.go#L229.

[2021-05-25 10:36] valaparthvi commented on #4728
tldr; It seems like a problem with the init container image i.e. busybox:1.28.0-glibc, which goes on a CrashLoopBackoff.

Steps that were taken to reproduce this -
1. Get a OCP4 cluster and install etcd operator in it.
2. Create a component - `odo create nodejs --starter`
3. Create a service for the component - `odo service create etcdoperator.v0.9.4-clusterwide/EtcdCluster`
4. Run `kubectl get po

[2021-05-25 11:34] feloy commented on #4733
I understand from this doc [1] that the dependent resources must have `ownerReference.blockOwnerDeletion=true` if we want to wait for the deletion of the dependent resource when deleting the parent with `propagationPolicy=Foreground`

I tried to update `odo` to add this field `ownerReference.blockOwnerDeletion=true` to the service, but an error occurs:

[code]

[1] https://kubernetes.io/docs/conce

[2021-05-25 12:08] kadel commented on #4737
We should coordinate with the Devfiles team to change this.

[2021-05-25 12:13] mik-dass commented on #4737
Currently we allow multiple URLs on the same port, but k8s doesn't allow services to have two ports with the same port number and protocol combination.

[2021-05-25 13:52] prietyc123 commented on #3256
Debugging more via pr https://github.com/openshift/odo/pull/4748

[2021-05-25 15:23] yangcao77 opened #4750 "linked service cannot be deleted"
/kind bug

## What versions of software are you using?

**Operating System:**
macos + minikube

**Output of `odo version`:**
[code]

## How did you run odo exactly?
[code]

## Actual behavior
the linked service persists, even the component has been deleted on cluster

## Expected behavior
the linked service should be removed from cluster

## Any logs, error output, etc?
[code]

[2021-05-25 15:25] yangcao77 commented on #4750
/area linking

[2021-05-26 04:29] prietyc123 commented on #4741
Test needs to be refactored:
S2i Integration Test:
- [x] test-cmd-project
- [ ] test-cmd-app
- [ ] test-cmd-cmp
- [ ] test-cmd-cmp-sub
- [ ] test-cmd-pref-config
- [ ] test-cmd-push
- [ ] test-plugin-handler
- [ ] test-cmd-service
- [ ] test-cmd-link-unlink-311-cluster
- [ ] test-cmd-link-unlink-4-cluster
- [ ] test-cmd-login-logout
- [ ] test-generic
- [ ] test-cmd-storage
- [ ] test-cmd-url
- [