[2018-01-29 09:29] containscafeine opened #1 "Use `oc` binary instead client-go for initial implementation"

[2018-01-29 09:29] containscafeine opened #2 "Set up basic project and cobra CLI structure"
- [x] Use github.com/golang/dep as our dependency management tool (assigned to @surajnarwade)
- [x] Set up Travis (assigned to @kadel)
- [x] Set up coverage, travis, godoc badges (assigned to @kadel)
- [x]  Set up bintray for building binaries (assigned to @kadel)

[2018-01-29 09:30] containscafeine opened #3 "Set up basic oc plugin structure for the project"
https://docs.openshift.com/container-platform/3.7/cli_reference/extend_cli.html

[2018-01-29 09:38] containscafeine opened #4 "Build a functional e2e tests framework for the project"
ping @ashetty1 @kadel

We could use something like -
[code]

[2018-01-29 09:40] containscafeine opened #5 "Use github.com/golang/dep as our dependency management tool"

[2018-01-29 09:42] containscafeine commented on #5
Dup of #2

[2018-01-29 09:42] #5 closed

[2018-01-29 09:49] containscafeine commented on #1
Dup of #2

[2018-01-29 09:49] #1 closed

[2018-01-30 12:35] containscafeine opened #8 "Build a `oc` wrapper library of sorts"
We need to build a wrapper around the `oc` commands that we will frequently use instead of always execing to `oc`.
Ideal case would be to use https://github.com/openshift/client-go, but AFAIK it does have support for all the `oc` commands, so till happens, we will need a wrapper which we can easily replace later on.

This could very well be a different package or even a project outside which we si

[2018-01-30 16:29] #3 closed

[2018-01-30 17:50] kadel opened #12 "implement `application create`"
Because there is nothing that can represent the application in openshift we need to create something.

First we should figure out where we will keep application metadata and also context of active application.

It can be either client side (in config files in directory like `~/.ocdev/<application_name>`).

Or it could be in cluster using [CRD](https://docs.openshift.org/latest/admin_guide/custom_r

[2018-01-31 12:48] containscafeine commented on #12
@kadel for now, how about we attach a label like `ocdev.apps.openshift.com/v1beta1: application name` to every resource that we generate and then query it.
Once the proposal is merged upstream, then we can use it, WDYT?

[2018-01-31 12:58] kadel commented on #12
One downside of using labels is that you can't create an empty application, but I guess that that is OK.

You are right using labels might be easier.

[2018-01-31 12:59] kadel commented on #12
btw, ocdev will require some kind of local configuration anyway. We need to keep track about active context ( what application and component is active)

[2018-01-31 13:01] kadel commented on #12
lets make that label a bit shorter ;-)
how about `app.developers.redhat.com`
project is currently under `redhat-developer` so it might make sense to use `developers.redhat.com` as a suffix.

[2018-01-31 13:13] kadel opened #14 "implement `component create`"
`component create <component_type> [component_name] [--app app_name]  [--binary binary_path] [--git git_url] [--dir directory]`

`component_type` is a type of the application such as php, nodejs, python etc…., or it can be mongodb, mariadb etc…
`component_name` - is an optional parameter, its value defaults to the component_type value,
Component is created in context of current application by defa

[2018-01-31 13:15] kadel commented on #12
creating new application will be no-op (no communication with cluster) we just need to make note somewhere in local file what is name of active application

[2018-01-31 13:28] containscafeine opened #15 "How to store local ocdev specific data"
We can use `~/.kube/ocdevconfig` to store the data that we want like current component, current application info there

[2018-01-31 16:18] kadel commented on #8
can we close this, or do you want to keep it open?

[2018-01-31 16:19] kadel commented on #15
related to #12

[2018-01-31 16:19] #2 closed

[2018-02-02 10:09] #8 closed

[2018-02-02 12:26] kadel opened #23 "implement `application get`"
`app get [--short]`

`app get`
Display message: "You are currently working on the XYZ application"

`app get --short`
display just application name nothing else

(use-case 7)

[2018-02-02 12:28] kadel commented on #15
#21 is merged, can we close this?

[2018-02-02 12:29] kadel commented on #12
#20 is merged, can we close this?

[2018-02-03 08:40] #15 closed

[2018-02-05 04:36] #12 closed

[2018-02-05 04:55] containscafeine opened #24 "`ocdev application` story"
So, right now we have `ocdev application create` which creates a new application and binds it to the current project.
We should have the following behavior as well -
`ocdev application ___`

- [x] `<name>` - sets the given application as the current application #128
- [x] `list` - lists all the applications
- [x] `get` - gets the currently active application #23
- [x] `delete` - deletes the given

[2018-02-05 05:02] containscafeine opened #25 "add license headers to every file in the project"
we should automate this somehow, low priority though

[2018-02-05 05:43] containscafeine opened #26 "Auto generate documentation"
Since `ocdev` is a very CLI centric tool, it'd be great if we could somehow generate entire CLI documentation and push it on every merge. This takes away the task of manually writing docs, all we will need to do is to put in good descriptions and usages in every command we have with cobra, and we can generate the docs using that.

Cobra lets us generate markdown, man pages, etc, so we could levera

[2018-02-05 06:16] containscafeine commented on #26
I could not find a flat way to implement this such all the command and nested get printed.
Maybe if we need this, we might have to implement this ourself.
We can use something like -
[code]
and from the YAML that we get, we can pretty print a flat structure.

[2018-02-05 08:19] kadel commented on #24
I'm not sure about this, shouldn't this maybe `set <name>`?

[2018-02-05 08:32] containscafeine opened #28 "ocdev application create should also set the application to current application"

[2018-02-05 09:35] kadel opened #29 "implement ocd push"
`push [component_name] [--app app_name] [--dir directory]`

Push content to component
If compoenent_name is not set it uses current component
If app_name is not specified uses current application
use dir as `--from-dir` for `oc start-build`

if `--dir` is not set use current directory (`.`)

[2018-02-05 19:01] kadel commented on #28
fixed in #30

[2018-02-06 05:58] containscafeine opened #35 "implement catalog search"
We can use queries like `oc new-app --search --image-stream=httpd` to implement `ocdev component search <component name> `

[2018-02-06 06:00] containscafeine opened #36 "implement `ocdev catalog list`"

[2018-02-06 06:17] containscafeine commented on #35
or `ocdev component type search`

[2018-02-06 07:42] #28 closed

[2018-02-06 07:46] #14 closed

[2018-02-06 07:46] #23 closed

[2018-02-06 07:51] containscafeine opened #38 "unify logging and printing"

[2018-02-06 07:52] containscafeine opened #39 "change cobra cmd variable names"

[2018-02-06 07:53] containscafeine opened #40 "research and implement `ocd storage add`"

[2018-02-06 07:53] containscafeine opened #41 "add docs"

[2018-02-06 07:55] kadel commented on #35
this should be `ocdev catalog search` as per use-case 9

[2018-02-06 07:56] containscafeine commented on #41
installation and example

[2018-02-06 08:00] kadel commented on #36
the same as in #35 this should be  `ocdev catalog`

[2018-02-07 07:01] containscafeine opened #50 "Deleting a component should unset it as well, if set"
[code]

[2018-02-07 07:04] containscafeine opened #51 "Deleting a non existent component should return error"
[code]

[2018-02-07 08:21] containscafeine opened #52 "component create should fail before if directory does not exist"
[code]

[2018-02-07 08:23] containscafeine opened #53 "implement ocdev component list to list all components"

[2018-02-07 15:29] containscafeine opened #56 "ocdev component create output is too verbose for the end user"

[2018-02-07 15:33] containscafeine opened #57 "fix broken build as side effect of `ocdev component create --dir`"
`ocdev component create nodejs --dir=...` or any other component with `--dir` will return a build that fails and another one that passes. This is how the code has been implemented because we first need to run `oc new-app nodejs~temp-dir` and that directory has no code. This means that the first build will fail. And then we run the second build using `oc start-build --from-dir`.
This is done becaus

[2018-02-09 14:17] containscafeine commented on #40
fixed in #59

[2018-02-09 14:17] containscafeine commented on #29
fixed in #58

[2018-02-09 14:17] #29 closed

[2018-02-09 14:17] containscafeine commented on #41
fixed in #27

[2018-02-09 14:17] #41 closed

[2018-02-09 14:18] #40 closed

[2018-02-09 14:18] containscafeine commented on #38
done

[2018-02-09 14:18] #38 closed

[2018-02-09 14:20] containscafeine commented on #26
This has been implemented to some extent in #27
Now we need to add a travis check that if some PR is modifying the CLI structure, then README.md needs to be updated with the newer structure.
We need to get the CLI Structure section from README.md and parse it in a script

[2018-02-12 10:34] containscafeine opened #63 "auto detect component language and use builder image accordingly"

[2018-02-12 11:17] containscafeine opened #65 "implement `ocdev url` to create routes"
This is needed quite a lot right now, since demoing the tool to someone should not require running any oc commands but right now we need to do an `ocdev expose service <service name>`

[2018-02-12 11:19] containscafeine opened #66 "`ocdev component push` should push contents of current directory, but it fails"
[code]

[2018-02-12 11:44] containscafeine commented on #66
fixed in #67

[2018-02-12 11:44] #66 closed

[2018-02-12 14:40] kadel commented on #53
the output should also mark what is the active component

[code]

[2018-02-12 14:59] kadel commented on #51
I'm actually not sure if this should be error or not :-(

[2018-02-12 15:00] kadel commented on #39
@containscafeine change how?

[2018-02-12 15:05] kadel opened #68 "allow switching active application and component"
`ocdev application <name>` -  change active aplication to `<name>` application

`ocdev component <name>` - change active component to `<name>`

[2018-02-13 07:05] kadel opened #69 "create homebrew package"

[2018-02-13 09:23] slemeur opened #70 "Simple `ocdev` installation/update/uninstallation"
### Goal
The goal of this epic is to provide a simple installation flow for `ocdev` as well as update and uninstallation.
While the installation might not be difficult, we should make it really simple so the users could (ideally) install `ocdev` with a single instruction line.

### Description
#### Getting Started
We need to think about the getting started experience of the end-user with `ocdev` a

[2018-02-13 10:10] pradeepto commented on #70
@slemeur Other than homebrew what else do we want? As in for other platforms?

[2018-02-13 10:20] kadel opened #71 "show warning when user is running older ocdev version"
something like:

A newer version of ocdev is available. Either update with your package manager, or run `curl <...> | sh` to update manually.

[2018-02-13 10:22] containscafeine opened #72 "Make ocdev version also get OpenShift version"
When we run `ocdev version`, it should also get the version of OpenShift client and server.
Will help in troubleshooting and determining if it's being used with the compatible versions or not.

[2018-02-13 10:53] kadel opened #73 "first release 0.1"
release first version

[2018-02-13 10:55] kadel commented on #69
https://github.com/redhat-developer/ocdev/issues/73 is prerequisite

[2018-02-13 10:55] kadel commented on #71
https://github.com/redhat-developer/ocdev/issues/73 is prerequisite

[2018-02-13 10:56] containscafeine opened #74 "Create installation bash script"
We should have bash script that takes care of installing ocdev in your $PATH. It also determines if `oc` binary is present or not, and installs it if absent.

[2018-02-13 10:58] kadel commented on #74
context from #70:

We need to think about the getting started experience of the end-user with ocdev and try to provide the best first experience. This implies a certain requirements on how the user can install ocdev as well as a flow in the documentation to help the user to quickly ramp up.

The installation of ocdev is requiring some pre-requisites that we need to document.

Once those pre-requis

[2018-02-13 10:58] kadel commented on #74
the script should also handle uninstallation / cleaning

[2018-02-13 10:59] containscafeine commented on #74
From #70
We need to provide a way for the developer to properly uninstall ocdev.
If ocdev was installed with homebrew, we can have an uninstall command.
We should provide proper set of instructions to delete on Linux and Windows too.

[2018-02-13 10:59] kadel opened #75 "add proper documentation"
Documentation
We should be providing documentation for installing ocdev to cover:

- [x] Pre-requisities
- [x] Download and Installing: MacOS, Windows, Linux
- [ ] Verify your installation
- [x] Getting started - @containscafeine
- [ ] Update ocdevcli
- [ ] Troubleshooting
- [ ] Uninstallation

parent issue: #70

[2018-02-13 11:17] slemeur commented on #70
You mentioned https://chocolatey.org/ for Windows. That could be nice.

[2018-02-13 11:33] slemeur opened #76 "Interactive mode"
### Goals
Interactive mode for `ocdev` would be particularly interesting. When a developer is new to the CLI, he does not necessarily know what are the different commands and options.
The interactive mode would help and guide the user to provide the right commands and options.

### Enable/Disable options
The interactive mode for `ocdev` should be unactivable.
We should enable the interactive mode

[2018-02-13 11:37] slemeur opened #77 "Add component/application/service autocompletion"
### Description
When using the commands pointing to a particular component or application, like `ocdev application delete <application_name>`, it would be handy to provide autocompletion.
This way the developer can:
- get the list of all applications / components, in case he does not have them in mind
- fasten the interaction with the commands

[2018-02-13 12:18] ashetty1 opened #78 "exit with an error message when `oc` isn't running"
When `oc cluster` isn't running, we should display a proper error message that the cluster isn't up and running;

[code]

[2018-02-13 15:07] apupier opened #79 "Copyright contains "NAME HERE <EMAIL ADDRESS>" instead of the real value"
for instance
https://github.com/redhat-developer/ocdev/blob/00a364e44c12868f0fc27568f8e4b63b6a76a347/cmd/application.go#L1
https://github.com/redhat-developer/ocdev/blob/00a364e44c12868f0fc27568f8e4b63b6a76a347/cmd/completion.go#L1

[2018-02-13 15:47] jorgemoralespou opened #81 "Add timeout flag to the commands"
As the tool is relying under the hood on "oc" it should be possible to set "--timeout".

[2018-02-13 15:49] jorgemoralespou opened #82 "Verify the cluster that you're trying to work with is up"
As the tool relies on "oc" command, it can happen that a developer uses "ocdev" with a context selected in .kube/config of a cluster not accesible. A check should be made, or this error should be properly captured and reported.

[code]

[2018-02-13 15:55] jorgemoralespou opened #83 "An application should not map to a project"
Looking at the output and source code, it looks like an application is mapped to a project.

[code]

As can be inferred from "Use case 14: As a developer, I want to list all applications in my project" an OpenShift project can have multiple applications.

[2018-02-13 16:03] jorgemoralespou opened #84 ""ocdev application get" fails when current_context don't have a namespace"
If there's no project selected, which can happen if the entry in .kube/config for the context defined by the current_context is empty, there's an error:

[code]

[2018-02-13 16:14] jorgemoralespou opened #85 "Labels for app and component should be the standard"
When creating applications on OpenShift/K8S, there's currently one label that is standard "app" and that the OpenSHift UI uses to group components that belong to the same application. OpenShift/K8S are trying to standardize on other labels, (e.g. component), and this should be used, so that the application is properly visualized, and in the future, managed with other tools.

I have created an appl

[2018-02-13 16:20] sspeiche commented on #85
+1 to standardizing

There already exists "app", so no reason to add app.ocdev.... .

Labeling (both core OpenShift and ocdev) should align with the sig-apps proposal as well.

[2018-02-13 16:21] jorgemoralespou opened #86 "There is no command "ocdev push" but "ocdev component push""
"Use case 24: As a developer, I want to be able to push local directory contents or a binary artifact." defines that:

"As a developer, I want to be able to push local directory contents or an artifact, if I have built a binary artifact that can be directly pushed. The push commands will default to push contents of the local directory, but with a flag the behaviour changes to push a binary artifac

[2018-02-13 17:38] kadel commented on #83
mapping applications to project is a temporary simplification because we didn't wont to get blocked on this at the beginning.

[2018-02-14 09:14] praveenkumar opened #88 "component create fails in case of no directory provide"
looks like it needs to handle the error properly and check required flags argument in place before calling `oc` binary under the hood. The current error message is not intuitive for any new users.

[code]

[2018-02-14 13:41] kadel commented on #73
https://github.com/redhat-developer/ocdev/releases/tag/v0.0.1

[2018-02-14 14:03] kadel commented on #69
homebrew-core is not accepting packages for project that are too new :-(
[Acceptable-Formulae](
https://github.com/Homebrew/brew/blob/master/docs/Acceptable-Formulae.md#niche-or-self-submitted-stuff)

[code]

I've created new Tap

https://github.com/kadel/homebrew-ocdev

now ocdev can be installed like this:
[code]

I'm not going to update docs with this, as we should find the right place for our

[2018-02-14 14:03] kadel commented on #69
what do you think @slemeur ?

[2018-02-15 10:19] kadel commented on #69
most recent version (build from master) can be installed via
[code]

[2018-02-15 11:15] kadel commented on #75
Pre-requisites and Installation docs in https://github.com/redhat-developer/ocdev/pull/93

[2018-02-15 16:00] kadel commented on #85
yep, we will fix app label.

But is it ok to use `app` for internal operations that `ocdev` does? Like listing and deleting objects.
If we do those operations according to app label, then we could easily delete something that we didn't created

[2018-02-15 16:15] sspeiche commented on #85
I think app is fine for now, that is what we are using in OpenShift web
console. If there is something we should switch to, we'd coordinate.

[2018-02-15 21:51] slemeur commented on #69
Sounds good for me @kadel.
Thanks

[2018-02-16 09:39] kadel opened #96 "add project commads"
`ocdev project create <project_name>`
`ocdev project set <project_name>`
`ocdev project`

project maps to normal openshift project

[2018-02-16 09:48] containscafeine commented on #73
:tada:

[2018-02-16 13:00] containscafeine commented on #4
We could use something like https://github.com/DATA-DOG/godog for this.
The minishift folks use this too.
This is how their tests look for e.g.
[code]
from - https://github.com/minishift/minishift/blob/master/test/integration/features/basic.feature

[2018-02-16 13:07] containscafeine commented on #4
Another option is ginkgo - https://onsi.github.io/ginkgo/

[2018-02-16 13:19] containscafeine commented on #57
Take into account the discussion happened at https://github.com/openshift/origin/issues/18571

[2018-02-16 13:22] containscafeine opened #98 "Switch to `openshift/client-go` at some point"
Also consider discussions at https://github.com/openshift/client-go/issues/25

[2018-02-16 13:34] containscafeine commented on #82
note to self: we can fix this by trying connecting to server from `oc whoami --show-server` and proceed with the result.

[2018-02-16 15:39] containscafeine commented on #78
needs to build on top of #99

[2018-02-17 19:57] LalatenduMohanty opened #100 "Git log looks cluttered"
The git log contains git commits for all merges which makes it not developer friendly. Specially when we want to back track some commits.  The merge commit are important when there are many committers and we want to keep a track of who committed the code. But it makes the commit history bad to read.

To merge without the *merge commit* only rebase and merge (when using CLI) and using github UI, us

[2018-02-18 08:56] LalatenduMohanty opened #101 "Improve the code layout of ocdev"
In the current layout we have the `main.go` in the root directory, which IMO is a bad choice.
There are few reasons behind it.
* From long term point of view it is better to keep main.go in the cmd code.
* It allows to have add more code to create another binary i.e. you can add another directory under `ocdev/cmd/` which can use the same packages but Makefile can be modified to create a new binary

[2018-02-18 09:04] LalatenduMohanty opened #102 "Add clean target to Makefile"
While trying the code I noticed there are no `make clean` defined in the Makefile. The clean target should clean the vendor directory, compiled binary etc, so that the next `make` would get the dependencies again. This will help to find out if the `Gopkg.lock` would need change.

[2018-02-18 09:09] LalatenduMohanty opened #103 "Ocdev version should be part of Makefile"
As a best practice you do not want to keep the version information in the code because you do not want to touch the code if it is actually not a code change. In long run it helps as git commits related to version change will be only in the Makefile. It also looks clean IMO. Usually contributors find it easy to just change the Makefile vs changing the version.go.

[2018-02-18 16:14] LalatenduMohanty commented on #101
@containscafeine @kadel I have the patch ready(almost) for this. Let me know what you feel about it. Then I can send the PR for it.

[2018-02-19 06:06] kadel commented on #98
Will also need parts of `oc` client code. For example `oc new-app` logic is only on client side inside `oc` command itself and not in `client-go`

[2018-02-19 06:13] kadel commented on #100
I think that this is more of personal preference.

I personally don't mind merge commits.

[2018-02-19 06:22] kadel commented on #101
Yep, we can change it to this structure.

A small downside for this is that to "go get" this. it will look like this `go get github.com/redhat-developer/ocdev/cmd/ocdev`. But "go get" is not preferred way to install this anyway, so I'm OK with new structure.

[2018-02-19 06:41] kadel commented on #103
For me, one big downside for keeping it in Makefile is that it is easy to get confused what version you have. If someone builds it with just `go build` then they don't get the right version output. And the same thing for `go install` and `go build`.

I don't mind moving it to Makefile, I just want to make sure that we are also aware of the downsides.

[2018-02-19 09:15] kadel opened #104 "When creating application check if is not already existing"
from #94

1. When I create the same application twice, I'm not getting an error.
[code]

[2018-02-19 09:18] kadel opened #105 "Allow to create multiple empty applications"
this was brought up in #94

2. `ocdev application list` does not display all the applications.
[code]

[2018-02-19 11:13] #85 closed

[2018-02-19 11:20] LalatenduMohanty commented on #100
@kadel In my experience  it makes a lot of difference. From a clean code point of view why do you want to have extra commits if does not have any real value?

[2018-02-19 11:30] kadel commented on #100
I really like the fact that for every commit I'm able to find from which PR it came.
Isn't this going to be lost if we start doing rebase?

[2018-02-19 12:06] LalatenduMohanty commented on #100
@kadel I think keeping a track of discussions related to an issue for a corresponding PR is very relevant.  Because issues are more persistent than PR(PRs can be created an closed). You want to have issue for each PR (and mention it in the commit message), so that things (that matter) can be discussed first in the issue and then PR gets created. So it is really easy to find out the issue number an

[2018-02-19 18:05] cmoulliard opened #112 "Document how to specify the path of the oc client"
As `ocdev` relies on the openshift `oc` client [1] for standard commands (oc new-project, ....), then we should document how set the path to let `ocdev` to use it

[1] https://goo.gl/48zDBc

[2018-02-19 18:10] cmoulliard commented on #112
Done since last commit - https://github.com/redhat-developer/ocdev#pre-requisites

[2018-02-19 18:10] #112 closed

[2018-02-20 01:56] jorgemoralespou commented on #96
Why replicate this command? ocdev is supposed to work in the context of a project, and oc can be used to call the project. I would not target MVP for this.

[2018-02-20 03:43] ashetty1 opened #113 "Evolve a json/yaml for describing test scenarios"
Tests for `ocdev` should be described in json/yaml which would make it easy for maintainability and scalability purposes.

A test scenario description could look something like this:

[code]

[2018-02-20 06:25] kadel commented on #96
OK, we will skip that for now.
I was just looking at use case 23 where are commands like this.

[2018-02-20 07:25] containscafeine commented on #113
@ashetty1 @kadel since our last discussions, I've put some thoughts at #4, let's also evaluate those and see what suits best. Let's continue this there.
Closing as a dup of #4

[2018-02-20 07:25] #113 closed

[2018-02-20 08:25] cmoulliard opened #115 "Applications aren't created using Openshift origin 3.7.1 and lastest version of ocdev"
Infos

[code]

Scenario executed in a terminal on MacOs X machine

[code]

But no projects/applications are showed

[code]

[2018-02-20 10:16] containscafeine commented on #115
@cmoulliard this is being worked on in #105, we had to lose this temporarily when we decouple from OpenShift projects, we should have a fix soon.

[2018-02-20 10:42] kadel commented on #83
closed in #94
there are still some issues with it, separate issues were created to address those #105 #104

[2018-02-20 10:43] #83 closed

[2018-02-20 10:45] kadel commented on #69
installation is described in README #93

[2018-02-20 10:45] #69 closed

[2018-02-21 07:10] containscafeine opened #116 "Change bintray endpoints to x86_64 from amd64"
This will help us writing the installation script, since `uname -m` returns x86_64 instead of amd64
@kadel can you help with this?

[2018-02-21 08:17] ashetty1 commented on #104
Need this fixed for e2e tests

[2018-02-21 11:20] containscafeine opened #118 "Move project under OpenShift"
It was suggested a couple of times that this project be moved under the github.com/openshift/ GH org, so this issue tracks the status of that!

[2018-02-21 12:15] kadel commented on #118
I've already send email about that.

[2018-02-21 12:18] kadel commented on #116
go compiler uses `amd64` so you will have to do some kind of mapping.
This will only move this mapping from installation script to Makefile. but it will be still required.
Plus amd64 is now used in multiple places (see Makefile, and scripts in ./scripts)

[2018-02-22 08:32] kadel opened #122 "Improve update checker"
Current implementation noticeably slows ocdev execution even on a really fast internet connection.

We definitely should have an option to disable this check permanently. We could have something like ocdev config set checkForUpdates false and use config file to persist configuration.

We could also perform check only once a day (use config file to persist when check occurred last time)
we can do t

[2018-02-23 14:07] kadel opened #124 "improve installation script install.sh"
It would be good to add parameters to control what gets installed and how.

- choosing what version to install (master vs latest release) via command line argument
- choosing installation method, it should be possible to just copy ocdev to /usr/local/bin (no dist detection no packages)

for example something like this:
[code]

default behaviour without arguments would be what install.sh does right

[2018-02-26 08:44] kadel opened #125 "ugly error if user is not not logged in to OpenShift cluster"
[code]

this should be caught by some pre-flight check and nice error message should be shown

[2018-02-26 09:17] #105 closed

[2018-02-26 09:43] containscafeine commented on #116
I'm fine with keeping it

[2018-02-26 09:43] #116 closed

[2018-02-26 09:49] containscafeine commented on #75
I'm getting started with the getting started doc :P

[2018-02-26 09:50] kadel commented on #115
This got fixed in https://github.com/redhat-developer/ocdev/pull/121

[2018-02-26 09:50] #115 closed

[2018-02-26 10:39] kadel commented on #74
closed in #117

future improvements described in #124

[2018-02-26 10:39] #74 closed

[2018-02-26 11:10] kadel commented on #104
Are tests blocked by this?
Why is that?

[2018-02-26 11:39] kadel opened #127 "`component.SetCurrent(name string)` should error out if setting to component that doesn't exist"
`component.SetCurrent(name string)` should error out if setting to component that doesn't exis

Currently, it is not erroring out because `component.List()` is not yet implemented (#53).
When we add it, it should be used in `component.SetCurrent(name string)` to verify that component that is requested to be set as current actually exists.

[2018-02-26 13:58] containscafeine commented on #122
Update: @baijum gave some nice pointers on how to solve this in https://gist.github.com/baijum/036a79ec2e85279af596d0a2a3e0e13e, continuing work.

[2018-02-28 09:41] ashetty1 commented on #127
The issue below because of this, I assume.

[code]

[2018-02-28 10:01] kadel commented on #122
reopening

Let's close this after we implement option to completely disable checking for updates

[2018-02-28 10:05] kadel commented on #122
we could implement configuration subcommand similar to `minikube`:
[code]

[2018-02-28 10:08] kadel commented on #127
@ashetty1 not really,
what you are describing is a different issue (#50), that should be fixed once https://github.com/redhat-developer/ocdev/pull/126 is merged

[2018-02-28 12:33] #71 closed

[2018-03-01 09:05] ashetty1 opened #134 "race condtion while running ocdev"
Se this error intermittently while running ocdev operations:

[code]

[2018-03-01 09:53] kadel commented on #82
https://github.com/redhat-developer/ocdev/issues/125

[2018-03-01 09:54] containscafeine commented on #82
Closed in #99

[2018-03-01 09:54] #82 closed

[2018-03-01 10:01] #134 closed

[2018-03-01 10:02] #39 closed

[2018-03-01 10:02] kadel commented on #79
fixed in https://github.com/redhat-developer/ocdev/pull/131

[2018-03-01 10:02] #79 closed

[2018-03-01 16:12] kadel opened #137 "`ocdev component push` - component name is not passed correctly to oc command"
[code]

build name is missing from oc command

[2018-03-02 08:11] kadel opened #139 "add better help messages for flags and commands"
We have been neglecting help messages and examples in for command line flags and arguments.

for example `ocdev component  create -h` doesn't show that there are some positional arguemnts
[code]

It would be great if we could follow http://docopt.org/ convention for describing optional and required arguments

[2018-03-02 12:15] kadel commented on #25
can we close this?

[2018-03-02 14:33] containscafeine opened #142 "`ocdev application list` does not show application, but `get` does`"
[code]

[2018-03-02 14:37] #50 closed

[2018-03-02 15:12] kadel commented on #142
Yeh, this is kind of tricky :-(

We need to define what is the right behavior if there is no application.
So the list is listing existing applications, and it is empty because there is no app.

'get' is showing 'app' because by definition if there is no application the default application should be used, and default application is called 'app'

[2018-03-02 15:24] #137 closed

[2018-03-05 05:52] containscafeine commented on #142
@kadel this is why we should separate the setting default logic from GetCurrent() :)

[2018-03-05 05:53] containscafeine commented on #25
yeah, since we're removed licence headers from all the files in #131

[2018-03-05 05:53] #25 closed

[2018-03-05 06:17] containscafeine opened #143 "`ocdev component set` should fail when the target component does not exist"
[code]

blocked on #53

[2018-03-05 06:38] containscafeine commented on #78
@ashetty1 can you confirm this is fixed? I am getting the following output now -
[code]

[2018-03-05 06:39] containscafeine commented on #78
Should have been fixed in #99

[2018-03-05 06:44] containscafeine commented on #125
@kadel can you confirm this was fixed in #99?

[2018-03-05 08:16] ashetty1 commented on #78
Yes, fixed now :)

[2018-03-05 08:16] #78 closed

[2018-03-05 10:03] kadel commented on #142
That is not about that. It is easy to do it. Question is what is the right way to present it!

[2018-03-05 10:08] kadel commented on #125
no it wasn't. I've opened this after #99 was merged.

You get this error, when OpenShift is running, your `oc` credentials expired.

[2018-03-05 10:14] #68 closed

[2018-03-05 11:28] #86 closed

[2018-03-05 11:30] kadel opened #145 "Add installation instruction for windows"
Currently, we are completely missing installation instructions for windows.

We need to add it.

[2018-03-05 11:32] jorgemoralespou opened #146 "UC 1: As a developer, I want to create applications using a command line tool"
As a developer, I want to be able to use a command line tool for my operating system of choice to build/deploy my application (or source code) on OpenShift.
This CLI will understand the concept of an “application”.

__*NOTE:*__ Technical requirement

[2018-03-05 11:32] jorgemoralespou opened #147 "UC 2: As a developer, I want to have a command line tool that is easy and intuitive"
As a developer, I want a CLI that is intuitive and easy to understand.

__*NOTE:*__ Technical requirement

[2018-03-05 11:33] jorgemoralespou opened #148 "UC 3: As a developer, I want to not be forced to learn OpenShift / Kubernetes language (resources) and commands"
As a developer, I want to be able to use non openshift/kubernetes specific language(resources)/commands.

- A user should not need to know what is a pod, a Deployment, DeploymentConfig, Service, PersistenVolumeClaim, … to use this tool.
- A user should not need to know how “oc” or “kubectl” works. As a user of this CLI, I’d be working on an “existing OpenShift project” and only care about what I c

[2018-03-05 11:34] jorgemoralespou opened #149 "UC 4: As a developer, I want to use common terms - application, component, storage, configuration, URL, etc"
As a developer, I want to be able to use a language/commands that I can easily understand using the terms I am most often familiar with. Examples may include things such as:  application, component, storage, configuration, URL, etc.

__*NOTE:*__ Technical requirement

[2018-03-05 11:35] jorgemoralespou opened #150 "UC 5: As a developer, I want to work in an iterative way - create app; then add, update, delete stuff in cycles"
As a developer, I want to be able to develop my application/components in an iterative way. This often means a flow of creating an app, adding “stuff” to my application, modifying “stuff” in my application, deleting “stuff” from my application.

[code]

[2018-03-05 11:37] jorgemoralespou opened #151 "UC 6: As a developer, I want to do all my interactions in a context of “current application”"
As a developer, I want to do all my interactions in a context of “current application”

As a developer using the command line tool, I want all of my interactions on the command line to be done in the context of the current application that I am working on/with.If no application exists, a default application will be created.

[code]

[2018-03-05 11:38] jorgemoralespou opened #152 "UC 7: As a developer, I want to be able to get the context of my application"
As a developer using the command line tool, I want to be able to get the context of the application I’m in.

[code]

__*NOTE:*__ The context can be inserted in a PS1 if the developer wants to customize it

[2018-03-05 11:39] jorgemoralespou opened #153 "UC 8: As a developer, I want to list components (DB, datagrid, storage, …) in my application"
As a developer, I want to be able to list all components that my application (database, datagrid, storage, etc.) has.

[code]

Tasks:

- [x]  [ocd list should list components in current application](https://github.com/redhat-developer/ocdev/issues/191)

- [x] [ocd list should list components in the provided application](https://github.com/redhat-developer/ocdev/issues/192)

- [ ] [ocd list should

[2018-03-05 11:40] jorgemoralespou opened #154 "UC 9: As a developer, I want to list all possible configurations of components I can deploy and their meaning"
As a developer, I want to be able to list all possible components and their configurations and I want to be able to understand what those configurations entail.

[code]

Tasks:
- [x] #194 Search all possible components I can deploy
- [x] #195 List all possible configurations of components I can deploy and their meaning

[2018-03-05 11:40] jorgemoralespou opened #155 "UC 10: As a developer, I want to get a full description of my application and components"
As a developer, I want to be able to get a full description of my application and what components constitutes my application including storage, URLs, etc.

[code]

- [x]  #196 Get full description of a component

- [x]  #197 Get a full description of my application
- [ ] #199 Get full description of what is part of a component given as argument

- [ ]  #198 Get a full description of an application

[2018-03-05 11:41] jorgemoralespou opened #156 "UC 11: As a developer, I want to delete specific components from my application"
As a developer, I want to be able to delete components with a single command.

[code]

Tasks (create new issues if deferring some work):
- [x] #201 If name of the component is not specified, then delete current component.
- [x] If name of the component is specified, then delete specified component.
- [x] #200 Delete should always ask for confirmation.
- [x] Delete should show what other things get

[2018-03-05 11:42] jorgemoralespou opened #157 "UC 12: As a developer, I want to delete an application and all its components"
As a developer, I want to be able to delete my entire application with a single command.

[code]

Tasks (create new issues if deferring some work):
- [x] #202 If name of the app is not specified, then delete current app.
- [x] If name of the app is specified, then delete specified app.
- [x] #203 Delete should always ask for confirmation.
- [x] #204 Delete should show what other things get deleted

[2018-03-05 11:44] jorgemoralespou opened #158 "UC 13: As a developer, I want to easily export/import my application with a single command"
As a developer (A) , I want to be able to easily export and import my application with one command so that I can share the configuration with other people.
- As a developer (B), I want to be able to take the export given to me by developer (A) and run a single command to have a environment that matches what developer (A) built. I should be able to define custom name for the application that I am i

[2018-03-05 11:45] jorgemoralespou opened #159 "UC 14: As a developer, I want to list all applications in a project"
As a Developer, I want to be able to list all of the applications that I currently have in a project.

[code]

Tasks (create new issues if deferring some work):
- [x] #205 If name of the project is not specified, then list apps in current project. (MVP)
- [x] #206 List apps in project passed as argument

[2018-03-05 11:47] jorgemoralespou opened #160 "UC 15: As a developer, I want to sync my local source code changes to an existing component of my application."
As a developer, I want a quick and convenient way for using openshift as a true development platform.  I want to be able to code locally and have it sync my changes to my running component and be smart enough to let me know when a restart of the container is required if dependencies have changed.  This should work across PHP, Node.JS, Python, Ruby, and Java.

[code]

__*NOTE:*__ Check the followin

[2018-03-05 11:48] jorgemoralespou opened #161 "UC 16: As a developer, I want to be notified when synced changes require restart of the container"
As a developer, I want to be notified when synced changes require restart of the container

[code]

__*NOTE:*__ Depending on the language, detection of what will trigger container restart will vary.

[2018-03-05 11:48] jorgemoralespou opened #162 "UC 17: As a developer, I want to change the source of my component to be a remote git repository and back to local or vice versa (remote to local)"
As a developer I want to be able to change the source of a component from local (source or binary being pushed) to remote (git) so that it can be built by the system in an unattended way.

[code]

Dependency on #165

Tasks (Should create sub issues is work is deferred):
- [ ] #209 Change to use Git as source for the build
- [ ] #210 Change the build to use local directory as source
- [ ] #211 Chan

[2018-03-05 11:50] jorgemoralespou opened #163 "UC 18: As a developer, I want to have tab completion"
As a developer, I want to have tab completion so that I don’t need to lookup options and available commands as I type, for bash and zsh shells.

__*NOTE:*__ This can follow the current oc completions command as an example.

Tasks:
- [ ] #212 bash tab completion
- [ ] #213 zsh tab completion

Add issues for completion for missing commands

[2018-03-05 11:50] jorgemoralespou opened #164 "UC 19: As a developer, I want to have sane defaults for application name and component name."
As a developer, I want to have sane defaults for application name and component name so that if I’m working with just one application in my current project, or just one component, I’m not required to provide the name for it, but it will be auto-generated under the cover.
The name needs to also contain a randomized value in it, so that a directory can be reused for multiple applications-components.

[2018-03-05 11:51] jorgemoralespou opened #165 "UC 20: As a developer, I want to default to work with local code"
As a developer, I want to default to work with local code unless otherwise specified.

[code]

[2018-03-05 11:53] jorgemoralespou opened #166 "UC 21: As a developer, I want to be able to specify the application and component name on every command"
As a developer, I want to be able to specify the application and component name on every command so that it can the command can target a different application or component than the one I’m currently working with and is active

Push component to 2 apps and also push to 2 components of same app:
[code]

[2018-03-05 11:54] jorgemoralespou opened #167 "UC 22: As a developer, I want ocd to provide me an error if I target an application that has not been created"
As a developer, I want the system to provide an error to the me if I specify an application name parameter but that application does not exist.

[code]

[2018-03-05 11:55] jorgemoralespou opened #168 "UC 23: As a developer, I want ocd to remember the application I was last working on on a per OpenShift project basis"
When I switch to a different OpenShift project, ocd should automatically put me in the context of the last known application I was working on for that project.

If the application no longer exists in the project follow this algorithm:

[code]

the ocd tool should display an error similar to the following:

The last known application <name-old> for this project does not exist.  Known applications a

[2018-03-05 11:57] jorgemoralespou opened #169 "UC 24: As a developer, I want to be able to push local directory contents or a binary artifact"
As a developer, I want to be able to push local directory contents or an artifact, if I have built a binary artifact that can be directly pushed. The push commands will default to push contents of the local directory, but with a flag the behaviour changes to push a binary artifact.

[code]

When creating a component one can specify how the source will be provided to it, if a built (s2i) component.

[2018-03-05 11:58] jorgemoralespou opened #170 "UC 25: As a developer, I want to be able to manage storage for a component in an easy way"
As a developer, I want to be able to add storage to a component in an easy way, only requiring the common minimal information (type, size and path)

Storage scenarios:
- Create storage
- Update storage
- Delete storage
- Mount/Unmount storage

[code]

__*NOTE:*__ At least for Red Hat provided components the --path argument has to be optional.
Access defaults to “single”. Options single container a

[2018-03-05 12:01] jorgemoralespou opened #171 "UC 26: As a Developer, I want to be able to link/unlink two components together"
As a Developer, I want to be able to link/unlink two components together such as a component get injected the credentials to use a different component (the linked one)

[code]

Tasks (add issues if tasks are deferred):
- [x] Link (defaults to current active component) #342
- [x] Link specifying target component #342
- [ ] Link specifying additional parameters (name of secret, ENVs to use, ...)
- [

[2018-03-05 12:02] jorgemoralespou opened #172 "UC 27: As a developer, I want to be able to manage URL for a component in an easy way"
As a developer, I want to be able to expose a component to the outside world in an easy way, only requiring the common minimal information (hostname, path, secure)

Routes scenarios:
- Create a route
- Modify route
- Delete Route

[code]

__*NOTE:*__ When name is not specified, it defaults to the name of the current component (as in all the other commands). When a non-secure route is being created

[2018-03-05 12:03] jorgemoralespou opened #173 "UC 28: As a developer, I want to be able to manage configuration for a component in an easy way"
TBD

[2018-03-05 12:04] jorgemoralespou opened #174 "UC 29: As a developer, I want to easily debug the component I'm working on"
TBD

[2018-03-05 12:05] jorgemoralespou opened #175 "UC 30: As a developer, I want to connect to my application"
TBD

[2018-03-05 12:05] jorgemoralespou opened #176 "UC 31: As a developer, I want to easily expose a port of a component"
TBD

[2018-03-05 12:06] jorgemoralespou opened #177 "UC 32: As a developer, I want to get the logs of the component I'm working on"
TBD

[2018-03-05 13:21] containscafeine opened #178 "unable to create a new application, master is broken"
[code]

[2018-03-05 13:49] containscafeine commented on #178
Fix in #179

[2018-03-05 14:14] containscafeine opened #180 "add CreateApplication() to config.go"
Currently,  config.go does not have any `CreateApplication()` method which creates an application. An application is created using `SetActiveApplication()` which does 2 things, creates an application and sets it as active. This behavior should be decoupled.

This will help us setting an application as active without creating it, and the logic like `	exists, err := application.Exists(appName)` whic

[2018-03-05 14:16] containscafeine commented on #178
fixed in #179

[2018-03-05 14:16] #178 closed

[2018-03-05 14:25] kadel commented on #180
agreed

This will help us setting an application as active without creating it, and the logic like exists, err := application.Exists(appName) which should not be there in cmd/application.go, will be removed

not really. You will still have to check it there. You can't call `application.Exists(appName)`  from `config` that would be wrong and messy (and also impossible because of circula dependencie

[2018-03-06 09:19] kadel opened #183 "confusing installation instruction in new version notification"
ocdev displays following message when there is a newer version.

[code]

problem is that it says that you can use `curl https://raw.githubusercontent.com/redhat-developer/ocdev/master/scripts/install.sh | sh` to update it which is not true.

If you run that command and have ocdev installed it exists with following message:
[code]

[2018-03-06 10:14] containscafeine opened #185 "Add `ocdev config` command`"
`ocdev config` will let the user access the ocdev configuration.
We can have commands like -
- `ocdev config show`
- `ocdev config clear`
- `ocdev config edit`

[2018-03-07 11:31] jorgemoralespou opened #189 "ocdev output should follow verbosity rules in oc,kubectl with --log-level"
I started a cluster (minishift) that I had stopped for some time, so my credentials were expired. It gave me a bad error, and changed the context to -q.

[code]

If I want verbose output, I see the flag verbose, which gives a lot of output.

In oc, minishift, kubectl and other go binaries it seems standar to follow logging by levels, with --log-level=(0-10)

[code]

This should then yield by defau

[2018-03-07 11:36] jorgemoralespou opened #190 "ocdev app should return current app, not create it if non existent"
On a new cluster, new config, new install.

[code]

The command has created the app, and use it as default current app.

See #152

[2018-03-07 12:52] #24 closed

[2018-03-07 12:55] kadel commented on #190
related to https://github.com/redhat-developer/ocdev/issues/142

[2018-03-07 13:05] kadel commented on #189
fixing state when credentials are expired is already reported in #125

I agree that we should clean up our verbose messages.

But I'm not sure about using loglevels. My experience is that It is hard to know what level you actually want to display. So I end up with using just the highest log level for debuging

Maybe we could reduce it from current 2 levels (normal and verbose) to good old 3 levels

[2018-03-07 14:14] slemeur commented on #146
Use case that is defining the whole goal of the tool.

[2018-03-07 14:17] slemeur commented on #151
Already in the foundations of the tool.

[2018-03-07 14:17] #151 closed

[2018-03-07 14:18] slemeur commented on #152
Story needs to be completed by fixing #190

[2018-03-07 14:21] slemeur commented on #153
Foundations are there.
We should decompose this epic into sub-issues and add the sub-issues into the milestone-mvp.

@kadel @containscafeine : Could you please create the sub-issues for that particular use case.

[2018-03-07 14:26] slemeur commented on #154
For this use case, we should be relying on the service catalog APIs.

Decompose this epic into sub-issues and add the sub-issues into the milestone-mvp.

@kadel @containscafeine : Could you please create the sub-issues for that particular use case.

[2018-03-07 14:42] kadel commented on #157
Decompose this to subtasks.
This is partially implemented. Asking for confirmation is missing.

[2018-03-07 14:43] kadel commented on #158
Stretch goal. Not part of MVP.

[2018-03-07 14:44] kadel commented on #159
Create subtasks.
`--project` argument is not a requirement for MVP

[2018-03-07 14:46] kadel commented on #160
We should have at least basic implementation of this for MVP (hacking it is OK).
Stretch goal for MVP

[2018-03-07 14:47] kadel commented on #161
not for mvp

[2018-03-07 14:52] kadel commented on #163
decompose this. Not important for MVP. It is just nice to have.

[2018-03-07 15:00] kadel commented on #164
this needs to be decomposed. Parts of this might not be in MVP

[2018-03-07 15:02] kadel commented on #165
related to #164

[2018-03-07 15:04] kadel commented on #166
we need to decompose this. This doesn't have to be in MVP.
MVP can assume working with current application

[2018-03-07 15:04] kadel commented on #167
related to #166 . Not part of MVP

[2018-03-07 15:06] kadel commented on #168
decompose.  foundations are already in, and those will be part of MVP. But in general this is not MVP requirement

[2018-03-07 15:08] kadel commented on #169
decompose this to smaller tasks.

[2018-03-07 15:09] kadel commented on #169
@jorgemoralespou can you please give us more context, especially on `--binary`

[2018-03-07 15:13] kadel commented on #170
we need to decompose this to smaller tasks

[2018-03-07 15:16] kadel commented on #171
It would be nice to at least hack this in for MVP.
We need to decompose this.

[2018-03-07 15:22] kadel commented on #172
it needs to be decomposed to subtasks.
At least `create` needs to be there for MVP

[2018-03-07 15:24] kadel commented on #177
it would be nice to have it for MVP at least as `oc` command alias.

[2018-03-07 15:51] jorgemoralespou opened #191 "ocd list should list components in current application"
List all components that my current application (database, datagrid, storage, etc.) has.

[code]

Part of #153

[2018-03-07 15:52] jorgemoralespou opened #192 "ocd list should list components in the provided application"
List all components that the argument **provided** application (database, datagrid, storage, etc.) has. This application has to be in the current user's logged in project.

[code]

Part of #153

[2018-03-07 15:58] jorgemoralespou opened #193 "ocd list should allow to filter components by type"
List all components that the current application has (or the one specified via CLI when #192 is complete) by type of component.

Component types need to be specified.

Initial list would be the those that can be found in the **tags** for the [imagestreams](https://github.com/openshift/library/blob/master/official/mongodb/imagestreams/mongodb-rhel7.json#L18) [definitions](https://github.com/openshi

[2018-03-07 19:31] jorgemoralespou opened #194 "Search all possible components I can deploy"
As a developer, I want to be able to list/search all possible components I can use with my application

[code]
Search has to be able to filter. (Possibly create another issue for this).

Subtask for #154

[2018-03-07 19:34] jorgemoralespou opened #195 "List all possible configurations of components I can deploy and their meaning"
As a developer, I want to be able to list all possible configurations and I want to be able to understand what those configurations entail.

[code]

This would then be consumed like:
[code]

Subtask for #154

[2018-03-07 20:43] jorgemoralespou opened #196 "Get full description of a component"
Be able to get full description of what is part of a component.

[code]

The very basic information a component should provide is:
- name
- where's source code for the component
- number of active instances
- connections (routes, services consumed)
- configuration

Subtask of #155

[2018-03-07 21:18] jorgemoralespou opened #197 "get a full description of my application"
As a developer, I want to be able to get a full description of my application

[code]

Full description would entail:
- name of the application
- description of each component the application has.
  - Each component's description should provide:
    - name
    - source location
    - number of instances
    - connections (urls, service used)

Subtask of #155

[2018-03-07 21:22] jorgemoralespou opened #198 "Get a full description of an application provided"
As a developer, I want to be able to get a full description of an application provided as parameter

[code]

Subtask of #155
Dependency on #197

[2018-03-07 21:25] jorgemoralespou opened #199 "Get full description of what is part of a component given as argument"
Be able to get full description of what is part of a component given as argument.

[code]

The very basic information a component should provide is:
- name
- where's source code for the component
- number of active instances
- connections (routes, services consumed)
- configuration

Subtask of #155
Dependency on #196

[2018-03-08 10:18] jorgemoralespou opened #200 "delete a component should always ask for confirmation"
When deleting a component, we need to ask for confirmation to the user. A --force flag could be introduced as an override of this, to automate tasks.

[code]

Subtask of #156

[2018-03-08 10:21] jorgemoralespou opened #201 "delete components with a single command"
As a developer, I want to be able to delete components with a single command.

[code]

Should delete current active component.

Dependency on #200 as it should ask for confirmation on deletion

Subtask of #156

[2018-03-08 10:29] jorgemoralespou opened #202 "delete my entire application with a single command"
As a developer, I want to be able to delete my entire application with a single command.

[code]

Subtask of #157

[2018-03-08 10:30] jorgemoralespou opened #203 "delete app should always ask for confirmation"
As a developer, I want to be able to delete my entire application with a single command.

[code]

Subtask of #157

Dependency on #202

[2018-03-08 10:32] jorgemoralespou opened #204 "delete app should show what will be deleted"
As a developer, I want to be able to delete my entire application with a single command and have information of what will be removed.

[code]

Subtask of #157

Dependency on #202 and #203

[2018-03-08 10:48] jorgemoralespou opened #205 "list all applications in my project"
As a Developer, I want to be able to list all of the applications that I currently have in my project.

[code]

Subtask of #159

[2018-03-08 10:49] jorgemoralespou opened #206 "list applications in another project"
As a Developer, I want to be able to list all of the applications that I currently have in another project.

[code]

Subtask of #159
Dependency with #205

[2018-03-08 10:53] jorgemoralespou opened #207 "sync my local directory sources to an existing component"
I want to be able to code locally and have it sync my changes to my running component and be smart enough to let me know when a restart of the container is required if dependencies have changed. This should work across PHP, Node.JS, Python, Ruby, and Java.

[code]

Subtask of #160

There's work in progress to demonstrate how this could work done by @grahamdumpleton and @jorgemoralespou

[2018-03-08 10:54] jorgemoralespou opened #208 "sync a binary to an existing component"
I want to be able to code locally and have it sync my changes to my running component and be smart enough to let me know when a restart of the container is required if dependencies have changed. This should work across PHP, Node.JS, Python, Ruby, and Java.

[code]

Subtask of #160

There's work in progress to demonstrate how this could work done by @grahamdumpleton and @jorgemoralespou

[2018-03-08 10:57] jorgemoralespou opened #209 "change the source of my component to be a remote git repository"
As a developer I want to be able to change the source of a component from local (source or binary being pushed) to remote (git) so that it can be built by the system in an unattended way.

[code]

Subtask of #162

[2018-03-08 10:59] jorgemoralespou opened #210 "change the source of my component to be a local directory"
As a developer I want to be able to change the source of a component from whatever to local directory so I can work locally

[code]

Subtask of #162

[2018-03-08 11:00] jorgemoralespou opened #211 "change the source of my component to be a local binary"
As a developer I want to be able to change the source of a component from whatever to local binary so I can work locally

[code]

Subtask of #162

[2018-03-08 11:01] jorgemoralespou opened #212 "bash tab completion"
As a developer, I want to have bash tab completion so that I don’t need to lookup options and available commands as I type

NOTE: This can follow the current oc completions command as an example.

Tasks:
Add issues for completion for missing commands

Subtask of #163

[2018-03-08 11:02] jorgemoralespou opened #213 "zsh tab completion"
As a developer, I want to have zsh tab completion so that I don’t need to lookup options and available commands as I type

NOTE: This can follow the current oc completions command as an example.

Tasks:
Add issues for completion for missing commands

Subtask of #163

[2018-03-08 15:19] kadel commented on #190
@jorgemoralespou Is is ok to have it like this?
[code]

or should `ocdev app` return something like "No applications is set as current"?

[2018-03-08 15:39] jorgemoralespou commented on #190
@kadel it's ok like that

[2018-03-08 16:47] kadel opened #214 "can't create components with the same name in a different apps"
steps to reproduce:
[code]

We need somehow namespace component objects, for example with prefixes or something like that.

[2018-03-09 09:47] kadel commented on #53
this is described more in #191

[2018-03-09 11:05] jorgemoralespou opened #216 "configurable random name generator for app (and component)"
When an app is created, we can provide a name for the app, or if not we will create the app name ourselves. We should provide a "random" generated name for the app, so that I can deploy twice a component as different apps, and I'll be able to easily identify them.

e.g.

[code]

There should be a prefix, which should be configurable, default could be **app**, and then a suffix.
The suffix will be

[2018-03-09 11:09] jorgemoralespou opened #217 "When creating a component, use component type as name by default"
When you create a component, name of the component is not mandatory. If not provided, use component name as default.

[code]

If there's already one component with that name in the current application, give an error before create anything.

[code]

Subtask of #164

[2018-03-09 11:12] jorgemoralespou opened #218 "When creating an app, use "app" as default name"
When you create an app, name of the app is not mandatory. If not provided, use "app" (or random generated name when #216 is done) as default.

[code]

If there's already one app with that name in the current application, give an error before create anything.

[code]

Subtask of #164

[2018-03-09 11:18] jorgemoralespou opened #219 "Configure the component source to be binary file"
When I create a component I want to be able to specify that the source will be a binary file, so when I push, the binary file is pushed.

[code]

[2018-03-09 11:21] jorgemoralespou opened #220 "Configure the component source to be git"
When I create a component I want to be able to specify that the source will be fetch from git, so when I push, a build will just start, but not push anything from local.

[code]

Subtask of #169

[2018-03-09 11:24] jorgemoralespou opened #221 "Configure the component source to be local directory contents"
When I create a component I want to be able to specify that the source will the local directory, so when I push, the local directory will be pushed.

[code]
Subtask of #169

[2018-03-09 11:27] jorgemoralespou opened #222 "push command should push contents and start a build"
I want to be able to start a build when **push** command is executed. If the component is configured to  use local or binary content, the content will be uploaded to the build process. If the build is configured with git source, the build will just start.

Depending on how the implementation is done, the build will not be an "OpenShift build" but rather a sync and build with a supervisor process i

[2018-03-09 11:46] #125 closed

[2018-03-09 12:04] kadel commented on #221
Currently this is implemented a little bit differently.
There is an `--dir` option that controlls if it should be local or not.
Default value  for `--dir` value is ` ./`

after #224 is merged it will work like this

[code]
Creates and pushes current dir.  It is equivalet to running `od create wildfly --dir ./`

[code]
Pushes current dir to currently active component. There is also optional `--dir`

[2018-03-09 14:22] jorgemoralespou opened #226 "create storage (and mount to a component)"
As a developer, I want to be able to add storage to a component in an easy way, only requiring the common minimal information (type, size and path)

[code]

ocd storage create will create a PVC and mount it on the component.

Subtask of #170

[2018-03-09 14:25] jorgemoralespou opened #227 "update configured storage"
As a developer, I want to be able to update storage to a component in an easy way, only requiring the common minimal information (type, size and path)

[code]

Depending on the previous and new configuration, actions that can happen are:
- Unmount
- Delete
- Create
- Mount

ocd storage update while providing a new size should add additional GB to the current PVC.

Depends on #226, #228, #229 and #

[2018-03-09 14:27] jorgemoralespou opened #228 "delete storage"
As a developer, I want to be able to delete storage to a component in an easy way, only requiring the common minimal information

[code]

$ ocd storage delete, should unmount the storage if still mounted.
Dependency on #230

Subtask of #170

[2018-03-09 14:29] jorgemoralespou opened #229 "mount storage"
As a developer, I want to be able to mount storage to my container.

[code]

$ ocd storage mount will link a pvc to a component at the specified path

Dependency on #226
Subtask of #170

[2018-03-09 14:31] jorgemoralespou opened #230 "unmount storage"
As a developer, I want to be able to unmount storage to a component in an easy way, only requiring the common minimal information

[code]

$ ocd storage umount will just unlink the pvc from the component but does not delete the volume or claim

Dependency on #226
Dependency for #228
Subtask of #170

[2018-03-12 11:17] kadel commented on #52
related to https://github.com/redhat-developer/ocdev/issues/192

[2018-03-12 12:16] kadel commented on #194
related to #54

[2018-03-12 12:21] containscafeine opened #231 "Introduce `ocdev url` story"
Subtask of #172

[2018-03-12 12:29] containscafeine commented on #96
@mik-dass do you want to take a stab at this?

[2018-03-12 12:32] containscafeine commented on #194
I'll start looking into how the Service Catalog API can help us with this

[2018-03-12 12:48] containscafeine commented on #98
@kadel how about researching this for now?

[2018-03-12 12:52] kadel opened #232 "refactor occlient pkg"
create interface for `occlient` so we can mock it in tests

[2018-03-12 17:04] mik-dass commented on #96
@containscafeine Sure, I will look into this.

[2018-03-12 22:37] jorgemoralespou commented on #221
@kadel you would never want to push to a component if you're not in the working directory. That was the idea we had in mind.

You code, you push, you code, you push.

If you have an arbitrary directory that you can set, then you might get some unexpected behavior in some cases, IMHO.

cc/ @marekjelen @gshipley what do you guys think?

[2018-03-13 08:53] #190 closed

[2018-03-13 08:54] kadel commented on #142
closed in #215

[2018-03-13 08:54] #142 closed

[2018-03-14 14:58] containscafeine commented on #98
This might be a blocker of sorts - https://github.com/openshift/client-go/issues/30

[2018-03-14 15:16] containscafeine commented on #203
Closed in #235

[2018-03-14 15:16] #203 closed

[2018-03-14 15:16] #202 closed

[2018-03-14 15:31] kadel commented on #98
That is something that we already discussed multiple times.
Functionality like `oc new-app` is only in `oc` client and quite possibly it will never go to server-side api.

We can't just switch to `client-go` without also using and importing parts of `oc` client.

In future, this will be less and less issue, as ocdev will have much more functionality than oc right now have so we will have to move a

[2018-03-15 06:03] marekjelen commented on #221
Setting a dir as option seems OK to me, if you would be doing some kind of automation, then it might be more convenient to specify path, rather then `cd` somewhere; however, the default flow should not require me to specify it.

[2018-03-15 09:06] containscafeine opened #238 "[switch to CRD] saving local config leads to inconsistency"
So I work using ocdev using minishift on day 1, I make the changes, bring the cluster down and go home.
The next day bring up a fresh OpenShift cluster using minishift, and run `ocdev application list`, this will still show me older applications from the previous day which do not exist on the cluster anymore.

I think that the solution to this "out of sync" problem is that we don't store any infor

[2018-03-15 09:18] containscafeine commented on #194
@jorgemoralespou so I just tried on OpenShift versions v3.7.1 and up on minishift, but service catalog is not running by default, unless started otherwise using `minishift start --service-catalog`.
Since this is not the default behavior, imo it's not safe to only rely on the service catalog API to provide us the template names which the user can use in `ocdev component <type>`.

We also need to li

[2018-03-15 13:26] kadel commented on #194
@containscafeine why do you want to list all ImageStreams in the openshfit namespace (`oc get is -n openshift`)?

[2018-03-16 13:16] jorgemoralespou commented on #194
@marekjelen @gshipley, any opinion on this?

@sspeiche is the catalog not going to be enabled by default? I thought we agreed to have it by default already.

[2018-03-17 06:29] containscafeine commented on #194
How do we get the builder images that we currently support with ocdev?

[2018-03-17 10:48] kadel commented on #194
you have to add an additional filter to it, you will get more than just s2i builder images if you list all `is` in `openshift` namespace.

[2018-03-17 11:27] marekjelen commented on #194
@jorgemoralespou in general I think we should target service catalog, it's default in Ansible installer anyway ... the question is - in case it's not gonna be default in `oc cluster up` / `minishift` - is the audience that will be using these two methods big enough to validate not using the nice stuff provided by the service catalog or would it better to ask for the switch during startup?

Just a

[2018-03-19 07:01] #53 closed

[2018-03-19 07:01] #191 closed

[2018-03-19 07:06] containscafeine commented on #238
I think we should prioritize this sooner than later, the sooner we switch to CRDs, the better it will be later on

[2018-03-19 09:55] kadel commented on #238
We can't currently use CRDs. A regular user can't create CRDs.

[2018-03-19 11:14] #180 closed

[2018-03-19 13:02] containscafeine commented on #194
will start once #241 is merged

[2018-03-20 17:32] sspeiche commented on #194
The service-catalog is not on by default. It is unclear when it will be. The direction is looking like more and more things will be enabled, like via concepts like alm in tectonic, though not 100% if catalog fits in as something that gets.

Having said that, I believe that in the next 3 months most hosted clusters would have it enabled. So for this effort, it would be good if ocdev could probe to

[2018-03-20 18:27] jorgemoralespou commented on #194
ocdev as a tool for developers should be meant for clusters with the catalog enabled, where you can just use/deploy technology on a self service manner as a developer.

I would maybe then:

- a) have that as pre-requisite
- b) delay to a posterior face where we want create an API on OpenShift that gives you the information independent of the catalog (but I guess we'll be on the same spot)
- c) mak

[2018-03-21 10:49] mik-dass opened #244 "oc app list listing applications from all projects"
[mdas@localhost ocdev]$ oc projects
    You have access to the following projects and can switch between them with 'oc project <projectname>':

    blah-project
    hello
    hello1
    * hello2
    my-project

    Using project "hello2" on server "https://192.168.42.29:8443".
    [mdas@localhost ocdev]$ ./ocdev app create node11
    Creating application: node11
    Switched to application: node11

[2018-03-22 06:15] kadel commented on #220
this is partially implemented
required push functionality is added in #246

[2018-03-22 09:41] kadel commented on #139
component messages improved in https://github.com/redhat-developer/ocdev/pull/247

[2018-03-22 10:24] #244 closed

[2018-03-22 11:17] jorgemoralespou commented on #238
I agree that a CRD would help on the use case, but it's also a bad option for other use cases. We would need to define what possible scenarios could happen to know how to best implement the CRD or if implement it at all.
As you know, there's upstream discussions on creating an application CRD that might also change how this work. As everything is still very much in flux, I agree with @kadel that w

[2018-03-22 11:40] jorgemoralespou opened #249 "Change project name and cli command form ocdev to od"
We should change the name of the project form ocdev to od, as it's much lightweight name for the command, follows oc pattern and still reflects the intent of the tool, openshift for developers, od.

cc/ @gshipley @marekjelen

[2018-03-22 11:41] marekjelen commented on #249
@jorgemoralespou agree `od` sounds better then `ocdev`

[2018-03-22 12:44] #200 closed

[2018-03-22 12:49] containscafeine opened #251 "Unable to delete component"
[code]

Some of the recent commits have caused this.

[2018-03-22 15:38] sspeiche commented on #249
-1 on `od`, it is already a thing on MacOSX, Linux...see http://man7.org/linux/man-pages/man1/od.1.html

I propose `odev` or something else clever and/or just go full into the plugin/addon space as `oc dev`.

[2018-03-22 16:02] containscafeine commented on #249
@sspeiche wow, just realized "od" is there on Fedora too, that too a part of coreutils -
[code]

[2018-03-22 18:20] cdrage opened #254 "When using `ocdev component` or `ocdev application` it defaults to `get`"
Current behavior:

[code]

Intended behavior:
[code]

It should be outputting help, but instead, this defaults to the "get" command.

[2018-03-22 18:24] cdrage opened #255 "CLI confusion with ocdev component create"
The output is this:
[code]

Shouldn't we specify that we pass in a name?

Example:
[code]

[2018-03-22 18:33] cdrage opened #256 "Using the same format: ocdev component list vs ocdev application list"
[code]

[code]

I think they they should be the same format / similar style:

[code]

[2018-03-22 18:36] cdrage commented on #249
What about `ocd`?

[2018-03-22 19:41] sspeiche commented on #249
@cdrage I think a some might find it offensive since it could also mean https://iocdf.org/about-ocd/

[2018-03-22 21:07] kadel commented on #255
fix for this is already in PR #247
 https://github.com/redhat-developer/ocdev/pull/247/files#diff-1dcc122e377b3a7b4adf52faf26c0188R31

[2018-03-22 21:11] kadel commented on #152
this has been already  implemented and #190 is fixed. Closing this

[2018-03-22 21:11] #152 closed

[2018-03-23 06:16] kadel opened #257 "Use client-go occlient (remove dependency on `oc` binary)"
- [x] GetCurrentProjectName #250
- [x] GetProjects #250
- [x] CreateNewProject #250
- [x] SetCurrentProject #250
- [x] NewAppS2I  #241
- [x] StartBuild #241
- [x] FollowBuildLog #241
- [x] Delete
- [x] DeleteProject
- [x] SetVolumes
- [x] GetLabelValues
- [x] isServerUp
- [x] isLoggedIn
- [x] RsyncPath
- [x] CopyFile

related to https://github.com/redhat-developer/ocdev/issues/98

[2018-03-23 06:24] kadel commented on #65
related to https://github.com/redhat-developer/ocdev/issues/172

[2018-03-23 06:41] kadel commented on #218
The first part is done.
But currently, we are not checking whatever application already exists or not.

[2018-03-23 06:43] kadel commented on #205
implemented in https://github.com/redhat-developer/ocdev/pull/94

[2018-03-23 06:43] #205 closed

[2018-03-23 06:47] kadel commented on #201
Currently, it is implemented as `ocdev component delete`.
All what is remaining is to rename it to `ocdev delete`

[2018-03-23 11:46] kadel commented on #207
Just to make sure that I understand that correctly.

The build process should be slightly different than regular s2i using BuildConfig.
Application container will be constantly running.
`ocdev watch` will be continuously watching local source directory and when there is a change in the source it will sync it to the running container. Whan this happens something should trigger reload or restart (bu

[2018-03-23 15:26] cdrage commented on #255
@kadel Thanks, didn't see that!

[2018-03-23 15:26] #255 closed

[2018-03-23 15:26] cdrage commented on #254
@kadel I see. Closing.

[2018-03-23 15:26] #254 closed

[2018-03-23 15:35] cdrage commented on #163
Bash and ZSH completion has been added:
[code]

[2018-03-23 15:35] #163 closed

[2018-03-23 15:35] cdrage commented on #213
See: https://github.com/redhat-developer/ocdev/issues/163 bash + zsh completion has been added :+1:

[2018-03-23 15:35] #213 closed

[2018-03-23 15:35] cdrage commented on #212
See: https://github.com/redhat-developer/ocdev/issues/163 bash + zsh completion has been added :+1:

[2018-03-23 15:35] #212 closed

[2018-03-23 15:37] cdrage commented on #226
Could we close this @kadel ? Looks like this has been added:

[code]

[2018-03-23 15:37] cdrage commented on #229
See: https://github.com/redhat-developer/ocdev/issues/226 can we close this @kadel ?

[2018-03-23 15:37] cdrage commented on #230
See: https://github.com/redhat-developer/ocdev/issues/226 can we close this @kadel ?

[2018-03-23 15:37] cdrage commented on #228
See: https://github.com/redhat-developer/ocdev/issues/226 can we close this @kadel ?

[2018-03-23 15:38] cdrage commented on #170
Again, see: https://github.com/redhat-developer/ocdev/issues/226 can we close this @kadel ?

(sorry for the copy paste, haha)

[2018-03-23 15:39] cdrage commented on #219
@kadel I believe this is implemented now?

[code]

[2018-03-23 16:04] cdrage opened #259 "Better information / component info output"
See:
[code]

We should have an output at the end of this detailing what just happened / what's next. At the moment all it does it output the push information..

Let's improve the information output on all the other commands too :100:

[2018-03-23 16:07] cdrage opened #260 "Better error output when using component command"
Just as a newbie, it'd be nice to get better output on what I'm doing wrong when using `component create`:

[code]

Saying that I need to pass in `--dir` or create an image would be better :+1:

[2018-03-23 16:09] cdrage opened #261 "Adding multiple components?"
Bit confused on documentation / "component". Are we not able to add multiple components?

[code]

Having the "list" command implies that we're able to add multiple components...

[2018-03-23 16:11] cdrage opened #262 "Unable to delete nodejs component / bug with get and list?"
After following the tutorial I'm unable to delete the component and for some reason it doesn't show up with `get`:

[code]

[2018-03-24 09:57] kadel commented on #226
Command is called add but it should be create

[2018-03-24 09:57] kadel commented on #229
We don't have mount implemented, just create and list.

[2018-03-24 09:58] kadel commented on #230
We don't have unmount command

[2018-03-24 09:59] kadel commented on #228
Remove currently works slightly differently

[2018-03-24 10:00] kadel commented on #228
Let's keep this open until it is fixed

[2018-03-24 10:00] kadel commented on #219
It is not. Flag is there but it does nothing.

[2018-03-24 10:03] kadel commented on #261
Don't understand that. You can create multiple components.
There is this bug - https://github.com/redhat-developer/ocdev/issues/214 but otherwise it works.

[2018-03-24 10:11] kadel commented on #259
What other output do you suggest?

[2018-03-24 10:13] kadel commented on #260
--dir is not required. Problem is they thete is no builder image called foo (component type).
We should validate component types before we try to create component.

[2018-03-26 09:20] containscafeine opened #264 "No output for creating a component from git"
[code]
There is no output for this command, we need to give a success message.

[2018-03-26 09:54] #220 closed

[2018-03-26 10:19] containscafeine opened #265 "UX is pretty inconsistent"
We have been putting in a lot of code, but the UX is pretty inconsistent.
e.g., the way we list components, applications, projects, xyz, should be consistent.

Or the way logs are streamed to the screen should be consistent, do we stream or do we not stream?

The way the output looks, does it always start with `-- building image`, or does it not?

We need to figure this out. If the UX is not consi

[2018-03-26 10:21] containscafeine opened #266 "Add support for service catalog"
We have service catalog search implemented in #243, but the current implementation of S2I does not support deploying templates from service catalog. Well, it should.

[2018-03-26 10:42] #194 closed

[2018-03-26 10:44] kadel commented on #221
closed in #247 and #246

[2018-03-26 10:44] #221 closed

[2018-03-26 11:39] #231 closed

[2018-03-26 11:42] containscafeine commented on #65
Fixed in #231

[2018-03-26 11:42] #65 closed

[2018-03-26 11:43] containscafeine commented on #35
fixed in #243

[2018-03-26 11:43] #35 closed

[2018-03-26 11:46] kadel commented on #266
When `ocdev create` is called it should do series of checks like
 is componenttype s2i builder image? -> create new component using s2i builds
is componenttype service catalog "service" ->  instantiate new service using service catalog.

[2018-03-26 11:48] kadel commented on #264
this should output build logs (build progress)

[2018-03-26 12:06] containscafeine commented on #217
@jorgemoralespou how about we create a component with a random prefix.
e.g. `ocdev create httpd` creates a component named as `httpd-0xna3`.
This will allow the user to run `ocdev create httpd` multiple times

[2018-03-26 12:07] kadel commented on #217
@containscafeine yes, it might make sense, lets look into it after MVP

[2018-03-26 12:09] kadel commented on #210
realted to @209

[2018-03-26 12:15] kadel commented on #196
related to #197

[2018-03-26 12:21] kadel commented on #172
url create, delete and  list added in  PR #252. This should enough for MVP

[2018-03-26 12:32] containscafeine opened #267 "Add e2e tests"
There's a lot of code moving around, and the best way to keep the tool stable is via e2e tests.

We should work towards adding e2e test for most (if not all) the commands.

ping @ashetty1 @kadel

[2018-03-26 12:36] containscafeine commented on #267
client-go has `fake` package for almost all the code in there, we could leverage that.

[2018-03-26 12:39] kadel commented on #267
but that is not for e2e tests but for unit tests

[2018-03-26 12:46] ashetty1 commented on #267
@containscafeine I haven't pushed many changes yet because I was waiting for a few changes to be merged over last week. Will \be pushing tests for more commands this sprint.

[2018-03-26 13:28] kadel commented on #267
@ashetty1 It will be better if we can add them continuously. As soon as you have something (even a single test) please open PR with it.

[2018-03-27 09:09] ashetty1 opened #269 "newline in `ocdev project get --short` output"
`ocdev project get --short` output ends with a newline which is inconsistent with output for other commands

[code]

[2018-03-27 12:50] ashetty1 opened #274 "`ocdev project notexistin_subcommand` should exit with error"
Looks like `ocdev project delete` doesn't delete the project as expected:

[code]

[2018-03-27 12:52] mik-dass commented on #274
@ashetty1 ocdev project delete is not implemented yet

[2018-03-27 12:54] ashetty1 commented on #274
Oh okay. closing this then.

[2018-03-27 12:55] kadel commented on #274
`ocdev project delete` is not implemented.
Problem is that it is not obvious as `ocdev project delete` matches to `ocdev project` that gets current active project.

[2018-03-27 12:56] kadel commented on #274
I have reopened this as we need to make sure that any random `ocdev project asdf` shows error instead of showing current project.

[2018-03-27 13:16] kadel commented on #267
@ashetty1 please link all PRs related to e2e tests to this issue so we can keep track of what is happening

[2018-03-27 13:28] kadel commented on #218
related to https://github.com/redhat-developer/ocdev/issues/104

[2018-03-27 15:48] containscafeine commented on #4
@kadel @ashetty1 can we close this?

[2018-03-28 04:55] amitkrout commented on #4
Did you guys decide any test frame work ? or go with your decided one ?

[2018-03-28 05:51] ashetty1 commented on #4
@containscafeine sure.

@amitkrout we zeroed in on ginkgo.

[2018-03-28 08:41] containscafeine commented on #274
This also happens with other subcommands -
[code]

[2018-03-28 11:58] mik-dass commented on #104
It's already implemented

[2018-03-28 12:45] #104 closed

[2018-03-28 14:36] cdrage opened #283 "Better make test-e2e output"
More information would be helpful determining what exact command didn't work:

[code]

Perhaps outputting what runCmd is into the logs and adding more spacing between the log outputs too?

https://github.com/redhat-developer/ocdev/blob/master/tests/e2e/e2e_test.go#L151

ping @ashetty1

[2018-03-28 17:19] cdrage commented on #177
@kadel @jorgemoralespou

I'll work on this.

Do we want *both* BuildConfig and DeploymentConfig logs (I'm assuming so).

[2018-03-29 04:25] amitkrout commented on #4
Fair enough, i will recommend to play around with those BDD framework. You will love BDD style.

[2018-03-29 07:26] kadel commented on #283
For this, I would like to output those commands only if there was an error. Please don't make verbose output if tests are passing, It is really hard to find something if logs are polluted with useless lines.

[2018-03-29 07:35] ashetty1 commented on #283
@kadel @cdrage sure, will do that.

[2018-03-29 07:58] kadel commented on #177
@cdrage This needs to be broken into smaller well-defined tasks before we start working on it.
Feel free to do it ;-)

We can start with DeploymentConfigs logs. We are already showing BuildConfig logs when a build is started.

[2018-03-29 08:08] kadel commented on #214
Proposed solution for this:
lets use following naming scheme for OpenShift objects `{applicationName}-{componentName}`.
Currently, we are naming OpenShift object with a component name. This is causing collisions.

[2018-03-29 11:08] surajnarwade opened #285 "Make storage list as `list` output"
Currently `ocdev storage list` output shows following output:

[code]

But it should give list output so that it will be easy to use it in description in application and component and for better UX.

[2018-03-29 11:39] ashetty1 commented on #283
Pushed a minor fix here: #286

[2018-03-29 11:50] surajnarwade commented on #269
Since #270 is merged, we can close this

[2018-03-29 11:50] #269 closed

[2018-03-29 11:59] containscafeine commented on #285
This is blocking #278
I'm working on this, and will then move over to the other storage commands.
Will start by moving storage to client-go

[2018-03-29 12:54] containscafeine opened #291 "Orphaned components should not be created"
State - fresh installation of ocdev, no applications, components, etc exist
Step 1 - `ocdev component create nodejs`
Step 2 - `ocdev component list`

This does not return any components.

Basically the logic is broken because the component creation should not even begin binding itself to the application. We need to get the `GetCurrentOrDefault` logic from inside `component.Create()` and move it ou

[2018-03-29 14:30] kadel commented on #291
this is against https://github.com/redhat-developer/ocdev/issues/151 as it clearly states "If no application exists, a default application will be created."

We need to fix implementation rather than removing this feature.

[2018-03-29 14:35] containscafeine commented on #291
@kadel reworded the description

[2018-03-29 14:57] kadel commented on #291
+1

[2018-03-29 15:02] #210 closed

[2018-03-29 15:03] #209 closed

[2018-03-29 15:04] #96 closed

[2018-03-29 17:02] cdrage opened #296 "Use `app` alias instead of `application`"
IMO `app` is much faster / easier to type, should we prioritise / have `ocdev --help` highlight `app` rather that `application`?

[2018-03-29 17:23] cdrage opened #297 "Listing *everything* under `ocdev list`"
One of the things we should work on is simplification. With `create` `delete` and eventually `logs` being added. I believe that we should work on consolidating each list command into *ONE* command.

For example:

Instead of having:
[code]

This can be replaced by *one* command, just `ocdev list` which will list everything in a neatly formatted table (using: https://golang.org/pkg/text/tabwriter/)

[2018-04-02 11:29] jorgemoralespou commented on #297
ocdev list should provide same output as ocdev component list
See https://github.com/redhat-developer/ocdev/pull/225

[2018-04-03 12:43] slemeur commented on #222
This user story is already in place. For the purpose of the MVP release, we are fine.

If we have time to address the different refinements that we are looking for, that would be wonderful, but I think we should postpone those to after the mvp release.

Maybe we should be splitting this story, between the user story (already implemented) and the improvements to clarify that here we need to iterate

[2018-04-03 12:46] ashetty1 commented on #267
Listing the PRs so far merged:

PR #242
PR #268

[2018-04-03 12:46] slemeur commented on #219
Will need clarify on how this could be achieve in order to be taken in the Milestone-MVP

[2018-04-03 12:48] ashetty1 commented on #267
A complete coverage matrix for e2e tests maintained here: https://github.com/redhat-developer/ocdev/tree/master/tests/e2e

[2018-04-03 12:52] slemeur commented on #207
I would move forward with the normal s2i, which would allow to deliver the user story in a short time.

Once we'll have an initial release we will have time to refine this and use different components.

[2018-04-03 13:09] slemeur commented on #214
I think this issue is going to be pretty impactful to end-users.

Would be ideal to fix it before we ship the Milestone-MVP

[2018-04-03 13:14] jorgemoralespou commented on #207
@kadel @slemeur yes, we should move forward as this really would require some changes/tweaks to the DeploymentConfig. Ideally (when solved) we will modify the DeploymentConfig to have a supervisor process, that will be injected via an Init container, that will take care of properly reloading the server when appropriate. As mentioned in the initial issue, there's a prototype working, and we would p

[2018-04-03 13:44] ashetty1 opened #299 "False positive when ocdev create fails"
Looks like we have a false positive issue here with the exit status being 0 when the `create` operation has failed.

[code]

[2018-04-03 17:32] cdrage commented on #201
This has been implemented :+1:
[code]

Via: #279

[2018-04-03 17:33] cdrage commented on #177
@kadel Okay, I'll begin digging through code in order to get the logs from via a library (specifically DeploymentConfig!)

[2018-04-04 09:37] kadel commented on #177
There are a few stuff that I think is more important than this. We should fix several painful bugs first.

[2018-04-04 13:07] kadel commented on #88
closing this.
currently, we are showing a nicer message:
[code]

yes, this still can be better ;-) But I would say that it is ok for now.

[2018-04-04 13:07] #88 closed

[2018-04-04 13:11] kadel commented on #127
`component.List` was implemented, so we can proceed with this

[2018-04-04 13:12] kadel commented on #143
this is no longer blocked

but it is duplicate of https://github.com/redhat-developer/ocdev/issues/127

[2018-04-04 13:12] #143 closed

[2018-04-04 13:13] kadel commented on #232
no longer relevant as we slowly moving everything to client-go

[2018-04-04 13:13] #232 closed

[2018-04-04 13:15] kadel commented on #98
tracked in https://github.com/redhat-developer/ocdev/issues/257

[2018-04-04 13:15] #98 closed

[2018-04-04 15:12] cdrage commented on #214
I'm going to assign this to myself and take a stab at it. If I don't make much progress the next couple of days I'll try getting some help :+1:

[2018-04-04 15:50] cdrage opened #302 "`ocdev app foobar` should switch to foobar"
Similar to component, using `ocdev app foobar` should switch to the `foobar` application rather than using `ocdev app set`

[2018-04-04 17:03] cdrage commented on #261
Odd.. Still unable to do it... I'll try to push a PR later:

[code]

[2018-04-04 17:47] cdrage opened #304 "Errors when using SetCurrent function after deletion"
I'm constantly getting these errors when there are *zero* components left.

Steps to reproduce (simply delete your component)

[code]

I have a feeling it's due to:
https://github.com/redhat-developer/ocdev/blob/master/pkg/config/config.go#L117

Since it's being passed in with a blank variable here:
https://github.com/redhat-developer/ocdev/blob/master/pkg/component/component.go#L140

[2018-04-04 18:27] cdrage opened #305 "Delete should check earlier if a component exists"
We should have a more informative error / error out earlier if a component does not exist:

[code]

[2018-04-04 18:35] cdrage opened #306 "No output at all when using `ocdev create`"
When we used the `oc` binary we had a lot of helpful output, but after using the latest master, I'm getting nothing.

Steps to re-create (just create a new application/component):

[code]

[2018-04-04 18:45] cdrage opened #307 "Adding more information to `./odev create` for "components""
It's a tad confusing as to what's going on here within the help. I suggest that add some information with regards to the different types of default build images you're able to deploy (ruby, nodejs, java, etc.) from here: https://docs.openshift.com/enterprise/3.1/dev_guide/new_app.html

[2018-04-04 18:49] cdrage commented on #283
Hey @ashetty1 what's the status on this? I recently received a failure here: https://travis-ci.org/redhat-developer/ocdev/jobs/362277540#L584 but there was still no error or stdout, I don't see anything unfortunately that could help debug error outputs.

[2018-04-04 18:50] cdrage commented on #283
Output:

[code]

[2018-04-04 18:52] cdrage commented on #283
Could we please output `runCmd` command to fmt.Println when the tests are running so we can see the *exact* command line we're failing ont?

[2018-04-04 18:54] cdrage commented on #283
I think we should to two things:

 - Change names "usecase", etc. to something more descriptive
 - Better command-line output / information when running `make test-e2e` so we may diagnose the error.

@kadel @ashetty1

[2018-04-04 19:10] cdrage commented on #283
I did a quick look through http://onsi.github.io/ginkgo/#organizing-specs-with-containers-describe-and-context and there's some functions related to logging that may help.

[2018-04-05 08:16] kadel commented on #218
I'm a little bit confused about this sentence.
Should this say "If there's already one **component** with that name in the current application, give an error before creating anything." ?

[2018-04-05 08:29] kadel commented on #261
Sorry but I still don't' understand this :-(
What do you mean by add multiple components?

If I run `ocdev create nodejs foo -v --local nodejs-ex`  everything works for me. After that, I can create the second component with `ocdev create nodejs foo -v --local nodejs-ex` and after that third `ocdev create python --local blog-djang-py`

[2018-04-05 08:33] kadel commented on #306
duplicate of https://github.com/redhat-developer/ocdev/issues/264

[2018-04-05 08:33] #306 closed

[2018-04-05 08:35] kadel commented on #143
Duplicate of #127

[2018-04-05 11:50] containscafeine opened #310 "ocdev switches to non-existent components"
[code]

[2018-04-05 12:07] kadel commented on #310
Duplicate of #127

[2018-04-05 12:08] kadel commented on #310
This is just another formulation of an already existing issue.

[2018-04-05 12:08] #310 closed

[2018-04-05 12:31] kadel opened #311 "e2e tests should clean after itself"
Currently e2e test creates new project when it starts. But it ever deletes it.

Tests should clean after themselves. This cleanup should happen no matter of status that test finished with.

[2018-04-05 12:36] containscafeine opened #312 "we should pass `os.Writer` to FollowBuildLog instead of assuming STDOUT"
In pkg/occlient/occlient.go, $SUBJECT

[2018-04-05 12:43] mik-dass opened #313 "Error while following buildLogs"
[mdas@localhost ocdev]$ ./ocdev create nodejs nodejsnew --git https://github.com/kadel/nodejs-ex
    Cloning "https://github.com/kadel/nodejs-ex" ...
        Commit: 371a6d09a052b126016858563bc5c71ba56deec8 (save counter to file if db is not available)
        Author: Tomas Kral <tkral@redhat.com>
        Date:   Mon Feb 12 12:25:30 2018 +0100
    ---> Installing application source ...
    ---> Bu

[2018-04-05 12:44] kadel commented on #312
You are reading my mind ;-)

[2018-04-05 12:45] ashetty1 commented on #283
@cdrage, Taking this up on priority:

1. Print trace when any operation fails
2. Organise logging when we have VERBOSE=yes

[2018-04-05 12:47] cdrage commented on #283
@ashetty1 I tried with the Ginko testing and unfortunatley I can't get any tracing. I used `ginko --trace` and nothing..

[2018-04-05 12:50] ashetty1 commented on #283
@cdrage I am try and see if I can improve the output of `runCmd`. If that fails, we should we do away with `runCmd` function and handle the errors with assertions (that's too much manual work thought).

[2018-04-05 12:52] kadel commented on #283
This is something that might be helpful @ashetty1  https://onsi.github.io/ginkgo/#marking-specs-as-failed

[2018-04-05 13:07] containscafeine opened #314 "Introduce `ocdev status` command"
It would be great to see an overall detailed view of what resources have been deployed using ocdev. It should list all applications, components, urls, etc.

[2018-04-05 13:17] cdrage commented on #264
@kadel Going to mark this as an MVP since this is high priority / need to be fixed before initial ocdev release.

[2018-04-05 13:55] cdrage opened #315 "Test update command within test_e2e.go"
We should be testing `ocdev update` since we're testing `ocdev push` already within our end-to-end tests.

[2018-04-05 13:59] cdrage opened #316 "Fail within ginko testing not os.Exit(1)"
We should be failing using: https://onsi.github.io/ginkgo/#marking-specs-as-failed within our end-to-end tests rather than using: https://github.com/redhat-developer/ocdev/blob/master/tests/e2e/e2e_test.go#L41

I suggest that we modify https://github.com/redhat-developer/ocdev/blob/master/tests/e2e/e2e_test.go#L28 to return `err` and if it errors, use `Fail("Failure reason")` with the stderr outpu

[2018-04-05 14:03] cdrage commented on #316
ping @ashetty1

[2018-04-05 14:03] cdrage commented on #315
ping @ashetty1

[2018-04-05 14:18] kadel commented on #264
@cdrage there is already PR for his

[2018-04-05 15:01] slemeur commented on #219
@kadel : To check the complexity based on the information given by @jorgemoralespou .

[2018-04-05 15:28] kadel commented on #316
When this issue gets fixed, please remove the verbose flag that was added in https://github.com/redhat-developer/ocdev/pull/308.

[2018-04-05 17:55] cdrage opened #318 "Display what components / build builds work (nodejs, ruby, java, etc.) and detect custom ones."
`ocdev create` should provide better help / description outlining what you can do with the components. For example, listing that:

 - Ruby
 - Node.JS
 - Java
 - PHP

All work with OpenShift.

Also, instead of erroring out, `ocdev` should also check OpenShift for what custom Image Builds are available and list them all.

[2018-04-05 19:14] cdrage opened #319 "Error out / better description when there is no components listed."
Ran into this earlier today when I didn't have an application set:

[code]

We should be checking to see if the component is actually available (not blank / is available) and error out better / notify the user that no component is actually selected / there are none / there is no actual application selected either.

[2018-04-06 13:04] kadel commented on #218
Check if Application doesn't exist is already there
[code]

[2018-04-06 13:04] #218 closed

[2018-04-09 15:08] kadel opened #327 "`create --local` should NOT trigger build"
When a local component is created the build shouldn't be triggered.
It should just create a component and wait for the user to run `ocdev push` to build component.

If the component is created from remote git than it is ok to start building component right away.

[2018-04-09 15:15] jorgemoralespou commented on #327
When the component is created:
- A build configuration should be created as binary build
- There should be no triggers happening (if they happen automatically) don't create with triggers and add them after in a second action
- If trigger was removed (add it)
- Give some hint about the component being created (and need to run push to start a build)

When push happens:
- Start a binary build from th

[2018-04-09 19:58] cdrage opened #328 "Add Java / Ruby / etc examples."
Few things I noticed:

 - ~~Update with new commands (`ocdev create` instead of `ocdev component create`)~~
 - ~~Add `ocdev url`~~
 - Maybe add other examples for Ruby, Java, etc.

[2018-04-10 13:03] slemeur opened #329 "Support Katacoda scenario"
## Description
The OpenShift developer CLI will be demoed during RH Summit. It will be an hands-on interactive Katacoda course highlighting `ocdev` workflow that visitors will be able to take at OpenShift booth.

For that, the OpenShift evangelist team is building a Katacoda scenario which will be available similarly to https://learn.openshift.com/.

(A first draft of the scenario is available her

[2018-04-10 13:14] cdrage commented on #328
@kadel thanks :)

[2018-04-10 14:40] containscafeine commented on #318
@cdrage part of this can be resolved with using `ocdev catalog list` -
[code]
Do you suggest that we add more description with every component?

So besides the error, do you suggest that we list all the available components?

[2018-04-10 14:41] containscafeine commented on #264
Fixed in #301

[2018-04-10 14:41] #264 closed

[2018-04-10 14:44] containscafeine commented on #313
not always reproducible. Let's keep it open just in case this happen often.

[2018-04-10 14:48] containscafeine commented on #302
yep, I think we should have explicit subcommands like `set` to achieve this due to other positional subcommands.

[2018-04-10 14:49] containscafeine commented on #305
@cdrage now that #277 is in, do you still face this?

[2018-04-10 14:50] containscafeine commented on #305
Because #277 prints only the cause of the error, and not the entire error. The entire error is still visible in verbose mode though.

[2018-04-10 14:52] containscafeine commented on #304
Related to #251?

[2018-04-10 14:54] containscafeine commented on #201
I think @jorgemoralespou wants to delete the current component just by running `ocdev delete`, that's not the current behavior.

[2018-04-10 14:55] containscafeine commented on #267
This is going awesome :fire:

[2018-04-10 14:57] containscafeine commented on #297
@cdrage I agree. How about `ocdev status`? #314

[2018-04-10 14:57] mik-dass opened #331 "Following build log fails due to race condition"
Following build log fails as the  `buildConfig.Status.LastVersion` is not updated due to race condition and the build starts after some time delay.

    [mdas@localhost ocdev]$ ./ocdev create nodejs nodejsnew --git https://github.com/kadel/nodejs-ex
    please wait, building component...
    builds.build.openshift.io "nodejsnew-0" not found

[2018-04-10 14:58] containscafeine commented on #314
Closing in favor of #297, it's better described

[2018-04-10 14:58] #314 closed

[2018-04-10 15:02] containscafeine commented on #4
Closing this since we already have a framework in place, feel free to re-open if someone thinks otherwise

[2018-04-10 15:02] #4 closed

[2018-04-10 15:29] mik-dass commented on #305
@cdrage This is the current output

    [mdas@localhost ocdev]$ ./ocdev delete thisisatest -f
    unable to set  component as active, application blah-project in app project doesn't exists

[2018-04-10 17:23] slemeur opened #332 "'odo' community enablement"
## Description
`odo` developer CLI for OpenShift is reaching the state where it could be used by end-user. We want to enable the community to start using `odo` and provide feedback about their developer experience on OpenShift using `odo`.

We should be ready to welcome the community on the project, from both using and contributing aspects. For that we should be building a simple webpage for the p

[2018-04-10 17:44] slemeur opened #333 "Leverage RHOAR in `odo`"
## Description
[RHOAR](https://developers.redhat.com/products/rhoar/overview/) provides application runtimes for OpenShift. Associated to the application runtimes, RHOAR provides a set of project templates which showcase how developers can use the application runtime for building fundamental blocks of cloud-native applications. (like creating RESTful APIs, implementing health checks, configmap or

[2018-04-10 18:12] concaf opened #334 "Add unit tests for pkg/storage/storage.go"
Let's get #295 in first because a lot of PRs are blocked on it. Will add unit tests in a bit.

[2018-04-10 20:03] cdrage commented on #318
@containscafeine Yes on both. I suggest we improve the description as well as the error out better :+1: I'll assign this to myself.

[2018-04-10 20:04] cdrage commented on #302
Yeah.. I'm going to close this. I agree with both above ^^

[2018-04-10 20:04] #302 closed

[2018-04-10 20:04] cdrage commented on #304
Yup. It's the same ^^

[2018-04-10 20:04] cdrage commented on #304
Yup. It's the same ^^

[2018-04-10 20:04] #304 closed

[2018-04-10 20:05] cdrage commented on #305
Still bad error / descriptions ^^ let's keep this open

[2018-04-11 10:24] kadel opened #336 "Rename project to 'odo'"

[2018-04-11 11:30] kadel opened #337 "storage is not deleted when deleting component"
PVC is not deleted when deleting component

[2018-04-11 11:37] kadel opened #338 "unable to add two storages to the same component"
[code]

[2018-04-11 11:38] kadel commented on #338
PVC name should probably contain random value like how volume name is generated in container spec.

[2018-04-11 11:47] surajnarwade commented on #336
anyone working on it ?

[2018-04-11 11:58] surajnarwade commented on #336
if noone is working, I'll take this.
ODO ODO :D

[2018-04-11 12:23] containscafeine opened #340 "Check if bash completion works for CentOS 7.3.1611"

[2018-04-11 12:37] containscafeine commented on #340
"bash-completion" package needs to be installed for this to work

[2018-04-11 12:37] #340 closed

[2018-04-11 13:11] containscafeine commented on #285
Fixed in #295

[2018-04-11 13:11] #285 closed

[2018-04-11 13:17] containscafeine commented on #226
@kadel fix in #341

[2018-04-11 13:18] kadel opened #342 "Add link command"
subtask of #171

example:
link current component with backend component:
[code]
[code]
Link frontend component to the backend.

What that means is that env variables describing how to connect to backends Service will be injected to frontends DeploymentConfig.

Steps to do this:
Find service for `backend` component.
Get ip and port of that service.
Add following env variables to DeploymentConfig fo

[2018-04-11 13:40] kadel opened #343 "ocdev url create should display full url with protocol"
`ocdev url create` just displays hostname of the create route.

It should display full url with protocol (http://), so users can click on it in terminals

[2018-04-11 16:05] cdrage commented on #251
I started investigating this / writing some code and I'm a bit confused as to what we're doing here: https://github.com/redhat-developer/ocdev/blob/master/pkg/component/component.go#L153

I understand that we are setting it as "blank". But within this code: https://github.com/redhat-developer/ocdev/blob/master/pkg/config/config.go#L117

We are iterating through each application to see if the (in o

[2018-04-11 16:35] cdrage commented on #251
@kadel @containscafeine

Ahhhh, found the bug: https://github.com/redhat-developer/ocdev/blob/master/pkg/component/component.go#L153 application and project was flipped in the function..

Anyways! I still pushed a PR since we should really have a separate function for setting currentComponent to blank: https://github.com/redhat-developer/ocdev/pull/345

[2018-04-11 18:17] cdrage commented on #262
Duplicate of: https://github.com/redhat-developer/ocdev/issues/251

[2018-04-11 18:17] #262 closed

[2018-04-11 18:19] cdrage commented on #316
Closing this as https://github.com/redhat-developer/ocdev/pull/320 was merged and then https://github.com/redhat-developer/ocdev/pull/322 (to remove the verbose output).

Closing this issue!

[2018-04-11 18:19] #316 closed

[2018-04-11 19:00] cdrage opened #347 "We're using errors.Wrapf() way too much."
I've noticed that debugging is fairly difficult with our error messages.

What's happening is that we're losing a lot of context with regards to erroring... We're ending up with giant massive error messages that (usually) make no sense.

Instead of using:

[code]

We should be returning the *context* the "deepest" error message within the code like so:

[code]

What's happening is that we end up w

[2018-04-11 19:01] cdrage commented on #127
I've assigned this to myself and started the work here: https://github.com/cdrage/ocdev/tree/check-setcurrent-exists I'll push a PR ASAP.

[2018-04-12 08:14] containscafeine commented on #347
I agree that user facing errors should be way better formatted than what we are printing right now, but while debugging, then wrapped errors really help me going to the root cause very quickly, so I'd like to keep that.
I think we need to have a set of pre-formatted errors which we send to the user by checking the underlying error. Need to think more about this, and also need to read the blogs tha

[2018-04-12 08:15] kadel commented on #347
I'm a little bit torn here. I don't like wrapping also, but I see its benefits.

How you find where the error was raised if the function is called in multiple places in code?
Error wrapping gives you nice context what path the code took.

[code]
Is different than what errors.Wrap does. `errors.Wrap` doesn't' destroy any context, bu it adds more context to it the error. For example, you can get str

[2018-04-12 08:28] surajnarwade opened #348 "storage.list should return `path` also"
storage list returns list of `StorageInfo` whereas storageinfo consist of name, size & path.
but currently `storage.list` returns only two things, name & size.

[2018-04-12 10:29] containscafeine commented on #348
Fix in #349

[2018-04-12 10:44] containscafeine opened #350 "Application should not be created in component package"
We are calling `application.Create()` a lot of times in  `pkg/component/component.go`. This should not happen. The application creating logic should be outside `package component`, it should probably be called in `package cmd` before calling `component.Create()`. As an effect of this, the application name will be passed as a parameter to `component.Create()`.Z

[2018-04-12 13:41] kadel commented on #219
this is equivalent of running `oc start-build buildname --binary ./path/to/file.war`

[2018-04-12 15:59] cdrage commented on #318
PR: https://github.com/redhat-developer/odo/pull/335

[2018-04-12 19:18] containscafeine opened #356 "Add Validate(), Execute() to cmd/"
We should uniformly follow the execution of every command. First we should validate the input, e.g. validate if the component exists, or application exists, etc. Then we should execute the program.

It would be worthwhile to refactor code such as to accommodate an interface that helps us with this.

Something like -
[code]

[2018-04-12 19:34] containscafeine commented on #266
Mind dump -
1. get the kind of component type from `catalog.List()`, i.e. if it's an image stream or if it's a template
2. in either case, I should get a variable of type component, which implements an interface that looks like -
[code]
3. call the relevant method on the component type

[2018-04-12 19:59] #336 closed

[2018-04-13 07:43] mik-dass commented on #319
@cdrage @kadel @containscafeine Should the error message display one error message or multiple depending upon the type of the error like no application exists or no application is set as active?

[2018-04-13 08:39] kadel commented on #266
don't understand the interface part :-(

[2018-04-13 08:47] kadel commented on #319
In the situation shown above, the message should warn the user about the component.
It should show display that there is no active component.

[2018-04-13 08:53] kadel commented on #238
I don't actually need CRD to solve our problem with applications and storing current component. We could store this information in `Project` annotations.

[2018-04-13 08:57] kadel opened #360 "REGRESSION - can't create component"
I'm starting with an empty config.

[code]

The expected behavior is that default application will be created.

@ashetty1 It looks like this was introduced in some of the latest PRs and we don't' cover this in test.
Can you please this use to e2e tests?

[2018-04-13 08:59] mik-dass commented on #319
@kadel What if no application or component is present and the user executes the command?

[2018-04-13 09:13] kadel commented on #319
no component also means no active component, so that is the same.

If there is no active application then it should display a message informing the user about that.
But currently that is harder to check, you will probably need changes in https://github.com/redhat-developer/odo/pull/358/files for that.

[2018-04-13 09:19] mik-dass commented on #319
@kadel and what about a empty project with no applications in it?

[2018-04-13 09:34] kadel commented on #360
It looks like https://github.com/redhat-developer/odo/pull/358 will fix this

[2018-04-13 09:41] mik-dass commented on #319
@kadel Ok got it but should the error message in both cases be same or different?

[2018-04-13 10:52] kadel commented on #319
different

[2018-04-13 12:07] kadel commented on #219
This will be touching the same parts in code base as #327.
#327 should be fixed before we start working on this.

[2018-04-13 17:41] cdrage opened #364 "Logging should be using `log` not fmt.Println"
Logging should be using INFO  / WARN / ERROR from the log package rather than using `fmt.Println` for all output.

This cleans up the UX / UI as well as makes logging uniform throughout the code (we use log for debug, but for warnings and normal output we use `fmt.Println`

[2018-04-13 18:27] piyush1594 commented on #249
As the project is renamed to `odo`. we should close this.

[2018-04-14 07:34] jorgemoralespou commented on #207
We should not consider watch for scaled workloads of more than 1 pod

[2018-04-16 06:27] mik-dass commented on #305
I think we should close it as the fix for this has been merged.

[2018-04-16 06:58] kadel commented on #364
I'm not sure about this. What is wrong with using `Println`?

[2018-04-16 07:23] kadel opened #368 "Infinite loop in e2e"
There is a for loop that can run forever in e2e tests

https://github.com/redhat-developer/odo/blob/master/tests/e2e/e2e_test.go#L219

[2018-04-16 07:37] #343 closed

[2018-04-16 07:40] kadel commented on #72
Does this issue still make sense if we are moving away from using `oc` binary?

[2018-04-16 09:32] kadel commented on #118
This has been postponed. We will move it once the tool is a little bit more mature.

[2018-04-16 11:34] containscafeine opened #371 "odo watch improvements"
- [ ] it should ignore temp files like `.swp`
- [ ] if the directory is git controlled, then unstaged files should be ignored
- [ ] if files are constantly changing, then it should wait for changes to slow down. We should have something like a change_timeout, i.e. if nothing has changed in the past 10 seconds, then do a build, but if things are constantly changing, then wait for changes to stop
-

[2018-04-16 11:37] piyush1594 commented on #296
since #367 is merged, let's close this.

[2018-04-16 11:58] kadel commented on #371
I don't think they should be ignored

There might be no build in the future

[2018-04-16 12:32] mik-dass opened #373 "Switching to a non-existing project"
[mdas@localhost odo]$ ./odo project list
     ACTIVE   NAME
              blah-project
              myproject
       *      reed
     [mdas@localhost odo]$ ./odo project set nodejs
     Now using project : nodejs

Without creating currently we can switch to a non-existing project

[2018-04-16 12:40] kadel commented on #373
the same is true for component https://github.com/redhat-developer/odo/issues/127

[2018-04-16 12:41] #296 closed

[2018-04-16 12:54] cdrage commented on #364
Nothing wrong with using Prinln for communicating (better than INFO being everywhere), it's more for debug messages as well as warning messages and errors that should be outputted via `logrus` or `log`.

[2018-04-16 12:57] #327 closed

[2018-04-16 12:57] containscafeine commented on #72
I think adding the server version makes sense, the client version does not. Instead of the client version, we can print the client's API version which client-go can(should) provide us. But yes, this should be implemented using client-go and not `oc` binary

[2018-04-16 13:16] kadel commented on #364
One more thing. Is it possible to modify logrus output?
I don't that showing `ERR[0000]` is good UX.

[2018-04-16 14:01] cdrage commented on #364
@kadel I've already removed the timestamps so that it only shows ERR, however, yeah, we can change it to "ERROR" instead.

[2018-04-16 14:14] containscafeine commented on #305
@mik-dass can you link the PR/commit?

[2018-04-16 14:25] kadel commented on #305
it is already mentioned above @mik-dass 's comment

[2018-04-16 14:29] kadel commented on #207
First steps towards this are done in #325 - right now it just sync files the same way `oc rsync` does. The only difference is that it automatically detects pod for component and target path in pod is hardcoded to `/opt/app-root/src/`

[2018-04-16 14:40] containscafeine commented on #305
Okay, it's #359, missed it :P

[2018-04-16 16:02] #360 closed

[2018-04-16 16:04] containscafeine commented on #342
Fixed in #354

[2018-04-16 16:04] #342 closed

[2018-04-16 16:04] containscafeine commented on #171
Linking has been implemented in #342

[2018-04-16 17:27] cdrage opened #376 "Development.md / glide instructions"
Completely forgot how to vendor, so I had to look through some older projects to remember how to add a new dependency (and all the funky things we do with openshift + kubernetes dependencies).

We should add a development.md / glide instructions to Odo.

[2018-04-16 17:43] cdrage opened #377 "Glide issues (unable to find 'i' in github.com/openshift/api/route/v1)"
Anyone else getting these Glide issues when running `glide update --strip-vendor`?

[code]

[2018-04-16 17:46] cdrage commented on #377
https://github.com/Masterminds/glide/issues/945 maybe (just investigating now what I can do..)

[2018-04-16 17:54] cdrage commented on #377
Seems that simply adding: `- package: github.com/openshift/api`

However, now I'm getting an issue with Docker:

[code]

[2018-04-17 00:37] ryanj opened #381 "README installation instructions are broken"
The binary path listed in the README instructions is incorrect:
https://github.com/redhat-developer/odo#installation

Feel free to disregard if a new release of `odo` is due soon, as the README's install URL will likely get patched as a part of that update process.

[2018-04-17 08:41] #196 closed

[2018-04-17 08:48] kadel commented on #381
Yep, said this was caused when we renamed the project to ODO.
Release 0.0.4 will be today, it will fix this.

[2018-04-17 09:53] containscafeine commented on #373
Closed in #384

[2018-04-17 09:53] #373 closed

[2018-04-17 09:54] containscafeine commented on #127
Hey @cdrage, I think this should be a pretty similar approach as in #384

[2018-04-17 11:05] kadel commented on #291
fixed in #358

[2018-04-17 11:05] #291 closed

[2018-04-17 16:13] kadel commented on #381
fixed in #386

[2018-04-17 16:13] #381 closed

[2018-04-18 08:18] surajnarwade opened #389 "`odo delete` shows unnecessary information"
`odo delete` also shows buildconfig, imagestream and other stuff, which developer will not care

[code]

[2018-04-18 09:06] surajnarwade commented on #51
Closing this issue since problem is resolved now,

[code]

[2018-04-18 09:06] #51 closed

[2018-04-18 11:06] surajnarwade commented on #299
@ashetty1 can you try this issue again ? since we have changed workflow now.

[2018-04-18 11:10] surajnarwade commented on #299
most probably, we have exit code for all cases there

[2018-04-18 11:13] surajnarwade commented on #36
Since we have `odo catalog list` now , closing this issue.

[2018-04-18 11:13] #36 closed

[2018-04-18 11:20] surajnarwade opened #391 "inconsistency in commands"
if we want to delete app, url or component, we have commands like,

[code]

But if you see storage part, it's

[code]

for consistency in UX, I think we should do,

[code]

[2018-04-18 11:26] surajnarwade commented on #297
@kadel @containscafeine @cdrage , as per the @jorgemoralespou's comment, `odo list` & `odo component list` should be the same. But, I am confused here,

* Are we going to deprecate `odo component <command>` ?

* if not, we should have consistency between `odo <command>` & `odo component <command>` ?

[2018-04-18 11:54] surajnarwade commented on #84
@jorgemoralespou , I think issue is being resolved now,

if there's no app,

[code]

if there's no ~/.kube/confg

[code]

[2018-04-18 12:44] cdrage opened #392 "Update release script?"
Found a few things missing on the release page:

- md5 hash
- installation instructions
- generated CHANGELOG using https://github.com/github-changelog-generator/github-changelog-generator)

Should we convert one of our previous projects release scripts (kedge/kompose) for `odo`?

[2018-04-18 13:00] cdrage commented on #389
Shouldn't we have "confirmation" information too within commands?

"Component blahblah has been deleted"

@kadel

[2018-04-18 13:10] ashetty1 opened #393 "false time-out with odo create"
`odo create --git` exited with a false time-out error with non-zero exit code even when it successfully created the build:

[code]

[2018-04-18 13:11] ashetty1 commented on #299
The command output has changed since this bug has been filed. So closing this.

[2018-04-18 13:12] #299 closed

[2018-04-18 13:29] surajnarwade commented on #389
@cdrage it's already there,

[code]

[2018-04-18 13:47] cdrage commented on #389
@surajnarwade I'm recommending a message *after* it's been deleted (confirmed with the oc command that's being used)

[2018-04-18 14:25] #217 closed

[2018-04-18 15:16] kadel commented on #377
I've tried to reproduce this, but no luck.
Everything works fine for me. Even after adding  `- package: github.com/openshift/api`

[2018-04-18 15:46] cdrage commented on #377
Seems that after deleting glide completely / deleting vendor / reverting to an older version of Glide I was able to fix this. No idea what caused it however (even searching on Google people spontaniously have this error and dissapears).

I have a hunch however it was due to a GitHub redirection issue or a part of GitHub being down (I had TLS errors earlier in the day hitting their API). Anyways, c

[2018-04-18 15:46] #377 closed

[2018-04-18 19:13] cdrage commented on #214
Hey @kadel just want your thoughts on this,

should we be "hiding" the namespaces?

I'm currently re-implementing the PR and I added most of the code under `cmd` rather than then the `application` and `component` packages.

So now It's coming up as:

[code]

It's a *much* easier implementation, but of-course, the "application name" is being listed when doing anything to do with list.

Should we hi

[2018-04-18 19:38] cdrage commented on #318
This has been merged :+1:

[2018-04-18 19:38] #318 closed

[2018-04-19 07:57] kadel opened #395 "Research how to properly mocking client-go for writing unit tests"
We have to start writing unit tests.
Because most of our code revolves around client-go (both kubernetes and openshift) we need to figure out a way how to properly write unit tests for functions using client-go calls.

It might be good to look at other projects using kubernetes/client-go and see how they are doing unit testing

[2018-04-19 08:02] kadel commented on #395
This is nice short article showing simple example how to use fake client https://medium.com/@e_frogers/unit-testing-with-kubernetes-client-go-283b11aaa7db

[2018-04-19 08:35] mik-dass opened #396 "Check flag in create.go"
Check flags - only one of binary, git, dir can be specified in create.go

[2018-04-19 10:02] mik-dass opened #398 "New line in odo delete"
[code]

[2018-04-19 10:09] surajnarwade commented on #389
@cdrage I have added the `information` part in PR, please check #390

[2018-04-19 10:13] surajnarwade commented on #398
Fixed in #390

[2018-04-19 10:13] mik-dass commented on #398
OK :+1:

[2018-04-19 10:13] #398 closed

[2018-04-19 10:30] syamgk commented on #391
I like to work on this

[2018-04-19 10:32] surajnarwade commented on #274
@kadel sounds good to me, but this is not implemented in `application` either. I am creating issue for the same

[2018-04-19 10:32] kadel commented on #274
We need to find some systematic solution for this.
If we can't then we might allow switching only with `set` subcommand.

[2018-04-19 10:33] kadel commented on #274
hold the horses ;-) lets think about it first ;-)

[2018-04-19 10:33] kadel commented on #274
the same problem is also with `component`

[2018-04-19 10:37] kadel commented on #297
`odo component` used should be only for setting and getting current component

`odo component mycomponent` - set current component to mycomponent
`odo component` - get current component

`odo list` - display list of components

[2018-04-19 10:38] surajnarwade commented on #274
@kadel , currently for `application` & `project`, if we do,

[code]

and for project,

[code]

they just show current thing

[2018-04-19 10:43] kadel commented on #297
I'm not sure if this table will work.
One project can have multiple applications, and one application can have multiple components.
So it could look like this.

[code]

I'm not sure if output like this will be usefull for user.

[2018-04-19 10:50] kadel commented on #392
Installation instructions are in README.md

We are doing a poor job in naming our PRs and Issues. If you try to generate changelog from that, it gets messy :-(  If we would like to generate some useful changelog we have to get better in describing and labeling PRs. But currently, we can't even properly label Issues :-(

Building release artifacts are already fully automated.
All you have to do is

[2018-04-19 11:02] #389 closed

[2018-04-19 11:16] surajnarwade commented on #396
I am taking this

[2018-04-19 11:40] surajnarwade commented on #260
since we have validation mechanism for component now,

[code]
We can close this issue :)

[2018-04-19 11:41] surajnarwade commented on #259
@cdrage can you please elaborate what kind of information we should print ?

[2018-04-19 11:42] surajnarwade commented on #391
@containscafeine  @kadel @cdrage WDYT ?

[2018-04-19 11:46] kadel commented on #393
what version (git revision)?

[2018-04-19 11:46] surajnarwade commented on #393
Hey @ashetty1 , I tried to reproduce this issue, But it's working fine for me, Maybe it's due to slow internet connection maybe.

[code]

[2018-04-19 11:49] kadel commented on #393
@ashetty1 were you able to catch this error with verbose mode?

[2018-04-19 11:59] syamgk commented on #256
as of now, we have `odo list` doing the same
[code]

and I assume it should be something like
[code]
@cdrage  WDYT?

[2018-04-19 12:00] cdrage commented on #391
Seems good to me (better consistency)

[2018-04-19 12:01] cdrage commented on #259
@surajnarwade @kadel Simple message such as "X has been deployed" to confirm the deployment or even instructions on how to access the component.

[2018-04-19 12:01] cdrage commented on #260
@surajnarwade thanks :)

[2018-04-19 12:01] #260 closed

[2018-04-19 12:07] cdrage commented on #392
@kadel Installation instructions on the release page :+1:

Okay, no worries. I was looking at automating the PR creation too (going through and updating versioning as well) as well as tagging / releasing similar to what we had in other projects instead of having to do the PR manually!

But let's do this as super low-priority? I like how we have the bot to create the binaries and all.

[2018-04-19 12:16] ashetty1 commented on #393
Weird. Tried again on latest master, and it seems to be working. So closing this issue.

[2018-04-19 12:16] #393 closed

[2018-04-19 13:01] #197 closed

[2018-04-19 13:04] kadel commented on #214
Yes, we should hide it.
Uses should be exposed just to component names.

Internally every OpenShift object that we create has `app.kubernetes.io/component-name` to store component name and `app.kubernetes.io/name`   to store app name.
I was thinking that we should use those labels for most of the operations that we do on OpenShift object, so we don't have to really on actual object names.

[2018-04-19 13:49] kadel opened #401 "run e2e tests and unit tests on Windows and macOS"
Currently, we run our tests only on Linux we should run it also on Windows and macOS.
we can run macOS test on travis, and for windows we can use https://www.appveyor.com/ or our internal resources.

Windows is a priority right now.

[2018-04-19 13:58] kadel commented on #207
Some notes from Jorge:

When you create a component, by default should create the deployment config with the init-container and Graham's hack that will copy the s2i assemble scripts to the image and install/create the supervisor process.

When you update the component to use git it should remove this configuration.

When you update this component to either local/binary it should add back this conf

[2018-04-19 14:06] cdrage commented on #201
Closed via PR: https://github.com/redhat-developer/odo/pull/387

[2018-04-19 14:06] #201 closed

[2018-04-19 14:08] containscafeine commented on #267
This is ongoing work, I guess we can close this

[2018-04-19 14:08] #267 closed

[2018-04-19 14:15] kadel commented on #84
This is current behavior:

[code]

We should add some message explaining what user should do (oc login)

[2018-04-20 08:26] kadel opened #402 "Windows : unknown characters in debug output"
There are some strange unknown unicode characters in windows console in odo debug output.

![wd0f2ps](https://user-images.githubusercontent.com/57206/39039108-300c2914-4485-11e8-8913-7e21ff496f66.png)

[2018-04-20 08:30] kadel commented on #72
closed in #366

[2018-04-20 08:30] #72 closed

[2018-04-20 11:36] mik-dass commented on #331
Since the new changes in component.go in #363 , we don't use GetLatestBuildName function thereby not using buildConfig.Status.LastVersion which was not updated in time earlier

[2018-04-20 11:36] #331 closed

[2018-04-20 11:39] containscafeine commented on #274
I disagree :( I think we should be switching only using `set`

[2018-04-20 13:16] surajnarwade commented on #396
Closing this issue since #399 is merged

[2018-04-20 13:16] #396 closed

[2018-04-20 13:34] containscafeine commented on #274
`odo project xyz`, `odo app xyz`, `odo xyz` should all returns errors.
Set should happen using `odo project set xyz`, `odo app set xyz`

[2018-04-20 14:44] cdrage commented on #402
Issue: https://github.com/sirupsen/logrus/issues/172 it looks like.

[2018-04-23 06:44] #368 closed

[2018-04-23 06:59] kadel commented on #391
closed in #407

[2018-04-23 06:59] #391 closed

[2018-04-23 07:40] #256 closed

[2018-04-23 08:00] surajnarwade commented on #274
@kadel what do you think on @containscafeine comment ? I liked this way. (I mentioned this earlier too)

[2018-04-23 08:06] surajnarwade commented on #266
@containscafeine , can you please elaborate on the interface part

[2018-04-23 09:08] kadel commented on #274
I don't have anything against it, but the problem is that it is inconsistent with how you switch components. `odo component xzy`

[2018-04-23 11:35] surajnarwade commented on #274
I am confused now :|

[2018-04-23 11:52] kadel commented on #274
`odo project set xyz`
`odo app set xyz`
vs.
`odo component xyz`

`set` is used for project and app, but not for `component`. That is the inconsistency I'm talking about.

[2018-04-23 13:36] #204 closed

[2018-04-23 20:29] cdrage commented on #364
Going to close this for now (see my comment here: https://github.com/redhat-developer/odo/pull/365) there's no point switching to a different logging system until we stop developing / moving so fast.

[2018-04-23 20:31] #364 closed

[2018-04-23 20:32] cdrage commented on #127
Closed via: https://github.com/redhat-developer/odo/pull/388/files

[2018-04-23 20:32] #127 closed

[2018-04-24 06:54] mik-dass commented on #319
@kadel Can we close this?

[2018-04-24 06:59] kadel commented on #319
fixed in #374

[2018-04-24 06:59] #319 closed

[2018-04-24 13:27] cdrage opened #415 "Add test for url creation / test for correct name"
We should be checking for the correct name for route / url creation.

Tomas encountered this here: https://github.com/redhat-developer/odo/pull/411

We should check that if we create a route with an example app (`nodejs`) that it correctly creates a route `nodejs.etc.nip.io`.

[2018-04-24 14:54] cdrage commented on #177
@kadel Going over how to implement this.

First off, we will simply alias to `oc` for this, until we convert it to it's API counterpart.

What do you think of this?

[code]

Implementing this would be straight-forward, for example: `odo log pods,bc nodejs` would translate to: `oc get pods,bc nodejs`.

[2018-04-24 17:42] cdrage commented on #145
We should also add Odo to https://chocolatey.org

[2018-04-24 18:32] cdrage opened #416 "Modify `component.Exists` function"
Using this issue so I can track a few things that I've been coming across within the code.

The component.Exists function should have applicationName first and then componentName:

[code]

Should actually be:

[code]

since all other odo functions are in that order (app name and then component name)

[2018-04-24 19:45] cdrage commented on #52
Yeah, looks like this has yet to be implemented, I'll assign this to myself.

[code]

[2018-04-24 19:45] cdrage commented on #57
Is this still an issue @containscafeine ?

[2018-04-24 19:47] cdrage commented on #313
Removing priority/medium tag as this isn't always reproducible (I have yet to encounter this error)..

[2018-04-24 19:50] cdrage commented on #77
Linking this here: https://github.com/spf13/cobra/blob/master/bash_completions.md which was can use in order to generate the autocompletion / use the autocompletion for the list of components / applications. In particular, we'll be using `odo list`

[2018-04-24 19:52] cdrage commented on #63
Bit confused, since our first argument is always the *type* of component (ex. `odo nodejs` is for nodejs, `odo ruby` is for ruby, etc.).

How would we go into implementing this?

[2018-04-24 19:53] cdrage commented on #56
Yeah, we need to improve the description for when the component has been created / finalized. I'll assign this to myself as I'd like to improve on it too.

[2018-04-24 19:56] cdrage commented on #261
@kadel I believe this issue is me simply not understanding odo / ocdev at the beginning. I'm going to go ahead and close this :+1:

[2018-04-24 19:56] #261 closed

[2018-04-24 19:56] cdrage commented on #259
Duplicate of https://github.com/redhat-developer/odo/issues/56

[2018-04-24 19:56] #259 closed

[2018-04-24 19:57] cdrage commented on #283
This has been vastly improved by @ashetty1 's recent contributions. I'm going to close this! :grinning: thanks @ashetty1 !

[2018-04-24 19:57] #283 closed

[2018-04-25 07:12] mik-dass commented on #219
@kadel Can we close this?

[2018-04-25 11:36] kadel commented on #57
I believe this was already fixed in https://github.com/redhat-developer/odo/pull/363

[2018-04-25 11:45] surajnarwade commented on #266
I explored `service catalog` a bit.

it works well, but there are some issues.

For example,

* User creates component,

[code]

* odo calls service catalog api and deploy it as `serviceinstance`

* serviceinstace then creates deploymentconfig, service & routes as mentioned in templates.

* woo, we are good, not for so long.

* Now, User do,

[code]

* Nothing is there, because our deploymentconfi

[2018-04-25 12:26] kadel opened #419 "build log streaming doesn't work in Katacoda"
In katacoda the build output logs are shown at once after it finishes instead of streaming it line by line.

This has big impact on user experience.

`oc logs -f` works ok and it actually streams the progress, it doesn't look like problem on katacoda side

[2018-04-25 12:44] kadel commented on #177
odo users shouldn't be exposed to concepts like pods, or buildconfigs.

It should be just `odo log [component name]` if no component name is provided that it would assume current component.

What does `--all` do?
Will this stream logs or just get all the logs of the component from when it was starting to the time the command is run?

[2018-04-25 12:48] kadel commented on #416
almost every function in `component` actually follows the rule where the component name is first, and the application name is after that.

[code]

[2018-04-25 13:11] cdrage commented on #177
@kadel `--all` would get all the logs deployed by that component.

Streaming could be an option too :+1:

[2018-04-25 13:25] cdrage commented on #416
@kadel Heck, you're right.

Should we go with component name first then application name then?

[2018-04-25 13:27] cdrage commented on #177
@kadel `odo log` will get buildconfig + deploymentconfig, `--all` would also retrieve Pod logs. Or should we not include Pod logs since it's using the built-in image builder?

[2018-04-25 15:12] syamgk commented on #297
Is this also an expected out put when there are no applications or components deployed?

[code]

[2018-04-25 15:31] kadel commented on #177
technically only pods has logs ;-)

But I don't think we need to show build logs, as they are always displayed when user triggers build via `odo push` or `odo watch`

[2018-04-25 15:34] kadel commented on #297
it is getting confusing :-) I don't think that there is a real need to display all applications with all components in one output.

[2018-04-25 15:36] kadel commented on #416
yes. I would standardized on the following order: component, application, project.

[2018-04-25 18:29] syamgk commented on #297
or we can also list all components and skip showing projects without components
ie,
[code]
this way we will be showing all components and its meta information. WDYT?

[2018-04-26 07:40] mik-dass commented on #419
@kadel I had this problem, but since the new changes in the component create code base, it seems to be gone for me

[2018-04-26 08:26] kadel commented on #297
I should clarify one thing.
 **`odo list ` should just list components in the current application and nothing more.**

If we are talking about something that will show all application and all components that it should be a completely new command.

But that is right now ultra low priority. I don't see any usecase for it right now.

[2018-04-26 08:32] kadel commented on #419
In Katacoda? For me streaming still doesn't work there.

[2018-04-26 08:33] mik-dass commented on #419
@kadel I meant on my local machine it wasn't working earlier but now it works

[2018-04-26 08:56] kadel commented on #419
on Katacoda?

[2018-04-26 08:57] kadel commented on #419
Ahh, you are right, that is strange.

[2018-04-26 08:57] kadel commented on #419
/cc @marekjelen

[2018-04-26 11:39] marekjelen commented on #419
it's better, we are on the right path 😃

When I do

[code]

First I see this line almost instantly

[code]

then with short delay the next line

[code]

so far, so good, but after that I do get the build log in a batch, it's not streamed

[code]

then the container push seems to be streaming

[code]

then there is a short delay and finally see

[code]

[2018-04-26 11:53] kadel commented on #419
Marek, it is streamed. There is just a short delay pause after
`Receiving source from STDIN as archive ...`
that is simply because it is receiving and openshift is doesn't show any progress of that.
It looks like Katacoda environment is just a bit slower, so it takes longer than on local.

The following part is also streamed
[code]
it is just that quick that you don't notice that.

When you look a

[2018-04-26 17:02] cdrage opened #422 "Set active component when switching / creating a new app"
When we switch from one application to another, no default / active component is being set:

[code]

[2018-04-27 06:32] surajnarwade commented on #422
It's working for me, I am using latest master:

[code]

[2018-04-27 15:03] cdrage commented on #422
@surajnarwade you're right. after I deleted `.kube/odo` as well as rebuilt from master I was unable to reproduce my previous error. Thanks for the help!

[2018-04-27 15:03] #422 closed

[2018-04-30 06:20] kadel opened #424 "odo should exit with error when s2i build fails"
[code]

There should be a message informing the user that component creation failed.
The same for push.
[code]

[2018-04-30 06:36] kadel commented on #419
I'm closing, this as streaming logs actually works.
There are just steps that take a bit longer.

[2018-04-30 06:36] #419 closed

[2018-05-02 14:14] surajnarwade commented on #266
@kadel  @jorgemoralespou ,

[code]

[2018-05-02 14:31] surajnarwade commented on #266
thanks @jwmatthews :)

[2018-05-03 09:25] kadel opened #430 "document what is covered by e2e tests"
Document somewhere (for example in [wiki](https://github.com/redhat-developer/odo/wiki/OCDEV-Tests) which commands and parametrs are covered by e2e test and which are not.

List of all commands with parameters can be generated using `make generate-cli-docs`

[2018-05-03 09:59] kadel opened #431 "Add component and application name validation"
Because OpenShift object names that odo is creating are derivated from component name and application name, they are also bound by the same rules and limitations as Kubernetes objects are.
Names can only contain lowercase letters and `-`. And shouldn't be longer than 253 characters.

We need to add application and component name verification to odo.

[2018-05-03 10:00] kadel commented on #416
Is this issue still valid? Do we need to fix it this somewhere? Or we can close it?

[2018-05-03 10:27] surajnarwade commented on #431
I'll take this up

[2018-05-03 12:47] kadel opened #434 "Update README - ODO - OpenShift Do"
It looks like that consesus on what `odo` means is settled on "openshift do". Lets reflect that i our readme

[2018-05-03 13:33] kadel commented on #266
We need to think about this a bit more.
Service Broker can create services outside of the cluster (for example AWD Service Broker).
We shouldn't really on the fact that there service created from service catalog is deployed to the cluster.

[2018-05-03 20:15] cdrage commented on #434
@kadel Where was the discussion? I quite like "OpenShift Developer Optimization". Will `Odo` still stand for anything?

[2018-05-03 20:17] cdrage commented on #434
PR here: https://github.com/redhat-developer/odo/pull/435

[2018-05-04 07:04] kadel commented on #434
devtools-deploy mailing list

Odo stands for Openshift DO.

[2018-05-04 07:08] kadel opened #436 "'odo create --binary' should not trigger build/push"
Binary component creation should be similar to the local component.

When `odo create --binary` is called, the component is just prepared.
Binary should be pushed only with `odo push`

This also means that binary component can be created even if file(binary) doesn't exist yet.

[code]

[code]

[2018-05-07 06:43] kadel commented on #416
ping @cdrage

[2018-05-07 06:49] kadel commented on #238
We won't be able to use CRDs for this in foreseeable future.
CRDs are currently cluster-wide resource, thus cluster admin privilege is required. CRDs can't be created in the namespace by a regular user.

But there might be another option. As we only need to store simple data (key:value at most) we could use ConfigMaps.
We could create odo ConfigMap that would store stuff that ODO needs (like empty

[2018-05-07 06:51] surajnarwade commented on #211
Closing this since #418 is merged now

[2018-05-07 06:51] #211 closed

[2018-05-07 06:59] #57 closed

[2018-05-07 12:59] cdrage commented on #416
We can close this, thanks!

[2018-05-07 12:59] #416 closed

[2018-05-07 13:08] #207 closed

[2018-05-07 13:08] #222 closed

[2018-05-07 13:08] #436 closed

[2018-05-07 13:09] kadel commented on #436
fixed in #408

[2018-05-07 17:06] cdrage commented on #434
PR: https://github.com/redhat-developer/odo/pull/435 has been merged, so closing this now :+1:

[2018-05-07 17:06] #434 closed

[2018-05-08 12:14] surajnarwade opened #439 "odo update fails if I use source as git first and then local"
[code]

[2018-05-08 18:36] LalatenduMohanty commented on #222
@kadel We should have added documentation for functionality. I did not see any documentation in the PR. @surajnarwade pointed me to https://github.com/kadel/bootstrap-supervisored-s2i but a normal user can not find out unless documentation is added.

[2018-05-08 18:37] LalatenduMohanty commented on #207
Moved the comment to https://github.com/redhat-developer/odo/pull/408#issuecomment-387500552

[2018-05-09 14:19] kadel commented on #439
When switching from git to local we have to modify and trigger buildConfig to inject Supervisor into the builder image.

I suspect that the the other direction might be also broken :-(

[2018-05-10 08:32] kadel opened #443 "Copy files to running container without requiring oc binary"
Functions  that are  copying files to the container (`occlient.RsyncPath` and `occlient.CopyFile`) are still calling `oc` binary.
We should figure out a way how to do it do it without `oc` binary just with pure `client-go`.

[2018-05-10 08:34] kadel opened #444 "port remaining functions from occlient to client-go"
We still have a couple of functions that are calling `oc` binary.
 - `Delete`
 - `DeleteProject`
 - `GetLabelValues`

parent: #257

note:
There two more (`RsyncPath`, `CopyFile`), but those will be a little bit more tricky so there is a sepparate issue for them https://github.com/redhat-developer/odo/issues/443

[2018-05-10 08:47] ashetty1 commented on #439
PR #437 covers this case.

[2018-05-10 09:08] kadel commented on #439
how is it that the test in that PR is passing?

[2018-05-10 09:12] ashetty1 commented on #439
@kadel think supervisor PR went in after this PR was sent.

[2018-05-10 09:13] kadel commented on #439
yep, I just realized. I've restarted test on that PR.

[2018-05-10 09:51] kadel opened #445 "wildfly component gets broken after storage is added"
Steps to reproduce
[code]

Reason why component gets broken is because widlfly assemble script moves compiled files to ` /wildfly/standalone/deployments`
[code]

Path `/wildfly/standalone/deployments` is not backed by persistent volume, so when deploymentConfig is modified (new mount is added) and new deployment is triggered we lose all data that were not in persistent volume.

This is wildfly spe

[2018-05-10 11:38] #431 closed

[2018-05-10 12:02] kadel commented on #424
This issue has two parts.

The first part is a message that is displayed when `odo create` fails.
After #408 has been merged It behaves a bit differently. `odo create` now creates "empty" component by injecting Supervisor into builder image using BuildConfig (s2i).
If there is an error during that process `odo` exits with exit code 1. That is correct behaviour.
But the message that is displayed is

[2018-05-10 15:54] cdrage opened #446 "Add CLI reference page"
We should use [Slate](https://github.com/lord/slate) and create a good CLI reference page for each and every command (with examples that 100% work).

[2018-05-10 15:55] cdrage commented on #332
I'm going to split this off into a few different issues. a few tasks have already been completed:

- [ ] Revamp readme.md to include demo video, links to online tutorials, documentation and website
- [x] 'odo' project page (similar to the one done for kedge)
- [ ] Documentation for each commands, issue: https://github.com/redhat-developer/odo/issues/446
- [x] Examples and Getting Started
- [ ] Set

[2018-05-10 15:56] cdrage commented on #332
Do you think that issue:

Revamp readme.md to include demo video, links to online tutorials, documentation and website

Is completed since we have the Katacoda tutorial, user-guide documentation as well as the website on the README.md, or should we include a demo video too?

@kadel @slemeur

[2018-05-11 09:00] surajnarwade commented on #337
[code]

@kadel pvc gets deleted when we delete component

[2018-05-11 11:18] kadel commented on #337
ah, you are right, it looks like it got already fixed

[2018-05-11 11:32] surajnarwade commented on #337
Closing this issue since it is fixed now

[2018-05-11 11:32] #337 closed

[2018-05-14 04:29] surajnarwade commented on #329
@bmicklea , from the two goals mentioned above, some task from MVP milestones are still in progress.
Reference: https://github.com/redhat-developer/odo/milestone/2

[2018-05-14 08:29] kadel commented on #329
That is true, MVP milestone is not complete, but issues that are left there were not part of the final Katacoda scenario.
I would say that we can close this.

[2018-05-14 10:52] kadel opened #449 "Don't delete all storage `odo storage delete`"
currently `odo storage delete` deletes all storage in the currently active component.

I'm not sure if we should allow that. It can be quite a destructive command.
I think that we should always require storage name argument.

[code]

[2018-05-14 16:27] cdrage opened #453 "Sync docs between GitHub and Website"
Each time we make a change on GitHub it should sync correctly with the `gh-pages` branch.

[2018-05-15 11:08] kadel commented on #52
Yep, closing this. addressed in #425

[2018-05-15 11:08] #52 closed

[2018-05-16 08:10] slemeur commented on #329
Agree. Let's close this one. Thanks!

[2018-05-16 08:10] #329 closed

[2018-05-16 14:49] cdrage opened #460 "Test odo describe"
We should be testing `odo describe` in the end-to-end tests. @kadel encountered this during his review of https://github.com/redhat-developer/odo/pull/457 that despite me missing `storage.List` function, the tests still pass. We should be covering `odo describe` more thoroughly.

[2018-05-16 21:39] jorgemoralespou commented on #238
AFAIK, CRD definition is cluster wide, the objects defined/created don't
need to be.
That means that installing the CRD would need to be done by an admin, but
once installed/registered, any use can leverage them.

I agree that it's not an optional solution as of now, but maybe the
OpenShift team can think of providing native support on OpenShift clusters
for odo and hence making the CRD installed

[2018-05-17 09:53] mik-dass opened #462 "Show unmounted storages using flag --all in list"
odo storage list --all

should show all the storages which are mounted as well as unmounted ones too

[2018-05-17 11:19] kadel commented on #238
Yes,  admin privileges are needed only to create `CustomResourceDefinition` (new resource can be defined with `scope: Namespaced`) +  appropriate RBAC `Role` and `RoleBinding` to allow normal users to interact with the new resource needs to be created.

After this initial setup normal user will be able to create/modify new resource.

[2018-05-18 09:01] kadel commented on #199
Describe is implemented.
It is showing name, component source, and linked storage. But some of the information is still missing.

There is no information about active instances, configuration, and connection to other components

[2018-05-18 09:05] kadel commented on #208
implemented in #408

[2018-05-18 09:05] #208 closed

[2018-05-18 10:26] #444 closed

[2018-05-21 12:10] kadel commented on #449
fixed in #463

[2018-05-21 12:10] #449 closed

[2018-05-21 12:16] kadel opened #464 "update description for global storage flag --component"
There is a global flag for every storage command
[code]

The description doesn't make sense for some commands like `odo storage delete`.

[2018-05-22 07:01] kadel commented on #395
First tests using fake client-go were added in #456

[2018-05-22 07:02] #395 closed

[2018-05-22 07:07] kadel opened #465 "Stream component logs"
We already have `odo log` that displays component logs.

Let's add `odo log --folow` (with `-f` as shortcut).
This command will stream/follow component logs similarly to `oc logs -f`.

[2018-05-22 07:12] kadel commented on #177
commmand `odo log [component_name]` was added in #429

Right now it just dumps all component logs to stdout.

I've created issue https://github.com/redhat-developer/odo/issues/465 to add streaming.

I'm closing this as the basic functionality is done.

[2018-05-22 07:13] #177 closed

[2018-05-22 08:14] kadel commented on #439
@cdrage have you get chance to look at this?
I can take this if you are busy with other stuff.

[2018-05-22 11:13] kadel commented on #445
I forgot that wildfly script moves files from its original location. So to this approach won't work :-(

[2018-05-22 13:44] cmoulliard opened #466 "Wrong link to install ODO"
The doc page points to a wrong link to install odo

When we click on `Install odo using this installation guide` link on the page : http://openshiftdo.org/getting-started/

<img width="974" alt="screenshot 2018-05-22 15 42 25" src="https://user-images.githubusercontent.com/463790/40366212-e02ebe46-5dd6-11e8-81ab-5d1e0e252606.png">

[2018-05-22 13:49] cmoulliard opened #467 "Wrong brew command defined within the installation guide"
We can't install on MacOS, odo using this brew command

[code]

[2018-05-22 13:51] cdrage commented on #466
I'll take this up, I need to update the link as well as get the documentation synced! Thanks @cmoulliard

[2018-05-22 13:52] cdrage commented on #467
You'll have to use `brew install kadel/odo/odo --HEAD` @cmoulliard

[2018-05-22 13:54] cmoulliard commented on #467
Can somebody then correct the typo error within the doc's page then ?

[2018-05-22 14:00] cdrage commented on #467
@cmoulliard Just updated! https://github.com/redhat-developer/odo/commit/32b67333bc2e55f74991167ca497d39452b0700a

[2018-05-22 14:00] #467 closed

[2018-05-22 21:02] stephanosbacon opened #468 ""odo create nodejs" creates a service for the wrong port for a default express app"
By default, express generates an app that starts a server listening on port 3000, not 8080.  However, "odo create nodejs" creates a service that uses port 8080, and I can't seem to find a way to control this.

What this means is that someone trying a what would be a more or less canonical node app won't see something working out of the box.  This should either be documented and/or there should be

[2018-05-23 10:36] kadel opened #470 "Improve CLI --help / documentation"
One of the first things that new user is going to do is to run `odo --help`.
But current structure might be confusing for some new users.

[code]

As a start, it might be good to create a separate sections for related group of commands and improve descriptions.
Something like this:
[code]

[2018-05-23 12:32] jorgemoralespou commented on #445
@kadel I think we should look into having a pre-backed  image with a supervisor in go (this could be a good start: https://github.com/ochinchina/supervisord) and have all the required logic scripts in that init-container image.
Then any preparation for any s2i image would be as simple as run this initContainer (or possibly 2 initContainers)

@grahamdumpleton, it would be awesome if you get to help

[2018-05-23 12:57] kadel commented on #468
Current logic is similar to what `oc new-app` does. `odo` inspects s2i builder image and create service for ports that are marked as exposed in that image.

We should probably allow users to define custom ports when creating a component and creating url (Route).

[2018-05-23 13:37] kadel commented on #230
fixed in #349

[2018-05-23 13:37] #230 closed

[2018-05-23 13:39] stephanosbacon commented on #468
I think that adding such an option would be very useful, as well as documenting the current behavior explicitly.  After trying odo, I tried nodeshift and it has the same behavior, but it does allow one to specify ports.

[2018-05-23 14:43] #274 closed

[2018-05-23 14:56] kadel commented on #462
We haven't added `--all` flag.
The default behavior for `odo storage list` is updated. Now it shows storage that is mounted to the current component all unmounted storages (storage that is not associated/mounted to any of the components) in the current application.

#230 #469

[2018-05-24 12:22] kadel opened #473 "Show detailed information about storage before it is deleted"
It would be good if user could see if the storage is mounted or not and if yes then to what component.

If storage is not mounted:
`Are you sure you want to delete the storage %v?`

if mounted:
`Are you sure you want to delete the storage %v mounted to %s in %s component?`
For example:
`Are you sure you want to delete the storage data mounted to /data in backend component?`

[2018-05-25 10:55] kadel opened #474 "Ask for confirmation before deleting url"
`odo url delete` should display what url will be deleted and ask user for confirmation similar to what we are doing when deleting component .

[2018-05-25 11:52] #228 closed

[2018-05-25 11:52] kadel commented on #473
fixed in #447

[2018-05-25 12:22] surajnarwade commented on #473
@kadel Let's close this since #447 is merged

[2018-05-25 12:22] #473 closed

[2018-05-25 12:30] kadel opened #475 "Wrong storage info displayed in `odo storage delete`"
current status looks like this:
I have two components:
   - frontend
   - backend

each has one storage
   - data (for frontend)
   - datab (for backend)

active component: frontend

[code]

Now when I try to delete `datab` storage. I get the following info:
[code]

It doesn't display where the storage is mounted and it displays wrong component that storage is mounted to.

[2018-05-25 12:31] kadel commented on #473
There is quite a serious bug in #447 -  #475

[2018-05-25 12:38] mik-dass commented on #424
@kadel I looked into the issue and found out that https://github.com/redhat-developer/odo/blob/304ed234ab3cb89be8ec65c72a814a9fde61e01b/pkg/occlient/occlient.go#L1672 does not return the error which occurs while running inside the container. I tried to use other methods in the remotecommand package but most seemed to have private methods. So I guess we need to change the script to report the error

[2018-05-28 14:04] kadel commented on #229
closed in #472

[2018-05-28 14:04] #229 closed

[2018-05-29 11:53] kadel commented on #424
@mik-dass  Is there anything that we can do with this?

[2018-05-29 11:55] kadel commented on #466
The website was put on hold for now. For time being we are going to use github repo page as landing side for odo project.

[2018-05-29 11:56] kadel commented on #474
closed in #479

[2018-05-29 11:56] #474 closed

[2018-05-29 13:13] cmoulliard opened #483 "Roadmap/milestones"
Is there a roadmap or milestones defined about ODO's next developments ? Which commands will be then developed ? Will it be used too as scaffolding tool ?

[2018-05-29 15:00] kadel commented on #122
Also, we are fetching latest information from GitHub API. Problem is that this will hit Github API rate limiting after a few `odo` runs. We should check for latest release number in some other way.

[2018-05-29 15:04] #348 closed

[2018-05-29 15:09] kadel commented on #332
It would be great to have quick start as a gif animation in readme. For example I really like what Origin has in the readme - https://github.com/openshift/origin

[2018-05-29 15:16] kadel commented on #313
There was no other occurrence of this. I'm closing this.

[2018-05-29 15:16] #313 closed

[2018-05-29 15:48] kadel opened #484 "Create umount alias for unmount."
Linux users have muscle memory for typing `umount`.
Opposite to that Windows users don't have any idea what umount is and unmount will make more sense for them.

We can add `umount` alias to `unmount` command to allow both variations.

But our documentation and examples should use only one variation of this - `unmount`.
Let's make sure that all our examples and docs are using `unmount`.

[2018-05-29 15:59] kadel opened #485 "Storage unmounting using path"
Currently `odo storage unmount` accepts only storage name as an argument.

There can be a situation where storage is mounted into multiple paths in the same component.

With current command, it is not possible to unmount storage only from one of the paths.

It is easy to detect whatever argument is a path or storage name. (Path will always start with `/` and storage name can't start with `/`). So

[2018-05-30 09:01] kadel opened #488 "Display current component and application in shell prompt."
Document configuration steps and create configuration script that will configure bash and zsh to show current component and application in the command prompt.

Most of the people configure they shell to show current git branch. It would be nice to have something similar for odo components.

[2018-05-30 09:06] kadel opened #489 "Document challenges and current state of the project"
- Document the different difficulties we have, because OpenShift does not support our use cases.
- List and document the current commands that are not working or completed or they were modified to work only for the katacoda scenario

[2018-05-30 11:47] kadel commented on #401
Hi @ashetty1. We can put this on hold for now. Can you please just describe what problems you encountered co we have a record of it when we get beck to that.

[2018-05-30 14:43] cdrage opened #491 "End to end tests are doing something weird with OpenShift logins"
@ashetty1

After each `make test-e2e` on my local machine with Minishift I'm getting this:

[code]

when I try to go back to using Odo.

Are we doing something funky with oc login? I'm logged into "developer" the entire time, but I think we're doing e2e tests using an administrator account and it's not reverting back to the normal logon after...

Either way, I think that `make test-e2e` should use

[2018-05-31 12:28] kadel opened #493 "Storage unmounting using path"
Currently `odo storage unmount` accepts only storage name as an argument.

We should also accept path as an argument to unmount.

For some users, it might make more sense, and also we will need this once we allow storage to be mounted into multiple components.

It is easy to detect whatever argument is a path or storage name. (Path will always start with `/` and storage name can't start with `/`).

[2018-05-31 12:37] kadel opened #494 "'odo storage unmount <storage_mount>' should error out if storage is mounted to multiple places"
**Requirement: Support for mounting storage into multiple paths or components.**

Right now odo doesn't support mounting one storage to multiple components or to multiple paths.
This issue is for future reference so we don't forget about this once we implement it.

[code]
Should show an error if `data` storage is mounted into multiple paths.
This error should display all path where `data` storage

[2018-05-31 12:40] kadel commented on #485
After talking to @mik-dass  we decided to break this into two issues.
- Storage unmounting using path #493
- 'odo storage unmount <storage_mount>' should error out if storage is mounted to multiple places. #494

[2018-05-31 12:40] #485 closed

[2018-05-31 13:32] mik-dass commented on #424
@kadel I am currently looking into it

[2018-05-31 18:15] cdrage commented on #470
I'll add this :+1:

[2018-06-01 08:42] surajnarwade opened #498 "Error in `odo storage list` command output"
As of now,

[code]

ideally `odo storage list` should give some output like this if no storage is present,

for example `url` shows,

[code]

Proposed output:

[code]

[2018-06-01 09:07] kadel commented on #491
+1

[2018-06-01 09:07] kadel commented on #491
ping @ashetty1

[2018-06-01 09:16] ashetty1 commented on #491
@cdrage @kadel we specifically do `oc login -u developer` before running the e2e tests.

[2018-06-01 09:22] ashetty1 commented on #401
Travis doesn't support docker with MacOS. Also, running docker would involve setting up virtualbox which is not really feasible on travis. About windoes, haven't been able to get the tests running.

[2018-06-01 09:55] kadel commented on #491
@cdrage I think that problem that you have there is that e2e tests are creating new projects, and deleting it afterwords.

After last test is run, it deletes the project and leaves it activated in the kubectl config.
You can fix it easily wiht `oc project myproject` or some other project that you have there.

@ashetty1 could we save current project (`oc project -q`) before the first test is run an

[2018-06-01 16:38] cmoulliard opened #500 "How to extend the catalog to include by example Spring Boot component"
It is not possible to create a `spring-boot` component as the list returned by the catalog doesn't include it

[code]

What should we do to include it and extend the catalog ?

[2018-06-01 17:30] cmoulliard commented on #500
On minishift = ocp 3.9 the Red Hat OpenJDK1.8 S2I image is not added by default
If I create the following s2i imagestream, them odo can list within the catalog

[code]

[2018-06-01 17:45] cmoulliard opened #501 "How to pass env var to the buildConfig to be created when executing the command "odo create" ?"
The BuildConfig to be generated should be

[code]
but `odo create` generates this one

[code]

So, How can we pass env var to the buildConfig to be created when executing the command "odo create" ?

[2018-06-02 08:37] piyush1594 commented on #484
We are good to close this. :+1:

[2018-06-04 11:05] kadel commented on #500
Currently `odo` just lists s2i builder images from `openshift` namespace.

We are currently looking into what would be the best way to extend this to include more images and support more stuff like for example service from Service Catalog.

[2018-06-04 11:07] kadel commented on #501
Currently, it is not possible :-(
But it is something that we will be looking into.

[2018-06-04 13:22] kadel commented on #424
Fixed in https://github.com/kadel/bootstrap-supervisored-s2i/pull/1

[2018-06-04 15:00] cdrage opened #504 "We should be able to create a mount / storage without name being passed."
Similar to functionality with `url create`, we should be able to pass in / use storage without specifying a name (by default, it'll use the name of the current component).

[2018-06-04 15:01] cdrage commented on #504
This shouldn't error:
[code]

[2018-06-04 15:18] cdrage opened #505 "If adding storage fails, Odo does not roll-back deployment."
[code]

Steps to re-produce (using the same mount path)
[code]

Odo will not roll-back the deployment (delete it if it fails with an invalid value..) and will appear in `storage list`:

[code]

[2018-06-04 18:10] cdrage commented on #401
@ashetty1 I've used SemaphoreCI to bring up VirtualBox VM's for OpenShift and Kubernetes.

Unfortunately, it's against licensing to emulate / bring up Windows boxes as well as OS X :( We could (in the future) ask help from the CentOS CI team as IIRC they have some Windows boxes available for running Jenkins tests on.

[2018-06-04 18:10] #484 closed

[2018-06-04 18:20] cdrage commented on #488
@kadel

I did some minor research as well as started integrating this.

I have a question however! At the moment, `odo component get` requires an OpenShift cluster to be active. Unfortunately, when implementing this..

Example:

[code]

It ends up adding a 1-2 second delay (as internally, we check and grep OpenShift through its API).

Is there an alternative way of implementing this such as greppi

[2018-06-05 09:30] jorgemoralespou opened #507 "add --all to "storage list" to show all storage in the current application/project"
When reviewing sprint 149 video I realized that when you mount storage that was initially created for a component into a different component you might lose the notion of what happened.
It would be ideal to add a "--all" flag that would list storage to all components. This would possibly mean a different output view since current would not scale as it's meant per component.

[2018-06-05 09:34] jorgemoralespou opened #508 "add flag to select which logs to see (all by default)"
When running "odo log" you get all logs concatenated. It would be good to be able to provide flags to select which logs to see, build or run, and all by default.

Name for these flags are not clear to me, but maybe `build` and `run` could fit. And possibly in the future, if needed, `deploy` although I don't think these would be interesting for the developer.

[2018-06-05 11:57] kadel commented on #508
If I understand that correctly, by 'build' log you mean output from `assemble` script, and 'run' log would be output from running application (`run` script).

This might be bit tricky. Currently, we direct both outputs to stdout so it can be seen in OpenShift Web Console.
We might redirect `assemble` output to file to separete it, but that means that it won't be seen in Logs section in web console

[2018-06-05 12:46] cmoulliard commented on #500
It is then important that the output of the command `-h` details that for the moment, we recuperate the imageStreams installed under the `openshift` namespace where annotation `builder` exists.

Do we have to open a ticket under `origin` [project](https://github.com/openshift/origin/tree/master/examples/image-streams) to request to add the missing `openjdk-1.8` imageStream as defined under this ti

[2018-06-05 12:51] cmoulliard commented on #500
FYI: The imageStream that we can download and install from the red hat registry doesn't include the required annotations !!

[code]

[2018-06-05 14:26] cmoulliard opened #510 "Document what command "oc app create odo1" does"
Document what command "oc app create odo1" does within the doc and enhance existing command to describe concretely what will happen

Output of the command issued explains that an application has been created. This concept is very abstract as we don't know what is physically created (openshift project, deploymentconfig, ...)

[code]

[2018-06-05 14:47] cmoulliard commented on #510
Feedback from @kadel

When you create an application using the command "odo app create odo1", it just saves the application name to the local config file nothing more under `~/.kube/odo`. Application doesn't have any representations in the cluster. Once you create component in the application, the value from the `odo` config file is used to label the component with the application name so we know

[2018-06-05 16:02] cmoulliard opened #511 "Build fails using odo create openjdk-1.8 command with parameter --binary"
According to the command doc, we can create a component and the buildConfig if we pass as parameter by example `--binary`

[code]

Unfortunately, that will fail if we use this command as s2i build will use the python s2i docker image

[code]

BuildConfig fil;e generated is

[code]

I'm expecting that a SourceStream Binary strategy will be used here and not git as source.

[2018-06-05 16:15] cmoulliard opened #512 "PVC resource should not be created by default"
When a new component is created, then a PVC is automatically added to the project/namespace.

[code]

I propose that such pvc creation should be optional and defined using a parameter

[2018-06-06 09:58] kadel commented on #511
`--binary` in odo is something different than binary source in BuildConfig.
In odo binary means that you already build an applicational and providing just binary (compiled) artifact to the component.

BuildConfig is not there for building the application. It is just injecting supervisor into s2i image. So we can keep it constantly running without the need to restart the whole container after each

[2018-06-06 11:17] kadel commented on #504
Agreed, the name should be optional and we should generate some nice default storage name if it is not provided by a user.

Name was defined as an optional argument in original `storage create` issue #226, but somehow we missed that.

How about generating storage name as `<component name>-<4 random letters>`?
Of course, we would still need to check for collisions.

[2018-06-06 11:20] jorgemoralespou commented on #508
@kadel hum...
We then would need to think this for a bit. As a developer I would like to be able to see both logs differentiated but also seeing the logs aggregated would make sense.

Adding @marekjelen and @gshipley to the conversation

[2018-06-06 12:07] kadel commented on #488
Would it make sense to add a flag to `odo component get` that will skip API check to make it fast?
I would like to have login in one place. Because if we change the config file structure in future (or we move this information somewhere else), we will have to go and update this bash script also. I can guarantee that we will forget about it. :-)

[2018-06-06 12:17] cdrage commented on #488
@kadel I added an edit two days ago, but I ended up grepping ~/.kube/odo instead and it works well! :+1:

[2018-06-06 12:18] cdrage commented on #504
@kadel Yeah, that works! We could work with the four random letters if no component name was passed in. Similar to how Kubernetes does it with automatic provisioning.

[2018-06-06 12:46] cmoulliard commented on #511
This is what I'm doing as I provide the jar file generated locally --> `odo create openjdk18 sb1 --binary ./target/ocp-fmp-build-install-1.0-exec.jar`

So what is then wrong ? How can odo create correctly the BuildConfig which should be equal to tone - https://goo.gl/MwGuLJ ? @kadel

[2018-06-06 12:49] kadel commented on #488
I don't have doubts about it not working, more about future maintenance issues. :-(
Parsing yaml file using grep doesn't sound right to me.

[2018-06-06 13:37] #498 closed

[2018-06-06 14:50] kadel commented on #424
this was closed prematurely :-(
It it is still needed to update the reference to the new bootstrap repository version  (https://github.com/kadel/bootstrap-supervisored-s2i/tree/v0.0.2)

[2018-06-06 14:54] cdrage commented on #488
@kadel Yeah, it would be a lot easier doing it via `odo component get` rather than relying on the configuration infrastructure.

Sure, the code is here:

[code]

[2018-06-06 14:59] cdrage commented on #488
Then you can plug it into PS1 via:

[code]

I was thinking of adding this as a parameter to `odo completion`. For example: `odo completion --terminal` or something similar that will set the PS1 automatically.

[2018-06-06 15:20] kadel commented on #511
When creating odo component that uses binary (or local directory) as a source BuildConfig is not needed, everything happens directly in the running container without triggering BuildConfig. BuildConfig is there only for initializing new component but it is not used afterward.

The problem in this case is that `registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift` doesn't have /opt/app-

[2018-06-06 15:42] cdrage opened #514 "Being able to choose what version of a component to deploy (wildfly version, nodejs version)"
When deploying a Wildfly application on OpenShift, I'm able to choose between: 10.1, 10, 9, and 8.1

When using `odo create wildfly` I'm only able to deploy the latest.

Should there be an option on being able to choose a version?

[2018-06-06 16:11] cmoulliard commented on #511
So for the moment, `oc new-build` is better than `odo create` for local or binary builds ;-)

As i can imagine that `s2i - build` is an option that `odo` must support, it is also nevertheless important to think about the future and how we could propose a better way to perform build on OpenShift. I will open another ticket to discuss such ideas.

[2018-06-07 06:57] kadel commented on #511
For some builder images, like openjdk one used in this case, yes :-(

[2018-06-07 07:35] kadel commented on #488
It should be that hard to skip connection test that we do every time new occlient is initialized.
It could be just one parameter to `occlient.New` something like `connectionCheck`.
Then we could have `odo component get --no-cluster-check` or `--no-conn-check` or something similar and use it when setting $PS1

[2018-06-07 07:36] #424 closed

[2018-06-07 08:57] kadel opened #516 "Fix use description for commands"
We are not using the correct syntax to describe our commands in `Use` section.

Some of our commands are using `[]` to describe required arguments but this is a  usual way to describe optional arguments.

Based on  https://developers.google.com/style/code-syntax  and  http://docopt.org/

I propose this syntax:
- required positional argument  -  `REQUIRED_ARGUMENT`
   ( docopt.org also mentions thi

[2018-06-08 05:56] surajnarwade commented on #122
@kadel instead of hitting github API, can we have file like this, https://github.com/openshift/origin/blob/master/.release which we will update at every release ?

[2018-06-08 10:50] kadel commented on #122
We already have a version number in https://github.com/redhat-developer/odo/blob/master/cmd/version.go could we used that?
Or modify `version.go` to read `.release`?

[2018-06-08 17:41] kadel opened #519 "Find a better way to initialise component."
Currently, we use BuildConfig to inject SupervisorD to the image.
This is really slow, creates unnecessary BC that can confuse some users,  and it doesn't work with some images.

We should find something that is more universal and quicker than this.

One way could be to use initContianers to inject supervisor. Instead of using python SupervisorD we could use https://github.com/ochinchina/superviso

[2018-06-11 10:17] kadel opened #520 "revamp URL - Allow custom names for URL"
Url command is a bit odd right now.
It takes a component name as a positional argument, the rest of our commands have `--component` flag for that.
The positional argument should be optional, and it should be the name of the url, if not specified then the component name value should be used. Component for which url will be created should be specified by `--component` as described in https://github.

[2018-06-11 15:52] cdrage opened #521 "Add guide on how to use make test-e2e locally"
We should have a guide on how to test e2e tests locally, for example, using `oc cluster up` since `minishift` is not compatible.

ping @ashetty1

[2018-06-11 16:01] kadel commented on #489
I'm working on it.
Document is here - https://docs.google.com/document/d/1WB7V1UWGkrge3xgdCYSF6HjDsd0K2q6-76hbpsUnJhg/edit#

[2018-06-11 17:34] cdrage opened #523 "Issues with installation one-liners"
I'm having issues with the Curl one-liners:

[code]

I've removed `/usr/local/bin/odo` (old odo).

I've google'd around and found people with similar issues (https://github.com/kubernetes/helm/issues/2802)

Why do we have to download tarballs and worry about using gzip? Can we just download the binaries directly from GitHub?

[2018-06-12 09:16] kadel commented on #523
For someone with slow internet, 28 MB vs 8 MB can mean a huge difference.

The problem with the command is that the pipe is not executed as root, it is performed in the users shell.

We have to run the whole command in the same shell under sudo.
[code]

Interesting is that on macOS original command works. But in Linux you have to wrap it whole in the shell as I mentioned.

[2018-06-12 11:58] cdrage commented on #523
Could we instead include options for downloading either the binary or a tarball? @kadel

[2018-06-12 12:10] #56 closed

[2018-06-12 12:14] kadel commented on #81
Closing this, as we are not using `oc` binary anymore.

[2018-06-12 12:14] #81 closed

[2018-06-12 12:27] kadel commented on #139
related to https://github.com/redhat-developer/odo/issues/516

[2018-06-12 12:32] kadel commented on #139
Short and Long descriptions are kind of OK right now.
But flags description  still needs to be improved
[code]

`--local` is ok, but  messages for `--binary` and `--git` doesn't help at all.

[2018-06-12 12:34] kadel commented on #183
realted to #122

[2018-06-12 12:35] kadel commented on #122
it would be nice to fix https://github.com/redhat-developer/odo/issues/183 as part of this issue

[2018-06-12 12:40] kadel commented on #189
Currently, we have "normal mode" and "verbose" mode for debugging.
This system works pretty well for us right now.
I'm closing this issue. If there is a need to have more log levels, we can revisit this in the future.

[2018-06-12 12:44] kadel commented on #195
Currently, we have just s2i support, not service catalog or templates support.

[2018-06-12 12:45] kadel commented on #198
this is already implemented

[2018-06-12 12:45] #198 closed

[2018-06-12 12:47] kadel commented on #199
Closing this, as the basic functionality is implemented.
We don't have support for scaling, or configuration right now, those informations will be added once we implement it.

[2018-06-12 12:47] #199 closed

[2018-06-12 12:49] kadel commented on #504
related to #216

[2018-06-12 12:53] kadel commented on #227
`--path` is easy and straightforward.
`--size` not sure if it can be modified without recreating underlying PVC.
`--access` - might be also tricky to update, as it depends what underlying storage supports.

[2018-06-12 12:58] kadel commented on #265
UX improved a lot since this issue was opened.

[2018-06-12 12:58] #265 closed

[2018-06-12 13:00] kadel commented on #297
This was sorted out, closing

[2018-06-12 13:00] #297 closed

[2018-06-12 13:00] kadel commented on #307
done

[2018-06-12 13:00] #307 closed

[2018-06-12 13:03] kadel commented on #311
done

[2018-06-12 13:03] #311 closed

[2018-06-12 13:07] kadel commented on #315
there is PR opened for update #437
but we should add more update scenarios

[2018-06-12 13:07] kadel commented on #328
done

[2018-06-12 13:07] #328 closed

[2018-06-12 13:08] containscafeine commented on #265
Yeah, I agree :yum:

[2018-06-12 13:14] kadel commented on #376
done

[2018-06-12 13:14] #376 closed

[2018-06-12 13:16] #392 closed

[2018-06-12 13:21] kadel commented on #446
This is done. CLI reference is currently in the Markdown format - https://github.com/redhat-developer/odo/blob/master/docs/cli-reference.md

[2018-06-12 13:21] #446 closed

[2018-06-12 13:23] kadel commented on #465
closed in #496

[2018-06-12 13:23] #465 closed

[2018-06-12 13:24] #466 closed

[2018-06-12 13:28] #491 closed

[2018-06-12 13:29] #493 closed

[2018-06-12 13:34] kadel commented on #505
This is about validation. We should validate mountpath before we try to create and mount PVC

[2018-06-12 13:42] kadel opened #525 "`odo log` should display both stdout and stderr"

[2018-06-12 13:46] kadel commented on #511
Some discussion related to this is in #445

[2018-06-14 07:37] surajnarwade opened #527 "Examples are not working from examples.md"
Example Link: https://github.com/redhat-developer/odo/blob/master/docs/examples.md

**httpd** and **php** are not working,

For example,
[code]

if I curl the URL:

[code]

I think, problem is `PORT` section in route shows `<all>` and service section has multiple ports.

[2018-06-14 17:21] cdrage commented on #527
@surajnarwade You're using cURL wrong. Check the URL in your browser and you'll be able to access it. httpd + php work fine! You're not allowing curl to follow the request.

Use: `$ curl -Ssl httpd-app-myproject.192.168.42.165.nip.io` and you'll be able to access it.

[2018-06-14 17:28] cdrage commented on #527
Just checked both and I'm able to access them with `odo url create`! :+1:

[2018-06-15 07:45] kadel commented on #214
closed in #480

[2018-06-15 07:46] #214 closed

[2018-06-15 11:30] jorgemoralespou commented on #227
--size will be possible when resizing lands in OpenShift, it's a k8s 1.10 feature (https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims) and depends on the backend storage system.

--access, yes, it'll be tricky as it might need to create a new claim. The mode might instruct to use a different storage backend.

I would recommend opening a conversation

[2018-06-15 12:05] kadel commented on #527
@surajnarwade Is right the way we create routes is not correct. And is not reliable for images that are exposing more than one port.

`httpd` image has two ports, one is for http and one for https. Problem is that the Route that we create doesn't specify target port, so it can go to either one. So one request to the same url might end up going to http and the second to https port.

[2018-06-15 16:12] bparees commented on #227
@jorgemoralespou you'll probably want the storage team, which is @childsb

[2018-06-15 17:29] cdrage commented on #312
@kadel @containscafeine Began working on this to find that we don't actually use this function anymore (with FollowBuildLog).

I believe both could be removed, or am I missing something?

https://github.com/redhat-developer/odo/search?l=Go&q=StartBinaryBuild

[2018-06-17 18:06] marekjelen commented on #508
Not sure I follow ... build logs (`assemble`) and runtime logs (`run`) are two different endpoints in the API that do not overlap.

[2018-06-18 09:38] jorgemoralespou commented on #508
But in our scenario the build is run within a running pod, so it's the same
process and not 3 different processes.

[2018-06-18 14:10] kadel commented on #312
But FollowBuildLog is also used in component.Build https://github.com/redhat-developer/odo/blob/e85a324dc14809851d7f5d7fad52809f66cd0cbf/pkg/component/component.go#L241

[2018-06-18 14:10] kadel commented on #312
If there is some code that is not used anymore than we should remove it.

[2018-06-18 14:13] kadel commented on #508
The problem during build application is still running and producing logs. So you can end up with log like this:
[code]

[2018-06-18 15:01] cdrage commented on #488
Once https://github.com/redhat-developer/odo/pull/529 is merged, the work will continue on PS1 / terminal status script.

[2018-06-18 16:13] jorgemoralespou commented on #508
We should explore what other options we have regarding to produce multiple
logs in a running container and properly labeling content coming from each
different log so that this can be done. Maybe @mfojtik and anyone on his
team might have an idea on how they would accomplish this.

Sadly, docker just logs stdout and stderr which are /proc/self/fd/1 and
/proc/self/fd/2. If any of the logging driver

[2018-06-19 07:14] surajnarwade commented on #523
Fixed in https://github.com/redhat-developer/odo/pull/526

[2018-06-19 11:39] surajnarwade commented on #505
I would like to work on this

[2018-06-20 12:40] kadel commented on #514
Let's start with investigation and decide how this can be solved

[2018-06-20 13:43] mik-dass opened #534 "odo storage mount not working"
[code]
It looks like the pvc looked for is `backend-pvc` while the pvc created is `backend-app-pvc`
[code]

[2018-06-21 18:41] kadel opened #537 "double `buildSource` definition in `BootstrapSupervisoredS2I`"
`buildSource` is defined and immediately it is overwritten by something else.

https://github.com/redhat-developer/odo/blob/6a287f86e1eca225bfa1a7a51ba430e8b937877c/pkg/occlient/occlient.go#L684,L695

[2018-06-25 15:37] mik-dass commented on #534
Closing as #535 is merged

[2018-06-25 15:37] #534 closed

[2018-06-25 17:11] cdrage commented on #312
I believe this can be closed now that #531 is closed (this was the only part that didn't have io.Writer not being passed in)

[2018-06-26 08:33] kadel commented on #312
`FollowBuildLog` function is still used. It doesn't have `io.Writer` as an argument, and instead it writes directly to stdout.

https://github.com/redhat-developer/odo/blob/6a287f86e1eca225bfa1a7a51ba430e8b937877c/pkg/occlient/occlient.go#L963

[2018-06-26 16:47] cdrage commented on #514
@kadel

So here are my thoughts.

 - Pretty easy to implement, you can easily grab all the tags to the imagestreams (even through CLI it's as simple as: `oc get is -n openshift`)
 - The code we have for `odo catalog list` can be re-used / re-implemented for

Changes:

`odo catalog list`
 - We also show the versioning information from `odo catalog list`, we should add a new column that shows what t

[2018-06-26 18:49] cdrage opened #542 "Version reminders considered disruptive"
I find it a bit obtrusive that it's 6 lines of output:

[code]

Could we reduce it to..  1?

[code]

Another note, is that we should be adding installation instructions on each release (within the release pages: https://github.com/redhat-developer/odo/releases)

[2018-06-27 06:21] surajnarwade commented on #542
Totally agreed, perhaps can we add interactive question here, `do you want update? [y/N]` ?
if yes new binary gets downloaded and replaced with existing one.

(Just a thought)

[2018-06-27 09:44] surajnarwade opened #544 "`getComponent` should handle the error"
`getComponent` function should handle error if there is no component set.
Reference: https://github.com/redhat-developer/odo/blob/master/cmd/utils.go#L44

[2018-06-27 13:49] kadel commented on #514
+1 for using `httpd:6.11` format.

+1 for adding a column to `catalog list`

[2018-06-27 13:51] kadel commented on #542
+1
I would also like to add an option to permanently disable version checks.
see https://github.com/redhat-developer/odo/issues/122

[2018-06-27 15:08] cdrage commented on #332
@kadel Only thing left to do now is to create a gif (preferably using https://asciinema.org/) and put it on the README.

[2018-06-27 15:09] cdrage commented on #488
Closed via: https://github.com/redhat-developer/odo/pull/536

[2018-06-27 15:09] #488 closed

[2018-06-28 07:43] kadel opened #549 "way too long info in PS1"
When there is not app or/and no component the PS1 shows, too detailed information.
This is suitable for when user run `odo component` but in PS1 we should have something more concise.

[code]
I think that something like `[<no application>/<no component>]` should be enough.

[2018-06-28 07:49] kadel opened #550 "Inconsistency in `odo component -q` and `odo app -q`"
Purpose of `odo app -q` and `odo component -q` is to display just necessary information that can be used in scripting.

`odo component -q` shows a way too much information when there is no component active.
[code]

In contrast to that `odo app -q` returns nothing.
[code]
I think that this is correct behavior in for `-q` flag.

Verbose outputs with explanation should be in full commands
[code]

But

[2018-06-28 12:28] kadel opened #552 "Add option to allows user to specify port when component is created"
## Problem statement
Currently when `odo create ` odo inspect builder image and checks what ports are exposed.
This is just a metadata in the container image.

User can configure its application to listen on a different port, or different port can be used as default in some frameworks. Then the component will not work properly as we create Service that points only to the ports that are specified i

[2018-06-28 15:30] kadel opened #553 "Allow urls to specific component ports."
## Problem
If the underlying Service created for the component has multiple ports, and URL is created for such component. The Route that we create doesn't specify target port, such Route will do Round-Robin through all the Service ports. This is not behavior that user expects.

## Solution
Add `--port` flag to `odo url create` command. Similar to #552 this flag can be specified multiple times.

Ex

[2018-06-28 15:33] kadel commented on #527
Fix described in #553

[2018-06-29 09:59] kadel opened #555 "Add login/logout commands"
## Problem
Users have to use `oc` to login into the cluster.

## Solution
add `odo login` and `odo logout` commands that will have the same arguments as their `oc` counterparts.

[code]

- [x] odo login #826
- [ ] Add command odo logout #699

[2018-06-29 12:46] kadel opened #556 "Use InitContainer to inject SupervisorD to container."
## Problem
Right new we are using BuildConfig and https://github.com/kadel/bootstrap-supervisored-s2i to inject supervisor to s2i image.
This process is slow and creates unnecessary BuildConfig.

## Solution
Use initContainer and Go implementation of supervisor (https://github.com/ochinchina/supervisord)

InitContainer will copy supervisor binary with config file into the shared volume.
This volum

[2018-06-29 16:39] cmoulliard commented on #556
Use case description and Tech spec of the solution is available [here](https://docs.google.com/document/d/1ordPK6sd5uEi8-_ARCdoDR0Ga82QMRiMLeLHPegljIE)

Solution to be merged in odo and tested with Spring Boot application where code was compiled as uber jar file is [available](https://github.com/cmoulliard/k8s-supervisor)

[2018-06-29 16:56] cmoulliard commented on #556
When the initContainer will be started, then it will call a small go application to populate the content of the supervisord.conf using a list of CMDS passed as env var - [see](https://github.com/cmoulliard/k8s-supervisor/blob/master/supervisord/main.go#L39)

[2018-06-29 16:58] cmoulliard commented on #556
Modifications to be done are available [here](https://github.com/cmoulliard/k8s-supervisor/blob/master/odo.go#L91-L137)

[2018-06-29 17:02] cmoulliard commented on #556
it is not needed to start supervisord with the `run` command but instead to register the program with the option `autostart=false`

[code]

Status
[code]

Next, when we call `odo push`, the code will copied or updated from the local file system of the developer to the pod and a rsh exec command executed to trigger one of the program

[code]

[2018-07-02 12:05] slemeur commented on #556
@kadel : Should it be an epic?

[2018-07-03 20:54] jorgemoralespou commented on #556
@kadel, are 2 initContainers required?

[2018-07-04 04:31] cmoulliard commented on #556
@kadel @jorgemoralespou Another technical solution to be considered instead of managing the injection of the initContainer by odo is to delegate to k8s this responsability using a [webhook](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/)

This is what servicemesh - istio [does](https://github.com/istio/istio/blob/0.8.0/install/kubernetes/helm/istio/charts

[2018-07-04 16:35] cdrage opened #560 "Add tests for binaries"
We should be adding tests for deploying a binary application.

For example:
[code]

[2018-07-04 16:53] cdrage opened #562 "Deploying a binary gets stuck in an endless loop"
Steps to reproduce:

[code]

[code]

What results is that the deployment is stuck on an endless loop of "Status of wildfly-app1- build is running`.

The output of `oc status` is:

[code]

[2018-07-04 20:17] jorgemoralespou commented on #556
@cmoulliard this is the reason why OpenShift needs to be involved. Currently Cards, Webhooks, etc.. need to be installed by cluster-admin. Also, having odo relying on a functionality that is not provided by the client or the server but that needs to be installed on the server is not an option, IMHO.

[2018-07-05 14:01] #504 closed

[2018-07-05 14:03] #84 closed

[2018-07-06 15:08] jorgemoralespou opened #566 "Use image builders from your namespace when listing the catalog"
`odo catalog list` should show items in my local namespace as well, so if I define a builder in OpenShift Online I can use it.

[2018-07-06 15:10] jorgemoralespou opened #567 "Catalog items should allow to specify tag"
`odo catalog list`in OpenShift Online shows redhat-openjdk18-openshift which don't have a latest version, only 1.0, 1.1 and 1.2. If I want to create a component with version 1:2 I can't, as `odo component create redhat-openjdk18-openshift:1.2 myapp`gives an error

[2018-07-06 15:14] jorgemoralespou commented on #567
When doing in OpenShift Online:

[code]

Odo is trying to use latest image which don't exist.

[2018-07-09 08:33] cmoulliard opened #570 "Service "sb2-springbootapp" is invalid: spec.ports: Required value"
When we execute the following instructions on minishift 3.9 using odo - `0.7.0`

[code]

then we get the following error

[code]

[2018-07-09 16:01] cdrage commented on #549
@kadel I'll assign this to myself and fix it. It *should* be reverting to blank instead, may need for me to update the regex.

[2018-07-09 16:53] jorgemoralespou commented on #570
@cmoulliard I think this is same issue as https://github.com/redhat-developer/odo/issues/567

[2018-07-09 18:38] cdrage opened #571 "Error / warn user when trying to push to other source defined in BuildConfig"
Scenario:
I deploy an image using git
I then try to update that image with local
Since I originally deployed using git, Odo should error out and tell me that I need to update using git and not local or even binary (in Java's case).

@syamgk @kadel

[2018-07-09 19:01] cdrage commented on #312
@kadel PR here: https://github.com/redhat-developer/odo/pull/548

[2018-07-09 19:56] cdrage commented on #549
@kadel

The problem is that "There's no active application." prompt as well as "No component is set as current" is not returning an error code (this should error out).

The current PS1 implementation checks to see if there is an error code of 0 or 1 outputted and goes from there.

I've implemented this fix (with a more detailed description) here: https://github.com/redhat-developer/odo/pull/572

[2018-07-10 14:51] kadel commented on #567
Isn't this the same problem as described in  #514?

[2018-07-10 14:53] kadel commented on #566
related to https://github.com/redhat-developer/odo/issues/500

[2018-07-10 14:55] kadel commented on #549
It shouldn't error out. The state with no active app or component is not error state.

[2018-07-10 15:07] cdrage commented on #549
@kadel I'd disagree that "There's no active application" would be an error rather than a print / prompt. As a compromise, if we add `-q` could we agree to make it error out if no active application / no component was found so that the PS1 script operates correctly based on error-code?

If not, we could always compromise and add regex / string checking to the PS1 instead of checking for error code.

[2018-07-10 15:19] cmoulliard commented on #556
Here is a first prototype using the supervisord's init container : https://github.com/cmoulliard/k8s-supervisor#instructions-to-inject-a-supervisords-initcontainer-and-enrich-the-deployment-of-a-spring-boot-s2i-application

- Deploymentconfig with initcontainer, service, route are created using `[create.go](https://github.com/cmoulliard/k8s-supervisor#create-the-deploymentconfig-for-the-local-spri

[2018-07-10 15:29] cdrage commented on #571
@kadel

Let me re-phrase!

If I deploy with Git and I choose to update / push changes using **local**, Odo should error out / tell the user to push / update using the originally method (git).

[2018-07-10 16:36] mik-dass commented on #571
@cdrage Currently if the build source is git in the buildConfig and we try to push changes using local then this error is shown
```unable to push local directory to component that uses git repository as source```
Should we improve this message?

[2018-07-10 16:55] kadel commented on #266
When I'm looking at the current implementation from the user's point of view, it could be confusing.
When you run `odo catalog list` you can seel all the component types (s2i images) and services.

The problem that there might be is that services are not really components (or they are really special kinds of components). It doesn't make sense to run `odo update`, `odo push` or `odo watch` on those