[2020-04-22 12:25] dharmit commented on #2954
https://github.com/openshift/odo/pull/2944#issuecomment-617746856

Saw this recently on Travis.
[code]

[2020-04-22 12:38] girishramnani commented on #2899
- as the primary resource here is `namespace` and `project`, I would use checking of their existance as the way to detect if we are dealing with kube or openshift.
- creating namespace is going to straight forward - maybe just one caviat that its creation could be async ( my research so far shows othervise )
- `odo project get` should also be straightforward, as I remember we even now use KUBECONF

[2020-04-22 12:43] girishramnani commented on #2828
any update on this @cdrage ? and please consider moving this to a sprint.

[2020-04-22 12:44] girishramnani commented on #2831
any updates on this @boczkowska

[2020-04-22 12:54] girishramnani commented on #2868
@amitkrout can you please cleanup the issue description?

[2020-04-22 13:09] johnmcollier commented on #2956
Github had a lot of issues yesterday, where this error was common, has this been seen since then?

[2020-04-22 13:09] amitkrout commented on #2931
Updated the description

[2020-04-22 13:18] cdrage opened #2958 "Publish odo.dev site, integrate both OpenShift and Kubernetes documentation"
/kind documentation

## What mistake did you find / what is missing in the documentation?

The following needs to be completed:

- [x] https://odo.dev site published
- [x] OpenShift documentation from docs.openshift.com added
- [x] Devfile documentation added
- [x] Operator Hub documentation added

## What is the relevance of it?

Need a centralized location for all documentation that's unrelated

[2020-04-22 13:30] adisky commented on #2835
IIUC from a single odo session, i guess it would be difficult to list down from different clusters, if you are thinking to list down locally then an additional field needs to be added locally.

[2020-04-22 13:45] mohammedzee1000 commented on #2931
Template: https://steps.svc.ci.openshift.org/help/ci-operator#periodic

[2020-04-22 13:45] kadel commented on #2938
this is blocked on  https://github.com/openshift/odo/issues/2918

/stats blocked

[2020-04-22 13:46] kadel commented on #2938
@elsony What about devfile v1 support. Are we not going to support it anymore?

[2020-04-22 13:47] kadel commented on #2937
/status blocked
we need to have a parser implementation first #2918

[2020-04-22 13:48] kadel commented on #2936
/status blocked
#2918 we need devfile v2 parser first

[2020-04-22 13:48] kadel commented on #2935
/status blocked
#2918 we need devfile v2 parser first

[2020-04-22 13:49] girishramnani commented on #2932
these practices dont apply to odo because
- we dont have a large enough team
- we dont run on production clusters and similar such scenarios dont apply to us.

[2020-04-22 13:49] #2932 closed

[2020-04-22 13:54] kadel commented on #2919
sure

but we need to have parser in place before we can start working on this. #2918 needs to be addressed first
/status blocked

[2020-04-22 13:56] dharmit commented on #2956
@johnmcollier I saw bunch of these errors since this morning (India time) on #2901 & #2944

[2020-04-22 13:57] cdrage commented on #2897
Closing in favour of https://github.com/openshift/odo/issues/2958

[2020-04-22 13:57] #2897 closed

[2020-04-22 14:04] kadel commented on #2778
I would prefer we do the right thing and fix the underlying problem

[2020-04-22 14:52] yangcao77 opened #2959 "Should use context to get appropriate envinfo instead of using os.Getwd()"
/kind bug

Since context is currently not supported in experimental mode, we use `os.Getwd()` to get the env.yaml
https://github.com/openshift/odo/blob/5a26a56426b5d4e214c0817c2820350d9b862e0a/pkg/odo/cli/component/devfile.go#L116-L117
https://github.com/openshift/odo/blob/5a26a56426b5d4e214c0817c2820350d9b862e0a/pkg/odo/cli/component/devfile.go#L130-L131
https://github.com/openshift/odo/blob/1082

[2020-04-22 14:52] yangcao77 commented on #2959
/area devfile

[2020-04-22 14:53] jeffmaury opened #2960 "odo service create fails on OCP 3.x and service catalog"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10Pro

**Output of `odo version`:**

[code]

## How did you run odo exactly?

`odo service create postgresql-persistent --plan default postgres --app springapp --project myproject`

## Actual behavior

[code]

## Expected behavior

Service should be created successfully

## Any logs, error output, etc?

[2020-04-22 14:59] #2943 closed

[2020-04-22 15:02] mohammedzee1000 commented on #2778
Ok I have managed to do something that makes progress towards fixing the larger problem but it will be a breaking change

[code]
@dgolovin wdyt?

[2020-04-22 15:19] mik-dass commented on #2956
It is a flake according to me

When you started seeing this ? i mean after the test node increased to 4 ?

Yes seems to be a network issue. I have seen this failure locally even when the test nodes are set to the default 2 nodes.

[2020-04-22 15:40] GeekArthur opened #2961 "Default registry migration"
/kind feature
/area devfile

## Which functionality do you think we should add?
Currently the default registry is hosted on Elson's personal Github repository https://github.com/elsony/devfile-registry/tree/master/devfiles. The original idea regarding default registry was to let it host on personal git repository for tech preview as it's easier to manage and manipulate for both testing and develop

[2020-04-22 18:08] gorkem commented on #2840
They are not too far off. Instead of setting up a pod on the cluster and syncing source files. odo sets up the same pod a bit different to sync the streams into that pod to local. The critical bits around devfile, services etc are essentially the same.

[2020-04-23 00:20] jgwest commented on #2550
#### Updates since original proposal:

Adopted all @kadel's suggestions, including markup format and `odo component status`.

In the proposal I've replaced `--events` with `-o json`; I was not aware of ODO's use of `-o json` to trigger machine-readable codepaths at the original time of writing, but it works great here and I've fully adopted it for this.

Standardized on the timestamp format of `(U

[2020-04-23 04:21] dharmit commented on #2954
Saw this particular error multiple times this morning. Looks like an erroneous test:
[code]
@amitkrout @prietyc123 do we want to file a separate issue for this?

[2020-04-23 04:34] prietyc123 commented on #2954
@dharmit Yes, as we are facing this more frequently I think we need to file a separate issue for this. But this is only a flake which is occurring so frequently because of increased test node to 4.

[2020-04-23 04:43] johnmcollier commented on #2954
The Error message:
[code]
 is the same as the one described in https://github.com/kubernetes/kubernetes/issues/58957

Which makes me wonder if how we’re setting the namespace for the tests is messing up the Kube config.

[2020-04-23 05:11] dharmit opened #2963 "Travis failure for "make goget-tools""
Spun off a new issue based on https://github.com/openshift/odo/pull/2944#issuecomment-617746856

Saw this couple of times on Travis.
[code]

/kind flake

_Originally posted by @dharmit in https://github.com/openshift/odo/issues/2954#issuecomment-617747370_

[2020-04-23 06:14] dharmit opened #2964 "JSON output for "odo project" commands on Kubernetes"
/kind user-story

## User Story
As a developer using odo to communicate with OpenShift (Adapters, for example) I want to have json output for `odo create` commands on Kubernetes so that I can show the accurate info to end-users

## Acceptance Criteria
- [ ] `odo project create <project-name> - o json` should give the json output like it currently does when OpenShift is used as backend
- [ ] Simila

[2020-04-23 06:15] dharmit commented on #2899
@girishramnani I created the JSON output user story so that it doesn't slip from our mind. Obviously it will need more inputs from you. :smile:

[2020-04-23 07:22] prietyc123 commented on #2930
I have created a basic spreadsheet to capture the record. Anyway I will try to figure it out and test it manually.

[2020-04-23 08:02] adisky commented on #2918
To support Devfile 2.0 following things need to be done in odo.
Add folder 2.0.0 here,
https://github.com/openshift/odo/tree/master/pkg/devfile/parser/data
Add JSON schema for devfile 2.0.0
https://github.com/openshift/odo/tree/master/pkg/devfile/parser/data/2.0.0/devfileJsonSchema200.go
Define devfile 2.0.0 go struct `Devfile200`
https://github.com/openshift/odo/tree/master/pkg/devfile/parser/dat

[2020-04-23 08:11] dgolovin commented on #2778
@mohammedzee1000 LGTM, we wont be affected by this change.

[2020-04-23 08:24] kadel commented on #2717
What about volumes created based on the `volumes` definition in devfile.yaml component?
I can see that with #2922 they are not deleted.

[code]

[2020-04-23 08:36] prietyc123 commented on #2088
one more hit in https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2925/pull-ci-openshift-odo-master-v4.3-integration-e2e-benchmark/2226#1:build-log.txt%3A395

[2020-04-23 08:40] amitkrout commented on #2956
Closing this as it was a network glitch. Thanks

[2020-04-23 08:40] #2956 closed

[2020-04-23 08:55] kadel commented on #2929
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2905/pull-ci-openshift-odo-master-v4.4-integration-e2e-benchmark/330

[2020-04-23 09:37] amitkrout commented on #2953
Running odo with args [odo delete --context /tmp/753695717 -f]
[odo]  ✗  invalid configuration: [context was not found for specified context: qhhnzpnvmg/127-0-0-1:8443/developer, cluster has no server defined]

Duplicate of https://github.com/openshift/odo/issues/2088

 ✓  Checking files for pushing [1ms]
[odo]  •  Waiting for component to start  ...
[odo]  ✗  waited 4m0s but couldn't find running

[2020-04-23 09:37] #2953 closed

[2020-04-23 09:54] amitkrout commented on #2877
@mik-dass This issue appears more frequently than before when the test node was 2. I am also assigning you to this issue along with me as you have fixed similar kind of issue before.

[2020-04-23 10:35] amitkrout commented on #2955
[odo]   Downloading https://files.pythonhosted.org/packages/00/b6/9cfa56b4081ad13874b0c6f96af8ce16cfbc1cb06bedf8e9164ce5551ec1/pip-19.3.1-py2.py3-none-any.whl (1.4MB)
[odo] Installing collected packages: pip
[odo]   Found existing installation: pip 9.0.1
[odo]     Uninstalling pip-9.0.1:
[odo]       Successfully uninstalled pip-9.0.1
[odo] Successfully installed pip-19.3.1
[odo] ---> Installing de

[2020-04-23 10:36] mik-dass opened #2967 "Optimize odo create"
/kind bug

The catalog list call in https://github.com/openshift/odo/blob/a45fa0e18b769df75e877e199976cb93f4c4719d/pkg/odo/cli/component/create.go#L319 takes a very long time. We should optimize this call using concurrency. Also we don't need those additional calls in the list call.

[2020-04-23 10:47] amitkrout commented on #2967
@mik-dass Thanks for the issue.

I have observed it after some devfile pr was merged. This fix will decrease the test time a lot in CI too.

[2020-04-23 11:32] jgwest commented on #2581
First PR has merged. Since the first PR does not include support for deleting non-source volumes (the non-source volumes PR has not been merged at time of first PR) I will be posting a second PR shortly to complete this user story.

This issue should remain open until second PR has merged.

[2020-04-23 11:46] prietyc123 commented on #2963
One more hit in https://travis-ci.com/github/openshift/odo/jobs/322505153#L235

[2020-04-23 12:09] kadel opened #2968 "odo component commands for docker PushTarget"
Each component command needs to work properly with docker pushTarget

- [ ]  create
- [ ]  delete     https://github.com/openshift/odo/issues/2581
- [ ]  describe
- [ ]  link
- [ ]  list
- [ ]  log
- [ ]  push  https://github.com/openshift/odo/issues/2576
- [ ]  unlink
- [ ] update
- [ ]  watch

/kind epic
/area local

[2020-04-23 12:11] kadel opened #2970 "odo app commands for docker PushTarget"
`odo app *` commands need to be implemented for docker PustTarget

- [ ] delete
- [ ] describe
- [ ] list

/area local
/kind epic

[2020-04-23 12:13] kadel opened #2971 "odo config commands for docker pushTarget"
all `odo config *` needs to work properly with docker pushTarget

- [ ] set
- [ ] unset
- [ ] view

/area local
/kind epic

[2020-04-23 12:14] kadel opened #2972 "odo debug for docker pushTarget"
all `odo debug *` needs to work properly with docker pushTarget

- [ ] info
- [ ] port-forward

/area local
/kind epic

[2020-04-23 12:15] kadel opened #2973 "odo project commands for docker pushTarget"
all `odo project *` commands need to work properly with docker pushTarget

- [ ] create
- [ ] delete
- [ ] get
- [ ] set
- [ ] list

/area local
/kind epic

[2020-04-23 12:15] mik-dass commented on #2877
Let's reduce the number of nodes back to 2.

[2020-04-23 12:15] kadel opened #2974 "odo service commands for docker pushTarget"
all `odo service *` commands need to work properly with docker pushTarget

- [ ] create
- [ ] delete
- [ ] list

-  `odo catalog list services` - What services will be listed?

/area local
/kind epic

[2020-04-23 12:17] kadel opened #2975 "odo storage commands for docker pushTarget"
all `odo storage *` commands need to work properly with docker pushTarget

- [ ] create
- [ ] delete
- [ ] list

/area local
/kind epic

[2020-04-23 12:44] prietyc123 commented on #2877
I agree to

Not a bad though I suspect the failure might be due to less resources in travis CI. Is there any way to increase the resouces in travis while doing ```oc cluster up```? cc_ @amitkrout

[2020-04-23 12:53] adisky commented on #2820
We could check status of `devrun` command with `supervisord ctl status devrun`
if the command is running, and `attribute` `restart` is `false`, odo would not restart the `devrun`command.
https://github.com/openshift/odo/blob/master/pkg/devfile/adapters/kubernetes/component/adapter.go

[2020-04-23 14:08] girishramnani commented on #2858
blocked on https://github.com/openshift/odo/issues/2820

[2020-04-23 14:20] adisky commented on #2918
https://github.com/che-incubator/devworkspace-api/blob/master/schemas/devfile.json

[2020-04-23 14:24] girishramnani commented on #2801
this is a pre-requisite to listing the services

[2020-04-23 14:44] adisky commented on #2918
We are unmarshaling here first to get the `apiVersion`

https://github.com/openshift/odo/blob/d03ed71b484ca9bc672846b9cb7b3dba92b90075/pkg/devfile/parser/context/apiVersion.go#L17

Then again unmarshaling to corresponding apiVersion structure.
https://github.com/openshift/odo/blob/d03ed71b484ca9bc672846b9cb7b3dba92b90075/pkg/devfile/parser/parse.go#L37

[2020-04-23 14:51] kadel opened #2977 "follow up on odo create for docker pushTarget"
odo needs to properly handle the situations where the user switches between `pushTarget`s

### URL created for Docker but pushed to Kube
[code]

The error message is confusing, it doesn't say anything useful. It should detect what happened, and tell user what to do.
This PR https://github.com/openshift/odo/pull/2885 is adding URL `Kind` to `env.yaml` which might be useful here.

### URL created fo

[2020-04-23 14:52] kadel commented on #2977
/area devfile
/area url
/area local

[2020-04-23 15:13] elsony commented on #2934
This items should also cover the json output format for the command

[2020-04-23 15:21] johnmcollier commented on #2963
Are we maybe getting rate limited by Github? Error 7 from Curl means permission denied

[2020-04-23 15:26] mohammedzee1000 commented on #2778
Ok then I am going ahead to fix as much as i can. Including storages into the fold

[code]

[2020-04-23 16:24] yangcao77 opened #2978 "odo create interactive mode asks for namespace when the push target is set to docker"
/kind bug
/area devfile

## What versions of software are you using?

**Operating System:**
macos
**Output of `odo version`:**
master branch
## How did you run odo exactly?
enable docker mode by setting the pushtarget
run `odo create`

## Actual behavior
[code]

## Expected behavior
Should not ask for namespace since namespace is only applicable for kube

[2020-04-23 16:29] johnmcollier commented on #2579
@kadel Initially this story covered sync and exec as well, but @elsony and I made the decision to split that functionality off into https://github.com/openshift/odo/issues/2717, so my PR that was merged covered everything that was in scope for this issue (deploying containers when pushtarget is set, and integration test platform for odo-docker). Can this issue be closed?

[2020-04-23 16:29] johnmcollier commented on #2978
/assign

[2020-04-23 16:45] johnmcollier opened #2979 "Reduce the number of calls to pushtarget.IsPushTargetDocker()"
/kind cleanup
/area devfile
/area local

A lot of the code that is going in for the Docker pushtarget support in odo is making a number of calls to the `pushtarget.IsPushTargetDocker()` function. Each call of that function involves needing to read the `preference.yaml` from disk and retrieving the pushtarget value from it

We should try and reduce the number of unnecessary calls to that function a

[2020-04-23 17:53] #2580 closed

[2020-04-23 18:12] yangcao77 commented on #2977
/assign

[2020-04-23 18:15] yangcao77 commented on #2977
This issue should have been fixed in: https://github.com/openshift/odo/pull/2906
@kadel Can you help verify? Thanks

[2020-04-23 18:20] yangcao77 commented on #2787
Related issue: https://github.com/openshift/odo/issues/2778

[2020-04-23 18:22] yangcao77 commented on #2934
/area url
/area local

[2020-04-23 18:48] GeekArthur commented on #2979
Regarding this optimization, one thing I can think of is we need to ensure getting the updated pushTarget value via fs call as I believe preference.yaml is the only place that stores user’s updated pushTarget value, but we can reduce the number of fs calls for the successive functions/operations within the command

[2020-04-23 19:28] cdrage opened #2980 "Able to create multiple URL's with devfile with the same name"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** Master

## How did you run odo exactly?

[code]

## Actual behavior

Error out when deleting the URL as well as being able to push a URL even though there is already one with the same name.

## Expected behavior

Being able to delete the URL as well as an error happening when trying to

[2020-04-23 19:29] yangcao77 commented on #2977
**URL created for docker but push to kube**

[code]

**URL created for kube but push to docker**
[code]
Also remove --secure flag if the push target is docker.

[2020-04-23 19:31] yangcao77 commented on #2787
/status blocked

[2020-04-24 05:31] #2824 closed

[2020-04-24 05:41] mohammedzee1000 commented on #2787
/status blocked

[2020-04-24 07:44] #2723 closed

[2020-04-24 08:31] prietyc123 commented on #2161
There is no point in keeping this issue for milestone 1.2, Hence moving it to milestone 1.3

[2020-04-24 08:33] prietyc123 commented on #2468
There is no point in keeping this issue in milestone 1.2, hence deffering it to milestone 1.3

[2020-04-24 09:13] dharmit opened #2983 "odo doesn't list unpushed URLs in experimental mode"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
[code]

## Actual behavior
`odo url list` can't list URL if it's not pushed. In this case, even the component itself wasn't pushed to the cluster.

## Expected behavior
`odo url list` should be able to list the URLs not pushed to the cluster.

## A

[2020-04-24 09:17] dharmit opened #2984 "odo allows creating mutliple URLs with same name in experimental mode"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
[code]

## Actual behavior
`odo url create` allows creation of multiple URLs with same name

## Expected behavior
It shouldn't allow creation of multiple URLs with same name. Or at least it doesn't when I execute any of the above two `odo url creat

[2020-04-24 10:45] mik-dass commented on #2984
I think there is a similar issue https://github.com/openshift/odo/issues/2980. Can you please check?

[2020-04-24 11:04] mik-dass opened #2985 "List routes kind URLs in odo list"
/kind bug

Once https://github.com/openshift/odo/pull/2885 is in, we should list route based URLs in `odo list`.

blocked on https://github.com/openshift/odo/pull/2885

[2020-04-24 11:27] dharmit commented on #2984
Yep. Closing since this is dupe as mentioned above.

[2020-04-24 11:27] #2984 closed

[2020-04-24 11:46] prietyc123 commented on #2928
Yes, I tried manually and it is working fine. I think it is the cluster version issue running on travis CI. I think I know the exact solution and I can send pr on this.

[2020-04-24 16:51] johnmcollier opened #2987 "[Gosec] CI builds failing due "Implicit memory aliasing in for loop""
/kind bug

Just seen in the OpenShift CI:
[code]

[2020-04-24 17:59] cdrage opened #2989 "`odo component list` does not work for Devfile's"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** N/A

## How did you run odo exactly?

I deployed a devfile application

[code]

## Actual behavior

[code]

Despite having a devfile, `odo list` does not work

## Expected behavior

For `odo list` to work

## Any logs, error output, etc?

See above :)

[2020-04-24 19:38] #2987 closed

[2020-04-25 11:13] amitkrout opened #2994 "In a operator installed cluster odo catalog list services stuck while fetching services details"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
I tried 3 times, in none of try i could see it. This is observed in CI
[code]

## Actual behavior
```odo catalog list services``` stuck

## Expected behavior
Either it should throw error or should fetch the details.

## Any logs, error output,

[2020-04-26 12:06] amitkrout opened #2995 "Add docker version coverage for docker devfile push"
/kind feature

## Which functionality do you think we should add?
We are now running the docker devfile push only on the default docker version available on ubuntu distribution. But completely missing other official docker version available for windows, mac and other linux distribution aswell. And ofcourse these docker version coverage matrix will be documented for the distribution we support

##

[2020-04-27 05:50] prietyc123 opened #2997 "Unable to execute command /opt/odo/bin/assemble-and-restart"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Run ```odo push --context /tmp/846005368``` on travis CI

## Actual behavior

Odo push gets failed saying unable to exec command /opt/odo/bin/assemble-and-restart.

[code]
Same failures are seen for ```test-cmd-service``` in the same log

[2020-04-27 06:19] prietyc123 opened #2998 "Namespaces creation in parallel are not handled properly by the test script"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?
Running test on travis CI.

## Actual behavior
[code]
On 4 test node we are observing this failure more prominently.

## Expected behavior
It should create the namespace successfully and do ```odo push```

## Any logs, error output, etc?

[2020-04-27 08:09] dharmit opened #2999 "odo doesn't honour "ODO_EXPERIMENTAL=false" on command line"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
[code]

## Actual behavior
odo prints the list of operators in spite of having set `ODO_EXPERIMENTAL=false` on CLI

## Expected behavior
Odo should not have listed operators. In my experience, CLI value gets preference over configuration. But what behaviour w

[2020-04-27 09:10] prietyc123 commented on #2930
Test Scenario | Test Type (Regular/Experimental) | Status | Comment
-------------  | --------------------------------- | ------  | ----------
Adding odo storage in e2e_image_test | Regular | Pass | Checked for the list of storage and it exist

[2020-04-27 09:40] prietyc123 commented on #2877
one more hit in https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2965/pull-ci-openshift-odo-master-v4.2-integration-e2e-benchmark/2313#1:build-log.txt%3A378

[2020-04-27 10:16] Kamran64 opened #3000 "Allow a project to be specified using the downloadSource flag"
/kind user-story

## User Story
As a developer, I'd like to be able to specify a specific project (by `name` field) to be downloaded from the `--downloadSource` flag on `odo create`. Currently, using the flag only downloads the first project in the devfile.

## Acceptance Criteria
- [ ] Add an optional argument to `--downloadSource` which downloads the project specified by the argument. The argume

[2020-04-27 10:54] mik-dass commented on #2701
@girishramnani @kadel How will we detect the remote port of the debugrun step?

[2020-04-27 11:21] Kamran64 commented on #3000
/assign

[2020-04-27 11:21] girishramnani commented on #2701
- we need to allow the user to set the remote debug port if needed which means the debugrun command should support env interpolation i.e.  a sample devrun command `node —inspect $DEV_PORT main.js` the DEV_PORT can be env variable expose on the s2i script ( for now as we still plan to use it ). This can be a possible solution.

We should default to something but the user shouldn’t need to provide i

[2020-04-27 11:21] EnriqueL8 opened #3002 "Download github projects in devfile at a specific revision"
/kind user-story
/area devfile

## User Story
As a developer, I want to get the correct revision for a sample project. If the devfile specifies a branch, commit or a tag for a project, I want to be able to clone that project at that specific revision. The fields used to specify a revision for a project are:
- Branch
- CommitId
- Tag
- StartPoint

## Acceptance Criteria
- [ ] It should download the

[2020-04-27 11:21] EnriqueL8 commented on #3002
/assign

[2020-04-27 11:28] girishramnani commented on #2701
- remote port should only be in the local env if it’s set specifically by the user.

[2020-04-27 12:29] CameronMcWilliam opened #3004 "Download specified path and sub-paths of a project if sparseCheckoutDir field has a value"
/kind user-story
/area devfile

## User Story
As a developer I want to be able to clone down the `sparseCheckoutDir` specified by the devfile so that only the necessary folders are downloaded from a project.

## Acceptance Criteria
- [ ] It should download the specified path and sub-paths when there is a value present in the `sparseCheckoutDir` field.
- [ ] It should default to download the entire

[2020-04-27 12:30] CameronMcWilliam commented on #3004
/assign

[2020-04-27 13:19] skoh7645 opened #3005 "Provide information on the starter projects available to each component"
/kind user-story
/assign
/area devfile

## User Story
As a user, I want odo to be able to list starter projects available to each component, and provide some basic information on each starter project including:
- Name
- Description (this would need to be added to the devfile v2 schema)

This information would give me a better indication as to which starter project fits my needs.

## Acceptance Cri

[2020-04-27 13:24] vandepol commented on #2191
+1 on this.  Was just about to open issue on this and found it.
With OCP coming across the simple case where just need to passthrough flag set, however this can't be  done on the odo create url command line.

In addition would like this available in the devfile.yaml
see open issue in devfile on eclipse che...
https://github.com/eclipse/che/issues/14622#issuecomment-615110628

[2020-04-27 13:55] cdrage opened #3007 "Organize debugging information into separate sections."
/kind documentation
/kind code-refactoring

## What mistake did you find / what is missing in the documentation?

There is *a lot* of debugging information that's on `V(4)`.

We should organize all the debugging information into separate sections relevant to the logs.

For example:

`V(0)` Normal logging output
`V(1)` is for experimental features / testing suite
`V(2)` is for Devfile
`V(3)` is for

[2020-04-27 14:58] dharmit commented on #2776
Besides the original issue mentioned by @dgolovin, I found one more issue in `odo describe` for an unpushed component.

1. Create a component that exposes one port (8080 in below example)
2. Create a URL for that component
3. Do `odo describe`. This correctly shows that URL will be exposed via port 8080
4. Use `odo config set` to add one more exposed port for the component
5. Do `odo describe`. Th

[2020-04-27 15:01] girishramnani commented on #2883
@amitkrout can you please verify if this is a bug, I am having second thoughts.

[2020-04-27 16:39] GeekArthur commented on #2803
@ajm01 In order to reproduce this issue properly, can you let me know the following information for clarify:
1. The specific odo group of commands to reproduce instead of the odo command (`./odo push -f -v 4 --show-log --build-command="Builder" --run-command="Run"`) that hit this issue (eg. `odo create` -> `odo url` -> `odo push`) as I would like to reproduce from end-to-end use case perspective
2

[2020-04-27 16:41] GeekArthur commented on #2803
/triage needs-information

[2020-04-27 17:14] cdrage commented on #1884
/lifecycle frozen

[2020-04-27 18:07] maysunfaisal opened #3012 "Devfile URL push fail"
/kind bug

## What versions of software are you using?

**Operating System:** Mac

**Output of `odo version`:** master

## How did you run odo exactly?
I have two urls defined in my component, one for each docker, kube:
[code]

when i switch to kube, and do odo push , it complains about ingress create fail:
[code]

## Actual behavior
`odo push` fails because ingress cannot be created

Should my ur

[2020-04-27 18:38] maysunfaisal commented on #3012
seems like a dup of #2977

[2020-04-27 18:38] #3012 closed

[2020-04-27 19:20] maysunfaisal opened #3014 "Write Tests for Sync package with kclient and occlient"
/kind user-story

## User Story
Historically, odo never unit tested the sync code but with https://github.com/openshift/odo/pull/2922, unit tests have been introduced for sync and lclient.

We need to write tests for both sync and kclient, occlient

## Acceptance Criteria
- [ ] should have sync tests for kclient
- [ ] should have sync tests for occlient

/kind user-story

[2020-04-27 19:27] maysunfaisal opened #3015 "Devfile Adapter Cleanup/Refactor"
/kind user-story

## User Story
Some cleanups to be tracked, that were raised during https://github.com/openshift/odo/pull/2922

## Acceptance Criteria
- [x] Should clean up build command. Instead of appending, they should be separated out by commas https://github.com/openshift/odo/blob/master/pkg/exec/devfile.go#L20 (N/A - reason https://github.com/openshift/odo/issues/3015#issuecomment-649761051

[2020-04-27 19:27] maysunfaisal commented on #3015
/area devfile

[2020-04-27 19:40] johnmcollier commented on #2999
+1 for having the `ODO_EXPERIMENTAL` value override the value in the preference file. We did the same for the pushtarget preference and if `ODO_PUSHTARGET=<target>` is set, it uses that over whatever's stored in the preferences file.

[2020-04-27 20:16] cdrage opened #3017 "Flakey url_test.go test causing release issues."
/kind bug

[code]

Just an FYI. I have no idea what happened. But looks to have caused an issue.

[2020-04-27 20:19] johnmcollier commented on #3017
@cdrage FYI I've seen this before when that unit test is run with experimental mode enabled (see https://github.com/openshift/odo/issues/2816 and https://github.com/openshift/odo/issues/2816)

[2020-04-27 21:08] kadel opened #3020 "External dependencies in integrations test"
The integrations test should not have external dependency unless it is absolutely unavoidable.
It creates unnecessary external dependencies that lead to flaky tests.
[code]

The example app should be stored with tests, and then copied into a temp directory using `helper.CopyExample`

These are some of the test scenarios that are unnecessary cloning GitHub repos.

https://github.com/openshift/odo/b

[2020-04-27 21:13] maysunfaisal commented on #3020
One of the PR review feedback was to clone the project, but I'll add it back since its creating flakes

[2020-04-27 21:29] maysunfaisal commented on #3020
Though the first log trace in OP

[code]

is from utils_test.go acc to PR https://github.com/openshift/odo/pull/3019 and is used to extract a downloaded project. @EnriqueL8 can you pls look at the disabled flake acc to PR #3019?

I can tackle the other integration tests like @kadel pointed out in the rest of the OP.

[2020-04-27 22:43] kadel commented on #3020
hmm :-( Sorry for the confusion. Unless it is is really necessary for the test we should try to avoid any external dependencies like this.

I forgot to include this one in the list.
/assign @EnriqueL8

[2020-04-27 22:49] kadel opened #3023 "Test and Release/Build environment should match"
It is important that the test environment and release/build environment match.
For example, the same Go version should be used everywhere.

- RPM Spec is currently specifying Go 1.11. https://github.com/openshift/odo/blob/08c339c744f8d92848b50ba816fc0a82e5cff302/rpms/openshift-odo.spec#L6
- Release build on Red Hat Brew instance is happening on 1.12.
- Travis-CI is using Go 1.13.1 https://github.c

[2020-04-28 01:10] dgolovin opened #3024 "odo binaries for v1.2.0 release have not been uploaded to mirror.openshift.com"
/kind bug

Latest release download [link](https://mirror.openshift.com/pub/openshift-v4/clients/odo/v1.2.0/) leads to missing folder
![image](https://user-images.githubusercontent.com/620330/80435762-4916ab00-88b2-11ea-828e-dff0a9de6149.png)

[2020-04-28 03:20] sspeiche opened #3026 "odo deploy should support creation of Knative:Service"
## Description
As a developer, I'd like a way to have `odo deploy` to utilize deployment guidance in devfile to create a `kn:Service` instead of a kubernetes Deployment or OpenShift Deployment config.

## Acceptance criteria
* Developer can create a new application component as a Knative Service and match the behavior in OpenShift's web ui.

## Possible cli flows

Ability to use odo to deploy as a

[2020-04-28 03:28] sspeiche opened #3027 "Support for Knative Eventing"
## Description
As a developer, I want a simple way to "subscribe" to an event source so that I can register my serverless function as an event handler.

## Acceptance criteria
* When Knative eventing is enabled, there is a way for `odo` user to discover various event sources.
* When Knative eventing is enabled, there is a way for `odo` user to "link" or subscribe from a source to a target.
* When

[2020-04-28 05:06] #2954 closed

[2020-04-28 05:12] jgwest opened #3028 "Fix Kubernetes integration test issues: create a non-colliding random string generator for namespace generation"
/kind feature

## Which functionality do you think we should add?

This test bug is opened to track the following issue with the Odo integration tests against Kubernetes:

#### [kubectl] Error from server (AlreadyExists): namespaces "xvqjwfscgf" already exists

This error occurs in local and CI runs of Kubernetes-targetted devfile tests, because the existing random string generator (`RandString`)

[2020-04-28 05:12] jgwest commented on #3028
/area devfile

[2020-04-28 05:14] jgwest commented on #3028
/area testing

[2020-04-28 06:58] kadel commented on #3024
1.2.0 has not been released yet

[2020-04-28 08:00] adisky commented on #2800
for quarkus dev mode, we need not run `devRun: mvn quarkus:dev` command with every odo push, and we just need to run `devBuild: mvn compile` only for first build,  so we can use `devInit` here.
[code]

[2020-04-28 09:19] Kamran64 commented on #3000
A couple of thoughts after looking at implementing this yesterday:

1. The `--downloadSource` flag is currently a bool value. If we change it to hold a string, then it becomes mandatory that a value is entered after the flag is invoked which defeats the purpose of acceptance criteria 2.

2. The other option is to keep the flag as a bool but check for a non flag argument passed after the flag (simi

[2020-04-28 09:27] Kamran64 commented on #3000
Other solutions considered are:
- Add a new flag to specify the project to be downloaded - However this may not be nice for the user experience (might be confusing to differentiate between `--downloadSource` and this new flag.)
- Keep `--downloadSource` as it is and if there is more than one project in the devfile, trigger interactive mode to allow the user to choose the project. This won't work i

[2020-04-28 09:30] #2769 closed

[2020-04-28 11:50] amitkrout opened #3032 "Race condition causes failure in devfile watch test parallel run"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
master
## How did you run odo exactly?

## Actual behavior

## Expected behavior

## Any logs, error output, etc?
[code]

[2020-04-28 11:54] kadel commented on #2019
/remove-lifecycle rotten

This is starting to cause a lot of problems :-(

We can create a temporary workaround.
Let's create a job on OpenShift CI, that will check Travis-CI status for given PR.
The job should have all information that is needed (PR number, repo). It should be just one simple API call to github status API endpoint.

/priority high
/remove-priority medium

[2020-04-28 14:15] johnmcollier opened #3033 "[Docker] User left waiting with no spinner while supervisord image is pulling"
/kind bug
/area devfile
/area local

When the supervisord volume and image don't exist on the user's machine, the user is waiting with no spinner:
[code]

Initially, I thought we wouldn't need a spinner while we pull the supervisord image as it's something in the backend that the user shouldn't worry about. But I think now we need _some_ kind of spinner while the supervisord image is pulled and vo

[2020-04-28 14:19] johnmcollier opened #3034 "[Docker] Hard to recover if supervisord volume is empty/corrupted"
/kind bug
/area devfile
/area local

I've found that if the user exits odo while the supervisord image is being pulled, it can leave the user's system in a bad state that's hard to recover from:

[code]

The volume exists, but doesn't have the supervisord binary on it. It's not really clear to the user _how_ to recover from this. For me, I had to do the following:
1) Restart docker
2) Run `docker

[2020-04-28 14:26] johnmcollier commented on #3033
I can work on this

/assign

[2020-04-28 14:34] atgreen opened #3035 "Present license notices from command line"
/kind feature

## Which functionality do you think we should add?
The odo cli should have a command to dump all copyright notices associated with the open-source software built into the binary.

## Why is this needed?
odo is commonly distributed in binary form without any of the license notices required by the open-source code used to build odo.  See, for instance, https://mirror.openshift.com/pub

[2020-04-28 14:48] dharmit opened #3036 ""odo config set" doesn't validate port values and thus "odo describe" panics"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
https://github.com/openshift/odo/pull/3008#discussion_r416561531
[code]

## Actual behavior
`odo describe` panics because `odo config set` doesn't perform a check for ports provided by the user

## Expected behavior
odo should validate that provide

[2020-04-28 15:07] kadel commented on #2468
This is done. All devfile related operations are kubernetes "compatible".
Everything that we are doing from now on is taking Kubernetes into consideration.

[2020-04-28 15:08] #2468 closed

[2020-04-28 15:16] Kamran64 commented on #3000
For now, we'll go with implementing this in interactive mode if there is more than one project in the devfile. However, we will need to consider how a user can specify this information from the command line in future.

[2020-04-28 17:43] #2579 closed

[2020-04-28 17:53] elsony commented on #2717
Feature done

[2020-04-28 17:53] #2717 closed

[2020-04-28 18:37] yangcao77 commented on #2744
When working on context support, this issue should be take into consideration: https://github.com/openshift/odo/issues/2959

[2020-04-28 19:29] lance commented on #2756
In addition to pipelines, I would like to see another devfile command supported by odo. Currently, if I understand correctly, odo supports two commands in the devfile: `devBuild` and `devRun`. Could there be a supported command that will deploy your image without the supervisor and possibly using a different image component?

[2020-04-28 21:19] maysunfaisal commented on #3033
`Initializing component` sounds good, perhaps put it under the heading `Creating Docker resources for component <name>`

[2020-04-28 21:30] maysunfaisal commented on #3034
A container needs to mount the vol, to be able to verify if the binary is there.

Thinking if we should instead pull down a supervisord inti container everytime we push, and instead of copying the binary and exiting; it checks if the vol has been initialized, if not; it copies it.

what do you think @johnmcollier

I can take a look at this
/assign

[2020-04-28 21:38] elsony opened #3038 "odo catalog list components fails on the docker scenario without a kube context"
/kind bug

## What versions of software are you using?
1.2
**Operating System:**
mac
**Output of `odo version`:**
odo v1.2.0 (7f14dab08)
## How did you run odo exactly?
Run the command `odo catalog list components`. If I have an existing kube context, the command runs fine. However, it fails when it run without a valid kube context.

## Actual behavior
[code]

when I tried to run the catalog list

[2020-04-28 21:39] johnmcollier commented on #3038
/assign

[2020-04-29 00:33] #2619 closed

[2020-04-29 09:22] kadel commented on #2756
Yes, this is what the deploy command should do.
"deployed to the cluster in a configuration suitable to receive production traffic." means that the supervisor won't be present and different image can be optionally used (for example this image should be completely stripped form any development tools, and should be as small as possible).

Not sure how we exactly we will achieve this but defining ano

[2020-04-29 10:30] prietyc123 commented on #2877
Hitting this issue more frequently when running tests with ```xenial``` distribution of travis CI https://travis-ci.com/github/openshift/odo/jobs/324857465#L473 .

```Xenial``` distribution of travis is required to run latest kubernetes cluster. On the other hand we can use older version of minikube but ```odo push``` does not support the older version of minikube, which has been elaborated in iss

[2020-04-29 10:33] #3032 closed

[2020-04-29 10:43] Kamran64 commented on #3000
We've found that we can use `NoOptDefVal` to pass the flag a default value is one is not specified. As such:
- If there is only one project in the devfile we only download that one if no project is specified.
- If a project is specified, we validate that project exists and then download it.
- If there are multiple projects and one is not specified, we enter interactive mode to allow the user to ch

[2020-04-29 11:30] prietyc123 commented on #2877
I have raised a ticket asking for more resources on travis CI. Let see what they are replying on that. I will update the same once the reply

[2020-04-29 11:54] prietyc123 commented on #2752
pr #3041 is blocked due to https://github.com/openshift/odo/issues/2877#issuecomment-621117106

[2020-04-29 12:19] prietyc123 commented on #2877
Got the response from Travis CI team ![image](https://user-images.githubusercontent.com/51620925/80594799-4a2a1280-8a41-11ea-865a-52cb70fe8eab.png)

The provided default memory 7.5 is enough for running 4 component push in parallel. So i think we should check component push failure from odo end. WDYT mrinal ?

[2020-04-29 12:56] mik-dass commented on #2877
But decreasing the test nodes to 2 has indeed reduced the amount of this failure. Also 7.5 may not be enough as we are running minishift in the background in most of our tests. Also the pod initialization step can consume a lot of the time too. I would suggest increasing the push timeout value by `odo preference set pushtimeout <some higher value>  -f` in most of our tests, increasing the number o

[2020-04-29 13:55] #2727 closed

[2020-04-29 13:55] #2816 closed

[2020-04-29 13:55] prietyc123 commented on #2877
Hitting same flake on openshift release repo https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/8633/rehearse-8633-pull-ci-openshift-odo-master-v4.2-integration-e2e/2#1:build-log.txt%3A426

[2020-04-29 14:26] kadel commented on #3035
/area release-eng

[2020-04-29 14:29] amitkrout commented on #2877
@mik-dass may be you are right, however iirc even on single test node we had the similar issue. Anyway we can try your suggestion to narrow down the reason for failure.

[2020-04-29 14:31] kadel commented on #3026
I think that this is something that should be captured in devfile and than odo will act on that information.
The reason why I think it would be better to captured this in devfile is to make it consistent across all tools. If I have an application that assumes that will be run as Knative Service I don't want to configure odo and again Che to make sure that my apps get deployed correctly. I would ju

[2020-04-29 15:08] kadel commented on #3024
done, and fixed
/close

[2020-04-29 15:08] #3024 closed

[2020-04-29 15:15] kadel commented on #3017
It looks like this got resolved. Or at least I'm not able to reproduce this anymore.
@cdrage can you verify?

[2020-04-29 15:16] kadel commented on #3014
/area testing
/kind test

[2020-04-29 15:16] kadel commented on #3007
/kind code-refactoring

[2020-04-29 15:59] kadel opened #3046 "odo push --dry-run"
/kind user-story

## User Story
As a user, I just want to generate Kubernetes resources without being applied to the cluster.

## Acceptance Criteria
- [ ] `odo push --dry-run` should just print the k8s yaml definitions to stdout without applying them to the cluster.

/kind user-story

[2020-04-29 19:05] #2555 closed

[2020-04-29 23:22] maysunfaisal opened #3048 "Push fails second time onwards during URL apply config"
/kind bug

## What versions of software are you using?

**Operating System:** Mac

**Output of `odo version`:** master

## How did you run odo exactly?
##### odo create
[code]

##### odo url create
[code]

##### odo push
[code]

##### odo second push
[code]

## Actual behavior
##### odo second push
[code]

## Expected behavior
should push successfully

## Any logs, error output, etc?

##### cat .o

[2020-04-29 23:29] maysunfaisal commented on #3048
I see this PR https://github.com/openshift/odo/pull/2885 went in last, so could be around these changes.

[2020-04-30 01:49] #3038 closed

[2020-04-30 05:56] amitkrout commented on #2877
@prietyc123 Can you please apply @mik-dass suggestion in one of your pr you mentioned in the comment https://github.com/openshift/odo/issues/2877#issuecomment-621117106.

You just need to overwrite the ```pushtimeout``` through the global config. Lets make the wait time twice the actual i.e. 8 minute.

[2020-04-30 05:59] prietyc123 commented on #2877
Sure I will definitely try it out and update the result.

[2020-04-30 06:59] #2672 closed

[2020-04-30 07:18] kadel opened #3050 "app.kubernetes.io/managed-by label"
All k8s and OpenShift resources that are generated by odo should have `app.kubernetes.io/managed-by: odo` label.

This is currently done for old-style s2i components but not for devfile based components

/triage ready
/priority high
/area devfile

[2020-04-30 07:34] zhengxiaomei123 opened #3051 "oc.checkForImageStream can not return correctly in e2e tests scenario"
/kind bug

## What versions of software are you using?

**Operating System:**
Red Hat Enterprise Linux 7.7
**Output of `odo version`:**
[code]
## How did you run odo exactly?
make test-e2e-beta

## Actual behavior
There is one check for java:8 imagestream. The function cannot return correctly. It cause whether or not the imagestream is here, new image will be imported.

## Expected behavior
For s3

[2020-04-30 07:52] prietyc123 commented on #2877
@mik-dass I have set the pushtimeout to 8 min but still getting the same failure.
[code]
More details : https://travis-ci.com/github/openshift/odo/jobs/325397186#L1861

[2020-04-30 09:38] mik-dass commented on #2877
There seems to be some issue with the network on travis and most probably the ImagePullBackOff happened because of that

https://travis-ci.com/github/openshift/odo/jobs/325397186#L1693
https://travis-ci.com/github/openshift/odo/jobs/325397186#L625

Also TBH I haven't seen this error on most PRs since we switched back to 2 nodes. Even on 4 nodes it happened in 2-4 test scripts.

But for your PR htt

[2020-04-30 10:43] Kamran64 commented on #3000
Reposting potential solutions here after further discussion (along with drawbacks)
- We continue to use the `NoOptDefVal` attribute to assign the flag a default value if the user hasn't passed an arg. However this makes it mandatory that is a user wants to pass an arg they have to do so in the format `downloadSource=<project-name`. This may be confusing and breaks consistency with other flags but

[2020-04-30 10:58] #2776 closed

[2020-04-30 12:58] prietyc123 opened #3055 "Odo push fails on 3.11 cluster having docker version (18.06.0-ce) running on travis xenial distro"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?
Running tests jobs on travis CI

## Actual behavior
Hitting error https://travis-ci.com/github/openshift/odo/jobs/324857465#L582 and some more different errors in the test running on openshift 3.11 with xenial distro of travis CI.

I am s

[2020-04-30 13:01] prietyc123 commented on #3055
Xenial distribution of travis CI is required to run latest kubernetes cluster. On the other hand we can use older version of minikube but odo push does not support the older version of minikube, which has been elaborated in issue : #2928 .

However there are some other consequences also of using older version of minikube like lag of latest feature implementation and I am suspecting this could be o

[2020-04-30 13:02] prietyc123 commented on #2752
Blocked due to issue https://github.com/openshift/odo/issues/3055

[2020-04-30 13:13] mik-dass commented on #2877
Here's an recent incident on CI https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3054/pull-ci-openshift-odo-master-v4.2-integration-e2e-benchmark/2549#1:build-log.txt%3A382

[2020-04-30 15:55] #2689 closed

[2020-04-30 16:04] mik-dass commented on #3048
@maysunfaisal I have raised a PR which tries to fix this #3054 . Can you please review it?

[2020-04-30 16:09] johnmcollier commented on #3048
@mik-dass @maysunfaisal is on PTO today, I can take a look though.

[2020-04-30 16:53] mik-dass commented on #3048
@johnmcollier Sure no problem. Thanks :+1:

[2020-04-30 17:47] deboer-tim commented on #2980
FWIW, I hit this too.

[2020-04-30 17:53] johnmcollier commented on #2980
When reviewing https://github.com/openshift/odo/pull/3054 - I couldn't reproduce this, so this issue may be fixed by this PR

[2020-04-30 18:00] mik-dass commented on #2980
@cdrage @johnmcollier Yes #3054 will fix this too

[2020-04-30 18:35] cdrage commented on #2898
@kadel

I have included instructions on how to "sync" between the openshift repository as well as our current documentation here: https://github.com/openshift/odo/tree/gh-pages

Do you think this is sufficient enough for our documentation?

[2020-04-30 19:20] yangcao77 commented on #2977
Here is the current behavior:

**Swicth push target from docker to kube**
Switch push target and run odo push, should successfully create pod&services, should see a warning message indicate there is no valid urls defined in env.yaml for ingress.

[code]

**Swicth push target from kube to docker**
should successfully create container, should see a warning message indicate there is no valid urls def

[2020-05-01 06:22] dgolovin opened #3060 "For secured url1 'odo url describe url1 -o json' prints 'secure' attribute as `false`"
/kind bug

## What versions of software are you using?

**Operating System:**
windows 10
**Output of `odo version`:**
1.2.0
## How did you run odo exactly?
Component has one secured url.
Running:
`odo url describe`
`odo url list`
show the same url with different values for 'secure' attribute.

## Actual behavior
[code]
`odo ulr list` prints out different json with correct value.
[code]

## Expecte

[2020-05-01 06:26] dgolovin opened #3061 "Add `SECURE` column to 'odo url describe url1' output"
/kind feature

## Which functionality do you think we should add?
`odo url describe url1` should have `SECURE` column as `odo url list`does.

## Why is this needed?
For the sake of consistency throughout the odo commands output.

[2020-05-01 13:51] cdrage commented on #3017
Yup! Resolved. Closing :)

[2020-05-01 13:51] #3017 closed

[2020-05-01 14:17] cdrage commented on #2958
Done 3/4 as of today. Still waiting on operator hub, but we currently have a PR open for that here: https://github.com/openshift/odo/pull/3029

[2020-05-01 14:23] cdrage opened #3062 "Adding asciinema's / videos to each page."
/kind documentation

## What mistake did you find / what is missing in the documentation?

For example, we currently have a small tutorial on the index page of https://odo.dev

I was thinking, that we could have asciinema's / videos on each tutorial page such as: https://odo.dev/docs/creating-a-single-component-application-with-odo/

So it gives those who learn visually a chance to see what comman

[2020-05-01 14:25] cdrage commented on #2392
I'm going to close this as we haven't heard back from @dgolovin (Slack & GitHub).

Please let us know if you encounter this issue again!

[2020-05-01 14:25] #2392 closed

[2020-05-01 18:57] johnmcollier opened #3064 "[Devfile] `odo url list` doesn't list routes created by odo"
/kind bug

When odo creates routes on OpenShift clusters for devfile components, those URLs do not show up when `odo url list` is ran. But on a generic Kube cluster, those ingress resources do show up.

[code]

[2020-05-02 10:38] amitkrout commented on #2928
@adisky @kadel From the travis log i found that the the issue is being reported on minikube version [0.25.2](https://github.com/kubernetes/minikube/releases/tag/v0.25.2) which was released 2 years back. Actually we are using the same version on travis CI.

I am sure you guys are using latest minikube to verify it manually. If you use the latest minikube version then you won't be able to reproduce

[2020-05-03 06:59] amitkrout commented on #2931
Task need to be done

- [ ] Separate integration test https://github.com/openshift/odo/pull/3066
- [ ] Create periodic job and update regular test name with the new test name on OpenShift CI https://github.com/openshift/release/pull/8707

[2020-05-03 20:33] #2055 closed

[2020-05-03 20:33] #2056 closed

[2020-05-03 20:33] #2057 closed

[2020-05-03 20:33] #2408 closed

[2020-05-04 06:39] mohammedzee1000 commented on #2912
Adding to this, we should have one standard output, irrespective of underlying mechanism. So it should not matter if its an s2i component or devfile component or something else, it should remain relatively constant. We can have some fields which are empty etc based on type. But structure should remain constant and it should give complete picture

[2020-05-04 07:08] amitkrout opened #3067 "component create throws error when devinit command is present"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
## Actual behavior
Flaky nature in push

## Expected behavior
devfile push should be successful in each try

## Any logs, error output, etc?
Copied from travis CI
[code]

[2020-05-04 08:44] kadel commented on #2931
How are we going to handle the situations when nightly job fails?
Is there going to be email notification when that happens? Who is going to be responsible for fixing it?

[2020-05-04 10:57] kadel commented on #2898
+1

Great!
@cdrage can you please share the information on how to update the website and docs with everyone  on odo-dev@googlegroups.com ?

[2020-05-04 12:24] amitkrout commented on #3067
ping @upLukeWeston

[2020-05-04 13:52] cdrage commented on #2898
@kadel

Done! As all tasks have been completed. I'm going to close this issue :)

[2020-05-04 13:52] #2898 closed

[2020-05-04 14:19] dharmit commented on #2994
[code]
Message indicates that the timeout is just about 1 second. I think for a cluster that's not setup on a local network, more timeout would be helpful.

@amitkrout when you tried to reproduce this, where was the cluster located? Was it a CRC node or a remote cluster?

[2020-05-04 14:32] cdrage commented on #3005
Hey @skoh7645 here are my thoughts:

With regards to "starter" project information. To be blunt (and just my opinion, please everyone else chime in), but couldn't this be remedied in either an `odo init` command or ample online documentation?

The problem being is no having to rely on a command that we have to maintain consistency on with each new feature of Devfile being implemented.

For example

[2020-05-04 14:34] kadel commented on #3064
/priority high
/area url

[2020-05-04 14:39] mik-dass commented on #3064
duplicate of https://github.com/openshift/odo/issues/2985
/close

[2020-05-04 14:40] #3064 closed

[2020-05-04 14:44] dharmit commented on #2868
@amitkrout I think what you're observing is expected behaviour. If you want to see your imported image when you do `odo catalog list components` across the namespaces, you need to import it in the `openshift` namespace. This can be done only by `system:admin` user.

[code]

Now you can see the `openjdk18` component across all the projects because the admin user has made it available across the clu

[2020-05-04 14:53] kadel commented on #3055
@prietyc123 you might need to configure docker daemon to allow unsecured registry on `172.30.1.1:5000`

[2020-05-04 15:02] johnmcollier commented on #3005
@cdrage  Here's my 2 cents:
- I don't think it's feasible to just document the starter projects for each devfile component, especially as the list of supported devfiles in odo grow.
- I'm concerned that adding an additional column for projects to `odo catalog list` would make the output too cluttered (especially if the components has multiple projects available to it).

Now, if we only showed a su

[2020-05-04 15:24] #2820 closed

[2020-05-04 15:49] GeekArthur commented on #3005
My concern is that if we add subset of the project info for devfile component we may create terminology confusion for user (given we already displayed `PROJECT` for s2i component) as in the same result page the "Project" points to two definitions respectively:

- Project for s2i component: Similar to namespace in k8s world
- Project for devfile component: It's the project template that is hosted o

[2020-05-04 16:10] johnmcollier commented on #3005
@GeekArthur If we make the clarification that it's a `starter project` or or `template project` that shouldn't be an issue.

[2020-05-04 16:44] jeffmaury opened #3070 "odo reports no port for routes created through the Web UI"
## What versions of software are you using?

**Operating System:**
Win10 Pro

**Output of `odo version`:**

[code]

## How did you run odo exactly?

Created a component (nodejs-ex, pushed it, create an url, pushed it then went on the Web UI of the cluster and created another route to the same service.
Then run `odo url list` from the component folder.

## Actual behavior

[code]

[code]

## Expect

[2020-05-04 18:00] GeekArthur commented on #2635
@cdrage FYI, I add the design documentation for dynamic registry support https://docs.google.com/document/d/10a7xm5ynJa7asrY63xxjICmCwCRCUXTdO31bGb57-1E/edit?usp=sharing, you can use that as reference when you update the odo documentation https://odo.dev/ if it's necessary.

[2020-05-04 18:51] deboer-tim opened #3072 "Hang on odo push"
/kind bug

## What versions of software are you using?

**Operating System:**
Mac OS

**Output of `odo version`:**
odo v1.2.0 (7f14dab08)

Server: https://c101-e.us-east.containers.cloud.ibm.com:30409
Kubernetes: v1.16.2

## How did you run odo exactly?
[code]

## Actual behavior
[code]
odo hung on this step for more than a minute.  I eventually did a Ctrl-C and tried push again, which hung immedi

[2020-05-04 19:08] deboer-tim opened #3073 "odo create fails even though project URL is accessible"
/kind bug

## What versions of software are you using?

**Operating System:**
Mac OS

**Output of `odo version`:**
odo v1.2.0 (7f14dab08)

Server: https://c101-e.us-east.containers.cloud.ibm.com:30409
Kubernetes: v1.16.2

## How did you run odo exactly?
[code]

## Actual behavior
This worked fine in several different folders over the past week, then one time I opened up my laptop and tried again:

[2020-05-04 19:38] deboer-tim commented on #3072
Some other info that may help after debugging a bit with John. For the first app that 'hung', oc get pods showed the pod wasn't started after 40 minutes:
[code]
Doing an odo delete followed by an odo push worked in this case.

I had a second app which also hung on odo push. It was one I had run before, and although
'odo delete' had returned successfully a few hours earlier, the pod was still termi

[2020-05-04 21:01] johnmcollier opened #3074 "[Docker] `odo url create` is broken if there's no Kube config"
/kind bug
/area devfile
/area local

If there's no Kube config on the user's system, `odo url create` for a local odo component will fail with the following error:
[code]

We shouldn't require a kube config to use odo's Docker functionality.

[2020-05-05 05:56] amitkrout commented on #2931
We will follow the regular process like we have been doing, file the issue on master and fix it. BTW this is a duration gap of 6hrs periodic job, i mean in every 6 hrs the test (integration+e2e) job will be triggered. Ideally there should be an option of email notification in the job configuration. I need to figure out the way of only getting the e mail notification when the job fails otherwise no

[2020-05-05 07:58] kadel commented on #3005
for `odo catalog list components` output
I would actually just output the names of the projects, so the user knows what options are available for `--downloadSource` flag for `odo create`.

Showing details like git repo link should be displayed in `odo catalog describe component <devfile name>`

[code]

doing `odo catalog list components nodejs` goes against how `odo catalog list services` and  `od

[2020-05-05 08:21] kadel opened #3076 "Conflicts in odo and Devfile terminology"
With moving everything towards Devfiles some of the odo terminology clashes with Devfile terminology.

One of the biggest clashes is the use of the term **component**.
 -  in odo "component" is part of the application (for example one microservice that is part of a bigger application)
 - in Devfile "component" is part of the workspace (for example a build container or an IDE plugin)

This should b

[2020-05-05 08:25] mik-dass commented on #2857
For multiple container components, I think we can execute the command in the container with which devrun is used. @kadel @girishramnani WDYT?

[2020-05-05 08:26] bigkevmcd opened #3077 "Upgrade k8s dependencies"
/kind feature

## Which functionality do you think we should add?

Updated dependencies to allow supporting newer versions of Tekton (k8s.io dependencies), preferably [v0.16.5](https://github.com/tektoncd/pipeline/blob/master/go.mod#L63).

## Why is this needed?

We're driving integration with Tekton, and they've recently updated to newer k8s.io dependencies, which the current dependencies (from t

[2020-05-05 08:58] sbouchet opened #3078 "Odo list URL for component with no context removed"
/kind bug

## What versions of software are you using?

**Operating System:**
RHEL 8

**Output of `odo version`:**
odo v1.1.1 (02fbd3d08)

Server: https://api.rh-us-east-1.openshift.com:443
OpenShift: v3.11.154
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?
related bug in IntelliJ openShift connector : https://github.com/redhat-developer/intellij-openshift-connector/issues/186

in ho

[2020-05-05 08:59] sbouchet commented on #3078
Is this actually still relevant to list URLs for components with no context?

[2020-05-05 10:09] prietyc123 opened #3079 "Build component fails for odo watch after file deletion"
/kind bug

## What versions of software are you using?

**Operating System:**
All Supported

**Output of `odo version`:**
master

## How did you run odo exactly?
Working on two terminal:
Terminal 1:
[code]
Terminal 2:
[code]

## Actual behavior

Build component fails on odo watch after deletion of any file.

[code]

## Expected behavior
Component should build successfully.

## Any logs, error outp

[2020-05-05 10:12] dharmit commented on #2960
@jeffmaury this seems to be a bug introduced due to the Operator Hub integration work that I'm doing these days. Sorry about this.

However, I was able to create a service with the command you've provided if the experimental mode is off. You could do that while we fix this bug.
[code]

[2020-05-05 10:12] prietyc123 commented on #3079
While going through manual test scenario I found this. I can not see such failure on travis CI.

[2020-05-05 10:30] dharmit commented on #3076
IMO, if possible, we could use this opportunity to change it on odo side. Personally, in my head, even though I have an idea about what a component (DC+pods+service+url) means in odo, reading its definition still leaves me confused. :confused:

Plus, application means yet another thing in OpenShift (a label that can be assigned to different objects, IIUC) and here in the definition you mention, it

[2020-05-05 10:43] prietyc123 commented on #3055
Ahh... Thanks for the tips. I will try it out for sure 👍

[2020-05-05 10:44] dharmit commented on #3079
@prietyc123 are you seeing this when you're working in experimental mode or without experimental mode?

[2020-05-05 10:49] prietyc123 commented on #3079
I am verifying it with regular mode.

[2020-05-05 10:50] dharmit commented on #3078
@sbouchet if you'd like to list URLs for a component from a directory other than its component directory (a.k.a. context), it's best you'd use something like:
[code]
The url list command doesn't have flags that you've mentioned in issue description.

[2020-05-05 11:04] dharmit commented on #2322
I think this is an edge case which probably doesn't need to be dealt with. I purposefully tried this to break things. But, I agree that it doesn't make sense from user point of view to do what I've mentioned in the issue description.

Closing.

[2020-05-05 11:04] #2322 closed

[2020-05-05 11:09] dharmit commented on #2313
@maysunfaisal what you've reported is not an expected behaviour. I tried this locally on a CRC as well as a minishift cluster, but couldn't reproduce the issue you're seeing.

Since the issue is quite old I'm closing this, but please re-open if this is still relevant.

[2020-05-05 11:09] #2313 closed

[2020-05-05 11:17] kadel commented on #3077
/assign

[2020-05-05 11:23] dharmit commented on #2259
Just tried this and am seeing that the messaging has been synchronized.
[code]
Hence closing.

[2020-05-05 11:23] #2259 closed

[2020-05-05 11:30] dharmit commented on #2253
This is more relevant than earlier now that we've devfile integration as well.
* **Without experimental mode**: messaging has changed but it still doesn't convey anything near to not being able to reach the cluster
[code]

* **With experimental mode**: Creates a component in spite of no connectivity to the cluster. TBH, it doesn't seem like an entirely wrong thing to do because the devfile registr

[2020-05-05 11:35] dharmit commented on #2236
Assuming this is still relevant.

[2020-05-05 11:43] dharmit commented on #2092
Now, `odo` rightly reports that `--component` flag is not valid when you do `odo url list`.

@jeffmaury I'm closing this issue since odo rightly mentions that the flag is not usable with the command. Please feel free to re-open if it's still a problem.

[2020-05-05 11:43] #2092 closed

[2020-05-05 11:48] dharmit commented on #2419
Closing since dupe of #1052

[2020-05-05 11:48] #2419 closed

[2020-05-05 12:11] kadel commented on #3076
This might be a good opportunity to even more match odo terminology with OpenShift web console.
One big downside is that this will make odo v2 completely incompatible with the previous version. Which will make it more complicated to adopt odo v2 for IDE plugins

[2020-05-05 12:24] skoh7645 commented on #3005
The main agreement we’ve come to is to move the main solution to under `odo catalog describe component <component>`, which sounds good to me!
The following is what I would like to have agreed on:
1. Is this command going to accept both devfile and odov1 components? If so, how do we handle the case that a component exists as both a devfile and odov1 component? Would we print the `devfile.yaml` for

[2020-05-05 12:49] dharmit commented on #3076
By matching the terminology with OpenShift web console, we don't mean to use the lingo of OpenShift, right? I think a major goal of odo is to abstract k8s/OpenShift for the users so that they don't have to understand those. So, using the web console terminology is fine as long as we don't make things confusing for users.

I think this is a great topic for odo contributor's call.

[2020-05-05 12:57] sbouchet commented on #3078
@dharmit the problem is that I do not have any context when using these flags.
in the IDEs, we use odo to interact with the user to display a tree that contains all project from a cluster. these projects can be created with different tools ( oc, web console, Eclipse, VSCode, ...)
if I know the context, I directly run
`odo url list `
in that directory.

So I think we should remove that piece of cod

[2020-05-05 12:57] kadel commented on #3076
Sorry, I should have been more specific. I meant one specific part of the OpenSHift web console - Topology view in Developer console

[2020-05-05 14:18] GeekArthur commented on #3005
For point 4, the new "registry" column will be added by this PR https://github.com/openshift/odo/pull/2940 which implements dynamic registry support.

[2020-05-05 15:04] cdrage commented on #2635
Thank you.

I've merged in: https://github.com/openshift/odo/pull/3045

Once your PR for the code has been merged in, can you please push some documentation to: https://raw.githubusercontent.com/openshift/odo/master/docs/public/deploying-a-devfile-using-odo.adoc ?

[2020-05-05 15:19] GeekArthur commented on #2635
Yup, will do that.

[2020-05-05 15:37] kadel commented on #3005
For old-style s2i based components, I would just print the component name for now. At some point, we are going to depreciate and I wouldn't put too much effort into it. But for compatibility sakes, I would make the command work for both. Similar to what we do for `odo catalog list components`

If there is a name collision I would just show both (or all available options). Something like this
[code

[2020-05-05 15:39] gorkem commented on #3076
I think, the above odo definition of component is a subset of devfile definition and `odo component` command is not able to create everything in the the full definition on the devfile. I do not think `odo component` command should actually be used to create builders and side-car tools that are useful for development time only either. I am OK if it only deals with a subset of devfile and we let "ex

[2020-05-05 15:54] johnmcollier commented on #3005
I think with `odo catalog list components` showing project info for the devfiles and `odo catalog describe component <component>` showing the devfile's content, we don't need `odo catalog list components <component>`. And agreed with @kadel in that it's a bit of an anti-pattern.

[2020-05-05 17:52] skoh7645 commented on #3005
@GeekArthur thank you for pointing that out to me!
@kadel @johnmcollier thank you for the very comprehensive reply! I think that covers all my questions (at least for now!), so I'll work on getting the command to follow your proposed format

[2020-05-05 20:15] elsony commented on #2918
@adisky Is there any outlook on the devfile 2.0 parser?  There are quite a few items currently depending on that.

[2020-05-05 20:36] maysunfaisal opened #3089 "Document the Kube RBACs required to run odo experimental"
/kind documentation

## What mistake did you find / what is missing in the documentation?
If we're running odo in experimental mode in a Kube platform other than OpenShift, Minishift; we need to document the Roles required for the user to run odo in experimental mode successfully.

## What is the relevance of it?
Odo experimental mode, is Kube platform agnostic and thus, the user would require the

[2020-05-05 20:42] johnmcollier commented on #3089
Debating on the best way to document this:
- Do we provide a role that cluster administrators can apply to users that need to use odo?
     - How do we keep this up to date?
- Do we just document the permissions that odo needs and leave it up to the user?
    - Documenting each individual role that odo needs seems messy and again, would need to be kept up to date

[2020-05-05 21:32] #2778 closed

[2020-05-05 22:41] dgolovin opened #3091 "`odo catalog list components -o json' does not include devfile component in Experimental mode"
/kind bug

## What versions of software are you using?

**Operating System:**
Windows 10
**Output of `odo version`:**
1.2.0

## How did you run odo exactly?
`odo catalog list components`
and
`odo catalog list components -o json`

## Actual behavior
First command `odo catalog list components` returns
[code]
second `odo catalog list components -o json` returns only `Odo OpenShift Components`

[code]

[2020-05-05 22:49] dgolovin opened #3092 "`odo list --path` does not list devfile components in Experimental mode"
/kind bug

## What versions of software are you using?

**Operating System:**
Windows 10
**Output of `odo version`:**
1.2.0

## How did you run odo exactly?

I created maven component using
`odo create maven --context ~/component/dir`

## Actual behavior

`odo list --path ~/component` returns empty list

## Expected behavior

`odo list --path ~/component` returns list with one devfile component

#

[2020-05-05 22:55] mohitsuman opened #3093 "odo binary SHA256_SUM is incorrect for odo-darwin"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS - For odo 1.2.0 release

## How did you run odo exactly?
https://mirror.openshift.com/pub/openshift-v4/clients/odo/v1.2.0/SHA256_SUM

## Actual behavior
Double entries for odo-darwin-amd64.tar.gz for SHA256_SUM

## Expected behavior
odo-darwin-amd64.tar.gz should have correct SHA256_SUM

[2020-05-05 22:57] dgolovin opened #3094 "Add 'odo preference list` command with '-o' options support"
/kind feature

## Which functionality do you think we should add?

There should be a way to get full list of supported preferences with human readable description and preferably information about preference value type. So dependent tools can build UI based on this information rather than hardcode supported preferences for every odo version.

## Why is this needed?

Using information above we can b

[2020-05-05 23:35] dgolovin opened #3095 "odo should be aware of component state and block some conflicting commands"
/kind feature

## Which functionality do you think we should add?

odo should be aware what is going on with component to prevent execution of some conflicting commands.
Simplest example prevent running push command when 'odo watch' is running for the same component.

Current implementation supports only three states for component, it is based on presence in local file system and component related

[2020-05-05 23:59] #2977 closed

[2020-05-06 03:34] prietyc123 commented on #3055
In ubuntu xenial configuring docker daemon ```/etc/docker/daemon.json``` with insecure registry ```"insecure-registries": ["172.30.0.0\/16"]``` worked fine for ```oc cluster up```

[2020-05-06 05:35] mohammedzee1000 commented on #2787
@yangcao77 the pr was merged. We should now be able to make further changes as needed to handle description for devfile

[2020-05-06 05:46] adisky commented on #2918
@elsony yes i am working on the parser, few points i would like to get suggestions from team, problem here is Devfile v1 and v2 structures are completely different e.g.
[code]
It is very difficult to come to common types https://github.com/openshift/odo/blob/master/pkg/devfile/parser/data/common/types.go
This common types which is highly specific to v1 are being used everywhere in the adapters cod

[2020-05-06 05:59] prietyc123 opened #3096 "Unable to update BuildConfig for git component"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?
Running tests on CI.

## Actual behavior
[code]

## Expected behavior

Should able to push git component

## Any logs, error output, etc?

more details: https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/

[2020-05-06 06:00] prietyc123 commented on #3096
Ping @mik-dass

[2020-05-06 06:05] prietyc123 commented on #2641
one more occurance : https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3041/pull-ci-openshift-odo-master-v4.3-integration-e2e/72#1:build-log.txt%3A732

[2020-05-06 06:36] dgolovin opened #3097 "Setting Experimental to true breaks 'odo url list' for none devfile components"
/kind bug

## What versions of software are you using?

**Operating System:**
Linux
**Output of `odo version`:**
odo 1.2.0

## How did you run odo exactly?
[code]

## Actual behavior
Fails to list odo urls

## Expected behavior
To list urls

## Any logs, error output, etc?
n/a

[2020-05-06 07:09] mik-dass commented on #3096
According to this comment, https://github.com/openshift/installer/pull/2547#issuecomment-547403784. it seems to be a flake and a problem on the infra side. But I am not sure though as this is the first time, I am seeing this error.

[2020-05-06 08:06] dharmit opened #3098 ""odo service list" doesn't display services started from Service Catalog"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
[code]

## Actual behavior
It doesn't display services started from service catalog

## Expected behavior
It should display the services started from service catalog

[2020-05-06 08:23] prietyc123 opened #3099 "Odo push just after storage creation throws error of "unable to update owner reference of storage""
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?
Running tests on travis CI.

## Actual behavior

[code]

## Expected behavior

It should update owner reference of storage on persistentvolumeclaims "pv1-nodeapp-pvc"

## Any logs, error output, etc?

Logs : https://travis-ci.com/github/o

[2020-05-06 08:26] prietyc123 commented on #3099
ping @amitkrout It is hard time for me to figure out the failure as I am seeing this failure for the first time. So, could you please check and update the issue?

[2020-05-06 08:32] prietyc123 commented on #2877
one more occurence on CI https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2913/pull-ci-openshift-odo-master-v4.2-integration-e2e/78#1:build-log.txt%3A424

[2020-05-06 08:58] kadel commented on #2822
It won't be required. But if you run `odo push` and there is no env.yaml it will get automatically created.

I don't follow

[2020-05-06 09:20] amitkrout commented on #2877
Hitting it on OpenShift CI too - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/8707/rehearse-8707-periodic-ci-openshift-odo-master-v4.2-integration-e2e-periodic/3#1:build-log.txt%3A482

@mik-dass I think its time to revisit the issue

[2020-05-06 09:36] prietyc123 opened #3101 "odo link fails to link components"
/kind bug

## What versions of software are you using?

**Operating System:**
all supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Steps:

1. Created the nodejs frontend and backend component in two different context. Also specify ```--app``` flag for one of the component
2. Add url having same name but different port for both the component
3. Add storage volume for

[2020-05-06 09:45] amitkrout commented on #3097
@dgolovin I am not able to reproduce it. Probably you are some different cases, could you please mention these steps
[code]

[2020-05-06 09:55] mik-dass commented on #2877
let's increase the pushtimeout and check

[2020-05-06 09:57] prietyc123 commented on #2641
hitting the same failure again https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3041/pull-ci-openshift-odo-master-v4.2-integration-e2e/75#1:build-log.txt%3A748

[2020-05-06 10:09] adisky commented on #2918
as discussed with @kadel, since it is difficult to map `v2` types to common types, for now we are implementing  the parser for v2 as separately.

[2020-05-06 10:37] girishramnani commented on #2563
the docs PR got merged hence AC of this issue was met. Closing

[2020-05-06 10:37] #2563 closed

[2020-05-06 10:52] amitkrout commented on #2877
@mik-dass This is not the push time out failure, its actually component build timeout failure. I was following a bugzila where the user had a similar issue on odo 1.1.3. Here i am pasting description and the workaround provided by the user

User says:
[code]

Now its clear that the issue not with the current odo backend code rather its an environment specific issue (I mean slow env or slow network

[2020-05-06 11:05] girishramnani commented on #2822
So the final approach I would like to propose here would be -
- `odo create` in a directory with or without a devfile.yaml (with experimental mode= on) will always populates .odo/env/env.yaml with current namespace and other values. if there is no namespace that can be detected then
    - either fail or use `default`
- `odo push` will use `env.yaml` file if its available else it will use defaults

[2020-05-06 11:11] girishramnani commented on #2930
consider setting config values using `odo config set` in between `odo push`s to see how odo handles does

[2020-05-06 11:12] mik-dass commented on #2877
OK let's make a issue about increasing the build timeout

[2020-05-06 11:44] kadel commented on #3076
@gorkem, In other words, you are saying that `odo component create` still makes sense as it creates devfile components (or a subset of it)?

[2020-05-06 12:09] dharmit commented on #2822
`default` namespace is not accessible to normal users, AFAIK. Unless you're saying we use sane defaults, as discussed earlier.

This is same as the smart push thing we discussed above, right? Or is there some disparity?

Which means that like `odo push`, you propose to make `odo config` smart as well but only for `set project` and `set name` sub commands, right? Correct me if I'm wrong.

This soun

[2020-05-06 12:50] sbouchet commented on #3078
closing since we modified our logic to not use this command anymore with no context components.

[2020-05-06 12:50] #3078 closed

[2020-05-06 13:04] kadel commented on #3101
This is the correct behavior.
Your components are in different applications (backend in default "app" application, frontend in "testing" application)
You can't just call `odo link backend --port 8080 --context ../tests/examples/source/nodejs/` this will look in the same application where the frontend is (component in `../tests/examples/source/nodejs/`). If the backend in a different application yo

[2020-05-06 13:46] elsony commented on #2918
I think it is fine to implement v2 parser separately. I guess the main question is more on how we can easily stage in the v2 functions. Before we have the functions based on v2 implemented enough to replace v1, we'll probably still need to keep the v1 functions around. To do that, the suggested adapter layer approach is probably the cleanest to implement.

[2020-05-06 14:00] metacosm opened #3104 "Erasing a local devfile is not enough to reset odo"
/kind bug

## What versions of software are you using?

**Operating System:** macOS 10.15.4

**Output of `odo version`:**
odo v1.2.0 (e1232ad1a)

Server: <redacted>
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?

1. odo component create maven
2. Realize that I actually wanted another component type
3. odo component create java-spring-boot
4. Get an error: ✗  This directory already co

[2020-05-06 14:04] metacosm opened #3105 "odo component create completion doesn't offer devfile components"
/kind bug

## What versions of software are you using?

**Operating System:** macOS 10.15.4

**Output of `odo version`:**
odo version
odo v1.2.0 (e1232ad1a)

Server: <redacted>
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?
odo preference set Experimental true
odo component create <tab>

## Actual behavior
[code]

## Expected behavior
Suggestion list should also include devfile compo

[2020-05-06 14:14] johnmcollier commented on #2918
@adisky Will your changes include implementing the v2 adapter?

[2020-05-06 14:54] deboer-tim opened #3107 "--downloadSource doesn't feel natural"
/kind bug

## What versions of software are you using?

**Output of `odo version`:**
odo v1.2.0 (7f14dab)

Server: https://c101-e.us-east.containers.cloud.ibm.com:30409
Kubernetes: v1.16.2

## How did you run odo exactly?
[code]

## Expected behavior
After using odo for a few days, --downloadSource was the one option that I thought was a bit odd and didn't really fit. Yes, it _is_ downloading sour

[2020-05-06 14:55] amitkrout opened #3108 "--context flag unable to find component dir while creating url in experimental mode"
/kind bug

## What versions of software are you using?

**Operating System:**
Test ed on macOS
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
[code]

## Expected behavior
Should create url or throw a proper error if any key flag is missing.

## Any logs, error output, etc?

[2020-05-06 14:58] adisky commented on #2918
@johnmcollier @elsony Since We are not sure about the adapter approach (creating adapter for each versions), I have added conversion structures from v1 to conman, Please check the WIP PR
https://github.com/openshift/odo/pull/3106/files
With this current code should work with devfile v2 also. We can take two approaches from here to have use the additional features of v2
1. Modify the common structu

[2020-05-06 15:29] amitkrout opened #3110 "Expose OcBuildTimeout to overwrite the default value"
/kind feature

## Which functionality do you think we should add?
Fix the reason behind the flake https://github.com/openshift/odo/issues/2877. Actually one user found the same issue on his setup (Odo version : v1.1.3) and shared the detail analysis

User says:
[code]
## Why is this needed?
Now its clear that the issue not with the current odo backend code rather its an environment specific issue

[2020-05-06 15:30] amitkrout commented on #3110
ping @mik-dass

[2020-05-06 15:30] amitkrout commented on #2877
https://github.com/openshift/odo/issues/3110

[2020-05-06 15:44] mik-dass commented on #2972
@kadel @girishramnani I did managed to attach the debugger inside the docker container by exposing the debug port and executing the required commands e.g for nodejs `nodemon --inspect=0.00.0.:5858`. I had to include `0.0.0.0` to allow external traffic to it otherwise it won't work.

[2020-05-06 15:58] rhuss commented on #3027
Maybe the upstream discussion of how eventing is going to be integrated into `kn` might be useful in this context: https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit

It's mostly about managing source, where three types of sources as distinguished:

* Built-in (those that come with eventing itself)
* Plugins (dedicated client plugins that are picked up by `kn`)
*

[2020-05-06 15:59] GeekArthur opened #3111 "Categorizing integration tests"
/kind feature

## Which functionality do you think we should add?
As devfile support for both k8s and docker are in, we should categorize those integration tests properly. Idea from @johnmcollier
[code]
Another thing we should consider is that which job runs on which environment (k8s cluster VS OpenShift cluster). Also do we have special case like `docker devfile url` as it needs to run on k8s clu

[2020-05-06 16:53] #3077 closed

[2020-05-06 22:50] elsony commented on #2918
The current approach that we have is to covert the devfile v2 to the common structure which is currently based on v1.0.  I think it is a simpler way to get the devfile v2 to work with existing code.  In a long term, does it makes more sense to have the common structure based on the v2.0 and convert from v1.0 to the common which is based on v2.0?  The reason that I am saying that is because by the

[2020-05-07 04:21] #2928 closed

[2020-05-07 04:21] #3055 closed

[2020-05-07 05:35] dharmit commented on #2646
Unrelated to this issue but `odo update` failed due to a timeout for me:
[code]

What should I do next? If I run the same `odo update` command, it fails:
[code]

If I do `odo push` or `odo push -f`, it fails:
[code]
What should a user do in such a scenario? As a user, I don't see any message from `odo` that would help me understand what I should do next.

[2020-05-07 06:08] amitkrout commented on #3111
@GeekArthur Thanks for the issue.

We had a pr https://github.com/openshift/odo/pull/2996 already went in few days back that solves the purpose you are looking.

               Devfile integration tests that require Kube
               Devfile integration tests that require Docker
               Devfile integration tests that don't require a specific runtime (eg. catalog and registry)

+100 for sp

[2020-05-07 06:16] prietyc123 commented on #3007
feature request looks good to me. @cdrage please go ahead and draft the pr. On the pr we will discuss more or maybe you get some more valuable input from reviewer cc_ @amitkrout

[2020-05-07 07:07] prietyc123 commented on #3101
I seems we can not specify app if context is provided.
Error:
[code]
As I have the component in two different directory, I am not how to handle this situation in odo. @kadel @girishramnani  Could you please provide some input on this?

[2020-05-07 07:35] mik-dass opened #3113 "Weird message gets printed for many odo commands"
/kind bug

## Actual behavior

[code]

## Expected behavior

[code]
not to be printed

[2020-05-07 08:02] adisky commented on #2918
yes in the long run, common structures would be based on V2.0. We can modify the common structures one by one, so that it does not break adapters, and also with the features addition based on v2.0.

[2020-05-07 08:29] amitkrout commented on #3101
@prietyc123 Can you move out from the current component dir ```.``` and execute the last command ```odo link backend --port 8080 --context ../tests/examples/source/nodejs/```

[2020-05-07 09:08] dharmit commented on #2790
There's one problem with listing Service Catalog based services in experimental mode. In experimental mode, we're working with devfile based components which have a `project` but not `app`. But a service started from Service Catalog has both `project` and `app` values which requires old (s2i) component types to work.

So, if we want to support both service catalog and operator hub in experimental

[2020-05-07 09:20] dharmit commented on #2790
In spite of this pending question https://github.com/openshift/odo/issues/2790#issuecomment-625129846, I have pushed #3069 for review because it works irrespective of where the `odo service list` command is called from. It doesn't list Service Catalog based services at the moment.

[2020-05-07 09:35] prietyc123 commented on #3101
@amitkrout I am still facing the same failure:
[code]

[2020-05-07 09:38] kadel commented on #2858
The only time when the URL should be saved to `env.yaml` is when you run `odo url create`

Probably fail. We need to check how Che does in this case.

[2020-05-07 09:43] #2388 closed

[2020-05-07 09:44] #2464 closed

[2020-05-07 09:50] kadel commented on #2858
If needed we can save some information there.

Not sure to be honest. We might have to check the devfile spec if this is valid or verify what Che does in this situation.

[2020-05-07 10:07] dharmit commented on #2061
Adding `--now` to `odo url create` doesn't seem to create a route without a rebiuld. Here's what I observed:
[code]

[2020-05-07 10:27] kadel commented on #2858
One possible way how this could be implemented is:

## when using OpenShift:
when `odo push` detects that there is a `previewURL` present in the devfile (this needs to happen early in the process) it does the equivalent of `odo url create --port <previewURL.port>` (saves the information to the `env.yaml`) and then continues with the normal `odo push` process

## when using Kubernetes:
when `odo pu

[2020-05-07 10:30] dharmit commented on #2493
I'm going to close this because adding checks for something that's already handled by OpenShift doesn't make sense to me. If anyone feels otherwise and would like to have checks anyway, please feel free to reopen this.

[2020-05-07 10:30] #2493 closed

[2020-05-07 10:32] dharmit commented on #2303
IMO, we're still facing the problems that lead to opening this issue in the first place. But it's obviously not of value to most. Closing.

/close

[2020-05-07 10:32] #2303 closed

[2020-05-07 11:08] upLukeWeston commented on #2936
After discussing potential solutions (with @johnmcollier, @elsony, @EnriqueL8) we came to an agreement for the time being on how each of the lifecycle bindings could be used and what would trigger them.

Proposed event timeline:
- Pre Start  (in initContainer) e.g:
    - Component Starts (Pod)
    - Containers Creating
- devinit becomes PostStart E.g Parent Pom/maven install
- Build and Run comman

[2020-05-07 11:20] dharmit commented on #1708
@amitkrout is there a PR for this? It works for me locally. If it's working fine, can we close this?

[code]

[2020-05-07 11:25] amitkrout commented on #3101
Interesting!!!
Almost scenario in our test script works properly https://github.com/openshift/odo/blob/master/tests/integration/cmd_link_unlink_test.go#L85. Can you please map and find out the missing part in your test.

[2020-05-07 11:33] dharmit commented on #1750
If I understand the issue correctly, this seems to be fixed. `odo list` doesn't say anything about the URLs. And `odo url list` doesn't talk about local changes if `odo push` was executed.

Should we close this @kadel @mik-dass ?

[2020-05-07 11:40] prietyc123 commented on #3101
Yes, this will work because both the components in this scenario are on the same application i.e `app` in this case. But my requirement is to link the components which are located in two different app. I also tried the ```--app``` flag to connect both component as per @kadel suggestion but it didn't work rather it throws [error](https://github.com/openshift/odo/issues/3101#issuecomment-625072287).

[2020-05-07 11:48] mik-dass commented on #1750
I think we can close this. WDUT?

[2020-05-07 11:49] amitkrout commented on #3101
@prietyc123 ahh...may be you hit the same scenario - https://github.com/openshift/odo/issues/2394

@kadel @girishramnani Can you please confirm ? is it still a invalid case as reported in https://github.com/openshift/odo/issues/2394

[2020-05-07 11:52] girishramnani commented on #3101
As far as I remember,
—context and (—app and —project) are mutually exclusive flag groups i.e. you cannot use one with the other.

[2020-05-07 12:03] kadel commented on #2822
@dharmit do you have other solution in mind?

[2020-05-07 12:07] kadel commented on #2822
+1 with one additional point. The fact that the project and the component name is saved and persistent needs to be communicated to the user.

Something like this:
[code]

[2020-05-07 12:13] girishramnani commented on #3104
can you try `odo delete` at this stage? and if that works then we just need to reword the error message

[2020-05-07 12:18] amitkrout commented on #3101
—context and (—app and —project) are mutually exclusive flag groups i.e. you cannot use one with the other.

Understood
So the scenario @prietyc123 trying is a bug or we do not support such scenario ?

[2020-05-07 12:23] dharmit commented on #2485
Since we're so actively working on devfile support, should we think of this in terms of devfile? At the moment, `odo config` commands don't work with devfile based components.

[2020-05-07 13:04] girishramnani commented on #2835
so I hit an interesting road block on this issue. I realised that we would need to add the `appName` as a metadata on the devfile as this information is not environment specific and needs to be available to someone downloading the component from a repository.
But currently I cannot find a scenario where we are adding things to `devfile.yaml` locally. so just want to confirm that do we need to star

[2020-05-07 13:20] dharmit opened #3114 "Updating component from git to local type should delete its build config on the cluster"
### What did I do?
1. Created a nodejs-ex component of `local` type and pushed it.
2. Did `odo update` as you've mentioned in the PR description.
3. Again did `odo update -l ./` and `odo push`. Things work well so far.
4. Did step 2 again and it failed with below error:
[code]

### Actual Behaviour
odo fails to create build config because a stale one already exists.

### Expected Behaviour
odo sho

[2020-05-07 13:30] girishramnani commented on #2835
so not to make this huge and to maintain compatibility to a certain degree. I will add the app in local env info instead of `devfile`.

[2020-05-07 13:48] kadel commented on #3104
The workaround is `rm -r .odo devfile.yaml`.

This is a pretty bad experience we need to do something with  `odo delete` command

[2020-05-07 13:48] kadel commented on #3104
/priority high

[2020-05-07 13:48] kadel commented on #3105
/priority medium

[2020-05-07 13:59] girishramnani commented on #3104
Doesn’t odo delete actually remove .odo folder?

[2020-05-07 14:00] kadel commented on #3110
We can add this as a preference `odo preference OpenShiftBuildTimeout 15`

[2020-05-07 14:02] kadel commented on #3104
nope, and also `odo delete` doesn't work when the component was not pushed :-(

[2020-05-07 14:06] kadel commented on #3104
TODO:
- [ ] update the error message `✗ This directory already contains a devfile.yaml, please delete it and run the component creation command again` to say ✗ This directory already contains a devfile component. You can delete it using `odo delete -a` command  and run the component creation command again`
- [ ] `odo delete` should work even if the component was not pushed, and it should delete on

[2020-05-07 15:32] johnmcollier commented on #3107
+1 for starter, I like that it's one word, it's concise and simple.

Other optional alternatives (that I'm less crazy about):
- `--starterProject`
- `--templateProject`
- `--downloadProject`

[2020-05-07 16:10] johnmcollier commented on #3074
@mik-dass This seems to be related to your changes in https://github.com/openshift/odo/pull/2885, because we're always initializing a OpenShift config now (which is causing the error), rather than when only the pushtarget is not set to Docker.

[2020-05-07 16:18] mik-dass commented on #3104
`odo delete --all` removes the .odo folder even when the component is not pushed.

[code]
In the issue we decided not to remove the devfile.yaml https://github.com/openshift/odo/issues/2591#issuecomment-602685412. Maybe we can update `odo delete all` to delete the devfile too?

+1 for updating the error message though.

[2020-05-07 16:46] mik-dass commented on #3110
:+1:

[2020-05-07 17:19] GeekArthur commented on #3111
Yep, I saw that PR before, but I mean if we still have other tests similar to `docker devfile url` case or not and if we have we need to address them as well, just would like to bring that up.

Regarding categorization, currently we can separate those test suites that only need odo runtime, for example, `odo create`, `odo catalog`, `odo registry`, but need to do some testing before categorization

[2020-05-07 18:55] johnmcollier commented on #3073
@gmarcy also hit this today.

Okay, so reading over https://blog.cloudflare.com/the-complete-guide-to-golang-net-http-timeouts/ helped clarify some things. It looks like we need to set `ResponseHeaderTimeout` in our code.

[2020-05-07 19:07] johnmcollier commented on #3073
I've got a PR up at #3119

/assign

[2020-05-07 20:12] elsony commented on #2918
This approach sounds good to me

[2020-05-07 20:12] #1545 closed

[2020-05-07 20:13] dgolovin commented on #2392
works for me with latest release v1.2.0,

[2020-05-07 20:17] dgolovin commented on #1482
Can be replaced with `odo url list -o json`. Closing.

[2020-05-07 20:17] #1482 closed

[2020-05-07 20:21] dgolovin commented on #3097
@amitkrout I used `odo preference set Experimental true`.

[2020-05-07 20:57] GeekArthur commented on #3073
This is interesting issue and I don't think odo V style logging (`-v 4`) can give us more detailed information as the error is from golang `net/http` package and odo is just wrapper of that package (If the error is from odo V style logging is useful). Check the `net/http` source code here https://github.com/golang/go/blob/master/src/net/http/client.go#L724 can double confirm there is no more speci

[2020-05-07 21:19] johnmcollier commented on #3073
@GeekArthur, I'll be honest and say I don't fully understand why this change worked, but it's the only thing that fixed the issue

[2020-05-07 21:31] GeekArthur commented on #3073
Agree, just read your PR description, looks like the changes worked on the environment that could consistently reproduce this issue, I think we all good if that's the case.

[2020-05-08 05:25] dharmit commented on #1750
I'm gonna go ahead and close this as it's not looking relevant anymore. We can re-open it if required.

/close

[2020-05-08 05:25] #1750 closed

[2020-05-08 05:34] dharmit commented on #2822
I'd suggest we go ahead with what we're discussing about `odo push` creating an `env.yaml` if it doesn't find one. But adding similar capabilities to `odo config set project` and `odo config set name` can be kept for later time if we receive request from users. I'm saying this because it's about adding functionality to sub commands unlike `odo push`. Also, someone using `odo config` commands first

[2020-05-08 05:40] #2744 closed

[2020-05-08 06:02] dharmit commented on #2835
Not having app name is something I'm hitting with operator hub integration as well. In the experimental mode, I can start a service from service catalog because we assume the default value for `--app` flag to be `app` if user doesn't provide any.

But if we want to list the services started from service catalog (in experimental mode), we can't do it from a devfile component directory because it do

[2020-05-08 06:05] dharmit commented on #2438
We have more states for a component now. Does it make sense to work on this one? WDYT @kadel @girishramnani ?

[2020-05-08 06:19] dharmit commented on #807
Last remaining issue from the issue description has been closed with an example of Java made available in the docs. Hence marking this closed.

/close

[2020-05-08 06:19] #807 closed

[2020-05-08 07:37] adisky commented on #2800
Quarkus support has been added in odo,  quarkus devfile is now available at https://github.com/elsony/devfile-registry/tree/master/devfiles/quarkus,

Following things remaining
- Integration tests for quarkus support in odo
- Update the relevant Documents

[2020-05-08 08:23] dharmit commented on #2790
Talked about this in https://github.com/openshift/odo/issues/2835#issuecomment-625648696.

[2020-05-08 08:28] prietyc123 opened #3122 "Unable to start component due to namespace termination"
/kind bug

## What versions of software are you using?

**Operating System:**
all supported

**Output of `odo version`:**
master

## How did you run odo exactly?
Running  ```cmd_devfile_url_test``` test on CI

## Actual behavior

[code]

## Expected behavior

namespace should not get terminated  while starting the component and url should get created.

## Any logs, error output, etc?

Logs : https

[2020-05-08 09:33] metacosm opened #3123 "Cryptic error message when devfile registry URL leads to 404 error"
/kind bug

## What versions of software are you using?

**Operating System:** macOS 10.15.4

**Output of `odo version`:**
odo version
odo v1.2.0 (a82f3e025)

Server: redacted
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?

Modified one of the devfile registry URL so that it would result in a 404 error, then run `odo catalog list components`.

## Actual behavior

The actual result wou

[2020-05-08 10:36] #3048 closed

[2020-05-08 10:36] #2980 closed

[2020-05-08 11:36] mik-dass commented on #3113
This seems to be happening only on minikube

[2020-05-08 12:02] girishramnani commented on #2438
Actually, linking soon will work like odo create - odo push. The links will be stored on devfile/env. So I would suggest that once we have that then we can move forward on this.

[2020-05-08 12:04] girishramnani commented on #2835
The biggest problem with removing —app concept will be breaking backward compatibility and to a certain degree asking vscode adapter team to rewrite many modules.

[2020-05-08 13:47] maxandersen opened #3126 "allow `.devfile.yaml`"
/kind feature

## Which functionality do you think we should add?

similar to discussed in https://github.com/eclipse/che/issues/14548 it is good when `devfile.yaml` does not need to be shown by default.

## Why is this needed?

to make it easier to add support for odo and che without "polluting" users view.

[2020-05-08 14:37] cdrage opened #3127 "Create documentation with regards to how to edit Devfiles."
/kind documentation

## What mistake did you find / what is missing in the documentation?

At the moment we have: https://odo.dev/docs/deploying-a-devfile-using-odo/

Which is regards to deploying a Devfile.

We should have further documentation how to _modify_ the Devfile commands (run, build, etc.) and then re-deploy.

## What is the relevance of it?

No documentation as of right now that goes i

[2020-05-08 15:39] GeekArthur commented on #3107
Personally I like the following options that don't mention the word _Project_
1. `--starter`
2. `--templateSource`

Because IMO _Porject_ is pretty confused terminology (OpenShift project -> "namespace" VS devfile project -> template) and we should be careful to use it especially all OpenShift user might still think _Porject_ is _Namespace_ related thing by default

[2020-05-08 17:36] elsony opened #3128 "Better error when incorrect component type has been specified"
/kind bug
## What versions of software are you using?
1.2

**Operating System:**
mac

**Output of `odo version`:**

## How did you run odo exactly?
When I specified a wrong component type name during on create in the devfile scenario, the error message that comes back does not clearly point out on what may have caused the problem.

## Actual behavior
[code]

## Expected behavior
It should return a

[2020-05-08 17:53] mhdawson opened #3130 "Supported versions of Node.js out of date"
/kind documentation

## What mistake did you find / what is missing in the documentation?

https://github.com/openshift/odo#officially-supported-languages-and-corresponding-container-images

Node.js 8.x is EOL and I don't believe it is supported by RH any more. The doc also likely needs to add Node.js 12.x which is LTS now.

## What is the relevance of it?

The doc has invalid/incorrect informatio

[2020-05-08 20:41] #2646 closed

[2020-05-08 20:44] maysunfaisal opened #3131 "Do not start Docker component containers as root"
/kind user-story

## User Story
Currently, the docker component containers are started as root because when docker mounts volume, there is no way to specify the file permissions for docker volume.

As a result, if a container user does not have sufficient permissions, odo will be unable to sync the project to the project volume mount.

An idea initially investigated was, to start an init container

[2020-05-08 20:46] maysunfaisal commented on #3131
For example, when i started an init container and changed the volume mount file mode and started a container with the said vol mount, it reported diff file permissions:

(You can look at the entrypoint of the containers below)

[code]

[2020-05-08 21:39] yangcao77 commented on #3122
PR related: https://github.com/openshift/odo/pull/3125

The test failed due to namespace incorrect. Since the automation tests runs in parallel in multiple nodes, it causes the conflict.

[code]
Component created under namespace `yhzmzsovke`, but it's trying to push to a different `bzcgbcptwl` namespace. Which is created&ran by other tests, and terminate at this point.
[code]

The fix is to assign

[2020-05-09 04:22] amitkrout commented on #3122
https://github.com/openshift/odo/pull/3125#issuecomment-626103362

[2020-05-09 06:01] maxandersen opened #3132 "control over how rsync and start/stop happens"
/kind feature

## Which functionality do you think we should add?

Being able to customize in devfile what folders are rsynced to not only support in-cluster source builds but be able to take locally built artifacts and put in a specific location on the deployment.

## Why is this needed?

to support wildfly, tomcat, or any other runtime that supports true incremental hotdeploy of  resources (weth

[2020-05-09 09:14] amitkrout commented on #3122
@yangcao77 You mean there is nothing wrong with the test script. Need to assign ```pushoptions.namespace``` in the actual code implementation to fix it ?

[2020-05-09 11:07] #2635 closed

[2020-05-09 12:19] amitkrout commented on #3111
+1

Understood
It sounds like a plan to me. It requires a proper analysis effort to categorize such test. As part of ```docker devfile…``` is concerned, we need to define a docker version test matrix. For example which version of docker supports devfile docker pushtarget then accordingly we need to test devfile against these docker version in CI. Anyway I have created a separate issue https://gith

[2020-05-09 15:02] yangcao77 commented on #3122
@amitkrout Yes. Like what `odo watch` and `odo push` are doing.
https://github.com/openshift/odo/blob/bfa9922b1b7b53b8a8411061c9d0e7df8ec0e250/pkg/odo/cli/component/watch.go#L111-L113

https://github.com/openshift/odo/blob/bfa9922b1b7b53b8a8411061c9d0e7df8ec0e250/pkg/odo/cli/component/push.go#L73-L76

[2020-05-09 20:53] #1957 closed

[2020-05-11 02:50] girishramnani opened #3133 "Re-enforce Complete Validate Run methodology on cli commands"
There are some cli commands which right now don't enforce Complete-Validate-Run idealogy. i.e. Complete code is actually doing Validations etc. one instance https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/create.go#L336-L339

Also I observed that the `Validation` phase for `odo create` starts in the `Complete` function https://github.com/openshift/odo/blob/master/pkg/odo/cli/com

[2020-05-11 02:53] girishramnani commented on #3126
allow `.devfile.yaml` would mean we have an option to change the default filename by which a devfile is downloaded i.e. `devfile.yaml` to `.devfile.yaml` and use that to create a component?

[2020-05-11 04:35] mik-dass commented on #2858
@kadel I also feel the creation of previewURL should be done only on the first push.

[code]
In this scenario `odo push` shouldn't create the preview URL again. So I guess it's best to only create preview URLs only during first push.

Also on a openshift cluster
[code]
So we should detect if a URL already exists for a certain port and avoid creation of preview URLs.

[2020-05-11 06:38] jeffmaury commented on #1946
@girishramnani Just tested with 1.2.0 and cannot reproduce

[2020-05-11 07:44] girishramnani commented on #2742
closing

[2020-05-11 07:44] #2742 closed

[2020-05-11 07:45] girishramnani commented on #2959
this PR resolves the above issue https://github.com/openshift/odo/pull/3134

[2020-05-11 07:46] girishramnani commented on #2978
@johnmcollier are you still working on this?

[2020-05-11 07:47] girishramnani commented on #2983
this is expected as we haven't implement this. so I think this is more of a feature

[2020-05-11 07:48] girishramnani commented on #2989
duplicate of https://github.com/openshift/odo/issues/2835
closing

[2020-05-11 07:48] #2989 closed

[2020-05-11 07:52] girishramnani commented on #2967
/assign metacosm

[2020-05-11 08:00] girishramnani commented on #3101
can you please confirm if the `app` in both the component contexts are same?

[2020-05-11 08:02] girishramnani commented on #3092
duplicate of https://github.com/openshift/odo/issues/2835

[2020-05-11 08:02] #3092 closed

[2020-05-11 08:03] girishramnani commented on #3092
@dgolovin work is being done on this.

[2020-05-11 08:15] dharmit opened #3135 "Remove duplicate code between push and file indexing"
There's a good bit of repetition of code between `func (cpo *CommonPushOptions) Push()` and `func (a Adapter) SyncFiles(syncParameters common.SyncParameters) (isPushRequired bool, err error)`. Can we reduce this before we introduce a bug by making change at one place and forgetting to do it at the other?

_This issue is a spin-off of the comment https://github.com/openshift/odo/pull/2751#pullreque

[2020-05-11 08:16] prietyc123 opened #3136 "Unable to execute build command for first odo push --devfile devfile.yml"
/kind bug

## What versions of software are you using?

**Operating System:**
all supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Ran the steps manually in experimental mode.

Steps:

1. Create project `odo project create testing`
2. Create nodejs component
3. Copy nodejs project file to the current directory
4. Copy nodejs devfile.yml to the current folder
5. Crea

[2020-05-11 08:34] prietyc123 commented on #3101
@girishramnani app in both the context are different. When you will go through the steps I mentioned in the issue you will find that the `backend` component has app `app` whereas fronten  app is `testing`. When you will go through `actual behavior` you will find more clarity on this.

[2020-05-11 10:13] girishramnani opened #3137 "JSON Output for devfile needs to have long term design as we cannot break it after v2"
/kind user-story

## User Story
As a ... I want to ... So that ...

## Acceptance Criteria
- [ ] It should ....
- [ ] It should ....

## Links
- Feature Request:
- Related issue:

/kind user-story

[2020-05-11 10:24] girishramnani commented on #2550
I would ask to consider how this notification system would change for devfile v2 @elsony

[2020-05-11 10:26] girishramnani commented on #3015
I would suggest we do the cleanup once we have devfilev2

[2020-05-11 10:30] girishramnani commented on #2983
We need to wait on all devfile JSON output until we finalise on https://github.com/openshift/odo/issues/3137

[2020-05-11 10:38] neeraj-laad commented on #3107
+1 for `--starter`

It is simple and conveys the operation/function the user is performing.

[2020-05-11 10:46] girishramnani opened #3138 "evaluate odo devfile for disconnected cluster environment"
/kind user-story

## User Story
As a user i want to run devfile functionalities against a disconnected cluster.

## Acceptance Criteria
- [x] Devfile supported component (nodejs, java) should be verified

## Links
- Feature Request: NA
- Related issue: VA

/kind user-story

[2020-05-11 10:56] kadel opened #3140 "devfile v2 support for odo push (k8s and OpenShift)"
/kind user-story

## User Story
As an odo user, I want to be able to use devfile.yaml defined using v2 spec

## Acceptance Criteria
- [x] `odo push` should autodetect devfile.yaml version
- [x] `odo push` It should create Deployment with containers and Services based on the devfile.yaml v2 containers definition
- [x] `odo push` should create URL (Route or Ingress) based on devfile v2 definition
-

[2020-05-11 11:02] dharmit commented on #2835
I agree with your point. But moving from s2i to devfile is going to introduce few changes that cause trouble to Adapters, no? Would it be helpful to at least have a discussion about this with them to understand how useful it is for end-users?

[2020-05-11 11:14] girishramnani commented on #3140
We need to consider if `odo push` support for docker for devfile v2 needs to be a different issue or not.

[2020-05-11 11:15] adisky opened #3141 "Refactor Devfile Common Structures to More closer to V2"
/kind code-refactoring

Currently the Devfile common structures are more closer to V1, To accommodate all field values from V2 to common structures, Common structures needs to be updated.

https://github.com/openshift/odo/blob/master/pkg/devfile/parser/data/common/types.go

[2020-05-11 11:18] adisky opened #3142 "Migrate the devfile v1 Tests to devfile v2"
/kind test

Followup issue for PR https://github.com/openshift/odo/pull/3216

[2020-05-11 11:22] adisky commented on #3136
as discussed on slack with @prietyc123 , there was some confusion about root dir of the project, so source code was not getting synced on container, @prietyc123 If you are fine with the solution should we close the issue?

[2020-05-11 11:27] prietyc123 commented on #3136
@adisky Thanks for clarifying the doubts. It worked for me now. Hence closing this issue.

[2020-05-11 11:27] #3136 closed

[2020-05-11 11:41] kadel commented on #2822
/remove-triage needs-information
/triage ready

[2020-05-11 11:52] kadel opened #3144 "odo push without .odo directory"
/kind user-story

## User Story
As a user I want to run start my application right after I clone the repo without running `odo create first` (`git clone https://.... && odo push`)

## Acceptance Criteria
as described https://github.com/openshift/odo/issues/2822#issuecomment-624584047
- [ ] `odo push`  should use env.yaml file if it is available
- [ ]  if `env.yaml` doesn't exist when `odo push` is

[2020-05-11 11:54] kadel commented on #2822
Created the first user story to address changes required in `odo push` command https://github.com/openshift/odo/issues/3144

[2020-05-11 11:59] metacosm commented on #3133
While I agree on principle, I think there are cases where it makes sense to validate (and error out when needed) during the complete phase, in particular when all the information is available during that stage. In some cases, separating the validation process completely would mean duplicating processes that happen in `Complete` which, I think, should be avoided. This goes to the "fail fast" philos

[2020-05-11 12:03] kadel commented on #3144
/kind user-story
/priority high
/area devfilev
/area devfilev2
/area push
/priority high

[2020-05-11 12:28] kadel commented on #3140
/priority high

[2020-05-11 12:32] kadel opened #3145 "devfile v2 support for odo push (Docker)"
/kind user-story

## User Story
As an odo user, I want to be able to use devfile.yaml defined using v2 spec

## Acceptance Criteria
- [x] `odo push` should autodetect devfile.yaml version
- [x] `odo push` It should create and strat  containers  based on the devfile.yaml v2 containers definition
- [x] `odo push` should create URL (expose port) based on devfile v2 definition
- [x] `odo push` should

[2020-05-11 12:32] kadel commented on #3140
good point. I've created https://github.com/openshift/odo/issues/3145 to address the local (docker) case

[2020-05-11 12:35] kadel commented on #3138
/triage needs-information

[2020-05-11 12:55] amitkrout commented on #2994
I ma not sure which timeout is it ? i am sure it is not coming from the test script. Can we overwrite this timeout like we did for pushtimeout.

Its a flake. i never tried it out locally. However it is found once or may be twice in OpenShift CI that runs the cluster on AWS.

[2020-05-11 12:58] metacosm commented on #3104
`odo delete` shouldn't cause an error if the component isn't pushed. At worse, it should be a warning but it shouldn't be an error to not have to erase anything on the cluster :)

[2020-05-11 13:00] metacosm commented on #3104
Also, a user shouldn't have to care about an `env` directory that they never asked to create: this is an internal mechanism to odo that shouldn't surface in user operations, in my opinion.

[2020-05-11 13:04] #2779 closed

[2020-05-11 13:04] cdrage commented on #2958
https://github.com/openshift/odo/pull/3029 has been merged. However, further edits / changes will be done.

This can be closed for now!

[2020-05-11 13:05] #2958 closed

[2020-05-11 13:06] dharmit commented on #2994
No, it's not set from our side. So we can't configure it.

I don't see this locally either. How do you suggest to fix this?

[2020-05-11 13:24] EnriqueL8 commented on #3107
I think `--starter` is nice and simple, but we need to look at the semantic meaning of projects in a devfile. Are they really considered a starter project? Or all the components of my application?

[2020-05-11 13:25] kadel commented on #2550
There definitely should be a proposal document before this gets implemented!

[2020-05-11 13:33] kadel commented on #2550
What if application doesn't communicate over HTTP(S) and uses some other tcp/udp protocol?
Or if the application doesn't expose any ports at all?

[2020-05-11 13:34] kadel commented on #3095
This should be eventually addressed with https://github.com/openshift/odo/issues/2550#issuecomment-591261501
@dgolovin can you check what is proposed there?

[2020-05-11 13:35] deboer-tim commented on #3107
That's still being discussed (https://github.com/devfile/kubernetes-api/issues/42), but based on where it's at I think there will be a distinction between projects (part of the app, always cloned) and starters (optional resources to start with, copied in).

[2020-05-11 13:47] dharmit commented on #2801
This one depends on discussion in #2835 and proposed PR #3134 .

[2020-05-11 14:01] kadel commented on #2858
I would actually be ok if it creates url again. If It is defined in devfile it should be created. If someone wants to really delete the URL then it should be deleted from devfile.yaml

Otherwise, you will have problems when someone adds previewUrl into devfile.yaml after it was pushed.

[code]

Yes

odo push
// preview URL created of route kind
odo url delete <name> -f

[2020-05-11 14:05] girishramnani commented on #2874
this issue got resolved

[2020-05-11 14:05] #2874 closed

[2020-05-11 15:07] johnmcollier opened #3147 "Support non-GitHub URLs for projects in devfiles"
/kind user-story
/area devfile

## User Story
Currently, the `--downloadSource` flag in `odo create <comp>`, only supports projects hosted on Github, as `odo` is using the Go-Github API.

As a user, I want to be able to host my code templates for devfiles in other Git repositories like Gitlab, and then use `odo create --downloadSource` to pull down those projects

## Acceptance Criteria
- [ ] It s

[2020-05-11 15:28] johnmcollier opened #3148 "Odo Docker tests should run without a Kube config"
It seems that the Odo integration tests for Docker run with a kube config (https://github.com/openshift/odo/blob/master/.travis.yml#L129):
[code]

This is problematic, and since Odo's docker support does not require a Kube config, the Odo integration tests should not require it either.

Problems have arised in Odo's Docker support when there isn't a Kube config and we need to make sure that's cove

[2020-05-11 15:28] johnmcollier commented on #3148
/area devfile
/area local

[2020-05-11 15:38] amitkrout commented on #2994
Got it.
The issue was coming due to because there was no ```EventuallyTimeout``` and ```ConsistentlyDuration``` in test script. This issue is fixed by pr https://github.com/openshift/odo/pull/3010.

[2020-05-11 15:38] #2994 closed

[2020-05-11 15:55] amitkrout commented on #2868
Understood
It listed out the component those are globally available and imported to the project. So in my case i was searching for a component which was private to another namespace from the current active project.

[2020-05-11 15:55] #2868 closed

[2020-05-11 16:59] kadel commented on #2585
Thanks to a recent vendor update to  OpenShift 4.4 (#3081)  we can now move to go modules.

I've successfully tried in my branch here https://github.com/kadel/odo/tree/go-mod

[2020-05-11 18:31] metacosm opened #3149 "CI/tests should not run on documentation changes"
/kind feature

## Which functionality do you think we should add?
Cf. title.

## Why is this needed?
This would free up some resources for PRs that actually need the tests to be run and speed up documentation updates.

[2020-05-11 19:01] metacosm commented on #3149
It doesn't look like the [skip ci] command is working and it'd be better if it was enforced automatically since people might miss it when opening doc PRs…

[2020-05-11 19:23] jgwest commented on #2550
@kadel I thought [this](https://github.com/openshift/odo/issues/2550#issuecomment-591261501) was a pretty good proposal.

[2020-05-11 19:33] jgwest commented on #2550
My assumption was that URLs created with `odo url create` would only be HTTP/S URLs (eg exposed via an HTTP/S ingress); if not then we would need a way to differentiate between URLs which accept HTTP requests and those that don't.

This scenario is the easy one: if there are no ports exposed via URLs, then there would be not testing of the URLs

[2020-05-12 03:01] jichenjc commented on #3135
yeah, this is something we need handle

[2020-05-12 04:31] mik-dass commented on #2585
Great! Can you please raise a PR?

[2020-05-12 05:17] #3073 closed

[2020-05-12 06:13] dharmit commented on #2999
At the moment, if `ODO_EXPERIMENTAL` is set to `false` in shell but it's set to `true` in preferences, we consider this to be `true`.

Shouldn't it be considered `false` instead?

[code]

[2020-05-12 06:46] dharmit opened #3151 "odo push fails for devfile nodejs, if non default project is used"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
While using a minishift cluster in the backend and having experimental mode enabled, I tried to push a nodejs component.

## Actual behavior
[code]
## Expected behavior
`odo push` should have succeeded

/priority high
/area devfile

[2020-05-12 06:49] dharmit opened #3152 "Upon odo push, odo logs "Creating Kubernetes resources" for OpenShift cluster"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
Using minishift/CRC as a backend, I created a nodejs component and tried to push it. The message logged on stdout was "Creating Kubernetes resources"

## Actual behavior
[code]

## Expected behavior
It should mention `Creating OpenShift resources`.

[2020-05-12 06:54] dharmit commented on #2960
@jeffmaury pardon me for a bit tangential comment here. It's not directly related to `odo service create` but, since you're trying to create a service on 3.x with experimental mode enabled, I'm assuming that you were able to push a devfile based component (which can be created only in experimental mode) to 3.x cluster.

However, I'm not able to push it when I am running minishift. If you have some

[2020-05-12 07:23] jeffmaury commented on #2960
I did try on CRC but not yet on Minishift. Will try and let you know

[2020-05-12 07:49] dharmit commented on #2983
On minishift, I'm facing an issue wherein pushed url is neither listed in `odo url list` nor the application is accessible on it. I'm trying for https://github.com/sclorg/nodejs-ex project. In the devfile, I commented both the occurrences of `workdir` as @adisky recommended and did `odo push`.

On the minishift web console, I see the URL/Route for the component. But application is not accessible o

[2020-05-12 07:49] adisky commented on #3151
as discussed on slack with @dharmit, he is using this project to deploy https://github.com/sclorg/nodejs-ex, the default devfile https://github.com/elsony/devfile-registry/blob/master/devfiles/nodejs/devfile.yaml#L25 is project specific, we should make it generic.

I tried removing the `workdir` and it worked.
[code]

[2020-05-12 08:10] adisky opened #3153 "`odo url list` failing for push components, creating route, but trying to list ingress"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master
## How did you run odo exactly?
[code]
Trying to list ingress, but it created route
[code]
[code]

## Actual behavior
`odo url list`, should list the created url

## Expected behavior

## Any logs, error output, etc?

[2020-05-12 08:13] dgolovin commented on #3092
@girishramnani thanks, that would let to try it in vscode.

[2020-05-12 08:30] jeffmaury commented on #3060
Adding to this use case: if url is created with secure attribute but not pushed to the cluster, then `odo url list` reports it as non secure. After the url is pushed to the cluster then `odo url list` is correct.

[2020-05-12 08:33] mik-dass commented on #3153
Seems like a duplicate of https://github.com/openshift/odo/issues/2985. Can you please confirm?

[2020-05-12 08:34] jeffmaury commented on #3060
Also please note that the URL is not retrieved by `odo url describe`

[2020-05-12 08:49] dharmit commented on #3153
@mik-dass the PR corresponding to that issue has been merged a while back. Is it expected to still face this issue wherein listing routes on OpenShift is not possible?

I commented about it here https://github.com/openshift/odo/issues/2983#issuecomment-627174901.

[2020-05-12 08:58] varsharain-a11y commented on #3113
@mik-dass
Hi Mrinal,
I tried odo commands on minikube. However i don't see the "Starting client certificate rotation controller" message.
[code]
[@vasharma nodejs-ex]# odo create nodejs
Experimental mode is enabled, use at your own risk

Validation
 ✓  Checking devfile compatibility [228155ns]
 ✓  Validating devfile component [77530ns]

Please use `odo push` command to create the component with so

[2020-05-12 09:24] amitkrout commented on #3122
@yangcao77 Thanks for the tips. I will send a patch

@girishramnani This will be my first development code contribution. i will seek your guidance ;) . thanks

[2020-05-12 09:37] dharmit opened #3154 "Modify "genericclioptions.NewContext" to return context based on configuration of experimental mode"
Instead of checking for experimental mode and requesting a devfile context at different places in the code, wouldn't it make more sense to put that logic in NewContext so that the same logic doesn't need to be implemented everywhere?

_Originally posted by @metacosm in https://github.com/openshift/odo/pull/3069_

/kind code-refactoring

[2020-05-12 09:44] adisky commented on #3153
@mrianl yup it looks the same.
@dharmit I think the blocker PR to the issue gets merged. The issue itself is not fixed. correct me if i am wrong @mik-dass

[2020-05-12 10:07] dharmit commented on #3133
I recently came across a PR #3118 where doing validation earlier helped provide a better user experience. For example what I've commented here https://github.com/openshift/odo/pull/3118#issuecomment-625660310.

IMO, if it makes sense, we could keep exceptions to this rule. Of course, it shouldn't mean a license to break it at will. :)

[2020-05-12 10:19] dharmit opened #3155 ""odo delete" and "odo create" follow different rules to decide upon component's existence in pwd"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
In below case, `odo create` and `odo delete` both fail.
[code]

## Actual behavior
 Apparently, `odo delete` doesn't delete `devfile.yaml` and `odo create` doesn't create a component in the same directory if it finds `devfile.yaml`.

Also, it takes

[2020-05-12 11:26] mik-dass commented on #3153
@dharmit Actually https://github.com/openshift/odo/pull/2885 just added the route supported but the listing part wasn't implemented there.

Yes only the blocker #2885 was merged.

[2020-05-12 11:28] adisky commented on #3153
@mik-dass closing this as issue, as it is dupe of #2985

[2020-05-12 11:29] adisky commented on #3153
/close

[2020-05-12 11:29] #3153 closed

[2020-05-12 11:29] mik-dass commented on #3113
Can you please share the minikube version?

[2020-05-12 12:07] kadel opened #3156 "Convert s2i components into devfile"
/kind user-story

## User Story
As a current odo user, I want to be able to benefit from new features that require devfile without manually recreating my components

## Acceptance Criteria
- [x]  the conversion command should work on the current directory with the "LocalConfig" component
- [x] conversion command (`odo utils convert-to-devfile`) should be able to convert the "LocalConfig"  componen

[2020-05-12 17:44] kadel commented on #2585
/assign
/unassign @mik-dass

[2020-05-12 17:52] elsony commented on #2581
Code merged, feature done

[2020-05-12 17:52] #2581 closed

[2020-05-12 17:58] kadel commented on #3074
Run on this issue when I got disconnected from OpenShift cluster
[code]

I would say that this is a pretty important issue
/priority high

[2020-05-12 19:25] jgwest commented on #3028
Waiting on https://github.com/openshift/odo/pull/3041 to get merged before continuing this.

[2020-05-12 19:31] cdrage opened #3161 "Update README with links to odo.dev"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Links on the current README should link to odo.dev not the OpenShift site.

## What is the relevance of it?

[2020-05-12 21:14] GeekArthur commented on #3155
This is covered by this PR https://github.com/openshift/odo/pull/3118, see the new performance here: https://github.com/openshift/odo/pull/3118#issuecomment-626036410

[2020-05-12 21:46] johnmcollier commented on #2985
Are there any plans to handle this in sprint 184?

[2020-05-12 21:56] elsony commented on #2550
Do we expect to support exposing of URL anything other than HTTP/S?  We are currently using ingress for exposing the URL and that is only supporting HTTP/S.

[2020-05-12 22:03] elsony commented on #3104
@kadel I am not sure if we should delete the devfile.yaml for the user as part of the `odo delete -a` command or should we require the user to manually delete the devfile.yaml.  Consider the scenario that developer A has developed an app and check into git together with a customized devfile.yaml. Then, developer B clone that app git repo and use odo to continue to do the development. After develop

[2020-05-12 22:29] johnmcollier opened #3162 "Update devfile sample output in deploying-a-devfile-using-odo.adoc"
/kind documentation
/area devfile

The sample output in [deploying-a-devfile-using-odo.adoc](https://github.com/openshift/odo/blob/master/docs/public/deploying-a-devfile-using-odo.adoc) is out of date and from pre odo 1.2.0. We should update the samples on that page so that they reflect what's current in odo 1.2.0.

For example, the doc has the following for odo push:
[code]

When it should be:
[c

[2020-05-12 22:29] johnmcollier commented on #3162
/assign

[2020-05-12 22:35] girishramnani commented on #2550
A proposal is a document which is merged in the proposals folder that we have. Currently keeping track of what’s changed is difficult in an issue. So @jgwest please open a PR with a proposal document

[2020-05-13 00:50] varsharain-a11y commented on #3113
-->Can you please share the minikube version?

[@vasharma minikube]# minikube version
minikube version: v1.10.0

[2020-05-13 02:08] elizabethlumban opened #3164 "url Application Not Available"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS 10.15.4
**Output of `odo version`:**
odo v1.2.0
## How did you run odo exactly?
I make sure I'm logged in to the OCP (v4.3) cluster (in our cloud account) and make sure I have my own namespace. Once inside my own namespace, I execute the following.

my repo are in :
https://github.com/elizabethlumban/react-starter2

[2020-05-13 02:16] zhengxiaomei123 opened #3165 "‘make test-e2e-beta‘ failed with permission error"
Steps to reproduce: (Copy pasted from slack conversation)
[code]

I ran the command `make test-e2e-beta` to run e2e tests on OCP 4.2 Z platform. I got the error below:

[code]

[2020-05-13 02:17] zhengxiaomei123 commented on #3165
The detail log is
[code]

[2020-05-13 02:18] zhengxiaomei123 commented on #3165
I created the PersistentVolume for tests with yaml file:
[code]

[2020-05-13 02:20] zhengxiaomei123 commented on #3165
@amitkrout Hi , I reproduced the permission error. Could you please help check this issue? I am not sure if it is the PersistentVolume definition error or not. For upstream CI, how to provide the PV for those tests? Thanks.

[2020-05-13 02:28] elizabethlumban opened #3166 "[question] how to generate a https url"
Hi - I need to generate a https url, I've read the documentation (https://docs.openshift.com/container-platform/4.3/cli_reference/openshift_developer_cli/odo-cli-reference.html#url) as well but I can't seem to find a way to generate a https url  using odo url create? Is this currently supported in odo? if yes, please kindly share as to how to generate a https url in odo. Thanks in advance!

[2020-05-13 02:51] zhengxiaomei123 commented on #3165
The nfs exports is
[code]

[2020-05-13 03:02] jichenjc commented on #3165
@zhengxiaomei123 this is the same issue to the PV permission that discussed before?
I think they requested `default` project for some reason ,we followed that?

[2020-05-13 03:23] zhengxiaomei123 commented on #3165
The PV definition is same as the before one. Maybe the tests cases need the different PV definition.

[2020-05-13 03:24] zhengxiaomei123 commented on #3165
Sorry , What's the meaning?

[2020-05-13 04:50] mik-dass commented on #3166
@elizabethlumban You can use the `--secure` flag to generate the https URL.

[2020-05-13 05:02] mik-dass commented on #3113
@varsharain-a11y My minikube version is
[code]

I tried odo commands on minikube. However i don't see the "Starting client certificate rotation controller" message.
@vasharma minikube]# odo version
odo v1.2.0 (7f14dab08)
Server: https://openshift.varsha111.lab.pnq2.cee.redhat.com:443
OpenShift: v3.11.200
Kubernetes: v1.11.0+d4cacc0

Also you are using a openshift cluster and not minikube as opensh

[2020-05-13 05:16] elizabethlumban commented on #3166
thanks you!! @mik-dass

[2020-05-13 05:18] mik-dass commented on #3164
I tried using odo with the repo https://github.com/elizabethlumban/react-starter2.git. For me, the build seems to be failing and thus application didn't start. Can you do `odo log` and provide the logs?

[2020-05-13 05:32] mik-dass commented on #3166
OK :+1:
/close

[2020-05-13 05:32] #3166 closed

[2020-05-13 06:56] cmoulliard commented on #2316
I got this error when I did today an upgrade of odo
[code]

[2020-05-13 06:57] varsharain-a11y commented on #3113
@mik-dass

With experimental mode set to false i am getting below error:

[code]

With experimental mode set to true:

 [vasharma@vasharma nodejs-ex]$ odo preference set experimental true
? experimental is already set. Do you want to override it in the config Yes
Global preference was successfully updated
[vasharma@vasharma nodejs-ex]$ odo create nodejs
Experimental mode is enabled, use at your ow

[2020-05-13 07:09] mik-dass commented on #3113
odo v1.2.0 (7f14dab)
Don't know if i am missing anything.

This time it's a kubernetes cluster as openshift version is not displayed compared to https://github.com/openshift/odo/issues/3113#issuecomment-627209757. I started facing this problem after https://github.com/openshift/odo/pull/3081 got in. Looking at the commit hash, it seems to be a older version of odo. Can you please update to the mas

[2020-05-13 07:41] dharmit commented on #3104
I think that `odo create` and `odo delete` have different definitions to determine if the pwd is a component directory. I opened #3155 for the same. I think this issue is also pointing to the same.

[2020-05-13 08:05] mik-dass commented on #2877
Looking at the above log and the others, they seem to be local components.
[code]
Build timeout is only used for git components. So https://github.com/openshift/odo/issues/3110 won't resolve this issue.

[2020-05-13 08:36] adisky opened #3167 "`odo create <component-name> --registry` falls back to S2I component, if invalid registry used"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:master

## How did you run odo exactly?
[code]

## Actual behavior
mentioned above

## Expected behavior: odo should exits, as soon as an invalid registry is specified via flag, It is should not go ahead for further validation
[code]

## Any logs, error output, etc?

[2020-05-13 08:54] elizabethlumban opened #3168 "[question] how to update nodejs to use v12"
Hi, I did a odo catalog list components, and I can see (in the yaml file of the Build>Image stream ) that the latest is using node 10 only. Would you be able to advise as to how to update this to include node12.

![Screenshot 2020-05-13 at 4 41 42 PM](https://user-images.githubusercontent.com/56430617/81791848-d9532200-9539-11ea-8b30-87368acdc705.png)

I was able to find rhscl/nodejs-12-rhel7 here

[2020-05-13 09:03] adisky commented on #2893
The current picture for a devfile registry is not much clear, We could assume that in any form, we need to provide authentication parameters to odo,

As with the current code odo access registry when it downloads `devfile.yaml`, in `odo create` or while `odo catalog list components`. Two approach i can think of is
- Provide authentication params while adding registry `odo registry add <registry-na

[2020-05-13 09:43] kadel commented on #2316
/reopen

[2020-05-13 10:06] girishramnani commented on #2920
the discussed workflow was
- to check if service binding operator is present on the cluster, if so use the `ServiceBindingRequest` as that allows the dev-console visualisation capabilities of that link.
- if the operator is not present then we use the logic present in the operator ( I discussed with service binding team and they mentioned that linking can happen without the operator too ).
- but p

[2020-05-13 10:09] girishramnani commented on #2983
but shouldn't this be scoped as a different bug? @dharmit

[2020-05-13 10:11] girishramnani commented on #2983
might possibly be implemented by this PR https://github.com/openshift/odo/pull/3160 as there seems to be an overlap.

[2020-05-13 10:11] girishramnani commented on #2983
@mohammedzee1000 please confirm before moving forward

[2020-05-13 10:15] #2934 closed

[2020-05-13 10:44] mohammedzee1000 commented on #2914
The installer script needs an overall. I think we are already looking at breaking off into a sort of upstream/downstream so the install scripts are going to need an overhaul. cc @kadel

For now, i think the goal should be the script should detect if os is windows/mac/os (if memory serves bash is available on all of these os's) and the automatically curl download appropriate binary.

Long term thou

[2020-05-13 10:46] girishramnani commented on #2914
For release engineering, always go with long term solutions.

[2020-05-13 10:46] girishramnani commented on #2914
Please plan for long term, what ever the solution might be

[2020-05-13 10:53] mohammedzee1000 commented on #2914
Long term will need decision on if we want to breakout upstream/downstream. Of course we will  still build internally, it the upload to github/internal delivery mechanisms and signing that will change. This is to avoid divergence as much as possible

[2020-05-13 11:32] prietyc123 commented on #2752
Running devfile delete integration test on kubernetes cluster using travis CI #2913 and Running devfile push integration test on kubernetes cluster using travis CI #3041 is in review. Need to update some requested change for the proposed pr.

Running devfile create integration test on kubernetes cluster using travis CI #2884 is ready to get reviewed but on hold due to https://github.com/openshift/

[2020-05-13 11:59] dharmit commented on #2920
I tried to link a nodejs devfile component with the etcd cluster by following the steps mentioned in https://github.com/redhat-developer/service-binding-operator/blob/master/examples/nodejs_etcd_operator/README.md. But it's not working yet.

So far, I think it's because service binding operator expects us to set name value in the `metadata.labels` for the Deployment created for a component. But I'

[2020-05-13 12:43] kadel commented on #2819
I don't think that this is good design. It will be an anti-pattern in odo. `odo push` flags should not get persisted in env.yaml.

As a user, I wouldn't expect that. Flags are there to make one-time change not to persist it.

The original intention for --build-command and --run-command flags in odo push command was to allow users to execute the alternative build or run command just one-time.

If w

[2020-05-13 12:46] elsony commented on #2582
This item is done with the remaining issues have separate items open

[2020-05-13 12:46] #2582 closed

[2020-05-13 12:48] dharmit opened #3169 "Move from using v1alpha1 APIs of OLM to using v1"
So far, odo's using `v1alpha1` APIs of Operator Lifecycle Manager for the Operator Hub integration. Now that #3081 is merged, we can move to using `v1` APIs of OLM.

/area service-operators
/priority high
/kind code-refactoring
/assign

[2020-05-13 12:58] kadel commented on #2920
+1, but let's break this into two stages. We should start with the implementation that uses ServiceBindingOperator and than add the fall back after we have this.

[2020-05-13 13:05] upLukeWeston commented on #2936
/assign

[2020-05-13 13:15] prietyc123 commented on #2752
As per the [comment](https://github.com/openshift/odo/pull/3041#discussion_r423936731) I am going to open a separate pr to address it.

[2020-05-13 13:18] elsony opened #3170 "odo should support devfile components with devRun but without devBuild"
/kind bug

## What versions of software are you using?
1.2

**Operating System:**
mac

**Output of `odo version`:**
odo v1.2.0 (7f14dab08)

## How did you run odo exactly?
A Quarkus devfile has been added to the default devfile registry (https://github.com/elsony/devfile-registry/tree/master/devfiles/quarkus).  However, the `odo catalog list components` does not currently show that component as su

[2020-05-13 13:22] mohammedzee1000 commented on #2914
One option we also have is dropping the script altogether and let our documentation handle it

[2020-05-13 13:26] mohammedzee1000 commented on #2540
For the token problem, we could do something of a hide in plain sight. This should not be used to often so should not need to be changed very often so we should discuss offline on how we do that, if we are. Otherwise we are going to have to wait on prow secrets to inject the token.

We also know that bitwarden is used by openshift release as another way to hold secrets. Regardless, since this prow

[2020-05-13 13:38] girishramnani commented on #2761
as mentioned by @mik-dass, this issue got resolved by a PR

[2020-05-13 13:38] #2761 closed

[2020-05-13 14:10] amitkrout commented on #3165
Slack conversation:

On AWS SC is configured by default. In our test environment we uses cluster hosted on AWS, that is why we did not hit the issue you are facing with OCP 4.2 created by IBM Z UPI .

To make your PVC binding to a PV,
1. First you need a storage server somewhere which is accessible from/to your cluster.
2. Then follow docs [1] to create PVs pointing to above storage servers.
3. Cr

[2020-05-13 14:23] boczkowska commented on #2800
@adisky would it be a good idea to reach out to Quarkus docs team to mention odo/create a small user-story in their docs too?
They do have some docs on how to deploy Quarkus on OCP: https://access.redhat.com/documentation/en-us/red_hat_build_of_quarkus/1.3/html-single/deploying_quarkus_applications_on_red_hat_openshift_container_platform/index

[2020-05-13 14:40] amitkrout commented on #2955
ping @dharmit

[2020-05-13 14:43] johnmcollier commented on #3170
I can take a look at this

/assign

[2020-05-13 16:01] kadel commented on #2893
It might be a little bit early for this. We still don't know how the registry will be secured.

[2020-05-13 16:03] kadel commented on #3168
OpenShift Components in odo are based on s2i builder images.

After importing the image you have to also tag is as a builder image.

Something like this should work.
[code]

https://docs.openshift.com/dedicated/4/cli_reference/openshift_developer_cli/creating-a-single-component-application-with-odo.html#adding-a-custom-builder-to-specify-a-build-image_creating-a-single-component-application-with-o

[2020-05-13 16:18] kadel commented on #3167
/priority medium

[2020-05-13 17:55] cdrage opened #3175 "Issue listing Operator Hub services despite an application existing"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** Master (using latest: https://github.com/openshift/odo/pull/3069)

## How did you run odo exactly?

Git clone springboot-ex: `git clone https://github.com/odo-devfiles/springboot-ex` then run the following commands:

[code]

Even with:

[code]

It still doesn't work ;(

## Actual behav

[2020-05-13 17:55] cdrage commented on #3175
ping @dharmit

[2020-05-13 18:48] cdrage commented on #2339
/lifecycle frozen

[2020-05-13 18:49] cdrage commented on #2076
/lifecycle frozen

[2020-05-13 18:54] cdrage opened #3176 "Synchronize upstream vs downstream with OpenShift and Kubernetes documentation"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Some notes from an earlier call with @kadel and @boczkowska

Downstream = docs.openshift.com
Upstream = our docs on gh-pages

A list of what should be implemented:

- [ ] Properly have downstream vs upstream synchronization whether it's upstream -> downstream OR downstream -> upstream.
- [ ] Use `modules` an

[2020-05-13 19:34] johnmcollier commented on #2862
Copying my comment from the PR, with respect to component naming with `--devfile`:

If --devfile is set, and the user passed in an arg to odo create, can we just interpret that as the component name, rather than component type?

That is, if --devfile is set, then the argument after odo create becomes the component name, rather than the component type. e.g.:

[code]

Would create a component from t

[2020-05-13 20:02] #3000 closed

[2020-05-13 21:03] jgwest commented on #2550
Proposal has been submitted as a PR: https://github.com/openshift/odo/pull/3177

(@girishramnani  @kadel  @elsony)

[2020-05-14 01:25] elizabethlumban commented on #3164
hi @mik-dass - I didn't get the same error as you. But I did make some changes in the code, just simple change to move the server.js in a server folder.. I pushed some code yesterday. Here is the log when I did a odo push --v 9 (saw this somewhere) ..

[odo_push_log_react_ui_13May2020.txt](https://github.com/openshift/odo/files/4625539/odo_push_log_react_ui_13May2020.txt)

Thank you again for your

[2020-05-14 05:20] adisky commented on #2800
I am not sure about this, as we are supporting it under `experimental` mode, @kadel @girishramnani should we do this now?

Yup I would add that.

[2020-05-14 05:27] #3074 closed

[2020-05-14 05:49] mik-dass commented on #3164
[code]
The code crashes as it is looking for a `build/index.html` but the build folder doesn't exist. The `index.html` exists in the public folder.

[2020-05-14 06:55] dharmit commented on #2920
+1. Even with SBO, it's not really apparent so far. The example I mentioned in https://github.com/openshift/odo/issues/2920#issuecomment-627934833 is still not working. I'll open an issue on the project repo to get help from their experts.

[2020-05-14 07:49] kadel commented on #2914
I would be fine with that.

[2020-05-14 08:14] dharmit commented on #3175
Can you share the `foobar.yaml` that was used to create a service?

What doesn't work? `odo service list`? What error do you encounter?

[2020-05-14 08:32] dharmit commented on #2920
Had a call with a member from the SBO team and we tried to create a binding request. But it failed. Tracking it in https://github.com/redhat-developer/service-binding-operator/issues/467.

[2020-05-14 08:43] dharmit commented on #2920
My research so far has been based on the SBO. I've not tried linking the component and service without the operator.

The yaml file that I used to create a binding between a component and etcd cluster is:
[code]

The code/API to do this is under https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/servicebinder.go.

[2020-05-14 10:44] dharmit commented on #2960
@jeffmaury the bug is indeed related to the experimental mode behaviour of `odo service` command.

In the experimental mode we're working on adding integration for Operator Hub so that users can performs similar operations for Operator backed services as they currently perform for Service Catalog based services.

As a result, for time being, it's best to perform Service Catalog related operations

[2020-05-14 10:52] dharmit commented on #3098
In the experimental mode, we don't have `app` field for the components yet. It's proposed by #3134.

Besides that, behaviour of `--project` flag for spinning up Operator backed services needs more discussion because there's a fundamental different in the way Operators and Service Catalog are installed.

Once a Service Catalog is installed, all its services are available across all namespaces/proje

[2020-05-14 11:09] dharmit commented on #2801
We can start working on this once the PR goes in.

[2020-05-14 11:17] amitkrout commented on #2704
Skipping the test on OpenShift CI is still pending.

[2020-05-14 11:31] boczkowska commented on #3176
I just noticed that the `Using odo in a restricted environment` is not synced.
No template for it and the script doesn't pick them up bc the docs are in a subdirectory https://github.com/openshift/openshift-docs/tree/master/cli_reference/developer_cli_odo

[2020-05-14 11:42] kadel commented on #2550
The reason why I would prefer this to be a separate file and PR is that it makes it much easier to have a discussion there, as you can comment o specific lines. And the proposal document will be a good base for documentation. It is hard to find the comments on the issue especially once the issue is closed.

[2020-05-14 11:58] amitkrout commented on #2540
@mohammedzee1000 Can you please summarize the tread discussion you had with prow team, so that team will come to know our next plan of action.

[2020-05-14 12:07] amitkrout commented on #2704
Steps for skipping only doc changes pr on OpenShift CI. Copy pasting the steps provided by @mohammedzee1000 in our slack 1-1 discussion that we agree upon.
[code]

[2020-05-14 12:40] adisky commented on #2893
Agreed it is still early to decide, lets wait for registry structure to be finalized.

[2020-05-14 13:15] dharmit commented on #3169
I've pushed a commit with required changes to https://github.com/dharmit/odo/tree/fix-3169. It builds fine. I need to run tests and play a bit to see if it works fine.

But I'm not so sure if using `internalversion` at https://github.com/dharmit/odo/commit/968b5682acdc380a6bad31517f7465efc3d9e51e#diff-cc858a8e6bf2524c2f489b6f619372caR14 is a good idea. I'll need to ping someone from the OLM team t

[2020-05-14 13:35] cdrage opened #3180 "Deploying CRD's / operator hub does not correctly deploy the Operator Hub name and refactor"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** Master

## How did you run odo exactly?

[code]

And then:

[code]

## Actual behavior

Not being able to create a CRD with the name `foobar`.

## Expected behavior

Being able to create a CRD / Operator with the name `foobar` NOT example.

## Tasks/Acceptance Criteria
- [x] `odo servi

[2020-05-14 14:24] mohammedzee1000 commented on #2704
Alternative solution : https://github.com/openshift/release/blob/master/ci-operator/jobs/cri-o/cri-o/cri-o-cri-o-release-1.14-presubmits.yaml#L17

[2020-05-14 14:26] girishramnani commented on #2333
as per the discussion, it seems this doesn't need to be resolved

[2020-05-14 14:26] #2333 closed

[2020-05-14 14:39] johnmcollier commented on #3033
This can be closed, since #3120 was merged.

[2020-05-14 14:39] #3033 closed

[2020-05-14 15:20] girishramnani commented on #3015
we need to break this issue into two parts, devfile dependent and independent tasks.

[2020-05-14 16:04] yangcao77 opened #3182 "URL describe under experimental mode should work for both routes and ingresses"
/kind bug

This bug is due to the new change for adding support for routes under experimental mode.
The current logic for `list` and `describe` only search for ingresses if experimental mode is turned on. An expected bug, need to modify the logic.

## How did you run odo exactly?
With experimental mode set, create a route UR
Run `url describe <route url>`

## Actual behavior
`url describe <route u

[2020-05-14 16:07] yangcao77 commented on #3182
/area url
/assign

[2020-05-14 16:09] johnmcollier commented on #3182
@yangcao77 I think this is the same issue as https://github.com/openshift/odo/issues/2985?

[2020-05-14 16:18] johnmcollier commented on #3154
@dharmit @metacosm I think my PR https://github.com/openshift/odo/pull/2981 should handle this 🙂

[2020-05-14 16:28] GeekArthur commented on #2813
@amitkrout I think this one should be fixed, let me know if you still can reproduce this on some scenarios that you test against.

[2020-05-14 16:30] GeekArthur commented on #2803
@maysunfaisal Is this one already fixed? Seems like there is no update from the issue creator but I believe you know this one as he pings you personally. If it's fixed, please provide some steps/details to reproduce then we can do more investigation.

[2020-05-14 16:31] yangcao77 commented on #3182
@johnmcollier Yes. #2985 is part of this issue, the issue should also include the change for `odo describe`

[2020-05-14 16:33] yangcao77 commented on #3182
Actually I will convert this issue for `url describe` only. So we have separate issues for these two different commands.

[2020-05-14 16:35] yangcao77 commented on #2985
/assign

[2020-05-14 17:03] GeekArthur commented on #2862
/triage needs-information

[2020-05-14 17:04] GeekArthur commented on #2862
Redesign discussion is under PR: https://github.com/openshift/odo/pull/3118

[2020-05-14 17:05] GeekArthur commented on #2813
/triage needs-information

[2020-05-15 02:50] #2888 closed

[2020-05-15 05:25] mik-dass commented on #2459
@kadel I think we can close because of https://github.com/openshift/odo/pull/2648

[2020-05-15 05:32] dgolovin opened #3185 "'odo url list' fails for s2i components in Experimental mode with error 'The current directory does not represent an odo component'"
/kind bug

## What versions of software are you using?

**Operating System:**
Linux
**Output of `odo version`:**
odo 1.2.1 release

## How did you run odo exactly?

[code]

## Actual behavior

[code]

## Expected behavior
[code]

## Any logs, error output, etc?
N/A

[2020-05-15 07:04] zhengxiaomei123 commented on #3165
@amitkrout Hi, I found it is related to the s2i image for applications. The error occured while there is warning "Warning: redhat-openjdk18-openshift:1.8 is not fully supported by odo, and it is not guaranteed to work".

[2020-05-15 07:52] zhengxiaomei123 commented on #3165
The image used is "registry.redhat.io/redhat-openjdk-18/openjdk18-openshift:1.8" . It can not worked for odo.

[2020-05-15 13:15] prietyc123 commented on #2752
Fixes the issue #2928 with pr https://github.com/openshift/odo/pull/3109 and unblocked #2913

[2020-05-15 13:18] prietyc123 commented on #2752
#2884 was failing due to #2888 and gets unblocked with pr #3124

[2020-05-15 13:37] kadel opened #3190 "odo v2 - CLI overhaul and dropping old style components support"
As we are adding more support for Devfiles it is getting increasingly hard to support both old s2i based components and new devfile way of doing things with the same CLI commands and flags.
This will get even more complex with devfile v2.
Problem is that we are trying to fit new Devfile workflow into old CLI commands that were designed with slightly different flow in mind. For example, one rule th

[2020-05-15 14:21] GeekArthur commented on #3185
Similar to this one https://github.com/openshift/odo/issues/3097?

[2020-05-15 15:12] GeekArthur commented on #2939
`dockerimage` component type depreciates, will check whether devfile 2.0 parser https://github.com/openshift/odo/pull/3188 handles `container` component type properly.

[2020-05-15 15:19] GeekArthur commented on #2862
Design is finalized under the PR: #3118

[2020-05-15 15:19] GeekArthur commented on #2862
/triage cancel

[2020-05-15 15:20] GeekArthur commented on #2862
/triage needs-information cancel

[2020-05-15 15:31] elsony commented on #3156
There is another aspect to have the s2i components with devfile.yaml that can be covered by this item or a separate item.  We need to have an entry of devfile registry repo in the repo list by default to represents the "s2i repo".  This will allow us use `--registry` flag during `odo create` to create a s2i style component that has component type name conflict with the devfile style ones in experi

[2020-05-15 15:34] GeekArthur commented on #2862
/remove-triage needs-information

[2020-05-15 15:37] GeekArthur commented on #2862
/triage ready

[2020-05-15 15:47] GeekArthur commented on #3156
If we can build a s2i registry where we host all the converting s2i devfiles, then it would easier for s2i registry support which can mainly resolve the component naming conflict issue between s2i registry and devfile registry. Once we have s2i registry, we just need to add the registry to our default registry list.

[2020-05-15 16:13] GeekArthur commented on #3167
+1, we should handle the invalid registry error properly, basically better error handling would be:
1. If registry doesn't exist (eg. pass in fake registry) -> directly throw error to user and won't continue to run both devfile and s2i code (given currently s2i doesn't have registry support)
2. If registry exists but component type doesn't exist under the specified registry -> throw properly error

[2020-05-15 16:29] GeekArthur commented on #3190
One small point should be mentioned under this issue, when we work on the CLI overhaul, we can handle the use case "overwriting existing resource" properly such as
- Create component with `--devfile` when devfile is present
- Create URL when URL is present

Currently we error out and let users manually remove those existing resources, better option would be prompt and help users overwrite automati

[2020-05-15 17:39] mohitsuman commented on #2638
@adisky Any update on this issue? It would be good if we have this for next odo release from IDE perspective.

[2020-05-15 19:05] GeekArthur commented on #2734
This issue is done.

[2020-05-15 19:05] #2734 closed

[2020-05-15 19:56] deboer-tim opened #3192 "Release changelog includes rotten issues"
/kind bug

This is a nit, but I noticed that the 1.2.1 release report [1] includes issues that were closed due to inactivity (e.g. [2]) as  'New features'. Don't know if there's a quick/easy way to exclude these.

[1] https://github.com/openshift/odo/releases/tag/v1.2.1
[2] https://github.com/openshift/odo/issues/2464

[2020-05-15 20:19] GeekArthur commented on #3192
@cdrage Please take a look.

[2020-05-17 03:20] #2393 closed

[2020-05-17 03:20] #2448 closed

[2020-05-17 03:20] #2354 closed

[2020-05-17 03:20] #2382 closed

[2020-05-17 09:21] #2225 closed

[2020-05-17 09:21] #2250 closed

[2020-05-17 09:21] #2287 closed

[2020-05-17 09:21] #2337 closed

[2020-05-17 15:22] #2168 closed

[2020-05-17 20:59] #2967 closed

[2020-05-17 20:59] #3105 closed

[2020-05-17 20:59] #3123 closed

[2020-05-18 05:05] dharmit commented on #3169
Opened an issue with OLM folks at https://github.com/operator-framework/operator-lifecycle-manager/issues/1527.

[2020-05-18 05:27] dharmit opened #3193 "Frequent failures in odo service command tests for OperatorHub"
/kind failing-test

[odo test statistics dashboard](https://gist.github.com/jgwest/5b28687514970ae6baa5942ee82d5755) is reporting quite a few failures for `odo service command tests for OperatorHub When operator backed services are created`.

When we delete `example3` service using `oc delete EtcdCluster/example3`, it succeeds. Next we check if `odo service list` returns the message `No operator b

[2020-05-18 05:28] dharmit commented on #3193
Surprisingly, I've never seen this issue in local environment when I run the tests. It's only showing up on the CI. Looks like something related to parallel tests running on multiple CI nodes.

[2020-05-18 05:37] dharmit commented on #3193
@amitkrout can you please help understand what's the problem here? I have a feeling that we'll need to use `helper.WaitForCmdOut` so that this issue doesn't pop up. Or, change the expectation for `stdOut` to not contain the name of the service being deleted (here `example3`) instead of expecting it to contain `No operator backed services found in the namesapce`.

[2020-05-18 05:51] mohammedzee1000 commented on #2540
Ok, we are in process of getting the `odo-bot` GitHub token injected into prow. The current method which is currently the only way is global ie all prow jobs.

Once it is in, we should be able to access it using `PULL_SECRET_PATH`. It will be json which will likely end up in the form of

[code]

So we should be able to pull it with `jq`

Once we have the token, we login with travis cli, pull the b

[2020-05-18 06:19] mohammedzee1000 commented on #2540
https://github.com/travis-ci/travis.rb/issues/382

[2020-05-18 06:20] mohammedzee1000 commented on #2540
@amitkrout we should not need to give login information by the way just cluster url as everything else is fixed in tests

[2020-05-18 07:38] prietyc123 commented on #3142
Thanks @adisky  for sharing the doc [1] for ```devfile v2 implementation plan```. AFAIU we are just adding a compatibility matrix of v2 for devfile support, I mean both v1 and v2 will be supported for devfile implementation and in later state v1 will be deprecated, right ?

However TBH I am clueless what test plan you are looking for it whereas we have the test for devfile in place. So can you ple

[2020-05-18 11:39] dharmit opened #3197 "Operator Hub outputs can be more user friendly than what they are right now"
After looking at [odo & Operator Hub integration documentation](https://odo.dev/docs/operator-hub/), @jorgemoralespou pointed out that outputs for Operator Hub integration are not really user friendly. For example, why do we use `--crd` flag to start a service? CRD is a k8s concept that we should ideally abstract that for users since that's the goal of odo.

Based on the discussion, IMO, we could

[2020-05-18 11:53] prietyc123 commented on #2752
This issue is in queue for a long time. And I have already proposed the prs related to this issue. It took time because I was getting lots of unknown issue while executing it and tried to resolve those one by one. While execution I tried to resolve racing condition with the namespace by copying the kubeconfig file to local temporary config file. Tried the same with openshift cluster and successful

[2020-05-18 11:55] mohammedzee1000 commented on #3023
It seems like a pretty straightforward but important problem.
/assign

[2020-05-18 12:15] #2790 closed

[2020-05-18 12:16] dharmit opened #3199 "odo should allows user to customize project deletion timeout"
## User Story
As a user I want to be able to customize project deletion timeout so that I can wait for longer/shorter time for a project to be deleted. Current default of 3 minutes is not configurable.

As a user, I might want longer timeout for slower/latent connection or for a project that's got large number of resources (services, components, etc.) started within it. I might want a shorter time

[2020-05-18 12:33] jorgemoralespou commented on #3197
I would not name it "Operator Name" And "Services Provided" but something more along the lines of:
`provider` and `services`, and maybe remove the version out, as that's also implementation details. In an ideal world, services could still come from the service catalog. Maybe no longer in OpenShift, but still in k8s world.

[code]

Maybe worth considering not using the CSV name but rather the api-g

[2020-05-18 12:52] mohitsuman opened #3201 "odo describe for a component does not lists down all the ports if a url is already created"
/kind bug

## What versions of software are you using?
odo 1.2.1

**Operating System:**

**Output of `odo version`:**
[code]

# How did you run odo exactly?
1. Create a URL from IDE and select the port(if the component has multiple ports)
2. Create a new URL second time, here the `odo describe -ojson` output for a component doesn't list down all the ports available for the component, the ports obj

[2020-05-18 12:58] mohitsuman commented on #3201
@girishramnani @kadel This issue will be a blocker for vscode OpenShift Connector.

[2020-05-18 13:20] mohammedzee1000 commented on #2914
@gorkem considering its a simple matter of downloading binary and placing it in your path, it does not make sense to keep this script anymore. You can refer https://github.com/openshift/odo/releases and https://odo.dev/docs/installing-odo/.

[2020-05-18 16:55] mohammedzee1000 commented on #2540
Ok it appears that the `--pull-request` bug has been fixed in travis cli version `1.9.1`(https://rubygems.org/gems/travis/versions/1.9.1.travis.1219.9). This is however a prerelease ie `gem install travis --pre`.

If we are able to go ahead with this then the script can be cut short by a lot i.e

[code]

[2020-05-18 16:58] gorkem commented on #2914
That is fine as long as you are not printing a message that references a non-working script

[2020-05-18 21:24] dmvolod commented on #2395
@kadel , I thought also about support debug for dotnet core apps in odo. What do you think about adding function which will use an API to invoke kubectl/oc rsync/exec analogs for delivering and embedding vsdbg inside runtime pod.

[2020-05-19 04:35] mohammedzee1000 commented on #2914
That is happening in older version of odo. The newer versions do not point to the script

[2020-05-19 06:15] amitkrout opened #3203 "Sync test script code for KUBECONFIG related operation on prow"
/kind feature
/kind code-refactoring

## Which functionality do you think we should add?

kubectl will prevent multiple concurrent writes to the configuration file: it uses a config.lock file and if the lock exists then changes to the configuration file are prevented which has been fixed in the pr https://github.com/openshift/odo/pull/3041.

Now to make the test code in the same logic need to be i

[2020-05-19 06:36] prietyc123 commented on #3203
I have tried out multiple fixes but It seems something fishy happening on prow. @kadel has also given some suggestions on this in [comment](https://github.com/openshift/odo/pull/3041#discussion_r425834514) but it again leads to [failure](https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3041/pull-ci-openshift-odo-master-v4.2-integration-e2e/450#1:

[2020-05-19 07:03] amitkrout opened #3205 "Provide documentation around the test env variable KUBERNETES"
/kind documentation

## What mistake did you find / what is missing in the documentation?
Missing documentation around the test env variable KUBERNETES.

## What is the relevance of it?
Helps user to set up the test env before running the test script against a kubernetes cluster.

[2020-05-19 07:18] dharmit commented on #3023
And on developer system I'm using `1.14.2`. :laughing:

[2020-05-19 07:50] mohammedzee1000 commented on #3023
I guess that is ok as CI will detect any issues that you try to pass off :P

[2020-05-19 09:03] dharmit commented on #3151
Closing this since my expectation was incorrect.

/close

[2020-05-19 09:03] dharmit commented on #2983
Yes. But I'm not able to reproduce this right now.

[2020-05-19 09:04] dharmit commented on #2801
/status blocked

Blocked on #3134

[2020-05-19 09:29] kadel commented on #3192
I've been discussing with @cdrage that we should probably change the changelog format. Currently, it is autogenerated is of the issues and PRs closed in between there releases.
Not sure if it is just me, but I don't find the current format that useful. If I want to check PRs that were merged I can easily query PRs on GitHub or check git log.

It might be good if we start generating separate Releas

[2020-05-19 09:34] zhengxiaomei123 commented on #3165
The error occurred not only with the imagestream for java but also with the imagestream for NodeJS.
The same image stream worked well for `make test-e2e-beta`, but failed for `make test-integration` .

[2020-05-19 09:38] adisky commented on #2638
@mohitsuman We would keep that in mind, and add it in next sprint.

[2020-05-19 11:26] dharmit commented on #3190
That is a really good that we had in odo. That principle guided everything we did!

Mine is going to be an unpopular opinion but if devfile is so complex that user will have to touch the yaml, we're setting up ourselves for failure in long-term. The rule of not touching YAML was odo's rule, not s2i's rule! It should stay as-is irrespective of s2i or devfile v1 or devfile v2, IMO.

IIUC, yaml comes

[2020-05-19 11:29] adisky commented on #3151
@dharmit why closed it? devfiles should be generic not project specific.

[2020-05-19 11:34] kadel commented on #3190
Thanks to the parent system in devfile v2 most of the users shouldn't need to touch Devfile at all, and even if they need to change something thanks to the inheritance system they will just edit really small Devfile. Most of the heavy lifting will be in parent Devfile, which normal users shouldn't need to touch.

yes

I don't think that that would help much :/ The code will be still present, and b

[2020-05-19 11:56] kadel commented on #3203
It doesn't look like that the failures in this log are due to `KUBECONFIG`.
I see the same failures even in other PRs (https://github.com/openshift/odo/pull/3204)

[2020-05-19 12:16] mohammedzee1000 commented on #2220
This issue is marked for clean up, so lets get that removed or it will close

[2020-05-19 12:16] mohammedzee1000 commented on #2220
/remove-lifecycle rotten

[2020-05-19 13:52] dharmit commented on #3190
@kadel as we discussed, we might want to break this issue into individual issues to brainstorm:
* How should s2i based components be supported in odo v2?
  * Should we convert `.odo/config.yaml` to `devfile.yaml`?
  * Should we read `.odo/config.yaml` and convert it into devfil structs on the fly each time?
* CLI overhaul to discuss what commands could be possibly removed/modified from odo v1.
* D

[2020-05-19 17:39] johnmcollier commented on #3128
So the root issue of this is that we always fall back to checking for an s2i image stream of that name, if a devfile component wasn't found. And if no s2i imagestream is found, we output the above error message, which may be consufin

We discussed on an earlier team meeting and decided to change the error message that gets printed when experimental mode is enabled and no devfile component or image

[2020-05-19 17:57] maysunfaisal commented on #2688
The config support should also take into consideration about saving devfile non custom commands. Probably something like
`odo config set build-command mydevfilebuildcommand`
and then `odo push` can execute `mydevfilebuildcommand` instead of `devbuild`

[2020-05-19 18:39] cdrage opened #3212 "Devfile does not create metadata.name but creates metadata.generateName"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** Master branch

## How did you run odo exactly?

[code]

## Actual behavior

Here is the output:

[code]

## Expected behavior

Shouldn't we also have `metadata.name` entry too?

According to https://redhat-developer.github.io/devfile/devfile.html generateName will be used for: `Workspa

[2020-05-19 18:42] cdrage commented on #3144
@girishramnani @kadel

I've opened up this issue too with regards to implementing this, as we're also missing some essential data.

For starters, we don't provide a default `metadata.name` in Devfile if the user does not provide a name when creation: https://github.com/openshift/odo/issues/3212

Otherwise, the implementation is quite straight-forward

[2020-05-19 18:58] johnmcollier commented on #3212
@cdrage Not quite.

I'm gonna start with Che first. When you create a workspace from a devfile in Che, it requires either `name` or `generateName` to be set in the devfile. If `name` is set, that becomes the name of the workspace. If `generateName` is set, it generates a random name, prefixed with the value of `generateName`. It does not propagate the name of the workspace to `metadata.name`.

Odo

[2020-05-19 19:03] cdrage commented on #3192
Thanks. I'll coordinate with @boczkowska as we currently have release notes downstream (that we make manually). But not upstream.

I agree with @kadel that we should differentiate between Changelog and Release Notes.

For example, in our new releases, we should include a short demo on a new feature that was added, etc.

[2020-05-20 04:10] dgolovin commented on #3185
@GeekArthur oh, right, sorry for the noise :(

[2020-05-20 04:10] #3185 closed

[2020-05-20 05:44] amitkrout opened #3213 "Add documentation around how to run integration test against 4.* cluster locally"
/kind documentation

## What mistake did you find / what is missing in the documentation?
No doc reference found for running test against 4.* cluster locally

## What is the relevance of it?
Helps contributor to run their test locally on 4.* cluster

[2020-05-20 05:57] dgolovin opened #3214 "`odo link` does not link components and `odo describe -o json` has no `status\linkedComponents` after linking"
/kind bug

## What versions of software are you using?

**Operating System:**

Linux

**Output of `odo version`:**

[code]

[code]

## How did you run odo exactly?

Created and linked wildwest [frontend ](https://github.com/openshift-evangelists/Wild-West-Frontend) and [backend](https://github.com/openshift-evangelists/Wild-West-Backend).

## Actual behavior

[code]

attempt to link again leads to

[2020-05-20 05:58] #2459 closed

[2020-05-20 06:30] anandrkskd opened #3215 "Remove wrong reference from create command UX"
/kind documentation

## What mistake did you find / what is missing in the documentation?
The [Documentation](https://docs.openshift.com/online/starter/cli_reference/openshift_developer_cli/odo-cli-reference.html#create) this contains a wrong reference in example portion like https://github.com/openshift/odo/blob/master/docs/examples.adoc

This [example](https://github.com/openshift/odo/blob/maste

[2020-05-20 07:03] dharmit commented on #2920
There was a tiny error in the yaml because of which the linking didn't work. The linking wasn't working because I had used `resourceref: nodejs-rest-http-crud` instead of `resourceRef: nodejs-rest-http-crud`. That's `resourceref` instead of `resourceRef`.

I'll be adding https://github.com/redhat-developer/service-binding-operator/ as a dependency in odo to be able to use it to bind the components

[2020-05-20 07:19] elizabethlumban commented on #3168
thanks @kadel - There was no error message,  I was able to update it, the tag command was the missing step that allows me to update the nodejs ... thanks again

[2020-05-20 07:19] #3168 closed

[2020-05-20 09:28] prietyc123 commented on #2570
@mik-dass We are hitting the same issue on windows https://travis-ci.com/github/openshift/odo/jobs/337120311#L233

[2020-05-20 09:58] mik-dass commented on #2570
I haven't seen any such failures on windows recently on any other PR jobs. We will need to investigate.

[2020-05-20 10:19] prietyc123 commented on #2570
Ok, then we should add patch in the upstream or let’s create an issue there to keep a track of that. Or is there any possibility to fix it from our end ?

[2020-05-20 10:25] amitkrout commented on #2570
Hitting the same issue again - https://travis-ci.com/github/openshift/odo/jobs/337411640#L248

pr reference - https://github.com/openshift/odo/pull/3218

[2020-05-20 10:25] mik-dass commented on #2570
The error is already handled upstream by throwing an error from their side. To fix this, we probably will need to change windows code.

[2020-05-20 11:03] amitkrout commented on #2570
@mik-dass Skip is not a good idea as you mentioned. This issue has been hit twice, and i am sure more will come in recent future. AFAIK travis does not do image update, then how come suddenly our test fails. Or am i missing anything ?

[2020-05-20 11:06] amitkrout commented on #2570
one more hit - https://travis-ci.com/github/openshift/odo/jobs/337411640#L248

[2020-05-20 11:19] mik-dass commented on #2570
Yeah more will come and I am sure about that too.

Are you sure about that?

[2020-05-20 11:27] amitkrout commented on #2570
yes, just for your reference i am attaching a screen shoot. Logs collected from the travis CI

23rd Mar                                                                    Today
<img width="1408" alt="Screen Shot 2020-05-20 at 4 54 57 PM" src="https://user-images.githubusercontent.com/19851115/82441008-e54f5e80-9aba-11ea-9631-64d2638f4eaa.png">

[2020-05-20 12:20] mik-dass commented on #2570
Ok let me check locally on a windows machine

[2020-05-20 12:26] kadel commented on #3212
In devfile v2 there is no `GeneratedName` , odo should just use name. Name field is optional so we will need to figure out what to do if there is no name

[2020-05-20 12:57] johnmcollier commented on #2893
@kadel @adisky The devfile registry will be secured with an oauth provider on Kube, and access granted via a service account token.

[2020-05-20 13:25] johnmcollier commented on #3144
How about this order for determining the component name?
1) If the user specifies a name, use that as the component name
2) If no name specified, use metadata.Name if it’s there
3) Otherwise, fall back on the folder name?

If we decide to use that, we should update odo create as well to use the same flow (1->2->3)

[2020-05-20 14:48] cdrage opened #3222 "Interactive mode for `odo create` with experimental mode should populate default namespace"
/kind bug

## How did you run odo exactly?

[code]

## Actual behavior

When using `odo create` in interactive mode with experimental enabled. It asks for the namespace, but in reality, we should populate it with a default value (the current namespace)

## Expected behavior

Populate with the default namespace.

## Any logs, error output, etc?

N/A

[2020-05-20 15:03] GeekArthur commented on #3222
I think we already support default namespace (currently active namespace) in interactive mode, by design in interactive mode, we provide an option to let user specify namespace, but if user doesn't want to specify namespace `odo create` will uses the currently active namespace as namespace.

Below is the UI of specifying namespace in interactive mode
[code]
We display the currently active namespac

[2020-05-20 15:11] cdrage commented on #3222
@GeekArthur What version are you trying against?

This does not actually populate for me, see below:

[code]

[2020-05-20 15:53] GeekArthur commented on #3222
That doesn't look right, I am using the latest master, you can check my gif below:

![Kapture 2020-05-20 at 11 33 36](https://user-images.githubusercontent.com/15131537/82466344-490f6280-9a8e-11ea-9081-613f19457ba2.gif)

I can see the default component name is pop up in your terminal, so can confirm there is no issue on your terminal configuration/environment.

I think I know why. Can you run `odo

[2020-05-20 15:54] GeekArthur commented on #3222
@cdrage Let me know if the root cause is what I describe above, then we can prioritize the known issue or do more investigation.

[2020-05-20 16:08] sam-github commented on #3107
I like `--starter`, I found --downloadSource undiscoverable (I didn't guess its purpose even from the CLI help). Later, perhaps, `--starter[=NAME | git-repo]` if people want to select a specific starter, though starters should have as little code as possible, so maybe a well run stack will not have many of them

[2020-05-20 17:41] mik-dass commented on #2570
I have tested the latest master watch test code 100+ times on a windows machine but couldn't reproduce the issue a single time. Also I think we should close this issue and create a new one as it has nothing to do with the issue reported.

[2020-05-20 18:20] elsony commented on #3107
1. +1 for --starter. In the odo case, we'll probably only use starters (optional sample app) and we'll probably never use projects which ties to the setup of a given workspace to always clone the project(s).
2. Following the pattern for https://github.com/openshift/odo/issues/3000, `--starter[=NAME]` will allow user to specify a specific starter within a devfile.
3. If none specified by just using

[2020-05-20 18:24] #1884 closed

[2020-05-20 20:22] dgolovin commented on #3201
@kadel this is clearly a mistake introduced by this commit https://github.com/openshift/odo/commit/bd48c525407e8c877c0a4beb8165e8542dadf232.

[2020-05-20 20:52] maysunfaisal opened #3225 "Update Odo Test Docker Runner Helper Functions"
/kind user-story

## User Story
All the test runner like the oc runner, kube runner and docker runner should have common functions, so that we can utilize the `CliRunner` interface with the common functions extracted out

But it seems the docker runner does not have common functions other than `Run` for us to use `CliRunner`

## Acceptance Criteria
- [ ] Docker Runner should have functions defined

[2020-05-20 21:51] maxandersen commented on #3126
I don't know how that mechanics work - just that if `devfile.yaml` are not found and a`.devfile.yaml` are present then that should be used instead.

[2020-05-20 21:56] elsony commented on #3107
/area devfile

[2020-05-21 05:44] amitkrout commented on #2570
Ok, make sense. @prietyc123 Please go ahead and open an issue with the fresh logs.

[2020-05-21 05:44] #2570 closed

[2020-05-21 06:13] prietyc123 opened #3227 "[FLAKE] Unit test on windows throws error of "Windows system assumed buffer larger than it is""
/kind bug

## What versions of software are you using?

**Operating System:**
Windows

**Output of `odo version`:**
master

## How did you run odo exactly?

`make test` on travis CI

## Actual behavior

[code]

## Expected behavior

`make test` should run successfully on window.

Note : I suspect `error in WatchAndPush error watching filesystem for changes: Windows system assumed buffer larger tha

[2020-05-21 06:15] prietyc123 commented on #2570
Yes, I have raised a new [issue](https://github.com/openshift/odo/issues/3227)

[2020-05-21 06:20] prietyc123 commented on #3227
One more occurence : https://travis-ci.com/github/openshift/odo/jobs/337411640#L248

[2020-05-21 07:42] dharmit commented on #3201
My bad! I'm sorry that this broke json output. :disappointed:

[2020-05-21 08:31] dharmit opened #3229 "odo describe prints incorrect port-url mapping in case of multiple ports exposed"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** all

## How did you run odo exactly?
1. Take [sprint-petclinic](https://github.com/spring-projects/spring-petclinic.git) or any other project that exposes multiple ports as example
2. For `sprint-petclinic` component, `odo config view` shows following ports: `Ports             8080/TCP,8

[2020-05-21 08:32] prietyc123 opened #3230 "odo delete --all fails to delete devfile component"
/kind bug

## What versions of software are you using?

**Operating System:**
All Supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Steps to produce the error:

1. `odo create nodejs` in regular mode
2. `odo delete --all` deletes the config for the created component
3. `odo create nodejs` in Experimental mode
4. `odo delete --all` fails to delete created devfile comp

[2020-05-21 08:39] mik-dass commented on #3230
@prietyc123 You need to push the component first and thus the error message `cause: the component nodejs doesn't exist on the cluster` as the component isn't pushed yet.

[2020-05-21 08:50] kadel commented on #3229
/priority high

[2020-05-21 09:21] zhengxiaomei123 opened #3231 "devrun command failed"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
odo v1.2.0 (7f14dab08)
## How did you run odo exactly?
odo preference set experimental true

## Actual behavior
Deploy a nodejs component to ocp with devfile following to https://odo.dev/docs/deploying-a-devfile-using-odo/#deploying-a-nodejs-component-to-an-openshift-cluster

When the compon

[2020-05-21 11:30] kadel commented on #2220
What `List`?
@cdrage point to the place where is being done correctly?

[2020-05-21 12:32] groeges opened #3234 "Inconsistencies in location of project code following `odo push`"
/kind bug

The location of the project source within the target container changes dependant on whether there is more than 1 project defined in the devfile.yaml.  If the devfile (v1) contains a single project:
[code]
the once the project has been created `odo create ...` the source from the project is all the the users local directory. Following an `odo push` the source is synced to the container a

[2020-05-21 12:33] prietyc123 commented on #3142
I am not sure about keeping this issue in this sprint. As I have gone through the planned execution for V2 parser and it seems more challenging that it might take time, may be the whole sprint. So, keeping this issue in this sprint doesn't make sense to me.

Even I feel if we assign this task to the owner of the V2 parser this will be done parallely without consuming additional time that someone m

[2020-05-21 12:34] prietyc123 commented on #3142
ping @adisky

[2020-05-21 12:44] groeges opened #3235 "docker volumes not deleted when `odo delete` is executed with PushTarget=docker"
/kind bug

When the pushTarget preference is set to `Docker`, various docker volumes are created when an `odo push` is performed (if the devfile has volumes defined) for use within the docker containers.  When an `odo delete` is performed the docker containers are deleted but the docker volumes are not deleted. This leaves these docker volumes laying around on the users machine.

There is no indic

[2020-05-21 12:59] dev-gaur commented on #2220
I think maybe @cdrage meant something on the lines of https://github.com/kubernetes/kubectl/blob/9fae31af80294050f1480951b7fae1ababad9c1a/pkg/cmd/get/get.go#L764 .

I had been thinking that maybe this issue asks me to remove the types like project/ProjectLIst , component/ComponentList, catalog/ServiceTypeList etc... ( I think I got confused by the `kind/cleanup` label on this issue. )  and then us

[2020-05-21 13:05] cdrage commented on #3222
@GeekArthur Heck. You're right. It was set to Docker :(

I'm going to close this for now.

[2020-05-21 13:05] #3222 closed

[2020-05-21 13:18] #3148 closed

[2020-05-21 13:21] cdrage commented on #3175
Sorry,

`foobar.yaml` is from:

[code]

[2020-05-21 13:31] cdrage commented on #2220
You've got it completely correct. Yes. The point is to convert simply the name ComponentList, ServiceTypeList to just "List".

And then within "List" we use `ListMeta` and list each component, servicetype, etc.

[2020-05-21 14:02] GeekArthur commented on #2939
From quick glance, PR #3188 already supports `container` component type in both product https://github.com/openshift/odo/pull/3188/files#diff-8e874d12aadb58a96431fbf88d9fd3a2R122 and tests https://github.com/openshift/odo/pull/3188/files#diff-d16cd992949b0e25e1b445933b9f7ac1R9, I think this issue is done but let's wait for the devfile v2 is fully support so that we can do more testing then close t

[2020-05-21 14:58] johnmcollier commented on #3235
Those should be cleaned up automatically by `odo delete`.

I can't reproduce 😕
[code]

@jgwest thoughts?

[2020-05-21 16:04] kadel commented on #3231
I just did the following steps, and everything worked fine.
[code]

Can you please try `odo push -f -v 4` and send the output?

[2020-05-21 16:14] #3023 closed

[2020-05-21 19:39] groeges commented on #3235
@johnmcollier OK, thanks for trying to recreate. Let me try this again. It may be something specific to the devfile I am using.  Will try another devfile and see if that cleans up the volumes correctly as part of the 'odo delete'

[2020-05-22 01:56] zhengxiaomei123 commented on #3231
@kadel  Please check the logs. The dev run command failed. But the step is set success.
[code]

[2020-05-22 01:59] zhengxiaomei123 commented on #3231
@kadel  Besides, The odo-init-image is 1.0.2, I built it for arch s390x locally. IS it enough or need to update the latest version If there is? Thanks

[2020-05-22 02:25] jichenjc commented on #3231
@zhengxiaomei123 maybe let's give a try with latest image?

[2020-05-22 02:34] zhengxiaomei123 commented on #3231
@jichenjc Yes, The error is related to supervisord. I am building the latest version for odo-init-image and will try again.

[2020-05-22 03:30] zhengxiaomei123 commented on #3231
@kadel @jichenjc It works well with new built odo-init-image:1.1.3 . Thanks. Let's close this issue.
[code]

[2020-05-22 03:30] #3231 closed

[2020-05-22 05:54] dharmit commented on #3193
Here's the error that it keeps showing:
[code]
Link to one of the [failed tests](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_odo/3224/pull-ci-openshift-odo-master-v4.2-integration-e2e/592/build-log.txt).

[2020-05-22 06:31] dharmit commented on #3193
Due to the parallel execution of the tests, it seems to me that last test in the file is executed first:
[code]
In above output, age of `example2` service is less than that of `example3` service. As a result, this particular check is going to fail: https://github.com/openshift/odo/blob/fb8315105361c8c5accb72713685e8e1a4d722d2/tests/integration/operatorhub/cmd_service_test.go#L222-L223

I'll open a

[2020-05-22 06:57] prietyc123 commented on #3193
TBH I don't understand what is the use case you are trying to resolve here. Can you please add some more context?

odo service list
 ✗  No operator backed services found in the namesapce

I am confused in which namespace operator backed service is not found. Ideally we should display the name of the `namespace` as well for better user experience. I think we can create a separate pr to update it.

[2020-05-22 07:05] dharmit commented on #3193
Honestly, I'm not sure how to add any more context than what I have already added. It's a test that's failing on CI but not in my local setup. There's also this comment https://github.com/openshift/odo/issues/3193#issuecomment-629956794. And the test in question is: https://github.com/openshift/odo/blob/fb8315105361c8c5accb72713685e8e1a4d722d2/tests/integration/operatorhub/cmd_service_test.go#L169

[2020-05-22 07:19] jichenjc opened #3237 "incorrect sample in url create"
/kind bug

the sample has a type, should be `secure` instead of `secured`
[code]

[2020-05-22 07:20] jichenjc commented on #3237
/assign

[2020-05-22 07:21] prietyc123 commented on #3193
Yes, This will happen when we are running parallel test in a single [namespace](https://github.com/openshift/odo/blob/master/tests/integration/operatorhub/cmd_service_test.go#L26) .

So the possible solution would be run it sequentially to avoid the flake that you ar facing right now or create separate namespace for each operator backed service and define it during the test.

[2020-05-22 07:38] prietyc123 commented on #3193
Yes, sometimes CI behaves slowly which causing the issue. As part of your local setup is concerned may be you have a goood  set up configuration to run this test. Hence there is a less chance of getting such Flake.

We are hiding the information from the user like which namespace in which namespace operator backed service is not found. This is not about the test, I am talking in general. So adding

[2020-05-22 07:56] jgwest commented on #3235
I was likewise unable to reproduce using a Node.js devfile... @groeges let me know how it goes and if you have a devfile that reproduces the issue.

Now, like @johnmcollier, I do see `odo-supervisord-shared-data-vol-(...)` left behind... I'm not sure if that would be the responsibility of `odo delete` to clean up, and if not, whose it would be. That volume is not component-scoped like all the othe

[2020-05-22 08:46] amitkrout commented on #3193
I am sure this won't work in parallel execution because you never know the immediate parallel test may add more similar result to the same command you trying to verify.

This will be a good approach if we want to stick to parallel run. However @prietyc123 suggested series run also deserves a mention.

yes, ginkgo uses a random algorithm to pick test in parallel run. So this is expected.

[2020-05-22 08:58] amitkrout commented on #3193
$ odo service list
odo service list
 ✗  No operator backed services found in the namesapce
and:
odo service list -o json
{
    "kind": "Error",
    "apiVersion": "odo.dev/v1alpha1",
    "metadata": {
        "creationTimestamp": null
    },
    "message": "No operator backed services found in the namesapce"
}

Let's not compromise test spec due to parallel run constraint on a single namespace. The

[2020-05-22 09:58] dharmit commented on #3193
They are available doesn't translate to they are working. :wink:

Anyway, in this case `odo service list --project myproject` works. But, if you use `--app` flag it would fail till #3134 is merged and I use that to take #2801 to a closure.

The relief in this case was the my assumption about `--project` not working was incorrect. Since it's working, I've modified the tests without any compromise t

[2020-05-22 10:11] prietyc123 commented on #3193
Thanks @dharmit for detailed information. Actually I was really worried if these flags are not working then why are they still visible in UX experimental mode. I was about to create the issue on the basis of my observation. But thanks to clear my doubts.