[2020-05-22 14:11] prietyc123 opened #3241 "Namespace name missing in odo service list -o json message"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

[code]

## Actual behavior

$ odo service list
odo service list
 ✗  No operator backed services found in the namesapce

odo service list -o json
{
    "kind": "Error",
    "apiVersion": "odo.dev/v1alpha1",
    "metadata": {
        "crea

[2020-05-22 16:12] #3201 closed

[2020-05-22 17:04] GeekArthur commented on #3167
Add validation code to validate `--registry` value, the validation code should create a function/code block to get available registries from preference file then compare with the `--registry` value to validate registry existence and correctness

Give we have the code block
[code]
`devfileComponent.Name` can be used for component type existence check
`devfileComponent.Support` can be used for compo

[2020-05-23 11:20] #3170 closed

[2020-05-24 15:47] #2065 closed

[2020-05-24 15:47] #2090 closed

[2020-05-24 15:47] #2048 closed

[2020-05-24 15:47] #2064 closed

[2020-05-24 15:47] #2044 closed

[2020-05-24 21:48] #1483 closed

[2020-05-24 21:48] #1990 closed

[2020-05-24 21:48] #1903 closed

[2020-05-24 21:48] #1914 closed

[2020-05-24 21:48] #1930 closed

[2020-05-25 02:45] zhengxiaomei123 commented on #3165
[code]

[2020-05-25 02:45] zhengxiaomei123 commented on #3165
[code]

[2020-05-25 03:06] jichenjc commented on #3165
@zhengxiaomei123
Are those on s390x or on x86 platform?

[2020-05-25 03:13] zhengxiaomei123 commented on #3165
s390x, occurred sometimes.

[2020-05-25 03:49] #1874 closed

[2020-05-25 08:32] zhengxiaomei123 commented on #3165
The user group is 1005250000  but the app-root user permission is 65534.

[2020-05-25 08:37] zhengxiaomei123 commented on #3165
[code]

[2020-05-25 14:10] kadel commented on #3093
Reported at https://issues.redhat.com/browse/ART-1854

[2020-05-25 14:17] kadel commented on #3156
@elsony @GeekArthur  I had a slightly different case in mind with this.

I was thinking about converting an existing  "Old-Style" components ( with `.odo/config.yaml`) into devfile. So we can convert existing users with existing components into devfile.

[2020-05-25 15:14] GeekArthur commented on #3156
@kadel Given devfile component has `devfile.yaml` and `env.yaml` as "component config" file, and s2i component has `config.yaml` as "component config" file. When we working on the converter, probably we can:
- Modify odo to let s2i component uses `env.yaml` as well
- Create converter to generate `devfile.yaml` for s2i component

Can we do the two changes above then devfile component and s2i compon

[2020-05-25 16:00] #3237 closed

[2020-05-25 21:12] maysunfaisal commented on #2754
I think this can be closed with the concept of init command @elsony @kadel?

[2020-05-25 21:34] elsony commented on #2893
There 3 scenarios that we need to consider cover for accessing secure devfile repos:
1. GitHub public repo:
- Clients authenticate with Git credentials or personal access token (PAT)
- TLS achieved with Git public CA signed cert in client trust store
2. GitHub Enterprise:
- Clients authenticate with GHE credentials or PAT
- TLS achieved with GHE public CA signed cert in client trust store
3. Hoste

[2020-05-26 09:44] kadel commented on #3036
/approve @dev-gaur

[2020-05-26 10:47] dharmit opened #3243 "Tests checking for deletion of resources upon component deletion fail intermittently"
Tests for `odo delete -w` fail intermittently on the CI. Logs indicate timeout issue:
[code]

/kind failing-test
/area testing

[2020-05-26 12:04] groeges commented on #3235
Think I may have had some old volumes laying around that were not getting deleted.
I cleaned everything up and did a new `odo push`, checked volumes that were created, then did `odo delete` and rechecked the volumes. In this case all the volumes relating to the container were deleted. Will close this issue.

[2020-05-26 12:04] #3235 closed

[2020-05-26 13:58] dharmit opened #3244 "Make operator hub integration tests run in parallel"
/kind bug
/area testing

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

Trying to run Operator Hub tests in parallel is leading to numerous race conditions that me & @amitkrout tried hard to understand and fix. However, it's not making complete sense and since we're on deadline to make sure that these test failures don't block other ope

[2020-05-26 14:30] prietyc123 opened #3245 "Use MatchAllInOutput instead of multilple assert statement"
/kind bug
/kind code-refactoring

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

## Actual behavior

Using Multiple assert statement in https://github.com/openshift/odo/blob/master/tests/integration/operatorhub/cmd_service_test.go#L207-L208  instead of `MatchAllInOutput`

## Expected behavior
U

[2020-05-26 14:39] #3205 closed

[2020-05-26 14:40] prietyc123 opened #3246 "filepath.Join("/tmp", randomFileName) does not support on windows"
/kind bug

## What versions of software are you using?

**Operating System:**
Windows

**Output of `odo version`:**
master

## How did you run odo exactly?
Running `filepath.Join("/tmp", randomFileName)` on windows.

## Actual behavior
`/tmp/randomFileName` throws error as `/tmp` won't be identified on windows.

## Expected behavior
Defining `/tmp` in some context should work

## Any logs, error o

[2020-05-26 14:46] maysunfaisal commented on #3015
I went through the above checklist, and looks like none of the items are hard devfile dependent. The only possible items that MAYBE affected are:
`Refactor docker/utils/utils.go StartBootstrapSupervisordInitContainer() since it is very similar to docker/component/utils.go startComponent()`
` Check if kube and docker adapter's execDevfile() can be refactored more cleanly`

Would need to go through

[2020-05-26 14:49] elsony opened #3247 "devfile components does not show up on odo catalog list components with `-o json` flag"
/kind bug

## What versions of software are you using?
1.2.1

**Operating System:**
mac

**Output of `odo version`:**
odo v1.2.1 (b7b7c2fac)

## How did you run odo exactly?
Running the command 'odo catalog list components -o json' with experimental flag set to true

## Actual behavior
[code]
It returns an empty list.

However, if I run the same command without `-o json`, the entries shows up corr

[2020-05-26 14:54] yangcao77 commented on #3182
Blocked by: https://github.com/openshift/odo/pull/3160
/statue blocked

[2020-05-26 14:54] yangcao77 commented on #2985
Blocked by: #3160
/status blocked

[2020-05-26 16:23] GeekArthur commented on #2939
We need to do more testing, we may need to do some changes for `odo create` and `odo catalog` to fully support `container` component type.

[2020-05-26 18:15] johnmcollier commented on #3246
Can we safely use `os.TempDir()` in place of  that?

[2020-05-26 21:56] GeekArthur commented on #2893
Couple of things we need to confirm before creating the design docs:
1. After we collect the credentials (username/password or PAT), how do we use those credentials to access the secure GitHub URL that hosts registry resource (eg. `index.json` and `devfile.yaml`). For PAT support, we might need to append the PAT to the HTTPS request, but need a way to support username/password as well.
2. Where we

[2020-05-27 06:28] dharmit commented on #2641
Seeing a failure for this on PR #3239:

* 4.2 integration tests failure for `centos7-s2i-nodejs` image - [link to logs](https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3239/pull-ci-openshift-odo-master-v4.2-integration-e2e/676)
* 4.5 integration tests failure for `nodejs-8-rhel7` image - [link to logs](https://deck-ci.apps.ci.l2s4.p1.openshiftap

[2020-05-27 07:35] kadel commented on #2939
I'm assigning this to @adisky, to track this correctly,  as she is working on initial implementations in parser-v2 branch.
if there is something left after initial implementation we can create new issues, or resign this.
/assign @adisky

[2020-05-27 07:42] adisky commented on #3141
closing this issue, as it is being tracked in #3140

[2020-05-27 07:42] #3141 closed

[2020-05-27 09:03] adisky opened #3249 "Improve performance for `odo catalog list components` ."
/kind feature

currently we are parsing all devfiles  from all registries during `odo catalog list components`,  We should list devfiles from index.json

[2020-05-27 09:22] amitkrout commented on #3246
yes, we can do that

[2020-05-27 09:23] dharmit opened #3250 "Recurring failure of "create with now flag should pass" tests"
The "create with now flag" tests are failing recurrently. It's also ranked 2 on the test statistics dashboard. Here's the log from one of the failures:
[code]

More logs can be found by referring to the [odo test statistics dashboard](https://gist.github.com/jgwest/5b28687514970ae6baa5942ee82d5755).

/priority high
/kind failing-test
/area testing

[2020-05-27 09:23] dharmit commented on #3250
@mohammedzee1000 can you PTAL?

[2020-05-27 09:31] amitkrout commented on #3245
Please find out all such occurrence in our test suite, so that it can be fixed in a single shoot.

[2020-05-27 09:38] adisky commented on #3249
for V1 we are parsing devfile from each registry to this struct https://github.com/openshift/odo/blob/master/pkg/catalog/types.go#L45
and validating for supported component here
https://github.com/openshift/odo/blob/master/pkg/catalog/types.go#L45

IIUC We are parsing and validating each devfile from each registry before listing, We are parsing the devfile for two things
- Name
- Supported

is par

[2020-05-27 10:14] amitkrout commented on #3250
This is duplicate of #3122

Please refer the original issue for details.

[2020-05-27 10:14] #3250 closed

[2020-05-27 10:19] amitkrout commented on #3230
@prietyc123 This is expected behaviour as @mik-dass mentioned above.

[2020-05-27 10:19] #3230 closed

[2020-05-27 10:22] dharmit commented on #3151
I agree. But using a specific devfile from a specific registry is going to be project specific, no? :thinking:

[2020-05-27 10:54] #3193 closed

[2020-05-27 10:59] amitkrout commented on #3243
@dharmit Can you please confirm the issue title ?

I can see form the log that the push fails but no such reference of failure in component deletion.
[code]

However form the log i can co relate the failure with a long back fixed git component issue #1782.
[code]
Ping @girishramnani @mik-dass

[2020-05-27 11:05] amitkrout commented on #3227
On the day the issue is created we hit it couple of times after that we have observed it none of the time till today.

[2020-05-27 11:49] adisky commented on #3151
I think no, at least the common one which we are providing is expected to work with multiple projects.

[2020-05-27 11:55] dharmit commented on #3243
What would you like me to confirm w.r.t. the title? I'm not sure if I understand.

[2020-05-27 11:57] dharmit commented on #3151
Is it common among different component types, i.e., nodejs, java, etc.? And where (which registry) is it available from?

[2020-05-27 12:26] amitkrout commented on #3203
closing it on behalf of https://github.com/openshift/odo/pull/3221.

[2020-05-27 12:26] #3203 closed

[2020-05-27 12:51] adisky commented on #3151
from common one here i meant not stored in a project repository, no not common for component types, but you should be able to deploy different applications(of same component type) with one devfile.

AFAIK devfiles which are supported by odo, should not be project specific i.e the nodejs devfile should be able to work with other nodejs projects too.
https://github.com/elsony/devfile-registry/blob/m

[2020-05-27 13:51] mik-dass commented on #3227
Yes. Still let's keep it open for some more days and observe.

[2020-05-27 17:49] #2819 closed

[2020-05-27 22:12] maysunfaisal commented on #2937
This seems to be covered by PR https://github.com/openshift/odo/pull/3216

[2020-05-27 22:39] #3004 closed

[2020-05-28 01:20] #3213 closed

[2020-05-28 03:57] #3162 closed

[2020-05-28 05:12] prietyc123 commented on #2877
Hitting on OpenShift CI https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3252/pull-ci-openshift-odo-master-v4.2-integration-e2e/710#1:build-log.txt%3A1511

[2020-05-28 05:13] prietyc123 commented on #2877
Similar type of Failure https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3252/pull-ci-openshift-odo-master-v4.2-integration-e2e/710#1:build-log.txt%3A1511

[2020-05-28 05:32] sarveshtamba opened #3255 "Using odo v1.2.1 with OCP 4.3 on non-x86 platform"
I am trying to do basic some hands-on learning on odo (build and validate odo v1.2.1) on a non-x86 platform having OCP 4.3. However I am seeing some issue of missing catalog images required for creating a single-component application with odo:-
[code]
However I am able to do the same operations on OCP 3.11 with odo v1.2.1:-
[code]
Looks like Odo custom catalog images are missing for OCP4.3(unlike

[2020-05-28 06:35] jichenjc commented on #3255
we did this on IBM system z platform, it works so far so good
you need prepare those catalog images

something like below
[code]

[2020-05-28 06:36] dharmit commented on #3255
Tthat looks like failure to login to the OpenShift cluster using odo. I think none of the odo commands that require connectivity with the cluster would work in this case. To verify, you could check if `odo project create <project-name>` works or not.

[2020-05-28 06:51] sarveshtamba commented on #3255
@dharmit `odo project create` seems to work fine.

[code]

[2020-05-28 06:57] dharmit commented on #3255
That looks weird.
1. Are you using experimental mode - `odo preference view`
2. Can you share `odo login -u developer -p developer -v9` and `odo catalog list components -v9`?

[2020-05-28 07:03] prietyc123 opened #3256 "Timeout while waiting for component deployment roll out"
/kind bug

## What versions of software are you using?

**Operating System:**
All Supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running test on OpenShift CI.

## Actual behavior

[code]

## Expected behavior

Component should get deployed.

## Any logs, error output, etc?

Log : https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pul

[2020-05-28 07:11] sarveshtamba commented on #3255
Non x86 platform is ppc64le.
Below is output of request commands:-
[code]

[2020-05-28 07:12] sarveshtamba commented on #3255
We tried preparing the catalog images as per below commands.

oc project openshift
oc import-image openjdk18 --from=registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift --confirm --insecure=true
oc annotate istag/openjdk18:latest tags=builder
odo catalog list components

However not able to list the services after doing `odo push`.
[code]

[2020-05-28 07:26] jichenjc commented on #3255
ok I got same result on my system, sorry I didn't pay attention (I thought it's push command) to the question at beginning

[code]

[2020-05-28 07:31] jichenjc commented on #3255
I think it's not the odo's responsibility to do so , it might be a CRD not well defined

[code]

have no skill in who should (guess some operator in the cluster) need define this
but those operators seems not defined by default on non-x86 cluster

[2020-05-28 07:32] dharmit commented on #3255
There's a difference between components and services. If you're on a 4.x cluster and would like to run `odo catalog list services`, there are two things to keep in mind:
1. If you want to work with Operators provided through Operator Hub, enable the experimental mode `odo preference set Experimental true` and then run `odo catalog list services`. More about odo and Operator Hub in [this doc](https

[2020-05-28 07:42] jichenjc commented on #3255
not sure but seems this comes from svc
https://github.com/kubernetes-sigs/service-catalog/blob/master/pkg/apis/servicecatalog/v1beta1/types.go#L400

[2020-05-28 07:47] jichenjc commented on #3255
@dharmit thanks a lot ,at least the experiment = true work for me

[code]

[2020-05-28 08:18] sarveshtamba commented on #3255
I am getting the below:-
[code]

[2020-05-28 08:25] jichenjc commented on #3255
actually this works , you don't have service defined
you didn't see previous error
`unable to list services because Service Catalog is not enabled in your cluster:`

so try create a component and push it , may help you I guess? as I only do the create and push, nothing else..

[2020-05-28 08:25] dharmit commented on #3255
@sarveshtamba above output indicates that listing the components worked fine without any error. In issue description, you were seeing the error - `✗  unable to retrieve any catalog images from the OpenShift cluster`.

But `odo login` still fails.

Are you sure that you're logging into the same cluster that you earlier logged in using `oc`? I'd recommend you to provide the server url to the login c

[2020-05-28 08:27] dharmit commented on #3255
This is because you don't have any operators installed in the current namespace. Try installing an operator using the `kubeadmin` user through the OpenShift Web Console. You can refer [this section in the doc](https://odo.dev/docs/operator-hub/#installing-an-operator).

[2020-05-28 10:18] sarveshtamba commented on #3255
@dharmit here is the service added and listed:-
[code]
I tried checking the login issue even with correct URL that oc is login to, still facing the same issue for the developer user. Trying to check up more on this

From the above, can we say odo v1.2.1 works fine with OCP4.3 on ppc64le platform, especially the creation and listing of the components and services?

[2020-05-28 10:38] dev-gaur commented on #3036
I tried reproducing this issue but could not.
After a discussion with @dharmit , I found out that this has been partially fixed by #3224 and the rest of the problem that still persists is depicted in #3229.

Nevertheless, I feel that there should be proper validation for config parameters provided by user via `odo config set param value` command, which is currently absent right now : https://githu

[2020-05-28 10:38] dharmit commented on #3255
The service creation and listing is working fine. That too using Operator Hub which is in experimental mode.

As far as components are concerned, in the context of this issue, you're trying to list the ones based on s2i builder images. You're able to list them as well. So, IMO, both your issues are sorted.

As for the login issue, I'm sure that the credentials are skewed. Spinning up a service, th

[2020-05-28 10:39] dharmit commented on #3255
@sarveshtamba I'd also suggest you to close this issue if the component and service related issues are fixed. And open a new issue if login is not working. That would help track login issue properly.

[2020-05-28 10:50] sarveshtamba commented on #3255
Used the correct user which was used for oc login and was able to login successfully using odo as well.
[code]
Will close this issue.

@dharmit @jichenjc thank you both for all your help. Much appreciated!

[2020-05-28 11:09] #3255 closed

[2020-05-28 12:17] mik-dass commented on #3243
The above failure is not for a git component though both the messages are similar.

[2020-05-28 12:18] kadel opened #3260 "odo log for devfile component"
`odo log` command errors out when executed in directory with devfile component.

[code]

`odo log` should show the stdout and stderr output of the main "run" command.

/kind bug
/priority high
/area devfile
/area devfilev2

[2020-05-28 14:19] GeekArthur commented on #2813
Based on the explanation and discussion above, I think this issue is done. @amitkrout Can you use the latest master to verify? If there are no more issues related we can close this one.

[2020-05-28 14:22] GeekArthur commented on #2803
@maysunfaisal @ajm01 Can you guys try the latest master to verify if this issue still exists? We can either add more reproduce steps (issue still exists) or close this issue (issue doesn't exist).

[2020-05-28 14:32] johnmcollier opened #3263 "Add support for starterProjects in v2 devfiles"
/kind user-story

## User Story
As a user, I want to be able to select a starter project when running `odo create` and have odo pull down that project's source code for use. I should also be able to select the starter code with the `--starter` flag (replacing the current `--downloadSource` flag)

## Acceptance Criteria
- [x] The devfile parser should be updated to support the `starterProjects` fie

[2020-05-28 15:11] kadel commented on #3263
My understanding is that the  `starterProject` is just a template of a project.
If I run `odo create devfile --downloadSource` the starter project from the devfile should get downloaded to the current directory. This is the only place and operation where the starterProject would be used.
btw: we should probably rename `--downloadSource` to something more fitting like `--starter`

Then the file syn

[2020-05-28 15:11] yangcao77 commented on #2937
This issue should be closed. It's covered by https://github.com/openshift/odo/pull/3194

[2020-05-28 15:37] yangcao77 commented on #3060
Should be fixed via: https://github.com/openshift/odo/pull/3160
/assign

[2020-05-28 16:01] #227 closed

[2020-05-28 16:07] yangcao77 commented on #3247
Should be a quick fix. I will create a PR for this issue.
/assign

[2020-05-28 18:52] ajm01 commented on #2803
ok, I got the latest master and ran with it - based on my understanding it looks like the issue is resolved in that i am no longer seeing the connection refused message and the push is successful.

[2020-05-28 18:52] #2803 closed

[2020-05-28 19:34] elsony commented on #2937
Item completed

[2020-05-28 19:37] elsony commented on #2937
Reopen since it turns out the code is on parser-v2 branch but not master.

[2020-05-28 19:42] jgwest commented on #2550
Overall status for this feature:
- [X] **Create design proposal and submit for team consideration**: Approved and merged 🎉 .
- [ ] **Implement `odo push -o json` for Kubernetes and Docker**: PR ready for review, but waiting for `parser-v2` branch to merge)
- [ ] *Implement `odo component status -o json` for Kubernetes and Docker*: In progress, focusing on Kubernetes first, prototypes for fxnality

[2020-05-28 22:01] #724 closed

[2020-05-29 05:31] prietyc123 commented on #2537
As per the discussion in [comment](https://github.com/openshift/odo/pull/2668#pullrequestreview-378918703) It was blocked

[2020-05-29 07:28] dharmit commented on #3250
@amitkrout The issue you've mentioned is about namespace deletion happening before the URL could get created. But I'm seeing following log for failure in PR #3252:
[code]
From these logs it doesn't look like namespace is getting deleted beforehand. There's a timeout happening:
[code]
[Link to the logs](https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift

[2020-05-29 07:40] dharmit opened #3268 ""odo registry list" should not print an empty list when no registries are configured"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `master`

## How did you run odo exactly?
`odo registry list`

## Actual behavior
[code]
## Expected behavior
Below message is just a suggestion.
[code]

[2020-05-29 11:05] prietyc123 commented on #2537
Unfortunately the secret mount is not supported for `template-based tests` that we are using. The bad news is even platform team has no plan for adding the support specially for template-based tests. This is the slack message i got from @petr-muller
[code]
I am clueless atm to run this test. @amitkrout  @mohammedzee1000  feel free to post your suggestion.

[2020-05-29 12:17] petr-muller commented on #2537
@prietyc123 @amitkrout @mohammedzee1000 I was looking into this a bit more, and one option (not even involving that much effort) you have is to port your e2e test from templates to the new multi-stage feature. That test does not use any arcane template nor some minor cloud platform, and porting it to multi-stage should be fairly easy and everything your test needs should be supported (provided we

[2020-05-29 15:28] GeekArthur commented on #3268
I don't think we should error out for empty registry list, essentially empty registry list is not an error and having registry is also not mandatory. Listing registry it's just for displaying the current registry list to let user know which registry odo already connects to, if no registry is listed user still can create component from existing devfile with `--devfile` flag. The idea is same as `do

[2020-05-29 17:16] johnmcollier commented on #3268
Whether or not we should return an error, I don't think we should be displaying an empty list here. A message like @dharmit suggested would be good, `No devfile registries added to the configuration. Refer `odo registry add -h` to add one.`

This is in line with kubectl as well:
[code]

[2020-05-29 17:20] #3245 closed

[2020-05-29 18:16] GeekArthur commented on #3268
I thought `kubectl` and `docker` aligns with each other before, but obviously there are not.

This is what `docker` uses to list empty list
[code]
Similar output for `docker image ls`, but since @johnmcollier points out the `kubectl`, I am fine aligns with that.

[2020-05-29 20:41] elsony commented on #3268
Instead of trying to make it consistent with `kubectl` or `docker` (as they don't line up anyways). We should try to make it consistent across the board for commands within odo.  I think the suggested message on the original description is good since it:
1. notify that there is no registry available
2. suggest how to add one
I think this general pattern when returning an empty list is good (whethe

[2020-05-31 16:11] #1530 closed

[2020-05-31 16:11] #1585 closed

[2020-05-31 16:11] #1865 closed

[2020-05-31 16:11] #1592 closed

[2020-05-31 16:11] #1667 closed

[2020-05-31 16:11] #1737 closed

[2020-05-31 22:12] #1428 closed

[2020-05-31 22:12] #1458 closed

[2020-05-31 22:12] #1504 closed

[2020-05-31 22:12] #1414 closed

[2020-05-31 22:12] #1443 closed

[2020-05-31 22:12] #1333 closed

[2020-05-31 22:12] #1336 closed

[2020-05-31 22:12] #1346 closed

[2020-06-01 04:13] #1169 closed

[2020-06-01 04:13] #1197 closed

[2020-06-01 04:13] #1230 closed

[2020-06-01 04:13] #1260 closed

[2020-06-01 04:13] #1320 closed

[2020-06-01 04:13] #1323 closed

[2020-06-01 04:13] #1130 closed

[2020-06-01 04:13] #1149 closed

[2020-06-01 04:13] #1159 closed

[2020-06-01 07:57] kadel commented on #2931
It would be great if we can enable slack notification in a separate channel in  public odo slack

[2020-06-01 07:58] kadel commented on #2931
What jobs will be executed as periodic and what jobs will run as PR tests?

[2020-06-01 08:02] prietyc123 opened #3270 "Porting template based test to Multi Stage testing"
/kind user-story

## User Story
As a user, I want to be able to use the `custom credential` features for multi-stage tests. So that I can get all the support of the feature added in [issue](https://issues.redhat.com/browse/DPTP-988).

## Acceptance Criteria
- [x] Our test should be multi-stage and run on prow
- [x] It should be able to use `custom credential` features for multi-stage testing on Op

[2020-06-01 08:19] amitkrout commented on #2931
As an experiment i was sending the notification to any random odo channel. I will update the pr to start sending notification to odo public channel.

[2020-06-01 08:20] amitkrout commented on #2931
**What is a periodic job -** It runs in every 6 hrs on master branch. e2e and integration test will be the part of thsi run.
**NOTE:** Periodic time can be updated

**Which test will be run against each pr then -**  To optimize the CI total run time we can run only integration test against each pr. e2e test will be run as a periodic test on odo master along with integration test to add more test s

[2020-06-01 08:35] kadel commented on #2931
Wouldn't 12 hours be enough? 6 hours feels quite fast, especially as most of the time there will be no new PR merged in 6 hours time window.

How much time we will save by this?

My main concern would be about what benefits we will get running all integration tests for each PR and also as periodic jobs. I was under the impression that thanks to the post-submit tests we should be pretty safe and do

[2020-06-01 08:51] dharmit commented on #3268
Exactly this. Consistency across the board for odo. :+1:

Indeed. There will be two schools of thoughts here, I guess. One that recommends suggesting how to add a URL, registry, etc. when there's none found. Another that advocates referring documentation or `odo <command> -h`.

As I mentioned in the issue description, `Expected behaviour` was a suggestion. We could discuss/vote these two different

[2020-06-01 08:51] mohammedzee1000 commented on #2931
It will be a good idea to document the link to periodic tests, what they are, how to update them if needed and how to access them (their status, logs etc)

[2020-06-01 08:57] adisky opened #3271 "Throw Error, If multiple commands of same kind specified in devfile v2 and none is default"
/kind feature

## Which functionality do you think we should add?
Currently for devfile V2, we are allowing users to specify multiple commands of same kind, and selecting the first command from the list, if none of them is default.

We need to throw error for following case _"Multiple build command specified in devfile with no default"_

[code]

## Why is this needed?

[2020-06-01 09:29] amitkrout commented on #2931
12 hrs would be ok. Unnecessarily running the test on master does not make sense if there is no new change available on master. However i keep the periodic windows of 6 hrs because to find out the flake and fix those before hand which mostly hurts our pr before merge. You can get repeated failure logs in a quick interval for debugging purpose. Less time interval helps us to run quick experiment li

[2020-06-01 10:16] #948 closed

[2020-06-01 10:16] #968 closed

[2020-06-01 10:16] #1014 closed

[2020-06-01 10:16] #1024 closed

[2020-06-01 10:16] #1035 closed

[2020-06-01 10:16] #1088 closed

[2020-06-01 10:16] #882 closed

[2020-06-01 10:16] #896 closed

[2020-06-01 10:16] #891 closed

[2020-06-01 10:37] amitkrout commented on #3270
cc_ @petr-muller

[2020-06-01 10:49] petr-muller commented on #2537
Since my last comment we also added an example to the documentation that shows how a section from a workflow can be supplemented with literal (not shared) steps, which is the equivalent of the `openshift_installer_src` functionality. See the third example in [this section](https://ci-operator-configresolver-ui-ci.apps.ci.l2s4.p1.openshiftapps.com/help#config).

[2020-06-01 10:59] kadel commented on #2931
It is not possible to trigger tests manually?

[2020-06-01 11:10] amitkrout commented on #2540
Blocked due to https://github.com/openshift/odo/issues/3270

[2020-06-01 11:45] dharmit opened #3273 "Failing test for machine readable output of odo debug"
`odo debug -o json` test is failing in CI with similar tracebacks each time.

Failure message looks like:
[code]

And cause of failure looks like:
[code]

Observed similar tracebacks in three different failures. [1](https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/3226/pull-ci-openshift-odo-master-v4.3-integration-e2e/760), [2](https://storage.go

[2020-06-01 12:02] #2787 closed

[2020-06-01 12:02] #2983 closed

[2020-06-01 12:34] mik-dass commented on #3060
#3269 needs to be merged

[2020-06-01 12:42] mik-dass opened #3274 "odo describe doesn't print secure and URL properly"
/kind bug

## Actual behavior

[code]

## Expected behavior

`odo describe` should display information about the URL being secure or not. Also after push, the proper URL should be displayed instead of `://`

[2020-06-01 12:52] amitkrout opened #3275 "Add integration test part of odo brew build"
https://issues.redhat.com/browse/ODO-25

[2020-06-01 12:53] amitkrout commented on #3275
ping @prietyc123 @mohammedzee1000

[2020-06-01 13:05] mohammedzee1000 opened #3276 "Migrate odo product under new openshift developer tools and services product"
/kind feature
See https://issues.redhat.com/browse/ODO-24

This involves:

- [x] setup new internal build pipelines
- [x] update internal release scripts and docs

Stretch

- [x] Setup internal tests for the builds (currently internal builds are only tested manually)

[2020-06-01 13:22] girishramnani commented on #2752
here

[2020-06-01 13:24] girishramnani commented on #2931
no as per discussion thats not possible to trigger the periodic tests manually.

[2020-06-01 13:54] kadel commented on #3249
We should avoid parsing each devfile from the registry. It is not a good long term solution and it will definitely create problems for even moderately large devfile registries.

[2020-06-01 13:59] amitkrout commented on #3275
Right now we are not verifying the odo bits just after building it in our internal system (brew build). So need to attach the integration test step to make sure the the bits works fine without manual intervention.

The release process will be done in 3 steps.
1. brew build
2. integration test
3. Publish (Only if integration test is passed)

[2020-06-01 14:01] girishramnani commented on #3271
- multiple build commands is a valid use case
- but having no default build command should fail either way.

[2020-06-01 15:50] #2978 closed

[2020-06-01 16:16] #830 closed

[2020-06-01 16:16] #854 closed

[2020-06-01 16:16] #755 closed

[2020-06-01 16:16] #2370 closed

[2020-06-01 17:45] maysunfaisal commented on #2938
Some observations for this work to be completed:
- If there are multiple group commands without a default, it should err out
- there needs to be one run group command defined, otherwise it should err out
- build group command optional like devfile v1

[2020-06-01 17:46] maysunfaisal commented on #3271
I think this can be covered by issue https://github.com/openshift/odo/issues/2938
since I am working on #2938, I can take this issue
/assign

[2020-06-01 18:32] maysunfaisal opened #3277 "Cleanup URL create logging"
/kind user-story

## User Story
When I created URL, it displayed fmt print messages:
[code]

## Acceptance Criteria
- [ ] It should not display the fmt logs on console unless absolutely reqd

/kind cleanup

[2020-06-01 21:00] elsony commented on #2938
I would suggest to modify slightly to clarify:
1. If there are multiple group commands without a default, it should err out. This check is only done for the groups that odo consumes and the check is done when doing the corresponding execution, e.g. check on `debug` group only if running `odo push` with `--debug`
2. there needs to be at least one run group command defined, otherwise it should err o

[2020-06-01 21:12] maysunfaisal commented on #2938
@elsony what do you think about this issue here regarding command groups https://github.com/openshift/odo/pull/3216#discussion_r433471771

[2020-06-01 21:18] elsony commented on #3249
The `odo specific registry` is a point-in-time thing.  Our eventual goal is share the same devfile registry as Che (and other dev tools).  In that case, we don't have a registry that we know for sure we support all devfiles in there.  That leave us a couple of options:
1. Continue to scan for all devfiles in a repo: as @kadel  mentioned, it may causes performance problem on large registry.
2. Not

[2020-06-01 22:16] #2131 closed

[2020-06-01 22:16] #2386 closed

[2020-06-02 05:49] amitkrout commented on #2704
Solution looks much better.
I have observed travis CI does not work properly eve after the pr https://github.com/openshift/odo/pull/2757 went in. @mohammedzee1000 can you please revisit the fix done for travis CI.

[2020-06-02 08:59] adisky opened #3280 "Wrong error formatting in devfile"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

[code]

## Actual behavior
if an invalid action is specified, the error is `Actions must be of type "exec"%!!(MISSING)(EXTRA string=)`, the error formatting is wrong, same applies to all other validation errors.

## Expected behavior
error should be `actions

[2020-06-02 09:19] #3246 closed

[2020-06-02 09:34] kadel commented on #3249
Agreed that index.json would be a good place for this.
I'm not sure if we currently have a clear definition of what should be the registry API (including index.json structure)

Before we create a clear definition of how what should be the registry interface I would go with showing all devfile v2s and add filtering later once we define it properly

[2020-06-02 10:17] adisky commented on #3249
@kadel @elsony what `display name` should we use for odo? if we start listing from index.json
https://github.com/elsony/devfile-registry/blob/master/devfiles/index.json#L3,
long names would not fit for `odo create`.

[2020-06-02 12:07] dharmit commented on #3156
I think a conversion tool would be better suited for this scenario than a devfile registry for s2i components a.k.a s2i registry.

One reason I'm thinking along this line is because, as @GeekArthur pointed out, s2i components use `.odo/config.yaml` as the only source of information/configuration. For a given s2i component, user could have made any number of changes specific to their environment. F

[2020-06-02 12:20] kadel commented on #3249
We will have to add the devfile name into the index.json for now.

Currently, there is no definition of how the proper devfile v2 registry interface should look like.
The current index.json is just a temporary solutoin.

[2020-06-02 12:23] mik-dass commented on #2919
@kadel @elsony Are we planing to support kubernetes and ID parent references too?

[2020-06-02 14:21] amitkrout commented on #2931
Yes we can do that just by adding user name to https://github.com/openshift/release/blob/master/core-services/prow/02_config/_config.yaml#L332-L342. For example
[code]

[2020-06-02 14:38] #3051 closed

[2020-06-02 15:08] GeekArthur commented on #3156
For devfile component it has two kinds of configuration files, one (`devfile.yaml`) is for component configuration and it includes information such as image, build command and run command, the other one (env.yaml) is for odo configuration and it includes information such as namespace, component name, etc. So what I mean is when we converting s2i component, we can let s2i share the same way for con

[2020-06-02 18:14] yangcao77 commented on #2937
[code]
Devfile v2 have the workingDir defined under `commands.exec`.  Any commandLine provided will be run under the workingDir defined.
[code]

[2020-06-02 18:21] yangcao77 commented on #3182
/area devfile
Adding devfile label since it's for experimental mode. but it's not restricted to devfile component.

[2020-06-02 22:13] elsony opened #3284 "Support application testing defined in the devfile v2"
/kind user-story

## User Story
As a user, I want to test my application using the test defined in a devfile.  Devfile 2.0 supports defining commands belongs to the `test` group (https://github.com/devfile/kubernetes-api/issues/27). The test command will be used for running automated testing on the application.

## Acceptance Criteria
- [ ] `odo test` will run test command (command belongs to the

[2020-06-02 22:16] #3140 closed

[2020-06-02 22:16] #3145 closed

[2020-06-03 05:52] mik-dass commented on #2919
@kadel @elsony Do we want to download the parent devfile too in the repo? Also what if the parent devfile also has a parent reference?

[2020-06-03 06:03] amitkrout commented on #2931
@kadel Currently our public odo slack is under a free plan i guess which only allow access to few default app for adding it in openshiftdo workspace. If we want to see the job notification then we need to move to a paid plan atleast to get the prow app in the workspace.

<img width="769" alt="Screen Shot 2020-06-03 at 11 13 15 AM" src="https://user-images.githubusercontent.com/19851115/83601285-e8

[2020-06-03 06:18] elizabethlumban commented on #3164
hi @mik-dass - I've managed to resolve this issue.. from time to time, when I do a push, some of the files doesn't get pushed but I can't recreate the issue yet. Will raise a ticket once I have the concrete steps to reproduce it. Thanks again.

[2020-06-03 06:19] #3164 closed

[2020-06-03 07:34] dharmit commented on #3156
@GeekArthur IIUC, what you're referring to is covered in second acceptance criteria:

[2020-06-03 07:50] adisky commented on #2918
closed by https://github.com/openshift/odo/pull/3216
/

[2020-06-03 07:50] #2918 closed

[2020-06-03 08:00] adisky commented on #2939
@elsony @kadel `container` component type is implemented with devfile V2 PR,
I can see some fields are not supported by odo, one is `sourceMapping` and other is `endpoints configuration`, support for them has to be done in this issue or we need a new issue?
https://github.com/openshift/odo/blob/master/pkg/devfile/parser/data/2.0.0/types.go#L232
[code]

[2020-06-03 09:03] adisky opened #3285 "Refactor Devfile Validation"
/kind cleanup
/kind code-refactoring

Currently we are doing devfile validation at two places in odo
https://github.com/openshift/odo/tree/master/pkg/devfile/validate
https://github.com/openshift/odo/blob/master/pkg/devfile/adapters/common/command.go#L91

This should be refactored, validation should happen at a single place, followup issue from review comments in devfile V2 PR
https://github.com/o

[2020-06-03 09:03] amitkrout opened #3286 "Test scripts reports error of namespace collision on Windows host"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10
**Output of `odo version`:**
master
## How did you run odo exactly?
```ginkgo  -randomizeAllSpecs -slowSpecThreshold=120 -timeout 7200s -nodes=2 -focus="odo devfile catalog command tests" tests/integration/devfile/```

**NOTE:** You can pick any test for the test suite.

## Actual behavior
Most of the time it fails

[2020-06-03 09:05] amitkrout commented on #3286
```devfile catalog command tests``` went fine on single node run.

[2020-06-03 09:27] kadel commented on #2936
I'm afraid that it might be too early to start implementing this.
I can still see a lot of unanswered questions.

Like is `preStart` going to be implemented as an InitContainer?
Are the rest of the commands be just executed similarly to how the "build" is done?
What will happen when some of the commands fail?
When will the `preStop` and `postStop` commands execute? How will odo know when they need

[2020-06-03 11:06] dharmit commented on #2920
Scope of this issue based on my research and understanding so far:

1. Add dependency on Service Binding Operator (SBO)
  a. Fix things that might break during such times
2. Understand how to use SBO programatically
3. Decide the command to be used to link a component with service. This is required because there could be multiple services from different backing CRs that have the same name:
[code]

[2020-06-03 11:08] dharmit commented on #2920
/area linking
/area service-operators

[2020-06-03 11:24] dharmit commented on #3169
I'm discussing this internally with the OLM team. So far I have come to know that using `internalversion` is not a good idea because it has been entirely [removed from the `master` branch](https://github.com/operator-framework/api/tree/master/pkg/operators).

I've been suggested to use the dynamic client but I'm not sure how it can be used to list the CSVs in the namespace as compared to how we're

[2020-06-03 11:27] adisky commented on #3260
two things needs to be done for `odo log`
- Get logs from the container, since it is already implemented for S2i component, a function to get logs is available in `occlient`, need to implement same for kclient
https://github.com/openshift/odo/blob/master/pkg/occlient/occlient.go#L2042

- From which container to get logs from, Discussed with @mik-dass on the approach he is
taking for `odo exec`, he

[2020-06-03 11:46] amitkrout opened #3288 "Verify devfile command test script on a windows host"
/kind user-story

## User Story
As a tester/developer I want to run my devfile test script on windows platform to verify the existing test against Win platform. Actually it will boost the issue https://github.com/openshift/odo/issues/2540 by fixing any windows specific issue.

## Acceptance Criteria
- [x] Each devfile test should pass on windows platform on Powershell and Cygwin
- [x] Create issue

[2020-06-03 11:54] amitkrout opened #3289 "Verify regular command test script on a windows host"
/kind user-story

## User Story
As a tester/developer I want to run my regular command test script on windows platform to verify the existing test against Win platform. Actually it will boost the issue #2540 by fixing any windows specific issue.

## Acceptance Criteria
- [x] Each regular command test should be run on windows platform on powershell and cygwin
- [x] Create regular command issues for

[2020-06-03 11:58] amitkrout commented on #3289
We have a win10 box available on PSI, we can use that for test verification purpose.

[2020-06-03 11:58] amitkrout commented on #3288
We have a win10 box available on PSI, we can use that for test verification purpose.

[2020-06-03 12:24] kadel commented on #3260
The logs should be shown form the container where the "run" command is executed.

[2020-06-03 12:40] kadel commented on #3156
Ideally, it should be generic enough to handle any s2i component, but we can start with just supported ones.

[2020-06-03 12:42] sspeiche commented on #2618
It would be a bad experience to attempt to do the binding and it never works, we should give feedback that binding is not enabled and give a pointer to how to enable

[2020-06-03 12:48] adisky commented on #3260
i wanted to say here how to get the information about the container where "run" command is executed.

[2020-06-03 13:00] kadel commented on #3190
Let's postpone this big change for later. We don't have enough time to properly design and implement this in time for v2

[2020-06-03 13:00] kadel commented on #3190
/close

[2020-06-03 13:01] #3190 closed

[2020-06-03 13:17] dharmit commented on #3180
Scope of the issue:
1. Use the `name` arg to name the service for spinning up a service with `odo service create cockroachdb.v2.1.11 --crd Cockroachdb <name-of-service>`. Override the `metadata.name` value in the yaml.
    * Another way of spinning up a service is from a yaml file (a temporary workaround while we add support for parameters). But it's from a file so, I think, user can modify `metad

[2020-06-03 13:38] girishramnani commented on #2939
we need to implement source mapping, endpoints for this.

[2020-06-03 13:39] girishramnani commented on #2939
as per discussion source mapping is advanced feature and not needed

[2020-06-03 13:44] girishramnani commented on #2704
@amitkrout please check the PRs where the docs change did trigger CI

[2020-06-03 13:50] girishramnani commented on #2919
the parser got merged so we are unblocked

[2020-06-03 13:56] kadel commented on #2919
Not at this time. We can consider it in the future, but there will be problems like what to do if odo is using docker mode etc... For this reason, I would defer this for now and just focus just on `uri` reference.

No, we don't need to keep the parent devfile.
You can assume that parent devfile doesn't have parents.

[2020-06-03 13:57] neeraj-laad commented on #2936
I thought this issue was only for migrating the container initialisation step (`devInit`) with devfile v2. How we leverage other events can be discussed independently?

We should still have clarity on how we handle failures though.

[2020-06-03 14:08] johnmcollier commented on #3285
We discussed this yesterday too, and we also suggested that the devfile validation occur in the `Validate()` function of each command that requires it (rather than within `Run()` as it is today)

[2020-06-03 14:09] cdrage commented on #2725
TODO:

- [ ] Added documentation on v2
- [ ] Added documentation on how to edit the yaml and update build / run / etc sections

[2020-06-03 14:22] kadel commented on #3249
@adisky I've forked @elsony repository to https://github.com/odo-devfiles/registry and updated index.json to include name field for each devfile.

@elsony I've removed the version hierarchy that you had there. Once we have a good idea of how we will handle versions and we have support for it on odo side we can update the hierarchy again to include versions.

[2020-06-03 14:23] dharmit commented on #3260
RE: discussion about adding support for debug phase.

Is the debug phase different from `odo debug` as far as devfile v2 components are concerned? The reason I'm asking this is because for s2i components, AFAIK, `odo debug` is a long running task that prints logs to stdout automatically, no?

[2020-06-03 14:33] maysunfaisal commented on #3285
There are three validations being done:
1. Validation with schema - done on every odo commands
2. Validation of components - done only on odo create
3. Validation of commands - done only on odo push

I agree that we can refactor these and move them to `Validate()`

For example, schema and component validation can be done for every odo command unless the odo command does not need to work on compone

[2020-06-03 15:10] kadel opened #3292 "odo url list doesn't list urls that were created"
I've created url, but `odo url list` doesn't show it

[code]

[code]

/area devfile
/kind bug
/area url

[2020-06-03 15:38] amitkrout commented on #2704
https://github.com/openshift/odo/pull/3218 and https://github.com/openshift/odo/pull/3233 these are the two pr we recently hit the deviation.

ATM i am going to create a pr just for testing purpose to verify travis CI skip for doc changes only.

[2020-06-03 16:06] amitkrout commented on #2704
Now i found the issue why it was not working i mean CI skip in these above two examples because the [skip ci] message was added through the pr template not through the git commit message. Actually this looks counter intuitive as the user comes to know at the time of pr creation from the pr template. We should enforce it if pr has only doc changes in travis CI run.

[2020-06-03 16:13] amitkrout commented on #3149
@metacosm It works if you pass the [skip ci] through git commit message. See https://github.com/openshift/odo/issues/2704#issuecomment-638294853

[2020-06-03 16:19] amitkrout commented on #3149
I am closing this as same stuff is being worked on in the issue https://github.com/openshift/odo/issues/2704

[2020-06-03 16:19] #3149 closed

[2020-06-03 17:16] sspeiche commented on #1237
@kadel @girishramnani @cdrage I believe we can mark this as closed and claim it is accomplished by devfile support, do you agree?

[2020-06-03 18:36] johnmcollier opened #3296 "`odo create --downloadSource` is broken on Windows"
/kind bug
/area devfile
/area devfileV2

## What versions of software are you using?

**Operating System:**
Windows 10

It seems that `odo create --downloadSource` functions differently on Windows, as it doesn't clone the sample project to the same directory as the devfile, but rather a subdirectory within the folder:
[code]
This will cause the source code to get synced to `/projects/<project-name

[2020-06-03 19:21] GeekArthur opened #3297 "`odo catalog list components` fails if registry is not set up properly"
/kind bug

## What versions of software are you using?

**Operating System:**
MacOS

**Output of `odo version`:**
Latest master

## How did you run odo exactly?
[code]

## Actual behavior
`odo catalog list components` fails if registry is not set up properly.

## Expected behavior
We should use warning instead of error, because we need to support the case where user has multiple registries but onl

[2020-06-03 19:45] jgwest commented on #3296
I'm able to reproduce on Windows as well (and not on Linux)... I `git bisect`ed the problem and it appears to be caused by this commit:
[code]

https://github.com/openshift/odo/pull/3042

[2020-06-03 19:46] maysunfaisal opened #3298 "odo default registry migration/update"
/kind user-story

## User Story
As a user I should be able to get the updated default registry whenever the default registries change in odo.

This was first noticed when adding the default devfile v2 registry https://github.com/elsony/devfile2-registry

### Case 1: User does not have registries in preference. Automatically Updated!

No registries in preference:
[code]
Before adding a new default

[2020-06-03 20:02] johnmcollier commented on #3298
This one’s tricky because it can be hard to tell if a missing default registry is due to a new one being added, or if the user chose to remove it. We don’t want to be adding back default registries that the user explicitly removed.

[2020-06-03 20:14] maysunfaisal commented on #3298
Not sure if we want to allow users to disable default but not storing default in preference.yaml is one way of solving this 🤔

[2020-06-03 20:19] johnmcollier commented on #3298
We allow users today to remove/disable the default registries, don’t we?

[2020-06-03 20:31] elsony commented on #2688
One proposal that has been discussed before is to differentiate between config settings in devfile.yaml vs config settings in env.yaml.  We'll use:
- `odo config set` for setting configuration in the devfile.yaml - devfile.yaml is so big so we'll just pick and choose most common settings in devfile.yaml that odo user will likely to use. These are the settings that will persists as part of the appl

[2020-06-03 20:47] GeekArthur commented on #3298
Exactly, this one is tricky. We do have a mechanism to cover the cases below:
1. User never uses dynamic feature -> add default registries to `preference.yaml` automatically
2. User already use dynamic feature -> use the existing registries in `preference.yaml` directly

But we don't cover the case where users missing one new default registry for devfile v2 (either user doesn't have it or user has

[2020-06-03 20:50] johnmcollier commented on #3298
Merging the devfile registries won't prevent the issue from occurring if the default devfile registry URLs are changed (or new default ones are added)

[2020-06-03 21:06] maysunfaisal commented on #3298
Btw, yes we allow delete on default registries. Ignore my prev comment regd it.

[2020-06-03 21:07] GeekArthur commented on #3298
For that alternative, definitely there are some limitations. If want to make it work, we have to always use the same URL and only provide one default registry. All changes will be made on upstream/GitHub side such as creating separate folders to host v1 and v1 devfiles under one GitHub repo, and no new default registry can be added in the future.

[2020-06-03 21:33] elsony commented on #2936
+1 for having the complete design before implementing. We can stage in the implementation but the complete design should be before staging in the implementation.

[2020-06-04 00:43] #3060 closed

[2020-06-04 05:14] prietyc123 commented on #3270
In [template based test](https://github.com/openshift/release/blob/master/ci-operator/config/openshift/odo/openshift-odo-master__v4.2.yaml#L15-L21) lot of environment variable is not accessible, so moving our test to multi-stage.

Things need to be done here :

1. Use `ipi-aws` [workflow](https://ci-operator-configresolver-ui-ci.apps.ci.l2s4.p1.openshiftapps.com/workflow/ipi-aws)
2. Add Custom ste

[2020-06-04 05:20] mik-dass commented on #3292
@kadel This looks similar to https://github.com/openshift/odo/issues/2985

[2020-06-04 05:24] prietyc123 commented on #3270
Facing permission issue with our [current config](https://github.com/openshift/odo/blob/master/openshift-ci/build-root/Dockerfile#L3) `error: failed to copy secret mount: open /tmp/secret/kubeconfig: permission denied`

Opened a pr which may fix it https://github.com/openshift/odo/pull/3290

[2020-06-04 07:06] kadel commented on #764
/remove-lifecycle rotten

[2020-06-04 08:21] mik-dass commented on #2919
- [ ] If schema version is V1, do nothing
- [ ] If schema version is V2, but has no parent, do nothing
- [ ] If schema version is V2 and has a parent
- [ ] Fetch the devfile without downloading, check if it the same API version or not. If not, error out.
- [ ] If no overrides are present in the local devfile, extract the components and commands from the parent devfile and append with the local one

[2020-06-04 08:47] prietyc123 opened #3299 "Code coverage report does not work as expected"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

## Actual behavior
`Codecov` report is not triggered in some of the prs like https://github.com/openshift/odo/pull/2913

## Expected behavior
It should get triggered for all the prs

## Any logs, error output, etc?

[2020-06-04 09:03] amitkrout commented on #2931
BTW i have asked in slack help center for more details like in free plan how to integrate prow app - https://openshiftdo.slack.com/help/requests/2914186?replied=1#reply

[2020-06-04 09:16] amitkrout commented on #2813
@GeekArthur Yes, we are good to go. Thanks for your patience
/close

[2020-06-04 09:16] #2813 closed

[2020-06-04 10:45] #3128 closed

[2020-06-04 10:48] prietyc123 commented on #3289
To achieve the acceptance criteria we need:

1. A cluster setup (we already own that)
2. Win10 setup (we have one running on our PSI Openstack Platform)
3. Configuration on Win10 to run odo test
4. Running the test script individually and Find out the bugs, label it properly.

Example:
- [ ] make test-cmd-login-logout

Note : We can fix those issues accordingly but not as part of this issue.

[2020-06-04 10:57] prietyc123 commented on #3288
To achieve the acceptance criteria we need:

A cluster setup (we already own that)
Win10 setup (we have one running on our PSI Openstack Platform)
Configuration on Win10 to run odo test
Running the test script individually and Find out the bugs, label it properly.
Example:

- [ ] make test-cmd-devfile-push

Note : We can fix those issues accordingly but not as part of this issue.

[2020-06-04 11:14] kadel commented on #3292
you are right, this looks like the same issue.
/tirage duplicate
/close

[2020-06-04 11:14] #3292 closed

[2020-06-04 11:25] kadel commented on #3298
I think that this might be a good way forward. We would just have a preference that would indicate if the default registry should be used or not, but the actual URL would be in the code.
But default the default registry would be used, and optionally user could do something like `odo preference set UseDefaultRegistry false` to disable it.

To migrate existing users to this new approach, we could si

[2020-06-04 11:26] kadel commented on #3298
There is already another issue related to this. https://github.com/openshift/odo/issues/3249
We might want to merge discussion into one single issue.

[2020-06-04 11:27] kadel commented on #3249
@adisky check this issue https://github.com/openshift/odo/issues/3298 it is related to this

[2020-06-04 11:29] kadel commented on #3296
/area windows

[2020-06-04 11:37] neeraj-laad opened #3300 "Support OpenShift build and deploy support in odo"
/kind feature

## Which functionality do you think we should add?
Add a new command (verb) to build a production-like/slim container image for their project and deploy the built image on the target platform.

- `odo deploy` could provide developers with a way to build a container image for their application and deploy it on a target Kubernetes deployment using the build/deploy guidance provided by

[2020-06-04 11:38] neeraj-laad commented on #3300
@kadel @elsony @girishramnani Would be very useful to get your view on this proposal/design.

[2020-06-04 13:02] amitkrout commented on #3275
will be fixed part of - https://github.com/openshift/odo/issues/3276

[2020-06-04 13:02] #3275 closed

[2020-06-04 13:02] mohammedzee1000 commented on #3275
I think this should be done once the new pipelines are up honestly
#3276

[2020-06-04 13:09] kadel commented on #3297
/area registry

[2020-06-04 13:35] amitkrout commented on #2019
To get the travis login, status, PR number we need shared secret and ofcourse env variable which is not supported by the template based test. @prietyc123 is working on the migration part in https://github.com/openshift/odo/issues/3270 which supports secret sharing and exposing of environment variable that we are looking for.

So keeping it as ```For consideration```

[2020-06-04 13:44] girishramnani commented on #2848
this is duplicate of https://github.com/openshift/odo/issues/3260 hence closing

[2020-06-04 13:44] #2848 closed

[2020-06-04 13:54] girishramnani commented on #2641
we would remove the nodejs 8 image related tests

[2020-06-04 13:56] girishramnani commented on #2641
@amitkrout please open a separate issue for more of the scope discussed

[2020-06-04 13:58] girishramnani commented on #3288
We have a windows 10 VM @amitkrout right?

[2020-06-04 13:59] amitkrout commented on #3288
yes

[2020-06-04 14:16] maysunfaisal commented on #3249
This issue is already covered by #2938 and implemented by PR #https://github.com/openshift/odo/pull/3291

[2020-06-04 14:36] kadel commented on #2938
I think that we should list all devfiles in the registry regardless of what command groups are there.
Users can still use `--run-command` and `--build-command` to select the right commands if they are not specified in the devfile.

[2020-06-04 14:41] maysunfaisal commented on #3249
@kadel @elsony @adisky so did we reach to any conclusion on this topic? Scanning the other discussion, it looks like we want to stop parsing individual devfiles for names and to check if they're supported..

index.json can have the name, but for the matter of checking if they're supported, have we reached an agreement? PR #3291 currently already does parsing for v2 like v1 at this point

[2020-06-04 14:47] maysunfaisal commented on #2938
@kadel that is true. But `odo push` would fail if there are no `build` and `run` groups at this point. Is it a good UX to enable this by default registry? 🤔

[2020-06-04 14:49] cdrage opened #3302 "On each release we should bundle the site into the source code release"
/kind documentation

## What mistake did you find / what is missing in the documentation?

Charlie's notes (TO BE UPDATED LATER).

We should deliver the site odo.dev whenever we release so that we have a version of the docs from that particular date of release for users to look back to.

## What is the relevance of it?

Charlie's notes (TO BE UPDATED LATER).

[2020-06-04 14:51] GeekArthur commented on #3298
This is a good approach, one disadvantage I can think of is that user couldn't remove specific default registry as we don't store the URL on disk, IIUC we only provide option to let user enable/disable all default registries.

[2020-06-04 15:01] girishramnani opened #3303 "odo test --watch command"
/kind feature

## Which functionality do you think we should add?

## Why is this needed?

[2020-06-04 18:43] GeekArthur commented on #2893
## Draft Design Doc for Secure Registry Support
Table of contents
- [Problem Statement](#problem-statement)
- [Terminology](#terminology)
- [Proposed Design](#proposed-design)
- [Issues Related](#issues-related)

### Problem Statement
Currently odo only supports registry that is hosted by the platform that has publicly signed certificate, we should support secure registry so that user is able to s

[2020-06-04 19:05] yangcao77 opened #3304 "secured odo url get re-created during push even with no changes to it"
/kind bug
/area url

## How did you run odo exactly?
create a secured url and run `odo push`
run `odo push` again

## Actual behavior
The url get re-created even with no changes to it
[code]

## Expected behavior
[code]

This is because the `secure` value is missing when combining routes and ingresses into a single list:
https://github.com/openshift/odo/blob/ddc2a204674e0e1ef0749802e5e6b3c5ee04abf

[2020-06-04 19:06] yangcao77 commented on #3304
/assign

[2020-06-04 19:33] yangcao77 commented on #2937
/triage cancel

Verified on both Kube and Docker with master branch,  commands can be run under the `workingDir` provided.

Since the parser v2 branch has been merged in to master. This item can be safely closed.

[2020-06-04 20:28] sbose78 commented on #3300
I did plan to have both 'odo deploy' and 'odo pipelines' co-exist. So this is well-aligned!

"odo build" is for deploying the code as a 'real' workload.
"odo pipelines" is for multi-stage & multi-task activities which would eventually be "saved" in a Git repo and managed out of it.

An ideal solution should look like this:

"odo deploy" should only build an image, push it to a registry and deploy

[2020-06-04 23:41] maysunfaisal commented on #3249
I think one way is to move the logic for checking if devfile is supported, from odo repo to https://github.com/odo-devfiles/registry repo and store that information in index.yaml.

Then we can just read index.yaml for name and to check if its supported or not..

[2020-06-05 05:47] #2883 closed

[2020-06-05 07:37] jichenjc commented on #3277
[code]

I didn't see it with 1.2.0 ,  is it in master branch output? both experiment = true / false has been tried

[2020-06-05 09:07] adisky commented on #3249
@maysunfaisal I think we are agreed on not parsing the devfile and using `name` from index.json,
for `supported` i am also not sure, If you have implemented `odo catalog list components` for devfile V2 upto V1 level, should rename this issue to `Do not parse each devfile from registry`? if you wish this improvement can be handled separately.

And also as said above  index.json is temporary solutio

[2020-06-05 09:23] adisky commented on #2938
I had already removed validation for `groups` after the discussion

[2020-06-05 09:25] adisky commented on #2938
We are already validating for point 2 and point 3.

[2020-06-05 10:06] dharmit commented on #2920
I added dependency on the Service Binding Operator but the binary's failing to build with below error:
[code]
Apparently the definition of `Container` has changed from:
[code]
to:
[code]
I need help to move ahead on this. I'm kind of clueless as to how to fix this. How can I replace a struct with just a string?

To add the dependency I did:
[code]

I've pushed the resulting repo to https://github.

[2020-06-05 10:30] dharmit commented on #2618
Chiming in since I'm working on #2920. If I understand correctly, you're suggesting what's summarized in https://github.com/openshift/odo/issues/2920#issuecomment-627885404:

@sspeiche At the moment, we're working as per above workflow. Prioritizing on using Service Binding Operator to connect a component with an operator backed service.

[2020-06-05 11:21] amitkrout opened #3307 "component watch stuck over multiple file changes in a single shoot"
/kind bug

## What versions of software are you using?

**Operating System:**
CI
**Output of `odo version`:**
master
## How did you run odo exactly?
https://github.com/openshift/odo/issues/3307#issuecomment-649487799

## Actual behavior
watch stuck

## Expected behavior
watch should push the changes

## Any logs, error output, etc?

[2020-06-05 11:36] amitkrout commented on #2641
@girishramnani As discussed i have created separate issue https://github.com/openshift/odo/issues/3307.

Also we had a discussion on the supported images that nodejs8 has been deprecated, @girishramnani however i can still see these images in the supported list https://github.com/openshift/odo-init-image/blob/master/language-scripts/image-mappings.json#L5-L15 and in the odo README too - https://gi

[2020-06-05 11:44] mik-dass opened #3308 "ODO push doesn't work with volumeMounts for v2"
/kind bug

## How did you run odo exactly?

`odo push`

with a V2 devfile with volumeMounts

[code]

## Actual behavior

[code]

## Expected behavior

`odo push` should not error out.

## Any logs, error output, etc?

While debugging, I found that volumeMounts are not picked up from the V2 devfile while parsing. Thus no volume is created.

[2020-06-05 11:55] adisky commented on #3308
@mik-dass volumes needs to specified like this
https://github.com/openshift/odo/blob/master/tests/examples/source/devfilesV2/springboot/devfile.yaml#L20

[2020-06-05 11:56] sspeiche commented on #2618
@dharmit sounds like #2930 is the implementation of this Epic, how best to link/associate them together?

To be clear ServiceBindingRequest isn't used *just* for visualization in console, it actually performs the bind and then the console displays it. The console will display based on an annotation-only `app.openshift.io/connects-to`, see [label/annotation conventions](https://github.com/gorkem/ap

[2020-06-05 13:23] dharmit opened #3309 ""odo catalog list components" doesn't list components from all registries"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
`odo catalog list components`

## Actual behavior
[code]

## Expected behavior
I've got three registries configured on the system:
[code]
But I see components from only one. If I use #3264 and do `odo catalog list components -o json`, I see components from ot

[2020-06-05 13:31] neeraj-laad commented on #3300
Thanks for your comments on the proposal document. I merged some and responded to some. Please let me know if you have further comments/questions.

I do understand we have a wider proposal on this area, that will cover a broader design and multiple strategies etc. However, it will not be available in devfile v2.0.0.

So, the main purpose of raising this issue was to see if we feel that providing a

[2020-06-05 13:34] dharmit commented on #3309
Ah, so I see all components if I do `odo catalog list components --all` which shows unsupported components as well.

IMO, this is a bit unintuitive because we list both supported and unsupported s2i components when we do `odo catalog list components`. However, for devfile components, we require `--all` flag to list unsupported ones.

But then, I guess, this is temporary as we phase out s2i compone

[2020-06-05 14:22] mohitsuman commented on #2638
@girishramnani @adisky Are you folks taking this issue for the current sprint ?

[2020-06-05 14:49] girishramnani commented on #2638
@mohitsuman no we haven’t, we are still making devfile v2 core workflow ready and working. Only then this feature could be implemented.

[2020-06-05 16:26] cdrage commented on #1237
I agree 100% @sspeiche

[2020-06-05 16:27] #1237 closed

[2020-06-05 16:54] johnmcollier commented on #3297
I think there's a couple things that need to be done as part of this:
1) `odo catalog list` shouldn't error out if one of the registries is invalid or cannot be reached. A warning should be displayed instead
2) `odo registry add` should not allow users to add invalid registries.

[2020-06-05 17:34] sbose78 commented on #3300
Absolutely. My long comment was to layout the broader idea behind what we must eventually support, after starting small.

Also, even if something is semi-baked and not yet to be "released" as a spec in devfile 2.1.0, I'll support getting "preview" features in odo and then finalize the spec - even while working on support for devfile 2.0.0

[2020-06-05 19:15] jkupferer opened #3312 "Support ServiceAccounts on odo create"
/kind feature

## Which functionality do you think we should add?

The odo create command should support a `--service-account` flag to allow users to set what service account should be used by the DeploymentConfig. If the service account does not exist then it should be created.

## Why is this needed?

odo is already very useful for Operator development as well as for developing other application

[2020-06-05 19:39] GeekArthur commented on #3297
Do you mean `odo registry list` instead of `odo catalog list`? Because `odo catalog list` issue is already under this issue description. If you mean `odo registry list`, I think that error is unlikely as `odo registry add` already validates for the error so that the error won't be moved to `odo registry list`

We already have that validation in existing code base

[2020-06-05 19:42] johnmcollier commented on #3297
Yes, I mean `odo catalog list`

We don't validate that the URL we're adding is valid or that the URL + `devfiles/index.json` is valid. I think an error should occur for the following (which it does not do today)
[code]

[2020-06-06 10:33] #2061 closed

[2020-06-06 16:33] #2121 closed

[2020-06-06 16:33] #2318 closed

[2020-06-06 16:33] #1603 closed

[2020-06-06 16:33] #2157 closed

[2020-06-06 16:33] #1140 closed

[2020-06-06 16:33] #1270 closed

[2020-06-06 16:33] #2437 closed

[2020-06-06 22:34] #158 closed

[2020-06-06 22:34] #659 closed

[2020-06-06 22:34] #774 closed

[2020-06-06 22:34] #778 closed

[2020-06-06 22:34] #798 closed

[2020-06-06 22:34] #1173 closed

[2020-06-07 23:44] sbose78 commented on #3126
@girishramnani , Yes.

[2020-06-08 01:28] johnmcollier opened #3316 "CI tests failing due to Open Liberty devfile being renamed"
/kind bug
/area testing

The Open Liberty was recently updated, and had its named changed from `openLiberty` to `java-openliberty`, which has caused a number of our integration tests to fail (as `odo create openLiberty` no longer works).

The integration tests will need to be updated to check for `java-openliberty` instead

[2020-06-08 01:50] sbose78 opened #3317 "Transition from outerloop to Gitops"
/kind user-story

## User Story
As a user I want to transition to outerloop[1] , test my app as a 'real' Kubernetes workload deployed from image and then transition to gitops, so that I am able to manage multi-stage deployments of my app using Git.

Questions to be addressed [ from Mark ]:

* As it stands, odo deploy will use deployment yaml coming from an Stack that lives in a different place fro

[2020-06-08 06:59] amitkrout commented on #2931
[code]

This is the message i got from slack team. It clear that platform team need to allow their prow app to integrate in our public slack ```OpenShift Do``` workspace - https://openshiftdo.slack.com/. Ping @petr-muller @droslean

[2020-06-08 07:49] dharmit commented on #2618
Yes, it's pretty much the implementation of this Epic. ATM, it's focussing only on linking using the operator. Other items mentioned in this epic aren't a part of it. Of course, we will cover the remaining items later.

Do you mean to link this Epic with that issue? I can modify the user story there to include this Epic as a "Related Issue" or a "Feature Request".

Sure, thanks for pointing that o

[2020-06-08 08:07] prietyc123 opened #3320 "Test odo interoperability support for upcoming OpenShift release"
/kind user-story
/kind test

## User Story
As a user I want to confirm the odo test runs for upcoming openshift release.

## Acceptance Criteria
Run odo test against OpenShift cluster for all the supported versions `3.11, 4.2, 4.3, 4.4` along with platforms where OpenShift is also supported.

- [ ] different cloud deployments (GCP, Azure, or OSD)

- [ ] Upcoming versions of OpenShift like 4.5

##

[2020-06-08 08:23] amitkrout commented on #3320
@prietyc123 On AWS (Up coming ocp 4.5) and PSI (4.2 ocp version) platform we are covering interoperability support verification and rest of these platform we have not started yet. Need to figure out if there are such clusters running on those platform, we can just make use of that or else need to create our own.

[2020-06-08 08:59] kadel commented on #2920
@dharmit have you tried to force the docker/docker version to the one that has `   HostConfig      container.HostConfig`?

[2020-06-08 09:23] adisky commented on #3260
@dharmit I am not aware how it is handled for s2i based components, AFAIK for devfile debug phase is similar as run phase handled by supervisord, @tkral Please correct me if i am wrong here

[2020-06-08 09:23] adisky commented on #3260
if user wants to see log for debug container(I think it is possible that run and debug have different component), then how it should be handle for `odo log`

`odo log --debug`
   or
 use only  `odo log`, if run container not found then fallback to debug to container?

[2020-06-08 09:27] girishramnani commented on #1444
Progress so far

[2020-06-08 09:40] girishramnani commented on #2327
@sspeiche as mentioned we would have two images - one set of dev files created by odo team and other productised version created by language team. Am I assuming this correctly?

[2020-06-08 09:48] girishramnani commented on #2777
@Preeticp can we please check off the acceptance criteria's that have been done?

[2020-06-08 10:06] Preeticp commented on #2777
From the docs team side, this has been taken care of in the Readme and the Documentation. I have checked them off @girishramnani

[2020-06-08 10:27] #3316 closed

[2020-06-08 10:37] amitkrout commented on #2931
As per the 1-1 discussion with @kadel, we just made a little change in the plan to avoid any risk at the beginning. The plan is to go step by step.

Updated plan:

1. Our pr test will run as it is
2. A periodic job will be added
3. For now we will not sending a slack notification (We will check manually from the prow dashboard may be in each morning)
4. Will start fixing test flake to stabilize od

[2020-06-08 11:59] sspeiche commented on #2327
I'd assume you just use/update what is being used with community Che https://github.com/eclipse/che-devfile-registry/tree/master/devfiles/python and downstream with CodeReady Workspaces (I don't know the link off hand)

[2020-06-08 12:47] dharmit commented on #2920
The weird thing is that `github.com/docker/docker` doesn't even get updated:
[code]
In spite of that:
[code]

[2020-06-08 12:51] dharmit commented on #2920
I don't have a strong opinion for or against using any of the approaches because I don't know how good/bad either of them would be. To get unblocked on this issue, I could try creating a CRD and use the dynamic client to create the link.

However, if we use the CRD approach, we'll also have to list, delete, unlink the links using it. Again, I am not sure that would be good/bad. Just thinking out l

[2020-06-08 14:02] mnuttall commented on #3300
In today's meeting we raised the question of how `odo deploy` should handle a project with a (kubernetes deployment) manifest stored remotely in a stak parent. In this case,

The linked Google doc states,

If this holds then `odo pipelines service add [--stak]` would have to obtain the manifest from the remote parent. If `odo deploy` failed, a developer would have to investigate without the benefi

[2020-06-08 14:09] GeekArthur commented on #3297
Yes, that behavior is expected and is by design. The design is that we divide the validation into two stages:
Early validation stage: Only validate URL basic format, happens when user adds registry URL
Validation stage: Validate URL accessibility, happens when user uses registry URL

That design is based on `yum-config-manager`, design proposal with details under this thread: https://github.com/op

[2020-06-08 14:59] kadel commented on #2938
The default registry is under our control, so we can make sure that all devfiles in the default registry have proper groups.

[2020-06-08 16:15] kadel commented on #3132
I can see two options for how this could work.
I prefer the second one as it makes it possible switch between "do everything in cluster" and "local build, in-cluster run"

### Special Devfile that supports local build.
This would be devfile that doesn't define any build commands.

<details>
<summary>example of a devfile.yaml without build </summary>

[code]
</details>

The only problem that we nee

[2020-06-08 16:29] kadel commented on #3126
If we start allowing `.devfile.yaml` then we need to make sure that there is only one devfile present in the directory.  If both `devfile.yaml` and `.devfile.yaml` are present odo needs to error out.

The problem is described here https://github.com/eclipse/che/issues/14548#issuecomment-640731532

[2020-06-08 17:15] maysunfaisal commented on #3249
Can I get some reviewers on the v1 and v2 registry PRs for the discussion above?
v1: https://github.com/elsony/devfile-registry/pull/16
v2: https://github.com/odo-devfiles/registry/pull/3

this is implemented in odo WIP PR https://github.com/openshift/odo/pull/3291

[2020-06-08 21:13] gorkem opened #3323 "odo watch should skip some steps"
/kind bug

When I am using `odo watch` with `devfile`. I see that it  is going through the cycle of `Validation`,`Creating Kubernetes resources for component`, `Applying URL changes`.
Since watch already knows which files are modified can we skip these steps. Although these items seems to be happening sub-seconds, everything counts.

I also noticed that we seem to be deleting and recreating the in

[2020-06-09 01:40] gorkem opened #3324 "odo push after a failed push"
/kind feature

The next call after a failed `odo push` call  should not skip any steps or better yet the failed and the following steps, even if there has been no changes to the project.

[2020-06-09 03:16] #2914 closed

[2020-06-09 05:51] mik-dass commented on #3323
Was it a secure ingress? For unsecured ones, I can't seem to reproduce it. But we have a issue for secure ingresses https://github.com/openshift/odo/issues/3304

[2020-06-09 06:47] adisky commented on #3249
@maysunfaisal  is it possible to extract out `name` from `displayName` e.g
`displayName; NodeJS React Web Application` name would be `nodejs-react`

I know it might be weird for some cases and not a viable solution, just shared the thought.

[2020-06-09 08:29] zhengxiaomei123 opened #3325 "Fix 'odo version' integration test"
/kind bug

## What versions of software are you using?

**Operating System:**
Red Hat Enterprise Linux 8.2 (Ootpa)
**Output of `odo version`:**
odo v1.2.2 (b815649d4)
## How did you run odo exactly?

make test-generic
## Actual behavior
/should show the version of odo major components including server login UR
    should show the version of odo major components including server login URL [It]

[2020-06-09 08:31] zhengxiaomei123 commented on #3325
What is the fact pattern for Server URL? I think `Server: https://api.*:6443` is enough.

[2020-06-09 09:13] kadel commented on #2931
can you add a link to the dashboard?

[2020-06-09 09:29] zhengxiaomei123 commented on #3325
http(s)://localhost:6443
http(s)://api.example.test.com:6443
http(s)://api.ocp43b.rhocp.boe:6443
http(s)://127.0.0.1:8443

[2020-06-09 10:13] metacosm commented on #3325
Do we really need to check that the version conforms to a regexp? Isn't it enough to check that it returns something for the `Server` "field"?

[2020-06-09 10:24] amitkrout commented on #3325
@metacosm No, because the server output pattern deserves a validation to get precise field validation for integration test.

[2020-06-09 10:29] metacosm commented on #3325
@amitkrout care to explain in greater details, please?

[2020-06-09 11:47] jgwest commented on #2851
/assign

[2020-06-09 12:28] kadel commented on #3300
by default `odo deploy` should not store manifest (we could introduce the flag to optionally print out the k8s manifest, but it should not be its main purpose). As I see it this command is for quick transition from the outer loop to interloop and mainly for testing that everything works as expected.

This is how I see a simple e2e scenario with an inner-loop and outer-loop when using odo.

1. `odo

[2020-06-09 12:50] prietyc123 opened #3328 "File separator error "\\tmp\\src\\server.js: No such file or directory" on windows"
/kind bug

## What versions of software are you using?

**Operating System:**

win10

**Output of `odo version`:**

master

## How did you run odo exactly?

`make test-cmd-push` on windows

## Actual behavior

[code]

## Expected behavior

We are passing [stat](https://github.com/openshift/odo/blob/master/tests/integration/cmd_push_test.go#L289) as `cmd` to function [`CheckCmdOpInRemoteCmpPod`](ht

[2020-06-09 12:51] prietyc123 commented on #3289
Individual test verification on windows:

- [ ] make test-cmd-push  #3328

[2020-06-09 13:13] amitkrout commented on #2931
https://prow.svc.ci.openshift.org/?repo=openshift%2Fodo

[2020-06-09 13:37] dharmit commented on #2920
This was discussed in a cabal and we decided to import only the specific structs from Service Binding Operator instead of adding a dependency to it, use these structs with dynamic client and create a link between a component and a service.

For the docker issue mentioned in https://github.com/openshift/odo/issues/2920#issuecomment-640581061, we will tackle that later.

[2020-06-09 14:10] sbose78 commented on #3300
@kadel This looks good!

[2020-06-09 14:10] adisky commented on #2920
The newer docker apis does not list, `HostConfig` in detail
https://docs.docker.com/engine/api/v1.40/#operation/ContainerList

we need to update our mock client here to do the same, if we do an upgrade.
https://github.com/openshift/odo/blob/77c876beef3f456067bff41b727914c6bf9a3725/pkg/lclient/fakeclient.go#L42

rest all docker api's  passes `HostConfig` as another parameter, so i think only the mo

[2020-06-09 14:54] maysunfaisal commented on #3249
We had a discussion  on this topic in the odo contributors call:
- We are going to show all the stacks from a registry ie; no more supported column (in the future if we determine, Che devfiles need to filtered; we can reintroduce a supported field
- Remove Che and odo v1 registry from default selection  on `odo catalog list components`

[2020-06-09 15:01] gorkem commented on #3323
I did not specify, whatever the default is. You can use any of the examples on https://github.com/gorkem/odo-devfile/ to reproduce but it does sounds like replicate of #3304.

[2020-06-09 15:09] maysunfaisal opened #3330 "Cache devfile registries to improve performance"
/kind user-story

## User Story
When discussing solutions about issue https://github.com/openshift/odo/issues/3249, we have identified that it would be better if we could cache the entire registry.

This will have a great performance benefit:
- `odo catalog` can just read the index.json locally
- `odo create` can use the devfile.yaml stored locally

Odo should have the capability to determine if r

[2020-06-09 15:42] metacosm commented on #3330
I'd argue, though, that it's not a user story… 😉

[2020-06-09 16:39] yangcao77 opened #3332 "url describe does not show URL string for pushed routes"
/kind bug
/area url

## What versions of software are you using?

**Operating System:**
MacOS

**Output of `odo version`:**
odo v1.2.2 (297316c73)

## How did you run odo exactly?
create and push a route, and run `odo url describe `

## Actual behavior
[code]

The URL string is empty when running url describe.

However, `url list` shows the URL string for the same route
[code]

## Expected behavio

[2020-06-09 16:47] yangcao77 commented on #3332
Since I'm working on url describe for routes under experimental mode, it's facing the same issue for experimental mode. I will fix this bug for odo1 as well.

Fix will be included in https://github.com/openshift/odo/pull/3305

/assign

[2020-06-09 17:33] GeekArthur commented on #2893
Design proposal: https://github.com/openshift/odo/pull/3329

[2020-06-09 17:36] elsony commented on #2937
Code merged. Closing.

[2020-06-09 17:36] #2937 closed

[2020-06-09 18:04] metacosm opened #3333 "PlatformAdapter interface seems redundant and should be removed"
/kind bug

## What versions of software are you using?

**Operating System:** N/A

**Output of `odo version`:** N/A

## How did you run odo exactly?
N/A

## Actual behavior
N/A

## Expected behavior
N/A

## Any logs, error output, etc?
N/A

[2020-06-09 18:05] maysunfaisal commented on #3249
Do we want to remove the `SUPPORTED` column for the s2i components?

This is how it looks between s2i and devfiles(notice that I removed the devfile `SUPPORTED` column).

Also planning on removing the `-a` flag since it was only used to list the Che v1 devfiles and had no difference between supported and unsupported.. And since we're removing the default Che v1 devfile registry; the `-a` flag does

[2020-06-09 18:12] elsony opened #3334 "Consistent naming schema for components"
/kind user-story

## User Story
As a user, I want to see the default list of components listed on the components catalog list with consistently formatted names.

## Acceptance Criteria
- [ ] Convert existing component names with the new naming convention: identifier starts from more general term to more specific one and separated by `-`, e.g. java-springboot, java is the language that belongs to a

[2020-06-09 18:24] johnmcollier commented on #3249
Copying what I mentioned on slack:

Keep it for s2i components as it's still needed / useful

Since `-a` is only for the Che devfiles really, we can take it out.

[2020-06-09 19:22] GeekArthur commented on #2939
`container` component type support for devfile 2.0 for `odo create` and `odo catalog` should be handled by https://github.com/openshift/odo/issues/3249 and https://github.com/openshift/odo/issues/2938, @maysunfaisal will implement those features. So my concern is resolved and my part is done for this issue. Red hat folks can feel free to close this issue if nothing else left for this issue.

[2020-06-10 00:51] #2862 closed

[2020-06-10 05:40] zhengxiaomei123 commented on #3165
I am not sure if it is related to the PVs. I change the definition of PV and then haven't met this error again.
[code]

[2020-06-10 05:41] zhengxiaomei123 commented on #3165
I will close this issue and If I meet this error again I will reopen it.

[2020-06-10 05:41] #3165 closed

[2020-06-10 06:43] amitkrout commented on #3325
@metacosm ```odo version``` details should not print a blank/weird server pattern. Same is applicable for Kubernetes version listed in ```odo version```

Does it make sense ?

[2020-06-10 06:46] metacosm commented on #3325
@amitkrout sure but then wouldn’t it make more sense to retrieve the url of the cluster independently in the test and check that odo returns that instead of checking that it conforms to a regexp, which, while better than nothing, actually doesn’t check that odo returns the proper value?

[2020-06-10 06:56] metacosm commented on #3325
@amitkrout or retrieve the URL from the `odo version` output and check that you can use it to connect to an actual cluster?

[2020-06-10 07:04] prietyc123 commented on #3270
It seems in the multi-state test structure oc binary is not copied in the test container https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/9431/rehearse-9431-pull-ci-openshift-odo-master-v4.2-integration-e2e-steps/8#1:build-log.txt%3A61 . Ideally it should be copied by default but not sure why this weird is happening. @mohammedzee1000 can you

[2020-06-10 07:09] mohammedzee1000 commented on #3270
@openshift/openshift-team-developer-productivity-platform ^

[2020-06-10 07:24] thrasher-redhat commented on #3270
I think you may want @openshift/openshift-team-developer-productivity-test-platform

[2020-06-10 07:48] amitkrout commented on #3325
@metacosm Our circumstance is like, as a prerequisite we need to login to the cluster first then we start executing the test spec for example ```odo version``` spec. So in our test scenario we are just making sure that the server we logged in should fall under this regex which is enough to verify that the server list is not blank or weird and ofcourse no need to check the server login again as we

[2020-06-10 07:51] mik-dass commented on #3332
@yangcao77 There is already a issue regarding this https://github.com/openshift/odo/issues/3274

[2020-06-10 07:56] mik-dass commented on #3323
The link throws a 404 for me.

[2020-06-10 07:59] girishramnani commented on #2707
@dev-gaur This is the solution we need to implement instead of exposing the whole imageStreamRef

[2020-06-10 08:04] dev-gaur commented on #2707
ack

[2020-06-10 08:34] petr-muller commented on #3270
Providing `oc` to multi-steps automatically is https://issues.redhat.com/browse/DPTP-1242, not yet delivered. Currently it's possible to include `oc` in an image by building a new image and only adding `oc` to it, like people are doing it e.g. [here](https://github.com/openshift/release/blob/master/ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-master.yaml#L

[2020-06-10 10:17] zhengxiaomei123 opened #3335 "Lack of pullsecret which cause S2I build from authenticated registry can't pull image"
/kind bug

## What versions of software are you using?

**Operating System:**
Red Hat Enterprise Linux 8.2 (Ootpa)
**Output of `odo version`:**
odo v1.2.2 (b815649)
## How did you run odo exactly?
make test-cmd-cmp

## Actual behavior

## Expected behavior
In myproject , there is pullsecret with kind of dockerconfigjson

## Any logs, error output, etc?
[code]

[2020-06-10 10:22] amitkrout opened #3336 "Project delete explicitly looking for service catalog instances"
/kind bug

## What versions of software are you using?

**Operating System:**
Not a specific OS issue
**Output of `odo version`:**
master
## How did you run odo exactly?
Login as kubeadmin
[code]
Login as developer
[code]
## Actual behavior
As mentioned in the steps

## Expected behavior
@dharmit @girishramnani Is the expected behaviour as observed in the steps ?

## Any logs, error output, etc?

[2020-06-10 10:45] girishramnani commented on #3333
I am quite sure the title cannot be NA 😆

[2020-06-10 15:53] kadel opened #3337 "refactoring integrations and e2e tests - abstracting Before/After Each"
We have a lot of duplicated code in our tests, mainly in After and Before Each function.

All common logic from those functions should be abstracted away to separate functions.
This will make it much easier to manage resources that are being created and it will be easier to do a proper clean up.

I've tried to do that at https://github.com/openshift/odo/pull/3221 but sadly before I could finish it

[2020-06-11 06:16] mik-dass commented on #3332
I don't have a merged PR that fixes #3274 . It was just mentioned in my PR https://github.com/openshift/odo/pull/3269#issuecomment-636839161.

Yes I think this issue is already a part of #3274, which is still open.

[2020-06-11 08:23] #2752 closed

[2020-06-11 10:10] neeraj-laad commented on #3300
@kadel @sbose78 Thanks for articulating the flow well.

I also wanted to get some agreement on the real purpose/intent for this command as that might help us scope it properly.

My view is that `odo deploy` is a way for the developer to test/verify that the build and deploy guidance from the devfile works fine with the app source and is able to create a production-like container image and deploy i

[2020-06-11 11:04] neeraj-laad commented on #3300
@sbose78 @kadel what are your thoughts on tagging, pushing image built and using it in the deployment?

[2020-06-11 12:32] kadel commented on #3249
@adisky there was a related discussion in https://github.com/openshift/odo/issues/3249#issuecomment-641350713

[2020-06-11 12:58] mik-dass commented on #3323
I can't seem to reproduce the URL recreation (normal unsecured URLs) issue with the devfile https://github.com/gorkem/odo-devfile/blob/master/nodejs-example/devfile.yaml

[code]
Tested on both an openshift and a minikube cluster.

[2020-06-11 13:59] yangcao77 commented on #3332
Dup of #3274, closing this issue

[2020-06-11 13:59] #3332 closed

[2020-06-11 13:59] yangcao77 commented on #3274
/assign

[2020-06-11 14:02] gorkem commented on #3323
Can you do a `odo watch` and modify for instance the index.html? I noticed it on that flow

[2020-06-11 14:59] elsony opened #3338 "Support composite commands"
/kind user-story

## User Story
As a stack creator, I want to define composite commands to chain multiple commands together when running in odo.

## Acceptance Criteria
- [ ] It should follow the corresponding settings specified in the devfile 2.0 specification: https://github.com/devfile/kubernetes-api/issues/18
- [ ] It should support running composite command for all command groups that odo sup

[2020-06-11 15:35] GeekArthur commented on #3297
/assign

[2020-06-11 16:09] yangcao77 commented on #3247
The json output format has been changed by this issue. The List will contain separate arrays for s2i items and devfile items.
This change would need IDE change to properly display the information.

The detailed example list is shown as below.
[code]

[2020-06-11 19:13] elsony commented on #3297
/area devfile

[2020-06-11 19:55] #2804 closed

[2020-06-11 21:23] dudash commented on #2623
Can we keep this open? I think it's still important.

[2020-06-11 22:55] #1490 closed

[2020-06-12 05:43] dgolovin commented on #3247
@yangcao77 This approach will require to fix all IDE's after new Component Type is introduced.
New component types should IMO fit into old json format, so IDE workflow would keep working with any new odo release without changing IDE's code.

Look at example below. This implementation would work with all IDEs and 'New Component' workflow would not be affected, because both "dotnet" and "openLiberty

[2020-06-12 05:47] dgolovin commented on #3247
this issue is duplicate of https://github.com/openshift/odo/issues/3091.

[2020-06-12 05:49] #3247 closed

[2020-06-12 06:46] dgolovin commented on #2835
Removing application would require some changes but simplify many things on Adapters side. What we really need is odo supporting devfile component in: odo list, odo describe so we can show them in OpenShift Application Veiw and detect that workspace folder is odo component.
Currently adapters cannot work with devfile components because:
1. devfile components are not part of `odo catalog list compo

[2020-06-12 11:14] groeges opened #3340 ""odo catalog list components --all" displays components without displaying name"
/kind bug

## What versions of software are you using?

**Operating System:**
Mac OS

**Output of `odo version`:**
odo version
odo v1.2.2 (dfaa7399b)

Server: https://9.30.194.54:6443
Kubernetes: v1.16.2

## How did you run odo exactly?
odo catalog list components --all

## Actual behavior
Add the devfilev2 registry:
`odo registry add devfilev2  https://raw.githubusercontent.com/odo-devfiles/regis

[2020-06-12 15:11] GeekArthur commented on #3340
It's a known issue and currently `odo catalog` doesn't support devfile 2.0. This issue should be handled with https://github.com/openshift/odo/issues/3249 and https://github.com/openshift/odo/issues/2938 together, @maysunfaisal will implement those features/support.

[2020-06-12 15:33] maysunfaisal commented on #3340
yes, watch out for PR https://github.com/openshift/odo/pull/3291

[2020-06-12 15:47] #2828 closed

[2020-06-12 16:15] yangcao77 commented on #3091
This issue can be closed, since #3247 has been merged.

[2020-06-12 16:22] yangcao77 commented on #3247
@dgolovin s2iItems items and devfileItems cannot be simply merged and put into items list. They are with two different struct type.
Also if user run `odo catalog list component` without json format, the output is separated into two lists. `-o json` is only to output the two list into json format, should not change the behavior(i.e. merge the two lists into a single one as your example)

https://gi

[2020-06-12 18:24] johnmcollier commented on #3338
Sample Devfile 2.0 with composite commands:
[code]

Based on the second point, it sounds like this PR depends on support for command groups in devfiles (https://github.com/openshift/odo/issues/2938)

[2020-06-12 21:21] dgolovin commented on #3247
@yangcao77 @dharmit @kadel

I just did in comment above. The `-o json` was added for external tool to consume output, nobody is consuming it except IDE extensions/plugins. What are you about to do is going to break all of them: Eclipse plugin, Intelji plugin and VSCode Extension.
The same happened to services, in 1.2.2  release and all IDE's 'New Service' commands got broken. This should not happe

[2020-06-13 09:00] amitkrout commented on #3325
yup, for hardcoded values that falls under the re pattern won't report failure.

+1, It will be easy to parse and match machine readable output for example ```oc project -o json``` or may be ```oc version -o json```. I will draft a separate pr for this, thanks.

[2020-06-13 09:30] amitkrout opened #3342 "No odo version verification is done, only information parttern is matched"
/kind bug

## What versions of software are you using?

**Output of `odo version`:**
master

## Actual behavior
```odo version``` test spec https://github.com/openshift/odo/blob/master/tests/integration/generic_test.go#L266 only checks the server pattern URL but does not validate the actual server URL and other information too.

## Expected behavior
Server URL and other information in ```odo versi

[2020-06-13 18:29] mohitsuman commented on #1052
@dharmit any update for this ?

[2020-06-14 01:29] #3034 closed

[2020-06-14 15:16] amitkrout commented on #3307
It seems the issue is with pushing files steps
[code]
I think it stuck in any one of these steps may be in the step ```Waiting for component to start``` or ```Building component```. I need to figure out if this is the case then why the function [WatchNonRetCmdStdOut](https://github.com/openshift/odo/blob/master/tests/helper/helper_generic.go#L117) does not through any error.

Cluster load increase

[2020-06-14 15:51] amitkrout opened #3345 "watch command pushes same push files steps twice for single change"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
## Actual behavior
[code]

## Expected behavior
[code]

## Any logs, error output, etc?

[2020-06-14 23:50] gorkem opened #3346 "skip `odo create` for existing devfiles"
/kind feature

## Which functionality do you think we should add?
If a folder already has a devfile, odo should be able to skip the `odo create` and it should be possible to call `odo push` directly.

## Why is this needed?

It reduces getting started with one command.

[2020-06-14 23:57] gorkem opened #3347 "Unclear message when namespaces mismatch"
/kind bug

## What versions of software are you using?

**Operating System:**
MacOS
**Output of `odo version`:**
odo v1.2.2 (53530e0e5)

## How did you run odo exactly?
1. Connect to clusterA with namespace AA
2. `odo push`
3. Connect to cluster B with namespace BB

fails with
[code]

First of all this message is not friendly for `odo`'s  audience. We should at least recognize the issue and provid

[2020-06-15 04:26] jichenjc opened #3348 "odo app describe need provide clearer message when app not exist"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

[jichen@jjtest2 odo]$ odo version
odo v1.2.2 (a15a99e)

## How did you run odo exactly?
[code]

better to be
[code]
## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2020-06-15 04:26] jichenjc commented on #3348
/assign

[2020-06-15 08:11] #3142 closed

[2020-06-15 08:25] prietyc123 opened #3350 "json match throws error due to source attribute mismatch on windows terminal"
/kind bug

## What versions of software are you using?

**Operating System:**
win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Ran `make test-cmd-cmp` on windows.

## Actual behavior

[code]

## Expected behavior

json output should match all the attribute

## Any logs, error output, etc?

Manually verified on windows.

[2020-06-15 11:35] prietyc123 commented on #3270
Added `oc` binary to the test container `bin` path in pr https://github.com/openshift/odo/pull/3351

[2020-06-15 11:37] maxandersen commented on #3132
why is it you would want the artifacts as part of the command line of odo and not as something defined in the devfile ?

[2020-06-15 12:32] sbose78 commented on #3300
Coming back from a long weekend, will review! :)

[2020-06-15 14:44] yangcao77 commented on #3247
@dgolovin
I understand your concern of the change, and we understand the change requires IDE change before making the change.
However, the metadata of s2i items and devfile items are different, IDE needs to deal with them separately any ways.
I saw in your example, you have `type` in the metadata to distinguish s2i items and devfile items. Does IDE already have the code in place accordingly? If so

[2020-06-15 15:06] mik-dass opened #3353 "MIgrate init tests from V1 to V2"
Since post start and post stop events would achieve the same functionality as init, we should move the init tests from V1 to V2 once the functionality is ready.

[2020-06-15 15:11] gorkem commented on #3132
@kadel Is .odoignore still used with devfiles?

[2020-06-15 17:06] mik-dass opened #3354 "URL gets deleted and recreated on odo push without changes"
/kind bug

## What versions of software are you using?

master

## How did you run odo exactly?

On a openshift cluster
[code]

## Actual behavior

Executing odo push two times without any changes, the error occurs
[code]

## Expected behavior

URL shouldn't be deleted and recreated.

[2020-06-15 17:07] #2512 closed

[2020-06-15 17:09] mik-dass commented on #3323
I was able to reproduce the error. It occurs when I create a URL of route kind and provide a host to it on a openshift cluster. It occurs with odo push too.
[code]
@gorkem Is this how you created the URL?
Created issue https://github.com/openshift/odo/issues/3354 to track it.

[2020-06-15 18:29] gorkem commented on #3323
I used `odo url create --host api-crc-testing`

[2020-06-15 20:34] dgolovin commented on #3247
@yangcao77
CC: @jeffmaury
We don't have code yet, but having the same structure for all components will make it work for S21 and Devfile components for the first iteration. Because for example to create local component for s2i and devfile we wold ask user to select component type and then just call `odo create ${selectedType} componentName`.  Then if we can make changes in workflow to deal with sp

[2020-06-16 02:10] jichenjc opened #3355 "odo search service doesn't honor experiment flag"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
odo v1.2.2 (a15a99e)

Server: https://api.crc.testing:6443
Kubernetes: v1.17.1

## How did you run odo exactly?
[code]

the list command provided different output when Experiment flag is set or not

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2020-06-16 02:10] jichenjc commented on #3355
/assign

[2020-06-16 03:09] zhengxiaomei123 commented on #3342
@amitkrout So, for #3325 , The Server URL and other information in `odo version` string output should be verified with `oc version `output and `oc project` output. Is it right?
[code]

[2020-06-16 04:31] mik-dass commented on #3323
I am sure it's the same error as #3354. On a openshift cluster, the command will create a route instead of a ingress. The problem is that for openshift clusters, the host is auto detected. This causes the mismatch between the cluster and the config. We will fix it asap.

For creating a ingress on a openshift cluster, the flag `--ingress` needs to be used.

[2020-06-16 04:48] girishramnani commented on #2835
The 3rd point could be resolved by checking for an existence of devfile.yaml?

[2020-06-16 04:54] mik-dass opened #3356 "Unit tests failing with security error"
/kind bug

## Actual behavior

[code]
https://travis-ci.com/github/openshift/odo/jobs/349244708

## Expected behavior

Unit tests should pass

[2020-06-16 05:54] dgolovin commented on #2835
@girishramnani I don't want to relay on the insider knowledge, that would fail for example if you decide to support docker components and configuration is going to be in DOCKERFILE. The best way for IDEs to relay on odo command for component detection, this way we are stay away from implementation details.
I was thinking that `odo describe` would work but it does not.

So we kind of stuck right no

[2020-06-16 06:42] prietyc123 commented on #3288
Devfile test verification individually

- [x] make test-cmd-devfile-catalog

[2020-06-16 09:11] girishramnani opened #3359 "pin down the version of gosec and wwhrd on CI scripts"
I want to resolve the underlying problem of this and this is the auto upgrading versions of gosec and wwhrd.
opening an issue to track and resolving that ASAP as well

_Originally posted by @girishramnani in https://github.com/openshift/odo/pull/3358#issuecomment-644639477_

[2020-06-16 09:31] girishramnani opened #3361 "pin down the version of ginkgo on CI scripts"
/kind user-story

## User Story
pin down the version of ginkgo on CI scripts so that an upgrade doesn't give us unexpected failures

## Links
- Feature Request:
- Related issue: https://github.com/openshift/odo/issues/3359

/kind user-story

[2020-06-16 09:31] girishramnani commented on #3361
@amitkrout please take a look at his story.

[2020-06-16 09:33] girishramnani commented on #3361
I will be pinning down the wwhrd and gosec versions as part of this issue https://github.com/openshift/odo/issues/3359

[2020-06-16 10:39] EnriqueL8 commented on #3333
+1 on this

[2020-06-16 10:52] kadel commented on #3300
+1

Yes, but it would be great if this was somehow configurable. Currently, we don't have a standard way of how these links should be represented. We can delay this for later when we know more about how to properly deal with external links/services.

Similar to above, if the user wants to push this into separate namespace it should be possible.

+1

[2020-06-16 12:16] kadel commented on #3361
/area testing

[2020-06-16 12:18] sarveshtamba opened #3363 "Issues while Deploying a devfile using odo on Power"
I am trying [Deploying a devfile using odo](https://odo.dev/docs/deploying-a-devfile-using-odo/) on Power. However, I am seeing the below issues while creating devfile:-
[code]
Am I missing anything?

[2020-06-16 12:23] kadel opened #3364 "add php devfile to odo devfile registry"
/kind user-story

## User Story
As a developer using PHP I want to be able to work with `odo`

## Acceptance Criteria
- [ ] devfile for PHP should be available in default odo registry (https://github.com/odo-devfiles/registry)
- [ ] It should be possible to use odo to do whole inner loop development (including debugging)

## Links

/kind user-story

[2020-06-16 12:48] kadel commented on #3364
/priority medium

[2020-06-16 12:52] kadel commented on #3363
can you try to run `odo push` with verbose logging: `odo push -v 4` it might give more information about what is happening

[2020-06-16 15:03] sarveshtamba commented on #3363
[code]

[2020-06-16 15:07] sarveshtamba commented on #3363
A more detailed run:-
[code]

[2020-06-16 15:21] metacosm commented on #3342
@zhengxiaomei123 yes, I have implemented such a fix since I thought I should walk the walk… 😉

[2020-06-16 18:39] sbose78 commented on #3300
Are you building `odo deploy` to work both on OpenShift and Kubernetes? The key difference here would be that OpenShift comes with an internal registry / [imagestreams](https://docs.openshift.com/container-platform/4.4/openshift_images/image-streams-manage.html), whereas Kubernetes doesn't.

Here are our options:

* Optionally take the fully qualified image URL and credentials as a flag. If provid

[2020-06-16 19:29] maysunfaisal commented on #3104
`odo delete -a` does not need component to be present to delete the `.odo`dir. But agree that it should be not throw an err and maybe just a warning to say no component was present and proceed to prompt if env should be deleted.

I also think we should not delete the devfile.yaml with `odo delete -a` since we can create a component `odo create nodejs` for example, with an existing devfile.yaml in

[2020-06-17 02:39] zhengxiaomei123 commented on #3342
@metacosm Thanks. If so, I will close the pr #3326 .

[2020-06-17 05:35] sarveshtamba commented on #3363
@kadel do you find anything suspicious in the output above?

[2020-06-17 06:04] metacosm commented on #3342
@zhengxiaomei123 I kept the regexp check because I didn’t want to open a « competing » PR but I believe it’s probably best to remove it. What do you think?

[2020-06-17 06:07] jichenjc commented on #3363
@sarveshtamba looks like the push action itself failed
maybe you want to check all pods you are running , for example,
`oc get pods -n xxxx` while xxxx is the project you are running on and check the status of pods pushed and logs of those pods, I am sure there might be better way but this is what I am debuging
FYI

@zhengxiaomei123 I think we successfully run devfile on z platform, can you confir

[2020-06-17 08:58] prietyc123 opened #3367 ""odo create nodejs --downloadSource" and "--starter" creating one extra file on windows platform"
/kind bug

## What versions of software are you using?

**Operating System:**
win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Ran `make test-cmd-devfile-create` on windows. Also Ran the steps manually.

1. created new context dir with experimental mode enable
2. `odo project create testd` then cd <new context>
3. `odo create nodejs --downloadSource` or `odo create node

[2020-06-17 10:29] sarveshtamba commented on #3363
@jichenjc
[code]

[2020-06-17 10:34] jichenjc commented on #3363
looks like you might have issues on volume settings, see logs of the pod or check the volume defintion ...

[2020-06-17 10:41] amitkrout commented on #3367
Where is it failing ? is the push failing ? if yes paste the verbose output log.
 ```PS > odo push -v 4 ```

[2020-06-17 10:58] prietyc123 commented on #3367
PS > odo push -v 4

@amitkrout No, `odo push` is not failing. Its something weird behaviour on windows. Usually, what happens is `odo create nodejs --downloadSource` create the component in the current directory and `package.json` and all the other files will resides under the current directory itself. Whereas on windows somehow `package.json`, `app` etc.. falls under one random directory `./odo-d

[2020-06-17 11:17] sarveshtamba commented on #3363
Created a persistent volume as below:-
[code]

However now Im seeing the following error:-
[code]
Trying to debug this further.

[2020-06-17 12:05] neeraj-laad commented on #3300
@sbose78 Thanks for your thoughts. We were thinking on the same lines of adding a tag and credentials as flags with defaults referring to OpenShift scenario.

Another options that is possible is to provide this for OpenShift only as a starting point and then add Kubernetes support later.

[2020-06-17 12:14] sarveshtamba commented on #3363
Not much help from the logs too, hope I am doing it the right way.
[code]

[2020-06-17 12:50] #2985 closed

[2020-06-17 12:50] #3304 closed

[2020-06-17 12:50] #3182 closed

[2020-06-17 12:50] #3274 closed

[2020-06-17 13:40] cdrage commented on #1739
/lifecycle frozen

[2020-06-17 13:45] sarveshtamba commented on #3363
[code]

[2020-06-17 14:08] prietyc123 opened #3371 "On windows platform teardown steps fails to delete context because files are still in use"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Running `make test-cmd-devfile-watch` on windows powershell terminal.

## Actual behavior

[code]

## Expected behavior

Running [devfile watch file](https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_watch_test.g

[2020-06-17 14:42] sbose78 commented on #3300
+100 !

Thoughts, @kadel ?

[2020-06-17 14:50] j-c-berger commented on #2893
@GeekArthur, is there any ID work needed for this issue? Thanks!

[2020-06-17 15:07] GeekArthur commented on #2893
@j-c-berger Yes, there are some ID related work but that can start once the feature is done, currently the feature is still in design proposal stage. Also I think the ID work should be done by Red Hat ID team as it's odo feature, or that should be done by you?

[2020-06-17 15:08] yangcao77 commented on #3247
@dgolovin Had a discussion with @elsony and @GeekArthur . We still think having two separate lists make more sense in this case.
However, we understand that due to the structure change, s2i items cannot be properly displayed even experimental mode is disabled. We want to propose that having the new structure hiding behind experimental mode, i.e. if experimental mode is turned off, the structure of

[2020-06-17 15:19] j-c-berger commented on #2893
@GeekArthur, thanks for getting back. I see how it's a good idea for Red Hat ID to cover the doc work since it's an odo feature.

My ID team has several meetings lined up in the next couple days. ID will discuss who should take up the doc work for this issue then get back to you. Thanks!

[2020-06-17 15:24] GeekArthur commented on #2893
Okay, thanks! FYI, usually for each odo release, Red Hat ID team is gonna review and work on the documentation if it's needed.

[2020-06-17 15:25] amitkrout commented on #3367
Got it, test script is failing due to this weird behavior on windows platform. ping @EnriqueL8 https://github.com/openshift/odo/issues/3367#issuecomment-645305025

[2020-06-17 16:55] jeffmaury commented on #3247
The question is not about experimental mode or not but rather to the evolution of odo. For IDEs and userd, odo s there in order to hide the complexity of the underlying infrastructure (Openshift vs Kube vs Docker).
So from our point of view;
- whenever there is a new cluster type (vanillay kube), it should be as much transparent as possible
- whenverver there is a new component type, same rule app

[2020-06-17 17:16] dev-gaur commented on #2476
I'm confused regarding this issue. I have been trying to reproduce this issue but I see non deterministic behaviour. I follow the same steps provided by @kadel  and majority of the time , rebuild is working for me and fails a few times.

[2020-06-17 17:19] deboer-tim opened #3372 "Install command should fit in the box"
/kind documentation

## What mistake did you find / what is missing in the documentation?
Ok, I'll admit this is a bit of a nit, but currently the installation commands at https://odo.dev/docs/installing-odo/ that you copy/paste to install odo are not fully visible and you need to drag as you copy. IMHO they should be fully visible up front, e.g. either make the boxes wider or the font smaller.

#

[2020-06-17 17:40] jgwest commented on #3028
Closing as the issue has been handled by https://github.com/openshift/odo/pull/3358 by switching everything to use crypto rand.

[2020-06-17 18:33] GeekArthur commented on #3372
Probably we can do the following two things to improve the UX of odo installation:
1. Adjust box and font size to provide a better view
2. Add clipboard button to the top right of the box so that user doesn't need to worry about drag & copy

Similar example can be found here: https://docs.openshift.com/container-platform/4.4/cli_reference/developer_cli_odo/installing-odo.html

[2020-06-17 19:20] elsony commented on #3247
The problem is that the content of the information for the two different types of components (s2i vs devfile) are different. When it comes to IDE integration, if we try to ignore the fact that they are different and trying to handle them in the same way, we are going to provide a half-baked solution in the IDE.  There are some fundamental differences between two models.

Take registry support on d

[2020-06-17 20:49] elsony commented on #2705
This item is done as part of https://github.com/openshift/odo/issues/2582
/close

[2020-06-17 20:49] #2705 closed

[2020-06-17 21:32] elsony opened #3373 "Build progress does not show correctly when the command line is too long"
/kind bug
## What versions of software are you using?
1.2.2

**Operating System:**
mac

**Output of `odo version`:**
odo v1.2.2 (53530e0e5)

## How did you run odo exactly?
When I have a devfile with the devBuild command too long, the build progress shows a new line when the executed command is too long. To reproduce it:
1. use --downloadSource to create the component java-spring-boot.
2. Add a bu

[2020-06-17 22:29] #3325 closed

[2020-06-17 22:50] jgwest commented on #3373
/assign

[2020-06-17 23:06] jgwest commented on #3373
Able to reproduce on Linux using the provided step, and with lastest source on master branch.

[2020-06-18 01:56] zhengxiaomei123 commented on #3342
@metacosm The PR has been merged last night, I think you can go ahead after rebasing master .

[2020-06-18 02:42] zhengxiaomei123 commented on #3363
@sarveshtamba The storage for devfiles case need at least 5Gi , please expand the storage size of your PV and try again.

[2020-06-18 04:18] deboer-tim opened #3375 "odo command timings maybe a little too precise?"
/kind bug

## What versions of software are you using?

**Operating System:**
Mac OS

**Output of `odo version`:**
odo v1.2.2 (53530e0e5)

Server: https://c101-e.us-east.containers.cloud.ibm.com:32744
Kubernetes: v1.16.2+18cfcc9

## How did you run odo exactly?
odo create (or odo push)

## Actual behavior
The current output from 'Validation' currently looks something like this:
 ✓  Checking devfil

[2020-06-18 04:22] sarveshtamba commented on #3363
@zhengxiaomei123 recreated with PV size at 5gi, however the PVC shows the same error:-
[code]

[2020-06-18 04:57] dgolovin commented on #3247
@elsony thank you for explanation and examples. Format above would let us discriminate components by type and provide workflow specific for component type, so we can ask registry url and any additional information required. Or we can simply show 'Not supported' message for unknown component types.

Do you plan to support both kinds (s2i and devfile) of component types when devfile support goes out

[2020-06-18 04:58] sarveshtamba commented on #3363
@zhengxiaomei123 @jichenjc Are there are any specifications required for creating the PV and the PVC? Since the `devfile.yaml` also does not have much info about the PV and the PVC.

[2020-06-18 05:18] dgolovin commented on #3247
@elsony @jeffmaury Supporting tools downloaded with CLI CRD is going to be challenging. We have to find a solution to provide IDE features for different tool versions that are not backward compatible. We are going to have multiple implementations for different versions and load them on demand based on tool version detected.

[2020-06-18 05:51] zhengxiaomei123 commented on #3363
@sarveshtamba  No specifications is required. But the image used in devfile.yaml should be for P arch.
For your question, please refer to this definition of PV :
[code]

[2020-06-18 05:56] girishramnani commented on #3300
A quick question -
How would `odo deploy` behave when users are in local mode?

[2020-06-18 06:34] sarveshtamba commented on #3363
Do you mean these images in devfile.yaml?
[code]

[2020-06-18 07:24] kadel opened #3377 "add debug commands to odo devfile registry"
/kind user-story

## User Story
As an odo user, I want to be able to use the debugger to debug the application running in the cluster.

## Acceptance Criteria
- [x] Every devfile that is in odo devfile registry should have "debug" group defined
- These are devfiles that need debug command -
    - [x] java-maven
    - [x] java-openliberty
    - [x] java-sprintboot
    - [x] java-quarkus
- [ ] Tests

[2020-06-18 07:28] amitkrout commented on #2537
The list of supported images which falls under this category are ```registry.redhat.io/openjdk/openjdk-11-rhel8``` and ```registry.redhat.io/rhscl/nodejs-12-rhel7```.

Supported container images mapping file - https://github.com/openshift/odo-init-image/blob/master/language-scripts/image-mappings.json

[2020-06-18 07:36] kadel opened #3378 "Tests for devfiles in odo devfile registry"
We should have tests for each devfile in https://github.com/odo-devfiles/registry that will verify that they are valid and usable.

There should a common test flow that will be executed using each devfile in the registry.

- `odo create <devfile>`
- `odo url create`
- `odo push`
- verify that application is accessible in a given url
- `odo push --debug`
- `odo debug port-forward`
- verify that it

[2020-06-18 07:42] rhuss opened #3379 ""odo projects" doesn't exists as command"
/kind bug

## What versions of software are you using?

**Operating System:** macOS

**Output of `odo version`:**

[code]

## How did you run odo exactly?

[code]

Also calling `odo projects` results in the usage message printed twice, once on standard out and once on standard error

<details>
<summary>Output of <code>odo projects</code></summary>

[code]
</details>

## Expected behavior

The logi

[2020-06-18 08:00] kadel commented on #3091
/close

[2020-06-18 08:00] #3091 closed

[2020-06-18 08:01] kadel commented on #3247
Yes, patch release should stay compatible and we are trying to do that.
But what we are discussing here will get to odo 2.0.0.
We have to introduce some changes like this into the odo v2, otherwise, we won't be able to make Devfiles work properly.

[2020-06-18 08:17] rhuss opened #3380 ""odo catalog list" leads to error, but is suggested in "odo create --help""
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
[code]

[code]

I suggest changing to `odo catalog list components` for the description in `odo create --help`
Also the usage message of "odo catalog list [flags]" is not correct as this leads to the given error message (that is again printed twice). "odo catalog list [command]" is also not

[2020-06-18 08:35] rhuss opened #3381 "Permission error in in init-container when running nodejs example on OpenShift 4.4"
/kind bug

**Output of `odo version`:**

[code]

running against an OpenShift 4.4.6 cluster (odo has been also downloaded via this cluster)

## How did you run odo exactly?

[code]

## Actual behavior

[code]

[code]

I'm connected as user "kubeadmin" (admin perms) to the cluster.

[2020-06-18 09:05] #3348 closed

[2020-06-18 09:18] neeraj-laad commented on #3300
@girishramnani `odo deploy` will only make sense for Kubernetes cases. There is no point providing deployment capability for docker environment.  So, as per current proposal it will just provide a message to the user stating they need to be on Kubernetes mode.

I can see it would be useful if the developer can develop/push on docker and test the deploy part on Kubernetes cluster. I'm not sure if w

[2020-06-18 09:28] adisky opened #3382 "url listed in `odo registry list` returns `Invalid Request`"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
[code]

## Actual behavior

`https://raw.githubusercontent.com/elsony/devfile-registry/master`  return Inavalid request, when tried to open it in browser.

## Expected behavior
[code]
I think during `odo registry list` we should show the actual url rather tha

[2020-06-18 09:31] ianmiell commented on #3381
Maybe this can help: https://containersolutions.github.io/runbooks/posts/kubernetes/crashloopbackoff/

If it doesn't, please let me know what didn't work for you.

[2020-06-18 09:47] neeraj-laad commented on #3300
/assign @neeraj-laad @EnriqueL8

[2020-06-18 09:49] EnriqueL8 commented on #3300
/assign

[2020-06-18 10:08] prietyc123 commented on #2153
- [ ] regular debug command test for java component
- [ ] devfile debug command test for java component

[2020-06-18 10:13] rhuss commented on #3381
I  think it is clear from the error message above that the init-container has permission issues, therefor the CrashLoopBack:

[code]

[2020-06-18 10:14] rhuss commented on #3381
This can be due to the permission setup of OpenShift 4.4 itself, but I would expect that odo runs with OpenShift 4.4 ootb (at least I downloaded odo from the OpenShift 4.4's admin console's link).

[2020-06-18 10:32] dharmit commented on #3336
IMO this is not expected behaviour. I'm seeing this showing up a LOT in CI (probably because of the numerous `odo project delete` calls). I think this needs to be fixed.

[2020-06-18 11:04] sarveshtamba commented on #3363
@elsony can you help here? There seems to be issue with the images used in the 'devfile.yaml' for "Java Spring Boot" and "Node.js" when trying on PowerPC64LE (ppc64le) platform. Can these be multiarch including support for ppc64le platform?

[2020-06-18 11:16] girishramnani commented on #2476
yes I think that would happen because sometimes java just decides to rebuild the class files sometimes it doesn't If I remember correctly.

[2020-06-18 11:16] girishramnani commented on #2476
the ideal outcome should be that when the build is supposed to fail, it should fail.

[2020-06-18 11:42] bigkevmcd opened #3383 "Integrate `odo pipelines` work"
This is an issue to track the integration of the pipelines work.

https://github.com/rhd-gitops-example/docs/tree/master/commands#odo-pipelines-commands

[2020-06-18 12:13] adisky commented on #2800
for devfile v2, it is dependent on https://github.com/openshift/odo/issues/2936

[2020-06-18 12:17] dev-gaur commented on #2476
After a discussion with @kadel , It seems like this issue got resolved somewhere accidentally. While trying to reproduce the issue, almost all of the times, the rebuild seems to work fine for me. @kadel also verified the same. Thus, closing this issue.

[2020-06-18 12:23] girishramnani commented on #2476
Closing as per discussed

[2020-06-18 12:23] #2476 closed

[2020-06-18 13:33] girishramnani opened #3385 "Improve the test run time on PRs"
- we are considering running all tests on later stages of the PRs
- we are considering running the travis CI and latest version openshift tests in the PR and rest in the periodic job
- ~~we are considering running the e2e tests ( not integration tests ) in the periodic jobs and omit them from the PR tests altogether~~ - this was done in https://github.com/openshift/odo/issues/2931

[2020-06-18 13:34] girishramnani commented on #3385
cc @metacosm

[2020-06-18 14:56] kadel opened #3386 ".odo/env is not in .gitignore"
/kind bug

## How did you run odo exactly?

[code]

## Expected behavior
in addition to `.odo/odo-file-index.json` odo should also populate .gitingore with `.odo/env` as this is an environment-specific configuration that shouldn't get to git repository.

[2020-06-18 15:21] GeekArthur commented on #3375
https://github.com/openshift/odo/blob/87cae3b5d1c1c1a2654dcfff0e345e56bb248792/pkg/log/fidget/spinner.go#L132-L149

From the source code above, currently the spinner timestamp unit and precision are dynamic depends on the command/spinner execution time, I think we have that design is because the big execution time difference exists between different commands/spinners. To make spinner timestamp uni

[2020-06-18 19:06] elsony commented on #3028
done
/close

[2020-06-18 19:06] #3028 closed

[2020-06-18 19:19] yangcao77 commented on #3284
blocked by: https://github.com/openshift/odo/pull/3291
requires the code for command group validation to be merged

[2020-06-18 19:44] gorkem commented on #2936
Is this really blocked? It has the blocked label.

[2020-06-19 04:43] #3342 closed

[2020-06-19 06:18] amitkrout opened #3388 "Remove hard coded container images from e2e_image_test script"
/kind feature

## Which functionality do you think we should add?
Parse the json output of odo catalog list components and then use each of the versions programmatically for testing.

## Why is this needed?
Removes hard coded container images from e2e_image_test script

[2020-06-19 07:34] amitkrout commented on #3350
I have gone through the official Microsoft documentation [1] and Wikipedia doc [2] on file URI.

As per Wikipedia doc [2] on file URI :
Over a network the file URI will be like file://localhost/ on both unix and windows setup and if the file is local then the URI will be file:/// on both platform

As per Microsoft documentation [1] on file URI :
File URI will be like - file:///sDrives[|sFile]. whe

[2020-06-19 07:35] girishramnani commented on #2467
/lifecycle frozen

[2020-06-19 07:44] girishramnani commented on #3386
I can work on this

[2020-06-19 08:01] prietyc123 opened #3389 "Test script fails due to path separator // in registry/directory on windows platform"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Ran `make test-e2e-images` on windows.

## Actual behavior

[code]

Failure : The ImageStreamImport "nodejs" is invalid: spec.images[0].from.name: Invalid value: "registry.access.redhat.com\\rhscl\\nodejs-8-rhel7:latest": invalid reference forma

[2020-06-19 08:24] prietyc123 opened #3390 ""odo service create --from-file" for invalid metadata does not match the output on windows"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Ranning `make test-operator-hub` on windows powershell. Tried to run tests multiple times.

## Actual behavior

[code]

## Expected behavior

`odo service create --from-file <filename>` should have same output for all the platform.

## Any logs,

[2020-06-19 08:25] prietyc123 commented on #3390
ping @dharmit

[2020-06-19 08:52] upLukeWeston commented on #2936
No, I believe it was initially blocked by the Devfile v2 Parser.

[2020-06-19 09:18] prietyc123 opened #3392 ""odo service list" ask for app and project name"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

## How did you run odo exactly?

Tried running `make test-operator-hub` 2-3 times.

## Actual behavior

[code]

## Expected behavior

`odo service list` should not throw error.

## Any logs, error output, etc?

[2020-06-19 09:19] prietyc123 commented on #3392
ping @dharmit

[2020-06-19 09:23] dharmit commented on #1052
@mohitsuman I'm adding this to our team discussion. Mainly because this is something we need to discuss for odo v2 as well even though this issue was opened for v1.

[2020-06-19 12:13] kadel commented on #3104
Agreed with the second part, `odo delete --all` should definitely prompt for confirmation, the same as it is currently asking when running `odo delete`. Only when `--force` flag is provided the prompt should be skipped.

Hmm, that also makes sense.

But what about this scenario:
 - I create new odo component `odo create`
 - I realized that I wanted to do something else
 - I run `odo delete --all`

[2020-06-19 13:29] #2701 closed

[2020-06-19 14:18] kadel commented on #2688
# WORK IN PROGRESS

## "LocalConfig" components (s2i)
- `odo config` should work  as currently does
- `odo environment` will error out with information that the command is not available for s2i builder images based components.

## devfile components
Devfile can have multiple containers defined.  `odo config` should by default apply the configuration to all containers in devfile.
- [ ] `odo config

[2020-06-19 14:52] kadel commented on #3356
@mik-dass @girishramnani, wasn't this fixed by https://github.com/openshift/odo/pull/3358?

[2020-06-19 14:54] kadel commented on #401
/close
in favor of https://github.com/openshift/odo/issues/2540

[2020-06-19 14:54] #401 closed

[2020-06-19 14:55] kadel commented on #2306
/remove-lifecycle stale

[2020-06-19 15:10] girishramnani commented on #3356
yes it should have been

[2020-06-19 15:11] girishramnani commented on #3356
can @mik-dass rebase?

[2020-06-19 15:18] girishramnani commented on #3356
confirming that there is no instance of `math/rand` in upstream/master
![C0399F3B-0FDA-4636-B072-47E68C75ED8D_4_5005_c](https://user-images.githubusercontent.com/6551988/85148788-28dde980-b26e-11ea-8c76-08d65b3eab93.jpeg)

[2020-06-19 15:52] mik-dass commented on #3356
This was created when the error was there. https://github.com/openshift/odo/pull/3358 didn't mention it closes this issue.

[2020-06-19 15:52] #3356 closed

[2020-06-19 16:33] metacosm commented on #3104
All of this makes sense :)
However, reading through the different scenarios makes me think that `odo` should keep track of the files it created and should only be able to delete these files and nothing else. It doesn't seem right that `odo` should be able to delete files it knows nothing about.
Which brings me to another usage question: is it expected that users will need to edit devfiles often? I

[2020-06-19 17:07] girishramnani commented on #2688
should we consider jsonpath like configs? like `odo config set components[0].exec.commandLine "blah"`?

[2020-06-19 17:08] girishramnani commented on #2688
I would like to research on this issue

[2020-06-19 17:21] #1940 closed

[2020-06-19 17:21] #1955 closed

[2020-06-19 17:21] #2299 closed

[2020-06-19 19:26] elsony commented on #2936
Removing the block since we have the v2 parser already.

[2020-06-19 19:35] mohitsuman commented on #1052
@dharmit sure thing, let us know the discussion conclusion.

[2020-06-19 19:42] elsony commented on #3104
This proposal sounds good to me. We have an explicit prompt for devfile.yam removal which will address my main concern.

I think the key point is not really on whether they touch it often; it is whether we expect user to change it or not. We do expect user to change it since there may be specific changes that they need on the devfile to fit their specific application, e.g. I need to have this env

[2020-06-19 22:17] metacosm commented on #3104
Wouldn't that be done by extending the devfile instead of modifying it directly?

[2020-06-19 23:48] #3268 closed

[2020-06-20 13:10] #3167 closed

[2020-06-20 13:10] #3297 closed

[2020-06-20 13:10] #3382 closed

[2020-06-20 15:40] amitkrout commented on #2931
Periodic jobs will be listed here - https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/?type=periodic&job=periodic-*odo*

[2020-06-20 17:25] #2516 closed

[2020-06-21 15:59] deboer-tim commented on #3375
Sorry, I didn't mean to suggest this for all times, just for nanoseconds. Times like '23s' are clear, it's just the nanoseconds that are harder to read for me. i.e. 0.2s or 0.24s is easier to read than 247367ns.

[2020-06-22 00:23] girishramnani commented on #2835
understood, I am nearly done with this, just need to write tests and we are good to go.

[2020-06-22 00:25] girishramnani commented on #2688
I have one more issue related to `odo project` which I would be able to complete before the sprint part 2 meeting - if that changes then I wil find someone else to work on this issue

[2020-06-22 01:00] GeekArthur commented on #3375
Ah, I see. Only make the changes to nanoseconds is a great improvement for readability. I totally agree with you.

[2020-06-22 06:22] dharmit opened #3393 "Exit from Experimental Mode"
/kind feature

WIP - will add details later

## Which functionality do you think we should add?

## Why is this needed?

[2020-06-22 06:25] dharmit opened #3394 "Verification of devfile v2 features"
/kind feature

Verify the availability/functionality of following features for odo v2 release:

- [ ] odo storage
- [ ] odo update (https://github.com/openshift/odo/issues/3396)
- [ ] odo link with components
- [ ] removal of `experimental` flag needs to be well tested.

[2020-06-22 07:09] amitkrout commented on #2877
Hit the same issue in periodic job too - https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.3-integration-e2e-periodic/1274764207098695680#1:build-log.txt%3A592

[2020-06-22 07:40] prietyc123 opened #3395 ""odo-supervisord-shared-data-<component Name>" container not created in docker devfile on windows"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10

**Output of `odo version`:**
master

## How did you run odo exactly?

Ran `make test-cmd-docker-devfile-push` on windows powershell as well as Manual steps on macOS for the same spec.

## Actual behavior

On windows
[code]

Manual step verification on mac

[code]

## Expected behavior

`odo-supervisord` should get

[2020-06-22 08:22] prietyc123 commented on #3371
Same failure occurrence seen with `make test-cmd-docker-devfile-watch`

[2020-06-22 09:19] kadel commented on #2019
Blocked on https://github.com/openshift/odo/issues/3270

/status blocked

[2020-06-22 10:02] sarveshtamba commented on #3363
@maysunfaisal where can I get the source for image "maysunfaisal/springbootbuild" referenced in the springBoot [devfile](https://github.com/elsony/devfile-registry/blob/master/devfiles/springBoot/devfile.yaml). Looks like we might need to build this image on PowerPC64LE - ppc64le platform in order to use the sample devfile on that platform.

[2020-06-22 10:34] prietyc123 commented on #3288
Full test run on powershell is completed. Still needs to verify on Cygwin terminal.

[2020-06-22 11:51] kadel commented on #2688
I wouldn't complicate this for now. We can consider this later if there is a need for something like this

[2020-06-22 12:22] kadel opened #3396 "deprecation warning for odo update"
## Background:
The original intention for  `odo update`  was to provide a path forward for outer-loop by switching to git component.
We don't need that anymore as there is work in progress for proper outer-loop (`odo deploy` `odo pipelines`)

## Acceptance criteria
- [ ] When `odo update` command is executed in a directory with devfile component it should display error:
[code]
- [ ] When `odo upda

[2020-06-22 12:54] neeraj-laad commented on #2919
@kadel

What is the rational for adding this constraint. This will become very restrictive and we'll end up with lots of copy/paste of information all over devfiles.

I think we should reconsider this.

[2020-06-22 13:06] dharmit commented on #2931
Moved this to In Progres as there's nothing really to review. Amit's working on the final bits about sending notifications to slacks.

[2020-06-22 13:08] mohammedzee1000 commented on #2704
I will be raising PR for using git commit shortly, to maintain uniform behavior

[2020-06-22 13:11] dharmit commented on #2939
@adisky to research this if we need more info on this orif it's good to be `triage/ready`.

[2020-06-22 13:12] prietyc123 commented on #3270
This issue is blocked on copying `oc` binary to the `bin` path of build image. There is one pr on this https://github.com/openshift/odo/pull/3362. Once it gets merged expecting I can proceed with this.

[2020-06-22 13:14] dharmit commented on #3276
We have most things in place (dist-git, bugzilla). @mohammedzee1000 needs to verify things and test the scripts. On-track to close this in Sprint 186.

[2020-06-22 13:17] dharmit commented on #3180
Spill over from the previous sprint.

[2020-06-22 13:20] dharmit commented on #2919
Need answers on https://github.com/devfile/kubernetes-api/issues/25#issuecomment-647437376 to move further smoothly without being blocked.

[2020-06-22 13:28] dharmit commented on #2930
Focus areas:
- devfile v2
- url related commands
- registry

We can try to break above pieces in odo in any possible and open issues wr.t. those.

All tests for devfile v1 can be run on devfile v2 except the `init` command. `devInit` command has been deprecated from devfile v2.

[2020-06-22 13:31] dharmit commented on #3020
ping @kadel :man_shrugging:

[2020-06-22 13:43] dharmit commented on #2641
@amitkrout to do write-up explaining the problem and how to fix it.

[2020-06-22 13:49] dharmit commented on #764
@mohammedzee1000 going to make a note here about the approach he's going to follow the problem. We have all the other info we need.

[2020-06-22 14:05] dharmit commented on #3101
Lowering the priority because things might change completely with the s2i to devfile convertor showing up and then this issue might become irrelevant at least as far as the backend is concerned.

[2020-06-22 14:16] dharmit commented on #3307
To be split into two. @amitkrout to open another issue where we'll need dev inputs.

[2020-06-22 14:22] dharmit commented on #2800
Blocked on #2936

[2020-06-22 14:26] dharmit commented on #3337
@amitkrout has a PR that runs locally. He'll be driving this further.

[2020-06-22 14:30] kadel opened #3398 "odo storage with devfile components"
## User Story
As an odo user, I want to be able to add simple storage to my component without needing to go and edit the devfile.yaml

## Acceptance Criteria
- If `odo storage` is executed in a directory with LocalConfig (.odo/config.yaml):
  - [x] `odo storage` executed in a LocalConfig component should keep doing what it does now.
- If `odo storage` is executed in a directory with devfile.yaml:

[2020-06-22 16:42] johnmcollier commented on #3338
Some questions on composite commands that I couldn't find answers for in the schema:
1) Can a composite command reference other composite commands?
2) When `parallel: true`, does odo need to wait for all of the commands to finish executing?
3) If yes to 2, do we wait indefinitely or should there be a timeout?

[2020-06-22 18:37] maysunfaisal commented on #3104
@metacosm Wdym by extending devfile instead of modifying it? 🤔

[2020-06-22 19:08] maysunfaisal commented on #3363
@sarveshtamba the dockerfiles are here https://github.com/elsony/devfile-registry/compare/master...maysunfaisal:uploadDockerfiles?expand=1

The maven devfile is the same logic(except that it has one component) and would also try that out for your use case https://github.com/elsony/devfile-registry/blob/master/devfiles/maven/devfile.yaml

[2020-06-22 21:27] elsony commented on #2920
We should take the current purpose of the service binding specification into account when we design this feature: https://github.com/application-stacks/service-binding-specification/#application-projection

[2020-06-22 21:36] elsony opened #3401 "odo environment command for environment settings in env.yaml"
/kind user-story

## User Story
As a developer, I want to configure my environment specific settings in env.yaml of devfile style components so that I can change the settings after the initial creation.

## Background
The storing of the environment specific settings in the file .odo/env/env.yaml the devfile style components on #2592. However, the user currently cannot edit the settings in using th

[2020-06-22 21:39] elsony commented on #2688
After discussing with @kadel , we have decided to split this issue into two since they can be worked independently:
-  This issue will cover the `odo config` for modifying settings in the devfile.yaml
- An new issue #3401 has been opened to cover `odo environment` for modifying the environment settings in the env.yaml

I'm modifying this issue (title and description) to reflect that.

[2020-06-22 21:52] elsony commented on #2688
As part of the devfile 2.0 spec (https://github.com/devfile/kubernetes-api/issues/61), we are going to support `.devfile.yaml` in the project and handle it in the same way as the `devfile.yaml`. I think `odo config` should support both `devfile.yaml` and `.devfile.yaml`.

[2020-06-22 22:03] elsony opened #3402 "`odo app` support for devfile components"
/kind user-story

## User Story
As a user, I want to group different devfile components to an `app` similar to what I can do for s2i components.

## Background
odo has the `odo app` command for grouping existing s2i components under an app.

## Acceptance Criteria
- [x] It should behave the same as the existing `odo app` command but allowing devfile components to be added to the app
- [x] It shoul

[2020-06-23 11:14] kadel opened #3403 "odo create: force s2i components and cleanup"
/kind user-story

## User Story
As an odo v2 user, I want to be able to create old s2i builder image (LocalConfig) components so I can work as with odo v1.

## Acceptance Criteria
- [ ] It should be possible to force `odo create` command to create LocalConfig component even if it has the component type with the same name as devfile component. For example, using a new flag (`odo create java --s2i`)

[2020-06-23 12:17] sarveshtamba commented on #3363
Built the image `quay.io/eclipse/che-nodejs10-ubi:nightly` for nodejs devfile.yaml on Power using [build_images.sh](https://github.com/eclipse/che-devfile-registry/blob/master/arbitrary-users-patch/build_images.sh)
Also I was able to build `odo-init-image` using golang:1.12 as base image alongwith changes to set GOARCH=ppc64le in [Dockerfile](https://github.com/openshift/odo-init-image/blob/master

[2020-06-23 12:36] sarveshtamba commented on #3363
@kadel @zhengxiaomei123 ^^ any inputs on above.

[2020-06-23 14:20] EnriqueL8 commented on #2063
I am having this same issue. It seems to happen when the BuildConfig using a Dockerfile hits a `COPY` step.
OCP version 4.3, building odo from master.

[2020-06-23 14:20] EnriqueL8 commented on #2063
/reopen

[2020-06-23 15:05] kadel commented on #2063
/reopen

[2020-06-23 18:08] elsony opened #3406 "Support environment variables for a specific command"
/kind user-story

## User Story
As a stack creator, I want to specify environment variables in a command in the devfile so that the environment variables are used when executing a specific command

## Acceptance Criteria
- [ ] It should support the env definition in a command as specified to the devfile 2.0 spec: https://github.com/devfile/kubernetes-api/issues/21

## Links
- Related issue: https:

[2020-06-23 18:16] elsony commented on #3107
As specified in the odo terminology change proposal (https://docs.google.com/document/d/1PBZqactXlfSpeSwt7EkaVlnt43qsUV2eExwFXpYJahc/edit#heading=h.1y4eznz1mtnr), we'll rename the current `--downloadSource` option to `--starter`

[2020-06-23 18:31] elsony opened #3407 "Allow volume definition to be shared across containers in a devfile"
/kind user-story

## User Story
As a stack creator, I want to specify a volume definition that can be shared across different containers in the devfile so that I don't need to repeat the same volume definition in each container.

## Acceptance Criteria
- [ ] It should support the volume definition in a component as specified in the devfile 2.0 spec: https://github.com/devfile/kubernetes-api/issues

[2020-06-23 19:16] elsony commented on #3338
1. Yes, from spec perspective, there is nothing prevent someone to reference a composite command to another composite command
2. yes
3. Similar to push command today, there is no timeout for command execution.

[2020-06-23 19:39] elsony commented on #3107
This item should covers:
1. rename of the `--starter` in CLI
2. any required test change
3. doc changes

[2020-06-23 19:44] jgwest commented on #3402
/assign

[2020-06-24 05:54] amitkrout commented on #2088
Hitting the same issue in one of our periodic job - https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.5-integration-e2e-periodic/1275489038496698368

It see the ```KUBECONFIG``` path was misplaced somehow in the spec teardown steps. It will be tracked and fixed through the issue https://github.com/openshift/odo/issues/3337.

[2020-06-24 06:17] amitkrout opened #3410 "watch validation timeout for devfile component."
/kind bug

## What versions of software are you using?

**Operating System:**
Periodic CI
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
watch validation timeout - https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.2-integration-e2e-periodic/1275579631784693760#1:build-log.txt%3A456
## E

[2020-06-24 07:15] mik-dass commented on #3407
Isn't this related to https://github.com/openshift/odo/issues/3398?

[2020-06-24 07:27] mik-dass commented on #3398
It seems we are defining volumes in a wrong manner in our devfiles for v2. We should declare the volumes in the Volumes field under components and reference them in the volumeMounts as volumeMounts don't have the size field defined for them. We are using a fixed size for our volumes https://github.com/openshift/odo/blob/9934f0fc1b8b0b5d6c8876b9d92ef3319eebe646/pkg/devfile/adapters/common/utils.go#

[2020-06-24 07:36] adisky commented on #3398
yes correct, I needs to me implemented as a part of shared volume across components. This has been discussed on V2 PR
https://github.com/openshift/odo/pull/3216/files#r432256103

[2020-06-24 07:57] mik-dass commented on #3398
I think the sharing volumes issue can be a part of this issue as storage creation will create a volume and reference it in the volume mounts of all the components. @kadel @girishramnani WDYT?

[2020-06-24 08:01] adisky commented on #3398
Implementation of shared volume across component also needs to be done for `odo push`, I guess this issue deals with `odo storage` commands.

[2020-06-24 08:17] amitkrout commented on #2877
one more - https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/logs/periodic-ci-openshift-odo-master-v4.2-integration-e2e-periodic/1275670220752556032#1:build-log.txt%3A441

[2020-06-24 09:14] prietyc123 commented on #3395
ping @maysunfaisal

[2020-06-24 09:14] mik-dass commented on #3398
OK then `odo storage create` won't work properly until https://github.com/openshift/odo/pull/3216/files#r432256103 is fixed. The command will just  add the volumes to the devfile and also mount it to the components in the devfile.

[2020-06-24 09:44] amitkrout commented on #2641
I have created a separate issue #3307 as per the comment https://github.com/openshift/odo/issues/2641#issuecomment-638865321. The cause of failure and fix will be discussed in #3307.

Actually i am waiting for @girishramnani comment on my last comment. Then only i can decide the next task, otherwise i will close the issue.

[2020-06-24 10:01] adisky commented on #3398
agreed as you said, it is dependent on this one https://github.com/openshift/odo/issues/3407

[2020-06-24 11:14] kadel commented on #3398
We can work on both issues independently.
This issue is just about adding volumes to devfile.yaml.
Issue  #3407 will make sure that the definition is correctly interpreted.
None of those issues is blocker or prerequisite for the other

[2020-06-24 11:28] amitkrout commented on #2877
@mik-dass
ohh, is it ?
Can we then plan for a separate issue for local component ? or want to fix in the same pr #3110

[2020-06-24 11:33] adisky commented on #3156
Tried the example suggested by @kadel manually, the deployment get created but build failed due to project source directory, with devfile we mount projects in /projects and the script expects it to be synced here `ODO_S2I_SRC_BIN_PATH`. I set it manually still got some problem in run step. To make it work roughly following things needs to be done
- Get the image information
- Get the build and run

[2020-06-24 11:52] girishramnani commented on #2641
why do we still have nodejs-8 images?

[2020-06-24 12:18] mik-dass commented on #3398
Issue #3407 will make sure that the definition is correctly interpreted.
None of those issues is blocker or prerequisite for the other

Yes but I was thinking of adding https://github.com/openshift/odo/issues/3407 into this issue because `odo storage list` will fetch the wrong size as the PVC size from the cluster and we need the cluster list to determine the current state i.e locally deleted etc.

[2020-06-24 12:18] prietyc123 commented on #3288
I need to verify all the test on windows with 3.x cluster. For which I need to do below tasks.

Steps :

1. Setup Minishift single node cluster on windows VM

or

1. We can use [3.11 cluster](https://gitlab.cee.redhat.com/openshiftdo/PSI#known-clusters) which is on PSI but need to explore on DNS configuration part for windows. Which is unknown currently

2. Run all the test individually like https

[2020-06-24 12:18] girishramnani commented on #2930
consider scenerios -

- odo create --downloadSource then break the progress from the middle and then do the same command again.
- create two components - 1 frontend and 1 backend then do `odo watch` on both places and compare the UX ( dont worry about linking just create two components )
- add a new devfile v2 registry and do note down if you find lack of documentation. also check the `odo catalog

[2020-06-24 12:23] amitkrout commented on #2930
Thanks for the suggestion. we will focus those areas for sure and ofcourse few more that we find from UX.

[2020-06-24 12:23] mik-dass commented on #2877
The PR build timeout PR will only close https://github.com/openshift/odo/issues/3110. This issue should remain open.

[2020-06-24 12:29] anandrkskd commented on #2930
|Test Scenario    |  Test Type (Regular/Experimental) | Status   | Comment  |  Issue |
|---|---|---|---|---|
|  Changing resource in config values using editor in between odo push |  Experimental | Pass  |  odo push does not build the changes in the particular push but subsequent odo push successfully make the changes. | N/A  |

[2020-06-24 12:30] girishramnani commented on #2930
thank you

[2020-06-24 12:31] girishramnani commented on #2930
@anandrkskd please add a new column called `Steps to reproduce` to a gist which contains a script that reproduces the scenerio.
And I want that for each scenerio tried so far @prietyc123

[2020-06-24 12:33] mik-dass commented on #3354
@kadel @girishramnani Should we support `-host` flags with routes?

[2020-06-24 12:50] dev-gaur commented on #3379
This has been fixed by this #3262 . @kadel @girishramnani good to close?

[2020-06-24 12:53] girishramnani commented on #3379
sure. please dont forget to use the PR template to avoid such dangling issues. https://github.com/openshift/odo/pull/3262#issuecomment-635837780

[2020-06-24 12:53] #3379 closed

[2020-06-24 12:55] dev-gaur commented on #3379
actually I just saw this issue a while back. didn't know about this issue when I created the PR.

[2020-06-24 13:07] mik-dass commented on #3379
This issue was created after https://github.com/openshift/odo/pull/3262 was merged.

[2020-06-24 13:12] mohammedzee1000 commented on #764
It looks like the proxy server is not being taken into account. I am investigating how `oc login` handles this as it seems to work.
Another option is to use the proxy envs `HTTP_PROXY` and `HTTPS_PROXY`.

I am taking @amitkrout help to setup a proxy env which should be available tomorrow, and then should be able to present more concrete answers

[2020-06-24 13:14] dharmit opened #3415 "Create example applications to demo and test "odo link" functionality"
We managed to get `odo link` working but lack of a useful example application prevents us from talking about it. To be able to demo, document and test (mainly integration tests) this functionality, we need a sample non-trivial application like:

- [ ] nodejs + etcd
- [ ] Java + MongoDB
- [ ] Quarkus + \<something\>

This is mainly meant to link a devfile component with an Operator backed service

[2020-06-24 13:19] jeffmaury commented on #764
We did the proxy support in IntelliJ OpenShift Connector based on HTTPS_PROXY and seems odo is honoring this variable so I think it's ok

[2020-06-24 13:38] adisky commented on #2939
not yet researched it, only implementation of endpoint configuration is remaining as part of this issue?
Do we need to do this in this sprint?

[2020-06-24 13:39] dharmit commented on #2207
@mik-dass Can you share your thoughts on this from devfile v2 point of view?

[2020-06-24 13:47] mohammedzee1000 commented on #764
Ok so I am still looking at how oc does it.

Other that that, what we could do with env is:

1. Document users to set the env or
1. Have a preference for proxy, for eg `OPENSHIFT_PROXY`. If it is set then we set env before running a command, do the command and then unset the env automatically

[2020-06-24 13:49] girishramnani commented on #3289
applies here https://github.com/openshift/odo/issues/3288#issuecomment-648785109

[2020-06-24 13:57] girishramnani commented on #2931
adding a link in the docs and notification to slack channel is left

[2020-06-24 14:04] mik-dass commented on #2207
I think this issue is valid from the point of view of devfile v2 too.

[2020-06-24 14:11] kadel commented on #3307
@amitkrout Can you please provide steps how it can be reproduced outside of our tests?

[2020-06-24 14:42] skoh7645 opened #3417 "Debugger does not hit breakpoints on reattach"
/kind bug

## What versions of software are you using?

**Operating System:** macOS

**Output of `odo version`:** master

## How did you run odo exactly?
1. Get the devfile from https://github.com/neeraj-laad/nodejs-stack-registry/blob/master/devfiles/nodejs/devfile.yaml onto my local machine
2. `odo create --downloadSource`
3. `odo url create --port 3000`
4. `odo push --debug`
5. `odo debug port-

[2020-06-24 15:23] mik-dass commented on #3417
The exact steps seem to work for me. I am able to detach and reattach successfully.

[2020-06-24 15:44] skoh7645 commented on #3417
@mik-dass explained to me that I should be setting breakpoints in the loaded scripts section, rather than directly in the local file. It works as expected after all! Perhaps there is some documentation needed for this, though this should be on the VSCode side rather than Odo. Closing this issue as it is not a problem with Odo.

[2020-06-24 15:44] #3417 closed

[2020-06-24 15:59] EnriqueL8 commented on #3300
After moving to using `BuildConfig`, we are unsure if we should be creating a new devfile adapter for Openshift which uses the `occlient` or split the code within the Kuberenetes adapter into `BuildConfig` for OCP and `Kaniko` for Kube.
- The Openshift adapter would only implement the build path for `odo deploy` and would call to the Kubernetes Adapter for all the other paths (push, delete...).
-

[2020-06-24 17:16] johnmcollier commented on #3107
I can work on this

/assign

[2020-06-24 20:55] maysunfaisal commented on #3398
@mik-dass I think for the size during `odo storage list`, if this issue is closed before #3407 then you can just print the `5Gi` for now and it should be fixed with #3407

If #3407 is finished before this issue, it solves all your concerns i think regd displaying size?

[2020-06-24 20:57] maysunfaisal commented on #3395
Interesting does this happen always? I am not sure how it did not get created because acc to the log above, odo push succeeded

[2020-06-25 02:37] #2641 closed

[2020-06-25 04:11] mik-dass commented on #3398
If #3407 is finished before this issue, it solves all your concerns i think regd displaying size?

If #3407 is closed before this issue, then the problem with displaying size should be solved.

[2020-06-25 05:00] sarveshtamba commented on #3363
I figured out the issue - even though I had built the `che-nodejs10-ubi` image locally it was still trying to pull `quay.io/eclipse/che-nodejs10-ubi:nightly` image from registry instead of this local image.
So for testing purposes, I retagged & pushed this local image to my docker registry and changed the devfile.yaml accordingly to use `docker.io/stamba/che-nodejs10-ubi`. With this the `odo push`

[2020-06-25 05:14] sarveshtamba commented on #3363
So verified that the flow for Deploying a devfile using odo works fine on Power!

[2020-06-25 05:47] sarveshtamba commented on #3363
I figured out the issue - even though I had built the che-nodejs10-ubi image locally it was still trying to pull quay.io/eclipse/che-nodejs10-ubi:nightly image from registry instead of this local image.
So for testing purposes, I retagged & used this local image and changed the devfile.yaml accordingly. With this the odo push was success and I was able to access the odo URL which was created, fetc

[2020-06-25 05:51] sarveshtamba commented on #3363
I figured out the issue - even though I had built the che-nodejs10-ubi image locally it was still trying to pull quay.io/eclipse/che-nodejs10-ubi:nightly image from registry instead of this local image.
So for testing purposes, I retagged & used this local image and changed the devfile.yaml accordingly. With this the odo push was success and I was able to access the odo URL which was created, fetc

[2020-06-25 05:51] sarveshtamba commented on #3363
So verified that the flow for Deploying a devfile using odo works fine on Power!

[2020-06-25 06:49] dharmit commented on #3300
Sorry for being too late to the party and apologies in advance because my comment's going to likely irk a few.

Is it just me who finds it "ironical" that *"`odo deploy` is **NOT** the recommended way for deploying apps deployed using odo"*?

We use the verb "deploy" but don't want it to do what the verb is actually meant in general lingo. I had this reservation when I reviewed #3368 but didn't br

[2020-06-25 06:59] kadel commented on #3300
@EnriqueL8
I'm not sure how much of this you will be able to use. The current functions in `occlient` around `BuildConfig` were all written to use just s2i build strategy. You might  be able to salvage something from it, but I don't think that you will be able to use them as they are :-/

[2020-06-25 08:16] adisky commented on #2800
I have tested quarkus with application https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started and https://github.com/adisky/hello-quarkus, i could add any of them as a starter project.

[2020-06-25 10:02] dev-gaur commented on #3403
For this issue, I'll have to understand to flags in the cobra cli framework are implemented. After this the business logic should not be that hard to implement.

^This one looks like a quick win.

^For this point, a separate PR can be created I think.

And ofcourse, the tests and docs will have to be added, modified and deleted (if applicable).

[2020-06-25 10:33] mik-dass commented on #2919
https://github.com/kubernetes/apimachinery/blob/2d992b89ee6927fc5ba834371774ade243cd3732/pkg/util/strategicpatch/patch.go#L812

This function might help in merging the structs and the directive can be added as https://github.com/kubernetes/api/blob/fd326d3007d39ad678622b2b4185892ec853aac2/core/v1/types.go#L2180.

[2020-06-25 11:10] prietyc123 commented on #3270
As per the last slack discussion i need another dockerfile to inject `oc` in test container path.  It seems shell script approach doesn't work.

[2020-06-25 11:39] amitkrout commented on #3307
@kadel
Steps to reproduce:
[code]

So this output confirms that the issue is with watch command itself.

Then what is the issue with the test script:

Timeout is happening while curling for a particular text instead of watch command. This is happening because watch command fails to capture the actual failure due to faulty script https://github.com/openshift/odo/blob/master/tests/integration/devfil

[2020-06-25 12:53] amitkrout opened #3420 "watch verification test script gives false positive"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
https://github.com/openshift/odo/blob/master/tests/e2escenarios/e2e_images_test.go#L96

## Actual behavior
watch verification test code https://github.com/openshift/odo/blob/master/tests/integration/devfile/utils/utils.go#L212 gives false posit

[2020-06-25 13:02] amitkrout commented on #3307
Issue https://github.com/openshift/odo/issues/3420 created for watch verification test script refactor

[2020-06-25 13:40] dharmit commented on #2920
@elsony the way we've done it right now is:

1. User will provide a command to link a component to an operator backed service:
[code]
2. odo will create a [`ServiceBindingRequest`](https://github.com/redhat-developer/service-binding-operator/blob/6f8116b2ac91587cee82f56cdd6c0d911892c4cb/pkg/apis/apps/v1alpha1/servicebindingrequest_types.go#L94-L100) in memory and populate it with required informat

[2020-06-25 13:54] dharmit opened #3423 "odo link to link devfile components with each other"
/kind user-story

## User Story
As a user I want to link a devfile component with another devfile component so that I can develop and deploy and a multi-component microservices application on k8s/OCP.

## Acceptance Criteria
- [ ] `odo push` should create a Secret on the cluster for devfile components
- [ ] `odo link <component-name>`, when executed from a devfile component directory, should link

[2020-06-25 13:58] dharmit commented on #3423
Adding needs info to understand how much we need this in this sprint and also to research if we can use Service Binding Operator to link components. I remember reading in their README that we can but I need to read/understand beyond that.

/triage need-information

[2020-06-25 13:58] dharmit commented on #3423
/triage needs-information

[2020-06-25 14:24] girishramnani commented on #3156
- lets do a POC on this
- then we can do testing on exhaustive images

[2020-06-25 16:34] maysunfaisal opened #3424 "odo v1 does not err out when project is not there"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

## How did you run odo exactly?
I created an odo component with a non existing project. Any odo commands that should err out, does not err out because of the missing project.
https://github.com/openshift/odo/blob/master/pkg/odo/genericclioptions/context.go#L331 is the actual problem

[2020-06-25 17:45] #2517 closed

[2020-06-25 18:25] cdrage opened #3426 "Devfile v2 issue: additional property exposure is not allowed"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

[code]

## Actual behavior

Additional property expose is not allowed.

## Expected behavior

I expect that our schema allows this since it's valid v2 devfile.

## Any logs, error output, etc?

N/A

ping @adisky

[2020-06-25 18:42] cdrage opened #3427 "Devfile v2 issue: additional property "apply" / exec is required / validate one and only schema"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

[code]

## Actual behavior

See above

## Expected behavior

Example v2 example to successfully deploy

## Any logs, error output, etc?

[2020-06-25 18:44] cdrage opened #3428 "Devfile v2 issue: Additional property protocol is not allowed"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

[code]

## Actual behavior

Failed on validation

## Expected behavior

Being able to correctly use devfile example

## Any logs, error output, etc?

[2020-06-25 18:47] cdrage opened #3429 "Devfile v2 issue: Should not give error if other than exec command types present in devfile"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

[code]

See below YAML:

[code]

I have a feeling it's from using quotes within the command. Or this here:

[code]

## Actual behavior

Failure when deploying

## Expected behavior

Being able to crrectly deploy with exec command

## Any logs, error output,

[2020-06-25 18:49] cdrage commented on #2919
FYI / my notes, this is a good example on how a parent should be implemented / used within the Devfile: https://raw.githubusercontent.com/devfile/kubernetes-api/master/devfile-support/samples/with-nodejs-parent.devfile.yaml

[code]

[2020-06-25 19:00] maysunfaisal commented on #3015
Updates:
- not changing the url code from the checklist because it shares code path with odo v1
- Cannot clean up build command because the docker/kube client API expects a command to be executed. For example,
our run command is `command: []string{adaptersCommon.SupervisordBinaryPath, adaptersCommon.SupervisordCtlSubCommand, "start", string(adaptersCommon.DefaultDevfileRunCommand)}` and this is fi

[2020-06-25 19:08] jgwest commented on #2851
Merged 🥂

/close

[2020-06-25 19:08] #2851 closed

[2020-06-26 04:00] mik-dass commented on #3429
id: buildSchemaAndOpenDevfile
      label: Build schema and open devfile
      commands:
        - buildSchema
        - openDevfile
      parallel: false

We don't support composite types of commands. There is a issue regarding support of composite commands #3338

[2020-06-26 04:09] mik-dass commented on #3426
The exposure property was added recently https://github.com/devfile/kubernetes-api/pull/84. So we currently don't have it in our schema and thus the failure during push.

[2020-06-26 04:15] mik-dass commented on #3427
Apply type of commands was added recently in the schema https://github.com/devfile/kubernetes-api/pull/87. So we currently don't have it in our schema. Currently we only support exec commands.

[2020-06-26 04:20] mik-dass commented on #3428
Protocol was added to the schema recently https://github.com/devfile/kubernetes-api/pull/84/. Thus we don't have it in our current schema.

[2020-06-26 05:07] #3005 closed

[2020-06-26 05:56] adisky commented on #3429
@cdrage yes we do not support composite commands, but it is a valid bug, IMO we should not error out if other types of command is present. This needs to be updated here
https://github.com/openshift/odo/blob/edc7c336973c3978d3e8cadfee99e1c3dff2b91c/pkg/devfile/adapters/common/command.go#L94

[2020-06-26 07:41] anandrkskd opened #3430 "Odo create --DownloadSource dosen't verify existing devfile.yaml in some cases."
/kind bug

## What versions of software are you using?

**Operating System:** supported

**Output of `odo version`:** master

## How did you run odo exactly?
[code]

## Actual behaviour
Looks good but it doesn't provide any information to what should be the next step.

## Expected behaviour
Give some suggestion along with the error statement what to do next may be deleting the component(devfile.ya

[2020-06-26 08:21] kadel commented on #3270
Can you provide more info on this. Why we need another Dockerfile just with `oc`?

[2020-06-26 09:27] neeraj-laad commented on #3300
@dharmit Thanks for raising this. Better to raise them now than never.. :)

Maybe I need to re-phrase this better. I see `odo deploy` is not meant for the recommended way for replying to multi-stage environments.

@dharmit Thanks for raising this. Better to raise this now than never. :)

In my view `odo deploy` is meant for deploying to a single environment (typically a development environment), I

[2020-06-26 11:48] kadel commented on #3300
If we are going to say `odo deploy` is meant for deploying to development environment that I see why @dharmit has ab issue with calling it `deploy`.
My assumption about `odo deploy` was that it will be the straight forward and **the most simples way to deploy the application to production**. It won't deal with multi-stage environments (dev,test,stage,prod) but it will be able to handle a situation

[2020-06-26 14:17] mik-dass opened #3433 "make test failing on 1.14"
/kind bug

## What versions of software are you using?

master

## How did you run odo exactly?

`make test`

## Actual behavior

[code]

## Expected behavior

`make test` should pass.

## Any logs, error output, etc?

[code]

[2020-06-26 15:54] maysunfaisal opened #3435 "odo watch does not tell me the err on devfile validation failure"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

## How did you run odo exactly?
`odo watch` but I had two default commands. It errors out but doesn't tell me what the error is and if I am newbie I wouldn't be able to figure out what the issue was

## Any logs, error output, etc?
[code]

[2020-06-26 17:22] maysunfaisal commented on #3280
/assign

[2020-06-26 20:14] johnmcollier opened #3436 "odo create interactive mode is broken for devfiles"
/kind bug
/area devfile

## What versions of software are you using?

**Operating System:**
macOS

**Output of `odo version`:**
master

It seems that `odo create`'s interactive mode is broken, and gives the following error:
[code]

It complains that the devfile component isn't supported (even though it is).

[2020-06-27 02:39] #2938 closed

[2020-06-27 17:53] #2544 closed

[2020-06-27 17:53] #2545 closed

[2020-06-28 09:20] amitkrout commented on #3270
@kadel Unlike other project we tried a nice and simple shell script workaround to inject oc binary to the test container path but unfortunately it did not work for a reason which even surprises @petr-muller from platform team. We should not spend more time on it to debug as this is a workaround ,so we can follow the same way like other project has been done it through another Dockerfile instead. F

[2020-06-29 07:49] amitkrout opened #3438 "watch detects incorrect file change"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
## Actual behavior
[code]

## Expected behavior
[code]

## Any logs, error output, etc?

[2020-06-29 07:50] amitkrout commented on #3438
ping @mik-dass

[2020-06-29 08:01] amitkrout opened #3439 "flag --delay 0 in watch command panic out"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
panic out

## Expected behavior
As per the UX it says with delay 0 should work with performance issue but it does not panic out.
[code]

[2020-06-29 08:08] stlaz commented on #764
Do 1., don't do 2. The whole world (go, Python, cURL are examples that I know of) is using HTTP(S)_PROXY env vars, don't try to be special.

[2020-06-29 08:21] mik-dass commented on #3438
Create a shell script check.sh and put it in the context dir tests/examples/source/nodejs/
$ cat check.sh

Since the file is in the component directory, it will be watched and pushed as well. Or am I missing something?

[2020-06-29 08:58] petr-muller commented on #3270
Not just that, but also Build API team was not able to help... :/

[2020-06-29 08:58] amitkrout opened #3440 "odo watch does not bother about component name"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
it does not bother about the ```randomname``` argument

## Expected behavior
should throw error something like ```✗  accepts at most 1 arg(s), received 2```

## Any logs, error output, etc?

[2020-06-29 12:04] adisky commented on #3156
@kadel Two problems i am facing currently,
- s2i assemble script expects source code to be mounted at /tmp/src, for devfiles we mount source code at /projects, this is causing assemble script to fail. I did a hack and passed `cp -a /projects/ /tmp/src/ && /opt/odo/bin/assemble-and-restart` as build command.

should we make project source location configurable for devfiles?

- supervisord configura

[2020-06-29 12:07] #3386 closed

[2020-06-29 14:21] cdrage opened #3441 "Devfile v2 issue: Edge-case, trying to "download" a non-Devfile .yaml file"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

[code]

## Actual behavior

Failed when downloading

## Expected behavior

Fail with a good error message / saying it's not a valid YAML.

## Any logs, error output, etc?

[2020-06-29 14:22] cdrage commented on #3441
ping @amitkrout @aditya-konarde @prietyc123

[2020-06-29 14:31] adisky commented on #3441
@cdrage you are passing `odo create --downloadSource --devfile https://github.com/odo-devfiles/nodejs-ex/archive/0.0.1.zip`
--devfile flag expects a devile.yaml path.

[2020-06-29 14:36] maysunfaisal commented on #3271
closing, fixed by https://github.com/openshift/odo/pull/3291

[2020-06-29 14:36] maysunfaisal commented on #3249
can be closed, fixed by https://github.com/openshift/odo/pull/3291

[2020-06-29 14:36] maysunfaisal commented on #3280
can be closed, fixed by https://github.com/openshift/odo/pull/3291

[2020-06-29 14:36] maysunfaisal commented on #3436
can be closed, fixed by https://github.com/openshift/odo/pull/3291

[2020-06-29 14:37] maysunfaisal commented on #3436
/assign

[2020-06-29 14:38] #3436 closed

[2020-06-29 17:13] cdrage commented on #3441
Woops, sorry! I was writing two issues at once. This one is validating the .yaml file that's downloaded. I've updated the issue.

[2020-06-29 17:39] cdrage opened #3442 "Devfile v2 issue: Unable to download zip file"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** master branch

## How did you run odo exactly?

See below:
[code]

## Actual behavior

Unable to download the .zip project. There are also NO integration tests being current ran against master. See: https://github.com/openshift/odo/blob/9a470629475bf6339dec637ee5ea8e326188a7fd/tests/in

[2020-06-29 18:01] #2434 closed

[2020-06-29 18:01] #2543 closed

[2020-06-29 18:02] cdrage opened #3443 "Devfile issue: Issue on error output of `odo <component> <name>` when there is already a devfile.yaml present."
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** Master branch

## How did you run odo exactly?

[code]

## Actual behavior

`Accepts between 0 and 1 arg when using existing devfile, received 2` output is quite ambiguous. We should note that you can pass in `odo <name>` instead of `odo <component> <name>`.

When using `odo create --h

[2020-06-29 18:26] GeekArthur commented on #3443
Using existing devfile can apply to two cases:
1. Devfile already exists in user’s context directory
2. Devfile exists in user specify path via `--devfile` (either file system path or URL)

We can update the error for the two cases separately

[2020-06-30 04:17] amitkrout opened #3444 "Additional flag --log_file along with odo subcommand doesn't work"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
## Actual behavior
No log file is generated in the specified path
[code]

## Expected behavior
Should create log file as per the UX description
[code]

## Any logs, error output, etc?

[2020-06-30 04:24] amitkrout commented on #3444
The same additional flags are also available for other sub commands too. I checked --log_file with preference command and it doesn't generate log file in the specified path.

I am changing the issue title to a generic one.

[2020-06-30 05:06] amitkrout opened #3445 "Additional flag --log_file_max_size and --skip_log_headers along with odo subcommand doesn't work"
follow up issue of https://github.com/openshift/odo/issues/3444

[2020-06-30 05:31] amitkrout opened #3446 "What additional flag --add_dir_header, --skip_headers and --vmodule does ?"
I am observing weird behaviour while using with watch and perference sub command

With watch command looks ok, but i don't know what it does

[code]

With preference command it throws error

[code]

[2020-06-30 05:32] amitkrout commented on #3446
ping @girishramnani @kadel

[2020-06-30 05:41] amitkrout commented on #3446
Same behaviour i am observing for ```--skip_headers``` too.

I need more information on ```--vmodule```. For example how to verify it
[code]

[2020-06-30 06:22] amitkrout opened #3447 "Add unsupported git component info in watch command help UX"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
No message is added for unsupported git component

## Expected behavior
UX should contain the unsupported git component message

## Any logs, error output, etc?

[2020-06-30 06:49] PradipPanigrahi opened #3449 "build issues with ppc64le on travis ci environment"
/on ppc64le environment :

when we go for travis ci build with ppc64le there is failure in build with master branch of code.
the error log is :
0.00s$ travis_install_go_dependencies 1.11.x -v
2.10s$ travis_script_go -v
go build -ldflags="-w -X github.com/openshift/odo/pkg/version.GITCOMMIT=f8ea5a5" cmd/odo/odo.go
cmd/odo/odo.go:7:2: cannot find package "github.com/openshift/odo/pkg/log" in any of:

[2020-06-30 08:46] kadel commented on #3156
yes, Source location for devfile component should be configurable using `${PROJECTS_ROOT}` (used to be `${CHE_PROJECTS_ROOT} in devfile v1)

yes

[2020-06-30 09:33] kadel commented on #3446
Why high priority?

/remove-priority high
/priority low

[2020-06-30 09:37] girishramnani commented on #3447
This doesn't seem like high priority to me. Any reason to put high priority
/remove-priority high
/priority medium

[2020-06-30 09:38] girishramnani commented on #3444
This doesn't seem like high priority to me. Any reason to put high priority
/remove-priority high
/priority medium

[2020-06-30 09:38] girishramnani commented on #3445
This doesn't seem like high priority to me. Any reason to put high priority
/remove-priority high
/priority medium

[2020-06-30 09:38] kadel commented on #3446
Those flags are coming from https://github.com/kubernetes/klog

[2020-06-30 10:04] jichenjc commented on #3241
/assign

[2020-06-30 10:15] metacosm commented on #3104
Using devfile 2, wouldn't one extend a devfile instead of checking it out and then changing it? I.e. if I want to change some parameters in a devfile, would I be better served extending that devfile and overriding the value I want instead of creating a whole new copy of the devfile (which I then would need to maintain) just to change one parameter?

[2020-06-30 10:17] kadel commented on #2920
Maybe I'm missing something. But `odo service list` should mainly list services. It can have additional information listing links for existing services, but the main thing that it should ist is services.

using `odo link <CRD>/<name>` is ok as long as we use the same system for listing services (`odo service list`)

[2020-06-30 10:24] kadel commented on #3449
Problem is location of odo source code. It needs to be in `$GOPATH/src/github.com/openshift/odo` on Travis that would be  `/home/travis/gopath/src/github.com/openshift/odo`. You have it in `/home/travis/gopath/src/github.com/PradipPanigrahi/odo`.

You need to make sure that the odo's go source code is correctly placed in $GOPATH. You should be able to achieve that by setting `go_import_path`(https

[2020-06-30 10:27] kadel commented on #3445
this is the same as https://github.com/openshift/odo/issues/3446
/triage duplicate
/close

[2020-06-30 10:27] #3445 closed

[2020-06-30 10:28] kadel commented on #3444
/triage duplicate
/close

This is related to
https://github.com/openshift/odo/issues/3446

[2020-06-30 10:28] #3444 closed

[2020-06-30 10:36] kadel commented on #3428
the protocol field is inside `configuration` so the proper placement is `components.3.container.endpoints.0.configuration.protocol`

[2020-06-30 10:39] adisky commented on #3271
/close

[2020-06-30 10:40] #3271 closed

[2020-06-30 10:40] adisky commented on #3249
/close

[2020-06-30 10:40] #3249 closed

[2020-06-30 10:41] adisky commented on #3156
Project source location could be configured via `sourceMapping` in devfile V2
https://github.com/openshift/odo/pull/3295

[2020-06-30 10:42] kadel commented on #3449
/area system-pz

[2020-06-30 10:47] kadel commented on #3442
This was not yet implemented.

[2020-06-30 10:50] kadel commented on #3442
/remove-kind bug
/kind feature

[2020-06-30 10:52] kadel commented on #3441
Not sure I understand this. @cdrage what would you do differently here?

[2020-06-30 10:59] girishramnani commented on #3442
shouldn't there be an issue for this already?

[2020-06-30 11:01] prietyc123 opened #3451 ""odo registry add" adds registry for invalid url in devfileV2"
/kind bug

## What versions of software are you using?

**Operating System:**
All

**Output of `odo version`:**
master

## How did you run odo exactly?

Steps to reproduce:

1. Enable experimental mode `odo preference set Experimental true`
2. `odo registry add wRegistry "http://api.google.com/q?exp=a|b"` with invalid url
3. `odo registry list`

## Actual behavior

[code]

## Expected behavior

`o

[2020-06-30 11:03] girishramnani commented on #3441
@kadel I think the error message should be more clear here - we need to show that `please provide a valid .yaml file` something like that?

[2020-06-30 11:05] girishramnani commented on #2327
As per a recent discussion - this issue was deemed as `good-to-have` for devfile v2

[2020-06-30 11:15] girishramnani commented on #3440
so should it bother about `randomname` or not?

also `randomname` is the first argument so why should it complain
`odo watch randomname randomname2` complains about
[code]
So I am a bit confused. can you please clarify the issue description @amitkrout

[2020-06-30 11:19] prietyc123 commented on #3451
Even I tried with `$` also but somehow it is converting the `$` into some random number.

[code]
This looks something weird to me.

[2020-06-30 11:23] adisky opened #3452 "odo create --devfile devfile.yaml, overriding the existing devfile to empty"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

## How did you run odo exactly?
$ odo create --devfile devfile.yaml

## Actual behavior
I want to deploy component with existing devfile, `odo create --devfile devfile.yaml`, This devfile has lots of configuration added
and `odo create --devfile devfile.yaml` overrided it to empty fi

[2020-06-30 11:30] kadel commented on #3451
This shouldn't be a high priority.

/remove-priority high
/priority low

We intentionally don't validate that the registry is accessible and in `odo registry add` command.

I think that `http://api.google.com/q?exp=a|b` is a valid URL.

`http://$$$$,,,,,@hdjh.hcgcyd` is another story, that is clearly invalid URL.

We definitely don't want to check if URL is available or not in  `odo registry add`.

[2020-06-30 11:55] mik-dass commented on #3451
We can maybe do some basic URL validation using `ParseRequestURI()` from the url package.

[2020-06-30 13:35] sarveshtamba opened #3454 "More often the issue "waited 4m0s but couldn't find running pod matching selector""
I have made changes to the `scripts/openshiftci-presubmit-all-tests.sh` and `scripts/configure-installer-tests-cluster.sh` for Power on the lines of the [Z changes](https://github.com/zhengxiaomei123/odo/commit/63913d652fef0f31c2a61b4b77e5a6c447ec9f0b).
Also done the setup required like creating the secret to pull redhat registry images. Currently I am trying to run the `scripts/openshiftci-presub

[2020-06-30 13:36] sarveshtamba commented on #3454
This seems to be the issue:-
[code]

[2020-06-30 13:38] sarveshtamba commented on #3454
/area system-pz

[2020-06-30 14:39] cdrage commented on #3441
@girishramnani is correct, I opened this issue as it should of errored out with a better error message saying that it's not a valid YAML file.

[2020-06-30 14:41] cdrage commented on #3442
@girishramnani I couldn't find one.

Funny enough, the zip code is there (plus tests), but it's edited ir or not used, for example: https://github.com/openshift/odo/blob/9a470629475bf6339dec637ee5ea8e326188a7fd/pkg/util/util_test.go#L1449

[2020-06-30 14:42] prietyc123 commented on #3270
After banging head a lot `oc` got injected to the multi-stage 😀 But here comes the new challenge, now facing permission issue with `KUBECONFIG` Failure : https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/9431/rehearse-9431-periodic-ci-openshift-odo-master-v4.2-integration-e2e-periodic-steps/1277932938616377344#1:build-log.txt%3A68

Due to this

[2020-06-30 14:54] GeekArthur commented on #3451
Regarding arguments/flags validation, the design is that we divide the validation into two stages:
Early validation stage: Only validate URL basic format, happens when user adds registry URL
Validation stage: Validate URL accessibility, happens when user uses registry URL

That design is based on `yum-config-manager`, design proposal with details under this thread: https://github.com/openshift/odo

[2020-06-30 16:29] GeekArthur commented on #3452
To make this issue more specific, the issue only happens when existing devfile and user specify devfile shares the same file system path. Existing devfile and user specify devfile use different paths work for me.

[code]

[2020-06-30 16:39] GeekArthur commented on #3452
To fix this, we can just add validation code at the beginning of the file copy function https://github.com/openshift/odo/blob/master/pkg/util/util.go#L1081 to return the function directly if source and destination paths are the same.

I believe the problem is that since we don't catch this edge case in the file copy function, then `os.Create()` and `os.Open()` conflicts with each other so that gen

[2020-06-30 17:26] amitkrout commented on #3443
I hit the same issue while trying devfile watch command test. The interesting thing is that we could not hit this in our CI run because we create the component first then the copy the devfile.yaml to the context dir in every spec.

[2020-06-30 17:35] elsony commented on #3373
merged
/close

[2020-06-30 17:35] #3373 closed

[2020-06-30 17:36] elsony commented on #3280
/close

[2020-06-30 17:36] #3280 closed

[2020-06-30 19:09] maysunfaisal opened #3456 "Fix odo devfile test dependency"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

Two issues:
- [ ] Currently, odo repo has some copies of devfile.yaml of various stacks which are written in different ways to test the various use case scenarios. These devfiles are not updated when the devfile registry is updated at https://github.com/odo-devfiles/registry/
- [ ] U

[2020-06-30 21:00] girishramnani commented on #3456
Ideally willy nilly merging PRs on odo-devfiles/registry, we should follow what we do for odo-init-image repo i.e. We should run the odo tests on PRs running on odo-devfiles/registry so that each change is validated

[2020-06-30 22:36] jgwest opened #3460 "Sync operation within the Push command does not remove deleted/renamed files when -f flag is set"
/kind bug

## What versions of software are you using?

**Operating System:** Windows

**Output of `odo version`:**
Built from a branch that is a couple days behind `master`.

## How did you run odo exactly?

It appears sync isn't removing deleted/renamed files inside the container if the `-f` flag is used:

Run these steps with a recent version of odo:
[code]

In the final step, you will see that

[2020-06-30 22:41] jgwest commented on #3460
/area Devfile

[2020-06-30 22:50] maysunfaisal opened #3461 "Fix odo push deployment rollout timeout"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

When I have two devfile components with the same image, `odo push` seems to intermittently timeout on deployment create:

[code]

/area devfile

[2020-07-01 02:27] gorkem commented on #2688
@kadel What is the expectation for `odo debug port-forward` command when determining the remote port? If `odo config set DebugPort` is retired in favor of setting the environment variable `DEBUG_PORT`. Does port-forward look only to the values on `env.yaml` ?

[2020-07-01 05:26] prietyc123 commented on #3451
I don't find it a valid url as it contains `|` which already has some special meaning. IMO if it is encoded as `http://api.google.com/q?exp=a%7Cb` then we can consider this a valid.

Yes, for such kind of urls we should add some format validation. Also we can consider to exclude those url which has some special meaning like `|` and `$`

+1

[2020-07-01 05:51] amitkrout commented on #3440
If you see may steps to reproduce, i have created a component of name ```nodejs-app```. In the next step i am passing a none existing component name along with watch and --context flag. Ideally it should report ```randomname``` is not present in the cluster, but does not care the component name instead it picks the correct component name whatever passed through the context flag.

Yes, its the firs

[2020-07-01 06:00] dharmit opened #3463 "How to create a valid URL when using kubernetes in the backend?"
/kind documentation

## What mistake did you find / what is missing in the documentation?
In the CLI documentation, I don't see a way to create a URL that assumes kubernetes/minikube as the backend.
[code]

## What is the relevance of it?
It is relevant because that's the first source of documentation for odo CLI user and it contains only CRC related examples.

----
### NOTE:
This issue is opened

[2020-07-01 06:03] dharmit commented on #3463
I tried below steps to create a URL on k8s but it didn't work for me:
[code]
But I can't access the app on http://node-todo-8080.192.168.39.95.nip.io. What am I doing wrong? :thinking:

[2020-07-01 06:03] dharmit commented on #3463
/area url
/area devfile

ping @mik-dass @yangcao77

[2020-07-01 06:19] amitkrout commented on #3446
@kadel @girishramnani As a user i see these flags in odo help and there are no information from odo side to explain those, i mean where to use, how to use. It's odo responsibility to provide the detail information about these flags, may be a reference how to uses this. Interesting part is that since a long time we have been exposing it through odo but no one has verified it i guess.

TBH as a QE (

[2020-07-01 06:26] amitkrout commented on #3438
yes, i would suggest please go through how to reproduce in the issue description.

[2020-07-01 06:56] mik-dass commented on #3438
That's what I did. The line
[code]
seems to suggest that script file was added in the context component directory. Thus it's getting pushed.

[2020-07-01 07:09] adisky commented on #3452
@GeekArthur yes, you are right it happens only when you specify path for devfile from current context directory, but still it should not override the file.

[2020-07-01 07:25] mik-dass commented on #3438
[code]
It seems to work for me.

[2020-07-01 07:53] prietyc123 opened #3465 ""odo component describe component nodes" expected invalid "name: nodejs-web-app""
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master

## How did you run odo exactly?

Running `odo component describe component nodes` on travis CI.

## Actual behavior

[code]

## Expected behavior

The [output](https://github.com/openshift/odo/blob/master/tests/integration/devfile/cmd_devfile_catalog_test.go#L109) of `o

[2020-07-01 07:58] mik-dass commented on #3438
I could reproduce the issue only if I perform the actions immediately one after the other without much delays. Also the touch actions doesn't get detected then.

[2020-07-01 08:26] kadel commented on #2931
Where we are on that? Is this getting blocked by something?

[2020-07-01 08:28] amitkrout commented on #3454
@sarveshtamba Can you please share the spec failure log instead of failure summary.

[2020-07-01 08:32] mohammedzee1000 commented on #764
I kind of agree with @stlaz here. What i want though is to confirm this is what oc does?

[2020-07-01 08:39] kadel commented on #3378
/remove-priority medium
/priority high

[2020-07-01 08:41] mohammedzee1000 commented on #764
@greg-pendlebury can you verify if setting `HTTP_PROXY` and `HTTPS_PROXY` to your proxy server fixes your problem?

[2020-07-01 08:41] mohammedzee1000 commented on #764
@stlaz this is what lead me to consider further investigation ^

[2020-07-01 08:47] prietyc123 commented on #3465
It has been fixed in #3459