[2019-12-20 14:26] kadel commented on #2464
We should focus on spinning up services from installed operators.
Similarly, how we are not installing ServiceCatalog Brokers because that is cluster admin's job we don't need to spend much time on providing commands for installing Operators, as this is usually cluster admin's job.
This might change in the future, as there are some plans to allow user accounts to install certain verified operators

[2019-12-20 14:32] kadel commented on #2480
Isn't `KeyCloakUser` just a configuration for KeyCloack in form of CRD?

[2019-12-20 14:41] kadel commented on #2480
I think that you are meshing two things together.
- `odo service describe` describes already provisioned service
- `odo catalog describes service` is a command that describes service from **odo** catalog of services. Those are services that can be deployed using odo.

Both commands (`odo service describe`  and  `odo catalog describes service`) need to work also with operator backed services.

cata

[2019-12-20 14:42] kadel commented on #2352
It might take a different form, but yes. This is something that we are still interested in

[2019-12-20 18:54] #2404 closed

[2019-12-20 20:32] maysunfaisal commented on #2445
Any updates on this one? :)

[2019-12-20 20:38] GeekArthur commented on #2445
@kadel We hit this issue frequently recently, can you please let someone take a look this issue? Thanks.

[2019-12-23 09:17] girishramnani commented on #2480
understood, changed the description and title of the issue

[2019-12-23 13:25] dharmit commented on #2461
We are working on a proposal document and hence moved the issue to "In Analysis" state. Goal is to come up with a proposal like we did for odo debug.

[2019-12-23 13:50] girishramnani commented on #2208
@jeffmaury I can introduce a new list called `supportedTags` which will list all the supported tags ( subset of `nonHiddenTags` )

[2019-12-24 07:53] girishramnani commented on #2485
I feel this is a feature because

means that a feature to tell configuration is pushed or not is missing. what do you think @mohammedzee1000 ?

[2019-12-24 08:32] prietyc123 commented on #2483
PR for this issue is almost related to https://github.com/openshift/odo/pull/2457 PR. So I am just waiting for the PR to get merged.

[2019-12-26 07:05] dharmit opened #2487 ""odo catalog describe service" doesn't work outside a component directory"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `master`

## How did you run odo exactly?
[code]

## Actual behavior
odo didn't describe the service from outside a component directory

## Expected behavior
odo should describe the service because we're just fetching the info from Service Catalog. We're not querying a service running in

[2019-12-26 07:22] dharmit opened #2488 ""odo catalog describe service" fails for services with more than one plans"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `master`

## How did you run odo exactly?
[code]
## Actual behavior
All of the services above, for which we're seeing the `✗  json: cannot unmarshal number into Go struct field ServicePlanParameter.Properties.default of type string` error, have multiple plans. Refer the logs below.

## E

[2019-12-26 08:14] girishramnani commented on #2487
@dharmit I feel this should be area/catalog as the commands with `odo catalog *` come under that :slightly_smiling_face:

[2019-12-26 08:16] girishramnani commented on #2488
we can have a flag `--plan` similar to `odo service create` to resolve this @dharmit

[2019-12-26 08:31] girishramnani commented on #2102
Currently when I execute the same command
[code]
I get this as an output.
Which would mean this is not a bug but a feature @cdrage ?

[2019-12-26 08:37] girishramnani commented on #2084
seems like a duplicate of https://github.com/openshift/odo/issues/2093

[2019-12-26 08:37] girishramnani commented on #2084
closing

[2019-12-26 08:37] #2084 closed

[2019-12-26 08:45] girishramnani commented on #2069
Actually when you provide param using odo then its not stored as secret vs when creating using oc its created as a secret and then injected. I had opened an issue related to this https://github.com/openshift/odo/issues/2044

[2019-12-26 08:49] girishramnani commented on #2069
as per @kadel comment it seems this is a duplicate. Closing

[2019-12-26 08:49] #2069 closed

[2019-12-26 09:05] girishramnani commented on #2061
The PR for `--now` flag is this https://github.com/openshift/odo/pull/2482

[2019-12-26 09:06] girishramnani commented on #2058
closing this as it seems new odo versions provide a simpler way of `linking` components

[2019-12-26 09:06] #2058 closed

[2019-12-26 09:08] girishramnani commented on #2102
seems like this is a duplicate of https://github.com/openshift/odo/issues/2056.
Closing this one as its newer

[2019-12-26 09:08] #2102 closed

[2019-12-26 09:20] girishramnani commented on #2048
maybe we can add that as part of the output?
[code]
or something?

[2019-12-26 09:27] girishramnani commented on #1980
In my opinion, I dont feel we will be doing anything related to telemetry for next 6 months? hence closing this issue for now.

[2019-12-26 09:27] #1980 closed

[2019-12-26 09:29] girishramnani commented on #1979
If I remember correctly this was resolved on vs code plugin side already? @mohitsuman .
Closing for now, please re-open this issue if it's not yet resolved :slightly_smiling_face:

[2019-12-26 09:29] #1979 closed

[2019-12-26 09:30] girishramnani commented on #1970
+1 to @kadel . Component creation shouldn't be part of validation.
Closing this issue for now :slightly_smiling_face: .

[2019-12-26 09:30] #1970 closed

[2019-12-26 09:34] girishramnani commented on #1956
`✗  Waiting for build to finish [30s]` This line states that the timeout when this issue was opened was 30s which has been increased to 240s ( if I remember correctly ). Hence I don't think we will encounter this error again

[2019-12-26 09:34] #1956 closed

[2019-12-26 09:36] girishramnani commented on #1949
For now we cannot change this behaviour. Hence closing this issue.

[2019-12-26 09:36] #1949 closed

[2019-12-26 09:38] girishramnani commented on #1946
@cdrage is this still an issue?

[2019-12-26 09:39] girishramnani commented on #2077
seems like this is a duplicate of https://github.com/openshift/odo/issues/2077, closing this as its newer

[2019-12-26 09:39] #2077 closed

[2019-12-26 09:43] girishramnani commented on #1943
seems like this is duplicate of https://github.com/openshift/odo/issues/1483. Closing this issue as its newer

[2019-12-26 09:43] #1943 closed

[2019-12-26 09:44] girishramnani commented on #1930
the source even though is relative is still correct so this should be a feature

[2019-12-26 10:04] girishramnani opened #2490 "we are still using odo.openshift.io/v1alpha1 as apiVersion for json output ( post GA )"
[kind/Feature]

## Which functionality do you think we should add?
We are still using `odo.openshift.io/v1alpha1` as the ApiVersion for
machine readable output mostly everywhere in odo.
Post GA we should change it `odo.openshift.io/v1`?
https://github.com/openshift/odo/blob/d1d002d3b04ca02ec2c3593866e34c449d460946/pkg/machineoutput/types.go#L16

[2019-12-26 10:04] girishramnani commented on #1903
This issue is somewhat related https://github.com/openshift/odo/issues/2490

[2019-12-26 10:06] girishramnani commented on #1882
The benefit we would get from this feature would outweigh the effort in my opinion so closing this for now

[2019-12-26 10:06] #1882 closed

[2019-12-26 10:10] girishramnani commented on #1942
/assign drichtarik

[2019-12-26 10:10] girishramnani commented on #1942
@kadel cannot assign this issue to @drichtarik

[2019-12-26 10:14] girishramnani commented on #1817
we have kclient package work already in progress, hence closing this issue

[2019-12-26 10:14] #1817 closed

[2019-12-26 10:15] girishramnani commented on #1818
we already have kclient package issue in progress https://github.com/openshift/odo/issues/2436 hence closing this issue

[2019-12-26 10:15] #1818 closed

[2019-12-26 12:08] dharmit commented on #2488
You mean user should then try to do something like:
[code]

In that case, what do you propose the default behaviour for `odo catalog describe service dh-import-vm-apb` be? At the moment, it's this command that's failing altogether.

[2019-12-26 12:09] dharmit commented on #2487
Ack. But the description for `area/service` label says that anything related to service catalog could belong to it. Anyway, `catalog` seems more appropriate here. Thanks for the tip.

[2019-12-26 12:49] dharmit commented on #2462
Upon further reading, I figured that `InstallPlan`s are for the life-cycle of the Operator itself. They don't seem to have much to do with spinning up the CRs.

[2019-12-26 14:22] #1915 closed

[2019-12-27 09:45] #2208 closed

[2019-12-30 07:32] dharmit commented on #2113
The changes I've made to fix this issue of deleting a service deployed from Service Catalog when user deletes the app (`odo app delete app -f`) can be found at https://github.com/openshift/odo/compare/master...dharmit:fix-2113. However, something's off with the permissions and it doesn't let me delete the service binding and service instance. I'm not able to figure out what's wrong. PTAL at the ou

[2019-12-30 07:37] girishramnani commented on #2113
Can you try to delete the service using web console or using oc? If that happens successfully something is wrong with our code. We can then further investigate

[2019-12-30 08:25] dharmit commented on #2113
Yes it works through `oc` cli and web console. Errors only when using `odo.`

[2019-12-30 08:52] dharmit commented on #158
Adding the odo config values (`.odo/config.yaml`) to git helps achieve this for a component. Unless this is really for applications (accessed by `odo app`), I think that should suffice.

[2019-12-30 13:07] mik-dass commented on #2015
@kadel @girishramnani @cdrage How about we add a `odo-debug.lock` file in the odo directory when a debugging session starts and delete the file when the session ends? The file will contain the local port number of the debug and the PID.

I also looked into the RPC/http server concept but the problem was finding the port number of the serving program itself.

[2019-12-30 13:34] dharmit commented on #653
Considering that issue was opened long time ago, I'm assuming that we're discussing `.odo/config.yaml` file. Please correct me if I'm wrong.

At the moment, if we change the application of the project by doing `odo config set application <app-name>` and do `odo push`, we can deploy the same component to multiple applications.

Same as that for deploying same component to multiple applications, but

[2019-12-31 08:28] dharmit commented on #2113
@girishramnani I figured out the issue. Opened a PR. :man_dancing:

[2019-12-31 12:21] dharmit commented on #798
At the moment, we have this output:
[code]

A tabular output as suggested in the OP would be a better idea, IMO.

[2019-12-31 12:41] dharmit commented on #807
@kadel I removed the `epic` label and added `documentation` since it's only the docs that need to be added for this. But I'm guessing that's wrong since we have a dedicated issue open for the docs part of the epic. WDYT? :thinking:

[2020-01-02 06:43] girishramnani commented on #2488
we could make the `--plan` a mandatory field, but with a good help message like
[code]
or
`odo catalog describe service` describes all the plans as we already have it in the response? ( not so UX friendly approach )

[2020-01-02 10:00] girishramnani commented on #1790
@dgolovin is this issue still relevant?

[2020-01-02 10:03] girishramnani commented on #1781
it seems we cannot do anything for unexpected situations. Hence closing this for now.

[2020-01-02 10:03] #1781 closed

[2020-01-02 10:06] dharmit commented on #2465
Currently triaging issue 830.

[2020-01-02 10:06] girishramnani commented on #1752
It seems now we have integration tests for catalog command here https://github.com/openshift/odo/blob/b14cd3a0e1f09b274cb43153a518107f130eff2f/tests/integration/servicecatalog/cmd_service_test.go#L58

[2020-01-02 10:06] girishramnani commented on #1752
closing this issue

[2020-01-02 10:06] #1752 closed

[2020-01-02 10:13] girishramnani commented on #1678
we already have some work being done on `kclient` package in this PR https://github.com/openshift/odo/pull/2458
Hence closing

[2020-01-02 10:13] #1678 closed

[2020-01-02 10:15] girishramnani commented on #1669
watch tests have been re-enabled  as it can be observed here https://github.com/openshift/odo/blob/master/tests/integration/cmd_watch_test.go

[2020-01-02 10:15] #1669 closed

[2020-01-02 10:16] girishramnani commented on #1663
/project "Sprint 169"

[2020-01-02 10:19] girishramnani commented on #1663
TBH this issue has been open for long and we have been able to live without this feature. Hence closing. If someone feels it is still relevant then they can re-open this issue

[2020-01-02 10:19] #1663 closed

[2020-01-02 10:20] girishramnani commented on #1623
so do you think @kadel there is a fix for this issue other then not using the `default` project?

[2020-01-02 10:22] girishramnani commented on #1613
In one of the discussions with @kadel we decided to not run tests as nightly but on each PR.
Hence I think this issue becomes invalid. Closing.

[2020-01-02 10:22] #1613 closed

[2020-01-02 10:24] girishramnani commented on #1611
We might not be able to do anything in terms of controlling the s2i builder images present in the cluster. Hence closing this issue for now.

[2020-01-02 10:24] #1611 closed

[2020-01-02 10:27] girishramnani commented on #1603
@mohammedzee1000 is this still the case?

[2020-01-02 10:32] girishramnani commented on #1561
We have golangCI bot enabled and I am not sure about the importance of codeclimate bot.
Closing this issue. If someone feels codeclimate is helping us then please re-open this issue

[2020-01-02 10:32] #1561 closed

[2020-01-02 10:37] girishramnani commented on #1504
is this still occurring @mohammedzee1000 ?

[2020-01-02 10:42] girishramnani commented on #1480
This issue has been fixed in https://github.com/openshift/odo/pull/2098

[2020-01-02 10:42] #1480 closed

[2020-01-02 10:46] girishramnani commented on #1475
- `-o` was made global as part of https://github.com/openshift/odo/pull/1898 PR

- then there was an issue which concluded that `-o` shouldn't be global https://github.com/openshift/odo/issues/2031 which was resolved by https://github.com/openshift/odo/pull/2160

Hence closing this issue

[2020-01-02 10:46] #1475 closed

[2020-01-02 10:55] girishramnani commented on #1411
we have the tests running on openshift CI so it seems this issue is not valid anymore.
cc @mohammedzee1000
Hence closing

[2020-01-02 10:55] #1411 closed

[2020-01-02 11:06] girishramnani commented on #1388
closing this for now, if this issue still seems relevant then please do re-open it.

[2020-01-02 11:06] #1388 closed

[2020-01-02 11:10] girishramnani commented on #1381
[code]
`-o` seems to be implemented for `odo project create`.
Hence closing

[2020-01-02 11:10] #1381 closed

[2020-01-02 11:12] girishramnani commented on #1352
closing this issue as we haven't seen any request for this feature so far. If someone feels this feature is need then they can re-open this issue

[2020-01-02 11:12] #1352 closed

[2020-01-02 11:16] girishramnani commented on #1318
currently as we ask for confirmation `Are you sure you want to delete nodejs-nodejst-lmgk from app? (y/N) ` at most of the `delete` commands. I dont see a need for having a `dry-run` flag anymore.
cc @mohammedzee1000 .
Closing this for now

[2020-01-02 11:16] #1318 closed

[2020-01-02 11:19] girishramnani commented on #1273
it seems this was added as part of #1263 as mentioned by suraj above.
Closing this issue

[2020-01-02 11:19] #1273 closed

[2020-01-02 11:23] girishramnani commented on #1267
do we need unit test for `addRecursiveWatch` function @mik-dass ? if no then please close this issue.

[2020-01-02 11:25] girishramnani commented on #1260
this can be considered part of https://github.com/openshift/odo/issues/2256

[2020-01-02 11:27] girishramnani commented on #1244
Closing this issue as currently we don't have plans to implement this for next 6 months. Please re-open this if someone feels this is relevant now.

[2020-01-02 11:27] #1244 closed

[2020-01-02 11:29] girishramnani commented on #1239
This can be replicated by implementing on component level like having application logic periodically running a task.
Currently we dont have plans to implement this for next 6 months hence closing this issue. If someone feels its relevant now, please re-open this issue

[2020-01-02 11:29] #1239 closed

[2020-01-02 11:34] girishramnani commented on #1206
we have a plan to test interactive mode in this issue https://github.com/openshift/odo/issues/2194.
Hence closing current issue.

[2020-01-02 11:34] #1206 closed

[2020-01-02 11:37] girishramnani commented on #1184
we have show the env variables available as part of `odo link` and `odo service create` has interactive mode which provides enough information. Hence I feel the scope of this issue has been implemented.
Closing
cc @kadel

[2020-01-02 11:37] #1184 closed

[2020-01-02 11:39] girishramnani commented on #1179
@kadel has implemented a template for integration tests as part of this PR https://github.com/openshift/odo/pull/1535.
Hence closing this issue.

[2020-01-02 11:39] #1179 closed

[2020-01-02 11:41] girishramnani commented on #1170
This issue is a subset of https://github.com/openshift/odo/issues/1549.
And hence closing.

[2020-01-02 11:41] #1170 closed

[2020-01-02 11:44] girishramnani commented on #1164
we have tests running on 3 latest versions of openshift. ( v4.3,2.1 at the time of writing ) and have neatly defined spec and can run tests which are scoped into "component", "storage", "url" etc.
In my opinion, the scope of this issue has been implemented. Hence closing. If someone feels there is more need to close this issue then please re-open this issue.

[2020-01-02 11:44] #1164 closed

[2020-01-02 11:48] girishramnani commented on #1152
currently we don't have plans to implement multi-component in a single directory. Closing this issue for now but if someone feels this feature is needed then please re-open this issue.

[2020-01-02 11:48] #1152 closed

[2020-01-02 11:51] girishramnani commented on #1147
`odo config set --env` now allows users to set env variables as part of local odo config. Hence the scope of this issue has been implemented. Closing.

[2020-01-02 11:52] girishramnani commented on #1136
currently we are using tab writer for listing components and other resources. Hence closing this issue

[2020-01-02 11:52] #1136 closed

[2020-01-02 11:59] girishramnani commented on #1155
Our user facing documentation have been moved to https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/understanding-odo.html. So it seems this issue is not relevant anymore. Closing this issue.

[2020-01-02 11:59] #1155 closed

[2020-01-02 12:09] girishramnani commented on #918
this issue needs more information and it seems for now we haven't seen any activity hence closing.

[2020-01-02 12:09] #918 closed

[2020-01-02 12:16] girishramnani commented on #873
we have machine readable output implemented which makes it easy for tools to integrate odo with them. Closing this issue for now as it seems the scope of this issue has been implemented.

[2020-01-02 12:16] #873 closed

[2020-01-02 12:35] dharmit commented on #838
At the moment, the word "component" has become a centrepiece to odo. So I don't think we're going to change `odo catalog list components` to something else.

[2020-01-02 12:35] #838 closed

[2020-01-03 12:28] dharmit opened #2493 "Have checks for "bindingName" and "namespace" to avoid empty values in "CreateServiceBinding""
/kind discussion

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** master

## How did you run odo exactly?
The unit tests for `CreateServiceBinding` function have empty value for `bindingName`. Yet the tests pass.

https://github.com/openshift/odo/blob/8df0edaacef0c4b74f8a7e28037c8cd4a8638953/pkg/occlient/occlient_test.go#L1396-L1408

However, wh

[2020-01-03 12:38] #1778 closed

[2020-01-03 12:38] #1782 closed

[2020-01-03 12:38] #2155 closed

[2020-01-03 12:41] dharmit commented on #2493
For more context, refer the discussion on this comment https://github.com/openshift/odo/pull/2491#discussion_r362746030.

[2020-01-05 17:53] kadel commented on #1147
/open
a lot of s2i projects are using `.s2i/environment` file. Odo wants to support s2i so this is something that should be supported.

[2020-01-06 07:41] mohammedzee1000 commented on #2485
/remove-kind bug
/kind feature

[2020-01-06 07:43] mohammedzee1000 commented on #2485
Yea, I think I can agree with that

[2020-01-06 07:52] mik-dass commented on #1267
I guess we can close this as the function using this has been covered by unit tests.

[2020-01-06 07:57] girishramnani opened #2495 "suggestion for the the pull request template"
/kind documentation

## What mistake did you find / what is missing in the documentation?
Currently the template has this quoted string. I would suggest that it could be a comment instead?

[2020-01-06 08:31] #1267 closed

[2020-01-06 09:47] mik-dass commented on #2015
@kadel @girishramnani @cdrage The idea proposed above

- When a debug session starts, create temporary file `odo-debug-info.json`, put the process id, local and the remote port of the current debug session into the file.
- When `odo debug info` is run during an active debug session, we check for the above file. If the file is not present, we inform the user that no debug session is active. If the

[2020-01-06 09:53] dharmit commented on #2479
+1 we should just use `odo service list` for this unless there's a real need for `status` command.

[2020-01-06 10:49] dharmit commented on #2480
@kadel there's no `odo service describe` command right now. The closest we have to describing (not listing) service right now is:
[code]
But one could argue that it's just `odo service list` output in a non-tabular fashion.
[code]

[2020-01-06 11:57] pmacko1 commented on #2320
I was not working on this issue, @boczkowska could you provide an update, please?

[2020-01-06 12:19] dharmit commented on #2481
Nitpicking here but I assume you mean that we need to augment the command be able to delete services/operands created from Operators and not the Operators themselves. :wink:

[2020-01-06 12:21] boczkowska commented on #2320
Done here: https://github.com/openshift/openshift-docs/pull/18477

[2020-01-06 12:24] boczkowska commented on #2321
Done here: https://github.com/openshift/openshift-docs/pull/18478

[2020-01-06 12:27] boczkowska commented on #2183
We have a separate module on setting / unsetting variables now which users can refer to: https://github.com/openshift/openshift-docs/pull/18478

[2020-01-06 12:27] boczkowska commented on #2179
Added expanded documentation on odo architecture. Hopefully, it covers at least some of the weaker points in docs: https://github.com/openshift/openshift-docs/pull/18490

[2020-01-06 12:30] boczkowska commented on #2196
We do have the docs for Java - "Creating a multicomponent application with odo" example includes instruction for creating a back-end Java comonent - https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/creating-a-multicomponent-application-with-odo.html

[2020-01-06 13:14] girishramnani commented on #2093
The PR was merged and hence we can close this issue.

[2020-01-06 13:14] #2093 closed

[2020-01-06 13:17] girishramnani commented on #2178
the PR is merged. we can close this issue

[2020-01-06 13:17] #2178 closed

[2020-01-06 13:27] kadel commented on #2465
Issues without kind: https://github.com/openshift/odo/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+-label%3Akind%2Fflake+-label%3Akind%2Fcleanup+-label%3Akind%2Fepic+-label%3Akind%2Fcode-refactoring+-label%3Akind%2Ftest+-label%3Akind%2Fdocumentation+-label%3Akind%2Fdiscussion+-label%3Akind%2Ffeature++-label%3Akind%2Fbug+

[2020-01-06 13:32] girishramnani commented on #2320
As the PR was merged, we can close this issues

[2020-01-06 13:32] #2320 closed

[2020-01-06 13:32] girishramnani commented on #2321
as the PR has been merged, we can close this issue

[2020-01-06 13:32] #2321 closed

[2020-01-06 13:54] girishramnani commented on #2463
after a discussion with service binding operator team, we can go without that and use internal constructs

[2020-01-06 14:01] dharmit commented on #2051
Closing this since it's a helpful side-effect. :wink:

[2020-01-06 14:01] #2051 closed

[2020-01-06 14:40] kadel commented on #2196
@dharmit  is this enough?

[2020-01-06 17:20] rajivnathan commented on #2471
/assign @rajivnathan

[2020-01-07 02:05] sspeiche commented on #1229
This feature is still value

/lifecycle frozen

[2020-01-07 02:06] sspeiche commented on #2142
This feature is still valid

/lifecycle frozen

[2020-01-07 02:06] sspeiche commented on #1237
This feature is still valid

/lifecycle frozen

[2020-01-07 02:06] sspeiche commented on #1238
This feature is still valid

/lifecycle frozen

[2020-01-07 02:07] sspeiche commented on #1236
This feature is still valid

/lifecycle frozen

[2020-01-07 06:31] girishramnani commented on #2347
currently when I add a storage and then push I can see the log that `Added storage <name> to <component>`
[code]

[2020-01-07 06:32] girishramnani commented on #2347
and also
[code]
odo tells me to do `odo push` as well when I create the storage.

[2020-01-07 06:34] girishramnani commented on #2347
Hence it seems that this issue has been implemented already and hence closing.

[2020-01-07 06:34] #2347 closed

[2020-01-07 06:39] girishramnani commented on #2487
This is a duplicate of https://github.com/openshift/odo/issues/2111. Hence closing this issue as its more recent.

[2020-01-07 06:39] #2487 closed

[2020-01-07 06:55] girishramnani commented on #2191
to create a secured route other then these two parameters. We need to have 3 more values present in the route struct
[code]
The `key`, `certificate` and `caCertificate`.

[2020-01-07 09:43] kadel commented on #2395
Let's close this issue for now.
/close
Currently, odo requires supported images to have debug support.
Not sure if this restriction is good or not, we might want to revisit it in the future.

[2020-01-07 09:43] #2395 closed

[2020-01-07 10:44] #2409 closed

[2020-01-07 11:27] kadel commented on #2459
It should work like this:
- when `odo debug port-forward` is executed it first should test if the `DefaultDebugPort` is available. If it is, then use that as a local port. This will make sure that in most cases the port number is predictable.
- if `DefaultDebugPort` is already taken than odo can pick any available port (for example binding to port 0 does that)

[2020-01-07 11:32] kadel commented on #2191
We also need to consider how would this work on Kubernetes with `Ingress`

[2020-01-07 12:00] mohammedzee1000 commented on #2476
I think the easiest way to sort this to `rm -rf *.jar|war|ear` every time push happens.

This could, of course, be expensive, in which case, maybe a config/env say for eg `ODO_JAVA_CLEAN` for example (maybe can think of a better name) which will be set to true or false depending on if we need a fresh build (for eg any change needs rebuild of sources should set `ODO_JAVA_CLEAN`). And then when we c

[2020-01-07 12:08] kadel commented on #2476
Wouldn't it be enough to do this just on the backup directory?

[2020-01-07 12:14] mohammedzee1000 commented on #2476
Hmm, yea, I think that should work. We will need to do this either before the copy to backup happens or after the build completes, again from backup.

One thing though is are there any scenarios where we might want to keep built artifacts in backup as well. That is something I am looking at at the moment

[2020-01-07 12:28] dharmit commented on #598
We recently opened #2493 after an extensive discussion on https://github.com/openshift/odo/pull/2491#discussion_r362746030 & https://github.com/openshift/odo/pull/2491#discussion_r362734118. Two arguments (one of them mine) mentioned that it should be OpenShift API's responsibility to perform these checks https://github.com/openshift/odo/pull/2491#discussion_r362739891 & https://github.com/openshi

[2020-01-07 13:08] #2436 closed

[2020-01-07 13:10] mohammedzee1000 commented on #2476
I think the best action would be to `rm -rf *.jar|war|ear` whenever push source  is done ie
- -f
- --source
- file changes detected

[2020-01-07 15:25] #2439 closed

[2020-01-07 19:10] johnmcollier commented on #2436
/assign @johnmcollier

[2020-01-07 19:16] johnmcollier commented on #2473
/assign @johnmcollier

[2020-01-07 19:28] maysunfaisal commented on #2472
I can take a look at this,

/assign @maysunfaisal

[2020-01-08 08:24] girishramnani commented on #2191
We can provide these certificates and key as flags e.g. `--key`. And these flags will be location to a file which odo will read and populate the respective attribute

[2020-01-08 08:41] dharmit commented on #2488
Interestingly it doesn't fail for the service `dh-postgresl-apb` in spite of it having two plans. :confused:

[2020-01-08 08:48] girishramnani commented on #805
Closing as per my above comment

[2020-01-08 08:48] #805 closed

[2020-01-08 08:53] girishramnani commented on #2465
All issues mentioned @kadel now have kind and area. Hence closing this issue.

[2020-01-08 08:53] #2465 closed

[2020-01-08 09:01] girishramnani commented on #2488
like docker tags I think services could also have tags and maybe one of the two plan just points to the other one?

[2020-01-08 09:11] girishramnani commented on #2369
Two points to discuss here -

We can either derive the prefix from the component name by default or not have any if the user doesn't set it.

We can set the prefix in the local odo config and allow the user to set it using `odo config set EnvPrefix <prefix>`.

[2020-01-08 09:16] girishramnani commented on #2400
We have to create a list of `Links` in the odo local config. The essential information needed here are the 1st component and other component/service info ( component, app and project name ).
The current component present in the local config can be assumed as the 1st component so we need to only store the other component/service's info

[2020-01-08 09:24] girishramnani commented on #2444
This issue seems well defined in terms of what work needs to be done. So no further analysis needed in my opinion.

[2020-01-08 09:26] girishramnani commented on #2445
@GeekArthur we have moved this issue in the current sprint 🙂

[2020-01-08 12:01] kadel commented on #2495
Is there a line comment syntax for markdown?
 As far as I know, only HTML style block comments work (`<!-- !>`)

[2020-01-08 12:17] kadel commented on #2493
This is due to the fact that fakeClient doesn't send anything to the api server (which is the whole purpose of the fakeClient) and validations like this are the responsibility of the Kubernetes api server.

Is it correct that we don't have client-side validations for this and leave this up to the api server to return error?
I would probably say that it is ok. The code will error out with a descrip

[2020-01-08 12:42] kadel commented on #2400
Scenario:
- I clone a repository, for example, wildwest-frontend that  that uses odo (has .odo/config.yaml) and there is a Link in the config that points to `wildwest-backend`
- now I run `odo push` in  wildwest-frontend directory, but `wildwest-backend` is not deployed yet.

What should happen?

[2020-01-08 12:45] kadel commented on #2444
/triage ready

[2020-01-08 12:48] kadel commented on #2369
No prefix by default would be better.

The component can have multiple links, and each link can have a different prefix.
The prefix needs to be parameters of a link.
It should probably be something like this `odo link mysql --env-prefix=DATABASE`

[2020-01-08 13:10] girishramnani commented on #2290
The only thing left here is to convert this plan into markdown

[2020-01-08 14:07] mohammedzee1000 commented on #2476
The problem related to a build failing could probably be handled by renaming the file instead of removing it. If the build fails (we do detect failure right) we put it back. If it succeeds, we can delete it

[2020-01-08 14:14] dharmit commented on #2196
Closing this in favour of #839. Also opening a topic for Cabal call to discuss if we need more examples in general.

[2020-01-08 14:14] #2196 closed

[2020-01-08 14:38] dharmit commented on #2452
@mohitsuman @dgolovin any comments?

[2020-01-09 06:24] dharmit commented on #2488
Honestly, I don't understand what you mean. But that's probably because I'm looking at this from a particular point of view and not able to see from yours.

What I've found so far is that it's failing in `service` package while trying to unmarshal the json at: https://github.com/openshift/odo/blob/7647d9084584c82c9b2f3311f36ad595dc7d8c70/pkg/service/service.go#L325-L328

I used `oc` to get the jso

[2020-01-09 06:33] girishramnani commented on #2488
so from the error it seems the `default` attribute of struct `ServicePlanParameter` is being set to a an integer in some cases which is failing as its a string.

[2020-01-09 06:35] girishramnani commented on #2488
can you share the `ServicePlan` of the failing service. Full output including the create parameters?

[2020-01-09 06:49] girishramnani commented on #2488
ok so found the reason, the reason is that for a service plan - the `instanceCreateParameterSchema.properties` has a value called `default`. This value is set as a `string` in our structs here https://github.com/openshift/odo/blob/2f01f9db14065e873937f834b47dda225f9ab642/pkg/service/types.go#L43

But for some service plans ( e.g. of manageIQ shown below ) have default set to `1` as the `type` is a

[2020-01-09 06:54] girishramnani commented on #2488
@dharmit you can confirm this by checking the failing plan's `instanceCreateParameterSchema` and seeing if it has any `default` set as an `integer` or not?
and also confirm that plans that are successfully showing should have all `default` as `strings` only.

[2020-01-09 06:56] dharmit commented on #2488
Yes, that is the case. I checked for a couple of failing plans and they all have an integer value for `default`.

[2020-01-09 06:56] girishramnani commented on #2488
a hint on solving it - defer the marshalling of the default param

[2020-01-09 07:04] girishramnani commented on #2488
we can implement the `Unmarshaller` interface for `ServicePlanParameter` as well.

[2020-01-09 07:53] mohammedzee1000 commented on #2323
Got something, how does this look
❯ ./odo version
odo v1.0.2 (HEAD)
❯ ./odo version -o json
{
    "Version": "v1.0.2",
    "GitCommit": "HEAD",
    "ServerInfo": null,
    "KubernetesEnv": {}
}
[code]

[2020-01-09 08:12] girishramnani commented on #2290
# (asdf)

[2020-01-09 08:13] girishramnani commented on #2495
[//]: # (This may be the most platform independent comment)

[2020-01-09 08:33] girishramnani commented on #2369
then we need to think about the case where a developer forgets the `env-prefix`? should we store it locally?
also we would need a command to show this prefix to the user or show all the env variables exposes by the service with this prefix?

[2020-01-09 08:42] girishramnani commented on #2400
we show a warning that the linked component isn't running so we are ignoring the link. and when the user creates the `wildwest-backend`. and then rerun the `odo push` to create the link.

we need the links to be present in the local config. The purpose of local config is to allow someone to recreate the same component environment with least amount of information.

This could be useful when we cons

[2020-01-09 08:45] girishramnani commented on #2369
if we plan to store the prefix in local config and that prefix if can be different for each link then we have to consider this issue https://github.com/openshift/odo/issues/2400 first.

[2020-01-09 11:37] kadel commented on #2115
We have quick a solution for this, not a nice one but it works, so I would close this.
/close

@amitkrout Feel free to reopen if you don't agree

[2020-01-09 11:38] #2115 closed

[2020-01-09 11:57] prietyc123 commented on #2483
AFAIU all the flags are already verified in https://github.com/openshift/odo/blob/master/tests/helper/helper_oc.go except --port which I have covered in #2499 PR

[2020-01-09 14:54] mohitsuman commented on #2452
@dharmit We currently only use `odo list --app ${app} --project ${project} -o json` to list the components.

[2020-01-09 16:25] pmacko1 commented on #1888
@dharmit do you know what is the action item on this one, please?

[2020-01-09 16:46] danielhelfand commented on #1888
Looking at the video currently in the main README, I think this has been addressed. This was from July when I think the video was using a much older version than what had been released at the time. I think this can be closed but obviously makes sense to keep updating over time.

[2020-01-10 07:12] mohammedzee1000 commented on #2476
@kadel wdyt. I ran it by @hrishin and he said it should be doale. we only need to do this for jar/war/ear files

[2020-01-10 07:37] dharmit commented on #1888
At the moment, this issue is pretty much addressed as @danielhelfand pointed out. We have bunch of videos based on 1.0 from around September-October timeframe. We'll be creating new ones very soon as we add some important features in this sprint and the next one.

Closing this issue.

[2020-01-10 07:37] #1888 closed

[2020-01-10 07:41] dharmit commented on #2452
@kadel Since Adapters don't rely on it, I *think* we can remove `--all`
flag. `odo list` in itself is quite helpful already. WDYT?

[2020-01-10 09:15] mik-dass commented on #2015
@kadel @girishramnani What should be the location of the debug file?

[2020-01-10 12:06] dharmit commented on #2493
Thanks for that explanation @kadel.

And so it does when I set an empty value by hard coding it in the function.

We could add validation to CreateServiceBinding but that is just duplicating what is already there in apiserver.
I think that this is a nice case to show unit test boundaries.
A unit test should validate using fakeClient that the correct function is called.
Than integration or e2e test

[2020-01-10 16:18] mohammedzee1000 commented on #2476
Here is what it could look like

[code]

[2020-01-13 06:58] mik-dass commented on #2493
I would still like empty validations done in our unit test itself as it's a bit faster than running the integration tests on the CI. On a slow network/cluster, the user sending the empty the values will have to wait a bit longer to know that the command has failed. If we handle it in our code itself, we can save a little bit of his/her time :D

[2020-01-13 07:24] amitkrout commented on #2478
After following the [steps](https://github.com/openshift/odo/issues/2189#issuecomment-566952126) for mirroring init image follow these steps

STEP 1:
Check the images are imported or not
[code]
STEP 2:
As per the above info none of the images are imported to openshift namespace, so for example you can mirror one supported image to the private registry
[code]
STEP 3:
Mirrored needs registry periodi

[2020-01-13 09:50] prietyc123 commented on #598
Based on the discussion in #2493 , I will move forward with this issue.

[2020-01-13 11:18] #2483 closed

[2020-01-13 11:59] amitkrout opened #2507 "odo url create for default java app does not work"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
[code]

## How did you run odo exactly?
[code]

## Actual behavior
URL does not work

## Expected behavior
URL should be accessible

## Any logs, error output, etc?

[2020-01-13 12:35] girishramnani commented on #2507
What example did you use to test this @amitkrout ?

[2020-01-13 12:36] girishramnani commented on #2507
Can you attach a screenshot of the dev console to confirm if the route was created or not?

[2020-01-13 12:38] amitkrout commented on #2507
I follow the simple steps of deploying a default sample java app.
[code]
However it works properly while deploying the same app through developer console

[2020-01-13 12:40] amitkrout commented on #2507
Route was created but that was not accessible
<img width="839" alt="Screen Shot 2020-01-13 at 6 10 30 PM" src="https://user-images.githubusercontent.com/19851115/72256778-06e19a80-3630-11ea-87d6-3b0a2ab501fd.png">

[2020-01-13 12:47] amitkrout commented on #2507
Pod log-
[code]
The same message falls in a infinite loop

[2020-01-13 13:32] amitkrout commented on #2507
Verified it again. it worked file
/close

[2020-01-13 13:32] #2507 closed

[2020-01-13 14:44] pmacko1 commented on #2428
this should be higher up :)
odo -> a tool for devs to have standardised container test environment.

My naive question is -> what next? After the app is built, tested in containers, is it green to go to production off containers?

[2020-01-13 14:51] girishramnani commented on #2015
In my opinion, if the information is something that we dont wanna check into the repo then we should keep it in the temporary directory. we should namespace the filename i.e. `<project>-<app>-<component>-debug-info.json` so multiple debug sessions can run at the same time

[2020-01-13 15:07] pmacko1 commented on #1490
/priority low

[2020-01-13 23:16] greg-pendlebury commented on #2191
Just in case there is concern over complexity here, I think it is worth mentioning that if the cluster is already installed to correctly manage SSL on your behalf (as our is... assuming we stay within the scope of the SSL domains) then we don't provide any of the certificate information from the client side. Cluster admins have already done it all.

[2020-01-13 23:19] greg-pendlebury commented on #764
Definitely not stale. Still very annoying that I have to open up the SSH tunnel daily for just this tool.

/remove-lifecycle stale

[2020-01-14 06:42] mik-dass commented on #2015
I think this will also be within the filename limits of windows and linux both. @kadel WDYT?

[2020-01-14 07:11] girishramnani commented on #2191
completely understandable but we need to consider all possible scenarios including the ones where the cluster doesn't have already installed SSL and even allowing the `insecureEdgeTerminationPolicy` to be set to something other then `Redirect` ( `Allow` or `None`) :slightly_smiling_face:

[2020-01-14 08:32] mik-dass commented on #2400
I think a simple error/warning message would be enough.

[2020-01-14 09:24] Preeticp commented on #2434
Needs Docs

[2020-01-14 09:25] Preeticp commented on #2428
Needs docs

[2020-01-14 09:26] Preeticp commented on #2353
Needs docs

[2020-01-14 09:29] Preeticp commented on #2328
Needs docs

[2020-01-14 09:32] Preeticp commented on #2227
Needs docs

[2020-01-14 09:35] Preeticp commented on #1801
Needs docs

[2020-01-14 09:36] Preeticp commented on #1605
Needs docs

[2020-01-14 09:38] Preeticp commented on #839
TBD if it needs docs

[2020-01-14 09:42] Preeticp commented on #653
Needs exploration for docs and split into other doc user stories if required.

[2020-01-14 09:46] girishramnani commented on #2227
This could be collaboration between @pmacko1 and a dev possibly in the next sprint if he would have bandwidth

[2020-01-14 10:00] girishramnani commented on #2400
we can store the links in config as a list of structs containing this info
[code]

[2020-01-14 10:38] Preeticp commented on #2434
/need docs

[2020-01-14 16:52] maysunfaisal opened #2510 "Sharing volumes across components in a Devfile"
[kind/Feature]

## Which functionality do you think we should add?
Taking a look at a Spring devfile for example - https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-web-spring/devfile.yaml, devfile components of type `dockerImage` have `volumes`:
[code]

If multiple devfile `dockerImage` components mention the same volume `name`(`containerPath` can be different since they'r

[2020-01-14 16:59] maysunfaisal opened #2511 "Discussion on Devfile volume size support"
[kind/Feature]

## Which functionality do you think we should add?
Currently, a devfile https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-web-spring/devfile.yaml has no option to configure size for a volume.

The Devfile schema does not mention it either - https://github.com/redhat-developer/devfile/blob/master/docs/devfile.json

We should have an option to mention the volu

[2020-01-14 17:06] maysunfaisal commented on #2511
/area devfile

[2020-01-14 17:06] maysunfaisal commented on #2511
/area storage

[2020-01-14 17:06] maysunfaisal commented on #2510
/area devfile
/area storage

[2020-01-14 17:09] johnmcollier opened #2512 "Improving and modularizing the kclient package"
We recently delivered the Kclient package in odo (https://github.com/openshift/odo/pull/2458), and there are already PRs which are delivering into it (e.g. https://github.com/openshift/odo/pull/2509)

On the odo dev call today, we discussed how we should avoid having kclient becoming one big, monolithic package, like occlient is today. We also discussed that it might be a good idea at some point,

[2020-01-14 17:16] johnmcollier commented on #2473
As discussed on the odo dev meeting today:
- We'll keep the existing watch and sync technology, it works fine as-is, and should work well with Devfile projects
- Current sync function can only sync to one container
- As Devfile projects may deploy fat / multi-container pods, we may need to sync the source code to multiple containers, so need to modify the sync function to support that
    - Howeve

[2020-01-14 17:22] maysunfaisal commented on #2511
@girishramnani Hi Girish, since we discussed in the odo contributor's call about the possibility of having the volume size in a preference file, out of curiosity does odo currently have a preference file?

[2020-01-15 11:46] kadel commented on #2400
We also need to store information about "type" of the link, if it is a link to service or another component.

[2020-01-15 14:51] amitkrout commented on #2478
@pmacko1

There are two major steps to deploy a component using odo in a restricted environment.
1. Mirror and export the odo-init-image
2. Create and push the component

**How to upload the init image and exporting it through env ODO_BOOTSTRAPPER_IMAGE in a disconnected environment having a mirror registry :**

**Step 1:** Use base64 -w0 to encode your mirror registry's root ca content
[code]
**S

[2020-01-15 16:18] pmacko1 opened #2513 "Document using odo in disconnected environments"
/kind documentation

## What mistake did you find / what is missing in the documentation?
Documentation for using odo in disconnected environments:
(machine with `odo` is connected to the internet, cluster is disconnected, cluster's host is connected to the internet(?))

- [ ] Cluster configuration
- [ ] Linux
- [ ] MacOS
- [ ] Windows

## What is the relevance of it?

Relevant github issues:
http

[2020-01-15 19:32] maysunfaisal commented on #2472
I have a branch with changes for the Devfile volumes in the poc branch https://github.com/redhat-developer/odo-fork/compare/kdo-poc...maysunfaisal:2472-pvc-1?expand=1. This assumes Devfile components can share volumes(see issue #2510) and assumes a default volume size of `1Gi`(see issue #2511)

I can open PRs in the odo repo once the PRs for the parser and kclient functions are in.

[2020-01-16 03:31] amitkrout opened #2514 "Validating java component on disconnected cluster"
/kind documentation

What to validate

[code]

[2020-01-16 07:17] amitkrout commented on #2514
@pmacko1 Steps for ```Deploying java app using odo in a restricted environment``` cc_ @kadel

There are two major steps to deploy a java component using odo in a restricted environment.

1. Mirror and export the odo-init-image
2. Create and push the component
    a. git component
    b. local source
    c. local binary

**How to upload the init image and exporting it through env ODO_BOOTSTRAPPER_I

[2020-01-16 14:15] kadel commented on #2493
You are right, but what about code duplication? We are adding the same check that is already there later in the processing.

[2020-01-16 15:45] GrooveCS commented on #2470
**Queston**
### VS Code Remote Development vs ODO (OpenShift Do)

How is ODO devfile different from Codes [ devcontainer.json](https://code.visualstudio.com/docs/remote/containers#_devcontainerjson-reference)?

[2020-01-16 16:26] GrooveCS commented on #2474
Hi @kadel,

[code]
The macOS comes with a default bash, yet using brew I updated to the current version. Using the following script.

[code]

I will check now, and provide feedback shortly. I just updated last night to latest 4.3.

[2020-01-16 19:49] GrooveCS commented on #2474
@kadel I'm getting the expected behavior with

[code]
Thank you for your assistance

[2020-01-17 08:32] girishramnani commented on #2443
this will break alot of our tests, as currently we are using `--context` with `--project` and `--app` for `odo create`. and maybe it makes sense to have this possible for `odo create` because a user might want to use a specific app and a project while creating the `config.yaml` in the `--context` directory? @kadel

[2020-01-17 08:43] kadel commented on #2443
yes, we have to fix those tests!

That is a good point. For `odo component create` it makes sense to combine `--context` and with `--project` and/or `--app`. But not for anything else.

[2020-01-17 09:20] girishramnani commented on #2400
I was thinking about that and when we do `odo link` that we don't ask user for that information so would we need to store it?
we can detect if its a service name or a component name?

[2020-01-17 09:24] girishramnani commented on #2369
This issue is blocked on https://github.com/openshift/odo/issues/2400

[2020-01-17 13:35] amitkrout opened #2516 "source type component push does not work in a proxy+disconnected cluster environment"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported type

**Output of `odo version`:**
master

## How did you run odo exactly?
1. Get a disconnected cluster with a proxy configured with it
2. odo create component --context ruby-ex/ --------- // For now i am using ruby component because the cluster i have is configured with ruby images only in the disconnected cl

[2020-01-17 13:52] amitkrout commented on #2516
ping @mohammedzee1000 @girishramnani Let me figure out if i can hit the same error in proxy env cluster only.

Will include @kadel only if we need his help to debug this.

[2020-01-17 14:44] #2488 closed

[2020-01-17 22:15] elsony opened #2517 "Make devfile environment neutral"
[kind/Feature]

## Which functionality do you think we should add?
The current proposal for devfile in #2290 contains environment specific information, e.g. ingress, paths and URL.  There may be other settings like that basically configuration that can be changed across different envrionment.  It will be better to make the devfile to be environment neutral so that it can be reuse in different syst

[2020-01-17 22:17] elsony commented on #2517
/area devfile

[2020-01-17 22:17] elsony commented on #2517
/kind feature

[2020-01-20 05:09] girishramnani commented on #2516
As you can see there is a request to https://rubygems.org.
Gems in ruby are similar to npm packages in nodejs. So this would require us to setup an internal gems registry which contains all the gems that ur sample application is using.

[2020-01-20 08:27] amitkrout commented on #2516
@girishramnani Same can be hit even after setting an internal registry for nodejs too. It only fails when odo init image is involved in the component push steps. Whereas component push with ```--git``` works without any issue.

[2020-01-20 08:39] amitkrout commented on #2516
@girishramnani i am pasting the logs of git component push in the same cluster where it passes.

$ odo component create --project rubygit --git https://github.com/sclorg/ruby-ex.git
$ odo push
[...]
Writing manifest to image destination
Storing signatures
Generating dockerfile with builder image image-registry.openshift-image-registry.svc:5000/openshift/ruby@sha256:aaccffc2334332e7a75a4c9a70a4f9de

[2020-01-20 10:02] mik-dass commented on #2493
Then I guess then we need to choose between the two.

[2020-01-20 11:48] amitkrout commented on #2516
@mohammedzee1000 @girishramnani It seems #2478 and #2514 may also hit the same issue for binary and source type component push

[2020-01-20 15:32] #2443 closed

[2020-01-21 08:21] girishramnani opened #2523 "Use of platform specific file separator in tests"
/kind bug

## What versions of software are you using?

**Operating System:** Fedora

**Output of `odo version`:** master

# Description

 It seems some of our tests are using platform specific file separator e.g. https://github.com/openshift/odo/blob/master/tests/integration/cmd_push_test.go#L48
https://github.com/openshift/odo/blob/master/tests/integration/cmd_push_test.go#L123 and more

We shou

[2020-01-21 08:32] girishramnani commented on #2523
this one too https://github.com/openshift/odo/blob/master/tests/integration/cmd_push_test.go#L228

[2020-01-21 12:07] jeffmaury opened #2525 "odo 1.0.2 reported after 1.0.3 is out"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10Pro

**Output of `odo version`:**
[code]

## How did you run odo exactly?

odo catalog list services

## Actual behavior

[code]

## Expected behavior

[code]

## Any logs, error output, etc?

[2020-01-21 12:09] amitkrout commented on #2516
@girishramnani @mohammedzee1000 I verifies the same scenario on a cluster that runs behind the proxy and there it works fine i mean source type component push goes well. May be this problem resides in a particular usecase like disconnected + proxy.

[2020-01-21 13:27] #2523 closed

[2020-01-21 14:26] amitkrout commented on #2290
@kadel As per the cabal discussion i am updating the milestone to 1.2 cc_ @mohammedzee1000

[2020-01-21 14:26] amitkrout commented on #2189
@kadel As per the cabal discussion i am updating the milestone to 1.2 cc_ @mohammedzee1000

[2020-01-21 14:28] kadel commented on #2516
Git component is working because the build Pod is configured to use a proxy via `HTTPS_PROXY` and `HTTP_PROXY` env variables.

You can verify it by creating s2i build using `oc new-app` and checking env variables set in build pod
[code]
in the output of the `env` command, you can see that proxy related env variables like `HTTP_PROXY` `HTTPS_PROXY`  and `NO_PROXY`  are set

I'm not sure what is inj

[2020-01-21 14:38] kadel commented on #2525
`build/VERSION` was not updated after 1.0.3 release :-(
#2526 fixes this

@jeffmaury thank you for reporting it

[2020-01-21 15:20] amitkrout commented on #2516
You can verify it by creating s2i build using oc new-app and checking env variables set in build pod
oc new-app https://github.com/sclorg/ruby-ex.git
oc exec -it ruby-ex-1-build env
in the output of the env command, you can see that proxy related env variables like HTTP_PROXY HTTPS_PROXY and NO_PROXY are set
I'm not sure what is injecting those variables there. I'll leave this for you to investiga

[2020-01-22 05:48] dharmit commented on #2461
At the moment, I'm working on making use of APIs provided by `github.com/operator-framework/operator-lifecycle-manager` to list the `ClusterServiceVersions` (equivalent to doing `oc get csvs` on CLI) available in the cluster.

As a part of this, I'm adding `OperatorsClient` to the definition of `Client` struct in `kclient` package.

A few things that I'm still trying to figure out:

1. How do I cr

[2020-01-22 08:02] Preeticp commented on #2179
@kadel @cdrage @girishramnani can we consider this issue to be done and close this issue?

[2020-01-22 11:11] girishramnani commented on #2227
we had some documentation which got lost in transition https://github.com/girishramnani/odo/blob/56e2e2c04f2197f7243564af660c256cea4a8f91/docs/getting-started.adoc#using-debug-mode-to-interactively-debug-tech-preview

[2020-01-22 11:44] girishramnani commented on #1942
as part of new workflow `odo storage delete` now requires `odo push` after it which means having `--wait` flag for it `odo storage delete` isn't required. Hence closing this issue.

[2020-01-22 11:44] #1942 closed

[2020-01-22 14:10] dharmit commented on #2461
I guess I'm facing an issue with dependency management. I've pushed this commit https://github.com/dharmit/odo/commit/d6cf298f13b726c6b09b1a4b3eb1e6e297863725 to be able to list the clusterserviceversions. For that, I added the dependency on OLM [here](https://github.com/dharmit/odo/commit/bd6c1c30e7a137d541f7a9b550eba64eceb0dace#diff-395f41b2a27b70ce44399c91c82158c2). However, `make` is failing w

[2020-01-22 14:19] girishramnani commented on #2461
If u use glide to `get` the dependency it will try all possible versions to make the code work.

[2020-01-22 14:20] girishramnani commented on #2461
https://github.com/Masterminds/glide#how-it-works

[2020-01-22 18:32] #2248 closed

[2020-01-23 01:03] #598 closed

[2020-01-23 11:35] amitkrout commented on #2189
This is just a doc change which can be done through async doc update with ocp 4.3, so moving the milestone back to 1.1

[2020-01-23 18:55] rajivnathan commented on #2436
/area devfile

[2020-01-24 03:50] #2525 closed

[2020-01-24 10:30] jeffmaury opened #2527 "odo storage list -o json strange output"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10Pro

**Output of `odo version`:**
[code]
## How did you run odo exactly?
`odo storage list -o json`

## Actual behavior

Output:

[code]

## Expected behavior

I would expect:

- `path` to be part of the `spec` element
- `status` element should contain `state` for the storage (pushed, not pushed) like what's done fo

[2020-01-24 12:20] jeffmaury opened #2528 "odo application describe crash when run out of a component folder"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10Pro

**Output of `odo version`:**
[code]

## How did you run odo exactly?

`odo application describe myapp --project myproj`

## Actual behavior
[code]

## Expected behavior

Should not crash

## Any logs, error output, etc?

[2020-01-24 17:55] jeffmaury opened #2529 "odo delete does not delete user specified storage"
/kind bug

## What versions of software are you using?

**Operating System:**
Win10 Pro

**Output of `odo version`:**
[code]

## How did you run odo exactly?
[code]

## Actual behavior

[code]

## Expected behavior

Component should be pushed again without error

## Any logs, error output, etc?

[2020-01-27 07:02] amitkrout opened #2530 "Mount service account secret in test container where odo build and runs test in OpenShift CI"
[kind/Feature]

## Which functionality do you think we should add?
service account credential secret should be mounted somewhere in test [container](https://github.com/openshift/odo/blob/master/openshift-ci/build-root/Dockerfile) where we  build and launch odo test in Openshift CI.

## Why is this needed?
Running e2e test on all odo supported images authentication is needed to pull the builder ima

[2020-01-27 07:05] amitkrout commented on #2530
Associated pr - https://github.com/openshift/release/pull/6764 is not working. Will check with test-platform team.

[2020-01-27 08:38] mik-dass commented on #2175
@kadel @jeffmaury @girishramnani Should this issue also include the local components?

[2020-01-27 08:52] kadel commented on #2175
@mik-dass It would be good to investigate if we even need this annotation for local and binary components. It doesn't make much sense to store a path that is on local system on the cluster. odo should read this path from `.odo/config.yaml`.
For git component, it makes sense to store it in annotations as it can be useful for other tools like developer console.

## Tasks
- [ ] make sure that `app.op

[2020-01-27 09:26] mik-dass commented on #2191
@kadel @girishramnani We can have flags for passing the values of insecureEdgeTerminationPolicy, termination so that they can set to something else according to the user's requirement

[2020-01-27 10:23] kadel commented on #1801
covered here https://docs.openshift.com/container-platform/4.3/cli_reference/openshift_developer_cli/configuring-the-odo-cli.html#using-command-completion_configuring-the-odo-cli

/close

[2020-01-27 10:23] #1801 closed

[2020-01-27 10:26] kadel commented on #839
docs now have examples based on java and springboot, for example muliti-component example https://docs.openshift.com/container-platform/4.3/cli_reference/openshift_developer_cli/creating-a-multicomponent-application-with-odo.html

/close

[2020-01-27 10:26] #839 closed

[2020-01-27 10:27] kadel commented on #2529
/area storage

[2020-01-27 10:32] kadel commented on #2529
@jeffmaury
Did you run `odo push` righ after `odo delete` within a few seconds?

I suspect that this is because it can take a long time to de-provision PVC (in some cases it can be up to minutes). So if you run `odo push` right after `odo delete` the PVC is still there :-(

## FIX
`odo delete` needs to make sure that everything is properly deleted before it exits.

[2020-01-27 10:54] girishramnani commented on #2400
There is alot of change in this issue and hence its taking time for me to get a WIP PR. should have something in this week.

[2020-01-27 11:06] prietyc123 commented on #2364
Having blocker on this issue right now. The PR for this is on hold  https://github.com/openshift/odo/pull/2402#issuecomment-575555558

[2020-01-27 11:31] kadel commented on #2527
/area json-output

[2020-01-27 11:44] jeffmaury commented on #2529
No I did not run `delete` right after `push` and noticed only users PVC were remaining. The odo specific storage was removed.

[2020-01-27 12:26] mohammedzee1000 commented on #2309
[code]

[2020-01-27 12:52] girishramnani commented on #1444
This issue is blocked on dev file support https://github.com/openshift/odo/issues/2470
as it uses dev file to provide support for quarkus

[2020-01-27 12:54] amitkrout commented on #2364
Blocked due to - https://github.com/openshift/odo/issues/2530

[2020-01-27 13:19] mik-dass commented on #2529
@kadel This issue seems to be present on Linux machines too. The problem is we don't trigger storage collection deletion on `odo delete`.

[2020-01-27 13:21] boczkowska commented on #1605
We now have an expanded glossary for the key concepts in odo, and also the overview of the architecture: https://docs.openshift.com/container-platform/4.3/cli_reference/openshift_developer_cli/understanding-odo.html
Does it help in claryfing some of these questions and points?

[2020-01-27 13:53] girishramnani opened #2534 "Create odo new workflow for odo linking"
## Description
As a user, I want to create a record related to linking in local config because I don't want to remember which component I linked to when when I clone and recreate the component.

## Acceptance Criteria
- It should not push anything, pushing should be done by `odo push`
- It should store the link information in the local config file
- It should create a link when you run `odo push`

[2020-01-27 13:54] girishramnani commented on #2400
Created a user story https://github.com/openshift/odo/issues/2534 for this issue. Please track the progress on that issue.
closing this issue.

[2020-01-27 13:54] #2400 closed

[2020-01-27 14:00] girishramnani commented on #2191
we need to consider kuberenetes here as well.

[2020-01-27 14:14] kadel commented on #2445
It looks like this might get resolved in 1.0.2 by following changes.

- https://github.com/openshift/odo-init-image/pull/43
- https://github.com/openshift/odo/pull/2427

We should verify that this is indeed the case.

[2020-01-27 14:36] mik-dass commented on #2529
Upon further research, I found out that we are not setting the owner reference properly while creating the storage. That's why deletion doesn't work on `odo delete`

[2020-01-27 16:08] kadel opened #2536 "EXPERIMENTAL feature flag"
## User story
- As a user, I have an expectation that all features in odo are stable and well tested.
- As an advanced user, I'm interested in new uncomplete features and I'm aware that that there might not be stable but I want to test them.

## Acceptance Criteria
- odo should not show any commands or flags that are marked as EXPERIMENTAL if experimental features are not enabled
- odo should show

[2020-01-28 08:12] amitkrout commented on #2392
@dgolovin @cdrage I am able to reproduce it with the [frontend](https://github.com/openshift-evangelists/Wild-West-Frontend) and [backend](https://github.com/openshift-evangelists/Wild-West-Backend) of wildwest example

Steps i followed:

[code]
[code]
[code]
[code]
[code]

@mik-dass has good amount of experience to dealing with such type issue. I would request @mik-dass have a look into this for

[2020-01-28 11:52] adisky commented on #2528
I am able to reproduce it, It occurs only when you add storage to app
https://github.com/openshift/odo/blob/master/pkg/odo/util/cmdutils.go#L106
odo lists storage from local config, so if this command is run out of component folder, odo will not be able to list storage,
Two ways the crash can be resolved
a) List storage from oc client.
b) Add a bounds check, just to avoid panic.

Some queries rela

[2020-01-29 08:53] prietyc123 opened #2537 "Test script requires authentication from registry.redhat.io"
[kind/Feature]

## Which functionality do you think we should add?

Actually our test script runs inside a container (https://github.com/openshift/release/blob/master/ci-operator/config/openshift/odo/openshift-odo-master__v4.1.yaml#L10). So for this container, may be I need to get the secret and apply/use that to the running cluster on aws.

To pull the supported image available only in `registry.

[2020-01-29 08:55] kanchwala-yusuf opened #2538 "Remove push-devfile sub command from odo"
/kind bug
The `push-devfile` sub command has been exposed temporarily for experimental purposes to support the development of devfile support in odo (https://github.com/openshift/odo/issues/2467).

This command should be removed once the feature for adding EXPERIMENTAL flag has been successfully implemented (https://github.com/openshift/odo/issues/2536)

[2020-01-29 08:56] kadel commented on #2470
@GrooveCS
I don't know much about devcontainers.json, at first glance it looks similar. The biggest difference that I can see is that in devfilecontainers.json you can only specify containers (images or Dockerfile). Devfile can also include additional Kubernetes or OpenShift resources.

[2020-01-29 09:15] prietyc123 opened #2539 "Run unit test on windows and macOS"
kind/Feature

## Which functionality do you think we should add?

We can borrow macOS host on travis and windows from appveyor then only we can start our unit test on these hosts.

## Why is this needed?

This is not yet implemented in our test CI.

[2020-01-29 09:17] prietyc123 opened #2540 "Run e2e and integration test on windows and macOS host"
[kind/Feature]

## Which functionality do you think we should add?

We can borrow macOS host on travis and windows from appveyor then only we can start our tests on these hosts.

## Why is this needed?

Not yet implemented in CI.

 - [ ] Integration tests
     - [ ] Mac OS https://github.com/redhat-developer/odo/issues/5301
     - [x] Windows https://github.com/redhat-developer/odo/issues/5300
 -

[2020-01-29 09:20] prietyc123 commented on #401
- [ ] #2540
- [ ] #2539

[2020-01-29 11:20] kadel commented on #2459
## User Story
- As a user, I want to be able to simultaneously debug two components at the same time without manually selecting local ports.

## Acceptance criteria
- odo should use fixed default port as a default local port
- if the default port is not available it should automatically select available port

[2020-01-29 11:56] rashmi-ibm opened #2541 "Error creating service using odo on IBM Power (ppc64le)"
/kind bug

## What versions of software are you using?

**Operating System:** Rhel 7.6 ppc64le

**Output of `odo version`:** 1.1.0
## How did you run odo exactly?
Trying to create service using odo. Are there any prebuilt images of mongodb/mysql/ postgres being referred in odo utility.

## Actual behavior
odo service create mongodb-persistent --plan default --wait -p DATABASE_SERVICE_NAME=mongodb

[2020-01-29 12:05] kadel commented on #2111
# User Story
- As a user, I want to list items from `odo catalog` without creating component first.

## Acceptance Criteria
- `odo catalog` should not require component (localConfig) to list, describe or search services and  component types
- if any of `odo catalog *`  commands need project, the current project from `KUBECONFIG` should be used.

[2020-01-29 12:13] amitkrout opened #2542 "Image stream nodejs with tag 8 is not available on OpenShift 4.4 cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported

**Output of `odo version`:**
master
## How did you run odo exactly?
make test-integration against OpenShift 4.4 cluster

## Actual behavior
Nodejs with tag 8 is not available on OpenShift 4.4 cluster, so test that uses nadejs:8 for component creation are failing

## Expected behavior
Should pass, however w

[2020-01-29 12:16] kadel commented on #2444
# User Story
As a user or (ide plugin) I would like to list all components in a given path and I should not be required to be connected to the cluster.

## Acceptance Criteria
- `odo list --path` should work without odo being logged or connected to the cluster
- if `odo list --path` command can't determine the correct state (Pushed, Not Pushed), because it is not connected to the cluster, the comp

[2020-01-29 12:24] kadel commented on #2539
## User Story
- As an odo developer
- I want to be sure that the code that I have produced runs on all 3 platforms (mac, windows, linux)

## Acceptance Criteria
- odo unit tests should be executed on all 3 platforms for every open PR

/kind user-story

[2020-01-29 12:32] kadel commented on #2541
Can you please paste logs from running  `odo service create -v 5 ...`?

[2020-01-29 12:49] kadel commented on #2542
It looks like we might have to start using different image versions for each OpenShift version.
At some point (and we might already be there) there will be no overlap between images available in  OpenShift 4 and OpenShift 3.

[2020-01-29 13:00] amitkrout commented on #2542
Right, However as an alternate solution we can also consider ```latest``` tag Instead of passing the different image version for each OpenShift version. Then in this case we just need to make sure that the source example we are using should be compatible with latest image tag.

[2020-01-29 13:02] mik-dass commented on #2392
@amitkrout This seems to be a timeout issue similar to https://github.com/openshift/odo/issues/2244

[2020-01-29 13:14] rashmi-ibm commented on #2541
✓  Deploying service [27ms]
 ✓  Service 'mariadb-ephemeral' was created

Progress of the provisioning will not be reported and might take a long time
You can see the current status by executing 'odo service list'
Optionally, link mariadb-ephemeral to your component by running: 'odo link <component-name>'
I0129 08:13:07.740250    2754 odo.go:77] Could not get the latest release information in time.

[2020-01-29 13:29] kadel opened #2543 "prefix for odo link env variables"
## User Story
- As an odo user
- I want to be able to specify a prefix that will be applied to the env variable name injected into the component when the component is linked to the other component

## Acceptance Criteria
- `odo link` should have a flag to specify the prefix
- the prefix should be recorded in a local config
- when `odo push` is executed all injected env variables (related to link)

[2020-01-29 13:30] kadel commented on #2543
this issue is blocked on #2400

[2020-01-29 13:42] boczkowska opened #2544 "Update the documentation according to "new workflow for odo linking" user story."
/kind documentation

## What mistake did you find / what is missing in the documentation?
Document new workflow, update the CLI reference with updated examples.
More info in https://github.com/openshift/odo/issues/2534

## What is the relevance of it?
Keep docs current.

[2020-01-29 13:42] boczkowska opened #2545 "Update the CLI reference to reflect the changes from "prefix for odo link" user story"
/kind documentation

## What mistake did you find / what is missing in the documentation?
CLI reference should have updated information on `odo link` command with examples on how to use prefixes.
Relevant info in this user story: https://github.com/openshift/odo/issues/2543

## What is the relevance of it?
Docs should be correct and current. :)

[2020-01-29 13:54] kadel commented on #2445
We can't reproduce this anymore. It might get fixed.
I'm closing this for now.
@GeekArthur feel free to reopen if you still face this issue with the latest release.
/close

[2020-01-29 13:54] #2445 closed

[2020-01-29 14:03] mohammedzee1000 commented on #2285
Adding to preferences might make sense for one-time setting, however

Going forward we are likely going to need an environment config to store env specific stuff that want be pushed to the cluster. So it might make sense to start initializing an environment config file that is not pushed to the cluster.

We could, of course, have a text file with only project name stored but that might set a preci

[2020-01-29 21:23] maysunfaisal commented on #2472
- [ ] Function to add PVC Volume to Pod Template Spec
- [ ] Function to add Volume Mounts to Pod Template Spec containers
- [ ] Function to create PVC resource
- [ ] Function to create PVC from Devfile
- [ ] Kclient function logic to add PVC and Volume Mount to Pod Template Spec

[2020-01-29 23:42] LiveByTheCode opened #2547 "Error when executing service create with a -p key=value where the value contains one or more commas"
/kind bug

## What versions of software are you using?

**Operating System:**

macOS 10.15.2

**Output of `odo version`:**

v1.1.0

## How did you run odo exactly?

odo service create amq-broker-72-gluster -p AMQ_PROTOCOL=amqp -p AMQ_QUEUES=queue1,queue2,queue3,queue4 -p AMQ_USER=test_user -p AMQ_PASSWORD=some_password

## Actual behavior

parameters not provided in key=value format

## Expected b

[2020-01-30 06:20] mohammedzee1000 commented on #2309
Ok corrected:

[code]

[2020-01-30 09:43] mik-dass commented on #2191
@kadel @girishramnani We can start small and just have `--secure` flag which will create a HTTPs supported route with default configurations. Later if there is a need, we can add the ability for the user to customize the configurations of the route.

[2020-01-30 11:46] amitkrout commented on #2539
- [ ] Run unit test on OSX

- [ ] Run unit test windows

[2020-01-30 13:55] girishramnani commented on #2543
one thing to add to the AC here is
- `odo describe` should pick up the env variables exposed by the services and show them with the prefix. This is important because we need to show the user the prefixed env variables exposed.
and I feel `odo describe` is a good place to do this.

We can have this as a separate user story or in this itself

[2020-01-30 22:45] elsony opened #2550 "Event notification support for build and application status for IDE integration for devfile scenarios"
## Which functionality do you think we should add?

Add a new mechanism to provide event notification on build status and application status change to reflect the build and run status of the application:

- The build and run status will be separated as two different types of notifications since those are two independent operations.

- The main goal of providing the build and run status is to allow

[2020-01-30 22:46] elsony commented on #2550
/area devfile

[2020-01-30 22:48] elsony commented on #2550
/kind feature

[2020-01-30 22:49] jgwest commented on #2550
/assign @jgwest

[2020-01-31 08:12] mohammedzee1000 commented on #2285
WDYT @kadel

[2020-01-31 09:29] prietyc123 opened #2551 "Go Version in travis CI"
kind/Feature

## Which functionality do you think we should add?

Specific go version in travis CI

## Why is this needed?

We are having the below issue with go version 1.11.2 in travis CI while executing unit test on macOS. It seems specific go version does not work properly during unit test execution. But surprisingly with the same go version unit test works fine on Linux system in travis CI. M

[2020-01-31 10:24] kadel commented on #2543
👍 this is a good point.
I've added it as an acceptance criteria

[2020-01-31 11:55] kadel opened #2553 "PR #2500 Followup"
- [x] https://github.com/openshift/odo/pull/2500#discussion_r372890591 let's use the fake fs package here and write the stuff in memory instead of the disk. That will speed up the testing.
- [x] https://github.com/openshift/odo/pull/2500#discussion_r372891177 why not use the Fs Filesystem which is part of the DevfileCtx? What will help us with unit tests using the fake system.
- [x] https://github

[2020-01-31 12:19] kadel opened #2555 "Machine readable output for `odo debug info command`"
## User Story
As an IDE plugin developer, I need information about odo debuging port-forward session  So that can connect IDE debugger to the appliaction

## Acceptance Criteria
- [ ] `odo debug info` command should have `-o json` option.
- [ ] `odo debug info -o json` should output Json formatted message
- [ ] json message should contain at least component name, application name, project name,  l

[2020-01-31 13:32] Preeticp commented on #2183
@dharmit a separate module on setting / unsetting variables is documented by Yana here: https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/managing-environment-variables-in-odo.html
Do you think we can close this issue?

[2020-01-31 15:23] kadel commented on #2551
just use latest go stable release
/close

[2020-01-31 15:26] kadel commented on #2551
sorry, reopened by a mistake

[2020-01-31 15:36] #1981 closed

[2020-01-31 15:41] kadel commented on #2550
CLI user and also IDE plugins can already know when the build is finished as the build is triggered by `odo push` (or `odo watch`) and both commands are synchronous. They report the status and progress.
When `odo push` command is finished the build is finished.

We currently don't have a command that would report if the application that was built already started or not but that could be easily res

[2020-01-31 15:43] kadel commented on #2547
@LiveByTheCode, thank you for  report this issue and even more on submitting the PR 👍

[2020-01-31 15:44] kadel commented on #2542
That is also an option

[2020-01-31 20:30] elsony opened #2557 "Create component support for odo devfile scenario"
[kind/Feature]
## Which functionality do you think we should add?
Create component support for odo devfile scenario:

- Provide ability to filter devfiles that can be supported by odo devfile support in a given Che devfile repository
- When the experimental flag is enabled (see https://github.com/openshift/odo/issues/2536),  "odo catalog list components" command will also include the list of compo

[2020-01-31 20:31] elsony commented on #2557
kind/feature
area/devfile

[2020-01-31 20:31] elsony commented on #2557
kind/feature

[2020-01-31 20:32] elsony commented on #2557
/kind feature

[2020-01-31 20:32] elsony commented on #2557
/area devfile

[2020-01-31 20:37] GeekArthur commented on #2557
/assign @GeekArthur

[2020-01-31 22:52] GeekArthur commented on #2557
@elsony I have two questions need to confirm:
1. Is this the Che devfile repository/registry location: https://github.com/eclipse/che-devfile-registry/tree/master/devfiles?
2. Should this issue also include pushing odo supported devfile (I think the odo supported devfile should have more customized fields and they are not fully decided yet) to Che devfile repository/registry?

[2020-02-01 17:23] amitkrout commented on #2539
@prietyc123 Found a nice blog of windows support on travis - https://blog.travis-ci.com/2018-10-11-windows-early-release. Can you please try this out

[2020-02-03 07:08] amitkrout commented on #2551
/close

[2020-02-03 07:08] #2551 closed

[2020-02-03 07:48] girishramnani commented on #2528
Storage should be present in the local config and so bound check should do

[2020-02-03 08:20] adisky commented on #2528
But for exact status, shouldn't it be queried from openshift?

[2020-02-03 08:22] mik-dass commented on #2528
Yes. But if the component is not pushed, it should pick up the values from the local config.

[2020-02-03 08:42] girishramnani commented on #2528
Because it has `--context` flag which means it needs a component.

[2020-02-03 09:01] adisky commented on #2528
got it Thanks!!

[2020-02-03 09:25] adisky opened #2559 "Odo Storage list command should have state `Pushed` or `Not Pushed`"
## User Story
As a User, I want to check the state of `storage` created, if it is pushed or not pushed. for example i could check the state for `url` and `component`.

[code]
[code]
## Acceptance Criteria
- [ ] odo storage commands should list its state as `pushed` or `unpushed`

## Links
- Feature Request:
- Related issue: #2528

/kind user-story

[2020-02-03 09:53] mik-dass commented on #2175
For git component, it makes sense to store it in annotations as it can be useful for other tools like developer console.

After some searching I found that the annotations `app.openshift.io/vcs-uri` is mostly used in testing, storing and displaying the path to the user. With some modification, I guess we can make the display tasks to use the local config and use this only for git components as the

[2020-02-03 10:05] dharmit commented on #1605
@boczkowska it helps clarify what a "component" means. But other question in this issue stand as-is. However, it's something for us devs to discuss IMO.

@kadel can you look at the issue description and share your thoughts please?

[2020-02-03 10:53] dharmit commented on #2183
In it's current state, the link you mentioned talks about environment variables in general. We're discussing about a particular environment variable (`DebugPort`) which, IMO, could cause confusion if we don't document it.

[2020-02-03 14:46] kadel commented on #2472
I have a feeling that we are skipping a step here.
You started working on volume support but we are missing the part where we create Pod (Deployment) with all the containers and commands as they are defined in Devfile.

Not sure if it makes sense to start working on volumes if we don't have containers that would use them.

[2020-02-03 14:48] kadel commented on #2471
How is Deployment going to look like?
Are we going to take a "fat" Pod approach?
Are we going to reuse the SupervisorD to ensure that the application can be restarted without restarting the whole Pod?

[2020-02-03 15:07] kadel commented on #1103
This is already implemented
/close

[2020-02-03 15:07] #1103 closed

[2020-02-03 15:08] kadel commented on #1237
/remove-lifecycle stale
/lifecycle frozen

[2020-02-03 15:14] kadel commented on #2557
There should not be any special odo supported devfile. The goal is to have any Che supported devfile to be also odo supported devfile.

That is the source for devfile registry. This devfile registry is supposed to run inside the cluster.
For example, for public che.redhat.com the registry is at https://che-devfile-registry.openshift.io//devfiles/index.json

[2020-02-03 15:19] #2477 closed

[2020-02-03 15:25] maysunfaisal commented on #2472
@kadel yes, you are right. As @rajivnathan is waiting on the devfile parser, he had worked temporarily on the poc branch where he took the poc parser and implemented a first pass of devfile component pod creation. I took Rajiv's poc devfile branch and worked on the first pass of devfile volumes which is what I meant to indicate by my POC branch above in the comments - the branch https://github.com

[2020-02-03 17:04] elsony commented on #2557
The devfile that can be used by odo will need to have build and runtime information associate with it.  Although the devfile that odo supports shares the same schema and format as the regular Che dev file, in order for a given Che devfile to be useful for odo, it needs to have some minimal requirement, e.g. certain commands defined for build.  For example, if some devfiles on the repo only defines

[2020-02-03 17:15] GeekArthur commented on #2557
@elsony Given that, we still need to push some odo supported devfiles (with extra requirement) to che registry, right? And pushing odo supported devfiles to che registry also belongs to this issue?

[2020-02-03 17:54] rajivnathan commented on #2471
@kadel good questions. Yes, we are taking the "fat" Pod approach. The example I pointed out in the High Level Design section mentions it will `create a Deployment that has a Pod with 2 containers`. I will update that to show what the Deployment will look like to make it more clear.

Re: SupervisorD, we can but if we can override the entrypoint such that the container will not exit (eg. tail -f /de

[2020-02-03 23:17] elsony commented on #2550
For the push status and progress, I think it is currently feeding to the user as log style output to the user on the odo command.  If IDEs wants to provider richer integration, e.g. have some kind of custom view to show the list of running application as well as detailed status of the build, e.g. compiling application, starting container, etc., they'll need to default back to text styled output.

[2020-02-04 01:58] gorkem commented on #2471
@kadel I think this is a good time to reconsider SupervisorD. I am not sure if it is awfully useful in this new direction. Devfile already provides a way to override entrypoints. I would rather have us depend on the devfile and stack declarations instead of trying to hack a generic enough solution on top of SupervisorD.

[2020-02-04 02:04] sspeiche commented on #2471
Agree with @gorkem, we should feature the hot redeploy features of the high priority runtimes and could use devfiles/stacks to do that. If we need to provide a default approach, perhaps SupervisorD could play a role.

[2020-02-04 02:21] sspeiche commented on #2285
I think this got lost in my previous comments, my problem is quite simple:

1. I have just created a project (either oc or odo), say `steves-project`
1. I do a `git clone` of a repo that has a .odo/config.yaml file in with `Project: wildwest-game`
1. I do a `odo push`, it creates a new project on my cluster called `wildwest-game` or fails since it already exists.

This is a bug and It should use `

[2020-02-04 02:34] gorkem commented on #2557
I would rather avoid devfiles for odo and devfiles for Che separation.  Ultimately "stacks" should support both. I think eventually we can replace/update the existing devfiles on the registry.

[2020-02-04 06:46] mik-dass opened #2561 "Support for HTTPs URL"
## User Story
As a developer I want to generate HTTPs URLs So that I can keep the visitors of my website safe from cyber attacks.

## Acceptance Criteria
- [ ] It should expose a `secure` flag for HTTPs URL creation.
- [ ] It should generate a HTTPs URL with some default predefined configurations and the URL should work.
- [ ] It should redirect a user hitting the HTTP version of the URL to the HT

[2020-02-04 08:05] amitkrout opened #2563 "odo push on .net component tag 2.1+ does not work"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported
**Output of `odo version`:**
master, OpenShift cluster 4.3
## How did you run odo exactly?
Step 1:
[code]
[code]
## Actual behavior
Fails to push, however it passes on dotnet:2.0 in our e2e test spec - https://github.com/openshift/odo/blob/master/tests/e2escenarios/e2e_source_test.go#L126-L130

## Expected

[2020-02-04 09:31] kadel commented on #2557
Maybe the wrong wording on my side. Yes in your example of a Devfile that only defined Theia editor and plugins it won't make sense in odo context. But I would consider that an edge case.
Component type of `cheEditor` `chePlugin` in devfile won't make sense for odo as they are Che specific. But I would like to avoid adding another type that is odo specific. This would lead to a situation where you

[2020-02-04 11:16] #2529 closed

[2020-02-04 12:35] kadel commented on #2471
One big benefit that SupervisorD like approach brings is the ability to restart the application without restarting the whole Pod. Not sure if we will be able to do this without something like SupervisorD.

[2020-02-04 14:11] johnmcollier opened #2566 "Enhancements to Devfile 2.0 Spec for odo"
See Google doc for enhancements: https://docs.google.com/document/d/1F6Z23ADBYpWICWZpCmeX65dsZ86pjeLbvqQ1BEpqaGE/edit

[2020-02-04 15:48] cmoulliard commented on #2471
Is it something that the end users need, expect to have ? What I would like to say here is that when we use the `Dev's pod` created using `supervisord` or a container using as entrypoint the trick - `tail -f /dev/null`, they understand that they will interact with a pod where they will push, build, debug, test or run their runtime.

From this point of view, the CLI tool itself can execute remotely

[2020-02-04 15:54] cmoulliard commented on #2471
The deployment could be as simple as this example : https://github.com/halkyonio/container-images/blob/master/sandbox/hal2/deploy/05-dc-b.yml#L18-L41

Next, odo tool could use the commands defined within the DevFile to execute remotely the commands

Example
- Java build -> `mvn package -Dlocal.maven.repo=/volume/mounted/to/store/maven/repo`
- Run java application -> `mvn quarkus:dev | java -jar ta

[2020-02-04 16:08] maxandersen commented on #2471
+1 on removing or at least make supervisord approach 100% optional as it is only relelvant if you are trying to work with absolute lowest common denominator of images with zero enablement of a good developer experience.

odo/devfile could even go further and not even require (but stil support) explicit comands like this in the devfile but get info from labels/annoations on the container/pods to dr

[2020-02-04 19:26] gorkem commented on #2471
@maxandersen labels/annotations is also something I have on my mind. I suppose we should have it in odo repo but I want to build those into the specification of what stacks are.

[2020-02-04 19:55] sspeiche commented on #2471
@cmoulliard right, we should use the specialized support in the runtimes.

The generic "we don't have a built in way", then the SupervisorD could be supplied. If there are annotations or ENV vars (like ODO and Appsody) or labels/tags, could work as well

[2020-02-04 20:20] GeekArthur commented on #2557
@kadel I agree with you, there is no special for the devfile that support by odo. I didn't mean add new odo specific type, I mean the project devfile that includes specific commands for Codewind projects since Codewind will consume odo in the future.

The current status from today's contribution call:
- Pick some standard commands to decide if the component will show up on the odo catalog list
- P

[2020-02-05 09:23] cmoulliard commented on #2471
I dont see why we need `k8s labels` or even `k8s ENV vars` as the commands to be executed remotely should be passed to the tool (odo, hal, ...) or the framework (jshift, ....) communicating with the Dev's pod started using the trick `tail -f /dev/null`

[2020-02-05 12:16] rashmi-ibm commented on #2541
@kadel  I am running the odo commands on openshift 3.11 setup.  Just thought of sharing this info. Additionally do I need to create a pv/pvc using oc command line.

[2020-02-05 16:02] kanchwala-yusuf commented on #1557
Thanks to @amitkrout, codecov comments are being posted on PRs after the access to codecov was granted at the openshift org level.

Now that we can see the codecov reports on each PR, closing this issue.

Please reopen if necessary.

[2020-02-05 16:02] #1557 closed

[2020-02-05 16:57] sspeiche commented on #2471
The question is how does the tool know what commands to run. The idea is to have the basic flow be:
1. If devfile or stack definition yaml, use it
1. If image doesn't have devfile/stack, look for something from the runtime/builder image provided (tag or ENV var?)
1. fall back to supervisord or some other default approach.

Are we not saying the same thing here? I could see a case where #2 was abou

[2020-02-05 17:23] cmoulliard commented on #2471
If you also integrates our `Runtime CRD` which interests too IBM Appsody ..., then you could also define your flow as such :

- If devfile or stack definition yaml, use it
- if `Runtime CRD` created for the component - runtime (e.g : quarkus, spring boot, vert.x, thorntail, nodejs), then select the fields:
  - commands: to know for the different operations: run/build/test/debug, what should be the

[2020-02-05 17:47] arthurdm commented on #2471
I believe that odo projects should be given a choice to create (from a template) a YAML file that leverages a particular runtime Operator to carry on the actual deployment, instead of just the raw k8s `Kind: Deployment`.

The advantage is the set of capabilities you now have access to, with a much lower knowledge bar.  For example: how to setup auto-scaling, knative deployments, certificate manage

[2020-02-05 19:15] cmoulliard commented on #2471
This is exactly what the tool `hal` is doing as by example the interactive mode will ask some questions to the end user: runtimer/version, capability, isService (=> Openshift route or ingress) ... that we will use to populate the `Component CRD`

[code]

[2020-02-06 07:39] prietyc123 opened #2570 "[FLAKE]make test fails on osx and windows in travis CI"
/kind bug
/kind flake

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** master

## How did you run odo exactly?

On OpenShift CI

## Actual behavior

Failed in getting the details of the changed file `TestWatchAndPush` on macOS.

Also watch.go is creating some temporary files ```C:\Users\travis\AppData\Local\Temp\fabric8-analytics-license-analysis047

[2020-02-06 07:44] amitkrout opened #2571 "unit test fails on macOS"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS
**Output of `odo version`:**
master
## How did you run odo exactly?
make test

## Actual behavior
[code]
[code]

[2020-02-06 07:49] amitkrout commented on #2571
@mik-dass I am assigning this unit test failure to you because you have done the recent changes to the ```DebugInfo``` changes from where the error is coming.

Please consider this a s high priority as it blocks #2518

[2020-02-06 07:59] amitkrout commented on #2571
@mik-dass you can handle this issue along with your pr #2518.

[2020-02-06 07:59] #2571 closed

[2020-02-06 09:12] mik-dass commented on #2571
My PR is not merged yet. This error occurred on my PR, I will fix it there.

[2020-02-06 09:34] amitkrout commented on #2570
@mik-dass Based on your comment https://github.com/openshift/odo/issues/2571#issuecomment-582806408 on the duplicate issue #2571, do we really need this issue ? cc_ @prietyc123

[2020-02-06 09:34] kadel commented on #2571
@amitkrout critical priority is for thinks that break odo. Blocking PR from being merged is not critical.

/priority hight
/remove-priority  critical-urgent

[2020-02-06 09:43] mik-dass commented on #2570
Yes this is a different issue than that. This was introduced in https://github.com/openshift/odo/pull/2549#issuecomment-580589581

[2020-02-06 11:35] mohammedzee1000 opened #2573 "Clean up json output making it simpler"
[kind/Feature]

## Which functionality do you think we should add?
There is a lot of scatter in json output code with things that should not need to repeat, being repeated increases chances of having non-uniform json output

## Why is this needed?
Cleanup will help make it easier to code

[2020-02-06 12:03] #2290 closed

[2020-02-06 13:22] mohammedzee1000 commented on #2476
I tried renaming artifact files such as jar, war, ear in https://github.com/mohammedzee1000/odo-supervisord-image/blob/java_cleanup_artifacts/language-scripts/java/dev-assemble but it still finds the necessary.  artifacts. I validated the command

[2020-02-07 07:52] #1595 closed

[2020-02-07 08:37] rashmi-ibm commented on #2541
explicitly creating a PV with the correct accessMode fixed the issue.

[2020-02-07 08:37] #2541 closed

[2020-02-07 09:08] amitkrout commented on #2573
@mohammedzee1000 This not a feature request. So can you please apply the correct label for example ```/kind cleanup``` of ```/kind code-refactor```

[2020-02-07 10:30] amitkrout opened #2575 "codecov.io reports fishy behavior"
/kind bug

## What versions of software are you using?

**Operating System:**
CI
**Output of `odo version`:**
master
## How did you run odo exactly?
Send a pr

## Actual behavior
Most of the time watch.go is reported as a culprit though the file is not touched in the pr. For example - https://github.com/openshift/odo/pull/2572

<img width="835" alt="Screen Shot 2020-02-07 at 3 57 45 PM" src="https

[2020-02-07 20:48] johnmcollier commented on #2575
Similarly, I also noticed this with @kadel's PR to update the OWNERS file: https://github.com/openshift/odo/pull/2556#issuecomment-582055553

Codecov reported a 0.49% increase in code coverage for the OWNERS file update, which doesn't make sense haha.

[2020-02-07 21:53] elsony opened #2576 "MVP: Local support for devfile push"
Add devfile push support to local (non-Kube) scenario.  The CLI usage pattern and the behaviour will be very similar to the corresponding devfile push scenario in Kubenetes.

The MVP local scenario includes:

- [x] Add ability to switch context between local and kube (#2577)

- [x] Add lclient to handle local deployment functions similar to the kclient handling the Kube deployment functions (#2578

[2020-02-07 21:53] elsony commented on #2576
/kind epic
/area devfile

[2020-02-07 22:08] johnmcollier opened #2577 "Add ability to switch context between local and kube (odo context)"
## User Story
As a user, I want to be able to switch contexts between using odo for Kubernetes development with devfiles, and local development with devfiles (with Docker as the container runtime). An `odo context <context>` command can enable this, where `<context>` is either `local` or `kube`.

## Acceptance Criteria
- [ ] It should allow users to easily switch between contexts when developing w

[2020-02-07 22:18] johnmcollier opened #2578 "Add a client library to handle local deployment functions similar to kclient."
If we're to enable odo to develop against containers running on your local machine, it needs a client library to interact with those containers, similar to how we have client libraries for the OpenShift and Kubernetes clients right now.

## Acceptance Criteria
- [ ] It should have a set of functions for: Pulling and deploying containers, removing containers, syncing code to containers, exec-ing in

[2020-02-07 22:22] johnmcollier opened #2579 "Odo push should deploy local Docker containers when pushtarget is set to Docker"
## User Story
As a user, I want to be able to create components in odo (using `odo create component`), and be able to deploy the same set of devfiles locally, as I would on Kube. This also means `odo create component` should also be identical, [regardless of the context that's being targeted](https://github.com/openshift/odo/issues/2577).

## Acceptance Criteria
- [x] Devfiles that work on Kube wi

[2020-02-07 22:27] johnmcollier opened #2580 "Use 'odo create url' to expose an application running locally"
## User Story
As a user, I want to be able to expose my applications/containers when using odo for local development. Instead of exposing a route or ingress, it should assign an external port to the application container. `odo push` would then restart that application container, with the specified port used as the exposed port.

## Acceptance Criteria
- [ ] It should assign an exposed port to the

[2020-02-07 22:35] johnmcollier opened #2581 "Use 'odo delete` to delete a component that's running locally with odo"
## User Story
As a user, I will need to be able to delete the applications I've deployed and developed with locally (on Docker), just as I can on Kube right now. `odo delete <component>` should remove all of the running containers for that application, alongside any volumes or other resources that were created.

## Acceptance Criteria
- [ ] It should clean up all of the resources deployed for that

[2020-02-07 22:37] johnmcollier commented on #2581
/area devfile

[2020-02-07 22:37] johnmcollier commented on #2580
/area devfile

[2020-02-07 22:37] johnmcollier commented on #2579
/area devfile

[2020-02-07 22:37] johnmcollier commented on #2578
/area devfile

[2020-02-07 22:37] johnmcollier commented on #2577
/area Devfile

[2020-02-07 22:41] johnmcollier opened #2582 "Add ability to create application resource/template from stack"
## User Story
As a user, I want to be able to use odo to point to a devfile/stack that has its own application template associated with it, and have the template generated on my disk. This will be similar to the `appsody init` command that we're trying to replicate in odo.

## Acceptance Criteria
- [ ] It should clone/download project/application resources on my disk from a template associated wit

[2020-02-08 17:25] gorkem commented on #2577
What do we expect the context switch to do? Asking because I always imagined the local support would be a flag to certain commands such as `push` or `watch`

[2020-02-10 04:47] dremond71 opened #2583 "cannot access my nodejs application even adding a url"
/kind bug

I decided to try them 60 day evaluation version of RedHat OpenShift Online.

I figured a Node.js / Express.js  REST API application would suffice. I built it and tested it locally in and outside of Docker.

First I pulled in my app from github via the web ui, and everything got built and running.
Awesome.
BUT, for the life of me ...could not figure out HOW to access my running nodejs ap

[2020-02-10 08:30] kadel commented on #2468
The devfile support (https://github.com/openshift/odo/issues/2467) is going to be done using just vanilla Kubernetes resources. One exception might be a Route. Odo should be smart enough to autodetect OpenShift and use Route instead of Ingress.

[2020-02-10 09:32] dharmit opened #2585 "Use go.mod for go package management"
`glide` is not maintained anymore and `go.mod` is the Go supported way of managing versioned modules. We should switch to using `go.mod` for odo code.

[2020-02-10 10:10] prietyc123 opened #2586 "Package github.com/Netflix/go-expect affecting some unit tests on Windows"
/kind bug

## What versions of software are you using?

**Operating System:** windows 10

**Output of `odo version`:** master

## How did you run odo exactly?

```make test``` on windows

## Actual behavior

Some unit tests are failing.

## Expected behavior

```make test``` should pass successfully

## Any logs, error output, etc?

Ref : https://travis-ci.com/openshift/odo/jobs/284808147

[2020-02-10 16:12] johnmcollier commented on #2585
+1, when we were developing the kdo-poc on https://github.com/redhat-developer/odo-fork/tree/kdo-poc, we weren't able to use glide and switched to Go Modules without issue.

[2020-02-10 16:23] johnmcollier commented on #2577
Our line of thinking was that it would enable users to activate support for "local" development without having to add `--local` to all of their commands. The context switch would just add some metadata to the odo config.yaml. Alternatively, if we wanted to keep `odo context` as an optional command for local support, we could also add support for `--local` flags as well (if `--local` is used, it wo

[2020-02-10 16:26] kadel opened #2588 "Flaky Unit test on MacOS"
Unit tests for watch.go sometimes fail with the following error:

[code]

/kind flake
/area testing
/priority high

[2020-02-10 16:27] kadel commented on #2585
/kind code-refactoring
/priority medium

[2020-02-10 16:28] kadel commented on #2585
@johnmcollier Why you were not able to use glide?

[2020-02-10 16:33] kadel commented on #2583
OpenShift Online is not allowing `NodePorts` or `LoadBalancer` Services, so you can't expose you application just using `Service` (there will be no externalIp when you run`oc get svc` ).

The url that you created using `odo url create` should work. It creates OpenShift Route resource, you should be able to see it when you run `odo get route`.
If it just hangs than something might be up with the no

[2020-02-10 16:33] kadel commented on #2583
/triage needs-information

[2020-02-10 16:53] johnmcollier commented on #2585
@kadel My memory's a little fuzzy as to exactly _what at this point made glide unusable for us (this was back in June of last year). I believe we were having issues adding dependencies (might've been the upstream k8s client-go? I'm not sure).

@rajivnathan Do you remember why we used go modules?

[2020-02-10 17:19] rajivnathan commented on #2585
I don't remember the specific reason either but go modules are provided with the go toolchain and we've had positive experiences using it before. Considering glide is not maintained anymore and dep is working on an alternative prototype it makes sense to use Go modules since module mode is the default since Go 1.13 and its the official package manager.

[2020-02-10 18:38] cdrage commented on #2428
@pmacko1 Yeah, there is no "next step" solution after odo since we focus on just the "inner loop" process at the moment. We need to emphasize that odo is currently for development only and that current outer-loop solutions are in development.

[2020-02-10 19:26] cdrage commented on #2179
@Preeticp I think so.

Does https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/odo-architecture.html help @RickJWagner ?

[2020-02-10 19:29] cdrage commented on #2392
@amitkrout Yeah, let me take this up. I'm going to refactor https://github.com/openshift/odo/pull/2426 completely and give some more verbose / better errors for the timeout.

[2020-02-11 01:03] dremond71 commented on #2583
This is my repo on github:

 https://github.com/dremond71/rhosapp3

[2020-02-11 01:06] dremond71 commented on #2583
- I have a directory `db` with a json file (as a child of the main project directory)
- I have a Dockerfile

I have tested my app on my laptop in and outside a docker container and it works.

Perhaps I am not supposed to have a Dockerfile, or it has to specify specific things?

[2020-02-11 01:42] dremond71 commented on #2583
odo log

[code]

I didn't use this command the other day.

I did:

` oc get pods`

which returned

[code]

So completed and running statuses seemed like everything is fine.

The web ui for the pod says it is running:

![image](https://user-images.githubusercontent.com/5295985/74205545-d64c4b00-4c45-11ea-985c-cb1391704a99.png)

[2020-02-11 01:45] dremond71 commented on #2583
[code]

Perhaps this was caused by:

package.json
[code]
I start my app with : `npm start`

but perhaps the "main" entry has to be `server.js`

I will try this.

[2020-02-11 02:24] dremond71 commented on #2583
I deleted the project from web ui.
I started in a fresh directory
I made the change to main entry.

odo log

now shows

[code]

No errors.

`oc get route`

returns

[code]

[2020-02-11 02:29] dremond71 commented on #2583
`oc get svc`

[code]

[2020-02-11 02:33] dremond71 commented on #2583
so... exactly how do I access my application?

With this url?

http://nodejs-rhosapp3-vadp-8080-app-rhosapp3.apps.us-east-1.starter.openshift-online.com:8080

?

In postman

POST http://nodejs-rhosapp3-vadp-8080-app-rhosapp3.apps.us-east-1.starter.openshift-online.com:8080/api/v1/grammarcheck

just hangs

Ping    http://nodejs-rhosapp3-vadp-8080-app-rhosapp3.apps.us-east-1.starter.openshift-online

[2020-02-11 02:41] dremond71 commented on #2583
oh

if I use

http://nodejs-rhosapp3-vadp-8080-app-rhosapp3.apps.us-east-1.starter.openshift-online.com/api/v1/myendpoint

without specifying :8080 , then it works.

Ok. that is unexpected.

I figured for sure I would need to use a port.

I can access my endpoint now.

Is this documented? That it is not necessary to use the port portion of the url?

[2020-02-11 07:39] amitkrout opened #2590 "Implement ginkgo tabular format for test spec inputs"
[kind/Feature]

## Which functionality do you think we should add?
ginkgo tabular format for test spec inputs. For more details check - https://onsi.github.io/ginkgo/#table-driven-tests

## Why is this needed?
To make the test script more friendly and talkative (Easy to understand)

[2020-02-11 12:24] kadel commented on #2583
Odo shows you the full and correct url in the `odo push` output.
The same for `odo url list` the URL displayed there is the one that you should use.

URL is represented as a Router OpenShift Resource, you can't really use a different port than default ones( 80 for http and 443 for https.)

[2020-02-11 19:04] johnmcollier commented on #2577
/assign

[2020-02-11 19:21] GeekArthur commented on #2557
If the devfile satisfies the following three conditions then it's supported devfile
- Devfile has **dockerimage** component type
- Devfile has **build** command
- Devfile has **run** command

[2020-02-11 20:49] #2536 closed

[2020-02-11 22:30] elsony opened #2591 "devfile support for odo delete"
Related to #2470

## User Story
As a user, I want to be able delete the devfile components that I have created before so that it will do all the necessary cleanup.

## Acceptance Criteria
- [ ] odo delete command should delete the devfile component that has been created before.
- [ ] it should behave similar to the existing odo delete command
- [ ] delete will do all the necessary clean up as need

[2020-02-11 22:44] elsony opened #2592 "Url create support for devfile ingress"
Related to #2470

## User Story
As a user, I want to expose my service over ingress using either secure or non-secure connection.

## Acceptance Criteria
- [ ] Example:$ odo url create --port 8081 --ingressDomain xx
- [ ] Secure example:$ odo url create --port 8081 --secure --ingressDomain xx
- [ ] It should enable HTTPS when the secure parameter has been specified
- [ ] create .odo/env folder to

[2020-02-11 23:05] yangcao77 commented on #2592
/assign

[2020-02-11 23:05] yangcao77 commented on #2591
/assign

[2020-02-12 02:38] #2528 closed

[2020-02-12 06:35] mik-dass opened #2594 "odo describe fail for not pushed components"
/kind bug

## How did you run odo exactly?

`odo describe` for a not pushed component with a not pushed storage attached

## Actual behavior

[code]

Add more tests related to `odo describe` but time boxing it to 1 day.

## Expected behavior
Shouldn't error out and display the info from the local config.

[2020-02-12 08:12] adisky commented on #2594
@mik-dass It should get fixed when `ListStoragewithState` gets implemented, it lists with state from both the places local config and cluster.
https://github.com/openshift/odo/pull/2584/files#diff-f201afca3f23e7411fe9cb0cfc8a2011R465

[2020-02-12 09:16] mik-dass commented on #2594
https://github.com/openshift/odo/pull/2584/files#diff-f201afca3f23e7411fe9cb0cfc8a2011R465

OK :+1:  please link this issue with #2584 so that this gets closed with that PR.

[2020-02-12 09:31] adisky commented on #2594
Keeping the issue, as it needs to be updated to call, `ListStorageWithState`

[2020-02-12 11:21] #2364 closed

[2020-02-12 18:01] maysunfaisal commented on #2536
@kanchwala-yusuf I just tried this out from master, but i dont see the devfile flag when enabled:

[code]

[2020-02-12 20:40] elsony commented on #2577
The other point regarding to adding `odo context` command is that when user starts to use the local scenario, most of the commands that they call will be all executing on the local.  It will pretty rare that the user will call one command on Kube and another command on local and doing constant context switch.  Having the `odo context` command will save the user from having to pass the `--local` fl

[2020-02-12 21:44] cdrage commented on #333
I have a feeling we're moving away from RHOAR and into using operators / something custom.

Could we close this @dharmit / @slemeur / @kadel  ?

[2020-02-13 07:47] kanchwala-yusuf commented on #2536
@maysunfaisal ,
The `--devfile` example shared above by @kadel is just a toy example (at least I would like to consider it that way) and demonstrates how the experimental mode should behave.

In the current master, the `odo push-devfile` command has been placed in the experimental mode.

We are now working towards removing the `push-devfile` sub command and replacing it with `--devfile` flag. You

[2020-02-13 11:55] girishramnani commented on #2479
got it, closing this issue then

[2020-02-13 11:55] #2479 closed

[2020-02-13 12:02] girishramnani commented on #2463
but as someone went to the trouble of building an operator for service binding, there would be some self healing features which we won't be able to implement.
This is because operators are reactive in nature but when we add linking feature in `odo link` it cannot react to events occuring on the cluster. But the tradeoff shouldn't be that huge as odo is intended for development mode.

[2020-02-13 12:12] girishramnani commented on #2592
There is a correlated issue of occlient here https://github.com/openshift/odo/issues/2561
cc @mik-dass

[2020-02-13 13:11] cdrage opened #2600 "Validation with default Devfile's does not work."
/kind bug

## What versions of software are you using?

Tried using: https://github.com/redhat-developer/devfile/blob/master/getting-started/go/devfile.yaml

against master `odo`.

## Actual behavior

[code]

## Expected behavior

Parser working correctly and THEN erroring out with no `build` or `push` available.

## Any logs, error output, etc?

See above

@kanchwala-yusuf

[2020-02-13 14:55] mcouliba opened #2601 "Adding ConfigMap data to a Volume"
/kind bug

## What versions of software are you using?

**Operating System: RHEL8 (ubi)**

**Output of `odo version`: 1.0.2**

## How did you run odo exactly?

After mounting a ConfigMap data to a Volume inside my application deployed by odo, I am not able anymore to use odo

$ odo list
 ✗  no PVC associated with Volume Mount volume-56kng

[2020-02-13 15:00] kadel commented on #2601
You did that by manually editing DeploymentConfig created by odo?

Odo is quite sensitive to changes that are done outside of its control. If you make manual changes to any resource that odo created it won't work. It will either fail or just overwrite your changes.

[2020-02-13 15:02] mcouliba commented on #2601
Is it possible to mount a ConfigMap with odo?

On Thu, Feb 13, 2020 at 4:01 PM Tomas Kral <notifications@github.com> wrote:

--

Madou Coulibaly

SENIOR SPECIALIST SOLUTION ARCHITECT

Red Hat EMEA <https://www.redhat.com/>

madou@redhat.com
M: +33659542996
<https://red.ht/sig>
<https://redhat.com/summit>

[2020-02-13 16:44] cdrage opened #2602 "Issues with localConfigInfo in common_push.go"
/kind bug

## How did you run odo exactly?

So... for some reason, `LocalConfigInfo` is imported twice into `component/create.go` here:

https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/create.go#L48

Which then imports it twice in `common_push.go`...

https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/common_push.go#L31

[code]

Because in `*genericclioptions.Con

[2020-02-13 16:45] cdrage commented on #2602
Ping @mik-dass  and @girishramnani I believe you two are the best suited for the task. I tried some simple debugging but found I would fix one bug, cause 99 others haha

[2020-02-13 17:02] kadel commented on #2600
/area devfile

[2020-02-13 17:04] johnmcollier commented on #2473
Updating the plan for Devfile syncing:
- When creating the deployment for devfiles, create an emptyDir volume and mount it under `/projects`
    - `/projects` is the default mount path for projects in Che with devfiles
- If a component has `mountSources: true` set in it, we'll mount the emptyDir volume to it
- When syncing, we'll sync the source code to the first container we found that had set `m

[2020-02-13 17:04] kadel commented on #2602
/kind code-refactoring

[2020-02-13 17:04] kadel commented on #2602
/project "Sprint 180"

[2020-02-13 17:08] kadel commented on #2601
No :-(, odo doesn't support that currently

[2020-02-13 17:09] kadel commented on #2590
/area testing
/kind code-refactoring

[2020-02-13 17:10] kadel commented on #2602
/area component

[2020-02-13 17:14] kadel commented on #2583
closing this one
@dremond71 if you find any issues with odo, feel free to reopen this or open a new issue

/close

[2020-02-13 17:14] #2583 closed

[2020-02-13 17:14] kadel commented on #2601
/triage needs-information

[2020-02-13 17:14] kadel commented on #2594
/area component

[2020-02-13 17:15] kadel commented on #2586
/area testing

[2020-02-13 17:15] kadel commented on #2585
/area dependency

[2020-02-13 17:17] kadel commented on #2578
/kind user-story

[2020-02-13 17:20] kadel commented on #2576
This will be a big task with a lot of specifics. I've created new area label for this to make it easier to filter out things related local use-case

/area local

[2020-02-13 17:21] kadel commented on #2577
/area local

[2020-02-13 17:21] kadel commented on #2579
/area local

[2020-02-13 17:22] kadel commented on #2580
/area local

[2020-02-13 17:22] kadel commented on #2581
/area local

[2020-02-13 17:53] kadel commented on #2575
/area testing

[2020-02-13 17:54] kadel commented on #2573
@mohammedzee1000 can you please list things that need to be fixed?

/kind cleanup
/area json-output

[2020-02-13 17:54] kadel commented on #2570
/area testing

[2020-02-13 17:55] kadel commented on #2566
/area devfile
/kind epic

[2020-02-13 17:56] kadel commented on #2563
/area s2i

[2020-02-13 17:57] kadel commented on #2561
/area url

[2020-02-13 17:57] kadel commented on #2559
/area storage

[2020-02-13 18:12] kadel commented on #2361
/kind s2i

@girishramnani why was this reopened? Is this still an issue?

[2020-02-13 18:12] kadel commented on #2361
/area s2i

[2020-02-13 18:12] kadel commented on #2538
/area component
/area devfile

[2020-02-13 18:16] girishramnani commented on #2361
Yes, let me find the logs. It was reported by an external user

[2020-02-13 21:09] yangcao77 commented on #2592
When `Experimental=true`, the devfile path has been chosen. `udo url` would create an ingress instead of Openshift route.

`odo url create <ingressDomain>--port 8081 --secure true `
The optional flags `port`  and `secure`  work the same as current existing odo url.
`<ingressDomain>` is required to be provided.

If `secure=true`,  a self-signed certificate will be created and a tls secret & ingress

[2020-02-13 21:14] yangcao77 commented on #2592
Here are the detailed information on the https support:
- The certificate will use x509 with rsa key.
- `SerialNumber` will use `time.Now()` and encoded to make sure of the uniqueness.
- Livetime of the certificate will be 1 year.
- All ingresses of a single component will share the same ssl certificate & tls secret.
- The tls secret will not be deleted by `odo url delete`. It will only be deleted

[2020-02-13 21:28] yangcao77 commented on #2592
[code]

[2020-02-14 06:44] girishramnani commented on #2577
- we already have `context` being used for component directory all through out odo commands. So I would suggest  `target` parameter for this feature.
- we have `sourceType` that can be set to `git`, `binary` or `local` so please consider something else for local development. maybe consider `--docker` or `--oci` or `--container`?
- we can avoid implementing `odo context` by providing `--target` fla

[2020-02-14 07:12] girishramnani opened #2603 "update nodejs images in the supported component catalog"
## User Story
As a developer I would like to use nodejs 12 images with all the features odo provides which includes experimental features like `odo debug`.

## Acceptance Criteria
- [ ] Basic features of odo should work correctly with new nodejs images (centos/nodejs-12-centos7`, `rhscl/nodejs-12-rhel7` and `nodeshift/centos7-s2i-nodejs`)
- [ ] experimental features like odo debug should work corr

[2020-02-14 09:43] kadel commented on #2603
/area s2i

[2020-02-14 09:46] adisky opened #2604 "Multiple calls to Openshift API to fetch same data."
/kind code-refactoring

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
 `odo app describe`

## Actual behavior
for `odo app describe` command, Multiple calls to fetch the same data.
This is happening due to non hierarchical nature of structures, e.g. AppSpec(https://github.com/openshift/odo/blob/master/pkg/applicati

[2020-02-14 10:43] kadel commented on #2577
@johnmcollier
I'm afraid that adding another command will just make it really confusing.
We already have `odo preference` that handles global odo settings for the current machine. (stored in `$HOME/.odo/`
And `odo config` that is supposed to handle anything that is project-specific. (currently stored with source code in `.odo/config.yaml`, in future, I would like to completely replace this file wi

[2020-02-14 10:51] kadel commented on #2604
You are right. But it will need some lazy loading. Because if you start adding references you can end up fetching a lot of data that you don't need.

Let's say that  `Application` has an array of `Components` structs instead of just listing names and `Components` has array `Storage` structs instead of just names, and also the same for `URL`.

Now If I want to get information about the application

[2020-02-14 11:39] adisky commented on #2604
@kadel Agreed, But at some places without using reference we are fetching all data like `odo component list`, https://github.com/openshift/odo/blob/master/pkg/component/component.go#L864, it is calling GetComponent() https://github.com/openshift/odo/blob/master/pkg/component/component.go#L1320, which is populating storage/url's also. Its like if we are referring  `storage` as list of strings, we n

[2020-02-14 13:17] kadel commented on #2547
fixed in #2548
/close

[2020-02-14 13:17] #2547 closed

[2020-02-14 13:50] kadel opened #2605 "odo catalog commands without existing component"
# User Story
- As a user, I want to list items from `odo catalog` without creating a component first.

## Acceptance Criteria
- `odo catalog *` commands should not require component (localConfig) to list, describe or search services and component types
- if any of `odo catalog *`  commands need project, the current project from `KUBECONFIG` should be used.

/kind user-story

Feature request: https

[2020-02-14 13:53] kadel commented on #2605
from #2111
/label points/2
/label state/Ready
/area catalog
/kind user-story

[2020-02-14 13:54] kadel commented on #2111
/remove-kind user-story

This be addressed in user story https://github.com/openshift/odo/issues/2605

[2020-02-14 14:24] kadel opened #2606 "Autoselect local port for debug port-forward"
## User Story
- As a user, I want to be able to simultaneously debug two components at the same time without manually selecting local ports.

## Acceptance criteria
- odo should use fixed default port as a default local port
- if the default port is not available it should automatically select an available port
- if user set local port using `--local-port` flag and port is not available error out

[2020-02-14 14:26] kadel commented on #2606
from  #2459
/triage ready
/area debug
/priority medium

[2020-02-14 14:27] kadel commented on #2459
User story created in https://github.com/openshift/odo/issues/2606

[2020-02-14 15:22] johnmcollier commented on #2577
@kadel Yeah, that's a fair concern, and that's why I brought up using something like `odo preference` or `odo config` on slack, as I realized the implementation of `odo context` would just be a wrapper for those commands.

My concern though with storing the setting in the odo preferences is that it makes it a global change, and needs to be switched off for any projects users want to use on Kube.

[2020-02-14 15:55] kadel opened #2607 "Allow linking to any arbitrary service in the cluster."
## User Story
As a user, I want to be able to link my component to a database or any other service that was not necessarily created by odo (I might manually deploy it from OpenShift template or using Helm.)

## Acceptance Criteria
- [ ] It should be possible to link components using the `odo link` command to any `Service` resource.

/kind user-story
/area linking

[2020-02-14 15:57] kadel commented on #2553
/kind cleanup
/area devfile

[2020-02-14 15:57] kadel commented on #2553
/triage ready

[2020-02-14 18:53] girishramnani commented on #2577
Again remembering the conversation with jorge about `config.local` file 😂 @kadel

[2020-02-14 18:57] girishramnani commented on #2577
I always forget this aspect 😅 . Yeah I guess the only possible approach is to go with preferences then. But the other points related to the naming still hold.

[2020-02-14 21:48] elsony opened #2608 "odo catalog list components command output improvement"
## User Story
As a user, I want to see more details on the output of the `odo catalog list components` so that I can easily decide which component to pick when looking at the returned list.

## Acceptance Criteria
- [ ] Add a column for the description of the component entry to help user to understand what is each component used for.  For devfile style, description can be found in meta.yaml in the

[2020-02-14 22:10] elsony opened #2609 "odo watch support for devfile"
## User Story
As a user, I want to turn on watch on the devfile style application so that I can see the changes to take place after I have made the code changes on my application.

## Acceptance Criteria
- [ ]  `odo watch` command (same syntax as s2i style application) to turn on watch for current component
- [ ] `odo watch frontend` to watch for changes in directory for component called frontend

[2020-02-14 22:10] johnmcollier opened #2610 "Odo watch support for devfile components"
## User Story
As a user, when I have the experimental flag set, I want to be able to run `odo watch` against my projects/components with devfiles so that changes are automatically detected and pushed up to the devfile component running on Docker, or my Kubernetes cluster.

## Acceptance Criteria
- [ ] Implement `odo watch` for devfile projects
- [ ] It should work for both Docker and Kube
- [ ] It

[2020-02-14 22:12] johnmcollier commented on #2610
Since `odo watch` currently directly calls the `WatchAndPush` function (which in turn calls the PushLocal), it will need to be updated to provide support for Devfile components when the experimental flag is enabled.

@girishramnani @elsony This should probably be included in sprint 180.

[2020-02-14 22:16] johnmcollier commented on #2610
Closing as a dupe of #2609

[2020-02-14 22:16] #2610 closed

[2020-02-15 01:32] #2015 closed

[2020-02-16 10:06] amitkrout commented on #2586
@prietyc123 https://github.com/openshift/odo/pull/2562#issuecomment-586195763

[2020-02-17 06:14] amitkrout opened #2611 "Archive odo failure logs"
## User Story
As a user I want to archive the failure logs responsible for and placed it in the host from where odo runs  so that i can analyze the failure reason without tampering or playing around the real cluster. More over it helps to share these logs without sharing the cluster for some customer who don't want to share their cluster info.

## Acceptance Criteria
- [ ] Collect all the logs tha

[2020-02-17 06:15] amitkrout commented on #2611
ping @girishramnani @kadel
Please feel free to add your suggestions

[2020-02-17 09:32] jichenjc opened #2612 "[question] multi-arch support of odo"
[kind/Feature]

## Which functionality do you think we should add?
multi arch build support e.g build IBM s390x or ppc arch exec files
looks like there is release files https://mirror.openshift.com/pub/openshift-v4/clients/odo/v1.1.0/
but is the build process included in this repo or somewhere downstream? thanks

## Why is this needed?

[2020-02-17 09:41] kadel commented on #2612
It is built on downstream infra, but most of the scripts are here in the repo.
Binaries as simply build by executing  `make cross`. This Make targets just executes the https://github.com/openshift/odo/blob/master/scripts/cross-compile.sh script.

[2020-02-17 09:41] kadel commented on #2612
/triage support

[2020-02-17 09:48] jichenjc commented on #2612
thanks a lot for the info, will dig more about the code provided ~

[2020-02-17 10:10] kadel commented on #2608
One important piece of information is missing: Where to get the list of devfiles.

odo should support listing devfiles from two types of sources: public and private.

For the public one, odo should use the same devfile registry as hosted Che (https://che.openshift.io).
The registry is hosted at https://che-devfile-registry.openshift.io/ (source: https://github.com/eclipse/che-devfile-registry)

Fo

[2020-02-17 10:17] kadel commented on #2490
This is more of a question than a feature.
/kind discussion
/remove-kind json-output

[2020-02-17 10:21] kadel commented on #2485
`odo push` can already detect if something has changed or not.

/triage needs-information

[2020-02-17 10:30] kadel opened #2613 "Instantiate and manage services through Operator"
## User Story
As a user, I want to create a new instance of my database or another service managed by operators So that I can use it (link it) with my application

## Acceptance Criteria
- [x] odo should create a new instance of an operator in my project using `odo service create` command (#2723)
- [x] `odo service list` should list all created services (#2790)
- [x] `odo service list -o json` sho

[2020-02-17 10:33] kadel commented on #2462
Closing in favor of the https://github.com/openshift/odo/issues/2613 user story

[2020-02-17 10:33] kadel commented on #2462
/close

[2020-02-17 10:33] #2462 closed

[2020-02-17 10:37] kadel opened #2614 "json output for odo version"
## User Story
As an ide plugin, I want to get information about odo version in machine-readable format (JSON)

## Acceptance Criteria
- [ ] `odo version -o json` should print its information in json format. Example of the output is at https://github.com/openshift/odo/issues/2323#issuecomment-572436914

## Links
- Feature Request: https://github.com/openshift/odo/issues/2323

/kind user-story
/area

[2020-02-17 10:37] kadel commented on #2323
/close
in favor of https://github.com/openshift/odo/issues/2614

[2020-02-17 10:37] #2323 closed

[2020-02-17 10:42] kadel opened #2615 "describe operator backed services"
## User Story
As a user, I want to get detailed information about operator backed service before I create it

## Acceptance Criteria
- [ ] `odo catalog describe service <name>` should provide detailed information about the service from OperatorHub.
- [ ] `odo catalog describe service <name> -o json` should provide detailed information about the service from OperatorHub in json format

Same AC move

[2020-02-17 10:43] kadel commented on #2480
/close
in favor of https://github.com/openshift/odo/issues/2615

[2020-02-17 10:43] #2480 closed

[2020-02-17 10:50] kadel opened #2616 "Allowing to change size of PVC that is used to store source code"
## User Story
As a user, I want to be able to specify the size of PVC that odo uses to store source code So that I can run the application that are bigger than 1Gb

## Acceptance Criteria
- [ ] It should be possible to specify size of PVC that odo uses to store application source code using `odo config` command. This information will be stored in the component configuration (`.odo/config.yaml`)

#

[2020-02-17 10:50] kadel commented on #2455
/close
in favor of https://github.com/openshift/odo/issues/2616

[2020-02-17 10:50] #2455 closed

[2020-02-17 11:43] sspeiche opened #2617 "Enable existing app for GitOps workflow"
## Description
As a developer, I want to have a simple command to "GitOps-enable" my existing application so I
can easily have CI enabled.

This command could look something like: `odo gitops-enable --stak=springboot .`
which could read some information from the associated stak or auto-detect.

## Acceptance Criteria
* User is able to execute command and have supporting files generated for an exis

[2020-02-17 11:50] sspeiche commented on #762
@bbrowning This is quite old and not really relevant anymore, I propose we close it and create new focused epics around separate use cases:
* Knative serving - being able to deploy apps with `knative.Service` instead of DC
* Knative evening - being able to "subscribe" to events, via some command

[2020-02-17 11:54] sspeiche opened #2618 "Link via ServiceBindingRequest"
## Description
As a developer, I would like to be able to easily inject my source component with the config/secrets/envvars needed to invoke a backing application, so I can focus on may application code instead of configuring application connections.

## Acceptance criteria
* User can issue link command and then push changes, when pushed it will be determined that the components are compatible for

[2020-02-17 13:33] dharmit opened #2619 "JSON output for operators available in the cluster"
## User Story
As a consumer of odo (for example: Adapters), I want to get `json` output for list of OperatorHub services that would help us present the information to end-users (for example: those using IDE plugins)

## Acceptance Criteria
- [ ] `odo catalog list services -o json` should list operators from OperatorHub along with the services that it currently lists from Service Catalog

## Links

[2020-02-17 15:56] jorgemoralespou commented on #2577
I guess this never got implemented :-D

[2020-02-17 16:41] girishramnani commented on #2577
Well at the time, there wasn’t a good enough usecase and the config file could have become too confusing a feature.

[2020-02-18 09:07] girishramnani commented on #2577
@johnmcollier I would suggest to have the `PushTarget` or `Target` ( I prefer the former as it gives more information ) as a preference in the preferences file

[2020-02-18 09:24] girishramnani commented on #2618
@sspeiche as per discussion in this issue https://github.com/openshift/odo/issues/2463 . `ServiceRequestBinding` requires the `service binding operator` to be installed on the cluster and we can do the binding without using the `ServiceRequestBinding` CRD as well.

[2020-02-18 10:32] kadel commented on #2577
Is there an expectation that the user will work on the multiple projects at the same time where for one he wants to push it to local, and for another project to Kube?

But I would expect that if someone wants to work locally they will do it for all of the projects that they are working one.

[2020-02-18 12:30] #2559 closed

[2020-02-18 13:31] cdrage commented on #2602
Setting priority as high as this is affecting us adding new features (`odo create -o json`) and this has already as well as can cause more issues in the future.

[2020-02-18 13:32] cdrage commented on #2602
ping @mik-dass @girishramnani

[2020-02-18 13:56] dharmit commented on #2452
@mohitsuman @dgolovin We had a discussion about this issue on one of the team calls. It was mentioned that the `--all` flag was added based on request from the Adapters team. So, just being doubly sure here before we move ahead with removing the `--all` flag here. :wink:

[2020-02-18 15:43] sspeiche commented on #2618
@girishramnani yep, should be smart enough if installed and if annotations/olm-manifests

[2020-02-18 15:56] girishramnani commented on #2618
Why should we check if it installed?

[2020-02-18 16:03] dudash commented on #2353
+1

[2020-02-18 16:55] johnmcollier commented on #2577
As discussed on the contributor's call today, we'll do the following:
- MVP: store `PushTarget` in the odo preferences files, using `odo preferences set PushTarget`, valid values are `Docker` and `Kube`
- Post-MVP: Consider storing the `PushStarget` setting as part of a future local config file that is gitignored (for environment specific settings).

[2020-02-18 17:10] jdob opened #2620 "Deleting a project says there is a default but it can't be used"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 31

**Output of `odo version`:**
odo v1.1.0 (86c7e2c9)

Server: https://api.cluster-jdob-dd8d.jdob-dd8d.example.opentlc.com:6443
Kubernetes: v1.16.2

## How did you run odo exactly?
[code]

## Actual behavior
Using `--project` requires a project name to be specified.

## Expected behavior
The help docs say that it

[2020-02-18 19:58] #2561 closed

[2020-02-19 08:49] #2538 closed

[2020-02-19 11:36] adisky commented on #2527
Agreed with the above suggestion, path should be part of `spec`, I think it is under status as at some places it is used to find out if storage is mounted or not https://github.com/openshift/odo/blob/master/pkg/storage/storage.go#L307
[code]
It involves two things
- moving `status.path` to `spec.path`
- moving  `state` to status

I also suggest to use `mountPath` instead of `path`

[2020-02-19 11:37] adisky commented on #2527
cc @girishramnani @kadel

[2020-02-19 11:45] kadel commented on #2615
I would suggest addressing  #2613 (Instantiate service through Operator)  first.
When #2613 is implemented it will create nice MVP, that can already be used by odo users (list what can be installed `odo catalog list services` and install it using `odo service create`)

[2020-02-19 12:00] adisky commented on #2605
I am able to run `odo catalog *` commands without odo component dir
[code]
I had run other commands as well, `odo catalog list services`, `odo catalog search component golang` , am I missing something here?  I only found there is no command for describing catalog components `odo catalog describe component`, is this intentional ?

[2020-02-19 12:25] kadel commented on #2613
/assign @dharmit @girishramnani

[2020-02-19 12:38] girishramnani commented on #2602
and it seems this is happening at multiple places -

- Describe uses ComponentOptions which has context ( which has localconfiginfo ) https://github.com/openshift/odo/blob/de1aa2bcb44e8f1106d49454952c718b814e9fe4/pkg/odo/cli/component/describe.go#L31
- similarly watchOptions https://github.com/openshift/odo/blob/de1aa2bcb44e8f1106d49454952c718b814e9fe4/pkg/odo/cli/component/watch.go#L45
- Portforw

[2020-02-19 12:41] girishramnani commented on #2603
I would need to verify that all of these images work in a sample nodejs application and using debug mode as well.
After that I would open a PR on odo-init-image to add the images in the supported list then a similar PR on this Repo.

[2020-02-19 12:42] girishramnani opened #2621 "nodejs source example doesn't work correctly with node:latest image on openshift 4.4"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2020-02-19 12:42] girishramnani commented on #2621
@amitkrout I remember you mentioning this in the triage yesterday

[2020-02-19 13:00] girishramnani commented on #2613
a high level thought process around this was -

- to allow creating different CRDs present under same operator we could have the cli which looks like this
`odo service create <<CRD_NAME>> --operator <<operator>>`
e.g. `odo service create KafkaTopic --operator strimzi-operator`

- we can use the unstructured kubernetes client to instantiate the CRD . some reference on that here https://www.oreilly.

[2020-02-19 13:27] kadel commented on #2613
I would prefer the other way around. The operator's name is basically the service name. So the command should be `odo service create <operator>` with optional `--crd` flag that would be required only if Operator provides more than one API/CRD (OpenShift webconsole calls this "Provided APIs")

[code]

[2020-02-19 13:29] girishramnani commented on #2594
please add regression test for this?

[2020-02-19 13:31] dharmit commented on #2613
odo service create <<CRD_NAME>> --operator <<operator>>
e.g. odo service create KafkaTopic --operator strimzi-operator

This makes sense and I'm not suggesting that it's a wrong idea, but to keep things in sync with how we do it right now with services and plans (Service Catalog), I'd prefer `odo service create <operator> --crd <crd-name>`.

[2020-02-19 13:53] kadel commented on #2603
[code]

[2020-02-19 13:58] kadel commented on #2621
What does it mean that it is not working correctly?

More info?

[2020-02-19 14:02] kadel commented on #2527
If we do any changes here we need to sync with https://github.com/redhat-developer/vscode-openshift-tools as there is a risk of breaking.

Here is  a list of all odo commands that vscode plugin is calling https://github.com/redhat-developer/vscode-openshift-tools/blob/master/src/odo.ts

[2020-02-19 14:12] jeffmaury commented on #2527
Adding https://github.com/redhat-developer/intellij-openshift-connector andd https://github.com/jbosstools/jbosstools-quarkus

[2020-02-19 14:29] kadel commented on #2600
This is the validation that we need to skip https://github.com/openshift/odo/blob/master/pkg/devfile/versions/common/commands.go#L30

[2020-02-19 14:49] girishramnani commented on #2605
@kanchwala-yusuf please verify if this cannot be reproduced

[2020-02-19 15:11] girishramnani commented on #2557
Consideration of having a flag which allows users to specify commands for devfiles which do-not have `build` or `run` command. so we can support any devfile.

[2020-02-19 15:55] girishramnani commented on #2592
we need to consider differentiating environment specific information from non-specific stuff.

[2020-02-19 15:57] girishramnani commented on #2608
This issue is related to just viewing the information, the getting dev files from registry and filtering them is already being done as part of a different issue

[2020-02-19 15:59] kadel commented on #2471
We can expand it later. Currently, it is more important to get it working with regular Deployment as that is what will be most wildly used.

[2020-02-19 15:59] kadel commented on #2603
[code]

[2020-02-19 16:19] GeekArthur commented on #2557
@girishramnani We discussed the topic for supporting user specify commands by flag before, but from the previous discussion, IIRC we want to apply the flag to `odo push` instead of `odo create`. From my understanding, the reason is that the functionality of `odo create` is to download devfile to `.odo` folder which helps user create the devfile as configuration file, user doesn't know which comman

[2020-02-19 16:23] elsony commented on #2608
The filtering of the dev files from registry will be covered as part of https://github.com/openshift/odo/issues/2557.

[2020-02-19 16:25] kadel commented on #2592
What is this command going to do exactly?
Currently, the `odo url create` command just records the information about the url into local config, and then later when `odo push` is called it creates the resources on the cluster.

In this scenario where devfile is used, where would `odo url create` store the information and configuration?

One potential issue that I can see here is where we should sto

[2020-02-19 16:36] elsony commented on #2557
If we use those 3 criteria, out of the existing 26 Che devfile in the existing devfile repo, 12 of them meet those criteria:
Odo Supported Devfile Components:
NAME                        PROJECT     TAGS
apache-camel-springboot     N/A         N/A
cpp                         N/A         N/A
dotnet                      N/A         N/A
asp.net                     N/A         N/A
java-gradle

[2020-02-19 16:37] girishramnani commented on #2557
@GeekArthur would that also store these values in local config so that on the next push, user doesn’t have to map the commands again?

[2020-02-19 16:40] GeekArthur commented on #2557
@girishramnani Currently it won't but I think store the latest user specify commands in the local config is a good suggestion.

[2020-02-19 16:47] GeekArthur commented on #2557
Current status of `odo catalog list components` command with devfile support:
- The command output includes both supported & unsupported OpenShift components and supported (https://github.com/openshift/odo/issues/2557#issuecomment-584806323) & unsupported devfile components
- The devfile registry we use is Che devfile registry (https://github.com/eclipse/che-devfile-registry/tree/master/devfiles),

[2020-02-19 16:49] elsony commented on #2592
The current proposal is to store any environment specific info under a new folder called `.odo/env`. This folder will be the home for storing anything that is environment specific information on the project.  The ingressDomain will be stored in a file under that folder. Given that this item is the first consumer of storing environment specific info, the implementation of adding `.odo/env` will be

[2020-02-19 17:23] yangcao77 commented on #2592
`odo url create <clusterHost>  --secure true `
Upon creation, user only needs to provide the `clusterHost`. The clusterHost will be stored under env file under `./odo/env`.

The port number will be read directly from devfile's entry point, during `odo push`
The prefix of the ingress domain will be `<odoComponentName>-<port number>.<clusterHost>`

During `odo push`, we will check if there is a ingr

[2020-02-19 20:30] GeekArthur commented on #2557
`odo create` has a corner case where OpenShift component and devfile component share the same component name. For example, Che devfile registry has `nodejs` component, OpenShift component has `nodejs` component as well, then the conflict issue will be raised if user runs `odo create nodejs`.

To resolve the conflict issue, I can think of two options:
1. OpenShift component == devfile component (pr

[2020-02-20 13:34] kadel commented on #2557
Can you please open PR with the changes that you implemented? We would like to move quickly with small PRs rather than creating some big PRs with a lot of changes. We can hide partially implemented features with `ODO_EXPERIMENTAL` flag

This is great I like that both are displayed with a clear distinction of what will be working without problems and what might need additional changes or flags.

Yo

[2020-02-20 14:23] kadel commented on #2570
/priority high

[2020-02-20 14:48] kadel commented on #2592
+1 for stroring clusterHost in `.odo/env`

In the current odo version, the positional argument in  `odo url create <url name>` command is the url name, that needs to be unique. The reason is that the user should also be able to remove the url using `odo url delete <url name>`.

If we use the cluster host, then how would the user create multiple URLs with the same cluster host?

What happens if the

[2020-02-20 14:52] yangcao77 commented on #2592
As long as the <componentName> & <portNumber> is unique. Users can create multiple URLs with the same cluster.

If there is an entryPoint but no clusterHost is provided. An error/warning will be shown during `odo push`, since we parse& check the devfile content during push.

[2020-02-20 14:55] kadel commented on #2592
I was actually expecting that it would work slightly differently.
The URL should be represented with `previewUrl` in devfile. (https://github.com/redhat-developer/devfile/blob/master/docs/devfile.md#previewurl)

Let's assume that devfile has only one endpoint and one container (like this one https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-web-spring/devfile.yaml).

Runnin

[2020-02-20 14:58] kadel commented on #2592
how ti will it be shown in `odo url list`? and how will user specify what url to delete in `odo url delete` command? The Ingress name?
I would find that pretty confusing as a user if I create something calling `odo url create example.com` but I delete it running `odo url delete mycomponent-8080` especially if I need to script this.

[2020-02-20 15:06] kadel opened #2622 "Create Service for endpoint entry in devfile"
## User Story
As an odo user, I want other applications on cluster access my application that I'm developing

## Acceptance Criteria
- [ ] odo should create Kubernetes Service resource for each endpoint in devfile
- [ ] The Service should expose the same ports as they are defined in the endpoint field in devfile

## Links
- Feature Request:
- Related issue:

/kind user-story
/kind devfile
/area co

[2020-02-20 15:10] dudash commented on #1147
FYI, the .s2i/environment file is how Quarkus currently works with s2i:
https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started

https://quarkus.io/guides/deploying-to-openshift-s2i#deploying-the-application-as-java-application-in-openshift

[2020-02-20 15:11] kadel commented on #2592
I think `entrypoint` should be mapped to `Service` (https://github.com/openshift/odo/issues/2622) and `previewUrl` to `Ingress`

[2020-02-20 15:24] kadel commented on #2471
@rajivnathan Do you have an idea how are we going to handle the application starts and restarts, and trigger other commands?

[2020-02-20 15:58] GeekArthur commented on #2557
@kadel Thanks for your reply!

Sure, I will do some code cleanup and put up the PR, actually my current changes already included hiding the implementation with ODO_EXPERIMENTAL flag, so the PR should be ready soon

Yes, I am using `https://che-devfile-registry.openshift.io/`, sorry for the confusion

But, we can't do it just yet, because we would break existing IDE plugins for VSCode and IntelliJ

[2020-02-20 23:38] dudash opened #2623 "Use odo with OpenShift Service Mesh (aka Istio)"
[kind/Feature]

## Which functionality do you think we should add?
I think it'd be great to have the ability to use odo in conjunction with Istio/OpenShift Service Mesh. Service Mesh requires an annotation on the DeploymentConfigs created for each component. This is in order for the platform to inject a sidecar container with each pod. (spec/template/metadata/annotations of `sidecar.istio.io/injec

[2020-02-21 13:07] kadel commented on #1147
/priority medium
/remove-priority low

[2020-02-21 13:14] kadel commented on #2605
`odo catalog list services` works for me, but  `odo catalog describe service` fails for me the same way as described in #2111

[2020-02-21 14:41] adisky commented on #2605
yes, sorry!! I am also able to reproduce it, I mistakenly created a component in my home dir, so it was running.

[2020-02-21 17:24] GeekArthur commented on #2608
I agree with @kadel 's comment https://github.com/openshift/odo/issues/2608#issuecomment-586915551, we should have a mechanism to let user specify the registry for registry flexibility. Probably we can combine the two options, by default we automatically detect the registry on user's cluster, if it doesn't exist we provide option to let user specify the registry. We can open a separate issue for t

[2020-02-24 05:12] rajivnathan commented on #2471
@kadel Do you mean you're worried about the container exiting? Since by default we will override the entrypoint to something that won't cause the container to exit then commands can be used to start/stop the application. If a devfile writer decides to use their own entrypoint then that entrypoint would need to ensure the container stays up. However, that may be a less than ideal user experience. M

[2020-02-24 14:43] cdrage commented on #2608
@GeekArthur Why not both?

I know it may be tricky. But at the moment, we have two tables being outputted when doing `odo catalog list components`:

[code]

I'd suggest that we combine the tables, for example, we'd have one table that shows S2I images (if enabled):

[code]

Then have another table for Devfile.

Giving a lot more flexibility / showcasing *both* options, using Devfile (which obvious

[2020-02-24 16:26] GeekArthur commented on #2608
@cdrage That sounds to me, actually I like your design
- Independently maintain the two tables (s2i and devfile tables) can provide more unique information to user for each table (eg. PROJECT and TAGS for s2i table)
- Combine supported and unsupported tables can reduce the total number of tables from 4 to 2

I heard we have a design of sharing the same format for s2i and devfile, that's why I ment

[2020-02-25 04:16] jichenjc commented on #1623
@girishramnani @kadel could you please help me to understand the anyuid you are talking about above? I hit exactly same issue

[code]

but I already switched to a normal user I created and only have `edit` policy authorized
so it should not have anyuid policy ,I still seeing this error

can I know how I can verify my ID have this kind of policy? I tried several times with `default` project and `my

[2020-02-25 04:31] jichenjc opened #2628 "odo crashed when running catalog list components"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

[root@xyimgr77 ~]# ./odo version
odo v1.1.0 (86c7e2c9)

Server: https://api.ocp-test.redhat.com:6443
Kubernetes: v1.14.6+8bbaf43
## How did you run odo exactly?

create 3 image streams, the 2nd and 3rd might share some same info, but can't remember what's changed.. lead to following crash

[2020-02-25 06:29] prietyc123 opened #2630 "making package testingutil and ui work for unit test build on windows"
/kind bug

## What versions of software are you using?

**Operating System:** windows

**Output of `odo version`:** master

## How did you run odo exactly?

```make test```
Note: odo binary is not needed for this test

## Actual behavior

Unit test build gets failed on windows for packages mentioned in the issue title.
More details : https://github.com/openshift/odo/pull/2562#issuecomment-58619576

[2020-02-25 08:29] jichenjc commented on #1623
so I don't know how to
[code]

[2020-02-25 08:49] jichenjc commented on #1623
see following output in

oc edit pod ubi-frontend-qdyr-app-1-wqmp4

which is in
following status..

Warning  BackOff    17s (x10 over 106s)  kubelet, infnod-1.ocp-test.redhat.com  Back-off restarting failed container

[code]

[2020-02-25 09:01] jichenjc commented on #1623
for the deploy pod, I login and get this
[code]

[2020-02-25 09:19] prietyc123 commented on #2621
Just now I have tested the nodejs:latest tag on openshift 4.4 cluster and it works fine for me.

[code]
So I think we are good to go with the latest tag of nodejs on openshift 4.*  cc_ @amitkrout

[2020-02-25 09:20] prietyc123 commented on #2621
To make it confirm that it works fine on openshift 4.2 and 4.3 I will be sending one pr.

[2020-02-25 10:38] girishramnani commented on #2621
@amitkrout can you please add info to this. I opened it based on what you mentioned in triage.

[2020-02-25 10:44] prietyc123 commented on #2621
@girishramnani Actually nodejs:8 doesn't work on openshift 4.4. You might got confused with nodejs:8 and nodejs:latest :-)
https://github.com/openshift/odo/issues/2542 this issue is exactly similar.

[2020-02-25 10:46] girishramnani commented on #2628
can you share the image stream information? Like possibly the spec of the image stream you created?

[2020-02-25 10:56] dharmit commented on #2602
@cdrage

It's more helpful to refer the commit pointed to by `master` at the time of opening an issue instead of referring to the `master` branch since `master` keeps getting updated throughout the day. :wink:

[2020-02-25 11:06] kadel commented on #2471
I mean something a little bit different.
`odo push`  has multiple stages. For the first time push:
1) create the Deployment based on information in Devfile
2) upload the source code into the container (volume)
3) build the source code in the container (execute the build command as defined in  Devfile)
4) run the code that has been build in previous step.

step 3) is easy as all we need to do is eq

[2020-02-25 11:13] girishramnani commented on #2620
if you provide the `--project` flag then you need to provide the value for that flag too. If you don't provide the `--project` flag and just do `odo project delete` then it will **default to the active project**

[2020-02-25 11:14] girishramnani commented on #2620
please confirm if `odo project delete` deletes the active project or not. If so then please close the issue as well.

[2020-02-25 11:49] jichenjc commented on #1623
I added debug at following, hopefully to get some guide..

[code]

[code]

[2020-02-25 12:23] jichenjc commented on #1623
looks like /mnt in some container is not acceptable to be accessed ..
I switched to "/opt/app-root/src/mnt" for the volume mount and now I can pass this

so should we consider to update to "/opt/app-root/src/mnt"?

[2020-02-25 13:42] lholmquist commented on #2603
The nodeshift images mentioned above are no longer supported since we've migrated to using the images from rhscl

For our community examples, we've also moved from centos to ubi

[2020-02-25 16:45] kadel commented on #2603
How about existing 3.11 clusters? Are those somehow updated to deprecate those images?

[2020-02-25 17:09] GeekArthur opened #2635 "Support dynamic devfile registry"
## User Story
As a user I want to use devfile from different registries to build and deploy devfile component so that odo should have a mechanism to let user specify the registry for registry flexibility.

## Acceptance Criteria
- [ ] By default we automatically detect the registry on user's cluster to check if user has the private registry hosed on the cluster
- [ ] If user's cluster doesn't host

[2020-02-25 18:57] jdob commented on #2620
It doesn't:

[code]

[2020-02-25 19:00] jdob commented on #2620
Though as I write that, I'm seeing where my confusion was. I thought that `odo delete --project` would delete the current project, which is why I thought it didn't make sense that the project name needed to be specified. Now that I see `odo project delete`, I realize I was misunderstanding the purpose of `odo delete`.

I'm fine with closing this out. I'll leave it as your decision; feel free to ke

[2020-02-25 20:26] GeekArthur commented on #2557
Given odo create is just download devfile instead of create devile + we want to drop config.yaml file, we should have a way to handle <component name> argument in `odo create` properly if user wants to pass in.

Discussed this today, we decide to store the <componet name> information in the .odo/.env/<env file> to support specify <component name> via `odo create`

[2020-02-25 21:27] GeekArthur commented on #2557
Another topic we should talk about is regarding our customized devfile, I believe the original issue is from @elsony 's comment here: https://github.com/openshift/odo/issues/2557#issuecomment-588314614. @elsony 's point is that If we use Che devfile registry with conditions https://github.com/openshift/odo/issues/2557#issuecomment-584806323 that we check, we will have 12 supported devfile componen

[2020-02-26 04:27] girishramnani commented on #2603
The older images are not removed/deprecated. I check it but also verified by this comment https://github.com/openshift/openshift-docs/pull/19597#issuecomment-586220599

[2020-02-26 05:59] prietyc123 commented on #2621
There is one more issue opened related to this one #2542

/close

[2020-02-26 05:59] #2621 closed

[2020-02-26 06:23] jgwest commented on #2550
# ODO build and application status notification

*Feedback welcome*! I've written up a fair bit of detail, but that is primarily for informative purposes...  don't let that stop you from suggesting changes, making suggestions, etc.

## Terminology:

With this issue, I am looking at adding ODO support for allowing external tools to gather build status and application status. We further divide both

[2020-02-26 08:10] #2542 closed

[2020-02-26 08:11] girishramnani commented on #2620
Sorry I mistook `odo delete` For `odo project delete`.

[2020-02-26 08:11] girishramnani commented on #2620
It will delete the component

[2020-02-26 10:15] adisky opened #2638 "Implement `odo storage describe` and `odo url describe` command"
## User Story
As a user I want to get the details of a particular storage/url for a component.

## Acceptance Criteria
- [ ] It should implement command `odo storage describe <storage-name> `
- [ ] It should `odo url describe <url-name>`

## Links
- Feature Request:
- Related issue:

/kind user-story

[2020-02-26 10:19] adisky commented on #2638
as per the discussions with @tomas, `odo component describe -o json` does not contain complete storage information it only contains storage names, to get the complete information user needs to run `odo storage describe <storage-name> -o json `, this commands is missing in odo currently.

[2020-02-26 12:10] amitkrout opened #2639 "Scenario "should push only the modified files" fails on 4.4 cluster because of No such file or directory in "/tmp/src/""
/kind bug

## What versions of software are you using?

**Operating System:**
All supported
**Output of `odo version`:**
master
## How did you run odo exactly?
make test-cmd-push

## Actual behavior
Fails

## Expected behavior
Should pass

## Any logs, error output, etc?

[code]

[2020-02-26 12:12] amitkrout commented on #2639
For now i am considering this as a test blocker on 4.4, will investigate it further.

[2020-02-26 12:29] amitkrout opened #2640 "nodejs component create throws warning of "not fully supported by odo" on 4.4 cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
Throws warning

## Expected behavior
No warning message should come

## Any logs, error output, etc?

[2020-02-26 12:49] amitkrout commented on #2640
more details - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/6892/rehearse-6892-pull-ci-openshift-odo-master-v4.4-integration-e2e-benchmark/3#

[2020-02-26 13:11] jdob commented on #2620
"Sorry I mistook odo delete For odo project delete."

Basically, so did I :) I'm going to close this out and chalk it up to me still getting acquainted with odo's syntax.

Thanks :)

[2020-02-26 13:11] #2620 closed

[2020-02-26 13:20] kadel commented on #2550
+1

I should be `odo component status --events --follow`. Application in odo terminology is a group of components (microservices). The component is where the source code is (component roughly maps to Pod). This can be a little bit confusing :-( But we need to keep it consistent. In the future, we should consider changing how odo sess the components, applications, projects.

I like what you are pro

[2020-02-26 17:13] kadel commented on #2608
Nope. I think that it is good to approach. We will show different information for devfile than for s2i builder images, si two separate tables make sense.

[2020-02-26 17:30] kadel opened #2641 "Prow test are failing due to nodejs-8 image"
Prow test are failing due to nodejs-8 image!

ci/prow/v4.2-integration-e2e-benchmark
ci/prow/v4.3-integration-e2e-benchmark

[code]

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2637/pull-ci-openshift-odo-master-v4.2-integration-e2e-benchmark/684

/priority critical
/area testing
/kind failing-test

[2020-02-26 17:36] kadel commented on #2641
/assign

[2020-02-26 17:38] kadel commented on #2641
/unassign

[2020-02-26 17:50] kadel opened #2642 "Flaky tests for --now flag"
[code]

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2637/pull-ci-openshift-odo-master-v4.3-integration-e2e-benchmark/728#1:build-log.txt%3A395

/priority high
/kind flake
/assign @mohammedzee1000
/area  testing

[2020-02-26 19:16] elsony commented on #2608
I think it make sense to use two different tables to show different set of information for the two styles and combine the supported and unsupported table list.

One thing that I am not sure is if we should show the unsupported ones by default.  The devfile support will be using a public devfile registry by default if there is no private registry on a cluster.  There may be a sizable number of devf

[2020-02-27 06:18] adisky commented on #2452
@mohitsuman @dgolovin can we move ahead with removal of --all flag?

[2020-02-27 07:08] amitkrout commented on #2640
ping @girishramnani, you have fixed such issues in 4.3 i guess

[2020-02-27 07:20] amitkrout commented on #2642
[code]

This is where the issue is hit. I think @mik-dass  is looking into very similar issue.

[2020-02-27 08:43] #2471 closed

[2020-02-27 08:49] mik-dass commented on #2642
I was looking into a similar but different issue earlier: https://github.com/openshift/odo/issues/1981. This issue is arlready closed.

[2020-02-27 10:07] amitkrout commented on #2641
@prietyc123 @kadel I have tested the same scenario on 4.2 cluster more than 5 times to have atleast one occurrence of failure but none of the the time it hit.

From the logs it is clear that curl command could not hit the route in the specified time limit. Not sure if this is some kind of glitch from network side or from the nodejs application side itself. @kadel Until we are not sure on the issue

[2020-02-27 10:45] kadel opened #2646 "panic: runtime error: slice bounds out of range, when running `odo update --git`"
[code]

/kind bug
/area component
/priority high

[2020-02-27 11:00] amitkrout opened #2647 "start a debug session and run debug info on a closed debug session fails on 4.4 cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported
**Output of `odo version`:**
master
## How did you run odo exactly?
Run ```make test-cmd-debug``` on 4.4 cluster.

## Actual behavior
Test [scenario](https://github.com/openshift/odo/blob/master/tests/integration/cmd_debug_test.go#L93) should work

## Expected behavior
Fails

## Any logs, error output, etc?

[2020-02-27 13:08] kadel commented on #2647
/area debug

[2020-02-27 13:11] kadel commented on #2641
Yesterday I saw almost all PRs failing on this.
/kind flake
/priority high
/remove-priority critical
/remove-kind failing-test

[2020-02-27 14:12] #2628 closed

[2020-02-27 14:20] jichenjc commented on #2628
sorry, I didn't notice this question yesterday, I have 3 components (just copy below yml and do some rename of the name ,maybe I have some identical settings forgot to change lead to potential issue?

[code]

[2020-02-27 14:22] jichenjc commented on #2612
ok, I find the odo-init-image is not multi arch supported.. maybe something to work on .

[2020-02-27 16:57] rajivnathan opened #2650 "Implement Devfile Service support"
Related to https://github.com/openshift/odo/issues/2470

## Description
Devfile `dockerimage` components can specify endpoints.

**Here is an example snippet of the `components` section of a Devfile:**
[code]
In this example a service should be created that maps to port 8080 of the fat pod.

## Implementation Plan
TBD

## Acceptance Criteria
- [ ] Create a service for each component that specifies

[2020-02-27 17:09] rajivnathan commented on #2650
Closing as a dupe of https://github.com/openshift/odo/issues/2622

[2020-02-27 17:09] #2650 closed

[2020-02-27 17:50] johnmcollier opened #2652 "Add unit tests for file sync code"
While implementing https://github.com/openshift/odo/pull/2626, I saw that our file sync code (`CopyFile()` and the functions it depends on) didn't have any unit test coverage and only our integration tests were providing test coverage.

As this is such a critical piece of code for one of odo's core functionalities, we should add unit tests to it and ensure that there is proper test coverage

- [ ]

[2020-02-27 20:33] maysunfaisal commented on #2510
/assign @maysunfaisal

Closing since this is being covered by PR #2651

[2020-02-27 20:34] #2510 closed

[2020-02-27 22:16] yangcao77 commented on #2622
/assign

[2020-02-27 22:47] rajivnathan opened #2654 "Execute commands during Devfile push"
Related to https://github.com/openshift/odo/issues/2470

## Description
Devfiles can contain a list of commands that can be run against components in the devfile. odo devfile push should execute the applicable commands.

Example: https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-mysql/devfile.yaml

Commands section from the example devfile:
[code]

## Implementation plan
-

[2020-02-27 23:35] johnmcollier opened #2655 "Projects field in devfiles isn't optional for odo"
/kind bug

## What versions of software are you using?
odo built from master branch

## How did you run odo exactly?
1. Ran `odo preference set experimental true`
2. Downloaded this [sample devfile](https://raw.githubusercontent.com/johnmcollier/devfiles/master/odo/liberty/devfile.yaml)
3. Ran `odo push` and was presented with the following error:
[code]

Since the devfile spec allows the `project

[2020-02-28 06:32] amitkrout commented on #2530
https://github.com/openshift/release/pull/6764
/close

[2020-02-28 06:32] #2530 closed

[2020-02-28 09:47] kadel commented on #2655
This should get fixed in https://github.com/openshift/odo/pull/2629

Right @kanchwala-yusuf ?

[2020-02-28 09:49] kadel commented on #2641
This is getting really really annoying :-/

Another occurrence in

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2629/pull-ci-openshift-odo-master-v4.1-integration-e2e-benchmark/754

this time for centos7-s2i-nodejs:10.x image

[2020-02-28 09:50] kanchwala-yusuf commented on #2655
That is correct!

[2020-02-28 09:52] kanchwala-yusuf commented on #2655
@johnmcollier , You can check out the PR for this https://github.com/openshift/odo/pull/2629. Also, you can try out the code in this PR and see if this really solves your problem.

Lastly, it would be great if you can review it :)

[2020-02-28 10:00] kadel commented on #2640
another one https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2632/pull-ci-openshift-odo-master-v4.2-integration-e2e-benchmark/681

[2020-02-28 10:00] kadel commented on #2654
/area devfile
/kind feature

[2020-02-28 10:13] kadel commented on #1871
@mohammedzee1000 Any updates on this?

[2020-02-28 10:51] rajivnathan commented on #2471
@kadel That's going to be tricky. I don't think we have a good solution for making it work for existing Devfiles that have commands that use long-running processes (no daemon or fork to background). While doing the POC with IDPs we used `nohup` for commands that needed to continue to run in the background. This worked when I tested it in Che. When I ran the command in Che without `nohup` then when

[2020-02-28 11:02] rajivnathan commented on #2654
/assign

[2020-02-28 18:09] johnmcollier commented on #2655
@kanchwala-yusuf Thanks! I'll go take a look at that PR and try it out

[2020-02-28 18:58] yangcao77 opened #2657 "Unit tests required for pkg/kclient/ingress.go & secrets.go"
While creating the base function for ingress support in kclient, (as part of https://github.com/openshift/odo/pull/2636), the unit test for pkg/kclient/ingress.go & secrets.go is missing in that PR.

The functions might be changed, and more functions might be added when implementing the feature of ingress support for `odo url create/list/delete` when devfile is provided. (https://github.com/opensh

[2020-02-28 18:58] yangcao77 commented on #2657
/assign

[2020-02-28 20:42] johnmcollier opened #2658 "Devfile push fails on non-OpenShift clusters with oAuth enabled"
/kind bug

## What versions of software are you using?

**Operating System:**
All OS's
**Output of `odo version`:**
master branch
## How did you run odo exactly?
I've got access to clusters running on IKS (IBM Kubernetes Service) and GKE (Google Kubernetes Engine) and since odo's devfile support doesn't require OpenShift, I thought I'd try running odo push (with a devfile and experimental mode ena

[2020-02-28 20:55] johnmcollier opened #2659 "Gosec test failing in travis due to file permissions"
It looks like the odo travis tests are failing due to the following error from gosec (see https://travis-ci.com/openshift/odo/jobs/292320904 and https://travis-ci.com/openshift/odo/jobs/292336998):
[code]

It's complaining about file permissions being granted that are above `0600`. Now I'm not sure if we can safely change the permissions on those files, so I'll leave it to someone more familiar to

[2020-02-28 20:55] johnmcollier commented on #2659
/kind bug

[2020-02-29 03:05] #2600 closed

[2020-02-29 03:05] #2655 closed

[2020-03-02 10:25] adisky commented on #2452
@dharmit @kadel I ran  `odo list --all` command on my local setup, there is difference in the output, `odo list` lists component of current application, `odo list --all` lists all components of current project.
[code]
When run out of component folder, `odo list` lists nothing and `odo list --all`, lists components for current set project.
[code]

Do we still want to remove `--all` flag?

[2020-03-02 11:36] kadel commented on #2659
/assign

[2020-03-02 11:43] dharmit commented on #2452
It does seem to have a distinct functionality. And it's not bothering us in any way. I'd say we keep it.

[2020-03-02 11:51] adisky commented on #2452
I also suggest to to keep it, as `odo list --project` gives an error to specify `app` also, so there is no other way to list all components in a project.

[2020-03-02 14:24] kadel opened #2661 "odo push doesn't wait for running pod"
/kind bug
/area devfile
/priority medium

`odo push` should wait for the Pod to be in running state before exits.
Currently, it does that only for first invocation (when resources are created). But any additional `odo push` doesn't wait.

[code]

Also if edits to devfile.yaml caused Pod to get into CrashLoop state users doesn't know about it

[2020-03-02 14:26] kadel opened #2662 "odo push trigger redeploy even if there are no changes in devfile"
/kind bug
/area devfile
/priority medium

If there are no changes to Devfile.yaml that would resolve in changes in Deploment the Deployment should not be triggered.

Current behaviour
[code]

[2020-03-02 14:29] kadel commented on #2642
another occurence https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2656/pull-ci-openshift-odo-master-v4.1-integration-e2e-benchmark/777

[2020-03-02 14:43] kadel commented on #2511
We need to make sure that this doesn't get lost, and size is added to Devfile v2 specification

+1 We need this as for term solution before we can switch to devfile v2

[2020-03-02 15:14] amitkrout opened #2663 "Create a file, push, delete, then push again does not propagate the deletions on 4.4 cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

Scenario which is failing - https://github.com/openshift/odo/blob/master/tests/integration/cmd_push_test.go#L129
## Actual behavior
Fails

## Expected behavior
should pass

## Any logs, error output, etc?
[code]

[2020-03-02 15:15] kadel commented on #2663
/area component
/priority high

[2020-03-02 15:17] amitkrout commented on #2642
same failure can be seen against 4.4 cluster aswell - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_release/6892/rehearse-6892-pull-ci-openshift-odo-master-v4.4-integration-e2e-benchmark/3#1:build-log.txt%3A1186

[2020-03-02 15:20] kadel commented on #2585
@mik-dass Can you please record here what are the problems and blockers for switching to go mod and what are thinks that you tried to resolve it?

[2020-03-02 15:40] amitkrout opened #2664 "None of the debug test scenario works on 4.4 cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported
**Output of `odo version`:**
master
## How did you run odo exactly?
Run ```make test-cmd-debug``` on 4.4 cluster

## Actual behavior
All test scenario fails

## Expected behavior
Should work

## Any logs, error output, etc?

Details failure log - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-

[2020-03-02 15:40] amitkrout commented on #2664
ping @girishramnani

[2020-03-02 15:49] j-c-berger commented on #2576
@elsony, Hey Elson, do you need ID support for this issue? If so, let me know what you need! :)

[2020-03-02 15:51] j-c-berger commented on #2470
@rajivnathan, hey Rajiv, ID is going through issues, and I was wondering if ID supported is needed for this issue. If so, let me know what you need, and I'm happy to help!

[2020-03-02 15:51] kadel commented on #2658
just run add `import _ "k8s.io/client-go/plugin/pkg/client/auth"` to the code and run `glide up -v`.
`k8s.io/client-go/` is already in `glide.yaml` so you just need to run `glide up -v` nothing else ;-)

fixed in https://github.com/openshift/odo/pull/2665

[2020-03-02 17:06] elsony commented on #2576
@j-c-berger This is the public repo for odo. Let's take offline on any of the Codewind project specific questions outside of this repo.

[2020-03-02 17:10] elsony commented on #2470
@j-c-berger This is the public repo for odo. Let's take offline on any of the Codewind project specific questions outside of this repo.

[2020-03-02 19:25] #2606 closed

[2020-03-03 00:09] #2659 closed

[2020-03-03 05:11] johnmcollier commented on #2642
Seen again on 4.1: https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2656/pull-ci-openshift-odo-master-v4.1-integration-e2e-benchmark/816

[2020-03-03 11:48] adisky commented on #2452
As discussed with @kadel we are going to rename `--all` flag to `--all-apps`, and update the description `List all components in all applications in a current project`

[2020-03-03 11:49] adisky commented on #2444
/assign

[2020-03-03 12:11] kadel commented on #2588
another flake https://travis-ci.com/openshift/odo/jobs/293045150

[2020-03-03 13:12] kadel commented on #2654
Continuing the discussion from  https://github.com/openshift/odo/issues/2471#issuecomment-592460098

Agreed, we need to have something on the odo level that solves this. Stack owner should not be responsible for this especially as this is not an easy thing to do, and this would have to be implemented in every stack.

It is not just about running this on the background, odo also needs to be able to

[2020-03-03 13:43] #2594 closed

[2020-03-03 14:56] kadel commented on #2642
this is getting more serious, bumping priority again
/remove-priority high
/priority critical

[2020-03-03 14:56] rajivnathan opened #2669 "Consider moving the Devfile Parser to the top level and update the Parse function also validate"
## Which functionality do you think we should add?

We can consider moving pkg/devfile/parser and pkg/devfile/versions to a top-level folder since it seems like it could be moved to a separate repo altogether and so should be more decoupled from the odo code. Maybe pkg/parser or pkg/devfile-parser so it will make it easier to separate it out later?

https://github.com/openshift/odo/pull/2629 remov

[2020-03-03 15:01] kadel commented on #2669
I think that whole `pkg/devfile`  should be mostly generic

[2020-03-03 20:21] rajivnathan commented on #2669
@kadel Do you mean odo code should not be in `pkg/devfile`? The devfile adapter code which is only for odo is currently under `pkg/devfile/adapters`, are you suggesting we move that somewhere else?

[2020-03-03 20:41] GeekArthur commented on #2608
@kadel @cdrage

Any ideas for @elsony 's suggestion https://github.com/openshift/odo/issues/2608#issuecomment-591594292?

We discussed this in today's Codewind status meeting. Given we combined Che devfile registry and our own devfile registry, we had so many unsupported devfile components displayed, the solution we came up with was by default we only displayed supported devfile components, user c

[2020-03-03 21:15] elsony commented on #2582
Added more details on the requirement on the description

[2020-03-03 22:05] elsony opened #2672 "devfile init command support"
## User Story
As a devfile provider, I want to define some component initialization code so that the init code will be run as part of the odo create component command during component creation.

## Background
The existing Appsody CLI has an Appsody init command which will do extra initialization work in order to setup the environment required for developing the specific component.  This only appli

[2020-03-03 22:46] johnmcollier opened #2673 "Create integration test suites for devfile support"
Currently there's no integration test suites for the devfile support in odo. While this isn't much of an issue right now, when there isn't much in terms of devfile support (at this moment, just creating a deployment), as we add more features and as the devfile-mode becomes more complete, this will become a bigger and bigger issue. Additionally, adding integration tests for devfile support will req

[2020-03-04 09:28] mik-dass commented on #2585
I tried to simply add a go.mod file and generate a vendor but failed as many kubernetes resources didn't have proper versioning done.

To resolve those, I added many replaces in the go.mod file as described here https://github.com/kubernetes/kubernetes/issues/79384#issuecomment-543787146. But as these replaces required kubernetes 1.17+ and thus it was pulled as an indirect requirement. Since we cu

[2020-03-04 12:06] amitkrout commented on #2664
@girishramnani i verified successfully debug command with java and nodejs image locally against 4.4 cluster. It seems there is a problem in the test script. Will verify it further and may be send the fix.

[2020-03-04 14:00] lholmquist commented on #2603
Also see this comment: https://github.com/openshift/openshift-docs/pull/19597#issuecomment-586220599

[2020-03-05 00:15] #2602 closed

[2020-03-05 01:34] jichenjc opened #2680 "mkdir: cannot create directory '/mnt/app-root.setup-volume': Permission denied"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
latest (build from master from last week)
## How did you run odo exactly?

this is similar to following
 https://github.com/openshift/odo/issues/1623

but I used hostPath and NFS both got same error and I think it's not related to anyuid...
I added logs and showed the pv is mount as root:roo

[2020-03-05 06:40] amitkrout commented on #2540
@mohammedzee1000 Can we please add those inputs that we discussed yesterday and before. @prietyc123 FYI...

[2020-03-05 06:40] dgolovin opened #2682 "`odo delete` should wait until all component related resources are gone before exit"
/kind bug

## What versions of software are you using?

**Operating System:**
Windows 10 Pro
**Output of `odo version`:**
`odo v1.1.0 (86c7e2c9)`

## How did you run odo exactly?
Deleting component while in context folder with
`odo delete`

Then pushing component to cluster right away
`odo push`

## Actual behavior
`odo push` fails with:
[code]

## Expected behavior
`odo delete` exits when all com

[2020-03-05 11:02] #2605 closed

[2020-03-05 14:29] bbrowning commented on #762
I agree!

[2020-03-05 14:29] #762 closed

[2020-03-05 15:14] cdrage opened #2683 "Document what frameworks work with Java / Node.JS / etc."
/kind documentation

## What mistake did you find / what is missing in the documentation?

In terms of what frameworks are *actually* supported, we have no documentation that actually showcases what works and what does not.

For example, with Node.js, only NPM works, not Yarn.

Same with Java, PHP, Ruby, etc. We need to indicate what frameworks actually work and what does not.

## What is the rele

[2020-03-05 16:39] #2577 closed

[2020-03-05 19:47] johnmcollier opened #2684 "[Devfile] odo needs to be storing namespace in local env.yaml file"
/kind bug

## What versions of software are you using?

**Operating System:**
macOS
**Output of `odo version`:**
odo from master

## Actual behavior
I've been looking at writing integration tests for odo's devfile support and was hitting a bizarre issue: tests would intermittently fail because it was trying to retrieve Kube resources or do an odo push in a different namespace than what was expecte

[2020-03-05 19:50] johnmcollier commented on #2684
/area devfile

[2020-03-05 20:50] johnmcollier commented on #2673
I took a crack at writing integration test suites for devfiles (mostly just `odo push` and syncing) and hit https://github.com/openshift/odo/issues/2684 as a blocker.

[2020-03-06 01:41] #2658 closed

[2020-03-06 02:47] johnmcollier commented on #2673
My sync PR does the following:
- Adds a `—namespace` flag to `odo push`, meaning #2684 is no longer a blocker for integration tests (though we should still fix #2684)
- Adds integration tests for devfile push and syncing.

Once my sync PR has been delivered, this issue can be closed out.

[2020-03-06 04:42] jichenjc commented on #2467
@kadel could you please help to show where we can find when the devfile will be in release ? I was told odo-init-image will be replaced by this devfile feature, can I know when it might happen? Thanks

[2020-03-06 07:40] prietyc123 commented on #2641
@amitkrout I am able to reproduce the error with ```nodejs-10:latest``` and ```centos7-s2i-nodejs:10.x``` images on 4.2 cluster.

Curl command could not be able to hit for both the images. Need to figure out the reason behind this.

[2020-03-06 09:49] prietyc123 commented on #2570
Skipped watch test on windows and macOS in https://github.com/openshift/odo/pull/2562/files#r388802204. @girishramnani

[2020-03-06 11:11] kadel commented on #2684
+1

A little bit of context:
We haven't had this problem before, as for "LocalConfig" components (based on s2i) odo is storing namespace in LocalConfg in `.odo/config.yaml` with other values. But this is not a good solution as it mixes application definitions and environment-specific config in one file.
What you are proposing makes sense.

But for your testing problem, there is a solution even wit

[2020-03-06 15:18] cdrage opened #2686 "Documentation on how to modify `..s2i/bin/assemble`"
/kind documentation

## What mistake did you find / what is missing in the documentation?

When I was deploying a Ruby application, I came across some errors with the current service catalog. I happened upon an issue where you can actually modify the assembly script..

We should have simple documentation on how to modify the assembly script within S2I.

For example, I had to modify: https://github

[2020-03-06 15:45] boczkowska commented on #2683
Thanks, @cdrage!

We can call it, for example, `Compatible frameworks and tools` and have a breakdown according to the language.
Do we have a list of popular tools/frameworks/etc that are proved to work, to start with?

[2020-03-06 17:10] GeekArthur commented on #2684
@elsony Per your request, In this [issue](https://github.com/openshift/odo/issues/2557) we can

Implement
Store namespace info into env.yaml if user specify namespace when running `odo create`

For

[2020-03-06 17:59] johnmcollier commented on #2673
/assign

[2020-03-06 18:13] cdrage commented on #2683
@boczkowska I've opened up a PR here! https://github.com/openshift/odo/pull/2687

[2020-03-06 21:47] johnmcollier commented on #2585
FYI, I got odo to build with the following go.mod file:
[code]

Which was generated by doing the following:
1. `go mod init` -> Will pull dependencies from the glide.yaml and may return an error, but it's seemingly fine?
2. Remove the `vendor/` (I decided not to vendor the dependencies)
3. Run `make`

[2020-03-06 22:01] elsony opened #2688 "odo config support for settings in devfile.yaml"
## User Story
As a developer, I want to configure my configuration settings of devfile style components in the devfile.yaml so that I can change the settings after the initial creation.

## Background
The storing of the configuration settings for the devfile style components is currently stored in the `devfile.yaml` that follows the devfile specification. However, the user currently cannot edit th

[2020-03-06 22:57] #508 closed

[2020-03-07 04:59] #1104 closed

[2020-03-07 20:54] boczkowska commented on #2227
Some basic documentation has been added here: https://github.com/openshift/openshift-docs/pull/19750

[2020-03-08 17:03] #1790 closed

[2020-03-08 17:03] #1777 closed

[2020-03-08 17:03] #1240 closed

[2020-03-08 17:03] #1242 closed

[2020-03-08 17:03] #799 closed

[2020-03-09 05:05] mik-dass commented on #2585
Remove the vendor/ (I decided not to vendor the dependencies)
Run make

I did `go mod init` but `go mod vendor` seemed to fail (since we have a requirement to vendor the dependencies). After that doing `make` failed with unresolved imports.

[2020-03-09 05:32] jichenjc opened #2689 "describe command failed to find component in list output"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**
master compiled version
## How did you run odo exactly?
[code]

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2020-03-09 05:34] jichenjc commented on #2689
if you think this is a potential bug, I can try to fix it

[2020-03-09 07:33] adisky commented on #2689
@jichenjc AFAIK `odo component describe` is intended to be run from inside component folder, which could describe component from localConfig if `Not Pushed`.
`odo component describe <component-name>` is intended to be run from anywhere which lists component from cluster, so in your case the component is not pushed to cluster, hence it is returning `Not Exist`

[2020-03-09 07:42] jichenjc commented on #2689
@adisky good to see you here :)

about the quesiton, then why I can see following??

[code]

[2020-03-09 07:49] adisky commented on #2689
@jichenjc same here :)
yes, same as i mentioned above `odo component describe` is intended to run from component folder it is listing information from .odo/config.yaml.

[2020-03-09 08:00] jichenjc commented on #2689
I am running in the folder... (../odo is because I put odo execute file there...)

[code]

[2020-03-09 08:27] girishramnani commented on #2689
as you can observe that the `state` of the `ubi-backend-qmuj` component is `Not Pushed` which means it wouldn't be created on the cluster yet. And hence the ` ✗  Component ubi-backend-qmuj does not exist in application app`

- if you do `odo push` and then do `odo component describe ubi-backend-qmuj` then it should show the component info.

[2020-03-09 08:31] jichenjc commented on #2689
I am ok actually if it works like you mentioned @girishramnani , thanks a lot
however, why it shows below is another question:

[code]

[2020-03-09 08:44] girishramnani commented on #2689
got it, I was able to reproduce this locally.
[code]

[2020-03-09 08:45] girishramnani commented on #2689
Added this for the upcoming sprint

[2020-03-09 08:45] girishramnani commented on #2689
I would like to research on this issue for this sprint

[2020-03-09 09:12] #2527 closed

[2020-03-09 11:07] girishramnani commented on #2686
This is very image specific work, do you think we should be the one to document such things?

[2020-03-09 11:30] girishramnani opened #2691 "Allowing odo link to map service env variables to different names"
## User Story
As a user I would like to use specific env variable names for variable names exposed by the server.

e.g. when creating the service using template (as an example MongoDB Ephemeral), it creates a secret with
data:
[code]

but using `odo service create` it creates these env variables
[code]
I would like to provide be able to map `database_name` to `MONGODB_DATABASE`

## Acceptance Crit

[2020-03-09 11:32] girishramnani commented on #2369
we have another feature request which is related to this and we might have to decide how to either make these work together or implement one of them.
The related issue is https://github.com/openshift/odo/issues/2691

[2020-03-09 13:14] mohammedzee1000 commented on #2476
Working on deeper research. I have been playing a bit with odo code to see if something needs to be done from there as well

[2020-03-09 13:28] girishramnani commented on #2513
The docs PR link https://github.com/openshift/openshift-docs/pull/20227

[2020-03-09 13:35] mohammedzee1000 commented on #2540
We can use travis.rb which is the official cli for travis ci or we can directly use the API.

The main drawbacks of travis.rb is we cannot create job manually, just restarting existing ones and also while we can set envs, we cannot do it per build

So i propose:

- configure travis job which looks for env and if not present fails
- prow job starts and brings up cluster
- prow job passes on cluster

[2020-03-09 13:35] zhengxiaomei123 commented on #2680
The PVC is mounted at the **/mnt mount** point inside the Init container and The PV is mounted at the **/opt/app-root** point inside the application container. Can I think the two "Permission denied" error all means there is no permission to write the PersistentVolume?

[2020-03-09 13:36] zhengxiaomei123 commented on #2680
Have you check that the HostPath configured on your PV is a valid dictorary?

[2020-03-09 13:37] jichenjc commented on #2680
yes, it's a valid path and I even can see that folder
I believe it is the permission issue

[2020-03-09 13:45] zhengxiaomei123 commented on #2680
The folder means "app-root"?

[2020-03-09 13:47] jichenjc commented on #2680
no, the /mnt/xx on my host, the app-root as you can see my log
you can see it but you can't write to it, see the links from k8s community above

[2020-03-09 13:52] zhengxiaomei123 commented on #2680
`the files or directories created on the underlying hosts are only writable by root. You either need to run your process as root in a privileged Container or modify the file permissions on the host to be able to write to a hostPath volume`
Could you confirm that the file permissions on the host is to be able to write to a hostPath volume?

[2020-03-09 13:58] mohammedzee1000 commented on #2540
https://github.com/travis-ci/travis.rb
The problematic bit where dirty reads can occur is https://github.com/travis-ci/travis.rb#env and we should plan around that.

For example after cluster is brought up, the prow job goes into a loop, where it injects env say `CLUSTER_URL=10;example.com` (where 10 is PR no) and restarts the job, then waits for build to become a success. If any builds fail then

[2020-03-09 14:09] jichenjc commented on #2680
yes, I confirm, I modify the permission to 777 :)

[2020-03-09 14:11] mohammedzee1000 commented on #2540
https://github.com/travis-ci/travis.rb/issues/717

[2020-03-09 14:20] mohammedzee1000 commented on #2540
[code]

[2020-03-09 14:23] zhengxiaomei123 commented on #1623
The DEST is not the volume mount , it is defined here:
`mv $DEST.setup-volume $DEST
                        `},
                        VolumeMounts: []corev1.VolumeMount{
                                {
                                        Name:      getAppRootVolumeName(dcName),
                                        MountPath: "/mnt",`

[2020-03-09 14:27] zhengxiaomei123 commented on #1623
Is there any updates for this issue? I think it can be summarized as  "PersistentVolume can not be writable for Init container and application container" .  This is still here for odo master branch.

[2020-03-09 14:43] girishramnani commented on #2495
I guess the current one is not bothering anyone so we should use what we have

[2020-03-09 14:43] #2495 closed

[2020-03-09 14:48] girishramnani commented on #2474
closing this issue as it seems to be resolved, if it isn't then please feel free to reopen it.

[2020-03-09 14:48] #2474 closed

[2020-03-09 14:50] girishramnani commented on #2563
I remember a discussion where setting `DOTNET_STARTUP_PROJECT` for dotnet made it work.
So maybe we can add that as a documentation because I wouldn't suggest having image specific env variables in odo @amitkrout

[2020-03-09 14:51] mohammedzee1000 commented on #2540
Steve said:
Prow provides these env vars, so you could get the PR number by:
pr_num="$( jq .refs.pulls[0].num <<<"${JOB_SPEC}" )" # recommended
pr_num="${PULL_NUMBER}" # may be deprecated
https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#job-environment-variables

[2020-03-09 16:42] cdrage commented on #2490
IMO yes. We should change it to `/v1`, however, we'll have to implement some form of backwards compatibility if there are any breaking changes.

[2020-03-09 16:45] cdrage commented on #2688
Sorry if I do not understand this, but at the moment, we already store environment variable information in the `.odo/config.yaml` file in the projects folder.

Are you proposing that we should have a separate file outside of `.odo/config.yaml` with the environment information?

Ex:

[code]

[2020-03-09 18:25] maysunfaisal opened #2693 "odo config volumes do not have owner references"
/kind bug

## What versions of software are you using?

**Operating System:** MacOS

**Output of `odo version`:**
[code]

## How did you run odo exactly?
`odo create`, add storage to `.odo/config.yaml` and `odo push`

## Actual behavior
Noticed this when working on #2472

When i delete the deployment config, the volumes/pvc defined in config.yaml are not deleted

## Expected behavior
When you dele

[2020-03-09 18:28] maysunfaisal commented on #2693
The issue is in function https://github.com/openshift/odo/blob/master/pkg/occlient/volumes.go#L187

`pvc` and `latestPVC` are pointers to different objects of the same PVC. In the above function, the `pvc` object is being updated but it is not reflected in `latestPVC` and when we update PVC with the API on `latestPVC`, the changes are not reflected.

the `pvc` object in the above function:
[code]

[2020-03-10 08:32] mohammedzee1000 commented on #1871
i will be working on getting the 4.x cluster on top priority this sprint
cc @girishramnani

[2020-03-10 14:31] mohammedzee1000 commented on #2540
![image](https://user-images.githubusercontent.com/8547729/76322840-e0776d00-6309-11ea-9d50-1327e41501e5.png)

[2020-03-10 15:05] kadel commented on #2540
Would it be possible to run tests against some of the internal clusters (like `ocp311.odo`) instead of using OpenShift's Prow?

[2020-03-10 15:21] jdob opened #2696 "--app information not included in generated non-interactive command"
/kind bug

## What versions of software are you using?
Fedora 31
odo v1.1.0 (86c7e2c9)
Server: https://api.crc.testing:6443
Kubernetes: v1.14.6+17b1cc6

## How did you run odo exactly?

$ odo service create --app concessions
? Which kind of service do you wish to create database
? Which database service class should we use mongodb-ephemeral
? Enter a value for string property DATABASE_SERVICE_NAME

[2020-03-10 15:29] cdrage commented on #2285
@sspeiche Sorry for the late response.

But if someone were to `git clone`  project with a different namespace / project than the current default one being used, do you think a prompt would be a good alternative or an error out?

For example:

[code]

Essentially, we'd just error out saying that there is already a configuration file with a project.

[2020-03-10 15:54] sspeiche commented on #2285
Feels like prompt would be a good alternative and something like `--no-prompt` to allow it to accept the default and continue. Prompt even feels like too much, I think it would be quite common to have project names be different. Hence a message that makes it clear, like the one you provided.