[2019-09-30 06:12] dharmit opened #2202 ""odo storage list" doesn't honour "--app" or "--project" flags"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
1. Created a storage using `odo storage craete`.
2. List the storage with `odo storage list` command for `app` and `project` that don't exist.

## Actual behavior
`odo storage list` shows storage even if we specify an app or project that's not existing

[2019-09-30 06:56] amitkrout commented on #1032
This has already been configured on Openshift CI.
Currently CI tests are being run on - 3.11 (Travis), 4.2 and 4.1 (OpenShift CI)
/close

[2019-09-30 06:56] #1032 closed

[2019-09-30 07:45] dharmit opened #2203 ""odo storage create" with "--app" and "--project" flags is broken"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
Created storage with `--app` and `--project` flags where the values of these flags were different from the values in component directory. Also, these values were invalid because the `app` and `project` with those names don't exist.

[code]

## Actual be

[2019-09-30 07:46] dharmit commented on #2203
IMO, `odo storage create` is closely tied with the component. We could even remove the `--app` and `--project` flags from it so that it can be created from a component directory or with a `--context` flag.

@kadel unless I'm mistaken, `odo storage create` with these extra flags looks miserably broken to me. (hoping to be wrong.)

[2019-09-30 08:16] kadel commented on #2203
You are right. The `--app`, `--project` and also `--component` doesn't make much sense.
Original idea was that you could create storage and then attach it to multiple components. But with context directory and `LocalComponet` this is easily possible.

It would be a good idea to remove those flags, and just leave the `--context`.
I suspect that `url create` is in the same situation.

[2019-09-30 08:19] kadel commented on #2203
/kind bug
/priority high

[2019-09-30 08:20] kadel commented on #2202
/kind bug
/priority medium

[2019-09-30 08:23] dharmit commented on #2203
@kadel You're right about the `odo url create` remark.
[code]

[2019-09-30 08:25] dharmit opened #2204 ""odo url create" with "--app" and "--project" flags is broken"
Creating a URL using `--app` and `--project` flags from a component directory creates a URL for the component in current working directory.
[code]

_Originally posted by @dharmit in https://github.com/openshift/odo/issues/2203#issuecomment-536456785_

[2019-09-30 12:27] dharmit opened #2207 ""odo debug port-foward" should fail if the application is not running in the pod"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
1. `odo push`'d the nodejs-ex example
2. Did `odo debug port-forward` unbeknownst of the fact that nodejs application had stopped running on the remote pod. Found this when URL for the component lead to "Application is not running" page.

## Actual beha

[2019-09-30 12:46] jeffmaury opened #2208 "odo catalog list components -o json is missing the supported flag"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10 Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

`odo catalog list components -o json`

## Actual behavior

JSON output list stacks but the supported flag is missing

## Expected behavior

Add a new property to each stack that exposes the supported nature

## Any logs, error output, etc?

[2019-09-30 13:03] #2147 closed

[2019-09-30 19:15] danielhelfand opened #2212 "Update Homebrew Formula for v1.0.0-beta6"
[kind/bug]

`odo v1.0.0-beta6` has been released, but the [Homebrew formula](https://github.com/kadel/homebrew-odo) was not updated. It still used [`v1.0.0-beta5`](https://github.com/kadel/homebrew-odo/blob/02b4c05fba4b533b209eef2eebd86e7b2d5ef551/Formula/odo.rb#L6).

[2019-10-01 08:10] dharmit opened #2215 "odo debug requires force push when DebugPort value is changed"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
1. Change the value of `DebugPort` by `odo config set DebugPort <port>`.
2. Did `odo push --config` as recommended
[code]
3. Started debug mode `odo debug port-forward`. It started throwing errors similar to #2207 after trying to connect VS Code with lo

[2019-10-01 08:41] kadel opened #2216 "integration test is leaving files behind"
After running the integration tests the following files were created.

Tests should not do any permanent changes or create files that are not cleaned afterwards

[code]

/kind testing
/priority medium

[2019-10-01 08:46] #2074 closed

[2019-10-01 09:07] kadel commented on #2216
/area testing

[2019-10-01 09:12] kadel commented on #2216
It looks like this might be my vscode doing this :-/

[2019-10-01 09:51] kadel opened #2217 "Paths in FileIndex on Windows have weird format"
Paths in FileIndex on Windows are still saved in some weird format.

Why the double slashes? What if someone checks out this file on a Mac or Linux?

It might be better to normalize path into one common format (the POSIX way) before it is recorded to the FileIndex. Converting it to the os specific format only when it is being used.

[code]

_Originally posted by @kadel in https://github.com/opensh

[2019-10-01 09:51] kadel commented on #2217
/kind bug
/priority medium

[2019-10-01 10:21] #1969 closed

[2019-10-01 11:41] kadel opened #2219 "add PROJECT column to odo component list output"
from @dharmit https://github.com/openshift/odo/pull/2200#pullrequestreview-295387532

IMO we should add a column for PROJECT in this output. WDYT @kadel ?
[code]

[2019-10-01 11:43] kadel commented on #2219
/priority medium
/kind feature

[2019-10-01 11:58] amitkrout commented on #1990
#2217

[2019-10-01 12:17] kadel commented on #2173
fixed in https://github.com/openshift/odo/pull/2209
/close

[2019-10-01 12:17] #2173 closed

[2019-10-01 12:23] #2032 closed

[2019-10-01 12:23] #2186 closed

[2019-10-01 13:12] dgolovin commented on #2201
@dharmit this didn't work for me in beta5, but it works in beta6. Thanks!

[2019-10-01 13:38] #2212 closed

[2019-10-01 14:16] cdrage opened #2220 "All machine readable output "Lists" should use Kind: List"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

There are some json machine output commands that are not using the correct List for example:

- `odo catalog list services` uses ServiceTypeList
- `odo catalog list components` uses ComponentTypeList
- `odo application list` uses ApplicationList

These should be `List`

## Why is this needed?

To follow Kubernetes s

[2019-10-01 14:36] dharmit commented on #2201
@dgolovin glad it does! Closing this issue. :smile:

[2019-10-01 14:36] #2201 closed

[2019-10-01 15:19] #2126 closed

[2019-10-02 08:03] kadel opened #2223 "add odo-file-index.json entry into .gitignore"
When a component is created `odo component create` the command should automatically add `./.odo/odo-file-index.json` to the `.gitignore` file.

If `.gitignore` doesn't exist it should be created even if the current directory is not a git repo as the user might be creating git repo later after the component is created.

[2019-10-02 10:12] girishramnani commented on #2223
This would mean everyone who clones the repo. For them the first push will always be a full push, is that ok?

[2019-10-02 11:05] kadel commented on #2223
yes, most likely they will push it to their own component instance (different cluster, different project etc...)

[2019-10-02 13:16] danielhelfand opened #2224 "odo link Fails to Link Java Component to Node.js Component"
[kind/bug]

I am trying to run `odo link` to link two components running in the same OpenShift project. The first component is a [Java application](https://github.com/openshift-evangelists/Wild-West-Backend). The second component is a [Node.js application](https://github.com/openshift-evangelists/Wild-West-Frontend).

The Node.js component serves as the frontend for an application, and the Java co

[2019-10-02 13:29] danielhelfand opened #2225 "Misleading Error Message for odo create"
[kind/bug]

When trying to create a url via `odo`, I accidentally ran `odo create url` instead of `odo url create`. I received the following error message:

[code]

It would be helpful if `odo` could suggest a different command to run. The simpler solution would be to say that `url` or any invalid option is not a valid language option.

## What versions of software are you using?
- Operating Syste

[2019-10-02 13:34] kadel commented on #2224
/kind bug
/priority high

Verified.

The nodejs source code is stored in `/tmp/src`, the problem is that this directory is not backed by any volume, so once the container is restarted for some reason, like when the variables for linking are added, the source code inside the container is lost. :-(

I will look into this, we need to make this work.

A quick temporary workaround is to run `odo push -

[2019-10-02 13:42] danielhelfand commented on #2224
@kadel Thanks for the explanation. I'll note that this most recently worked in `odo v1.0.0-beta5`, so assuming the change happened recently.

[2019-10-02 13:42] jankleinert commented on #2224
Can we get something like this scenario added to pre-release testing so that if something changes that stops this from working, it doesn't go live?

[2019-10-02 14:08] kadel commented on #2224
I was actually under the impression that we have this scenario in our tests :-(
I will have to check how is it that this got in. And ether fix it or add it to our tests.

[2019-10-02 14:54] kadel commented on #2225
Currently, odo does the "cheapest" checks first. And one of the most simple checks is to simply verify that there is no component in the directory.

It should be pretty easy to just reorder checks and validate the component type first.

[2019-10-02 17:16] cdrage opened #2227 "Document usage of `odo debug` with a sample application"
[kind/Documentation]

## What did you find missing in the documentation?

When typing in `odo debug port-forward --help` there is no example on how to use it with an application..

For someone whose first using the command, how would one use `odo debug`? Is it for temporarily opening a port?

## What is the relevance of it?

More documentation needed / an actual example of an application with a de

[2019-10-02 17:16] cdrage commented on #2227
Ping @girishramnani @kadel

[2019-10-02 19:18] sspeiche commented on #2142
@deweya how do you (or the customer) expect to create custom resources? I assume you are not talking about having something like `odo create -f mycf.yml` but something more like #2161.

What type of applications do they need to be able to create configmaps or secrets? Is it really just for items like `odo link` or other things not covered by `odo config`?

`odo` tries to simply some of the pieces

[2019-10-02 19:46] cdrage opened #2232 "`odo describe` should also show secrets / linked variables from other components and services"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

When we use `odo describe`:

[code]

We should also link what secrets have been passed in via `Linked Services`

## Why is this needed?

More information / easier to add / edit environment variables for front-end applications.

[2019-10-02 20:13] cdrage commented on #2232
PR open here: https://github.com/openshift/odo/pull/2233

[2019-10-03 05:01] dgolovin opened #2235 "Format json output by default or add an option for that"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Output produced by `-o json` should be formatted

## Why is this needed?
Because it has more info about odo objects than table output and it is hard to get that information from output like this
![image](https://user-images.githubusercontent.com/620330/66100460-e64d7300-e55f-11e9-8ae6-416b28f6ab80.png)

[2019-10-03 06:57] prietyc123 opened #2236 "Deleted namespace is being listed in odo project get command"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS (supposed to be found on all platform)
- Output of `odo version`: master

## How did you run odo exactly?
I used OSD 4.2 cluster

Steps:
1. Login to the cluster
[code]
2. Create project
[code]
3. Delete project
[code]
4. Get the project
[code]

## Actual behavior
Deleted project is being listed even after deleting it

[2019-10-03 06:58] prietyc123 commented on #2236
/kind bug
@kadel not sure if it is important for GA

[2019-10-03 07:26] kadel commented on #2223
/priority high

[2019-10-03 08:05] girishramnani commented on #2236
If I remember correctly this is kind of expected behavior, but the question here would be that if its confusing enough, we could change it

[2019-10-03 08:08] girishramnani commented on #2235
If the -o json is used by machine, formatting it would make no difference. If it's tough for developers  then wouldn't just using `jq` work?

[2019-10-03 08:45] prietyc123 opened #2237 "Active pointer not pointing to current active project"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS (Supposed to be found on all platform)
- Output of `odo version`: master

## How did you run odo exactly?
I used OSD 4.2 cluster

Steps:

1. Login to the cluster

[code]
2. List the project
[code]
3. Create and list the project
[code]
4. Delete and List the project

[code]

## Actual behavior
Active pointer not switc

[2019-10-03 08:45] prietyc123 commented on #2237
/kind bug

[2019-10-03 12:34] girishramnani commented on #2223
This assumption is not that universal, I feel we should create a `.odoignore` instead.
e.g. what if the user is using perforce?

[2019-10-03 12:48] #2203 closed

[2019-10-03 16:47] dgolovin commented on #2235
`oc get -o json` and `kubectl get -o json` do return formatted json, why we should fall out of the line?  '-o json' is a good source of additional, information if default table view output is not enough.

[2019-10-04 05:23] amitkrout commented on #2236
@girishramnani It really looks weird if ```get``` command is listing the deleted project as active project. There is an old open issue #1720 where you can see such discussion. Probably you can take that issue and send a fix as per the final discussion.

[2019-10-04 05:24] amitkrout commented on #1720
#2236

[2019-10-04 05:48] amitkrout commented on #2237
/state analysis

[2019-10-04 05:49] amitkrout commented on #2237
/state in-analysis

[2019-10-04 06:21] amitkrout opened #2243 "Removing --app, --project, --component from subcommands that depends on component dir"
Copied from our last cabal discussion

- we should remove --project, --app, --component flags from url and storage

- we need to check with vscode adapter that they are not using it

- lets check if there are more commands where we need to remove those flags

[2019-10-04 06:21] amitkrout commented on #2243
/kind bug
/kind enhancement

[2019-10-04 06:23] amitkrout commented on #2243
- [ ] Storage command - #2238

- [ ] Url command -

[2019-10-04 06:24] kadel opened #2244 "[FLAKE] tests failing on " waited 4m0s but couldn't find running pod matching selector""
There has been a lot of tests failing on ` waited 4m0s but couldn't find running pod matching selector` recently.

[code]

from  https://github.com/openshift/odo/pull/2242#issuecomment-538146265

[2019-10-04 06:28] amitkrout commented on #2243
ping @kadel @dgolovin

[2019-10-04 06:33] girishramnani commented on #2156
considering showing warning in the `odo push` section as `odo create` also has interactive mode and showing the warning while the user goes through that might not look that great

[2019-10-04 07:29] kadel commented on #2142
For ConfigMaps and Secrets we had an idea to implement something like this:

[code]
The same flow for Secrets, only with additional flag `--secret`

It should be possible to share ConfigMaps and Secrets between multiple components, otherwise, one of their main benefits is lost. Users should be able to create one ConfigMap and add it to multiple components.

The only problem is that we have LocalCo

[2019-10-04 08:21] girishramnani commented on #2243
Intrested in doing the url one, if someone hasn't started
cc @mik-dass

[2019-10-04 09:32] mik-dass commented on #2243
cc @mik-dass

@girishramnani There is already a PR open for it https://github.com/openshift/odo/pull/2247

[2019-10-04 09:55] girishramnani commented on #2243
I opened it :smile:

[2019-10-04 09:56] mik-dass commented on #2243
Yeah I know, thanks for that :D

[2019-10-04 10:20] kadel commented on #2224
/remove-priority high
/priority critical

This is more serious than this. This also impacts Java components.
Every time the NodeJS or Java component is restarted the source code from the container is lost.

In Java, it is not that obvious, as compiled jar file is kept, so application is running, but when you edit a file and do `odo push` you won't see the changes as the compilation will fail.

The

[2019-10-04 10:23] kadel opened #2248 "Deleted files are not remove from Java component"
Java assemble script copies the source files somewhere where outside the destination directory `/tmp/src`, where it does the build.

[code]

[2019-10-04 10:23] kadel commented on #2248
/kind bug
/priority critical

[2019-10-04 10:31] amitkrout commented on #2248
@kadel Hard to understand the scenario in the description area you mentioned. Can you please elaborate it

[2019-10-04 10:34] kadel commented on #2248
Did you mean this part?

[code]

[2019-10-04 10:35] kadel opened #2249 "Scenarios that are not tested!"
The following scenarios are currently broken and they are not tested!

Pushing Java component after changing the config
[code]

Linking NodeJs component to something else
[code]

Onether scenario that should be covered is one described at https://github.com/openshift/odo/issues/2248

[2019-10-04 10:36] kadel commented on #2249
/area testing
/priority high

[2019-10-04 10:39] girishramnani commented on #2224
I would prefer to not use this approach as it makes the user has to use different image streams over what the cluster has to provide.

[2019-10-04 10:43] kadel commented on #2224
But on the other side, it creates a predictable setup. We will be able to test the exact combination of the builder image and odo as the user will use.

[2019-10-04 10:45] amitkrout commented on #2248
Got it
Then it should be same case with nodejs component i guess

[2019-10-04 10:45] girishramnani commented on #2224
There should be better approach because this is quite similar to have a server side odo component

[2019-10-04 11:10] jorgemoralespou commented on #2224
This is a result of not involving the image teams into helping solving this out :-(
We don't have much time to fix for GA, but we should start working with all the image teams (specially java and node.js) so that the images can work with s2i and odo in a seamless way.
For now, I would think that probably, similar to what we might need to inject the s2i assemble scripts in the image with a modified

[2019-10-04 11:10] amitkrout commented on #2248
@kadel Tested with url creation for nodejs component and it seems to work fine
Nodejs source - https://github.com/openshift/odo/tree/master/tests/examples/source/nodejs

[2019-10-04 11:15] kadel commented on #2224
Technically it is not going to me new PersitentVolume,  we are using one PVC  and use subPath to mount it into the multiple paths.

[2019-10-04 11:16] jorgemoralespou commented on #2224
Didn't know this was possible. Sound good then.

[2019-10-04 11:20] amitkrout commented on #2248
Tested on java source and I can confirm this breaks for java component

[2019-10-04 11:42] kadel commented on #2248
nodejs should be fine (it will broke as it should), it is not copying source code to another directory, everything is happening inside the `/tmp/src`

[2019-10-04 11:48] girishramnani commented on #2224
one of the issues with mounting the `/tmp/src` is the `chmod` issue that @kadel mentioned above ( i.e. we cannot chmod on the mount point of a volume ). so after some discussion. A solution for this could be to mount the parent `/tmp` directory which is recognised as `S2I_DESTINATION_DIR` https://github.com/jboss-openshift/cct_module/blob/1ff1d9637979b1d0b116f247640f5330b20a7a45/jboss/container/s2

[2019-10-04 14:15] cdrage opened #2250 "Clean up odo catalog describe"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

When performing `odo catalog describe` it's messy and *very* long, often truncating the terminal.

We should clean this up:

[code]

## Why is this needed?

Making the UX / UI more intuitive.

[2019-10-04 14:34] cdrage commented on #2224
There is another scenario that fails, specifically, URL creation.

In this scenario, even after an `odo push -f`, we require to *delete* the URL and then recreate it just to access the service.

To replicate:

[code]

[2019-10-04 14:35] kadel commented on #2224
Hmm, so it looks like that we might not be able to have volumeMount on `/tmp`, the java builds are failing on
[code]

[2019-10-04 14:40] kadel commented on #2224
the problem is that in the current situation we can't avoid adding more complexity on odo :-(
Depending on what builder image is being used the odo will have to prepare different setup.

[2019-10-04 15:02] jorgemoralespou commented on #2224
Yes, but we need to lay out a plan to minimize this moving forward. It is what it is today, but we need to not be this way sooner than later.

[2019-10-04 15:06] kadel commented on #2224
Yes, I agree. I'm trying to find a solution that would work today. Moving forward we need to stop relying on the s2i scripts.

[2019-10-05 04:12] #1672 closed

[2019-10-07 06:27] amitkrout commented on #2244
@kadel It's a flake, i have seen the same issue in other prs too. It would be great if somebody look into the odo code implementation side. cc_ @mik-dass

[2019-10-07 06:41] amitkrout commented on #2244
Can you please change the title to ```[Flake]Push fails on " waited 4m0s but couldn't find running pod matching selector"```

[2019-10-07 08:10] amitkrout commented on #2249
@kadel Thanks for finding it out. Also you can find some good amount of valid missing scenario per command. I have already created an issue #1845 to track and fix those missing scenario.

odo component create java backend --context backend
odo component create nodejs frontend --context frontend
odo push --context frontend
odo push --context backend
odo link --context frontend backend
# frontend no

[2019-10-07 08:13] kadel commented on #2224
/assign

[2019-10-07 10:27] dharmit opened #2253 ""odo create" prints ambiguious output when OpenShift cluster is not reachable"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
1. Stopped the minishift VM
2. Did `odo create nodejs`

## Actual behavior
Below message gives an impression of permission issue for the user instead of clearly pointing out that the cluster is not reachable.
[code]

## Expected behavior
Similar message

[2019-10-07 11:21] amitkrout commented on #1956
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2252/pull-ci-openshift-odo-master-v4.1-e2e-scenarios/413

[2019-10-07 11:46] #2148 closed

[2019-10-07 14:35] deweya commented on #2142
@sspeiche I learned a bit more about the use case. I think for "custom resources", what they meant was the ability to declare other apps as dependencies.

For example, say you have a Spring Boot app with a MySQL db. Rather than deploying each separately (and join with `odo link`), they'd like the ability to declare the MySQL db a dependency of the Spring Boot app without having to explicitly `odo

[2019-10-07 14:57] girishramnani commented on #2236
I would suggest that a warning being shown that the current project doesn't exist remotely. Because the current behavior is how it works in oc.
Rational - the current project is like a pointer and at times a pointer can point to non existent constructs as well. So we should provide a warning to the user incase they are using a non existent project.

[2019-10-07 19:15] cdrage opened #2254 "Grammar incorrect for "odo create" project creation"
[kind/Documentation]

## Which functionality do you think we should update/improve?

[code]

Incorrect grammar is used, this output needs to be updated.

## Why is this needed?

Incorrect documentation.

[2019-10-08 06:59] kadel commented on #2249
as we discussed many times.  #1845 needs to be broken into smaller issues. Those smaller issues should describe what is missing and even better include the missing scenarios.

Different component types, missing validation  - This is a different scenario.

What PR?

[2019-10-08 08:05] kadel commented on #2224
This problem was introduced in https://github.com/openshift/odo-init-image/pull/27 when we started overriding the NodeJS and Java assemble and run scripts.

The `dev-assemble` script introduced in https://github.com/openshift/odo-init-image/pull/27 was supposed to speed up the build by not copying files from `/tmp/src` to `/opt/app-root/src`.
`npm i` command and application itself were executed fr

[2019-10-08 12:37] kadel commented on #2223
We want to prevent users commiting `odo-file-index.json` to git repo. Why `.odoignore`?

Don't know what you mean.

[2019-10-08 12:40] kadel commented on #2243
We need a list of the commands from which the flags should be removed!

[2019-10-08 13:29] kadel commented on #2243
did someone check this?

[2019-10-08 13:31] girishramnani commented on #2243
The only commands that have the above flags is link, unlink and service stuff

[2019-10-08 13:32] girishramnani commented on #2243
ping @dgolovin

[2019-10-08 13:36] girishramnani commented on #2223
Yeah, I misunderstood. We should add the file to gitignore

[2019-10-08 13:52] kadel commented on #2243
There is `odo.ts` file inside the vscode plug source that contains all the odo commands execute by plugin in place.

You can look there.

I just did a quick check. `url` commands look clean. But there is a `odo storage` command using all 3 of them  https://github.com/redhat-developer/vscode-openshift-tools/blob/8388b83e750c686b773fed91e6275da425675576/src/odo.ts#L139

[2019-10-09 05:41] amitkrout commented on #2249
#1845 is an umbrella issue and it's already been broken into smaller issues like in the comment https://github.com/openshift/odo/issues/1845#issuecomment-527865106. Only things to be done is pick any command, improve the scenario and send the pr as part of #1845 fix. Fo example, we have already done in - https://github.com/openshift/odo/issues/1473

Or as you mentioned separate issue can be create

[2019-10-09 05:58] amitkrout opened #2256 "Improve component test spec"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Test spec for component test

## Why is this needed?
To add more test coverage

[2019-10-09 07:06] kadel commented on #2256
Improve how?
This needs a better definition of what needs to be done.

[2019-10-09 07:09] kadel commented on #2249
They are completely missing. And because they are missing we haven't noticed that it is not working as it should.

[2019-10-09 07:34] kadel commented on #2176
@girishramnani How is this different from https://github.com/openshift/odo/issues/1845 ?

[2019-10-09 09:54] #2254 closed

[2019-10-09 10:10] girishramnani commented on #2243
and the `odo storage` PR already got merged in, which means if we do a release the vscode plugin would break? @kadel

[2019-10-09 10:12] kadel commented on #2243
yes!

[2019-10-09 10:19] girishramnani commented on #2243
then we should probably tell them :sweat_smile:

[2019-10-09 10:25] mohitsuman commented on #2243
We will update the `odo storage` command to use `--context`. This goes for beta-7 release, right ?

[2019-10-09 10:26] girishramnani commented on #2243
yes

[2019-10-09 10:37] amitkrout commented on #2256
Will update as per our last discussion

[2019-10-09 10:45] boczkowska opened #2258 "Collect info for 1.0 release notes"
[kind/Documentation]

## What did you find missing in the documentation?
We don't have RNs and KIs yet.

We have 2 options:
1. RNs and KIs are integrated in the collective OCP Release Notes, a small paragraph about odo and a list of issues: https://docs.openshift.com/container-platform/4.1/release_notes/ocp-4-1-release-notes.html
2. Detailed RNs and KIs are a separate module within our docs, examp

[2019-10-09 10:52] amitkrout commented on #2208
/kind bug

[2019-10-09 11:00] amitkrout commented on #2204
#2247

[2019-10-09 11:05] girishramnani opened #2259 "Different error message for different commands when pwd is not a component"
[kind/bug]

## What versions of software are you using?
- Operating System: linux
- Output of `odo version`:

## How did you run odo exactly?
[code]

## Expected behavior
Should have same error message?

[2019-10-09 11:10] kadel opened #2260 "wrong help in odo url"
The create and delete commands for url are specifying the first argument as `component name`. It should be `url name`

[code]

[code]

[2019-10-09 11:11] amitkrout commented on #2258
@boczkowska I have added it to our today's cabal discussion.

[2019-10-09 11:14] amitkrout commented on #2260
/kind bug
/priority high

[2019-10-09 11:18] kadel opened #2261 "Linking is never tested on OpenShift 4.x!"
make test-cmd-link-unlink is never executed on OpenShift CI.

Not all test there require ServiceCatalog, we can run those on OpenShfit CI

[2019-10-09 11:20] kadel opened #2262 "Link tests are never executed!!"
Form travis-ci logs:
[code]

It looks like that all tests are skipped!

/area testing
/priority critical

[2019-10-09 11:21] kadel commented on #2262
There is far more than this. Like Service tests

[code]

[2019-10-09 11:34] amitkrout commented on #2262
I can see it from the Makefile, even service command is also excluded. Will send the pr ASAP.

In the mean time let me check from where it was misplaced. AFAIK in the beginning it was there.

[2019-10-09 11:40] kadel commented on #2262
problem is in Makefile
https://github.com/openshift/odo/blob/9318bc163fd0f5c80b32e8c32c43c539c0985a24/Makefile#L138

it should be `tests/integration/servicecatalog`

which is a little bit odd as linking is not a service catalog, but that is a different story

[2019-10-09 12:16] amitkrout commented on #2262
@kadel After beta5 release it was misplaced.

[2019-10-09 12:50] amitkrout commented on #2131
@kadel seems we have regression here on master

[2019-10-09 13:29] cdrage commented on #1671
After https://github.com/openshift/odo/pull/2160 being merged in, I feel as though this should now be medium priority.

The only thing left, would be moving the completion functions to `odo completion` or `odo utils completion`.

[2019-10-09 16:01] girishramnani commented on #2248
So I checked the deployment and files are copied correctly and renames are working as expected as well.
The only issue here is when I break something and then push, the odo push is successful. This is expected because the `.jar` file is built successfully. But when I tried to run the jar file it shows error.

Logs -
[code]

manually running the java jar from the container shows error
[code]
But th

[2019-10-09 17:02] amitkrout commented on #2204
closed via #2247
/close

[2019-10-09 17:02] #2204 closed

[2019-10-09 17:36] girishramnani commented on #2248
ok so was able to make `mvn` show the expected error when the compilation shouldn't be successful.
[code]
I was able to do this by
- initially doing a clean odo push
- removed the `/tmp/src/target` folder from the container
- removed an important file locally without which compilation wouldn't be successful
- `odo push`

This produced the above error which the user expects to see.

so one of the s

[2019-10-09 18:05] #2262 closed

[2019-10-09 18:25] girishramnani commented on #2215
I would prefer to change the documentation to say "Run `odo push -f` to apply the changes to the cluster"

[2019-10-09 20:18] kadel opened #2266 "--binary with relative fails"
I'm seeing an issue that I didn't see in a previous version.

git clone https://github.com/openshift-evangelists/Wild-West-Backend
cd Wild-West-Backend
mvn clean package
odo login <server>
odo project create ododemo
odo create java backend --binary target/wildwest-1.0.jar

gives this error:

 ✗  Rel: can't make target/wildwest-1.0.jar relative to /Users/jkleiner/Downloads/Wild-West-Backend

I did

[2019-10-09 20:18] kadel commented on #2266
/kind bug
/priority medium

[2019-10-09 21:09] girishramnani commented on #2216
yeah, java extension for vscode that is creating the files - you can disable this feature @kadel
Closing this issue

[2019-10-09 21:09] #2216 closed

[2019-10-09 21:26] girishramnani commented on #2266
I can take a look at this

[2019-10-09 21:33] #2260 closed

[2019-10-09 21:33] girishramnani commented on #2165
In my opinion, it shouldn't remove the other component.

[2019-10-09 21:40] girishramnani commented on #2165
Think about a scenario where someone from the same team clones an component repo that you are working on. They change the project name and as the project, app, cluster and the component name would be same your component would get deleted from the cluster. In my opinion, I don't think that would be the desired behaviour someone would be expecting.

[2019-10-10 09:15] kadel commented on #2266
/unassign

[2019-10-10 09:20] kadel opened #2270 "Add tests for interactive mode"
Currently, we don't have any e2e or integration tests for interactive mode.

We need to find what is the best way to allow writing tests for this.

/area testing
/priority high

[2019-10-10 09:23] amitkrout commented on #2270
Duplicate of #2194

[2019-10-10 09:23] kadel commented on #2248
why touching files inside the container?

[2019-10-10 09:23] amitkrout commented on #2270
/close

[2019-10-10 09:23] #2270 closed

[2019-10-10 09:56] amitkrout commented on #2266
@prietyc123 Is it the same issue you are facing while validating the command in doc steps ?

[2019-10-10 10:04] prietyc123 commented on #2266
@amitkrout Yes I am facing the same issue while validating the docs.
[code]

[2019-10-10 10:35] amitkrout commented on #1955
/state in-analysis

[2019-10-10 10:51] amitkrout commented on #1832
fixed via #2167

[2019-10-10 10:51] #1832 closed

[2019-10-10 11:02] amitkrout commented on #1609
Just tested on macOS + odo master and it works without the failure mentioned above.
Closing the issue fo now. Feel free to reopen it if you still face the issue
/close

[2019-10-10 11:03] #1609 closed

[2019-10-10 11:23] dharmit commented on #2165
I don't think I entirely understand the scenario you're describing here.

[2019-10-10 11:35] #2192 closed

[2019-10-10 12:16] girishramnani commented on #2248
to find the reason behind why the files are not getting compiled.

[2019-10-10 12:25] girishramnani commented on #2248
/priority high

[2019-10-10 15:50] danielhelfand opened #2272 "odo push and odo watch Fail to Update Non Static Content for Node"
[kind/bug]

I used `odo` with the following components:
• [Node.js application](https://github.com/openshift-evangelists/Wild-West-Frontend)
• [Java application](https://github.com/openshift-evangelists/Wild-West-Backend)

After deploying and then linking the two components together as described under `How did you run odo exactly?`, making an update to non static content (i.e. anything under a `.j

[2019-10-10 16:26] danielhelfand commented on #2272
@kadel Yes, apologies. I realize this app is probably not familiar to you, and I can certainly try using something simpler like `nodejs-ex` to see if this can be replicated.

As far as I can tell though, this score should still be updated as it should display upon loading the base url. Let me dig into the app itself and try another example, and I will follow up here.

[2019-10-10 16:36] kadel commented on #2272
I was playing with the app locally without odo and was able to reproduce it. It looks like it is browser caching, ctrl+shift+r in the browser shows the updated value.

But can't validate this on the cluster, as application fails on me before the request completes :-(

[2019-10-10 22:11] #2266 closed

[2019-10-11 06:25] mohammedzee1000 commented on #1594
Release information will be available in internal git reposiroty

[2019-10-11 07:08] amitkrout opened #2274 "unsetting of a none existing env var in local config does not report error"
[kind/bug]

## What versions of software are you using?
- Operating System: All
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
Graceful exit with a message of ```Environment variables were successfully updated.```

## Expected behavior
Should report error. For example
[code]

## Any logs, error output, etc?

[2019-10-11 07:08] amitkrout commented on #2274
/kind bug

[2019-10-11 07:26] amitkrout commented on #1981
/reopen

[2019-10-11 07:39] amitkrout commented on #1981
@mik-dass The issue is still persist. It seems you need some more luck in triage this ;), pr #2167 doesn't help atm.

[2019-10-11 10:12] girishramnani commented on #2235
Resolved by #2267

[2019-10-11 10:12] #2235 closed

[2019-10-11 10:13] kadel commented on #2171
/close

This shouldn't be a problem anymore.
More info about this error in https://github.com/openshift/odo/pull/2265#issuecomment-540488848

[2019-10-11 10:13] #2171 closed

[2019-10-11 11:48] amitkrout opened #2277 "Fix the scripts/bump-version.sh file"
[kind/bug]

Reference -  https://github.com/openshift/odo/blob/master/docs/dev/development.adoc#releasing-a-new-version

[code]

[2019-10-11 11:48] amitkrout commented on #2277
/kind bug

[2019-10-11 12:20] girishramnani commented on #2277
https://github.com/openshift/odo/issues/2181

[2019-10-11 13:24] #2224 closed

[2019-10-11 15:23] #2232 closed

[2019-10-11 19:41] cdrage commented on #2179
Hi @RickJWagner

When you're referring to the missing documentation, I'm assuming it's from our `docs` on GitHub or `odo --help` ?

[2019-10-11 20:00] RickJWagner commented on #2179
Hi @cdrage
Thanks for your work on docs.  (As a support engineer, I can't stress how important good documentation is.  It prevents unnecessary tickets from opening, it helps solve issues, it makes a  good product become a great one.  Doc writing is one of the most important steps in software development!)
My ask is for some good reference material.  ('odo --help' is probably not the right place fo

[2019-10-12 11:54] girishramnani commented on #2082
@dharmit as you are done with this, could you please close this issue?

[2019-10-12 11:56] #2277 closed

[2019-10-12 12:02] girishramnani commented on #2243
@amitkrout I went through the code and it seems these are the only places from where we need to remove --project, --app and --component commands.
Closing this issue as we have already
- [X] removed the flags from the url and storage
- [X] notified the adapters team about the removal of flag - they opened an issue to handle the change on their end https://github.com/redhat-developer/vscode-openshif

[2019-10-12 12:02] #2243 closed

[2019-10-12 12:34] girishramnani commented on #2207
Actually if port-forward fails when component is not running then that would make the user experience not so great between `odo push`s. Because the user would have to again and again run `port-forward` between pushes as there is a moment when the component is not running.
This would also increase the complexity for the vs-code plugin because they would have to rerun the `port-forward` sub-process

[2019-10-12 12:45] girishramnani commented on #2065
is this a bug or a feature request? because I cannot see that `odo catalog list components` having supported `--project` flag.
cc @kadel

[2019-10-12 13:00] girishramnani commented on #2109
one possible solution could be to have case where if the current directory is the same as the `preference.yaml`'s parent directory then only the config file is removed because we have a `preference.yaml` also present.

[2019-10-12 13:03] girishramnani commented on #2109
other solution could be to just remove the `config.yaml` file. but this would keep the folder unclean and the `odo delete --all` is supposed to remove all traces of odo from the directory which wont happen as a blank directory `.odo` would be left behind ( we would have to remove the **odo-file-index.json** as well )

[2019-10-12 13:10] girishramnani commented on #2259
@kadel does this look relevant for GA?

[2019-10-12 13:14] girishramnani commented on #854
@kadel @jorgemoralespou  is this issue still relevant?

[2019-10-12 13:15] girishramnani commented on #2044
@kadel this could be important for GA

[2019-10-12 13:16] girishramnani commented on #2042
This is something which will not be needed for a long time so closing it

[2019-10-12 13:16] #2042 closed

[2019-10-12 13:19] girishramnani commented on #1988
does the service disappear after it has completed the `Deprovisioning` state? If so then isn't `odo service list` giving better information then`oc` about the service state? @dharmit

[2019-10-12 13:25] girishramnani commented on #2219
one potential problem with adding an extra column here is that, the output is also wrapping to the next line making it less readable.
![image](https://user-images.githubusercontent.com/6551988/66702111-aafe3180-ed21-11e9-9ea3-a8101a53be2e.png)

A solution to this would be to make the `SOURCE` location be kept relative to the `CONTEXT` which would give us enough space for another column. Also reduc

[2019-10-12 13:36] girishramnani commented on #2172
I feel this is expected behaviour and if we want to have a cleanup process in place, we should ask `You are changing the project/ component name, this would create an entirely new component, Do you want to delete the current component?`

[2019-10-13 15:54] girishramnani commented on #2155
So I went through the code and it seems that `push` actually depends on `Update` and not the other way around.
Check out this `ApplyConfig` function https://github.com/openshift/odo/blob/c9fc9757336dbcf8c422bcd06884ae78c4c3c30f/pkg/odo/cli/component/common_push.go#L85 which is present in the `common_push` code ( code called by everything that uses push )
The `ApplyConfig` function uses the `Update

[2019-10-14 05:19] amitkrout opened #2282 "Component create fails with flag —context when —binary is located in temp folder"
[kind/bug]

## What versions of software are you using?
- Operating System: **macOS**
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
Component creation fails on **macOS**.
[code]
odo confuses between which ```$TMPDIR``` to use in --context when binary is already located in temp folder.

This causing the test script failure in java test on macOS -  htt

[2019-10-14 05:24] amitkrout commented on #2282
Work around: Go to the temp folder where the binary resides. from there create the component using binary flag

NOTE: For this case do not use ```--context``` flag along with ```--binary``` flag even you are in temp folder in macOS

[2019-10-14 05:58] dharmit commented on #2082
Yes, we are done! :+1:

[2019-10-14 05:58] #2082 closed

[2019-10-14 06:39] dharmit commented on #2207
I think I'm trying to have a check to ensure that the component is running when `odo debug port-forward` is run for the first time. Once it has started, there could be a situation like the one you have mentioned where component would be off for a brief time. If that is something that needs to be addressed is a secondary thing IMO.

For this issue, I think, the goal is that when `odo debug port-for

[2019-10-14 06:48] dharmit commented on #1988
It keeps showing the service to be in `Deprovisioning` state forever. As per `odo` output, service doesn't get out of that stage at all.

Doesn't `odo` use `oc` apis under the hood for operations where it has to get something done on OpenShift cluster? If yes, how could `odo` be a better indicator of the state of things on the cluster than `oc` is? If no, then you're likely right but as I said abo

[2019-10-14 06:49] dharmit commented on #1988
Also, I opened this and #1989 at almost the same time. #2008 opened by you has addressed #1989. I guess we should check if this issue is relevant anymore.

[2019-10-14 08:15] dharmit commented on #1988
[code]

I think it's OK to close this issue.

[2019-10-14 08:15] #1988 closed

[2019-10-14 08:16] tmds commented on #854
Yes. It's a UX issue when using `odo` with .NET Core binary builds.

[2019-10-14 08:30] amitkrout commented on #2256
It depends what impact the code brings to the local system and the cluster aswell. For example

component creates involve
1. Create local config (Local config data need to be verified because it is created by odo)

Need to push the changes what is created in local config to confirm that it should work or not
1. For successful push, local config should reflect in the cluster in dc level (Same dc da

[2019-10-14 08:39] dharmit commented on #2219
My vote would be to put if before or after `NAME` because `APP` and `PROJECT` together form up the information that can be used to figure out where exactly the component lives.

[2019-10-14 08:41] dharmit commented on #2172
+1. Makes sense to me.

And along the same lines, orphaned objects shouldn't be allowed to linger around without consent. That's what prompted me to open this issue. :wink:

[2019-10-14 10:44] girishramnani opened #2284 "flaky project list in tests"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: CI

## How did you run odo exactly?

in the v4.2 integration test, odo project command tests, seems to have a flaky test on odo side - the project didn't show up in the list after creation.

[code]
link - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2275/pu

[2019-10-14 10:59] girishramnani commented on #2282
@amitkrout would this error occur on any other non-home directory like `/opt/src/<>`?

[2019-10-14 11:05] girishramnani commented on #2109
a solution suggested by @kadel

- remove the `config.yaml` and `odo-file-index.json`
- if the `.odo` directory is empty then remove it else dont

[2019-10-14 11:41] girishramnani commented on #2223
the flow -
- check if `.gitignore` is present or not
   - not present then: create it and add the entry file with keeping in mind the `//` and `\` i.e. `filepath.Join(".odo","odo-file-index.json")`
   - if present then: add the entry if its **not present already**.

[2019-10-14 11:45] kadel commented on #2282
this is related to symlinking. It will only occur if the component is created inside the symlinked directory.

[2019-10-14 12:08] sspeiche opened #2285 "Unexpected project creation based on .odo/config.yaml setting"
[kind/bug]

## What versions of software are you using?
- Operating System: MacOS
- Output of `odo version`:

[code]

## How did you run odo exactly?
Using typical flows with Wild-West-Frontend + Wild-West-Backend

## Actual behavior

[code]

## Expected behavior

1. I did not expect it to create a project for me (and not tell me)
2. I would have expected it used my current project UNLESS I inform

[2019-10-14 13:01] dharmit commented on #2244
I'm not sure but I think this happens when something's off with the project to which we're trying to do `odo push`. I saw this in my environment once. I did an `odo delete --all`, `odo create` and `odo push` which fixed this for me.

[2019-10-14 13:19] kadel commented on #2285
When `odo create` is called. It uses the current project based on KUBECONFIG.

If you call `odo create --project myproject` it will use `myproject` instead of the current project, and it will create it if it doesn't exist.

If you want to change the project for the existing  component you need to use `odo config set project myproject`

`odo project` is a little bit weird command. It doesn't affect

[2019-10-14 14:47] #2156 closed

[2019-10-14 15:20] boczkowska commented on #2258
The docs are created and integrated within OCP docs. Thanks everybody for the help. :)

[2019-10-14 15:20] #2258 closed

[2019-10-14 16:03] amitkrout opened #2286 "Document how to run odo test cases steps in OpenShift disconnected cluster"
[kind/Documentation]

## What did you find missing in the documentation?
How to use odo in OpenShift disconnected cluster

## What is the relevance of it?

[2019-10-14 16:12] kadel commented on #2286
related to https://github.com/openshift/odo/issues/2189

[2019-10-14 16:55] sspeiche commented on #2285
On Mon, Oct 14, 2019 at 9:19 AM Tomas Kral <notifications@github.com> wrote:

Though this is it the behavior I’m seeing. It is ignoring KUBECONFIG and
instead using .odo/config.yaml/project. Which

<https://github.com/openshift/odo/issues/1720>

Leaving it and adding a shortcut seems like good way to keep consistency
across commands at least

--
Thanks,
Steve

[2019-10-14 19:35] #2138 closed

[2019-10-15 09:28] dharmit commented on #2113
I don't think so. The PR #2125 opened to address #1793 makes DC the owner of Service, Replication Controller, PVC and Secret. But this is not the service (or Provisioned Service as shown on web console) created from Service Catalog using `odo service create` command. It's the Service started by the DC that we bring up as part of deploying component.

Besides, we had a series of PRs opened to make

[2019-10-15 11:37] dharmit commented on #1066
I'm assuming that this issue is affecting the cases where `SourceType` is `local` and the directory is most likely empty. It could also affect to `binary` type when user does something like `odo create java --binary .` and do `odo push` - and, in fact, `odo push` is happy to push this without errors. :wink:

Besides the popular opinion of configuring supervisorD, would does it make sense to add so

[2019-10-15 11:46] jorgemoralespou commented on #1066
@dharmit A git repo is not mandatory and in many cases will not be there. The essence of inner-loop is that is the workflow before you check into git, so you might not have even initialized the directory as a git repository, so not an option IMHO.

What we need to make sure is that the supervisorD starts up with stopped runtime, to prevent an overflow of error messages trying to run a non existing

[2019-10-15 12:15] kadel commented on #1066
Yes, this is not a big problem as it used to be, but It still creates some problems. First-time push can still take a long time (copying files, and downloading all dependencies from maven or npm). For this time SupervisorD is constantly restarting the run script and sometimes it can sometimes lead to unexpected situations like https://github.com/openshift/odo/issues/2224#issuecomment-539543375

I

[2019-10-15 15:02] kadel commented on #2172
But how would you detect that the name was changed?
The only command that can display this message is `odo config`, we could add it there. But that won't prevent someone from changing the name  the localConfig directly without using `odo config` command.
But I guess that we could say that in that case, it is the user's problem what he is doing there.
In this case, we need to explain in the documen

[2019-10-15 15:05] amitkrout opened #2287 "Add more information to "Releasing a new version" step"
[kind/Documentation]

## What did you find missing in the documentation?
Doc path - https://github.com/openshift/odo/blob/master/docs/dev/development.adoc#releasing-a-new-version

- Verification steps are not very clear
- Steps are not well formatted
- Missing info like what option to uncheck before publishing

[2019-10-15 15:05] amitkrout commented on #2287
/kind doc

[2019-10-15 15:06] amitkrout commented on #2287
/kind docs

[2019-10-15 15:08] kadel commented on #2287
Can you add more details?

What exactly is missing there?

Not sure what you mean.

Could you maybe open PR to fix some of those? You are the last person who did a release, and you have everything in your fresh memory.

[2019-10-15 16:20] kadel opened #2288 "odo describe should work even for not pushed components"
[code]

odo describe should work even on a component that is not pushed in a similar way as for pushed components.

We will need new field in normal output. `State` that will indicated if the component is pushed or not (`Pushed` vs `Not Pushed`)
[code]
[code]

Not sure about the last message. What do you think?

JSON output already has the `State` filed for pushed components.
[code]
We just have t

[2019-10-15 17:52] GeekArthur opened #2289 "HTTPD build is failed due to rsync is not install in the s2i base image"
[kind/bug]

## What versions of software are you using?
- Operating System:
[code]
- Output of `odo version`:
[code]

## How did you run odo exactly?
1. git clone https://github.com/OpenShiftDemos/http-base
2. odo create httpd httpdodo
3. odo push

## Actual behavior
Build is failed with error `/opt/odo/bin/assemble-and-restart: line 24: rsync: command not found`, logs with details are below

## E

[2019-10-15 19:49] cdrage commented on #2289
Hey @GeekArthur

I actually created an issue here: https://github.com/sclorg/httpd-container/issues/78 with regards to rsync not being added with httpd.

A PR was merged, which fixed base container httpd was using: https://github.com/sclorg/s2i-base-container/pull/169

Is there any way you may be using an older version of the `httpd` container from the service catalog? If so, could you update it a

[2019-10-15 21:34] GeekArthur commented on #2289
@cdrage I am not sure how to update the version of `httpd` container. Given we already cloned the component locally and run `odo create <component type> <component name>` to create the .odo, my understanding is that once we run the `odo push`, odo will pull the latest `s2i` base image then trigger the build? If that's the design I should already used the latest `s2i` base image but that one doesn'

[2019-10-16 09:56] kadel commented on #2289
odo is not pulling any s2i builder images, it uses the ImageStreams definitions that are in your OpenShift cluster in the `openshift` project.

To update the s2i builder image you will have to update the `httpd` ImageStream inside the openshfit  project.

Sadly we can't currently guaranteed that odo will work with any s2i builder image. This is why we recently started grouping images into supporte

[2019-10-16 10:22] kadel commented on #2248
The Java framework used might have to play some role here. I've tried to do similar test as @girishramnani with SprintBoot example it once the java file was deleted it failed.

If we can verify that we are correctly deleting files form the container, from all the appropriate paths I think we should be ok. We can't deal with the specifics of different Java frameworks or application setups.

[2019-10-16 12:11] girishramnani commented on #2113
consider `--all` as an extra flag to remove all the services as well

[2019-10-16 12:30] kadel commented on #2223
It should be only `/`, .gitignore uses `/` as directory separator on all platforms

[2019-10-16 12:34] veillard commented on #2175
ACK, it all depends on the context of the relative reference. if it's in a generated file and assuming the resource being pointed at is in the target subdirectory of where that file is placed then
     target/springboot-rest2-1.0.0-SNAPSHOT.jar

but it really depends on the context of where that file containing that URI reference is located
See Section 4.1 of rfc 3986
https://www.ietf.org/rfc/rfc3

[2019-10-16 12:35] girishramnani commented on #2261
moving the service catalog dependent tests out

[2019-10-16 12:40] veillard commented on #2175
Using libxml2 URI test binary assuming the reference is contained in file:///home/veillard/test.yaml

thinkpad:~/XML -> ./testURI --base file:///home/veillard/test.yaml target/springboot-rest2-1.0.0-SNAPSHOT.jar
file:///home/veillard/target/springboot-rest2-1.0.0-SNAPSHOT.jar
thinkpad:~/XML -> ./testURI --base file:///home/veillard/test.yaml file:///target/springboot-rest2-1.0.0-SNAPSHOT.jar
file:

[2019-10-16 12:45] kadel opened #2290 "devfile support - implementation plan"
implementation plan https://docs.google.com/document/d/16OUCIvuoTPuJfqS32RLNDgJS1ZJ-sY3NDR9ZMP6wQH4/edit#

[2019-10-16 12:45] kadel commented on #2290
/assign

[2019-10-16 14:34] cdrage opened #2291 "Use the official openshift docs.openshift.com reference"
[kind/Documentation]

## What did you find missing in the documentation?

Start using these pages: https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/installing-odo.html

## What is the relevance of it?

Removing the current docs and moving it all to docs.openshift.com

[2019-10-16 20:04] cdrage opened #2295 "Update dev documentation on how to run 1 test"
[kind/Documentation]

## What did you find missing in the documentation?

We should add commands such as this:

`ginkgo -randomizeAllSpecs -slowSpecThreshold=120 -timeout 7200s -nodes=1 -progress -v tests/integration/ -F "FOOBAR"` to dev docs

and modifying integration tests to use "FIt" instead of "It" if you choose to run only 1 test

## What is the relevance of it?

Being able to run integratio

[2019-10-17 08:53] mik-dass commented on #1981
Please point me to the logs

[2019-10-17 11:02] mik-dass commented on #2288
@kadel The last message and the above output along with the json one, look fine to me

{
    "kind": "Error",
    "apiVersion": "odo.openshift.io/v1alpha1",
    "metadata": {
        "creationTimestamp": null
    },
    "message": "component nodejs-nodejs-ex-rgop not pushed to the OpenShift cluster, use `odo push` to deploy the component"
}

I think in case, if the component is not present on the

[2019-10-17 11:51] kadel opened #2298 "[FLAKE] `project list` spec fails in test_cmd_project.go file"
Test often fails and there is also `FIt` that was probably forgotten

https://github.com/openshift/odo/blame/5f09c777131847a40c6b330a8706d2357aa63920/tests/integration/project/cmd_project_test.go#L42

[code]

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2296/pull-ci-openshift-odo-master-v4.2-integration/549

/assign @girishramnani

[2019-10-17 11:51] kadel commented on #2298
/area testing

[2019-10-17 11:51] kadel commented on #2298
/priority medium

[2019-10-17 12:34] mohammedzee1000 opened #2299 "[Flake] php test fail with panic"
[kind/bug]

Prow run where this happened : https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2296/pull-ci-openshift-odo-master-v4.2-integration/550

Logs:
[code]

[2019-10-18 07:32] amitkrout commented on #1594
Done as per reference - https://jira.coreos.com/browse/ART-554

/close

[2019-10-18 07:32] #1594 closed

[2019-10-18 15:19] cdrage commented on #2244
For the life of me, I can't seem to replicate this.. going to see if this pops back up on the CI side again.

[2019-10-18 19:42] cdrage opened #2301 "--context not working with push outside of the current directory... [Windows / macOS]"
[kind/bug]

## How did you run odo exactly?

(on Windows)

[code]

## Actual behavior

[code]

Ends up being an error with trying to find the relative directory...

## Expected behavior

Odo push to work

## Any logs, error output, etc?

See above.

Found this while investigating https://github.com/openshift/odo/issues/2217

[2019-10-19 01:19] #2291 closed

[2019-10-21 06:24] amitkrout commented on #2194
As per @mohammedzee1000 reference, Go library - https://github.com/AlecAivazis/survey

[2019-10-21 08:28] girishramnani commented on #2223
got it

[2019-10-21 12:19] dharmit opened #2303 "Gather ideas to improve odo PRs and test coverage"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
During the run-up to GA, we faced quite a bit of frustration with the tests and many points were discussed during various calls. Something that has been repeated during these calls is the lack of enough tests and, at times, rush to fix things which, in turn, becomes a reason for not adding enough tests in the PRs.

T

[2019-10-21 12:21] amitkrout commented on #2303
Will discuss it in cabal

[2019-10-21 12:31] dharmit commented on #2303
@amitkrout

Sure, that's a great idea and we should do that. However, we must copy the points being discussed on the call to this issue. :wink:

[2019-10-21 13:49] kadel commented on #2301
I can confirm that the same scenario is also broken on MacOS

/kind bug
/priority high

[2019-10-21 14:10] kadel commented on #2301
I have verified that this is broken on Windows also

[2019-10-21 14:40] cdrage commented on #2301
I've confirmed that the error does not occur on Linux. Only Windows / macOS.

[2019-10-21 14:46] cdrage commented on #2301
Here is the output from Windows:
[code]

[2019-10-21 15:12] cdrage commented on #2301
Okay, I confirm that it actually works on Linux too..

It's only if you do not pass in the **full** directory path.

For example:
[code]

[2019-10-21 15:36] GeekArthur commented on #2289
@kadel Thanks for your clarification! I am new to ImageStream but I make it work. I find when I update the ImageStream I can use `oc tag` to let the the ImageStream points to specific builder image and I need to specify the registry. Seems like not all odo supported images are in DockerHub registry (eg. openjdk/openjdk-11-rhel8:latest), do you know which registry stores them?

Also another questio

[2019-10-21 15:48] #2031 closed

[2019-10-21 17:38] cdrage opened #2306 "Organize integration tests better"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

The integration folder is messy and we should organize it to explain where everything is..

See below:
[code]

## Changes suggested

The changes I suggest are to:

- Use FULL names (instead of app, use application), instead of cmd use command. We shouldn't use abbreviations.
- Remove the "cmd" from the name... they

[2019-10-21 17:39] cdrage commented on #2306
ping @prietyc123 @amitkrout

[2019-10-22 07:16] amitkrout commented on #2303
@dharmit and All May be you will get many articles on test matrix, however i found [1] is more appropriate of what we are looking for. I would say go through the article so that we all will be in same page.

[1] https://testing.googleblog.com/2015/04/just-say-no-to-more-end-to-end-tests.html

[2019-10-22 07:52] amitkrout opened #2309 "No message is generated for component create command with -o json flag"
[kind/bug]

## What versions of software are you using?
- Operating System: All
- Output of `odo version`: Master

## How did you run odo exactly?
[code]
[code]
## Actual behavior
No display of output message

## Expected behavior
Json format output or an error message if it is not supported

## Any logs, error output, etc?

[2019-10-22 07:53] amitkrout commented on #2309
/kind bug

[2019-10-22 10:13] kadel commented on #401
/priority high
/remove-priority medium

[2019-10-22 10:50] girishramnani commented on #2248
@kadel this https://github.com/openshift/odo/issues/2248#issuecomment-540068332 in my opinion provides the necessary proof that the files are actually deleted and hence in reality the only behaviour which is confusing is the `odo push` passing even when the files are not present.
But in the end when the application runs, it fails.

[2019-10-22 10:54] girishramnani commented on #2309
successfully reproduced.
would a message like be shown the user?
[code]
i.e. the final message produced by the cli when `-o json` is not provided?

[2019-10-22 11:41] kadel commented on #2309
Nope. If the operation is successful it should return what was created. So, in this case, the output should be the same as `odo component describe -o json`

[2019-10-22 11:46] kadel commented on #2248
Do we have tests validating that the files are deleted?

[2019-10-22 14:08] dharmit commented on #2303
- We have a lot of integration tests. We can benefit from adding more unit tests.
- There are scenarios where we surely need integration tests. Writing more unit tests wouldn't suffice here.
- Neither of us is an expert at writing any kind of tests. Learn by reading how other projects are doing it, by reading blogs.
- Smaller integration tests to make it take lesser time.
- We have a bunch of over

[2019-10-22 14:10] dharmit commented on #2303
- Performance tests. Not sure about its current priority but could be worth adding more. Possibly compare with `oc` for equivalent `odo` commands. At the moment we just record timings. We don't compare.

[2019-10-22 17:37] cdrage commented on #2298
Closed via https://github.com/openshift/odo/pull/2302

[2019-10-22 18:41] girishramnani commented on #2298
Actually @cdrage the flaky test is still present. I just removed the focus.
Reopening

[2019-10-22 19:55] maysunfaisal opened #2313 "Odo catalog lists duplicates"
[kind/bug]

## What versions of software are you using?
- Operating System: Mac
- Output of `odo version`:
[code]

## How did you run odo exactly?
`odo catalog list components`

## Actual behavior
Looks like odo catalog list components is listing duplicates. Is this a bug or expected?

[code]

FWIW, these are my image streams in the openshift project:
[code]

## Expected behavior

## Any logs, err

[2019-10-23 05:55] mohammedzee1000 commented on #2313
@maysunfaisal thanks for reporting this issue.
/kind bug
/priority medium

[2019-10-23 06:21] prietyc123 opened #2314 "Fake Client does not create error for invalid projects"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: master branch

## Any logs, error output, etc?

When I ran ```odo project create DEMO``` through the CLI I got the error message whereas when I ran through fake client unit test it does not occur.

Outputs

CLI:
[code]
Fake Client:

[code]

[2019-10-23 06:24] amitkrout commented on #2314
https://github.com/openshift/odo/pull/2257#discussion_r337469194

[2019-10-23 07:04] kadel commented on #2314
This is actually not a bug but a feature :-) of a fakeclient. In the k8s cluster the validation happens on the server. Fake client, as the name suggests is just a client and there is no sever, so there can't be any validation.

[2019-10-23 07:10] amitkrout commented on #2314
Right, But is there any way to validate such cases using fakeclient ? If no then then the scenario of incorrect project name will be taken care in integration test.

[2019-10-23 07:10] girishramnani commented on #2314
This is one of those cases where odo shouldn't be responsible for testing this ( on a unit level atleast), as the tests for validation would have been written by k8s cluster ( as the validation happens on that end )

[2019-10-23 07:12] girishramnani commented on #2314
An integration test might still make sense if you want to validate this behavior with some other behavior across modules or function.

[2019-10-23 07:13] kadel commented on #2314
+1
And I would add to that that this case, is actually something that should be in integration test rather unit test

[2019-10-23 07:14] amitkrout commented on #2314
Thanks for the clarification. Will take care it in integration test. I guess there is a scenario in integration test, otherwise will add one.

/close

[2019-10-23 07:14] #2314 closed

[2019-10-23 07:25] mik-dass commented on #2172
I think we should warn the user when a project or component name change is initiated and then if he proceeds with the name change, then we should delete the old component and create a new one. @kadel @cdrage WDYT?

[2019-10-23 13:06] danielhelfand opened #2316 "brew upgrade odo Doesn't Update odo version"
Running `brew upgrade odo` doesn't update the version of `odo` on Mac.

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: `odo v1.0.0-beta6 (dfc5f26)`

## How did you run odo exactly?
`brew upgrade odo`

## Actual behavior
`Error: odo 1.0.0 already installed`

## Expected behavior
Upgrade `odo` formulae to latest version.

[2019-10-23 14:26] kadel commented on #2316
/assign

[2019-10-23 14:38] kadel commented on #2316
It looks like homebrew was incorrectly detecting versions from tag (striping down the beta suffix)
Instead of using `1.0.0-beta6` as a version for Formula, it was striping it down to `1.0.0`.

I'm not sure how to fix it for 1.0.0 version :-( But it will get resolved when we release `1.0.1`.

I'm afraid that right now the only way how to update odo with homebrew is
[code]

[2019-10-23 15:41] cdrage opened #2318 "Gathering output on integration tests verbosity does not work"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

## How did you run odo exactly?

[code]

## Actual behavior

Collects only the "normal" output. No verbosity.

## Expected behavior

`output` to contain verbose information

## Any logs, error output, etc?

No, however, by default, the helper command CmdShouldPass should be collecting all verbos

[2019-10-23 16:16] sspeiche commented on #2285
Confirming that:
* This should: use my current project context over what is in `.odo/config.yaml`
* This should NOT: silently create a project and set context to it

cc @cdrage

[2019-10-24 08:24] amitkrout commented on #2298
Now it appears more frequently - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2315/pull-ci-openshift-odo-master-v4.2-integration/605

/priority high

[2019-10-24 09:01] amitkrout opened #2319 "Write UTs for client.CreateNewProject"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
UTs for client.CreateNewProject

## Why is this needed?
It was missing

[2019-10-24 10:24] boczkowska opened #2320 "Create a glossary for odo terminology"
[kind/Documentation]

## What did you find missing in the documentation?
Since we have feedback on odo being confusing sometimes, how about adding a glossary in "Understanding odo" which would elaborate on the important terms and explain the relationship/hierarchy between them as well as examples:

- project
- application
- component
- something else?

Maybe a visual representation - a diagram of

[2019-10-24 10:30] boczkowska commented on #2084
/assign @boczkowska

[2019-10-24 11:20] boczkowska opened #2321 "Suggestion: documentation on env variable in odo"
[kind/Documentation]

## What did you find missing in the documentation?
When users work with odo, they can do a lot with env variables.

Should we have a separate piece of docs that would cover:
- overview of default/preset/automatically added env variables (if there are any)
- setting, unsetting, listing (so the user won't have to dig through the CLI ref)
- cover issues such as https://github.co

[2019-10-24 13:54] amitkrout commented on #2286
closing the issue as doc will be the part of the main issue #2189
/close

[2019-10-24 13:54] #2286 closed

[2019-10-24 13:58] amitkrout commented on #2189
/assign @amitkrout

[2019-10-25 07:03] mik-dass commented on #2172
You mean the user should delete the old component while we already create a new one when they do odo push?

Yes. Whenever the user triggers `odo config --set project newproject` or `odo config --set name newcomponent` we will display a warning that this action will delete the old component and create a new one. If the user presses `y`, we will, in a parallel manner, create the new component and de

[2019-10-25 09:00] dharmit opened #2322 "odo config set allows setting an environment variable with blank value its name"
@amitkrout thanks for picking that up. It's affecting the `odo config set --env` as well (which is not a part of this PR):
[code]

_Originally posted by @dharmit in https://github.com/openshift/odo/pull/2275#issuecomment-546250604_

[2019-10-25 09:01] dharmit commented on #2322
It also allows user to set blank value for environment variable:
[code]

[2019-10-25 11:44] girishramnani commented on #2322
Should we disallow this. Just that if someone is doing it. They are aware of what they are doing?
And setting blank value is something that is a conscious decision?

[2019-10-25 11:57] dharmit commented on #2322
Yes, if a user is doing this, they are aware of what they are doing. Keeping a check for this is pain in the butt from code point of view. Funny thing is that, in its current form, you could set the environment variable with empty name but you can't unset it.
[code]

[2019-10-25 17:41] mohammedzee1000 commented on #1957
/kind bug
/priority medium

[2019-10-25 17:44] mohammedzee1000 opened #2323 "Add json formatted output for `odo version` command"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
The `odo version` command should have json formatted output

## Why is this needed?
To enable application users, such as adapters to process the output more easily

[2019-10-25 17:46] sudhirverma commented on #1957
`odo version` does't give the output for cluster Url and cluster version for 4.x cluster.

[code]

[2019-10-25 17:48] mohammedzee1000 commented on #2323
/kind enhancement
/priority medium

[2019-10-25 17:49] mohammedzee1000 commented on #2323
/remove-kind enhancement
/kind feature

[2019-10-25 18:07] cdrage commented on #2172
IMO since the user has already changed the name, I don't think we should prompt for confirmation. If you change the name of your component, you know what you're doing.

I don't think we should even warn the user, maybe in verbose output, but that's it. If changed by config, we should at least confirm that we are going to be changing the component when using `odo push` (confirm the component exists

[2019-10-25 18:08] cdrage commented on #2285
I'll take this up. We previously removed the logging for a project being created / outputted.

We should at least output to the user that the project is being created as well as the fact that we should always use the current project context in `.odo/config.yaml`..

[2019-10-25 18:14] cdrage commented on #401
Have to unassign myself to this for now.

Ping @amitkrout / @mohammedzee1000

[2019-10-25 19:03] cdrage commented on #2139
Assigning this to you @dharmit since you already have a PR open and we combined our separate PR's :)

[2019-10-25 19:53] cdrage commented on #2179
Hi @RickJWagner ! The docs are now live (see the new README: https://github.com/openshift/odo/blob/master/README.adoc)

I realize I never answered your questions, so here goes:

What is being pushed

**From `odo push` we show what's being pushed by indicating what code is being pushed and where exactly it's coming from (git, local folder, etc)**

Which actions should be occurring in the K8S namesp

[2019-10-25 23:05] #2274 closed

[2019-10-28 15:09] RickJWagner commented on #2179
Hi @cdrage,
Thank you for your efforts here.  I think Odo has great potential, and good docs will help it reach that potential.  Thank you!
It is my opinion that we need to provide some reference material that the user can access if they have a need for detailed information about what Odo has done for them.
Wording that a different way:  Odo is a nice, easy-to-use abstraction that simplifies Kuber

[2019-10-28 15:34] cdrage commented on #1718
Found where it was introduced after much trial-and-error:

https://github.com/openshift/odo/commit/b800ebc370ee0ed893b3522d323327d36c188847

Going to go from there into fixing it.. Looks like the code within completionhandlers is totally fine, it's related to context.

[2019-10-29 03:48] girishramnani commented on #2248
Understood, will add tests

[2019-10-29 06:39] mik-dass commented on #2172
@cdrage So you mean no confirmation message prompt, just delete the old component and create the new one after triggering the `odo config set` command?

[2019-10-29 11:53] sspeiche opened #2327 "Python inner loop support"
[kind/Feature]

## Which functionality do you think we should add?

Leveraging an official image from community and Red Hat to be able to do inner loop development using Python.

## Why is this needed?

Python is growing in popularity due to its usage in AI/ML based applications and robotics/automation.

## Scope

- [ ] Use the v1 python devfile and convert it into v2 https://github.com/eclipse/ch

[2019-10-29 11:59] Preeticp commented on #2327
"...documenting better what inner loop is and what images we actually test/support with it?
https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/understanding-odo.html#key-features
I find what we have to be a bit vague
For example "Official full support of Node.js and Java components." I assume that isn't any possible Java image, like tomcat or eap or quarkus."

[2019-10-29 12:08] sspeiche commented on #2327
@Preeticp I believe this was a slack auto-add of a comment or what did you have in mind with this comment as it relates to Python support?

[2019-10-29 12:28] Preeticp commented on #2327
I was trying to capture the feedback so that we could improve the docs. But you are right, I will create another docs issue for the above suggestion.

[2019-10-29 12:33] Preeticp opened #2328 "Document what is inner loop and the images supported by it"
[kind/Documentation]

## What did you find missing in the documentation?
We need docs (concept module) that explain what is inner loop and the images we actually test/support with it?

[2019-10-29 14:16] mik-dass commented on #2117
Reopening as #2221 doesn't completely resolve this issue, and we are still facing this issue.

[2019-10-29 14:33] amitkrout commented on #2194
How tekton team has been implemented it - https://github.com/tektoncd/cli/blob/master/pkg/cmd/pipelineresource/create_test.go

[2019-10-29 15:01] mik-dass commented on #2319
@amitkrout @prietyc123 There is already a unit test for client.CreateNewProject() https://github.com/openshift/odo/blob/116728936e3ed26f25b51ae51218d4d0e11bb6ee/pkg/occlient/occlient_test.go#L2258

[2019-10-29 15:02] amitkrout commented on #2319
Cool!!!
/close

[2019-10-29 15:02] #2319 closed

[2019-10-29 19:53] danielhelfand opened #2331 "odo create java States Java Isn't Fully Supported"
[kind/bug]

When using `odo create java`, a warning message appears as shown below:

[code]

However, when you run `odo catalog list components`, you get the following output stating Java is supported by `odo`:

[code]

#1984 states that `odo` supports Java, so I believe this is an incorrect error message from `odo`.

## What versions of software are you using?
- Operating System: CentOS
- Output

[2019-10-29 20:11] danielhelfand commented on #2331
This was the result of using a a custom Java builder image (i.e., not the one supported by `odo`). However, what this reveals is an edge case. If someone is using a custom builder image for node or java, should those appear under unsupported images for `odo catalog list components`?

[2019-10-29 20:30] #2331 closed

[2019-10-30 09:25] kadel commented on #2327
Before we start adding full support for more languages and runtimes we should solve the problem with s2i or figure out an alternative approach for the inner loop builds

The current approach where we try to hack s2i to play nice with inner loop and odo is not a good way forward.

[2019-10-30 10:57] amitkrout opened #2333 "In a disconnected cluster component create throws error of "...tag not found..." though it is listed in catalog list"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: master

## How did you run odo exactly?
[code]
[code]

## Actual behavior
Fails

## Expected behavior
Should create

## Any logs, error output, etc?

[code]
[code]

[2019-10-30 11:00] amitkrout commented on #2333
NOTE: I am using a disconnected cluster

[2019-10-31 06:30] girishramnani opened #2337 "Smarter next step suggestion"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
When someone tries to create a component and set something in the config like below
[code]
They get the bellow output

[code]

Now if we do `odo push --config` then the component is created and the config is set but the source is not present on the cluster.
This is confusing to the user and we should check that the c

[2019-10-31 11:26] amitkrout commented on #2249
odo component create java
odo push
odo config set --env foo=bar
odo push
# edit java source code
odo push
#changes are not reflected on the application

Test pr sent - #2338

[2019-10-31 11:27] kadel commented on #2256
@amitkrout Can you please break this down into smaller tasks that can be addressed in a sprint?
Or modify the description with more information what exactly is required

[2019-10-31 13:07] cdrage opened #2339 "Speed up autocompletion."
## Which functionality do you think we should update/improve?

Currently auto-completion is *very* slow (1-2 seconds put tab) which instead should be either instantaneous or within a few milliseconds.

This was found when implementing https://github.com/openshift/odo/pull/2326

## Why is this needed?

Speed up autocompletion

[2019-10-31 13:51] cdrage commented on #2172
@mik-dass Yes, that's correct, deleting the old component and re-creating it.

[2019-10-31 14:07] amitkrout commented on #2249
odo component create java backend --context backend
odo component create nodejs frontend --context frontend
odo push --context frontend
odo push --context backend
odo link --context frontend backend
#frontend nodejs component is broken (source code is lost from container)

@kadel This has been fixed via #2265. Test step available here - https://github.com/openshift/odo/blob/master/tests/integratio

[2019-10-31 14:59] amitkrout commented on #2249
Scenario 1 as per the issue description

odo component create java
odo push
odo config set --env foo=bar
odo push
# edit java source code
odo push
#changes are not reflected on the application

@kadel It fails locally and in CI too (#2338). However if you set the config at the beginning i mean set it through component create command or through config set just after component create then scenario w

[2019-11-01 18:13] cdrage opened #2343 "FYI, labels "use case" and "code refactoring" have been changed"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

OpenShift bot doesn't recognizes spaces, thus we have to add a dash to the kind / label..

So I'm changing `code refactoring` to `code-refactoring` as well as `use case` to `use-case`

## Why is this needed?

For `/kind code-refactoring` to work.

I've gone ahead and re-labelled use case to `use-case` and `code refa

[2019-11-01 18:21] cdrage commented on #2309
@kadel

For `odo component describe -o json` to work, you actually have to push the component.

See below:
[code]

So in theory, we're unable to actually output everything to the user after using `odo create -o json` since `odo describe` uses this function:

https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/describe.go#L72

Which requires ports to be available to get it..

Which I

[2019-11-01 20:18] cdrage opened #2347 "`odo storage create` does not show when using `odo push`"
/kind enhancement

## Which functionality do you think we should update/improve?

When doing `odo storage create`, the storage is created immediately in the config and does not show up when doing "push" using `odo push`.

Similar to when we use `odo storage delete`, we should notify the user that you must use `odo push` to propage the changes, and we should also show in the `odo push` output that

[2019-11-04 05:42] mik-dass commented on #2172
@kadel WDYT?

[2019-11-04 08:59] kadel commented on #2347
/priority medium
/project Sprint 175

[2019-11-04 09:01] kadel commented on #2343
Is there anything that is needed to do? Can we close this?

[2019-11-04 10:10] girishramnani commented on #1660
should we close this?

[2019-11-04 11:06] kadel commented on #2285
@cdrage we need to do more than just output the project name that is being created.

This issue is actually related to https://github.com/openshift/odo/issues/1720

If I understand it correctly, what @sspeiche is saying is that we shouldn't store project name in a component configuration, but we should use the current project from `KUBECONFIG` (as set by `odo project set` or `oc project`.

The mai

[2019-11-04 11:42] kadel commented on #2288
yes, it should be the JSON output describing the component. the `status.state` field will be  "Not Pushed"

example:
[code]

[2019-11-04 11:54] boczkowska commented on #2178
/assign @pmacko1

[2019-11-04 12:00] kadel opened #2350 "Don't run tests in verbose mode"
We don't need to run all tests in verbose mode `-v`.
If the test fails it will automatically print all information.
For successful tests we don't need any information by default.

[2019-11-04 12:00] kadel commented on #2350
/kind testing
/priority medium

[2019-11-04 12:29] kadel opened #2351 "add environment variable to control odo verbosity"
`ODO_LOG_LEVEL`

`export ODO_LOG_LEVEL=4; odo push` will be equal to `odo push -v 4`

Controlling log level not just through the flag, but also via env variable will make it really easy to globally change odo logging in our integration and e2e test.

[2019-11-04 12:30] kadel commented on #2351
/priority medium

[2019-11-04 13:23] girishramnani commented on #2139
#2274 is already merged and this is a duplicate to that

[2019-11-04 13:23] #2139 closed

[2019-11-04 13:58] girishramnani commented on #2298
This issue is a duplicate

[2019-11-04 13:58] #2298 closed

[2019-11-04 14:00] girishramnani commented on #2299
if the timeout is hit then we shouldn't panic

[2019-11-04 14:08] girishramnani commented on #1539
we should have a separate issue for docs related to storage

[2019-11-04 14:08] #1539 closed

[2019-11-04 14:09] gorkem opened #2352 "Support projects with dockerfile"
[kind/Feature]
## Which functionality do you think we should add?
Allow projects that has a dockerfile to be taken into the inner-loop mode. User should be able to run a command such as `odo create --image=<path/to/my/dockerfile`. This is a different mode than our current s2i based mode.  As a consequence we need a way to capture the commands to modify the contents of the image.

## Why is this ne

[2019-11-04 14:10] #1660 closed

[2019-11-04 14:26] girishramnani commented on #2352
when using this feature, as we cannot know the variables like `DEPLOYMENT_DIR` etc that are present when s2i builder images are used and also we dont control the startup commands - Features like smarter push wouldn't work and debug wouldn't work.

Instead of smarter push either `odo push --config` could happen when only the config is changed or a rebuild with a full source code copy ( if source ch

[2019-11-04 14:54] tmds opened #2353 "Document how to enable service catalog on OpenShift so it can be used with 'odo service'"
[kind/Documentation]

I'm trying out `odo` with OpenShift [crc](https://github.com/code-ready/crc). I'm trying to create a service and it's not clear what I should do to make it work.

[code]

[2019-11-04 16:22] girishramnani commented on #2353
CRC uses openshift 4.0+ which doesn't have service catalog installed by default

[2019-11-04 16:37] danielhelfand opened #2354 "Short Cut Flag to Add Url to Component Configuration for odo create"
[kind/Feature]

It would be nice to add a shortcut to `odo create` that would allow a user to create a url without having to run `odo url create`.

Something like the following would result in a configuration being created that specifies a node app is to be created that also has a url:

[code]

## Why is this needed?

It would provide an easy way to also create a url without having to run another

[2019-11-04 16:43] danielhelfand opened #2355 "odo delete Fails to Delete Linked Component When Secret Not Found"
[kind/bug]

After linking two components, if you delete the component that shared its information with the other component as part of the linking, `odo` won't let you delete the remaining component.

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: `odo v1.0.0 (4e3175e6)`

## How did you run odo exactly?
Create Java component
[code]

Create Node.js c

[2019-11-04 17:56] tmds commented on #2353
I understood that from the message. I don't know how to install it.

[2019-11-05 07:20] amitkrout commented on #1981
@mik-dass You can find the logs from the above references. Or you can go to the pr history and there you need to find out such failure logs

[2019-11-05 08:21] kadel commented on #2353
We should like to guide on how to enable ServiceCatalog on crc if we are suggesting users to use crc and service catalog.
For example at  [Creating an application with a database
](https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/creating-an-application-with-a-database.html) the   "Service Catalog is enabled." prerequisite should be a link to crc docs explain

[2019-11-05 08:28] kadel commented on #2354
/kind feature
/priority medium

This is a good idea.
The question is what this flag should do when component has multiple ports (defined in s2i builder image).
 - We could create a  url for each port. Probably not a good idea.
 - Have an optional argument for the flag specifying for what port the url should be created. For example `odo create nodejs frontend --url 8080` or `odo create nodejs front

[2019-11-05 08:29] kadel commented on #2355
/kind bug
/priority high

[2019-11-05 09:25] girishramnani opened #2357 "Tests failing on 4.3 openshift cluster"
[kind/bug]

## What versions of software are you using?
- Operating System: CI
- Output of `odo version`: odo master

We are seeing similar failures like these
[code]
where it seems that we are trying to find the `package.json` in `tmp/src/package.json`. This could have been changed in openshift 4.3

Below are the PRs where this failure is occuring

- Update PR template

[2019-11-05 09:33] girishramnani commented on #2357
there could be something different with the s2i paths in 4.3 because failure is due to oc exec not finding the package at /tmp/src

[2019-11-05 09:40] kadel commented on #2350
What analysis is needed here?

[2019-11-05 09:42] kadel commented on #1981
@amitkrout what reference? you just pointed to #2167  where all the test passed

[2019-11-05 09:44] kadel commented on #2357
/kind bug
/priority high

[2019-11-05 10:20] girishramnani opened #2359 "Nodejs images are not showing as supported on 4.3 cluster"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: odo master

## How did you run odo exactly?
odo create nodejs

## Actual behavior
warning shows up

## Expected behavior
No warning

## Any logs, error output, etc?
[code]

[2019-11-05 10:21] kadel commented on #2359
/priority high

We need to figure out what changed, how the new images differ from the old one.

[2019-11-05 10:24] amitkrout commented on #2359
@kadel @girishramnani There is no latest tag for nodejs component
[code]

[2019-11-05 10:26] girishramnani commented on #2359
yes, this image is `rhscl/nodejs-10-rhel7` latest, we need to add `rhscl/nodejs-10-rhel7` in the supported list

[2019-11-05 10:39] kadel opened #2360 "Optimize number of test clusters created for each PR"
Right now we are creating 3 clusters of each 4.x version.
It might be better to group all tests into just one job and run all 3 tests against one cluster.

Instead of this:
- ci/prow/v4.1-benchmark
- ci/prow/v4.1-e2e-scenarios
- ci/prow/v4.1-integration
- ci/prow/v4.2-benchmark
- ci/prow/v4.2-e2e-scenarios
- ci/prow/v4.2-integration
- ci/prow/v4.3-benchmark
- ci/prow/v4.3-e2e-scenarios
- ci/prow/v

[2019-11-05 10:39] kadel commented on #2360
/area testing

[2019-11-05 10:43] girishramnani opened #2361 "rhoar-nodejs/nodejs-10 nodejs component is failing silently on openshift 3.11 cluster"
`rhoar-nodejs/nodejs-10 ` based nodejs component is failing silently on 3.11 cluster with logs
[code]

The important line here is
[code]
seems like nodemon cannot understand --inspect flag anymore

[2019-11-05 10:53] amitkrout commented on #2360
It was a copy paste issue from the previous config file. It should be removed

[2019-11-05 10:57] amitkrout commented on #2360
ci/prow/v4.1
    ci/prow/v4.2
    ci/prow/v4.3

@kadel It will increase the total time of test around 1hr i guess

[2019-11-05 11:21] amitkrout commented on #2361
@girishramnani Can you please print out which test scenario is failing or if you found it while doing a manual run  please provide the execution steps

[2019-11-05 11:56] kadel commented on #2360
can we test it and measure it?

[2019-11-05 12:14] girishramnani commented on #2357
This is occurring because the `tmp/src`'s is being moved the opt/app-root/src. https://github.com/sclorg/s2i-nodejs-container/blob/master/10/s2i/bin/assemble#L36

we need to resolve the tests to look into deployment dir

[2019-11-05 12:16] girishramnani commented on #2357
verified that the backup is present in the backup dir
[code]

[2019-11-05 12:17] girishramnani commented on #2357
this means everything should work as expected but we need to just resolve the tests

[2019-11-05 12:39] kadel commented on #2298
If you are closing issue as a duplicate, please link to the other issue

[2019-11-05 12:55] tmds commented on #2353
@kadel after following the OpenShift documentation steps, I get this:

 ✗  no deployable services found

[2019-11-05 13:28] tmds commented on #2353
note: the top of the OpenShift documentation says:

[2019-11-05 13:30] kadel commented on #2353
We are looking into it, but the problem is that right now it is not equivalent. Some of the apis to allow what was possible with ServicaCatalog are still missing in operators :-(

[2019-11-05 13:33] tmds commented on #2353
@kadel do you know how I can populate the service catalog after enabling it? I get:

✗ no deployable services found

[2019-11-05 13:43] tmds commented on #2353
fyi, this is what happens with my OpenShift Online account:

 X  unable to list services because Service Catalog is not enabled in your cluster: unable to get cluster serviceClassExternalName: unable to get cluster service classes: unable to list cluster service classes: clusterserviceclasses.servicecatalog.k8s.io is forbidden: User "tdeseyn" cannot list resource "clusterserviceclasses" in API gro

[2019-11-05 21:29] cdrage commented on #2343
Nope! Was just opening this issue for reference. Closing.

[2019-11-05 21:29] #2343 closed

[2019-11-06 07:03] amitkrout commented on #2360
Sure, will figure it out. However i can see some painful points, For example

In case a test flake is hit in benchmark test then retest time cost a lot because integration and e2e test will run again along with benchmark

[2019-11-06 09:14] tmds commented on #2353
Ref https://github.com/openshift/odo/issues/2161

[2019-11-06 09:17] tmds commented on #2161
Is `odo service` unusable until this gets resolved?

[2019-11-06 09:38] kadel commented on #2179
@RickJWagner This makes sense, thank you for this issue. This is something that we really need, and we have never properly captured it. It is not the first time this came up in the discussion.

@cdrage one of the common questions that I get from people is how odo works. We don't answer this question in our documentation and we should.
Our documentation should have at least a high-level overview of

[2019-11-06 09:44] kadel commented on #2360
One more incentive to write better tests that are not flaky 😄
Now serious: It will depend on how much this will increase the test run time.
On the other hand, if we create fewer clusters, we should get fewer terraform and aws errors.

Another problem is that we can't continue like this, and just keep adding more and more versions that will multiply test clusters by 3.

[2019-11-06 09:53] kadel opened #2364 "e2e test for every supported image"
We should create an e2e test that validates that the images that we claim are supported work.

We can start with something simpler covering just the core flow of editing files (no storage or services):
 - odo create
 - odo push
 - validate
 - odo url create
 - odo push
 - validate
 - edit source
 - odo push
 - validate
 - odo watch
   - edit source
   - validate
 - stop odo watch
 - odo delete
 -

[2019-11-06 10:00] kadel commented on #2161
Is odo service unusable until this gets resolved?
No, It should be useable, as long as you have a service catalog deployed on the cluster.

Can you try `oc get clusterserviceclasses` to validate that the ServiceCatalog is running on your cluster?

[2019-11-06 10:38] tmds commented on #2161
[code]

[2019-11-06 10:56] amitkrout commented on #2350
In some cases removing the -v flag is intuitive depending upon what type the function returns (string, bool) and what is being asserted on top of that . It is fair enough in our most of the cases without -v flag because of string output is asserted otherwise it will be little hard to find out the reason (less info log) of failure without -v flag on a boolean return type. For example I just compare

[2019-11-06 11:01] dharmit commented on #2298
I think we're still seeing this flake. What's the dupe of this issue? Is it still open or has it been fixed?

https://github.com/openshift/odo/pull/2346#issuecomment-550259696

[2019-11-06 11:10] dharmit commented on #2172
I believe, it would be helpful to have at least a prompt or a warning message. We're talking about the users who are not really aware of OpenShift. A warning message would be helpful, IMO.

[2019-11-06 11:22] dharmit commented on #2298
Dupe of #2284

[2019-11-06 12:04] kadel commented on #2353
that looks like SeviceCatalog was not deployed or something went wrong with it

[2019-11-06 12:15] tmds commented on #2353
Sorry for the confusion.

This is the message on **OpenShift Online**:

X unable to list services because Service Catalog is not enabled in your cluster: unable to get cluster serviceClassExternalName: unable to get cluster service classes: unable to list cluster service classes: clusterserviceclasses.servicecatalog.k8s.io is forbidden: User "tdeseyn" cannot list resource "clusterserviceclasses" i

[2019-11-06 12:19] girishramnani commented on #2359
Debug mode seems to be broken on the nodejs latest version on openshift 4.3

[2019-11-06 12:19] girishramnani commented on #2359
so we need to resolve it

[2019-11-06 12:59] kadel commented on #2350
We need to use  `GinkgoWriter`
from  the documentation:
[code]

[2019-11-06 13:04] cdrage commented on #862
This can actually be closed as I added documentation to the website:

https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/creating-an-application-with-a-database.html

[2019-11-06 13:04] #862 closed

[2019-11-06 13:13] kadel commented on #2244
We can try to reproduce it by increasing number of parallel test

[2019-11-06 13:22] kadel commented on #2320
diagram https://drive.google.com/file/d/1iNSZjEfNY5mdOcfBMGUR-mYaFdDZL85l/view?usp=sharing

[2019-11-06 13:26] kadel commented on #2321
we need to come up with the scenarios where user will set env variables

[2019-11-06 13:34] kadel commented on #2237
This is related to https://github.com/openshift/odo/issues/2285

[2019-11-06 13:40] kadel commented on #2158
Closing this in favor of https://github.com/openshift/odo/issues/2237
lets continue discussion and work there
/close

[2019-11-06 13:40] #2158 closed

[2019-11-06 13:40] kadel commented on #2237
We should  implement the same behavior  (project switching) as `oc`

[2019-11-06 14:02] kadel opened #2365 "fix watch unit test"
The current watch unit test doesn't work as CompDirStructure is a new variable at https://github.com/openshift/odo/blob/adf3006360abc5cb707d9a9f442669989272f4e5/pkg/component/watch_test.go#L218 and not the global one https://github.com/openshift/odo/blob/adf3006360abc5cb707d9a9f442669989272f4e5/pkg/component/watch_test.go#L75
and thus https://github.com/openshift/odo/blob/adf3006360abc5cb707d9a9f4

[2019-11-06 14:08] kadel commented on #2194
lets hold this for now

[2019-11-06 15:33] cdrage commented on #2359
@girishramnani Is there any output / logging as to why debug mode isn't working for OpenShift 4.3 or an issue created against the S2I images?

[2019-11-06 15:36] girishramnani commented on #2359
This failure has to be handled on our side @cdrage . I can open another issue scoping the failing debug mode if we want to not include that in this issue's scope.

[2019-11-06 15:37] girishramnani opened #2366 "Debug mode seems to be broken on the nodejs latest version on openshift 4.3"
Debug mode seems to be broken on the nodejs latest version on openshift 4.3

_Originally posted by @girishramnani in https://github.com/openshift/odo/issues/2359#issuecomment-550284845_

[2019-11-06 15:40] boczkowska commented on #2321
/assign @boczkowska

[2019-11-07 05:31] #2357 closed

[2019-11-07 05:58] dharmit commented on #862
Is the CSS on that page broken only for me or is it a more widespread issue? I checked in a Private window and still see just HTML there.

[2019-11-07 07:50] tmds commented on #2353
After also following the instructions at https://docs.openshift.com/container-platform/4.2/applications/service_brokers/installing-template-service-broker.html, `odo catalog list services` is no longer empty. 🎉

[2019-11-07 08:43] amitkrout commented on #2299
Issue hit one more time in CI - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2300/pull-ci-openshift-odo-master-v4.3-integration/210#1:build-log.txt%3A381

[2019-11-07 09:04] tmds opened #2369 "odo link, specify prefix for envvars"
[kind/bug]

## Which functionality do you think we should update/improve?

When linking to a service, it should be possible to specify a prefix for the environment variables that were added.

## Why is this needed?

An application may be linked to multiple services which may causes name collisions.

[2019-11-07 09:07] tmds opened #2370 "odo link, add envvar for service type"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

When linking to a service, an envvar should be added that identifies the service type.

## Why is this needed?

An application may support multiple types of database backends. Having a variable that identifies the service type (e.g. postgresql, mariadb, ...) makes it possible for the application to know what backend

[2019-11-07 09:13] #2017 closed

[2019-11-07 09:52] amitkrout commented on #2366
/kind bug
/priority high

[2019-11-07 10:05] amitkrout opened #2371 "If env var is set after first component push then route URL doesn't work after editing the source"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported
- Output of `odo version`: master

## How did you run odo exactly?
[code]
Check https://github.com/openshift/odo/issues/2249#issuecomment-548416923 for more details.

## Actual behavior
Route is broken

## Expected behavior
route should work

## Any logs, error output, etc?

[2019-11-07 10:05] amitkrout commented on #2371
/kind bug
/priority high

[2019-11-07 10:09] amitkrout commented on #2249
@kadel As discussed, created an separate issue - #2371

[2019-11-07 10:38] tmds commented on #2370
I just noticed the `uri` envvar for the PostgreSQL service is `postgres://xxxx`.
Do other services also expose a `uri` that includes their type?

[2019-11-07 12:09] #2261 closed

[2019-11-07 12:09] #2295 closed

[2019-11-07 14:43] cdrage commented on #1679
Closing. We push to the OpenShift site now.

[2019-11-07 14:43] #1679 closed

[2019-11-07 15:39] cdrage commented on #862
@dharmit it's broken for you. Maybe your addon or something?

[2019-11-07 16:08] pmacko1 commented on #2178
/assign @pmacko1

[2019-11-07 17:24] #1927 closed

[2019-11-08 06:53] amitkrout opened #2377 "Env var suggested in link output does not match with the actual env var inside the component pod"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
## Actual behavior
No such env var

## Expected behavior
[code]
## Any logs, error output, etc?
[code]
[code]

[2019-11-08 10:49] amitkrout opened #2379 "No pre check is done for existence of same component in the cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
## Actual behavior
Replacing the deployed component of same name

## Expected behavior
Should throw error of something like
```There is already a component of same name exist in the same app and in same namespace.```

## Any logs, error

[2019-11-08 10:53] amitkrout commented on #2379
/priority high

[2019-11-08 10:59] amitkrout commented on #2369
I guess #2377 is related to what @tmds is looking for.

[2019-11-08 11:02] amitkrout commented on #2377
Ahh, got it.
The suggested link output variable are being populated in the component pod.

[2019-11-08 11:02] #2377 closed

[2019-11-08 11:05] amitkrout commented on #2369
/kind bug

[2019-11-08 11:11] amitkrout commented on #2369
[code]
Yup, env var name should be taken care to avoid name collision.

[2019-11-08 11:15] kadel commented on #2019
Do we have any updates on this? If we can't make Travis-CI required for merging, we will have to move our  3.11 tests and another test that are tested just on Travis somewhere else

[2019-11-08 12:07] tmds commented on #2369
For example, when linking with a PostgreSQL db, these envvars are made available:
[code]
The request is to be able to add a prefix, for example with prefix `userdb_`, these would be:
[code]

This is similar to `oc set env` `--prefix` argument:

Prefix to append to variable names

[2019-11-08 13:45] mcouliba opened #2380 "unknown userid when running odo"
When running odo v1.0.0 in a container based on alpine:3.10.2, I got the following error:

[code]

[2019-11-08 14:02] #2380 closed

[2019-11-08 14:02] mcouliba commented on #2380
It is because of Che.
No username attached to my container

[2019-11-08 14:22] amitkrout opened #2382 "Provide subcommand "set" for odo url"
/kind enhancement

## Which functionality do you think we should update/improve?
[code]
Provide subcommand for odo url for updating the url.
## Why is this needed?

Better user experience

[2019-11-08 14:23] amitkrout commented on #2382
/priority medium

[2019-11-08 14:44] kadel commented on #2379
I'm afraid that with the current architecture this is impossible to solve.

[2019-11-08 15:31] kadel commented on #2369
Why is this marked as bug? Is there something that is broken?

It is more like an improvement or a new feature, or am I missing something?

`odo` uses a Secret that was created by ServiceCatalog ServiceBinding.

The Secret is added to the component's DeploymentConfig using `envFrom`.

[code]

There is a `prefix` field in `envFrom` that is supposed to do what we want.
But the documentation is menti

[2019-11-08 17:01] mchauvel commented on #2289
Seams PHP images have the same bug since rhel8/ubi8.

[2019-11-08 17:48] tmds commented on #2369
Yes, this is a feature request.

[2019-11-09 04:18] dgolovin opened #2385 "Link to download v1.0.1 does not work"
/kind docs
## What mistake did you find / what is missing in the documentation?

![image](https://user-images.githubusercontent.com/620330/68522846-3b6a5c00-0265-11ea-8dab-3d89c9d9eb08.png)

![image](https://user-images.githubusercontent.com/620330/68522826-dca4e280-0264-11ea-9c74-a790766deb36.png)

[2019-11-11 06:41] amitkrout opened #2386 "Link and unlink reports the same error message when the failure is hit due to wrong port flag"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
$ odo link backend --component frontend ...
 ✗  Unable to properly **link** to component backend. Please select one of the following ports: '8080,8443,8778' by supplying the --port option and rerun the command

$ odo unlink backend --component

[2019-11-11 07:13] amitkrout opened #2387 "Component delete doesn't honor component name in local config"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**

## How did you run odo exactly?
[code]
## Actual behavior
[code]

## Expected behavior
Should report error
[code]
## Any logs, error output, etc?
[code]
[code]

[2019-11-11 07:23] dharmit opened #2388 "No documentation for `testingutil.FakeDeploymentConfigs` function"
/kind docs

## What mistake did you find / what is missing in the documentation?
There's no documentation for what a 150-line function does https://github.com/openshift/odo/blob/e8be80483a49af94c6f8fd529936c0e48d5b4f49/pkg/testingutil/deploymentconfigs.go#L60-L66

## What is the relevance of it?
It helps make a choice whether the function could be used somewhere in the code!

[2019-11-11 09:10] amitkrout opened #2389 "project delete throws error if a linked component is deleted"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
## Actual behavior
[code]

## Expected behavior
Project delete should not throw error

## Any logs, error output, etc?

[2019-11-11 09:54] mohammedzee1000 commented on #2385
There was a slight delay due to the unavailability of ART team. Content has been synced now

https://mirror.openshift.com/pub/openshift-v4/clients/odo/v1.0.1/
/close

[2019-11-11 09:54] #2385 closed

[2019-11-11 11:39] prietyc123 opened #2390 ".odo file gets pushed into component pod"
/kind bug

## What versions of software are you using?

**Operating System: Supported platform

**Output of `odo version`: master

## How did you run odo exactly?

[code]

## Actual behavior

Listing out the .odo component directory

## Expected behavior

It should ignore .odo directory to push inside the pod

## Any logs, error output, etc?

[2019-11-12 05:00] dgolovin opened #2392 "odo link does not work for openshift 4.2.2"
/kind bug

## What versions of software are you using?

**Operating System:** windows 10 pro
**Output of `odo version`:** odo v1.0.0 (4e3175e6f)

## Actual behavior

When linking [frontend ](https://github.com/openshift-evangelists/Wild-West-Frontend) to [backend](https://github.com/openshift-evangelists/Wild-West-Backend) I am getting this error:

Failed to link component with error 'Error: Comma

[2019-11-12 05:02] mohammedzee1000 commented on #2392
/priority medium

[2019-11-12 06:07] amitkrout commented on #2392
@dgolovin This is a flake and has been tracked in #2244. Can you please try it again

[2019-11-12 08:50] kadel commented on #2392
It is not a flaky test if it can be reproduced outside of our test suite.

/priority high
/remove-priority medium
/kind bug

[2019-11-12 08:56] kadel opened #2393 "Run odo service catalog related test on OpenShift 4.x"
Currently, we test ServiceCatalog related stuff only against OpenShift 3.11 cluster.

We should run the same tests on all the cluster versions.

ServiceCatalog can be easily enabled on OpenShift 4.x cluster.
It is documented at https://docs.openshift.com/container-platform/4.2/applications/service_brokers/installing-service-catalog.html

Here is a simple script that I use to enable SeriviceCatalog

[2019-11-12 08:56] kadel commented on #2393
/kind testing

[2019-11-12 10:00] kadel commented on #2369
/remove-kind bug
/kind feature

/priority high

[2019-11-12 10:50] #2351 closed

[2019-11-12 10:51] amitkrout opened #2394 "odo unable to link component that present in a different app or namespace"
/kind bug

## What versions of software are you using?

**Operating System:**
supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
See the title

## Expected behavior
If flag --project and --app provides such flexibility then it should work
[code]

## Any logs, error output, etc?

[2019-11-12 11:28] kadel commented on #2370
As far as I know, this depends on the Service Broker implementation.

[2019-11-12 11:36] kadel opened #2395 "Add .NET images as supported images."
It looks like that .Net images should work with odo without any problems.
We need to verify that, and if everything works (push, watch, debug) ... We should .net to our supported component types.

There already is a nice example of how to use .net with odo - https://github.com/redhat-developer/s2i-dotnetcore-persistent-ex

odo should also properly support --binary with .net components

cc @tmds

/

[2019-11-12 11:38] amitkrout commented on #2392
I am saying it as a flake because in my recent test activities while pushing the java component i have seen the same error (✗ waited 4m0s but couldn't...) atleast 3 times out of my 20 test run against 4.3 cluster on aws.

AFAIU once link does change to frontend dc then build followed by a deployment happens. In this process it hit the same issue of  ```...couldn't find running pod matching selecto

[2019-11-12 12:06] amitkrout commented on #2369
I was thinking in a different way, So thought it could be broken when multiple component are  involved. Ran some use case hopping it will be broken at some point but it did not happen. So yes it's a feature request then.

[2019-11-12 14:59] dgolovin commented on #2392
@amitkrout for me it is always the same experience,
1. I create two components wildwest backend and frontend.
2. I try to link them and linking fails with message about not being able to search pod using selector
3. I see DeploymentConfig is being updated by adding secret with component host and port, but not redeployed.
4. Wildwest frontend is not functional at this moment
5. If I kick deployment

[2019-11-12 15:50] kadel commented on #2351
/assign @kanchwala-yusuf

[2019-11-12 20:31] cdrage commented on #943
Just implementing this now, but would this be better in `odo preference` rather than `odo config` since preference is a global file (in the users directory?).

If implemented via `odo config` (which the configuration file follows the folder where the components are), we would have to modify the `occlient.go` New() function: https://github.com/openshift/odo/blob/master/pkg/occlient/occlient.go#L225

[2019-11-12 21:19] cdrage commented on #2306
ping @prietyc123 @amitkrout

[2019-11-13 05:17] mohammedzee1000 commented on #2353
We might want to document this as a workaround for 4.x clusters?

[2019-11-13 10:07] kadel commented on #2244
Hi, @cdrage do you have any leads to what might be causing this?
There is also https://github.com/openshift/odo/issues/2392 which might be related to this.

[2019-11-13 10:47] amitkrout commented on #2333
/kind bug

[2019-11-13 12:28] tmds commented on #2395
debugging won't work.

For debugging you need a debug application that runs besides the .NET Core app.
Microsoft has `vsdbg` which we may not use due to license restrictions.
Samsung has https://github.com/Samsung/netcoredbg. This is used by Eclipse Che. Eclipse Che downloads a release from https://github.com/Samsung/netcoredbg/releases at runtime. netcoredbg supports VS Code debug adapter protoco

[2019-11-13 12:36] amitkrout commented on #2189
i am able to push ```registry.access.redhat.com/openshiftdo/odo-init-image-rhel7:1.0.0``` to openshift registry of a disconnected cluster, however i am facing an issue while creating the component. For example
[code]
Please look into the issue #2333 for details. cc_ @kadel

[2019-11-13 12:37] amitkrout commented on #2333
[code]

@kadel @girishramnani This issue needs your prior attention.

[2019-11-13 13:06] danielhelfand opened #2400 "odo link Doesn't Require odo push"
/kind enhancement

Unlike other commands that have the ability to alter what's deployed in a project, `odo link` simply performs linking as soon as you run the command.

It seems a bit odd to have this behavior that is not consistent with other `odo` commands. I am wondering if it makes sense to add the need to run `odo push` as part of linking or if there's reasoning behind excluding it from `odo

[2019-11-13 13:20] mohammedzee1000 commented on #2400
/kind feature
we need to update the template to say above :/

[2019-11-13 14:05] cdrage commented on #2244
@kadel No idea, but I'll investigate and see what may be causing this.. Really difficult to re-produce, but we can at least add some checks make sure the DeploymentConfig is completely deployed.

[2019-11-13 14:12] cdrage commented on #2392
Hey @dgolovin can you produce any verbose logs to help diagnose it? I'm trying to reproduce it but to no avail :(

Using `-v 4` of course.

[2019-11-13 14:27] cdrage commented on #2244
Been trying to replicate it multiple times but nothing... Here's my script:

[code]

[2019-11-13 17:06] cdrage commented on #2244
Hmm. I'm getting to something. I got a failure to start since PVC was taking too long. We actually do not check for PVC nor "output" anything regarding it...

I'm going to create some output for this at least.

So going to at least
[code]

[2019-11-13 18:13] #2282 closed

[2019-11-14 07:50] kadel commented on #943
It should definitely be a preference. I think that the original description mentions `odo  config` because it was created before we had `odo preference` (before new workflow). At that time. `odo config` served the same purpose as the current `odo preference` - global settings applied to every `odo` command invoked by user.

[2019-11-14 12:29] kadel commented on #2387
This is actually intentional.
We just need to document it in a better way.

The reason why it is is that the flags provided to the command are overwriting information found in the config.

So running command `odo component delete frontend --context /Users/amit/go/src/github.com/openshift/odo/tests/examples/source/openjdk/`

Will delete the frontend component from the application and project as def

[2019-11-14 12:52] kadel commented on #2395
Currently, it does not. `odo debug` just tries to prepare the component, and set up the local port where you can connect your debugger to.

By default we set env variable `DEBUG_MODE=true` for all images. There are scripts that run the application in a debug mode when the `DEBUG_MODE` is set.
For java the JVM is executed with `-Xdebug -Xrunjdwp:server=y,transport=dt_socket,address=${DEBUG_PORT},su

[2019-11-14 13:41] kadel commented on #2333
@amitkrout When you have disconnected cluster again, can you try to run `oc -n openshift get is nodejs` and paste the output here?

I think that the issue might be that the builder image is not downloaded.

[2019-11-14 14:23] amitkrout commented on #2360
@kadel Created a pr https://github.com/openshift/release/pull/5909. PTAL

[2019-11-15 10:54] praveenkumar commented on #2353
@tmds did you follow those doc on the latest `crc` and it worked or you used openshift online?

[2019-11-15 10:54] gbraad commented on #2353
There are no CRC specific ways. All interaction with the cluster we deploy is done as if it is a regular OpenShift 4.x cluster

[2019-11-15 11:00] tmds commented on #2353
There is no `odo`/`crc` documentation for this. `odo`/`crc` is also not pointing at the OpenShift documentation, which makes it hard for a user to figure out how to make this work.

I have not tried these steps with OpenShift Online. I guess it won't work because the user is not the admin?

These are the steps:
- https://docs.openshift.com/container-platform/4.2/applications/service_brokers/instal

[2019-11-15 11:09] gbraad commented on #2353
Document how to enable service catalog on OpenShift 4.x so it can be used with 'odo service'

[2019-11-15 11:09] gbraad commented on #2353
AFAIR OpenShift Online is 3.x, right?

[2019-11-15 11:12] amitkrout commented on #2333
$ oc -n openshift get is nodejsNAME     IMAGE REPOSITORY                                                    TAGS           UPDATED
nodejs   image-registry.openshift-image-registry.svc:5000/openshift/nodejs   10,8,8-RHOAR

[2019-11-15 13:10] kadel commented on #2353
It depends on which one.
OpenShift Online Starter  is 4.x (various versions)
OpenShift Online Pro is still 3.11

[2019-11-18 15:58] kadel commented on #2339
it is really slow, and so slow that is is almost unusable.

doing `odo push --co` and waiting 2 seconds to see something is unbearable :-(
Autocompletion is supposed to speed up things, but our is not doing that.

/kind bug
/priority medium

[2019-11-18 19:06] dgolovin commented on #2392
@cdrage
[code]

[2019-11-18 19:22] #1718 closed

[2019-11-18 19:25] dgolovin commented on #2392
@cdrage
[code]

[2019-11-18 22:04] cdrage commented on #1884
Se my current implementation: #2397

I'm having major troubles mitigating ONE niche case and that's essentially when you run `odo project create` IMMEDIATELY after `odo project delete` with the same project name.

Here's essentially the TLDR;

- `--wait` works. And works well
- if you do project create with the same name as the project you just deleted, it *may* fail as your cluster is still propa

[2019-11-19 08:37] tmds commented on #2400
Adding to this:

It would be nice if linking is allowed when the application has not yet been pushed. This is currently not possible.

For example, if your application uses a database, currently you need to deploy the application, and after that link it to the database.

[2019-11-19 08:38] tmds commented on #2395
Is there documentation for java/nodejs on how the user can do this?

Do we need debug for .NET Core to consider it supported by odo?

[2019-11-19 09:43] prietyc123 commented on #2390
/assign @mik-dass

[2019-11-19 11:51] mik-dass commented on #1981
https://github.com/openshift/odo/pull/2271#issuecomment-540949830

Looking at the logs, it seems to time out after 5 min
[code]
That is the timeout time for the WaitAndGetDC() function https://github.com/openshift/odo/blob/599683da41194b64b3ec98e187300bef7701b23a/pkg/occlient/occlient.go#L91. So I believe it is a timeout issue while waiting for the DC.

[2019-11-19 20:30] cdrage commented on #2244
Another failure I was able to encounter (for my notes..):

To replicate: quickly do a `odo delete -f` and then `odo push` and you'll encounter an error with DeploymentConfig complaining regarding the deployer pod going missing...

[code]

[2019-11-19 21:44] #1879 closed

[2019-11-20 10:52] mik-dass commented on #1981
https://travis-ci.com/openshift/odo/jobs/258102894#L932

Here the problem occurred in the function FollowBuildLog() while setting up the RestClient

[2019-11-20 12:16] kadel commented on #2390
/priority low

[2019-11-20 12:49] prietyc123 opened #2404 "Unit Test for Adding odo file index json to gitignore file"
/kind bug

https://github.com/openshift/odo/pull/2305#issuecomment-554246063

[2019-11-20 12:49] amitkrout commented on #2404
/assign @prietyc123

[2019-11-20 16:36] #2223 closed

[2019-11-21 08:53] prietyc123 commented on #2404
I think similar kind of pr #2311 which has the same library that I am looking for, So I will be waiting for the above mentioned pr to be merged.

[2019-11-21 10:09] prietyc123 commented on #2364
[code]

The above issue occurs for all the below images:
"bucharestgold/centos7-s2i-nodejs:8.x"
 "bucharestgold/centos7-s2i-nodejs:10.x"
 "centos/nodejs-8-centos7:latest"

It seems these images are not present in the ```registry.access.redhat.com```. Whereas as I checked it is available on docker.io which is a public repository.

Logs with docker hub:
[code]
@kadel @mohammedzee1000 WDYT?

[2019-11-21 10:13] dharmit commented on #2237
[code]

It looks like `odo` is already implementing same behaviour as `oc`. In spite of having deleted `myproject`, when we execute `oc project`, it still points to `myproject`. I think we can close this issue.

[2019-11-21 10:14] #2237 closed

[2019-11-21 12:59] amitkrout commented on #2360
/close

[2019-11-21 12:59] #2360 closed

[2019-11-21 16:26] #2109 closed

[2019-11-25 08:00] amitkrout commented on #1819
/assign @prietyc123

[2019-11-25 08:30] amitkrout commented on #1871
/assign @amitkrout

[2019-11-25 08:33] kadel opened #2408 "Notarize odo in order to run on macOS Catalina"
Every user running odo on macOS Catalina will have to add an exception to bypass new security measures in macOS Catalina in order to run odo.

Odo needs to be notarized by Apple in order to run on macOS Catalina.
This process should be ideally automatized and part of our release pipeline.

https://developer.apple.com/news/?id=09032019a

[2019-11-25 08:39] mohammedzee1000 commented on #2408
coreos jira issue https://jira.coreos.com/browse/ODO-12 liable to change after migration to issues.jboss.org

[2019-11-25 08:44] kadel opened #2409 "odo debug: use env DEV_MODE instead of DEBUG_MODE"
Current odo debug implementation uses `DEBUG_MODE` that is set to true by default if the component is created from a supported image.

To be more aligned with s2i images we should start using `DEV_MODE` instead. This will allow users to use `odo debug` even with images that are not officially supported by odo, but support `DEV_MODE`

[2019-11-25 09:42] amitkrout commented on #2394
Not a valid user use case

[2019-11-25 09:42] #2394 closed

[2019-11-25 09:49] kadel commented on #2389
/close
duplication of https://github.com/openshift/odo/issues/2355

[2019-11-25 09:49] #2389 closed

[2019-11-25 12:50] kadel commented on #2316
with new odo release - 1.0.1 the `odo upgrade odo` is working as it is supposed to
/close

[2019-11-25 12:51] kadel commented on #2290
branch with the PoC work . https://github.com/kadel/odo/tree/devfile-poc https://github.com/kadel/odo-supervisord-image/tree/devfile-poc

Recorded demo is comming

[2019-11-25 13:59] kadel commented on #1411
There is an issue with odo when executed inside Pod on OpenShift that might be related to this issue.

[2019-11-25 17:56] pmacko1 commented on #2180
https://github.com/openshift/openshift-docs/pull/18280

[2019-11-26 09:03] amitkrout opened #2414 "envForm record not found in dc when linking component using --wait flag"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported platform
**Output of `odo version`:**
master
## How did you run odo exactly?

https://github.com/openshift/odo/pull/2398/files#diff-93c99b01e2a566d8d27400ffb6e2ee51R112-R135

## Actual behavior
envForm record not found

<img width="457" alt="Screen Shot 2019-11-26 at 2 35 58 PM" src="https://user-images.githubu

[2019-11-26 09:59] amitkrout commented on #2414
/priority high

[2019-11-26 10:41] kadel commented on #2414
This is not a valid bug. The problem is in the test. It is trying to link backend component to the backend component. see  https://github.com/openshift/odo/pull/2398/files#r350663133

[2019-11-26 12:19] dharmit commented on #2355
Can reproduce this on latest master. It's failing in the function `GetComponent` in `pkg/component/component.go` file.

[2019-11-26 12:46] #2288 closed

[2019-11-26 12:59] amitkrout commented on #2414
/close

[2019-11-26 12:59] #2414 closed

[2019-11-26 14:50] #1793 closed

[2019-11-26 16:49] kadel opened #2415 "odo list -h shows different output than odo component list -h"
[code]

[2019-11-26 19:00] nickboldt opened #2416 "Use latest oc binary to avoid known CVE issues"
/kind enhancement

## Which functionality do you think we should update/improve?

Update to newer oc binary to fix known CVE issues.

## Why is this needed?

Known CVE issue: https://access.redhat.com/errata/RHSA-2019:3905

Fix: move to atomic-openshift-clients-3.11.154-1.git.0.7a097ad.el7.x86_64.rpm (or newer).

For example:

https://mirror.openshift.com/pub/openshift-v3/clients/ (3.11.156 curren

[2019-11-27 04:21] kanchwala-yusuf commented on #1557
@amitkrout , Can you please provide more details as to what is expected here? Can you please elaborate? Thanks

[2019-11-27 06:28] amitkrout commented on #2256
- [ ] Test should run for component and component shortcut commands

- [ ] verify the local config after component creation

- [ ] If flags are used other than default then verify the local config along with the changes done in dc

- [ ] Verify the component create UTs and fix those missing cases if any so that we can minimize the integration test coverage with respect to UTs.

- [ ] Add negative

[2019-11-27 06:54] amitkrout opened #2417 "Avoid triggering CI job for only typo, comment and doc fix"
/kind enhancement

## Which functionality do you think we should update/improve?
Prow job triggering mechanism

## Why is this needed?
To avoid unnecessary use of aws resources for fixes which are not part of any code change.

[2019-11-27 06:55] amitkrout commented on #2417
/area testing

[2019-11-27 08:08] amitkrout commented on #1557
@kanchwala-yusuf Early days odo repo was being maintained in ```github.com/redhat-developer/odo``` org, later it moved to OpenShift org which we currently working on. During the repo migration it seem certain make target does not work for us. For example, each pr run executes code coverage target [1] but the report does not reflected in pr like it was reflecting before [2]. You can refer [3] for m

[2019-11-27 09:32] kanchwala-yusuf commented on #1557
Is this is the link you are referring to:

[2019-11-27 10:13] amitkrout commented on #1557
yes

[2019-11-27 11:23] kadel commented on #2172
Let's start asking the user to confirm when  `odo config set name` is executed without `-f`
Something like this.

`You are changing the component name. This action might result in the creation of a duplicate component. If your component is already pushed, please delete the  <old_component_name> after you apply changes (odo component delete <old_component_name> --app <app> --project <project>)`

Of

[2019-11-27 11:27] kadel commented on #1871
what is Controller node?

[2019-11-27 11:28] kadel commented on #1871
added one additional important Acceptance criteria

[2019-11-27 11:30] kadel commented on #1819
Please describe the scenarios in the issue before implementing it.

My take on this is that it is far more important to test the watch with different images than go overboard with testing every single flag that command has.

[2019-11-27 11:31] kadel commented on #2404
pr was merged

[2019-11-27 11:39] mohammedzee1000 commented on #2416
Thanks, I think this also applies to our vendor client-go (occlient) library
/kind bug
/priority medium
@kadel wdyt

[2019-11-27 11:49] kadel commented on #2416
There are two CVEs.
What I understand from reading through it is that they don't effect client-go. But one of them might be effecting us.

https://nvd.nist.gov/vuln/detail/CVE-2019-11253
This one is effecting apiserver, not a client-side.

https://bugzilla.redhat.com/show_bug.cgi?id=1753495
The discovered vulnerability is in `kubectl cp` command. We don't use that command, but our code is based on

[2019-11-27 13:14] kadel commented on #2248
/assign @amitkrout
@amitkrout  will try to verify if the issue is still there or not. If it is fixed, we just need to write test. If issue is still present, we need to fix it together with writing a proper test for it.

[2019-11-27 13:20] mohammedzee1000 commented on #2408
https://github.com/golang/go/issues/34986 this seems to be a larger-scale problem as even go is looking to do this

[2019-11-27 13:24] kadel commented on #1819
Let's start with having at least one test for each flag, no need to start with permutations.

[2019-11-27 14:07] boczkowska commented on #599
/assign @pmacko1

[2019-11-27 14:17] kadel commented on #2019
@amitkrout please check if the this can be done  or not

[2019-11-27 14:26] kadel commented on #2219
verify that json output has the project field

[2019-11-27 14:54] kadel commented on #2290
implementation plan https://docs.google.com/document/d/16OUCIvuoTPuJfqS32RLNDgJS1ZJ-sY3NDR9ZMP6wQH4/edit#

[2019-11-27 15:02] sbouchet commented on #2015
@kadel , i'm currently implementing https://github.com/redhat-developer/intellij-openshift-connector/issues/72 and i would like to use this command to interact with odo to know if the current component is already running in debug mode. this would help a lot to have such info.

[2019-11-27 16:41] kadel commented on #2015
@sbouchet Is ti something that you will be working on this current sprint?
It might be problematic and hacky for you to implement redhat-developer/intellij-openshift-connector#72 without odo first adding `odo debug info` command.

[2019-11-27 17:04] jeffmaury commented on #2015
We plan to release next version with debug features, same for VSCode OpenShift Connector (@dgolovin). When do you think this will be added to odo otherwise we will implement external odo debug info based on the presence or not of the local port.

[2019-11-28 07:47] mohammedzee1000 commented on #2189
So t

5. odo binaries need to be delivered in-cluster
Discussion about this is already in progress to have a unified way of doing this for the whole of devtools

[2019-11-28 09:37] sbouchet commented on #2015
@kadel actual implementation/testing is not using odo debug info for now, only workarounds.

[2019-11-28 10:48] mik-dass commented on #2416
Interesting read regarding this issue https://www.stackrox.com/post/2019/09/beyond-patching-fixing-kubectl-cp-cve-2019-11251/

[2019-11-28 12:19] amitkrout commented on #2019
testplatform team conversation  - https://coreos.slack.com/archives/CBN38N3MW/p1574943307312200

[2019-11-28 13:42] #1066 closed

[2019-11-29 07:38] dharmit opened #2419 "Prevent a component from linking to itself"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `master`

## How did you run odo exactly?
[code]
## Actual behavior
Component links to itself.

## Expected behavior
Component shouldn't be allowed to link to itself.

## Any logs, error output, etc?

[2019-11-29 11:57] kadel commented on #2015
I'm would be careful with workarounds. `odo debug` is still an experimental feature, and a lot can change there.

[2019-11-29 12:16] jeffmaury commented on #2015
The workaround will be use will be independant of odo implementation. Before we start `odo debug port-forward`, we will check if the local port (that we allocate ourselves) is available or not (we can connect to it or not) and if not we will start `odo debug port-forward`

[2019-12-02 06:15] amitkrout commented on #2019
As per the slack conversation the incompatibility issue has not been fixed. That is prow unable to  validate GH API changes for travis job status.

I had a quick discussion with @mohammedzee1000 and here we come up with some solution

1. Fix it in the upstream (OpenShift CI)
2. Move 3.11 cluster on prow
3. Before applying the label make sure travis status job status is green (This is what we are c

[2019-12-02 06:34] girishramnani commented on #2419
I would like to work on this

[2019-12-02 06:52] girishramnani commented on #2415
/assign

[2019-12-02 08:26] amitkrout commented on #2248
But in the end when the application runs, it fails.

With odo master bits +  OpenShift 4.3 cluster i have verified the same behaviour what @girishramnani observed.

We need tests for both, nodejs and java that will check that files are deleted from the directory that is used to build the component.

Test will be added as @girishramnani mentioned above. However the behaviour of second push when no

[2019-12-02 08:53] amitkrout opened #2422 "odo push passing even after removing the files from source"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]
Check #2248 for more details

## Actual behavior
second push succeeded

## Expected behavior
Second push should fail

## Any logs, error output, etc?

[2019-12-02 08:53] amitkrout opened #2423 "Add test to validate deleted files should not present in the directory that is used to build component."
/kind bug

https://github.com/openshift/odo/issues/2248#issuecomment-544923448

[2019-12-02 08:56] amitkrout commented on #2248
/close

[2019-12-02 09:02] amitkrout commented on #2422
ping @girishramnani

[2019-12-02 09:04] amitkrout commented on #2422
/priority medium

[2019-12-02 09:09] mik-dass commented on #2416
I don't see any changes which will be required in odo's tarring logic
https://github.com/kubernetes/kubernetes/commit/786acdb66878121064c289764ea2bb19fb5d48ae

The resursiveTar() has the same logic as ours.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/cp/cp.go

The changes were done in the unTarAll function but we don't use it anywhere in our code base.
https://github.com/k

[2019-12-02 09:13] kanchwala-yusuf commented on #1557
Codecov provides code coverage reports.

Codecov has two types of settings to be done:
1. For all the repositories in the organization.
2. For local repository

1. For all the repositories, codecov requires:
- Either add  "CodeCov Team bot" or "CodeCov Github Integration" to the openshift org. This can be done by the openshift account org administrators.
Refer: https://docs.codecov.io/docs#section

[2019-12-02 11:21] amitkrout commented on #2309
/priority medium

[2019-12-02 11:31] #2415 closed

[2019-12-02 11:35] amitkrout commented on #2322
/priority medium

[2019-12-02 13:14] girishramnani commented on #2422
some information on this issue is provided in this comment
https://github.com/openshift/odo/issues/2248#issuecomment-540068332

[2019-12-02 13:27] girishramnani commented on #2395
@tmds you can refer this for java/nodejs https://github.com/girishramnani/odo/blob/56e2e2c04f2197f7243564af660c256cea4a8f91/docs/getting-started.adoc#using-debug-mode-to-interactively-debug-tech-preview

[2019-12-02 14:56] kadel commented on #1557
Why all repositories in org? It is not possible to enable it for just one single repo?

[2019-12-03 05:20] kanchwala-yusuf commented on #1557
So CodeCov has two types of settings:
1. Global (I made up this word) settings which are common to all the repositories. These are configured in a file called "Team Yaml"
2. Local settings which override globally settings. These are configured in ".codecov.yml" which is already present in odo repo.

[2019-12-03 07:28] amitkrout commented on #2333
/assign @mik-dass

[2019-12-03 07:28] amitkrout commented on #2333
@mik-dass is looking into this

[2019-12-03 07:31] amitkrout commented on #2333
/priority high

[2019-12-03 12:28] tmds commented on #2395
@kadel we don't have plans to include a debugger in the .NET Core images. If that is a requirement, .NET Core can't be a 'supported image' in the near future. I'm fine if this issue is closed. If the situation changes, I'll look into adding `odo` support for the debugger.

[2019-12-03 12:38] amitkrout commented on #2333
Creating a sample oc app fails. Seems there are no image in the cluster. May be some pre config is required for accessing the image in the disconnected cluster. Will check with openshift QE team in the regard how they are testing on such cluster cc_ @mik-dass
[code]

@mik-dass Can you please share your analysis

[2019-12-03 14:04] cdrage opened #2424 "Being able to manually set a ODO_BOOTSTAPPER_IMAGE via `odo config`"
/kind enhancement

## Which functionality do you think we should update/improve?

When we release a new update to the bootstrapper image, the *only* way to update is:

[code]

Alternatively, we should be able to set it via: `odo config` and NOT have to recreate the image.

For example:

[code]

## Why is this needed?

Need this for backwards compatibility when releasing a new image.

[2019-12-03 14:04] cdrage commented on #2424
/kind enhancement

[2019-12-03 14:05] cdrage commented on #2424
/kind enhancement

[2019-12-03 14:13] kadel commented on #2359
Should be fixed as part of https://github.com/openshift/odo-init-image/pull/43/files

[2019-12-03 15:44] #943 closed

[2019-12-04 06:56] dharmit commented on #2355
@kadel Using https://github.com/openshift/odo/blob/50c6f73e8c00334f80f67a76f239f60630fb93e5/pkg/component/component.go#L867
we can get a list of components in the cluster. This gives a list of components that are in `Pushed` state. Using this info on the component requested for deletion, we can figure if the component is linked to some other pushed component in the cluster.

IMO, using this info,

[2019-12-04 08:58] mik-dass commented on #2333
@kadel @amitkrout I faced the same error as described in https://github.com/openshift/odo/issues/2333#issuecomment-561149118

I discovered that we check for the presence of the tag in the image stream by checking `imagestream.Status.Tags`
https://github.com/openshift/odo/blob/50c6f73e8c00334f80f67a76f239f60630fb93e5/pkg/occlient/occlient.go#L651

But during listing we use `imagestream.spec.tags` f

[2019-12-04 09:26] kadel commented on #2355
Why would you want to prevent deleting? The deletion should happen.
When  `odo delete backend` is executed and the backend component is linked to the frontend component it should first "unlink" the components (remove envFrom from frontend DC), delete the secret and then delete the component.

[2019-12-04 11:12] amitkrout commented on #2333
In the meanwhile i was trying a different usecase where we have images in a separate private registry and these images are part of imagestream in that disconnected cluster.

```odo catalog list components``` panics out after i applied the is

[code]
[code]

[2019-12-04 11:52] amitkrout commented on #2333
I got the steps of how to login to local registry of a disconnected cluster (hosted on OpenShift QE resources) from Openshift QE member. Unfortunately these steps does not work for me. So pinged them again.

[2019-12-04 14:28] kadel commented on #2248
Why was this closed?
This issue was scheduled for the current sprint and assigned to @girishramnani to write tests for this.
https://github.com/openshift/odo/issues/2248#issuecomment-547244047

[2019-12-04 14:28] kadel commented on #2248
/reopen

[2019-12-04 14:57] cdrage opened #2428 "Emphasize that odo is used for development not production"
/kind docs

## What mistake did you find / what is missing in the documentation?

Current we have:

[code]

We should elaborate on this and explain to the user that odo is meant for development and not production. We don't actually "deploy" applications to OpenShift, but rather write and build them.

Two action items:

- An emphasis that it's meant for development use ONLY and we (potentially) hav

[2019-12-05 07:35] kanchwala-yusuf commented on #2359
This issue has been fixed by the PR https://github.com/openshift/odo/pull/2427

**Testing results:**
**CRC version:**
[code]

**odo-init-image:** "registry.access.redhat.com/openshiftdo/odo-init-image-rhel7:1.0.1"

**assemble-and-restart script correctly identifying the language:**
[code]

**node.js application starting correctly with debugger:**
[code]

**odo catalog list:**
[code]

[2019-12-05 07:35] #2359 closed

[2019-12-05 07:36] kanchwala-yusuf commented on #2366
This issue has been fixed by the PR https://github.com/openshift/odo/pull/2427

**Testing results:**
**CRC version:**
[code]

**odo-init-image:** "registry.access.redhat.com/openshiftdo/odo-init-image-rhel7:1.0.1"

**assemble-and-restart script correctly identifying the language:**
[code]

**node.js application starting correctly with debugger:**
[code]

**odo catalog list:**
[code]

[2019-12-05 07:36] #2366 closed

[2019-12-05 08:27] amitkrout opened #2432 "Run component command test with and without shortcuts commands"
/kind bug

## What versions of software are you using?

**Operating System:**
All supported
**Output of `odo version`:**
master
## How did you run odo exactly?
make test-cmd-cmp
make test-cmd-cmp-sub

## Actual behavior
Component command with and without shortcuts commands are updated properly in the test file.

For example:

https://github.com/openshift/odo/blob/master/tests/integration/component

[2019-12-05 08:28] amitkrout commented on #2432
/assign @prietyc123

[2019-12-05 09:20] amitkrout commented on #2333
I am able to login to the disconnected cluster local registry using the below steps
[code]

However now i am facing an issue of ```received unexpected HTTP status: 500 Internal Server Error``` while pushing the init image to the local registry.

[2019-12-05 10:33] mohammedzee1000 commented on #1871
I have working on updating the scripts provided by pavol to setup 4.x cluster on PSI. The scripts make use of aws route 53 by default to create route to cluster (basically if aws command works on your system and you have a DNS there under your control the scripts will work with minor modifications to a couple of files).

I have spent some time creating copies of the script with DNS config stripped

[2019-12-05 10:38] kadel commented on #2424
Changing the bootstrapper image is something that the user should never do.
`ODO_BOOTSTRAPPER_IMAGE` is there only for use in testing, to make it easier for us to test an image before we do a release. Users should never change the image.

If you put it into the config as you propose it will never get updated with a new odo release, and the user will have to update it in the config.

The initImage

[2019-12-05 11:17] kadel commented on #1871
As far as I know, there are two kinds of DNS in each Kubernetes cluster.
One is internal that that translates service names to endpoints ip, that one is usually handled by CoreDNS running inside the cluster. We don't have to worry about that one as this is never exposed to the outside and it is internal to the cluster.

The other DNS is one that handles DNS name resolution for Routes/Ingresses, ap

[2019-12-05 12:14] ppitonak commented on #1871
I think that @kadel described it correctly. You don't need Route53, any DNS server that has API or can be configured in non-interactive way is OK. We used Route53 as it was the quickest and cheapest solution (<$1 per month)

[2019-12-05 12:19] mohammedzee1000 commented on #1871
Yea, although we will need to ensure that the server does not need to be explicitly configured on client side. If you are on the Red Hat Network, then you should be able to get to anything there

[2019-12-05 12:38] kadel commented on #1871
Our goal is to create a long-lived cluster. It should be ok to use even a DNS that requires interactive configuration, as it will be just a one-time thing for us.

If there is internal DNS that we can use great. That will be a clean solution. But we might be able to get away with using an external domain with dns, for example, we already own openshfitdo.org domain. We can try to use that. It won't

[2019-12-05 12:57] kadel commented on #2423
this should be handled in #2248 which is already included in the sprint planning
/close

[2019-12-05 12:57] #2423 closed

[2019-12-05 15:02] kadel commented on #2422
/triage duplicate
#2248
/close

[2019-12-05 15:02] #2422 closed

[2019-12-05 15:15] kadel commented on #2390
This is not going to cause any issues. In some cases, this might be even useful.
If it is not causing any problems I wouldn't worry about changing this behavior for now.

/unassign @mik-dass
/close

[2019-12-05 15:15] #2390 closed

[2019-12-05 15:17] kadel commented on #1806
/unassign @cdrage @amitkrout

[2019-12-05 15:18] kadel commented on #1184
/unassgin @kadel @cdrage
/remove-label "state/In Analysis"

[2019-12-05 15:19] kadel commented on #1184
/unassign @kadel @cdrage

[2019-12-05 15:20] kadel commented on #2056
/unassign @cdrage

[2019-12-05 15:42] kadel commented on #2417
If it is any change in source code it needs to pass all the tests, even if it is just fixing typo.

Documentation shouldn't be a problem, as most of it is in a separate repo.
We have just a few *.md files in this repo that are not changed that often. I wouldn't worry about triggering tests for it. They are usually modified less than once per month.

Implementing checks to when trigger CI and when

[2019-12-05 15:42] #2417 closed

[2019-12-05 15:43] kadel commented on #2056
/area json-output

[2019-12-05 15:44] kadel commented on #2057
/kind feature
/area json-output
/unassign @cdrage

[2019-12-05 15:47] kadel commented on #1953
/unassign @mik-dass
/triage not-reproducible
/close

This is something that is just specific to the DNS setup for our testing cluster.
We can reopen it if we verify that the weird dns setup is not to blame here.

[2019-12-05 15:47] #1953 closed

[2019-12-05 15:47] kadel commented on #2076
/unassign @cdrage
/area json-output

[2019-12-05 15:48] kadel commented on #2055
/unassign @cdrage
/area json-output

[2019-12-05 15:48] kadel commented on #2102
/unassign @cdrage
/area json-output

[2019-12-05 15:54] kadel commented on #1845
@amitkrout Can you please break down to smaller issues that describe what scenarios are missing and that can be addressed in one sprint?

[2019-12-05 15:55] kadel commented on #2215
/unassign @girishramnani

[2019-12-05 15:59] kadel commented on #2215
@girishramnani documentation is not enough. `odo push` needs to be smart enough to do it what is needed and `odo config set DebugPort` needs to have a different message that will say that user needs to run `odo push` as pushing explicitly just a config with  `odo push --config` is not enough

[2019-12-05 16:00] kadel commented on #2215
/kind bug
/priority medium
/area debug

[2019-12-05 16:01] kadel commented on #2220
/unassign @cdrage
/kind feature
/area json-output

[2019-12-05 16:02] kadel commented on #1992
/unassign @girishramnani
/close
/triage unresolved
the scripts are is no longer used

[2019-12-05 16:02] #1992 closed

[2019-12-05 16:03] kadel commented on #1671
/close

[2019-12-05 16:03] #1671 closed

[2019-12-05 16:04] kadel commented on #2071
done

/close

[2019-12-05 16:04] #2071 closed

[2019-12-05 16:04] kadel commented on #2106
/unassign @cdrage
/area json-output

[2019-12-05 16:04] kadel commented on #2105
/unassign @cdrage
/area json-output

[2019-12-05 16:05] kadel commented on #2328
/kind docs

[2019-12-05 16:06] kadel commented on #2306
/unassign  @prietyc123 @amitkrout

[2019-12-05 16:07] kadel commented on #1739
/label points/13

/unassign @cdrage

[2019-12-05 17:24] kadel opened #2434 "Document how odo labels Kubernetes and OpenShift resources"
see  https://github.com/openshift/odo/issues/599#issuecomment-514516478 for more information

https://github.com/openshift/odo/issues/599#issuecomment-520461752

/kind docs
/priority medium

[2019-12-05 17:25] kadel commented on #599
/unassign @pmacko1
/close

created #2434 to address missing documentaion

[2019-12-05 17:25] #599 closed

[2019-12-05 17:26] kadel commented on #1750
/kind feature

[2019-12-05 17:28] kadel commented on #2249
separate issue https://github.com/openshift/odo/issues/2371 created to address last issue
/close

[2019-12-05 17:28] #2249 closed

[2019-12-05 17:30] kadel commented on #2371
/triage needs-information

[2019-12-05 17:31] kadel commented on #2194
/priority low
/remove-priority high
/triage needs-information

[2019-12-05 17:36] kadel commented on #2194
this is not publicly accessible link, @amitkrout please provide a proper description

[2019-12-05 17:38] kadel commented on #2019
@amitkrout please don't link to the stuff that is not publicly available!

[2019-12-06 07:31] wzheng1 commented on #2189
@amitkrout the error you met about "unable to find tag 8 for image nodejs" is due to nodejs imagestream not imported by default in a disconnected cluster, which you can run $oc describe is nodejs -n openshift to check.

[2019-12-06 08:29] amitkrout commented on #2333
Commented by @wzheng1 - https://github.com/openshift/odo/issues/2189#issuecomment-562465666

[2019-12-06 10:36] kadel commented on #2015
/kind feature
/priority high
/remove-priority medium

[2019-12-06 12:07] kadel commented on #2422
I'm not able to reproduce this.

When using the example that we have in `tests/examples/source/openjdk` `odo push` correctly fails after deleting `src/main/java/MessageProducer.java`

[code]
/triage not-reproducible

[2019-12-06 12:56] kadel commented on #2419
/priority low

[2019-12-06 15:26] cdrage commented on #2424
@kadel My reasoning is backwards compatibility. If there was a bug in the odo init image, but not in the CLI, I'd make sense to update the init image. As of right now, if Red Hat were to release an errata, we cannot provide a solution to the current bug other than: "Download the new release". Do you think we should keep it that way?

[2019-12-06 17:46] johnmcollier opened #2436 "Implement a kclient package for interacting with Kubernetes clusters"
As we work to make odo more Kube-generic and have it function on non-OpenShift clusters, we'll need a library to interact with those clusters, much like how `occlient` functions today. This would be a standalone library from `occlient` that would interface with `client-go` to interact with resources on a Kubernetes cluster.

- [ ] Determine which client-go library to use
    - Right now odo is pul

[2019-12-06 17:47] johnmcollier commented on #2436
Per the earlier odo-dev call this week, I can take a look at this.

[2019-12-08 19:41] girishramnani opened #2437 "Use the new errors package in golang 1.13"
/kind enhancement

## Which functionality do you think we should update/improve?
We can use the new error wrapping addition provided by the errors package in golang 1.13
https://golang.org/doc/go1.13#error_wrapping

We can remove the dependence to 3rd party library we have been using for test wrapping.

[2019-12-09 04:44] dharmit opened #2438 "Linking works even when the component being linked hasn't completely started/pushed"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `master`

## How did you run odo exactly?
1. Start backend component with:
[code]

2. The `backend` component above is still waiting to start but the below frontend component was pushed successfully:
[code]

3. Link the frontend component with the backend component:
[code]

## Actual beh

[2019-12-09 06:41] mik-dass commented on #2416
@kadel @cdrage @nickboldt Looking at https://github.com/kubernetes/kubernetes/commit/786acdb66878121064c289764ea2bb19fb5d48ae, I could find that the changes were done in the unTarAll() function which is used in the copyFromPod() function https://github.com/kubernetes/kubernetes/blob/2fbe432d2347d7f808054f92f2b146e8a7dd2de8/pkg/kubectl/cmd/cp/cp.go#L324

Thus looking at the above code base, I think

[2019-12-09 09:53] amitkrout opened #2439 "Verify the local config after component creation"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
No validation is done for local config file created by ```odo component create ...``` command. Part of #2256

NOTE: This is not same as validating the local config through ```odo config view``` command

## Actual behavior
No ```yaml``` level va

[2019-12-09 09:53] amitkrout commented on #2439
/area testing

[2019-12-09 09:53] amitkrout commented on #2439
/assign @prietyc123

[2019-12-09 11:21] amitkrout commented on #2019
Done

[2019-12-09 11:34] amitkrout commented on #2194
Updated

[2019-12-09 13:52] #2432 closed

[2019-12-09 13:59] kadel commented on #843
`odo service ` as we are slowly moving towards Operator backed services the service command is being reworked.  We can look into this as part of that work, and fix this issue for Operator backed services.

#2161

/priority medium
/remove-priority high

[2019-12-09 14:03] kadel commented on #2236
+1

It could look something like this?

[code]

[2019-12-09 14:11] kadel commented on #1911
We change this behavior we would have to change it in the Cobra library, which means either submitting path upstream or carrying our potched version. Both options are quite a lot o work, and I don't think it is worth investing in changing this.

/triage unresolved
/close

[2019-12-09 14:11] #1911 closed

[2019-12-09 14:29] kadel commented on #2113
I think that the important question here is whatever the service is part of the application or not.
If odo is working with the model where services are part of the application, then it should be deleted with it.

If we say that service is not part of the app but stand above it, then we shouldn't label it with application labels and do other changes in odo to reflect this.

Odo currently assumes th

[2019-12-09 15:11] kadel commented on #2309
Not anymore. This PR https://github.com/openshift/odo/pull/2399 implemented `odo describe` even for not pushed components.

/kind feature
/remove-kind bug
/priority high

This is not a bug, but something that was not yet implemented.

[2019-12-09 15:12] kadel commented on #2322
/kind bug

[2019-12-09 15:15] kadel commented on #2322
Empty value is a valid case. We shouldn't prevent that.

Empty variable name (key) doesn't make sense, we should have validation check for it.
But to be honest, not sure if I would worry about this much. How can user end up running something like this `odo config set --env ""=hello`?

/priority low
/remove-priority medium

[2019-12-09 15:18] kadel commented on #2379
/triage unresolved
/close

[2019-12-09 15:18] #2379 closed

[2019-12-09 15:23] kadel opened #2443 "Do not allow combination of --context with (project, app and component) flags"
based on: https://github.com/openshift/odo/issues/2387#issuecomment-553866802_

It can be confusing when `--context` flag is used together with one or more `--project` `--app` `--component` flags.

We should add a check that doesn't allow the use of `--context` with `--app` or `--project` or `--component`.

[2019-12-09 15:23] kadel commented on #2443
/kind feature
/priority medium

[2019-12-09 15:25] kadel commented on #2387
Created #2443 to take care of the flag combination if we want to address it.

Otherwise, the described behavior is how it is intended to work.

/triage unresolved
/close

[2019-12-09 15:25] #2387 closed

[2019-12-09 17:56] cdrage commented on #2301
PR located here: https://github.com/openshift/odo/pull/2307

[2019-12-09 17:58] cdrage commented on #2217
Being fixed in: https://github.com/openshift/odo/pull/2307

[2019-12-09 20:05] nickboldt commented on #2416
Well, you're still better off IMHO being based on newer versions of oc than 3.11.0 (as 3.11.156 is the latest) or moving to 4.2.latest but it's good to now this specific CVE issue might not affect you.

(There are others. Or there wouldn't haven been a need for 156 z-stream updates to 3.11.0 since [Oct  2018](https://github.com/openshift/origin/releases).

[2019-12-10 05:27] dharmit opened #2444 "Should "odo list" not fail when not logged into the OpenShift cluster?"
# User Story
As a user or (ide plugin) I would like to list all components in a given path and I should not be required to be connected to the cluster.

## Current behaviour
[code]

## Acceptance Criteria
- `odo list --path` should work without odo being logged or connected to the cluster
- if `odo list --path` command can't determine the correct state (Pushed, Not Pushed), because it is not conne

[2019-12-10 08:35] amitkrout commented on #2439
@prietyc123 Check https://github.com/buger/jsonparser for reference

[2019-12-10 11:37] kadel commented on #2444
The command should NOT fail. `odo list --path ~/src` intention is to find components, and cluster connection shouldn't be required.
But the current behavior is also not correct and can be misleading.

If we can't verify the state of the component for some reason, we should show `unknown` state.

[code]

[2019-12-10 11:39] kadel commented on #2439
/remove-kind bug
/unassign @prietyc123

[2019-12-10 12:10] kadel commented on #2437
/kind code-refactoring
/priority medium

[2019-12-10 15:03] kadel commented on #2438
Why do you think that this would be problem if link works correctly?

[2019-12-10 15:03] kadel commented on #2438
/triage needs-information

[2019-12-10 15:10] kadel commented on #2436
I would add to this is that the main point why we want to implement kclient is to use it as we start implementing devfile support.

I wouldn't start with moving functions from `occlient`. Devfile flow will be quite different from what we are doing right now with s2i. I would rather start with a clean slate, make it as you say, simpler and modularized and add functions only as we need them for devf

[2019-12-10 17:16] GeekArthur opened #2445 "odo push fails with "tar xf - -C /tmp/src --strip 1""
/kind bug

## What versions of software are you using?

**Operating System:**
MacOS

**Output of `odo version`:**
odo v1.0.1 (HEAD)

## How did you run odo exactly?
1. odo create nodejs nodejs
2. odo push

## Actual behavior
When I run `odo push`, it fails with the following errors:
[code]

## Expected behavior
`odo push` should have no errors and component should be built and pushed successfully

[2019-12-10 20:04] cdrage commented on #2301
https://github.com/openshift/odo/pull/2307 has been merged! Closing

[2019-12-10 20:04] #2301 closed

[2019-12-10 20:04] cdrage commented on #2217
https://github.com/openshift/odo/pull/2307 has been merged! Closing

[2019-12-10 20:04] #2217 closed

[2019-12-11 06:33] mik-dass commented on #2416
@nickboldt Do you mean the OC binary or the go-client? We don't use the OC binary in our code base. As for the go-client, we have plans to update it to a newer version in a upcoming PR.

[2019-12-11 12:16] girishramnani opened #2448 "Add documentation related to unit and integration testing"
/kind docs

## What mistake did you find / what is missing in the documentation?
Add documentation to explain how to
- write unit tests using the mockClient and mock file system.
- explaining sections in the integration tests and some helper functions that could help someone write integration tests quickly.
- testing conventions and practices.

## What is the relevance of it?
Makes it easy for new

[2019-12-11 12:17] girishramnani commented on #2448
@kanchwala-yusuf @amitkrout ^

[2019-12-11 13:10] kadel commented on #154
all done
/close

[2019-12-11 13:10] #154 closed

[2019-12-11 15:22] kadel commented on #2337
/kind feature
/priority medium
/area UX

[2019-12-11 15:27] kadel commented on #1957
/remove-kind bug
/kind feature
/area UX

[2019-12-11 15:35] kadel commented on #2207
That makes sense. But I'm not sure if this is what we want.
Is it really so confusing when port-forward command executes without and error, and then it starts throwing errors when something wants to communicate?
I can see situations where setting up port-forward beforehand can be useful,and it might be limiting to condition port-forward with the requirement that the application has to be running.

[2019-12-11 15:47] kadel commented on #2424
Not sure if I understand what you mean.

So if there is bug in init image and we need to release a new version you would like to just build the image, and then tell users to do `odo config set BootstrapperImage ... ` instead of downloading new odo binary?
How users will know when they need to do it? If someone configures a new image like this how we will make sure then when we release a new comple

[2019-12-11 21:47] rajivnathan commented on #2436
We can start real small with kclient, maybe just these 2 functions:
WaitAndGetPod
ExecCMDInContainer

Once we have the file created and the plumbing in place we can add to it as needed.

[2019-12-12 06:27] dharmit opened #2452 "Update description for `--all` flag in `odo list`"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `master`

## How did you run odo exactly?
[code]

## Actual behavior
I tried by setting different projects for the components and also tried by deleting the component from the cluster. However, I don't see any difference in the output of `odo list` command with `--all` flag.

## Expected behavior
T

[2019-12-12 06:30] dharmit commented on #2219
It's there as `namespace` in the `metadata`:
[code]

[2019-12-12 06:51] dharmit commented on #2207
A warning would be good enough but the debug session thus started is still useless, IIUC. User would have to start the component and then start the debug session for the debug session to be of any use.

More than the confusion, I think it's about usability. A debug session started for a component that's not running is of no practical use, no?

[2019-12-12 09:12] kadel commented on #2452
/kind question

Ugh, we have a horrible description for this flag :-(

But if you want to find out what it is doing, you can just check the source code ;-)
https://github.com/openshift/odo/blob/54d35558f1835af6e1cd4b278166bea0e2fb7654/pkg/odo/cli/component/list.go#L84

Based on the code it looks like it is supposed to list components from all applications.

[2019-12-12 09:14] kadel commented on #2452
/retitle Update description for `--all` flag in `odo list`

Right now the description is just `Lists all components`.
It should be something like this: `List all components in all applications in a current project`

[2019-12-12 10:08] #2365 closed

[2019-12-12 14:08] cdrage commented on #2424
Going to close this as @kadel 's points are clear, this discussion helped clarify a bunch of things!

[2019-12-12 14:08] #2424 closed

[2019-12-12 14:33] #2219 closed

[2019-12-12 14:47] cdrage commented on #2285
My proposed plan:

* First push to use `KUBECONFIG` / OpenShift currently set namespace
* Store the project it has been pushed to in `.odo/preference.yaml` (which seems like the only logical choice?). I investigated using CRD's (similar to Helm 3.0.0) but that requires cluster-admin privileges
* All future pushes will use `.odo/preference.yaml` namespace that's set (if it's there)

Does that seem

[2019-12-12 15:26] johnmcollier commented on #2436
@rajivnathan @kadel That sounds like a good approach. I'll get to work on it.

Here's what I'm thinking in terms of structure. Separate out kclient into subpackages for different resources (i.e. interacting with pods, services, etc):
[code]

[2019-12-12 16:26] cdrage opened #2455 "Change the default PVC size of 1Gi to 10Gi"
/kind enhancement

## Which functionality do you think we should update/improve?

It's 2019, even my phone comes with 32Gb already included ;)

I tried running: https://github.com/gothinkster/vue-realworld-example-app

and found that I encountered an error of running out of space within the Node.js application. I checked PVC and found that we only use `1Gi`!

https://github.com/openshift/odo/blob/

[2019-12-12 16:43] cdrage opened #2456 "Add support for yarn / Node.js"
See upstream issue: https://github.com/openshift/odo-init-image/issues/47 we should be implementing support for `yarn`.

Cross-opening this issue here for further referencing.

[2019-12-13 09:57] kadel commented on #2065
/kind feature

[2019-12-13 10:27] kadel commented on #2333
This looks like the images are not present in the openshfit  registry.

[2019-12-14 06:50] dgolovin opened #2459 "Autoselect local port for debug port forwarding"
/kind bug

## What versions of software are you using?

**Operating System:** Windows 10 Pro

**Output of `odo version`:** 1.0.1

## How did you run odo exactly?
Run `odo debug port-forward` for one component,
[code]

then cd to different context folder and run `odo debug port-forward` again

## Actual behavior

[code]

## Expected behavior

Two port forwarding works at the same time

## Any logs,

[2019-12-14 10:06] girishramnani commented on #2459
the issue here is that local port `5858` is already in use hence this error is showing.
you can use a different port by providing `--local-port` argument like this
[code]

[2019-12-16 05:24] amitkrout opened #2460 "odo push throws error of "watch channel was closed" in a disconnected cluster env"
/kind bug

## What versions of software are you using?

**Operating System:**
Supported
**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Actual behavior
push fails

## Expected behavior
should not report any push failure

## Any logs, error output, etc?

[2019-12-16 05:26] amitkrout commented on #2460
ping @kadel @mik-dass

[2019-12-16 05:26] amitkrout commented on #2460
/assign @mik-dass

[2019-12-16 05:28] amitkrout commented on #2460
/priority high

[2019-12-16 05:38] amitkrout commented on #2460
The same ruby component works fine with ```oc new-app ruby```
[code]

[2019-12-16 09:01] kadel commented on #2455
@cdrage do you have a suggestion on how the configuration should look like?

[2019-12-16 09:18] dharmit commented on #2452
My bad. I forget to wear the "developer" hat when I'm opening issues with "user" hat on. :smile:

[2019-12-16 09:48] amitkrout commented on #2460
Parent issue - #2189

[2019-12-16 09:53] amitkrout commented on #2460
Currently i facing difficult time to test it on ```java``` and ```nodejs``` component. But i believe the failure we facing here with ruby component will be common to all component.

[code]

[2019-12-16 10:05] girishramnani opened #2461 "Validation of cluster's capabilities to run operators and listing services"
[kind/Feature]

## Which functionality do you think we should add?
Checking the cluster version and validating the capabilities for running operators.
Checking if cluster has
- some minimum `OperatorSource`s present to be useful
- has the service binding operator installed
- check the version of openshift

Listing all the possible operators and services that a user can create is also part of the t

[2019-12-16 10:06] dharmit commented on #2438
Because there's a chance that the component might fail to start. In our (most) widely used multi-component example (https://github.com/openshift-evangelists/Wild-West-Backend & https://github.com/openshift-evangelists/Wild-West-Frontend), the backend component fails to come up sometimes. This, in turn, causes the frontend component to not function as expected.

While replying this, I was wondering

[2019-12-16 10:21] dharmit commented on #2113
@kadel TBH, I missed that the `odo app delete` explicitly warns the user that the service will be removed. Besides that, I agree with your point that at the moment services are tightly bound with the application in that, a service can't be created without `project` and `app` flags.

In this scenario, it makes sense to me to delete the service when application is deleted. I guess we could trying se

[2019-12-16 10:55] kadel commented on #2459
debug is still in tech-preview this is actually intentional design.
As @girishramnani mentioned you have to specify local port manually if you want to debug multiple components at the same time.

/remove-kind bug
/kind feature
/retitle Autoselect local port for debug port forwarding
/priority medium

[2019-12-16 10:57] mik-dass commented on #2460
The problem occurs here https://github.com/openshift/odo/blob/234c8608f5917df41fcfbd04974561f766b59b0b/pkg/occlient/occlient.go#L1780-L1785

It's not receiving any event and thus after sometimes an error occurs and the channel is closed

[2019-12-16 11:08] kadel commented on #2438
`odo link` has two flags that you can use if you want to wait for component to be deployed.
[code]

yes, as it is Pushed. It is supposed to be an indicator if the source code was uploaded to the cluster or not. not if the component is running or not.
Not relevant to this, but it is a good observation. We might want to create more status fields or have more states to reflect other possible stats in

[2019-12-16 11:08] kadel commented on #156
/close
all implemented

[2019-12-16 11:08] #156 closed

[2019-12-16 11:10] kadel commented on #157
all implemented
/close

[2019-12-16 11:10] #157 closed

[2019-12-16 11:12] #161 closed

[2019-12-16 11:13] kadel commented on #168
odo now works in the context of the current directory

/close

[2019-12-16 11:13] #168 closed

[2019-12-16 11:13] kadel commented on #170
mount, unmount implemented
/close

[2019-12-16 11:13] #170 closed

[2019-12-16 11:14] kadel commented on #171
only missing piece from this is linking with parameters
that will be addressed later as a separate issue
/close

[2019-12-16 11:15] kadel commented on #172
secure will be addressed later in a separte issue based on the need
/close

[2019-12-16 11:15] #172 closed

[2019-12-16 11:15] #175 closed

[2019-12-16 11:16] #171 closed

[2019-12-16 11:16] #334 closed

[2019-12-16 11:17] kadel commented on #483
next odo development is managed using github milestones  https://github.com/openshift/odo/milestones

/close

[2019-12-16 11:17] #483 closed

[2019-12-16 11:17] #489 closed

[2019-12-16 11:18] kadel commented on #494
/kind feature

[2019-12-16 11:19] kadel commented on #500
documented at https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/creating-a-single-component-application-with-odo.html#adding-a-custom-builder-to-specify-a-build-image_creating-a-single-component-application-with-odo

/close

[2019-12-16 11:19] #500 closed

[2019-12-16 11:20] kadel commented on #598
/kind testing

[2019-12-16 11:21] kadel commented on #655
/close
we have basic json output using `-o json`
issues related to this topic are labeled https://github.com/openshift/odo/labels/area%2Fjson-output

[2019-12-16 11:21] #655 closed

[2019-12-16 11:22] kadel commented on #659
/kind epic

[2019-12-16 11:22] #660 closed

[2019-12-16 11:22] kadel commented on #691
stale discussion

[2019-12-16 11:22] #691 closed

[2019-12-16 11:23] kadel commented on #692
more in `odo catalog list/search` revamp #926
/close

[2019-12-16 11:23] #692 closed

[2019-12-16 11:24] kadel commented on #1033
/close

[2019-12-16 11:24] #1033 closed

[2019-12-16 11:24] kadel commented on #2113
+1

[2019-12-16 11:26] kadel commented on #1186
url is shown when url is created
/close

[2019-12-16 11:26] #1186 closed

[2019-12-16 11:26] kadel commented on #1183
tests were refactored
/close

[2019-12-16 11:26] #1183 closed

[2019-12-16 11:27] kadel commented on #1199
/close
see  #2281

[2019-12-16 11:27] #1199 closed

[2019-12-16 11:29] kadel commented on #1187
done
/close

[2019-12-16 11:29] #1187 closed

[2019-12-16 11:30] kadel commented on #2455
not sure about changing the default - see https://github.com/openshift/odo/issues/755

[2019-12-16 11:32] kadel commented on #1375
fixed
/close

[2019-12-16 11:32] #1375 closed

[2019-12-16 11:32] kadel commented on #1128
not a priority
/close

[2019-12-16 11:32] #1128 closed

[2019-12-16 11:32] #1090 closed

[2019-12-16 11:33] kadel commented on #1011
Support for .odoignore file #1036
/close

[2019-12-16 11:33] #1011 closed

[2019-12-16 11:33] kadel commented on #994
not relevant with new workflow implementation
/close

[2019-12-16 11:33] #994 closed

[2019-12-16 11:34] kadel commented on #989
not that big problem
/close

[2019-12-16 11:34] #989 closed

[2019-12-16 11:34] kadel commented on #978
/close

[2019-12-16 11:34] #978 closed

[2019-12-16 11:34] kadel commented on #1178
/close

[2019-12-16 11:34] #1178 closed

[2019-12-16 11:35] kadel commented on #1432
/close

[2019-12-16 11:35] #1432 closed

[2019-12-16 11:35] kadel commented on #1415
/close

[2019-12-16 11:35] #1415 closed

[2019-12-16 11:36] kadel commented on #1631
/close

[2019-12-16 11:36] #1631 closed

[2019-12-16 11:36] kadel commented on #816
/close

[2019-12-16 11:36] #816 closed

[2019-12-16 11:36] kadel commented on #1225
/close

[2019-12-16 11:36] #1225 closed

[2019-12-16 13:10] girishramnani opened #2462 "Instantiating operators using CRDs"
[kind/Feature]

## Which functionality do you think we should add?
Once we have validated a cluster, odo should have the functionality to instantiate an operator backed service using the CRD provided by it.

## Why is this needed?
To allow openshift/kubernetes users to use operators.

[2019-12-16 13:14] mik-dass commented on #2460
OC fails too
[code]

[2019-12-16 13:14] girishramnani opened #2463 "Augment odo link to allow linking operator and a component"
[kind/Feature]

## Which functionality do you think we should add?
Once we have a running operator, odo should have the functionality to link that operator backed service to a component.
~We are going achieve that using Service Binding Operator https://github.com/redhat-developer/service-binding-operator.~
After a discussion with the team building service binding operator, we realised that this ca

[2019-12-16 13:19] girishramnani opened #2464 "provide admin commands to install operators and one-off setup"
[kind/Feature]

## Which functionality do you think we should add?
To start **using** `Operators` on openshift, an administrator needs to install operators first. We can provide the feature to interactively install these operators easily ( only possible for an admin user ).
Also install necessary operator like Service Binding Operator as part of a one-off `setup` command.

[2019-12-16 13:25] kadel commented on #2321
https://github.com/openshift/openshift-docs/pull/18478

[2019-12-16 13:25] girishramnani commented on #2161
Broken this issue down into following issues in order -
- https://github.com/openshift/odo/issues/2461
- https://github.com/openshift/odo/issues/2462
- https://github.com/openshift/odo/issues/2463
- https://github.com/openshift/odo/issues/2464

[2019-12-16 13:27] girishramnani commented on #2161
I feel there can be 2-3 more issues related to
-  parsing the validation spec to help the user
- use the metadata provided in `ClusterServiceVersion`
- confirming ansible and helm based operators also work

[2019-12-16 13:32] girishramnani commented on #2462
The initial implementation will possibly be using the `alm-examples` array present in the `ClusterServiceVersion` of an operator.
An example array from keyclock operator looks like this -
[code]

Issues with the above approach are
- `alm-examples` is an optional piece of metadata and hence developer of the operator might keep it blank
- Multiple examples are present in the array so we cannot deter

[2019-12-16 13:59] kadel opened #2465 "Issue triage"
- make sure that all issues have proper labels
  - kind
  - area
- close outdated and invalid
- merge duplicates

/assign @girishramnani

[2019-12-16 14:07] girishramnani commented on #2455
we can make this PVC Size configurable? maybe a preference? suggestion on param name `ComponentVolumeSize`

[2019-12-16 14:08] kadel commented on #2460
/triage needs-information

[2019-12-16 14:13] kadel commented on #2452
/triage needs-information

[2019-12-16 14:58] #2350 closed

[2019-12-16 16:31] cdrage commented on #2371
I'm unable to replicate this...

[code]

[2019-12-16 17:27] cdrage commented on #2455
@kadel Yup. See initial description, I suggest we: `Allow the ability to set the default PVC similar to how we can set the minimum CPU and memory size.`

[2019-12-17 06:48] girishramnani commented on #2455
Then I would suggest to keep the PVC size to 1Gi and allow it to change. 10Gi is too big.

[2019-12-17 09:53] #2172 closed

[2019-12-17 10:25] kadel commented on #2464
/priority low
/kind feature

[2019-12-17 12:01] girishramnani commented on #2462
we can also consider using the `validation.openAPIV3Schema` which is part of the CRD definition. But as far as I could tell this field is also not mandatory for the developer of the CRD to provide.

Someone has already tried to do this using a web-app
https://blog.openshift.com/openshift-4-2-declarative-dynamic-ui-for-your-operator

[2019-12-17 13:15] sspeiche opened #2467 "Implement devfile support"
Implement devfile support per agreed upon implementation plan https://github.com/openshift/odo/issues/2290

This is needed to support new model for inner loop (hot redeploy) touch points and further work on supporting specific runtimes.

[2019-12-17 13:16] girishramnani commented on #2395
closing this issue

[2019-12-17 13:25] sspeiche opened #2468 "Support raw kubernetes in addition to openshift resource types"
As a Developer, I'd like to use the same basic model of `odo` to create my application and components but for Kubernetes base distributions without the need for specific OpenShift capabilities such as Builds, ImageStreams, DeploymentConfigs, Routes and so on.

Additional consideration as part of this Epic would be to determine:

1.  Should the Kubernetes and OpenShift use cases be satisfied with 1

[2019-12-17 14:37] amitkrout commented on #2460
@mik-dass use bellow commands

[code]
Even after these steps you won't get the pod up and running because. I am looking into it

[2019-12-17 14:57] kadel commented on #2461
Is ServiceBinging operator going to be a hard requirement?

It should not depend on OpenShift version.  The important part is the presence of the OperatorHub.

I haven't seen mentioned listing of available operators in any other issues, so I assume that it should be part of this one.

 - When the cluster has both, ServiceCatalog and OperatorHub the listing should contain services that can be creat

[2019-12-17 16:34] kadel commented on #2459
/area debug

[2019-12-17 16:58] kadel commented on #2395
why? This is something that we will want to do.
/reopen

[2019-12-17 19:45] rajivnathan opened #2470 "Implement devfile push"
Implement devfile push in accordance with the implementation plan from #2290

- [x] Devfile parsing (https://github.com/openshift/odo/issues/2477)
- [x] Create kclient (https://github.com/openshift/odo/issues/2436)
- [x] Implement Devfile Deployment support (https://github.com/openshift/odo/issues/2471)
- [x] Component sync support (https://github.com/openshift/odo/issues/2473)
- [x] Execute comma

[2019-12-17 19:49] rajivnathan opened #2471 "Implement Devfile Deployment support"
Related to https://github.com/openshift/odo/issues/2470

## Description
The purpose of this issue is to develop functionality that accepts a Devfile and creates a running representation of its components that can be used for development of a project. This is the first requirement for the devfile push command (https://github.com/openshift/odo/issues/2470)

## High level design
- Use the Devfile Par

[2019-12-17 20:03] rajivnathan opened #2472 "Implement Devfile volume support"
Devfile components allow specifying volumes. eg. See https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-web-spring/devfile.yaml

- [ ] Implement functions to dynamically add volumes and mounts to fat pod's spec so that volumes can be mounted to containers that correspond to components with volumes.
- [ ] Create PVC resource if applicable (emptyDir or PVC)

See comment https:

[2019-12-17 20:09] rajivnathan opened #2473 "Devfile components sync support"
Related to https://github.com/openshift/odo/issues/2470

- [ ] Implement source syncing to containers within a fat pod.
- [ ] Ignore files in .gitignore
- [ ] Sync delta changes instead of entire source

[2019-12-17 23:57] GrooveCS opened #2474 "Install odo completion fails on MacOS using bash"
/kind bug

## What versions of the software are you using?

**Operating System:**
- System Info
  - System Version:	macOS 10.14.6 (18G2022)
  - Kernel Version:	Darwin 18.7.0
- Hardware
  - Mac model id: MacBookPro15,1
  - Memory: 32 GB
  - Hard drive capacity: 500 GB
  - Hard drive used: 102 GB

**Output of `odo version`:**
- OpenShift version: 4.2.8 (embedded in binary)
- crc version: 1.2.0+c2e3c

[2019-12-18 05:51] mohammedzee1000 commented on #2470
/kind feature

[2019-12-18 05:53] mohammedzee1000 commented on #2470
For reference, please use feature wh/e you mean enhancement as well

[2019-12-18 09:34] amitkrout commented on #2189
@pmacko1 @kadel
Running odo usecase in a disconnected openshift cluster environment comprises two steps. First push the init image to the cluster private registry or default internal registry and overwrite the init image path using env variable ODO_BOOTSTRAPPER_IMAGE for odo cli use.

//TODO
Secondly create a component and push.

How to upload the init image and exporting it through env ODO_BOOTST

[2019-12-18 09:37] dharmit commented on #2462
Thinking out loud here.

I think what we need here is `InstallPlan` (check its definition in the table on [OLM arch page](https://github.com/operator-framework/operator-lifecycle-manager/blob/2feb5fc/doc/design/architecture.md#architecture)) for the operators that are installed in the cluster:
[code]

For example, I have two Operators installed in my cluster:
[code]

But I have `InstallPlan` only

[2019-12-18 09:56] dharmit commented on #2464
AFAIK, our users are mostly  going to have CRC on their laptops or a OCP 4.x cluster managed by the admins. So, should we just mention this in documentation instead of having commands in odo to install operators? Do we want to have installation of Operators as a part of odo tool? Or do we want to focus on spinning up service from installed operators? WDYT @kadel @girishramnani ?

[2019-12-18 11:02] #2355 closed

[2019-12-18 11:10] amitkrout commented on #2371
@cdrage Can you please check with java component.

[2019-12-18 12:35] kadel opened #2476 "java component doesn't get rebuild after code change"
[code]

In the verbose output of `odo push  -v 4` you can see the following lines:
[code]

It looks like there is jar file  form the previous build in `/tmp/src` when s2i assemble script detects that . it just copies it to `/deployments` and then this executed instead of building new one.

/kind bug
/area component
/area s2i-java
/priority high

[2019-12-18 12:37] kadel commented on #2371
I tried this with java, and it was working ok, component is running, it just takes a moment for application to start.

But I encountered another issue while testing this https://github.com/openshift/odo/issues/2476

@amitkrout If you can reproduce this issue (If env var is set after first component push then route URL doesn't work after editing the source) feel free to re-open this.

/close

[2019-12-18 12:37] #2371 closed

[2019-12-18 12:46] kadel commented on #2474
/area MacOS

[2019-12-18 12:50] kadel opened #2477 "Implement devfile parser"
The goal is to have a package to handle devfile deserialization

 - we need to create parser architecture that will handle parsing multiple devfile spec versions (currently there is 1.0.0 and 1.0.1-beta
- the design should ideally avoid logic duplication. It should be possible to share common code between devfile spec versions as the expectation is that the new devfile versions will be mostly just

[2019-12-18 12:51] kadel commented on #2470
/kind epic
/area devfile

[2019-12-18 12:53] kadel commented on #2467
The first stage will be just consuming devfiles (`odo push`).
A detailed description will be in https://github.com/openshift/odo/issues/2470

[2019-12-18 12:56] kadel commented on #2472
/area devfile
/area storage

[2019-12-18 12:56] kadel commented on #2471
/area devfile

[2019-12-18 12:58] kadel commented on #2470
I would consider this for later stages.  odo and device can be useful and cover most of the use cases without this.

[2019-12-18 13:05] kadel commented on #2460
/close

The issue is with cluster setup, not  in odo.

[2019-12-18 13:05] #2460 closed

[2019-12-18 13:05] girishramnani commented on #2461
I mean if you just want to start the operators and dont wanna link it with components then its not required

[2019-12-18 13:06] kadel commented on #2460
/triage unresolved
/remove-triage needs-information

[2019-12-18 13:16] kadel commented on #2284
/retitle flaky project list in tests
/kind testing

[2019-12-18 13:24] kadel opened #2478 "Validating nodejs component on disconnected cluster"
validate that nodejs component can be created on a disconnected cluster
[code]

debug and log all issues
explaining what are blockers, what causes errors

[2019-12-18 13:24] kadel commented on #2189
- [x] figure out how to push odo-init image into the registry inside the disconnected environment
 - [ ] validate that  nodejs component  can be created https://github.com/openshift/odo/issues/2478
 - [ ] validate that java component can be created

[2019-12-18 13:25] kadel commented on #2478
/area component
/assign @amitkrout

[2019-12-18 13:25] girishramnani opened #2479 "status command for operators"
[kind/Feature]

## Which functionality do you think we should add?
Once a user has instantiated the operator, they can check the status of the operator using `odo service status`. This command was not present in the service catalog services.
`odo service status` becomes important for operators because there can be multiple CRs created and the user needs a way to know their status.

[2019-12-18 13:38] girishramnani opened #2480 "odo service describe and odo catalog describe service for operators + services"
[kind/Feature]

## Which functionality do you think we should add?
A describe command in the form of `odo catalog describe service` can be added which explains the CRs present in the specific operator.

We need to also address the fact that an operator can have multiple CRs (e.g. `KeyCloak` and `KeyCloakUser` provided by `keycloak-operator` ) and hence the `describe` command should show all the CR

[2019-12-18 13:43] kadel commented on #2477
/area devfile

[2019-12-18 13:55] girishramnani opened #2481 "enhance the odo service delete command to allow deletion of operators"
[kind/Feature]

## Which functionality do you think we should add?
Currently the `odo service delete` command only supports deleting services. We need to allow users to delete operators with the same command.

[2019-12-18 14:25] kadel opened #2483 "If flags are used other than default then verify the local config along with the changes done in dc"
- verify that the flags specified in `odo create` command are reflected in DC
-  example `odo create --memory 2G --cpu 2` than the DeploymentConfig should have the corresponding resource limits

the following flags should be validated:
-       --cpu string          Amount of cpu to be allocated to the component. ex. 100m or 0.1 (sets min-cpu and max-cpu to this value)
-      --env stringSlice

[2019-12-18 14:26] kadel commented on #2483
/area test

[2019-12-18 20:05] girishramnani commented on #2395
As mentioned by @tmds hence we cannot resolve this issue.

[2019-12-18 20:12] girishramnani commented on #2370
@tmds could you provide a use case where this could be useful?

[2019-12-18 20:13] girishramnani commented on #2361
This hasn't been reproducible recently hence closing.

[2019-12-18 20:16] girishramnani commented on #2352
is this something we are still interested in @kadel @gorkem ?

[2019-12-18 20:30] tmds commented on #2370
@girishramnani I put the use-case under 'Why is this needed?': an app can support multiple db backends (postgresql, mariadb, ...). This enabled figuring out which is provided. Without, the user must do additional envars to pass the type himself.

[2019-12-18 20:32] girishramnani commented on #2321
@boczkowska is this issue in review or need some more work?

[2019-12-18 20:33] girishramnani commented on #2320
@boczkowska @pmacko1 could you please add an update on this issue?

[2019-12-18 21:05] girishramnani commented on #2318
After going through the glog source code it seems `glog` is logging out to stderr stream https://github.com/golang/glog/blob/master/glog.go#L685-L687
and the `CmdShouldPass` only gets the `StdOut` contents as it can be observed here
https://github.com/openshift/odo/blob/8b253d0c8a9e18623d226f3a6cd67a5b46a159f3/tests/helper/helper_run.go#L34.

So to resolve this issue, I can add an extra function (

[2019-12-18 21:07] rajivnathan commented on #2436
@girishramnani @kadel Should this one have the devfile label as well? Do we need a kubernetes label as well or is just devfile label good enough? Just want to make sure I track the right issues.

[2019-12-18 21:09] girishramnani commented on #2318
or we can go through the `args` given to the `CmdShouldPass` and check if any of the argument matches `-v\d` or `-v \d` regex, it any argument matches then we append the `Err.Contents()` to the out as well.

[2019-12-18 21:09] rajivnathan commented on #2473
/area devfile

[2019-12-18 21:10] rajivnathan commented on #2467
/area devfile

[2019-12-18 21:14] girishramnani commented on #2303
@dharmit should we close this issue?

[2019-12-18 21:37] girishramnani commented on #2236
works

[2019-12-18 21:41] girishramnani commented on #2215
this looks duplicate or subset of https://github.com/openshift/odo/issues/2337

[2019-12-18 21:43] girishramnani commented on #2337
A special mention of `DebugPort` config parameter which requires a force push and should be tested.

[2019-12-18 21:44] girishramnani commented on #2215
Added a special mention for `DebugPort` in the #2337 issue, so we verify it specifically along with other parameters.
Closing this issue

[2019-12-18 21:44] #2215 closed

[2019-12-18 21:47] hanvitha commented on #2474
I have MacOS 10.14.6 (18G1012)
Install odo completed successfully

Install completion for odo? y
Installing...
Done!

[2019-12-18 21:51] girishramnani commented on #2202
@dharmit `odo storage list` doesn't have the `--app` and `--project` flags.
And for me its giving me an error when I run `odo storage list --project asdf`

[code]

[2019-12-18 21:53] girishramnani commented on #2194
currently I see no one is actively working on this issue and its not part of any sprint as well. so unassigning
/unassign amitkrout
/unassign mohammedzee1000

[2019-12-18 21:57] girishramnani commented on #2181
is this be relevant anymore? we use a different release mechanism post GA. We could consider removing all release related scripts also?

[2019-12-18 21:59] girishramnani commented on #2180
seems like the linked PR https://github.com/openshift/openshift-docs/pull/18280 has been merged. hence closing this issue

[2019-12-18 21:59] #2180 closed

[2019-12-18 22:02] girishramnani commented on #2176
+1, looks like a duplicate. Closing this issue as #1845 has more information.

[2019-12-18 22:02] #2176 closed

[2019-12-18 22:10] girishramnani commented on #2165
after a discussion on https://github.com/openshift/odo/issues/2172. we decided to show a warning and it seems that the PR https://github.com/openshift/odo/pull/2454 shows warning when someone changes the project as well.
Hence closing this issue

[2019-12-18 22:10] #2165 closed

[2019-12-18 22:16] girishramnani commented on #2154
I think this is occurring because of conflicting `--path` and `--app` flags. `--path` will try to list all components present in the path irrespective of the app and so `--app` flag is ignored.

We can either
- make `--app` and `--path` flag mutually exclusive
- use `--app` as a filtering criteria and list all the components present in the `--path` which are part of the `--app`.

[2019-12-18 22:24] girishramnani commented on #2115
@amitkrout do you think we should close this issue?

[2019-12-18 22:28] girishramnani commented on #2465
reached #2095 ( going newest to oldest )

[2019-12-18 22:30] girishramnani commented on #2095
as mentioned by @dharmit this issues looks like a duplicate of #2051. hence closing this issue.

[2019-12-18 22:30] #2095 closed

[2019-12-18 22:32] GrooveCS commented on #2474
@hanvitha,

I understand that it is working for you, yet it still not working for me. I removed ~/.crc and going to download the new CRC 4.2.10 and see if that works for me.

[2019-12-19 06:06] dharmit commented on #2154
I think second option makes more sense. We should use `--app` as a filtering mechanism.

[2019-12-19 06:08] dharmit commented on #2181
:+1:

[2019-12-19 06:08] #2181 closed

[2019-12-19 06:10] dharmit commented on #2202
The fact that it throws error when you provide `--project` or `--app` flags and it didn't throw any such  errors when I opened the issue, indicates that some PR between our respective attempts has fixed this issue. :laughing:

Closing the issue.

[2019-12-19 06:10] #2202 closed

[2019-12-19 06:13] dharmit commented on #2303
I don't think so. Not before discussing whether the points mentioned here are addressed or put in practice. These points were noted during a cabal call and hence are inputs from entire team. We still discuss points related to test in our cabal calls. So, I'd request we talk about these in a cabal after the holidays.

[2019-12-19 09:44] girishramnani commented on #2461
- we can move the check for service binding operator check to https://github.com/openshift/odo/issues/2463 issue
- as mentioned in the issue description

hence we will have a `Provisioner` or `Provider` column which provides the source of the service in the `odo catalog list services`

[2019-12-19 10:59] kadel commented on #2289
Not really :-( Documentation is a little bit misleading there :-(

The templates (component types) that odo recommended to use are just `nodejs` and `java` that are based on the images listed at `https://docs.openshift.com/container-platform/4.2/cli_reference/openshift_developer_cli/understanding-odo.html#odo-supported-languages-and-images`
You can verify that on your cluster using `odo catalog li

[2019-12-19 11:01] kadel commented on #2289
I'm closing this issue, as currently there is not anything that we can do on odo side.
/close

@GeekArthur , if you have any additional questions we can continue the discussion here

[2019-12-19 11:01] #2289 closed

[2019-12-19 11:45] girishramnani commented on #2409
The only thing left on this issue is to release a new `odo-init-image` version and update the reference in odo

[2019-12-19 12:18] dharmit commented on #2465
I'll pick up from oldest in that case.

[2019-12-19 12:48] girishramnani commented on #2461
so some of the points have become invalid like checking the openshift version and checking if the service binding operator ( can be done lazily )

and hence currently the scope and AC of the issue about checking if service catalog is present, operator csvs are present, and then list them when odo catalog list service is executed

[2019-12-19 13:05] girishramnani commented on #2462
we need to also consider that an operator can have multiple CRs which can be created. like the Prometheus Operator has `Prometheus`, `ServiceMonitor`, `PodMonitor` etc. so we need detect these and allow users to do something like this
`odo service create ServiceMonitor`

- for this to work we need to detect from the CR definition that `ServiceMonitor` requires `Prometheus` and we should show that

[2019-12-20 10:37] kadel commented on #2474
It shouldn't be related to CRC.

The "Install failed! Did not find any shells to install"  error is coming from https://github.com/posener/complete/blob/05b68ffc813dd10c420993cb1cf927b346c057b8/cmd/install/install.go#L24 inside `github.com/posener/complete`  library that we use for handling and generating autocompletion for shells.

@GrooveCS What shell do you use? You can run the following comman

[2019-12-20 10:44] kadel commented on #1109
As mentioned above, the library (`github.com/posener/complete/`) that odo uses for autocompletion supports only bash,zsh, and fish.
It will be a lot of work to rewrite it to use something else.
There would have to be a big demand for powershell completion to start considering it.
I'm not even sure if autocompletion is possible in `cmd.exe`

/close
/triage unresolved

[2019-12-20 10:44] #1109 closed

[2019-12-20 10:46] mohammedzee1000 opened #2485 "No indication in odo config view about configuration pushed vs unpushed"
`odo config view` does not let you differentiate which configurations were pushed to the cluster, and which was not.

/kind bug

## What versions of software are you using?
master

**Operating System:**
Fedora 30

**Output of `odo version`:**
master
## How did you run odo exactly?
[code]

## Expected behavior
There should be a way to tell if a configuration was pushed or not

## Any logs, error ou

[2019-12-20 14:20] kadel commented on #2479
Service status is already displayed in `odo service list` for ServiceCatalog based services.
Do we really need an extra command for this? Couldn't it be included in the listing as with ServiceCatalog Services? If we decide to implement `odo service status` we need to implement it also for ServiceCatalog services.