[2019-04-17 14:13] #1576 closed

[2019-04-17 14:21] kadel commented on #1623
It is **NOT** related to the OpenShift cluster version.
It **IS** related to whateve `anyuid` security context`.

### Fails if OpenShift user is allowed to run containers in `anyuid` security context.

Java S2I image uses [`jboss`](https://github.com/jboss-openshift/cct_module/blob/master/jboss/container/user/configure.sh#L8) as a user inside the container.

When container is allowed to run in `an

[2019-04-17 15:27] rctrh commented on #1611
@amitkrout - While upstream using minishift did work around the issue for me.  The question is why didn't it work with CDK?   The minishift version difference is 1.31 vs. 1.33.  It would be good if someone else could try with CDK and see whether this was something isolated to my environment or not.

[2019-04-17 15:30] rctrh commented on #1611
Note I originally labeled this a documentation issue which is probably incorrect unless there is a known mininum version of minishift that needs to be documented for odo to work.

[2019-04-18 07:02] amitkrout commented on #1628
Reproducible on TravisCI too - https://travis-ci.org/openshift/odo/jobs/521316421 via pr #1632.

[2019-04-18 08:31] kadel commented on #1623
Using latest OpenShift ocp build from `4.0.0-0.ci-2019-04-18-041816`  it looks like that `anyuid` is disabled by default and everything works

[2019-04-18 11:24] kadel commented on #1537
#1526 merged

[2019-04-18 11:24] #1537 closed

[2019-04-18 11:53] kadel commented on #1549
/assign @drichtarik

[2019-04-18 11:57] kadel commented on #1549
/assign @drichtarik

[2019-04-18 13:22] kadel commented on #1429
Hi @apupier it is our Sprint 165.
Watch on windows is fixed (PR #1479 was supposed to fix this), the next release should have fix in it.

Ignore is not fixed yet, it won't get into the next release but it should be in one after that (I hope)

[2019-04-18 14:54] kadel commented on #1611
Odo doesn't control the s2i builder images, those come from OpenShift cluster, sadly different flavors of OpenShift can have a different set of build in images :-(

This is something that we will have to address at some point.

[2019-04-18 15:40] kadel opened #1633 "prevent unnecessary deployment triggers"
Even if config has not been changed new deployment is triggered because odo changes the order of env variables in DC definition.

<img width="981" alt="Screenshot 2019-04-18 at 17 39 06" src="https://user-images.githubusercontent.com/57206/56373365-0fbc5180-6201-11e9-90ec-b0aa21435fce.png">

[2019-04-22 16:17] jorgemoralespou commented on #1633
This should be easy if instead of injecting ENVs we create a configMap and we inject all envs from the config map. This configMap should be done for everything odo internal (like the variables shown here).

Still, we should allow a user to inject configuration as an ENV and we still need to prevent re-ordering of the environment variables, although at least for the common scenario of bare `odo` th

[2019-04-23 06:29] kadel commented on #1488
I also found this https://github.com/openshift/odo/issues/1633 that is related to this.

[2019-04-23 06:31] kadel commented on #1633
yep, we need to figure out why odo generated env vars each time in a different order, this will resolve a lot of our issues.

[2019-04-23 06:31] kadel commented on #1488
@mik-dass It would be better to look to https://github.com/openshift/odo/issues/1633 before we jump into this issue. https://github.com/openshift/odo/issues/1633 Might solve a lot of our problems

[2019-04-23 07:01] kadel commented on #1628
attempting to fix this issue in #1634

[2019-04-23 11:06] mohammedzee1000 opened #1638 "OpenShift CI : Flaky openshift clusters with login failures"
[kind/bug]

## What versions of software are you using?
OpenShift CI

## How did you run odo exactly?
Run tests on OpenShift CI

## Actual behavior
Randomly fails with unauthorized at various points in test run, even after successful login

## Expected behavior
CI Should not be failing on login especially after a successful login

## Any logs, error output, etc?
[code]

Note Logs above representat

[2019-04-23 11:08] kadel commented on #1638
/priority high

[2019-04-23 11:10] mohammedzee1000 commented on #1638
Example : https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_odo/1636/pull-ci-openshift-odo-master-e2e-core/637

[2019-04-23 12:37] kadel commented on #1565
@cdrage we need to change the scripts. We can't mantain docs in both formats

[2019-04-23 12:37] kadel commented on #1565
/priority high

[2019-04-23 13:05] mohammedzee1000 commented on #1638
Conversation with auth team https://coreos.slack.com/archives/CEKNRGF25/p1556020997133000
Most likely cause https://bugzilla.redhat.com/show_bug.cgi?id=1694878

[2019-04-23 13:50] cdrage commented on #1628
https://github.com/openshift/odo/issues/1633 is also related to this issue (two issues in one).

[2019-04-23 17:11] cdrage commented on #1565
@kadel I'll push the changes today to use .adoc instead.

[2019-04-23 19:02] amitkrout opened #1641 "odo app delete app-name reports false positive"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`:
[code]
[code]
[code]

## How did you run odo exactly?
Step 1:
[code]
Step 2:
[code]
Step 3:
[code]
Step 4:
[code]
Step 5:
[code]

## Actual behavior
app delete gives false positive

## Expected behavior
Should throw error like "App does not exists"

## Any logs, error output, e

[2019-04-23 19:21] amitkrout opened #1642 "odo app list shows less information"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`:
[code]
[code]
[code]

## How did you run odo exactly?
[code]

## Actual behavior
[code]
[code]

## Expected behavior
[code]
0 for deployed
1 for not deployed

## Any logs, error output, etc?

[2019-04-23 19:41] jorgemoralespou opened #1643 "odo login does not work properly when connection insecure"
When logging to a cluster with self signed certificates, the message that asks you to bypass certificate check is not shown.

odo version: odo v1.0.0-beta1

[code]

Hangs there. If you enter anything, it tells you to:

[code]

If you enter `yes`, then you're prompted for the username.

If `--insecure-tls-skip-verify`is provided, then everything works fine:

[code]

This is the correct output when

[2019-04-23 20:12] jorgemoralespou commented on #1643
As part of the fix for this one, we should also fix the message being displayed, as it says:

[code]

And it should say:

[code]

Or even not print anything else after the Login successful, or just print the current project, and a hint in case you want to change project:

[code]

[2019-04-24 08:42] amitkrout commented on #1642
@kadel ping

[2019-04-24 08:43] amitkrout commented on #1641
@kadel This seems critical to me and good to have fix before GA

[2019-04-24 10:14] kadel commented on #1643
/priority high
/kind bug

[2019-04-24 12:17] girishramnani commented on #1630
/assign girishramnani

[2019-04-24 12:51] mik-dass commented on #1633
My findings till now:
1. As @kadel suggested, Openshift is smart enough to detect no changes in the DC. Thus if config is not changed, update does nor trigger new deployment.

But three things always change regardless of a new deployment or no new deployment.
Status.observedGeneration, metaData.generation and metaData.resourceVersion.
The generation numbers always increase by two.

2. If there is

[2019-04-24 12:52] kadel commented on #1642
Applications don't have type, or status.

Application is just a collection of different components.

`odo app list` command list shows all applications in the given project.

[2019-04-24 12:54] kadel commented on #1633
what other fields?

[2019-04-24 12:57] kadel commented on #1641
/kind bug
/priority medium

[2019-04-24 12:57] mik-dass commented on #1633
Depends on what was changed in the config. If max memory is changed in config, then fields related to that will be changed in the spec etc

[2019-04-24 13:01] kadel commented on #1633
anything else in the status is not changed?

How does `oc rollout status` works, does it face the same problems?

[2019-04-24 13:06] mik-dass commented on #1633
In case of no config changed, no.

My findings were based on `oc get dc <dc-name>`. Let me try out the rollout command and share the findings

[2019-04-24 13:10] kadel commented on #1631
/kind testing
/priority medium

[2019-04-24 13:13] kadel commented on #1621
closing in favor of https://github.com/openshift/odo/issues/1638

/close

[2019-04-24 13:13] #1621 closed

[2019-04-24 16:09] kadel opened #1646 "Running odo commands outside of the component directory"
Improve commands so they can be executed outside of the component context or they provide more information on how to use them.

**This applies to all commands:**
If the command is run "outside the component" and no `--project` flag is set, use project that is set in `KUBECONFIG`. That means that `--project` flag will be optional even if the command is run outside component context.

#### `odo app

[2019-04-24 16:17] kadel opened #1647 "remove `odo component get` command"
It serves no purpose now.
It was used to get the currently active component.

If someone wants to get info about the component they can use `odo component describe`

[2019-04-24 16:44] kadel commented on #1522
This issue is resolved now.
Problem was that tests were creating multiple components in the same directory. Component configs that started to overlap

/close

[2019-04-24 16:44] #1522 closed

[2019-04-24 16:47] kadel commented on #1472
done.
you can find binaries in unit test job in artifacts folder

/close

[2019-04-24 16:47] #1472 closed

[2019-04-24 16:50] kadel commented on #1411
@mohammedzee1000 Do we have any idea how would a less hacky solution look like?

[2019-04-24 16:52] kadel commented on #1393
starting [v1.0.0-beta1](https://github.com/kadel/homebrew-odo/pull/35) homebrew Formula is cloning git repository instead of downloading tarbar form github.

This resolves this issue, and also it should fix checksum mismatch that we were facing from time to time.

/close

[2019-04-24 16:52] #1393 closed

[2019-04-24 20:26] jankleinert opened #1648 "output text for odo push seems to have duplicate messages"
[kind/bug]
Some of the output generated by odo push seems redundant. It would also be easier to skim if the different output messages used the same format.

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: v1.0.0-beta1

## How did you run odo exactly?
Using this as your source code: https://github.com/openshift-labs/beercan-shooter-game.git
run:

odo

[2019-04-25 06:01] kadel commented on #1648
Agreed, we need to clean that up.

How about something like that.
Each item will be a spinner, and once the operation is successful it will turn into a checkmark.

How about something like this?
[code]

Those are steps that can take a few seconds, it is nice to inform the user what is happening.
We can remove even more messages, it depends on what info will be useful for users.

[2019-04-25 12:54] cdrage commented on #401
I'm going to make this medium priority for now.

[2019-04-25 13:29] jankleinert commented on #1648
@kadel I think messages like you listed above would be more clear and informative to the user.

Along the same lines, I think we could improve the messages from the component create command to help the user understand what's actually happened. Right now it just says:
[code]

As a user, I don't really know what that means, and it sounds like all odo has done is checked a couple things. If that step

[2019-04-25 14:13] jankleinert opened #1650 "Clarify message about running odo push for urls in the odo url list command"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
When running `odo url list`, it includes the message "Use `odo push` to create url on cluster" at the bottom, even if the url being listed has already been pushed.

Could we clarify this by only showing that message if there is an un-pushed url?

Show it in this case:

[code]

But not in this case:
[code]

## Why is

[2019-04-25 15:51] amitkrout commented on #1642
Hmm...Make sense. Thanks for the details.

[2019-04-25 15:51] #1642 closed

[2019-04-25 15:54] gshepherd7 opened #1651 "odo app create command missing in windows beta"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10
- Output of `odo version`: v1.11.0+d4cacc0

## How did you run odo exactly?
odo login -u developer -p developer
odo app create test

## Actual behavior
Error: Use one of available subcommands: delete, describe [application-name], list
Usage:
  odo app [flags]
  odo app [command]
etc...

## Expected behavior
Swit

[2019-04-25 16:29] jorgemoralespou commented on #1648
@kadel What does "checking component" mean?
As a user I would like to understand better what's going on, which I'm guessing is validating the configuration.

I would also change the URL to the end.

[code]

If there's no URL, don't print that message.

[2019-04-25 16:34] jorgemoralespou commented on #1651
@gshepherd7 that odo version does not exist. Can you verify again what version of `odo` you're using?

[2019-04-25 16:36] jorgemoralespou commented on #1651
Also, in latest release `v1.0.0-beta1` application is no longer a command. You don't need to create an application, as odo will create it for you, although if you want your component to be created in a specific application, you can provide a `--app` flag to every component related command

[2019-04-25 17:30] gshepherd7 commented on #1651
Sorry...posted the Kubernetes version.  odo version is 0.0.20 (0f63cc5a)

Was going through some of the openshift tutorials which pointed me to downloading the most recent verison of odo and using the app create command.

[2019-04-25 19:18] jankleinert opened #1653 "Info message is printed during binary component creation"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: v1.0.0-beta1

## How did you run odo exactly?

clone https://github.com/grahamdumpleton/parksmap-web

[code]

## Actual behavior
[code]

## Expected behavior
I wouldn't expect that info message to be printed:
I0425 19:11:24.732607    1769 create.go:138] target/parksmap-web.jar

https://gith

[2019-04-25 21:55] jorgemoralespou commented on #1651
Docs and the tutorials have not yet been updated. Sadly, and they still use version 0.0.19. In 0.0.20 things started to change.
We should be up to date soon(ish)

[2019-04-26 07:36] mohammedzee1000 commented on #1411
@kadel that might be possible. We should ensure tests dont create anything w.r.t users home dir. As things stand we are almost there with everything except preferences, which is currently still created in users home dir in tests. If its possible to just override that, we should be good

[2019-04-26 09:00] kadel commented on #1354
There is another part to this, that we need to also handle properly.

[code]

Now the question is what we should do in this case.
Should `somefile` be deleted from the container if it is ignored?

Or should it just be ignored. That means that if user wants to delete a file that is already pushed and it is it odoignore, he/she will have to remote it from the odoignore first and then run push, and t

[2019-04-26 09:11] kadel commented on #1650
Tasks:
 - use the same working in every command that hints user to run `odo push`. The sentance should be always in the following form "To <something> on the OpenShift cluster, please run 'odo push'". examples ("To create URL on the OpenShift cluster, please run 'odo push'", "To create component on the OpenShift cluster, please run 'odo push'" ...). This needs to be updated everywhere.

- update `

[2019-04-26 09:15] kadel commented on #1648
it is checking if the builder image is present in the cluster.
`odo component create java:7` will check if there is a builder image (image stream) called `java` with tag `7` in `openshift` project in the current project.

👍 you are right, that looks better

[2019-04-26 09:26] mik-dass commented on #1633
Interestingly the field `Status.observedGeneration` doesn't change if we pass the same dc retrieve (without any modification) to the update call. Thus we can detect if the dc was updated or not by this field.

But in our case, this field changes, because while creating or updating the dc, the call `generateSupervisordDeploymentConfig` doesn't fill up all the fields. Some of these fields e.g `dnsPo

[2019-04-26 11:01] mik-dass commented on #1633
`oc apply` doesn't act smart in the case of 500Mi=512000Ki. New deployment is not triggered in this case but `oc apply` says that the deployment was configured with new values. So I guess fields matching won't work unless we bring each relative field to the same unit and compare.

[2019-04-26 11:08] girishramnani commented on #1630
@kadel is this only confined to `odo watch` or `odo push` too

[2019-04-26 13:58] jankleinert opened #1654 "odo component delete doesn't actually delete the component"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: v1.0.0-beta1

## How did you run odo exactly?
[code]

See output below.

## Actual behavior
As you can see from the output below, running odo component delete backend says it's deleted, but the config is still there and I cannot create a new component in that directory.

[code]

## Expected

[2019-04-26 14:14] jankleinert opened #1655 "odo push sometimes fails for nodejs component with "rsync warning: some files vanished before they could be transferred (code 24)""
[kind/bug]

This is a sporadic issue. Sometimes it works fine, but sometimes it happens.

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: v1.0.0-beta1

## How did you run odo exactly?
[code]
^ most of the time, that push works. sometimes it fails. If it does work, sometimes if you run push again a time or two, you can get it to fail.

## Actual beha

[2019-04-26 14:54] cdrage commented on #1630
@girishramnani It's happening in both watch and push I believe. 100% watch as that is what I've been testing.

[2019-04-26 15:46] gorkem commented on #822
I see this as 3 steps.

1. Enabling the debug mode on the runtime(JavaVM, node.js etc). This usually ends up with a port opened for debuggers to attach. Different runtimes have different behaviour here. For instance node.js allows opening the debug port while it is running while JVM requires a restart. I feel that it is OK if odo start these runtimes with debug always on. It makes the debugging mo

[2019-04-26 19:06] cdrage commented on #1653
Hey all, I've opened up a PR here: #1657

[2019-04-26 19:43] cdrage commented on #1654
Yeah, I ran into the exact same issue too.

Any chance you can pick this up @girishramnani ?

[2019-04-26 19:51] jorgemoralespou commented on #1654
I think this should be the default behavior, and to delete the components configuration files locally we should do one of either:

- `odo delete --all` (this or some other similar flag makes sense to not introduce a new command)
- `odo destroy` (this makes sense since odo create is the action to create this)

I think we should see which option is best, but not delete local configuration.

[2019-04-26 22:43] jankleinert commented on #1654
If the default, intended behavior is to delete it from the cluster but not
local config (is that what is happening?), then the help text/description
of the command should make that very clear.

On Fri, Apr 26, 2019 at 3:51 PM Jorge Morales Pou <notifications@github.com>
wrote:

[2019-04-27 15:21] sspeiche opened #1660 "Can't connect to OpenShift 4 cluster (though oc works fine)"
[kind/bug]

This is completely blocking me from using `odo` against a OpenShift 4.0.0-0.11 cluster.

## What versions of software are you using?
- Operating System: Mac
- Output of `odo version`: odo v1.0.0-beta1 (c226b008)

## How did you run odo exactly?

[code]

## Expected behavior

[code]

[2019-04-27 16:36] jankleinert opened #1661 "odo config -h has some typos and inconsistencies"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: v1.0.0-beta1

## How did you run odo exactly?
odo config -h

## Actual behavior
[code]

## Expected behavior

I've bolded the changes that I think should be made:

odo config -h
Modifies **odo** specific configuration settings within the config file.

Available Local Parameters:
Application

[2019-04-27 18:05] amitkrout commented on #1660
@sspeiche Its a known issue on OpenShift 4.* cluster and being tracked in https://bugzilla.redhat.com/show_bug.cgi?id=1684547.

In your case ```oc new-project ...``` works as api server is not recycled during that time. ```odo ...``` should work fine if api server is not recycled during the run.

[2019-04-28 01:00] sspeiche commented on #1660
@amitkrout the bugz you point too shows that QE can't reproduce it. It works fine for `oc` command and not sure why `odo` is having an issue. This is an `odo` issue. `odo` works 0% of the time and `oc` works 100% of the time.

What can I do to get past this?

[2019-04-28 06:14] mohammedzee1000 commented on #1660
Can you try to login again?

[2019-04-28 15:12] sspeiche opened #1662 "Successful login gives incorrect help to use `odo projects`"
[kind/bug]

## What versions of software are you using?
- Operating System: Mac
- Output of `odo version`:

[code]

## Correct message should be

[code]

[2019-04-28 15:14] sspeiche commented on #1660
Oddly enough it is working this morning. I did login again.

On Sun, Apr 28, 2019 at 2:14 AM Mohammed Ahmed <notifications@github.com>
wrote:

[2019-04-28 19:10] girishramnani commented on #1662
this issue with this message is this it comes from `oc`'s code base i.e.
https://github.com/openshift/odo/blob/c88f02e247710c51c11ac4662ea69086e1bbcaf9/vendor/github.com/openshift/origin/pkg/oc/cli/login/loginoptions.go#L328
which mean we cannot directly update it. And I would suggest to follow `oc` convention that we should have an alias for `odo projects` in the mean time.

[2019-04-28 19:12] girishramnani commented on #1654
@cdrage sure I can pick this up
/assign girishramnani

[2019-04-28 19:17] girishramnani commented on #1654
I would prefer the `odo delete --all` because we have `odo create` for creation but will end up with two kinds of removal i.e. `odo delete` and `odo destroy` which would
- confusing
- not symmetric

so my vote is on `odo delete --all`.
thoughts @kadel?

[2019-04-29 05:17] mik-dass commented on #1633
The commands like `oc rollout` and `oc apply` all will fail in a like 500Mi to 512000Ki. So we need to come up with some other mechanism.

[2019-04-29 05:18] amitkrout commented on #1131
Pr #1612 has the fix of ```oc``` and ```odo``` command runner.

[2019-04-29 05:34] amitkrout commented on #1131
So closing it as it has been fix via #1559.

[2019-04-29 05:34] #1131 closed

[2019-04-29 06:06] mohammedzee1000 commented on #1660
It is a known issue that Api server can recycle, especially in certain circumstances. When it does, it appears to log everyone off

[2019-04-29 07:29] kadel commented on #1662
We can update it. We already replace `oc new-project` with `odo project create` (https://github.com/openshift/odo/blob/6bd0d73dc67e014e34f7e92a35dab26734163afc/pkg/auth/login.go#L56)

[2019-04-29 07:30] kadel commented on #1662
/kind bug
/priority medium

[2019-04-29 07:30] kadel commented on #1662
/label state/ready

[2019-04-29 07:34] kadel commented on #1661
/kind bug
/priority medium

[2019-04-29 07:38] kadel commented on #1660
/project Sprint 166

[2019-04-29 07:41] kadel commented on #1660
/kind bug

[2019-04-29 07:45] kadel commented on #1654
How about changing `odo delete` to delete both (local config and from cluster) and `odo destroy` would just delete stuff from the cluster? Wouldn't that make more sense?

[2019-04-29 07:50] kadel commented on #1662
/milestone 1.0

[2019-04-29 08:52] mohammedzee1000 commented on #1662
/good-first-issue

[2019-04-29 08:53] mohammedzee1000 commented on #1662
@dharmit loading you up with easy fixes you may want to pick up

[2019-04-29 09:02] mohammedzee1000 opened #1663 "Setup project and milestone via prow"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
We should redirect milestone and project setup via bot commands

## Why is this needed?
Makes it closer to OpenShift workflow. Also allows us to remove write aceess from most contributors preventing manual errors

[2019-04-29 09:04] mohammedzee1000 commented on #1663
PR for enabling plugins https://github.com/openshift/release/pull/3624

[2019-04-29 09:05] mohammedzee1000 commented on #1663
Need to setup necessary groups / teams to give permissions to

[2019-04-29 09:09] girishramnani opened #1664 "different behavior in windows for odo when KUBECONFIG is not set"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10
- Output of `odo version`: odo v1-beta

## How did you run odo exactly?
`odo login`

## Actual behavior
` X not authorized`

## Expected behavior
` Server URL [http://localhost:8443]: ` interactive mode should be triggered

## Any logs, error output, etc?
One of the way to resolve this error is to set `KUBECONFI

[2019-04-29 09:09] kadel commented on #1663
we already have @openshift/odo-maintainers group (`3185642`)

[2019-04-29 09:11] mohammedzee1000 commented on #1663
Yes, i am mainly looking at how it can be configured

[2019-04-29 11:30] sspeiche commented on #1660
I had KUBECONFIG set initially. `oc` in the same terminal was working fine
and `odo` wasn't. I was expecting them to behave the same whether I was
using KUBECONFIG or not.
Still feels like there is something wrong on the `odo` side when handling
KUBECONFIG.

On Mon, Apr 29, 2019 at 3:41 AM Tomas Kral <notifications@github.com> wrote:

[2019-04-29 11:41] dharmit opened #1667 "Documentation for "odo component create""
[kind/Documentation]

## What did you find missing in the documentation?
As a new user of `odo`, I tried doing `odo component create` and was pleasantly surprised by the iterative manner in which `odo` asked me various questions and lets me configure things as per my requirement.
[code]
Does it make sense to have this documented in the repo?

I was not able to understand why the opening line in RE

[2019-04-29 12:02] kadel commented on #1660
Yes, that looks like `odo` issue.

[2019-04-29 12:17] girishramnani commented on #1594
@sspeiche are we bundling `odo` binary with `oc`. Do we need something more like bundling the `odo` binary in the RPM for GA?

[2019-04-29 12:17] #1653 closed

[2019-04-29 12:30] sspeiche commented on #1594
@girishramnani I'd have to research it, though I'd expect it to be aligned with where `oc` is...which is bundled with RPM. I don't know if that has changed or will change.

[2019-04-29 13:10] #1624 closed

[2019-04-29 15:42] jorgemoralespou commented on #1654
I would not favor this.

As it seems, for symmetry that we what we want is to have a:
- push/unpush
- create/delete

But since the `unpush` seems too weird, it could be something else: e.g. __remove__ (as it's more closer to what it will do, remove the deployed application from the cluster).

[2019-04-29 15:50] jorgemoralespou commented on #1667
Iterative in the context of odo's README is not meant for this behavior but rather than for allowing developers to develop applications in a fast and iterative manner. This means code, test, code, test, but not going through GIT at all. in odo, this would be:
- code, push, test, code, push ,test
or
- watch, code, test, code, test.

[2019-04-29 15:51] jankleinert commented on #1654
I like the idea of having as much symmetry in the commands as possible.

What would you envision happening if someone runs delete but not
unpush/remove? Or would you have to run unpush/remove before running delete?

It seems like if we allow someone to run delete and it only removes the
local config, then they would be in a weird state where they couldn't
manipulate that deployed component from od

[2019-04-29 15:55] jorgemoralespou commented on #1654
I think that when running delete, one should ask the user, `Hey, you're deleting the odo config for this component but it's deployed. Do you want to remove it from the cluster?`

But, most of the times they will only want to remove the application from the cluster, as the configuration will most likely want to go into the Git repo.

[2019-04-29 16:49] cdrage opened #1669 "Re-enable watch tests"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

We need to re-enable watch tests.

## Why is this needed?

In order to test the stability of `odo`, `odo watch` tests should be re-enabled: https://github.com/openshift/odo/blob/master/tests/e2e/watch_test.go

[2019-04-29 17:13] cdrage commented on #1570
Fixed in #1658

[2019-04-29 17:13] #1570 closed

[2019-04-29 17:23] cdrage commented on #1662
@dharmit if you want to take this up as a first issue feel free to! :+1:

[2019-04-29 19:28] cdrage opened #1670 "Installation document should be similar to the README doc"
[kind/Documentation]

## What did you find missing in the documentation?

https://github.com/openshift/odo/blob/master/docs/installation.adoc and https://github.com/openshift/odo/blob/master/README.adoc should be similar / almost indistinguishable. The only difference between the two should be that the installation doc contains all the "alternative" ways of installation such as by OS (CentOS / Ubu

[2019-04-29 19:44] rhuss opened #1671 "Flags naming and description issues in help message"
[kind/bug]

## What versions of software are you using?
- Operating System: macOs
- Output of `odo version`: 1.0.0-beta1

## How did you run odo exactly?

`odo`

## Actual behavior

* Options are printed starting randomly with lower and uppercase.
* The gramatical form is not consistent. E.g. it should be all starting with a verb (like in "Show help for odo" instead of "help for odo")
* Inconsiste

[2019-04-29 19:56] rhuss opened #1672 "Help message is overwhelming for first time users"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

When calling odo without argument (typical usage for first time users), one get:

[code]

## Why is this needed?

* Is it an error to call odo without argument ? Couldn't this be a synom for 'help' ?
* Why is the error printed twice (at the top and at the bottom) ?
* Why is the error message so huge ? It's very conf

[2019-04-29 20:29] rhuss opened #1673 "What's the difference between 'odo create' and 'odo component create' ?"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

I'm just making an experiment to work with odo without any documentation. I still remember parts of it (cool stuff), and I knew there was an answer for the following question, I just can't remember it. But:

What's the difference between 'odo component create/delete/describe' and 'odo create/delete/describe' ?

The

[2019-04-29 20:47] rhuss opened #1674 "`odo watch` constantly redeploying when running in the background"
[kind/bug]

## What versions of software are you using?
- Operating System: macOs
- Output of `odo version`: beta1

## How did you run odo exactly?

odo watch &

## Actual behavior

![grafik](https://user-images.githubusercontent.com/99080/56925852-a5dd5b00-6ad0-11e9-881e-db1a84e99290.png)

Interestingly this doesn't happen when `odo watch` is running in the foreground.

## Expected behavior

odo

[2019-04-29 20:58] jorgemoralespou opened #1675 "Set preference second time shows incorrect message"
[code]

Note the value of the message after the second run. `? %v is already set`

[2019-04-29 21:03] jorgemoralespou commented on #1673
`odo create` is an alias to `odo component create` for those that don't like typing. All the actions, if no resource is specified should apply to component.

This should be clearly stated in the documentation. Some time ago we agreed to not show the shorter version as commands, but rather as information on the help.

Something along the lines of:

[code]

[2019-04-29 21:17] jorgemoralespou commented on #1664
This also happens on Linux, but on linux it hangs, as it's probably "eating" the message due to other login related issues.
cc/ @kadel

[2019-04-30 05:56] rhuss commented on #1673
I see, thanks for the explanations.

Having it only in the examples section but not listed below in the 'reference' section is confusing typo (one would always think about a typo). A comment could help here, too, but maybe a section "Shortcuts" in the help message would make the intention more clear?

E.g.

[code]

[2019-04-30 05:58] rhuss commented on #1673
Also, I would really try to avoid tautologies in the usage description overall

I.e. instead of

[code]

just

[code]
("component" is here the important information)

[2019-04-30 06:06] rhuss commented on #1673
Sorry to be picky (and playing the German here ;), but remember, the usage page will be the first contact to odo for the impatient user. I suggest to handover "odo" without any explanation to someone and let him try to find how it works **without any documentation**. (that's the execercise I'm just trying to perform). If this works for the basic stuff, then I think it passes the litmus test.

The

[2019-04-30 06:34] dharmit commented on #1667
@jorgemoralespou thanks for that explanation. It makes sense.

In fact, a few hours back (before looking at your response) I felt like I was wrong in my expectations as far nitpicking the word 'iterative' is concerned.

Anyhow, I feel that an asciinema of `odo component create` would be helpful to a new user to help understand that they can set the config parameters as a first step, should they wi

[2019-04-30 07:41] #1589 closed

[2019-04-30 08:35] dharmit opened #1676 "odo create behavior with 'local'"
[kind/bug]

## What versions of software are you using?
- Operating System: CentOS Linux release 7.6.1810 (Core)
- Output of `odo version`:
[code]
## How did you run odo exactly?
In the current working directory, I have some code that I would like to run on OpenShift cluster. I did:
[code]

And then did `odo push`. But the container doesn't seem to have any source code:
[code]

But if I do just `o

[2019-04-30 09:31] mohammedzee1000 opened #1677 "Documentation lacks information about how to set environment variable values in odo"
[kind/Documentation]

## What did you find missing in the documentation?
Documentation lacks information about how to set environment variable values in odo
`odo config set --env FOO=BAR`

## What is the relevance of it?
Docs should cover such cases as user may not always explore the command if, it's not in the docs

/kind documentation
/area documentation
/assign @Preeticp
/priority Medium

[2019-04-30 09:36] kadel commented on #1671
/kind bug
/priority medium
/area UX

[2019-04-30 09:41] kadel commented on #1671
All good points, each one should be addressed.
Thank you @rhuss

[2019-04-30 09:43] kadel commented on #1671
/remove-label kind/bug
/kind enhancement

[2019-04-30 09:47] kadel commented on #1672
/kind enhancement
/priority high
/area UX
/label "size/S"

[2019-04-30 10:48] girishramnani opened #1678 "Proposal document for rewriting the occlient package"
[kind/Enhancement]

The current occlient related code which is responsible for communicating with openshift cluster is scattered in different places and needs well designed interfaces and abstractions. So a rewrite of the `occlient` package with these goals should be considered -

- having an interface which then can be used to provide support for kubernetes and Knative.
- ~~easy to understand, mo

[2019-04-30 11:06] kadel commented on #1674
/kind bug
/priority high

[2019-04-30 11:07] kadel commented on #1675
/kind bug
/priority high

[2019-04-30 11:08] kadel commented on #1676
/priority high
/kind bug

[2019-04-30 11:11] kadel commented on #1678
We don't have to consider other projects. It can be tailored just for our use case

[2019-04-30 11:17] kadel commented on #1664
"eating"  the message should be fixed in https://github.com/openshift/odo/pull/1652
@cdrage can you check if your PR is also going to resolve this issue?

[2019-04-30 12:00] mohammedzee1000 commented on #1660
Reproduced

[code]

[2019-04-30 12:12] mohammedzee1000 commented on #1660
You can get around by exporting
[code]

[2019-04-30 12:46] amitkrout commented on #1655
I tried (on minishift 1.33.0) more than 5 time to hit it at least once but none of the try hit the issue. Would you please paste the full log if you have keep that log handy or else you can run the push in verbose mode like ```odo push``` and share the log in case of failure.

What I suspect is something went wrong in https://github.com/openshift/odo/blob/master/pkg/occlient/occlient.go#L2890 befo

[2019-04-30 12:48] girishramnani commented on #1675
/assign dharmit

[2019-04-30 12:49] kadel commented on #1675
/assign dharmit

[2019-04-30 13:00] girishramnani commented on #1599
/assign dharmit

[2019-04-30 13:17] girishramnani commented on #1660
Might be duplicate of this issue https://github.com/openshift/odo/issues/1664 please investigate before closing

[2019-04-30 13:22] cdrage opened #1679 "Synchronization with gh-pages"
[kind/Documentation]

## What did you find missing in the documentation?

We should be syncing documentation automatically instead of manually building jekyll and pushing it to `gh-pages`

## What is the relevance of it?

No need to manually update documentation each merge

[2019-04-30 13:39] jankleinert commented on #1655
@amitkrout I can reproduce it pretty consistently by doing the following:
1. Go here (this will be live for at least a few more days): https://odo-workshop.apps.jkleinert-7a77.openshiftworkshop.com
2. In one of the terminals do the following:

[code]

When you do it in that order - create, push, url create, push again, it should happen. Here is the output from the final push from when I just ran i

[2019-04-30 14:56] jorgemoralespou commented on #1673
@rhuss German is good. German is squared ;-)

I agree with all your comments.

[2019-04-30 16:57] kadel opened #1680 "list all url in application"
It would be great to have a command that can list all URLs in an application.

[2019-04-30 18:25] cdrage commented on #1664
Yeah, looks like a separate bug:

[code]

My PR does not fix the issue on Windows, it is however the same on Linux:

[code]

I'll investigate this!

[2019-04-30 18:45] cdrage commented on #1664
I have gone ahead and fixed this in PR #1652

[code]

This was fixed by adding information from `oc`: https://github.com/openshift/origin/blob/master/pkg/oc/cli/login/login.go#L60

[2019-05-01 19:30] cdrage commented on #1643
This has a fix located here: https://github.com/openshift/odo/pull/1652

[2019-05-02 02:43] sspeiche commented on #599
Bumping this priority as it is having fairly negative impacts on some of the other work we are doing and hopefully it is fairly straightforward to do.

There is currently a guideline on supporting this at https://github.com/gorkem/app-labels/blob/master/labels-annotation-for-openshift.adoc

Here's an example of how they are applied and powering the new topology view in the OpenShift dev console:
[

[2019-05-02 06:50] mik-dass commented on #1633
https://github.com/openshift/origin/blob/69c55bf03b7ea5e016221170da740297c5acbb22/pkg/apps/util/util.go#L262

Openshift detects whether to deploy anew deployment or not by comparing the two dcs. We have to modfiy our existing code base to prevent unnecessary deployments.

[2019-05-02 08:29] amitkrout commented on #1655
Thanks for the details.

@kadel i am able to reproduce it here - https://odo-workshop.apps.jkleinert-7a77.openshiftworkshop.com. The major difference i can see base image ```bucharestgold/centos7-s2i-nodejs``` (in my default 3.11 OpenShift env) and ```rhoar-nodejs/nodejs-10``` (in @jankleinert env) are used.

I think something went wrong on base image ```rhoar-nodejs/nodejs-10``` while do second p

[2019-05-02 08:32] amitkrout commented on #1655
/priority major

[2019-05-02 08:36] kadel commented on #599
/assign @kadel

[2019-05-02 09:35] kadel commented on #599
use of labels in odo, and it's mapping to guidelines in https://github.com/gorkem/app-labels/blob/master/labels-annotation-for-openshift.adoc

| use | currently use label | new label based on [guidelines](https://github.com/gorkem/app-labels) |
|-|-|-|
| application name | app.kubernetes.io/name | app.kubernetes.io/part-of |
| component name | app.kubernetes.io/component-name |app.kubernetes.io/na

[2019-05-02 10:31] mik-dass opened #1682 "push triggers 4 deployments for git components"
[kind/bug]

`odo push` triggers 4 deployments and 2 builds for git components

## Actual behavior
4 deployments and 2 builds

## Expected behavior
1 deployment and 1 build should be triggered

## Any logs, error output, etc?

[code]

[2019-05-02 10:40] mik-dass commented on #1682
/king-bug

[2019-05-02 11:10] girishramnani commented on #1213
I think if we have a good enough `salt` like maybe an 8 alphanumeric characters e.g. `nodejs-asdr-45fsd4es.***.com` instead of `-<port>-<app>-<project>` suffix then we can control the length of the url even when the project name and application name is long

[2019-05-02 11:12] girishramnani commented on #1213
or we can expose the mechanism by which we are generating the format and provide the user to give their own `odo url create --format "{{.Name}}-{{.Port}}-{{.App}}-{{.Project}}"`

[2019-05-02 11:54] girishramnani commented on #1680
we can consider an `--app` flag for url list command e.g. `odo url list --app <app>`  to show all the urls in a specific app

[2019-05-02 11:57] girishramnani commented on #1676
@dharmit could you share the source code repo for `django_basic`?  or was it a boiler plate generated using `django-admin startproject`?

[2019-05-02 12:13] sspeiche commented on #599
It appears the dev console is using `app.kubernetes.io/name=openjdk` to decorate the node in the graph with the right icon. It appears odo used the image stream `java` but then puts that value in `app.openshift.io/runtime`.

I think we need to align on if we really need `app.openshift.io/runtime` or if `app.kubernetes.io/name` is really what we should use. Also, we make want to change to dev conso

[2019-05-02 12:31] girishramnani commented on #1682
/kind bug

[2019-05-02 12:33] girishramnani commented on #1648
/kind bug

[2019-05-02 12:36] kadel commented on #599
What is the difference between `app.kubernetes.io/name` and `app.openshift.io/runtime` than?

[2019-05-02 12:58] sspeiche commented on #599
Can you update the PR to use `app.kubernetes.io/name` and hold it? I can at least have a good demo for next week until it gets sorted

[2019-05-02 13:00] kadel opened #1685 "e2e-core is failing with "this directory already contains a component""
[code]

[2019-05-02 13:01] kadel commented on #1685
/area testing

[2019-05-02 13:02] #1560 closed

[2019-05-02 13:07] jorgemoralespou commented on #599
How can name for the component be the one of the runtime? If I deploy 2 components based of openjdk, I want the name displayed to be descriptive while the icon can be based on the builder image of there's not s more specific one.

I think you're approaching label problem from the with angle. I've excited this before on Gorkem's pr, the upstream app label issue, DXP meeting with Serena for Dev cons

[2019-05-02 13:15] sspeiche commented on #599
Agree @jorgemoralespou the names #sig-apps came up with don't make total sense unless you look at a variety of scenarios. Gorkem's doc was intended to help clarify this, it could use some more work. We plan to take our findings to #sig-apps to confirm/complain.

[2019-05-02 13:27] kadel commented on #599
So we are sticking with labels that we have right now?

[2019-05-02 13:35] girishramnani commented on #1654
then we would need `--force` option too for non-interactive scenarios @jorgemoralespou

[2019-05-02 13:44] sbose78 commented on #599
We are continuously working on covering more use cases for the labelling - it tends to get into tricky areas very soon :)

At the moment, this is how we went ahead with the usage.

-  we use the builder image name in `app.kubernetes.io/name`. This is what is used to render the node's image in the topology view. We couldn't find a better way to visualize the node without using this label recommenda

[2019-05-02 13:47] girishramnani commented on #1685
I can work on this @kadel

[2019-05-02 13:58] kadel commented on #599
this looks a bit weird to me, why should `app.kubernetes.io/name` strictly corresponds to the language that is used?

Why do we need to store both information, language, and framework?  If it is `springboot` than information that it is java redundant.

[2019-05-02 14:28] kadel commented on #1680
that flag already exists it allows you to list urls for a component in a different application

[code]

We need to think about what will be the most intuitive way.
For example, one option could be that if `--app` is specified but no `--component` than list urls for all components in the app. Problem with this that we need to have the same behavior for all the commands, otherwise it will be confusi

[2019-05-02 15:18] sspeiche commented on #599
If you read the label name without reading the guidelines, I feel the same way. The approach #sig-apps took was more around like apps you'd name in a catalog, such as "nginx", "mysql", "java". So they said it made sense to use "name" for that. Then when you create an "instance" you use "instance".

We should go back to sig-apps to clarify if we need to.

There isn't an `app.kubernetes.io/runtime`

[2019-05-02 20:02] cdrage commented on #1671
I had previously been working on this (fixing some of the capitalization), so I'll take this up.

[2019-05-03 06:26] mik-dass opened #1686 "deployment gets stuck during updating from local to git in second push"
[kind/bug]

How to test

1. `odo create nodejs `
2. `odo push`
3. `odo config set sourcetype git -f`
4. `odo config set sourcelocation https://github.com/sclorg/nodejs-ex -f`
5. `odo push` (gets stuck here)
[code]

Reason
[code]

[2019-05-03 06:26] mik-dass commented on #1686
/kind bug

[2019-05-03 06:29] mik-dass commented on #1686
/assign mik-dass

[2019-05-03 08:32] amitkrout opened #1687 "Watch test hangs and then timeout"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`: master

## How did you run odo exactly?
make test-watch-e2e

## Actual behavior
Hangs and then timeout

## Expected behavior
Should go through

## Any logs, error output, etc?
[code]

[2019-05-03 08:32] amitkrout commented on #1687
/priority high
/assign girishramnani

[2019-05-03 08:42] girishramnani commented on #1687
@amitkrout is working on master branch https://travis-ci.org/openshift/odo/jobs/527293975

[2019-05-03 08:42] girishramnani commented on #1687
Closing this issue

[2019-05-03 08:42] #1687 closed

[2019-05-03 08:53] amitkrout commented on #1687
hmm, could be something went wrong while migrating the test to new flow in my local setup.

[2019-05-03 10:07] kadel commented on #1587
Instead of a new command, we could also introduce a new flag to `odo component list`.

That might be better, but it might require to rework how `odo component list` is defined right now. Currently, it is used to list components inside the given application.

Operations that `odo component list` should support:
 - list deployed components in the given application and project
 - list components in g

[2019-05-03 13:32] kadel commented on #1654
I think that in this case, we will need a second force flag, that will cause force deletion of both.
`--force` should just do the default action, and in this case, it will be deletion of the local configuration.

If I put everything together it would look like this:

 - `odo component remove` - delete component form the cluster, leave the local configuration
   - It will ask for confirmation: "Do

[2019-05-03 13:39] girishramnani commented on #1654
I think two force flag is not a good idea. We can have an `--all` flag which asks for removal for local config and component and a `--force` to that does yes to both the question. Similarly the standard `--force`'s functionality doesn't change.

[2019-05-03 13:44] girishramnani commented on #1654
I am worried here about how this change will play out with `odo url` and other commands which too rely on `push`.

[2019-05-03 13:46] jankleinert opened #1688 "Fix odo component create / odo create interactive text"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: v1.0.0-beta1

## How did you run odo exactly?
odo create (or odo component create)

## Actual behavior

[code]

## Expected behavior
"Which component type would wish to create" doesn't make sense. I recommend we change it to "Which component type do you wish to create" to match odo service

[2019-05-03 14:04] jorgemoralespou commented on #1654
I would not rename "push" since it's better aligned with what happens than 'up'.
I think that remove and delete are not very well differentiated but if they are properly documented in the help, and then every command hints to the proper follow up action, confusion will be eventually removed.

[2019-05-03 15:28] jankleinert commented on #1676
I am running into a similar issue. entering `/`as source location works, but entering `./`or accepting the default value does not work. Steps to reproduce:

git clone https://github.com/sclorg/nodejs-ex
cd nodejs-ex
odo component create

odo push --v 5

You'll see the following -- **see how it's appending the path to itself?**

[code]
odo config view shows:
[code]

If you do the same, but enter `/

[2019-05-03 21:23] danielhelfand opened #1692 "README Has Broken Links Due to Referencing .md Instead of .adoc"
[kind/Documentation]

## What did you find missing in the documentation?

Links under the `Additional documentation` section in the main `README.adoc` for the project have broken links due to the `.md` to `.adoc` conversion for documentation.

## What is the relevance of it?

The `Additional documentation` links in the main `README.md` come back as 404s due to incorrect references.

[2019-05-06 00:35] jorgemoralespou commented on #599
So instead of making what should be intuitive let's just make what works for us. Then complain to #sig-apps?

If the UI is driving what odo should put there just because now there's no other option to show an icon, we're going the wrong way.
We better have a generic icon, work through the proposal with many examples (not a few as the original or Gorkem's proposal do) and make sure that what we rai

[2019-05-06 00:39] jorgemoralespou commented on #1213
This should in any case be a preference and not a config. Saving this to the config file is not right.
In any case, I would make this more priority, as the url that we produce should be fall safe no matter what.

[2019-05-06 00:51] sspeiche commented on #599
On Sun, May 5, 2019 at 8:35 PM Jorge Morales Pou <notifications@github.com>
wrote:

That is not at all what I was saying and you shouldn't twist it that way.
We are trying to follow the recommendations and based on the review and
guidance we did as a group, the dev console is following the
recommendations and odo isn't.

It is not about a demo, it is about aligning on what the labels mean and
doin

[2019-05-06 05:51] dharmit commented on #1676
Yes, it's _that_ basic. Just the boilerplate code.

[2019-05-06 06:58] amitkrout commented on #1692
/priority high
/assign @Preeticp

@Preeticp Please check the doc links associated with https://github.com/openshift/odo/blob/master/README.adoc#additional-documentation

[2019-05-06 07:00] amitkrout commented on #1692
/assign @danielhelfand

[2019-05-06 07:00] amitkrout commented on #1692
/unassign @Preeticp

[2019-05-06 07:03] amitkrout commented on #1688
/assign @danielhelfand

[2019-05-06 08:53] amitkrout opened #1695 "wildfly component push fails with certain arguments"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`: master

## How did you run odo exactly?
[code]
## Actual behavior
Stuck at

<img width="1211" alt="Screen Shot 2019-05-06 at 2 22 14 PM" src="https://user-images.githubusercontent.com/19851115/57215410-69e35200-700a-11e9-921f-e4edc8b0dafa.png">

## Expected behavior
Should push

[2019-05-06 08:53] amitkrout commented on #1695
@kadel ping

[2019-05-06 08:55] amitkrout commented on #1695
/proirity high
/knid bug

[2019-05-06 09:10] amitkrout commented on #1638
Frequency of hitting the the issue has increased in recent days  - https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_odo/1612/pull-ci-openshift-odo-master-e2e-core/838

[2019-05-06 09:32] mohammedzee1000 commented on #1638
/cc @openshift/openshift-team-developer-productivity-test-platform @openshift/openshift-team-auth

[2019-05-06 09:48] amitkrout commented on #1628
@kadel @cdrage Ci consistently reporting the same failure in my pr #1612 - https://travis-ci.org/openshift/odo/jobs/528706216

[2019-05-06 09:49] mohammedzee1000 commented on #1695
/kind bug

[2019-05-06 09:52] amitkrout commented on #1695
Pr #1634 should fix this

[2019-05-06 09:57] mik-dass commented on #1686
Some more logs by running `oc get dc <dc-name> -o yaml` and selecting the trigger part during the first part
[code]
and after the update
[code]

[2019-05-06 11:08] dharmit commented on #1599
I'm confused here. @cdrage is trying:
[code]
But the workaround given by @kadel is:
[code]
If I run the first command with those flags, it fails because those subcommands don't exist:
[code]

So what exactly need to be fixed?

[2019-05-06 12:30] kadel commented on #1654
OK, so it looks like we have two options here:

- a) leaving `odo component delete` as it is and introduces new `--all` flag that will also delete local config after it gets deleted from the cluster

- b) introducing new `odo component remove`. `remove` will only remove a component from the cluster. And changing `odo component delete` to delete it component completely (both from the cluster and lo

[2019-05-06 13:17] amitkrout opened #1698 "java component build takes longer time for small project"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`: master

## How did you run odo exactly?

$ git clone https://github.com/openshift/odo
$ make bin
$ ./odo create java openjdk-app --project test --context tests/examples/source/openjdk/
$ ./odo push --context tests/examples/source/openjdk/
[code]
NOTE: message copied from travis

[2019-05-06 13:19] amitkrout commented on #1698
/state analysis
/assign @kadel

[2019-05-06 13:50] amitkrout commented on #1698
#1696

[2019-05-06 14:16] cdrage commented on #1599
What needs to be fixed is being able to use `odo catalog list` without having to create a component / service :(

[2019-05-06 14:21] cdrage commented on #1654
IMO I don't believe we should have both a `delete` and `remove`, it'd just confuse everything.

I'd go with option a) @kadel having a paramter / flag to delete local configuration would be the best option.

[2019-05-06 15:19] amitkrout commented on #1685
@girishramnani No need to sped time on this, though it is a minor fix.

pr #1612 will fix such issue anyway.

[2019-05-06 16:39] cdrage commented on #1671
TODO's:

- [ ] Options are printed starting randomly with lower and uppercase.
- [ ]  The gramatical form is not consistent. E.g. it should be all starting with a verb (like in "Show help for odo" instead of "help for odo")
- [ ]  Inconsisten naming of flags `--alsologtostderr` vs. `--log_dir` or `--log_backtrace_at`. Tbh, both forms are uncommon, flags/options are typically using a hyphen as sepa

[2019-05-06 18:03] stevekuznetsov commented on #1638
Is there a final determination of what is wrong from auth?

[2019-05-06 19:42] cdrage commented on #1676
Since I did some changes to detecting the relative path / current path, I'm going to take this up :+1:

[2019-05-06 20:15] danielhelfand opened #1699 "Update Deploying an application using odo section"
[kind/Documentation]

A few notes on the [Deploying an application using odo section](https://github.com/openshift/odo#deploying-an-application-using-odo):

It would be helpful to link to the [Minishift GitHub repository](https://github.com/minishift/minishift) or [documentation](https://docs.okd.io/latest/minishift/getting-started/index.html) in step 1:

[code]

In `odo` version `v1.0.0-beta1` th

[2019-05-07 04:24] dharmit commented on #1599
@cdrage you mean, one should be able to execute `odo catalog list` from anywhere on the system and not only from a directory that's got `.odo/config.yaml`, right? I understand why that should be possible because as a user I might want to quickly look at the type of components I can create before I create one for my project.

Tangential question: What commands should work similarly without a user h

[2019-05-07 04:57] mohammedzee1000 commented on #1638
They were pointing it to the fapping api server and it definetly looks like it. It looks like it is happening more often again

[2019-05-07 05:40] amitkrout commented on #1698
From travis
[code]

[2019-05-07 06:46] amitkrout opened #1700 "Update link test as per new test flow"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
link test

## Why is this needed?
To achieve more odo test coverage

[2019-05-07 06:46] amitkrout commented on #1700
/kind enhancement

[2019-05-07 06:53] amitkrout commented on #1700
blocked on #1634 and #1698

[2019-05-07 06:57] amitkrout commented on #1700
/status blocked

[2019-05-07 07:00] kadel commented on #1686
/priority medium

[2019-05-07 11:03] stlaz commented on #1638
I believe "flapping" is the word we used :smile:

There were fixes to this in authn operator, not sure about apiserver.
https://github.com/openshift/cluster-authentication-operator/pull/125 (May 4)
https://github.com/openshift/cluster-authentication-operator/pull/120 (Apr 29 - only if you're setting up IdPs in your test cluster)
https://github.com/openshift/cluster-authentication-operator/pull/118

[2019-05-07 12:19] danielhelfand commented on #1699
/kind Documentation

[2019-05-07 12:20] danielhelfand commented on #1699
/assign @danielhelfand

[2019-05-07 12:25] danielhelfand commented on #1692
/kind Documentation

[2019-05-07 12:25] danielhelfand commented on #1688
/kind Bug

[2019-05-07 12:48] #1692 closed

[2019-05-07 16:31] #1661 closed

[2019-05-07 23:27] theRemix opened #1702 "nodejs-ex fails to copy local files into pod during odo push"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10 Pro
- Output of `odo version`:
    -  odo v1.0.0-beta1 (c226b008)
        Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?

1. `minishift start`
1. `odo login`
1. `git clone https://github.com/openshift/nodejs-ex`
1. `cd nodejs-ex`
1. `odo create nodejs`
1. `odo push`

## Actual behavior

`odo push`

[2019-05-08 05:21] girishramnani commented on #1599
@dharmit service catalog is not present in minishift, you would need to add it.

[2019-05-08 07:16] dharmit commented on #1599
Thanks! I didn't know. I assumed the `<minishift-ip>:8443/console/catalog` to be Service Catalog. :(

Setting up Service Catalog and doing things with it looks like yet another can of worms so I think I'll pass that for now. However, even after bringing up Minishift with it enabled using below command:
[code]
as recommended in the [docs](https://docs.okd.io/latest/minishift/using/experimental-feat

[2019-05-08 12:52] danielhelfand opened #1704 "Broken Links in README.adoc"
The main `README.adoc` for `odo` contains broken links under the following sections: [Installing odo](https://github.com/openshift/odo#installing-odo), [Deploying an application using odo](https://github.com/openshift/odo#deploying-an-application-using-odo), and [Community, discussion, contribution, and support](https://github.com/openshift/odo#community-discussion-contribution-and-support).

This

[2019-05-08 16:11] #1675 closed

[2019-05-08 18:26] #1688 closed

[2019-05-09 06:48] amitkrout opened #1706 "Setup Windows build environment on travis"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Odo testing on windows platform

## Why is this needed?
To increase platform coverage

[2019-05-09 06:48] amitkrout commented on #1706
/kind testing

[2019-05-09 07:34] amitkrout opened #1707 "odo project create stuck inconsistently"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: master

## How did you run odo exactly?
[code]
## Actual behavior
[code]
## Expected behavior
Should not stuck

## Any logs, error output, etc?

[2019-05-09 07:34] amitkrout commented on #1707
/kind bug

[2019-05-09 07:36] amitkrout commented on #1707
@kadel @mohammedzee1000 Can you please check on your aws cluster

oc i am using:
[code]

[2019-05-09 08:35] amitkrout commented on #1706
/area testing

[2019-05-09 08:50] amitkrout opened #1708 "odo project list -o json does not display new project info on 4.0/4.1 cluster"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: master

oc version:
[code]
## How did you run odo exactly?

$ git clone https://github.com/openshift/odo
$ make configure-installer-tests-cluster
$ odo project create xftcyybzou -w && odo project list -o json

Check details here - https://openshift-gce-devel.appspot.com/build/origin-ci-test

[2019-05-09 08:54] amitkrout commented on #1708
/kind bug

[2019-05-09 08:55] amitkrout commented on #1708
Same failure is observed in #1612

[2019-05-09 08:59] amitkrout commented on #1708
/assign @surajnarwade

[2019-05-09 09:48] amitkrout commented on #1707
I can also see the same issue on 3.11 too
[code]
Details log - https://travis-ci.org/openshift/odo/jobs/530179092

[2019-05-09 10:18] amitkrout commented on #1708
However it works fine on 4.1 cluster locally
[code]

[2019-05-09 10:23] kadel commented on #1708
This looks like an issue in `odo project create`. It is probably not waiting for a new project properly.

[2019-05-09 11:46] kadel commented on #1698
The logs posted look like two different errors

[2019-05-09 11:57] girishramnani commented on #1654
ok moving forward with `--all` which will remove both component and the config and `--force` will yes both of them.

[2019-05-09 12:01] amitkrout commented on #1708
Please uncomment the test once this is fixed

Test file - ```json_test.go```
Test Spec -
[code]

[2019-05-09 12:02] amitkrout commented on #1708
/priority hgh

[2019-05-09 12:06] amitkrout commented on #1698
/priority high

[2019-05-09 12:15] amitkrout commented on #1698
Kind of but i guess both are pointing to same timeout issue.

first log - SetDefaultEventuallyTimeout is hit
second log - travis_wait timeout is hit

Overall i would say java component takes longer time

[2019-05-09 12:22] kadel commented on #1565
This shouldn't be closed.

https://github.com/openshift/odo/blob/master/cmd/cli-doc/cli-doc.go is still generating markdown and needs to be updated

/cc @girishramnani @cdrage

[2019-05-09 12:51] cdrage commented on #1565
I have this already in the sprint planning and will be working on this soon. Fixing the generating markdown file as well as auto synchronization.

[2019-05-09 13:01] surajnarwade commented on #1708
@amitkrout , works for me though

[code]

versions are:

[code]

I tested this on CRC

[2019-05-09 13:07] #1581 closed

[2019-05-09 13:07] #1685 closed

[2019-05-09 14:20] amitkrout commented on #1708
Can you check with OpenShift 4.0. I think there should be some flexibility of using OpenShift version through CRC

[2019-05-09 14:38] amitkrout commented on #1700
/area testing

[2019-05-09 14:53] amitkrout commented on #1708
@surajnarwade This is a consistent CI failure on prow (OpenShift 4.0)

[2019-05-09 16:05] amitkrout commented on #1702
I am able to reproduce it on win7 (Terminal - command prompt)

/kind bug
/priority major

[2019-05-09 16:50] amitkrout commented on #1702
Seems path ./package.json is not parsed properly on windows platform

[2019-05-10 00:06] dgolovin opened #1712 "Cannot list odo resources until component is created and used as a context"
[kind/bug]
## What versions of software are you using?
- Operating System:
Windows 10 Pro
- Output of `odo version`:
[code]
built from master branch

## How did you run odo exactly?
1. ```odo catalog list components```
2. ```odo catalog list services```
3. ```odo list --project project1 --app app1```
4. ```odo.exe component list --app app1```
5. ```odo.exe storage list --app app1 --component node4

[2019-05-10 00:12] dgolovin commented on #1712
As workaround for now home directory can be used as current working directory for all commands and that fixes the issue, because home directory has ```.odo``` configuration present.

[2019-05-10 05:55] dgolovin opened #1713 "`odo application list' lists the same application several times if more than one component is deployed in it"
[kind/bug]

## What versions of software are you using?
- Operating System:
    Windows 10 Pro
- Output of `odo version`:
[code]
built from master.

## How did you run odo exactly?
I have two components node0 and node1 deployed under application `app`.
I am running
[code]

## Actual behavior
The output is below, note two list items with the same app name:

[code]

## Expected behavior
[code]

## A

[2019-05-10 08:03] kadel commented on #1713
/bug
/priority medium

[2019-05-10 08:39] girishramnani opened #1715 "odo project delete considers .odo/config.yaml over the cli args"
[kind/bug]

odo considers the `.odo/config.yaml`'s project over the one provided as an are to
`odo project delete <project-name>`

## What versions of software are you using?
- Operating System: fedora 29
- Output of `odo version`:
[code]
## How did you run odo exactly?
[code]
if I try to delete a project `prj` from a directory with .odo dir then it doesn't delete the `prj` project but rather trie

[2019-05-10 08:57] kadel commented on #1715
/kind bug
/priority medium
/milestone 1.0

[2019-05-10 09:00] kadel commented on #1712
@dgolovin  #1646 should solve this problem once implemented

[2019-05-10 09:18] anthcp commented on #1651
I have just installed the Mac OSX version of ODO and the "odo app create" option is also missing e.g "odo app create myapp
Error: Use one of available subcommands: delete, describe [application_name], list"

[2019-05-10 09:26] mohammedzee1000 commented on #1663
Milestone plugin enabled on `odo maintainers` team. project plugin is underway
https://github.com/openshift/release/pull/3742

[2019-05-10 10:03] girishramnani commented on #1662
@cdrage please refer the PR that solves this issue

[2019-05-10 10:04] #1699 closed

[2019-05-10 10:04] #1704 closed

[2019-05-10 10:05] girishramnani commented on #1616
duplicate of #1700, should close this or that please advice @kadel

[2019-05-10 10:27] surajnarwade commented on #1713
@dgolovin , can you please add steps to reproduce ?

[2019-05-10 10:54] surajnarwade commented on #1587
qs: if I mention `--path /home/user/code`, odo should crawl through every directory present and check for `.odo` directory right ?

also that means, `odo component list` should work without `--context` flag ?

cc @kadel

[2019-05-10 10:57] #1503 closed

[2019-05-10 11:10] surajnarwade commented on #1707
@amitkrout , working for me though

[code]

maybe some flake

[2019-05-10 12:35] jorgemoralespou commented on #1651
As I said, tutorials and doc needs to be updated ASAP.

cc/ @cdrage @kadel

[2019-05-10 14:05] kadel commented on #1651
@jorgemoralespou
`odo app create` is not mentioned anywhere in the tutorials or docs.

[2019-05-10 14:07] kadel commented on #1651
@anthcp

You don't need to create an application before creating component anymore (starting from v1.0.0-beta1). Just use `--app` flag for `odo component create` command, the component will be added to the application, no need to create it beforehand.

[2019-05-10 15:17] stevekuznetsov commented on #1638
OK, please keep me up to date on any needs you have from DPTP.

[2019-05-10 17:39] dgolovin commented on #1713
@surajnarwade I created and pushed two components with the same application.

[2019-05-13 06:32] surajnarwade commented on #1584
one query, this should work from any location, right ?

[2019-05-13 07:50] dharmit commented on #1715
On similar lines, `odo project set` doesn't work as expected either:
[code]

[2019-05-13 08:12] kadel opened #1717 "Test flake: deleting two projects"
Introduced in https://github.com/openshift/odo/pull/1710

[code]

[2019-05-13 08:31] girishramnani commented on #1717
I cannot reproduce this locally @kadel

[2019-05-13 09:26] surajnarwade opened #1718 "Autocompletion is not working for `--context` in `odo push`"
[kind/bug]

## What versions of software are you using?
- Operating System: Linux
- Output of `odo version`:
odo v1.0.0-beta1

## How did you run odo exactly?

Hi tab `odo push --con`

Tab completion is failing with similar error for following commands as well:

- `odo component {delete, describe, link, log, push, unlink, update, watch}`
- `odo {delete, describe, link, log, push, unlink, update, w

[2019-05-13 09:30] #1599 closed

[2019-05-13 10:56] girishramnani opened #1720 "removal of odo project create, get and set, and add odo project describe"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
The idea behind this issue is to have consistency among commands and also to make sure that inconsistencies like these https://github.com/openshift/odo/issues/1715#issuecomment-491713801 dont occur.
The proposal here is to remove the `odo project create`, `odo project set` and `odo project get`.
As well as add `odo p

[2019-05-13 12:11] cdrage opened #1721 "Remove mattermost from README.md / point to GitHub issues"
[kind/Documentation]

## What did you find missing in the documentation?

We no longer use mattemost. We should point new dev's to the correct destination.

## What is the relevance of it?

No longer using chat :)

[2019-05-13 12:32] mik-dass commented on #1682
/assign

[2019-05-13 14:06] danielhelfand opened #1722 "Feature Request: Stop an odo watch"
[kind/Feature]

A user should have the ability to stop an `odo watch` for a component. When running `odo watch --help`, these are the only options given for using `odo watch`:

[code]

If there is a way to stop an `odo watch`, it should be documented under `odo watch --help`.

## Which functionality do you think we should add?
The ability to turn off an `odo watch` for a component.

## Why is this

[2019-05-13 14:07] danielhelfand commented on #1722
/kind feature

[2019-05-13 14:21] danielhelfand opened #1723 "odo watch hangs in Terminal as Default Behavior"
Running an `odo watch` currently hangs in the terminal as follows:

[code]

`odo watch` also hangs in the terminal after a change is pushed:

[code]

As a default behavior, `odo watch` should not hang in the terminal after being run. There could maybe be a flag to designate that an `odo watch` continuing to rub should be the behavior expected.

## Which functionality do you think we should update/

[2019-05-13 14:22] danielhelfand commented on #1723
/kind enhancement

[2019-05-13 14:24] danielhelfand commented on #1723
/kind Enhancement

[2019-05-13 14:24] danielhelfand commented on #1723
/kind Feature

[2019-05-13 14:37] #1633 closed

[2019-05-13 15:45] cdrage commented on #1723
@danielhelfand If we were to change the functionality of `odo watch` to not hang in the terminal, wouldn't that be the exact same functionality as `odo push` ?

Essentially.. if we were to incorporate these changes, I don't think we would even *need* `odo watch` anymore and we could just do a flag to `odo push`, for example `odo push --watch` ?

That's just my thoughts.

Ping @girishramnani @kadel

[2019-05-13 16:02] danielhelfand commented on #1723
@cdrage Maybe I'm misinterpreting exactly how to use `odo watch`, but my thought would be that the functionality of `odo watch` can still be running in the background but not hanging in the terminal. For instance, if I wanted to use that same terminal where `odo watch` has been run to make a quick edit to a file via the terminal. Then, when a save occurs, an `odo push` happens.

I'm not sure what

[2019-05-13 16:19] cdrage commented on #1723
So in a nutshell:

`odo create` - to initially create the component / application you're using
`odo push` - to initially push the code / push it manually
`odo watch` - for odo to automatically watch the directory and push automatically (iterative development with code)

`odo watch` is meant to be ran in the background, yes, however, in a separate terminal in order to see any changes to the directo

[2019-05-13 17:53] danielhelfand commented on #1723
So is there a reason for it hanging in the terminal? For instance, if I `ctrl+c` out of  an `odo watch` after running, it still updates me what it's pushing if I change something. Then it hangs again after notifying me.

I'm wondering why it cannot avoid hanging all together and just notify when it is pushing something and then also include details on what is being changed.

[2019-05-13 18:02] cdrage commented on #1723
@danielhelfand Now *that* is a weird bug. After you Ctrl+C it should automatically exit and no longer update... Ctrl+C should exit it completely. We have no background Go routines, so there shouldn't be any updating.

The hanging is necessary since we wouldn't want it running as a daemon in the background / background task, having it doing via CLI allows `odo` to be kept active until there is a ch

[2019-05-13 18:08] danielhelfand commented on #1723
I see. My other [issue](https://github.com/openshift/odo/issues/1722) now makes a lot more sense. I understand why `odo watch` does this now. But yes, this is something I have been experiencing. I can close this and open a bug issue. I'll reference this issue in the write up. Thanks for your help with all this.

[2019-05-13 18:08] #1723 closed

[2019-05-13 18:08] #1722 closed

[2019-05-13 18:23] danielhelfand opened #1725 "odo watch Still Runs Despite Stopping odo watch"
[kind/bug]

`odo watch` still runs despite running a `ctrl-c` to stop the watch. My original thought was this was a supported behavior, so I opened issues around [how to stop an odo watch](https://github.com/openshift/odo/issues/1722) and another on [odo watch hanging](https://github.com/openshift/odo/issues/1723). However, after discussing the issue in #1723, it was discovered that this is potent

[2019-05-13 18:26] jorgemoralespou commented on #1725
@danielhelfand If you run `odo watch &` the process is taken into the background. To be able to exit that watch, you need to first put it in the foreground before with `fg`.

`odo watch` is a blocking command, so when run without the ampersand, control+c should stop the command. If that feature is not working then, it's a bug, but as long as you're running the watch in the background, `control+c`

[2019-05-13 18:47] danielhelfand commented on #1725
Yeah, my apologies. I think the `&` through me off. I think this is not actually a bug. It might be helpful for us to include a note on this in the katacoda and developing with odo tutorials to avoid confusion on this.

[2019-05-13 18:47] #1725 closed

[2019-05-13 20:33] cdrage commented on #1664
Hey @girishramnani did #1652 fix your issue? I can no longer replicate this.

[2019-05-14 06:50] girishramnani commented on #1664
sure, closing this issue

[2019-05-14 06:50] #1664 closed

[2019-05-14 06:51] girishramnani commented on #1643
closing this issue as this was fixed as mentioned by @cdrage

[2019-05-14 06:51] #1643 closed

[2019-05-14 06:51] girishramnani commented on #1662
closing this issue

[2019-05-14 06:51] #1662 closed

[2019-05-14 06:54] #1721 closed

[2019-05-14 07:12] kadel commented on #1718
/kind bug
/priority medium
/milestone 1.0

[2019-05-14 07:20] kadel opened #1726 "Measuring odo speed"
We need some kind of test that will help us measure speed.
By speed I mean time how long it takes to see changes made in the source code in the running application.

Something like this
[code]

This will help us track progress and see track any regressions

[2019-05-14 07:39] dharmit commented on #1715
Project deletion issue mentioned in https://github.com/openshift/odo/issues/1715#issue-442604070 is not reproducible at my side. I'm trying out the steps on CentOS system with below versions of `odo` and `oc`:
[code]

Steps tried by me:
[code]

[2019-05-14 09:42] kadel commented on #1616
we close the newer issues as a duplicate and keep this one, as it was first

[2019-05-14 09:46] girishramnani commented on #1700
closing this as its duplicate of #1616

[2019-05-14 10:59] girishramnani commented on #1717
finally was able to reproduce this locally and opened a PR which potentially fixes this issue. waiting confirmation by running the CI multiple times

[2019-05-14 11:14] mohammedzee1000 commented on #1660
It essentially looks like it

[2019-05-14 11:14] girishramnani commented on #1660
@sspeiche can you please try a fresh build of `odo` from maser and see if this issue is resolved or not?

[2019-05-14 11:16] girishramnani commented on #1565
please close this issue @cdrage if its resolved

[2019-05-14 11:45] surajnarwade commented on #1587
I started working on this, I propose following solution, WDYT @kadel @dgolovin
(ignore wrong values if any)

where `SOURCE` is where source code resides or maybe relative to `path` provided
`STATE` is whether it is deployed or not

[code]

[2019-05-14 11:55] girishramnani commented on #1587
I would like to propose a `--depth n` flag to limit the recursive searches odo does.

[2019-05-14 11:57] surajnarwade commented on #1718
autocompletion for `odo push` works only if we are running it from same directory

[2019-05-14 12:27] cdrage commented on #1565
@girishramnani It's not yet, still need to add the auto sync working :+1:

[2019-05-14 12:34] kadel commented on #1587
It would be great if `SOURCE` is in one common format, having one in uri form and other not looks weird and it will complicate things

[2019-05-14 12:35] girishramnani commented on #1717
e2e-core succeeded twice in a row on the PR hence assuming the flacky behavior has been resolved

[2019-05-14 14:59] #1717 closed

[2019-05-14 16:29] jorgemoralespou commented on #1726
I think that it should also be worth to meassure the actions that happen inside the container when you push, as on initial push some things happen, on subsequent pushes additional things (backups/restores) happen, and etc....

It would be worth to convert what happens in the container to a more proper "script/binary" where these things can be measured if started with an e.g. ODO_DEBUG flag enabled

[2019-05-14 18:39] cdrage commented on #1671
Hey @rhuss I have solved (most) of your concerns via #1690 and #1689

With regards to the following:

 what are "V logs" ?
  What is a "pattern=N settings" ?

**Both of these are the default descriptions for glog and unfortunately we cannot change it without forking the library**

  Why --y and -y ? And not --yes ? When its specific to completion, why not an extra command.
  --uncomplete vs --inco

[2019-05-14 19:53] cdrage opened #1729 "Error creating component despite no .odo config directory"
[kind/bug]

## What versions of software are you using?
- Operating System: Linux
- Output of `odo version`: Master branch

## How did you run odo exactly?

[code]

## Actual behavior

Not being able to create a component

## Expected behavior

Being able to actually create a component

## Any logs, error output, etc?

[code]

[2019-05-14 20:24] cdrage commented on #1713
@dgolovin Hey, I'm actually unable to replicate this, do you mind showing the steps / commands that you've used?

[2019-05-14 20:29] cdrage commented on #1715
Did you want to take this up @dharmit ? If not, I can have a look at it :+1:

[2019-05-14 20:39] cdrage commented on #1647
I'll take this up :+1:

[2019-05-15 04:19] dharmit commented on #1715
@cdrage yes I did but wanted to reproduce the issue first. I can self-assign it so that it doesn't show up as unassigned

[2019-05-15 06:23] mohammedzee1000 commented on #1663
@kadel if you can confirm both plugins are functional, i will close this issue

[2019-05-15 06:24] mohammedzee1000 commented on #1729
/shrug

[2019-05-15 06:44] dgolovin commented on #1713
@cdrage just verified again with latest build form master.

[code]

![image](https://user-images.githubusercontent.com/620330/57753913-28097a00-76a2-11e9-8421-0cb178c8dccb.png)

[2019-05-15 06:56] dgolovin opened #1730 "`odo application list` does not list applications that contains only services"
[kind/bug]
## What versions of software are you using?
- Operating System:
Windows 10 Pro
- Output of `odo version`:
[code]

## How did you run odo exactly?
[code]

## Actual behavior
odo application list command does not print any applications

## Expected behavior
odo application list command prints app2

## Any logs, error output, etc?
N/A

[2019-05-15 09:20] kadel commented on #1673
/assign  @dharmit
/project Sprint 167

[2019-05-15 10:24] surajnarwade commented on #1729
not able to reproduce, works fine for me

[2019-05-15 11:00] surajnarwade commented on #1521
Closing this since issue is resolved

[code]

[2019-05-15 11:00] #1521 closed

[2019-05-15 11:30] sspeiche commented on #1594
I haven't tracked down rpm details but the console links to the mirror site http://mirror.openshift.com/pub/openshift-v4/clients/odo/

[2019-05-15 12:12] surajnarwade commented on #1128
we don't have this feature now, shall we close this ?

cc @kadel  @cdrage

[2019-05-15 13:09] #1654 closed

[2019-05-15 14:56] danielhelfand opened #1733 "Uninstall Script"
[kind/Feature]

As far as I can tell, there is no uninstall script available for `odo` at this time. It would be helpful to have an OS-independent script similar to the install script.

## Which functionality do you think we should add?
Uninstall `odo` in an OS-independent manner.

## Why is this needed?
Give users the ability to uninstall `odo`. My use case is that I would like to remove an old v

[2019-05-15 15:03] cdrage commented on #1128
@surajnarwade Oh no. How in the world did my flag get removed? Haha.

What are your thoughts of adding this back in @kadel ?

[2019-05-15 15:06] cdrage commented on #1713
@kadel Maybe @girishramnani could help on this. I'm terribly confused. You're using two separate directories that'll have two separate .odo/config files within them. How is odo retrieving information about app1 from the "node1" directory?

[2019-05-15 15:22] cdrage commented on #1673
@rhuss

I can take this up since I'm pretty in-tune with the help output.

The only problem is this:

[code]

You suggest we add "create, delete, describe" as shortcuts..

If you think about it, push, unlink, update, watch, etc. are all shortcuts as well. They are all aliased versions of `odo component link` or `odo component unlink` or `odo component update`, etc.

So what do you suggestion that

[2019-05-15 16:18] kadel commented on #1713
@cdrage `odo app list` is retrieving that information from the cluster. `odo app list` is supposed to list all applications in the project.

I've verified that the duplication is in fact there:

[code]

`odo app list` shows application name for each component that is deployed. This is wrong, `odo app list` should list each application name just once.

[2019-05-15 16:19] kadel commented on #1713
/project Sprint 167

[2019-05-16 06:31] dharmit commented on #1733
For the use case of removing an old version, should we rather have something like `odo update` on the lines of `minishift update` which replaces the old binary with the latest binary?

[2019-05-16 06:50] mohammedzee1000 commented on #1660
/remove-priority critical
/priority high

[2019-05-16 08:58] mohammedzee1000 commented on #1650
Already working on it should have pr up soon

[2019-05-16 09:08] girishramnani commented on #1663
/project Sprint 166

[2019-05-16 09:09] girishramnani commented on #1663
/project asdf

[2019-05-16 09:13] girishramnani commented on #1663
/project Sprint 167 In Consideration

[2019-05-16 09:15] dharmit commented on #1670
@cdrage @Preeticp can you guys please provide your feedback on https://github.com/openshift/odo/pull/1735 ?

[2019-05-16 09:24] mohammedzee1000 commented on #1663
/project "Sprint 167" "In Consideration"

[2019-05-16 09:32] mohammedzee1000 commented on #1663
/project

[2019-05-16 09:50] kadel opened #1736 "Readme: remove CircleCI and Codecov, add links to adapters"
- remove CircleCi badge
 - remove Codecov badge (it is not updating, we can put it back when it is enabled again)

 - add information about  IDE plugins that are using odo (adapters)
    -  Visual Studio Code - https://marketplace.visualstudio.com/items?itemName=redhat.vscode-openshift-connector&ssr=false#overview
    - IntelliJ Idea  - http://plugins.jetbrains.com/plugin/12030-openshift-connector

[2019-05-16 09:51] kadel commented on #1736
/project Sprint 167

[2019-05-16 09:53] kadel commented on #1733
/priority medium
/milestone v1.0
/kind feature

[2019-05-16 09:56] mohammedzee1000 commented on #1650
I just found a mismatch in data given in json v/s what is printed in url list:

### if json flag is set
[code]
Basically urls on cluster are simply printed
### If it is not set
[code]
Basially only urls present in the config and then present on the cluster are printed o_O

[2019-05-16 09:56] kadel commented on #1733
@dharmit

I would prefer to guide users to update using the package managers.

We have OS independent install method via [install.sh](https://github.com/openshift/odo/blob/master/scripts/install.sh) that is smart enough to use package managers. We can add `uninstall` argument to that script that handles the removing odo from the system.

[2019-05-16 10:01] kadel commented on #1730
/kind bug
/priority medium
/milestone 1.0

`odo app list` currently looks for app labels in  DeploymentConfigs to find what applications are deployed, but it should also look for ServiceInstances

[2019-05-16 10:03] kadel commented on #1729
same here, it works ok for me

[2019-05-16 10:05] kadel commented on #1726
👍

[2019-05-16 11:07] mohammedzee1000 commented on #1650
Got some semblance of output for url
[code]

[2019-05-16 11:12] #1647 closed

[2019-05-16 11:32] kadel commented on #1702
I was also hitting this problem. But it looks like that with the recent changes in https://github.com/openshift/odo/issues/1702 this is no longer an issue.

@amitkrout can you please double check that https://github.com/openshift/odo/issues/1702 solves this problem?

[2019-05-16 11:39] amitkrout commented on #1682
@mik-dass i am closing thsi issue as it has been addressed in pr #1684.

[2019-05-16 11:39] amitkrout commented on #1682
/close

[2019-05-16 11:40] mohammedzee1000 opened #1737 "Ensure uniform representation of data across config and cluster"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
### TL;DR

Consider `obj` (which can be component, url, storage etc) which can be in 2 places `config` and `cluster`

Currently, json output of such `obj` type will have `obj` if it is in `cluster`

For normal output details of `obj` are only given if its in `config` with an indication if it is in `cluster` or not
Ba

[2019-05-16 12:31] kadel opened #1739 "Review JSON output for all odo commands"
One more acceptance criteria would be to

- [ ] JSON Output for devfile needs to have long term design as we cannot break it after v2

- [ ] review existing commands as mentioned below

List of all commands that vscode adapter uses - https://github.com/redhat-developer/vscode-openshift-tools/blob/8b9baa56a77d02a54a37fd4532a3d1948ed53a01/src/odo.ts#L36

### listProjects
vscode plugin executes:  `oc

[2019-05-16 13:14] mik-dass commented on #1682
https://github.com/openshift/odo/pull/1684 doesn't resolve this issue

/reopen

[2019-05-16 13:27] dharmit commented on #1715
/shrug

[2019-05-16 13:39] sspeiche commented on #1660
I haven't experienced this issue since the day I opened it. I've been running with master-built version from May 2nd.

I'm fine with close but it appears it has been reproduced by @mohammedzee1000

[2019-05-16 14:18] kadel commented on #1707
I saw it a couple of time also. There is definitely something fishy going on.

It is happening during `odo project create` and also in `odo push` during "Creating project ..." sometimes it hangs directly after this message.

It looks like it is something in `project.Create` function. It keeps waiting for the project even when it was already created (checked using `oc`)

[2019-05-16 14:18] kadel commented on #1707
/milestone 1.0

[2019-05-16 14:23] kadel commented on #1584
yes

[2019-05-16 14:28] kadel commented on #1128
how about adding `odo url open` command.
If the component has only one url it gets automatically opened.
If there are multiple urls, the user has to provide a name `odo url open myurl`

This command should also have optional `--context` similarly as other commands

[2019-05-16 14:35] kadel commented on #1673
The main point is to have `odo component` as the primary command. And clearly highlit that what are shortcuts or aliases.

@cdrage could we do something like this?

[code]

[2019-05-16 14:37] kadel commented on #1663
milestone command is working perfectly, but project does not :-(

[2019-05-16 14:52] cdrage commented on #1673
@kadel

That's my point though... we already have something like this:

[code]

It's as easy as moving `component` to "other commands" and renaming "Component Commands" to "Shortcuts".

Is that something we want?

[2019-05-16 15:00] amitkrout commented on #1707
Found on travis too - https://travis-ci.org/openshift/odo/jobs/533311923

[code]

[2019-05-16 15:00] kadel opened #1742 "test flakes on project creation"
I've seen too many failures on travis-ci on the following test (saw it also on openshift ci)

The last one was on https://github.com/openshift/odo/pull/1741#issuecomment-493102041

[code]

[2019-05-16 15:02] kadel commented on #1742
It looks like it is related to https://github.com/openshift/odo/issues/1707

[2019-05-16 15:03] kadel commented on #1742
closing as dup of  #1707

[2019-05-16 15:03] #1742 closed

[2019-05-16 15:05] kadel commented on #1707
another occurrence on https://github.com/openshift/odo/pull/1741#issuecomment-493102041

[code]

/priority high
/priority-remove medium

[2019-05-16 15:06] cdrage commented on #1729
Thanks for testing, I'm going to close this for now and blame it on my setup.

[2019-05-16 15:06] #1729 closed

[2019-05-16 15:07] kadel commented on #1673
yes, but for shortcuts instead of description, I would point to the full command

[2019-05-16 15:14] cdrage commented on #1673
I don't think that modifying the description to use:

[code]

Would help much for new users. I do like the way we have it right now,.

What about something like this?

[code]

or

[code]

[2019-05-16 18:22] cdrage commented on #1713
At this point in time, is there even a point of having `odo app`, or is it only a requirement for IDE's / VSCode / plugins?

We don't even have `odo app create` which I understand because we create (and name) the deployment config and then add components to it..

Anyways, that could be a separate discussion.

I'm going to take this up :+1:

[2019-05-16 20:01] rhuss commented on #1673
All proposals sound good to me as they make it clear that component commands can be used directly.

What about having a

[code]

(i.e. using a short sentence as an introduction for the command specific actions)

[2019-05-17 07:43] rhuss commented on #1671
That is unfortunate, and tbh I don't consider this good style by a library to hook into the global state of an application. Maybe one could submit a PR upstream to make this behaviour at least optional/configurable ?

What I don't get why this must be a global option available to every command. IMO this should be only an option when creating autocompletion.

While we are at it, why isn't there a d

[2019-05-17 08:48] kadel commented on #1713
I think that listing all deployed applications and getting detailed information about app still makes sense.

[2019-05-17 11:49] kadel commented on #1671
@cdrage

I think that we could forbid glog to inject those flags and use our own flags to set loglevel no?
I would be surprised if glog is so rigid that it doesn't allow to change this.

For the completion, we don't have to have a flag on the root level. We could easily do something like `odo complete --install` `odo complete --uninstall`

@rhuss
If I remember correctly https://github.com/posener/

[2019-05-17 12:39] dharmit opened #1745 ""odo config view" doesn't work when OpenShift cluster is not reachable"
[kind/bug]

## What versions of software are you using?
- Operating System: CentOS 7.6, Fedora 30
- Output of `odo version`:
[code]

## How did you run odo exactly?
[code]

## Actual behavior
`odo config view` fails when OpenShift cluster is not reachable.

## Expected behavior
Shouldn't viewing the config be possible in spite of cluster being down since the config values are already present in `.

[2019-05-17 12:41] #1700 closed

[2019-05-17 12:42] girishramnani commented on #1616
@amitkrout assigning this to you

[2019-05-17 12:42] kadel commented on #1700
:-D Sorry @amitkrout, wanted to close it almost at the same time, ended up reopening it 😇

[2019-05-17 12:45] amitkrout commented on #1700
np :)

[2019-05-17 12:48] kadel commented on #1745
/kind bug
/priority medium
/milestone 1.0
/project Sprint 167

[2019-05-17 12:49] kadel commented on #1745
yes it should. As part of this PR we should also check for the commands where it doesn't make sense to require cluster connection

[2019-05-17 13:05] dharmit commented on #1745
/assign

[2019-05-17 15:47] #1670 closed

[2019-05-18 17:54] #1630 closed

[2019-05-19 15:18] danielhelfand commented on #1733
So I went ahead and put together a completely separate `uninstall.sh` script below. I have tested on all the supported distributions and the default case. Is the idea here to update `install.sh` to have both installation and uninstallation capabilities and maybe update the name to `installer.sh`, or should there be two separate scripts? I could see pros and cons with both approaches.

[code]

[2019-05-20 05:12] surajnarwade commented on #1651
@anthcp @gshepherd7 can we close this ? since there's no mention of `odo app create` command and @kadel mentioned the right way for this in above command.

[2019-05-20 07:17] surajnarwade commented on #1733
@danielhelfand , can you please send PR for the same ? (since you already worked on script)

[2019-05-20 08:51] surajnarwade commented on #510
Closing this since we don't have `odo app create` command

[2019-05-20 08:51] #510 closed

[2019-05-20 08:57] #1641 closed

[2019-05-20 09:02] kadel commented on #1471
Part of this work should be also cleaning up code and logic around triggering assemble script inside the container and the way how odo handles all s2i paths. I have a feeling that there is a lot of space for improvement ;-)

[2019-05-20 10:36] amitkrout commented on #1698
@kadel @girishramnani We have some test scenario commented out due to this issue. Can you guys take this as high priority and provide fix ASAP

[2019-05-20 10:38] amitkrout commented on #1698
@mik-dass Can you please confirm if your pr #1740 fix this issue ?

[2019-05-20 10:40] kadel commented on #1733
Simple question, but thought to answer :-D
Slightly leaning towards one `installer.sh` script that will by default (without any arguments)  perform the installation. To uninstall one would have to run `installer.sh --uninstall`.
Install and uninstall process has some common logic and this will make it easy to share the code.

[2019-05-20 10:45] amitkrout commented on #1708
@surajnarwade Did you get any chance to test it on 4.0 cluster ?

BTW our prow config is using 4.1 cluster. So i will uncomment those tests to see the behavior on prow+4.1 cluster.

[2019-05-20 11:13] mik-dass commented on #1698
I don't think it will fix this as it seems to be a local component. #1740 resolves around git components entirely.

[2019-05-20 11:45] kadel commented on #1368
fixed in  #1374

[2019-05-20 11:45] #1368 closed

[2019-05-20 11:47] kadel commented on #1363
after new workflow implementation, this is no longer valid.
/close

[2019-05-20 11:47] #1363 closed

[2019-05-20 11:51] amitkrout commented on #1702
Will check and update here

[2019-05-20 11:54] kadel commented on #1430
We need to make [`waitForPodTimeOut `](https://github.com/openshift/odo/blob/ffcde3baa0512cab0004e8ef2ea7a994e7d08150/pkg/occlient/occlient.go#L103:2) configureable using `odo preferences`.

[2019-05-20 11:58] amitkrout commented on #1702
@theRemix In the mean time can you check it using master bits or using ```v1.0.0-beta2``` bits

NOTE: Shortly (Today) we are announcing v1.0.0-beta2 release.

[2019-05-20 12:16] kadel opened #1750 "Clarify message about running odo push for components in the odo component list command"
- update `odo list` so it shows the message only if there is a difference between cluster and local config. If local config has url that is not deployed, and also if the cluster has url that has been removed from the local config.

/priority medium

more in  https://github.com/openshift/odo/issues/1650#issuecomment-486986788_

[2019-05-20 12:39] danielhelfand commented on #1733
@surajnarwade @kadel Sure thing, I'll submit a pr after I re-work the `install.sh` script and add the logic I have in the script above. Thanks!

[2019-05-21 05:19] amitkrout commented on #1702
@theRemix I am not able to reproduce it on v1.0.0-beta2 windows bit [1] . Can you please check from your end and feel free close this if not reproducible.

[1] https://github.com/openshift/odo/releases/tag/v1.0.0-beta2

[2019-05-21 05:46] amitkrout commented on #1708
@surajnarwade Also in CI (4.1 OpenShift) it fails. Seems it only happens in CI irrespective of cluster version due to ```odo project list -o json``` fails to fetch the latest data.

I do not think it's a timing issue because project creation waits till the project is up and ready to use.

Failure log - https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_odo/1749/pul

[2019-05-21 06:57] mohammedzee1000 commented on #1718
On a connected note, we are apparently checking for active cluster during auto completion
[code]
Reproduced
[code]

[2019-05-21 07:14] #1616 closed

[2019-05-21 07:26] amitkrout commented on #1745
Right, i think flag ```--skip-connection-check``` should work as a workaround for now.

for example ```odo config view --skip-connection-check```

[2019-05-21 07:30] surajnarwade commented on #1707
@kadel , @amitkrout , it is hard to reproduce it locally, instead I would like to add `-v 4 ` in all `odo project create` in tests to see how it is reacting ?
WDYT ?

[2019-05-21 07:31] amitkrout opened #1752 "Create test file for odo catalog command"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Integration test of odo catalog command

## Why is this needed?
No proper integration test file for odo catalog command is added yet

[2019-05-21 14:25] jankleinert opened #1756 "odo component create interactive mode: default value and prompt are confusing for source location"
[kind/bug]

This tripped up quite a few people at the Summit lab, as they were blindly accepting the defaults in interactive mode, despite the instructions saying to enter '/' for the source location in interactive mode to try to avoid this issue.

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: v1.0.0-beta2 (also present in beta1)

## How did you r

[2019-05-21 15:13] kadel commented on #1756
/kind bug
/priority high

[2019-05-21 15:18] cdrage commented on #1429
@apupier Can you confirm that this issue has been resolved? #1705 has been merged.

[2019-05-21 15:33] kadel commented on #1587
Makes sense. But I think that @dgolovin is mainly interested in the JSON output

[2019-05-22 10:44] amitkrout commented on #1548
Closed via #1612

[2019-05-22 10:44] #1548 closed

[2019-05-22 10:59] amitkrout commented on #1473
Test file

- [ ] generic test

- [ ] component test

- [ ] config test

- [ ] java test

- [ ] json format test

- [ ] link test

- [ ] login test

- [ ] service test

- [ ] source test

- [ ] storage test

- [ ] watch

[2019-05-22 11:58] mohammedzee1000 commented on #1718
It seems connection check and context creation happens even with autocompletion

[2019-05-22 12:10] cdrage commented on #1565
Closing this issue in favour of: #1679

[2019-05-22 12:10] #1565 closed

[2019-05-22 12:26] dharmit opened #1760 "openshiftdo.org website not in sync with docs on the repo"
[kind/Documentation]

## What did you find missing in the documentation?
For example:
- Installation steps at https://openshiftdo.org/installation/ don't match that from the master branch.
- GitHub link at the bottom of the page points to https://github.com/redhat-developer/odo instead of https://github.com/openshift/odo. Other links at the bottom are also incorrect.

## What is the relevance of i

[2019-05-22 12:51] girishramnani commented on #1708
We are planning to club all the machine readable output related issues in later sprint and hence reducing the priority

[2019-05-22 13:04] girishramnani opened #1761 "Travis CI is not working due to change from travis-ci.org to travis-ci.com"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

## How did you run odo exactly?

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2019-05-22 13:37] cdrage commented on #1702
We did do some changes to filepath / copying files over for both Windows / macOS / Linux support.

If you can try again and see if this issue has been resolved that'd be great @theRemix

[2019-05-22 16:59] mohammedzee1000 commented on #1761
Tests currently blocked due to required Travis ci
https://docs.travis-ci.com/user/migrate/open-source-repository-migration

[2019-05-22 19:44] cdrage commented on #1673
PR here! https://github.com/openshift/odo/pull/1763

[2019-05-23 05:07] dgolovin commented on #1587
`-o json` support is what we need in vscode.

`SOURCE` column contains component's source like local folder path, local binary path or git URL, doesn't it? Would be also good to have CONTEXT column.

[2019-05-23 19:07] cdrage commented on #1713
Hey @kadel and @dgolovin

I'm getting a tad confused with regards to the output...

So, at the moment we query ALL deployment configs within that namespace using `odo app list`.

However, the functionality you're asking is to retrieve only DC's related to the current context (component).

So we have two things we're asking odo to do, either:

 1. Return *all* deployment config's that match that ap

[2019-05-24 00:45] dgolovin commented on #1713
@cdrage I am asking for `odo app list` to print out `app` once, because there is only one application  `app` with tree components deployed. That's it.

[2019-05-24 06:19] girishramnani commented on #1761
we have removed travis CI and instead running the integration tests on openshift CI

[2019-05-24 06:27] girishramnani opened #1766 "cannot create component in home directory"
As there is a preference file present in the home directory with the name path as the local config file `.odo/config.yaml`, people cannot create components in their home directory ( which could be something someone does )

[2019-05-24 06:27] girishramnani commented on #1766
we can consider changing the name of the preference file to `.odo/preference.yaml` instead to make sure people can create components in home directories

[2019-05-24 07:51] amitkrout commented on #1761
@girishramnani Why you closed this ?

The issue is not resolved i guess

[2019-05-24 07:52] amitkrout commented on #1706
blocks on #1761

[2019-05-24 08:24] rgarg1 commented on #1706
Why is #1761 closed? Does it mean that the block is now removed?

[2019-05-24 10:00] surajnarwade commented on #1646
as I am started exploring #1587 #1584 I found that first command should be `odo app list` which will run even outside the context

[2019-05-24 10:01] #1673 closed

[2019-05-24 14:50] cdrage commented on #1713
@dgolovin Got it.

[2019-05-24 18:01] cdrage commented on #1713
PR here: https://github.com/openshift/odo/pull/1767

[2019-05-24 18:15] cdrage commented on #1766
:+1: on this, this would be related to the previous issue I had: https://github.com/openshift/odo/issues/1729

:+1: on renaming it to `preference.yaml`

[2019-05-24 18:16] cdrage commented on #1761
Reopening the issue :+1: we need to have this fixed.

[2019-05-24 18:17] cdrage commented on #1706
@rgarg1 No, I believe it was closed by accident. We need Travis for docs synchronization, bintray released, amongst other things.

[2019-05-27 06:53] kadel opened #1768 "Make ci/prow/integration ci/prow/e2e-scenarios tests required"
This is really important, especially now when Travis tests are disabled!!

/cc @amitkrout

[2019-05-27 06:55] kadel commented on #1761
This is ultra ultra ultra hight prio and needs  to be fixed ASAP

[2019-05-27 07:21] kadel commented on #1761
What do we need to do to fix travis?

[2019-05-27 07:31] mohammedzee1000 commented on #1761
Travis will need to be authorized again to fix the tests themselves,
 But for now atleast, we still cant make it blocking for tide merge.

[2019-05-27 08:37] mohammedzee1000 commented on #1761
This is no longer critical as no longer blocks prs and integration tests work fine on prow and are now enabled as blocking for merge.

But yes, considering we are going to use travis for non linux testing, we should really get the feedback working again as soon as possible
/remove-priority critical-urgent
/priority high

[2019-05-27 09:26] mik-dass commented on #1646
Should this behaviour be  for `app describe` too?

[2019-05-27 09:48] amitkrout commented on #1768
@kadel We have already made it required immediately after we faced the travis issue.

[2019-05-27 09:48] #1768 closed

[2019-05-27 10:00] amitkrout commented on #1766
@girishramnani Can you please assign label to it

[2019-05-27 10:23] amitkrout opened #1769 "Use of make test-e2e in test suite"
[kind/Documentation]

## What did you find missing in the documentation?
Are we really care about the running of ```make test-e2e``` [1], i mean running the whole test suite through ```make test-e2e``` or may be ```make integration```  ?

[1] https://github.com/openshift/odo/blob/master/Makefile#L156

I am in the favor of removing [1] because it is available from the start of odo i guess but not i

[2019-05-27 10:36] amitkrout commented on #1761
@mohammedzee1000 @kadel Travis job started reflecting in odo pr #1759

[2019-05-27 12:45] dharmit commented on #1760
@cdrage I just saw https://github.com/openshift/odo/deployments. It says you deployed it last. Can you PTAL?

[2019-05-27 13:32] amitkrout opened #1770 "git component push flake"
[kind/bug]

## What versions of software are you using?
- Operating System: centOS
- Output of `odo version`: master

## How did you run odo exactly?
Ran on prow + OpenShift 4.1

## Actual behavior
Component test fails - https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_odo/1759/pull-ci-openshift-odo-master-integration/38

## Expected behavior
Should pass

## Any

[2019-05-27 13:33] amitkrout commented on #1770
/assign @mik-dass

[2019-05-27 13:54] cdrage commented on #1760
Hey @dharmit I already have an issue open for this: https://github.com/openshift/odo/issues/1679

Yeah, it's not automatically syncing. I'll do a manual sync right now however.

[2019-05-27 13:54] #1760 closed

[2019-05-27 14:00] surajnarwade commented on #1587
@dgolovin @kadel , one more question

when I run `odo component list --path some-path`, so it should look for that path and check for components only in that path, right ? it should not list other deployed component from other directory, correct ?

[2019-05-27 20:09] cdrage opened #1772 "We shouldn't require --port compulsory for `odo url create`"
[kind/bug]

## What versions of software are you using?
- Operating System: Linux
- Output of `odo version`: Master

## How did you run odo exactly?

[code]

## Actual behavior

Errors requiring port

## Expected behavior

Not requiring port..

It was pretty simple just to use `odo url create`. Now we have to figure out what port to actually open for the container.

## Any logs, error output, etc?

[2019-05-27 20:11] cdrage commented on #1772
We also have some really odd / weird output with creating a URL..

We don't even provide a link to the URL anymore? I understand that we now have to use `odo push`, but the output is messed up:

[code]

[2019-05-27 20:13] cdrage commented on #1772
We should have output similar to this:
[code]

Or something similar ^^

[2019-05-27 20:16] cdrage commented on #1772
So some TODO(s):

- [ ] Update the outdated help (it still shows that you can create a url with just `odo url create`)
- [ ] Make port 8080 default for `odo url create`
- Improve the output of using `odo push` after creating a URL (bolded text, etc.)

I can take this up :+1:

[2019-05-28 02:23] surajnarwade commented on #1772
@cdrage  +1 for `--port` stuff, but if you make 8080 as a default, I will recommend giving warning to user while creating URL,

for example,

[code]

or maybe, some way to fetch port from S2I Images

[2019-05-28 07:01] amitkrout opened #1773 "Create documentation around GLOBALODOCONFIG env variable"
[kind/Documentation]

## What did you find missing in the documentation?
No doc found around ```GLOBALODOCONFIG```

## What is the relevance of it?
Increase odo user experience

[2019-05-28 07:02] amitkrout commented on #1773
/assign @mohammedzee1000

[2019-05-28 09:10] kadel commented on #1646
yep, the same behavior can be applied

[2019-05-28 09:20] kadel commented on #1707
only verbose flag was added in the PR https://github.com/openshift/odo/pull/1754/files
This is still an issue.

/reopen

[2019-05-28 09:29] amitkrout commented on #1773
/priority high

[2019-05-28 10:50] amitkrout commented on #1707
@surajnarwade i found the same failure one of my pr on trivis.

[code]

[2019-05-28 15:40] kadel commented on #1772
We can't just make 8080 default port, application and builder image can use a different port.
We need to do what we have been doing before. If there is a single port exposed than automatically create a route for it if there are multiple ports than error out and tell the user to specify the port.

Problem is that `odo create url` can be executed before the component is pushed to the cluster. So the

[2019-05-28 16:04] cdrage commented on #1676
PR here, thought I linked it before: https://github.com/openshift/odo/pull/1764

[2019-05-28 16:09] cdrage commented on #1648
I'll take this up :+1:

[2019-05-28 18:49] cdrage commented on #1648
So I've opened up PR #1774  that improves the output.

The problem is that we always do "ApplyConfig" before Build or Pushing the component and thus the URL changes need to happen **before** the build / copying files over process.

I've come up with the following output / solution:

[![asciicast](https://asciinema.org/a/Szh9pBMWL5Rbg4gGVC0MvLHdi.svg)](https://asciinema.org/a/Szh9pBMWL5Rbg4gGVC0MvL

[2019-05-28 18:53] cdrage opened #1775 "No spinner / detection of in-progress after "Checking component version""
[kind/Enhancement]

## Which functionality do you think we should update/improve?

See: https://asciinema.org/a/Szh9pBMWL5Rbg4gGVC0MvLHdi

After:

[code]

There is a pause / hanging with no indication of anything happening.

This is because requests for DeploymentConfig is happening in the background:

[code]

## Why is this needed?

This is needed to provide an indication that `odo` is still work

[2019-05-29 10:02] kadel opened #1776 "Unable to add url to local config if not connected to cluster"
`odo url create` doesn't need to communicate with the cluster. It needs to work even if user is not logged in or the cluster is not reachable.

[code]

/kind bug
/priority medium
/milestone 1.0

[2019-05-29 10:11] kadel commented on #1648
@cdrage
The long delay after
[code]
Looks weird, it feels like it got stuck :-/

I think that we don't need both `Checking component` and `Checking component version`, just `Checking component` that is displayed while both checks are done would be enough.

[2019-05-29 12:31] geoberle opened #1777 "Control aspects of component PVC creation"
[kind/Enhancement]
I would love to see some control over the automatically created PVC during "odo create / odo push". Especially the following aspects should be controllable by flags:
* storage class
* PVC size
* PVC name

Why the storage class? There might be multiple storage classes with different quotas available to a developer. It is beneficial for sure to let the developer pick the storage c

[2019-05-29 12:32] amitkrout commented on #1706
Pasting the first mailing conversation with ```support@travis-ci.com``` cc_ @kadel

[code]

[2019-05-29 12:50] cdrage commented on #1706
@amitkrout I see that there is already a thread about this on their community forum, hopefully there is a resolution:

https://travis-ci.community/t/windows-build-long-path-for-files/757/2

[2019-05-29 12:52] cdrage commented on #1648
@kadel Yeah, I opened up a separate issue here: https://github.com/openshift/odo/issues/1775 as the above "Checking component version" is unrelated.

What do you think of the layout?

[2019-05-29 12:57] kadel commented on #1648
The output that you have there is great. I would just group
[code]
Into something like
[code]

[2019-05-29 14:28] kadel commented on #1655
@cdrage have you tried to reproduce this?

I have run `odo push` probably about 10x today on nodejs project and every time it was ok :-/

odo build from mater - b604c088
OCP build from 4.1.0-0.ci-2019-05-28-145504 where nodejs:latest points to  registry.redhat.io/rhoar-nodejs/nodejs-10

[2019-05-29 14:30] cdrage commented on #1655
@cdrage I forgot to mention in my comment, but no, I'm unable to reproduce it either...

[2019-05-29 16:32] amitkrout commented on #1706
Thanks @cdrage for the reference.

There is no update in the thread since 1 month

[2019-05-30 05:56] mik-dass opened #1778 "Error while updating from git to local"
Once #1740 is in, an error will occur while updating from local to git.
The log:
[code]

[2019-05-30 06:33] amitkrout commented on #1706
Pasting the replay i got

[code]
And
[code]

[2019-05-30 08:38] #1682 closed

[2019-05-30 08:38] #1686 closed

[2019-05-30 10:00] amitkrout commented on #1305
I am closing this issue as the failure is not observed in none of our CI in recent run after #1302 is fixed.

[2019-05-30 10:00] #1305 closed

[2019-05-30 10:23] amitkrout commented on #1695
Unable to reproduce it on master.
Fixed via #1740

[2019-05-30 10:23] #1695 closed

[2019-05-30 10:33] amitkrout commented on #1761
Now Travis CI works fine. I am closing it for now

[2019-05-30 10:33] #1761 closed

[2019-05-30 11:04] kadel commented on #1587
yes, correct

[2019-05-30 11:50] kadel opened #1780 "Cleanup test naming - e2e vs integration"
There is still a lot of places (like Makefile, or names of Describe blocks) where integration tests are named as e2e or have e2e in the name.
This should be cleaned to make it clear that those are two different tests approaches.

/kind bug
/area testing
/priority medium
/project Sprint 168

[2019-05-30 11:50] kadel commented on #1780
/project "Sprint 168"

[2019-05-30 11:51] kadel commented on #1663
any updates on /project command? It is still not working :-(

[2019-05-30 15:47] cdrage commented on #1769
Yes. We need it. I use it constantly and it beats waiting for the CI to finish.

Plus you need it to test locally against your own cluster.

I'm good for renaming it though, but we 100% need to keep this.

[2019-05-30 21:40] #1713 closed

[2019-05-31 02:33] triceam opened #1781 "Improved guidance/feedback when the user encounters errors"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Improved guidance/feedback when the user encounters errors.

## Why is this needed?
When the user encounters an error, it is not always apparent what caused the error, or how to resolve the error.

For example, this is what I see when I see when I follow the quickstart instructions from https://github.com/openshift/o

[2019-05-31 07:32] mohammedzee1000 commented on #1663
/cc @openshift/openshift-team-developer-experience  ^^

[2019-05-31 08:17] kadel commented on #1707
This is getting more and more annoying? Do we have any clue what is happening there?

[2019-05-31 08:19] kadel commented on #1769
👍 for keeping this.
Running all test with a single command is really useful, especially once we can run multiple tests in parallel.

[2019-05-31 08:40] kadel commented on #1778
Isn't this exactly the same issue as in https://github.com/openshift/odo/issues/1686 ?

[2019-05-31 09:51] girishramnani commented on #1766
@jorgemoralespou could you please provide you suggestion on these two questions -
1 - renaming the global preference to `preference.yaml` or `preferences.yaml`
2 - do we provide automatic migration for users i.e. rename the `~/.odo/config.yaml` to the new file?

[2019-05-31 12:22] mik-dass opened #1782 "Update from local to git fails"
[code]
It seems to be a flake. It was introduced #1740

[2019-05-31 13:09] adambkaplan commented on #1663
Issues related to prow should be sent to @openshift/openshift-team-developer-productivity-test-platform

[2019-05-31 18:36] stevekuznetsov commented on #1663
Looking at the help for it, it's not obvious how to do a project name with more than one word:

https://prow.svc.ci.openshift.org/command-help?repo=openshift%2Fodo#project

/project foo

[2019-05-31 18:37] stevekuznetsov commented on #1663
So the plugin does seem to be on...

[2019-05-31 18:45] dgolovin commented on #1587
@kadel I remember we agreed to support list of folders for --path option, so we can scan all the folders from path and list all the components there. In this case would be good to know what CONTEXT is.
The same would be good in case there are several components down the directory hierarchy.

In general I would say 'list' means dealing with several components, if you are going to list only componen

[2019-05-31 21:08] jorgemoralespou commented on #1648
@cdrage looking at your screencast it seems the component needs to be build when your just creating a url.
We need to provide a mechanism to detect if source code has changed, probably in another issue if it didn't exist.
I also agree with @kadel that the time between messages which should be really fast seems as something is stuck.

[2019-05-31 21:22] jorgemoralespou commented on #1766
@girishramnani I would go ahead, although bc I honestly hope no one does that, but makes sense.
For question #2 I would just add it to the release notes as I also don't think many people is yet using the preferences.

[2019-06-03 05:43] amitkrout commented on #1706
Got the reply of my second question

[code]

Based on Dominic reply it is impossible to start ```minishift``` on travis provided windows platform. Even generic driver won't help here because minishift generic driver doesn't [support](https://docs.okd.io/latest/minishift/using/run-against-an-existing-machine.html) ```oc cluster up``` on windows platform.

The only way remaining IMO is, setup a wind

[2019-06-03 06:29] mik-dass commented on #1646
✗  the current directory does not represent an odo component.
Please specify the application name and project.
HINT: See 'odo app describe --help' for more information.

The above message seems to be confusing. The first line indicates that the command should be fired from inside a directory while the second line tells the opposite.

[2019-06-03 06:36] kadel commented on #1646
You are right, it might be a little bit confusing.
Feel free to modify those messages for something better.
Maybe "Please specify context directory or specify application and project name"? I'm not good with this, I bet that whatever you come with will be better than this :-D

[2019-06-03 06:42] mik-dass commented on #1646
@kadel I am not good with this too. I am confused as well :D @jorgemoralespou @girishramnani @surajnarwade Please help.

[2019-06-03 06:44] mik-dass commented on #1646
@kadel How about?

[code]

[2019-06-03 06:48] kadel commented on #1646
That looks great and much cleaner. I'm just not sure about `odo directory` it might not be clear what that means.  How about replacing `odo directory`  with `directory with odo component`?

[2019-06-03 06:49] mik-dass commented on #1646
Ok cool. That sounds cleaner :+1:

[2019-06-03 07:33] mohammedzee1000 commented on #1663
Hmm,  is something wrong with the config. I set the same team id as for milestone, and that works, so what is up with project. The team it shows does not seem to exist.

[2019-06-03 07:35] mohammedzee1000 commented on #1663
Sorry, that is my bad,  clicked the wrong team

[2019-06-03 08:55] kadel commented on #1587
Yes, context path will be in the output. Even for several components in the hierarchy.

I'm a little bit confused.
 - `odo component list --context ` displays all components that are deployed in the same application as a given component (the one in context dir)
 - `odo component list --path` displays all component in a given filesystem path (it walks through whole path)

 Let's say that I have the

[2019-06-03 11:59] kadel commented on #1781
@triceam Good point. We definitely need to figure some better way to report errors.

I'm afraid that there will always be some unexpected situation where `odo` don't know how to handle it. In that situation, `odo` should provide as much information as it can so someone with a deeper understanding of Kubernetes can resolve the issue.

[2019-06-03 12:05] kadel commented on #1706
Would it be possible to start the cluster in a Linux test on travisci, than connect to it from the windows job? Or similar sync with OpenShiftCI. Just a thought, I'm probably straching this too far 😄

[2019-06-03 12:44] kadel commented on #1707
/assign
/unassign @surajnarwade

[2019-06-03 13:01] triceam commented on #1781
@kadel, yeah, understood that there will always be some unexpected situations.

[2019-06-03 21:04] stevekuznetsov commented on #1663
No, I think it is a bug against the plugin, I do not think it handles multi-word project names. Could you report it to `kubernetes/test-infra`?

[2019-06-04 01:35] yohanswanepoel commented on #1609
I have the same issue on on Fedora with OCP 4.1

odo version
odo v1.0.0-beta2 (242f0979)

Server: https://api.crc.testing:6443
Kubernetes: v1.13.4+f2cc675

It looks like it is trying to run rsync in the container but that does not exist in the image.

odo push
 ✓  Checking component
 ✓  Checking component version
 ◒  Applying component settings to component: httpd-ptnm ✓  Checking URL httpd-ptnm

[2019-06-04 10:07] mik-dass opened #1786 "Flake unit test"
[code]
Seems like the output list changes order and thus the error
https://github.com/openshift/odo/pull/1779#issuecomment-498612277

[2019-06-04 11:56] kadel commented on #1638
It looks like this should be resolved. The Bugzilla issue was closed

[2019-06-04 12:15] #1707 closed

[2019-06-04 13:04] amitkrout commented on #1786
Thanks for creating the issue. I have also observed it sometime
/area testing

[2019-06-04 15:05] #1786 closed

[2019-06-04 15:05] cdrage commented on #1769
Sorry @amitkrout I think that we have a consensus. I'm going to close this for now, we 100% need to keep `make test-e2e`.

[2019-06-04 15:05] #1769 closed

[2019-06-04 15:16] cdrage commented on #1609
So with regards to the Windows output, that's been fixed.

I'll investigate this. It's either something we need to fix upstream in the `httpd` container, or downstream (not use `rsync`).

Either way, I'll take this up :+1:

[2019-06-04 15:26] cdrage commented on #1609
Opened up an issue upstream, let's see what happens: https://github.com/sclorg/httpd-container/issues/78

[2019-06-04 16:32] danielhelfand commented on #1648
Something that I have noticed that may be related to this is that running `odo url create` after an initial push results in the following:

[code]

So the  `◑  Applying component settings to component: frontend` spinner never converts to a  ✓ and it also gets stuck on the same line as `✓  Checking URL frontend` and `✓  Successfully created URL for component: frontend`.

To reproduce this, run:

`o

[2019-06-04 19:02] cdrage opened #1788 "Don't rebuild if only changing URL / detect change in source code."
[kind/Enhancement]

## Which functionality do you think we should update/improve?

We should implement a way to make changes to the component without rebuilding.

For example, when we create a url and then run `odo push`, we shouldn't have to rebuild the component.

## Why is this needed?

Saves development time as well as not requiring the component to be rebuilt again.

[2019-06-04 19:02] cdrage commented on #1648
@jorgemoralespou That is something we need to implement that would be outside of the scope of these changes.

I've opened up the issue here: https://github.com/openshift/odo/issues/1788

[2019-06-04 19:03] cdrage commented on #1648
@danielhelfand That's also fixed in PR: https://github.com/openshift/odo/pull/1774

[2019-06-04 20:51] dgolovin commented on #1602
Workaround for this is
[code]
even if odo was not executed before on current machine, it will create ~/.odo first, then create service.

[2019-06-04 22:57] #1676 closed

[2019-06-05 05:40] mik-dass commented on #1756
@jankleinert https://github.com/openshift/odo/pull/1764 is in. Can you please confirm that the issue is resolved? Thanks.

[2019-06-05 05:54] amitkrout commented on #1638
Closing the issue as it has been fixed in https://bugzilla.redhat.com/show_bug.cgi?id=1694878

[2019-06-05 05:54] #1638 closed

[2019-06-05 10:05] kadel commented on #1788
How are we going to detect if the rebuild is needed or not?

[2019-06-05 11:27] kadel commented on #1663
/project test-project

[2019-06-05 11:29] kadel commented on #1663
/project testproject

[2019-06-05 11:30] kadel commented on #1663
/project testproject test

[2019-06-05 11:31] kadel commented on #1663
@mohammedzee1000 It looks like that it can't handle even dashes in a name.
I've created the project `test-project` -  it didn't work. Then I renamed it to `testproject` and it worked

[2019-06-05 14:06] kadel commented on #1756
@mik-dass if you verified that PR fixed this issue then you can close it. No need to wait for confirmation. If Jen or someone else finds that it was not fixed correctly we can always reopen the issue.

[2019-06-05 15:50] jorgemoralespou commented on #1788
There should be a checksum on local files to see if there has been a change, like Git does.

[2019-06-05 15:58] cdrage commented on #1609
So: https://github.com/sclorg/httpd-container/issues/78 just got closed. rsync has been added to the base container.

Not too sure if this happens *immediately* or happens in the next release of OpenShift, but the issue will be resolved soon :+1:

[2019-06-06 05:44] dgolovin opened #1790 "Export context folder from deployed odo component created with previous release"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
There should be command to create context folder based on deployed component.

## Why is this needed?
For binary and git components created with previous odo releases there would be no context folder. That means there would be no straightforward way to work with those components.

[2019-06-06 05:59] mohammedzee1000 commented on #1663
@kadel @stevekuznetsov ^

[2019-06-06 06:55] mohammedzee1000 commented on #1663
/project clear testproject

[2019-06-06 07:00] mohammedzee1000 commented on #1663
Strange this is also something strange, you are able to add, but im not. I can manipulate milestone though
/milestone 1.0

[2019-06-06 07:01] mohammedzee1000 commented on #1663
Ok the team id is same but team indicated is different o_O

[2019-06-06 07:04] mohammedzee1000 commented on #1663
https://github.com/openshift/release/blob/master/cluster/ci/config/prow/plugins.yaml#L774-L785
How is there so much diff in behavior?

[2019-06-06 07:21] dharmit opened #1791 "odo config set should work without an active connection with the OpenShift cluster"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
This is a spin-off from https://github.com/openshift/odo/pull/1758#discussion_r290252753.

Like `odo config view`, `odo config set` should be doable without an active connection with the OpenShift cluster. Config values should be changed in `.odo/config.yml` and a connection to the cluster should be required only whe

[2019-06-06 10:33] dharmit commented on #1430
I'm trying to reproduce this using the video uploaded earlier. However, I'm facing a few issues:
- I'm being forced to install `odo v0.0.20` by vscode-openshift-tools in spite of having `odo v1.0.0-beta2` in `~/bin/` which is included in `$PATH`.
- There are more options for `fuse` than those in the video so I chose `fuse redhat720` based on the project tree mentioned in issue https://github.com/j

[2019-06-06 13:06] kadel commented on #1587
@dgolovin I'll look into that next.

There is one slight complication for you. The deployed component doesn't have to have the source code in the local machine. It could be deleted, or deployed by someone else or from another computer.

[2019-06-06 13:29] kadel commented on #1788
I don't know how exactly git does it.

The first simple solution that I can think of would be:

1) compute the checksum for each file in the component directory (skip ignored files)
2) store checksums somewhere in the cluster when the component is pushed
3) do 1) before each push, and compare it with the checksums store on the cluster.

Don't know how fast hash functions like SHA-1 are but I'm afr

[2019-06-06 13:57] kadel commented on #1788
Did quick benchmark with sha-1
It took about 2s to compute the checksum for every file in odo codebase (27327 files).

[2019-06-06 14:02] jorgemoralespou commented on #1788
Yeah, I would think that how git does things is a good way, and AFAIK they don't compute the whole SHA or whatever. Also, maybe they do that behind the scenes, when a file timestamp is changed only.
In any case, I would not store that on the cluster but only locally.

Maybe there's libraries that help, like:
- https://github.com/spf13/afero
Or use git's techniques:
- https://stackoverflow.com/a/40

[2019-06-06 14:08] kadel commented on #1678
proposal: https://docs.google.com/document/u/1/d/1LDtJEuyfh7QLZPtgpojHTLOK2qXVdjZPgzt1vOHvWqg/edit

[2019-06-06 16:11] stevekuznetsov commented on #1663
Neither of those teams exist, I don't know how you configured them -- the team that _does_ exist is `odo-maintainers-1` https://github.com/orgs/openshift/teams/odo-maintainers-1

[2019-06-06 17:12] #1648 closed

[2019-06-06 18:03] cdrage commented on #1702
I'm going to close this for now as we're unable to replicate. If it's still an issue, can you please re-open this @theRemix ? Thanks!

[2019-06-06 18:03] #1702 closed

[2019-06-06 18:06] cdrage commented on #1655
I'm going to close this for now @jankleinert as we're unable to replicate this.

Please re-open this if you still have the issue :+1:

[2019-06-06 18:06] #1655 closed

[2019-06-07 05:42] mohammedzee1000 commented on #1663
I got the ID from github api
https://github.com/openshift/release/pull/3731#issue-277386518

[2019-06-07 07:45] kadel commented on #1790
You should be able to just do `odo component create java component-name --project project --app application` in the directory with the source code and use component-name project and application of the already existing component. If I recall correctly `odo` is not validating names during the component creation so this should work.

[2019-06-07 07:45] kadel commented on #1791
/kind bug
/priority medium
/milestone 1.0

[2019-06-07 07:52] kadel commented on #1788
OK, let's look into this deeper. This is probably something that we would want for 1.0

/milestone 1.0

/kind Enhancement
/priority medium

There already is a similar issue https://github.com/openshift/odo/issues/1488. I'll close #1488 in favor of this one.

[2019-06-07 07:52] kadel commented on #1488
closing in favor of https://github.com/openshift/odo/issues/1788

[2019-06-07 08:01] kadel opened #1793 "use "referenceOwner" for all resources related to component"
All resources created by odo, should have "referenceOwner" that points to the main component "DC".
This will ensure that if DC is removed from the console, oc, or any other mechanism not controlled by odo, the rest of the resources, like PVC, Service, Route etc..  is garbage collected by the platform.

/priority medium
/milestone 1.0

[2019-06-07 08:13] kadel commented on #1793
/milestone 1.0
/priority medium

[2019-06-07 08:25] kadel commented on #512
Closing this one.

- We really need some kind of persistent storage to store source code. No way around that.
- No volume is used for git components.
- created https://github.com/openshift/odo/issues/1793 to add "refereneOwner"

[2019-06-07 08:25] #512 closed

[2019-06-07 08:31] kadel commented on #1777
It makes sense to have this configurable, I agree. I remember that we discussed this already somewhere, but can't find the issue :-(

We need to figure out how to do this properly. This is something that should be hidden for normal uses. Most of the users won't care about this, and they shouldn't even need to know that there is PVC. Or what PVC is.

We might put this as `odo preference` option. Th

[2019-06-07 08:57] jorgemoralespou commented on #1777
One aspect that might be important, given that in Online environments PVCs are expensive, could be to have a shared PVC for all the odo pods, although that would only work with RWX type of PVCs, which is not what most Online platforms provide, which typically is Block.

This is going to be a limiting factor for the future, and some alternatives should need to be looked at moving forward, as we mov

[2019-06-07 09:03] jorgemoralespou commented on #1777
Related to the name, AFAIK, the name is for the PVC which is a Kubernetes object, but the name for the underlying storage being provisioned by the storage platform is not dictated in any way and assigned by the storage platform itself (I might be wrong). I just tested this on one of my clusters and while the PVC hadd `<component-name>-<app-name>-s2idata` as name, the PV had something like `pvc-153

[2019-06-07 09:07] jorgemoralespou commented on #1790
We should not support backwards compatibility for this, as the context folder was introduced before beta. As @kadel mentions, if a component was created by a previous version of odo, you could still create the context folder that way.

[2019-06-07 09:47] dharmit commented on #1678
- Support for Kubernetes makes sense as OpenShift is a distro of Kubernetes. But why do we need to support Knative?
- Are there any examples (GH issues, maybe?) of the race conditions we face at the moment?

[2019-06-07 10:54] dharmit commented on #1213
I'm not able to reproduce this one. Looking at the [OpenShift docs](https://docs.openshift.com/container-platform/3.11/architecture/networking/routes.html#overview), I do see the 63 character limit:

But following the steps mentioned above, I managed to create a URL and shoot some beer bottles!

[code]

[2019-06-07 12:01] jorgemoralespou commented on #1213
@dharmit The 63 character length limit is on the route name, so only on `fronted-8080-app-intro-workshop-ffdba71e1aac11e9b95c`. You need to create a longer component name and app name for this to show up-

[2019-06-07 12:36] kadel commented on #1430
the best way to reproduce this might be to actually try to lower that timeout and see if you can get the same error

[2019-06-07 12:56] dharmit commented on #1213
Yes, that's the case:

[code]

[2019-06-07 16:00] danielhelfand opened #1794 "odo Error Message When Image Does Not Expose a Port"
[kind/bug]

I added a golang component to my OpenShift service catalog and was trying to deploy a simple golang app using `odo`. When trying to do an `odo push`, I got the following error message, which can be seen in full below: `Error: Service "hello-app" is invalid: spec.ports: Required value unable to create Service for hello-app`.

This occurs when the image being used does not have an expose

[2019-06-07 17:15] cdrage commented on #1794
We need to have detection of what port(s) are available with the image and be able to specify a port (as well as publish one by default)

I opened up issue #1772 regarding a similar issue.

Thanks for opening this issue up.

[2019-06-07 18:09] dgolovin commented on #1790
@jorgemoralespou I am not asking backward compatibility, I am asking for the way out for developers, if any, who is using git and binary components. If we would just release odo-1.0.0 with vscode now all those component would not be usable without context folder. What @kadel suggested is basically 'do it again' for all git/binary components deployed. Would be much easier with 'odo import' to recon

[2019-06-07 18:12] dgolovin commented on #1790
@kadel

What would happen for components with URLs, storage and links if after I use just `odo create` and then push it?

[2019-06-07 18:47] #1766 closed

[2019-06-07 21:31] geoberle commented on #1777
You are right. Kubernetes does not enforce a specific PV name depending on the PVCs name. Bu it’s up to he storage provider o pick the name for a dynamically provisioned PV. In case of https://github.com/NetApp/trident the PVCs name influences the PV name and that influences the name of the backing storage, which is length limited. To be honest I’m not aware of any other storage backend doing got

[2019-06-10 12:33] girishramnani commented on #1756
this issue was resolved and locally verified

[2019-06-10 12:33] #1756 closed

[2019-06-10 12:44] girishramnani commented on #1706
Travis CI doesn't allow what we currently want to run our env. so closing this issue

[2019-06-10 12:44] #1706 closed

[2019-06-10 13:03] girishramnani commented on #1720
@dgolovin are you using any of the commands we are planning to remove in this issue?

[2019-06-10 13:12] mohammedzee1000 opened #1799 "Prepare for setup assigned OpenStack Clusters for use by the team"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
We have recently been assigned a set of OpenStack resources internally
cluster information will be present in https://docs.google.com/document/d/1CryQefJbS317xAwZcF48jsSNpQuSMYd_E4p0Y9Rdm-8/edit?usp=sharing

### Acceptance Criteria

- [ ] Getting a service account (Optional for CI, not needed for manual testing as lo

[2019-06-10 13:13] kadel commented on #1770
`[odo]  ✗  Failed to create component with name cmp-git. Please use `odo config view` to view settings used to create component. Error: imagestreams.image.openshift.io "cmp-git-testing" is forbidden: unable to create new content in namespace tkxaqdjmyn because it is being terminated
`

This looks like some old race condition. Haven't seen any test failing on this in the last 2 weeks. It looks it m

[2019-06-10 14:38] #1646 closed

[2019-06-10 15:42] cdrage commented on #1775
I have closed this in: https://github.com/openshift/odo/pull/1774

We now have an indicator of what's happening / no more "pausing"

[2019-06-10 15:42] #1775 closed

[2019-06-10 16:08] cdrage opened #1800 "Odd help output when typing in wrong command."
[kind/Documentation]

## What did you find missing in the documentation?

Weird documentation when using help and typing in the wrong command:

[code]

## What is the relevance of it?

It's confusing and not very helpful.

[2019-06-10 16:18] cdrage opened #1801 "Autocompletion support is lacking documentation"
[kind/Documentation]

## What did you find missing in the documentation?

When using --complete:

[code]

I *literally* have no idea where it's installed, how it's installed and whether it supports bash or zsh. (hint: it doesn't..)

## What is the relevance of it?

Need to add more documentation to indicate to the user what's happening.

[2019-06-10 22:15] jorgemoralespou commented on #1726
@cdrage I think @kadel mentioned that this PR didn't close this issue. Was it closed by accident?

[2019-06-11 08:26] dgolovin commented on #1720
@girishramnani We are using all of it except last one. See all command we use [here](https://github.com/redhat-developer/vscode-openshift-tools/blob/de457dd41039229765db2d612268619199e684c5/src/odo.ts#L57).

[2019-06-11 08:34] dgolovin commented on #1587
@kadel I understand this and ready to deal with it.

Would be easier for me if deployed components would have annotation to save context path, so it would be easy to understand if it is present on users local machine or not. Now I have always search for component using project/application/component names.

[2019-06-11 08:43] amitkrout opened #1803 "Inconsistency in odo command exit code"
[kind/bug]

## What versions of software are you using?
- Operating System: All supported platform
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
Inconsistent exit code

## Expected behavior
Exit code should be consistent through out the odo command/sub-command execution. For example:

On a fresh cluster ```odo app describe test``` returns 0 (graceful

[2019-06-11 08:43] amitkrout commented on #1803
ping @kadel

[2019-06-11 09:04] kadel commented on #1726
This shouldn't be closed.

[2019-06-11 09:08] kadel commented on #1587
We used to save it as an annotation. We don' do that anymore, as it creates another more issues. For example, the user might move the source code to a different location, or it might be pushed from a different machine.

[2019-06-11 09:33] dharmit commented on #1780
Issue description is really clear in this case! For example: https://github.com/openshift/odo/blob/009f9d7e775caef0dc63d2a361f2eeb423398a05/Makefile#L106-L109

has the name `test-cmp-e2e` but lives under `tests/integration` directory. There are many such tests with `e2e` in their name but living under `test/integration` dir.

[2019-06-11 09:56] kadel commented on #1213
Rather than adding some complicated formatting option, I would just simply impose a character limit on the autogenerated url names.
If the limit is 63, and the generated name is longer than 63 characters just cut it down to 63.

I wouldn't worry about collisions. If there is a collision user can just simply name the url - `odo url create myurl`

[2019-06-11 10:11] jorgemoralespou commented on #1213
I would just advice when creating the url that is too long and will be truncated and that if the user wants a specific url, to provide a name, also with a confirmation in case of a it'll too long, so that it can be fixed sooner, rather than having to delete the url and create a new (shorter) one.

[2019-06-11 10:12] dharmit commented on #1780
/label state/Ready
/remove-label "state/In Analysis"

[2019-06-11 11:56] kadel commented on #1780
/label state/Ready
/remove-label "state/In Analysis"

[2019-06-11 11:57] kadel commented on #1803
If commands results in error, return code needs to be non-zero.

[2019-06-11 12:08] dharmit commented on #1780
The bot's on a PTO, maybe? :thinking:

[2019-06-11 12:19] kadel opened #1805 "optimize component.Exists"
The function is currently using `component.List` which can be expensive.

This function needs to be optimized so it doesn't require to list all components. The check should be done using just one single api call.

[2019-06-11 13:06] cdrage opened #1806 "Template scripts for unit tests"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

We should add scripts to generate unit tests from a template (preferably bash file or linked into Makefile)

## Why is this needed?

Write tests faster ;)

[2019-06-11 13:19] dharmit commented on #1213
So, I'm on `master` and trying to create a URL for a component that's got a really long name. Pretty much like what I did in https://github.com/openshift/odo/issues/1213#issuecomment-499874218. But now the error shows up when creating a URL, i.e., it doesn't let you create a URL when the component name is too long. In fact, it doesn't let you create a component name that's longer than 63 character

[2019-06-11 14:14] girishramnani commented on #1720
@dgolovin so I can see that you are using `odo project create` and `odo project set` but once the plugin uses new odo workflow then I think these commands won’t be needed by the plugin, is my assumption correct?
cc @kadel

[2019-06-11 15:37] dgolovin commented on #1720
@girishramnani how would we create project when 'odo project create' is removed? I have no concerns about removing 'project set', than was used as workaround for possible issues.

[2019-06-11 15:51] cdrage opened #1808 "When creating a service, it searches other namespaces..."
[kind/bug]

## What versions of software are you using?
- Operating System: Linux
- Output of `odo version`: master branch

## How did you run odo exactly?

To reproduce:

[code]

## Actual behavior

Searching in the namespace `foo` even though we're on the `foobar` project

## Expected behavior

Not to error out / use `foobar`

## Any logs, error output, etc?

[code]

[2019-06-11 15:57] ryannix123 commented on #1333
@jorgemoralespou Did this ever get added to do? I'm looking through the help and I didn't see anything that let's me specify my git credentials.

[2019-06-11 16:17] jorgemoralespou commented on #1333
@ryannix123 no. @kadel can give your more information on priorities. I'm an external contributor to the project.

[2019-06-11 17:49] cdrage commented on #1808
Nevermind.

This issue was caused by my configuration being messed up. Showed `foo` namespace still.

Closing.

[2019-06-11 17:49] #1808 closed

[2019-06-12 07:48] kadel commented on #1333
@ryannix123 no it was not implemented yet. We are currently focusing on bug fixing and improving build and reload process for local components.
This is something that we will probably look into after 1.0 release

[2019-06-12 07:53] kadel commented on #1720
@dgolovin
It would work similarly to applications. The project will be created with the component.

@girishramnani
We need to think about all the consequences and of this.
What if the user needs to first create service and then component?
I think that currently `odo service create` requires an existing project.

cc @jorgemoralespou

[2019-06-12 07:58] kadel opened #1810 "service create shouldn't require existing component"
[code]

It should be possible to create a service without the odo component.

 - `odo service create mysql` outside component  directory should error out and inform user that `--project` and `--app` flags are required. `--project` is not necessary if set in `KUBECONFIG`
 - `odo service create` is missing `--context` flag
 - `odo service create mysql --app myapp` - is valid command outside of the c

[2019-06-12 07:58] kadel commented on #1810
/kind bug
/priority medium
/milestone 1.0

[2019-06-12 08:39] mohammedzee1000 commented on #1799
Gathering information for setting things up (dynamically updated, private information, if any will be in the doc linked)

## Openshift Clusters on Openstack

### Ansible route (<=3.11)

#### Preparing nodes:
https://github.com/openshift/openshift-ansible-contrib/tree/master/playbooks/provisioning/openstack

#### Cluster setup

Use well known openshift-ansible

### Installer route (>=4.0)

#### Nod

[2019-06-12 09:16] amitkrout commented on #1628
Similar scenario is covered in ```generic```,  ```java``` and ```json``` test file. None of the time the issue is hit in each pr run since it was last reproduce. Probably #1633 fixed this flake.

Lets take a call in sprint planning meeting for the next action.

[2019-06-12 09:33] mik-dass commented on #1788
I was looking into git indexing. Here's what I found
https://github.com/git/git/blob/master/Documentation/technical/index-format.txt
https://stackoverflow.com/questions/4084921/what-does-the-git-index-contain-exactly

[2019-06-12 09:35] surajnarwade commented on #1584
@kadel , as you mentioned `Application` column here, for uniformity, I think it will be good to add this column to `odo list` and `odo list --path` also

[2019-06-12 09:39] #1587 closed

[2019-06-12 09:41] kadel commented on #1481
/milestone 1.0

[2019-06-12 09:41] mik-dass opened #1811 "Wrong values reported in time intervals"
https://travis-ci.com/openshift/odo/jobs/207361276#L1442

The value reported is `2562047h47m16.854775807s` which is equivalent to `292.4711187` years

[2019-06-12 09:42] kadel commented on #1791
/priority high
/remove-priority medium

[2019-06-12 09:47] kadel commented on #1213
This issue was open a while back, so it is possible that some of the issues were resolved.

I can still see one problem:
[code]

We need to add a check for length to `odo url create` before we actually try to create the route.

[2019-06-12 09:50] kadel commented on #1698
The first step should be uncommenting commented tests and running it a couple of times to see if the issue is still there. If yes, then try to debug what is happening there.

[2019-06-12 09:52] kadel commented on #1799
Does this mean that we will have two static clusters (one 3.11, and one 4.x)? That would be great!

[2019-06-12 09:54] kadel commented on #1782
/priority medium

[2019-06-12 09:55] kadel commented on #1739
/priority high

[2019-06-12 09:57] kadel commented on #1770
/close

[2019-06-12 09:57] #1770 closed

[2019-06-12 09:59] kadel commented on #1800
/milestone 1.0

[2019-06-12 10:00] kadel commented on #1811
@cdrage can please you look into it?

/kind bug
/priority medium

[2019-06-12 10:02] kadel commented on #1776
This should be solved together with other commands as part of  #1588

[2019-06-12 10:03] kadel commented on #1588
`odo url create` is one of the commands that shouldn't require connection to the cluster

from #1776  (Unable to add url to local config if not connected to cluster)

`odo url create` doesn't need to communicate with the cluster. It needs to work even if user is not logged in or the cluster is not reachable.

[code]

[2019-06-12 10:04] kadel commented on #1588
Before jumping into the coding, let's create two lists of the commands. One with all the commands that require cluster connection, other for all the commands that don't need a cluster.

[2019-06-12 10:05] kadel commented on #1776
/close

in favor of systematic fix for all the commands in https://github.com/openshift/odo/issues/1588

[2019-06-12 10:05] #1776 closed

[2019-06-12 10:06] kadel commented on #1788
/size XL

[2019-06-12 10:10] kadel commented on #1788
/label size/XL

[2019-06-12 10:41] kadel commented on #1788
/label size/XL

[2019-06-12 10:42] kadel commented on #1788
/label "size/XL"

[2019-06-12 10:47] kadel commented on #1788
/priority high
/remove-priority medium

[2019-06-12 10:47] dharmit commented on #1213
Does this make sense to prevent user from doing so:
[code]
Tangential question: shouln't `odo url create` work without having an active connection with the OpenShift cluster? :thinking:

[2019-06-12 10:54] kadel commented on #1720
/priority medium

[2019-06-12 10:54] kadel commented on #1594
/priority high

[2019-06-12 11:23] kadel commented on #1213
that looks good

Yes, it should, there is nothing that we need from the cluster.

[2019-06-12 11:26] dharmit opened #1813 ""odo url create" should work without an active connection with the OpenShift cluster"
Yes, it should, there is nothing that we need from the cluster.

_Originally posted by @kadel in https://github.com/openshift/odo/issues/1213#issuecomment-501231074_

[2019-06-12 11:28] dharmit commented on #1213
I'll open a PR and add an integration test to it.

#1813

[2019-06-12 11:31] kadel commented on #1813
/close

this is already covered in https://github.com/openshift/odo/issues/1588#issuecomment-501206443

[2019-06-12 11:31] #1813 closed

[2019-06-12 11:47] surajnarwade commented on #1481
we can simply use  list of `urlSpec`in place of []string in URL

[code]

[2019-06-12 11:53] surajnarwade commented on #1739
if we want single project json, we can use `odo project get`

[2019-06-12 12:07] kadel commented on #1663
/remove-priority high
/priority low

[2019-06-12 12:07] surajnarwade commented on #1772
I agree :100:  with @kadel

[2019-06-12 12:13] mohammedzee1000 commented on #1663
@stevekuznetsov

[2019-06-12 12:18] kadel commented on #1726
I will start with measuring the time between:
 -  first push and running application
 - push after the file was modified and seeing the change in the application

The values should be recorded somewhere so we can track it in time.

[2019-06-12 12:32] surajnarwade commented on #1772
if there's no port available in builder image, error out at the time of `odo create` and ask user to provide `--port`

[2019-06-12 12:43] girishramnani commented on #1628
Closing this bug as it is being reproduced

[2019-06-12 12:43] #1628 closed

[2019-06-12 12:52] kadel commented on #1791
/close
in favor of systematic fix https://github.com/openshift/odo/issues/1588

[2019-06-12 12:52] #1791 closed

[2019-06-12 12:53] kadel commented on #1588
/label points/3

[2019-06-12 12:53] kadel commented on #1588
/label "points/3"

[2019-06-12 13:11] #1558 closed

[2019-06-12 13:24] kadel commented on #1718
blocked on #1588

[2019-06-12 13:24] kadel commented on #1718
/label status/blocked

[2019-06-12 14:14] kadel commented on #1726
/label "priority/Low"

[2019-06-12 14:14] kadel commented on #1726
/priority low

[2019-06-12 14:14] kadel commented on #1726
/remove-label priority/low

[2019-06-12 14:18] kadel commented on #1726
/label  area/licensing

[2019-06-12 14:19] kadel commented on #1726
/label area/dependency

[2019-06-12 14:19] kadel commented on #1726
/area dependency

[2019-06-12 14:27] jorgemoralespou commented on #1720
I'm curious to why a project needs to be part of the component configuration. IMHO a project is tangential to the applications and components the same way as a cluster is. What if in clusterA a user has projectA but in clusterB the user has projectB? Both of this concepts are (and should not be) bound to the component's configruation.

We need to have:
- project create
- project delete
- project s

[2019-06-12 14:42] jorgemoralespou commented on #1788
Another tools/libraries to consider for this task:
- https://github.com/syncthing/syncthing
- https://github.com/src-d/go-git

[2019-06-12 14:56] jorgemoralespou commented on #1810
See my comments here: https://github.com/openshift/odo/issues/1720#issuecomment-501298613

[2019-06-12 15:03] kadel commented on #1720
If we don't store the project in a component configuration than how is it going to work if user switches between two component each of them in a different project?
Example:
I have component1 that I want to be in a project1
I have component2 that I want to be in project2

Currently, it works like this.
[code]

If we don't store project information in a local configuration.

[code]

I'm lost :-( Are

[2019-06-12 15:22] jorgemoralespou commented on #1720
@kadel, I see the problem. I think at some point we discussed having an additional configuration file (something like config.local) where this information should be stored, but that the file should be prevented to be stored in git, and hence shared.
I'm guessing that we lost this local configuration at some point in time. In the odo-workflow original document I see some config values marked as `EP

[2019-06-12 17:43] cdrage commented on #1811
@mik-dass LOL. That shouldn't happen. I'll take this up :+1:

[2019-06-12 17:48] cdrage commented on #1811
@mik-dass I have a feeling it has to do with:

https://github.com/openshift/odo/blob/master/pkg/log/fidget/spinner.go#L125

and the Travis CI environment not reporting the time correctly...

Hopefully it's just a fluke and won't happen again, but I'll do some quick debugging and see how in the world they managed to get such a high value.

[2019-06-12 18:44] cdrage commented on #1588
@kadel

Here's a list:

List of commands that need connection:

 - [ ] `odo component delete`
 - [ ] `odo component link *`
 - [ ] `odo component log`
 - [ ] `odo component push`
 - [ ] `odo component unlink`
 - [ ] `odo component update`
 - [ ] `odo component watch`
 - [ ] `odo component describe` (maybe?)

 - [ ] `odo service *`
 - [ ] `odo project *`
 - [ ] `odo app delete`
 - [ ] `odo login`

[2019-06-12 19:12] cdrage commented on #1354
So with some testing, `odo watch` works perfectly. The problem is indeed `odo push` that doesn't propagate deletions (we don't even have the code added for it).

[code]

(when using `odo watch` in the background)

I'll take this up and implement the new feature for `odo push`.

[2019-06-13 07:24] Preeticp commented on #1466
@kadel  This issue was fixed by a number of doc PRs raised here: https://github.com/openshift/odo/pulls?q=is%3Apr+is%3Aclosed+author%3APreeticp and can be closed.

[2019-06-13 07:27] Preeticp commented on #1578
@kadel, @cdrage if I am not mistaken this was completed and can be closed. If not, is there anything we can help with?

[2019-06-13 09:40] surajnarwade commented on #1773
cc @boczkowska

[2019-06-13 10:41] girishramnani opened #1817 "Refactor occlient package for extensibility"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
The basic idea here is to have an interface package called `odoclient` which can have multiple implementation from which we have one already i.e. `occlient` package.

## Why is this needed?
This functionality is needed to allow extension of `occlient` package for different platforms like kubernetes and knative

[2019-06-13 10:49] girishramnani opened #1818 "Code cleanup of the current occlient package"
- [ ]  Grouping utility functions like
  - Tar
  - makeTar
  - recursiveTar

- [ ] Using params structs for functions which have too many args
- [ ] Even though there is a Namespace parameter in the Client struct there are functions which still accept namespace as an argument e.g. CreateServiceBinding(bindingName string, namespace string)
- [ ] Moving non-client functions to a different file

[2019-06-13 10:57] dharmit commented on #1430
And now, following the video uploaded above, things fail with:
[code]
I don't get why the VS Code extension forces me to use `odo v0.20.0`:
[code]
in spite of having `odo` built from master residing in `~/bin`.

[2019-06-13 10:59] dharmit commented on #1430
I'll manually do an `odo push` to check this instead of using the extension. But would that be good enough to attempt reproducing this issue? @kadel

[2019-06-13 11:29] amitkrout opened #1819 "Improve odo watch integration test"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Only one watch test scenario https://github.com/openshift/odo/blob/master/tests/integration/watch_test.go#L54 has been running since a long period of time. So more scenario can be added using the combination of flags.
[code]

## Why is this needed?

To add more integration test coverage

[2019-06-13 12:25] surajnarwade commented on #1772
### BRAIN-DUMP

* `odo create nodejs` will look for exposed ports in builder image and updates ports section in local config.
* if `odo create nodejs --port 8082` given, it will look for exposed ports in builder image and updates ports section in local config along with port given with `--port`
* if `odo create nodejs` don't find any ports from builder image, we will error out saying, please menti

[2019-06-13 14:59] kadel commented on #1772
I think that this should just overwrite the default port in the image.  So local config has only ports given via `--port` flag

It would be also great if it lists available ports

[2019-06-13 15:00] kadel commented on #1466
/close

thank you @Preeticp

[2019-06-13 15:00] #1466 closed

[2019-06-13 15:46] cdrage commented on #1578
@Preeticp Just keeping this open until I fix the sync script which I haven't gotten around to doing yet. Everything else has been completed however!

[2019-06-13 15:47] cdrage commented on #1578
Actually, I'm going to close this in favour of:
https://github.com/openshift/odo/issues/1679

[2019-06-13 15:47] #1578 closed

[2019-06-14 02:39] surajnarwade commented on #1772
@kadel, what if user is working on both ports ?

sorry I forgot to mention earlier, we are already doing that :smile_cat:

[2019-06-14 10:11] amitkrout opened #1821 "Link display in UX is broken"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`: master

## How did you run odo exactly?
[code]
## Actual behavior
404

## Expected behavior
Should access the link

## Any logs, error output, etc?

[2019-06-14 11:01] mohitsuman commented on #1430
@dharmit The OpenShift Connector currently uses `odo 0.0.20` and will remain so for the latest release as well. As migrating to odo beta requires breaking changes and workflow change too, that work is still in progress. So the install will always prompt to use the functionality of `odo 0.0.20`.

[2019-06-14 11:02] amitkrout opened #1822 "Wrong command is shown in UX"
[kind/bug]

## What versions of software are you using?
- Operating System: All supported
- Output of `odo version`: Using the master branch just before the beta3 cut

## How did you run odo exactly?
[code]
## Actual behavior
[code]
## Expected behavior
If you wish to disable the update notifications, you can disable it by running
**'odo preference set UpdateNotification false'**

## Any logs, err

[2019-06-14 11:18] dharmit commented on #1430
@mohitsuman Yep, I understand that. It's just that for the sake of this case, I'm not able to reproduce the problem @apupier has mentioned. At least not through the CLI.

[2019-06-14 11:21] amitkrout opened #1823 "push failure should report a proper message if --ref flag points to a incorrect branch, tag or commit reference"
[kind/bug]

## What versions of software are you using?
- Operating System: All supported platform
- Output of `odo version`: master

## How did you run odo exactly?
$ odo create perl perl --git https://github.com/openshift/dancer-ex.git --ref notavailable
$ odo push

## Actual behavior
[code]

## Expected behavior
Should report a proper message

## Any logs, error output, etc?

[2019-06-14 11:23] dharmit commented on #1430
@apupier can you please try to follow below steps on CLI and see if the issue is reproducible?

[code]

After `odo push`, you'll see the error about missing `jar` in `/deployments` in the pods logs. And since `supervisord` keeps restarting the failing process, you'll see them multiple times. But after a couple of minutes, once the image build is over, URL should show the code in the repo.

[2019-06-14 12:48] mik-dass commented on #1788
One of the possible ways we can start is to
- keep the modified date of all the files in a local file (like git index)
- during every push, match the modified date of a file to the one stored in the local file
- If the don't match, trigger the build.
- We also update the modified dates in the local file after every push.

We can later improve on the solution and add additional data like computed h

[2019-06-14 14:24] kadel commented on #1811
@cdrage It is not related to TravisCI, I can see it in integrations tests if running on my local machine.
Interestingly if I run `odo` command manually from the terminal, it is ok, but in tests outputs, it is still wrong.

[2019-06-14 16:46] jorgemoralespou commented on #1788
Is it easier to parse compare dates or hashes? Is it possible to get the modified date as floating number rather than as string to be able to compare easier?

What I don't get is the last part of "we also update the modified dates in the local file after every push". You mean reindex the mdate if files have been pushed, else, not modify the index?

We need to think if by introducing incremental ch

[2019-06-14 18:17] amitkrout opened #1825 "push fails if context refer to directory having name only in numbers"
[kind/bug]

## What versions of software are you using?
- Operating System: All supported platform
- Output of `odo version`: master

## How did you run odo exactly?
[code]
## Actual behavior
local config.yaml
[code]

## Expected behavior

local config.yaml

kind: LocalConfig
apiversion: odo.openshift.io/v1alpha1
ComponentSettings:
  Type: php
  SourceLocation: ./
  SourceType: local
  Application

[2019-06-17 05:06] mik-dass commented on #1788
I mean if the user updates the content of a file, the modified date of the file will also change. So we record the modified date in the index file against the filepath.

[2019-06-17 07:49] mik-dass commented on #1811
@cdrage interestingly this weird time interval happens when we enable the `-v` flag. @kadel Since we run the integration tests with the `v` flag enabled, it shows the weird interval in the integration tests. Without the flag it seems to work fine.

[2019-06-17 07:55] kadel commented on #1772
Then they will have to specify both.

This is how it usually works, no? You have a default value for a flag if you specify flag than you are replacing the default value not adding another to it.

[2019-06-17 08:20] mohammedzee1000 commented on #1799
Yes, that is correct. With current limits, we can allocate 40 individual machines, dividing the rest of the resources between them, as needed.

[2019-06-17 08:23] mohammedzee1000 commented on #1799
Semi blocker: https://jira.coreos.com/projects/DPTP/issues/DPTP-406?filter=allopenissues
Required to implement as part of CI, but will not block preparation and research work or even manual usage.

[2019-06-17 09:42] surajnarwade commented on #1772
@kadel ack

[2019-06-17 16:02] kadel commented on #1481
UrlSpec and Protocol in ComponentSpec are two different things.

[2019-06-17 16:16] kadel commented on #1788
### This is a solution of time-based that Anmol proposed a while back:

First push:
1) Walk through the source code and find a file with the latest modification time
2) Store the latest modification time in a component annotation (or somewhere local on the client side) (it is just one value)
3) upload the source code

Next push:
1) Walk through the source code and find a file with the latest modif

[2019-06-17 16:36] jorgemoralespou commented on #1788
I think again that this is why the supervisor should be intelligent and not just a supervisor, as this is the type of information the supervisor could compute / deal with, through it's API.

[2019-06-17 17:41] cdrage commented on #1811
@mik-dass Managed to fix it. The code logic wasn't adding a value to the `time` variable in the struct. Hence the value overflow and it saying it was taking wayyyyy longer than normal haha. Fixed in the PR! https://github.com/openshift/odo/pull/1824

[2019-06-17 19:05] cdrage commented on #1588
@kadel @surajnarwade I went through each of the commands that don't need connection check and found that there we no needed changes...

Let me know what other commands do not need connection checks?

[2019-06-17 19:56] cdrage commented on #1354
Update:

This issue relates to https://github.com/openshift/odo/issues/1788 and further discussion will take place there... We need a solution to detect what files have been changed and what hasn't.

[2019-06-17 19:59] cdrage commented on #1788
I'm roping in issue: https://github.com/openshift/odo/issues/1354 in here as well..

I am looking at implementing the checksum approach as it would be needed to detect the differences in issue: https://github.com/openshift/odo/issues/1354 for what files have been deleted (or modified) and what files have not...

There is a trade in this..

Initially, the first `odo push` would take longer as it wo

[2019-06-17 20:08] jorgemoralespou commented on #1788
Why not compute the checksums before doing a push, e.g. when doing an `odo component create`, or as a background task that is initiated on some commands, so that when doing the push, the first checksums are already there?

git does it when you do `git init` AFAIK.

[2019-06-18 07:56] girishramnani commented on #1788
Yeah checksum of the directory could work but we have to consider cases like ignoring the .git folder and similar such directories which affects the checksum even if the files dont change.
And I don't think we should store this checksum in config.yaml, maybe a state file which isn't meant to be checked in like `odo.state` in the .odo dir.

[2019-06-18 08:00] girishramnani commented on #1788
There is an issue https://github.com/openshift/odo/issues/1354 i.e. file deletion propagation for odo push which needs to be considered while we try to solve this problem

[2019-06-18 08:04] girishramnani commented on #1788
While the checksum will help to detect that deletion happened or not, it wont give us the files that were delete or changed. Hence we need to
- take this checksum as a circuit breaker to decide that `was there ever a change`
- if yes then have a solution to find the changed state of the directory ( which essentially solves https://github.com/openshift/odo/issues/1354 )

But it's also possible that

[2019-06-18 08:08] girishramnani commented on #1354
If we think about this problem, it can be considered as passive file change monitoring. We cannot have a watch on our directory like we did for odo watch. Which means there are two approaches we can consider
1 - have a state local which helps us detect the change
2 - compare the remote files with local files and sync the differences ( like rsync )

[2019-06-18 08:34] kadel commented on #1788
@jorgemoralespou

If we implement tracking changes in supervisor it will require to do full push each time. Each time `odo push` is run we will have to upload all source code. And on top of that, there still will be an issue with deleting files. We will have to still somehow compare container and local directory.

### This is probably the first thing that we need to agree on.

**`odo push` uploadi

[2019-06-18 08:57] kadel commented on #1825
This is inconsistent behavior that needs to be fixed.

Running `odo create` commands using the same directory `test` results in a different naming schema if `--context` flag is specifed with path.

[code]

This needs to be unified.

[2019-06-18 09:00] girishramnani commented on #1788
We would be storing alot of metadata if we store the checksums of all the files

[2019-06-18 09:02] girishramnani commented on #1788
but if we think about this as a git repo which only stores the one previous commit then it might not be that much data.

[2019-06-18 09:06] kadel commented on #1588
List looks good.

[2019-06-18 09:49] kadel commented on #1488
/close

[2019-06-18 09:50] #1488 closed

[2019-06-18 09:52] amitkrout opened #1832 "[Flake] push fails followed by push --config and then URL creation"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`: master

## How did you run odo exactly?
Check ```Any logs, error output, etc?``` tab

## Actual behavior
Push fails

## Expected behavior
Push should pass

## Any logs, error output, etc?
[code]

[2019-06-18 09:55] amitkrout commented on #1832
ping @kadel @mik-dass

[2019-06-18 09:59] kadel commented on #1788
Is there another way how we can do achieve this?

What is the source code is not a git repo?
Even if we say that source code has to be a git repo, then it is not going to help us. Users still want to see changes before they are committed. This is the whole point of the inner loop. There is no way to track changes that that are not staged or committed using git.

[2019-06-18 10:23] #1213 closed

[2019-06-18 11:02] mik-dass commented on #1788
@girishramnani @kadel @jorgemoralespou How about we start by storing only the modified date of the files retrieved by golang implementation of the `stat` command? We also will keep in mind #1354 while building the solution. We can validate the process and then later add other details like check sums and others to the local storage file. WDYT?

[2019-06-18 11:20] jorgemoralespou commented on #1788
@kadel If you think about how Git works, I think this should/could be pretty similar, with some caveats/differences.

We can treat the component filesystem as a Git repository, and when a user does "odo push" we would stage all the files/changes to the .odo/.local-storage and push that to the container, acting as a remote.
One benefit of using Git type filesystem/libraries is that we only push dif

[2019-06-18 11:35] amitkrout commented on #1698
No such failure is observed since 6 days the java test was uncommented.

Closing the issue for now. Will reopen the issue if it hits again in future.

[2019-06-18 11:35] #1698 closed

[2019-06-18 12:35] surajnarwade opened #1834 "odo forgets environment variable while second push"
[kind/bug]

## What versions of software are you using?
- Operating System: :penguin:
- Output of `odo version`: `odo v1.0.0-beta3 (HEAD)`

## How did you run odo exactly?

[code]

## Actual behavior

After second `odo push`, env variable is not there in DC

## Expected behavior

After second `odo push`, env variable should be there in DC

## Any logs, error output, etc?

[2019-06-18 12:35] danielhelfand opened #1835 "Warning Message to Update Version to v1.0.0-beta3 Not Suppressed"
[kind/bug]

When using `odo v1.0.0-beta2 (242f0979)`, the following message appears to warn of a version update:

[code]

Running `odo config set UpdateNotification false` does not suppress the error message moving forward.

This makes me wonder if the warning message about new versions should be the default. Maybe it would make sense to have the user opt in to receiving warning messages about ver

[2019-06-18 12:41] kadel commented on #1834
Let's start with writing tests that will replicate this, and then implement the fix.

[2019-06-18 12:53] surajnarwade commented on #1834
/assign @amitkrout

[2019-06-18 12:59] girishramnani commented on #1788
its about thinking from that perspective, a git repo with just a single commit has enough state to provide a difference so we can follow a similar approach, its just a git repo generates alot of metadata distributed among multiple files which we dont want.

[2019-06-18 13:26] amitkrout commented on #1835
@danielhelfand There is a typo in UX you are seeing. Instead of ```odo config set UpdateNotification false``` it should be ```odo preference set UpdateNotification false```

I have already created an issue #1822 to fix the UX.

So closing the issue as it is being tracked in #1822

[2019-06-18 13:26] #1835 closed

[2019-06-18 13:36] jorgemoralespou commented on #1788
@girishramnani If that's transparently managed by a well tested library, why would it be a problem?

[2019-06-18 13:41] danielhelfand commented on #1835
@amitkrout Thanks for the clarification!

[2019-06-18 14:06] girishramnani commented on #1788
currently the team is leaning towards following approach that is being followed by `oc rsync` with use of https://github.com/Redundancy/go-sync instead of rsync binary but @surajnarwade and @mik-dass are researching the approach

[2019-06-18 14:14] kadel commented on #1834
/unassign @amitkrout

[2019-06-19 07:11] mik-dass commented on #1788
rsync implementation in origin
https://github.com/openshift/origin/blob/c1b9e450edc8b427cddd33bd0d9fce22cf658541/staging/src/github.com/openshift/oc/pkg/cli/rsync/rsync.go#L154

Requirements of rsync : https://docs.openshift.com/container-platform/3.9/dev_guide/copy_files_to_container.html#copying-requirements

It states
[code]

[2019-06-19 07:17] amitkrout opened #1836 "odo logout fails with error of the current directory does not represent an odo component"
[kind/bug]

## What versions of software are you using?
- Operating System: I tested it on macOS.
- Output of `odo version`: master

## How did you run odo exactly?
[code]
## Actual behavior
Fails

## Expected behavior
Should successfully logout

## Any logs, error output, etc?

[2019-06-19 07:17] amitkrout commented on #1836
ping @cdrage

[2019-06-19 08:57] amitkrout commented on #1836
@kadel If the fix is less complex then can you add this to the current sprint

[2019-06-19 09:00] kadel commented on #1788
Could we use Go rsync library like https://github.com/Redundancy/go-sync to avoid local rsync requirement?

How is `oc` managing communication between local and remote rsync? Any port forwarding involved?

[2019-06-19 09:02] surajnarwade commented on #1788
let's break problem into 2 parts:

1. propagate deleted files

(`oc rsync` has `--delete` flag which also works with tar strategy which we are also using)

2. copying only changed files

(as @mik-dass  mentioned)

[2019-06-19 09:23] amitkrout opened #1838 "service list does not work outside of component dir"
[kind/bug]

## What versions of software are you using?
- Operating System: All supported platform
- Output of `odo version`: master

## How did you run odo exactly?
[code]
## Actual behavior
[code]

## Expected behavior
[code]
## Any logs, error output, etc?

[2019-06-19 10:44] kadel commented on #1780
This should be also updated in  https://github.com/openshift/release

[2019-06-19 11:02] mik-dass commented on #1788
There are 4 strategies used for copy: `rsync, tar, default, rsync-daemon`

https://github.com/openshift/origin/blob/master/staging/src/github.com/openshift/oc/pkg/cli/rsync/copy_rsyncd.go

It seems port forwarding is done is the `rsync-daemon` copy strategy. Here's the start, end and check scripts for the daemon.

https://github.com/openshift/origin/blob/c1b9e450edc8b427cddd33bd0d9fce22cf658541/st

[2019-06-19 11:04] mik-dass commented on #1788
The library seems in a non maintained state (stated in the description too) and the latest commit is approx 3 years old.

[2019-06-19 11:52] jorgemoralespou commented on #1788
[Okteto](https://github.com/okteto/okteto) uses [Syncthing](https://github.com/syncthing/syncthing) library, which seems very smart and well maintained.

[2019-06-19 11:53] #1730 closed

[2019-06-19 12:17] amitkrout commented on #1780
Right, I will fix all those reference of e2e related to test.

[2019-06-19 12:19] kadel commented on #1788
@mik-dass can you check also this as an option. It might be an interesting option.

How is port accessed in this case? Some are there some port forward mechanism or via Kubernetes Service somehow?

[2019-06-19 14:01] kpiwko commented on #1836
Thanks for reporting this @amitkrout , I've just hit the same problem :-)

[2019-06-19 14:12] cdrage commented on #1788
Notes from a call:
 - We could also copy over syncthing (binary) to the image using supervisord.
 - We literally need to *only* find out what files have been changed, some form of a Go function that would find what file needs to be copied over / have been copied over.

[2019-06-19 15:41] cdrage commented on #1588
@kadel

We can close this then as I've checked each command and none do any checks. :+1:

[2019-06-19 15:48] cdrage commented on #1836
Ping @girishramnani as I believe he's implemented this "check"

[2019-06-19 20:30] alanconway commented on #1788
What is the objection to using rsync? It is available on every linux platform and on windows, and it is built into oc. It solves the "what do I need to sync problem" and the file transfer problem efficiently, it has decades of optimization. Its delta-transfer algorithm is faster (after the first sync) than anything we are going to write. Why reinvent the wheel?

[2019-06-20 07:36] kadel commented on #1788
Problem is not availability but usability.
Most of the Windows users won't have rsync installed and if you want to install it on windows you have to use Cygwin (as far as I know). More than 50% of our targeted are on Windows. This is a big barrier, odo shouldn't force users to install additional tools. Enterprise middleware developer is mostly using windows and won't have `rsync` installed, and in

[2019-06-20 07:44] kadel commented on #1594
@mohammedzee1000 how is it going with the checklist?

[2019-06-20 07:49] kadel commented on #1698
For the reference: Test was uncommented in https://github.com/openshift/odo/pull/1807

[2019-06-20 07:49] jorgemoralespou commented on #1788
I would say the solution needs to work for 100% of the users

[2019-06-20 08:29] kadel commented on #1588
[code]

[code]

[2019-06-20 09:22] mik-dass commented on #1788
@kadel @jorgemoralespou Syncthing is not a library that we can easily plug into our codebase. To run this we will need the binary on both sides. Even Okteto runs it by downloading the binary first and then performs the operations. This might be expensive for the users.

[2019-06-20 09:25] dharmit commented on #1834
@kadel the issue is reproducible and I agree with your idea of starting with writing a test. Or rather a failing test in this case. However, `odo config view` reports the environment variable correctly. We need to execute `oc` commands and parse its output. Do we have any tests that do this right now? Which category of tests would this fall under?

[2019-06-20 11:31] kadel commented on #1834
Yes, we already have tests that execute `oc` commands and parses outputs to verify if everything was set properly.  There is even a small library in tests helpers that wraps `oc` commands in a nice way. Just check existing tests.

I think that you can put this test where we have other `odo push` related tests. cc: @amitkrout

[2019-06-20 11:51] amitkrout opened #1845 "Improve test specs"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
To cover more test cases of different scenarios of all odo command/sub-command

Test scenario

## Why is this needed?
Recently some issue are hit which are not covered in test spec. Seems we are still rely on spec  which are not enough to capture negative, corner cases even few positive scenario issues.

Better to re

[2019-06-20 12:32] cdrage commented on #1788
@mik-dass I'm currently implementing a CRC check / doing checksums on each file. As of right now, for 27,000 files, it took about 3 seconds for do checks / see what the differences are.

[2019-06-20 13:21] alanconway commented on #1788
On Thu, Jun 20, 2019 at 3:36 AM Tomas Kral <notifications@github.com> wrote:

Understood, packaging or requiring dependencies on windows is a pain. So
the requirement is a fully self-contained client that can run anywhere that
a Go executable can run.

[2019-06-20 13:24] alanconway commented on #1788
Note that rsync has a remote-shell mode, and can create a temporary daemon using any remote shell transport (rsh, ssh etc.) without opening any extra ports or connections. However based on https://github.com/openshift/odo/issues/1788#issuecomment-503913647 it seems that the odo client must be self-contained without dependencies so using an external rsync client is probably not an option.

[2019-06-20 13:50] mik-dass commented on #1788
I will try to implement one based on just `lastModified` date. I will benchmark and post the results here.

[2019-06-20 14:15] alanconway commented on #1788
I don't think checksums are the way to go. Rsync uses size+timestamp by default, checksums are intended for the special case where the network is vastly slower than the extra disk and CPU access required to checksum every file. Here are some numbers from rsync (generated by attached shell script)

= Flags:  none
full copy: real 4.31
no copy:   real 1.69
= Flags: --checksum
full copy: real 4.42
no

[2019-06-20 14:23] alanconway commented on #1788
We don't have to solve the general file-sync problem. Our issue is detecting quickly whether anything has changed on the odo side since the last successful push. I think it would be fast and sufficient for odo to cache file-size+timestamp locally on each push, and do the check locally before the next push. The size+timestamp check isn't perfect but it is very widely  used (e.g. rsync, make), it is

[2019-06-20 14:27] alanconway commented on #1788
We crossed in the mail: +1 :)

I'd suggest using date + file size - its an extra consistency check that  it doesn't cost anything extra in terms of disk access.

[2019-06-20 15:08] amitkrout opened #1846 "Binary component push fails with context flag"
[kind/bug]

## What versions of software are you using?
- Operating System: I tested it on macOS
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
Push fails with context flag

## Expected behavior
Should push binary component

## Any logs, error output, etc?
Check ```How did you run odo exactly?``` section

[2019-06-20 15:09] amitkrout commented on #1846
ping @kadel

[2019-06-20 18:21] cdrage commented on #1588
@kadel Woops. Sorry about that, was testing against totally the wrong binary :man_shrugging:

[2019-06-20 18:35] cdrage commented on #1588
@kadel So from my findings (in particular `odo component create`).

The connection would be needed in order to retrieve the list of images available to use on OpenShift, as well as what project (and application) to deploy the component too..

This specifically applies to interactive mode. However, we do not need that for non-interactive.

Just my notes ^^

[2019-06-20 22:02] alanconway opened #1847 "odo component commands are confusing before first push"
[kind/bug]

## What versions of software are you using?
- Operating System:
Linux grommit 5.1.11-300.fc30.x86_64 #1 SMP Mon Jun 17 19:33:15 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- Output of `odo version`:
odo v1.0.0-beta3 (HEAD)

Server: https://192.168.42.249:8443
Kubernetes: v1.11.0+d4cacc0

## Actual behavior

I've put the "expected" comments in-line with the actual odo commands and output:

[2019-06-21 06:04] mik-dass commented on #1788
:+1: I will add file size as an extra parameter for consistency.

This might help the user if something goes wrong. We can trigger a full re index with this option. @kadel @jorgemoralespou ?

[2019-06-21 06:51] mik-dass commented on #1788
@kadel @cdrage @jorgemoralespou @alanconway I tried with the lastModifiedDate for the entire `odo` directory containing 29k+ files and it took `146ms` to get the path and modifiedDate of each file, put it in a map, convert it into a json and dump that in a file.

[2019-06-21 07:32] kadel commented on #1588
We can keep the cluster connection requirement for `odo component create` for now.

[2019-06-21 07:39] kadel commented on #1847
/bug
/priority medium
/milestone 1.0

### Fixes:

#### `odo component describe`
Needs to work for nondeployed components.
The output needs to contain the information that the component is not pushed, and how to push it.

#### `odo component list`
I agree with you @alanconway it is a little bit confusing. But this one is a little bit trickier, we can't really list all non-deployed components as the

[2019-06-21 10:54] kadel commented on #1788
+1

this looks pretty good

[2019-06-21 10:59] jorgemoralespou commented on #1847
`odo component list` definition is: List components in the current application, so I would understand the behavior to be:

- Give details about the current component (if no args provided or if -app is provided and matches the app for the current component). Also details whether this component is deployed or not (as status).
- Query the server, current namespace (as namespace should not be in .odo-

[2019-06-21 11:01] jorgemoralespou commented on #1788
Agree.
And since the "push --full" command could trigger a full re-index, this can be helpful to whenever we decide to upgrade the strategy of how we do this. I think we should add a version to the index or metadata files/directory, so in case there's a version change we can do a reindex automagically or ask the user to do it explicitly.

[2019-06-21 11:03] Preeticp commented on #1773
/assign @boczkowska

[2019-06-21 12:04] kadel opened #1848 "odo project delete: Confusing message about ServiceCatalog"
When deleting project there is a confusing message about ServiceCatalog not being available.

[code]

There should be no such message

[2019-06-21 12:04] kadel commented on #1848
/kind bug
/priority medium
/milestone 1.0

[2019-06-21 13:22] mik-dass commented on #1788
@kadel @cdrage @jorgemoralespou For testing the performance here's a demo PR for benchmarking: https://github.com/openshift/odo/pull/1849/files (with only lastModifiedDate).

NOTE: There is no filtering and other complex computations in the PR. This is just to test the performance of detecting changes.

[2019-06-21 15:55] cdrage commented on #1588
@kadel I've checked the other commands (using the whole `export KUBECONFIG=/tmp/foobar`) and no other commands need changing.

[2019-06-21 18:00] cdrage commented on #1848
This was implemented here: https://github.com/openshift/odo/pull/1809

What should we do with regards to the error message? When we perform `application.List` we now also check ServiceInstances.

[2019-06-24 11:37] chandrapersi opened #1852 "Jenkins support with odo commands"
oc command supports Jenkins creation and creation of build pipeline.
But it seems same support is lacking with odo commands.
For ex. following command works
oc create -f https://raw.githubusercontent.com/openshift/origin/master/examples/jenkins/pipeline/nodejs-sample-pipeline.yaml

But same command with odo doesn't.

Is there any documentation which demonstrate odo commands instruction to setup Je

[2019-06-24 12:21] kadel commented on #1852
Hi @chaitanyaenr,

Odo is targeting developers, and we want to make developers life easier. One of the ideas behind odo is that developers shouldn't need to write any yaml definitions, You won't be able to directly apply yaml file using `odo` as you can do with `oc`. This is not even on `odo` roadmap.

But we have Pipelines support on our roadmap - https://github.com/openshift/odo/issues/1238.
I d

[2019-06-24 12:21] #1852 closed

[2019-06-24 12:27] kadel commented on #1848
Yes, both are ok, up to you.

The message is pretty confusing especially for the user that doesn't have service catalog enabled on their cluster and never used or deployed any Service, no suddenly they see some message complaining about Service Catalog when deleting a project.

[2019-06-24 16:51] alanconway commented on #1788
On Fri, Jun 21, 2019 at 7:02 AM Jorge Morales Pou <notifications@github.com>
wrote:

Ideally we should detect any condition that needs a full sync and do this
automatically. We want the user to trust odo to get it right - that trust
is quickly lost if we get it wrong in anything but a very exceptional
situation.

—

[2019-06-24 16:53] alanconway commented on #1847
+1 - the real problem is when list returns nothing but create returns an error saying there is something. Just listing the current directory would resolve that.

[2019-06-24 18:24] cdrage commented on #118
This has been completed!

[2019-06-24 18:24] #118 closed

[2019-06-24 19:59] cdrage commented on #1847
For `odo component describe`:

[code]

We could at least have some form of output that says, `Create a component with odo create` or something similar.

Each error should at least give the user some way / form to fix it..

[2019-06-24 20:03] cdrage opened #1855 "Add capitalization to error messages"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

[code]

Error messages look ugly and it doesn't fix the other output messages.

I understand that with logging, in terms of verbosity (debug messages) we should always have error messages as lower-case. But in terms of UX / UI. I believe we should at least capitalize.

For example, this would look (slightly) better:

[2019-06-24 20:23] cdrage commented on #1846
I can investigate this. I have a feeling it has to do with my changes to `context` and paths...

/assign cdrage

[2019-06-25 03:38] chandrapersi opened #1859 "No option for setting policy on service account with odo commands"
oc policy add-role-to-user view system:serviceaccount:top-secret:robot

Setting policy is only available with oc command but not with odo.

[2019-06-25 07:16] surajnarwade commented on #1739
## Tracking

- [ ] listProjects
- [ ] listApplications
- [ ] deleteProject
- [ ] waitForProjectToBeGone
- [ ] createProject
- [ ] listComponents
- [ ] listCatalogComponents
- [ ] listCatalogServices
- [ ] listStorageNames
- [ ] listServiceInstances
- [ ] createApplication
- [ ] describeApplication
- [ ] deleteApplication
- [ ] createStorage
- [ ] deleteStorage
- [ ] waitForStorageToBeGone
- [ ] de

[2019-06-25 07:27] kadel commented on #1588
For `odo url create` ports should be checked against ports in LocalConfig.

`odo component create` I think that the biggest issue will be that we still need to fetch information about ports from the cluster see https://github.com/openshift/odo/pull/1828. So we need to keep the connection check there

[2019-06-25 07:29] boczkowska commented on #1773
/assign @boczkowska

[2019-06-25 07:49] kadel commented on #1859
`odo` is not a replacement for `oc`.
`odo` focuses only on developers, and developer flow. Managing roles is a little bit more advanced case, and `oc` does a good job managing users and roles.

[2019-06-25 15:00] #1811 closed

[2019-06-25 16:17] alanconway commented on #1847
On Mon, Jun 24, 2019 at 3:59 PM Charlie Drage <notifications@github.com>
wrote:

The problem here is that the component *does* exist locally but has not yet
been deployed - odo uses "exists" in a confusing way.
IMO this shouldn't be an error but a description of the local component
with a note that says it hasn't been deployed yet.

[2019-06-25 16:28] #1821 closed

[2019-06-25 16:28] #1800 closed

[2019-06-26 01:01] jorgemoralespou commented on #1847
I do agree with @alanconway
Is important to use correct terminology and language so user easily understand and learns odo

[2019-06-26 14:52] #1855 closed

[2019-06-26 15:46] cdrage commented on #1847
@jorgemoralespou @alanconway

Would it be better to instead say `Foobar component not found in the cluster` rather than "exist" ? Would be more beneficial and implies that it's not "deployed yet"

[2019-06-26 15:49] jorgemoralespou commented on #1847
Why not "Component not pushed yet to the cluster. Use `odo push` to push
your Component when ready."?

El mié., 26 jun. 2019 23:46, Charlie Drage <notifications@github.com>
escribió:

[2019-06-26 16:17] kadel commented on #1788
Probably stupid question:
Why are we can't just list all files inside the directory in a container and compare it with the list of the files in the local directory? We could use modification time and size in comparison to detect changes. And we don't have to store anything.

[2019-06-26 16:28] kadel opened #1863 "Optimize "Validating component" step."
[code]

I can't take 6s to perform basic validation.

There are multiple checks that are happening there.

I can see options on how to speed up checks if builder image exists, and if the version exists, those functions is using List calls, there are better ways to check (using just Get).
I'm sure that there will be more to speed this up.
We should get this under 1s

[2019-06-26 16:28] cdrage commented on #1847
@jorgemoralespou Can't use multiple sentences for error messages, but I've updated the PR: https://github.com/openshift/odo/pull/1861

[2019-06-26 16:38] cdrage opened #1864 "Don't output *any* info (other than json) when using -o json"
[kind/bug]

## What versions of software are you using?
- Operating System: Linux
- Output of `odo version`: master

## How did you run odo exactly?

[code]

## Actual behavior

[code]

Is outputted

## Expected behavior

Under no circumstances should we have INFO or WARNING or ERROR messages coming from `log/status.go`.

We should *always* have JSON output. IF it's an actual error, it should outp

[2019-06-26 19:28] #1848 closed

[2019-06-27 04:55] girishramnani commented on #1594
After a discussion in an ART integration cabal, we found that openshift release feature release happens every 1 month and minor bug fix releases every week. This schedule aligns with what we wanted.
Doc - https://mojo.redhat.com/docs/DOC-1182562
cc @mohammedzee1000 @sspeiche @kadel

[2019-06-27 04:57] girishramnani commented on #1594
So we now want to setup odo releases in two ways
- odo binary as part of openshift images
- odo binary as part of openshift RPM repositories

[2019-06-27 09:19] mik-dass commented on #1788
The once concern I can think of currently is that the clock timing might be different or incorrect in the container and might be running some days behind. Is there any guarantee that it will always be the correct time?

[2019-06-27 09:25] jorgemoralespou commented on #1788
Also, how would you collect that information in the container and provide it to the client side. With scripts that are execed in the container? I know I'm recurrent on the topic, but wouldn't a smart procces in the container be better?

[2019-06-27 09:31] kadel opened #1865 "duplicate code inside occlient.BootstrapSupervisoredS2I and occlient.UpdateDCToSupervisor"
There is a lot of code duplicated in `occlient.BootstrapSupervisoredS2I` and `occlient.UpdateDCToSupervisor`, this might lead to ugly bugs.

Both functions should be refactored and common parts abstracted into separate smaller functions.

[2019-06-27 09:32] kadel commented on #1865
/priority medium
/kind code refactoring

[2019-06-27 10:05] kadel commented on #1788
Smart process in the container is not going to help us figure out what files we need to push into the container. We will have to push everything each time `odo push` is executed.
I think that we discussed that this needs to be also optimized.

I know that this issue is not about this, but we need also solve the delete problem https://github.com/openshift/odo/issues/1354.

I think that all this has

[2019-06-27 10:35] jorgemoralespou commented on #1788
My main concern is that all this logic is difficult to implement in bash scripts and coordinate with the generic supervisord, which can only start/stop a process. That's the main reason I'm constantly advocating for this solution, cause a smart app on the container side could just alleviate much of the logic, since there's currently some things that happen on the client side and some others on the

[2019-06-27 10:44] surajnarwade opened #1866 "Remove active field from application resource"
as of **listApplications** from  https://github.com/openshift/odo/issues/1739, we don't need `active` (status.Active) field anymore in Application

[2019-06-27 11:04] kadel commented on #1788
Completely agree with you. No argument there.
"rebuilding only when there is a code change" problem can be solved on the container side. This is what hot reload will do.

But we still have problems with "deleting files" (we don't know what has been deleted between two `odo push` invocations). And we want to stop pushing the whole codebase all the time. This can't be solved inside the container.