[2019-06-27 12:10] jorgemoralespou commented on #1788
As I said in my response, agree. The changeset needs to come from the client. The container just needs ñ to apply it, ñ to both the ñ backup location and the current code location.

[2019-06-27 12:13] kadel commented on #1718
no need to block this anymore

[2019-06-27 14:10] rashmi-sakhalkar opened #1868 "odo nginx"
[kind/Documentation]
Can you pls guide how I can customize the nginx.conf and then create the nginx service.
Quick reply would be very helpful.

## What did you find missing in the documentation?

## What is the relevance of it?

[2019-06-27 14:32] dharmit commented on #1834
I think that doing `odo push` right after doing the first `odo push` should have not created a new DeploymentConfig in the first place because nothing was changed. It looks to me like the env vars of existing DeploymentConfig were not being used properly and this resulting in `odo` thinking that something changed which resulted in it creating a new pod. https://github.com/openshift/odo/blob/54b9a5

[2019-06-27 15:22] rashmi-sakhalkar opened #1869 "nginx"
[kind/bug]
How to configure nginx for a nodejs application. Is there a way to edit the nginx.conf.

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

odo v1.0.0-beta3

## How did you run odo exactly?
using cli

## Actual behavior
Using odo I have created a NodeJS application. Exposed the route.
I want to now configure a Nginx reverse proxy to access the No

[2019-06-27 15:25] amitkrout commented on #1868
@rashmi-sakhalkar Can you please describe the complete usecase

[2019-06-27 15:28] amitkrout commented on #1869
Its hard to understand the usecase with the details provided above. So can you fill the issue template. And make the issue title bit descriptive

[2019-06-27 15:28] rashmi-sakhalkar commented on #1868
Using odo I created a nodejs application. I then want to setup nginx reverse proxy to access the nodejsapp.
How can i achieve this with odo?

[2019-06-27 15:33] rashmi-sakhalkar commented on #1868
Using oc I could setup the reverse proxy following the steps given in below link.
http://keyangxiang.com/2018/06/01/Openshift/how-to-run-nginx-as-reverse-proxy/

But I want to achieve this with odo.

[2019-06-27 15:34] amitkrout commented on #1869
@rashmi-sakhalkar I believe you are asking similar question in #1868 too. If yes, then can you close #1868 and lets track your question here

[2019-06-27 15:35] rashmi-sakhalkar commented on #1868
closing this as duplicate

[2019-06-27 15:35] #1868 closed

[2019-06-27 15:36] rashmi-sakhalkar commented on #1869
Using odo I created a nodejs application. I then want to setup nginx reverse proxy to access the nodejsapp.
How can i achieve this with odo?

Using oc I could setup the reverse proxy following the steps given in below link.
http://keyangxiang.com/2018/06/01/Openshift/how-to-run-nginx-as-reverse-proxy/

[2019-06-27 19:52] cdrage commented on #1739
### Charlie's list

- [x] listProjects
- [x] listApplications (see #1866 / @surajnarwade 's PR)
- [ ] deleteProject
- [ ] waitForProjectToBeGone
- [ ] createProject
- [ ] listComponents
- [ ] listCatalogComponents
- [ ] listCatalogServices
- [ ] listStorageNames
- [ ] listServiceInstances
- [ ] createApplication
- [ ] describeApplication
- [ ] deleteApplication
- [ ] createStorage
- [ ] deleteStor

[2019-06-28 07:15] surajnarwade commented on #1869
@rashmi-sakhalkar , can you please provide us exact steps to reproduce the issue ?

[2019-06-28 07:31] mohammedzee1000 commented on #1799
I have most of the research in at this point.
Currently working in setting up the clusters, facing some issues for which i am communicating with crw team. Waiting on their reply on my log paste.

[2019-06-28 07:39] mohammedzee1000 opened #1871 "Setup Openshift clusters on PSI for use by the team"
[kind/Enhancement]

Linked to #1799
Initiate creation of cluster on PSI resources

Acceptance Criteria

- [x] Create Controller node
- [x] Setup ocp 3.11 cluster
- [x] Setup ocp 4.1 cluster
- [x] No DNS setup should be required for clients connecting to the cluser.

[2019-06-28 08:09] rashmi-sakhalkar commented on #1869
I am looking out for help on odo commands for the below scenario.

Step 1. Create a nodejs app and expose the url. (eg. http://<Host url of Node Js app>)
Step 2. Create a nginx application with a preconfigured nginx-proxy.conf file.

How can I configure the nginx.conf file and then create the service using odo.

Using Openshift oc I follow the below steps:
1. oc new-app registry.access.redhat.com/

[2019-06-28 08:10] rashmi-sakhalkar commented on #1869
I want to know how I can configure nginx reverseproxy using odo cli.

[2019-06-28 08:43] amitkrout opened #1872 "Missing context flag in service create command"
[kind/bug]

## What versions of software are you using?
- Operating System: All supported platform
- Output of `odo version`: master

## How did you run odo exactly?
[code]
## Actual behavior
flag support is not available

## Expected behavior
Support should be added

## Any logs, error output, etc?

[2019-06-28 08:43] amitkrout commented on #1872
/priority high

[2019-06-28 08:44] amitkrout commented on #1872
ping @mohammedzee1000 @kadel

[2019-06-28 09:10] surajnarwade commented on #1869
I can help with this use case,

[code]

I am not sure about nginx stuff, but just to give context, `odo` is developer focussed CLI, so I am not sure how odo is useful in your use case.

[2019-06-28 09:14] rashmi-sakhalkar commented on #1869
I have successfully created the nodejs component using odo.
I want odo commands to create nginx component with customized config. Can you please connect with your team and share the steps.

[2019-06-28 10:02] rashmi-sakhalkar opened #1874 "How to create nginx component in odo"
[kind/Documentation]
The odo catalog consist of nginx component.
How can i create a nginx service using odo cli.
Please share the commands.

## What did you find missing in the documentation?

## What is the relevance of it?

[2019-06-28 10:07] rashmi-sakhalkar commented on #1874
**Commands executed:-**
# git clone https://github.com/sclorg/nginx-ex.git
# cd nginx-ex/
# odo create nginx my-sample-nginx1
# odo push

**ERROR::**

Validation
 â  Validating component [4s]
 â  Checking component [6s]

Configuration changes
 â  Initializing component
 â  Creating component [249ms]
 â  Applying configuration [0s]

Pushing to component my-sample-nginx1 of type local
 â  Waiting fo

[2019-06-28 10:31] geoberle commented on #1777
just wanted to follow up on this issue. do you need additional information or discussion to establish a valid usecase?

[2019-06-28 12:40] surajnarwade commented on #1874
[code]

[code]

I am facing the same issue, looks like `nginx` builder image don't have `rsync` installed & odo supervisord scripts are not checking whether `rsync` is installed or not

[2019-06-28 12:42] surajnarwade commented on #1874
@rashmi-sakhalkar , I have raised the issue here: https://github.com/openshift/odo-supervisord-image/issues/22

[2019-06-28 14:58] #1650 closed

[2019-06-28 15:14] kadel commented on #1739
odo will need command to display this information. The extensions should never read the localconfig files directly.
I think that `odo component describe` is a good place where this information should be shown

[2019-06-28 15:16] kadel commented on #1739
`-q` won't be needed.
It should be possible to pick up the hostname from  `odo url list --component nodejs-zeaa --project myproject -o json` output

[2019-06-28 19:59] cdrage opened #1876 "Improve error message for wrong port provided"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

[code]

IMO we should update the output to show WHAT ports are available to the user (what can actually be exposed...)

## Why is this needed?

Better UX / user experience.

[2019-06-29 18:08] #1736 closed

[2019-07-01 04:33] surajnarwade commented on #1876
this will be resolved in https://github.com/openshift/odo/pull/1828

[2019-07-01 07:24] amitkrout opened #1877 "Add/improve test specs"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Test scenarios/specs

## Why is this needed?
The current test spec is not covering maximum number of implementation of commands. So it is necessary to verify properly those commands/flags which are provided by odo, even those extra coverage helps to catch any regression if that occurs.

[2019-07-01 08:25] girishramnani commented on #1663
/project "Sprint 169"

[2019-07-01 09:03] amitkrout commented on #1877
Duplicate of #1845

[2019-07-01 09:03] #1877 closed

[2019-07-01 09:09] amitkrout commented on #1838
#1872

[2019-07-01 09:09] amitkrout commented on #1872
#1838

[2019-07-01 09:51] surajnarwade commented on #1794
https://github.com/openshift/odo/pull/1828 will resolve this issue

[2019-07-01 12:31] #1584 closed

[2019-07-01 12:39] girishramnani commented on #1726
next step would be to add a stage to run the benchmark tests on CI

[2019-07-02 02:55] alanconway opened #1879 "Speed up file copies for odo push"
## Which functionality do you think we should update/improve?

Speed of file copies in odo push. Odo file copies are significantly slower than direct rsync or tar via ssh.

## Why is this needed?

Reduce inner loop time for developers

[2019-07-02 03:05] alanconway commented on #1879
PR #1880 doesn't improve the user experience, but does improve the internal structure and (hidden) performance of the code. Next step: reduce the overhead in creating the remote "tar" command. A possible solution is to start a single "bash" command at the beginning of an odo session and re-use that for all remote commands that need to occur in sequence.

[2019-07-02 06:58] rashmi-sakhalkar commented on #1874
By when can I expect a resolution for this issue

[2019-07-02 07:18] mohammedzee1000 commented on #1799
The primary acceptance criteria of this issue is met, closing in favour of new issue to track next steps
/close

[2019-07-02 07:18] #1799 closed

[2019-07-02 11:41] dharmit commented on #1872
Issue title talks about `odo service create` but the description covers `odo service`. Going by the issue title, `odo service create` command does have `--project` flag but does not have the `--context` flag.

[code]

[2019-07-02 11:55] dharmit commented on #1872
/state ready

[2019-07-02 14:46] cdrage commented on #1674
I'm going to set this as priority medium as it's not very high at the moment on the list (not many people run `odo` in the background in this way...)

[2019-07-03 05:32] surajnarwade commented on #1805
as of now `Exists` function uses List, but instead we can use `client.GetDeploymentConfigFromName`, if it returns the output (name of deploymentconfig) that means given component exists.

I would like to work on this :tada:

[2019-07-03 05:48] surajnarwade commented on #1794
Hi @danielhelfand ,
as mentioned in the issue, resolution in #1828 will look like:

[code]

[2019-07-03 05:53] surajnarwade commented on #1481
I would like to work on this :tada:

[2019-07-03 06:00] surajnarwade commented on #1825
also, if we want to add directory name to component name, rather than prefix, we should it as suffix

[2019-07-03 06:11] surajnarwade commented on #1823
[code]

this will be helpful to resolve this issue

[2019-07-03 06:33] amitkrout commented on #1832
Similar issue can be found slightly in a different scenario

[code]
More details - https://travis-ci.com/openshift/odo/jobs/212660904

[2019-07-03 06:51] surajnarwade commented on #960
Closing this as we dont have `--local` flag but we do have `--context` and suggestions are working for it :tada:

@kadel , reopen if it's not working for you

[2019-07-03 06:51] #960 closed

[2019-07-03 06:53] surajnarwade commented on #1119
@lholmquist , can you please confirm whether this issue still exists, I tested and works for me.
also as @jorgemoralespou mentioned, we do have support of `.odoignore` file.

[2019-07-03 06:56] surajnarwade commented on #1859
@chandrapersi , since odo is developer CLI not ops one, this is out of scope for odo :)

[2019-07-03 06:58] surajnarwade commented on #1382
Closing as we have json output now:

[code]

[2019-07-03 06:58] #1382 closed

[2019-07-03 07:43] surajnarwade commented on #978
@jankleinert , can you please verify this issue & close if resolved ?

[2019-07-03 07:45] surajnarwade commented on #722
Closing this issue since I got my answers :tada:

[2019-07-03 07:45] #722 closed

[2019-07-03 07:53] surajnarwade commented on #76
Closing this since it will be tracked in #1242

[2019-07-03 07:53] #76 closed

[2019-07-03 07:55] surajnarwade commented on #153
Closing this as most of the things are already covered and remaining can be tracked here: https://github.com/openshift/odo/issues/926

[2019-07-03 07:55] #153 closed

[2019-07-03 07:58] surajnarwade commented on #516
@kadel , I think we are following the standards which you mentioned in all commands, closing this issue.

[2019-07-03 07:58] #516 closed

[2019-07-03 08:02] surajnarwade commented on #709
@cmoulliard did you tested new workflow ?
AFAIK, we now store mode in local config file, hence no need to add `--mode` flag
Closing this issue, feel free to reopen for further discussion

[2019-07-03 08:02] #709 closed

[2019-07-03 08:26] surajnarwade commented on #1384
Closing this as we use new structs for projects related functions

[2019-07-03 08:26] #1384 closed

[2019-07-03 08:29] surajnarwade commented on #1651
Closing this issue since @kadel has given resolution

[2019-07-03 08:29] #1651 closed

[2019-07-03 08:36] surajnarwade commented on #1136
@cdrage, can you please verify this issue and close accordingly if resolved.
lot of refactoring happened after Dec 14, 2018 :smile:

[2019-07-03 08:42] surajnarwade commented on #172
From this issue, we almost have everything except `--secure` flag

[2019-07-03 08:45] surajnarwade commented on #1163
Closing this as it is implemented

[2019-07-03 08:45] #1163 closed

[2019-07-03 08:46] surajnarwade commented on #1138
Closing as this is not applicable for now

[2019-07-03 08:46] #1138 closed

[2019-07-03 08:49] surajnarwade commented on #164
Closing this as all of the concerns from this issue are addressed :smile:  :tada:
@jorgemoralespou , feel free to reopen if there's anything remaining

[2019-07-03 08:49] #164 closed

[2019-07-03 10:34] lholmquist commented on #1119
I think we can close.

[2019-07-03 10:34] #1119 closed

[2019-07-03 10:53] amitkrout commented on #1780
Pr sent https://github.com/openshift/release/pull/4268 for OpenShift CI job and config changes

[2019-07-03 11:06] girishramnani commented on #124
is this issue still relevant?

[2019-07-03 11:07] girishramnani commented on #579
is this issue still relevant @kadel ?

[2019-07-03 11:08] girishramnani commented on #659
is this issue still relevant?

[2019-07-03 11:09] girishramnani commented on #631
@ryanj can you please confirm if your queries were resolved?

[2019-07-03 11:09] girishramnani commented on #629
is this issue still relevant?

[2019-07-03 11:11] girishramnani commented on #778
@kadel is this issue still relevant?

[2019-07-03 11:12] girishramnani commented on #597
@mik-dass is this issue still relevant?

[2019-07-03 11:12] girishramnani commented on #580
@kadel is this issue still relevant?

[2019-07-03 11:13] girishramnani commented on #798
@cmoulliard is this issue still relevant?

[2019-07-03 11:16] girishramnani commented on #805
there is an e2e-scenerio test currently being run as part of the test suite. So AC of this issues seems to have been accomplished

[2019-07-03 11:17] girishramnani opened #1882 "Use of client side caching when interacting with openshift"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Through out the lifecycle of an odo run, we fetch information which at times do not change and hence client side caching is possible.
Libraries like https://godoc.org/k8s.io/client-go/tools/cache can be considered here.

## Why is this needed?
For optimization purposes

[2019-07-03 11:20] jorgemoralespou commented on #627
I guess not, since we're not printing this way.

[2019-07-03 11:20] #627 closed

[2019-07-03 11:21] girishramnani commented on #784
this issue is superseded by https://github.com/openshift/odo/issues/1739

[2019-07-03 11:22] girishramnani commented on #784
closing

[2019-07-03 11:22] #784 closed

[2019-07-03 11:23] girishramnani commented on #653
@jorgemoralespou is this issue still relevant?

[2019-07-03 11:26] girishramnani commented on #708
@cmoulliard @jorgemoralespou is this issue still relevant?

[2019-07-03 11:28] girishramnani commented on #238
closing this issue as its stale

[2019-07-03 11:28] #238 closed

[2019-07-03 11:29] girishramnani commented on #799
@jorgemoralespou is this issue still relevant?

[2019-07-03 11:34] jorgemoralespou commented on #799
I guess. I haven't checked it, but as long as it's not resolved, yes, this should remain open.

[2019-07-03 11:35] jorgemoralespou commented on #708
I think this is somehow going to be related to how odo will deal with the supervisor and the scripts. Ask @kadel

[2019-07-03 11:35] jorgemoralespou commented on #653
Yes

[2019-07-03 11:58] dharmit commented on #1718
Moving this to ready since it was reproduced in https://github.com/openshift/odo/issues/1718#issuecomment-494264709

/state ready

[2019-07-03 12:17] girishramnani commented on #1588
the `odo url create` doesn't require connection check #1828

[2019-07-03 12:17] girishramnani commented on #1588
so essentially after the above PR is merged, we can remove check from `odo url create` as well. and thats the only thing left

[2019-07-03 12:21] cmoulliard commented on #708
As PR924 fixed the proposition reported here, I suggest to close it

[2019-07-03 12:22] #708 closed

[2019-07-03 12:25] danielhelfand commented on #1794
@surajnarwade Thanks! Looks great.

[2019-07-03 12:54] boczkowska commented on #1311
/assign @boczkowska

[2019-07-03 12:57] girishramnani commented on #1464
/assign @boczkowska

[2019-07-03 13:00] dharmit commented on #862
Working with `odo service` command is not really straightforward, IMO.

- It's not really clear as to wht's the difference between `odo catalog` and `odo service` command. They both seem to deal with the service catalog. Help messages are also ambiguous:
[code]
- More examples in `docs/cli-reference.adoc` or a separate doc for advanced use cases of services would be very helpful.

[2019-07-03 14:39] dharmit commented on #1838
This one is reproducible. When working with minishift, I had to do `minishift openshift component add template-service-broker` twice to be able to see the service mentioned in the description.

This one doesn't seem directly related to #1872 or #1810 (both are about `odo service create`) to me and can be fixed separately.

WDYT @cdrage @amitkrout @girishramnani ?

[2019-07-03 20:13] cdrage commented on #1739
Hey @dgolovin I'm going over `deleteProject` right now...

I was thinking of this in terms of implementation, or of course something similar, this is a super rough draft...

[code]

Or is there something specific we should implement in a certain way?

[2019-07-03 20:42] #1834 closed

[2019-07-04 05:03] mik-dass commented on #597
@girishramnani I am closing this for now. We can have a look at it later if the need arises.

[2019-07-04 05:03] #597 closed

[2019-07-04 06:25] amitkrout commented on #1872
ping @kadel

[2019-07-04 07:59] surajnarwade commented on #1357
TODO:

* `odo catalog list components -o json`
* `odo catalog list services -o json`

[2019-07-04 08:05] lordofthejars commented on #1357
Ok I am going to work on that

[2019-07-04 08:42] mik-dass commented on #1832
this seems to be related to #1782

[2019-07-04 08:44] surajnarwade opened #1884 "Implement `--wait` flag for `odo project delete`"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Add `--wait` flag in `odo project delete` similar to `odo project create`

## Why is this needed?

Reference: `waitForProjectToBeGone` from https://github.com/openshift/odo/issues/1739

as of now, vscode plugin relies on,

[code]

[2019-07-04 08:53] surajnarwade commented on #1884
cc @kadel @cdrage @dgolovin

[2019-07-04 09:14] dharmit commented on #1715
This is still not reproducible @girishramnani

[code]

[2019-07-04 09:58] amitkrout commented on #1832
Similar issue of almost same scenario found in url test file
[code]

[2019-07-04 12:19] alanconway opened #1886 "Establish single connection for running commands on container"
## Which functionality do you think we should update/improve?

occlient.ExecCMDInContainer executes commands on the container by opening a remote shell connection for each command. Instead open a connection to a bash shell at the start of odo and re-use it for each command we need to rn.

## Why is this needed? `

Performance - opening a connection (especially with SSL) can take longer than runnin

[2019-07-04 12:38] alanconway commented on #1879
#1886 will re-use a command connection. After that is implemented, this code should be re-tested to see if it has real benefit before it is comitted.

[2019-07-04 14:10] cdrage commented on #1715
Ping @girishramnani maybe we can close this.

[2019-07-04 16:03] alanconway commented on #1788
Not stupid - that's exactly what rsync does. Basically we need to decide how far we want to go in implementing our own rsync-like solution, vs.  just adopting an existing rsync library.

Clock-skew is a good point to raise, but not problem here:  'rsync -a'  sets the timestamps on the remote copy to be the same as the local timestamp, and completely ignores the remote clock. Our existing tar-based

[2019-07-05 05:41] mik-dass commented on #1863
@kadel I see two exist calls during validation

https://github.com/openshift/odo/blob/ca5e619292a302855a7357dd8fa9905715ffc6e5/pkg/odo/cli/component/push.go#L133
and
https://github.com/openshift/odo/blob/ca5e619292a302855a7357dd8fa9905715ffc6e5/pkg/component/component.go#L513

I also two calls to the catalog list functions

https://github.com/openshift/odo/blob/ca5e619292a302855a7357dd8fa9905715ff

[2019-07-05 11:02] dharmit commented on #1718
Auto-completion fails in a similar fashion for numerous other combinations. I tried hitting tab after typing following commands on the CLI:

- `odo app {delete, describe}`
- `odo component {create, delete, describe, link, log, push, unlink, update, watch}`
- `odo {create, delete, describe, link, log, push, unlink, update, watch}`
- `odo service {create, delete}`
- `odo storage delete`
- `odo url d

[2019-07-05 16:04] #1847 closed

[2019-07-08 06:33] dharmit commented on #1718
IIUC, above commands which are failing to auto-complete as expected, do require a valid component/context to operate under normal cirumstances. If we were to execute these commands outside a directory containing a component, they are bound to fail with same erro message, no? Then why do we expect their auto-complete to work without any issues outside a directory containing a valid component? Isn't

[2019-07-08 13:14] boczkowska commented on #1464
/assign @boczkowska

[2019-07-08 16:46] jorgemoralespou commented on #1584
@surajnarwade Hey, Watched the recording from the sprint and one thing I noticed is that when local, the URL for the code location was described as `file://./`. IMHO we should provide as an annotation the path for the component sources so a user can easily find it in his drive. I think this was on an issue, but commenting here as it's the only link I have.

There's a related issues to this that I

[2019-07-08 18:26] danielhelfand opened #1888 "Demonstration Video Uses Out of Date odo Version"
[kind/Documentation]

The [video](https://asciinema.org/a/225717) in the `README.md` is no longer representative of the current `odo` workflow of deploying a Node.js application.

In the video, the Node.js sample app is created with a url as follows:

[code]

Currently, the workflow is as follows:

[code]

I believe there is work going on to not require the `--port` flag for `odo url create`, so i

[2019-07-09 05:24] amitkrout opened #1889 "Flake in generic_test.go file"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
Should look into the right pod

## Expected behavior
Fails

## Any logs, error output, etc?

[2019-07-09 07:26] #1836 closed

[2019-07-09 09:28] dharmit commented on #1430
@apupier I'm reproducing this issue on Windows environment and getting below error when I create a component:
[code]
I believe this is a step before we expect any binary to show up under `/deployments`. This failure is indicating an issue with building the binary, I believe.

Pardon my java knowledge and correct me if I'm wrong.

[2019-07-09 09:37] apupier commented on #1430
it looks alike another type of error. Here the build is failing retrieving a dependency commons-codec.
In initially reported case there was no error in the Maven build, it was "only" taking too much time.

(and sorry but still didn't had time to prepare an environment to test that)

[2019-07-09 09:46] kadel commented on #1430
@dharmit  This looks like some network issue.

`one of its dependencies could not be resolved: The following artifacts could not be resolved: commons-codec:commons-codec:jar:1.9, org.bouncycastle:bcpkix-jdk15on:jar:1.57: Could not transfer artifact commons-codec:commons-codec:jar:1.9 from/to central (https://repo1.maven.org/maven2): Connect to repo1.maven.org:443 [repo1.maven.org/151.101.24.209] f

[2019-07-09 12:34] kadel commented on #1594
@mohammedzee1000 Do you have any updates on this?

[2019-07-09 14:58] #1822 closed

[2019-07-10 01:58] cdrage commented on #1739
Update:

So currently I have to implement a few changes in order to correctly add creation / deletion json output for `odo project create/delete` commands. I just want to give a quick update to both @surajnarwade @tkral and @degolovi that in order to do so I have to:
 - Add a json global parameter so we can detect if we are indeed doing machine readable output. This would of been added anyways sin

[2019-07-10 03:01] dgolovin opened #1893 "`odo url list -o json` returns empty list for `not pushed` components with URLs"
[kind/bug]
## What versions of software are you using?
- Operating System: Windows 10 Pro
- Output of `odo version`: odo v1.0.0-beta3 (d2dd37a3) built from master

## How did you run odo exactly?
[code]

## Actual behavior
[code]

## Expected behavior
[code]
## Any logs, error output, etc?

[2019-07-10 05:09] dgolovin opened #1894 "`odo list --path . -o json` does not include project name into component specification"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10 Pro
- Output of `odo version`: odo v1.0.0-beta3 (d2dd37a3) built from master

## How did you run odo exactly?
```\odo create nodejs nodem2 --project myproject --app app1```

## Actual behavior
no project attribute in spec
[code]

## Expected behavior
[code]

## Any logs, error output, etc?

[2019-07-10 05:41] #1889 closed

[2019-07-10 07:33] surajnarwade commented on #1894
@dgolovin , instead of `spec.project`, we can use `metadata.namespace` which is widely used.

[2019-07-10 09:03] amitkrout opened #1895 "Config set creates local config file"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
[code]
## Expected behavior
Should report error

## Any logs, error output, etc?

[2019-07-10 09:03] amitkrout commented on #1895
ping @kadel @girishramnani

[2019-07-10 11:54] dharmit commented on #1430
So today I was reproducing this on a Fedora box using the VS Code Connector available from Marketplace and odo v0.0.20 that it downloads by default. I did face the issue at 02:00 in the video and couldn't get past beyond that!

But then I tried to reproduce the same on latest VS Code Connector bits from *odo-1.0.0-integration* branch of https://github.com/redhat-developer/vscode-openshift-tools/ w

[2019-07-10 12:43] kadel commented on #1895
@amitkrout yes, this is a bug. If local config file doesn't exist `odo config set` should fail, not create it.

I'm a decresing priority a little bit. This is not preventing the use of odo, it is just inconvenience that might confuse people.

/priority Medium
/remove-priority High

[2019-07-10 13:33] kadel commented on #1715
Unable to reproduce, it works as it supposed to
[code]

[2019-07-10 15:38] amitkrout commented on #1895
@kadel This is a clear case of regression of spec [1] and [2]. In the mentioned spec i am continuously hitting the issue locally. But surprisingly in CI only spec [2] is hit with the issue - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/1843/pull-ci-openshift-odo-master-e2e-scenarios/1046.

There is something very weird happening. So i would say lets not decr

[2019-07-10 18:26] dgolovin commented on #1894
@surajnarwade that would work 👍

[2019-07-10 21:22] girishramnani commented on #1895
I remember implementing this, a recent change might have removed the `erroring out`

[2019-07-11 05:08] amitkrout commented on #1895
pr #1897 sent

[2019-07-11 05:23] amitkrout opened #1899 "CmdShouldFail in beta flow e2e test gives false positive"
[kind/bug]

## What versions of software are you using?
- Operating System: CentOS (OpenShift CI)
- Output of `odo version`: master

## How did you run odo exactly?
 Core beta flow when component is in the current directory
  'odo config' should fail if there is no .odo dir
  /go/src/github.com/openshift/odo/tests/e2escenarios/core_beta_flow.go:111
Creating a new project: ogmqxtpjsk
Running odo wi

[2019-07-11 08:01] kadel commented on #1718
@dharmit there is no reason why `odo push --con <tab>` should fail. It is supposed to complete the `--context` flag name, there is no information that is required from the cluster in this case.

But there are some commands that fetch information from the cluster like `odo component delete <tab>` or `odo component create <tab>`, first one is supposed to suggest the component name, and the second on

[2019-07-11 09:45] amitkrout commented on #1899
Sequential run                                                      Parallel run

<img width="1406" alt="Screen Shot 2019-07-11 at 3 13 57 PM" src="https://user-images.githubusercontent.com/19851115/61040663-a5c1db80-a3ee-11e9-874c-4e2b213e0799.png">

[2019-07-11 11:45] #1772 closed

[2019-07-11 11:48] girishramnani commented on #124
closing this issue as its stale

[2019-07-11 11:48] #124 closed

[2019-07-11 11:48] girishramnani commented on #579
closing this issue as its stale

[2019-07-11 11:48] #579 closed

[2019-07-11 11:48] girishramnani commented on #580
closing this issue as its stale

[2019-07-11 11:48] #580 closed

[2019-07-11 11:48] girishramnani commented on #601
closing this issue as its stale

[2019-07-11 11:48] #601 closed

[2019-07-11 11:48] girishramnani commented on #629
closing this issue as its stale

[2019-07-11 11:48] #629 closed

[2019-07-11 11:49] girishramnani commented on #631
closing this issue as its stale

[2019-07-11 11:49] #631 closed

[2019-07-11 12:06] surajnarwade commented on #1894
patch is coming soon :)

[2019-07-11 12:12] mohammedzee1000 commented on #1871
Sorted out a considerable number of issues in cluster bring up

[2019-07-11 13:15] ppitonak commented on #1871
@mohammedzee1000 I can provision 4.2, ping me if you need help

[2019-07-11 16:23] cdrage commented on #1715
Since we're unable to reproduce this and @girishramnani hasn't replied back, let's close this for now :+1:

[2019-07-11 16:23] #1715 closed

[2019-07-11 16:30] jeffmaury opened #1903 "When using structured output list are using odo.openshift.io/v1alpha1 for apiVersion"
[kind/bug]

The common pattern is that `List` have `v1` for `apiVersion`.
Ex:

`oc get project -o json`

[code]

## What versions of software are you using?
- Operating System: Win10 Pro
- Output of `odo version`:

`odo v1.0.0-beta3 (c2b402e3)`

## How did you run odo exactly?

`odo list -o json`
## Actual behavior
`
{"kind":"List","apiVersion":"odo.openshift.io/v1alpha1","metadata":{},"items":[{"

[2019-07-12 07:17] dharmit commented on #1430
With the help of @mohitsuman in providing us with latest VS Code extension that works with `odo` beta, we (thanks @girishramnani) tried to reproduce this issue on Fedora as well as Windows systems. However, first push works just fine unlike the way it breaks at 02:00 in the video and also `odo watch` works just fine.

@apupier since you're not working on this at the moment, I suggest you try this

[2019-07-12 07:42] amitkrout commented on #1803
@girishramnani Found some weird behaviour observed which i believe is not acceptable for a cli tool. Due to the issue #1899 unfortunately it was not reported. When i am fixing the issue via #1902 this is what i am hitting

[code]

**Analysis**

Actual - For a graceful exit, message is redirected to stderr chanel
Expected - For a graceful exit, message should be redirected to stdout chanel

Due to

[2019-07-12 07:46] kadel commented on #1430
/close

feel free to reopen if someone reproduces this with vscode extension that uses odo beta (I believe that it was not released yet, but it should be soon)

[2019-07-12 07:46] #1430 closed

[2019-07-12 07:56] surajnarwade commented on #1794
Closing this issue since https://github.com/openshift/odo/pull/1828 is merged

[2019-07-12 07:56] #1794 closed

[2019-07-12 12:36] kadel commented on #1872
`odo service create` can have `--context` flag, but it should only read the project and application name from the component config if flags are not specified.

We don't need to write any information about the service that is being created into the component config.
This will be handled by `odo link` command later.

[2019-07-12 20:28] jeffmaury opened #1907 "odo service create crash under Win/Cygwin"
[kind/bug]

Please note that the crash does not occur under native Windows shell (cmd)

## What versions of software are you using?
- Operating System: Win10/Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

`odo service create`

## Actual behavior

## Expected behavior

No crash

## Any logs, error output, etc?

[2019-07-15 08:20] #1895 closed

[2019-07-15 08:20] #1894 closed

[2019-07-15 09:11] girishramnani opened #1908 "ODO_S2I_DEPLOYMENT_BACKUP_DIR cleanup from occlient"
once https://github.com/openshift/odo/pull/1840 is merged, `ODO_S2I_DEPLOYMENT_BACKUP_DIR` wouldn't be needed and hence we should remove that from occlient

[2019-07-15 09:21] amitkrout commented on #1903
[code]
@jeffmaury You are right, but not sure what is the reason behind odo call displaying ```"apiVersion":"odo.openshift.io/v1alpha1"```. @surajnarwade Can you please respond to this

[2019-07-15 10:09] #1866 closed

[2019-07-15 11:04] surajnarwade commented on #1832
I am not able to produce this locally

[2019-07-15 11:29] surajnarwade commented on #1863
`component.Exists` is being resolved here: https://github.com/openshift/odo/pull/1905

[2019-07-15 11:30] surajnarwade commented on #1876
Closing issue since this is fixed in  #1828  & it is merged :tada:

[2019-07-15 11:30] #1876 closed

[2019-07-15 11:34] surajnarwade commented on #1292
Closing this since we use new structs now

[2019-07-15 11:34] #1292 closed

[2019-07-15 11:59] amitkrout commented on #1907
@jeffmaury I am able to reproduce it on ```Cygwin``` terminal, However it works on Windows ```PowerShell``` and ```Command prompt``` terminal.

ping @kadel @cdrage

<img width="1342" alt="Screen Shot 2019-07-15 at 5 27 16 PM" src="https://user-images.githubusercontent.com/19851115/61214599-e9398400-a725-11e9-9c91-f289e0f45c62.png">

[2019-07-15 12:02] amitkrout commented on #1832
@surajnarwade Give some more continuous try. Out of 10 you will hit this issue atleast 40% i guess ;)

[2019-07-15 13:57] amitkrout commented on #1396
https://github.com/openshift/odo/pull/1875#issuecomment-511411883

[2019-07-15 13:57] #1396 closed

[2019-07-15 14:21] cdrage commented on #1464
Hey @boczkowska

So I did originally outline the document here: https://github.com/openshift/odo/pull/1465

Simply running the commands and having the output of *every* json command in a concise document would be a start..

Do you have any experience in "json output" and making it generic / agnostic for the output? That's the only point I'm unfamiliar with.

Otherwise, for the documentation, we co

[2019-07-15 14:31] kadel opened #1910 "unable to push component created with beta3 version"
[code]

This is probably due to latest chnages in https://github.com/openshift/odo/pull/1828

ping @surajnarwade

[2019-07-15 15:08] kadel commented on #1908
/assign @girishramnani
/priority high

This needs to be done rather sooner than later!

[2019-07-15 15:08] kadel commented on #1908
I would actually prefer to do this as part of https://github.com/openshift/odo/pull/1840

[2019-07-15 17:03] jeffmaury opened #1911 "odo incorrectly report invalid flag when a non existent command is used"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

` odo app create --project springproject jeffapp`

## Actual behavior

[code]

## Expected behavior

Should report that the `create` command is not valid, not the `--project` flag incorrect

## Any logs, error output, etc?

[2019-07-15 17:11] cdrage commented on #1907
From looking at the error messages, looks to be something happening upstream / the library? @metacosm

[2019-07-16 03:17] surajnarwade commented on #1910
@kadel , can you point me to example java repo ?
because it works with nodejs and php for me

[2019-07-16 03:27] surajnarwade commented on #1910
@kadel , your `.odo/config.yaml` doesn't have `Ports` section, how come ?
it should error out at `odo create` itself if there's no ports

[2019-07-16 05:16] surajnarwade commented on #1911
damn good catch :tada:

[2019-07-16 06:32] #1805 closed

[2019-07-16 07:08] janepelladinesh opened #1913 "ODO linking"
I have  Kafka Pod, and producer and consumer-python code ,It was executing in my VM,I want to create another pods for producer code and consumer code, and it should be communicate with my kafka pod using odo ,please resolve it

[2019-07-16 07:11] dharmit commented on #1718
Hi @mik-dass @surajnarwade @kadel

I'm hitting a wall here. Can you please help me answer a few questions and point me in the right direction?

I read the "Completion Architecture" doc (https://github.com/openshift/odo/blob/master/docs/completion-architecture.adoc) and tried to make sense from it.

I commented the line https://github.com/openshift/odo/blob/34e362dc9d7b5f1a4e713e69548d0126f7f73f99/

[2019-07-16 07:42] amitkrout commented on #1910
@kadel I am not able to reproduce this.

Steps i followed:
[code]

[code]

@kadel Can please provide the detail steps

it should error out at odo create itself if there's no ports

@surajnarwade See the config file i pasted above. That also does not have the ```Port``` section.

[2019-07-16 07:56] #1481 closed

[2019-07-16 10:25] surajnarwade commented on #1910
/me on latest master

[code]

[code]

@amitkrout I followed your steps for java s2i image here's my localconfig with ports

[code]

cc @amitkrout  @kadel

[2019-07-16 10:51] amitkrout commented on #1838
ping @kadel

[2019-07-16 11:16] surajnarwade commented on #1913
@janepelladinesh can you please provide steps to reproduce the issue

[2019-07-16 11:36] janepelladinesh commented on #1913
i had created a python flask application as a odo component ,the code consists of  kafka producer code, error is it is not connecting to my kafka pod , i want to know how to connect to external ip in openshift do ,please help

[2019-07-16 12:38] amitkrout commented on #1910
I tested it on [beta-3](https://github.com/openshift/odo/releases/tag/v1.0.0-beta3) bits. Then the changes of port info in the config file is not the part of beta-3 releases.

[2019-07-16 13:13] surajnarwade commented on #1910
@amitkrout because there's no release after PR got merged

[2019-07-16 14:04] kadel commented on #1910
To reproduce the issue you have to create a component using beta3 and then run push using the latest master.

[2019-07-16 14:11] kadel commented on #1910
- ./odo-darwin-amd64 is released beta3 version
 - odo is master build

push expects the ports to be in the local config, but the older version was not adding it when `--port` was not used.

[code]

[2019-07-16 14:26] surajnarwade commented on #1910
@kadel , but things addressed in #1828 are expected right ?

* `odo create` will look for ports in image and put it in localconfig and error out if there's no port
* `odo push` should look for ports in localconfig instead of again making the API call

[2019-07-16 14:28] surajnarwade commented on #1913
@janepelladinesh please provide proper steps and sample code to reproduce

[2019-07-16 14:33] kadel commented on #1910
yes, overall what that PR is doing is right.
But we need to find a solution for this or document migration path.
Not breaking compatibility is always a better path.

What if `odo push` would lookup exposed image ports again if there are no ports specified in localconfig?

[2019-07-16 14:34] surajnarwade commented on #1910
@kadel ,

`odo create` itself takes care, right it will error out if there's no port and ask user to provide ports

[code]

[2019-07-16 14:35] surajnarwade commented on #1910
Though I agree with this :smiley_cat:

[2019-07-16 15:00] amitkrout commented on #1782
[code]
Details - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/1875/pull-ci-openshift-odo-master-integration/845

@mik-dass Is it related to this issue ?

[2019-07-16 15:10] kadel commented on #1910
the problem is that when the component was created with older odo versions (beta3 and older) push won't work.

[2019-07-16 16:40] jeffmaury opened #1914 "odo creates storage with invalid path on windows"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

`odo storage create storage1 --path /storage1 --size 1gi`

Please note that component was not pushed to the cluster

## Actual behavior

`odo storage list` then returns:

[code]

## Expected behavior

## Any logs, error output, etc?

[2019-07-17 05:44] mohammedzee1000 commented on #1871
@ppitonak sure i was able to successfully bring up 3.11 cluster

[2019-07-17 06:02] amitkrout commented on #1910
We need to include some upgrade path test in our test.

[2019-07-17 06:18] dharmit opened #1915 "Repeating code when creating new context in "pkg/odo/genericclioptions/context.go""
[kind/bug]

## What versions of software are you using?
- Operating System: All
- Output of `odo version`: master

## Any logs, error output, etc?
There seems to be repeating code in `pkg/odo/genericclioptions/context.go` at https://github.com/openshift/odo/blob/bab62c4d7c00d851cbb60d8d1ca22ee7806399e6/pkg/odo/genericclioptions/context.go#L100-L106 and https://github.com/openshift/odo/blob/bab62c4

[2019-07-17 07:22] dharmit commented on #1838
Looking at https://github.com/openshift/odo/blob/bab62c4d7c00d851cbb60d8d1ca22ee7806399e6/pkg/odo/cli/service/list.go#L49 I think that `odo service list` is not going to work without a context as it needs application name. So executing `odo service list` from a directory that doesn't have a component is going to fail unless we somehow use a default app+project combination when the command is execu

[2019-07-17 08:22] mik-dass commented on #1782
@amitkrout I don't think so as this issue is related to the update scenario and from the logs the above error occured during the first push

[2019-07-17 08:50] #1899 closed

[2019-07-17 10:25] janepelladinesh commented on #1913
import threading, logging, time
import multiprocessing

from kafka import  KafkaProducer

class Producer(threading.Thread):
    def __init__(self):
        threading.Thread.__init__(self)
        self.stop_event = threading.Event()

    def stop(self):
        self.stop_event.set()

    def run(self):
        producer = KafkaProducer(bootstrap_servers='10.128.0.202:9092')
        producer.send('te

[2019-07-17 10:26] janepelladinesh commented on #1913
This is the code , in the bootstrap_servers i mentioned ip address ,but it was not connected during odo push

[2019-07-17 10:39] kadel commented on #1838
`odo service list` should work in a similar way to `odo component list`

if run inside the context directory or with `--context` flag it will take project and application name from the component config.
If run outside of the context directory or without `--context` flag it should error out at tell the user that `--project` and `--application`  or `--context` is required. I believe that we are doin

[2019-07-18 05:38] dgolovin commented on #1893
@kadel could someone look at this?

[2019-07-18 12:12] mohammedzee1000 commented on #1773
@boczkowska do you have any updates or do you need any help
`GLOBALODOCONFIG ` allows you to change the location of where odo preferences are stored

[2019-07-18 12:28] kadel commented on #1726
https://github.com/openshift/release/pull/4396

[2019-07-18 12:55] girishramnani commented on #1846
so essentials whats happening here is that the `componentContext` and `SourceLocation` are joined to get the sourceOsPath.
In this case both are `tests/examples/binary/java/wildfly/ROOT.war` and `tests/examples/binary/java/wildfly` which get appended together generating `tests/examples/binary/java/wildfly/tests/examples/binary/java/wildfly` which doesn't exist

The approach to solve this should be

[2019-07-18 16:06] girishramnani opened #1922 "switching directory between odo create and odo push fails"
As the sourceLocation is stored relative to the directory `odo create` is run it, when the directory is switched to run `odo push` it fails.
[code]

[2019-07-18 16:17] girishramnani commented on #1922
This is happening because we store the `SourceLocation` relative to the currentDirectory where is running. This is working currently because the tests run the `odo create` and `odo push` from the same directory making currentDirectory same in both cases but in the real world that wouldn't be the case.
Hence we should make sure that `SourceLocation` is set relative to the `context` dir and hence it

[2019-07-18 16:18] girishramnani commented on #1846
https://github.com/openshift/odo/issues/1922#issuecomment-512885702

[2019-07-18 17:04] jorgemoralespou commented on #1922
the source location has to always be sub directory of the context if binary or source. That has to be a requirement, otherwise too many problems can arise.

[2019-07-19 08:18] girishramnani commented on #1922
We have tests that doesn't follow the requirements. We need to update that

[2019-07-19 11:56] jeffmaury opened #1925 "odo delete fails for not pushed component"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

First, component was created but not pushed:
`odo create java:8 sbcomp`

then

[code]

## Actual behavior

[code]

## Expected behavior

[code]

## Any logs, error output, etc?

[2019-07-19 14:05] #1803 closed

[2019-07-19 19:02] alanconway opened #1927 "golangci-lint reports dead code, missing error checks and other issues."
golangci-lint is a meta-linter that runs a bunch of other linting tools (lint, vet etc.) very quickly.
With default settings it catches a lot of real problems and very few false ones.
I recommend we included it in the odo build vaildation.

## Actual behavior

In root of odo repo:
[code]
Prints a lot of  issues

## Expected behavior

No issues.

## Any logs, error output, etc?

[lint.txt](https://

[2019-07-20 06:39] girishramnani commented on #1825
So two tasks
- prefix to suffix
- unifying `.` , `context` and provide nothing behaviors

[2019-07-20 20:37] jeffmaury opened #1929 "odo delete does not delete .odo/config.yaml file"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

[code]

`odo delete -f`

## Actual behavior

Component is deleted but local `.odo/config.yaml` is not deleted

## Expected behavior

`.odo/config.yaml` deleted

## Any logs, error output, etc?

[2019-07-20 20:50] jeffmaury opened #1930 "odo create generates relatives path making it difficult for IDE integration"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

[code]
## Actual behavior

`cd subdir;odo list`

reports `source` as `file:///./`

## Expected behavior

Source as absolute path

## Any logs, error output, etc?

[2019-07-20 22:18] jeffmaury opened #1931 "Issue template still mentions https://chat.openshift.io/developers/channels/odo"
[kind/Documentation]

## What did you find missing in the documentation?

The https://chat.openshift.io/developers/channels/odo mention is not valid anymore

## What is the relevance of it?

When creating an entry

[2019-07-20 22:28] jeffmaury opened #1932 "odo push from git display stack trace and strange characters"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10
- Output of `odo version`:

[code]

## How did you run odo exactly?

`odo create java:8 sbcomp --app sbapp --git https://github.com/jeffmaury/spring-boot-rest`
`
odo push`
## Actual behavior

[code]

## Expected behavior

Error or success reported without stacktrace. Also seems only 30s is allocated for the build to

[2019-07-20 22:30] jeffmaury commented on #1929
Closed after I discovered the `--all` flag

[2019-07-20 22:30] #1929 closed

[2019-07-21 05:52] girishramnani commented on #1932
So using the latest master branch I was not able to reproduce this. which probably means it got fixed.
[code]

[2019-07-21 10:49] jeffmaury commented on #1932
Verified. Closing

[2019-07-21 10:49] #1932 closed

[2019-07-21 12:06] girishramnani commented on #1931
Currently we haven't finalized the public channel for odo and as the coreos slack is not publicly accessible (if I am not wrong) so we cannot add that in the templates either.
cc @kadel @jorgemoralespou

[2019-07-21 12:10] girishramnani commented on #1925
I think this is expected behavior because if we show `Component sbcomp deleted` then that actually is a noop because we are not doing anything on the cluster and the only cleanup needed is the local config (`.odo/config.yaml`) which we only delete when provided with the `--all` flag (`odo delete --all`)

[2019-07-21 20:03] jeffmaury commented on #1925
Yes but the problem is that even if you pass the `--all` flag, the `.odo/config.yaml` will not get removed as `odo` claims the component does not exist

[2019-07-21 20:33] jeffmaury opened #1934 "Debug support proposal"
[kind/Feature]

## Which functionality do you think we should add?

One very important feature is the debug support.

## Why is this needed?

Because we always debug !!!!

## Proposal

As requested by @veillard, I'm starting the discussion based on the JBoss Tools experience.
Comments are welcomed.

In order to be able to debug, the underlying container must be started in a specific way so that th

[2019-07-21 20:34] jeffmaury commented on #1931
Agree but we should remove the mention to a non existing channel even if we don't have the next one

[2019-07-21 20:55] girishramnani commented on #1931
Sure, makes sense

[2019-07-21 21:00] girishramnani commented on #1925
So I will consider the acceptance criteria for this issue to be that “—all” should remove the local odo config and not error out

[2019-07-22 00:48] sspeiche commented on #1934
Think this is a dup of https://github.com/openshift/odo/issues/822

[2019-07-22 02:30] Preeticp commented on #822
@boczkowska this is going to affect docs for the 4.2 release, please add a parallel issue to our docs board.
@kadel @sspeiche:
1. We need to have a label "Needs Docs" to identify issues which need docs. So far we tracked issues needing docs using Type/Docs or Kind/Docs but those would be inappropriate for these kind of issues.
2. Also, though I am a member of the OpenShift org I cannot add the abo

[2019-07-22 03:51] sspeiche commented on #599
Bumping this, it is a MUST HAVE for 1.0. Confirmed with @gorkem that dev console is following the recommendation as we have outlined.

I tested the master of `odo` just now and still is generated the wrong labels.

Project created by`odo`:

[code]

Project created by Dev Console

[code]

`odo` should be producing these:
[code]

ALSO, the naming convention for DCs and other resources should be the

[2019-07-22 03:55] sspeiche commented on #599
![devconsole](https://user-images.githubusercontent.com/727196/61605314-ec93aa80-ac12-11e9-9861-e565dcbc3c02.png)
![odo](https://user-images.githubusercontent.com/727196/61605315-ec93aa80-ac12-11e9-95f8-6dec8e43ebf7.png)

[2019-07-22 05:41] surajnarwade commented on #1712
Among all commands mentioned, all except following are resolved:

[code]

[2019-07-22 06:44] mohammedzee1000 commented on #1594
Alright so here is what we need right now

- [ ] rhel packaging for our supervisord image https://github.com/openshift/odo-supervisord-image

- [ ] odo packages in image as oc is for local delivery https://github.com/openshift/origin/blob/master/images/cli/Dockerfile.rhel

- [ ] odo binary and rpm built and packages via brew

[2019-07-22 06:46] mohammedzee1000 commented on #1594
@openshift/openshift-team-automated-release

[2019-07-22 07:23] mohammedzee1000 commented on #1594
git@github.com:mohammedzee1000/odo-supervisord-image.git

[2019-07-22 07:23] mohammedzee1000 commented on #1594
https://jira.coreos.com/browse/ART-811

[2019-07-22 08:25] mohammedzee1000 opened #1935 "odo should pull a different supervisord image on rhel"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Currently there is only one image that odo uses for supervisord
pkg/occlient/occlient.go:	defaultBootstrapperImage = "quay.io/openshiftdo/supervisord:0.7.0"
We should make it possible to detect RHEL OS, and if that is the case, use a rhel based supervisord image.

## Why is this needed?
For releasing on RHEL

[2019-07-22 08:26] mohammedzee1000 commented on #1594
odo should use rhel based supervisord on rhel when it has been built
https://github.com/openshift/odo/issues/1935

[2019-07-22 08:31] mohammedzee1000 commented on #1935
As things stand we need to know the name of image to actually update it which needs image publishing mechanism to be added

But we can start a PR for rest of the logic

[2019-07-22 09:03] amitkrout opened #1936 "weird odo preference file creation behaviour"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported
- Output of `odo version`: master

## How did you run odo exactly?
**Step 1:**
$ odo project create test
 ✓  New project created and now using project : test
Amits-MacBook-Pro:odo amit$ odo project create test1 -v4 -w

**I0722 13:53:55.215196    2082 preference.go:116] The configFile is /Users/amit/.odo/preferenc

[2019-07-22 09:03] amitkrout commented on #1936
/assign @girishramnani

[2019-07-22 09:06] amitkrout commented on #1936
As of now ```odo preference set ...``` only creates the file

[2019-07-22 09:49] surajnarwade commented on #1859
HI @chandrapersi , Closing this issue as of now. feel free to reopen if needed :smile:

[2019-07-22 09:51] #1859 closed

[2019-07-22 10:54] #1825 closed

[2019-07-22 10:55] surajnarwade commented on #1708
@amitkrout , can you please confirm this issue again because, I still can't reproduce the error

[2019-07-22 10:58] amitkrout commented on #1708
@surajnarwade Sure, Will send a pr just to check if that reproduce in CI setup. Locally it works as i mentioned above.

[2019-07-22 11:38] girishramnani commented on #1934
This issue outlines a proposal to implement #822. We can keep that as a separate issue or directly on #822.

[2019-07-22 12:23] mohammedzee1000 commented on #1935
Trying with ubi image that should hepl avoid this
https://github.com/openshift/odo-supervisord-image/pull/25

[2019-07-22 12:27] girishramnani commented on #862
document katakoda's example as part of this issue

[2019-07-22 12:50] #1846 closed

[2019-07-22 12:50] #1922 closed

[2019-07-22 12:53] girishramnani commented on #1914
This issue is only reproducible on windows

[2019-07-22 12:58] girishramnani commented on #1712
@dgolovin is this issue still relevant?

[2019-07-23 07:28] amitkrout opened #1940 "Push fails with error "unable to wait for build: timed out waiting for the condition""
[kind/bug]

## What versions of software are you using?
- Operating System: OpenShift CI
- Output of `odo version`: master

## How did you run odo exactly?
OpenShift CI failure.

## Actual behavior
[code]

## Expected behavior
Should not error out

## Any logs, error output, etc?

[2019-07-23 08:20] kadel opened #1941 "Merging is blocked due to CI issue (route53 error)"
[code]

https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/1939/pull-ci-openshift-odo-master-integration/940
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/1918/pull-ci-openshift-odo-master-integration/941

[2019-07-23 08:21] kadel commented on #1941
/cc @mohammedzee1000

[2019-07-23 10:49] surajnarwade opened #1942 "Implement `--wait` flag for `odo storage delete`"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Add `--wait` flag in `odo storage delete` similar to `odo project create`

## Why is this needed?

Reference: `waitForStorageToBeGone` from https://github.com/openshift/odo/issues/1739

as of now, vscode plugin relies on,

[code]

[2019-07-23 10:52] surajnarwade opened #1943 "Implement `--wait` flag for `odo service delete`"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Add `--wait` flag in `odo storage delete` similar to `odo project create`

## Why is this needed?

Reference: `waitForServiceToBeGone` from https://github.com/openshift/odo/issues/1739

as of now, vscode plugin relies on,

[code]

[2019-07-23 12:19] dharmit commented on #1872
If I understand correctly, we should follow below rules:
1. `odo service create` works if and only if called from inside a directory containing a pre-defined component.
2. `odo service create --context /path/to/dir` works from anywhere on system as long as `/path/to/dir` contains a valid context.
3. `odo service create --app myapp --project myproj` works from anywhere on the system. Do we create a

[2019-07-23 13:43] dharmit commented on #1810
@kadel I looked at the discussion on the other issue and, I believe, most of the points being discussed between you & @jorgemoralespou are covered in the https://github.com/openshift/odo/issues/1872#issuecomment-514185476. But correct me if I'm wrong.

[2019-07-24 06:49] kadel opened #1944 "Check closed issues in 1.0 milestone and add need-docs label"
https://github.com/openshift/odo/milestone/8?closed=1

Go through closed issues and mark the ones which needs the docs?
For example, if there is a new flag that needs documentation than the issue should have `need-docs` label etc...

This will help docs team to plan their work.

[2019-07-24 06:50] kadel commented on #1944
/priority medium
/milestone 1.0

[2019-07-24 07:34] kadel commented on #599
The first thing that we need to do is to figure out the right labels for odo.

What I have described in  https://github.com/openshift/odo/issues/599#issuecomment-488610781 is not correct.

| use | current odo label | new label based on [guidelines](https://github.com/gorkem/app-labels) |
|-|-|-|
| application name | app.kubernetes.io/name | ?? |
| component name | app.kubernetes.io/component-name

[2019-07-24 07:37] amitkrout commented on #1941
Seems no resolution has been done form the concern team - https://coreos.slack.com/archives/CBN38N3MW/p1563853906030000

[2019-07-24 10:20] kadel commented on #1726
openshift/release#4396

 was merged
/close

[2019-07-24 10:20] #1726 closed

[2019-07-24 10:27] kadel commented on #1311
This feature is mostly for odo developers for testing purposes.

A normal user shouldn't ever need to use this.
I'm not sure if this needs end-user documentation.

[2019-07-24 10:27] girishramnani commented on #1936
@amitkrout according to a past discussion, it was decided that config files should only be created when there is something done with them. until a user doesn't add something to the preferences using `odo preference set ..` odo consumes all the defaults and hence in my opinion we shouldn't create the file unnecessarily

[2019-07-24 10:31] kadel commented on #1882
https://github.com/openshift/odo/pull/1891 already improved the speed of validation a lot.

Not sure how big impact his will have.
If this is something that we can easily enable and it will be just one day work, let's do it. But I don't think that we need to spend more time on this right now.

/priority low

[2019-07-24 10:37] girishramnani commented on #1882
got it

[2019-07-24 10:45] amitkrout commented on #1429
Validated the issue against the standalone odo [beta3](https://github.com/openshift/odo/releases/tag/v1.0.0-beta3) release, Win10, Command shell and it works as expected.

Steps i followed:
[code]
First click without updating the GreetingsServiceImpl.java file

Second click after updating the GreetingsServiceImpl.java file (odo watch detects the changes in the shell)

Third click after updating th

[2019-07-24 10:48] #1429 closed

[2019-07-24 11:03] girishramnani commented on #1914
I am not able to reproduce this -

Using powershell
- odo version
[code]
Scenario

[code]

[2019-07-24 11:07] girishramnani commented on #1914
similarly with CMD prompt, removing the .odo dir and starting fresh
[code]

[2019-07-24 12:07] surajnarwade opened #1945 "Adding machine readable structs for `service list`"
* Add machine readable struct for `service`
* add machine readable output for `odo service list`

[2019-07-24 12:08] surajnarwade commented on #1945
sub-issue for #1739

[2019-07-24 12:10] surajnarwade commented on #1945
PR is [here](https://github.com/openshift/odo/pull/1938)

[2019-07-24 12:15] mohammedzee1000 commented on #1935
CI is green on image PR. So once that goes in and odo starts using that image, we can close this

[2019-07-24 12:16] mohammedzee1000 commented on #1594
Setting up a call with Jessica Forrester to hash this out
/cc @jwforres

[2019-07-24 12:29] girishramnani commented on #1663
/project "Sprint 169"

[2019-07-24 12:36] jeffmaury commented on #1914
Ok so seems to be Cygwin related

[2019-07-24 12:59] cdrage commented on #1801
A few TODO's for this issue before we start work on it:

- [ ] `--complete` and `--uncomplete` needs to be removed into it's own standalone command (`odo utils complete`) or something similar
- [ ] Make sure that autocompletion works correctly
- [ ] Add documentation on how to correctly install / uninstall
- [ ] Add clear difference between "terminal" and "autocompletion" install. We currently hav

[2019-07-24 13:03] girishramnani commented on #1910
adapter will be released with beta4 so we dont need to provide a upgrade path

[2019-07-24 13:03] #1910 closed

[2019-07-24 13:21] girishramnani commented on #1936
we should make the logging message should be made less confusing

[2019-07-24 13:24] jeffmaury opened #1946 "odo push --show-log reports invalid build duration"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

`odo push --show-log`

## Actual behavior

[code]

## Expected behavior

See the output of `odo push`

[code]

## Any logs, error output, etc?

[2019-07-24 13:45] jeffmaury opened #1947 "odo url list -o json does not report not pushed URLs"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

` odo url list -o json`

## Actual behavior

[code]

Output of `odo url list`:

[code]
## Expected behavior

Reports non pushed URLs as well

## Any logs, error output, etc?

[2019-07-24 15:51] #1788 closed

[2019-07-24 15:57] amitkrout commented on #1946
ping @cdrage

[2019-07-24 18:48] danielhelfand opened #1949 "oc logout Also Logs Out odo"
[kind/bug]

When using `odo` and logged into the same cluster as `oc`, running `oc logout` causes `odo` to also be logged out of the OpenShift cluster. This is due to both using the same kube config most likely.

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: `odo v1.0.0-beta3 (c2b402e3)`

## How did you run odo exactly?
`oc login <cluster url> -u

[2019-07-24 18:50] cdrage commented on #1946
@amitkrout Thanks! I'll investigate this.

[2019-07-24 18:55] cdrage commented on #1949
`odo login` is an alias for `oc login` and vice-versa with `oc logout` and `odo logout`. This is expected behavior so we align with `oc` being used on same client.

It sucks, but we're stuck with it. Or else there's going to be two different environments between `oc` and `odo`.

What are your thoughts @girishramnani / @surajnarwade ?

[2019-07-24 18:59] danielhelfand commented on #1949
@cdrage Right, was expecting this to be intentional. I just wanted to report it and see if there had been any thought put into it at this point. I understand that this is somewhat of an edge case that may just have to be lived with.

[2019-07-25 07:11] kadel opened #1950 "How to properly build odo-supervisord-image without binary blobs."
[odo-supervisord-image](https://github.com/openshift/odo-supervisord-image) is a container image that odo uses to inject [SupervisorD](https://github.com/ochinchina/supervisord/), [dumb-init](https://github.com/Yelp/dumb-init) and few our bash scripts into the builder image.

Both [SupervisorD](https://github.com/ochinchina/supervisord/) and [dumb-init](https://github.com/Yelp/dumb-init) are added

[2019-07-25 07:11] kadel commented on #1950
/milestone 1.0
/priority high

[2019-07-25 08:09] surajnarwade commented on #1263
Closing since we have recent issues to track this

[2019-07-25 08:09] #1263 closed

[2019-07-25 08:29] mohammedzee1000 commented on #1950
We should have ubi once https://github.com/openshift/odo-supervisord-image/pull/25 goes in but yes, binaries will be an issue.

The safest bet is to try to get someone to package the bits we need(the version that we need) for centos and rhel. But that will involve a fair amount of work outside of odo itself but should mean no change in the image other than installing as rpm.

We already have rpm p

[2019-07-25 09:04] amitkrout commented on #1941
The issue is fixed as per the last comment in the slack thread [1]. I updated one of my pr and i do not see the issue in OpenShift CI. Hence closing the issue.

[1] https://coreos.slack.com/archives/CBN38N3MW/p1563974411089800?thread_ts=1563853906.030000&cid=CBN38N3MW

[2019-07-25 09:04] #1941 closed

[2019-07-25 11:07] dharmit commented on #1718
I'm hitting a wall again after making some progress on skipping the OpenShift cluster connection check as per https://github.com/dharmit/odo/commit/e362486b64ef4761c3460a2609d275280cf12ee7

Now `odo` complains following:
[code]

This error is thrown by the code at: https://github.com/openshift/odo/blob/bbee9156eb5ebddea3814cdce97cdb3d1a2bffdb/pkg/odo/genericclioptions/context.go#L170-L173

Which a

[2019-07-25 16:53] jeffmaury opened #1952 "odo delete enters an infinite loop after project is deleted and component name is set"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

first:
`oc delete project/demoproj`

then
odo create
once you see  `What do you wish to name the new component`, enter a different name and you will enter the infinite loop

## Actual behavior

[code]

## Expected behavior

Accept the provided na

[2019-07-26 09:41] amitkrout opened #1953 "odo fails to login to 3.11 cluster on psi whereas oc login works as expected"
[kind/bug]

## What versions of software are you using?
- Operating System: Tested on macOS
- Output of `odo version`: master

## How did you run odo exactly?

1. Connected to redhat vpn
2. Configured Dns to send request to `*.ocp311.odo`
3. odo login ...
[code]
[code]

## Actual behavior
See the issue title

## Expected behavior
Should login to the cluster. It seems odo login does not work the wa

[2019-07-26 09:41] amitkrout commented on #1953
ping @kadel @mohammedzee1000

[2019-07-26 09:44] amitkrout commented on #1953
Login does not work even after setting the preference ```Timeout``` to 40
[code]

[2019-07-26 11:12] kadel commented on #1953
This looks like something that is specific to our cluster setup. mainly to the way how DNS is configured.

/remove-priority critical
/priority high

[2019-07-26 11:13] kadel commented on #1952
/kind bug
/priority medium

[2019-07-26 12:40] kadel commented on #1872
yes

yes

Yes. The application doesn't have to be created as it is just a label value. Project shoul be created automatically if doesn't exist.

This is valid. If the project is not specified, than the one that is set as active in KUBECONFIG should be used.

In that case, the flag only overwrites what is in the context.
`odo service create --app myapp` in the context will use all the setting from

[2019-07-29 05:37] amitkrout opened #1955 "git component first push throws error of "timed out waiting for the condition""
[kind/bug]

## What versions of software are you using?
- Operating System: Supported
- Output of `odo version`: master

## How did you run odo exactly?
In OpenShift CI on two test node and these test runs on each node with complete isolation simultaneously.

## Actual behavior
Flaky

## Expected behavior
Should not be flaky

## Any logs, error output, etc?
[code]

[2019-07-29 05:41] amitkrout commented on #1955
@mik-dass Don't you think this issue is somehow related with #1782 ?

[2019-07-29 06:07] mik-dass commented on #1955
@amitkrout #1782 is a update issue. From the logs, this looks like a git component creation issue.

[2019-07-29 06:14] amitkrout commented on #1955
Thanks for confirming :)

[2019-07-29 06:35] amitkrout opened #1956 "odo push panic out when fails with error "timed out waiting for the condition""
[kind/bug]

## What versions of software are you using?
- Operating System: Supported
- Output of `odo version`: master

## How did you run odo exactly?
In OpenShift CI on two test node and these test runs on each node with complete isolation simultaneously. Also same panic message can be observed locally too.

## Actual behavior
Panic out

## Expected behavior
Should give a proper message

## Any

[2019-07-29 06:49] mohitsuman opened #1957 "Add server version for OpenShift 4.x clusters"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

`odo version` should point out server version for cluster in OpenShift 4.x.

## Why is this needed?
 Currently for OpenShift 3.x, `odo version` prompts the server version correctly. But in case of OpenShift 4.x, the server version is missing. This might be as `oc` also does not points the server version for OpenShif

[2019-07-29 12:57] mik-dass commented on #1925
@kadel @cdrage should we just change the error message or rewrite and make the run fail?

[2019-07-29 13:03] mik-dass commented on #1750
@kadel So `odo list` should show the list of URLs on and not on the cluster?

[2019-07-29 13:26] kadel commented on #1354
This was unblocked by https://github.com/openshift/odo/pull/1849
/remove-label status/blocked

[2019-07-29 13:50] surajnarwade commented on #1957
[code]

works for me though

[code]

[2019-07-29 15:04] amitkrout commented on #1953
This issue blocks odo on psi platform

[2019-07-29 15:08] cdrage commented on #1925
@mik-dass IMO I think we should:

- Check the case where it exists in the config but is not pushed and output a different error message

[2019-07-29 15:44] #1863 closed

[2019-07-29 18:48] #1773 closed

[2019-07-30 05:29] amitkrout opened #1961 "Deprecated project command "get" and "set" are still alive"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported
- Output of `odo version`: master

## How did you run odo exactly?
[code]
[code]
## Actual behavior
get and set commands are still available.

## Expected behavior
Should not visible in the UX and ofcourse if executed, these command should report error

## Any logs, error output, etc?

[2019-07-30 05:48] amitkrout commented on #1832
Reproduced in CI - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/1954/pull-ci-openshift-odo-master-integration/1061
[code]

[2019-07-30 07:26] mohammedzee1000 commented on #1950
Looking at building this image from this single repo somehow

[2019-07-30 09:53] mohammedzee1000 commented on #1935
https://github.com/openshift/odo-supervisord-image/pull/26

[2019-07-30 09:54] mohammedzee1000 commented on #1594
Getting supervisord image to build without pulling from internet https://github.com/openshift/odo-supervisord-image/pull/26

[2019-07-30 10:44] kadel opened #1964 "odo link - display injected env variables"
Currently, the user doesn't know what environment variables were added by `odo link` command.
Odo should inform users what environments were added to the component.

It could look like this:

-  linking component-service
[code]

- linking component-component
[code]

cc: @jankleinert

[2019-07-30 11:05] kadel commented on #1961
The decision on removing "get" and "set" was never made.
It is being discussed in https://github.com/openshift/odo/issues/1720

Closing this as a duplicate of https://github.com/openshift/odo/issues/1720 and prevent fragmenting discussion.

/close

[2019-07-30 11:05] #1961 closed

[2019-07-30 11:27] kadel commented on #1471
/open

there is a second PR for this https://github.com/openshift/odo/pull/1840

[2019-07-30 11:28] kadel commented on #1471
/reopen

[2019-07-30 11:56] amitkrout commented on #1961
@kadel Make sense. Thanks for the old issue reference.

[2019-07-30 12:23] kadel commented on #822
I can see two paths here:
1.  as @gorkem and @jorgemoralespou described we could enable debug mode by default
2. Enable it only when user requests. This will probably require restarting the application for most of the languages.

I also like the first option. I think that it makes sense as odo is primarily for inner loop development and it makes sense to have this enabled by default. There will be

[2019-07-30 12:45] jankleinert commented on #1964
@kadel Thanks for opening this! This would definitely address my concerns.

I'm also going submit a PR for the docs to explain in more detail how the component-component link env variables are constructed (for example, I incorrectly thought it was always COMPONENT_BACKEND_HOST / COMPONENT_BACKEND_PORT regardless of the component name, which I now know is wrong.)

The concept of linking components

[2019-07-30 13:58] mik-dass commented on #1718
The problem here is the completion architecture. Analyzing the issue logs, I can see that the auto complete was trying to find a component name instead of auto completing the flag `context`.

Also if we really want to remove the error message completely, we need to stop any print message deep in the architecture (it messes up auto completion).

[2019-07-31 08:02] dgolovin opened #1967 "Binary wildfly component does not deployed correctly"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10 Pro
- Output of `odo version`: locally built from master `odo v1.0.0-beta3 (dd181e65)`

## How did you run odo exactly?
[code]

## Actual behavior
Opening url2 shows default Wildfly page
![image](https://user-images.githubusercontent.com/620330/62194382-9cad9580-b32e-11e9-85f7-afdaa3b2ed01.png)

## Expected beha

[2019-07-31 08:19] mik-dass commented on #1967
@dgolovin Can please point to location of the war file you are using?

[2019-07-31 10:42] #1913 closed

[2019-07-31 10:43] janepelladinesh opened #1968 "ODO NGINX CREATION"
How to create Nginx component using odo ,and what are the files required to create the Nginx component?

Please help

[2019-07-31 12:21] amitkrout opened #1969 "--binary flag doesn't work without --context flag while creating component"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
See how to run section

## Expected behavior
--binary flag should not depend on --context flag

**EDIT:** --binary flag should not always depend on --context flag. For example creating a binary component in the working d

[2019-07-31 12:22] amitkrout commented on #1969
ping @girishramnani cc_ @kadel

[2019-07-31 12:55] amitkrout commented on #1968
Duplicate of #1874

@janepelladinesh Please track the issue in #1874

[2019-07-31 12:55] #1968 closed

[2019-07-31 13:04] amitkrout commented on #1869
You can track your concern in Issue #1874. Both issue looks similar.

[2019-07-31 13:04] #1869 closed

[2019-07-31 13:04] amitkrout commented on #1874
@surajnarwade https://github.com/openshift/odo/issues/1869#issuecomment-506665052 cc_ @rashmi-sakhalkar

[2019-07-31 16:24] cdrage commented on #882
Possibly have this for 1.0 / GA? @kadel @girishramnani

[2019-07-31 16:30] cdrage opened #1970 "Creating odo project prompts / output from logging in the wrong section."
[kind/Enhancement]

## Which functionality do you think we should update/improve?

See screenshot. The creating odo component should be under "validation".

![Screenshot from 2019-07-31 12-29-20](https://user-images.githubusercontent.com/6422176/62230052-fd6cba80-b38e-11e9-841d-38a976ac0310.png)

## Why is this needed?

Better UX / UI

[2019-08-01 04:38] dgolovin commented on #1967
@mik-dass It is built from https://github.com/wildfly/quickstart/tree/master/helloworld.

[2019-08-01 05:10] dgolovin commented on #1967
@mik-dass it works with latest build from master, the problem is I have to add /helloworld to url to see deployed app. Closing.

[2019-08-01 05:10] #1967 closed

[2019-08-01 05:16] dgolovin commented on #1969
It does not work with `--context .` and shows similar error message, except it says `......relative to .`.
Workaround is simply copying binary file into context folder and use relative name `./ROOT.war`.

[2019-08-01 05:57] amitkrout commented on #1969
+1, @dgolovin Also as a workaround you can use the absolute path in flag ```--context``` along with the ```--binary``` flag. For example
[code]

[2019-08-01 07:45] kadel commented on #882
Only if we get time for it. I don't think that this needs to be a high priority.

`oc` can be used to do this and we have it documented here https://github.com/openshift/odo/blob/c27e25e93a6a940b434444e8743f1d9219235aaa/docs/getting-started.adoc#adding-a-custom-builder

[2019-08-01 09:40] kadel commented on #1969
This is not how it supposed to work.

Each component has the base folder (context directory) even binary one.

Let's say that I have my component in `/home/tomas/AwesomeProject` and binary artifact is in `/home/tomas/AwesomeProject/target/AwesomeProject.jar`

I should run `odo component create java --context /home/tomas/AwesomeProject --binary target/AwesomeProject.jar` or just `odo component crea

[2019-08-01 09:46] kadel commented on #1970
Not sure about this.

How is component creation related to validation?

[2019-08-01 11:06] kadel commented on #1925
`odo delete --all` should delete the local configuration even if the component doesn't exist, it should not error out in this case.

A little bit more complicated situation is when odo can't reach the cluster. In that case, it can't check whatever component exists in the cluster or not. If the connection fails and component exists in the cluster and we delete local config, then it will end up in i

[2019-08-01 11:17] kadel opened #1971 "Overlapping messages when pushing git component"
There are overlapping messages when running `odo push` on git component.

"Creating component" and "Waiting for build to finish"

![git-component](https://user-images.githubusercontent.com/57206/62289187-5a837180-b45e-11e9-957e-5110712eb188.gif)

And when everything is finished "Creating component" message is there twice

<img width="351" alt="Screenshot 2019-08-01 at 13 14 31" src="https://user-i

[2019-08-01 11:23] dharmit commented on #1925
IMO, classification like below would help avoid confusion.

Case 1: Component has been pushed to the OpenShift cluster
[code]

Case 2: Component has not been pushed to the OpenShift cluster
[code]

[2019-08-01 11:26] amitkrout commented on #1971
@kadel I have observed it many times and it happens only with git component. Thanks for the issue

[2019-08-01 11:39] amitkrout opened #1972 "--path flag help is not descriptive"
[kind/bug]

## What versions of software are you using?
- Operating System: All supported
- Output of `odo version`: master

## How did you run odo exactly?
$ odo list -h
List all components in the current application.

[...]
  Flags:
      --all              Lists all components
      --app string       Application, defaults to active application
      --context string   Use given context directo

[2019-08-01 12:19] mik-dass commented on #1925
@kadel  So if the connection fails and we couldn't figure out if the component exists on the cluster or not, we just error out and don't delete the config, right?

[2019-08-01 12:38] girishramnani commented on #1793
@kadel , what should be the best way to test it? just checking that the dc has the `referenceOwner` or not? because if that's set correctly then the rest of the behavior is part of openshift

[2019-08-01 14:39] girishramnani opened #1975 "Odo index file stores absolute filepath for files"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora
- Output of `odo version`:

## How did you run odo exactly?
[code]
Check the `.odo/odo-file-index.json`, it will have files stored as absolute path which would
- if someone checks in the index file and another user gets that repo then the first push will always be a full build
- makes the project less portable. If a

[2019-08-01 15:31] kadel commented on #1975
/priority high
/kind bug
/milestone 1.0

[2019-08-01 16:14] jeffmaury opened #1976 "context and component name seems confusing"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

First created a component from a folder.

Then went one level up in the folder hierarchy: `cd ..`

Tried to create a storage:

[code]

Tried the same but removing the component name:

[code]

## Actual behavior

Error is component name is provide

[2019-08-02 03:30] cdrage opened #1977 "Reminder for release notes: No backwards compatibility with new labels."
[kind/Documentation]

## What did you find missing in the documentation?

This is a reminder that when https://github.com/openshift/odo/pull/1959 is merged that we should release some notes regards the removal of backwards compatibility with old labels.

## What is the relevance of it?

No backwards compatibility going forward.

[2019-08-02 05:52] amitkrout commented on #1969
I should run ```odo component create java --context /home/tomas/AwesomeProject --binary target/AwesomeProject.jar```

Agree, this is true

@kadel But this is throwing error for example
[code]

[2019-08-02 06:56] amitkrout commented on #1976
@jeffmaury This is expect because in your case no component is deployed in the cluster. You can first push the component then only you can create the storage with the specified component.

[2019-08-02 08:31] #1972 closed

[2019-08-05 09:30] mohitsuman opened #1979 "Provide a way to figure out the OpenShift server version, whether 3.x or 4.x"
[kind/Feature]

## Which functionality do you think we should add?
I am finding it tricky to figure out the OpenShift server version whether it is `3.x` or `4.x`.

Right now the only thing we get is the server url from `odo version`/ `oc version`.

## Why is this needed?

This will help for adapters to understand the server version and based on that decide the OpenShift web console URL.

For 3.x s

[2019-08-05 10:04] kadel commented on #1925
yes, that is correct

[2019-08-05 10:46] amitkrout opened #1980 "odo log dumps for supportability"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
pass/fail log dumps

## Why is this needed?
To collect all related log that causes failure even from container/api level and archive all those logs to make it portable.

[2019-08-05 10:49] amitkrout commented on #1980
ping @kadel
Please feel free to share your thoughts.

[2019-08-05 10:58] amitkrout opened #1981 "[Flake] Failed to update config to git component deployed"
[kind/bug]

## What versions of software are you using?
- Operating System: OpenShift CI
- Output of `odo version`: pr run

## How did you run odo exactly?
Run pr (on two test node) in OpenShift CI. I have seen this even on single test node.

## Actual behavior
Flakey

## Expected behavior
Should not be flakey

## Any logs, error output, etc?

Reference  - https://prow.svc.ci.openshift.org/view/gc

[2019-08-05 12:50] kadel opened #1984 "Mark supported and unsupported images builder images"
Not every s2i image will be fully supported by odo.
Two main problems that currently don't have a generic solution:
- Debug #822 - this won't work for every s2i builder image
- File deletions - https://github.com/openshift/odo/issues/1354. assemble scripts in some images are moving or copying files.

Odo should inform the user about what images are fully supported and which are not

Images that fu

[2019-08-05 15:04] amitkrout commented on #1708
[code]
@surajnarwade You can reproduce the issue on any cluster by using the above test code. If you uncomment ```// time.Sleep(5 * time.Second)``` and run can be run successfully. So it seems the api call is done before the actual list updated.

[2019-08-05 15:06] amitkrout commented on #1708
/unassign @amitkrout
/assign @surajnarwade

[2019-08-06 06:50] amitkrout commented on #1981
Same error i can reproduce it on my local setup on the cluster of 3.x that i have been using since 2 days, however on a fresh cluster the chance of hitting the issue is very less (1 out of 10).

Same observation i can find on 4.* cluster on aws too.

[2019-08-06 07:16] mik-dass commented on #1925
What should be the behavior when the component name is passed like `odo delete <component-name> --all`?

[2019-08-06 07:18] amitkrout commented on #1832
@surajnarwade I tried it locally too and unable to reproduce it on 3.11 cluster (No of try - 5). However this issue is inconsistently hit in CI.

My thought:
1. This may happen due to slow cluster
2. Or probably due to some network glitch
3. May be some other accept need to be verified

@surajnarwade Please share your thoughts cc_ @kadel

[2019-08-06 08:45] dharmit opened #1988 ""odo service list" lists a service that's not present on the cluster"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora (but I doubt all)
- Output of `odo version`: `master`

## How did you run odo exactly?
- I created a service with `odo service create`
- Before the service was provisioned, I did `odo service delete` for the service created in first step

## Actual behavior
- `odo service list` keeps showing the service to be in `De

[2019-08-06 08:53] dharmit opened #1989 ""odo service create" should fail without logging anything else when a service with same name already exists in the cluster"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora (but I doubt all)
- Output of `odo version`: `master`

## How did you run odo exactly?
- Created a service with `odo service create dh-prometheus-apb --plan ephemeral` and deleted it before it got provisioned using `odo service delete`.
- Faced and reported #1988
- Tried to create service with same command as earlie

[2019-08-06 09:10] girishramnani opened #1990 "add a test as part of push command that validate .odo/odo-file-index.json"
https://github.com/openshift/odo/pull/1982#pullrequestreview-271122885

[2019-08-06 10:34] dharmit commented on #1872
@kadel I pushed this commit (https://github.com/dharmit/odo/commit/11b479cfae117d6881524aa873328a135ec13da9) to add `--context` flag to `odo service create` command.

[2019-08-06 11:45] boczkowska commented on #1311
To be honest I’m struggling to see where it fits in the contrib docs, it’s would not be a part of a normal TDD workflow, would it it?
Should I maybe start compiling a proper debugging section for developers and it could be part of that?

[2019-08-06 11:47] girishramnani commented on #1872
I think thats expected as we assume if the user provides it then they know what they are doing

[2019-08-06 12:12] boczkowska commented on #1677
/assign

[2019-08-06 15:55] kadel opened #1992 "Update script generating cli-reference doc"
script needs to be updated
see  https://github.com/openshift/odo/pull/1987#pullrequestreview-271301165
and https://github.com/openshift/odo/pull/1987#pullrequestreview-271299954

[2019-08-06 16:15] kadel commented on #1925
if the current directory is component and it provided name matches the name from local config that proceed with the deletion.  If the name is not matching error out.

[2019-08-06 16:33] kadel commented on #1872
this is actually what we want. This is how it works everywhere else. Sorry I missed this in your original comment where you mentioned that it should error out. It should not error out but use values from flags.

[2019-08-06 17:55] cdrage commented on #1864
This has been fixed in PR: https://github.com/openshift/odo/pull/1898

[2019-08-06 17:55] #1864 closed

[2019-08-06 20:32] #1311 closed

[2019-08-06 20:36] cdrage commented on #1354
Hey @mik-dass

Question, as I'm having a brain fart over here trying to implement this.

As of right now, we have the `odo-file-index.json`.

In order to see what has been deleted, I was thinking of:

1. Generating another json file
2. Comparing the two and see what has been changed.

The problem is that some projects have thousands of files (think `golang` projects).

How do you suggest we compar

[2019-08-07 07:00] mik-dass commented on #1354
@cdrage I have already implemented the file deletion part here https://github.com/openshift/odo/blob/4929e494b3ae97ebe6ffd3f2cb47b35e837fd75d/pkg/odo/cli/component/common_push.go#L186. The list already contains the list of the deleted files filtered according to the glob rules in .gitignore or .odoignore

Even the e2e test was written for deletion https://github.com/openshift/odo/blob/4929e494b3ae

[2019-08-07 09:02] Rikbruggink opened #1994 "Change release format from gzip to tar gz."
[kind/Enhancement]

## Which functionality do you think we should update/improve?

release format change from gzip to tar.gz

## Why is this needed?

Currrently we are using the ansible module unarchive to process the needed binaries downloaded from mirror.openshift.com. The other binaries are released as tar.gz archives and the Ansible module handles this wel, but gzip is not something that is su

[2019-08-07 09:21] kadel commented on #822
I've just created a proposal document describing how odo debug could work. see PR https://github.com/openshift/odo/pull/1995

I also found some changes with NodeJS. It is also described in the document in https://github.com/openshift/odo/pull/1995

[2019-08-07 09:22] kadel commented on #1934
@jeffmaury I've just tried to describe how this could work in a proposal document. Can you please check and review it in https://github.com/openshift/odo/pull/1995?

[2019-08-07 11:05] #1838 closed

[2019-08-07 12:01] kadel commented on #1994
We  use `.gz` extension as tar is not used, it is just a single file that is compressed.
I guess that openshift-client and openshift-install have more than one file in their archive, so tar is used there.

[2019-08-07 13:58] Rikbruggink commented on #1994
openshift-install is also a one binary file. i understand the choice for ```gz```, but it is more uniform seeing the rest of the openshift binaries to use ```tar.gz``` even it is only a single file

[2019-08-07 14:02] johnfriz commented on #1173
Hi Folks. Just wondering what the plan in to develop the plugin concept further? Is there any follow up work planned at this time?

[2019-08-07 16:53] #1471 closed

[2019-08-07 17:20] cdrage commented on #1354
@mik-dass Thanks for the guidance, I'm going to implement it with your advice :+1:

[2019-08-08 10:27] kadel commented on #1936
agreed, there is no reason to create the file if it will be empty.

@amitkrout

Why do you think that this is needed?

[2019-08-08 11:18] #1925 closed

[2019-08-09 08:33] #1464 closed

[2019-08-09 09:56] mik-dass commented on #1750
I guess this command should be possible to be triggered from a non odo directory. If yes, then the problem will be detecting the source paths as we don't store the complete absolute path of the component. I guess this functionality may be added to the odo list command with the `path` flag enabled. That way we can detect the odo component directories and perform operations accordingly. @kadel WDYT?

[2019-08-12 05:34] amitkrout commented on #1936
This is not an empty file, its a ```.yaml``` file having three keys ```kind```, ```apiversion``` and ```Odosettings```.  But the values in the dictionary key ```Odosettings``` are empty.

AFAIU this is true that odo consume the default global preference values but that does not reflect in the output. For example ```UpdateNotification``` default value is ```true``` but it does not reflect in the ou

[2019-08-12 06:17] kadel commented on #1989
/priority low
/kind bug

[2019-08-12 06:18] kadel commented on #1981
/priority high
/kind flake
/area testing
/remove-kind bug

[2019-08-12 06:19] kadel commented on #1977
this was mentioned in release notes for beta4 -https://github.com/openshift/odo/releases/tag/v1.0.0-beta4
/close

[2019-08-12 06:19] #1977 closed

[2019-08-12 06:23] kadel commented on #1947
duplicate of https://github.com/openshift/odo/issues/1893
/close

[2019-08-12 06:23] #1947 closed

[2019-08-12 06:30] kadel commented on #1908
fixed in #1840
/close

[2019-08-12 06:30] #1908 closed

[2019-08-12 06:36] kadel commented on #1712
/remove-priority high
/priority medium

[2019-08-12 06:48] amitkrout commented on #1981
Some more same failure in CI - https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_odo/2001/pull-ci-openshift-odo-master-integration/1241/build-log.txt

[2019-08-12 08:56] kadel commented on #1793
yep, that could be enough

[2019-08-12 09:08] kadel opened #2002 "Remove Suraj from OWNER files"
Remove @surajnarwade from OWNERS file.

[2019-08-12 09:38] kadel commented on #1984
/priority high

[2019-08-12 09:55] girishramnani commented on #1984
One of the ways I feel this could be done is to add `HasDebug` flag in the `CatalogImage`  struct https://github.com/openshift/odo/blob/9276486fc6f9671900a69c1ce6729180b0130827/pkg/catalog/catalog.go#L13
and then just augment the output to list them separately.

[2019-08-12 09:58] girishramnani commented on #1936
@amitkrout This was also a conscious decision made with @jorgemoralespou. The reasoning was that the `preference view` should show transparently whats present in the preference and the cli --help is responsible for showing the defaults.

[2019-08-12 10:18] amitkrout commented on #1936
Could not get it. What does it mean ?

[2019-08-12 10:25] amitkrout commented on #1936
Does it showing the default values ?
i am expecting atleast something like
[code]

[2019-08-12 10:28] girishramnani commented on #1936
The argument to not do was as follows - the user could get confused about where the `true` for `UpdateNotification` is coming from. Hence a plan to provide the defaults as part of `odo config --help` was considered.

[2019-08-12 10:32] kadel commented on #1994
ok, we will change it

[2019-08-12 10:48] girishramnani commented on #1953
I feel the way `oc` resolves DNS is different then ours. maybe `odo` is not considering the system wide dns configurations?

[2019-08-12 10:59] amitkrout commented on #1936
I don't understand why user will get confuse by seeing the default value ```true``` against key ```UpdateNotification```. I feel it will provide more info to the user.

[2019-08-12 11:00] girishramnani commented on #1975
Opened a draft pr for people to try and also so we could discuss the best way to handle the breaking change

[2019-08-12 11:02] girishramnani commented on #1975
Maybe we can even version the index file?
We can use the same base struct as we use that we use for json output?

[2019-08-12 11:04] amitkrout commented on #1936
[code]
From here it is not clear of what happens if i don't set the ```UpdateNotification```

[2019-08-12 11:26] girishramnani commented on #1931
we currently have a google group for questions https://groups.google.com/a/redhat.com/forum/#!forum/devtools-odo, I will add that instead

[2019-08-12 11:40] amitkrout commented on #1976
Feel free to re open the issue if you are not convinced with my https://github.com/openshift/odo/issues/1976#issuecomment-517579491

@mik-dass ^

[2019-08-12 11:40] #1976 closed

[2019-08-12 12:51] kadel commented on #1975
One thing to keep in mind is that this file can be always recomputed. It doesn't hold any important information. Even if the structure changes, we can delete the file and recreate it. The only input that this will have is that it will trigger push even if files were not changed.

[2019-08-12 12:52] kadel commented on #1953
/remove-priority high
/priority medium

[2019-08-12 12:55] dharmit commented on #1975
I have a question which is not exactly related to the absolute vs. relative path discussion.

Is the index file going to be tracked in a git repo? If it is, are we assuming that two developers working on same project will also work on same OpenShift cluster? Because if they work on different OpenShift clusters, wouldn't the json file make odo believe that some files are already pushed to the clust

[2019-08-12 13:00] girishramnani commented on #1950
I think this is the PR https://github.com/openshift/odo-supervisord-image/pull/26

[2019-08-12 14:07] dgolovin commented on #1712
@girishramnani @kadel Not really relevant anymore, because context folder is required for component's commands to work.

[2019-08-12 14:40] jorgemoralespou commented on #1936
I think what @amitkrout requests can make sense, and it is showing the default value in the preference of it's not explicitly defined. This can be sober by fixing the help message.

[2019-08-12 15:00] cdrage commented on #599
I'm re-opening this issue as I believe we should have some form of documentation with regards to what labels that Odo looks for / uses in Kubernetes / OpenShift yaml. The above table that @kadel has posted we could possibly use in some form of "advanced document".

Ping @boczkowska

[2019-08-12 15:00] #1931 closed

[2019-08-12 15:01] kadel opened #2005 "add information about odo-users group to README.md"
Add information about https://groups.google.com/forum/#!forum/odo-users.
This is one of the places where odo users can ask questions and leave feedback

[2019-08-12 15:54] cdrage commented on #1772
Added some changes to PR: https://github.com/openshift/odo/pull/2006 for this issue.

[2019-08-12 16:01] girishramnani commented on #2005
/assign

[2019-08-12 17:00] girishramnani commented on #1989
a consideration for `odo service delete --wait` here could also be done which waits till the service is deprovisioned?

[2019-08-12 17:42] girishramnani commented on #1989
/assign

[2019-08-12 17:44] girishramnani commented on #1980
can you elaborate more on this @amitkrout , as we planning to index these logs in a something like ELK or store it somewhere for analysis?

[2019-08-12 17:47] girishramnani commented on #1712
closing as this seems to not be relevant anymore.

[2019-08-12 17:47] #1712 closed

[2019-08-12 17:49] cdrage commented on #2002
:cry:

[2019-08-12 17:58] girishramnani commented on #1994
/assign

[2019-08-12 17:59] cdrage commented on #1733
So... We have no documentation in https://github.com/openshift/odo/blob/master/docs/installation.adoc with regards to uninstall.

Ping @boczkowska

/label need-docs

[2019-08-12 18:04] cdrage commented on #1745
I don't believe we actually have many docs with regards to interactive mode. Perhaps we could have a quick look?

Ping @boczkowska

/label need-docs

[2019-08-12 18:04] #1745 closed

[2019-08-12 18:07] danielhelfand commented on #1733
Something to note here: The script won't work quite like `curl -L https://github.com/openshift/odo/raw/master/scripts/installer.sh -- uninstall | bash`

The correct way to call it would be as follows:
`curl -L https://github.com/openshift/odo/raw/master/scripts/installer.sh | bash -s -- --uninstall`

The weird syntax is related to how curl interpreting `--uninstall` as an unknown curl flag when us

[2019-08-12 18:09] cdrage commented on #1660
Just re-opening this, but do you think we should have a compatibility list / list of OpenShift clusters that Odo is compatible with on the README.adoc?

Ping @boczkowska @kadel @sspeiche

/label need-docs

[2019-08-12 18:17] cdrage commented on #1630
IMO should we create an additional document instead of having it only in the getting-started guide for .odoignore and .gitignore?

https://github.com/openshift/odo/blob/c27e25e93a6a940b434444e8743f1d9219235aaa/docs/getting-started.adoc

Ping @boczkowska

[2019-08-12 18:55] girishramnani commented on #1992
this part of the reference was added manually
[code]

[2019-08-12 18:58] cdrage commented on #1388
@boczkowska @kadel

Should we have a more extensive document with regards to how to use / some examples on storage?

[2019-08-12 19:05] cdrage commented on #1539
Again, I think we should add some docs regarding storage.

ping @boczkowska

[2019-08-12 19:05] cdrage commented on #1944
I've gone through all the issues and re-opened the ones I find necessary. Just cases of missing documentation!

[2019-08-12 19:05] #1944 closed

[2019-08-13 05:15] #2005 closed

[2019-08-13 05:53] girishramnani commented on #1936
sure, then I will fix the help message by showing ` (Default: x)` for each parameter

[2019-08-13 05:54] girishramnani commented on #1936
would that be ok @amitkrout?
cc @kadel

[2019-08-13 06:01] girishramnani commented on #1971
The reason for this to happen is because
- `Creating component` spinner starts due to `CreateFromGit`
- `Waiting for build to finish` spinner starts but this doesn't stop the parent spinner hence both show
- `Waiting for build to finish` stops but then actually the `\r\n` occurs and the `Creating component` shows up and hence we see that
- `Creating component` spinner stops

So questions
1 - the s

[2019-08-13 06:01] girishramnani commented on #1971
/assign

[2019-08-13 06:12] amitkrout commented on #1936
Yup, works for me. Then my second concern of ```command which uses preference as part of their execution should then able to create the preference file``` will be invalid.

@girishramnani also add a better phrase instead of ```The configFile is /Users/amit/.odo/preference.yaml``` for those command uses preference for their reference.

Something like
```The preference path reference is [path]/.odo/

[2019-08-13 06:42] girishramnani commented on #1936
sure

[2019-08-13 06:47] amitkrout commented on #1953
@mik-dass Plese follow the steps as suggested through 1-1 slak chat

[2019-08-13 06:56] mik-dass commented on #1953
@amitkrout I did but I still can't login

[2019-08-13 09:09] mik-dass commented on #1953
@amitkrout @kadel This seems to be a network issue according to me. I wasn't able to reproduce it on the office VPN with the latest `odo` binary but on the WiFi, I was constantly hitting the issue and wasn't able to connect to the cluster at all.

[2019-08-13 09:14] amitkrout opened #2010 "Fail to update to beta4 by the given script prescribed in odo version output"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora 30
- Output of `odo version`:
[code]

## How did you run odo exactly?
Steps:
[code]
Step 2:
[code]
## Actual behavior
beta3 is installed instead of beta4

## Expected behavior
beta4 should be installed by the recommended script ```curl https://raw.githubusercontent.com/openshift/odo/master/scripts/installer.sh | sh`

[2019-08-13 09:14] amitkrout commented on #2010
ping @mohammedzee1000

[2019-08-13 10:35] amitkrout commented on #1953
@mik-dass On fedora i can run odo and oc login successfully over a wifi network. I think there is something that ```oc login``` handles smartly with respect to network configuration where as odo doesn't. @kadel and team, If you have a macOS host then can you please try it

This could be a network issue i guess. Can you please paste the exact error message that are displayed in the terminal.

[2019-08-13 10:38] #1989 closed

[2019-08-13 10:52] kadel opened #2012 "odo debug port-forward command"
parent #822

debug proposal in #1995

add `odo debug port-forward` command

`odo debug port-forward LOCAL_PORT:REMOTE_PORT`
Forwards LOCAL_PORT to container port REMOTE_PORT.
This blocks the terminal.
It will be used in the odo debug start.
As long as this command is running the port forward is enable (same as oc port-forward).

`odo debug port-forward` should have the same behavior as `oc port-fo

[2019-08-13 10:53] kadel opened #2013 "add odo debug start command"
parent #822
debug proposal in #1995

#### `odo debug start`
Enables debug mode for the component. It does this by adding `DEBUG_MODE = true` environment variable.

After adding environment variables the component (Deployment Config) is restarted.
Once the pod is in running state `odo debug start` executes `odo debug port-forward $DEBUG_PORT:$DEBUG_PORT`.
This process is executed in the background

[2019-08-13 10:54] kadel opened #2014 "add odo debug stop command"
parent #822
debug proposal in #1995

#### `odo debug stop`
Stop port-forward process if running and remove `DEBUG_PORT` and `DEBUG_MODE` environment variables from Deployment Config.

First, terminate and cleanup port-forwarding.
If `~/.odo/port-forward.json` exists and process with PID is running terminate the process and remove the file.
If the process is not running just remove the file (warn t

[2019-08-13 10:54] kadel opened #2015 "add odo debug info command"
parent #822
debug proposal in #1995

#### `odo debug info`
Informs the user if the debug mode is enabled for the component and if the port-forward process is running or not, and information about ports used.

[2019-08-13 11:18] mik-dass commented on #1953
Here are the logs
[code]

[2019-08-13 12:10] mohammedzee1000 commented on #1594
Consolidated document https://docs.google.com/document/d/1nBa2RqrxGIaohNVXWctA1PLqs3wiQ9q_ltFyNQDMens/edit#

[2019-08-13 12:23] mohammedzee1000 commented on #1594
- Waiting on IT to add me to `devel` ldap group to have write access to our dist-gits
- Got added to openshift team on comet (check document above, TLDR: internal OSBS UI) Looking at comet, how most of the containers are maintained.
- Above PR needs to go in to be able to properly build the image ^

[2019-08-13 12:24] amitkrout commented on #1953
@mik-dass Ideally it should search on 10.0.*.* for console.ocp311.odo. Can you add the suggested nameserver just below the ```search ocp311.odo``` and give a try.

[2019-08-13 12:25] kadel commented on #1953
@amitkrout can you post verbose log to see where it fails?

[2019-08-13 12:28] amitkrout commented on #1953
@kadel @mik-dass
[code]

[2019-08-13 13:20] mik-dass commented on #1953
@amitkrout
[code]
even after adding the suggested parameters in the resolv.conf

Are you using the VPN on your home WiFi? What's the result when you turn off the VPN?

[2019-08-13 14:36] #2002 closed

[2019-08-13 15:11] amitkrout commented on #1953
@mik-dass Make sure that you are connected to the vpn while using wifi

[2019-08-13 16:05] kadel opened #2017 "add managed-by label"
add `app.kubernetes.io/managed-by` = `odo` label
This label can be later used to identify all resources that were created by odo.

It would be also great to record odo version, maybe something like
 `app.kubernetes.io/managed-by-version`?
This would be useful later when we have to introduce some breaking changes between  odo versions

[2019-08-13 17:08] #1810 closed

[2019-08-14 08:02] amitkrout commented on #1981
Reproduced in CI - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/1954/pull-ci-openshift-odo-master-integration/1061
[code]

[2019-08-14 08:18] kadel opened #2018 "odo push - copy only updated files"
`odo push` should not copy all the files, but only those that were updated

`odo push -f` should delete the remote directory and push everything again

[2019-08-14 08:18] kadel commented on #2018
/priority high
/milestone 1.0

[2019-08-14 08:25] amitkrout commented on #2018
This done recently by @mik-dass via odo smart push pr i guess.
@mik-dass Correct me if i am wrong

@mik-dass Can you please confirm this behavior if it was not part of your odo smart push pr ?

[2019-08-14 08:59] kadel opened #2019 "PR got merged even when TravisCI test were failing"
on travis CI
https://travis-ci.com/openshift/odo/jobs/225078001

 notice the projects names
[code]

full output
[code]

[2019-08-14 09:28] kadel commented on #2018
@mik-dass PR just did the groundwork, to allow this. Odo now knows what files were updated/deleted/added. But it is only used as an indication if files need to be transferred or not. But the actual transfer is still copying all the files regardless if they have been changed or not.

[2019-08-14 09:58] amitkrout commented on #2019
@kadel I could not find any abnormality in project name ```ajdvqxarqf```. But the part that stuck to mind is service list ```STATUS```
[code]
It seems the service is not created properly because the ```SATATUS``` is still showing ```Provisioning```. Then immediately in the very next step deletion of service is invoked and causes the failure
[code]

Test is hitting the issue because ```helper.WaitF

[2019-08-14 10:08] amitkrout commented on #2018
Ok

[2019-08-14 10:09] kadel commented on #2019
what is odd is that the delete command uses `ajdvqxarqf` but the error message mentiones `uphmxpo`

[2019-08-14 10:10] amitkrout commented on #2019
```uphmxpo``` is the app name

[2019-08-14 10:11] kadel commented on #2019
oh, my bad 😇, sorry

[2019-08-14 10:13] amitkrout commented on #2019
Ideally it should, but no idea why its not working. IMO the deletion code need some amount of investigation. I will create a separate followup issue.

[2019-08-14 10:31] amitkrout opened #2021 "odo service delete unable to delete provisioning service instance"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`: master

## How did you run odo exactly?
https://github.com/openshift/odo/issues/2019#issuecomment-521187529
[code]
## Actual behavior
[code]

## Expected behavior
Deletion should be successful irrespective of service status

## Any logs, error output, etc?

[2019-08-14 10:46] kadel commented on #2019
This is blocking all PR right now :-(

[2019-08-14 11:15] kadel commented on #2019
I just tried to delete service that was in provisioning state, it it was ok

[2019-08-14 11:19] kadel commented on #2019
[code]

[2019-08-14 11:20] kadel commented on #2019
LOL, the test is not deleting service, but it is trying to delete component !!!
How the hell this got in?

[2019-08-14 11:24] kadel commented on #2019
This got in with https://github.com/openshift/odo/pull/2001

[2019-08-14 11:26] amitkrout commented on #2019
Ahh

[2019-08-14 11:26] kadel commented on #2019
<img width="804" alt="Screenshot 2019-08-14 at 13 25 29" src="https://user-images.githubusercontent.com/57206/63017580-071a1600-be97-11e9-954d-11f59b32791d.png">

@amitkrout Can you please look into how this happened. It looks like that travis tests are not set as required :-(

[2019-08-14 11:28] amitkrout commented on #2019
This is very unfortunate. Will make it required then. cc_ @mohammedzee1000

[2019-08-14 11:30] amitkrout commented on #2021
#2019 (comment)

[2019-08-14 11:30] #2021 closed

[2019-08-14 11:34] amitkrout commented on #2019
I am surprise, why i was not ping by the bot

[2019-08-14 11:49] kadel commented on #2017
/priority medium

[2019-08-14 11:55] kadel opened #2023 "odo debug: provide inner loop scripts with DEBUG support for nodejs and java"
parent  #822

add innerloop scripts for java and modify nodejs scripts to support `$DEBUG_MODE` `$DEBUG_PORT`
as described in odo debug proposal -  https://github.com/openshift/odo/pull/1995

This requires https://github.com/openshift/odo-supervisord-image/pull/27 to be merged first, as it provides necessary groundwork to for using custom inner loop scripts. See https://github.com/openshift/odo-su

[2019-08-14 11:56] mik-dass commented on #1953
So I guess this doesn't work outside red hat networks?

[2019-08-14 11:57] girishramnani commented on #1911
great catch, but it seems this is how cobra has been designed
[code]
it seems to be populating the context from right to left

[2019-08-14 11:58] mik-dass commented on #1981
@amitkrout This might be the underlying cause

[code]

[2019-08-14 12:09] mik-dass commented on #2018
As @kadel said my PR just laid the ground work and only detects the files to be push but doesn't actually push smartly.

[2019-08-14 12:31] mohammedzee1000 commented on #2019
Travis was removed from required due to incompatibility with prow. I will see if this was sorted. Otherwise, we cant make it as required.
I would say until then, make sure to exercise caution with satisfying the merge conditions

[2019-08-14 12:43] girishramnani commented on #1969
the binary must be relative to context

[2019-08-14 13:02] #1935 closed

[2019-08-14 13:40] boczkowska commented on #1733
/assign

[2019-08-14 13:40] boczkowska commented on #839
/assign

[2019-08-14 13:41] boczkowska commented on #599
/assign

[2019-08-14 15:15] sbose78 opened #2024 "UpdateNotification is not a parameter in the odo config"
[kind/bug]

## What versions of software are you using?
- Operating System: MacOS
- Output of `odo version`: 0.0.20

## How did you run odo exactly?
OpenShift Connector

## Actual behavior

In my terminal I see:
[code]

## Expected behavior
I would expect the `UpdateNotification` command to work

## Any logs, error output, etc?

[2019-08-14 19:50] girishramnani commented on #2024
Can you try the latest odo version @sbose78 ?

[2019-08-15 09:52] kadel commented on #1971
The output should have the same basic structure as a local component.

So something like this:

[code]

We probably should remove  `Deploy` and `Build` from `CreateFromGit` function.
Creat should just prepare resources, not trigger build. Build and Deploy and triggered outside of the CreateFromGit funciton

[2019-08-15 20:10] #1975 closed

[2019-08-17 11:20] girishramnani commented on #1971
Got it

[2019-08-19 10:21] girishramnani commented on #1984
consider using the flag called `FullSupport`

[2019-08-19 10:28] girishramnani commented on #1984
if the image `rhoar-nodejs/nodejs-10` is fully supported by odo then does that mean all of its tags are supported?

or we wanna specify even the tags that are supported?

[2019-08-19 10:59] girishramnani commented on #1984
the catalog images returns only the name of the component not the image url
 https://github.com/openshift/odo/blob/64f9db2e17df9c7b04ec5e8d9d27147c280f628d/vendor/github.com/openshift/api/image/v1/types.go#L235
shows the reference for the image

[2019-08-19 11:00] girishramnani commented on #1984
but it can be of multiple types and so I wanted to know is there a better way to get the image names

[2019-08-19 11:05] dharmit commented on #1964
I'm going through the code around this right now but I'm not able to understand why below function https://github.com/openshift/odo/blob/baf308be44d1d0b648e3040e0b3d08af7921196d/pkg/odo/cli/component/common_link.go#L112
takes the execution to https://github.com/openshift/odo/blob/baf308be44d1d0b648e3040e0b3d08af7921196d/pkg/occlient/occlient.go#L2295

@kadel @girishramnani @mik-dass @cdrage can so

[2019-08-19 11:16] mik-dass commented on #1964
`operation` is a variable in commonLinkOptions
https://github.com/openshift/odo/blob/baf308be44d1d0b648e3040e0b3d08af7921196d/pkg/odo/cli/component/common_link.go#L106

and it is assigned the value of linkSecret
https://github.com/openshift/odo/blob/baf308be44d1d0b648e3040e0b3d08af7921196d/pkg/odo/cli/component/link.go#L85

[2019-08-19 11:27] kadel commented on #1984
Each image has a label called `name`. The list of the names in issue description comes to form this label.

[2019-08-19 14:47] kadel commented on #1708
/assign @amitkrout
/unassign @surajnarwade

[2019-08-20 06:24] amitkrout commented on #2024
Try ```odo preference set UpdateNotification false``` on latest odo release.

[2019-08-20 07:17] girishramnani commented on #1984
so after digging around a lot - this is the information for `nodejs` image
[code]
Now it can be observed that each tag has a different image associated with it. which means that if only the image `hoar-nodejs/nodejs-8` is fully supported then the output of the command should be

[code]

[2019-08-20 09:21] kadel commented on #1984
You are not looking at the right Name.
Check `occlient.GetS2IMetaInfoFromBuilderImg` function. This function is already extracting some informatino from container image labels.

[2019-08-20 13:26] kadel opened #2028 "`odo component list -o json` returns empty list for `not pushed` components"
[kind/bug]

`odo component list` should display even components that are not pushed.

The same problem is with `odo component describe` It should show information even for components that are not pushed to the cluster.

## How did you run odo exactly?
`odo component list -o json | jq .`

## Actual behavior
[code]
[code]

## Expected behavior
[code]

[code]

[2019-08-20 13:26] kadel commented on #2028
/kind bug
/priority high

[2019-08-20 13:27] kadel commented on #2028
@dgolovin I guess this has also impact on openshfit adapter.

[2019-08-20 13:28] kadel commented on #2024
I think that we should consider turning this feature comply off for the GA release

[2019-08-21 05:27] #1677 closed

[2019-08-21 06:28] amitkrout commented on #2019
Pinged in slack channel #forum-testplatform - https://coreos.slack.com/archives/CBN38N3MW/p1566368707472800

[2019-08-21 09:03] amitkrout opened #2031 "Remove -o, --o string from global flag"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

## How did you run odo exactly?
[code]

## Actual behavior
Flag ```-o``` is a global flag

## Expected behavior
Should not be a global flag because it does not work with all the command and subcommand of odo till date. See issue for details - https://github.com/openshift/odo/issues/1739

## Any

[2019-08-21 09:03] amitkrout commented on #2031
ping @cdrage cc_ @kadel

[2019-08-21 10:20] #1354 closed

[2019-08-22 07:02] amitkrout commented on #2019
As per the slack thread discussion there is no ETA for travis support. So reducing the priority cc_ @kadel
/priority medium

[2019-08-22 07:06] kadel commented on #822
Broken down tasks for this epic:
- odo debug port-forward command #2012
- add odo debug start command #2013
- add odo debug stop command #2014
- add odo debug status command #2015
- odo debug: provide inner loop scripts with DEBUG support for nodejs and java #2023

[2019-08-22 07:10] kadel commented on #1934
I'm closing this one in favor of #822 so we don't split the discussion.

/close

[2019-08-22 07:10] #1934 closed

[2019-08-22 07:37] amitkrout commented on #2019
@girishramnani @dharmit @cdrage @mik-dass ^

[2019-08-22 07:44] dharmit opened #2032 ""odo component list --path" shows incorrect "STATE" when components belong to different projects"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora
- Output of `odo version`: master

## How did you run odo exactly?
- Create two components belonging to different projects/namespaces
- Push the components using `odo push`
- Execute `odo list --path ../` in the context directory of both components and observe the "STATE" column of the output
- If the components bel

[2019-08-22 09:20] dharmit opened #2033 ""odo service create" doesn't set parameters correctly unless used in interactive mode"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora
- Output of `odo version`: master

## How did you run odo exactly?
- Interactively create a service using just "odo service create" command and set the parameters as requested interactively. For example:
[code]
- Use the "Equivalent command" printed in above output to create the service:
[code]

## Actual behavior
E

[2019-08-22 12:55] kadel commented on #1780
Is there a PR for this on odo side?

[2019-08-22 14:33] kadel commented on #659
yes

[2019-08-22 14:34] kadel commented on #778
yes

[2019-08-22 16:07] cmoulliard commented on #659
If you are interested, here is what @metacosm developed to support such a scaffolding feature - https://github.com/halkyonio/kreate/blob/master/pkg/kreate/cli/project/project.go#L26. Ideally the launcher should be the API that odo or another Dev CLI tool could call to scaffold for a runtime a project

[2019-08-23 09:47] girishramnani commented on #2024
we should remove global preferences or just the `UpdateNotification` flag?

[2019-08-23 10:12] girishramnani commented on #1911
I dont think we can solve this as its how cobra has been designed @kadel

[2019-08-23 10:40] girishramnani commented on #2033
/assign

[2019-08-23 12:29] #1936 closed

[2019-08-23 19:59] girishramnani opened #2042 "i18n support for examples, help and usage"
using [github.com/chai2010/gettext-go/gettext](github.com/chai2010/gettext-go/gettext) to provide internationalisation for examples, help and usage of the `odo` cli

[2019-08-23 20:15] alanconway commented on #1886
Replaced by concurrency fixes in #1879

[2019-08-23 20:15] #1886 closed

[2019-08-23 20:52] girishramnani opened #2044 "parameters in services are not stored as secret"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
when a `postgres` service is created from the webconsole then the environment variables are reference of secret

[code]

but when the same service is created using odo cli the environment variable are shown in plain text
[code]

## Why is this needed?
Could be a security aspect we should consider

[2019-08-26 14:10] kadel commented on #1793
@girishramnani do we have any progress on this?

[2019-08-27 07:11] girishramnani commented on #1793
the analysis was done, now I am going to implement it as I close off debug

[2019-08-27 08:55] kadel commented on #1066
/remove-priority medium
/priority high

[2019-08-27 09:13] #1994 closed

[2019-08-27 11:14] amitkrout opened #2048 "odo tab completion doesn't work"
[kind/bug]

## What versions of software are you using?
- Operating System: OSX and Linux (Fedora 30)
- Output of `odo version`: master

## How did you run odo exactly?
[code]
[code]

## Actual behavior
Completion does not work

## Expected behavior
Completion should work

## Any logs, error output, etc?

[2019-08-27 11:24] amitkrout commented on #2048
Workaround:
On OSX:
[code]
On fedora:
[code]
Then try tab completion

[2019-08-27 11:25] amitkrout commented on #2048
#1801

[2019-08-27 11:27] amitkrout commented on #2048
#1718

[2019-08-28 06:46] amitkrout opened #2049 "open JDK binary source URL does not come up"
[kind/bug]

## What versions of software are you using?
- Operating System: OpenShifi CI (4.2 cluster)
- Output of `odo version`: master

## How did you run odo exactly?
Run test on OpenShift CI (4.2 cluster)

## Actual behavior
Route URL is not coming up

## Expected behavior
Route URL should come up

## Any logs, error output, etc?

[2019-08-28 06:47] amitkrout commented on #2049
@kadel @girishramnani @cdrage @mik-dass @dharmit @mohammedzee1000 ping

[2019-08-28 07:35] mik-dass commented on #2049
@amitkrout You mean the URL doesn't become ready?

[2019-08-28 07:37] amitkrout commented on #2049
@mik-dass yes

[2019-08-28 07:40] mik-dass commented on #2049
@amitkrout https://github.com/openshift/odo/pull/2045#issuecomment-525610268

[2019-08-28 07:43] amitkrout commented on #2049
If you were not able to reproduce this issue on your AWS cluster, how many average retries were required for the URL to be available. Also did increasing the timeout help?

@mik-dass The number of retries was mostly less than 30.  Increasing timeout could not help in OpenShift CI

[2019-08-28 07:56] dharmit commented on #1588
My understanding after reading the above comments is that the only thing pending is to remove connection check for `odo url create` which was supposed to be removed by #1828 as @girishramnani pointed but that's not the case because when I try to do `odo url create` from the `master`, it still reports:
[code]

[2019-08-28 09:11] dharmit opened #2051 ""odo service create" works in non-interactive mode without any context, app or project values"
[kind/bug]

## What versions of software are you using?
- Operating System: All
- Output of `odo version`: master

## How did you run odo exactly?
- As a result/side-effect of #2001, `odo service create` command like below works without any error:
[code]
- Earlier this used to fail because we didn't have following code: https://github.com/openshift/odo/blob/c23e542340155a888f24953508462e965478ba30

[2019-08-28 09:15] mik-dass commented on #2049
Locally it worked too under 15 secs

[2019-08-28 10:20] kadel commented on #2049
We should probably revert https://github.com/openshift/release/pull/4741 before we figure out what is happening there.

[2019-08-28 10:26] kadel commented on #2049
@amitkrout have you tried to debug this to see what the reason for this failure?

[2019-08-28 10:31] kadel commented on #2049
Another point is that we shouldn't test just against 4.2, we need to test both 4.1 and 4.2

[2019-08-28 10:45] kadel opened #2052 "Enable tests against 4.2 cluster"
We should start testing odo against 4.2 clusters.

We need to test against both 4.1 and 4.2. The same jobs should run against each openshfit version.

We might have to temporary mark 4.2 jobs as optional until we resolve all issues like #2049

[2019-08-28 10:45] kadel commented on #2052
/assign @amitkrout

[2019-08-28 11:09] amitkrout commented on #2052
https://coreos.slack.com/archives/CBN38N3MW/p1566990527013700

[2019-08-28 11:19] dharmit commented on #1588
I'm looking for a way to make `odo url create` not require active connection to the cluster because based on what I understand, it's not possible to do that if we want it to support `-o json` at some point.

In `Validate` function, we check for the value of `OutputFlag` https://github.com/openshift/odo/blob/c23e542340155a888f24953508462e965478ba30/pkg/odo/cli/url/create.go#L93-L95
which is set in

[2019-08-28 11:21] girishramnani commented on #1588
If I am not wrong isnt url create declarative now which means it just creates the url in the config and `odo push` does the rest?

[2019-08-28 11:23] girishramnani commented on #1588
And we now generate the url without checking with the server for collisions so any reason we cannot support `-o json`?

[2019-08-28 11:30] mik-dass commented on #1588
I don't understand what is meant by the `context` here.

[2019-08-28 14:22] kadel commented on #2049
I probably found the reason for java test failing.
The application jar doesn't support Java 11

The 4.1 java:latest points to java:8
The 4.2 java:latest points to java:11

This makes me wonder how it could ever pass on 4.2! Maybe it got changed only in recent 4.2 builds?

[2019-08-28 19:50] cdrage opened #2054 "Implement `odo services list -o json` / listServiceInstances"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Within VSCode we currently use:

`oc get ServiceInstance -o jsonpath="{range .items[?(.metadata.labels.app == \\"${app}\\")]}{.metadata.labels.app\\.kubernetes\\.io/component-name}{\\"\\n\\"}{end}" --namespace ${project}`

We should implement something similar.

How should we iimplement this? odo services list -o js

[2019-08-28 19:57] cdrage opened #2055 "Added `-o json` for storage creation / deletion / waiting"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Currently we use the below commands for VSCode for storage creation / deletion / waiting:

**createStorage**
[code]

**deleteStorage**

[code]

**waitForStorageToBeGone**

[code]

We need to implement the `-o json` parameter for each command's output.

## Why is this needed?

Needed for json output / VSCode to consu

[2019-08-28 20:09] cdrage opened #2056 "Add `odo delete -o json` functionality"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

In VSCode we use:

[code]

We should add json output to deletion

## Why is this needed?

We currently have this for `odo component create` we should also add this to `odo delete`.

[2019-08-28 20:11] cdrage opened #2057 "Add `odo catalog describe service $FOOBAR -o json` output"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

We currently use `odo catalog describe service ${service}`

within VSCode. We already have `odo describe -o json`, however, we do not have the same functionality for catalog. We should implement this for a standardized json output.

## Why is this needed?

Needed for VSCode / future plugins.

[2019-08-28 20:16] cdrage opened #2058 "Shortcut for linking a component?"
[kind/Feature]

## Which functionality do you think we should add?

So within VSCode the use the following functionality to link a component as well as open a port..

[code]

Do we really need to implement this for json output, or is there a better way for VSCode to use the above functionality?

@kadel @dgolovin

[2019-08-29 05:36] dharmit commented on #1588
@girishramnani

It is declarative (based on the definition of declarative you mentioned). However, it does need an active connection with the OpenShift cluster to create a URL. The requirement is to make it not depend on an active connection any more. If you do an `export KUBECONFIG=/tmp/nosuchfile` or `odo logout` and try to do `odo url create`, that would fail.

I don't think there's any reason

[2019-08-29 06:23] mik-dass commented on #1588
I would suggest removing the connection check from the context itself because in such cases it doesn't seem to make sense. Or am I missing something?

[2019-08-29 07:46] kadel commented on #2058
I think that this is command is for older (pre beta) odo versions.
I expect that with a new workflow just `odo link`  will be enought

[2019-08-29 08:07] kadel commented on #1981
Are we getting any closer to resolving this?

I found another instance of this in https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2053/pull-ci-openshift-odo-master-integration/1440  (https://github.com/openshift/odo/pull/2053)

[2019-08-29 09:36] kadel commented on #1588
+1
I think that we can remove the connection check altogether. If a command requires the connection to the cluser it will fail in later stages.

It should not. The `odo url create` command just modifies the local config. It shouldn't touch cluster.
@dharmit Is it doing something with the cluster?

[2019-08-29 11:14] amitkrout commented on #1981
Not always, even after successful build the same error appears
[code]

[2019-08-29 12:43] amitkrout commented on #2049
@kadel Yup, you are right.
I did the cross verification and hit the issue on my OpenShift 4.2 aws cluster but on 4.1 cluster it went fine.

It's correct that the jar is not supported on java:11. So by passing version with component type should fix the issue then. For example
[code]

Please share if you have any better idea atm

[2019-08-29 14:37] #1733 closed

[2019-08-29 15:14] kadel commented on #2049
@amitkrout already opened PR to use `java:8` everywhere -  #2059

[2019-08-29 17:30] dgolovin commented on #2013
@kadel There should be an option to support use case when dev wants to debug the code from the beginning. That would mean 'wait for debugger to attach, then start running my code'.

[2019-08-29 21:13] VeerMuchandi opened #2061 "odo url should not require a rebuild of the application"
Currently if I add a url using `odo url` , it expects me to do `odo push`

[code]

And when I push, it rebuilds the application and redeploys

[code]

Why is a rebuild and redeploy needed if all I am doing is just adding a route?

[2019-08-29 21:47] #1872 closed

[2019-08-29 22:45] VeerMuchandi opened #2063 "odo push fails with long running s2i builds"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:
[code]

## How did you run odo exactly?
[code]

## Actual behavior
`odo push` fails as it doesn't wait for the build to complete. The application actually gets built and deploys too. `odo` doesnt wait long enough

## Expected behavior
If `odo push` times out, there should be some other command li

[2019-08-30 06:05] dharmit commented on #2061
Which version of odo are you using? This should no longer be the case since #1849 got merged.

[code]

[2019-08-30 07:15] #1893 closed

[2019-08-30 07:27] dharmit commented on #1588
@mik-dass @kadel I think this commit https://github.com/dharmit/odo/commit/982b1c00fb3168b76116595956cf89738029efc1 resonates with what you guys suggested about "removing connection checks". Does it?

[2019-08-30 08:57] dharmit commented on #1588
After doing this, `odo url create` works if `odo` is not connected to cluster, i.e., after doing `odo logout`. But it fails if KUBECONFIG doesn't exist, i.e., if I do `export KUBECONFIG=/no/such/path` and then do `odo url create`, it fails with:
[code]
which is because of: https://github.com/openshift/odo/blob/3d64ea8e4ce413ff612c46423f470f977385d110/pkg/occlient/occlient.go#L231-L234
What do you

[2019-08-30 09:48] dharmit commented on #2048
I think this is expected behaviour and that you need to `source ~/.bashrc` or `source ~/.zshrc` to get this working because all `odo --complete` does is add data to these files. Without sourcing them, you won't be able to see the auto-completion work.

[2019-08-30 09:52] mik-dass commented on #1588
Can we just exclude the `url create` command from the connection check?

[2019-08-30 11:50] VeerMuchandi opened #2064 "odo should support git context directories"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
odo currently doesn't have an option to supply a subdirectory in a git repo.
Look at the snippet from an openshift build configuration
[code]
Here `todolist-jdbc` is a subdirectory under the git repo. Currently there is no way to do this with odo. I had to use `oc` or webconsole to create this bc.

## Why is this nee

[2019-08-30 12:10] dharmit commented on #1588
After a talk with @mik-dass I pushed https://github.com/dharmit/odo/commit/9efa40bf58c905bda8279522e21793c429783979. However, https://github.com/openshift/odo/issues/1588#issuecomment-526521539 is still showing up. In the past, I got #1758 merged because it could work with the help of `LocalConfigInfo` which does not look possible in this case since we check for `-o json` flag with the help of a `

[2019-08-30 14:15] amitkrout opened #2065 "catalog list components doesn't list out component of a specified namespace"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform
- Output of `odo version`: master

## How did you run odo exactly?
[code]
## Actual behavior
```--project``` flag is not supported.

## Expected behavior
Should list out wildfly component

## Any logs, error output, etc?

[2019-08-30 14:26] VeerMuchandi commented on #2061
@dharmit

[code]

Is this old version?

On Fri, Aug 30, 2019 at 2:05 AM Dharmit Shah <notifications@github.com>
wrote:

[2019-08-30 14:38] cdrage commented on #1588
IMO let's keep the connection check for `odo logout` at least as that makes sense. Despite the name connection check, the function looks to be checking if the directory actually exists / is valid.. so that makes sense.

All other commands we should still remove the check however.

[2019-08-30 20:16] VeerMuchandi opened #2068 "`odo service create` doesn't work from a new location"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

[code]

## How did you run odo exactly?
[code]
## Actual behavior
See above. It doesnt create a service unless a component is created from that directory in the past.

## Expected behavior

Should create the service.
## Any logs, error output, etc?

[2019-08-30 21:01] VeerMuchandi commented on #2061
Try creating the application using `--git` option. It is always building the app whenever you do `odo push`

[2019-08-30 21:12] VeerMuchandi opened #2069 "`odo service create` doesn't honor parameters"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

[code]

## How did you run odo exactly?

[code]
The result of the above command creates a database along with a secret `mongodb`. If you reveal the secret values they are different (only uses defaults and ignores supplied parameters).  I also tried to use params comma separated. No difference.

[2019-09-02 07:09] kadel commented on #2061
Problem is that we currently don't have a way how to detect if there were changes in the git repository since the last push or not :-(

[2019-09-02 07:11] kadel commented on #2065
/priority low

[2019-09-02 07:20] kadel commented on #1588
Why we can't just remove connection check?  We can simply remove the check from https://github.com/openshift/odo/blob/master/pkg/occlient/occlient.go#L292

With the new workflow, I don't think that we need it anymore.

[2019-09-02 07:21] kadel commented on #2069
This looks like duplicate of https://github.com/openshift/odo/issues/2033

[2019-09-02 07:23] kadel commented on #2064
/priority low
/kind feature

[2019-09-02 13:53] kadel commented on #2014
changing directions.
This command won't be needed. By default, the component will be started in a debug mode.
More information in discussion https://github.com/openshift/odo/pull/1995#issuecomment-525259554

/close

[2019-09-02 13:53] #2014 closed

[2019-09-02 13:56] kadel commented on #2013
We are changing directions.
This command won't be needed. By default, the component will be started in a debug mode.
More information in discussion https://github.com/openshift/odo/pull/1995#issuecomment-525259554

We will also provide the capability to set advance options like `suspend=n` for  Java, which suspends the process until the debugger is connected, to allow debugging the startup sequenc

[2019-09-02 13:56] #2013 closed

[2019-09-03 06:35] girishramnani commented on #2068
You can either provide `--app` and `--project` flag to run this or create a component in the directory using `odo create`.

[2019-09-03 09:08] kadel commented on #1950
/close
done in https://github.com/openshift/odo-init-image/pull/26

[2019-09-03 09:08] #1950 closed

[2019-09-03 09:11] kadel opened #2071 "Do a test release for GA"
Let's test our release pipeline.

- Do a test release that will use the product release pipeline.
- Create documentation describing how it works and how to do a release.

[2019-09-03 09:35] kadel opened #2073 "Painfully slow `odo project list`"
`oc get projects` takes under the second, but `odo project list` is 13 seconds :-(

[code]

[2019-09-03 09:35] kadel commented on #2073
/priority medium

[2019-09-03 10:01] mik-dass commented on #2073
This is because project list calls Describe https://github.com/openshift/odo/blob/01dc6245cadae9c817839e8377b1b6afa2430529/pkg/project/project.go#L53

And describe calls application list for each project (it is required for json output) https://github.com/openshift/odo/blob/01dc6245cadae9c817839e8377b1b6afa2430529/pkg/project/project.go#L66

I think we just use a list function for the non json out

[2019-09-03 10:03] amitkrout commented on #2073
good to add project list speed as part of benchmark test, so that the speed can be tracked each time.

[2019-09-03 12:24] kadel opened #2074 "test logging"
Our tests are too verbose, it is hard to see what failed.

We don't need to see all the logs for every successful test spec.
But when test fails we should dump all the info that we can.

- remove verbose flag from ginkgo
- add a verbose flag to every odo command that is executed in tests?, Or maybe to just once that are causing test failures and flakes?

[2019-09-03 12:54] kadel commented on #2023
Done in https://github.com/openshift/odo-init-image/pull/27 and https://github.com/openshift/odo/pull/1974

/close

[2019-09-03 12:54] #2023 closed

[2019-09-03 13:03] girishramnani commented on #1780
PR for this issue https://github.com/openshift/odo/pull/1878

[2019-09-03 13:08] VeerMuchandi commented on #2061
If the change is just URL creation why should it even detect changes to
code?

On Mon, Sep 2, 2019, 3:09 AM Tomas Kral <notifications@github.com> wrote:

[2019-09-03 18:27] cdrage opened #2076 "Add json support for `odo service delete`"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

We should add json support for `odo service delete`

This is what is currently being used in VSCode:

[code]

## Why is this needed?

Proper json support will make implementing parts of the VSCode plugin more intuitively rather than relying on output errors of 0 and 1.

[2019-09-03 18:36] cdrage opened #2077 "Add wait command for deleting service"
[kind/Feature]

## Which functionality do you think we should add?

Currently we use:

[code]

Within VSCode.

We should also have a `--wait` command for deleting a service within odo.

## Why is this needed?

Needed so that the CLI will correctly "hang" until it's completely deleted.

[2019-09-04 10:16] dharmit commented on #2069
I think it's not an exact dupe because the parameters will be accessible/visible under the "Environment" tab on OpenShift console and not stored as a secret as mentioned in "Expected behavior". AFAIK, this is true even when setting the parameters using interactive mode of `odo service create`.

[2019-09-04 10:21] mohitsuman opened #2079 "Missing SHA256_SUM for odo-beta-5 release"
[kind/bug]

The assets section is missing the `SHA256_SUM` file from the release build.
https://github.com/openshift/odo/releases/tag/v1.0.0-beta5

[2019-09-04 10:26] kadel commented on #2079
/priority high

[2019-09-04 10:27] kadel commented on #2079
@cdrage also https://github.com/openshift/odo/blob/master/build/VERSION has not been updated

[2019-09-04 10:38] mohitsuman commented on #1480
@kadel @girishramnani Is there any update on this issue ? Is this fixed by any other issue ?

[2019-09-04 10:44] dharmit commented on #1588
I've finally opened #2078. This thing is probably easy to implement but difficult to have consensus on! :smile:

[2019-09-04 11:09] kadel commented on #1660
@cdrage we already have that in the readme.

[2019-09-04 11:09] #2033 closed

[2019-09-04 11:45] amitkrout commented on #1845
in the current test it seems some flags are missing or not properly tested in the corresponding command test file. For example flag ```--port``` is nowhere validated in the component test file.

Also in some cases the command itself is missing in the test file. For example get and set command.
[code]

I guess you can find some more such scenario where these flags and commands are not validated yet

[2019-09-04 11:55] kadel commented on #2069
@dharmit the  Secret is created automatically by Service Broker. It doesn't matter if you call it using oc or odo. This is auto of clients control.

The problem was that odo didn't pass the parameters to ServiceInstance. This got fixed in https://github.com/openshift/odo/pull/2040/

You will be always able to read Secret values in OpenShift console.

[2019-09-04 12:08] kadel opened #2082 "Training Videos for support team"

[2019-09-04 12:20] kadel commented on #1927
It might be worth to integrate golangci-lint into our CI

[2019-09-04 12:21] kadel commented on #1473
/close

[2019-09-04 12:21] #1473 closed

[2019-09-04 12:47] cdrage commented on #1945
The issue for `service create` and `service delete` is located here: https://github.com/openshift/odo/issues/2076

[2019-09-04 12:54] dharmit commented on #1602
I think #2001 fixes this.

[2019-09-04 12:57] kadel commented on #2032
/kind bug

[2019-09-04 13:29] cdrage opened #2084 "Add table for compability support / hot reloading / what we support"
[kind/Documentation]

## What did you find missing in the documentation?

We should have a table that shows what versions of OpenShift we support as well as what languages support hot reloading.

For example, if the user has Python 2.7, does it work with the latest image?

If they use 3.0, do you use the latest, what image do you use?

## What is the relevance of it?

Needed for new users.

[2019-09-04 16:45] dgolovin commented on #2068
@girishramnani Even with --app and --project it does not work.

[code]

[2019-09-04 17:23] dgolovin opened #2085 "Windows binary tar.gz file has nothing inside"
[kind/bug]

Odo 1.0.0-beta5 release missing windows executable.
`.tar.gz` file is to small to be correct one.

[2019-09-04 17:36] cdrage commented on #2085
Fixed.

Last release `make cross` failed when deploying since bash functions were required and `Makefile` was being ran with `sh`.

You should see it now on the release :)

![Screenshot from 2019-09-04 13-36-00](https://user-images.githubusercontent.com/6422176/64277687-f64e4480-cf18-11e9-911f-935342b37f23.png)

[2019-09-04 18:05] #2085 closed

[2019-09-05 06:03] amitkrout opened #2088 "[Flake] create, push and delete reports invalid configuration"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: master

## How did you run odo exactly?
On OpenShift CI

## Actual behavior
Error out

## Expected behavior
Should pass

## Any logs, error output, etc?
[code]

[2019-09-05 06:38] girishramnani commented on #1793
My analysis that could be helpful -
1 - document to refer https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/
2 - to make the garbage collector work you would need to add `Propogation policy` to `background` for the deploymentConfig ( DC would be the top level config which everyone will refer ). I have a branch that does this https://github.com/girishramnani/odo/tree/feat

[2019-09-05 08:16] kadel opened #2089 "Installation process and Update notification after GA"
Currently, we have an update-notifier, each time someone executes odo command, it checks with github if there is a new version available and if there is it shows the following message that suggests that users can use our install.sh script to install or update odo.

![](https://user-images.githubusercontent.com/6422176/64281054-51376a00-cf20-11e9-866c-d932a77cef6c.png)

- Are we going to use this s

[2019-09-05 08:17] kadel commented on #2089
/priority high
/area release-eng

[2019-09-05 08:43] mik-dass commented on #1971
During second push, the overlapping messages are `Waiting for build to finish` and `Applying Configuration`

[2019-09-05 10:55] girishramnani opened #2090 "Make the user facing output consistent"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
we are using `fmt.Fprintln` at some places and other methods at other places for user facing output (which isn't Info logging ).

## Why is this needed?
For consistent user experience

[2019-09-05 13:16] cdrage commented on #2089
IMO, I always found the notification annoying and I have it permanently disabled.

Does `oc` even use it?

Also, past GA, I don't think we should use it as (theoretically) odo is stable and backwards compatible, so any new updates are new features + bug fixes.

[2019-09-05 16:06] jeffmaury opened #2092 "odo url list returns invalid error when used with context"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

First create a component from current directory but did not push it
Second create an URL

Then `odo url list -o json` reports:
`
{"kind":"List","apiVersion":"odo.openshift.io/v1alpha1","metadata":{},"items":[{"kind":"url","apiVersion":"odo.opensh

[2019-09-05 18:20] cdrage commented on #862
After talking with @veillard we should have some documentation with regards to service integration in preparation for 1.0 GA.

[2019-09-05 18:23] cdrage opened #2093 "Compatibility table for hot reloading support / image support"
[kind/Documentation]

## What did you find missing in the documentation?

We should have a "matrix" table that lists what images are compability, whether they support hot reloading or not.

As well as:
 - What images support binaries (Java)
 - What images to use when using certain frameworks (Django, Ruby on Rails, etc.)
 - Compatibility support for Python 2.7 or 3.0 modules and what images suppor

[2019-09-05 18:31] cdrage commented on #1444
As we reach GA, should this be marked at 1.0 GA for some basic form of documentation as to whether or not we support quarkus?

@kadel

[2019-09-05 18:40] cdrage commented on #2079
This has been fixed :+1:

[2019-09-05 18:40] #2079 closed

[2019-09-05 18:59] cdrage opened #2095 "Creating a service doesn't require context, but `odo service list` does..."
[kind/bug]

## What versions of software are you using?
- Operating System: Linux
- Output of `odo version`: Master branch

## How did you run odo exactly?

See below:

[code]

## Actual behavior

No `.odo` in the directory of `nodejs-ex` and I'm able to create a service. When listing a service however, I require context / an `.odo` directory :(

## Expected behavior

Being able to use `odo servic

[2019-09-05 21:41] magick93 commented on #1444
Please do, odo please support quarkus!

On Fri, 6 Sep 2019 at 06:31, Charlie Drage <notifications@github.com> wrote:

[2019-09-06 06:07] dharmit commented on #2068
@VeerMuchandi @dgolovin can you please try using the [beta5 release](https://github.com/openshift/odo/releases/tag/v1.0.0-beta5)? #2001 was added as a part of beta5 release.

[2019-09-06 06:14] dharmit commented on #2095
`odo service create` works without `--app` or `--project` values because of https://github.com/openshift/odo/blob/bff81fcda46f7672c6d002b3e27f7789366677c1/pkg/odo/genericclioptions/context.go#L163-L166

It assumes the default values for `--app` and `--project` which are `app` and `myproject` respectively. However, that's not the case for `odo service list` and it requires the user to pass `--app`

[2019-09-06 06:26] dharmit commented on #2089
I don't have a strong opinion with either keeping or removing this, but how do we intend to notify the user of a new update being available for `odo` if we remove this feature? There's a possibility that we will see BZ/issues opened for things that are already fixed by a newer version.

[2019-09-06 09:10] kadel commented on #2093
The only images that we officially support are Java and NodeJS, and only those that are based on the images specified [here](https://github.com/openshift/odo-init-image/blob/master/language-scripts/image-mappings.json). Everything else is just as-is, we don't provide any guarantees there.

[2019-09-06 09:23] amitkrout commented on #2088
one more similar failure in travis job - https://travis-ci.com/openshift/odo/jobs/231580215#L2435
[code]

[2019-09-06 10:39] kadel commented on #2092
@jeffmaury Sopecifing `--context` wiht `--app` and `--project` and `--component` is not what you usually want to do.

Try using just `--context` -  `odo url list --context C:\work\src\tmp\demo170\comp1`

The context directory already have all necessary configuration that is required (app, project, component name)

If you use both context and one or more of app, project or component flags, than the

[2019-09-06 11:00] kadel commented on #2061
Problem is that odo doesn't know if it is just a url creation.
You could also change something in the source code, commit it, then run `odo url create` and than `odo push`.

Odo currently can't detect changes in the remote git repo, repo might not be even cloned on the same system where odo is used or repository might be in a different state.

If you use normal local component than odo keeps track

[2019-09-06 11:01] kadel commented on #1907
/priority medium
/remove-priority high

[2019-09-06 11:47] jeffmaury commented on #2092
Then I ran:

[code]

[2019-09-06 12:39] kadel commented on #2010
Scripts generating packages failed for beta4.
This got resolved with new beta5 release.

/close

[2019-09-06 12:39] #2010 closed

[2019-09-06 12:50] kadel commented on #2092
You don't have to specify the `--component` flag if you want to list url for the component that is specified in `comp1` directory.

But you are right. This is a bug in `odo`.

given the folowing config in a `nodejs-rest-http`
[code]

Listing with just `--context` works as expected.
[code]

But if the `--component` flag is specified ( with the same value as the name of the component in the context

[2019-09-06 12:51] kadel commented on #2092
/priority medium

[2019-09-09 10:24] #1964 closed

[2019-09-09 16:59] #2049 closed

[2019-09-09 17:39] cdrage commented on #1357
Closed by mistake. Still need #2067 merged in

[2019-09-09 17:41] cdrage commented on #1884
ping @girishramnani

[2019-09-09 17:49] cdrage commented on #2055
This has actually already been implemented:

[code]

[2019-09-09 18:57] cdrage opened #2102 "`odo delete -o json` is returning nothing / blank (log.Errorf issues)"
[kind/bug]

## How did you run odo exactly?

`odo delete -o json`

## Actual behavior

Blank output

## Expected behavior

Having an output such as this:

[code]

## Any logs, error output, etc?

The main issue is that we are logging errors, but either not returning or simply outputting and continuing with the code, for example: https://github.com/openshift/odo/blob/master/pkg/odo/cli/component/de

[2019-09-09 20:00] cdrage opened #2105 "Refactor machine output to use machineoutput/types.go"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

The below code:
[code]

Is used throughout odo (https://github.com/openshift/odo/search?q=json.Marshal&unscoped_q=json.Marshal).

This should instead use what we have within: https://github.com/openshift/odo/blob/master/pkg/machineoutput/types.go

## Why is this needed?

Clean up / stability

[2019-09-09 20:13] cdrage opened #2106 "All machine output should have "kind" related to their function."
[kind/bug]

## How did you run odo exactly?

`odo project create -o json`

## Actual behavior

The `kind` in the JSON output is just "Project"

## Expected behavior

'kind' should be ProjectSuccess

## Any logs, error output, etc?

See below code:

[code]

All machine readable output should have `Kind` related to their function. For example, when using `odo project create -o json` it should have `

[2019-09-10 00:04] dgolovin commented on #2068
@dharmit works for me with beta5.

[2019-09-10 12:05] jeffmaury opened #2109 "odo delete --all delete odo config file when run from $HOME"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

1. Go to $HOME
2. Create a component (not pushed)
3. Run `odo delete --all`

## Actual behavior

Whole `$HOME/.odo` folder is deleted

## Expected behavior

Only `$HOME/.odo/config.yaml` deleted

## Any logs, error output, etc?

[2019-09-10 12:21] kadel commented on #2109
/kind bug
/priority high

[2019-09-10 12:50] kadel commented on #1588
#2078 just removes the global check.
We will still need to handle the connections error somehow to print the nice message. But it should be done on a per-command basis.

[2019-09-10 12:52] kadel commented on #2068
/close

[2019-09-10 12:52] #2068 closed

[2019-09-10 14:56] jeffmaury opened #2111 "odo catalog describe service requires .odo/config.yaml"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

odo v1.0.0-beta5 (4d1d5071)

Server: https://172.18.10.148:8443
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?

`odo catalog describe service mysql-persistent`

## Actual behavior
` X  The current directory does not represent an odo component. Use 'odo create' to create co

[2019-09-10 15:16] kadel commented on #2106
I don't think that `Kind` should change in this case.

When the operation is `create` the output should return the object that was created.
- `odo project create -o json` should return the `Project` `Kind` that represent the project that was created. Essentially the same output as if you would do `odo project get myproject -o json`
- `odo component create -o json` should return the `Component` `Ki

[2019-09-10 15:28] cdrage commented on #2106
@kadel

The problem with this, is what about differentiating between `component delete` and `component create` success messages?

I'm assuming it'd be fine for both to just have `Component`

[2019-09-10 23:49] #1971 closed

[2019-09-11 06:24] amitkrout commented on #2088
same flake - https://travis-ci.com/openshift/odo/jobs/233878023#L714

[2019-09-11 07:00] dgolovin opened #2113 "`odo app delete` removes application components but not services"
[kind/bug]
## What versions of software are you using?
- Operating System: Windows
- Output of `odo version`:
[code]

## How did you run odo exactly?
[code]
## Actual behavior
Services have not been deprovisioned

## Expected behavior
Services have been deprovisioned

## Any logs, error output, etc?
N/A

[2019-09-11 07:01] kadel commented on #2113
/kind bug
/priority high

[2019-09-11 07:02] kadel commented on #2113
This should get resolved once https://github.com/openshift/odo/issues/1793 is implemented.

[2019-09-11 07:10] kadel commented on #2089
Resolution from cabal call:
- we are keeping the update notifier, just updating the message, not using install.sh script as it is not portable (not going to work on Windows)
- PR already opened for updating the message - https://github.com/openshift/odo/pull/2110
- update notification message should point to the docs.openshift.com odo installation section (it can be via github releases). Message f

[2019-09-11 08:42] kadel commented on #2105
This is not a good design. We already have structs representing most of the stuff that will be returned in machine-readable outputs. like `components/types.go` and `url/types.go`.

Odo should internally work with structures defined there, and the same structs should also be outputted as jsons.
The only exception should be if we need to return something that is not representations of odo object, li

[2019-09-11 10:46] dharmit commented on #1793
I think this holds true if the DC is going to spin up the those things. Quoting the [documentation](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#owners-and-dependents) referenced in https://github.com/openshift/odo/issues/1793#issuecomment-528221344:

I created a component and URL from the nodejs-ex project and found that only the replication controller has its `ow

[2019-09-11 10:52] kadel commented on #1793
Don't forget ServiceInstance

DC shouldn't have `ownerReference`. It is the other way around,  all other objects that you list should have `ownerReference` pointing to the DC

We don't need a template for this. We need to move away from OpenShift specific resourced, not add another one.

[2019-09-11 11:55] dharmit commented on #1793
I think we worked on a series of issues to be able to create services independent of context. Do we want to now attach a ServiceInstance to a DC?

PVC as well? Or does that get deleted by itself? I found a PVC lurking around while doing a series of  "`odo push`, `oc get all`, `oc delete`" to  try to understand this issue. But I couldn't reproduce that so I honestly don't know what created that PVC

[2019-09-11 12:10] #2089 closed

[2019-09-11 12:32] amitkrout opened #2115 "Json match fails on windows platform due to source path mismatch"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows10
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
json match fails because machine readable output source path protocol is different on windows platform
windows:
[code]
Non windows:
[code]

## Expected behavior
Should be handled in test script

## Any logs, error output

[2019-09-11 12:33] amitkrout commented on #2115
/kind bug

[2019-09-11 12:38] amitkrout commented on #2115
/area testing

[2019-09-11 13:02] kadel commented on #2115
Hmm, @amitkrout can you look if there is a solution for this in Ginkgo matcher library? Otherwise, we might need to write our own matcher to solve this :-(

[2019-09-11 15:24] cdrage commented on #2105
Bit confused @kadel

What I mean is removing the json.Marshal statements for:

https://github.com/openshift/odo/blob/master/pkg/machineoutput/types.go#L34

Which is simply a wrapper around `json.Marshal` instead of having to copy/paste `json.Marshal` code everwhere :)

[2019-09-11 15:29] kadel commented on #2105
OH, right. So you mean replacing every occurrence `json.Marshal` that is outside of `machineoutput.OutputSuccess` with `machineoutput.OutputSuccess`, right? That makes sense.

[2019-09-12 01:58] coverprice opened #2116 "OpenShift Github org will begin enforcing 2FA"
The OpenShift Github org will enforce use of 2FA starting Thursday Sept 12th at 19:00 UTC (15:00 ET). The following collaborators must enable 2FA or Github will automatically remove them from the organization. See: https://help.github.com/en/articles/securing-your-account-with-two-factor-authentication-2fa

@drichtarik

[2019-09-12 05:06] amitkrout commented on #2115
Sure, i will checkout all possibilities

[2019-09-12 06:56] mik-dass opened #2117 "Project create doesn't wait properly"
https://travis-ci.com/openshift/odo/jobs/233964101#L2793

[code]
I had applied a sleep operation of 1 sec in between the two list operations and the create was performed with `-w` flag

[2019-09-12 06:58] mik-dass commented on #2117
/king bug

[2019-09-12 06:58] mik-dass commented on #2117
/kind bug

[2019-09-12 07:17] amitkrout commented on #2052
Done via #4883
/close

[2019-09-12 07:17] #2052 closed

[2019-09-12 14:10] cdrage opened #2120 "More pretty comparisons / debugging for tests"
[kind/Feature]

## Which functionality do you think we should add?

We should utilize: https://godoc.org/github.com/kylelemons/godebug/pretty#example-Compare--Debugging

in tests in order to "prettify" and make debugging **A LOT** easier when something fails.

I've been using this periodically when debugging and I believe we should implement this into the integration tests.

## Why is this needed?

[2019-09-12 15:16] cdrage opened #2121 "`make vendor-update` not working / Glide errors"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

## How did you run odo exactly?

[code]

## Actual behavior

Authentication errors:

[code]

## Expected behavior

Vendor updating passing

## Any logs, error output, etc?

Looks like the issue is that apcera/gssapi has been moved. The replacement would be: https://github.com/openshift/gssapi

H

[2019-09-13 07:33] dharmit commented on #1793
I'm talking about this one. OK, I'll make sure they're deleted with a DC. Thanks for the clarification!

[2019-09-13 13:05] amitkrout opened #2126 "Push, delete then push again doesn't propagate the deletions on windows platform"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows10
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
Test fails - https://github.com/openshift/odo/blob/master/tests/integration/cmd_push_test.go#L57

## Expected behavior
test scenario should work - https://github.com/openshift/odo/blob/master/tests/integration/cmd_push_t

[2019-09-13 13:08] amitkrout commented on #2126
/kind bug

[2019-09-13 16:09] #2116 closed

[2019-09-16 06:44] amitkrout opened #2127 "Desired json output reported invalid format on win10 platform"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
Invalid json format

## Expected behavior
Should be a valid json

## Any logs, error output, etc?

[2019-09-16 06:47] amitkrout commented on #2127
/kind bug
/area testing

[2019-09-16 10:00] amitkrout commented on #2088
One more - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2128/pull-ci-openshift-odo-master-v4.1-integration/119

[2019-09-16 11:45] girishramnani opened #2129 "Add minishift (okd) node images in supported image list"
[kind/bug]

## What versions of software are you using?
- Operating System: Any
- Output of `odo version`: beta5

As minishift is based on okd the component image references are different. Due to this all imaged on minishift are shown as unsupported.
We need to add the supported nodejs and java images in both init image script and odo

[2019-09-16 14:54] amitkrout commented on #2126
ping @mik-dass @cdrage

[2019-09-16 15:08] amitkrout opened #2131 "Building dotnet source component ends up with permission issue on windows platform"
[kind/bug]

## What versions of software are you using?
- Operating System: WIn10
- Output of `odo version`: master

## How did you run odo exactly?
make test-e2e-source

## Actual behavior
Source component building fails due to permission issue
[code]

## Expected behavior
Building componet should successful

## Any logs, error output, etc?
[code]

[2019-09-16 15:09] amitkrout commented on #2131
/king bug
ping @kadel

[2019-09-16 18:30] cdrage opened #2132 "We shouldn't require an odo component / context for `odo catalog search`"
[kind/bug]

## How did you run odo exactly?

[code]

## Actual behavior

Returning with "current directory doesn't represet an odo component"

## Expected behavior

Shouldn't have to provide a component or context

## Any logs, error output, etc?

See above!

[2019-09-17 05:32] amitkrout opened #2136 "Config, generic and service test throws error in JustAfterEach on windows platform"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10
- Output of `odo version`: master

## How did you run odo exactly?

## Actual behavior
[code]

## Expected behavior
Should not error out on windows platform

## Any logs, error output, etc?

[2019-09-17 05:34] amitkrout commented on #2136
/king bug
/area testing

[2019-09-17 05:41] mik-dass commented on #2126
@amitkrout Are you constantly hitting this issue or it seems to be a flake?

[2019-09-17 06:33] dharmit opened #2138 "odo watch should fail with error message for git based components"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: `master`

## How did you run odo exactly?
1. Created and pushed a component based on remote git repo
2. Executed `odo watch`

## Actual behavior
[code]

## Expected behavior
It should fail with a message like `Cannot watch git based components`
[code]

## Any logs, error output, etc?

[2019-09-17 10:24] #2136 closed

[2019-09-17 11:17] amitkrout commented on #1981
@mik-dass I am seeing this issue consistently on latest 4.2 OpenShift nightly build. IMO this is no more a flake as on 4.2 nightly build the failure rate is 100%.

Can you please take this issue on high priority basis

[2019-09-17 11:23] mik-dass commented on #1981
@amitkrout https://github.com/openshift/odo/pull/2016#issuecomment-532100708 not sure if this is the same issue as this but this is what I have discovered till now. I am constantly hitting this issue on a 4.2 cluster. Please share the logs of the failures.

[2019-09-17 12:01] amitkrout commented on #1981
It is the same error https://github.com/openshift/odo/pull/2016#issuecomment-532100708. However running the push again successfully pushes the changes to the component.

[2019-09-17 12:06] mik-dass commented on #1981
Yes I am seen this same behavior too

[2019-09-17 13:46] amitkrout commented on #2126
Yup, on OpenShift 4.2 nightly build

[2019-09-17 15:10] #2127 closed

[2019-09-18 06:53] kadel commented on #2031
I don't think that hiding will be enough :-( If it is just hidden it will not error out when someone tries to use it for command where it is not implemented.

[2019-09-18 08:12] #2054 closed

[2019-09-18 08:27] mik-dass commented on #2126
@kadel @amitkrout After some debugging on a windows machine I can confirm that for windows deletion are not propagated and that's why the tests are failing. Though I see that the files for deletion were detected by odo. The file index json after the deletion doesn't contain the file which was deleted and thus the problem lies in how the deletion is propagated to the cluster.
[code]

[2019-09-18 08:40] kadel commented on #2126
/priority high

[2019-09-18 09:50] dharmit opened #2139 ""odo config unset" doesn't unset an environment variable but says it did"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: `master`

## How did you run odo exactly?
1. Set an env var using `odo config set --env`.
2. Unset it using `odo config unset --env foo=bar`.
3. Unset it using `odo config unset --env foo` (don't mention the value of `foo` this time).
Verify output of `odo config view` at the end of each step

[2019-09-18 10:30] kadel commented on #2139
/kind bug
/priority high

[2019-09-18 10:30] kadel commented on #2138
/kind bug
/priority medium

[2019-09-18 11:22] amitkrout commented on #2139
@dharmit Is it a correct approach to unset env var, i mean passing the key value pair to unset the env var. Practically i would pass the key instead of passing the whole key value pair. But yes in some point i would say its a corner usecase.

[2019-09-18 11:40] dharmit commented on #2139
@amitkrout yes, I would not pass the key-value pair when doing unset. And it could be a corner use-case depending on how frequently/infrequently one uses env vars in their components. Assuming it's a corner case, `odo` should, IMHO, at least not say that it managed to unset the env var.

In my particular case, I ended up discarding and redoing demo recordings because env var was already there in t

[2019-09-18 15:06] girishramnani commented on #2129
it seems there are no java images in minishift at present so only nodejs would be needed

[2019-09-19 04:20] deweya opened #2142 "Ability to create additional resources"
[kind/Feature]

## Which functionality do you think we should add?
odo should allow a developer to create additional configmaps, secrets, custom resources, etc alongside a deployment.

Additionally, odo should allow a developer to specify mounts in cases where they want to create configmaps and secrets for config purposes.

## Why is this needed?
I imagine there will be use cases where a developer

[2019-09-19 06:04] amitkrout commented on #2088
Day by day the flake frequency is growing
one more - https://travis-ci.com/openshift/odo/jobs/236911619#L735

[2019-09-19 06:51] mohammedzee1000 commented on #2142
Hey, thanks for raising an issue and recommending features. We are heading towards GA at the moment, so looking at new feature requests will likely only happen after that.
/heart
Thanks for understanding

[2019-09-19 09:00] amitkrout commented on #2131
Ping @mik-dass
Can you please give a try it on windows host

[2019-09-19 11:31] kadel commented on #1780
/close
#1878

[2019-09-19 11:31] #1780 closed

[2019-09-19 12:25] cdrage opened #2147 "Error tests `odo catalog search` fails"
[kind/Feature]

## Which functionality do you think we should add?

We should have tests when performing an incorrect `odo catalog search`

## Why is this needed?

See PR: https://github.com/openshift/odo/pull/2135

[2019-09-19 13:15] dharmit opened #2148 "Should we mention "Supported" / "Unsupported" in components list output for community images?"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: `master`

## Actual behavior
`odo catalog list components` doesn't list "Supported" / "Unsupported" images on minishift.

## Expected behavior
Decide what the expected behaviour should be!

## Any logs, error output, etc?
Refer this dicussion for more context https://github.com/openshift/odo/

[2019-09-19 15:14] kadel commented on #2148
for reference:
On cluster with no supported components:
[code]

cluster with supported and unsupported components
[code]

The issue is is that the list of components that are not fully supported doesn't say that. So if there are no supported components on the cluster, the user doesn't have a clue that we have two different support levels for component types.

[2019-09-19 15:40] #2028 closed

[2019-09-19 18:20] #2120 closed

[2019-09-19 18:20] #2132 closed

[2019-09-19 22:44] #2073 closed

[2019-09-20 07:20] EagleIJoe commented on #2131
I can confirm this on windows with OKD 3.11

[2019-09-20 12:54] girishramnani opened #2153 "Add java integration tests for debug"
As discussed in https://github.com/openshift/odo/pull/2043. we are currently testing only nodejs in odo debug.
We need to add java tests for odo debug as well.

[2019-09-20 16:51] #2012 closed

[2019-09-23 08:38] dharmit opened #2154 ""odo list" showing component of an application from context directory of a different application"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
[code]
## Actual behavior
`odo list` shows component of an application that is not represented by the component directory from where the command is exexuted.

## Expected behavior
`odo list` should not list such component(s)

[2019-09-23 09:22] girishramnani commented on #2129
resolved in https://github.com/openshift/odo/pull/2140

[2019-09-23 09:22] #2129 closed

[2019-09-23 09:23] #822 closed, assigned to kadel

[2019-09-23 09:58] mik-dass opened #2155 "Fix `odo update`"
Since `odo config set` can achieve the same, what should be done with the command? Should we remove it?

[2019-09-23 10:01] dharmit commented on #2155
For the record this is the fifth issue that belongs to Dharmit-found-this-while-recording-demo-videos list. I think we should create a label for that now. Fifth issue in less than four videos. Yay! \o/

[2019-09-23 10:10] dharmit commented on #2155
At the end of below mentioned steps, I expected the `odo config view` to show that `SourceType` was `local` and `SourceLocation` was `./`
[code]

[2019-09-23 10:25] kadel commented on #2155
@mik-dass you are right technically the same thing that `update` does can be achieved by two `odo config set` commands.

But I think that it is important to have one single command that does this operation.

[2019-09-23 10:36] mik-dass commented on #2155
OK. I guess then I will rename the issue to fixing the command

[2019-09-23 11:54] girishramnani commented on #1602
as mentioned by @dharmit #2001 resolves this issue and hence closing it

[2019-09-23 11:54] #1602 closed

[2019-09-23 11:54] kadel commented on #1297
Resolved with the introduction of partial uploads #1488 and optimized inner loop scripts for NodeJS and Java #2023 (this also solves problems with moving files outside of the destinations directory (only for Java and NodeJS)

[2019-09-23 11:55] kadel commented on #1297
/close

[2019-09-23 11:55] #1297 closed

[2019-09-23 11:57] girishramnani opened #2156 "show warning for supported and unsupported images when doing odo create/push"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
We need to add a warning when the users tries to `create` or `push` the component if the component is fully supported or not. full support would mean debugger support and hot reload and more advanced features.

## Why is this needed?
To set expectations of the user

output -
[code]

[2019-09-23 11:58] girishramnani commented on #1984
closing this as part this left in this issue has been recorded and tracked in this issue https://github.com/openshift/odo/issues/2156

[2019-09-23 11:58] #1984 closed

[2019-09-23 12:04] #1357 closed

[2019-09-23 12:05] cdrage commented on #1945
https://github.com/openshift/odo/pull/2098 has been merged. Closing

[2019-09-23 12:05] #1945 closed

[2019-09-23 12:07] dharmit opened #2157 "Figure out where we need to add connection checks in odo commands"
#2078 just removes the global check.
We will still need to handle the connections error somehow to print the nice message. But it should be done on a per-command basis.

_Originally posted by @kadel in https://github.com/openshift/odo/issues/1588#issuecomment-529919157_

[2019-09-23 12:08] dharmit commented on #1588
Closing this because the scope of this issue was to remove connection checks before GA which has been done. Further task of adding connection checks and/or messages will be worked upon in #2157.

[2019-09-23 12:08] #1588 closed

[2019-09-23 14:38] dharmit opened #2158 "odo uses a deleted project as currently set project"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
* odo unsets the active project in spite of user deleting another project. In this example, `newproject` was active when we deleted `myproject` but after the deletion, `newproject` was suddenly no the active project anymore.
*

[2019-09-23 14:42] dharmit commented on #2158
[code]

[2019-09-23 20:31] sbose78 opened #2161 "List & Provision Services from the in-cluster installed operators (Dev Catalog)"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
`odo catalog list services`

## Why is this needed?
Support in-cluster Operator Catalog as the primary way to look-up and provision services, as an alternative to Service Catalog.

It should behave as demonstrated here https://asciinema.org/a/261224

## Challenges
1. By default, none of the operators in the OLM Catal

[2019-09-24 05:43] mik-dass commented on #2126
[code]
it seems the path of the files marked for deletion are correct as `/tmp/src/red.txt` was supposed to be deleted.

[2019-09-24 07:10] amitkrout commented on #2158
@dharmit Thanks for the issue. I had similar observation when trying to improve project get and set command few weeks back but unfortunately forgot to create the issue.

Anyway we got a separate test file for project command test ```test_cmd_project.go``` where we can keep adding such test scenarios.

[2019-09-24 07:14] amitkrout commented on #2088
one more - https://travis-ci.com/openshift/odo/jobs/238431066#L2444

[2019-09-24 08:45] kadel commented on #2161
What is the best way to list installed operators on the cluster?

[2019-09-24 09:05] jeffmaury opened #2163 "odo create interactive generates incorrect config"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

`odo create `

then
- select `java` for the component type
- select `8` for the component version
- select `local` for input type
- select `.` for relative path (even through the full path was proposed)
- select `comp1` for component name
- selec

[2019-09-24 10:03] kadel commented on #2163
/kind bug
/priority high

[2019-09-24 10:57] dharmit opened #2165 "Changing component's project and pushing it doesn't delete the component from the project it belonged to earlier"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: `master`

## How did you run odo exactly?
1. `odo create nodejs` (component belongs to `myproject`)
2. `odo push` (component pushed to `myproject`)
3. `odo config set project newproject`
4. `odo push` (component gets pushed to `newproject` but doesn't get deleted from `myproject`)

## Actual

[2019-09-24 12:35] sbose78 commented on #2161
oc get csvs

[2019-09-24 14:40] kadel opened #2168 "Incomplete information in Prow Spyglass"
Prow Spyglass is showing wrong information from JUnit.

In the example, you can see that it says that 266 Test were skipped. This is not correct. Those tests were executed.

<img width="376" alt="Screen Shot 2019-09-24 at 16 38 07" src="https://user-images.githubusercontent.com/57206/65521576-bcee7080-dee9-11e9-8867-537fb164f96f.png">
https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-lo

[2019-09-24 23:43] greg-pendlebury commented on #764
Is this assumption reflective of the fact that there is no proxy support? I'm struggling to get this working. A simple login appears to partially work, but I think that is because the login is piggybacking off basic `oc login` functionality... then failing on simple queries:
![image](https://user-images.githubusercontent.com/2540158/65557790-dccc7580-df77-11e9-8a80-5261e02a9c30.png)

I have tried

[2019-09-25 03:24] dgolovin opened #2171 "`odo push` fails for local nodejs component with nodejs:10 and nodejs:latest"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows
- Output of `odo version`: odo 1.0.0-beta5

## How did you run odo exactly?
1. `git clone https://github.com/dgolovin/nodejs-ex`
2. `cd nodejs-ex`
3. `odo create nodejs:latest` or `odo create nodejs:10`
4. `odo push`

## Actual behavior
[code]

## Expected behavior

Build started and push command finished sucessful

[2019-09-25 03:59] mohammedzee1000 commented on #2171
/kind bug
/priority High
Thanks @dgolovin

[2019-09-25 05:52] dharmit commented on #2158
Some more info that I think might be useful.

[code]

At the end of above output, we see that `yourproject` is the currently active project. However, `yourproject` was the last project to be deleted when I was cleaning up my environment of sample projects. So, for some reason, `odo` uses the lastly deleted project as the currently active project.

[2019-09-25 06:08] prietyc123 commented on #1672
I spend some time to analyse the issue and here are my thoughts.

AFAIU ```odo``` UX should be sync with ```oc``` UX because both the client has the almost similar operation. So, I believe typing only ```odo``` in the terminal should not reflect any statement as mentioned above.

Expected Output:
[code]
[code]

I really found some valid suggestions given by OP, However I don't see any valid reason

[2019-09-25 06:14] prietyc123 commented on #1672
/unassign @amitkrout

[2019-09-25 07:16] dharmit opened #2172 ""odo push" doesn't delete OpenShift objects when component name is changed"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
1. Created a component and pushed it.
2. Changed the name of the component by doing `odo config set name fancy-name` and pushed it using `odo push --config`.
3. OpenShift objects created in step 1 don't get deleted.

## Actual behavior
OpenShift objects

[2019-09-25 07:33] jeffmaury opened #2173 "odo create binary error with absolute path"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

While in `C:\work\src\tmp\demo170\comp2`:

`odo create java:8 bincomp --binary C:\work\src\tmp\demo170\comp2\target\springboot-rest2-1.0.0-SNAPSHOT.jar --project bin --app binapp`

## Actual behavior

` X  Rel: can't make C:\work\src\tmp\demo170\

[2019-09-25 07:39] dharmit opened #2174 "odo url create for component ("odo url create --component") creates url for component in pwd"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
1. Created two components and pushed them
[code]
2. Created url for `django` component from the component directory of `nodejs` component
[code]
3. Upon doing `odo push`, the url create above redirects to the application in `nodejs` component.
4. But us

[2019-09-25 07:39] jeffmaury opened #2175 "Invalid URL annotation generated with binary component"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10
- Output of `odo version`:

[code]

## How did you run odo exactly?

`odo create java:8 bincomp --binary target\springboot-rest2-1.0.0-SNAPSHOT.jar --project bin --app binapp`

## Actual behavior

The generated annotation is:

`app.openshift.io/vcs-uri: 'file:///target/springboot-rest2-1.0.0-SNAPSHOT.jar'`
## Expecte

[2019-09-25 07:50] mohammedzee1000 commented on #2175
/kind bug
/priority high

[2019-09-25 08:06] amitkrout commented on #2171
@dgolovin I am able to reproduce it on ```odo beta5 + 4.2 Openshift Cluster + win10```, However on odo master binary no such issue found.

This week we will have a new odo upstream release. You can check it on that binary.

[2019-09-25 08:18] amitkrout commented on #2175
[code]

@jeffmaury Where/how you got this annotation ?

[2019-09-25 08:35] mohammedzee1000 commented on #2175
/state in-analysis

[2019-09-25 08:52] amitkrout commented on #2175
<img width="1157" alt="Screen Shot 2019-09-25 at 2 12 56 PM" src="https://user-images.githubusercontent.com/19851115/65584847-2aa8a400-df9f-11e9-8359-4251450513bf.png">

Got it, It just follow the local path protocol of ```file:///``` on windows platform because the binary source being used is a local one.

[2019-09-25 09:06] kadel commented on #2173
/kind bug
/priority high

Might be related to https://github.com/openshift/odo/issues/1969 ?

[2019-09-25 09:42] girishramnani opened #2176 "Evaluate possible test scenerios which have been missed"
List out the possible failure scenarios which have been missed by the integration tests. Breaking this list per command to make it easy to distribute the work load.

[2019-09-25 09:49] girishramnani commented on #2155
the idea here is that currently `odo update` does many things internally for example if we change the type of the component from local to git - it does everything that a odo push would do ( with maybe some cleanups ).
So as per the observation done by @mik-dass . We can mostly ( need to go over more code ) replicate `odo update` whole functionality by doing `odo config set` and then `odo push`. so

[2019-09-25 09:54] dharmit commented on #2176
Some issues I found while recording videos: #2139 #2138 #2154 #2155 #2158 #2165 #2172 #2174

[2019-09-25 10:18] mik-dass commented on #2155
We would be able to remove a lot of code from update due to this

Sounds good to me :+1:

[2019-09-25 10:18] kadel commented on #2148
Let's change the wording to explicitly say "Odo Unsupported OpenShift Component"

[2019-09-25 10:18] kadel commented on #2148
/priority high

[2019-09-25 10:32] amitkrout commented on #1845
#2176

[2019-09-25 10:35] mik-dass commented on #2032
weirdly I am facing this issue while running `odo list`
[code]

[2019-09-25 10:41] kadel opened #2178 "Incorrect information about supported languages in readme"
Readme says "Supports multiple languages and frameworks such as Node.js, Java, Ruby, Perl, PHP, and Python." But odo officially supports only Java and NodeJs, the other languages are without any guarantees.

Not sure what the right wording should be.

[2019-09-25 10:45] kadel commented on #2178
ping @boczkowska

[2019-09-25 11:46] kadel commented on #2171
Tested with the same result as @amitkrout. I was able to reproduce this on Windows with beta5. But not on the latest master.

[2019-09-25 12:23] girishramnani commented on #1595
adapter team is wating for this issue and so we need this before GA

[2019-09-25 12:33] RickJWagner commented on #2171
This problem is similar to an issue reported by another user.
In this case, the user is using a nodejs application (perhaps from [1]), the push fails and a timeout message appears.
The user notes that OpenShift artifacts are being manipulated on the cluster (even as the timeout message appears).
I have durable artifacts (video recording) to show the symptoms, contact me if you wish to see them.

[

[2019-09-25 12:42] RickJWagner opened #2179 "Please document expected results, context for common user actions"
[kind/Documentation]

## What did you find missing in the documentation?
A clear explanation of what the user should expect when common actions are taken.  As an example, 'push'.
- What is being pushed
- Which actions should be occuring in the K8S namespace as a result of 'push'
- Which K8S artifacts should be expected to appear/be manipulated?  What state should they be in at the successful end o

[2019-09-25 12:46] amitkrout opened #2180 "Deleting app deletes the other component those are not part of the local config"
[kind/bug]

## What versions of software are you using?
- Operating System: Supported platform (However i ran it on Win10 only)
- Output of `odo version`: master

## How did you run odo exactly?
[code]

## Actual behavior
Deleting the component which is not part of local config.

## Expected behavior
should delete the app named ```app``` and the respective component present in the local config fil

[2019-09-25 13:15] girishramnani commented on #2175
@jeffmaury do you mean `file://` vs `file:///` because the later means its absolute path?

[2019-09-25 13:29] jeffmaury commented on #2175
I mean no / at all because it's a relative URL

[2019-09-25 13:48] rhuss commented on #1672
Why not just reserve this list for the help page of the subcommand ? I.e of a user does an `odo --help` and then sees

[code]

and then does a

[code]

which lists the components subcommands is much better than leave the user guessing what this huge `(create, delete, describe, get, link, list, log, push, unlink, update, watch)` appendix actually means.

So also, I suggest to test all your output a

[2019-09-25 13:53] dharmit opened #2181 "Update the bump-version.sh script to function correctly"
@mohammedzee1000 mentioned that the script in question is not up-to-date and should be avoided to bump the version.

[2019-09-25 14:21] kadel commented on #2171
I've done some investigation and I believe that what is @RickJWagner is mentioning and what @dgolovin are reporting are two different issues.

In @dgolovin's issue, the Sync phase was sucessfull and it failed  during Build phase.

In the other reported issue that @RickJWagner is mentioning, `odo push` failed during the Sync phase.
See screen shot.

<img width="423" alt="Screen Shot 2019-09-25 at 1

[2019-09-26 04:50] dharmit commented on #2172
Besides changing the component name, the behaviour is ditto same when we change the project of the component using `odo config set project <some-project`. The OpenShift objects are untouched in the project to which the component belonged earlier.

[2019-09-26 05:30] dharmit opened #2183 "Should we allow/prevent user to set DebugPort as environment variable?"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
I set the DebugPort using environment variable approach (`odo config set --env`) but tried to unset it using normal approach (`odo config unset DebugPort`) and was left confused why it's not getting unset.

1. `odo config set -e DebugPort 9090`
2. `odo

[2019-09-26 05:46] amitkrout opened #2184 "[Flake] component create in a directory with numeric name"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: master

## How did you run odo exactly?
see CI failure steps - https://prow.svc.ci.openshift.org/view/gcs/origin-ci-test/pr-logs/pull/openshift_odo/2166/pull-ci-openshift-odo-master-v4.2-integration/281#0:build-log.txt%3A5106
[code]
## Actual behavior
scenario failing

## Expected behavior
should

[2019-09-26 06:43] kadel commented on #2180
This is correct. Both components are part of the same app. So it makes sense that when you delete the whole application from the cluster both get deleted.

We just probably need to explain this better in help message and in the documentation.

[2019-09-26 09:14] kadel commented on #2032
confirmed, this is a bug. `odo list` with `--path` needs to work outside the context directory.

[2019-09-26 09:14] kadel opened #2186 "`odo list --path <path>` fails when not in component directory"
confirmed, this is a bug. `odo list` with `--path` needs to work outside the context directory.

UPDATE:
It looks like that this has to do something with the `--path` flag and where it points to. It doesn't matter from what directory the command is executed.

_Originally posted by @kadel in https://github.com/openshift/odo/issues/2032#issuecomment-535415637_

[2019-09-26 09:14] kadel commented on #2186
/kind bug
/priority high

[2019-09-26 09:23] kadel commented on #2186
/assign @mik-dass

[2019-09-26 10:48] kadel commented on #764
/open
this is a valid concern, odo should work with proxy settings

[2019-09-26 10:59] dharmit commented on #2186
I think this issue pops up when there's no odo component directory among the immediate child directories. For example, I face this issue when I do `odo list --path ~` but not when I do `odo list --path ~/src/`. There are numerous component directories under `~/src` in my case.

[2019-09-26 11:14] amitkrout commented on #1672
Seems @cdrage is going to take care of this issue.

[2019-09-26 11:14] amitkrout commented on #1672
/unassign @amitkrout
/Unassign @prietyc123

[2019-09-26 11:16] amitkrout commented on #1672
/unassign @prietyc123

[2019-09-26 14:51] sspeiche opened #2189 "disconnected environments"
[kind/Enhancement]

Many customers work off line, either due to airgapped work environments or from areas with little or no connectivity. There needs to be a way for these uses to easily use `odo` and the hot reload featured using the `odo-init-image`. If this image is held in only a internet accessible way, this will greatly limit the users.

[2019-09-27 00:54] greg-pendlebury opened #2191 "URL support for https"
[kind/Feature]

## Which functionality do you think we should add?
I would like to be able to generate https URLs using the URL command:
`odo url create local-greg --port 8443 --tls=edge`

Perhaps a new parameter like `--tls=edge` would result in adding this to the OCP route:
[code]

This is the simple use case we are looking for, but no doubt there are others:
 * `--tls=none` (default)
 * `--tls=

[2019-09-27 05:45] dharmit commented on #2158
This is becoming a pain in bad places now. Let me add more information to support my highly negative statement.

I tried to create a component in interactive mode with `odo create`. Take a look at the commands below:

[code]

[2019-09-27 06:34] dharmit opened #2192 ""odo push" panics for component created in interactive mode"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
1. Created nodejs component
[code]
2. Created python component
[code]

## Actual behavior
`odo push` fails with a panic like below:
[code]

## Expected behavior
`odo push` shold work fine

## Any logs, error output, etc?
I think this is happening becaus

[2019-09-27 06:39] kadel commented on #2192
/priority high
/kind bug

[2019-09-27 06:39] kadel commented on #2191
/kind feature
/priority medium

[2019-09-27 07:16] dharmit opened #2193 "Component's "SourceLocation" is messed up when creating it in interactive mode"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: master

## How did you run odo exactly?
1. To circumvent #2192, I set the port using `odo config set ports 8080/TCP` before doing `odo push`. To create the component in interactive mode, I just chose the component name and version and hit "Return" key for everything else that `odo` chose for me b

[2019-09-27 07:27] kadel commented on #2193
I think that this is duplicate of https://github.com/openshift/odo/issues/2163

[2019-09-27 07:28] dharmit commented on #2193
/close dupe of #2163

[2019-09-27 07:30] #2193 closed

[2019-09-27 07:50] amitkrout opened #2194 "odo Interactive mode test script implementation"
Add integration test for odo interactive mode usecase

[2019-09-27 07:52] amitkrout commented on #2194
/kind discussion

[2019-09-27 08:40] dharmit opened #2195 "odo storage commands should mention the need of odo push for changes to take effect"
[kind/bug]

## What versions of software are you using?
- Operating System: all
- Output of `odo version`: master

## How did you run odo exactly?
1. Created storage using `odo storage create`
2. Deleted storage using `odo storage delete`

## Actual behavior
1. In case of `odo storage create`, the storage doesn't show up on remote pod.
2. In case of `odo storage delete`, the storage doesn't get de

[2019-09-27 08:45] dharmit opened #2196 "Documentation doesn't talk much about Java based components"
[kind/Documentation]

## What did you find missing in the documentation?
Nodejs and Java based components are going to be the supported ones for 1.0. We need to talk more about Java components in the documentation. For example in Getting Started guide.

## What is the relevance of it?
Relevant for 1.0 release.

[2019-09-27 09:55] mohammedzee1000 commented on #2194
It appears we may not need any 3rd party library as this can be done with stdlib os.exec.
Here is an example:

[code]

Not very clean, but works

[2019-09-27 10:19] mohammedzee1000 commented on #2194
We will, of course, need a clean struct to handle trivial tasks. Also afaik on windows, Enter is signified by `\r\n`, so may need to handle that

[2019-09-27 11:48] #2184 closed

[2019-09-27 17:12] #2163 closed

[2019-09-28 04:36] dgolovin opened #2201 "Cannot update component's exposed ports with 'odo'"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows
- Output of `odo version`: 1.0.0-beta5

## How did you run odo exactly?
Created component using `odo create` without `--ports` option.

## Actual behavior
There is no way to update ports component config got by default. `config` and `update` commands does not support `ports`.

## Expected behavior
`odo` can update

[2019-09-29 21:19] #2195 closed

[2019-09-30 05:39] amitkrout commented on #2201
@dgolovin Can you please provide the detail steps, On which component you try it out ? Or did you try the interactive mode ?

[2019-09-30 05:39] dharmit commented on #2201
You should be able to update the ports by doing:
[code]