[2019-01-23 16:02] #1212 closed

[2019-01-23 16:38] cdrage opened #1226 "make test-e2e fails locally"
`time` was added to the `odo push` commands in the e2e tests.

Unfortunately this isn't compatible with ginkgo and `time` fails to work due to being ran with `zsh` terminals.

To be honest, `time` looks to have been added just for data collection / seeing how long it took to deploy.  I vote that we simply remove it :+1:

[code]

[2019-01-24 12:58] #1201 closed

[2019-01-24 14:27] cmoulliard opened #1229 "[discussion] Switch from inner to outerloop"
## Which functionality do you think we should add?

Have the possibility to move from inner (= dev loop) to outer loop (= build loop)

## Why is this needed?

To be able to share the code as docker image, to test the docker image containing the code in a different node/cluster, namespace, to let another team to consume the service, to verify that the application/component will start properly using

[2019-01-24 16:04] geoand opened #1230 "odo service create secret name not always the service name"
[kind/bug]

This is based on analysis from @jorgemoralespou

## What versions of software are you using?
- Output of `odo version`: odo v0.0.17 (680c639ad)

## How did you run odo exactly?
When invoking `odo service create mongodb-ephemeral` a secret with the appropriate name is created.
However when running `odo service create mongodb-ephemeral mongodb` the secret is not created

## Expected beha

[2019-01-25 06:40] mohammedzee1000 commented on #1195
As the above PR was merged, I believe this issue has been sorted. Do we close this?

[2019-01-25 07:01] geoand commented on #1195
+1 for closing

[2019-01-25 08:15] #1189 closed

[2019-01-25 09:20] mcouliba opened #1231 "Unable to push changes for source code for NodeJS"
[kind/bug]

## What versions of software are you using?
- Operating System: CENTOS
- Output of `odo version`:

odo v0.0.17 (1d10127b)

OpenShift: v3.11.43
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?

$ odo create nodejs:8 ui --app web --local labs/web-nodejs
$ odo push ui --app web
--- Modify the source code
$ odo push ui --app web

## Actual behavior

Failed to push the changes

[2019-01-25 10:02] anmolbabu commented on #1231
@mcouliba Can you verify if this issue is relevant to latest odo master?
Bcoz in my opinion this was fixed with various fixes part of https://github.com/redhat-developer/odo/pull/1125 and https://github.com/redhat-developer/odo-supervisord-image/pull/10
It might be relevant to last odo release 0.0.17

[2019-01-25 10:43] mohammedzee1000 commented on #1200
Taking this up

[2019-01-25 10:43] mohammedzee1000 commented on #1200
@kadel if you could add this to current sprint?

[2019-01-25 10:56] geoand commented on #1200
@mohammedzee1000 added :P

[2019-01-25 13:31] mohammedzee1000 commented on #1200
@jorgemoralespou I can't find the source of this message in the code. Could you link the example you tried so i reproduce and debug further?

[2019-01-25 14:07] geoand commented on #1200
Actually i think this is dup of ##1174

[2019-01-25 14:57] hrishin commented on #1144
Quite a valid point @jorgemoralespou. However, it would be really nice (nice to have) if user could provide some option to `odo service <appropriate subcommand> --wait`. As a user, at some point in time surely I would require some way ot get service provisioning status instead of keep polling.

Or at least we can user doc with some tip like `watch odo service list`.

[2019-01-25 16:23] syamgk commented on #952
hitting the same error as specified in this issue https://github.com/openshift/origin/issues/21253
logs on ci.co https://ci.centos.org/job/odo/job/cico-test/45/console

[2019-01-25 19:09] mohammedzee1000 commented on #1200
Looks to me like it as well.

[2019-01-25 19:11] mohammedzee1000 commented on #1200
Closing as duplicate

[2019-01-25 19:11] #1200 closed

[2019-01-27 16:54] jorgemoralespou commented on #1144
I think we should probably introduce a command `odo service watch <servicename>` to wait for status.

[2019-01-27 19:32] sspeiche commented on #762
We discussed some of this at the last F2F and agreed this is on our backlog and high priority after we nail down a "1.0" release focused on openshift and innterloop story. Some ideas were to have `odo` to work in a mode that would generate and expect Knative features, we refer to this as `kdo`. Ben has a good list of things to consider. We should take a look at some specific scenarios, trying to n

[2019-01-27 19:42] sspeiche opened #1236 "End-user telemetry data of odo features"
[kind/epic]
[milestone/backlog]

As a developer or product manager on the `odo` team, I would like to get have some telemetry data to better understand how many users are using individual odo features.

This will help the team prioritize their efforts in the highest impact areas and also to figure out what some areas aren't used as much as expected. This will lead to the end-user having a better o

[2019-01-27 19:47] sspeiche opened #1237 "Support for arbitrary runtime/framework images"
[kind/Enhancement]

As a Developer I would like to use `odo`'s innerloop flow but I need to supply my own builder images for a variety of reasons.

Mostly it can't be expected the `odo` and the Red Hat teams (or community) provide all the language and runtime support a developer may need. There should be a well-documented way for arbitrary images be provided.

[2019-01-27 19:51] sspeiche opened #1238 "Integration with pipelines (CI)"
[kind/Feature]

As a Developer, I would like to be able to easily interact with my CI (pipeline) tool so that I don't have to jump between tools I use throughout my development.

Some scenarios include:
* Deploying or associating a pipeline with an application and/or components
* Provide status information (either through a separate command like `odo pipeline status` or integrated into something l

[2019-01-27 19:56] sspeiche opened #1239 "Support cron application types"
[kind/Feature]

As a Developer, I have applications that require some features such as running regularly scheduled jobs.

This should use the CronJob feature of Kubernetes and provide a simple interface for working with it.

[2019-01-27 20:01] sspeiche opened #1240 "Support for easily running unit tests in container (inner or outer loop)"
[kind/Feature]

As a Developer, I would like to execute unit tests within a given container whether it is based on inner or outer loop deployments.

This could be a simple variation or streamlined flow of something like rsh. It shouldn't be required that the test artifacts have to be pre-packed into the image.

[2019-01-27 20:52] debianmaster commented on #762
i hope there is no separate effort that is being worked at RH on  any other cli tools for knative.

having it on  odo makes sense

[2019-01-28 06:39] mohammedzee1000 commented on #1160
@kadel which would you recommend, asking user to first create project or creating one for them?

I personally would prefer asking them to create project so that we dont have to deal with another name generation

[2019-01-28 09:06] metacosm commented on #1236
The work I've been doing on an event system associated with plugins (i.e. telemetry could be implemented as a listener plugin) would help this effort.

[2019-01-28 09:19] metacosm opened #1242 "Additional interactive commands"
## Which functionality do you think we should add?
An interactive mode has been implemented for `service create`. Other commands might benefit from similar effort but we need to identify such commands.

## Why is this needed?
This would improve the usability of the tool.

### Sub-tasks
- [ ] `login`
- [x] `component create` #1272
- [ ] `url create`
- [ ] `storage create`
- [ ] `link`
- [ ] `config

[2019-01-28 11:10] sspeiche commented on #762
There will be the built in support in `kubectl` and `oc` through the use of the CRD extensions for the CLI, though this is the bare bones experience. We'd need to look at something like `knctl` as something for those wanting to work directly with Knative resources. `odo` is abstracting all underlying implementation details away, so it will be used for a good bit of Knative use cases but in the end

[2019-01-28 11:31] cmoulliard opened #1244 "Integrate odo with Application and/or Component CRD"
[kind/Feature]

**Goal** : Integrate odo with the k8s Application and/or Component CRD
**why** :
- Reduce development/maintenance costs of odo by delegating responsibilities to maintain k8s resources of an application on the platform using CRD and operator
- Propose a common approach for all the DevTools to generate resources on the cloud Platform using `Application/Component` CRD
- Simplify migra

[2019-01-28 17:03] kadel commented on #76
continued in https://github.com/redhat-developer/odo/issues/1242

[2019-01-28 19:41] sspeiche commented on #1229
I'd like to turn this into a POC on an approach for 1.0 so we can ensure we have an approach in mind

[2019-01-28 19:48] sspeiche commented on #1198
@kadel we discussed at f2f that this was post-1.0, should the work stall on this and milestone assigned to backlog? If this has progressed enough. it would be fine to pull it in.

[2019-01-29 06:26] kadel opened #1248 "odo version fails if ~/.kube/config doesn't exist"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: error :-(
(running from current master 31e898e60ca8a7b99c04122d16a70ddc78c688e5)

## How did you run odo exactly?
`rm -r ~/.kube/config`
`odo version`

## Actual behavior
[code]

## Expected behavior
show version

[2019-01-29 09:23] kadel commented on #173
closing in favor of https://github.com/redhat-developer/odo/issues/675

[2019-01-29 09:23] #173 closed

[2019-01-29 11:21] mohammedzee1000 commented on #1017
Had a discussion with @kadel and we might have a altogether better option.

https://github.com/mohammedzee1000/odo/blob/master/pkg/auth/login.go#L25

Looking at that line, it looks like we are supplying os.stdout as output stream. If we provide another stream, we could catch the message, read it for information, discard it and paste our own message.

I will be digging deeper into this approach

[2019-01-29 11:22] mohammedzee1000 commented on #1017
@metacosm @geoand

[2019-01-29 11:24] geoand commented on #1017
Sounds good to me @mohammedzee1000

[2019-01-29 14:12] mohammedzee1000 commented on #1017
@metacosm @geoand @kadel

[2019-01-29 14:20] #1248 closed

[2019-01-29 15:23] jorgemoralespou commented on #1229
@cmoulliard this is already possible by doing `odo update --git=<GIT_URL>`.

Current workflow, which can probably be improved, extended is:

[code]

Hope this helps.

[2019-01-29 15:31] jorgemoralespou commented on #168
@kadel not to disagree yet once again, but while #600 covers the active component, we still need a way to track what is the current application, or at least think what will be the experience when we create a component from scratch as there will not be a way to set/link it to an existing application unless you explicitly set it.
Now with "automatic detection of the context" we need to make sure tha

[2019-01-29 15:37] jorgemoralespou commented on #1242
Here's some that we should make interactive, if possible:

- odo login (not sure as this comes from oc)
- odo component create
- odo url create
- odo storage create
- odo link
- odo config set (this is not yet there, proposal coming)
- odo utils config set

[2019-01-29 15:47] jorgemoralespou commented on #1160
The project needs to be asked to the user (created or set as active) and not created on his behalf. Many developers will not have project provisioning capabilities on the platform.

[2019-01-29 15:58] jorgemoralespou commented on #1240
@sspeiche
Unit tests in the inner loop are executed in the assemble phase of s2i. To be able to alter the s2i pipeline that happens in the assemble script, and to be able to have odo supporting this, these steps need to be properly defined and enforced in the images.
In the outer loop, unit tests are executed as part of the build process, however that happens. Build in Jenkins or build in OpenShif

[2019-01-29 17:06] cmoulliard commented on #1229
We could use as you suggest `odo update --git <GiT_URL>` to tell odo to do the job to switch from `inner` to `outer` loop. I'm not personal;ly sure that everybody will understand that in this case a docker build process will take place. This is the reason why we proposed with @metacosm to have this command `odo app | component publish` or `odo app | component publish --namespace`

[2019-01-30 06:49] mik-dass commented on #1192
@kadel Can we close this?

[2019-01-30 07:06] kadel commented on #1192
Don't see any references to PR. :-(
Has this been merged?

[2019-01-30 07:11] amitkrout commented on #1185
Thanks, make sense to me

[2019-01-30 07:19] kadel commented on #1185
@cdrage Is it ok, if we close this isssue?

[2019-01-30 07:20] syamgk commented on #1226
@cdrage can you validate and close this issue?

[2019-01-30 07:34] kadel commented on #1036
Reopening this, as this was implemented only for `odo watch`. Push is still missing support for ignore file

[2019-01-30 07:44] kadel commented on #952
Do you know where exactly it fails?
Have you tried to run `oc cluster up` in verbose mode?

[2019-01-30 07:52] mik-dass commented on #1192
#1245

[2019-01-30 08:07] amitkrout commented on #952
Have you tried to run oc cluster up in verbose mode?

I guess the same ```cluster up``` failure due to ```waiting for condition``` is observed long back https://github.com/openshift/origin/issues/20617 and during that time it was not that important as it was inconsistent on same setup. But after few days it grows like monster I mean in most of the platform the same error appeared consistently. Now

[2019-01-30 09:59] syamgk commented on #952
Had a discussion with dv and now I'm going to try Minishift against a remote machine

[2019-01-30 10:43] kadel commented on #952
Isn't minishift doing essentially the same? It is still  `oc cluster up` under the hood.

[2019-01-30 12:34] kadel opened #1254 "odo service create panic when there is no Service Catalog available on cluster"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: current master -  v0.0.18 (c25f00ef)

## Actual behavior

1. Connect to the cluster that does't have Service Catalog deployed.
2. `odo service create`

[code]

## Expected behavior

odo should show error message explaining that cluster that user is connected to doesn't support Service Catalog.

[2019-01-30 12:36] amitkrout commented on #952
@syamgk if you are lucky enough then it works for you ;)

[2019-01-30 12:37] amitkrout commented on #952
@kadel Yes, This is the same command with some extra flag arguments what minishuft uses to start the cluster.

[code]

[2019-01-30 12:42] kadel commented on #1242
+1 on the list.
`odo login` already have of interactive mode (inherited from `oc`). It looks slightly different, but I don't think that that is an issue.  If you run `odo login` it will ask for username and password.

`odo component create` should be next candidate for interactive mode, as this is the command that is run most often.

[2019-01-30 13:21] anmolbabu commented on #1198
@jorgemoralespou
I have the following questions based on the issue description:

1. Wouldn't updating the config + component deployment with `odo update` vs updating only config file via `odo utils config set` potentially confuse the user?
2. Wouldn't this be a lot of flags each to create and/or update making the usability of the command difficult?
3. Would the below instead be ok:
    a. Update/C

[2019-01-30 14:45] #1203 closed

[2019-01-30 14:49] amitkrout opened #1256 "odo app describe does not honour manually created external route"
[kind/bug]

## What versions of software are you using?
- Operating System: All supported platform
- Output of `odo version`: Tested on Odo master

## How did you run odo exactly?
1. Download minishift v1.30.0
2. start minishift
[code]
3. clone master and run make bin
4. ./odo create nodejs frontend
5. ./odo create python backend
6. ./odo link backend --component frontend
7. ./odo service create m

[2019-01-30 19:05] cdrage opened #1257 "List all "mini-commands" when using odo --help (UI/UX improvement)"
## Which functionality do you think we should add?

So I was testing some other software, namely `knctl` for knative.

I really like how he creates the help output:

[code]

I believe we should add the same to Odo, so it'll look like this:

[code]

## Why is this needed?

To make --help easier to iunderstand from a top-down perspective

The implementation in the `knctl` code is located here: https

[2019-01-30 19:07] cdrage commented on #1257
I could take this up... (if we decide to add this)

But the implementation would be to add this function: https://github.com/cppforlife/knctl/blob/612840d3c9729b1c57b20ca0450acab0d6eceeeb/pkg/knctl/cmd/knctl.go#L183

and have Cobra visit each command: https://github.com/cppforlife/knctl/blob/612840d3c9729b1c57b20ca0450acab0d6eceeeb/pkg/knctl/cmd/knctl.go#L170

[2019-01-31 06:46] amitkrout commented on #1167
@kadel This need more exploration and time investment. Due to less band width we could not spend much time on it. Later will talk to @mohammedzee1000 to plan it further

[2019-01-31 07:11] #1202 closed

[2019-01-31 07:58] syamgk commented on #952
using minishift for bringing up cluster is working fine and was able to run end2end test on ci.centos.org
logs can be found here: https://ci.centos.org/job/odo/job/cico-test/59/console

[2019-01-31 08:10] #1193 closed

[2019-01-31 08:22] #1191 closed

[2019-01-31 08:23] syamgk opened #1260 "Adding unit test for Functions under pkg/component/component.go"
[kind/Enhancement]
## Which functionality do you think we should update/improve?
Unit tests for https://github.com/redhat-developer/odo/blob/master/pkg/component/component.go
adding tests for functions

- [ ]  func CreateFromPath
- [ ] func Build
- [ ] func Delete
## Why is this needed?

For keeping up with unit test standards

[2019-01-31 10:27] cmoulliard opened #1262 "We can't create a component using image builder - redhat-openjdk18-openshift:1.4"
## Bug

We can't create a component using the `redhat-openjdk18-openshift:1.4` and this command ` odo create redhat-openjdk18-openshift:1.4 sb2 --local ./src
` as initContainer will fail to start and will report such error

[code]

Here is the pod's resource created by odo

[code]

As you can see, the annotation `openshift.io/scc` is defined as `anyuid` and not as `restricted` when we make a test

[2019-01-31 13:04] jorgemoralespou commented on #1239
How many users use CronJobs? I'm pretty sure that as part of the inner loop a developer would most likely not test the code that will ultimately run as a CronJob in a CronJob fashion.
Also, what would the experience look like for these feature request?

I would be really interested in see if we can fit the experience that would be required into odo or not. We're making decisions before 1.0 GA that

[2019-01-31 13:05] jorgemoralespou commented on #1238
What would the experience look like for this feature request?

I would be really interested in see if we can fit the experience that would be required into odo or not. We're making decisions before 1.0 GA that will later be difficult to change.

@sspeiche Could you provide details on the experience you think a developer would need/want/use?

[2019-01-31 13:12] jorgemoralespou commented on #1262
@cmoulliard odo version 0.0.18 was released this week. Could you try with that version. There's been many changes in this area.

[2019-01-31 13:31] jorgemoralespou commented on #1198
@anmolbabu good points, and we need to think this though.

IMHO I would rather update a component better than have to use `odo utils config set` on a regular basis, but there might be times where I just want to deal to persisting configuration into that files while still not messing with a component I have deployed. On the one hand, if you run update, the change will happen immediately, this can b

[2019-01-31 13:43] kadel commented on #1262
I think that @cmoulliard is waiting for me to update homebrew.

[2019-01-31 13:50] kadel opened #1263 "Followup on machine readable output (PR#1196)"
followup to: https://github.com/redhat-developer/odo/issues/1062
parent: https://github.com/redhat-developer/odo/issues/784

PR for Machine readable output (https://github.com/redhat-developer/odo/pull/1196) was put together quickly and it is missing a lot and also it needs a lot of cleanups:

   - [x] a function like `component.List` should return new structures (in this example `ComponentList`)

[2019-01-31 13:57] jorgemoralespou commented on #1262
In any case, and from discussion on mattermost, he's getting this error basically because he's pushing wrong files: `--local ./src` instead of `--local .` that is where his pom.xml file lives.

I would close this issue or change it to provide a more meaningful message if possible when this happens. :-D

[2019-01-31 15:11] kadel commented on #1262
Yeh, something looks weird with that script, but I haven't  been  able to reproduce this :-(

[2019-01-31 15:23] #1190 closed

[2019-01-31 16:21] metacosm commented on #1192
Closed via #1245.

[2019-01-31 16:21] #1192 closed

[2019-01-31 17:23] cmoulliard commented on #1262
I can resolve this problem after changing the SCC of the `serviceaccount` used to create the pod from `anyuid` to `restricted`

[code]

Questions:
- Do we have to change the UID/permissions needed/used to create within the initcontainer - >`mkdir -p $DEST.setup-volume` ?
- Do we have to document somewhere this problem and tell to the DevOps guy what to od ?

[2019-01-31 19:40] #1254 closed

[2019-02-01 07:41] geoand commented on #1242
I agree about `odo component create`, seems like the most reasonable choice

[2019-02-01 07:46] geoand commented on #1242
I can probably pick `odo component create` up next week unless @metacosm has already done some work on it

[2019-02-01 08:37] metacosm commented on #1263
@kadel so is the idea to merge #1196 and then work on this to clean things up?

[2019-02-01 09:16] #1017 closed

[2019-02-01 09:26] mik-dass opened #1267 "Unit test for watch.go"
Functions in unit tests covered by unit test

- [x] isGlobExpMatch
- [ ] addRecursiveWatch
- [x] WatchAndPush

[2019-02-01 10:38] mohammedzee1000 commented on #1160
Agreed, PR ups that asks user to create or set a project

[2019-02-01 10:51] kadel commented on #1263
yes. The reason is to get quick feedback, and also to prevent big PRs

[2019-02-01 13:55] metacosm commented on #1242
Nope, I haven't started on it. You can go ahead if you want.

[2019-02-01 13:56] geoand commented on #1242
OK, it will be a good chance to get a second set of hands using the interactive stuff

[2019-02-01 16:57] metacosm opened #1268 "Refactor login command to follow complete-validate-run pattern"
See #1142

[2019-02-01 16:58] metacosm opened #1269 "Refactor logout command to follow complete-validate-run pattern"
See #1142

[2019-02-02 10:08] kadel commented on #952
What needs to be done to complete first step:
 - [ ] current  e2e tests running on centos CI
 - [ ] setup centos CI to run e2e tests on PRs (Let's not worry about any optimizations, doesn't matter if it takes longer than on travis-ci. We will optimize this later)

[2019-02-02 11:09] kadel commented on #1238
I can see odo maybe generating some basic pipeline definitions. But I'm not sure about something like `odo pipeline status`, to me that is something that is out of the scope as it is specific to outer loop.

I can see this being a plugin that is outside of odo core.

[2019-02-03 17:16] #628 closed

[2019-02-04 07:46] kadel commented on #1091
It looks like this is fixed.

@girishramnani If this is still an issue, feel free to reopen this issue. But I wasn't able to reproduce this in v0.0.18

[2019-02-04 07:46] #1091 closed

[2019-02-04 07:49] kadel commented on #1063
`odo service create` shouldn't wait by default.
But adding `--wait` flag makes sense.

[2019-02-04 09:34] #1180 closed

[2019-02-04 09:48] syamgk commented on #952
tested with minishift and ran all tests on ci.centos.org.

- https://ci.centos.org/job/odo/job/cico-test/
- https://ci.centos.org/job/odo/job/cico-test/82/

[2019-02-04 09:50] girishramnani commented on #401
assuming we are planning to run windows VMs on Centos CI, this gets blocked by the centos CI onboarding issue @syamgk

[2019-02-04 10:19] amitkrout commented on #952
Currently the complete CI run takes around 1hr10min. Not a bad start i guess as minishift start itself takes almost 8min for each test in series. I am not sure if test can run parallel in centos ci, but this is a discussion material for later as @kadel mentioned.

Well done syam 💯

[2019-02-04 10:55] amitkrout commented on #401
I guess this is an umbrella issue comprises

1. #1131
2. #1129

Currently our test code is designed to be run on only linux like platform. So the issue 1 and 2 makes all the integration test code platform independent. I am close to fix the Issue #1131. I would be happy if @syamgk shares some of his capacity to fix #1129.

I think getting the platform is the key issue as part of unit tests on macOS

[2019-02-04 11:16] girishramnani commented on #1263
- this would mean the Complete-Validate and Run functions of a cobra.Command? @kadel

[2019-02-04 11:31] girishramnani opened #1270 "segregate the printing and business logic of structs"
Currently the `cmd` packages also hold a lot of business logic which is not related to printing, we should consider keeping only the printing logic in the `cmd` packages and move the business logic to the `non-cli` oriented packages.

E.g. - a function like `component.List` should return new structures (in this example ComponentList) etc.. and printing should be the only concern of the `cmd`.

[2019-02-04 11:41] girishramnani opened #1271 "add missing fields and populate some fields with default values in machine readable structs"
Missing fields
  - [ ] `ComponentSpec` should have port, cpu, memory (min,max)
  - [ ] `ComponentSpec` for git should have a source ref
  - [ ] `StorageSpec.Status` should have a field indicating to which Component the storage is mounted - name suggestion @kadel
  - [ ]  `Component` should have a field indicating to which application it belongs to
  - [ ] Mounted storage should have a field indica

[2019-02-04 11:44] mohammedzee1000 commented on #1256
@amitkrout are you still seeing this?

[2019-02-04 11:54] amitkrout commented on #1256
@mohammedzee1000 No, please take it forward cc_ @geoand

[2019-02-04 11:57] geoand commented on #1256
Well if the problem is gone, can we close this?

[2019-02-04 12:01] girishramnani commented on #1036
@tkral do you think we should consider multiple `.odoignore` in this sprint?

[2019-02-04 12:08] mohammedzee1000 commented on #1256
@geoand I would assume so, yes

[2019-02-04 12:15] #1256 closed

[2019-02-04 12:19] #1062 closed

[2019-02-04 12:22] surajnarwade commented on #1263
That means, cmd should do print/marshaling

`-o` is not a global flag in kube/oc, Also  for commands like `odo push` , `-o` makes no sense, I think.

Maybe in status field

[2019-02-04 12:46] geoand commented on #1063
I'll take this since it's related to #1144

[2019-02-04 12:48] geoand opened #1272 "Create interactive mode for odo create"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

`odo create` is very commonly used and could benefit from an interactive mode.

## Why is this needed?

A general consensus (see #1242) is that component create should be the command to have an interactive mode

[2019-02-04 12:50] girishramnani commented on #600
what I think we can do here is that, once odo-config PR https://github.com/redhat-developer/odo/pull/1168, we essentially can change the workflow to essentially having two configs in the `LocalConfig`
- `CurrentApplication`
- `CurrentComponent`

We dont need to keep a list of directories mapping to the current components and applications as the local config folder already is like a beacon to the c

[2019-02-04 12:57] metacosm opened #1273 "Add completion handler for output format"
## Which functionality do you think we should update/improve?
Add a completion handler for the valid output format(s) flag.

## Why is this needed?
Would be nice to have.

[2019-02-04 13:03] cdrage commented on #1271
This is more of a refactor / logging. Shouldn't this be kind/medium instead of high priority?

[2019-02-04 13:04] cdrage commented on #1270
This is another code refactor and wouldn't be affecting any feature / deployment logic, medium priority?

[2019-02-04 13:05] girishramnani commented on #1271
This actually adds new fields to structs so it's not just refactoring

On Mon, 4 Feb 2019, 18:33 Charlie Drage <notifications@github.com wrote:

[2019-02-04 13:05] surajnarwade commented on #1273
I added it as part of #1263

[2019-02-04 13:17] girishramnani commented on #600
we need to break down this issue into smaller chunk

[2019-02-04 13:18] syamgk commented on #952
Since the documents only talks about the older pattern ie, using jjb files
waiting for the resoponse from brian on how to extract the branch name and pull request number for our case, also for accepting the collaborator request for ci-user account

[2019-02-04 13:53] kadel commented on #658
probably fixed in #1223
TODO:
 - verify this on online

[2019-02-04 14:07] jorgemoralespou commented on #1262
@geoand depending on the level of access to the cluster, you can:
- If you're admin, check the PV that got created
- If you're not, look into the PVC to see if there's any info
- Look to what is the default storage-class, which defines which storage type should be assigned if not explicitly requested one specific storage

[2019-02-04 14:08] geoand commented on #1262
Thanks @jorgemoralespou!

I will check it out

[2019-02-04 14:24] geoand commented on #1262
@jorgemoralespou

`oc get pvc java-odo-bgdm-s2idata` yields:

[code]

`oc get pv pv002 -o json` yields:

[code]

This is a cluster that has been built using openshift-ansible but has a single all-in-one node

[2019-02-04 15:23] anmolbabu commented on #1198
@jorgemoralespou

The above makes sense to me if:

Update does not update the config files but only enforces a requested state on the cluster

But I have 1 more question(which was probably the one that led me to the proposal I made in my previous question):

How would a user enforce all the config (updated) in the config files on to the cluster?

I would probably not prefer passing all the config

[2019-02-04 15:31] kadel commented on #952
how are other projects doing that?

[2019-02-04 15:44] #1194 closed

[2019-02-04 15:45] anmolbabu commented on #804
@kadel So this is a first time confirmation before triggering delete right? Not like I choose to delete everything else other than say storage for example? So I delete everything or nothing?

[2019-02-04 17:02] jorgemoralespou commented on #1198
@anmolbabu
Options can be provided in different ways (and thanks for the discussion as it's the only way to see if the proposed workflow works or not, keep thinking :-D )
- You check out source code with an .odo/odo-config file, and the options in that file will be applied when you do `odo create`
- You check out source code with an .odo/odo-config file, and the options in that file will be applie

[2019-02-04 17:33] cdrage commented on #1185
Yeah, let's close this, this has been addressed.

So in short:

**inner-loop:** single-user / testing deployment

**outer-loop:** when the code is in Git / multiple people can push to it.

[2019-02-04 17:33] #1185 closed

[2019-02-04 17:40] cmoulliard commented on #1262
No storage class is defined.

[code]

[2019-02-04 20:31] metacosm opened #1278 "login e2e tests are incorrect / dangerous"
login e2e tests currently attempt to delete all projects. This might not work and is quite dangerous if the tests are run by an unsuspecting user on a cluster with elevated rights. Moreover, it might be difficult to ensure that the state is appropriate (i.e. no projects) when the tests are launched so end to end testing of the different login scenarios might be difficult/impossible.

[2019-02-05 06:41] amitkrout commented on #1278
@mohammedzee1000 Please look to this issue with priority

[2019-02-05 06:54] mohammedzee1000 commented on #1278
I am already working on alterering it in fix PR,  will push it out

[2019-02-05 07:42] dgolovin commented on #784
@kadel noticed that some information is missing when I do `odo describe` for component
[code]

* creationTimestamp is null
* type should also have version included `nodejs:latest` or as an additional field `version`

Also `url` references url by name, which would require to use something like `odo url describe` to fetch additional info, but it is not available.

[2019-02-05 08:41] syamgk commented on #401
no that assumption is wrong, we have option to enable windows machine test on travis-ci and the plan is to stick with it until we get into central ci or any other place with windows setup

[2019-02-05 09:09] geoand commented on #1262
The proper `chcon` had also been applied to the host directories that contained the volumes

[2019-02-05 10:39] kadel commented on #1092
What has been skipped in  #1168:
 - Show effective configuration

- When component is created, save configuration flags to the local file

- When creating component `odo create` and there is a local config file, use values from the file

more in https://github.com/redhat-developer/odo/pull/1168#issuecomment-460339666

[2019-02-05 10:43] #1188 closed

[2019-02-05 11:09] syamgk commented on #401
macOS is available on travis-ci we had a test which ran on mac for building odo we removed it in november i guess. https://docs.travis-ci.com/user/reference/osx

[2019-02-05 11:15] surajnarwade commented on #1263
me and mrinal discussed few stuffs around this issue:

initial stage should be:

* Get rid of normal structs. for example, `Description`  for component, add all required fields to machine readable output and the following issue.

* refactor other functions to reuse machine readable structs,
for example: for normal function uses `URL` struct and for list, use `URLList` struct
TODO:
- [ ] URL
- [ ]

[2019-02-05 14:57] geoand commented on #1272
@jorgemoralespou @kadel @metacosm I started looking into this and I immediately have a question:

Basically should the interactive mode try to get all the necessary info? For example, setting the cpu and memory resources can be tedious and I am guessing that in most cases isn't needed...
So how should we handle this? Should we only ask the user for the necessary info? Should flags also be allowed?

[2019-02-05 15:16] cmoulliard commented on #1262
I resolved the issue as described FROM here https://github.com/snowdrop/openshift-infra/issues/121#issuecomment-460667169

[2019-02-05 15:22] kadel commented on #600
First part:
 - When a component is created, save configuration flags to the local file (--env, --mem, --cpu, --application, component type (builder image), --port)
 - When `odo push` is called push current directory into component specified in local config (.`.odo/config.yaml`)

[2019-02-05 15:34] #1262 closed, assigned to nobody

[2019-02-05 16:20] kadel commented on #658
tested this on OpenShift free online.
It works,  it is just a little bit slower, but that is expected.

For example, if you add storage to the component, it will trigger redeployment.
Recreate first shuts down the old pod and then it starts creating a new one, if you are unlucky and the new pod is scheduled on a different node, it has to pull the image again. This can take a minute.

[2019-02-05 16:31] jorgemoralespou commented on #1272
@geoand When you look into the service creation, you see there are some "required" arguments and some "optional" arguments.
For this interactive mode, I would treat as required:
- componentType
- componentName
- Type (binary/local/git) and the argument to this selection.

Then everything else as optional. Probably displaying the list of optional parameters, and allowing the users to type and filte

[2019-02-05 16:34] geoand commented on #1272
It does yes. I'll hopefully start an implementation tomorrow and see what it looks like. I might have the resource limits as a whole option where the user can just skip the whole thing.

[2019-02-05 17:41] cdrage commented on #1237
@sspeiche

Are you possibly talking about using an intuitive / Odo-like way of doing `oc import-image` ?

[2019-02-05 17:48] cdrage commented on #1229
My thoughts and reasoning for inner / outer loop is having an `odo deploy` or `odo publish` command which will effectively go from development -> production in one command.

For example, a "deploy" command would encompass :

1. Taking the current application and publish it to production OpenShift cluster (whether this is knative / Istio / etc, I'm not too sure yet)
2. Provide options for scaleabil

[2019-02-05 17:56] cdrage commented on #1242
:+1: for `odo component create`

I believe `odo storage` would be another great candidate, volumes have always been a pain point for Kubernetes / OpenShift...

[2019-02-05 20:14] metacosm commented on #1184
@cdrage could you provide an example of what that would like?

[2019-02-06 04:32] dgolovin opened #1286 "`E0205 14:23:32.599302 16744 v2.go:163] io: read/write on closed pipe` error when call `odo push` for local component"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10 Pro
- Output of `odo version`: 0.0.18

## How did you run odo exactly?

[code]

## Actual behavior
[code]

## Expected behavior

[code]

## Any logs, error output, etc?
N/A

Duplicate of #647 odo push failed.

[2019-02-06 07:08] #1269 closed

[2019-02-06 09:01] cmoulliard commented on #1229
outer-loop will not use a supervisord but instead will use current s2i + docker build OR tomorrow knative build/pipeline. That means that we have to create for the outer-loop process a new Imagestream and BuildConfig. Example [1]

[1] https://github.com/snowdrop/component-operator/blob/master/pkg/pipeline/outerloop/install.go#L61-L78

[2019-02-06 09:02] cmoulliard commented on #1229
What do you suggest as option ? @cdrage

[2019-02-06 09:03] cmoulliard commented on #1229
What is the purpose of this revision list ? Which problem can I resolve using it ? @cdrage

[2019-02-06 09:13] surajnarwade opened #1288 "Modify URL to use new structs"
- [x] Add missing fields
- [x] Update all functions that refer to URL struct to new structs (machine readable)

[2019-02-06 09:15] surajnarwade opened #1289 "Modify Storage to use new structs"
- [ ] Add missing fields
- [ ] Update all functions that refer to Storage struct to new structs (machine readable)

[2019-02-06 09:15] surajnarwade opened #1291 "Modify Component to use new structs"
- [ ] Add missing fields
- [ ] Update all functions that refer to Component struct to new structs (machine readable)

[2019-02-06 09:19] surajnarwade opened #1292 "Modify Application to use new structs"
- [ ] Add missing fields
- [ ] Update all functions that refer to Application struct to new structs (machine readable)

[2019-02-06 09:22] surajnarwade commented on #784
Hi @dgolovin ,

* `creationTimeStamp` is not in our control, and I don't think we need to update this field as of now
* good point about the tag of image, :+1:

[2019-02-06 09:31] anmolbabu commented on #1198
Yes but while passing the flags to the update command, if I forget some/any of them, then what does it take for me to apply it again? re-run update with all of those flags(ex: min-memory, max-memory, min-cpu, max-cpu and anything else that we add and that user wants to change) + the missed out ones? what if I again miss one/some of it when I run update the 2nd time?

[2019-02-06 09:47] kadel commented on #1263
yes, idealy using  kubernetes/cli-runtime

Why not? For someone who is writing a tool that uses odo, it will be much easier to expect that `-o` is always there, even `odo push` can also return output in a structured format.

But we can figure out this later, I've added it here to make sure that we don't forget about this.

+1

[2019-02-06 09:49] kadel commented on #1270
this is something that will be important for #1263, without this everything in that issue will be much messier and complicated

[2019-02-06 10:14] #1278 closed

[2019-02-06 12:13] anmolbabu commented on #1066
So, this involves
1. setting `autostart=false` in the section https://github.com/redhat-developer/odo-supervisord-image/blob/master/supervisor.conf#L1-L8
2. setting `autostart=true` via an sed command in supervisor.conf before https://github.com/redhat-developer/odo-supervisord-image/blob/master/assemble-and-restart#L83 which is triggered on first push

[2019-02-06 12:14] #779 closed

[2019-02-06 12:18] anmolbabu commented on #1198
Based on my conversation with @kadel following would be the way to go:

1. Cmd A would be used to update the configurations
2. Cmd B would be used to push/apply the configurations(in accordance with precedence of various config files) onto the component

Now, at the moment it seems like
cmdA = `odo update` with various flags
cmdB = `odo push` with flags like `--only-source`(to indicate push of onl

[2019-02-06 12:21] anmolbabu commented on #804
Based on my conversation with @kadel , this issue is about:
1. Detecting everything that's part of what is being deleted
2. Additional to the delete confirmation message say what all resources are part of the resource being deleted as part of the confirmation
3. Based on user input delete everything that's part(associated with) of resource being deleted or delete nothing

[2019-02-06 12:43] girishramnani commented on #600
for now we would be considering only 1 component per directory @kadel ?

[2019-02-06 12:46] girishramnani commented on #1260
shouldn't we try to cover all functions in UTs e.g. `GetComponentDir`

[2019-02-06 12:51] kadel commented on #600
`.odo` directory = 1 component

[2019-02-06 12:59] kadel commented on #804
One note for implementation:
Kubernetes has [garbage collection](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/). If you make sure that resources have correct `ownerReferences` it will make cascading deletion easier.
For exaple if you set `ownerReferences` on the Route that points to a DeploymentConfig. Than once you delete the DeploymentConfig, Kubernetes will autom

[2019-02-06 13:01] girishramnani opened #1294 "managing the active component & application in the local odo config"
Currently we have a list of `activeComponents` present globally in `$HOME/.odo/odo-config.yaml`, soon we will have support for local odo config which means that the local odo config can track the active `Component` and `Application` in the file replacing the need of a global list of directories -> active components.

In this issue, we need to set all the active component and application in all pos

[2019-02-06 13:15] kadel commented on #1087
This should be handled as part of https://github.com/redhat-developer/odo/issues/1263

[2019-02-06 13:15] #1087 closed

[2019-02-06 13:19] girishramnani opened #1296 "Consuming the active component and application when performing operations"
Follow up to - https://github.com/redhat-developer/odo/issues/1294
Once the `Active Component` and `Active Project` are set in the local odo config, it has to be used in all the commands e.g.
- `odo create`
- `odo url`
- `odo link`
- `odo unlink` and more

Also cleanup the global `activeComponents` from `$HOME/.odo/odo-config.yaml` as part of this issue

[2019-02-06 13:20] #1268 closed

[2019-02-06 13:32] kadel opened #1297 "Slow odo watch and push"
I will be referring a lot to following directories :
 - **destination dir** - the directory where `assemble` scripts looks for source code (usually `/tmp/src` or the same as working dir `/opt/app-root/src')
 -  **deployment dir** - the directory to which `assemble` script moves compiled artifacts, and `run` script runs it from this directory (usually `/deployments`)
  -  **working dir** - this is

[2019-02-06 13:34] #1226 closed

[2019-02-06 13:36] cdrage opened #1298 "Time-based Golang statistics for e2e / integration tests"
[kind/Feature]

## Which functionality do you think we should add?

Time-based statistics for Go tests

See issue: https://github.com/redhat-developer/odo/issues/1226

## Why is this needed?

To see how long / fast each test is being completed.

[2019-02-06 19:08] cdrage commented on #1184
@metacosm

So after a bit of testing, I was thinking of outputting the S2I environment variables that are available... however, that is based on each and every S2I image, for example, the mysql and mariadb examples use DB_HOST and DB_PASSWORD.

Ideally, after you deploy for example:

`odo service create dh-postgresql-apb --plan dev -p postgresql_user=luke -p postgresql_password=secret`

It should

[2019-02-06 19:13] cdrage commented on #1184
After digging through s2i documentation and using my Google-fu, I found that you can get the environment variables (set at runtime) using this: https://docs.openshift.com/enterprise/3.0/dev_guide/environment_variables.html

Do you know by-heart an alternative way to retrieve the environment variables (such as DB_USER and DB_PASSWORD) set by s2i?

[2019-02-07 05:57] mohammedzee1000 commented on #804
I guess this can happen at different levels:
deletes of project -> deletes apps -> which deleted components/services -> deletes attached storage / routes

Are `ownerReferences` currently being set. If not i guess that would be first step to ensure all objects are getting them.

Assuming they are set, we also need to be able to pick up objects from lower level(s) with appropriate references so that

[2019-02-07 07:57] mohammedzee1000 commented on #1225
You are talking about completion handlers as in complete in complete-validate-run pattern right?

[2019-02-07 17:07] metacosm opened #1305 "openjdk-1.8 images s2i binart builds fail starting with version 1.6 of the image"
The openjdk-1.8 image that got released yesterday is causing issues with binary builds, manifesting in java e2e tests.

[2019-02-08 07:41] syamgk opened #1309 "Onboard odo e2e tests to circleCI"
[kind/Feature]

## Which functionality do you think we should add?

Will be able to run e2e tests on circleci

## Why is this needed?
Once we are there we can load balance between travis and circleCI

[2019-02-08 07:52] kadel commented on #1305
Was this fixed by https://github.com/redhat-developer/odo/pull/1302?

[2019-02-08 08:32] amitkrout commented on #1309
@syamgk Can you document the the process of setting of circleCI if not yet documented. Would be great if you write a blog post.

[2019-02-08 10:35] kadel opened #1311 "Documentation for ODO_BOOTSTRAPPER_IMAGE env variable"
https://github.com/redhat-developer/odo/pull/1310

contrib docs will be good place, as this is something that is handy mostly for testing and debugging

[2019-02-10 13:59] anmolbabu commented on #1198
@jorgemoralespou @kadel Did we arrive at a final decision on what cmdA and cmdB would be?

[2019-02-10 16:42] anmolbabu commented on #1297
I am planning to experiment with hard links

[2019-02-10 23:24] jorgemoralespou commented on #1198
I think cmdA should be a set of commands:
odo create
odo config set/unset
odo storage...

cmdB should be only:
odo push

[2019-02-11 07:37] kadel opened #1314 "Finish splitting up e2e test runs between CircleCI and TravisCI"
The way how it is done in #1308 is not ideal.

- We have to mantain two separate ways for spinning up openshift (one for travis, one for circle-ci :-( ) We should either enable orbs or modify our script to work on both.
-  Missing documentation explaining what is running on TravisCi and what on CircleCi.

_Originally posted by @kadel in https://github.com/redhat-developer/odo/pull/1308#issuecommen

[2019-02-11 08:55] kadel commented on #1297
The biggest problem is the moving files around. We can make it faster, but it is going to be just more complex workaround.

Even if we make this work, there will be no guarantees that it will be a generic solution for any s2i image.
S2I is good, but also too flexible for our use case.

We should try to solve this inside the S2I builder images.
We can come up with some rules/restrictions and extens

[2019-02-11 10:31] jorgemoralespou commented on #1297
Hard links does not work when across filesystems/PVs. So, we should try to have everything on the same filesystem, in the PV, using subPath https://docs.openshift.com/container-platform/3.11/dev_guide/volumes.html#volumes-specifying-a-subpath, if that means that some of the original /deployments or /tmp/src would need to be linked to a real directory under the PV /opt/app-root in a subPath manner.

[2019-02-11 15:55] kadel commented on #1294
First step should be modifing `odo create`.
This command should create local config and save all flags (--env, --mem, --cpu, --application, component type (builder image), --port .... ) that has been used to create the component  into local config

Second step, modify all commands `odo push`, `log`, `storage`, `url` to read active component from the file.

If storage, or url is added to the compon

[2019-02-11 16:42] jorgemoralespou commented on #1305
If you talk about the e2e, they do work, but the java builds are broken, depending on how the java imagestream is imported.

Upstream issue: https://issues.jboss.org/browse/CLOUD-3095

[2019-02-11 18:40] bparees commented on #1297
we've had a hard enough time creating an s2i community of images today (most of the ones that exist are created/maintained by us).  I'd really hate to see us further fracture that ecosystem.

Allowing an s2i image to indicate something that lets you optimize the behavior is one thing, but requiring it is, imho, problematic.

This is why I originally said the hot-reload mechanism should allow the u

[2019-02-11 19:29] metacosm commented on #1205
Hmm, I just looked at this issue right now and I'm not sure that the resulting code would be an improvement: looking at the tests, having `runFailCmd` made it explicit that the command is expected to fail with a specified error code (granted, we only ever return `1` as error code right now as I recall but that might change). It's my fault for looking at this so late in the process but could you ex

[2019-02-12 06:26] mohammedzee1000 opened #1318 "Dry run option for odo delete"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Deletion of objects should have a dry run capability, that allows user to find out what all will be deleted, if he runs deletion, without actually running it.
Something like maybe `odo object delete --dry` or ` odo object delete --dry-run`

## Why is this needed?
This should allow user to get information about what w

[2019-02-12 06:36] amitkrout commented on #1205
@metacosm No issue, thanks for the feedback. As of now in case of command failure (ExitCode 1) the output was reported in stdout rather in stderr which is technically wrong. For example

[code]

This fix will enforce of fixing issue like reported in [1]. Moreover the fix is inclined towards how the [error](https://github.com/redhat-developer/odo/pull/1307/files#diff-833606e3adfff6920346104aa5beb0f

[2019-02-12 08:20] #1272 closed

[2019-02-12 08:28] metacosm commented on #1205
Sorry but I still don't get it: I fail to see how `runCmd` that now handles both `out` and `err` more or less the same way helps us enforce anything. If anything, it seems to me it's even harder now to figure out which commands need to be modified because they all use `runCmd` and the result of that call will be pretty much what's expected whether that happens on `out` or `err` without a way for t

[2019-02-12 08:37] girishramnani commented on #1294
Outcome of one of the discussions -
- `odo utils config --global` becomes `odo preference`
- `odo utils config` becomes `odo config`
This means that the global `preference` will not have anything common with local config. They can have a relationship like a `ComponentType` in local can be related to `DefaultComponentType` in global `preference`

[2019-02-12 08:37] girishramnani commented on #1198
Outcome of one of the discussions -
- `odo utils config --global` becomes `odo preference`
- `odo utils config` becomes `odo config`
This means that the global `preference` will not have anything common with local config. They can have a relationship like a `ComponentType` in local can be related to `DefaultComponentType` in global `preference`

[2019-02-12 08:39] girishramnani commented on #1198
so once I have local place holder for memory and other params in place, @anmolbabu can use them and set them as per mentioned in this issue

[2019-02-12 08:55] mohammedzee1000 commented on #804
Application already lists components that will be affected, but URLs are not listed, updating code to list URLs as well

[2019-02-12 09:25] amitkrout commented on #1205
@metacosm I would suggest please have look to the pr #1307. Probably it could answer your concern

Right, I think for better understanding and readability purpose we can add function like
[code]

[2019-02-12 09:41] mohammedzee1000 commented on #804
Component now lists affected children
[code]

[2019-02-12 09:46] metacosm commented on #1205
@amitkrout I've looked at the PR and that's why I'm asking here because the PR doesn't seem to help enforcing things. Can you explain concretely how the PR helps enforcing that `odo login` properly sends the error to `err` or identify other cases where that would be the case?

[2019-02-12 10:09] amitkrout commented on #1205
Hang on
Let me modify the pr

[2019-02-12 10:26] lordofthejars opened #1320 "Add support for caching Maven artifacts"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Currently, for every Java component you want to release in the cluster, needs to be built and this means to download all Maven dependencies. So for every new component all dependencies (which might be huge) all internet must be downloaded. To avoid this it will be great to create a persistence storage where all thes

[2019-02-12 12:04] kadel commented on #658
I'm a little bit lost :-(

Do you mean with RollingUpdate? Yes, the pod can be scheduled to a different node, but with RollingUpdate scheduler waits for the new pod to be "online" before taking down the old one.
From a users perspective, it looks better as there is no downtime (time it takes to pull image the old pod is still running)

I'm not trying to say that this is a huge deal. I'm just point

[2019-02-12 12:19] geoand commented on #1144
In my PR I didn't add `odo service watch`. IMHO adding the `wait` flag to `odo service create` along with the existing `wait` flag in link should be more than enough :)

[2019-02-12 12:31] kadel commented on #1184
I'm confused a little bit :-( Why outputting S2I env variables?
Env variables that describe how to connect to the service are usually in Secret that is created together with Service.
I suspect that what you want is to show what is in that Secret.

It could look like this:
[code]

[2019-02-12 12:37] kadel opened #1322 "Flaky login e2e test"
Sometime green, Sometime red :-(

https://circleci.com/gh/redhat-developer/odo/49

[code]

/cc @amitkrout @syamgk

[2019-02-12 12:46] amitkrout commented on #1205
@metacosm I think the pr now somehow resolves your concern. Please have a look.

[2019-02-12 12:54] amitkrout commented on #1322
Thanks for the issue. I have also observed same o locally and sometimes on CI (Travis/CircleCI). However this is intermittent.

Will have a look cc_ @mohammedzee1000

[2019-02-12 12:58] #1286 closed

[2019-02-12 13:04] kadel commented on #804
It might be good to format it a little bit to make it easier to read.

Maybe something like this:

[code]

[2019-02-12 13:10] #1144 closed

[2019-02-12 15:27] jorgemoralespou commented on #1320
This is a hack done with oc-cluster wrapper on how to improve builds on local laptop. We could do similar things in odo locally:
https://github.com/openshift-evangelists/oc-cluster-wrapper#faster-s2i-builds

[2019-02-12 15:57] lordofthejars opened #1323 "Set "liveness/readiness" probe for a component"
[kind/Feature]

## Which functionality do you think we should add?

It would be great to be able to set "liveness/readiness" probes so we can be sure that the application is up and running when it is deployed.

Maybe it can be created in two commands, but it is just an idea:

[code]

So if flag `--readiness` is set but no URL then goes to a default endpoint.

`odo` ready waits until the current co

[2019-02-12 21:29] jorgemoralespou commented on #1323
How I imagine this feature in `odo inner loop`:

- Have a liveness probe configured to the supervisor that always return true. Even if the supervisor is restarting, it should return true, so this needs to be a "container execution check" liveness probe independent of the supervisor (https://docs.openshift.com/container-platform/3.11/dev_guide/application_health.html).
- Have a readiness probe conf

[2019-02-12 21:42] jorgemoralespou commented on #658
Yes, you're right. I was thinking about something else, and got mixed in my head.

[2019-02-12 21:49] jorgemoralespou commented on #1297
@bparees having the user indicating the paths on the images goes against zero-configuration (or close to zero) requirement in an opinionated tool, hence the idea of curating the images or asking for extensions to s2i.

Seems that as s2i will not evolve, neither some of the other mechanisms available today are good enough, the only possible option is to modify/update some s2i images to support this

[2019-02-12 21:55] bparees commented on #1297
you can have defaults/pick up defaults from image labels.

[2019-02-13 10:31] jorgemoralespou commented on #1297
@bparees This is what @kadel referred in his comment that we should do, work with image maintainers to add these as labels into the images, and at least, create a curated set of images we know will work in odo.

If I understand correctly your comment now, what you're against is for `odo` to not properly work if the image has not the labels, and we should allow the user to provide these in such sce

[2019-02-13 15:08] bparees commented on #1297
right.

[2019-02-13 15:32] mohammedzee1000 commented on #804
Improved messaging:

[code]

[2019-02-13 18:05] jeffmaury opened #1326 "odo list -o json does not output json"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10 Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?
`odo list -o json`

## Actual behavior

[code]

## Expected behavior
[code]

## Any logs, error output, etc?

[2019-02-13 18:08] jeffmaury opened #1327 "odo app list list -o json does not output json"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10 Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?
`odo app list -o json`

## Actual behavior

[code]

## Expected behavior

[code]

## Any logs, error output, etc?

[2019-02-14 05:05] dgolovin opened #1328 "Applications created with odo v0.0.18 are not visible after update to v0.0.19"
[kind/bug]
## What versions of software are you using?
- Operating System: Windows 10 Pro
- Output of `odo version`:
[code]

## How did you run odo exactly?
I am running newly downloaded release and want to see applications in my only project.

## Actual behavior
Previously I used odo v0.0.18 and crated tree apps `app1', 'app2' and `app3`.
Now when I run v0.0.19 it lists no applications at all.

T

[2019-02-14 06:41] amitkrout commented on #1327
@surajnarwade Would you please address this

[2019-02-14 06:42] amitkrout commented on #1326
cc_ @surajnarwade

[2019-02-14 09:03] jeffmaury opened #1329 "odo app create fails after odo project create"
[kind/bug]

I discovered this when writing integration tests for the IntelliJ OpenShift Connector (which is odo based) and one of my test is first creating a project then creating an application in that project

## What versions of software are you using?
- Operating System: Win10 Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?
`odo project create jeff1 && odo app create --

[2019-02-14 09:26] amitkrout commented on #1329
I am able to reproduce this, However it works if you do small pause of 1sec between the commands.

[code]

@jeffmaury Was it working in previous releases ?

[2019-02-14 09:28] amitkrout commented on #1322
As this is intermittent, i am reducing the priority.

[2019-02-14 09:53] jeffmaury commented on #1329
Same with 0.0.18 but works with 0.0.17

[2019-02-14 10:09] amitkrout commented on #1328
@dgolovin Was it working with previous version of odo releases ?

[2019-02-14 10:25] amitkrout opened #1331 "Active context does not switch after deleting the active application"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora
- Output of `odo version`: master

## How did you run odo exactly?
1. Clone https://github.com/redhat-developer/odo
2. make bin
3. ./odo login -u developer -p password
4. ./odo project create testproject
6. ./odo app create test1
7. ./odo app create test2
8. ./odo app list
[code]
9. ./odo app delete test2
10. ./odo

[2019-02-14 10:26] amitkrout commented on #1331
@mik-dass As discussed please have a look

[2019-02-14 11:13] #1205 closed

[2019-02-14 12:35] corinnekrych opened #1333 "git import should support private repositories like oc --source-secret"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
odo shouldsupport component import from github private repo.
[code]
Looking at the UI cosnole:
Cloning "https://github.com/corinnekrych/nodejs-ex-private " ...
error: failed to fetch requested repository "https://github.com/corinnekrych/nodejs-ex-private " with provided credentials

## Why is this needed?
Available i

[2019-02-14 12:48] jorgemoralespou commented on #1333
In oc, this is a 2 step process:
- Create the secret with your Git credentials (basic auth, ssh-key,...)
- Link the secret to the service account used (builder in this scenario).

`oc new-app` supports only the later, while the former needs to be done with `oc create secret`.

We need a way to do the former (as the later is easy), something like `odo credentials create` or similar...

[2019-02-14 21:30] dgolovin commented on #1328
It was always working, because location for odo configuration was always the same `~/.kube/odo`. Now it is moved to new location `~/.odo/odo-config`. When devs upgrades from any odo to 0.0.18 everything works as expected. But when upgrades to 0.0.19 applications and all that is under is not visible anymore.

[2019-02-14 21:39] dgolovin opened #1336 "In windows git bash `odo login -u developer` does not hide typed password when requested"
[kind/bug]
## What versions of software are you using?
- Operating System:  Windows 10 Pro
- Output of `odo version`:
[code]

## How did you run odo exactly?

Using it from git bash on Windows

## Actual behavior

[code]

## Expected behavior
Password is hidden.

## Any logs, error output, etc?

[2019-02-14 21:43] dgolovin commented on #1336
Works fine with cmd and powershell.

[2019-02-14 22:25] dgolovin commented on #1328
Was probably introduced with this change https://github.com/redhat-developer/odo/commit/2bc274e3bc503ce1aaebb845b276b6a0da600c27. I see configuration location changed, but could not find migration code that would be responsible for migration of old config, if found, to new one.

[2019-02-15 06:12] mohammedzee1000 commented on #1167
@kadel @amitkrout  Yes, this will require a little bit more preparation. Our current tests are very tied to minishift, with bringing up the cluster being part of the test.

We need to note here that OpenShift is the dependency, not Minishift, which just brings up the cluster.

As stated above by @stevekuznetsov, we will get a ready made full fledged cluster on OpenShift, which means certain assump

[2019-02-15 08:39] mohammedzee1000 commented on #1225
Some of these have UI input which might make them harder to test, as UI does not seem to be mocked, writing tests for those that don't, should have something working soon

[2019-02-15 10:16] mohammedzee1000 commented on #1328
This is a breaking change for upgrade path

[2019-02-15 10:32] mohammedzee1000 commented on #1328
Issue Verified on my system

[code]

[2019-02-15 11:53] surajnarwade commented on #1336
@dgolovin , can you please check same with `oc` ?

[2019-02-15 12:02] geoand opened #1337 "wait flag does not work when linking components"
When doing `odo link backend --wait` and `backend` is a component (instead of a service), then `wait` does not have any effect

[2019-02-15 12:05] mohammedzee1000 commented on #1328
This is a relatively new tool, so do we want to write code to maintain backward compatibly for something as simple as a location change of config file across the versions? Note copying over the file just works in above case

[code]

@girishramnani @dgolovin @amitkrout

[2019-02-15 13:30] geoand commented on #1337
From @jorgemoralespou:

[code]

[2019-02-15 14:52] geoand commented on #1337
Actually I think that waiting for source should always be applied without having to specify it

[2019-02-15 16:11] jeffmaury opened #1340 "odo project list does not return just created project"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10 Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?
`odo project create test1 && odo project list`

## Actual behavior

[code]

## Expected behavior

[code]

## Any logs, error output, etc?
Reproduced with 0.0.18, not with 0.0.17

[2019-02-18 09:31] kadel commented on #1328
I know that this is not good. But currently, we don't guarantee any backward compatibility. We are in pre v1.0 stage (not even a beta).

Right now we have to do some breaking changes :-(
We will make sure that components created by one version are working with the next one only once we have v1.0 out.

[2019-02-18 10:15] girishramnani commented on #1092
removing from 161 sprint

[2019-02-18 10:50] kadel commented on #1328
We haven't done a good job with communicating that this is a breaking change:-( We need to be better in this next time, and have a clear indication in the release notes that there is a breaking change.

[2019-02-18 11:28] kadel commented on #1328
I've updated release notes with the explanation https://github.com/redhat-developer/odo/releases/tag/v0.0.19

[2019-02-18 12:18] #1288 closed

[2019-02-19 06:09] surajnarwade commented on #1340
works for me though

[code]

[code]

[code]

I think `odo project create test1` takes some seconds to settle but you were running `odo project create test1 && odo project list` where `odo project list` don't give time to `odo project create` to settle.

[2019-02-19 06:11] surajnarwade commented on #1340
this seems to be worked also:

[code]

[2019-02-19 06:12] surajnarwade commented on #1326
@jeffmaury , Thanks for reporting , @amitkrout , I'll look into it

[2019-02-19 06:13] surajnarwade commented on #1327
@amitkrout sure

[2019-02-19 09:31] amitkrout opened #1343 "missing new line in "odo (phrase) get --short" terminal output"
[kind/bug]

## What versions of software are you using?
- Operating System: All supported
- Output of `odo version`: Seeing it on master build
[code]

## How did you run odo exactly?
$ odo project create odo-test1234
$ odo project get --short

## Actual behavior
[code]
## Expected behavior
[code]
## Any logs, error output, etc?

[2019-02-19 11:42] kadel commented on #1323
If liveness will be configured to something that always returns true, why do we need to configure it at all?

[2019-02-19 11:45] kadel commented on #658
I'm closing this issue. Odo now created DeploymentConfigs with Recreate strategy (added in #1223).

There is one more issue related to odo and OpenShift online, but that one is related to storage. and not that easy to fix -  https://github.com/redhat-developer/odo/issues/755

[2019-02-19 11:45] #658 closed

[2019-02-19 15:02] jorgemoralespou commented on #1323
That's a god question, but basically so that if the pod lifeness is checked. Livenessprobe check could make sure everything is in place (e.g. supervisor up and running, PVC mounted, ...)

[2019-02-19 15:17] #1289 closed

[2019-02-19 17:23] geoand opened #1346 "Provide completion for odo catalog describe service"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

See $SUBJECT

## Why is this needed?

Most other commands provide completion,  but this one doesn't see to

[2019-02-20 06:13] dgolovin commented on #1336
@surajnarwade The same behavior for `oc` v.3.11.0.

[2019-02-20 08:45] kadel commented on #1329
Verified. This worked in 0.0.17 we need to look at what happened there.

[2019-02-20 09:10] #1309 closed

[2019-02-20 11:10] kadel commented on #1294
@girishramnani  any progress on this

[2019-02-20 11:14] mohammedzee1000 commented on #1167
@kadel @amitkrout updated tentative task list, PTAL

[2019-02-20 11:59] mcouliba commented on #1231
@anmolbabu I still got the same issue using odo release 0.0.19.
`odo watch` or `odo push` give me the same error

[2019-02-20 12:35] kadel commented on #1092
This was replaced by https://github.com/redhat-developer/odo/issues/1294
Does it make sense to close this?

[2019-02-20 12:41] girishramnani commented on #1092
Yeah, a lot has changed after this issue got created. For clearity lets
close this.

On Wed, 20 Feb 2019, 18:05 Tomas Kral <notifications@github.com wrote:

[2019-02-20 13:08] kadel commented on #1340
I was able to reproduce this.

This will have the same root cause as https://github.com/redhat-developer/odo/issues/1329.

[2019-02-20 13:08] #1340 closed

[2019-02-20 13:30] mohammedzee1000 commented on #1167
@stevekuznetsov hope i did not miss anything?

[2019-02-20 14:41] kadel commented on #1326
If there are no components `odo list -o json` should return an empty list.

[code]

[2019-02-20 14:42] kadel commented on #1327
If there are no applications `odo app list -o json` should return an empty list.

[code]

[2019-02-20 14:47] #1337 closed

[2019-02-20 19:06] girishramnani commented on #1092
Closing this

[2019-02-20 19:06] #1092 closed

[2019-02-20 19:09] girishramnani commented on #1346
We can add this for consideration in sprint 163 @geoand

[2019-02-20 19:35] girishramnani commented on #1271
@surajnarwade can you check on this tasks that have been resolved so far for tracking

[2019-02-21 05:26] amitkrout opened #1352 "make get command available for odo config"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
```odo config get <PARAMETER>``` should return the ```CURRENT_VALUE``` assigned to it

## Why is this needed?
Better user experience and ofcourse it makes the validation easy for a particular ```PARAMETER``` in the test file.

[2019-02-21 05:28] amitkrout commented on #1352
ping @girishramnani , Please share your thoughts.

cc_ @kadel

[2019-02-21 05:55] girishramnani commented on #1352
@amitkrout as part of the config changes, the `odo utils config` will be moved to `odo config` so maybe there we can consider the `get`

[2019-02-21 08:23] kadel commented on #675
Some commands related to this are specified in
 https://docs.google.com/document/d/1RKva9lvIR6dLmDm2tlqmp8V4nFjlrXdulOQ4FSmLkr8/edit?ts=5c5ac66b

[2019-02-21 08:25] kadel commented on #1336
If this same as in `oc login`, I'm afraid that we can't do much about it right now :-(

We are importing code from `oc login` for `odo login`.

[2019-02-21 12:57] mik-dass opened #1354 "odo push doesn't propagate file deletions"
How to test :

1. Create a component with a local source
2. Push the changes
3. Delete a file from the source
4. Push again

## Actual behaviour
The deleted file remains in the pod after the push

## Expected behaviour
The deleted file should be removed from the pod.

## Notes from @kadel
For delete propagation and partial update to work in  `odo watch`  we use a small hack.
Inside the builder ima

[2019-02-21 14:39] kadel opened #1355 "Unable to login to OpenShift 4.0"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: odo v0.0.19 (e66549fb)

## How did you run odo exactly?
[code]

## Actual behavior

[code]

## Expected behavior
ask to accept the insecure connection (message is hidden, but I can still answer "yes")
and then ask for the username and password

[2019-02-21 15:03] amitkrout commented on #1355
@kadel Congrats, you found the first bug on OpenShift 4.0 ;)

I guess in the next week i will get the access to the cluster then only i can run some more odo test. Till then if possible you can spend some of your available capacity for odo testing on 4.0  :)

[2019-02-21 15:22] jorgemoralespou opened #1356 "odo create in interactive mode doesn't support relative paths"
[kind/bug]

In odo latest, when you run in interactive mode and set the binary location as a relative path, the path set in the annotation is wrong, as it's written as absolute.

Using target/parkasmap-web.jar in interactive I get this annotation in the container:

[code]

Using the same path in non-interactive, I get the following annotation:

[code]

cc/ @geoand

[2019-02-21 15:28] jorgemoralespou commented on #1355
@kadel Openshift 4 don't have yet authentication enabled (I mean some of the endpoint in the API, AFAIK).
You need to use the unique user `kubeadmin` provided and use the `token` provided.

I don't think this error is valid, as of now.

[2019-02-21 16:42] kadel commented on #1355
It was just a quick test. I was looking for the token in webconsole (in the same place as it was before) and didn't find it :-(
I didn't put that much effort into it to be honest :-)

[2019-02-22 08:11] lordofthejars opened #1357 "Machine output in case of catalog list operation"
[kind/Feature]

## Which functionality do you think we should add?

`odo catalog list` command should be able to produce the output in machine format too.

## Why is this needed?

Some integrators might need this information to create some guards in case of the catalog does not contain a specific element. For example, we could create a guard that makes a test to not be executed if openjdk s2i is n

[2019-02-23 15:32] jeffmaury opened #1359 "odo service create with invalid plan does not fail"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

`odo service create postgresql-persistent --plan s1`

## Actual behavior

[code]

## Expected behavior
Invalid plan should be reported

## Any logs, error output, etc?

[2019-02-25 07:33] dgolovin commented on #784
@kadel @sudhirverma noticed `odo project list -o json` is not supported yet in odo 0.0.19.

[2019-02-25 07:45] dgolovin opened #1361 "`odo project list' does not support machine readable output option `-o json`"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10 Pro
- Output of `odo version`: 0.0.19

## How did you run odo exactly?

`odo project list -o json`

## Actual behavior

`-o' option is not supported

## Expected behavior

json with array of projects

## Any logs, error output, etc?
N/A

[2019-02-25 07:45] #1036 closed

[2019-02-25 07:56] #1356 closed

[2019-02-25 08:44] #1160 closed

[2019-02-25 12:17] mik-dass opened #1363 "Active app doesn't switch when switching project"
## Which functionality do you think we should update/improve?

`odo project delete`

## Why is this needed?

When the project is delete and odo sets an existing project as active, one of the apps from the project should be set as active automatically

[2019-02-25 12:44] #1142 closed

[2019-02-25 12:51] amitkrout commented on #1363
@mik-dass Even in normal scenario you can able to reproduce it

odo project create test0
odo app create 1
odo app create 2
[code]
odo project create test1
odo app create 3
odo app create 4
[code]
odo project test0
[code]
odo project test1
[code]

[2019-02-25 12:55] mohammedzee1000 commented on #1167
Email conversation started for acquiring token

[2019-02-25 13:15] kadel commented on #1063
closed in #1321

[2019-02-25 13:15] #1063 closed

[2019-02-25 13:46] #1331 closed

[2019-02-25 14:06] metacosm commented on #1359
@jeffmaury try the binary from #1364 and let us know if it fixes the issue.

[2019-02-25 14:26] metacosm commented on #1329
Unable to reproduce here… (slow network, probably making things work).

[2019-02-25 14:27] metacosm commented on #1329
The consistent way would be to use a `--wait` flag for `project create`…

[2019-02-25 14:48] kadel opened #1365 "new odo workflow: create `odo config` and `odo preference` commands"
- Command handling global config `odo utils config --global` needs be replaced by `odo preference` command.
  -  This command will handle preferences saved in the global config (`$HOME/.odo/odo-config.yaml`)
- Command handling local config `odo utils config --local` needs to be replaced by `odo config`.
 -  This command will handle component configurations.  `./.odo/odo-config.yaml` this will be s

[2019-02-25 16:24] kadel opened #1366 "new odo workflow: `odo create` and `odo push` to use local config"
- `odo create`
  - `odo create` generates component configuration by default saved in the current directory in  `./.odo/config`
  -  All flags passed to the command that are related to the component are persistent in the config file. (env variables, mem, cpu, builder image, componen name, project, application ...)
  - Create command just creates the configs, but nothing is created on the cluster

[2019-02-25 16:28] kadel commented on #1198
replaced by https://github.com/redhat-developer/odo/issues/1365 and https://github.com/redhat-developer/odo/issues/1366

[2019-02-25 16:28] #1198 closed

[2019-02-25 16:28] kadel commented on #1294
replaced by https://github.com/redhat-developer/odo/issues/1365 and https://github.com/redhat-developer/odo/issues/1366

[2019-02-25 16:28] #1294 closed

[2019-02-25 16:30] kadel commented on #1296
replaced by #1365 and #1366

[2019-02-25 16:30] #1296 closed

[2019-02-25 18:43] jeffmaury opened #1368 "odo service create followed by odo service delete fails"
[kind/bug]

## What versions of software are you using?
- Operating System: Win10 Pro
- Output of `odo version`:

[code]

## How did you run odo exactly?

`odo service create postgresql-persistent --plan default s1 && odo service delete s1 -f`

## Actual behavior

[code]

## Expected behavior
Either success or refusal but for another reason that Service Catalog is not enabled in your cluster

## A

[2019-02-25 19:30] stevekuznetsov commented on #1167
Yep! that seems correct

[2019-02-26 08:34] metacosm commented on #1329
@jeffmaury Take a look at #1367 and let us know how it goes, please.

[2019-02-26 10:06] metacosm commented on #1368
@jeffmaury you need to wait for the service to be created first using the `-w` flag. That said, I agree that the error message you get is incorrect and/or confusing.

[2019-02-26 10:07] metacosm commented on #1368
That said, I haven't been able to reproduce the issue locally.

[2019-02-26 10:20] jeffmaury commented on #1368
Can't find the `-w` flag

[2019-02-26 11:50] kadel commented on #1368
This flag has been added recently, and it is not in the latest  v0.0.19, but it will be there in  v0.0.20 that will be released this week

[2019-02-26 12:06] kadel opened #1371 "new odo workflow: odo config --context"
Add `--context` flag to `odo config` command.

Context specifies where the context / directory `.odo` config directory is.
The default value for `--context` is the current directory.
If the context directory doesn't exist or `.odo` the directory is not present in context directory error out.

example:
[code]
update config in `./.odo/`

[code]
update config in `/my/project/.odo/`

When there is no

[2019-02-26 12:08] kadel commented on #1371
related to https://github.com/redhat-developer/odo/issues/1365

[2019-02-26 12:15] kadel opened #1372 "new odo workflow: odo component create --context"
Add `--context` flag to `odo create` command.

Context specifies the context / directory where `.odo` config directory is.

The default value for `--context` is the current directory.

`odo component create` creates local config for component in  `./.odo/` directory.
`--context` flag specifies where the `.odo` should be created
context directory needs to exit, otherwise error out

this flag will r

[2019-02-26 12:16] metacosm commented on #1368
which version of `odo` are you using?

[2019-02-26 12:27] kadel opened #1373 "new odo workflow: odo push --context"
similar to #1371 and #1372, `odo push` should also have `--context` flag.

[code]
will push source code located in `/my/proj` for the component defined in config located in  ` /my/proj/.odo/`

[2019-02-26 16:12] kadel opened #1375 "slow odo describe"
`odo describe`  takes a lot of time
[code]

20 seconds for simple description of a component is too much

[2019-02-26 20:01] metacosm commented on #1375
It's not 20 seconds, it's 0.2 seconds… It might still be too slow for you but I find it acceptable…

[2019-02-27 08:05] kadel commented on #1375
Ah, you are right :flushed: , my bad. But it felt like 20 :grimacing:

[2019-02-27 09:14] metacosm commented on #1375
I've noticed slowness yesterday on a very bad network where commands would hang despite the result being already returned and displayed… Didn't look into it, though… 😞

[2019-02-27 09:22] mik-dass commented on #1363
@kadel @amitkrout After switching to the other app, should the component be switched too?

[2019-02-27 09:30] kadel opened #1376 "OpenShift CI: build odo and run unit tests on OpenShift"
This is the first step towards moving to OpenShift CI.

Create Prow jobs that will build odo binary and run unit tests.

[2019-02-27 09:31] #1376 closed

[2019-02-27 09:51] kadel opened #1377 "machine readable output: odo component create"
`odo create -o json` should return JSON formatted output describing the newly created component.

[2019-02-27 09:56] kadel opened #1378 "machine readable output: odo url create"
`odo url create -o json` should return JSON formatted output describing the newly created url.

[2019-02-27 09:57] kadel opened #1379 "machine readable output: odo storage create"
`odo storage create -o json` should return JSON formatted output describing the newly created storage.

[2019-02-27 09:57] kadel opened #1380 "machine readable output: odo app create"
`odo app create -o json` should return JSON formatted output describing the newly created app.

[2019-02-27 09:57] kadel opened #1381 "machine readable output: odo project create"
`odo project create -o json` should return JSON formatted output describing the newly created project.

[2019-02-27 10:01] kadel opened #1382 "machine readable output: odo project list"
`odo project list -o json` should return JSON formatted output of all projects

[2019-02-27 10:04] kadel opened #1383 "machine readable output: -o for delete commands"
every delete command:

- [x]  - `odo component delete`
- [x]  - `odo project delete`
- [x] - `odo application delete`
- [ ]  - `odo storage delete`
- [ ]  - `odo url delete`

can be run with `-o json` argument. in that case, it doesn't ask for confirmation.
If deletion was successful it doesn't have to return any output, just exit with correct exit code - 0

[2019-02-27 10:06] kadel opened #1384 "Modify Project to use new structs"
- [ ] Add missing fields
- [ ] Update all functions that refer to PRoject struct to new structs (machine readable)

[2019-02-27 10:09] girishramnani commented on #1352
@tkral should decide if this is needed

[2019-02-27 12:25] #1291 closed

[2019-02-27 12:52] #1359 closed

[2019-02-27 13:23] #1329 closed

[2019-02-27 13:48] kadel opened #1388 "new odo workflow: odo storage"
odo storage should only modify the config file. Storage will be created by `odo push`

- changes to odo storage command
- add storage suppport to `odo push`

`odo storage create`
  - it just updates the `.odo/config.yml` file ( no action on the cluster)
  - `odo push` has to be run to actually create the storage on the cluster

`odo storage delete`
  - it just updates the `.odo/config.yml` file (

[2019-02-27 13:49] kadel opened #1389 "new odo workflow: odo url"
odo url should only modify the config file. Storage will be created by `odo push`

- changes to odo url command

[code]

update:
It should be possible to specify `--context` flag with `odo url create`.
The same flag should be available for `url list` and `url delete`

`odo url create`
 - updates the config file (no changes to the cluster)
 - after url is added to the config, hint user that he/she

[2019-02-27 14:11] kadel opened #1390 "new odo workflow: handle env in odo config"
odo config command needs to handle the environment configs

[code]

this will set envrionment `foo` to value `bar`

all odo config commands (`set`, `unset`, `view`) needs work with `--env` flag

[2019-02-27 14:23] kadel commented on #675
https://github.com/redhat-developer/odo/issues/1390

[2019-02-27 14:30] metacosm commented on #1368
@jeffmaury can you give #1374 a try, please?

[2019-02-27 20:46] cdrage opened #1391 "`odo create` help is becoming way too big / too many examples."
When you do `odo create --help` there are *way* to many examples:

[code]

We should be limiting this to only a few essential examples. For example, options such as CPU limit / mem limit will not be used as much as say `env` variables and thus we shouldn't have to have three examples of CPU limit on each `odo create --help` page:

[code]

[2019-02-28 06:43] mik-dass commented on #1380
@kadel What kind of output are we looking for in case of create commands?

[2019-02-28 06:45] amitkrout opened #1393 "Missing commit hash in odo version on MacOS"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`:
[code]

## How did you run odo exactly?
[code]

## Actual behavior
[code]

## Expected behavior
[code]

## Any logs, error output, etc?

[2019-02-28 06:51] surajnarwade commented on #1393
Working on :penguin: linux though
[code]

[2019-02-28 07:32] kadel commented on #1393
The version is correct, just a commit hash from which it was built is missing.

This is a result of the way how odo is built on MacOS. It is using source tarball instead of cloning git repository. Because of that build script doesn't know what commit it is building.

[2019-02-28 08:04] kadel commented on #1352
there is `odo config view` that lists all the configuration values. I think that this is enough for now.
Let's wait if there is a real need `get` before adding it.

[2019-02-28 08:38] kadel commented on #1391
+1

[2019-02-28 08:50] kadel commented on #1380
the same as you would run `odo describe -o json` against the newly created app.

[2019-02-28 08:52] mik-dass commented on #1380
What if a error occurs?

[2019-02-28 08:56] kadel commented on #1380
@surajnarwade said that he will look how other tools (kubectl, ...) are handling errors in this case and we will do the same.
For now, until we figure this out, I would just do what we are doing in case of regular "human" output, no need to block on this.

[2019-02-28 09:01] amitkrout commented on #1363
@mik-dass Hard to get you, Would you please come with an example

[2019-02-28 09:16] mik-dass commented on #1292
blocked on #1362

[2019-02-28 10:13] mik-dass commented on #1380
I will move forward with the implementation

[2019-02-28 10:24] amitkrout commented on #1129
Test file to cover

- [ ]  tests/e2e/component.go

- [ ] tests/e2e/e2e_test.go

- [ ] tests/e2e/java_test.go

- [ ]  tests/e2e/service_test.go

- [ ]  tests/e2e/source_test.go

- [ ]  tests/e2e/watch_test.go

[2019-02-28 10:43] amitkrout opened #1396 "Enable Odo test execution on remote cluster"
[kind/Feature]

## Which functionality do you think we should add?
Odo testsuite execution on a remote OpenShift cluster

## Why is this needed?

Sometime test execution on local cluster is painful due to local setup issue. We should keep an option open to run our test on cluster hosted somewhere else.

[2019-02-28 12:01] kadel commented on #1363
I would postpone any changes to component switching.
Component switching will be completely different with new odo workflow. We will not store active component anymore, it won't be needed

[2019-02-28 14:23] mohammedzee1000 commented on #1167
Configuration creation wip in https://github.com/mohammedzee1000/openshift-release/tree/redhatdeveloper-odo-prow-init

[2019-02-28 16:29] mohammedzee1000 commented on #1167
Webhook and robot access is complete

[2019-02-28 17:16] cdrage opened #1397 "Odo vs odo should be clearly defined in documentation and dev experience focused."
[kind/Documentation]

## What did you find missing in the documentation?

* Odo should be clearly defined as capitalized or non-capitalized
* Emphasis on saying "developer focused CLI for OpenShift" rather than focusing on "Openshift Do".

## What is the relevence of it?

Clarifying Odo terms.

[2019-02-28 17:32] cdrage opened #1398 "odo push help examples iare not indented"
[kind/Documentation]

## What did you find missing in the documentation?

Indented lines

## What is the relevance of it?

[code]

Examples are not indented correctly

[2019-03-01 07:05] mohammedzee1000 opened #1400 "Add prow style OWNERS to odo repository"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Add appropriate OWNERS files to odo repository (ref : OWNERS docs: https://git.k8s.io/community/contributors/guide/owners.md).

Files can be declared at any level. Eg, we can have global owners file that will apply to entire repo, and child owners which will apply to particular directory

## Why is this needed?
Prow

[2019-03-01 07:37] amitkrout commented on #1400
Cool!!!

If you think you are overloaded with such CI related task feel free to assign some of them to my name aswell

[2019-03-01 10:46] #1398 closed

[2019-03-03 16:08] mohammedzee1000 opened #1411 "Mock resolution of absolute pathof user home for OpenShift CI"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
We should be able to mock users home directory resolution for user homedir for cases where it is not possible to resolve user correctly

## Why is this needed?
This is needed to enable testing on OpenShift CI where tests are run as anyuid, and therefore users home directory is not guaranteed to resolve.

[2019-03-03 16:09] mohammedzee1000 commented on #1411
Needed for https://github.com/redhat-developer/odo/issues/1167

[2019-03-04 06:30] #1400 closed

[2019-03-04 06:56] #1327 closed

[2019-03-04 09:03] kadel commented on #1411
It just might not exist. But `~` that should have nothing to do with `aynuid`

[2019-03-04 09:27] girishramnani opened #1414 "Add more tests related to odo config and preference"
Add more e2e tests for `odo config` and `odo preference` for the following scenarios -

Scenario 1 -

Local config view
Local config set
Validate config and the value should be reflected in the pod
Local config unset
Validate config and the value should be reflected in the pod
Scenario 2 -

Global config view
Global config set
Validate config and the value should be reflected in the pod
Global con

[2019-03-04 09:27] girishramnani commented on #1414
@amitkrout PTAL

[2019-03-04 09:37] amitkrout commented on #1414
@girishramnani Thanks for creating the issue. Will take it forward

[2019-03-04 10:19] amitkrout opened #1415 "Write unit test for file pkg/util/config_util.go"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
UT of file pkg/util/config_util.go

## Why is this needed?

Follow up issue of #1362

[2019-03-04 10:19] mohammedzee1000 commented on #1411
Updated title and information accordingly

[2019-03-04 10:22] mohammedzee1000 commented on #1411
Quickfix up, need to figure out a better solution

[2019-03-04 11:21] #1326 closed

[2019-03-04 13:18] #1060 closed

[2019-03-04 14:50] apupier opened #1416 "Bad character displayed when using odo on command-line on Windows 10"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10
- Output of `odo version`: odo v0.0.19 (61f278a1)

## How did you run odo exactly?

it was installed by VS Code OpenShift Connector.

## Actual behavior

strange characters are added

## Expected behavior

no strange character

## Any logs, error output, etc?

![image](https://user-images.githubusercontent.com/1

[2019-03-05 01:03] mohammedzee1000 commented on #1318
/shrug

[2019-03-05 05:18] mohammedzee1000 commented on #1411
Since we have quickfix in, it is not as urgent, but we still need to figure out a less hacky solution

[2019-03-05 11:14] #1365 closed

[2019-03-05 11:22] kadel commented on #1416
this is duplicate of https://github.com/redhat-developer/odo/issues/1072

@apupier there is already a PR from  @cdrage that should fix this https://github.com/redhat-developer/odo/pull/1211

[2019-03-05 11:22] #1416 closed

[2019-03-05 11:27] apupier commented on #1416
sorry, caught up not searching before if bug already exists (oops) :s

great, thanks!

[2019-03-05 13:41] kadel opened #1419 "new odo workflow: odo watch"
similar to #1366 , `odo watch` has to work with local configuration

[2019-03-05 19:50] dgolovin opened #1421 "`odo catalog list` should allow to list hidden components and services"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

`odo catalog list` should have an option `--hidden' or '--all' to disable filtering of hidden objects.

## Why is this needed?

It would allow to use old image streams that is hidden right now, but still can be used with 'odo create' if you know name:tag.
See issue [#673](https://github.com/redhat-developer/vscode-o

[2019-03-05 20:18] cdrage commented on #1148
Closing as this was fixed in #1143

[2019-03-05 20:18] #1148 closed

[2019-03-05 20:20] cdrage commented on #915
This is all complete :+1:

[2019-03-05 20:20] #915 closed

[2019-03-06 07:56] apupier commented on #1305
https://issues.jboss.org/browse/CLOUD-3095 is marked as done.

[2019-03-06 08:03] apupier opened #1426 "Push change a single time for X.java and X.class change"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Currently, when using odo watch on a Java project, when modifying one java file in an IDE having auto-compilation like VS Code with Java Extension pack, there are 2 push and 2 rebuild of the component for a single modification.

[code]

## Why is this needed?

it will improve performance and avoid to start testing a

[2019-03-06 08:06] apupier commented on #1426
hum sometimes it is working:
[code]

[2019-03-06 08:08] kadel commented on #1421
I think that the better name for the flag cloud be `--show-hidden`

Commands that need this flag:
 - [ ] `odo catalog list component`
 - [ ] `odo catalog list services`
 - [ ] `odo component create` (for interactive mode)
 - [ ] `odo service create` (for interactive mode)

[2019-03-06 08:12] kadel opened #1427 "documentation for .odoignore file"
we are completly missing documentation for `.odoignore`

[2019-03-06 08:15] kadel commented on #1426
you can ignore files for odo watch
you should be able to do this: `odo watch --ignore "*.class"`

if you have .gitignore file in your root folder odo should by default ignore those even if you don't specify anything using `--ignore` flag.

If this is not working can you please post `odo watch -v 4` output?

[2019-03-06 09:09] apupier opened #1428 "Include Fuse SpringBoot-based image in test suite"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Have Fuse SpringBoot-based image tested

- image to use registry.redhat.io/fuse7/fuse-java-openshift:1.2 (it is the latest installed in minishift https://github.com/minishift/minishift/blob/009893bef6816a1daab59199531feae964c92e38/addons/xpaas/v3.11/xpaas-streams/fis-image-streams.json#L308 )
- example to use: https

[2019-03-06 09:23] apupier opened #1429 "Odo watch is rebuilding the initial version, ignoring pushed modifications"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows
- Output of `odo version`:
odo v0.0.20 (bd3e74a4)
Server: https://172.18.93.45:8443
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?

using VS Code OpenShift connector extension.
- created project https://github.com/jboss-fuse/fuse-rest-http-booster/tree/v7.2.0-redhat-01
- created a component with "java

[2019-03-06 09:39] apupier opened #1430 "First push of long-running build fails to start the Java program in the pod"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10
- Output of `odo version`:
odo v0.0.20 (bd3e74a4)
Server: https://172.18.93.45:8443
Kubernetes: v1.11.0+d4cacc0

## How did you run odo exactly?
using VS Code OpenShift connector

## Actual behavior

using VS Code OpenShift connector extension.
- create project https://github.com/jboss-fuse/fuse-rest-http-booste

[2019-03-06 09:51] kadel opened #1431 "move all linux e2e (except those using service catalog) tests to OpenShift CI"
Now when we have working OpenShift CI setup we should move all our e2e runs from TravisCI and CircleCi to OpenShift CI.

All test should run against OpenShift 4.0

Documentation on how to setup clusters for Prow jobs https://github.com/openshift/release/blob/master/ci-operator/README.md#end-to-end-tests

The end result should be that no tests are running on travis-ci or circleci

- [x] e2e_test

-

[2019-03-06 10:11] amitkrout opened #1432 "Add UT coverage for function CheckOutputFlag and MachineOutput in pkg/util/util.go"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
UT coverage in pkg/util/util.go

## Why is this needed?
Followup issue on #1395

[2019-03-06 10:16] apupier commented on #1426
ok, I remember now that it needs to be handled at VS Code level https://github.com/redhat-developer/vscode-openshift-tools/issues/391

[2019-03-06 10:16] #1426 closed

[2019-03-06 10:46] amitkrout commented on #1427
Good catch

[2019-03-06 11:10] #1378 closed

[2019-03-06 12:59] kadel opened #1433 "move odo to openshift github org"
What needs to be done step-by-step to successfully move odo repo from redhat-developer to openshift github org.

odo consist of two GitHub repositories:
 - https://github.com/redhat-developer/odo
 - https://github.com/redhat-developer/odo-supervisord-image

#### Before we transfer repos (prerequisites):
 - [ ] step by step checklist of all requred tasks

#### Move repositories:
 - [x] transfer `re

[2019-03-06 13:26] #1257 closed

[2019-03-06 13:30] #1391 closed

[2019-03-06 13:49] cdrage commented on #1433
Still need `odo-bot` since it's a separate user. Yes, we can integrate the script into Prow. But could we perhaps keep the documentation building on Travis for now? We can even disable notifications / GitHub status..

Another thing to add:
- [ ] Point website to new lGitHub repo link(s).

[2019-03-06 13:51] kadel commented on #1433
what website? Isn't everything bundled from readme?

[2019-03-06 14:05] cdrage commented on #1433
@kadel This website: http://openshift.org

We have to update the configuration file when we move: https://github.com/redhat-developer/odo/blob/gh-pages/_config.yml#L5

[2019-03-06 14:37] cdrage commented on #1419
Blocked on: https://github.com/redhat-developer/odo/pull/1360 will continue on dev after merge

[2019-03-06 15:04] mohammedzee1000 commented on #1433
@stevekuznetsov from OpenShift CI side, I hope i have not missed anything

[2019-03-06 17:34] stevekuznetsov commented on #1433
Nope, that looks good to me

[2019-03-06 19:26] dgolovin commented on #1421
Would be also useful in:
* `odo catalog search component'
* `odo catalog search service'

[2019-03-07 15:33] #1397 closed

[2019-03-08 10:34] amitkrout opened #1440 "Component create fails on OpenShift 4.0"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`: master
OpenShift Installer used - https://github.com/openshift/installer/releases/download/v0.14.0/openshift-install-linux-amd64
[code]

## How did you run odo exactly?
1. Got an openshift-dev AWS accounts to run OpenShift 4.0 installer
2. odo project create testcomponent
3. odo app create

[2019-03-08 10:36] amitkrout commented on #1440
@kadel Could you please set the priority

[2019-03-08 11:41] kadel commented on #1440
@amitkrout can you please run the command in verbose mode?

[2019-03-08 12:20] mik-dass commented on #1380
Closing because the new odo workflow deprecates the `app create` command

[2019-03-08 12:20] #1380 closed

[2019-03-08 12:21] kadel commented on #1379
wrong button 😇

[2019-03-08 12:39] kadel commented on #1431
bumping priority as this is getting more and more critical.

[2019-03-08 12:45] amitkrout commented on #1440
@kadel
[code]

[2019-03-08 12:54] mohammedzee1000 commented on #1440
This is something that came up while we were investigating requirements for e2e tests on prow, using Opensift 4.0 cluster on AWS

[2019-03-11 05:57] dgolovin opened #1442 "Route URL autogenerated when using "odo url create" can be too long when component name close to 63 characters"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows
- Output of `odo version`: 0.0.20

## How did you run odo exactly?

* create component with name close to 63 characters
* create url for component ^

## Actual behavior

After opening openshift console there are errors in networking section ({see 686](https://github.com/redhat-developer/vscode-openshift-tools/issue

[2019-03-11 06:03] amitkrout commented on #1431
Waiting for https://github.com/redhat-developer/odo/pull/1441 and https://github.com/openshift/release/pull/3031 to merge into master cc_ @mohammedzee1000

[2019-03-11 06:58] mohammedzee1000 commented on #1431
I am working with @amitkrout on setting up the base expectations for running e2e on OpenShift CI already in above PRS. Once that is done, it will simply be a matter of copy-paste-edit and more PRs to openshift/relasse repo

[2019-03-11 08:01] amitkrout commented on #1440
Works fine with oc 4.0 (oc v4.0.0-0.139.0)

[2019-03-11 09:07] mohammedzee1000 commented on #1440
Hmm ok that might solve that problem then :)

[2019-03-11 09:19] kadel commented on #1442
Thank you @dgolovin for reporting, but this is duplicate of https://github.com/redhat-developer/odo/issues/1213

Feel free to re-open if not.

[2019-03-11 09:19] #1442 closed

[2019-03-11 09:20] kadel commented on #1440
I'm confused here.

`oc` versions shouldn't have any effect on odo behaviour

[2019-03-11 09:35] kadel commented on #1440
I've tried to reproduce this, but no luck.

[code]

[code]

[2019-03-11 10:30] syamgk commented on #1231
I am able to reproduce this
steps to reproduce:
[code]

its happening from the [assemble-and-restart](https://github.com/redhat-developer/odo-supervisord-image/blob/master/assemble-and-restart#L6)  script in supervisord image

[2019-03-11 11:52] #1379 closed

[2019-03-11 11:54] kadel opened #1443 "types for components and storage"
Information, where the storage is mounted, should be part of the component

currenttly ComponentSpec is defined as this
[code]

and storage has Status

[code]

Path, where storage is mounted, shouldn't be defined as part of the StorageStatus.
This is something that should be part of the ComponentSpec. This makes more sense and also  In the future, we might add support for sharing Storage between c

[2019-03-11 13:14] amitkrout commented on #1431
I have done some e2e test run on top of pr #1441 with OpenShift 4.0 cluster (on AWS account).

```make test-json-format-output``` - All scenario passed
```make test-odo-login-e2e``` - All scenario passed

```make test-main-e2e``` - Reported 6 failures (Can be a debug item)

However test like ```test-source-e2e``` and ```test-java-e2e``` are blocked because as per ```odo catalog list components```

[2019-03-11 13:23] amitkrout commented on #1440
I was trying a invalid scenario of ```Creating component using oc 3.11 on OpenShift cluster 4.0```. So it was failing. When i try the same component creation with oc 4.0 on same OpenShift cluster 4.0, it works.

So closing the issue

[2019-03-11 13:23] #1440 closed

[2019-03-11 13:45] sspeiche opened #1444 "odo support for Quarkus"
As a Java Function and Microservice developer, I'd like to leverage the latest in Java technology with OpenShift using a streamlined CLI tool with Quarkus.

## Which functionality do you think we should update/improve?
Provide 1st class support for applications based on Quarkus work. This includes validating there is a S2I image that works with push/watch. Also to make sure that hot-reload capabil

[2019-03-11 14:04] geoand commented on #1444
I can work on this on the `odo` side of things. But I would like to from @kadel and @jorgemoralespou if we think that a new s2i image will be needed or if we can somehow fit the Quarkus workflow into the existing java s2i image

[2019-03-11 16:16] lordofthejars opened #1445 "Implement import and annotate calls"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Currently, you don't need to install `oc` to do a login, but you need to install it for a typical operation like importing or annotating images to build the project.

`oc import-image openjdk18 --from=registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift --confirm`

`oc annotate istag/openjdk18:latest tag

[2019-03-12 07:43] mohammedzee1000 commented on #1431
Awesome we should be able to port these tests over soon enough

We will have to look at how this can be enabled on the cluster then, maybe?

This is something we will have to look into to see if we can get openshift ci black magic to help us.

If not, we should keep steps handy for how these can be added once a cluster is up

[2019-03-12 09:51] kadel opened #1447 "new odo workflow: odo component create and odo config behaviour"
if `.odo/config.yaml` doesn't exist:
   -  `odo component create` - will create new `.odo/config.yaml`
   -  `odo config` - fails when there is no local config

if `.odo/config.yaml` already exist:
  - `odo component create` - fails with error message explaining that component aready exist
  - `odo config`  - ok, adds/modifies/deletes values in config file

[2019-03-12 11:19] amitkrout commented on #1431
Sounds good

As discussed and tested, the temporary workaround  - ```oc apply -f https://raw.githubusercontent.com/openshift/library/master/arch/x86_64/community/wildfly/imagestreams/wildfly-centos7.json -n openshift``` can be added to the OpenShift ci script with a proper comment

Also the tag ```<TargetFramework>``` - https://github.com/redhat-developer/odo/blob/master/tests/e2e/examples/source/

[2019-03-12 12:55] #804 closed

[2019-03-12 13:05] kadel commented on #1444
I don't know enough about Quarkus to answer this :-(

[2019-03-12 13:06] geoand commented on #1444
No problem, we should have a quick chat about this :)

[2019-03-12 13:29] kadel commented on #1431
I have noticed that there is a TemplateServiceBroker in OpenShift 4.0 operator hub.  But so far I was not able to make it work

[2019-03-12 13:38] jorgemoralespou commented on #1444
@kadel @geoand the regular java s2i should work, but what does not work is `odo`.

Quarkus does run with the following command in dev mode (for hot reload) `mvn quarkus:dev`. The idea of quarkus dev mode is also that the files will be used from where they are, so there need not to be moved to a deployment directory after assemble, which needs to be `mvn compile` and this only need to be executed o

[2019-03-12 13:41] amitkrout commented on #1431
Ahh, No issue. I can give a try. Can you please share the link for OpenShift 4.0 operator hub.

[2019-03-12 13:42] geoand commented on #1444
@jorgemoralespou @kadel @metacosm I think we should schedule a call to work out how we can make this happen

[2019-03-12 14:05] jorgemoralespou commented on #1444
@geoand I'm traveling to Singapore this week, so on an off (more off than on). I hope @kadel can discuss this with you guys.

[2019-03-12 14:06] geoand commented on #1444
OK @jorgemoralespou :)

[2019-03-12 14:48] kadel commented on #1292
it is merged now

[2019-03-12 14:51] kadel commented on #1292
this has been merged

[2019-03-12 14:51] kadel commented on #952
closing in favor of https://github.com/redhat-developer/odo/issues/1431

[2019-03-12 14:51] #952 closed

[2019-03-12 14:52] kadel commented on #1431
it is inside the OpenShift 4.0 webconsole

[2019-03-12 14:56] kadel commented on #1444
Not sure what you mean :-(

This should be handled inside the image

[2019-03-12 18:01] jorgemoralespou commented on #1444
@kadel, what I mean is that since quarkus does hot reload of files in their current location, how odo interacts with the images calling assemble_and_run will not provide a nice experience. The image, the openjdk images, can be used, with some tweaks, as I mentioned the location of the /opt/app-root/src and /deployments should be the same, as files should not need to be moved. Else the experience t

[2019-03-12 18:41] jorgemoralespou commented on #1445
@lordofthejars I don't think this should be done by odo. Whether the images are or not are available is out of the scope what a developer workflow is/should be. It's responsibility of the platform administrator.

I think though, that we could support using an image for which an imagestream is not created, just like `oc new-app` does:

e.g.
`odo create registry.access.redhat.com/redhat-openjdk-18/o

[2019-03-13 05:58] mohammedzee1000 commented on #1431
We will need to figure way to do from the command line though

[2019-03-13 10:36] amitkrout commented on #1431
@mohammedzee1000 Java test was failing due to the output format fetched by terminal specific command like ```grep```. I run the same ```make test-java-e2e``` on my pr #1410 and the good news is that all the scenario goes fine.

After merging of  pr #1410 into master then only we can add the test-java-e2e in OpenShift CI cc_ @kadel

[2019-03-14 09:18] kadel commented on #1271
@mik-dass please check what has been done and what still needs to be done

[2019-03-14 10:52] amitkrout commented on #1431
```e2e_test``` - Block on #1454
```component_test``` - Need to verify some failure
```java_test``` - Block on #1454
```link_test``` - Block on service catalog
```service_test``` - Block on service catalog
```source_test``` - Tag <TargetFramework> - https://github.com/redhat-developer/odo/blob/master/tests/e2e/examples/source/dotnet/asp-net-hello-world.csproj#L4 need to be updated to 2.2 in a separ

[2019-03-14 11:07] amitkrout commented on #1431
I installed ```Automation Broker Operator``` and ```Template Service Broker Operator``` In the default name space through the UI console. No luck, I am gettingg the same error

I think something else is needed to enable service catalog

[2019-03-14 15:00] kadel commented on #1167
I think that we can close this issue. CI setup is completed and we have first tests running there.

Issue tracking progress of moving tests: https://github.com/redhat-developer/odo/issues/1431

[2019-03-14 15:37] kadel opened #1458 "Cleanup config and preferences package structure"
`pkg/util/config_util.go` is not a good place for utils function that are shared just between config and preferences

we should consider refactoring it into different package structure, something like this:
 - `pkg/config/component`  =  `pkg/config`
 - `pkg/config/preferences`  = `pkg/preferences`
- `pkg/config` - common function that are right now in `pkg/util/config_util.go`

[2019-03-14 15:49] mohammedzee1000 commented on #1431
Ok for now, lets get the rest of the tests in. We will think about the tests needed service catalog lat. Still continue research on service catalog as well

[2019-03-14 15:57] amitkrout opened #1459 "Odo source e2e test dotnet component push fails on Openshift 4.0 cluster"
[kind/bug]

## What versions of software are you using?
- Output of `odo version`:
[code]

## How did you run odo exactly?
$ git clone https://github.com/redhat-developer/odo && cd odo
$ make bin
$ ./odo project create odo-source
$ ./odo create dotnet dotnet-app --local tests/e2e/examples/source/dotnet/
$ ./odo push
[code]
$ make test-source-e2e
## Actual behavior
Fails

## Expected behavior
Shoul

[2019-03-14 15:59] amitkrout commented on #1459
#1431

[2019-03-14 16:05] amitkrout commented on #1459
On 4.0 cluster
[code]
On 3.11.0 cluster
[code]

[2019-03-15 04:43] amitkrout commented on #1459
As per the error resolution reported in the ```odo push```, by replacing ```<TargetFramework>netcoreapp2.0</TargetFramework>``` with ```<TargetFramework>netcoreapp2.2</TargetFramework>``` works on 4.0 cluster, but the same target framework tag for ```netcoreapp2.2``` doesnot work on 3.11 cluster.

[2019-03-15 06:16] amitkrout commented on #1459
However dotnet 2.0 is available in the image stream but the ```Tags``` is marked as ```hidden```
[code]

[2019-03-15 07:13] mohammedzee1000 commented on #1459
We should probably figure out what to do long term, but maybe for now we can skip dotnet against 4.0 cluster and get source tests on OpenShift CI but push for its removal from other CI's  last.

What you can do to achieve this
- setup an env OPENSHIFT_VERSION
- If this env is set and its value is 4.0, then skip dotnet tests

[2019-03-15 08:03] mohammedzee1000 commented on #1167
Makes sense. Closiing
/close

[2019-03-15 08:03] #1167 closed

[2019-03-15 11:07] amitkrout commented on #1459
As a workaround even after removing the hidden tag from dotnet image stream - https://raw.githubusercontent.com/openshift/library/master/arch/x86_64/community/dotnet/imagestreams/dotnet-centos7.json and applying the same does not work. Also use of ```latest``` tag in the source test file could not help.

I am ok with suggestion. @kadel WDYT ?

[2019-03-15 18:08] cdrage opened #1463 "-o json should still output json when using just `-o`"
By default, using `-o` should output using json.

Right now it's:
[code]

There is only ONE input available right now and that's `json`..

So why would we require adding an argument? By default with `-o` it should be json. When yaml is added in the future, it can be `-o yaml`.

[2019-03-15 18:44] cdrage opened #1464 "We require a machine readable output example document"
[kind/Documentation]

## What did you find missing in the documentation?

No examples on machine readable output.

## What is the relevance of it?

There needs to be a guide that outlines all machine readable output options so that projects such as IDE's / VSCode / other projects using it will have a nice reference to look at / implement their code instead of guessing.

This document should outlin

[2019-03-15 19:56] sspeiche opened #1466 "Minor updates to project README for consistency"

[2019-03-18 05:48] amitkrout commented on #1459
^ Or lets not complicate the test. IMO this can be done just by changing ```netcoreapp2.0``` to ```netcoreapp2.2``` in [1]. I am proposing this because anyway 4.0 is going to be the default CI test environment and 3.11 will be used in some cases (mostly locally).

So for our test we can create a known issue for source test on 3.11 cluster with a workaround. Later days we can fix it if needed. @moh

[2019-03-18 06:04] amitkrout commented on #1322
Not anymore reproducible on CI environment and locally too.

[2019-03-18 06:04] #1322 closed

[2019-03-18 06:50] amitkrout commented on #1459
#1469

[2019-03-18 07:35] kadel opened #1470 "Stability of our e2e tests"
I'm seeing a lot of failed tests even on the PRs that are not changing anything in the source code.

We need to make sure that we can count on our e2e tests.

Some examples:
 - https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/redhat-developer_odo/1467/pull-ci-redhat-developer-odo-master-e2e-core/116
- https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pul

[2019-03-18 07:52] kadel commented on #1459
3.11 will be with us for a long time

hidden shouldn't matter. It just hides it from `odo catalog list components` but you still can create component using it.

[2019-03-18 07:56] kadel commented on #1464
How about publishing JSON schema for our outputs?

[2019-03-18 08:11] kadel opened #1471 "Use subPath `ODO_S2I_DEPLOYMENT_DIR`"
We are using `ODO_S2I_DEPLOYMENT_DIR` to backup artifacts that were built in java based s2i builder image and then restore it the run script.

We can completely avoid this step, and instead, just add volume to `ODO_S2I_DEPLOYMENT_DIR`. To avoid creating another PVC, we can reuse the same one that we already use for app-root, and just use directory in the volume.

Something like this?
[code]

[2019-03-18 08:18] kadel commented on #1271
@mik-dass please check what has been done and what still needs to be done

[2019-03-18 08:56] mik-dass commented on #1271
@kadel Done, updated

[2019-03-18 08:59] mik-dass commented on #1292
Blocked on #1360 as a lot is getting changed in the application.go

[2019-03-18 10:17] kadel opened #1472 "Publish PR artifacts using OpenShift CI"
Right now we are using appveyor to publish PR builds.
Not sure if it is possible but it would be good to use OpenShift CI to do this

[2019-03-18 10:18] kadel opened #1473 "run e2e tests in parallel on OpenShift CI"
Right now e2e tests are run in series on OpenShift CI.
As we add more and more tests it gets slower.

It is a good time to pause and figure out how we can run our tests in parallel before adding more.

It would be great if we could run all tests against the same cluster, to cut down time to spin up new clusters.

[2019-03-18 10:50] kadel commented on #1463
just `-o` looks a little bit weird, it is not a standard to have a flag with a default value like this.
You either don't specify a flag, and that means default value, or you change the default value using the flag.

My view on this is that we have a default output format that is  something like "text", so technically we already have two output formats: text and json. `-o text` is the default when

[2019-03-18 10:55] kadel commented on #1445
closing as duplicate for https://github.com/redhat-developer/odo/issues/882

[2019-03-18 10:55] #1445 closed

[2019-03-18 10:57] kadel commented on #118
more info in https://github.com/redhat-developer/odo/issues/1433

[2019-03-18 11:31] mohammedzee1000 commented on #1383
https://github.com/redhat-developer/odo/issues/1318
This is maybe what we should consider with delete for machine readable

[2019-03-18 11:36] kadel commented on #1355
It was something on the OpenShift side.
With the latest OpenShift 4.0 everything works OK

[2019-03-18 11:36] #1355 closed

[2019-03-18 11:50] kadel commented on #1459
If this was solved in  https://github.com/redhat-developer/odo/pull/1469, it should be closed.

[2019-03-18 12:41] girishramnani commented on #1231
@syamgk shouldn't this be in review?

[2019-03-18 12:42] girishramnani commented on #1297
should we consider this for beta @kadel ? I would prefer it to be consider for GA

[2019-03-18 12:47] girishramnani commented on #1131
we should consider after beta

[2019-03-18 12:51] kadel opened #1475 "Machine readable output - global `-o` flag"
`-o` flag should be global
Every command should have structured (json) output.

Open questions:
 - what should be output for delete commands?
 - how to output error messages?

[2019-03-18 13:19] syamgk commented on #1383
Once we enable and implement a minimal `-o json` for all commands we can work on giving more info

[2019-03-18 13:23] amitkrout commented on #1459
Fixed via #1469

[2019-03-18 13:23] #1459 closed

[2019-03-18 13:32] kadel commented on #1297
Document describing odo builder image https://docs.google.com/document/d/1Cj4ZXmsaQ-S9NDvrPaAb90i5I4yQg8gYQ8KQ41gIawc/edit?ts=5c87bdfe

[2019-03-18 13:45] girishramnani commented on #1464
we need atleast examples for beta

[2019-03-18 13:46] girishramnani commented on #1471
this is good to have for beta

[2019-03-18 13:50] girishramnani commented on #1473
all the tests that not depend on service catalog should be run on openshift CI

[2019-03-18 15:27] kadel opened #1476 "validation for config values"
As pointed in

https://github.com/redhat-developer/odo/pull/1360#issuecomment-472821426

https://github.com/redhat-developer/odo/pull/1360#issuecomment-472821426

`odo config set` should validate that the values are correct.

[2019-03-18 18:47] cdrage commented on #1464
@kadel

Bit confused with regards to publishing a "JSON Schema" for each output.. I'm assuming similar to this: https://github.com/redhat-developer/odo/pull/1465

But using concepts such as `type: string` as per https://json-schema.org ?

[2019-03-18 20:07] cdrage commented on #1072
Finally able to close this via #1211 !

[2019-03-18 20:07] #1072 closed

[2019-03-19 12:31] kadel opened #1479 "resolve relative paths"
[code]

[2019-03-19 12:32] #1479 closed

[2019-03-19 12:42] amitkrout commented on #1429
@apupier I am not able to reproduce this

Test Env :
[CDK 3.8.0](https://developers.redhat.com/products/cdk/download/)
macOS
VS Code OpenShift connector extension

Test step :
[code]

Even i can not reproduce the issue by directly using odo command

@apupier can you try it again. i do not think it's a platform specific issue

[2019-03-19 13:07] cdrage commented on #1470
Another issue from PR: https://github.com/redhat-developer/odo/pull/1275

Looks to be a timeout to the cluster: https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/redhat-developer_odo/1275/pull-ci-redhat-developer-odo-master-e2e-core/160

[2019-03-19 13:26] amitkrout commented on #1470
Some suspicious clusterup/timeout failure in prow - https://coreos.slack.com/archives/CEKNRGF25/p1553001003940200 asked by @mohammedzee1000

[2019-03-20 03:20] dgolovin opened #1480 "Add `-o json/yaml` option support for `odo service list`"
[kind/Feature]
## Which functionality do you think we should add?
add option `-o json/yaml` for ```odo service list```

[2019-03-20 04:07] dgolovin opened #1481 "Add ports information into `odo describe <componentName>`"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
`odo describe <svcName>`  should include ports information for human and machine readable output.
Port infor:
- number
- protocol

## Why is this needed?
When linking components and creating urls for components port parameter is required in case there are more than one port is exposed.

[2019-03-20 04:54] dgolovin opened #1482 "'odo describe <compName>` human and machine readable output are not in sync"
[kind/Bug]

Data presented in human and machine readable output should be the same. Currently '-o json' option print out json with less information.

For example  human readable output would print
```odo describe nodejs-ex-nodejs-exra --app app1```
[code]
When machine readable only
```odo describe nodejs-ex-nodejs-exra --app app1 -o json```
[code]
Couple differences to note in machine readable out

[2019-03-20 05:27] dgolovin opened #1483 "Add wait flag '-w' for `odo service delete` command"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 1o Pro
- Output of `odo version`: 0.0.20

## How did you run odo exactly?
``` odo service delete <svcName>```

## Actual behavior
```odo service delete s1 && odo service list```
lists service s1 is in deprovisioning state

## Expected behavior
```odo service delete s1 -w``` exits after service instance is deprovisi

[2019-03-20 06:23] amitkrout commented on #1470
openshift-install times out creating infrastructure resources - https://bugzilla.redhat.com/show_bug.cgi?id=1690069

[2019-03-20 08:58] kadel commented on #1430
I've tried to reproduce this, but so far no luck :-(

[2019-03-20 10:17] kadel commented on #1482
The idea is that you will get just the names of the related objects.
If you need detail information you need to run `odo url describe <url name>` and similarly for the storage.

Do you need all the info in the output?
We could also output the List of all  related object to given component as a list
Output would look like this:
[code]

Would that help?

[2019-03-20 10:21] kadel commented on #1483
We don't have `odo service delete -w` that should be added.
We need to be a little careful here,  as deprovisioning service might take a long time.
We need to implement some kind of timeout, that will be applied to all our `--wait` flags

[2019-03-20 10:27] kadel commented on #1481
+1

Currently ComponentSpecs looks like this
[code]

we need to add ports to it

[code]

@dgolovin What do you mean by TLS Information. As far as I know containers are not exporting any information about TLS

[2019-03-20 10:28] amitkrout commented on #1470
Unless verbose is enabled for each test on prow It's hard to root cause the failure. I have observed in recent time these failure are more often consistent. Some failures are from CI side and some test failure, could be the side effect of unstable prow setup which causes the odo test failures.

So I would recommend enable the test verbose to crack down the odo test failure on prow setup as on aws

[2019-03-20 10:31] kadel opened #1484 "interactive commands for odo create and odo service create"
This is part of https://github.com/redhat-developer/odo/issues/1242

It is just a tracking issue to track what has been done for beta release:

Interactive commands for:
  - odo component create
  - odo service create

Interactive mode for other commands will be added later.

see https://github.com/redhat-developer/odo/issues/1242 for more info

[2019-03-20 10:32] kadel commented on #1242
Removing this from the epic in favor of https://github.com/redhat-developer/odo/issues/1242.

This will be continued after the beta release

[2019-03-20 10:32] kadel commented on #1484
interactive mode for both service and component create  has been already implemented

[2019-03-20 10:32] #1484 closed

[2019-03-20 10:43] kadel opened #1485 "`odo component list` in a non component directory"
we can fix all those issues separately.
Every command that needs to read information about a component or application should exit whit nice error.

_Originally posted by @girishramnani in https://github.com/redhat-developer/odo/pull/1360#issuecomment-474776233

[2019-03-20 10:47] kadel opened #1486 "odo app list from non component directory"
to add to @surajnarwade point
[code]
This command returns the applications in my project `myproject` from any folder. I am not sure if that should happen @anmolbabu

_Originally posted by @girishramnani in https://github.com/redhat-developer/odo/pull/1360#issuecomment-474749146_

`odo app list`
 - in a directory with `.odo` - list all application in the project defined in the config file
 - in a d

[2019-03-20 10:50] kadel opened #1487 "odo create in a directory that already has component .odo"
There is one more behavior which we should consider while doing `odo create` is that -
- If the directory already contains a component ( has a .odo/config.yaml ) then when we try to do `odo create` again it should ask for confirmation from the user that `there is already a component in this directory if you want to override it then please enter the name of the component?`

Currently it allowed me

[2019-03-20 12:19] kadel opened #1488 "smart odo push"
@kadel one more improvement to track is that -
multiple `odo push` without changing anything in the code and config should be idempotent in nature ( shouldn't do anything )

the way this could be achieved -
1) for component type `git` - we can track the last commit hash
2) for component type `binary` and `local` - a sha hash of the local code/artifacts can be tracked

_Originally posted by @girish

[2019-03-20 12:24] kadel commented on #1488
We should go even further.

This is how it should work ideally:
 - When something was changed in the config file, `odo push` will apply changes, if no change in config file, no changes to the DeploymentConfig.
- When something changed in the source code, `odo push` push changed files (this includes deleting files that in the container that were deleted locally) and trigger  build/reload
- When the

[2019-03-20 12:32] kadel opened #1489 "odo push --source, odo push --config"
from https://github.com/redhat-developer/odo/issues/1488

But the above will take time to implement, for beta release we could just do the following:

-  odo push --source will just copy files and trigger build
- odo push --config will just apply config changes
- by default, odo push will do both (later we will make this smarter as described above)

[2019-03-20 12:55] girishramnani commented on #1488
The https://github.com/redhat-developer/odo/issues/1489 part which does part of this issue will be considered for beta and rest for GA ( in sprint 165 )

[2019-03-20 13:02] surajnarwade commented on #1463
even kubernetes don't support only `-o`

[2019-03-20 13:22] kadel opened #1490 "Publish JSON Schema for machine readable output"
How about publishing JSON schema for each output?

_Originally posted by @kadel in https://github.com/redhat-developer/odo/issues/1464#issuecomment-473805588_

[2019-03-20 13:24] kadel commented on #1464
I've created separate issues for JSON Schema related stuff, let's keep this issue just about examples.

[2019-03-20 14:02] kadel opened #1491 "odo new workflow - fixing odo service"
after #1360 is merged make sure that odo service commands are working with new workflow

if there are commended out e2e tests, uncomment those, and make sure that it works.

[2019-03-20 14:03] kadel opened #1492 "new odo workflow - make sure that odo link work"
after #1360 is merged make sure that odo link command work properly

[2019-03-20 14:27] dgolovin commented on #1481
@kadel you are correct, I removed TLS from the issue.

[2019-03-20 15:44] kadel opened #1493 "push triggers two deployments"
[code]

push has been called twice, but there were 3 revisions of the deploymentconfig.
First time push is called, the DC is created, and everyting is OK.
The second time I call push, the DC is updated twice. Deployment is triggered, than it is cancelled and another one is triggered again (probably beacuse there was the second update to the same DC while it was deploying).

[2019-03-20 18:29] cdrage commented on #1463
@surajnarwade @kadel

Both of you are right. Thought it may be a good change, but yes, kubectl and openshift conventions require `-o` to have an input.

Closing this issue :+1:

[2019-03-20 18:29] #1463 closed

[2019-03-20 19:39] MikGue opened #1496 "404 on https://openshiftdo.org/getting-started/"
[kind/Documentation]

A link from here: https://openshiftdo.org/getting-started/

A few requirements before we proceed!
     A running OpenShift cluster (we recommend using minishift)
     odo binary (**installation guide here**)

goes to here which returns a 404: https://openshiftdo.org/README.md#installation

[2019-03-20 19:50] cdrage commented on #1496
Woops.

Updated here: https://github.com/redhat-developer/odo/pull/1498

[2019-03-20 21:56] dgolovin commented on #1482
@kadel I did not realize it is basically just references to related objects. I was just thinking straightforward that both outputs should contains the same info. If it would I would use less odo commands this way. For example I would use it for getting storage and url lists instead of `odo url/storage list` commands.
IMO from user point of view would be better to have the same info for both, but I

[2019-03-20 22:01] dgolovin commented on #1483
@kadel 👍 to have timeouts for this, because anything can happen and if it does we might have problems like this https://github.com/redhat-developer/vscode-openshift-tools/issues/712.

[2019-03-21 08:33] apupier commented on #1429
I tried again and can still reproduce.
i recorded it:
https://drive.google.com/open?id=1v_-0kKtKbdYczrOmaaJx2q-uv1emX1DF

[2019-03-21 08:34] apupier commented on #1430
I tried again and reproduced.
You can see it in the first 3' of this video

[2019-03-21 08:46] amitkrout commented on #1429
Thanks for sharing, will take a look

[2019-03-21 09:05] mohitsuman commented on #1429
@amitkrout We have released new version of OpenShift connector to marketplace that uses `odo 0.0.20`, so this should help you to test this scenario.

[2019-03-21 13:13] #1496 closed

[2019-03-21 13:21] anmolbabu opened #1503 "odo project delete fails after first delete"
[kind/bug]

## What versions of software are you using?
- Operating System: Fedora 29
- Output of `odo version`: master with #1360

## How did you run odo exactly?
odo project create odo2-1553171170
odo project create prj4

odo project delete prj4
odo project delete odo2-1553171170

## Actual behavior
[anmolbabu@localhost odo]$ odo project delete prj4
? Are you sure you want to delete project prj4

[2019-03-21 13:24] mohammedzee1000 opened #1504 "Race condition in storage operations on slower storage setups"
[kind/bug]

## What versions of software are you using?
- Operating System:  Openshift CI
- Output of `odo version`: master build on PR

## How did you run odo exactly?
Run storage operations such as create, mount, unmount very quickly on slow storage setup

## Actual behavior
Fails with race condition as two operations try to modify deployment config at very quickly

## Expected behavior
Storage

[2019-03-21 13:25] mohammedzee1000 commented on #1504
/priority Medium
/cc @kadel
/kind bug

[2019-03-21 14:13] amitkrout commented on #1470
[code]

Push fails due to OpenShift issue - https://bugzilla.redhat.com/show_bug.cgi?id=1684547

[2019-03-21 15:26] kadel commented on #1433
PR to fix openshift ci - https://github.com/openshift/release/pull/3186

[2019-03-21 17:19] kadel commented on #1473
GinkGo can run tests in parallel -  https://onsi.github.io/ginkgo/#parallel-specs

This would be ideal for us. as we can execute all our tests in one pod.
We just need to make sure that our tests are written in a way where one spec doesn't depend on the other.

ping @amitkrout

[2019-03-21 17:26] kadel opened #1509 "e2e tests are not cleaning up"
Each e2e test spec needs to clean up after itself.

When I run e2e tests I can see a lot of components that were left after the test finished.

It is not enough to clean up everything at the end. The test needs to delete everything that was created right after finishes (no matter in what state it ended)

[2019-03-21 18:53] cdrage commented on #1433
#1506 has been merged in to `gh-pages` branch :+1: so site is completed.

[2019-03-21 19:56] cdrage commented on #1490
@kadel

What kind of "schema" are you referring to?

I'm assuming something like this:

[code]

So in theory:

[code]

Would be:

[code]

?

[2019-03-22 05:15] amitkrout commented on #1473
This awesome!!!

Thanks for the reference. Will have a look

[2019-03-22 05:15] amitkrout commented on #1509
Right, some test file have implemented the clean up logic just by deleting the self created project at the end of the test. However in other test file cleanup is not properly implemented or missing.

Thanks for the issue.

[2019-03-22 05:58] amitkrout commented on #1473
We just need to make sure that our tests are written in a way where one spec doesn't depend on the other.

As of now i don't think test scenarios will be overlapped to other test file scenario because each test are running in their own namespace. For example: java test running in ```odo-java``` name space. So the only task will be a implementation of GonkGo ```Parallel Specs``` in our make file.

[2019-03-22 07:52] anmolbabu opened #1510 "Bugs with odo push"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

## How did you run odo exactly?

## Actual behavior
1. odo push with multiple ports creates only 1 service
2. odo push with ignore isn't working as expected

## Expected behavior

## Any logs, error output, etc?

[2019-03-22 10:07] anmolbabu opened #1511 "odo catalog list components doesn't show custom imported builder images"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`:

## How did you run odo exactly?

@anmolbabu Can you add the steps to reproduce

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2019-03-22 11:22] amitkrout commented on #1510
Can please provide the steps to reproduce it

[2019-03-22 12:27] kadel commented on #1433
There are still a couple of issues what we need to solve:
 - automatic builds for supervisord image on quay.io are  still not working
 - CircleCI is not enabled (someone needs enable CircleCI for openshift org - alredy requested) . All tests that were running on CircleCI were moved back to TravisCI

[2019-03-22 16:44] cdrage opened #1512 "Weird spacing going on when deleting a component with a URL already created"
[kind/bug]

## What versions of software are you using?

Latest master

## How did you run odo exactly?

`./odo delete` after using `odo url create`

## Actual behavior

[code]

## Expected behavior

No weird spacing / output for the URL...

## Any logs, error output, etc?

See above

[2019-03-23 01:39] #1231 closed

[2019-03-25 04:43] amitkrout opened #1513 "E2e test throws error of permission issue to view project "project-name""
[kind/bug]

## What versions of software are you using?
- Test Env: OpenShift 4.0, prow setup or aws
- Output of `odo version`: master

## How did you run odo exactly?
make configure-installer-tests-cluster
make test-main-e2e

## Actual behavior
Fails

## Expected behavior
Should not throw error of
[code]

## Any logs, error output, etc?
[code]

[2019-03-25 04:45] amitkrout commented on #1470
One more flake observed multiple times in prow

[code]

Issue #1513 created for tracking purpose

[2019-03-25 04:45] amitkrout commented on #1513
#1470

[2019-03-25 09:27] navalsinghIIM opened #1514 "--json inclusion in the brew info command"
This is more related to my experience while trying out Odo for the first time on my MacBook Pro machine. The `brew info --installed docker-machine-driver-xhyve` command at https://docs.okd.io/latest/minishift/getting-started/setting-up-virtualization-environment.html#for-macos need to have `brew info --installed docker-machine-driver-xhyve --json` . The reference to the page is on this page: https

[2019-03-25 10:41] kadel commented on #1513
https://github.com/redhat-developer/odo/pull/1360 might have fix for this

[2019-03-25 11:11] mohitsuman opened #1515 "odo url list -o json should return json with empty list if no url present"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`:

[code]

## How did you run odo exactly?
`odo url list --component <comp> --app <name> -o json`

## Actual behaviour
Currently it prints the text as mentioned below:
`✗  no URLs found for component front in application demo`

## Expected behaviour
If there are no URLs `odo url list --compon

[2019-03-25 11:13] mohitsuman commented on #1515
Can we please mark this as priority, as this will help us to fix 2-3 issues together on vscode side. :)

[2019-03-25 19:07] cdrage commented on #1514
Hey @navalsinghIIM

The best way to update OpenShift documentation would be to ask the people on the OpenShift team at: https://github.com/openshift/openshift-docs

I am however a tad confused with regards to the `--json` inclusion. Why would you require that? I believe the `--json` command it included for machine output / other application to feed in that information.

[2019-03-25 19:19] navalsinghIIM commented on #1514
`Navals-MacBook-Pro:~ singhn9$ brew info --installed docker-machine-driver-xhyve`
Error: `installed` cannot be passed without `json`

[2019-03-25 19:29] cdrage commented on #1514
@navalsinghIIM I'd suggest opening up an issue with the OpenShift docs team: https://github.com/openshift/openshift-docs

[2019-03-25 19:29] #1514 closed

[2019-03-26 06:57] #1366 closed

[2019-03-26 08:14] mohammedzee1000 commented on #1515
/priority High

[2019-03-26 09:23] mohammedzee1000 commented on #1485
Unable to reproduce

[code]

[2019-03-26 09:43] mohammedzee1000 commented on #1485
This seems to happen when the cluster does not have any app on it
thanks @girishramnani

[2019-03-26 12:40] kadel commented on #1515
/priority medium

@syamgk everything marked with [new workflow](https://github.com/openshift/odo/issues?q=is%3Aissue+is%3Aopen+label%3A%22new+workflow%22) has higher priority than this,

[2019-03-26 12:42] kadel commented on #1515
/remove-priorty high

[2019-03-26 12:47] kadel commented on #1389
ping @surajnarwade Updated the issue

[2019-03-26 13:17] kadel commented on #1372
@anmolbabu this was implemented in #1360 right?

[2019-03-26 13:27] anmolbabu commented on #1372
Yeah I'll quickly close it

[2019-03-26 13:27] #1372 closed

[2019-03-26 13:55] kadel opened #1520 "new workflow: odo component commands"
Each `odo component` command has optional `--context` argument.
That defines what is the component that the action shoudl be performed on.
By default context is `./`

### `odo component *` according to new workflow

####  create
creates component config (definition) in the context directory

#### delete
flags : --force --context
deletes component from the cluster (undeploy), configuration in intac

[2019-03-26 13:56] anmolbabu commented on #1373
This is resolved in #1360 which is merged now hence closing this issue

[2019-03-26 13:56] #1373 closed

[2019-03-26 17:49] girishramnani commented on #1487
This seems to be a sub part of https://github.com/openshift/odo/issues/1447 @cdrage

[2019-03-26 17:54] girishramnani commented on #1487
also we haven't decided that if the `odo component create` in an existing component dir should fail like mentioned in https://github.com/openshift/odo/issues/1447 by @kadel or ask for confirmation like mentioned here

[2019-03-26 22:33] mohitsuman opened #1521 "odo list -o json should return json with empty list if no component present"
[kind/bug]

## What versions of software are you using?
- Operating System: macOS
- Output of `odo version`:

[code]

## How did you run odo exactly?
`odo list --app <app> --project <proj> -o json`

## Actual behaviour
Currently it prints the text as mentioned below:
`✗  There are no components deployed.`

## Expected behaviour
If there are no components `odo list --app <app> --project <proj> -o j

[2019-03-27 07:02] kadel opened #1522 "e2e tests are detecting wrong branch for git component"
If the component is created from git, it should use master branch by default ( if `--ref` is not specified).

I think that this is due to the fact that we are reusing the same context directory for different tests.

We should create a separate tmp context directory  (using `BeforeSuite`, and cleaning it up in `AfterSuite`) for each test spec and use it as a context, so one test doesn't affect the

[2019-03-27 07:55] syamgk commented on #1515
@kadel  ack!

[2019-03-27 08:16] kadel commented on #1521
/bug
/priority medium

[2019-03-27 08:43] amitkrout opened #1523 "Config set port panic out"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: master

## How did you run odo exactly?
$ odo config set Ports 8080/TCP  - panic out
$ odo config set ports 8080/TCP - panic out
$ odo config set --ports 8080/TCP - unknown flag: --ports

## Actual behavior
Fails

## Expected behavior
Should set

## Any logs, error output, etc?
[code]
[code]

[2019-03-27 08:52] kadel commented on #1523
/priority high
/kind bug
/assign @girishramnani

[2019-03-27 09:08] kadel commented on #1523
this is the result of using empty interfaces :-(
If the correct type is used it would be caught at compile.

[2019-03-27 09:26] kadel commented on #1487
@girishramnani
I think that we can close this issue as, you correctly pointed out that this is covered in https://github.com/openshift/odo/issues/1447

[2019-03-27 09:26] #1487 closed

[2019-03-27 09:32] kadel commented on #1389
ping @surajnarwade Updated the issue

[2019-03-27 09:52] kadel commented on #1511
You mean that it doesn't show images in the users project?

It works for me

[code]

[2019-03-27 09:53] kadel commented on #1511
/kind bug
/priority medium
/remove-priority high

[2019-03-27 11:05] kadel commented on #1486
@mohammedzee1000 I have updated the description

[2019-03-27 11:49] kadel commented on #1473
@amitkrout problem is that structure of our tests is wrong.
As I understand it GinkGo can run specs in parallel. But that means that each Spec (`It(`) has to be independent,  But that is not true in our e2e. This needs to be fixed first

[2019-03-27 12:09] kadel commented on #1485
`odo component list` behaviour is specified in https://github.com/openshift/odo/issues/1520

[2019-03-27 12:21] #1485 closed

[2019-03-27 12:51] #1523 closed

[2019-03-27 13:07] amitkrout commented on #1473
Forgot to update the issue with my findings which I got few days back. Sorry for the delay

IMHO in our case it will be very difficult to to isolate and maintain each spec i mean the It(…, func() {} clause. Even there will be a high chance of race condition arises in operation like creating/deleting and possible in intermediate operation. Also isolation increases the duplication of some steps in e

[2019-03-27 13:52] kadel commented on #1473
there are nice patterns in ginkgo docs explaining how to avoid duplication https://onsi.github.io/ginkgo/#shared-example-patterns

[2019-03-27 14:07] amitkrout commented on #1473
Applying on json_test.go file. will send the pr once done

[2019-03-27 14:17] girishramnani commented on #1511
please add the steps to reproduce here @anmolbabu

[2019-03-27 14:28] mik-dass commented on #1388
@kadel @jorgemoralespou How should the new `storage list` look like on the CLI?

[2019-03-27 16:02] anmolbabu commented on #1488
For each iteration of push:
- [ ] Compute a hash of the component settings say `cmpSettingsHash`
- [ ] Fetch the hash of the config applied on the component from a label say `app.kubernetes.io/componentSettingsHash`
- [ ] if `cmpSettingsHash` != `app.kubernetes.io/componentSettingsHash` , component settings have changed, update them to the dc

* for local and binary path additionally:
- [ ] Walk t

[2019-03-27 17:45] girishramnani commented on #1004
closing this issue as we dont have any reason to implement it

[2019-03-27 17:45] #1004 closed

[2019-03-27 18:14] #1058 closed

[2019-03-27 18:16] girishramnani commented on #1521
I am not able to reproduce this @mohitsuman
[code]
can you share your steps to reproduce this?

[2019-03-27 18:23] amitkrout commented on #1470
#1517

[2019-03-27 18:26] girishramnani commented on #1512
there is spacing in `odo app delete`
[code]
and `odo project delete` too
[code]

want me to remove those too?

[2019-03-27 18:53] cdrage commented on #1512
@girishramnani Yes please!

[2019-03-27 19:18] mohitsuman commented on #1521
@girishramnani Below is the mentioned steps with screenshot.
1. Create application from vscode UI.
2. Run odo command from vsode terminal
- `odo list --app throne --project myproject -o json`
3. The output is string instead of json.

**I can see that the odo version output for 0.0.20 has a different commit hash for me**.

<img width="660" alt="Screenshot 2019-03-28 at 12 46 41 AM" src="https://use

[2019-03-27 21:00] dgolovin commented on #1521
This is duplicate and was fixed in master https://github.com/openshift/odo/issues/1326.

[2019-03-28 05:39] #1512 closed

[2019-03-28 07:49] kadel commented on #1388
Lets start with just this:
`odo storage list`  - list storage for the component in `./`
`odo storage list --context /my/project` - list storage for the component in `/my/project`

[2019-03-28 08:10] girishramnani opened #1530 "not allow internal ODO env variables to be overridden and some cleanup"
[kind/Enhancement]

Currently `odo config set --env` allows someone to set any env variable which means that the internal ODO variables like these https://github.com/openshift/odo/blob/master/pkg/occlient/occlient.go#L107-L154
 can also be changed. we want to enforce that this cannot be done.

Also follow up refactor like -
- [ ] Change function name `In` to `InStrSlice` https://github.com/openshi

[2019-03-28 08:18] kadel commented on #1530
/kind Enhancement
/priority low

[2019-03-28 09:11] girishramnani commented on #1503
picking this up @kadel

[2019-03-28 09:11] girishramnani commented on #1530
picking this up as well

[2019-03-28 10:18] mohammedzee1000 commented on #1486
@kadel  i don't think app list implements `--context` so that might be outside purview of this at the moment

[2019-03-28 11:41] kadel commented on #1530
low priority!

[2019-03-28 14:53] girishramnani commented on #1530
Well then not picking it up

On Thu, 28 Mar 2019, 20:21 Tomas Kral, <notifications@github.com> wrote:

[2019-03-29 06:20] anmolbabu commented on #1510
Part 1:

* `odo create nodejs` from within the component source
* `odo config set Ports 8080/TCP,9090/TCP`
* `odo push`

Part 2:
* `odo create nodejs`
* Set .git, tests etc.. in odoignore
* `odo push`
* Verify that the files in .odoignore are not pushed to the component

[2019-03-29 07:09] mohammedzee1000 commented on #1520
I personally think context resolution should happen in context.go. With commands not having to worry about it. They should instead complain if they dont have enough information.

For eg, If user has specified a context with no active component then context does is set but without active component and when user tries to perform any op that needs component while not providing --component flag. Then

[2019-03-29 09:51] kadel commented on #1520
there shouldn't be a `--component` flag anymore. This is controlled by `--context`

[2019-03-29 10:12] anmolbabu commented on #1520
No there is no active component or app or project now in odo everything that was previously called active is now only the ones in config so if component name or app name is not passed, a default is generated in config and if project is not passed, currently we use active project in component config but not sure if that's a bug though targeted for sometime in future

[2019-03-29 11:01] mohammedzee1000 commented on #1520
Brilliant this should simplify stuff a lot :)

[2019-03-29 11:21] mohitsuman commented on #1521
@girishramnani Did you try this on macOS build ? It works on windows one for some reason.

[2019-03-29 15:40] kadel commented on #1490
Yes, something like that. It would be nice if we could generate this automaticaly based on struc tags and have it available somewhere in our repo.

[2019-03-29 15:43] kadel commented on #1490
/priorty low

[2019-03-29 16:08] cdrage opened #1537 "You're able to do `odo create` twice in the same directory without errors..."
[kind/bug]

## What versions of software are you using?
- Operating System: Linux

- Output of `odo version`:

Latest master

## How did you run odo exactly?

spam `odo create nodejs` in the https://github.com/openshift/nodejs-ex directory, creating multiple components
`odo list`

## Actual behavior

[code]

## Expected behavior

Shouldn't there be references to the other components in `.odo/confi

[2019-03-29 16:08] cdrage commented on #1537
Ping @anmolbabu @kadel maybe this is expected behaviour? Shouldn't we have references to multiple components in `odo list`?

[2019-03-29 16:14] cdrage commented on #1510
@anmolbabu

I'm confused on Part 1:

Ports 8080 and 9090 open absolutely fine... see below:

[code]
`nodejs-ex-nodejs-hfja-odo-dtgi` is the one built on the most current master branch...

`nodejs-ex-nodejs-ncvp-downloads-rhoo` was built from the last release.

Both open ports 9090 and 8080 correctly? Isn't creating just 1 service correct?

[2019-03-29 16:20] cdrage commented on #1510
Part 2 I'm also unable to reproduce / encounter the error:

In `.gitignore` I ignore the file "foobar", see the below output from when I do `odo push -v 5`:

[code]

Specifically: `I0329 12:18:08.134934   21236 util.go:535] ignoring path /home/wikus/nodejs-ex/foobar because of glob rule /home/wikus/nodejs-ex/foobar`

[2019-03-29 16:24] anmolbabu commented on #1510
May be they were fixed in some intermediate commit in #1360 or some other PR essentially I faced issues with this sometime and hence raised this issue but feel free to close this issue if things are working as expected

[2019-03-29 16:24] anmolbabu commented on #1510
But please also verify it for update scenario

[2019-03-29 16:28] cdrage commented on #1537
Same for `.odoignore`:

[code]

(see the line about foobar2, I have foobar2 in my `.odoignore` file...)

I'm unable to reproduce either issues.

I DID however encounter ONE bug. It looks like we're combining `.odoignore` and `.gitignore` even though a `.odoignore` exists. Is this normal behavior?

[2019-03-29 16:31] cdrage commented on #1510
@anmolbabu Confused regards to update scenario?

But yeah.. I'm unable to reproduce anything. Most likely was fixed with #1360 then!

[2019-03-29 18:02] cdrage commented on #1511
I can't reproduce this either...

[code]

[2019-03-29 18:04] cdrage commented on #1492
@syamgk Please make sure that the `odo link` command and `odo unlink` command work correctly.

We also need to make sure that `--context` is also implemented.

[2019-03-29 18:07] cdrage commented on #1520
Ideally `--context` would be a global flag... but we'll get there eventually.

Should we split up this issue into separate parts so multiple engineers can work on it @mohammedzee1000 ?

[2019-03-29 18:11] cdrage commented on #1510
Same for `.odoignore`:

[code]

(see the line about foobar2, I have foobar2 in my `.odoignore` file...)

I'm unable to reproduce either issues.

I DID however encounter ONE bug. It looks like we're combining `.odoignore` and `.gitignore` even though a `.odoignore` exists. Is this normal behavior?

[2019-03-29 18:12] cdrage commented on #1537
I swear there's another issue opened somewhere with this same scenario... I obviously can't find it at the moment.

[2019-03-29 18:18] cdrage commented on #371
I'm 99% sure we're accomplished all these goals :+1: I'm going to close this (for now).

If you think we're missing anything, please re-open this @anmolbabu ! :smile:

[2019-03-29 18:18] #371 closed

[2019-03-29 18:20] cdrage commented on #728
This was more in terms of tables / UX, such as what is being outputted in `odo catalog list` and `odo service list`

At this point, I'm going to close this as I believe it's pretty uniform between the commands now.

[2019-03-29 18:20] #728 closed

[2019-03-29 18:21] cdrage commented on #747
I'm going to close this as there was no other discussion and to be honest, we follow the same conventions as `kubectl` and other Kubernetes/OpenShift-like tools.

If this comes up again, we'll take this again into consideration!

[2019-03-29 18:21] #747 closed

[2019-03-29 18:22] cdrage commented on #709
Hey @cmoulliard do you believe this is still an issue / we can close this, considering we've drastically have changed our style of workflow?

[2019-03-29 18:23] cdrage commented on #722
Could we close this @surajnarwade :100:

[2019-03-29 18:25] cdrage commented on #634
We now error out if "latest" is unavailable and we now offer the solution of passing in a tag..

Example (from `odo create --help`):

[code]

I'm going to close this for now

[2019-03-29 18:25] #634 closed

[2019-03-29 18:26] cdrage commented on #588
The last issue: https://github.com/openshift/odo/issues/445 has been closed.

Closing this :+1:

[2019-03-29 18:26] #588 closed

[2019-03-29 18:27] cdrage commented on #918
@anmolbabu Can you please explain this more in detail / perhaps we can close this issue (this is from November...) Thanks!

[2019-03-29 18:28] cdrage commented on #902
https://github.com/openshift/odo/issues/1171 has been closed (all tasks completed).

We can close this issue now.

[2019-03-29 18:28] #902 closed

[2019-03-29 18:29] cdrage commented on #912
Closing this as: https://github.com/openshift/odo/issues/862 supersedes this.

[2019-03-29 18:29] #912 closed

[2019-03-29 19:03] cdrage commented on #858
Flags have been added here: https://github.com/openshift/odo/pull/683

Closing this issue :+1:

[2019-03-29 19:03] #858 closed

[2019-03-29 19:07] cdrage commented on #764
I'm going to close this for now. If you can update us later that'd be great @noelo !

[2019-03-31 10:42] anmolbabu commented on #1511
Yeah this isn't reproducible may have been fixed by some PR ;) to my surprise
Hence closing it we can open it back if reproducible any time later

[2019-03-31 10:42] #1511 closed

[2019-04-01 04:54] amitkrout commented on #1470
Pr #1517 will fix test instability caused by odo test source code.

[2019-04-01 05:16] amitkrout commented on #1473
Waiting parallel test template via #1535 to be merged first.

[2019-04-01 09:54] mohammedzee1000 commented on #1520
@cdrage yes agreed. https://github.com/openshift/odo/pull/1532 is already heading in that direction. I hope i have not missed any commands here. Basically, I am letting through any command that does not rely on context at all, creates it, or has a possible flag to override missing context file. This should help in that direction. I hope i have not missed anything
Yes i think splitting would help :

[2019-04-01 09:55] girishramnani commented on #1537
the PR to resolve this is already there https://github.com/openshift/odo/pull/1526

[2019-04-01 09:55] girishramnani commented on #1537
This is the issue you are trying to finding https://github.com/openshift/odo/issues/1447

[2019-04-01 11:36] mohammedzee1000 commented on #1520
@cdrage it seems to be like it already is as far as context.go is concerned. What is important is shifting to making use of it

[2019-04-01 12:50] mik-dass opened #1539 "Storage unmounting during odo push"
[code]

The storage gets unmounted during the push.

[2019-04-01 14:56] anmolbabu commented on #1510
I think @mik-dass can confirm this

[2019-04-01 15:19] cdrage commented on #1537
Ah, thanks @girishramnani that helps :+1:

I'm going to keep this issue closed for my own reference until #1526 is merged in

[2019-04-01 20:21] cdrage opened #1542 "Bug report, need more checks to see the deploymentconfig / RC is 100% up.."
[kind/bug]

## What versions of software are you using?
- Operating System: The awesome Linux OS

- Output of `odo version`: Using PR: https://github.com/openshift/odo/pull/1541

## How did you run odo exactly?

Use `odo push` multiple times very quickly...

This results in an error as the application has yet to 100% come up.

## Actual behavior

So what's happening is that we're (most likely) not

[2019-04-02 02:42] dgolovin opened #1543 "'odo push' fails on windows"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows
- Output of `odo version`: built from master

## How did you run odo exactly?

## Actual behavior
 X  Component nodejs-test has invalid source path c

## Expected behavior
Successfully pushed

## Any logs, error output, etc?
N/A

[2019-04-02 02:49] dgolovin opened #1544 "`odo create' overwrites .odo configuration without warning"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10
- Output of `odo version`: build from master

## How did you run odo exactly?
[code]
.odo/config.yaml content is

[code]

[code]

.odo/config.yaml content was updated without warning with new values

[code]

## Actual behavior
No warnings about creating new component over existing one

## Expected behavior
Warni

[2019-04-02 06:17] dgolovin opened #1545 "`odo create` should still support --local option to allow use the same source folder for different components"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Support both --context and --local options for `odo create`.

## Why is this needed?
Current implementation in master supports old `--git` and `--binary` options along with new option `--context`. To create component from local folder odo should be called with `--context` option only. That means every time I want to

[2019-04-02 06:30] surajnarwade opened #1546 "Autocompletion for `--context` flag"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Add autocompletion to `--context` flag

## Why is this needed?

because it helps :smile:

[2019-04-02 06:44] #1427 closed

[2019-04-02 06:58] amitkrout commented on #1513
Fixed via - #1517

[2019-04-02 06:58] #1513 closed

[2019-04-02 07:11] amitkrout commented on #1470
Issue summary - As part of e2e test instability is concern, fixes are merged into master. However there are two open bugzilla [1] and [2] on OpenShift 4 and can be tracked there.

[2019-04-02 07:11] #1470 closed

[2019-04-02 07:56] amitkrout commented on #1543
I am able to reproduce this on master

[code]

[2019-04-02 07:58] amitkrout commented on #1543
@kadel @anmolbabu ^ This is a critical issue IMO

[2019-04-02 10:41] #1361 closed

[2019-04-02 11:07] #1493 closed

[2019-04-02 11:12] amitkrout opened #1548 "rewrite e2e test to new test format"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
spec isolation, parallel run, better test structure, easy to maintain

## Test file to migrate

- [ ] e2e_test.go

- [ ] component and sub-component test

- [ ] java test

- [ ] json format test

- [ ] link test

- [ ] login test

- [ ] source test

- [ ] watch test

NOTE: Any new test file should follow the test [te

[2019-04-02 11:15] kadel opened #1549 "Validate config values"
`odo config set` needs to check if the input value is valid
This can't be allowed:

[code]

Sensible validation needs to be added to each config option.
Some of the validation:
 - Correct value for memory and cpu (with units check)
    - memory and cpu should be validated using the same rules as Kuberentes uses (for example support both `M` and `Mi` - https://kubernetes.io/docs/concepts/configurat

[2019-04-02 11:15] kadel commented on #1549
/priority high
/kind enhancement

[2019-04-02 11:17] kadel commented on #1548
Don't convert scenarios 1:1, we need to do the reorganization.
It would be nice if we have a separate file for each test scenario.
@cdrage had some nice ideas for this.

[2019-04-02 11:17] kadel commented on #1548
/kind testing
/priority medium

[2019-04-02 11:18] kadel commented on #1545
/kind enhancement
/priority medium
/status "In Analysis"

[2019-04-02 11:21] kadel commented on #1544
Thank you @dgolovin  for testing odo.

We already have  issue for this https://github.com/openshift/odo/issues/1447

[2019-04-02 11:21] #1544 closed

[2019-04-02 11:30] mohammedzee1000 commented on #1548
Agreed

[2019-04-02 11:35] kadel commented on #1492
good point. I forgot about `--context`

[2019-04-02 12:47] kadel commented on #1473
merged

[2019-04-02 13:21] kadel commented on #1543
@cdrage we need to unify path handling in the push and watch.

[2019-04-02 13:32] girishramnani commented on #1549
needed before beta @kadel ?

[2019-04-02 13:46] kadel commented on #1433
we don't need CircleCI, we will move most of our tests to OpenShift CI

[2019-04-02 13:46] #1433 closed

[2019-04-02 13:47] surajnarwade commented on #1546
Closing since `FileCompletionHandler` is already there

[2019-04-02 14:02] surajnarwade commented on #1521
@mohitsuman , can you test it against master again ?

[2019-04-02 15:17] kadel commented on #1549
I would say good to have.

[2019-04-02 15:29] kadel opened #1552 "SourceLocation as a relative path"
[code]

[code]

SourceLocation in a config needs to be saved as a relative path to the context directory.

In the above example `SourceLocation`  should be `target/spring-boot-rest-http-1.5.17-5-SNAPSHOT.jar` for the binary component and  `./` or `.`  for the local component.

We can't put the whole path there because it prenets sharing the config

[2019-04-02 15:30] kadel commented on #1552
/priority hight
/state ready

[2019-04-02 15:31] kadel commented on #1552
@girishramnani this needs to addressed before beta release

[2019-04-02 15:32] girishramnani commented on #1552
Do you want me to take this?

[2019-04-02 18:53] cdrage commented on #1543
I'll take this up, the implementation would (most likely) be pushed to this PR: https://github.com/openshift/odo/pull/1446

[2019-04-03 06:34] mohammedzee1000 commented on #1520
Create already just sets up the config information while push is the one that actually creates the said object

[2019-04-03 08:08] kadel commented on #1430
It looks like the issue here is that vscode creates a component and right after it is created it does push.
There is nothing wrong with this behavior.

Problem is that when you have a slow cluster, it can take a while to start a Pod, especially when the cluster has to download s2i image and initContainer image.

odo 0.0.20 waits 2 minutes for the Pod to be ready. In the master, this has been chang

[2019-04-03 10:08] cmoulliard commented on #709
I will do a new test and then update the ticket @cdrage

[2019-04-03 11:48] jorgemoralespou commented on #1488
@anmolbabu `oc apply` should already do what you're referring here related to `cmpSettingsHash`.
If you apply a configuration that is the same, oc/kubernetes will do nothing. If there is a redeployment happening, it's basically because everytime you save/deploy the component's definition on of the fields that can trigger a redeployment is changed.

I would rather look into the logic of how to do t

[2019-04-03 11:56] amitkrout commented on #1430
I am able to reproduce it on windows

[2019-04-03 12:21] kadel commented on #1552
that would be great

[2019-04-03 12:24] mohammedzee1000 commented on #1520
Working on this already. I have the base information I needed. Will ask if i need more

[2019-04-03 12:37] kadel commented on #1552
/assign girishramnani

[2019-04-03 13:22] amitkrout commented on #1429
@kadel I am adding some logs info. I don't find any suspious event in the log. Please have look if that helps you

Push logs before change -
[code]
Push log after change -
[code]

[2019-04-03 14:28] amitkrout commented on #1429
@kadel
[code]

[2019-04-03 14:45] kadel commented on #1476
closing thin favor of https://github.com/openshift/odo/issues/1549

[2019-04-03 14:45] #1476 closed

[2019-04-03 15:02] kadel commented on #1552
@girishramnani this might be related to something that @cdrage  is doing in his PR https://github.com/openshift/odo/pull/1446

[2019-04-03 15:17] girishramnani commented on #1552
Yeah, seems so

On Wed, 3 Apr 2019, 20:32 Tomas Kral, <notifications@github.com> wrote:

[2019-04-03 15:27] kadel commented on #1429
I suspect that this is caused because of wrong handling of the backslashes on windows (`\`)

This is a line that I think poinst to the problem
[code]

`destFile` should probably be with forward slashes (`/`)

/cc @anmolbabu @surajnarwade

From the output I can also see that we are handling ignores wrong way
[code]
beggigin of the path is  with `\` and the last part is `/.git`.

because of this the

[2019-04-03 15:31] kadel commented on #1546
@surajnarwade is it working for you?

When I run  `odo create java --context <tab>` I get this:
[code]

[2019-04-03 20:42] cdrage commented on #1543
Hey @dgolovin Fix is available here: https://github.com/openshift/odo/pull/1446

If you can test it out that'd be great :+1:

[2019-04-04 05:50] amitkrout opened #1557 "Test coverage is not reported on each pr"
[kind/bug]

## What versions of software are you using?
- Operating System: CI Setup
- Output of `odo version`: master

## How did you find it?
Check coverage report on each pr

## Actual behavior
No coverage report

## Expected behavior
Test coverage should be reported on each pr

## Any logs, error output, etc?

[2019-04-04 06:43] surajnarwade commented on #1546
@kadel , it works for me:

[code]

are you using master build ?

[2019-04-04 12:57] mohammedzee1000 opened #1558 "Race condition : Quick simultaneous pushes leads to overlap of project creation"
[kind/bug]

## What versions of software are you using?
- Operating System:  linux
- Output of `odo version`: master branch build

## How did you run odo exactly?
Run 2 odo push operations in same project simultaneously

## Actual behavior
If 2 successive pushes happen very quickly in same project, the project creation step in push may overlap, resulting in 2nd push failing

## Any logs, error out

[2019-04-04 17:57] mohammedzee1000 commented on #1558
/kind bug
/priority medium

[2019-04-05 08:59] kadel commented on #1552
any progress here?

[2019-04-05 09:02] kadel opened #1560 "odo watch should error out if component is not deployed"
[code]

if `odo watch` is run against the component that is not yet created on the cluster it should error out.

[2019-04-05 09:03] kadel commented on #1560
/priority high

[2019-04-05 09:06] #1419 closed

[2019-04-05 10:23] kadel commented on #1546
Ah, my bad 😇
I forgot to update my path (`redhat-developer` vs `openshift`), sorry about that.

[2019-04-05 10:23] #1546 closed

[2019-04-05 10:46] amitkrout opened #1561 "GolangCI and codeclimate bot is missing after org migration"
[kind/bug]

## What versions of software are you using?
- Operating System: CI Setup
- Output of `odo version`: master

## How did you run odo exactly?
Check GolangCI and codeclimate bot on each pr

## Actual behavior
None have access to openshift org, so missing on each pr.

## Expected behavior
Should have access to openshift/odo

## Any logs, error output, etc?

[2019-04-05 10:52] kadel commented on #1561
/priority low

[2019-04-05 10:53] kadel commented on #1561
I would like to start a debate on how useful those tools were. Did someone actually use those?

[2019-04-05 12:51] anmolbabu commented on #1558
@mohammedzee1000 From the above it seems to me that this is from our test suite
Have you verified adding `-w` flag? to project create ?

[2019-04-05 12:53] kadel commented on #1558
I'm a little bit confused from the output. I can see only one `odo push` command being exeted. It is just the output that is shown twice, from the same `odo push` run

[2019-04-05 12:54] kadel commented on #1557
/kind testing
/priority medium

[2019-04-05 13:03] cdrage opened #1565 "Documentation conversion from .md -> .adoc"
[kind/Documentation]

A few todo's for .md to .adoc conversion:

- [ ] Synchronization script must be updated
- [x] CLI reference script must also be updated to use .adoc instead of markdown.

[2019-04-05 13:04] cdrage commented on #1565
@Preeticp Could you please add some more todo's / checklist of what needs to be done before the documentation goes live?

[2019-04-05 14:55] #1390 closed

[2019-04-05 18:15] cdrage opened #1567 "Build 137 error / master CI is currently broken"
[kind/bug]

## What versions of software are you using?
- Operating System: Linux
- Output of `odo version`: Master

## How did you run odo exactly?

If you do `odo push` multiple times in a row you'll get this error:

[code]

## Actual behavior

Error is caused by DeploymentConfig being deployed too fast and Odo not anticipating the new revision.

## Expected behavior

For builds to pass

## Any

[2019-04-05 18:25] cdrage opened #1570 ""Applying component settings to component" needs a spinner!"
[code]

Takes way too long when deploying.. There is no spinner or indication that it's deploying.

This is because we are using the `Update` function and updating the current DeploymentConfig.

There should at least be a spinner here!

[2019-04-05 19:09] Preeticp commented on #1565
Convert all docs to asciidoc:
- [ ] Installation
- [ ] Getting Started
- [ ] Development
- [ ] Readme
- [ ] CI reference
- [ ] CLI reference
- [ ] Completion Architecture
- [ ] Examples
- [ ] logging
- [ ] tdd-workflow
- [ ] validation architecture

[2019-04-05 19:43] Preeticp commented on #1565
@cdrage all docs have been converted to asciidoc, You can go ahead with changes in the script.

[2019-04-08 06:49] mohammedzee1000 commented on #1486
/close

[2019-04-08 06:49] #1486 closed

[2019-04-08 12:26] kadel commented on #1429
@cdrage please test that this was fixed by your watch PR

[2019-04-08 12:29] kadel commented on #1543
Closing this.
@dgolovin if you still face this issue, feel free to re-open this issue

[2019-04-08 12:29] #1543 closed

[2019-04-08 12:31] kadel commented on #1510
@kadel tests it!

[2019-04-08 12:38] kadel commented on #1520
`odo component list --all` and `odo watch --show-logs` can be addressed in another issue and PR

[2019-04-08 13:51] kadel opened #1573 "add odo component list --all flag"
this is a followup on https://github.com/openshift/odo/issues/1520

[2019-04-08 13:51] #1573 closed

[2019-04-08 14:04] kadel commented on #1510
created component with two ports

[code]

odo correctly creates  one service with two ports

ignore seems to work correctly also:
[code]

[2019-04-08 14:04] #1510 closed

[2019-04-08 18:00] #1489 closed

[2019-04-08 18:18] kadel opened #1576 "odo push doesn't remove configuration from DC"
[code]

This setting config is fine.
But problem is when I want to remove something.

[code]

The memory limit is still there :-(

[2019-04-08 18:49] cdrage commented on #1429
@kadel My PR looks to have not fixed it.

I'll take this up!

![Screenshot from 2019-04-08 14-48-16](https://user-images.githubusercontent.com/6422176/55748727-6362ba00-5a0d-11e9-9049-dfa48d13b2d3.png)

[2019-04-08 19:34] cdrage opened #1578 "TODO for adoc to markdown conversion for the site"
[kind/Documentation]

List of TODO's:

- [ ] Have TravisCI build and then push to gh_pages (pure html not jekyll)
- [ ] Move relevant site information to the `master` branch so users may build the site themselves / more central location
- [ ] Fix synchronization script for adoc building
- [ ] Add jekyll-asciidoc plugin

Let me know what's missing @rkratky

[2019-04-08 19:43] cdrage commented on #1552
I commented here: https://github.com/openshift/odo/issues/1429 as both of these issues are relevant.

I am currently investigating this (got distracted by doc changes I've been pinged on), at the moment, it looks like I'll have to add another `FromSlash` somewhere in the code.

[2019-04-09 06:56] #1567 closed

[2019-04-09 07:36] rkratky commented on #1578
@cdrage, it will also be necessary to adjust Jekyll config a bit. At minimum, the following will need to be added:
[code]
On the other hand, the Gemfile could probably be a bit leaner. I think the following should suffice:
[code]
Note: I guess it would be worth it to build our own image with Jekyll to build the site (instead of using the generic `jekyll/jekyll`). I tried to base it on an Alpine Ru

[2019-04-09 08:38] amitkrout opened #1581 "Organize the tests in a proper way"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Tests

## Why is this needed?
The current test is not properly organized and issues are encountered while improving the test scenarios.

Inspired from - https://testing.googleblog.com/2015/04/just-say-no-to-more-end-to-end-tests.html

[2019-04-09 09:08] amitkrout commented on #1581
Current test tree structure
[code]

Proposal
[code]

[2019-04-09 09:44] amitkrout commented on #1581
**Integration test -** It covers only the feature test. For example in ```json format``` feature only that feature will be tested like ```odo url create -o json, odo storage create -o json, odo project list -o json ...```
**Purpose:** Just to make sure the feature works fine and doesn't break any existing feature.

**End to End test -** It covers the mostly the real time user specific scenario. Fo

[2019-04-09 11:15] kadel commented on #1581
what is test-src? Are those the sample application on which we run tests?

[2019-04-09 11:15] kadel commented on #1581
/kind testing
/assign @amitkrout

[2019-04-09 11:42] kadel opened #1584 "odo component list --all"
`odo component list --all` - list all component in the current project (as set by KUBECONFIG)
`odo component list --all --project myproject` - list all component in project myproject

Output could look something like this:
[code]

[2019-04-09 11:59] amitkrout commented on #1581
Yes, Will put those binary and source (Which are currently in [examples](https://github.com/openshift/odo/tree/master/tests/e2e/examples) directory) in this directory.

[2019-04-09 12:12] surajnarwade opened #1585 "add tests for multiple url creation"
as per @anmolbabu 's comment [here](https://github.com/openshift/odo/pull/1519#pullrequestreview-224356901)

[2019-04-09 12:20] kadel commented on #1581
not sure if test-src is a good name for that

[2019-04-09 12:28] kadel commented on #1552
I think  that it should be `ToSlash` not `From` ;-)

[2019-04-09 15:20] amitkrout commented on #1581
@girishramnani @kadel Doc [1] will be the reference for writing the test from scratch.Tomorrow i will categorize the integration test and update here with more details.

[1] https://docs.google.com/document/d/1RKva9lvIR6dLmDm2tlqmp8V4nFjlrXdulOQ4FSmLkr8/edit?ts=5c715ffd#heading=h.eqonbgz6nece

[2019-04-09 19:40] cdrage commented on #1552
Been distracted by issue #1429 as I'm trying to fix the Windows ignore bug.

Question, with regards to storing the actual filepath, should we be storing it as per whatever OS is being used, or ALWAYS forward slash?

[2019-04-10 03:25] dgolovin opened #1587 "'odo list' command should provide option to show not deployed components in local filesystem along with deployed ones"
[kind/Feature]

## Which functionality do you think we should add?
In odo up to v0.0.20 new component is always deployed to the cluster. That means after successful 'odo create'  command 'odo list' would always list created component. With new workflow that would not work that way anymore, because new component created only in local file-system and not deployed to the cluster.

Would be good to su

[2019-04-10 08:53] #1371 closed

[2019-04-10 09:13] kadel commented on #1552
When you fix this issue, the #1429 will get resolved.

always forward slash!

It needs to be stored in forward slash format. Before the path is stored, it needs to be properly converted to relative path, and piped through `ToSlash`. This will ensure that it is always stored in a unified way (with forwarding slashes). When it is read it will be piped through `FromSlash` to ensure that it is convert

[2019-04-10 09:26] kadel opened #1588 "connection checks"
Commands that don't require cluster should work even "offline"

We need to remove the connection check that we have there for every command. And use it only for the commands that actually require to communicate with the cluster.

Commands that require connection:
 - `odo push`
 - `odo component delete`
 - `odo service *`
 - `odo link *`
 - `odo project *`
 - `odo app delete`
 - `odo login`
 - `odo

[2019-04-10 09:33] kadel commented on #1542
wasn't this fixed in #1541?

[2019-04-10 09:35] #1389 closed

[2019-04-10 09:35] kadel opened #1589 "odo watch --show-logs"
`odo watch` needs to support `--show-logs` in the same way as `odo push` does

[2019-04-10 09:42] kadel commented on #1520
created https://github.com/openshift/odo/issues/1584 and https://github.com/openshift/odo/issues/1589 is there something else that is missing?

[2019-04-10 09:45] kadel commented on #675
A lot of has changed since this issue started. We have reworked some of the commands, and partially implemented some of the ideas from this issue.
I'm going to close this. We will continue on improving the component configuration, but it needs a fresh look

[2019-04-10 09:45] #675 closed

[2019-04-10 11:34] kadel commented on #1429
@cdrage I think that this will be related to our use of `path.Join` instead of `filepath.Join` for example [here](https://github.com/openshift/odo/blob/70be22fed6b1006393e96e609354b2ca469bd971/pkg/util/util.go#L458)
We need to use `filepath.Join` everywhere, as `path.Join` doesn't take OS into account.

We need to fix it everywhere.

[2019-04-10 11:44] mohammedzee1000 commented on #1520
--delay in watch i think

[2019-04-10 11:48] kadel commented on #1587
How about something like `odo component discover `
This command will search given path, and list all components, based on presence of `.odo` dir that it can find in given path

[code]

and also with `-o json`

That will be list of all info from the .odo/config.yaml in json format
[code]

[2019-04-10 11:57] amitkrout commented on #1581
Need some more time to update the new test workflow in a separate google doc then will share with the team for feedback.

[2019-04-10 12:10] mohammedzee1000 opened #1592 "Confirm watch --delay flag works with e2e tests"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

## Why is this needed?

[2019-04-10 12:11] girishramnani commented on #1520
covered --delay in https://github.com/openshift/odo/issues/1592 for tracking

[2019-04-10 12:11] #1520 closed

[2019-04-10 12:14] kadel opened #1593 "odo component link: add --context flag"
add `--context` flag similar how we have it other commands

[2019-04-10 12:44] #1431 closed

[2019-04-10 12:48] mohammedzee1000 opened #1594 "Get odo binaries packaged with OpenShift"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
We should get odo binaries published in Openshift as a client tool like oc

## Why is this needed?
Better visibility and we are an OpenShift client

Internal jira tracker:
https://jira.coreos.com/browse/ART-554

[2019-04-10 12:49] #1129 closed

[2019-04-10 12:55] mohammedzee1000 commented on #1594
OpenShift ART (Automatic Release Tooling) are looking to mirror our releases into
https://mirror.openshift.com/pub/

[2019-04-10 13:22] kadel opened #1595 "`--now` flag for `odo component create`, `odo url create --now`, `odo config --now`"
[code]
will create the local configuration and create all objects on the cluster (the same what `odo push --config` is doing)

[code]
creates the url in the config and propagates all the changes to the cluster  (`odo push --config`)

[code]
the same as above

[2019-04-10 15:18] mohammedzee1000 commented on #1594
Had dicsussion on coreos channel https://coreos.slack.com/archives/CB95J6R4N/p1554904866475800
Collab with oc team if they are ok with splitting into clients/oc and clients/odo https://bugzilla.redhat.com/show_bug.cgi?id=1666573

[2019-04-10 17:04] kadel commented on #1491
Tested the service commands manually and everything seems to work. Service create, list, deletion

[2019-04-10 17:26] kadel opened #1596 "link is removed after `odo push`"
[code]

go to frontend url -> counter is working

verification that secret is added to DC
[code]

pushing frontend again
[code]

go to frontend url -> counter is BROKEN

verification that secret is added to DC

[code]
envFrom disappeared

the same thing happens with links to services

/cc @syamgk

[2019-04-10 17:27] kadel commented on #1492
odo link is working, but link is removed after `odo push`!!
https://github.com/openshift/odo/issues/1596

[2019-04-10 17:30] kadel commented on #600
closing this issue, most of this is done. What is left is tracked in the issues marked with  label [new workflow](https://github.com/openshift/odo/issues?q=is%3Aissue+is%3Aopen+label%3A"new+workflow")

[2019-04-10 17:30] #600 closed

[2019-04-10 17:33] kadel commented on #1581
lets figure out the structure first

[2019-04-10 17:46] kadel opened #1597 "can't create component in a new project"
[code]

Project `asdf` should be created by `odo push` command if it doesn't exist

[2019-04-10 18:01] cdrage opened #1599 "Can't list components without first creating one"
[kind/bug]

## What versions of software are you using?
- Operating System:
- Output of `odo version`: master

## How did you run odo exactly?

[code]

## Actual behavior

Can't list catalog components without having to use `odo create`

## Expected behavior

Listing all components available

## Any logs, error output, etc?

[2019-04-10 18:08] cdrage commented on #1599
ping @girishramnani

[2019-04-11 05:49] amitkrout commented on #1581
I ma looking structure like this

[code]

Which folder contains what
e2e-scenarios - End to end scenario
helper - Only contains library
integration - Component lavel testing
examples - Binary and source for test scenario
test-template - Only a demo test of how to write test

So total no of test suite will be used  - 3
E2E test
Integration Test
Test template
**Why need 3 testsuite -** To solve the

[2019-04-11 06:00] kadel commented on #1581
I think that we will be able to run e2e on PRs. Because of the nature of our project e2e tests are going to be faster than integration tests. If we run them in a separate job it won't add any time to the total duration of the test.

In general, this looks good. Now the main question. How do we move to this new format?

[2019-04-11 06:25] mohammedzee1000 commented on #1594
Binaries from our current releases published on https://mirror.openshift.com/pub/openshift-v4/clients/odo/
Daily job setup to pull our latest in. So once we release our beta, it should likely reflect there

[2019-04-11 06:29] amitkrout commented on #1581
No doubt of E2E duration will be less than the whole integration test duration but once integration test start growing bigger then E2E test duration matters a lot because e2e also keeps updated time to time.  That's why i kept it in a separate job to avoid any future rework of split, moreover the nightly job will be like a release bits of master.

This should go in a single pr, no followup pr unle

[2019-04-11 06:36] mohammedzee1000 commented on #1328
/close

[2019-04-11 06:36] #1328 closed

[2019-04-11 06:36] amitkrout commented on #1491
Awesome!!!
Please open pr for the ame

[2019-04-11 07:11] kadel opened #1602 "It should be possible to create service without a component"
[code]

[2019-04-11 07:17] kadel commented on #1599
It is actually possible, but it is not convenient and intuitive.

you have to specify both, `--project` and `--app` flags

[code]

To list applications in the project:
[code]

[2019-04-11 08:17] kadel opened #1603 "Proper RPM packaging in CentOS and Fedora"
Right now we have "hacky" binary rpm, published to our own repo on bintray.
It is time to do this in a proper way, and add odo to Fedora and CentOS

[2019-04-11 08:18] kadel opened #1604 "homebrew: move odo to homebrew-core"
Deprecate homebrew tap at  kadel/homebrew-odo and move it to https://github.com/Homebrew/homebrew-core

[2019-04-11 08:22] kadel commented on #1604
/area release-eng

[2019-04-11 08:22] kadel commented on #1603
/area release-eng

[2019-04-11 08:38] #1515 closed

[2019-04-11 08:44] mohammedzee1000 commented on #1593
This was sorted in component issue https://github.com/openshift/odo/issues/1520
The context flag has been enabled already
/close

[2019-04-11 08:44] #1593 closed

[2019-04-11 09:10] mohammedzee1000 commented on #1594
https://github.com/openshift/aos-cd-jobs/pull/1788

[2019-04-11 09:37] dharmit opened #1605 "Questions around "Component" and "odo create" based on the README"
[kind/Documentation]

## What did you find missing in the documentation?
- I found the definition of "Component" to be ambiguous/confusing.
- Few other things w.r.t. `oc`/`kubectl`

## What is the relevance of it?
Not sure. Maybe it could confuse the user?

## Description
Not sure if it's just me or the definition of "Component" is really a bit confusing. I'm referring Glossary section on main REA

[2019-04-11 09:54] surajnarwade commented on #1588
command that require connection check:

* `odo app delete`
* `odo login`
* `odo logout`

[2019-04-11 10:54] syamgk commented on #1503
Note: after the deletion of project it's not switching the active project
and while doing the second project delete it's trying to query the same project instead of the name passed via the cli cmd

[2019-04-11 11:58] kadel commented on #1588
thx, added to issues description

[2019-04-11 11:59] mohammedzee1000 commented on #1594
Contacting oc team to find out additional actions, if any that we might need to take

[2019-04-11 12:04] girishramnani commented on #1503
If I remember correctly the switching project part was already removed with
anmol's PR

On Thu, 11 Apr 2019, 16:24 Syam G Krishnan, <notifications@github.com>
wrote:

[2019-04-11 12:57] mohammedzee1000 commented on #1595
Currently looking at normal push, figuring out how it can be reused

[2019-04-11 13:19] kadel commented on #1599
decreasing priority, as we have a workaround, not much user-friendly one but it exists

/priority medium

[2019-04-11 13:23] kadel commented on #1491
Works, but tests needs to be fixed. Decreasing priority

/remove-priority high
/priority medium

[2019-04-11 13:43] kadel commented on #1429
push works on windows
ignore is still broken on windows

/remove-priority high
/priority medium

[2019-04-11 13:54] kadel commented on #1588
We can just remove connection check all together.

[2019-04-11 16:21] mohammedzee1000 commented on #1594
We should have odo binaries linked to OpenShift console at soon.  A quick fix is underway.

[2019-04-11 17:28] martin-morales opened #1609 "odo httpd --local rsync failure"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows 10, Minishift with VirtualBox driver.
- Output of `odo version`:
odo v0.0.20 (bd3e74a4)                                                                                                                                                                                          Server: https://192.168.99.111:8443

[2019-04-12 04:39] mohammedzee1000 commented on #1594
Getting odo on OpenShift console
https://jira.coreos.com/browse/CONSOLE-1380 and https://github.com/openshift/console/pull/1420

[2019-04-12 05:55] #1596 closed

[2019-04-12 11:32] mohammedzee1000 commented on #1609
/cc @cdrage
You have worked with windows side more. Maybe you can triage this?

[2019-04-12 19:24] cdrage commented on #1542
@kadel Yup. Closing this issue.

[2019-04-12 19:24] #1542 closed

[2019-04-12 22:53] rctrh opened #1611 "README/nodejs example problems with current CDK/minishift 3.8"
[kind/Documentation]

## What did you find missing in the documentation?

The current README/nodejs example doesn't work with the current release of CDK/minishift 3.8.  It's not clear to a new user whether this is an odo problem or a CDK/minishift problem.

1. The `odo create nodejs` step fails with the implied ":latest" tag.  The message is `image stream nodejs with tag latest not found in opensh

[2019-04-15 05:47] amitkrout opened #1613 "Schedule nightly job on prow"
[kind/Enhancement]

## Which functionality do you think we should update/improve?
Nightly job for running odo tests (Integration + e2e) on prow

## Why is this needed?
To reduce total time taken for pr testing job.

[2019-04-15 08:29] girishramnani commented on #1576
does this occur for all config params?

[2019-04-15 08:49] #1447 closed

[2019-04-15 09:02] girishramnani commented on #1576
The approach is simple, this error happens when some unsets the last resource limit on their component.
Once that happens there is a check `limit == nil && request == nil` then set `resource limit` to `nil` and in update when resource limit is `nil` then old resource limit is retained, hence the error.

[2019-04-15 09:02] mohammedzee1000 commented on #1613
I guess it would help in the way you say if we rebalance pr tests accordingly

[2019-04-15 09:13] kadel opened #1615 "do not autogenerate application name"
Currently, we autogenerate an application name for each component.
This can lead to some confusions as when you create two components without `--app` flag they will be in different applications.

Instead of this, we should use some default name, like `app`.

[2019-04-15 09:22] girishramnani opened #1616 "Uncomment and resolve link_tests"
Currently the link_tests are failing, we should uncomment them and update them so they don't fail.

[2019-04-15 09:24] girishramnani commented on #1492
This issue's scope is to only verify that odo link works in the new workflow.
Resolution of the link tests is scoped out to this issue https://github.com/openshift/odo/issues/1616 @syamgk @kadel

[2019-04-15 09:25] #1492 closed

[2019-04-15 09:26] syamgk commented on #1616
https://github.com/openshift/odo/pull/1580 there is a pr for link_test wrt to the new workflow

[2019-04-15 09:28] syamgk commented on #1492
ack!

[2019-04-15 12:03] kadel opened #1620 "slow project.Exist is making whole odo slow"
The whole odo is slow because of how we check if project exist.
Instead of using one call to the api server it list all the projects in the cluster.

And because of how `project.List` is implemented it also lists all DC in each project.

If `project.Exists("myproject")` is called  and user has 10 projects,this simple check will result in  10 API calls :-(

[2019-04-15 12:41] surajnarwade opened #1621 "test flake on e2e-core test"
* On PR: https://github.com/openshift/odo/pull/1610

* In this logs, `oc new-project,  myproject` is working fine:

Link: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_odo/1610/pull-ci-openshift-odo-master-e2e-core/530/build-log.txt

* In this log, `oc new-project myproject` is failing:

Link: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_odo/1610/pull

[2019-04-15 13:52] #1597 closed

[2019-04-15 14:43] #1491 closed

[2019-04-15 15:37] kadel opened #1623 "odo component fails when anyuid is set"
### UPDATE 2019-04-17
see https://github.com/openshift/odo/issues/1623#issuecomment-484110785

### Original issue description
I'm unable to create component due to failure in one of the iniContainer (copy-files-to-volume)

~~The strange part is that this is not consistent it is happening only sometimes.~~
Update: Now I'm getting this every time on OpenShift 4.0 cluster

[code]

I'm able to observe

[2019-04-15 15:40] kadel commented on #1623
inside initContainer:
[code]

[2019-04-15 15:55] kadel commented on #1623
It looks like that  OpenShiftCI is failing for the same reason

[2019-04-15 15:57] #1615 closed

[2019-04-15 16:23] #1620 closed

[2019-04-15 16:33] kadel commented on #1611
It looks like this might be something related to CDK.
I've tried to reproduce this on minishift v 1.32. and everything worked for me.

I'll try this later with CDK.

[2019-04-15 16:45] kadel opened #1624 "json test fails even if the output is macthing expected output"
[code]

Test failed even if outputs are the same:

[code]

[2019-04-15 16:47] kadel commented on #1624
Gomege has `MatchJSON` which might help here https://onsi.github.io/gomega/#matchjsonjson-interface

[2019-04-15 19:12] rctrh commented on #1611
I switched to upstream mnishift 1.33 from github.    After I cleaned everything out and restarted everything this error on a subsequent push went away.  So I was able to follow the example.

For CDK I was using the current release CDK 3.8 which includes minishift 1.31 and openshift 3.11

[2019-04-16 05:01] syamgk commented on #1314
Closing since the CI setup has changed, and we are not using Circle CI

[2019-04-16 05:01] #1314 closed

[2019-04-16 05:57] amitkrout commented on #1624
@kadel https://github.com/openshift/odo/pull/1625#pullrequestreview-226987808

[2019-04-16 06:07] dharmit commented on #1549
[code]
which looks similar to #1599

[2019-04-16 06:30] girishramnani commented on #1549
@dharmit `odo config view` will only work if you have a component in the current folder
which means as the command suggest you need to create a component by doing
`odo create <type>`  or `odo create nodejs`

[2019-04-16 06:33] amitkrout commented on #1613
Yes, Just waiting for my another pr #1612 to go in first then only we can implement this issue in more efficient and stable way.

[2019-04-16 08:16] amitkrout commented on #1611
@rctrh Hope your issue is resolved after using the upstream minishift bits. Can you close the issue or else let us know what improvement you need from odo side.

[2019-04-16 11:23] kadel opened #1628 "flaky test (failing odo push)"
[code]

[2019-04-16 11:25] amitkrout commented on #1628
[code]

[2019-04-16 11:26] amitkrout commented on #1628
[code]

[2019-04-16 12:38] amitkrout commented on #1628
#1625

[2019-04-16 13:17] amitkrout commented on #1628
@surajnarwade @mohammedzee1000 Are you seeing anything suspicious in https://github.com/openshift/odo/issues/1628#issuecomment-483620139 and https://github.com/openshift/odo/issues/1628#issuecomment-483620349 with respect to the push failure ?

[2019-04-16 14:22] cdrage opened #1630 ".gitignore and .odoignore not working correctly under Windows"
[kind/bug]

## What versions of software are you using?
- Operating System: Windows
- Output of `odo version`: master

## How did you run odo exactly?

Using `odo watch` after deploying a component

## Actual behavior

.odoignore and .gitignore isn't working correctly.

## Expected behavior

To ignore files correctly

## Any logs, error output, etc?

See: https://github.com/openshift/odo/pull/1601

[2019-04-16 14:22] apupier commented on #1429
@girishramnani I notice that the issue has been removed from the sprint 164 without being integrated in the following 165
What is the length of your sprints?
Do you have an idea when it will be worked on?

[2019-04-16 15:53] cdrage opened #1631 "Add unit tests for relative path"
[kind/Enhancement]

## Which functionality do you think we should update/improve?

Adding tests for relative path / checking it

## Why is this needed?

Needed for adding tests / checking for regressions.

Reference PR: https://github.com/openshift/odo/pull/1601

[2019-04-16 16:01] kadel commented on #1623
Versions where it fails and where it works ok:

https://docs.google.com/document/d/1WUj_P2EY-xmDgTMcWwECMW7KnqvkCgR-wF-PDG5vayg/edit#heading=h.tz670zht39n

[2019-04-17 03:13] cdrage commented on #1628
I've been trying this for about 6-8 hours and I've only able to replicate this TWICE out of about 30 runs of:

[code]

So when the bug occurs, the current revision (after the first push) is:
[code]

With the current desired still being `0` and effectively it's still not *fully* deployed.

When diagnosing this issue, I also ran into ANOTHER issue from doing `odo push && odo url create && odo push`

[2019-04-17 06:28] kadel commented on #1623
I was able to reproduce this again today using odo build from last week (6799c8a7183887469838a2d36f83158772a72b9f) and current master (d7f528ce15e56bcc2463ed8152dd0449ba4aa4ae) on OpenShift cluster created by installer (v0.16.1)
(`Server Version: version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.4+0ba401e", GitCommit:"0ba401e", GitTreeState:"clean", BuildDate:"2019-03-31T22:28:12Z", GoVersion

[2019-04-17 06:42] #1552 closed

[2019-04-17 07:25] amitkrout commented on #1623
Asking for permission. Can you please add the information directly in the comment instead of gdoc.

[2019-04-17 07:43] amitkrout commented on #1623
I am successfully push java component on OpenShift cluster created by installer [0.16.1](https://github.com/openshift/installer/releases/tag/v0.16.1) and odo binary from master
[code]
[code]
[code]

[2019-04-17 07:46] kadel commented on #1623
@amitkrout notice that we both used installer v0.16.1 but our Server versions are different.
Yours is `v1.12.4+8156b0c` (from `2019-03-22T10:37:27Z`)
myne is `v1.12.4+0ba401e` (from  `2019-03-31T22:28:12Z`)

[2019-04-17 08:56] kadel commented on #1623
It looks like the issue is that the volume mount is writable only for root user.
If I use a different image that uses root user (like `busybox`), everything is ok. But once the container uses different users (java s2i image uses `jboss`) it fails.

Simple test to reproduce it:

test.yaml:
[code]
[code]

[code]

If you replace `"registry.access.redhat.com/redhat-openjdk-18/openjdk18-openshift"` wit