[2021-05-26 05:43] mohammedzee1000 commented on #4674
Error reproduced:

[code]

[2021-05-26 06:56] mohammedzee1000 commented on #4674
Tried other cases:

[code]

[2021-05-26 07:06] dharmit commented on #4728
How about trying to spin up the EtcdCluster instance using only it's yaml and kubectl?

You can get the YAML by doing `odo service create etcdoperator.v0.9.4-clusterwide/EtcdCluster --dry-run`. Use the output to start EtcdCluster using kubectl. Do you still see the same behaviour?

What about OCP 4.7 or minikube? Are you seeing similar behaviour on those clusters as well? Are the container images

[2021-05-26 08:10] mohammedzee1000 commented on #4687
Based on my research, i have found that, we initialize context in `list components` as below

https://github.com/openshift/odo/blob/17a078b67e9f6a2fed97b5bd5bab68c9505bf7cb/pkg/odo/cli/catalog/list/components.go#L46

This is basically the function below

https://github.com/openshift/odo/blob/17a078b67e9f6a2fed97b5bd5bab68c9505bf7cb/pkg/odo/genericclioptions/context.go#L160-L170

The call on the li

[2021-05-26 08:36] mohammedzee1000 commented on #4687
To fix this problem, I propose the following solution:

- [ ] Initialize `supported` variable to false
- [ ] Initialize Context and run `supported, err = o.Client.IsImageStreamSupported()` only if `KUBECONFIG` env is `""` or if specified path exists. This should prevent listing of image stream based components completely if `KUBECONFIG` is invalid path.
- [ ] Add tests to ensure it works as expect

[2021-05-26 08:56] anandrkskd commented on #4517
scope of this issue is:

- Replace the helper functions with above Runner functions, in all the test cases
- Remove all the helper function that will be replaced from helper_run.go

[2021-05-26 09:29] mohammedzee1000 commented on #4727
Trying on master build manually
Note: Redacted step to ssh into a windows node

First let's try with as it happens in the example given
[code]

Now lets try with different devfile eg

[code]

What about a different sprintboot devfile

[code]

The normal command seems to work fine

[code]

With this, we can conclude this is specifically happening in subdir devfile on windows

[2021-05-26 10:36] anandrkskd commented on #4467
Scope for this issue
1. For project created by odo with random name
- Create a draft PR for debug purpose, will follow [URL](https://www.openshift.com/blog/the-hidden-dangers-of-terminating-namespaces) contains some process that can help debug if any resources are interfering with the release process.
2. For projects that are created by test bash script for tests and not get deleted due to abort o

[2021-05-26 11:22] mohammedzee1000 commented on #4727
Further investigation reveals that the subdir is getting copied

[code]
This is what is present in https://github.com/odo-devfiles/springboot-ex/tree/master/src/main.
I verified that all files are present

[2021-05-26 11:23] mohammedzee1000 commented on #4727
Right now i have build an odo bin with log.infof in every other line. Once i can get this into win m/c and run it, il paste the logs here

[2021-05-26 11:25] anandrkskd commented on #4408
Scope for sprint 201:
- Ensure parallel run on mac and windows don't fail due to resource
- Create PR on release repo to start testing on PRs

[2021-05-26 11:25] anandrkskd commented on #4412
Scope for sprint 201:
- Ensure parallel run on mac and windows don't fail due to resource
- Create PR on release repo to start testing on PRs

[2021-05-26 11:34] mohammedzee1000 commented on #4727
Additional logging:

[code]

[2021-05-26 11:55] mohammedzee1000 commented on #4727
Scoping is still in progress

[2021-05-26 12:00] rnapoles-rh commented on #4288
When running when running provision-hosts.sh I get the following:

[2021-05-26 13:52] feloy commented on #4593
I'm re-opening this issue as the issue #4733 shows that in certain circumstances, some resources are not deleted before `odo delete --wait` terminates.

My understanding of [1] is that the dependent resources must have `ownerReference.blockOwnerDeletion=true` if we want odo to wait for the deletion of the dependent resource when deleting the parent with `propagationPolicy=Foreground`

Trying to se

[2021-05-26 14:59] josephca commented on #4639
Currently, the following tests are using the staging registry - https://github.com/openshift/odo/pull/4679
- odo catalog test
- odo registry tests

Thus, `odo create --registry tests` is remained to use the staging registry for the test.

[2021-05-27 06:29] mik-dass commented on #3423
Currently the devfile library generator doesn't allow to specify annotations while generating the service object https://github.com/devfile/library/blob/2aa02fa8648870c543dea5e45185a7333fcd35c3/pkg/devfile/generator/generators.go#L149. We will need to manually add it to the generated service object or make the required changes to the devfile library.

[2021-05-27 06:43] mohammedzee1000 commented on #4727
Ok one of my attempts to gather more info succeeded

[2021-05-27 06:45] mohammedzee1000 commented on #4727
Another attempt failed and here are the logs:

[code]
Based on this, I can conclude that sometimes there is a problem deleting the subdir in temp location

[2021-05-27 06:49] mohammedzee1000 commented on #4727
Summary: Based on above logs, I can conclude that

1. The error condition is a flake.
2. It fails while removing content from tmpdir i.e feliure happens on the line below
https://github.com/openshift/odo/blob/3196871acd1ee55dcc96d2bf8b1d6bfb247dfc8b/pkg/util/util.go#L1448

[2021-05-27 06:59] mohammedzee1000 commented on #4727
What i dont get tho is why the error says `CreateFile <redacted>\src\main: Access is denied.` in RemoveAll

[2021-05-27 07:03] feloy commented on #4727
[code]

It seems to me it is creating the file `C:\Users\Admin\mzee1000\odo_check\odo\prj\resources/application.properties`
but cannot *read* access the file `C:\cygwin\tmp\165401215\src\main\resources/application.properties`

Where is the code displaying `attempting to copy file ...` ?

[2021-05-27 07:16] kandarpamalipeddi commented on #4351
Hi @prietyc123 @dharmit
any update on this issue ?
Please let me know do you have any plans on this issue.

[2021-05-27 07:18] mohammedzee1000 commented on #4727
1. It is there
[code]
2. If it failed to copy any of the files, it would never reach line `done looping over all files, now attempting to remove files from srcpath blah` as the code is littered with `return err`
`

[2021-05-27 07:24] mohammedzee1000 commented on #4727
Either way, something is interfering randomly with the process

[2021-05-27 07:53] kadel commented on #4544
Annotations that DevConsole is using should be the same as described in https://github.com/redhat-developer/app-labels

[2021-05-27 08:03] valaparthvi commented on #4728
It seems like the problem is not with the InitContainer Image, but with DNS resolution.
It is possible to lookup with the FQDN, in this case - <example-pod-name>.example.myproject.svc.cluster.local but not without the cluster domain, so <example-pod-name>.example.myproject.svc` does not seem to resolve.

This same thing works on OCP4.7, but I don't know how to replicate this on K8s yet.

[2021-05-27 08:29] mik-dass commented on #4727
It might be because the directory is not closed before deleting https://github.com/openshift/odo/blob/3196871acd1ee55dcc96d2bf8b1d6bfb247dfc8b/pkg/util/util.go#L1418. Please try adding `defer outputDirRead.Close()` after this line.

[2021-05-27 08:33] mohammedzee1000 commented on #4727
hmm ok lemme try th

ok lemme try that

[2021-05-27 08:33] mohammedzee1000 commented on #4727
btw here are logs with klog

[code]

[2021-05-27 08:38] mik-dass commented on #4544
Currently, a component by odo can have the following annotations and labels
[code]
and a component by dev console can have the following annotations and labels
[code]

[2021-05-27 08:39] feloy commented on #4727
If you add a `defer Close()` here, it will be executed after removeAll(). Instead, you can make a new function that handles all the copy stuff, defering the Close at the end of this sub-function:

[code]

[2021-05-27 08:46] mohammedzee1000 commented on #4727
Hmm yea that actually makes sense. Tho as that code is not repeated, I guess we could just do anonymous func

[code]
wdyt @feloy ?

[2021-05-27 08:51] mohammedzee1000 commented on #4727
Ok updated code, will give it spin and report shortly

[2021-05-27 09:06] mohammedzee1000 commented on #4727
Awesome seeing consistent success across 15 runs we should be good.

[code]
Let me cleanout the extra logs and i should have pr up for fhis
thanks @feloy @mik-dass

[2021-05-27 09:12] mik-dass commented on #4727
Sorry missed the deletion at the end of the function. Closing the file after the directory read or before the folder deletion might work as well.

[2021-05-27 09:41] mohammedzee1000 commented on #4727
That is by far a simpler solution

[2021-05-27 09:47] mohammedzee1000 commented on #4727
Though I feel there is one drawback. defer ensures execution of close() in all cases except an actual panic and that could leave us with dangling file pointers in cases of error

[2021-05-27 09:50] feloy commented on #4727
Yes, the advantage os defer is to write the Close() only once, and not for all error/return cases. You also have to think that error/return cases will be added afterwards by future devs, and the risk of forgetting some Close() on these future cases is high. So the introduction of the defer, which is very useful

[2021-05-27 10:11] kadel commented on #4589
Devfile 2.1 was officially released https://github.com/devfile/api/releases/tag/v2.1.0

[2021-05-27 11:08] rnapoles-rh commented on #4288
- [x] PSI resource allocation was increased.
- [x] Install ansible and required pre-requesites in control machine (Linux VirtualBox)
- [ ] Provision 3.11 cluster
- [ ] After 3.11 provisioning run tests and ensure all test pass, fix failing tests or report bugs as required

I was able to move forward from the previous errors, the ocp-ansible-machine instance got created, then it fail due to timeout

[2021-05-27 11:15] valaparthvi commented on #4688
Scope of this issue for Sprint 202 -
tldr; Merge #4742
- [ ] Add integration tests - `odo list`, `odo list --all-apps`, `odo list --app app`, and `odo list -o json` for non-odo components
- [ ] Add unit tests for `pkg/component/component.go:List` for devfile, s2i and non-odo components.

[2021-05-27 11:16] dharmit commented on #4685
@kadel a couple of questions based on your comment:

1. So do we want a Pod or any other Kubernetes resource created this way to show up in any of the odo outputs like `odo service list`, `odo list`, etc.? I think no.

2. Do we just want to create and destroy Kubernetes resources mentioned as Kubernetes inlined component? Would it be user's concern to figure where/how to find them on the Kubernete

[2021-05-27 11:21] valaparthvi commented on #4462
Scope of the issue for sprint 202 -
- [ ] Add Cluster type info with `odo push` and `odo project create/set` - Use `IsProjectSupported` to decide between ocp and vanilla k8s clusters.
- [ ] Add ComponentType info with `odo push`, we already have this added for `odo create`.
- [ ] Add documentation for telemetry. Add usage data information to ReadMe. Add information that we are collecting with each

[2021-05-27 11:23] valaparthvi commented on #4451
Scope for sprint 202 -

- [ ] Merge #4641
- [ ] Make sure there are tests for both valid and invalid commands.
- [ ] Add checks for invalid commands.

[2021-05-27 11:28] kadel commented on #3423
The best approach might be to update devfile library to include the service annotations automatically

[2021-05-27 11:30] valaparthvi commented on #2784
`odo service create service-binding-operator.v0.7.1/ServiceBinding  -o json` and  `odo service describe ServiceBinding/example-servicebinding -o json` decorated with `apiVersion: odo.dev/v1` and `kind: Service` would look something like this -

[code]

Along with the above, we should also consider changing `odo service list -o json` to be inline with odo's API output. Which can look something like

[2021-05-27 11:32] kadel commented on #4685
Correct. Let's not show them anywhere. Unless of course, it is Service (Operator CR)

Yes, to the first question. The resources should be created and deleted on odo push / odo delete.

I don't understand the second question.

+1

[2021-05-27 11:37] kadel commented on #4544
The scope of this issue  is to add  `app.openshift.io/vcs-uri` annotation to make sure that the dev console can show a link to the source code.

When `odo push` is executed, odo should check if the local directory is a git repository. If yes, it should retrieve url of a currently active remote and add it as an `app.openshift.io/vcs-uri` annotation.

[2021-05-27 11:38] kadel commented on #4118
/remove-lifecycle rotten
/lifecycle frozen.

On Thu, 27 May 2021 at 00:51, OpenShift Bot ***@***.***>
wrote:

[2021-05-27 11:46] mohammedzee1000 commented on #4674
Ok I tried this with ci-firewall and it did not behave like this.
Now I will look at it from the angle of completion

[2021-05-27 12:54] dharmit commented on #4544
This is about adding only one annotation: `app.openshift.io/vcs-uri: `

[2021-05-27 22:01] dgolovin opened #4755 "`odo env -h` does not mention --context option"
/kind bug

## What versions of software are you using?

**Operating System:** linux

**Output of `odo version`:** 2.2.1

## How did you run odo exactly?

```odo env -h```

## Actual behavior

Help output does not have --context option info

## Expected behavior

Help output has '--context' option info

## Any logs, error output, etc?

[2021-05-27 22:27] #4727 closed

[2021-05-30 14:07] deboer-tim commented on #2840
/remove-lifecycle stale

[2021-05-30 19:18] #3302 closed

[2021-05-31 07:32] prietyc123 commented on #4651
Ahh... so here again `docker` rate limit thing happening on kubernetes cluster now, when I tried running operator hub tests on it.
Its actually `busybox` 🙁
[code]
@dharmit `etcd` services using `busybox` images pulled out of `dockerhub` . Shouldn't we use different images other than `etcd`.
I am not if we can do `configure` secret for `docker` into kubernetes cluster too. @kadel @mohammedzee1000 c

[2021-05-31 09:22] #4733 closed

[2021-05-31 11:33] jsoref commented on #4468
Still present

[2021-05-31 11:54] kadel commented on #4651
Ideally, we should use an entirely different service. Ideal would be MariaDB/MySQL, PostgreSQL/Percona, MongoDB or Redis.
Those are probably the most widely used databases using one of these for our test would be much better.

[2021-05-31 12:55] prietyc123 commented on #3256
Developer user doesn't have permission to get `persistence volume` details. So trying to debug it using `kubeadmin` user locally with patch
[code]

[2021-05-31 13:24] kadel commented on #4755
/priority medium

[2021-05-31 13:25] kadel commented on #4750
/priority high

[2021-05-31 13:34] kadel opened #4760 "Linking to "Not Pushed" services"
/kind user-story

## User Story
As an odo user I want to be able to create service and link at the same time So that can safe time not having to push twice

## Acceptance Criteria
- [x] `odo service link` should display "Not Pushed" services (they are present in devfile.yaml but not created on cluster yet, or in other words `odo service create` was called but `odo push` not)
- [ ] It should be pos

[2021-05-31 14:39] prietyc123 commented on #3256
I tried running the entire devfile suite twice locally and unfortunately everytime it passed 🙁 . I am going to try some more time to hit this error. I hope it occurs at leastt once.

[2021-06-01 11:40] mohammedzee1000 commented on #4674
Ok I did some more digging.

[code]
Also, I tried this with ci-firewall https://github.com/mohammedzee1000/ci-firewall

[code]

[2021-06-01 11:53] mohammedzee1000 commented on #4674
Based on this, i can conclude that:

- The problem is somewhere in cobra as ci-firewall just uses cobra without additional stuff like completion
- The is a pattern of inconsistent behavor here
  - The invalid flag error occurs if the flag specified has been added to subcommand that is invalid
  - This atleast propogates to parent of the sucommand in question.
  - It seems to correct itself if the

[2021-06-01 13:15] mohammedzee1000 commented on #4674
/status blocked

[2021-06-01 13:32] mohammedzee1000 commented on #4674
Note: Upgrading cobra to latest 1.1.3 does not fix this problem. I tried in a local branch and it still failed

[code]

[code]

[2021-06-01 15:49] mohammedzee1000 commented on #4674
cc @dgolovin fyi

[2021-06-01 23:17] #4687 closed

[2021-06-02 00:34] dgolovin commented on #4135
It is still an issue in 2.2.1 and that make impossible to delete component pushed to cluster without context.

[2021-06-02 02:04] #4694 closed

[2021-06-02 08:15] anandrkskd commented on #4517
Breaking down the changes for easy of understanding and tracking
- [ ] e2e-suite
- [ ] test helper
- [ ] integration test
- [ ] integration devfile test
- [ ] debug test
- [ ] login-logout
- [ ] operator hub
- [ ] project
- [ ] service catalog

[2021-06-02 14:05] kadel opened #4768 "no source code in container after `odo link` (odo push is not helping)"
[code]
- Installed operators:
  -  "PostgreSQL Operator by Dev4Ddevs.com" 0.1.1
  - "Service Binding" 0.7.1

[code]
Application is working and responding with 200

[code]

Application is not running, getting HTTP error 500
[code]

This is becuase there is no source code in the container
[code]

If I try to run `odo push -f` to force push files it is not syncing any files.

[code]

/kind bug

becau

[2021-06-02 14:07] kadel commented on #4768
I couldn't find a test that would verify that the application is still running after the link is created!

[2021-06-02 14:15] kadel commented on #4589
updating devfile/library in odo to latest master

[code]
[code]
[code]

[2021-06-02 15:46] #4734 closed

[2021-06-02 18:59] #4544 closed

[2021-06-03 07:16] #4693 closed

[2021-06-03 12:10] feloy opened #4771 "odo push does not create new services when services are already deployed"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

odo v2.2.1 (5f93e7ee6)

## How did you run odo exactly?

[code]

## Actual behavior

[code]

## Expected behavior

[code]

## Any logs, error output, etc?

[2021-06-03 13:04] girishramnani commented on #4615
The ideal fix for this should be to have `debug` command on converted devfile.

[2021-06-03 13:15] rnapoles-rh commented on #4288
3.11 provisioning failing with the following after creating all VM instances:
[code]
following up with Zeeshan

Just started exploring cluster deployment in the ibm cloud. IBM cloud account created. Checking with Karel about budget.

[2021-06-03 15:03] valaparthvi opened #4773 "Remove duplicity related to fakeDiscovery"
We use the following structs and their methods in [multiple test files](https://github.com/openshift/odo/search?q=type+fakeDiscovery+struct) when it could just be made public and used via imports.
[code]
We might need to define separate structs for K8s client and OC client.
/kind cleanup
/area local

[2021-06-03 17:44] mik-dass commented on #3423
We can specify the annotations with the current library version used by odo using the method

https://github.com/devfile/library/blob/bd6996094a73701919f96c9f3071623cfd27ddc3/pkg/devfile/generator/generators.go#L41.

The `selectorLabels` in `ServiceParams` are the labels used in the `ServiceSpec` of the generated service.

[2021-06-04 08:08] prietyc123 commented on #4728
@valaparthvi I suspect if there is configuration change on 4.8 cluster w.r.t dns configuration. Could you please try to verify on that area. Because its really strange that its working with suffix `cluster.local` but not simply.

[2021-06-04 09:55] valaparthvi commented on #4639
This issue is still in progress w.r.t. PR #4775.

[2021-06-04 12:36] kadel opened #4776 "Kuberenetes tests failing"
[code]

https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4769/pull-ci-openshift-odo-main-psi-kubernetes-integration-e2e/1400704802039533568

in PR https://github.com/openshift/odo/pull/4769

It looks like something went wrong with VM

/kind testing
/priority high
/kind failing-test

[2021-06-04 15:06] #4639 closed

[2021-06-06 01:24] #4342 closed

[2021-06-07 12:05] kadel opened #4778 "use go 1.16"
all our build and tests should run using go 1.16

Few things that needs to be updated
- [ ] prow jobs
- [ ] psi jobs
- [ ] release build scripts (#5140)

/priority high

[2021-06-07 12:22] girishramnani commented on #4615
One fix would be to set the `DEBUG_PORT` env variable when someone sets `DebugPort` in localEnvInfo?

[2021-06-07 12:50] feloy opened #4779 "Inconsistence for app.kubernetes.io/instance label value between OC 3.1 and OC 4 services"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

odo v2.2.1 (a54cfd86d)

## On a minishift cluster (with Openshift 3.11)

[code]

### Actual behavior

[code]

The `app.kubernetes.io/instance` label value is the name of the service (`my-dh-postgresql-apb`)

## On a CRC cluster (Openshift 4 with Operator backed services):

### How did you r

[2021-06-07 13:26] #4350 closed

[2021-06-07 20:16] jkupferer opened #4783 "Support multi-line values for environment variables."
/kind feature

## Which functionality do you think we should add?

`odo config set --env ...` should support multi-line values.

## Why is this needed?

Sometimes users need to pass in values with newline characters to environment variables, for example, TLS certificates. It would be great if we could use something like:

[code]

Rather than this ugly work-around:

[code]

Currently using the firs

[2021-06-08 06:20] prietyc123 commented on #4651
On ocp 4 `mongodb-enterprise` operator failed to install due to
[code]
I will look for some other operator which installs smoothly.

For minikube, I guess we have some problem in our backend implementation https://github.com/openshift/odo/pull/4754#issuecomment-854744010

[2021-06-08 06:46] prietyc123 commented on #4778
Instead of calling it with versions, how about when we just say, run test on latest go?

[2021-06-08 07:00] kadel commented on #3980
#4287 was fixed.
We need to start working on this again. We currently don't test ServiceCatalog integration at all and that is a problem.

[2021-06-08 07:19] kadel commented on #4778
sure, we can do that. But latest go needs to mean latest stable version as it is on https://golang.org/dl/ not latest version that is awailable for a given system.

Test run on different systems, Linux (fedora, centos ...), win, mac ... We need to make sure that at least we use the same minor (1.16.x) version everywhere.  We should not have one system running 1.14.x and the other 1.16.x

[2021-06-08 07:44] kadel commented on #4783
/priority medium
/area component

[2021-06-08 07:45] kadel commented on #4771
/priority medium
/area service-operators

[2021-06-08 07:45] girishramnani commented on #4768
This would be related to source code not being present in the pvc mount I suppose?

[2021-06-08 07:46] kadel commented on #3734
not bloked anymore
/remove blocked
/reopen

[2021-06-08 07:59] kadel commented on #4674
It looks like this is simply a cobra feature. It validates flags first and then commands.
Not much we can do from our side.

/close
/triage unresolved

[2021-06-08 07:59] prietyc123 commented on #4778
+1

[2021-06-08 08:56] kadel commented on #4776
after cleaning go mod cache `go clean -modcache` it fails on
[code]

Interesting is that copy/pasting build command `go build -mod=vendor -ldflags="-X github.com/openshift/odo/pkg/version.GITCOMMIT=a54cfd86d" cmd/odo/odo.go` exectued by `make` makes it build sucesfully

[2021-06-08 09:37] kadel commented on #4776
it looks like that for some reason when the command is executed using `make` it ignores `-mod=vendor` that's why it fails on checksum mismatch

[2021-06-08 11:18] girishramnani commented on #4615
@kadel thoughts on the possible fix^

[2021-06-08 11:41] rnapoles-rh commented on #4288
Onboarded to the IBM Cloud. Currently reviewing guidelines, documentation, and troubleshooting permissions.

[2021-06-08 12:06] prietyc123 commented on #3256
Running the same patch on jenkins gives `deployment rollout` with failed to attach volume
Error:
[code]
I tried getting the pvc and pv. They seems to be in place as expected. So overall I feel it is psi network issue which leads these failures to pop up on.
[code]

[2021-06-08 13:48] kadel commented on #4776
It was failing when something got changes in vendor.
The reason for failure was that `go list` in
[code]
was not using `-mod=vedor`
the same for `ginkgo` commands

fix: https://github.com/openshift/odo/pull/4784

[2021-06-08 16:45] girishramnani commented on #2784
@valaparthvi if you dont have bandwidth to work on this issue in this sprint, do you mind if I pick this up?

[2021-06-08 16:53] girishramnani commented on #4755
@dgolovin technically `odo env set`, `odo env view` and `odo env unset` should have this flag and they do
[code]

Should `odo env -h` have this flag as well?

[2021-06-08 17:09] girishramnani commented on #4570
I can work on this
/assign

[2021-06-09 06:04] dgolovin commented on #4755
@girishramnani I think you are right here, because --context does not make sense for `odo env`.
Closing this issue.

[2021-06-09 06:04] #4755 closed

[2021-06-09 06:13] valaparthvi commented on #2784
@girishramnani Sure, I don't have a problem with that.

[2021-06-09 07:31] kadel commented on #4741
This can be easily done even with the current structure.

This new proposed structure actually decreases test readability as the test scenario (implementation) is disconnected from its `Context` and `It` blocks.

To me, this new approach is actually disturbing scenario integrity by moving test implementation away from `Context` and `It` blocks.

For me this makes tests harder to read.

[2021-06-09 09:10] kadel opened #4786 "odo catalog describe service doesn't work"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
Sevice exists I can see it in catalog, but it fails to describe it

[code]

## Actual behavior
[code]

## Expected behavior
I should be able to see some details about the operator service
[code]

I would also expect the same information, but in json format
[c

[2021-06-09 11:20] girishramnani commented on #2784
/assign

[2021-06-09 12:34] dharmit commented on #4786
IMO, this is a feature and not a bug. We didn't scope/think of this when implementing.

Besides that, for Operator backed services we expect the users to provide `<operator-name>/<cr-name>` instead of just `<operator-name>`. That's our basis for differentiating if user wants details about Operator backed service or Service Catalog backed service.

PTAL https://github.com/openshift/odo/issues/2615#

[2021-06-09 12:39] dharmit commented on #4570
@girishramnani it's not directly connected to the Milestone we're targeting https://github.com/openshift/odo/milestone/15. Although I understand it helps improve the UX for the users who do `odo link`. Considering how close we are to due date for the milestone, I would request not to prioritize this for time being.

[2021-06-09 14:00] kadel opened #4789 "Windows unit tests times out way to often"
pull-ci-openshift-odo-main-psi-unit-test-windows often ends on 2h timeout.

As of now in last 24hours **26 runs failed** after 2 hours and **only 2 were successful**

https://prow.ci.openshift.org/?repo=openshift%2Fodo&job=pull-ci-openshift-odo-main-psi-unit-test-windows

[2021-06-09 14:12] kadel commented on #4789
also, this test should have a lower timeout. If it is successful it usually takes 9 minutes. Setting timeout to 20 would be more than enough. And it would avoid the situation like we have right now where we have over 10 jobs in queue just waiting to fail.

[2021-06-09 21:20] dgolovin commented on #4674
@kadel That kind of does not make sense, especially when commands supposed to have different options. I looked at example for cobra and it seems validates command first.

[2021-06-10 06:09] dgolovin opened #4790 "`odo catalog service describe service/cr -o json` output is not openAPIV3Schema json"
/kind bug

## What versions of software are you using?

**Operating System:** Linux

**Output of `odo version`:** 2.2.1

## How did you run odo exactly?

`odo catalog service describe service/cr -o json`

## Actual behavior

Output contains resource description from ClusterServiceVersion not actual CRD's openAPIV3Schema, thus type and format attributes are missing, which are required to generate u

[2021-06-10 06:40] prietyc123 commented on #4776
We are still facing this issue on fedora machine https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4754/pull-ci-openshift-odo-main-psi-kubernetes-integration-e2e/1402613266974248960#1:build-log.txt%3A174

[2021-06-10 09:45] prietyc123 opened #4792 "Migrating to IBM cloud Infra"
/kind user-story
/area testing

Related issue: https://issues.redhat.com/browse/ODO-66

[2021-06-10 10:11] kadel commented on #4786
This is really confusing for the user. I think that if someone runs `odo catalog describe service` with the argument that matches the operator name it should show a description and list of CRDs..

ok, maybe overacted to this. But I still feel that this should be relatively high priority as the is a big usability problem.

/remove-kind bug
/kind feature

[2021-06-10 10:38] prietyc123 commented on #4726
We are still facing the same issue with golang 1.14 on fedora.

[2021-06-10 10:38] prietyc123 commented on #4776
duplicate of issue https://github.com/openshift/odo/issues/4726

[2021-06-10 10:38] #4776 closed

[2021-06-10 11:14] mohammedzee1000 opened #4794 "Protocol missing for ingresses in `odo app describe` on openshift clusters"
/kind bug

## What versions of software are you using?
current main as of filing of this issue

**Operating System:**
Fedora 32

**Output of `odo version`:**

[code]

## How did you run odo exactly?
- use any nodejs app and create nodejs devfile component
- Create any ingress url with appropriate host, port and protocol
- Do an `odo app descibe` and observe the description of url you created. Comp

[2021-06-10 13:01] mohammedzee1000 commented on #4593
/unassign
/assign @feloy

[2021-06-10 13:03] rnapoles-rh commented on #4288
Created 4.7 cluster in the IBM Cloud. Looking on how to provision a 3.11 cluster (depreciated in IBM Cloud). Also checking  how to onboard a robot account.

[2021-06-10 13:09] dharmit commented on #4288
`minishift` can work with a remote VM. Might be worth exploring.

[2021-06-11 01:29] #4355 closed

[2021-06-11 05:53] mohammedzee1000 commented on #4592
The PR linked above is ready for review.It is the part one of tix for this issue and there will be a followup pr

[2021-06-11 08:28] dharmit commented on #4651
First image - I created a 4.8 cluster using the cluster bot and I'm seeing the Postgres Operator that I mentioned in my previous comment.

Second image - What's different from the OCP cluster you showed me on the call is that this cluster has a total of 447 items (total number of Operators available to install) compared to <200 on that cluster. I think this is because the catalog sources are not f

[2021-06-11 09:19] #4771 closed

[2021-06-11 09:41] valaparthvi commented on #4688
@kadel How do you suggest we ensure that the components not created by `odo` are read-only?
I assume they are by default because of the select `app.kubernetes.io/managed-by: odo` and for non-odo components it's anything but that.

Do you have some other way to ensure the read only part?

[2021-06-11 10:04] prietyc123 commented on #4649
@rnapoles-rh Do we really need polarian for release readiness doc to populate automatically. I feel polarian is completely different task, no?

[2021-06-11 10:20] kadel commented on #4688
I was automatically assuming that all other commands are already using  `app.kubernetes.io/managed-by: odo` selector, so we don't have to worry about this and those "external" components are already invisible for other odo commands.
Is that true?

[2021-06-11 10:20] dharmit commented on #4688
I think the components created by other tools can't be accessed beyond `odo list` anyway because we don't have their devfiles.

[2021-06-11 10:23] valaparthvi commented on #4688
Is that true?

True. That is my understanding.

[2021-06-11 14:38] #4726 closed

[2021-06-12 07:14] girishramnani commented on #4790
@dgolovin - I am really sorry for the confusion, but this is intentional and to know more please go over the revised proposal https://github.com/openshift/odo/pull/4751

[2021-06-12 07:36] girishramnani commented on #4570
understood, but whenever we plan to work on this, could I be assigned to it?

[2021-06-12 07:37] girishramnani commented on #4786
I can work on this, can we finalise the json output as well @kadel

[2021-06-12 07:38] girishramnani commented on #4786
renamed the title to match the feature

[2021-06-12 07:46] girishramnani commented on #2784
Just so I am not blocked I might open a cascading PR based on this branch https://github.com/openshift/odo/pull/4704 (in worst case)

[2021-06-12 07:54] girishramnani opened #4796 "odo catalog describe service <operator> --example"
/kind feature

## Which functionality do you think we should add?
`odo catalog describe service <operator> --example` should print the alm-example present in the CSV for that operator.

## Why is this needed?
Sometimes the `odo catalog describe service <operator` is too overwhelming for the user as it could hold all the possible parameters that an operator consumes. A user might just want to see a

[2021-06-12 07:56] girishramnani commented on #4796
This is really straight-forward to implement as we would just print what we have in `odo service create <operator> --dry-run`.
Now assuming dry-run has a json output, we use that or we just convert the `odo service create <operator> --dry-run` output to a json ( as its yaml in human readable output )
Sample expected output

[code]

[2021-06-12 08:04] girishramnani opened #4797 "Allow support for "Additional printer columns" for CRDs"
/kind feature

## Which functionality do you think we should add?
If a CRD has "Additional printer columns" we should show those values when a user does `odo service list`.
Reference to "Additional printer columns" https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#additional-printer-columns.

## Why is this needed?
This would allow us to provide the s

[2021-06-12 08:06] girishramnani commented on #4797
This would be complex to implement from UI standpoint for odo as each CRD could have different "printer columns" so we need to design a better UI to list services maybe?

[2021-06-12 08:14] girishramnani commented on #4786
should we add this to milestone 2.3 @dharmit ?

[2021-06-13 22:46] rnapoles-rh commented on #4649
@prietyc123 yes, we do need Polarion. The Release Readiness document has two components, defect metrics (pulling data from GitHub) and test metrics (pulling data from Polarion). For this to happen, the automated test results have to be pushed to Polarion (this includes two steps, 1) create test cases (or test execution records), 2) update those test execution records with the test results). I crea

[2021-06-14 05:20] prietyc123 opened #4798 "Run test on kubernetes using IBM cloud"
/kind user-story

## Scope of Issue
- [x] Get a fedora VM running on IBM Cloud for kubernetes testing (marked done since we'll us the existing VM on PSI instead of spining up a new one on IBM Cloud).
  - Currently there's Jenkins running on PSI.
  - A VM acts as Jenkins slave/worker node and executes tests on target cluster
  - The target cluster is going to be IBM Cloud Kubernetes Service - https

[2021-06-14 06:41] dharmit opened #4799 "`odo create` command takes unusually long to complete"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `main`

## How did you run odo exactly?
`odo create nodejs -v4`

## Actual behavior
odo takes little over 5 seconds to create a component even with Telemetry disabled/

## Expected behavior
odo sholdn't take this long to create a component when Telemetry is disabled

## Any logs, error o

[2021-06-14 07:12] dharmit commented on #4786
IMO, no. We should pick this up in 2.4 IMO.

[2021-06-14 07:21] #4615 closed

[2021-06-14 07:35] dharmit commented on #4796
`odo service create <operator-name>/<cr-name> --dry-run` already does this.

[2021-06-14 08:39] prietyc123 commented on #4651
blocked on https://github.com/openshift/odo/pull/4704

[2021-06-14 08:47] prietyc123 commented on #4649
You are right, but my point was, as we don't have polarian currently. So IIUC at least to track test results `pass/fail` rate and some more data can be fetched from [periodic job status](https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/?type=periodic&job=periodic-*odo*) atm. I feel this should not be more of a task.
Later on when we have polarian we will automate the flow accordingly. I think we

[2021-06-14 10:06] kadel commented on #4799
we are not able to safely reproduce this. I'm putting this on
/priority low
for now.

[2021-06-14 10:59] dharmit commented on #4651
Added it back to "In Progress" for Sprint 202 since @girishramnani removed it by mistake.

[2021-06-14 11:23] dharmit commented on #4208
#4777 will go in soon. It'll address the long-pending feature that we had working with s2i components. @feloy please also consider that `odo link` now works with both an Operator backed service and another odo component.

[2021-06-14 11:24] anandrkskd commented on #4467
1. For project created by odo with random name
- In recent builds no Project created by our test was left behind, this was verified by running test using jenkins and manually.

2. For projects that are created by test bash script for tests and not get deleted due to abort or other reason, example project name odo-pr-build*
-  PR is created in internal repository to recheck in post build if we have

[2021-06-14 11:59] rnapoles-rh opened #4800 "Migration to IBM Cloud"
/kind user-story

## User Story
As a developer and tester I want to run tests in the IBM Cloud So that we can get a stable and reliably test framework

## Acceptance Criteria

- [x] Get onboarded as admin
- [x] Create prerequisites for cluster creation (VPCs, cloud storage, subnets)
- [x] Create 4.7 Cluster
- [-] Create 3.11 Cluster > No longer required as we are dropping support for 3.11
- [x] Cr

[2021-06-14 12:11] dharmit commented on #4728
4.8 release is on July 12, 2021. Ideally, fix the issue before that.

[2021-06-14 12:24] dharmit commented on #4651
Try to install a "clusterwide" operator from operatorhub.io @prietyc123 @girishramnani

[2021-06-14 12:31] rnapoles-rh commented on #4649
@prietyc123  "more data can be fetched from periodic job status atm", this can be a temporary solution. However, according to DDR and PQI processes across Red Hat, test metrics are tracked in Polarion. ODO issue 64 in JIRA tracked the creation of our Polarion project, EPIC 63 is the parent. You created 6 other issues in JIRA related to Polarion that are part of what needs to be done for Polarion,

[2021-06-14 12:51] rnapoles-rh commented on #4792
Tracking this with https://github.com/openshift/odo/issues/4800

[2021-06-14 12:51] #4792 closed

[2021-06-14 12:52] dharmit opened #4801 "Test `odo link` extensively for 2.3 release"
### Goal
`odo link` has added a bunch of capabilities and fixed some issues. This issue tracks all the scenarios we should check before 2.3 release and make sure they are working well.

### Acceptance Criteria
A component means devfile based component
#### Must haves
- [x] `odo link` a component with an Operator backed service (https://github.com/openshift/odo/issues/4801#issuecomment-872022431)
-

[2021-06-14 13:44] mohammedzee1000 commented on #4592
What is completed in https://github.com/openshift/odo/pull/4661:

- [ ] Create generator for networking v1 ingress
- [ ] Create Union for networking v1 and extensions v1 ingress
- [ ] Add new client functions for creating, deleting, getting, and listing ingresses using union
- [ ] Update usages of list across the code
- [ ] Fixing tests as needed without modifying them too much

What is left:

- [

[2021-06-14 14:21] girishramnani commented on #4796
Yeah @dharmit , but its not so obvious that `--dry-run` gives you an example. hence I suggested

[2021-06-14 15:35] dharmit opened #4802 "`odo create nodejs <custom-name>` should store component name in `.metadata.name` field of devfile"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `main`

## How did you run odo exactly?
`odo create --s2i nodejs node`

## Actual behavior
[code]
## Expected behavior
[code]

/milestone 2.4

[2021-06-14 17:11] #4451 closed

[2021-06-14 20:04] joshuawilson commented on #4510
Did any of you ever take a look at this?

[2021-06-15 01:54] #4688 closed

[2021-06-15 07:27] girishramnani commented on #2784
We dont like unpushed services yet here @kadel?

[2021-06-15 10:24] girishramnani commented on #4796
So, currently `--dry-run` doesn't have json output, so I wouldn't add json output to it as that is scoped into a separate issue.
But I will add json output for this `--example` piece. https://github.com/openshift/odo/issues/2784

[2021-06-15 11:06] prietyc123 commented on #4651
I have found redis operator which works on both minikube and ocp https://github.com/openshift/odo/commit/a6afd62c3b389a6108bfd49540f31e91ffd3f1c1

[2021-06-15 14:13] dharmit commented on #4481
/remove-lifecycle stale

[2021-06-15 14:34] dharmit commented on #4192
@valaparthvi is this epic fully addressed by #4742 or is anything pending?

[2021-06-15 14:53] dharmit opened #4808 "`odo list` output should have a column indicating if component is managed by odo"
/kind feature

## Which functionality do you think we should add?
`odo list` output should have a column (or multiple columns?) like that for `odo service list` (`MANAGE_BY_ODO` column) which indicates if the component is managed by odo or not.

There doesn't have to be any differentiation between devfile and s2i components (https://github.com/openshift/odo/issues/4808#issuecomment-862228191).

##

[2021-06-15 15:41] deboer-tim commented on #4219
/remove-lifecycle stale

[2021-06-15 15:41] deboer-tim commented on #4219
/remove-lifecycle rotten

[2021-06-15 15:41] deboer-tim commented on #4218
/remove-lifecycle rotten

[2021-06-15 20:11] #3423 closed

[2021-06-15 23:22] #4160 closed

[2021-06-16 04:22] valaparthvi commented on #4192
I would say everything has been covered.

[2021-06-16 05:34] dharmit commented on #4192
OK. Thank you.

/close

[2021-06-16 05:34] #4192 closed

[2021-06-16 05:44] dharmit opened #4810 "`odo link` error message for unpushed component should be more understandable"
## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `main`

## How did you run odo exactly?
[code]

## Actual behavior
[code]

## Expected behavior
[code]

/good-first-issue
/area linking
/kind bug

[2021-06-16 05:50] dharmit commented on #1052
@mohitsuman this has been fixed by https://github.com/openshift/odo/pull/4777.

[2021-06-16 06:31] feloy commented on #4768
The reason is that `odo link` only creates a servicebinding, and the effect is that the SBO creates a new pod to make the link effective.
But `odo` didn't have a chance to re-synchronize the file into the `/project` directory after SBO recreates the pod.

As the flow changes with https://github.com/openshift/odo/issues/4208, it should fix this issue.

[2021-06-16 06:43] sbouchet commented on #4592
Hi guys,

not sure it's the correct place but I ran into an issue with this deprecation message. It breaks the json output we use by adding the warning message in the output.
in odo 2.2.0, it's to present, so I consider it like a regression.

below the output for the same command used by our tooling with odo 2.2.0 and 2.2.1 on a Kubernetes 1.20.0 cluster

[code]

[2021-06-16 07:29] dharmit commented on #4768
@feloy can we also ensure that we have an integration test for this?

[2021-06-16 07:44] mohammedzee1000 commented on #4592
@sbouchet yep Fixing is in progress. Should hopefully get fixed in this sprint

[2021-06-16 07:47] mohammedzee1000 commented on #4592
Infact once the pr above goes in you should at least not see the error for listing

[2021-06-16 07:58] girishramnani commented on #4796
cc @kadel

[2021-06-16 08:05] #4240 closed

[2021-06-16 08:14] girishramnani commented on #4808
if we are gonna remove s2i soon, do we wanna do this?

[2021-06-16 09:45] anandrkskd commented on #4745
There's a plugin for this upstream but it's not yet enabled openshift, I have created a enhancement request on their side.

[2021-06-16 09:49] anandrkskd commented on #4778
The release builds currently has a go 1.15 for latest build target, I think we should do that instead going for 1.16 for now.
We can create a separate ticket to add a newer version of golang(1.16).

[2021-06-16 09:51] kadel commented on #2784
This was supposed to be implemented in https://github.com/openshift/odo/issues/4160

[2021-06-16 09:57] kadel opened #4813 "odo service create -p --dry-run should show "parametrized" crd"
/kind bug

## What versions of software are you using?

**Output of `odo version`:**
[code]

## How did you run odo exactly?
`odo service create  postgresql-operator.v0.1.1/Database -p databaseName=mydb -p databaseUser=user -p databasePassword=pass  --dry-run`

## Actual behavior
shows alm-example
[code]

## Expected behavior
the flag is called --dry-run, so it should show what will be created

in

[2021-06-16 10:04] kadel commented on #4808
+1 for coming up with a better format for `odo list`, and if possible aligning it with `odo service list`

-1 for adding information about s2i component

after this command is executed the component is a regular devfile component, beyond `odo create` we should not make any difference between components, it as all Devfile after this.

BTW: spoke to Mohit and Stephane, OpenShift connector plugin and

[2021-06-16 10:07] kadel commented on #4802
This is correct behavior.

If you are running
[code]
you are specifying that your component should be named `node` and this should reflect `metadata.name`

[2021-06-16 10:07] valaparthvi commented on #4462
Scope for 203 -
- [ ] Merge #4763
- [ ] Add cluster ID

[2021-06-16 10:08] kadel commented on #4797
/priority low

[2021-06-16 10:13] girishramnani commented on #4813
this is really interesting and really good thought. but isn't this a feature?

[2021-06-16 10:22] dharmit commented on #4808
Modified the issue description accordingly.

[2021-06-16 10:42] dharmit commented on #4802
Then IMO it's a bug that `odo create nodejs nodejs-ex-123` (note that there's no `--s2i` passed this time) doesn't set `.metadata.name` to `nodejs-ex-123` in the resulting devfile:

[code]

[2021-06-16 11:14] tdiesler opened #4814 "Permission issue on MacOS when trying to access .Trash"
/kind bug

There may be a permission issue on MacOS when trying to access .Trash

[code]

## What versions of software are you using?

**Operating System:**  MacOS 11.2.3

**Output of `odo version`:** v2.2.1

## How did you run odo exactly?

[code]

[2021-06-16 11:18] kadel commented on #4814
Hi @tdiesler, it looks like you are trying to execute `odo create` from your home directory.
Can you try creating a new empty directory and run the command there?
[code]

[2021-06-16 11:22] kadel commented on #4802
This is something that we should change. When we start with devfile there was no other way to do this so we used  `env.yaml` to store the custom name. Now there is no reason to keep doing this, and we should use `metadata.name` for it.

[2021-06-16 11:24] tdiesler commented on #4814
Yes, that works

[2021-06-16 11:35] dharmit commented on #4802
@kadel modifying current issue description seems like a mess. I'll create another issue.

Another problem is that if we do `odo create --s2i nodejs nodejs-ex-123`, `.metadata.name` gets set correctly, but `.metadata.language` doesn't. Which would become a problem for telemetry because there won't be any way to find `componentType` information.

Opening separate issue for both the problems.

/close

[2021-06-16 11:35] #4802 closed

[2021-06-16 11:40] dharmit opened #4815 "`odo create <comp-type> <comp-name>` should use `<comp-name>` value in devfile's `.metadata.name`"
/kind feature

## Which functionality do you think we should add?
As pointed out in https://github.com/openshift/odo/issues/4802#issuecomment-862297237, `odo create` did what it's doing right now because there was no other option at the time.

But now the behaviour should be changed so that it looks like the **Expected** section.
### Now
[code]

### Expected
[code]

## Why is this needed?
More inf

[2021-06-16 11:42] dharmit opened #4816 "`odo create --s2i` should set `.metadata.language` in devfile.yaml"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `main`

## How did you run odo exactly?
`odo create --s2i nodejs nodejs-123`

## Actual behavior
`.metadata.language` is not set in the devfile.yaml

## Expected behavior
`.metadata.language` should be set to nodejs in the devfile.yaml

## Any logs, error output, etc?
This is required be

[2021-06-16 11:49] mohammedzee1000 commented on #4750
Got caught up in release and other stuff and hence still not done investigating

[2021-06-16 11:58] prietyc123 commented on #4651
Scope of the task for sprint 203:

- [ ] Refactoring operatorhub test for using `redis` operator
- [ ] Create issue and Fixing failures, if any

[2021-06-16 12:00] anandrkskd commented on #4408
What needs to be done is
- set secrets for IBM account
- changes in scripts ( if required )

[2021-06-16 12:12] dharmit commented on #4789
Take a look at the existing Windows VM and try to figure out why unit tests are not running at all on it.

[2021-06-16 12:15] dharmit commented on #4412
@rnapoles-rh is working on setting up OCP cluster on IBM Cloud. Once that's up, point the Windows & macOS tests to use that cluster instead of PSI.

Need to figure out a way to create an equivalent of `developer` account on OCP on IBM Cloud.

[2021-06-16 12:16] dharmit commented on #4408
https://github.com/openshift/odo/issues/4412#issuecomment-862329419

[2021-06-16 12:20] rnapoles-rh commented on #4800
Ran Integration tests locally targeting the 4.7 cluster in IBM Cloud using Kubeadmin equivalent
Need to create a token and customize access to equivalent of developer account

[2021-06-16 12:23] dharmit commented on #4778
OCP uses go 1.16 everywhere. They have their own build targets; ours are decided by a different team.

* We could open a request with the build team to use 1.16 for odo's build targets if we want to move to 1.16 in odo repo.
* Or, figure out how OCP always uses latest go version in their build targets and do that for odo as well. (preferred approach)

Else, we bump to 1.15 (current latest in build

[2021-06-16 12:28] dharmit opened #4817 "Dangling directories left by unit test run on all platforms (Windows, macOS, Linux)"
/kind bug
/area testing

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?
`make test`

## Actual behavior
Large number of dangling directories from unit test run

## Expected behavior
Dangling directories to be not there.

/priority high

[2021-06-16 12:30] dharmit opened #4818 "Skip CI for changes to Changelog.md"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

## Actual behavior

## Expected behavior

## Any logs, error output, etc?

[2021-06-16 12:51] dharmit commented on #4651
* You could add tests for making sure that env vars are rightly populated in the pod of odo component.
* Check for existence of files if `odo link --bind-as-files`.

[2021-06-16 13:59] kadel commented on #4814
I'm keeping this open.
That there is still a problem. Odo doesn't clearly communicate to the user the fact that the command should be started in a clean new directory.

[2021-06-16 14:00] kadel commented on #4813
From the user's point of view, this is a bug. `--dry-run` should behave as a dry run and it is not currently doing that.

[2021-06-16 14:04] kadel commented on #4318
/remove-lifecycle stale
/lifecycle frozen

[2021-06-16 14:07] kadel commented on #4786
feel free to start with initial proposal of how the output could look like

[2021-06-16 14:09] kadel commented on #4570
This is not planned for the current sprint, nor this is in progress.
It should not be assigned to anyone
/unassign

[2021-06-16 22:33] girishramnani commented on #2785
The proposal has been merged https://github.com/openshift/odo/pull/4751

[2021-06-17 05:41] steinrr opened #4822 "Applications in pods not starting on CodeReady Container restart"
/kind bug

## What versions of software are you using?

**Operating System:**
Macos latest

**Output of `odo version`:**
odo v2.2.1 (17a078b67)

Server: https://api.crc.testing:6443
Kubernetes: v1.20.0+75370d3

# How did you run odo exactly?
Running latest CodeReady Container version of OpenShift on my Mac. I am able to push applications to the cluster and they are working fine. Using the "odo pus

[2021-06-17 06:17] dharmit commented on #4813
+1

Agreed. But it's not a user who's opened this. We didn't even think of this aspect of `--dry-run` when we implemented it.

[2021-06-17 06:17] dharmit commented on #4815
@kadel do we treat this as a bug or a feature? Asking because of https://github.com/openshift/odo/issues/4813#issuecomment-862406352.

[2021-06-17 08:17] girishramnani commented on #2784
The scope of this issue was json output for `odo service describe` and `odo service create`, going over the discussion got me confused that do wanna consider `odo service list` as part of this issue as well?
cc @dharmit

[2021-06-17 09:22] valaparthvi commented on #4728
I tested this thing on ocp 4.7 and k8s(minikube) both of which ran successfully, so maybe it is an issue with ocp4.8.
So, if we are going to move away from etcd operator, doesn't it make to sense to close this issue because other operators, redis for e.g. ran successfully on ocp4.8.

[2021-06-17 10:26] dharmit commented on #2784
That would be a cherry on the cake if we do it with this one. But I don't mind a separate issue either. Do whatever seems best to you @girishramnani.

[2021-06-17 10:37] girishramnani commented on #2784
I went through the code and feel that when we list services we should show common fields of each service ( as each service could have a different spec ). so `odo service list --json` would look like below.
[code]
Observe I have removed the `application section` as that might not be as helpful.

---------

**`odo service describe` <- doesn't even exist**
[code]

So should I implement that as well w

[2021-06-17 10:47] girishramnani commented on #2784
spec information would be something like `size` for etcCluster or `databaseUser` for Postgres CR. whatever is returned by in the unstructured response

[2021-06-17 11:01] dharmit commented on #4814
This is something I had been wondering from docs point of view. A wild thought I had was for odo to automatically create a directory when the user hits a scenario mentioned in this issue.

But now while going through this issue and conversation, I feel like the right place to address this is the `odo create` error output.

[2021-06-17 11:30] valaparthvi commented on #4462
Cluster ID can be added on OCP4 by fetching the `clusterversion` - `oc get clusterversion -o jsonpath='{.items[].spec.clusterID}{"\n"}'`, but this is not possible if it is a non-admin user.

Same thing is for K8s. I am yet to check for OCP3, but I suspect the same issue with it.

[2021-06-17 11:43] dharmit commented on #4768
/unassign

/assign @feloy

[2021-06-17 11:54] mohammedzee1000 commented on #4750
Ok reproduced:
[code]
So I can conclude that:
 - push does not delete service by itself
 - workaround is doing `odo service delete blah/blah` before doing `odo delete` and `odo push`
 - Basically we need ot list attached services and delete them as part of push

Further investigation is needed to get more specific

[2021-06-17 12:17] dharmit commented on #4728
/close

Closing this in favour of our plan to move to redis operator in test suite. Re-open if it becomes relevant later.

[2021-06-17 12:17] #4728 closed

[2021-06-17 12:20] mohammedzee1000 commented on #4750
So I can conclude that:
 - push does not delete service by itself
 - doing `odo service delete blah/blah` before doing `odo delete` followed by `odo push` successfully deletes the service
 - Basically, we need to list attached services and delete them as part of a push. But do we want to do it or not ?

Further investigation is needed to get more specific

[2021-06-17 12:52] valaparthvi opened #4824 "Wrong link and typos with install-operator-on-minikube doc"
/kind documentation
## What mistake did you find / what is missing in the documentation?
URL to installing SBO is wrong [here](https://odo.dev/docs/operators-on-minikube/#installing-the-service-binding-operator) and there are a few typos on the page.

## What is the relevance of it?
Correct linking.

[2021-06-17 14:02] prietyc123 opened #4826 "kubeconfig fails to set on minikube"
Kubeconfig fails to set for each and every prs in long running minikube cluster. If minikube already running on VM, it tries to find kubeconfig file inside current directory and the default kubeconfig doesn't get used.

/area testing

[2021-06-17 14:02] jeffmaury commented on #4426
/remove-lifecycle rotten

[2021-06-17 14:02] jeffmaury commented on #4426
/lifecycle frozen

[2021-06-17 19:33] #4017 closed

[2021-06-17 19:33] #4030 closed

[2021-06-17 19:33] #4141 closed

[2021-06-17 20:07] dharmit commented on #4534
Updated to 0.7.1 - https://github.com/openshift/odo/blob/main/go.mod#L41

/close

[2021-06-17 20:07] #4534 closed

[2021-06-17 20:12] rnapoles-rh opened #4827 "Run periodic tests in cluster hosted in IBM Cloud"
/kind user-story

## User Story
As a tester I want to run tests on IBM Cloud So that tests run faster and more reliably

## Acceptance Criteria
- [ ] It should run periodic tests in cluster hosted in IBM Cloud

## Links
- Related Epic (mandatory): #4800

/kind user-story

[2021-06-18 07:56] feloy commented on #4208
When creating a link, do we want to target only services/components deployed in the cluster, or should we also be able to create a link to service in a "Not Pushed" state?

Note that it won't be possible to link to a non-deployed component, as we don't have access to the devfile in this case (the linked component is from another devfile)

[2021-06-18 08:25] dharmit commented on #4208
IMO, for 2.3, we should focus on the services and components that already exist on the cluster. My reasoning for this is to keep it simple and working with not many cases and edge cases to think of at the moment. So, yes, it's only because we're nearing the end of 2.3 milestone.

Otherwise, being able to link to "not pushed" services/components seems like an interesting use case.

WDYT @kadel?

[2021-06-18 09:09] feloy commented on #4208
A question concerning the OwnerReferences.

With this PR, the links are saved as Inlined Kubernetes resources, as the Operator backed services.

To keep owner references on the ServiceBinding, I will make `odo push` set ownerReferences on Inlined Kubernetes resources, at least the ServiceBinding ones.

Do we want to set owner References on Operator backed services too (I cannot see them for the mo

[2021-06-18 09:18] mik-dass opened #4830 "odo push doesn't work on 3.11"
/kind bug

## What versions of software are you using?

**Output of `odo version`:** `odo v2.2.2 (3388fcf02)`

## Actual behavior

[code]

## Expected behavior

`odo push` should succeed.

[2021-06-18 09:33] dharmit commented on #4208
I think it should set it for all Operator backed services, or rather, all Kubernetes inlined resources in devfile. @kadel mentioned that outer loop tools would use Kubernetes inlined resources at some point. So if this makes sense from outer loop perspective or not, that's what I am not sure of. But from odo perspective, setting `ownerReferences` to all Kubernetes inlined resources sounds like the

[2021-06-18 10:40] anandrkskd commented on #4789
After restarting the vm and a cleanup the tests are now passing with a good rate. In addition to that I have created a new VM(needs to be setup to tests) that we will use in such case of rapid failure.

[2021-06-18 10:51] rnapoles-rh commented on #4649
Oath2 authentication steps in https://docs.google.com/document/d/19papcuzd1t7OKEH01DjX4yq2qckiEhsQh318cG5VOjs/edit

The ODO Defect Metrics google sheet: https://docs.google.com/spreadsheets/d/1RSuSS_0jJtnfHer4AmQbhMJUBRLt9Ik3XND7jJUIEHM/edit#gid=63137954
Completed:

- Scripts to add GitHub menu to google sheet
- Script  to authenticate using OAuth2
- Script to retrieve defect backlog count for Def

[2021-06-18 11:51] kadel commented on #4208
Yes,  we definitely want this https://github.com/openshift/odo/issues/4760
It is almost a must-have. It would be quite annoying if users would have to run `odo service create` then `odo push` and wait for service to start, only then could they run `odo link` and `odo push` again, and wait again.

Yes, we can set it on operator-backed services as well. It will solve this issue https://github.com/op

[2021-06-18 12:45] prietyc123 commented on #4826
Reason kubeconfig behaves so weird is:
[code]
when we try to login into VM where minikube is already started, kubeconfig says misconfigured. I tried updating the context for this, lets see how it works.

[2021-06-18 16:42] #4826 closed

[2021-06-18 23:35] #4830 closed

[2021-06-19 13:35] #3133 closed

[2021-06-19 19:35] #4373 closed

[2021-06-20 13:35] #4203 closed

[2021-06-21 08:24] anandrkskd commented on #4517
Pr #4788 will partly fix this issue, the follow up PR will remove the tests and updates the `operator hub` and `project` tests with the new runner functions.

[2021-06-21 09:22] #4824 closed

[2021-06-21 10:12] anandrkskd commented on #4778
As 1.16 is not available should we create a ticket and spend time on figuring out if we can also have a custom build target that is latest?
or move forward with 1.15 for now and figure out how can we use latest on build target?
what do you think?
cc_ @dharmit @kadel

[2021-06-22 11:08] dharmit commented on #4447
/remove-lifecycle rotten

@kadel can you help set priority on this one? IMO a medium and targeting 2.4 should be good.

[2021-06-22 11:09] dharmit commented on #4448
/remove-lifecycle rotten

@kadel can you PTAL?

[2021-06-22 11:10] rnapoles-rh commented on #4649
@prietyc123 The defect backlog sheet is done and working properly. You can use the code from this as the template for the rest and adjust the query a make any adjustments that might be needed in the code to set date ranges for the query.
![image](https://user-images.githubusercontent.com/72166315/122914684-e63f6900-d328-11eb-914d-1ef54a442784.png)

[2021-06-22 11:10] dharmit commented on #4314
@mohammedzee1000 what's going on with this one? It's got `triage/needs-information` label - are we still looking for some info?

/remove-lifecycle stale

[2021-06-22 11:10] anandrkskd commented on #4745
The plugin required to check for label of type kind is [require-matching-label](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/require-matching-label), which will be used by [plugin.yaml](https://github.com/kubernetes/test-infra/blob/master/config/prow/plugins.yaml#L504-#L509).

But we are currently blocked on the prow team for this, I have created a jira ticket for the enhancem

[2021-06-22 11:12] dharmit commented on #4778
Where is it not available? On the infra used to build odo artefacts?

If answer to my question about artefacts is yes, then I think this is our only option, no?

[2021-06-22 11:19] anandrkskd commented on #4778
yes, In our brew build target.

I was a little confused about what should we do now, do we want to use 1.16 directly or invest time to figure out the way to use the latest.
And also I was thinking about all the possibility that we can go through, we can also create a ticket for 1.16 and use 1.15 for now, and  figure out how can we use latest on build target?

For my perspective I think we should "

[2021-06-22 13:12] #4796 closed

[2021-06-22 15:51] kadel commented on #4822
/priority high

[2021-06-22 18:16] scottkurz opened #4838 "Add ability to view/set devfile variables via subcommand like: `odo config view/set`"
/kind user-story

## User Story

As a developer working with odo, I want to:

1. view "variables" defined by the 2.1 spec and their values
2. set the variable values

using something simple like `odo config set/view` or `odo env set/view`.

### Related Thoughts

* Should there be a different command for adding new (not yet in devfile) vs. setting existing (i.e. already appearing in the devfile) va

[2021-06-23 07:30] #4517 closed

[2021-06-23 08:12] dharmit commented on #4778
My understanding of the build infra we use is very limited. But using the currently available latest (1.15 at the time of writing this), and figuring out how we can decide/control the version we want to use (1.16 at the time of writing this) sounds like a good idea.

@kadel @mohammedzee1000 wdyt?

[2021-06-23 08:36] sbouchet opened #4839 "'odo create --s2i' creates invalid metadata name in devfile.yaml"
/kind bug

## What versions of software are you using?

**Operating System:** RHEL

**Output of `odo version`:**
[code]

## How did you run odo exactly?
using CLI, creating s2i components with odo 2.2.X ends to have incorrect component Type returned by odo. ComponentTypes are wrongly set to the component name.

## Actual behavior

below the step to reproduce:
1- create dummy component
2- look at t

[2021-06-23 08:36] sbouchet commented on #4839
CC @dgolovin @jeffmaury

[2021-06-23 09:04] kadel commented on #4816
/priority high

[2021-06-23 09:07] kadel commented on #4839
Yes, this is related to https://github.com/openshift/odo/issues/4816.

What is `odo create --s2i` doing is actually correct. `metadata.name` field in devfile is actually supposed to be the name of the project, not a type. We originally reused this as a component type because of the limitations of an early devfile v2 version.

now when the devfile has `metadata.language` field we will use it as a c

[2021-06-23 09:19] mohammedzee1000 opened #4840 "Fix leaky abstractions in url"
/kind code-refactoring

We are leaking Kubernetes level objects such as ingresses and routes into levels above url
For eg: https://github.com/openshift/odo/blob/4ef651aeb16d0aec0d9fde6d5da8f20a81ba7acd/pkg/odo/cli/url/list.go#L98

We should fix all such leaks in the code, such as information from routes and ingresses from lower levels is wrapped URL package structures. The URL spec should be the o

[2021-06-23 09:19] mohammedzee1000 commented on #4840
/kind code-refactoring

[2021-06-23 09:20] mohammedzee1000 commented on #4840
/assign mik-dass

[2021-06-23 09:52] mohammedzee1000 commented on #4750
Looking into if Owners Reference can help solve this problem
If it does not work out, we might have to do what service delete does

[2021-06-23 10:07] girishramnani commented on #4816
and what should be the  `.metadata.name` for both s2i and devfile?

[2021-06-23 10:27] prietyc123 commented on #4326
/reopen

[2021-06-23 10:36] mohammedzee1000 commented on #4750
After some investigation, it was found that this problem is being fixed by #4819
cc @dharmit

[code]

[2021-06-23 10:58] dharmit commented on #4816
IMO, if user passes the name, it should be that. https://github.com/openshift/odo/issues/4815.
If the user doesn't pass a name, we already generate one at the moment. So that's already sorted.

[2021-06-23 11:16] girishramnani commented on #4839
I assume you wanted to say of the **component** and not **project** @kadel?

[2021-06-23 12:57] kadel commented on #4839
yes

[2021-06-23 13:58] sbouchet commented on #4839
ok. so I assume it's a duplicate? is so, you can close it.
we just want to be sure that odo JSON output response indicates the correct component type.

[2021-06-23 14:04] kandarpamalipeddi commented on #4351
@dharmit @girishramnani @prietyc123
any update on this ?

[2021-06-23 14:11] prietyc123 commented on #4649
Thanks @rnapoles-rh for fixing the initial phase error for `defect backlog`. I feel apart from this we have lot many implementation left out with `Defect backlog` like defect count wrt start and end date, stop execution of the script if date exceed current date and much more. Currently focusing on proper and robust implementation of whole scenario with one sheet. Once Its done, IMO rest of the def

[2021-06-23 15:12] feloy commented on #3734
To display information on links, should odo rely on:
- only the deployed resources (like it is now)
- only the information on the devfile
- both?

For the moment, the display of links is based on the presence of a envFrom/secret in the component deployment (pkg/component/pushed_component.go), which (my bad) does not handle the links with the `--bind-as-files` option.

[2021-06-24 05:18] #4589 closed

[2021-06-24 06:07] mohammedzee1000 commented on #4750
/unassign
/assign feloy

[2021-06-24 06:16] dharmit opened #4845 "`odo catalog describe redis-operator.v0.6.0/Redis` shows no parameters; but `--example` works fine"
## What versions of software are you using?

**Operating System:** Fedora 34

**Output of `odo version`:** `main`

## How did you run odo exactly?
`odo catalog describe service redis-operator.v0.6.0/Redis`

## Actual behavior
No parameters in the output
[code]

## Expected behavior
Some parameters based on the `--example` output below:
[code]

/kind bug
/area catalog
/area service-operators

[2021-06-24 06:20] dharmit commented on #4845
I'm not sure which ones from the `--example` output should show up in `Parameters:`, but wouldn't a user expect to see something? This example has blocks like `kubernetesConfig`, `redisConfig`, `redisExporter` which, I believe, are specific to the Redis Operator. Only the `storage` block looks from generic Kubernetes manifest. But I could be wrong.

However, how should odo handle such cases? Would

[2021-06-24 06:21] anandrkskd commented on #4789
A backup VM is up and running. We can use it in this kind of scenario where tests are failing due to VM related issue. The tests duration is already reduced to 20 mins.
And the tests on windows are currently running fine again, and timeout is not observed.

[2021-06-24 07:37] dharmit commented on #3734
I hadn't checked `odo describe` in some time, so when I saw this question, I started playing with `odo describe`, and it seemed to me to be hung on connection with cluster. Which led me to think that odo describe should reflect cluster status. Looking at `odo describe -h` didn't help me understand whether it's something that describes local+remote, remote only, or both states.

Simply put, I am co

[2021-06-24 07:42] #2785 closed

[2021-06-24 07:45] guillaumerose opened #4847 "devfile for nodejs-ex is not exposing the right port"
/kind bug

## What versions of software are you using?

**Operating System:**

Linux with CRC

**Output of `odo version`:**

[code]

## How did you run odo exactly?

I followed the tutorial.

[code]

Output:
[code]

## Actual behavior

The link is not working

## Expected behavior

The link is working.

## Information

It appears that the pod is exposing the port 8080 and not 3000. If I update the

[2021-06-24 08:07] kadel commented on #3734
It should display all information about the component that it can.
In case that the component is not pushed, the output will be limited, because we can't get all the information.

## the current state is:
### for unpushed
[code]

### for pushed

[code]

### after creating a link to service `odo link Database/postgresql `

### unpushed link
but once implemented it could look like this
[code]
(missi

[2021-06-24 08:15] guillaumerose commented on #4822
I look at it a bit and here my theory. copy/paste from https://github.com/code-ready/crc/issues/2474#issuecomment-867431188.

For the nodejs example, odo starts a dev container based on a vanilla node image + a volume with the code.
The volume is declared as follow:
[code]

I believe this directory is filled by odo during the push. I think this kind of directory (emptyDir) are temporary and doesn'

[2021-06-24 08:45] girishramnani commented on #4845
This is expected @dharmit because redis doesn’t have spec descriptors in its csv but it has alm examples. The swagger would probably help in reducing this for other operators.

[2021-06-24 08:48] girishramnani commented on #4790
Closing this as it’s expected behaviour

[2021-06-24 08:48] #4790 closed

[2021-06-24 09:02] kadel commented on #4822
Right. I completely forgot about  this :innocent:
Odo is by default using empty dirs, to achieve wider compatibility with different clusters.

@steinrh You can change this behavior by setting `odo preference set Ephemeral false`.
This will instruct odo to use PVC for volume that is used to store source code.

We are going to consider changing the default value to make odo use persistent volume cla

[2021-06-24 09:02] slemeur commented on #2781
You can also look at this one: https://developers.redhat.com/articles/2021/06/14/bee-travels-microservices-coding-adventure#microservices_in_action__the_bee_travels_application

[2021-06-24 09:30] kadel opened #4850 "use swagger.json to get available parameters for `odo service create`"
Acceptance criteria:
 -  [x] output format of `odo catalog describe service` and `odo catalog describe service -o json` needs to be the same regardless of where the information about parameters is coming from `CSV` or `swagger.json`
 - [x] output of `odo catalog describe service -o json`  should be in some standard format like OpenAPIV3, JSONSchema  etc...
 - [ ] information about parameters shoul

[2021-06-24 10:13] girishramnani commented on #4850
link to the proposal https://github.com/openshift/odo/blob/main/docs/proposals/improved-schema-for-services.md

[2021-06-24 10:21] steinrr commented on #4822
The issue still persists. Created a new app and tested the Ephemeral setting.

Output from oc describe pod:

[code]

Seems that the files are there (from pod terminal):

[code]
From pod log, it seems that the application is killed on stop of CRC, and never started again when CRC are started:
ODO_COMMAND_RUN is not run after CRC restart, just with the initial odo push.

[code]

Output from ps -ef s

[2021-06-24 10:32] steinrr commented on #4822
Can it be that it creates a persistent volume, but it is actually not used? I see in the details of the app it says:

![image](https://user-images.githubusercontent.com/12039073/123248346-184af980-d4e8-11eb-80fb-46a5f2057b0c.png)

So even if it creates a PVC called odo-projects-nodejs-nodejs-ex-cohf-oxts-vol, it seems to use the one called odo-projects, which is actually still an EmptyDir.

[2021-06-24 10:54] anandrkskd commented on #4789
Timeout observed on test for PR #4806. but test passed successfully on the jenkins (took 24 mins to complete). Sometime the builds are taking long time to build, two occurrence noted in last 15 tests.

[2021-06-24 13:23] girishramnani commented on #4543
there is a complexity in writing tests ( we install SBO cluster wide so we cannot write test for testing this feature) so we would expose an env variable to skip the SBO's usage. maybe `SKIP_SBO`?

[2021-06-24 13:27] girishramnani commented on #4543
We can skip SBO installation on minikube and so all tests would use this feature

[2021-06-24 13:35] girishramnani commented on #4570
according to this issue https://github.com/openshift/odo/issues/3734 we already have this env information but only for non `--bindAsFiles` scenerio.
We still need to update the output of `odo link` for env approach.

[2021-06-24 15:52] girishramnani commented on #4570
we need to reconsider the whole idea here as `odo link` now doesn't create any link and instead adds the information into devfile

[2021-06-25 07:27] jeffmaury commented on #4244
/remove-lifecycle rotten

[2021-06-25 11:15] kadel commented on #4822
This looks like an issue in odo.
odo is starting application via SupervisorD. After first start it should configure SupervisorD service to automatically restart. It looks like this is not happening.
Autorestart is still set to `false` :-(

This is bug in odo.

When creates Depyloment and injects `supervisord` , `/opt/odo/conf/devfile-supervisor.conf`  has `autostart=false` to make sure that the ap

[2021-06-25 11:32] steinrr commented on #4822
Ok - thanks for investigation. What about this PVC issue? Do I still need to set Ephemeral to false? Is it really using this at all?

[2021-06-27 01:38] #4393 closed

[2021-06-27 19:38] #4386 closed

[2021-06-28 11:12] mohammedzee1000 opened #4854 "Automate release pipeline for odo"
We have pieces in place for doing releases for odo, but not in a way that can be easily automated.

I am considering having one single script that consumes a yaml and helps do release in a simplified way through cii.

The first step is to have a script that does what we can currently do via scripts + move the errata to QE
example yaml file:
[code]

[2021-06-28 14:46] kadel commented on #4822
Yes, it is using the PVC. If you enable persistent mode using `odo
preference set Ephemeral false` odo will use PVC to store source
problem.
The only problem that it doesn't automatically re-starts the
application when the pod fails :-(
We will try to fix that.

On Fri, 25 Jun 2021 at 13:32, steinrr ***@***.***> wrote:

[2021-06-28 14:47] steinrr commented on #4822
Ok - thanks!

[2021-06-28 15:40] mezarin opened #4855 "Registry not setup properly error when listing registry components"
/kind bug

## What versions of software are you using?

**Operating System:**
MAC

**Output of `odo version`:**
v2.2.2

## How did you run odo exactly?
1. Install the devfile registry operator (https://github.com/devfile/registry-operator).
2. Deploy the custom registry using the DevfileRegistry resource. Note that you can also recreate the issue with the default image as shown below:
[code]
Once

[2021-06-29 08:29] mohammedzee1000 commented on #4854
Slowly working on this whenever i feel like i need a switch from normal work

[2021-06-29 09:13] mohammedzee1000 commented on #4854
A basic prototype is functional and stored in the internal repo. Reach out on pm to know more

[2021-06-30 04:54] dharmit commented on #4367
/reopen

@kadel can you help set the priority on this?

[2021-06-30 07:53] kadel opened #4861 "hide ServiceBinding from `odo service list`"
## User Story
- As a developer
- I don't want to see ServiceBinding resource in `odo service list`
- Because technically it is not a service that my application can consume

## Acceptance Criteria
- `odo service list` should filter our ServiceBinding resources from the output.

/kind user-story
/priority medium
/area service
/area service-binding

[2021-06-30 07:59] kadel commented on #4839
Closing this in favor of https://github.com/openshift/odo/issues/4816

/close

[2021-06-30 07:59] #4839 closed

[2021-06-30 08:19] kadel commented on #4367
+1

If the starteProject is in a subdirectory I think that it should have its own `.gitignore` in that subdir.

The problem is when odo tries to do something smart like merging all `.gitignores` on the way up to the repository root it will also have to rewrite some of the paths. Because what was in an original repository a subdirectory now becomes a root of a new project. It will get quite messy q

[2021-06-30 08:20] #4367 closed

[2021-06-30 08:58] kadel opened #4862 "`odo service list` should filter our ServiceBinding resources from the output."

[2021-06-30 09:02] #4862 closed

[2021-06-30 18:08] jsoref commented on #4468
/remove-lifecycle rotten

[2021-06-30 18:27] jsoref commented on #4468
https://github.com/openshift/odo/blob/ed251b34f3c86ebf4962766918807b5154528650/pkg/util/file_indexer.go#L297-L298

still present
/remove-lifecycle rotten

[2021-06-30 18:51] jsoref commented on #4468
https://github.com/openshift/odo/blob/ed251b34f3c86ebf4962766918807b5154528650/pkg/util/file_indexer.go#L297-L298

/lifecycle frozen
/remove-lifecycle rotten

[2021-07-01 08:06] valaparthvi commented on #4801
Tested this issue against @feloy's PR #4819 and all the ticked acceptance criteria work well.

[2021-07-01 08:21] valaparthvi commented on #4160
@feloy I noticed that the state doesn't show up when running this command outside of a component directory. I don't think I have a question here, just an fyi, or is this expected for now and we'll be iterating over it?

[code]

[2021-07-01 08:42] #4468 closed

[2021-07-01 10:43] #4208 closed

[2021-07-01 10:43] #4750 closed

[2021-07-01 10:43] #4768 closed

[2021-07-01 11:04] mohammedzee1000 commented on #4592
@sbouchet ^^ should get rid of remaining error messages:

[code]

[2021-07-01 11:05] mohammedzee1000 commented on #4592
What you care about

[code]

[2021-07-01 11:12] mohammedzee1000 opened #4865 "Upgrade url package unit tests to use networking v1 ingress by default"
/kind task
Follow up of https://github.com/openshift/odo/issues/4592

[2021-07-01 11:12] mohammedzee1000 commented on #4865
/assign

[2021-07-01 11:18] anandrkskd commented on #4789
Closing this issue as no Timeout is observed, and tests are taking 10 to 15 mins to complete.
/close

[2021-07-01 11:18] #4789 closed

[2021-07-01 11:35] valaparthvi commented on #4801
Testing AC - Deleting a linked service/component

Steps to reproduce -
1. Create a component and push it.
2. Create another component or a service and push it.
3. Create a link to the other component/service and push it.
4. Delete the component/service created in step 2.
5. Try un-linking the deleted component/service from step 4.

Got -
[code]

Want -
Not sure what could be the expected outcome h

[2021-07-01 12:49] sbouchet commented on #4592
@mohammedzee1000: it looks good!

[2021-07-01 13:07] kadel commented on #2353
/close

odo supports only supported versions of OpenShift. Service catalog is not supported in any of those

[2021-07-01 13:07] #2353 closed

[2021-07-01 14:17] scottkurz commented on #4719
Just noticing the ingress minikube doc:
  https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/
seems to show the `kube-system` NS being used.

Not sure what a more typical default is, but I guess I won't jump to make the change w/o getting more input/feedback.

[2021-07-01 15:23] feloy commented on #4801
Good catch.

Should `odo` forbid to delete a service/component when a link references it, or should `odo` delete the link when deleting the service/component?

[2021-07-02 04:58] dharmit commented on #4801
IMO, odo should forbid deletion of a service/component that's linked to another component. But that should not be the case if the component initiated the link (step 1 in https://github.com/openshift/odo/issues/4801#issuecomment-872169765). For such components, odo should delete the binding (which it already does, thanks for `ownerReferences`.)

@valaparthvi can you open a bug to track this?

[2021-07-02 05:09] dharmit commented on #4800
@rnapoles-rh we no longer need to bring up 3.11 cluster using minishift or otherwise. It's not supported any more, so odo doesn't support it.

[2021-07-02 10:31] valaparthvi opened #4871 "Deleting a linked service/component should be done with proper unlinking"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 34

**Output of `odo version`:**
odo v2.2.2 (97b523a5a)

## How did you run odo exactly?

1. Create a component and push it.
2. Create another component or a service and push it.
3. Create a link to the other component/service and push it.
4. Delete the component/service created in step 2.
5. Try un-linking the de

[2021-07-02 10:36] valaparthvi commented on #4871
Quoting discussions from #4801.

cc: @dharmit @feloy

[2021-07-02 10:37] valaparthvi commented on #4801
https://github.com/openshift/odo/issues/4871

[2021-07-02 11:36] prietyc123 commented on #4288
Closing this issue as we don't support 3.11 and hence doesn't make sense to have test running on it.

[2021-07-02 11:36] #4288 closed

[2021-07-02 11:43] prietyc123 commented on #4778
Scope of the task

- [x] onboard to go 1.15
- [x] create issue getting go 1.16 into cloud build
- [ ] automate cloud build process to use go latest
- [ ] Update built-in dockerfile in odo repo

[2021-07-02 11:49] #4592 closed

[2021-07-02 12:26] prietyc123 opened #4872 "enable monitoring for CI jobs"
Sometimes CI jobs fails continuously for real failures and we get to know about it may be after 2 days and more. To reduce such case we need to get notified if something is really fishy around CI jobs. Hence we need to monitor our jobs constantly so that we address such failure at earliest.

**Acceptance Criteria**

- [ ] Research the process to monitor CI job constantly on may be IBM cloud or if

[2021-07-02 13:37] dharmit commented on #4871
@kadel please share your thoughts regarding https://github.com/openshift/odo/issues/4871#issuecomment-872899703 and help set the priority of this one.

[2021-07-02 15:43] valaparthvi commented on #4801
@dharmit IMO with @feloy's #4866 PR, `odo link` works well and is ready for a release. I cannot think of any more scenarios to test.

[2021-07-02 19:43] #4400 closed

[2021-07-04 01:43] #4404 closed

[2021-07-05 06:51] jeffmaury commented on #4042
/remove-lifecycle stale

[2021-07-05 06:57] prietyc123 commented on #4649
Polarian onboarding will be done in two phase:

**1 Phase**
- [ ] Automated creation/updating of automated/manual test cases in Polarion
- [ ] Automated or manual creation of Test Runs in Polarion
- [ ] Manual test case execution results are entered by hand in Polarion
- [ ] Automated test cases execution results are entered by hand in Polarion

**2 Phase**
- [ ] Integration with CI - Send test re

[2021-07-05 06:57] prietyc123 opened #4874 "odo polarion phase 1 onboarding"
/kind feature
/area testing

Test metrics and test results analysis will be better defined in polarion. We can define any kind of matrix as per requirement in polarion. This will also help in creating release readiness doc in no time (I mean less time) as stated in #4649

Task to be completed:
- [ ] Define frequency of test results to be published in Polarion
- [ ]  Define test suite to be include

[2021-07-05 07:02] prietyc123 opened #4875 "RRD Defect matrix automation"
/kind feature
/area testing

Develop scripts to pull issues (bugs) from GitHub into Google sheets to generate defect metrics for:

- [x] Defect backlog [WIP]
- [x] Defect regression
- [x] Defects resolution
- [x] Defects reopen

Related issue: https://github.com/openshift/odo/issues/4649

[2021-07-05 07:14] prietyc123 opened #4876 "Use redis operator to test services"
/kind user-story
/area testing

## User Story
As a user I want to test redis operator for odo as etcd services are deprecated.

## Acceptance Criteria
- [x] All the operator hub tests should pass for Redis on ocp 4.7

## Links
- Related Epic (mandatory): https://github.com/openshift/odo/issues/4651

/kind user-story

[2021-07-05 10:51] anandrkskd opened #4878 "Improve tests readability"
Refactor the test files mentioned below with new test structure
- [ ] test-cmd-push
- [ ] test-cmd-url
- [ ] test-cmd-watch

[2021-07-05 11:48] dharmit commented on #4664
We have a high level structure/flow for the site. It can be viewed on - https://odo-docusaurus-preview.netlify.app/docs/intro/

Draft PR for that is available. I'll be changing the location for docs from `./docs/odo.dev` to `./website` and opening up that PR for review.

[2021-07-05 11:59] dharmit commented on #4801
@valaparthvi I'm good by marking it Done.

[2021-07-05 12:04] valaparthvi opened #4879 "Add Sonar Cloud analysis properties"
/kind feature

## Which functionality do you think we should add?
Create a prow job for Sonar Cloud Code analysis.

## Why is this needed?
This is required so that we can customize it's run as per our need.

cc: @prietyc123

[2021-07-05 12:08] dharmit commented on #4827
Periodic tests are already running on AWS. Closing this based on discussion with @prietyc123 @anandrkskd

/close

[2021-07-05 12:08] #4827 closed

[2021-07-05 12:11] #4801 closed

[2021-07-05 12:30] dharmit commented on #4818
@mohammedzee1000 can you help @anandrkskd regarding the regex thing?

[2021-07-05 12:52] mohammedzee1000 commented on #4854
/priority medium

[2021-07-05 12:58] mohammedzee1000 commented on #4854
Repository for this is housed in our internal gitlab under my namespace rh-releaser-py

[2021-07-05 13:01] valaparthvi commented on #3101
I think it is safe to close this issue.
https://github.com/openshift/odo/commit/843e520f6b6c7085406d6ef9036edf355a0a9896
https://github.com/openshift/odo/pull/4866
cc : @feloy

[2021-07-05 13:17] valaparthvi commented on #3803
Perhaps this will not be a problem with the new changes to odo link. odo link no longer pushes any change to the server, it only does on odo push.
@feloy?

[2021-07-05 13:35] feloy commented on #3803
I think that this issue is fixed by #4819:

1. create a component and a service
2. odo push
3. odo link *service*
4. oso push # the component is restarted, as expected
5. odo push # the component is not restarted
6. edit sources files
7. odo push # the component is not restarted, and files are synced on the running component

[2021-07-05 13:58] #3734 closed

[2021-07-05 14:50] mohammedzee1000 commented on #4747
[code]

[2021-07-05 15:05] mohammedzee1000 commented on #4747
TL;DR:

- C_GO is disabled in cross-compile by default and with good reason, you cannot expect instruction sets to match across architectures
- The recommended way to enable Position Independent Code in golang is to use `-buildmode=pie` but this causes compilation issues on certain architectures namely `ppcle64` and `s390x`.
- C_GO can be enabled by force, but like stated, just adds more problems

[2021-07-05 16:18] anandrkskd commented on #4818
https://github.com/openshift/release/pull/19948

[2021-07-06 06:12] dharmit commented on #4351
@kandarpamalipeddi at the moment, this isn't a priority. Is this blocking you folks in any way?

@prietyc123 when do you plan to pick this up from the QE side?

[2021-07-06 06:13] anandrkskd commented on #4818
closing this issue as PR https://github.com/openshift/release/pull/19948 is now merged!
/close

[2021-07-06 06:13] #4818 closed

[2021-07-06 06:18] dharmit commented on #4270
Don't see this any more against `main` branch.

/close

[2021-07-06 06:18] #4270 closed

[2021-07-06 06:22] dharmit commented on #3803
Closing this issue.

@ajm01 @scottkurz if you folks are still facing problems, feel free to reopen it.

/close

[2021-07-06 06:23] #3803 closed

[2021-07-06 06:23] dharmit commented on #4313
/remove-lifecycle stale

[2021-07-06 06:26] mohammedzee1000 commented on #4865
Acceptance:

UTs in pkg/url continue to use extensions v1beta1 ingress. We need to move them to use networking v1 ingress
- [ ] https://github.com/openshift/odo/blob/main/pkg/url/kubernetes_test.go
- [ ] https://github.com/openshift/odo/blob/main/pkg/url/status_test.go
- [ ] https://github.com/openshift/odo/blob/main/pkg/url/url_test.go

[2021-07-06 06:57] valaparthvi commented on #4476
Looks like this bug has been fixed.
[code]
@maxandersen Feel free to reopen this issue if it bothers again. I'll be closing it for now.

[2021-07-06 06:57] #4476 closed

[2021-07-06 07:43] dharmit commented on #4590
All User Stories covered including those in "Good to Have".

/close

[2021-07-06 07:43] #4590 closed

[2021-07-06 07:47] dharmit commented on #4476
What I'm seeing in Max's output is that he's used interactive mode to create the component, whereas you've passed the component type and component name to the `odo create` command.

Can you try reproducing the issue using interactive mode (only do `odo create` on CLI).

[2021-07-06 07:59] valaparthvi commented on #4476
I created the first `odo create` with component type and name to do the setup. Max mentioned he is running `odo create` from an existing quarkus project.
[code]
The second `odo create` I ran is supposed to be in the interactive mode.
[code]

I also checked the code which seems to be checking the existence of config files and devfile as an early check.
See - https://github.com/openshift/odo/blob/ma

[2021-07-06 08:08] valaparthvi commented on #4462
@dharmit Is it alright if I close this issue now? We have everything for telemetry in place and anything that pops up now can be tracked in a separate issue.

[2021-07-06 09:16] dharmit commented on #4462
/close

[2021-07-06 09:16] #4462 closed

[2021-07-06 09:17] dharmit commented on #4476
My bad. I didn't see the second one.

[2021-07-06 10:08] mohammedzee1000 commented on #4747
As far as debug data is concerned, ldflags `-s -w` should have already eliminated that (as it has with all other binaries), so the fact that it is still there is a weird behavior

[2021-07-06 11:38] mohammedzee1000 commented on #4747
@sarveshtamba do you have any inputs

[2021-07-06 14:05] #4651 closed

[2021-07-06 14:05] #4876 closed

[2021-07-07 06:01] valaparthvi commented on #4879
There are 2 ways to setup Sonar Cloud for odo, such that it notifies about potential threats and code smells, but does not block the merge.
1. Go back to automatic code analysis trigger by Sonar Cloud, but set the quality gate standards low, so that we get a green check from it.

https://sonarcloud.io/documentation/improving/quality-gates/
2. Setup a prow job and mark it as optional. For this job

[2021-07-07 06:06] valaparthvi commented on #1236
@kadel Is it alright if we close this issue now? We closed #4462.
From your https://github.com/openshift/odo/issues/1236#issuecomment-784205444, I missed out on _if URL is created is it Route or Ingress_, but I think we require this information, we can track it in a separate issue.

[2021-07-07 06:39] dharmit commented on #4494
/remove-lifecycle rotten
/area devfile
/lifecycle frozen

Since there's already an issue about this on devfile side, I'm setting `lifecycle/frozen` to this issue. It first needs to be addressed in devfile api and library, IMO.

[2021-07-07 08:55] prietyc123 commented on #3101
I tried the same scenario and it works successfully for me now. So closing this issue.

[2021-07-07 08:55] #3101 closed

[2021-07-07 10:25] prietyc123 commented on #4253
Not relevant anymore. As we don't support 3.11 now. Apart from this all the tests running on travis (windows and macOS unit test, kubernetes job) are successfully running on prs now. So closing this issue

/close

[2021-07-07 10:25] #4253 closed

[2021-07-07 10:29] prietyc123 commented on #4606
We have resolved psi failure from our end. Its Infra issue and team are working on that. Unassigning myself from here

[2021-07-07 10:30] valaparthvi commented on #4816
To fix this issue, I am thinking to focus on normalize things between the way --s2i and normal create command works. So devfiles for both should have `.metadata.name`, `.metadata.language`, and perhaps `.metadata.projectType`, currently which in the case of normal create has the same value as language.
So if the user provides component name, it should be assigned to `.metadata.name` and the compon

[2021-07-07 10:40] prietyc123 commented on #4875
**Scope of the issue:**
Write google sheet scripting for api uri satisfy

- [ ] Defect backlog [WIP] (Difference between number of issue opened and closed in a sprint)
- [ ] Defect regression (Issue count satisfying `is:issue label:area/regression label:kind/bug  created:s_date..e_date
`)
- [ ] Defects resolution (Issue count satisfying)
      -  is:issue label:kind/bug label:triage/unresolved

[2021-07-07 10:48] valaparthvi opened #4883 "odo lists s2i components managed by odo under Other components"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 34

**Output of `odo version`:**
odo v2.2.3 (4e2f6ddf1)

## How did you run odo exactly?
[code]

## Actual behavior
**_From inside the component directory_** run `odo list`.
[code]

## Expected behavior
Should only list the component in S2I Components.
[code]

## Any logs, error output, etc?
[code]

**Note:** This

[2021-07-07 11:05] dharmit commented on #4664
For Sprint 203, we have to take things further from #4851. We need to add content to below pages on the site:

### Gettings Started
This section gives users an overview about odo. Please suggest if something needs to be added/removed from this:
- [ ] Quickstart (@kadel you need to help us here with Springboot example)
- [ ] Basics
- [ ] Cluster Setup
  - [ ] Development Cluster (this doc clarifies

[2021-07-07 11:49] mohammedzee1000 commented on #4854
Keywords and reference fields cannot be set on advisory. Currently, a manual intervention is needed so raised issue https://github.com/red-hat-storage/errata-tool/issues/216

[2021-07-07 12:37] dharmit commented on #4543
- When using the Operator, it provides more features than using it as library
- Other tools can understand Service Binding resources
  - ODC understands and draws it on the UI.
- Without Operator, you wouldn't be creating a Binding resource on the cluster but injecting the env vars directly into the Deployment.
- odo wants to do it without the Operator as well because installing Operator is admin

[2021-07-07 13:08] dharmit commented on #4883
The discussion for changing `odo list` output is on https://github.com/openshift/odo/issues/4808. Closing this issue in favour of that.

/close

[2021-07-07 13:13] feloy commented on #4623
I suspect there is some relation with this PR on odo-init-image: https://github.com/openshift/odo-init-image/pull/70

[2021-07-07 13:24] valaparthvi commented on #4883
I think this issue is not exactly related to #4808. It is more about how other component code is somehow picking up the components it should not. It should ignore the deployments and deploymentconfigs labelled with `app.kubernetes.io/managed-by=odo`, but it is still showing those components in it's list.

I am reopening it for more investigation. Let me know if you think otherwise :)

[2021-07-07 14:23] #4550 closed

[2021-07-07 14:45] deboer-tim opened #4884 "Simplify user messages and reduce use of 'component'"
/kind feature

## Which functionality do you think we should add?

The current error messages and prompts in commands like 'odo create' use the terms 'component' and 'devfile' a lot, and are not always in user-friendly terms. These messages add to the complexity and make it harder to use odo as a new user. The concept of a component is almost gone and we can rewrite these messages to be in simpler

[2021-07-07 14:47] deboer-tim opened #4885 "odo push interactive bootstrapping"
/kind feature

## Which functionality do you think we should add?
When I want to use odo today I need to create a component first. While creating a component I need to pick a devfile as well. These are two concepts that the user likely hasn't been exposed to before, making the process seem confusing and a high barrier to start.

There are two use cases: creating a starter project from scratch, and

[2021-07-07 15:23] kadel opened #4886 "Use a separate files for Kubernetes resources"
/kind user-story

## User Story
As an odo user, I want to have Kubernetes resources in a separate file to easily review them or use 3rd party tools to deploy them.

## Acceptance Criteria
- [ ] `odo link` should put `ServiceBinding` into a separate file and use `uri` to reference it in `kubernetes` devfile component.
- [ ] `odo service create` should put service CR into a separate file and use `ur

[2021-07-08 06:34] prietyc123 commented on #4874
**Scope of the issue:**
- [ ] Complete [Polarian training module](https://source.redhat.com/groups/public/polarion/polarion_wiki/polarion_for_new_users_training_modules_using_the_red_hat_workflow)
- [ ] Use [pylero](https://github.com/RedHatQE/pylero) to interact with polarian
- [ ] github integration with polarian
- [ ] Automate importing test cases to polarian from github using python (This need

[2021-07-08 07:18] dharmit commented on #2801
Implemented.

/close

[2021-07-08 07:18] #2801 closed

[2021-07-08 07:18] dharmit commented on #3098
odo doesn't support OCP 3.11 and Service Catalog any more.

/close

[2021-07-08 07:19] #3098 closed

[2021-07-08 07:20] dharmit commented on #4159
Original request in the issue description is implemented.

/close

[2021-07-08 07:20] #4159 closed

[2021-07-08 07:29] dharmit commented on #4778
Should the odo-init image also be updated to use go 1.15?

https://github.com/openshift/odo-init-image/blob/27dc3d4193ca8f6d34e781907ceb584a2d8f5ae4/Dockerfile#L7-L9

Should it be a part of this issue or should we have a separate issue for it?

[2021-07-08 07:37] anandrkskd commented on #4778
yeah, I completely missed to change in odo-init-image repo, as it was not mentioned on the doc i was following. I will update both the doc and image tag in `odo-init-image` repo.

Both works fine for me. I can add this to scope of the issue which is mentioned above https://github.com/openshift/odo/issues/4778#issuecomment-872935635

[2021-07-08 07:37] valaparthvi opened #4889 "Remove unused flags under odo link and odo unlink commands"
With the new changes to odo link and odo unlink introduced in https://github.com/openshift/odo/commit/843e520f6b6c7085406d6ef9036edf355a0a9896 there are flags such as `--port`, `--wait` and `--wait-for-target`  that can be removed from the codebase.

### Acceptance Criteria -
1. - [x] odo link
    1. - [x] Remove `--port` flag and its references
    2. - [x] Remove `--wait` flag and its references

[2021-07-08 07:42] feloy commented on #4889
Also, there is a lot of code related to Service Catalog in the link/unlink implementation, which will disappear when Service catalogs are not supported.

[2021-07-08 07:43] anandrkskd commented on #4817
In unit tests we are using function named `CleanupEnv` to cleanup all the mock config file and anything that SetupEnv generated.
but it doesn't deletes directories that are created while setup.
So adding `os.Remove(filepath.Dir(confFile.Name()))` after  https://github.com/openshift/odo/blob/e308b6bc8cf9309a5d11f01a59cf84136eb90f74/pkg/testingutil/configs.go#L138 should fix this issue.
I have check

[2021-07-08 07:43] valaparthvi commented on #4889
Is that a work in progress? If so, we can raise another issue for it when it is in.

[2021-07-08 08:21] dharmit opened #4890 "Remove code and cli docs related to 3.11 and Service Catalog"
/kind bug

## What versions of software are you using?

**Operating System:** all

**Output of `odo version`:** `main`

## Expected behavior
OCP 3.11 is not supported any more. Service Catalog is not supported on any supported OCP versions. So, we should remove code and docs related to 3.11 and Service Catalog.

[2021-07-08 08:23] dharmit commented on #4582
Is this task over?

[2021-07-08 08:25] dharmit commented on #4890
By docs, I mainly mean the CLI docs. The new docs site we're working on isn't going to talk about Service Catalog anyway.

[2021-07-08 09:07] kadel commented on #4237
/close
in favor of https://github.com/openshift/odo/issues/4543

[2021-07-08 09:07] #4237 closed

[2021-07-08 09:23] prietyc123 commented on #4582
yes, we can close this issue.

[2021-07-08 09:23] #4582 closed

[2021-07-08 09:34] mohammedzee1000 commented on #4890
/assign

[2021-07-08 09:35] mohammedzee1000 commented on #4890
I guess that kind of makes it simple. I guess this will also involve updating current odo.dev

[2021-07-08 10:00] mohammedzee1000 commented on #4890
Acceptance Criteria (in progress):

## Service catalog

### cli layer

#### odo service list

https://github.com/openshift/odo/blob/e308b6bc8cf9309a5d11f01a59cf84136eb90f74/pkg/odo/cli/service/list.go#L83-L107

### service layer

https://github.com/openshift/odo/blob/e308b6bc8cf9309a5d11f01a59cf84136eb90f74/pkg/service/service.go#L245-L299

[2021-07-08 10:12] anandrkskd commented on #4412
Scope of the issue:

- [ ] merge https://github.com/openshift/odo/pull/4873
- [ ] merge https://github.com/openshift/odo/pull/4877
- [ ] Run tests using jenkins
- [ ] create job on prow for windows test

[2021-07-08 10:13] anandrkskd commented on #4408
Scope of the issue:

- [ ] merge https://github.com/openshift/odo/pull/4873
- [ ] merge https://github.com/openshift/odo/pull/4877
- [ ] Run tests using jenkins
- [ ] create job on prow for windows test

[2021-07-08 10:15] dharmit commented on #4889
@valaparthvi let's remove all of these flags from `odo link` and `odo unlink`. @kadel already verified that when a component, say `component B`, which exposes multiple ports is linke to `component A`, odo injects into `component A` the configuration related to both the Kubernetes Services created for the two ports that `component B` exposes.

[2021-07-08 10:17] dharmit commented on #4889
It's more of a side effect of #4777, IMO.

[2021-07-08 10:24] valaparthvi commented on #4889
Okay. In any case, we can add a test case(if it doesn't exist already) to ensure that these ports really are injected into the container env.

[2021-07-08 10:45] dharmit commented on #4778
@anandrkskd there's already a PR for it - https://github.com/openshift/odo-init-image/pull/88/

[2021-07-08 10:47] dharmit commented on #4889
#4890

[2021-07-08 10:47] anandrkskd commented on #4778
Understood! I guess we don't need to create a new issue then as a PR is already created.

[2021-07-08 10:50] dharmit opened #4894 "Add "Getting Started" docs to the docusaurus based docs site"
## What mistake did you find / what is missing in the documentation?
N/A

## What is the relevance of it?
This is a child issue of spawned from https://github.com/openshift/odo/issues/4664#issuecomment-875511836

## Acceptance Criteria
"Getting Started" section gives users an overview about odo:
- [ ] Quickstart (@kadel you need to help us here with [Springboot example](https://github.com/spring-p

[2021-07-08 10:56] dharmit opened #4895 "Add tutorials under "Using odo" section to docusaurus based site"
/kind documentation
/kind task

## What mistake did you find / what is missing in the documentation?
This is a child issue of spawned from https://github.com/openshift/odo/issues/4664#issuecomment-875511836.

## What is the relevance of it?
"Using odo" section needs to be an end-to-end story where a user can follow every guide in a sequential order and achieve results using odo; OR they can pick u

[2021-07-08 10:58] dharmit commented on #4895
One more thing that we could aim for is to give the reader a way to pull a `devfile.yaml` in every tutorial. This `devfile.yaml` will help user set things up till the previous guide in the flow.

[2021-07-08 11:22] rnapoles-rh opened #4896 "IBM Cloud Migration Document Usage"
/kind task

## Task
Document how to use IBM Cloud clusters  for ODO test

## Acceptance Criteria
- [x] Onboarding documentation
- [x] How to create  Clusters
- [x] Daily usage

## Links
- Related (mandatory):
#4800

[2021-07-08 11:29] rnapoles-rh opened #4897 "Create VMs in IBM Cloud"
/kind task

## task
Create Windows VMs to run automated tests on IBM Cloud

## Acceptance Criteria
- [x] Windows VM is available in IBM Cloud (requires Microsoft licensing, checking with IBM Cloud Migration team on this)
- [x] Linux VM

## Links
- Related (mandatory):
#4800
#4798
#4988
#4989
#4990

[2021-07-08 11:32] rnapoles-rh opened #4898 "Update CI to run PR tests on IBM Cloud clusters using Linux VMs hosted in IBM Cloud"
/kind task

## User Story
Update CI to run PR tests on IBM Cloud clusters using Linux VMs hosted in IBM Cloud

## Acceptance Criteria
- [ ] Update scripts to use Linux VMs hosted in the IBM Cloud

## Links
- Related Epic (mandatory):
#4798

/kind task

[2021-07-08 11:34] rnapoles-rh opened #4899 "Update CI to run PR tests on IBM Cloud clusters using Windows VMs hosted in IBM Cloud"
/kind task

## Task
Update CI to run PR tests on IBM Cloud clusters using Windows VMs hosted in IBM Cloud

## Acceptance Criteria
- [ ]  Update scripts to use Windows VMs hosted in the IBM Cloud

## Links
- Related (mandatory):
#4800

[2021-07-08 11:49] dharmit commented on #4875
Maybe consider issues that got closed with `lifecycle/rotten`.

[2021-07-08 12:08] rnapoles-rh commented on #4898
track with https://github.com/openshift/odo/issues/4798

[2021-07-08 12:08] #4898 closed

[2021-07-08 12:08] rnapoles-rh commented on #4899
track with https://github.com/openshift/odo/issues/4798

[2021-07-08 12:08] #4899 closed

[2021-07-08 12:37] feloy commented on #4623
Images running the component have an `/opt/app-root` directory. Some images (ex: nodejs) have this directory with `g+w` file permission, some others (ex: wildfly) without this permission (`g-w`).

In s2i mode, a persistent volume were mounted into this `/opt/app-root`, so the permissions were not taken into account.

In normal mode, the persistent volume is not mounted anymore, and the permissions

[2021-07-08 12:47] feloy commented on #4362
This function is doing two things:
- waiting for pod
- get the pod information

We are using it to get the pod information several time, it shouldn't display the message

[code]

[2021-07-08 13:59] dharmit commented on #4884
When I started with odo, `component` was the most difficult thing to get the grasp of. And it's still the number one pain for newcomers to odo.

I'm not sure what you mean by "concept of a component is almost gone". I mean, I am happy to hear that, but as far as odo is concerned, we are still _so_ tightly associated with "component"! `odo component` is a command that's invisible because everything

[2021-07-08 16:26] deboer-tim commented on #4884
Internally, I agree odo components are still a thing. I was being a bit bold, but what I meant is as a concept for the end user: most people can use odo create, push, etc, only see the devfile on disk, and never really need to understand what an odo component is. Likewise I can clone a repo that contains a devfile and get odo push-ing right away.

Agreed, this is one of the harder parts. Every ter

[2021-07-08 16:50] scottkurz commented on #4886
@kadel - would you agree a consequence of refactoring into a seperate yaml file, referenced by 'uri' would be that [devfile variable substitution](https://github.com/devfile/api/pull/352) can no longer be performed?

Not sure yet what percentage of the time you'd want this, but it suggests maybe there should be an option to inline the included component in the original file?

Or could there be som

[2021-07-09 06:49] kadel commented on #1236
yes, we can close this now.
We have all core metrics implemented.
/close

[2021-07-09 06:49] #1236 closed

[2021-07-09 08:57] kadel commented on #4886
I need to verify that. But I don't think that variable substitution works or was intended to work in inlined Kubernetes resources.

[2021-07-09 11:08] feloy opened #4901 "preStart lifecyle event support"
/kind feature

## Which functionality do you think we should add?

It should be possible to add a preStart event to a component, for odo to define an init container in the deployment to run the specified command.

## Why is this needed?

Running s2i components needs to run a specific init container to copy files to the persistent volume.

[2021-07-09 11:09] kadel commented on #4901
/priority high

[2021-07-09 12:33] prietyc123 commented on #4643
I think it does not make sense anymore.

/close

[2021-07-09 12:33] #4643 closed

[2021-07-09 12:57] #4594 closed

[2021-07-10 08:33] #4817 closed

[2021-07-12 08:59] valaparthvi opened #4903 "Component create and delete help examples are incomplete and out of data"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 34

**Output of `odo version`:**

## How did you run odo exactly?
`odo create --help`
`odo delete --help`

## Actual behavior
1. `odo create --help` does not have an example with `--app` and `--project`, it also does not mention the use of `--s2i` flag for `--git` and `--binary` examples.
2.
[code]

## Expected be

[2021-07-12 11:52] kandarpamalipeddi commented on #4351
@dharmit, @prietyc123

We are not blocked with this.
Currently our tests are working fine with the work around I mentioned in the [Comment](https://github.com/openshift/odo/issues/4351#issuecomment-801775732).

Do you guys have any plans to implement code changes to make odo work on Proxy based cluster ? Or this story is to track the testing status of the Odo on proxy based cluster ?

[2021-07-12 12:25] scottkurz commented on #4884
As alluded to, "project" is also used by [devfile](https://docs.devfile.io/devfile/2.1.0/user-guide/adding-projects-to-a-devfile.html).  If all odo is doing with this thing it calls "application" is setting and querying based on labels.. should the name reflect "label" somehow?    Or is there an idea to do more like somehow optimize the path through linking or even the outer loop build/deploy with

[2021-07-12 13:01] prietyc123 commented on #4351
@kandarpamalipeddi From testing end this is not the priority currently. Before this issue I guess we need to focus on https://github.com/openshift/odo/issues/4409 as part of QE plan. But again its of low priority currently. As you said work arounds going well for you, sounds like its not a blocker from your end too.
As far as code change is concerned, I am pretty sure that's also not a priority fr

[2021-07-12 13:01] dharmit commented on #4685
I am using the example mentioned in the issue description. As a first step, I'm trying to figure out if the GVK in the specified Kubernetes inlined component is supported by the underlying cluster.

But I'm hitting an issue that, at the moment, I can't figure how to overcome.

PTAL at the WIP code - https://github.com/dharmit/odo/commit/5bb6c313e1490b6ab4f8e9e2aae5a418cfad0a4e.

We're calling belo

[2021-07-12 14:54] valaparthvi opened #4907 "Pushing a second s2i component to the same app and project fails if no URL is explicitly created"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 34

**Output of `odo version`:**
odo v2.2.3 (e99b14212)

## How did you run odo exactly?
1. Create a s2i component and push it. `odo create --s2i nodejs frontend; odo push`.
2. Create another s2i component and push it. `odo create --s2i python backend; odo push`.

## Actual behavior
1. Component is created and is

[2021-07-12 18:47] deboer-tim commented on #4884
I don't think there is an exact 1:1 mapping to devfile, but I would be cautious about exposing devfile terminology too - it would be good to be consistent, but for the same reasons above you shouldn't need to understand how devfiles work in order to use tools that are based on them.

From some side conversations I am more convinced that `application` will continue to be used for the bigger multi-c

[2021-07-13 07:31] dharmit commented on #4884
It seems to me that different projects use these terms to best fit their own story (I don't know if it's OK/not-OK to do so). I'll try to tabulate:

Term|devfile|IDEs|ODC|odo|
----|----|----|----|----|
`project`| A git project| A git project | A namespace | A namespace
`component`| [`container` or `kubernetes` or `openshift` or `volume`](https://docs.devfile.io/devfile/2.1.0/user-guide/api-referen

[2021-07-13 12:55] kandarpamalipeddi opened #4910 "Crash observed while executing integration tests on Power (ppc64le)"
/kind bug

## What versions of software are you using?

**Operating System: Red Hat Enterprise Linux release 8.3 (Ootpa)**

**Arch  `uname -m` : ppc64le**

**Output of `odo version`:**
[code]

## How did you run odo exactly?
` go run github.com/onsi/ginkgo/ginkgo  -focus "should set config variable without logging in" -v tests/integration/`

## Actual behavior
Getting SIGSEGV.
[code]
## Expected b

[2021-07-13 15:31] scottkurz commented on #4114
/remove-lifecycle stale

Still noting in odo v2.2.3

[2021-07-13 15:34] scottkurz commented on #4114
@dharmit @girishramnani  - do you think we could just ignore everything in .odo/  or do you think it's safer to ignore file-by-file ?

[2021-07-13 15:36] scottkurz commented on #4884
I guess another overloading is we also use 'component' to refer to "component type" when we do `odo catalog list components` to browse devfile registries... but I'm not sure that's really going to confuse anybody.   Just noting.

[2021-07-13 16:14] scottkurz commented on #3803
@dharmit @feloy - Still seeing this issue with v2.2.3 following the update-pending doc here:  https://github.com/openshift/odo/blob/9188588b66e16984da8122001794f009a6a09235/docs/public/deploying-java-app-with-database.adoc)

Can we please reopen this?  I'll try to add some logs.

[2021-07-13 16:16] kandarpamalipeddi commented on #4747
@mohammedzee1000

I tried building the odo code with PIE enabled on Power Node :
[code]

I tried it for IBM Z and observed the issue while building it on Power node (kind of expected) :

[code]

[2021-07-14 05:55] mohammedzee1000 commented on #4747
What about ibmz binary on ibmz node?

[2021-07-14 05:56] mohammedzee1000 commented on #4747
@kandarpamalipeddi

[2021-07-14 08:17] kadel commented on #4114
Not sure why we started adding records to `.gitignore` on per-file basis.
It should be completely ok to add a whole `.odo` to `.gitignore`

[2021-07-14 08:19] kadel commented on #4664
Is it correct that this is closed?
I see a lot of unmarked checkboxes in https://github.com/openshift/odo/issues/4664#issuecomment-875511836

[2021-07-14 08:38] dharmit commented on #4664
No, it's a mistake because the PR I opened had this issue as "Fixes".

/reopen

[2021-07-14 14:20] kadel opened #4913 "odo service create --dry-run is not working when used with parameters"
/kind bug

## How did you run odo exactly?
[code]

## Actual behavior
[code]

## Expected behavior

[code]

[2021-07-14 15:02] #4865 closed

[2021-07-15 04:49] mohammedzee1000 commented on #4473
/lifecycle frozen

[2021-07-15 07:04] dharmit commented on #4315
/remove-lifecycle stale

[2021-07-15 07:05] dharmit commented on #4800
We need to move the odo-init image tests to IBM Cloud infra as well. PTAL https://github.com/openshift/odo/issues/4315.

[2021-07-15 07:45] dharmit commented on #4913
Isn't this same as #4813? 🤔

[2021-07-15 08:12] dharmit commented on #4469
Closing since this feature has been implemented.

/close

[2021-07-15 08:12] #4469 closed

[2021-07-15 13:42] dharmit commented on #4631
We removed this in https://github.com/openshift/odo/pull/4628. Can you elaborate on what we might be able to do here?

[2021-07-15 15:31] kadel opened #4916 "missing parameters in `odo catalog describe service` output"
/kind bug
/area service
/area service-operators

## What versions of software are you using?

using minikube

**Output of `odo version`:**
[code]

## How did you run odo exactly?
installed olm and Crunchy PostgreSQL (https://operatorhub.io/operator/postgresql)

[code]

[code]

## Actual behavior
[code]

## Expected behavior

show all possible parameters.

If I check example on https://operatorhub.

[2021-07-15 15:32] kadel commented on #4916
Because the parameter is missing I'm I can't set its value via command line.
[code]

[2021-07-15 23:16] scottkurz opened #4917 "With devfile containing persistent storage component, failure on `odo push` after `odo link` trying to (re)create already-existing PVC"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

odo v2.2.3 (4e2f6ddf1)
Kubernetes: v1.20.0+bafe72f

## How did you run odo exactly?

1. git clone git@github.com:mezarin/application-stack-samples.git; git checkout addGradleSupportToJPASample; cd jpa
2. curl -L https://raw.githubusercontent.com/OpenLiberty/application-stack-samples/main/de

[2021-07-16 13:15] kadel commented on #4500
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-16 13:16] kadel commented on #4917
/priority high

[2021-07-16 14:08] prietyc123 commented on #4874
Collecting information from interop team and going through [doc](https://docs.engineering.redhat.com/display/PIT/Polarion+Usage) . I have scheduled a walkthrough with them to understand their approach clearly.

[2021-07-16 15:24] kadel commented on #4556
I understand your use case, but when would normal odo user need that?

[2021-07-16 15:39] kadel commented on #4871
`odo delete` should delete everything that `odo push` created. That means that it should delete everything that is currently in devfile.yaml.
If it tries to skip something that is defined in the devfile it might lead to the situation where you are left with thinks that can't be deleted using odo.

odo should be more clear with the user what is going to happen when `odo delete` is executed.
[code]

[2021-07-16 17:50] rnapoles-rh opened #4920 "Review Red Hat OpenShift on IBM Cloud User access permissions"
/kind user-story

## User Story
As a IBM Cloud admin I want to understand how Red Hat OpenShift on IBM Cloud User access permissions work So that I can setup service ID accounts and api-keys for our test automation framework
## Acceptance Criteria
- [ ] should be able to create service IDs with admin and developer access levels
- [ ] create api-tokens that do not expire
- [ ] be able to login with

[2021-07-16 17:53] rnapoles-rh commented on #4920
I tried running the scripts/configure-cluster/common/auth.sh script and it failed to create the accounts defined in the test-htpasswd file due to the IBM Cloud login dependency.
Reviewing https://cloud.ibm.com/docs/openshift?topic=openshift-access_reference

[2021-07-17 13:58] #4371 closed

[2021-07-17 19:58] #4441 closed

[2021-07-19 05:11] valaparthvi commented on #4556
There isn't any particular use case I can think of. I encountered this while cleaning up my cluster where I had multiple projects I wanted to delete and it was annoying to delete one project at a time via odo, and web console and I was not aware that kubectl and oc could do it easily. I understand this would be a rarely used case, but it can be helpful when people are not aware of kubectl and oc.

[2021-07-19 06:20] #4903 closed

[2021-07-19 10:01] kadel commented on #4890
ping @mohitsuman @dgolovin @jeffmaury @sbouchet This is going to be a big chance that might affect your projects.

[2021-07-20 07:12] mohammedzee1000 commented on #4747
Going with the most obvious solution with the information we have needs reworking the rpm so that redistributable no longer contains ibm artifacts and those are pulled from the mainline rpms instead. This would be a major change to how we handle releases (including signing and delivery to mirror.openshift.com).

The objective now will be to reach out to prodsec for recommendations

[2021-07-20 07:44] xkwangcn commented on #4910
Hello, The same error on s390x. And anyone know what the reason?

[2021-07-21 07:21] dharmit commented on #4910
I'm seeing the same error on x86.

@anandrkskd since you looked at this part of the code most recently, can you please help figure out what's going wrong here? The traceback should be explanatory enough. I'm wondering if this is going to block PRs in CI as well.

[2021-07-21 07:26] xkwangcn commented on #4910
ok, thank you.

[2021-07-21 14:24] anandrkskd commented on #4910
when the value env variable KUBECONFIG is set to not valid kubeconfig file, it fails.

[code]

But, when we are using the correct KUBECONFIG file it passes without such errors.
I will require @mohammedzee1000 help to debug this more as he has worked with `odo config`  recently.

[2021-07-21 17:25] scottkurz commented on #3965
Should this now be closed because of: https://github.com/openshift/odo/issues/4890 ?

[2021-07-22 06:11] dharmit commented on #3965
Indeed. Thanks for pointing @scottkurz 👍🏾

/close

[2021-07-22 06:11] #3965 closed

[2021-07-22 06:48] valaparthvi opened #4928 "[Telemetry] Sends different values of component type on odo create and push"
/kind bug

## What versions of software are you using?

**Operating System:**
Fedora 34
**Output of `odo version`:**
odo v2.2.3 (527c4c76b)
## How did you run odo exactly?
1. `odo create java-quarkus`
2. `odo push`

## Actual behavior
1. Check the component type value sent to Segment/Woopra, it shows `java-quarkus`.
2. Check the component type value sent to Segment/Woopra, it shows `quarkus`.
Both

[2021-07-22 06:58] valaparthvi opened #4929 "Data must be sent even if user terminates the command execution."
/kind feature

## Which functionality do you think we should add?
Currently, telemetry data is only sent on the complete execution of a command, but we should also be able to send data in case a user terminates the command(Ctrl+C^).

## Why is this needed?
This will help us understand why the command was terminated, maybe the command took a long time and the user decided to terminate it, if that i

[2021-07-22 06:58] valaparthvi commented on #4929
cc: @kadel

[2021-07-22 06:58] valaparthvi commented on #4928
cc: @kadel

[2021-07-22 09:33] dharmit commented on #2756
The devfile library doesn't have outer loop support yet. Ideally, this should be sorted at devfile library end first and then implemented in odo.

[2021-07-22 09:42] mohammedzee1000 commented on #4910
I think we will need to expand https://github.com/openshift/odo/pull/4756/files#diff-583a08b337374603ad43b6d99812168e4e68d136ceaa60a6d169fdddd059f632R45 to other command then

[2021-07-22 11:41] dharmit opened #4931 "`odo app describe <app-name>` should show Operator backed services"
## What versions of software are you using?

**Operating System:** Fedora

**Output of `odo version`:** `main`

## How did you run odo exactly?
Created an Operator backed service and executed `odo app describe`.

## Actual behavior
`odo app describe` doesn't show Operator backed services that are shown when we run `odo service list`.

## Expected behavior
odo should show these services

## Any log

[2021-07-22 12:16] #4362 closed

[2021-07-22 13:09] dharmit commented on #4917
As for `needs-info` label, we need to reproduce the problem and figure out how to go about fixing it.

[2021-07-22 13:29] dharmit commented on #4886
URI: https://docs.devfile.io/devfile/2.1.0/user-guide/api-reference.html

[2021-07-22 13:40] dharmit opened #4932 "Remove code related to s2i"
In #4906 we're removing Service Catalog related code from odo. We also need to remove everything else that's tied to OCP 3.11. Few places to look at:
- s2i code beyond what's helping with `odo create --s2i`
- DeploymentConfigs, maybe?

/kind cleanup

[2021-07-22 13:42] valaparthvi opened #4933 "[Telemetry] Add data about s2i vs devfile component"
/kind feature

## Which functionality do you think we should add?
Telemetry should show whether components created are s2i vs devfile.

## Why is this needed?
This is needed so that we can know how many people are still using s2i and devfile.

# Acceptance Criteria
- [ ] `odo create` should send data about this.
- [ ] TBD

[2021-07-22 13:54] dharmit commented on #4916
See if the missing `user` field is available in the swagger.json. If yes, see if the parameters currently being shown are also available in swagger.json. If yes, use swagger.json as single source of truth instead of relying on x-descriptors as well.

[2021-07-22 15:01] scottkurz commented on #4917
@dharmit let me know if you need help recreating.. I just didn't bother copying/"merging" all the steps from the doc but this should be enough info.

Like I was hinting at in my comment....while I'm not following every step of the logic,  maybe the code in:
  https://github.com/openshift/odo/blob/main/pkg/storage/kubernetes.go#L82

isn't going to work since the Pod is going down?

[2021-07-22 15:51] #4901 closed

[2021-07-23 07:33] dharmit commented on #4500
Quite a few PRs have been opened to address this item. We now need to figure out if there's anything related to Docker support still lingering around in the code.

Adding this to upcoming sprint so that someone take a look at it.

[2021-07-23 08:32] dharmit commented on #4910
/triage needs-information

[2021-07-23 13:39] kadel opened #4937 "`odo link`: custom mappings"
/kind user-story

## User Story
As an odo user I want to be able to define what information should be exposed by link  (`ServiceBinding`) without editing Operator CR.

## Acceptance Criteria
- [ ] It should be possible to specify custom mappings using parameters in `odo link` command

## Implementation notes

exmaple of a `ServiceBinding` resource with mappings
[code]

/kind user-story

[2021-07-23 13:52] kadel opened #4938 "unstable Windows unit tests"
From last 20 runs, on 2 were successful
https://prow.ci.openshift.org/job-history/gs/origin-ci-test/pr-logs/directory/pull-ci-openshift-odo-main-psi-unit-test-windows
![image](https://user-images.githubusercontent.com/57206/126791203-8731c28e-2d7c-467f-844c-7f6a2a306287.png)

most of the failure are CI or test setup failures:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2021-07-23 13:53] kadel commented on #4938
ping @prietyc123

[2021-07-23 13:58] #4481 closed

[2021-07-23 14:01] kadel opened #4939 "`odo create` errored out but created devfile.yaml"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

[code]

## Actual behavior
`odo create`  failed but `devfile.yaml` was created

## Expected behavior
if `odo create` fails it should not create `devfile.yaml

[2021-07-23 14:03] #4326 closed

[2021-07-23 14:04] kadel commented on #4939
/priority high

This can be especially confusing if user tries to run `odo create` again with a different devfile

[code]

now there is a have nodejs project, but the command was ` odo create java --starter`. This is due to local devfile.yaml being used for second odo create command

[2021-07-23 18:40] #4816 closed

[2021-07-26 06:03] valaparthvi commented on #4815
@dharmit I would like to take this up for the next sprint. I already have a PR open.

[2021-07-26 07:21] feloy opened #4940 "odo push does not work with SBO v0.9.0"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:**

## How did you run odo exactly?

## Actual behavior

When running `odo push` after declaring links, an error occurs:

[code]

## Expected behavior

## Any logs, error output, etc?

A validation webhook has been added to SBO v0.9.0 that forbids the update of a current service binding request

[2021-07-26 09:29] mohammedzee1000 commented on #4747
Currently blocked in issue that got raised as part of email
/status blocked

[2021-07-26 09:54] kadel opened #4941 "add nighly job to test odo with unreleased SBO"
To make sure that we are aware of any compatibility issues between odo and SBO we need a nightly job that executes odo test suite with the unreleased (latest master build) version of Service Binding Operator.

odo build from master tested against SBO build from master

/kind testing
/priority high

[2021-07-26 09:57] kadel commented on #4941
How to deploy SBO master build to OCP:

[code]

The first resource adds sbo catalog index to ocp, second one installs the SBO from that catalog.

[2021-07-26 09:58] dharmit opened #4942 "Nightly tests against latest Service Binding Operator"
## User Story
As an odo developer, I want to have nightly tests of main branch of odo against [master branch of Service Binding Operator](https://github.com/redhat-developer/service-binding-operator) so that we can prepare ourselves for any breaking changes that might land in, or notify the Service Binding Operator team about a change on their side that could break odo.

## Acceptance Criteria
###

[2021-07-26 09:59] dharmit commented on #4942
This issue is an outcome of the problems faced by odo after the release of v0.9.0 of SBO.
Relevant issues: #4940 & #4936.

[2021-07-26 10:00] dharmit commented on #4942
/priority high

[2021-07-26 10:02] kadel commented on #4941
/close
/triage duplicate
https://github.com/openshift/odo/issues/4942

[2021-07-26 10:02] #4941 closed

[2021-07-26 10:03] kadel commented on #4942
How to deploy SBO master build to OCP:

[code]

The first resource adds sbo catalog index to ocp, second one installs the SBO from that catalog.

[2021-07-26 10:10] dharmit commented on #4942
@kadel why not simply do what's suggested [here](https://github.com/redhat-developer/service-binding-operator#running-operator-locally) instead?

[2021-07-26 10:23] dharmit commented on #4685
This issue will spill over to Sprint 205. I need to research how to circumvent the issues being faced in the WIP PR.

[2021-07-26 10:28] anandrkskd opened #4944 "odo push fails for storage provision on IBM Cloud openshift cluster"
/kind failing-test

What versions of software are you using?
Operating System:
All supported

Output of odo version:
odo v2.2.3 (1579dd5be)

How did you run odo exactly?
[code]

Actual behavior

<details>

[code]

</details>

Expected behavior
odo push should pass

Any logs, error output, etc?

<details>

[code]

</details>

## Acceptance Criteria

- [ ] Based on discussions so far, it seems like

[2021-07-26 10:37] prietyc123 commented on #4874
Other approach for importing test cases into polarian is using `XUnit` reports generated after every test run. Process follows [polarion](https://gitlab.cee.redhat.com/PIT/tools/-/blob/develop/doc/polarion.md) steps and get XUnit reports from odo periodic job to extract the data. Finally set up [scenario.json](https://gitlab.cee.redhat.com/PIT/tools/-/blob/master/tools/examples/xunit_consolidate_p

[2021-07-26 11:41] dharmit opened #4945 "Import applications (talk about how existing git repo can be deployed to k8s using odo)"

[2021-07-26 11:42] dharmit commented on #4945
This one got automatically created when I clicked on "Convert to issue" shortcut on #4894.

/close

[2021-07-26 11:42] #4945 closed

[2021-07-26 11:47] anandrkskd commented on #4408
This issue is dependent on
- [ ] https://github.com/openshift/odo/issues/4944
- [ ] https://github.com/openshift/odo/issues/4800

[2021-07-26 11:49] anandrkskd commented on #4412
This issue is dependent on
- [ ] https://github.com/openshift/odo/issues/4944
- [ ] https://github.com/openshift/odo/issues/4800

[2021-07-26 11:58] prietyc123 commented on #4942
Building and installing from sbo `master` branch is not a straightforward effort. Steps involved to do it are:

1. Build the Bundle image - Tools required are operator-sdk and docker or podman. We can not build it in a prow test container, because test containers doesn't support container run time.

2. Build the Index image and push it to quay registry - Tools required is opm and docker. Also we n

[2021-07-26 12:05] rnapoles-rh commented on #4800
When using service accounts api-tokens, the clusters identifies the user as anonymous and does not allow any actions.
I will create full user accounts (not service accounts) for dev and admin users

[2021-07-26 12:10] kadel commented on #4942
@prietyc123 you don't need to build anything,  it is just one `oc apply` command. Just apply what I've described in https://github.com/openshift/odo/issues/4942#issuecomment-886559365

[2021-07-26 12:27] kadel commented on #4942
Why do you want to run a spike?

This is just adding one extra highly job with one extra setup step.

[2021-07-26 13:05] prietyc123 commented on #4942
Understood. So image: `quay.io/redhat-developer/servicebinding-operator:index` is created by the sbo team for each commit they push into master. I was not aware of this. I think their GitHub Action does execute the steps to build the image.

I was not aware that sbo team creates latest index image on each commit goes into master. If this is the case then no spike is needed.

[2021-07-26 13:29] feloy commented on #4861
Services are collected from boath places:
- devfile
- cluster

Services with a kind `ServiceBinding` should be ignored from both places

[2021-07-26 14:22] feloy commented on #4917
@scottkurz you are right, ListFromCluster is unable to get the PVC because it tries to get the information from a running Pod, but at this time no pod is actually running (because we have just created a serviceBinding that triggered a change on the Deployment, that makes the pod being restarting).

But it's not clear to me why `ListFromCluster` is looking the information into a running pod, instea

[2021-07-27 05:04] dharmit commented on #4412
Those two issues are likely going to take majority of the sprint. Also, what about enabling these tests on PSI setup till IBM cloud is ready for switchover?

[2021-07-27 05:08] anandrkskd commented on #4412
I am now thinking to make an if else case in the test script and setup env according to PSI or IBM cloud.
so that we will have a working script for PSI as well as the IBM one.

[2021-07-27 05:09] dharmit commented on #4408
What I understood in the Triage call was that we will set things up on PSI till IBM Cloud is ready for switchover. Waiting for #4944 & #4800 would mean we have to wait for majority of the Sprint.

[2021-07-27 05:13] dharmit commented on #4412
I don't know about the code around this, but on many calls we've discussed that we should simply be able to switchover to IBM Cloud when it's ready. We have also discussed using or try using whatever infra we have available at the moment - which is currently PSI.

If..else or no if..else, IMO the tests should ideally be able to run on any infra that we provide to it.

[2021-07-27 05:27] anandrkskd commented on #4412
Before we were able to run tests on PSI and it was working with only one failure that is https://github.com/openshift/odo/issues/3256 and @prietyc123 did all the research on it arrived at conclusion that the issue can be PSI network instability. As we decided to use IBM Cloud for test there was some changes needed in the script. due to which we are currently not able to run test on PSI using those

[2021-07-27 05:33] dharmit commented on #4412
Were these "some changes" documented somewhere? I'm asking because that would help you / @prietyc123 / @rnapoles-rh quickly figure what needs to be done when you actually do it.

On the call, we discussed running these tests on PSI till the time IBM Cloud is available for use.

[2021-07-27 05:43] anandrkskd commented on #4412
No, I will document it.

yes, I will check if this https://github.com/openshift/odo/issues/3256 issue still a problem for us, as @prietyc123 said last update from PSI team mentioned network issue is resolved.
If it is resolved we can use PSI cluster for time being.

[2021-07-27 05:52] mohammedzee1000 commented on #4932
So far I have found at least two objects that we can consider removing i.e deployment configs and build configs.

Deployment Configs have a usage in a bunch of places across the odo code base.
BuildConfigs seems to mostly be used for building from git and is linked to localconfig (the old odo config)

Both are heavily tied to s2i which we are currently supporting conversion for.

I would assume we

[2021-07-27 05:56] mohammedzee1000 commented on #4910
reproduced:

[code]

[2021-07-27 06:10] mohammedzee1000 commented on #4910
Considering that there are a a few commands that should be able to work offline, I think the best solution would be to build offline mode into context itself. So here is what i propose.

Acceptance criteria:

 - [ ] Add boolean field `Offline` to Context CreateParameters
https://github.com/openshift/odo/blob/33fad0bea413d4e5efa9e156335a7063172dba68/pkg/odo/genericclioptions/context.go#L53-L60
 - [

[2021-07-27 06:53] dharmit commented on #4910
<details>

</details>

Me and @anandrkskd were already able to reproduce this. What we need to figure out is why we're hitting it. And why aren't the tests complaining about it? How did a panic pass the CI?

Can you enlist all the commands that would require offline mode? You might need to spend time figuring out which commands these could be.

I like the idea. WDYT @kadel @mik-dass @feloy? Is thi

[2021-07-27 06:59] dharmit commented on #4932
@kadel how long should we support `odo create --git` and `odo create --binary`? How much do the Adapters folks rely on it? cc @mohitsuman

Right. Route has to be kept as-is.

[2021-07-27 07:05] dharmit commented on #4861
@feloy do you think we will need to add some tests as a part of this PR? I can think of integration tests which ensure that we don't show `ServiceBinding/<name>` in the `odo service list` output.

[2021-07-27 07:07] dharmit commented on #4500
@feloy you might need to figure out what places in odo code still refer to Docker/local support.

/remove-triage ready

[2021-07-27 07:17] feloy commented on #4861
Yes, I can think of integration tests to verify that links are not visible, either when they are pushed and unpushed.

[2021-07-27 07:36] feloy commented on #4500
The files I can find to be removed are:
- pkg/devfile/adapters/docker/*
- pkg/lclient/*

[2021-07-27 09:30] prietyc123 commented on #4942
Need to set up a nightly job config with `cron: 0 0 * * *` and to run on odo main branch.

I ran https://github.com/openshift/odo/issues/4942#issuecomment-886559365 on ocp 4.8 and it works perfectly fine.

Not sure we are looking for a new channel to get notification about nightly runs or we want to use `#odo-notifications` itself. In either case we need to specify the `reporter_config` for such n

[2021-07-27 09:52] mohammedzee1000 commented on #4910
The tests are not complaining because we don't test with invalid kubeconfig

[2021-07-27 09:56] anandrkskd commented on #4910
@mohammedzee1000 I guess we are testing it for `odo config` test [here](https://github.com/openshift/odo/blob/b2ca2a81a03d076cf1c6d24c3991363d6f1124e4/tests/integration/cmd_pref_config_test.go#L241).

[2021-07-27 12:10] kadel commented on #4942
No need for extra channel, it can go to `#odo-notifications`

[2021-07-27 13:36] dharmit commented on #4942
@prietyc123 @kadel IMO, we don't need notifications for successful builds. Failure and error makes sense.

[2021-07-27 14:22] kadel commented on #4942
we need both, otherwise there is no easy way to verify that the job is actually running

[2021-07-27 15:53] kadel commented on #4944
[code]

This suggests something is happening with cluster storage setup.

What storage classes are configured on the cluster?

What happens if yo try to create simple deployment with PVC like this?

[code]

and than getting info about it
[code]

[2021-07-27 16:06] kadel opened #4949 "add deprecation warning for s2i actions"
- add deprecation warning when someone executes `odo create --s2i`
- add deprecation warning when someone executes `odo create --binary`
- add deprecation warning when someone executes `odo create --git` or `odo create --ref`

[2021-07-27 16:07] kadel opened #4950 "Deprecation all s2i related code"
After https://github.com/openshift/odo/issues/4949 is done and there is at least one odo release with that we can start removing old code from odo.

- Remove all flags from `odo create` mentioned above
- Remove all code related to s2i and ImageStreams as well as all code related to LocalConfig

[2021-07-27 16:09] kadel commented on #4950
/status blocked
We need to inform users about  feature deprecation
https://github.com/openshift/odo/issues/4949

[2021-07-27 16:17] kadel commented on #4949
/close
/triage duplicate
https://github.com/openshift/odo/issues/4932

[2021-07-27 16:17] kadel commented on #4950
/close
/triage duplicate
https://github.com/openshift/odo/issues/4932

[2021-07-27 16:17] kadel commented on #4932
title got me confused. I'm not sure how 3.11 support is related to s2i

/title Remove code related to s2i

Lets be a little nice to our users:
First lets add a  deprecation notice to s2i related features
  - add deprecation warning when someone executes `odo create --s2i`
  - add deprecation warning when someone executes `odo create --binary`
  - add deprecation warning when someone executes `odo

[2021-07-27 16:17] #4949 closed

[2021-07-27 16:17] #4950 closed

[2021-07-27 16:19] kadel commented on #4933
Probably not worth it as we are already planning to remove s2i related code https://github.com/openshift/odo/issues/4932

/close

[2021-07-27 16:19] #4933 closed

[2021-07-28 04:53] anandrkskd commented on #4944
On default its `ibmc-vpc-block-10iops-tier`, I think for storage on IBMcloud we are using `Block storage for VPC`

For the simple deployment with PVC you shared works fine. Pods were able to spin up.

[code]

[code]

 When ever we are using two pv that are created in two different zones then the pods are failing with error `volume node affinity conflict`.
for example

[code]

and for filing case i

[2021-07-28 05:10] mohammedzee1000 commented on #4932
I don't think we need to remove s2i support as is as we have devfile conversation for s2i.
But we should remove server side implementation that is openshift specific  as it's not likely to be used anymore due to conversion.
@kadel @dharmit wdyt

[2021-07-28 05:13] mohammedzee1000 commented on #4932
But for git I think it makes sense to deprecate git first

[2021-07-28 05:25] mohammedzee1000 commented on #4910
Hmm that only tests config view. So updating scope to update the test as well

[2021-07-28 06:19] mohammedzee1000 commented on #4910
I have no clue why tests go green in CI o_O. It fails for me when I run locally
[code]

[2021-07-28 06:19] mohammedzee1000 commented on #4910
/shrug

[2021-07-28 06:20] mohammedzee1000 commented on #4910
But the complaint is definetly for kubeconfig

[2021-07-28 06:26] kandarpamalipeddi commented on #4910
Yes.

Once we hit the below line,
`os.Setenv("KUBECONFIG", "/no/such/path")`,
testcase crashes and `unset of KUBECONFIG` will not happen that results failure (panic) of next all integration tests.

If I commented this line, all tests are working fine (at least on Power).

[2021-07-28 06:30] mohammedzee1000 commented on #4910
Perhaps we should restructure that test then, move `odo create` action and kubeconfig set to beforeeach in context and unsetting to aftereach

[2021-07-28 06:36] mohammedzee1000 commented on #4910
Anycase updating acceptance criteria accordingly:

Considering that there are a few commands that should be able to work offline, I think the best solution would be to build offline mode into context itself. So here is what i propose.

Acceptance criteria:

- [ ] Add boolean field `Offline` to Context CreateParameters
https://github.com/openshift/odo/blob/33fad0bea413d4e5efa9e156335a7063172dba68/p

[2021-07-28 06:37] mohammedzee1000 commented on #4910
@dharmit @mik-dass wdyt?

[2021-07-28 07:08] dharmit commented on #4942
How do we plan to execute the tests for both the scenarios:
* With SBO installed on the cluster
* Without SBO installed on the cluster

Also, what cluster should these tests run on? Only k8s? Only OCP? Both?

[2021-07-28 07:12] mohammedzee1000 commented on #4932
Based on the information I have gathered:
 - odo create --s2i converts to devfile automatically
 - odo push does not convert existing s2i component
 - While we have conversion code, we dont seem to have a command to convert s2i to devfile

I agree with @kadel that this will have to happen in 2 phases

**1. Deprecation**
   1. odo push with s2i component should show deprecation and recommend the us

[2021-07-28 07:24] kadel commented on #4932
The goal is to drop s2i to devfile conversion as well.

[2021-07-28 07:26] kadel commented on #4944
this looks like infra inssue

[2021-07-28 07:28] anandrkskd commented on #4944
I was thinking if we can create the cluster on one zone only, we can avoid this problem, I guess there should be an option to select only one zone to create a cluster.

[2021-07-28 07:32] mohammedzee1000 commented on #4932
I guess it still kinda holds true :D, just more quickly

[2021-07-28 07:32] mohammedzee1000 commented on #4932
/kind user-story

[2021-07-28 07:37] mohammedzee1000 opened #4951 "Deprecate s2i and localconfig"
As the first step of #4932 we need to deprecate all s2i operations

/kind cleanup
/priority High

Acceptance Criteria:
- [ ] add deprecation warning when someone executes `odo create --s2i`
- [ ] add deprecation warning when someone executes `odo create --binary`
- [ ] add deprecation warning when someone executes `odo create --git` or `odo create --ref`
- [ ] add deprecation warning when someone

[2021-07-28 07:38] mohammedzee1000 commented on #4932
/remove-triage needs-information
/triage ready

[2021-07-28 07:42] mohammedzee1000 opened #4952 "Drop support for s2i and localconfig"
In the second step of #4932 we need to deprecate all s2i operations

/kind cleanup
/priority High

Acceptance Criteria:

Try to open smaller PRs.

- [x] removing all flags related to s2i from odo create
- [ ] remove everything that touches DeploymentConfigs, BuildConfigs, ImageStreams
- [ ] remove everything that touches LocalConfig .odo/config.yaml
- [ ] Close user story #4932 when this closes

[2021-07-28 07:43] mohammedzee1000 commented on #4932
Task 1: #4951
Task 2: 4952

[2021-07-28 07:44] mohammedzee1000 commented on #4951
/triage ready

[2021-07-28 07:45] mohammedzee1000 commented on #4932
/unassign

[2021-07-28 07:45] mohammedzee1000 commented on #4951
/assign

[2021-07-28 07:46] mohammedzee1000 commented on #4952
Just marking it as needs info to make it clear we wont hanlde it in this sprint
/triage needs-information

[2021-07-28 07:57] dharmit commented on #4944
This could be the solution that helps us fix it. Saying based on [this answer on stackoverflow](https://stackoverflow.com/a/55514852/395670). We don't need to spread our cluster among zones for CI, do we? It's not a long running cluster anyway, right?

[2021-07-28 07:59] dharmit commented on #4942
Removing `triage/Ready` till we have answer to https://github.com/openshift/odo/issues/4942#issuecomment-888069021.

/remove-triage ready
/triage needs-information

[2021-07-28 08:05] prietyc123 commented on #4942
@dharmit  I am planning to introduce one env var for nightly and with this check we will go further with or without SBO installed on the cluster. Does that make sense?

IMO running on ocp would be enough. @kadel WDYT?

[2021-07-28 08:07] dharmit commented on #4798
Just wondering why we can't use [IBM Cloud Kubernetes Service](https://cloud.ibm.com/docs/containers?topic=containers-getting-started) for this, just like we're using Red Hat OpenShift on IBM Cloud for OCP testing? Probably this was discussed on some call but I forgot the reasoning.

[2021-07-28 08:22] dharmit commented on #4942
Not really. Where will this env var's value be set, and where will it be checked? If nightly is set to true, will we install SBO or not? In the issue description (Dev setion of Acceptance Criteria), the integration tests I have mentioned are both with and without the Operator installed on the cluster. We can discuss if "without the Operator" makes sense or not.

If it does, the way we can go about

[2021-07-28 08:48] kadel commented on #4942
I'm again confused.
I thought that this is about  validating that odo works with SBO.

Why are you mentioned scenarios without SBO installed on the cluster?

just OCP is ok. Let's not complicate it.

[2021-07-28 08:50] prietyc123 commented on #4942
+1, even I am also thinking that way.

[2021-07-28 08:50] kadel commented on #4942
This is way out of the scope.
"without the Operator" scenarios can be easily tested on PRs. It is just any other library that odo vendors

[2021-07-28 08:51] anandrkskd commented on #4944
No, but I am currently not sure if IBMcloud have any option to select zone before creating cluster.

No, it will be a long running cluster just like the cluster we have on PSI

[2021-07-28 09:08] anandrkskd commented on #4315
If we are thinking to use external registry then,
updated Acceptance Criteria:

- [ ] Create prow job
- [ ] Scripts build and push init-image to image registry and to execute tests/cleanup

[2021-07-28 09:09] prietyc123 commented on #4874
We don't get reports generated in the artifacts if build fails. Looking into this case, will update my approach soon

[2021-07-28 09:29] dharmit commented on #4942
I'm glad that you are confused before we started working on the issue instead of discovering a scenario that we could/should have thought straight up.

That's exactly why I mentioned in https://github.com/openshift/odo/issues/4942#issuecomment-888115368 - `We can discuss if "without the Operator" makes sense or not`. I mentioned it because IMO it's better to reduce the scope of the issue after dis

[2021-07-28 09:32] dharmit commented on #4942
I think the same steps mentioned in https://github.com/openshift/odo/issues/4942#issuecomment-886559365 _could be_ used on a k8s cluster as well to bring up the required setup. How do you think it will get complicated?

[2021-07-28 09:37] dharmit commented on #4872
We use Jenkins to orchestrate every job, no? Could we use some Jenkins plugin to send notification when a job fails for 3 consecutive times? Also, isn't 3 too low a number considering how flaky/unreliable our tests and test infra has been so far?

Should it notify the dev team as well instead of just QE team? Or do you plan to automate relaying the information to devs as soon as this happens?

[2021-07-28 09:53] dharmit commented on #4315
In https://github.com/openshift/odo/issues/4315#issuecomment-796459778, it's mentioned that on a cabal call, we discussed to use OpenShift internal registry to build odo-init image and test it.

I'm not sure why we're proposing the scope for an external registry in https://github.com/openshift/odo/issues/4315#issuecomment-888145926.

I could be missing something.

Have you tried building a contain

[2021-07-28 10:12] anandrkskd commented on #4412
we are still facing this #3256 issue on PSI

[2021-07-28 10:12] anandrkskd commented on #4412
Steps Done for IBMCloud

- [ ] jenkins job configured for IBMCloud
- [ ] tested on jenkins with temporary login
- [ ] scripts required for test

need to be Done
- [ ] prow job
- [ ] setting up env vars for IBMcloud login and cluster login

[2021-07-28 10:13] anandrkskd commented on #4408
yes, but in terms of scripts or setting up PSI it's already done. we just facing this #3256 issue.

[2021-07-28 10:20] kadel commented on #4467
I can still see a lot of projects, some are from May
[code]

[2021-07-28 10:24] kadel commented on #3256
One of the most common reason why you get timeouts waiting for deployment roll out on PSI is due to project not being deleted properly that results in a lot of PVC that are dangling in those projects and OpenStack reaching the volume quota.

[2021-07-28 10:29] prietyc123 commented on #4874
Import test cases to polarion:

- [ ] fork [PIT-Tools](https://gitlab.cee.redhat.com/PIT/tools) to [openshiftdo](https://gitlab.cee.redhat.com/openshiftdo) gitlab
- [ ] Understand the entire code base and identify the basic minimal requirement for odo test cases
- [ ] Modify and set the requirement. Code refactoring
- [ ] Follow [polarion doc](https://gitlab.cee.redhat.com/PIT/tools/-/blob/develop

[2021-07-28 10:46] anandrkskd commented on #4315
No we were not able to push a container image into OpenShift internal registry.
I followed these steps [doc1](https://docs.openshift.com/container-platform/4.7/registry/accessing-the-registry.html) & [doc2](https://docs.openshift.com/container-platform/4.7/registry/securing-exposing-registry.html), but was not able to do it .

No, we have to create prow config on release repo to create a job to ru

[2021-07-28 10:47] kadel commented on #4315
what was the problem?

[2021-07-28 10:54] anandrkskd commented on #4467
For older PRs we need to remove it manually,  but the new projects that were not deleted was because failure in my post-build cleanup script.

[2021-07-28 10:59] anandrkskd commented on #4938
Majority of the tests fail because windows vms are not restarted in weeks they laggy and hence results in doing a timeout and ssh failure.

[2021-07-28 10:59] dharmit commented on #4315
I don't see a mention of that anywhere on this issue so far. Did you try to raise it as a problem/blocker anywhere? Why not on the GH issue?

[2021-07-28 11:04] dharmit commented on #4874
Is there no one can pair up and guide/explain to us what might be relevant for our use case? Imagine someone trying to make a change in a part of k8s. Should they have to understand the entire code of k8s?

What requirement? Refactor which code? The code that you are going to understand in the step above? Really?

[2021-07-28 11:04] kadel commented on #4315
I've just tried to follow that docs and was able to sucesfully do it:
[code]

[2021-07-28 11:11] anandrkskd commented on #4315
I raised it on a call but I should have mentioned the blockers on the issue and updated it.

[2021-07-28 11:11] rnapoles-rh commented on #4920
Created service accounts for admin and developer and added permissions as required for each account, created api-keys for each account. Logged in as each account, downloaded kubeconfig files, executed oc commands to get information from cluster, however I was not able to create resources at developer or admin level got the following error:

[2021-07-28 11:12] kadel commented on #4938
what we can do so the vm doesn't need restart?

[2021-07-28 11:15] rnapoles-rh commented on #4920
When logging in as a real user (non service ID) user is able to create resources. Will create IBMIDs for admin an developer and provide the requried access for each.  Then try running the teats for each user level.

[2021-07-28 11:17] anandrkskd commented on #4938
When such problem occurs we are not able to login into the machine to check what are taking resources and why its slowing down,
the only solution at that moment is to restart and access the windows machine.
I was thinking to schedule the restart on weekend(preferably on sunday) once every 3 week to avoid this situation.

[2021-07-28 11:17] kadel commented on #4942
Nightly jobs are running on Prow. You can use OCP cluster that is automatically provisioned by Prow job. Setting up k8s cluster is going to be additional pain without any benefit.

[2021-07-28 11:19] anandrkskd commented on #4315
Acceptance Criteria

- [ ] Setup existing 4.x cluster to use internal registry for tests in the Linux VM.
- [ ] Scripts to execute the test and cleanup
- [ ] Create prow job

[2021-07-28 11:21] prietyc123 commented on #4874
I will try to get help from interop team on this because it belongs to them.

We need to remove everything which is not useful for us. Modifying some data as per the requirement. Before jumping into this I need to have a call with concerned team.

[2021-07-28 11:22] dharmit commented on #4874
What about the scope mentioned in https://github.com/openshift/odo/issues/4874#issuecomment-876170008? I don't see an update to any of the items mentioned there.

What about https://github.com/openshift/odo/issues/4874#issuecomment-881477854? Did you have a call with the concerned team? What was the outcome? I don't see any update on this issue on GH.

[2021-07-28 11:34] dharmit commented on #4942
I see testing this nightly job on k8s as a benefit because, if there's no benefit, then why do we run integration tests on both OCP & k8s?

[2021-07-28 11:34] prietyc123 commented on #4874
So the scope mentioned in [comment](https://github.com/openshift/odo/issues/4874#issuecomment-876170008) needs regex to fetch each and individual test cases by `name` . This was the one approach. I tried looking for such regex but it seems very complex to fetch our scenarios with this approach that's why I looked around for alternative approach. However first fetching the scenarios with regex woul

[2021-07-28 11:52] mik-dass commented on #4808
There is already a separate section for components created by other tools
https://github.com/openshift/odo/blob/b2ca2a81a03d076cf1c6d24c3991363d6f1124e4/pkg/odo/cli/component/list.go#L326

[2021-07-28 12:13] mik-dass opened #4953 "Rollback new services and storage when starting a component fails"
/kind bug

## What versions of software are you using?

**Operating System:** Fedora

**Output of `odo version`:** master

## How did you run odo exactly?

- `odo create` && `odo push`
- Make push fails at `Waiting for component to start`

## Actual behavior

If push fails at the first waiting stage, `odo` should rollback the new storage and services.

## Expected behavior

`odo` cleans up the new

[2021-07-28 12:25] dharmit commented on #4467
@feloy can you describe the problem you're experiencing while running tests on CRC?

[2021-07-28 12:30] dharmit commented on #4798
- [ ] We're relying on "service IDs" for admin & developers users with "@ redhat" email address to get created.
- [ ] Next run the tests against the k8s cluster and see if these "service IDs" was the only thing blocking us or was there something else
- [ ] Run the tests on IBM k8s cluster assuming there weren't any other surprises.
- [ ] Fix the failing tests, if any.

[2021-07-28 12:38] feloy commented on #4467
I'm not sure it is related to this issue: when I run tests locally on CRC and stops the tests manually for some reason, the projects/namespaces are not removed (this is normal as AfterEach didn't get the chance to be executed). But more than the namespaces, the resources (pods, etc) declared into these namespaces are not removed either, which gets a lot of memory resources (also normal, because we

[2021-07-28 14:43] mohitsuman commented on #4932
@dharmit Regarding the workflow from adapters, it should be fine if we gradually deprecate the `git` and `binary` create component  support.

[2021-07-28 15:53] rnapoles-rh commented on #4944
@anandrkskd  yes, we can have clusters using only one zone instead of three.
The Cluster named devtools-1-4vcpu-16gb-3w was provisioned using only one zone (eu-de-1) . You should be able to see it in the IBM Cloud web UI under OpenShift clusters.

[2021-07-28 19:35] yangcao77 commented on #4940
I'm seeing this as well with java-vertx component
mainly two different failures:

if run `odo push` with service linking first, and run `odo link` and `odo push` again, I'm seeing this error
[code]

if run `odo link` and `odo push` directly, I'm seeing:
[code]

[2021-07-29 06:35] mik-dass commented on #4917
The problem is when the link is created, the pod gets restarted. When we try to check the storage mounted on the pod, there is no pod and so ListFromCluster() https://github.com/openshift/odo/blob/b2ca2a81a03d076cf1c6d24c3991363d6f1124e4/pkg/storage/kubernetes.go#L85 reports no storage on the cluster. Thus we try to create a new storage which fails because the storage already exists on the cluster

[2021-07-29 06:53] dharmit commented on #4910
@mohammedzee1000

Exactly what @anandrkskd said in https://github.com/openshift/odo/issues/4910#issuecomment-887377367.

If it's failing locally, did you take a look at some past CI runs to see if this passes/fails there? My concern here is that are we erroneously passing the CI in spite of hitting the error? I don't think that's possible. But since all three of us are seeing this fail locally, it

[2021-07-29 07:09] dharmit commented on #4673
/remove-lifecycle stale
/area devfile

@kadel @elsony @deboer-tim, can you folks PTAL at this one?

[2021-07-29 07:15] dharmit commented on #4940
The first failure seems similar to #4917.

[2021-07-29 07:21] mohammedzee1000 commented on #4910
@dharmit

Logs are not shown for successful runs sadly

yep that is what I mean

There will be no client initialization in the offline mode period. No client will be initialized. Basically

contextobj.GoOnline() -> initializes both kclient and occlient
context.New() -> with Offline = false means dont call GoOnline() in New() you can always call it later if needed but idealy not.

false, updating

[2021-07-29 07:56] mohammedzee1000 commented on #4467
Yes, and unfortunately there is nothing we can do about that. Preemption of tests for any reason(ctrl+c, jenkins slave dies, ssh connection breaks etc) is going to cause this problem

[2021-07-29 07:57] anandrkskd commented on #4944
@rnapoles-rh Running 10 consecutive test for the above situation passed successfully on the cluster with only one zone.

[2021-07-29 08:02] dharmit commented on #4467
I changed the priority of this to urgent because without this problem being fixed, moving to IBM Cloud for CI won't magically make our CI more reliable. Even addressing #3256 boiled down to fixing this issue.

[2021-07-29 08:07] mohammedzee1000 commented on #4467
Considering this, I think we are going to need a 2 pronged approach to solve this problem.
1. Ensure that unless there is pre-emption all projects get removed
2. Setup a script to allow cleanup of namespaces/projects.

For random projects created in setup script right now, it might make sense to move that logic into the test files themselves so that we can control their deletion. This will of cour

[2021-07-29 08:55] dharmit commented on #4685
Current state of things is documented in https://github.com/openshift/odo/pull/4908#issuecomment-884223178.

There are two main issues right now.
1. odo code expecting only one Pod matching the labels of the odo component. This could also be interpreted as odo expecting one and only one Pod on the cluster for any odo component.
2. PVC error that I don't know/understand the cause of yet.

To get ov

[2021-07-29 09:13] mik-dass commented on #4910
There is already a function for offline context initialization https://github.com/openshift/odo/blob/b2ca2a81a03d076cf1c6d24c3991363d6f1124e4/pkg/odo/genericclioptions/context.go#L319  which is used by `odo create` currently.

[2021-07-29 09:44] mohammedzee1000 commented on #4910
Should we not move to using the smarter `New` function. Also, i dont think it makes sense to have a func specific to devfile here (helm etc anyone). Stincking to one way to create context with New and options seems to be the better way to go with New handing all kinds of contexts

[2021-07-29 10:13] mik-dass commented on #4910
Sure, we can hide it behind New().

[2021-07-29 10:58] dharmit commented on #4917
@mik-dass @feloy can we not look for the PVC from the Deployment instead of looking at the Pod? The Pod spec is embedded into the Deployment spec, no?

My concern with this is that, for some reason, if we change the behaviour again (and we have had a lot of back and forth about the "flow" of creating resources while working on this PR, so we shouldn't rule out another change in flow), this bug wil

[2021-07-29 11:28] feloy commented on #4917
@dharmit yes you are right, this solution is not very robust. It could be better to get the PVC information without the need of a Pod, which is possible

[2021-07-29 11:35] mohammedzee1000 commented on #4910
/remove-triage needs-information
/triage ready

[2021-07-29 11:36] dharmit commented on #2784
As @feloy mentioned on the planning call, we want to work further on this after getting #4948 in.

[2021-07-29 11:39] dharmit commented on #4861
Some work for this has already been started in #4905 where we first push the Operator backed services, then the Deployment and finally the link. Worth taking a look at it's code for this issue.

[2021-07-29 11:51] dharmit commented on #4910
Order of things to do:
- [ ] Figure out why CI's not panicking for the same test
- [ ] The scenario is a valid offline scenario and odo shouldn't require cluster connectivity to run the command.
- [ ] Fix the panic and make sure command sets/unsets what is asked to.

/remove-triage ready
/triage needs-information

[2021-07-29 12:10] kadel commented on #4808
current status:
[code]

[2021-07-29 12:22] deboer-tim commented on #4673
Sample/starter projects may include a devfile, and if one exists we should keep it essentially as-is.

For other cases, I'd lean toward creating a child by default (so you can easily pick up future improvements to the parent) but having a second command to merge/flatten/make-standalone. I don't have a problem allowing this at creation time too, but I think there will be cases where you may need it

[2021-07-29 12:23] dharmit commented on #4917
- [ ] Merge #4905
- [ ] Merge #4954
- [ ] Figure a robust solution that checks against a Deployment instead of a pod.

[2021-07-29 12:34] dharmit opened #4955 "Setup latest OCP for nightly tests of SBO's master branch"
Parent issue: #4942

### Acceptance Criteria
- [x] Set up a job that tests only the integration between main branch of odo and master branch of SBO.
- [x] Create a file to trigger nightly test with only `operatorhub linking` test in execution.
- [x] Modify operator setup script to use latest sbo catalog source and then install
- [ ] Make sure that `odo link` and subsequent `odo push` work 100% of

[2021-07-29 12:52] scottkurz commented on #4673
One thought is that if the devfile variables are going to be the easiest, most common extension points (debatable if that could be proven true within a single devfile let alone devfiles in general) then maybe the variables could be "cloned" into the child extension... so you don't have to jump back to the parent to see what values you have to work with.    They could even be commented out perhaps

[2021-07-29 12:58] dharmit commented on #4938
As discussed in Planning call, we need to figure why restarting is the only option.

[2021-07-29 13:02] dharmit commented on #4886
/triage needs-information

[2021-07-29 13:16] dharmit commented on #4315
Can we do these same steps on IBM Cloud @rnapoles-rh ?

[2021-07-29 13:21] dharmit commented on #4315
First try to get the entire thing done manually as research and then specify what needs to be done to automate it.

/triage needs-information

[2021-07-29 13:24] dharmit commented on #4913
If this doesn't get fixed by PR for #4813, we work on this after that.

[2021-07-29 23:39] yangcao77 opened #4957 "multiple components within the same app have route creation conflict"
/kind bug

## What versions of software are you using?

**Operating System:**

**Output of `odo version`:** odo v2.2.3 (b2ca2a81a) - latest main branch

## How did you run odo exactly?
odo create nodejs component-a
odo push

odo create nodejs component-b
odo push

## Actual behavior
component-a created a route `http-3000-app`, and component-b is trying to create another `http-3000-app`, but failur

[2021-07-29 23:40] yangcao77 commented on #4957
/area url

[2021-07-30 04:58] dharmit commented on #4678
3.11 is not supported any more by odo.

/close

[2021-07-30 04:58] #4678 closed

[2021-07-30 04:58] dharmit commented on #4678
/triage unresolved

[2021-07-30 05:16] dharmit commented on #4957
@mik-dass can you PTAL?

[2021-07-30 06:42] mik-dass commented on #4957
We cannot use only the combination of url name and component name as the name of the route due to conflicts when the user creates two URLs with the same name in two different components with the same name belonging to two different apps.

This was the reason behind https://github.com/openshift/odo/issues/4550.

We also cannot use the combination of url name, component name and app name as on opens

[2021-07-30 12:46] rnapoles-rh commented on #4944
@anandrkskd  This is perfect, can we close this issue now?

[2021-07-30 14:00] mik-dass opened #4959 ""app" is not a parameter in the odo environment file"
/kind bug

## What versions of software are you using?

**Operating System:** Fedora

**Output of `odo version`:** master

## How did you run odo exactly?

- Remove the app parameter from the env or use a old env file with no app support.
- `odo push` tries to write the default app name to the env but it fails.

## Actual behavior

`unknown parameter: "app" is not a parameter in the odo environmen

[2021-07-30 14:26] tdiesler commented on #4959
A newly generated env.yaml looks like this ...

[code]

I would probably want to have AppName initialized a little better as well.
What is the difference between Name/AppName?

[2021-07-30 14:28] tdiesler commented on #4959
I also get ...

[code]

[2021-07-30 15:08] mik-dass commented on #4959
`Name` is the component's name and `AppName` is the name of the app it belongs to in the project.

[2021-07-30 17:56] yangcao77 commented on #4957
This may work for a single component application, but is not expected for microservices architecture. especially for any uses of parent reference, as you cannot change endpoint name from parent devfile.

[2021-07-30 19:47] mik-dass commented on #4957
Yes but switching back to `endpoint-name+component-name` won't solve the problem as it might cause interference/conflicts between resources belonging to different apps due to the reasons and situations mentioned previously. It was one of the reasons behind #4550.

We will need to find a better solution than switching back to the previous way. We can use random names for routes or figure out a way

[2021-07-31 14:10] #3754 closed

[2021-08-02 05:57] prietyc123 opened #4960 "odo project list does not reflect current project"
/kind flake

## What versions of software are you using?

**Operating System:**
prow CI

**Output of `odo version`:**
main

## How did you run odo exactly?

## Actual behavior

I am observing project list flake more often on PRs and periodic jobs too since we started executing on 4 nodes.

[code]

Failure output:

[code]

## Expected behavior
Current project should list under ```odo project list -

[2021-08-02 06:54] mik-dass commented on #4808
@kadel The current json output already has a section for components not managed by odo.
[code]
I think changing the json output might break other tools.

[2021-08-02 07:12] prietyc123 opened #4961 "Postgresql operator fails installation on 4.9 cluster"
/kind bug

## What versions of software are you using?

**Operating System:**
All Supported

**Output of `odo version`:**
main

## How did you run odo exactly?

Try installing `Postgresql operator` using subscription
[code]
in a specific namespace `test`

## Actual behavior

It hangs in pending state due to
[code]
OCP 4.9 is not stable currently. so that could be one of the reason. Because I don't

[2021-08-02 07:36] jeffmaury commented on #3070
Still valid for odo 2.2.3

[2021-08-02 07:36] jeffmaury commented on #3070
/remove-lifecycle stale

[2021-08-02 08:20] kadel commented on #4808
ok, we can keep this as it is

[2021-08-02 08:33] kadel commented on #4467
`namespace`/`project` is k8s resource like any other. So you can attach labels to them and then use label selectors to delete.

Only downside that our scripts won't be able to use `odo project create`, and all projects and namespace will have to be created using `oc create` or `kubectl create`.

[2021-08-02 09:41] anandrkskd commented on #4467
Won't that be problem if there we are using concurrent builds?
Instead can we use name created by joining PR numbers  and random string, and use that to delete everytime we before we exit?

[2021-08-02 09:47] prietyc123 commented on #4874
So far I have tried multiple approaches(regex, XUnit) and now feeling kind of lost. Currently I am going through discussion around polarion in [issue](https://github.com/kubevirt/containerized-data-importer/issues/359) . As per the discussion we need to introduce [test attributes](https://github.com/kubevirt/containerized-data-importer/pull/583) `[rfe_id: xxx, crit: (low/med/high), type: negative,

[2021-08-02 11:19] mohammedzee1000 commented on #4910
Based on discussion with @kadel and experience on debugging PR (see logs), it appears there is something going on in CI that we cant put a finger on. Therefore, proceeding with simple fix of checking kubeconfig path and modifying the test to logout to simulate user not logged into cluster.

[2021-08-02 12:30] prietyc123 commented on #4874
My observations so far:

- It's really messy and complex to write regex to import test cases into polarion.
- We can not use xUnit reports for polarion integration because for failed job it does not generate such report.

Proposal:

- a POC with `project` tests where we add `test attributes` to simplify writing regex. For ex:

<details>

[code]

</details>

- Also we can think of adding a dummy te

[2021-08-02 12:33] #4879 closed

[2021-08-02 12:33] mohammedzee1000 commented on #4861
Looking through PR linked by dharmit

[2021-08-02 12:35] mohammedzee1000 commented on #4467
You cannot control preemptions

[2021-08-02 12:56] dharmit commented on #4929
This provides value for `odo push` taking long. It makes more sense if it also collects the time taken before the user did `Ctrl+C`.

/triage needs-information

[2021-08-02 13:02] dharmit commented on #4929
My concern is that "why" the user did `Ctrl+C` is something Telemetry can't capture. Or can it? @valaparthvi @kadel?

The fact that `odo push` creates a few resources even in the case when user does `Ctrl+C` and these resources come in the way when user does `odo push` again without doing `odo delete` is something I don't think can be solved by this either.

So, AFAIU, this only provides the infor

[2021-08-02 13:02] kadel commented on #4957
Shouldn't the naming decisions be ideally handled by devfile/library?
odo is using its own naming patterns for k8s resources. This will result in different naming batters between odo and other tools consuming Devfiles (like Che).

[2021-08-02 13:04] dharmit commented on #4928
/area telemetry

[2021-08-02 13:18] kadel commented on #4929
We already track how long the command was running. So only things that is missing is to know if odo was terminated by user or finished normally.

[2021-08-02 14:02] anandrkskd commented on #4467
I am not able to get what scenario you are thinking of, can you share in what kind of scenario it will be a problem ?

[2021-08-02 15:42] #4543 closed

[2021-08-02 15:42] #4940 closed

[2021-08-02 16:55] mohammedzee1000 commented on #4467
Any senaio that causes primitive exit. OOM kill for eg if the Jenkins slave run out of memory or ssh connection breaking due to network issue or even someone doing. ctrl+c during execution.

If the ginkgo process gets killed, then it will never get to cleanup even if you have the best cleanup of the code.

It is one of many reasons prow gives fresh cluster for every run. So even if test does in mi

[2021-08-03 04:13] yangcao77 commented on #4957
devfile/library currently does not generate the name, as it has no information on the project,  including component name, app name or namespace.
odo needs to pass in the resource name, namespace, label and annotations for it to generate the ObjectMeta, for instance: https://github.com/mik-dass/odo/blob/b2ca2a81a03d076cf1c6d24c3991363d6f1124e4/pkg/occlient/routes.go#L34

We can discuss this issue o

[2021-08-03 05:33] anandrkskd commented on #4944
@rnapoles-rh yes, we can close this issue.

[2021-08-03 06:37] mik-dass commented on #4402
/close via https://github.com/openshift/odo/issues/4550

[2021-08-03 06:37] #4402 closed

[2021-08-03 06:40] anandrkskd commented on #4938
1. Error due to laggy behaviour of windows vm

[code]
[code]

2. Network issue from PSI side (when not able to reach out to github)
[code]

3. Git related errors are from ci-firewall as cloning of repo creating a temp dir for test and some other steps are covered by ci-firewall.
[code]
[code]
[code]
[code]
[code]

[2021-08-03 06:47] valaparthvi commented on #4929
I got a draft PR https://github.com/openshift/odo/pull/4963 ready and it is in a working state.
It can currently capture `odo push` telemetry data on user interrupt(captures: SIGTERM, SIGQUIT, SIGINT) along with the time.
I'll need to dig more if we also want to capture the signal, but I don't think that data would be of any value to us.

[2021-08-03 07:02] anandrkskd commented on #4467
Understood,
what I understood from this [comment](https://github.com/openshift/odo/issues/4467#issuecomment-888897564) is that the setup of e2e script will also need to be done using ginkgo with helper function which require kubeadmin access?
and a script that will clean up namespaces/projects that are more then `X` days  old? right?
If so what is the no. of days we are thinking off?

[2021-08-03 09:02] anandrkskd commented on #4315
Steps need to be done
1. assign role of `registry-editor` and `registry-viewer` to the user and expose the registry using DefaultRoute
    - Note: need to do only for 1st time
2. Script to
    - Login into cluster and podman as user
    - create temporary namespace to store image
    - build image with tag and push image
    - export image with env var ODO_BOOTSTRAPPER_IMAGE
    - clone odo and ru

[2021-08-03 11:16] kadel commented on #4640
/remove-lifecycle stale
/lifecycle frozen

[2021-08-03 11:22] mohammedzee1000 commented on #4467
Yes, if we can do that, then cleanup can be done the same way we do for other tests, Right now, we have to do manual cleanup logging in as kubeadmin

We could do something like
[code]
the helper would
1. Kubeconfig isolation. CommonBeforeEach already does this so we hould be ok here
2. Check if Openshift cluster (we are usually kubeadmin on Kubernetes. If we use dev account for Kubernetes, then we

[2021-08-03 11:27] kadel commented on #4685
I remember discussing this with you, @dharmit. Is there still something that you need?

[2021-08-03 11:42] anandrkskd commented on #4467
so can't we use a prefix that will help identify our project and only delete Those? we will anyway have a namespace with random text we will add a prefix to avoid deletion of projects that are not created by us/our tests.

[2021-08-03 11:45] mohammedzee1000 commented on #4467
We can do that, yes.B but I think an overall strat would be a better way to go about especially considering we will be sharing. You can have one solution that should work for everyone who shares the cluster as it is a cluster level problem that all of us will face

[2021-08-03 11:55] kadel opened #4965 "odo can't create link using client-side service binding library if user doesn't have permissions to list cluster wide resources"
Original epic: https://github.com/openshift/odo/issues/4543

It looks like service binding library is trying to get cluster-wide resources.
This is especially problematic on OpenShift as normal cluster users usually don't have permissions to do so.
If the code base is supposed to be useful as a library it should avoid calls that require special privileges.

Issue reported to SBO: https://github.co

[2021-08-03 11:57] dharmit commented on #4685
Review the PR #4964. 😀

[2021-08-03 12:00] dharmit commented on #4685
The way I have gone about it in the code is to put only one label on Kubernetes inlined component - `app.kubernetes.io/managed-by: odo`.

[2021-08-03 12:38] dharmit commented on #4965
/status blocked

Blocked on https://github.com/redhat-developer/service-binding-operator/issues/1003

[2021-08-03 12:46] anandrkskd commented on #4467
In that case I think we will need a file that contains list of project that we don't want to delete? and other team will require to add there project that they don't want to delete?

[2021-08-03 13:33] dharmit commented on #4944
Maybe close it as well?

/remove-triage ready
/triage support
/close

[2021-08-03 13:35] #4944 closed

[2021-08-03 14:05] kadel commented on #4543
This was solved only partially.
There is still one big problem https://github.com/openshift/odo/issues/4965

[2021-08-04 05:04] prietyc123 commented on #4960
Lots of failure with periodic job https://prow.ci.openshift.org/view/gs/origin-ci-test/logs/periodic-ci-openshift-odo-main-v4.8-integration-e2e-periodic/1422618340295184384#1:build-log.txt%3A797

[2021-08-04 05:42] dharmit commented on #4505
Done as a part of this issue.

/close

[2021-08-04 05:42] #4505 closed

[2021-08-04 05:44] dharmit commented on #4533
`--bind-as-files` has been added as a part of above issue. If you meant something else, please feel free to re-open.

/close

[2021-08-04 05:44] #4533 closed

[2021-08-04 06:08] dharmit commented on #4960
/triage needs-information
/assign @mohammedzee1000

@mohammedzee1000 we got to figure out what's causing the trouble.

[2021-08-04 08:35] #4500 closed

[2021-08-04 09:31] mohammedzee1000 commented on #4960
This is difficult to reproduce it apperars

[code]

There must be something  in env that is causing this, maybe other tests are interfering (all tests run against single cluster after all)

[2021-08-04 09:39] valaparthvi commented on #4951
@mohammedzee1000 I do not understand the part about recreating with `odo create --s2i` if we are also going to add deprecation warning for `odo create --s2i`. Can you elaborate more on this?

[2021-08-04 09:48] valaparthvi commented on #4932
Replying to: https://github.com/openshift/odo/issues/4932#issuecomment-888071007

@mohammedzee1000 I think we do. There is subcommand `convert-to-devfile` under `odo utils` which seems to be doing just this.

[2021-08-04 11:04] dharmit commented on #4917
/reopen

@mik-dass is working on this.

[2021-08-04 11:08] dharmit commented on #4929
/remove-triage needs-information
/triage ready

[2021-08-04 15:03] kandarpamalipeddi opened #4968 "Changes needed in docs.openshift.com related to odo push workflow."
/kind documentation

## What mistake did you find / what is missing in the documentation?
Observed old documentation found on [docs.openshift.com](https://docs.openshift.com/container-platform/4.7/cli_reference/developer_cli_odo/odo-architecture.html#odo-push-workflow_odo-architecture)

Openshift documentation should in sync with odo.dev.

[2021-08-04 17:42] kadel commented on #4965
Based on information in

https://github.com/redhat-developer/service-binding-operator/issues/1003#issuecomment-891906752

It looks like there's is an option to make the Pipeline skip reading cluster wide resources by providing custom context.

/remove-status blocked

[2021-08-05 03:49] zhengxiaomei123 commented on #4910
@mohammedzee1000 Will there one PR to update the test case? Thanks.

[2021-08-05 04:05] mohammedzee1000 commented on #4951
@valaparthvi

What I meant is if user does odo push, with local config then push doesn't convert. There fore as part of deprecation warning we either tell them to use devfile proper or if they wish to use s2i builder image, then the simplest way is to delete existing stuff and recreate with s2i flag which does the conversation.

[2021-08-05 06:54] mohammedzee1000 commented on #4910
I think both should happen in the same PR

[2021-08-05 08:40] #4808 closed

[2021-08-05 08:47] valaparthvi opened #4971 "Remove the unnecessary use of --context from tests/integration/component.go"
/kind cleanup

There seems to be an unnecessary use of --context directory in [tests/integration/component.go::When("in context directory", func(){})](https://github.com/openshift/odo/blob/main/tests/integration/component.go#L116).

The test checks for when inside the context directory, which means the use of the `--context` flag is unnecessary, and in a way, these tests are not being tested the w

[2021-08-05 10:55] dharmit commented on #4467
We only need to fetch a list of projects older than X amount of time and that doesn't start with `openshift`, `kubernetes` or `default`. All such project should be deleted. A fresh CRC cluster had zero projects that didn't start with either of these three.

This can be done using `kubectl get ns` (it has an `AGE` column).

[2021-08-05 12:04] #4942 closed

[2021-08-05 12:04] #4955 closed

[2021-08-05 12:58] dharmit commented on #4467
Saying this based on the "NOTE" at the top of [OpenShift 4.8 docs](https://docs.openshift.com/container-platform/4.8/applications/projects/working-with-projects.html).

[2021-08-05 13:30] dharmit commented on #1102
/close

The issue is kinda vague as-is. Sure there are gaps in the command outputs. We hope to get more specific issues through the ongoing docs effort.

[2021-08-05 13:30] dharmit commented on #1102
/tirage unresolved

[2021-08-05 13:31] #1102 closed

[2021-08-05 13:36] dharmit commented on #1509
@anandrkskd's work on #4467 would fix this.

/close

[2021-08-05 13:37] #1509 closed

[2021-08-05 13:53] dharmit commented on #4971
/close

this issue is focussed on s2i tests which we're anyway removing.

[2021-08-05 13:53] #4971 closed

[2021-08-05 14:21] dharmit commented on #4217
/reopen

Reopening because we didn't actually do anything to address this, nor did we check with OP if the problem persists with 2.2.4.

@deboer-tim do you still see this issue with 2.2.4?
@kadel @prietyc123 you're the only ones on Mac that I know of. Can you PTAL if this is still a problem?

[2021-08-05 20:14] #4492 closed

[2021-08-06 05:47] prietyc123 commented on #4960
I can see those failure with two nodes as well in pr https://github.com/openshift/odo/pull/4969
Logs: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/openshift_odo/4969/pull-ci-openshift-odo-main-v4.8-integration-e2e/1423229285308567552#1:build-log.txt%3A817

[2021-08-09 10:55] prietyc123 commented on #4960
So far one thing I can see from json output
[code]
There is no active project it reflects. I mean, I don't see
[code]

[2021-08-09 10:56] dharmit commented on #4910
@mohammedzee1000 has opening #4956 helped figure out what's the problem here?

[2021-08-09 14:37] dharmit opened #4976 "odo should automatically show logs for long running `odo push` command"
/kind user-story

## User Story
As a user, I want odo to automatically display the logs on stdout for a component that takes more than a couple of minutes to push (`odo push`) so that I can know what odo's trying to do.

## Acceptance Criteria
- [ ] It should start displaying logs (generally available via `odo push --show-log`) when a component takes more than X minutes to push successfully.

## L

[2021-08-09 14:41] dharmit commented on #4976
This issue is the result of `odo push` taking exorbitantly long when trying to `odo push` the [Spring Boot petclinic](https://github.com/spring-projects/spring-petclinic) project for the first time:
[code]
It took 50 minutes for the first push to go through!

This long duration is due to Java dependencies being pulled from the Internet. But for a user, this could be extremely frustrating. After a

[2021-08-09 19:10] rnapoles-rh commented on #4798
Adittioal changes were made to the permission settings for service ID:

[2021-08-10 08:02] valaparthvi commented on #4976
We can use the `PushTimeout` or `BuildTimeout` value for X in this case.

[2021-08-10 08:20] mohammedzee1000 opened #4978 "Strip out remaining unused service catalog code from odo linking"
Follow up of #4890
/kind cleanup

[2021-08-10 09:15] mohammedzee1000 commented on #4910
The above PR should fix the panic

[2021-08-10 09:45] dharmit opened #4980 "`odo storage create` adds storage to all containers in the devfile"
/kind bug
/area storage

## What versions of software are you using?

**Operating System:** Fedora

**Output of `odo version`:** `main`

## How did you run odo exactly?
* created a component from devfile already present in https://github.com/fuse-boosters/fuse-booster-camel-quarkus-ticker2log/tree/next/ (`next` branch)
* added storage using `odo storage create` command

## Actual behavior
odo adds

[2021-08-10 09:48] dharmit opened #4981 "`odo storage create` seems to have erroneous naming rules"
/kind bug
/area storage

## What versions of software are you using?

**Operating System:** Fedora

**Output of `odo version`:** main

## How did you run odo exactly?
* created a component from devfile already present in https://github.com/fuse-boosters/fuse-booster-camel-quarkus-ticker2log/tree/next/ (next branch)
* added storage using below odo storage create command:
[code]

## Actual behavior

[2021-08-10 10:07] kadel commented on #4980
This is intentional default behavior.
You can use `--container` flag to specify to which container you want add storage to.

The problem here is that user doesn't know container name unless it checks devfile.yaml

if you use `odo storage create` with additional flags like `odo storage create  --path /data --size 4Gi` than odo should never go into interactive mode.

`odo storage create` without any

[2021-08-10 10:10] kadel commented on #4981
the component name in devfile needs to be lowercased, so the storage name needs to be lowercase as well.

`odo storage create artemisstorage --path=/var/lib/artemis-instance --size=2Gi` should work.

odo should probably convert to  lowercase the name automatically

[code]

/priority low

[2021-08-10 10:10] dharmit commented on #4980
Ack. Never knew. Good to know.

Should there be an odo command that explains devfile in simpler terms? Or maybe `odo describe` could do it?

[2021-08-10 10:12] dharmit commented on #4981
@valaparthvi pointed me to [Kubernetes docs for PV](https://kubernetes.io/docs/concepts/storage/persistent-volumes/) and it says:

IMO, we need not convert to lowercase in odo. We could simply make the error more user friendly.

[2021-08-10 10:15] prietyc123 commented on #4872
AFAIK, yes we can do that. However I am not aware of the exact process atm. We do have `post-build` actions in jenkins for such scenarios but we don't want to notify for each and every failure. Considering failure count with notification is kind of tricky part for me.

3 represents 3 consecutive job failure on the same pr. We can also consider looking into a job, failing for all the prs. Or we sho

[2021-08-10 10:37] prietyc123 commented on #4960
Added few debugging statements in #4969 [commit](https://github.com/openshift/odo/pull/4969/commits/35216cf93c4d9a2b04cfb7be213fa87fc17529d5)

[2021-08-10 11:19] #4951 closed

[2021-08-10 12:07] dharmit commented on #4467
Run the job as a k8s cron job everyday:
- https://v1-19.docs.kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/
- https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

X to be 1 days instead of 2.

[2021-08-10 12:16] dharmit commented on #4960
"Active" project is not a cluster thing. It's fetched from kubeconfig.

This could be because the project is not completely created. `odo project list` probably ignores projects which are in Terminating or Creating state.

Yet, in the `odo project create` output, we mention that the project is ready for use as can be seen on: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/opensh

[2021-08-10 13:47] elsony commented on #4957
Information on how devWorkspace does the route name generation (extracted from notes on Aug. 3 [devfile cable call](https://docs.google.com/document/d/1Zn6D1gNu1gDidtillni0hNAeU5pscfqwhx4mv3MmmwY)):
The DevWorkspace operator chooses semi-random names for Routes in the format “<workspaceID>-<endpointName>, as our requirements are 1) no collisions in a namespace, and 2) we always generate the same n

[2021-08-11 05:22] prietyc123 commented on #4960
It has been a pain earlier as well https://github.com/openshift/odo/issues/2284

[2021-08-11 08:04] kadel commented on #4980
that would be a good place for it

[2021-08-11 08:45] prietyc123 commented on #4617
@kadel @dharmit We are thinking to remove s2i completely. Does this issue still relevant? Feel free to close if it doesn't.

[2021-08-11 08:50] prietyc123 commented on #2540
/remove-lifecycle stale

[2021-08-11 09:14] prietyc123 commented on #4239
/remove-lifecycle rotten

[2021-08-11 09:30] prietyc123 commented on #4328
I think we have already separated out the CI scripts accordingly and following the same approach for upcoming job. IMO we can close this issue safely. @mohammedzee1000 WDYT?

[2021-08-11 09:37] prietyc123 commented on #4421
I think this should be an epic and tasks can be added here.

/remove-lifecycle rotten

[2021-08-11 09:49] prietyc123 commented on #4547
We hit this issue only once. Also did lots of modification towards ci-firewall. I don't think hanging this issue around makes sense now.

/close

[2021-08-11 09:50] #4547 closed, assigned to nobody

[2021-08-11 09:57] prietyc123 commented on #4604
We have much readable now as compared to initial phase. So keeping priority as low

/remove-lifecycle stale
/priority low

[2021-08-11 09:58] prietyc123 commented on #4409
/lifecycle frozen

[2021-08-11 11:24] kadel commented on #4421
Yes, it needs unit tests, but we are not going to have a dedicated effort to add unit tests.

Missing unit tests should be added when the code gets modified while updating existing features or fixing bugs

[2021-08-11 11:26] kadel commented on #4978
this should be done in https://github.com/openshift/odo/pull/4906

[2021-08-11 11:27] kadel commented on #4617
we can close this
/close

[2021-08-11 11:29] #4617 closed

[2021-08-11 11:32] prietyc123 commented on #4798
/kind task

[2021-08-11 11:34] mohammedzee1000 commented on #4978
@kadel as discussed in standup, the link code has altered since I last researched the original issue. Therefore we decided it is better halt the pr where it is and get it in and then do the link update separately.

I will need to look at the link and serivce catalog code again properly which chould cause the pr to spillover again

[2021-08-11 12:31] prietyc123 commented on #4875
Acceptance criteria has been met.

/close

[2021-08-11 12:31] #4875 closed

[2021-08-11 14:11] kadel commented on #4938
This looks like issue in one of our scripts

[2021-08-11 15:03] anandrkskd commented on #4938
Not sure @kadel, as the scripts starts with [Setup script ](https://github.com/openshift/odo/blob/main/scripts/setup_script_unit.sh) creating an artifact dir and all the steps before that is covered  by ci-firewall.
AFAIR ci-firewall currently performs
- removing `amqp..PRXXXX` dir if exist
- creation of the `amqp..PRXXXX/XXXX/repo` dir
- cloning of the repo
- fetching and merging the PR
- executi

[2021-08-12 02:56] zhengxiaomei123 commented on #4228
Devfile spec, registry build and registry PR updated for multi arch support.

Next steps are #566 and #576

[2021-08-12 02:56] zhengxiaomei123 commented on #4228
/reopen

[2021-08-12 06:02] valaparthvi opened #4984 "odo displays state 'Locally Deleted' of a URL that is manually created on the cluster"
/kind bug
## What versions of software are you using?

**Operating System:**
Fedora 34
**Output of `odo version`:**
odo v2.2.4 (87fc47703)
OpenShift Cluster: 4.8
## How did you run odo exactly?
1. Create a component
2. Push the component
3. Manually create a route on the OCP cluster.
4. Run `odo url list`.

## Actual behavior
The output of `odo url list` shows that the URL is 'Locally Deleted', wh

[2021-08-12 06:12] dharmit commented on #4978
The reason I recommended freezing #4906 was it was going beyond Service Catalog. It started removing code for linking/unlinking components. I am being pedantic here and want to ensure that the PRs don't get too big.

[2021-08-12 07:50] anandrkskd commented on #4467
As per discussion with @mohammedzee1000 and @prietyc123, This issue will require changes in ginkgo function to add of generic function for openshift as well as kubernetes tests, changes in test of Postgres operator and for e2e test adding secrets.